Repository goonstation/goonstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Adharainspace, @UrsulaMejor, @flrsh, @Gannets, @Kyle2143, @mordent-goonstation, @Sovexe, @Tarmunora, @ZeWaka, @pali6

.github/CODEOWNERS:

# This list auto-requests reviews from the specified users
# when a PR that modifies the file in question is opened
# See GitHub documentation for more details.
# This list is alphabetized by User -> Filename -- KEEP IT THAT WAY
# In the event that multiple members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Adharainspace
/_std/ @Adharainspace

# Emily
/maps/manta.dmm @UrsulaMejor

# Flourish
/code/obj/item/toys.dm @flrsh
/maps/oshan.dmm @flrsh

# Gannets 
/code/datums/gamemodes/nuclear.dm @Gannets

# Kyle
/code/WorkInProgress/JobXpRewards.dm @Kyle2143
/code/modules/events/gimmick/kudzu.dm @Kyle2143
/code/datums/abilities/kudzumen.dm @Kyle2143
/code/datums/gamemodes/gangwar.dm @Kyle2143

# Mordent (mordent-goonstation)
/code/modules/robotics/ @mordent-goonstation

# Sovexe
/code/modules/antagonists/arcfiend/ @Sovexe

# Tarmunora
/code/modules/projectiles/projectile_parent.dm @Tarmunora
/code/modules/chemistry/Reagents-Base.dm @Tarmunora
/code/modules/chemistry/Reagents-Diseases.dm @Tarmunora
/code/modules/chemistry/Reagents-Drugs.dm @Tarmunora
/code/modules/chemistry/Reagents-ExplosiveFire.dm @Tarmunora
/code/modules/chemistry/Reagents-FoodDrink.dm @Tarmunora
/code/modules/chemistry/Reagents-Medical.dm @Tarmunora
/code/modules/chemistry/Reagents-Misc.dm @Tarmunora
/code/modules/chemistry/Reagents-PoisonEtc.dm @Tarmunora
/code/modules/chemistry/Chemistry-Recipes.dm @Tarmunora

# ZeWaka
*.md @ZeWaka
/.github/ @ZeWaka
/tools/ @ZeWaka

# Pali
/code/datums/components/ @pali6
/code/obj/artifacts/ @pali6
/code/datums/controllers/artifact_controls.dm @pali6
/code/WorkInProgress/pali.dm @pali6

# Multiple Owners
/tgui/ @mordent-goonstation @ZeWaka

they're magic numbers, unwrap them in a helper
  code/obj/table.dm
  code/procs/helpers.dm
Owners: none

Initial
  _std/__build.dm
  maps/manta_damaged.dmm
Owners: @Adharainspace

Mono Card Resprite!
  code/obj/item/mono_card_game.dm
  icons/obj/items/playing_card.dmi
  strings/books/MONOrules.txt
Owners: none

Mono Card Resprite!
  code/obj/item/mono_card_game.dm
  icons/obj/items/playing_card.dmi
  strings/books/MONOrules.txt
Owners: none

human torch is now worth +2, but prevents you from extinguishing yourself passively entirely
  code/datums/traits.dm
  code/mob/living/life/fire.dm
  code/modules/status_system/statusEffects.dm
Owners: none

adamantium skeleton outputs a message when it protects you from losing a limb, changes the math slightly to facilitate this but it's mostly the same
  code/mob/living/carbon/human/procs/damage.dm
Owners: none

fix typo "attached"
  code/mob/living/carbon/human/procs/damage.dm
Owners: none

Replaces fullthinwindows with reinforced plasma wingrilles Replaces the black thindows in brig with railings Replaces the PTL thindows with wingrilles
  maps/cogmap2.dmm
Owners: none

Removes thindows on the research lab without adding a rplasma wingrille.
  maps/cogmap2.dmm
Owners: none

fix grilles being throw immune, cleanup
  code/obj/grille.dm
  code/obj/window.dm
Owners: none

replace some mob vars with cooldowns
  code/WorkInProgress/cryospawn.dm
  code/mob.dm
Owners: none

No damage/spellshield protection (#7929)
  code/obj/item/hydroponics.dm
  code/obj/item/misc_weapons.dm
Owners: none

Changelog for #7929 [skip ci]
  strings/changelog.txt
Owners: none

Changes the LSD Color Effect (#7952)
  code/WorkInProgress/AnimationLibrary.dm
  code/modules/chemistry/Reagents-Drugs.dm
Owners: @Tarmunora

Changelog for #7952 [skip ci]
  strings/changelog.txt
Owners: none

cleaner BOUNDS_DIST
  _std/macros/dist.dm
Owners: @Adharainspace

warn
  code/obj/grille.dm
Owners: none

del xmas variants
  maps/donut3_xmas.dmm
  maps/horizon_xmas.dmm
  maps/oshan_xmas.dmm
  maps/warwip/atlas_horizon_xmas_2019.dmm
Owners: none

entered
  _std/defines/component_defines.dm
  code/WorkInProgress/Azungarstuff.dm
  code/area.dm
  code/atom.dm
  code/z_adventurezones/earth.dm
Owners: @Adharainspace

component to teleport on Entered()
  code/datums/components/teleport_on_enter.dm
  goonstation.dme
Owners: @pali6

exited for cryopods
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
Owners: none

loose returns
  code/obj/machinery/sleeper.dm
Owners: none

one more parent call
  code/modules/fluids/fluid_turf.dm
Owners: none

robuster
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
Owners: none

fix dispensers. oops
  code/modules/chemistry/Chemistry-Dispenser.dm
Owners: none

I don't know what a fire door 'operating' means and I don't care.
  code/obj/machinery/door/firedoor.dm
Owners: none

cool side effect
  code/obj/machinery/door/firedoor.dm
Owners: none

fix body bags
  code/modules/medical/surgery_tools.dm
Owners: none

id tracker no longer contraband
  code/obj/item/pinpointer.dm
Owners: none

emp nades and ID tracker for headrevs
  code/datums/syndicate_buylist.dm
Owners: none

this is nicer
  code/obj/artifacts/artifact_objects/bombs.dm
Owners: @pali6

adds attack delays, animation and sound to hitting canisters and phones, reduces phone HP (#8055)
  code/modules/atmospherics/portable/canister.dm
  code/obj/machinery/phone.dm
Owners: none

Deconstruction device surgeries and belt wearability (#7694)
  code/obj/item/tool/electronics.dm
  goonstation.dme
Owners: none

Add auto shuttle and final storm to Battle Royale (#7950)
  code/datums/gamemodes/battle_royale.dm
  code/modules/events/battle_storm.dm
Owners: none

Changelog for #7694 [skip ci]
  strings/changelog.txt
Owners: none

Changelog for #7950 [skip ci]
  strings/changelog.txt
Owners: none

Update _std/__build.dm
  _std/__build.dm
Owners: @Adharainspace

Implements Productive Community Conversation Generator to the game. (#8059)
  _std/__build.dm
  maps/manta_damaged.dmm
Owners: @Adharainspace

remove April 1st changelog
  strings/changelog.txt
Owners: none

Destroyable lockers
  code/datums/abilities/vampire/coffin.dm
  code/modules/sound/soundCache.dm
  code/obj/storage/carts.dm
  code/obj/storage/closets.dm
  code/obj/storage/large_storage_parent.dm
  code/obj/storage/secure_closets.dm
  sound/impact_sounds/locker_break.ogg
  sound/impact_sounds/locker_hit.ogg
Owners: none
