Repository goonstation/goonstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Adharainspace, @UrsulaMejor, @flrsh, @Gannets, @Kyle2143, @mordent-goonstation, @Sovexe, @Tarmunora, @ZeWaka, @pali6

.github/CODEOWNERS:

# This list auto-requests reviews from the specified users
# when a PR that modifies the file in question is opened
# See GitHub documentation for more details.
# This list is alphabetized by User -> Filename -- KEEP IT THAT WAY
# In the event that multiple members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Adharainspace
/_std/ @Adharainspace

# Emily
/maps/manta.dmm @UrsulaMejor

# Flourish
/code/obj/item/toys.dm @flrsh
/maps/oshan.dmm @flrsh

# Gannets 
/code/datums/gamemodes/nuclear.dm @Gannets

# Kyle
/code/WorkInProgress/JobXpRewards.dm @Kyle2143
/code/modules/events/gimmick/kudzu.dm @Kyle2143
/code/datums/abilities/kudzumen.dm @Kyle2143
/code/datums/gamemodes/gangwar.dm @Kyle2143

# Mordent (mordent-goonstation)
/code/modules/robotics/ @mordent-goonstation

# Sovexe
/code/modules/antagonists/arcfiend/ @Sovexe

# Tarmunora
/code/modules/projectiles/projectile_parent.dm @Tarmunora
/code/modules/chemistry/Reagents-Base.dm @Tarmunora
/code/modules/chemistry/Reagents-Diseases.dm @Tarmunora
/code/modules/chemistry/Reagents-Drugs.dm @Tarmunora
/code/modules/chemistry/Reagents-ExplosiveFire.dm @Tarmunora
/code/modules/chemistry/Reagents-FoodDrink.dm @Tarmunora
/code/modules/chemistry/Reagents-Medical.dm @Tarmunora
/code/modules/chemistry/Reagents-Misc.dm @Tarmunora
/code/modules/chemistry/Reagents-PoisonEtc.dm @Tarmunora
/code/modules/chemistry/Chemistry-Recipes.dm @Tarmunora

# ZeWaka
*.md @ZeWaka
/.github/ @ZeWaka
/tools/ @ZeWaka

# Pali
/code/datums/components/ @pali6
/code/obj/artifacts/ @pali6
/code/datums/controllers/artifact_controls.dm @pali6
/code/WorkInProgress/pali.dm @pali6

# Multiple Owners
/tgui/ @mordent-goonstation @ZeWaka

ranges
  code/WorkInProgress/recycling/crusher.dm
  code/datums/abilities/critter/devour.dm
  code/datums/abilities/critter/envelope.dm
  code/datums/abilities/critter/zombify.dm
  code/mob/living/carbon/human/machoman.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/critter/mechmonstrosity.dm
  code/modules/admin/banshark.dm
  code/modules/antagonists/arcfiend/arcfiend.dm
  code/modules/antagonists/floor_goblin/floor_goblin.dm
  code/modules/chemistry/Chemistry-Dispenser.dm
  code/modules/fishing/fishing_gear.dm
  code/modules/interface/mob_input.dm
  code/modules/networks/computer3/sniffer.dm
  code/modules/robotics/bot/barbot.dm
  code/modules/robotics/bot/bot_parent.dm
  code/modules/robotics/bot/buttbot.dm
  code/modules/robotics/bot/cleanbot.dm
  code/modules/robotics/bot/floorbot.dm
  code/modules/robotics/bot/guardbot.dm
  code/modules/robotics/bot/medbot.dm
  code/modules/robotics/bot/secbot.dm
  code/modules/tgui/states/human_adjacent.dm
  code/modules/vending/vending.dm
  code/obj/grille.dm
  code/obj/item/device/pda2/bot_control.dm
  code/obj/item/device/scanners.dm
  code/obj/item/grab.dm
  code/obj/item/material.dm
  code/obj/item/misc_weapons.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/door/airlock.dm
  code/obj/machinery/gibber.dm
  code/obj/machinery/porters.dm
  code/obj/machinery/sleeper.dm
  code/procs/gamehelpers.dm
Owners: @Sovexe, @mordent-goonstation

Revert "ranges"
  code/WorkInProgress/recycling/crusher.dm
  code/datums/abilities/critter/devour.dm
  code/datums/abilities/critter/envelope.dm
  code/datums/abilities/critter/zombify.dm
  code/mob/living/carbon/human/machoman.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/critter/mechmonstrosity.dm
  code/modules/admin/banshark.dm
  code/modules/antagonists/arcfiend/arcfiend.dm
  code/modules/antagonists/floor_goblin/floor_goblin.dm
  code/modules/chemistry/Chemistry-Dispenser.dm
  code/modules/fishing/fishing_gear.dm
  code/modules/interface/mob_input.dm
  code/modules/networks/computer3/sniffer.dm
  code/modules/robotics/bot/barbot.dm
  code/modules/robotics/bot/bot_parent.dm
  code/modules/robotics/bot/buttbot.dm
  code/modules/robotics/bot/cleanbot.dm
  code/modules/robotics/bot/floorbot.dm
  code/modules/robotics/bot/guardbot.dm
  code/modules/robotics/bot/medbot.dm
  code/modules/robotics/bot/secbot.dm
  code/modules/tgui/states/human_adjacent.dm
  code/modules/vending/vending.dm
  code/obj/grille.dm
  code/obj/item/device/pda2/bot_control.dm
  code/obj/item/device/scanners.dm
  code/obj/item/grab.dm
  code/obj/item/material.dm
  code/obj/item/misc_weapons.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/door/airlock.dm
  code/obj/machinery/gibber.dm
  code/obj/machinery/porters.dm
  code/obj/machinery/sleeper.dm
  code/procs/gamehelpers.dm
Owners: @Sovexe, @mordent-goonstation

fixed regex
  code/WorkInProgress/recycling/crusher.dm
  code/datums/abilities/critter/devour.dm
  code/datums/abilities/critter/envelope.dm
  code/datums/abilities/critter/zombify.dm
  code/mob/living/carbon/human/machoman.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/critter/mechmonstrosity.dm
  code/modules/admin/banshark.dm
  code/modules/antagonists/arcfiend/arcfiend.dm
  code/modules/antagonists/floor_goblin/floor_goblin.dm
  code/modules/chemistry/Chemistry-Dispenser.dm
  code/modules/fishing/fishing_gear.dm
  code/modules/interface/mob_input.dm
  code/modules/networks/computer3/sniffer.dm
  code/modules/robotics/bot/barbot.dm
  code/modules/robotics/bot/bot_parent.dm
  code/modules/robotics/bot/buttbot.dm
  code/modules/robotics/bot/cleanbot.dm
  code/modules/robotics/bot/floorbot.dm
  code/modules/robotics/bot/guardbot.dm
  code/modules/robotics/bot/medbot.dm
  code/modules/robotics/bot/secbot.dm
  code/modules/tgui/states/human_adjacent.dm
  code/modules/vending/vending.dm
  code/obj/grille.dm
  code/obj/item/device/pda2/bot_control.dm
  code/obj/item/device/scanners.dm
  code/obj/item/grab.dm
  code/obj/item/material.dm
  code/obj/item/misc_weapons.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/door/airlock.dm
  code/obj/machinery/gibber.dm
  code/obj/machinery/porters.dm
  code/obj/machinery/sleeper.dm
  code/procs/gamehelpers.dm
Owners: @Sovexe, @mordent-goonstation

racks on STORAGE_LAYER
  code/obj/rack.dm
Owners: none

no centcom cloner del mobs on largemap
  code/datums/controllers/process/delete_queue.dm
Owners: none

Removes pooling completely
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/obj/machinery/nuclearbomb.dm
Owners: none

Initial
  _std/vox.dm
  code/datums/controllers/process/fluid_spawner.dm
  code/datums/crew_objective.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/fluids/fluid_turf.dm
  code/modules/medical/genetics/bioEffects/harmful.dm
  code/modules/power/TEG.dm
  code/modules/robotics/bot/bot_parent.dm
  code/modules/robotics/bot/buttbot.dm
  code/player.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/overcoats/worn_suit_armor.dmi
  maps/cogmap.dmm
  maps/density.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  sound/items/police_whistle1.ogg
  sound/items/police_whistle2.ogg
Owners: @Adharainspace, @Tarmunora, @mordent-goonstation

FUCK
  code/procs/gamehelpers.dm
Owners: none

Fuck 2
  code/procs/gamehelpers.dm
Owners: none

fix uplinks
  code/obj/item/uplinks.dm
Owners: none

stools to storage layer
  code/obj/stool.dm
Owners: none

BOUNDS_DIST macro that doesn't return infinity if you're holding an item what the fuck
  _std/macros/dist.dm
Owners: @Adharainspace

Stop sucking
  code/datums/abilities/vampire.dm
  code/datums/abilities/vampire/vampire_bite.dm
Owners: none

Rework VampTEG copy-pasta to use vampire abilities
  code/datums/abilities/vampire.dm
  code/datums/abilities/vampire/enthrall.dm
  code/datums/abilities/vampire/glare.dm
  code/datums/abilities/vampire/vampire_bite.dm
  code/datums/abilities/vampiric_thrall.dm
  code/modules/events/vamp_teg.dm
  code/modules/projectiles/special.dm
Owners: none

Cleaning... Cleaning... Cleaning...
  code/modules/events/vamp_teg.dm
Owners: none

Yes Yes Very Good
  code/datums/abilities/vampiric_thrall.dm
  code/modules/events/vamp_teg.dm
Owners: none

eject things under mob not onto the machine on upscaled
  code/procs/mob_procs.dm
Owners: none

support for {" "} strings for dmm.py
  tools/mapmerge2/dmm.py
Owners: @ZeWaka

fix table smoothing, i can't read my own code
  code/obj/table.dm
Owners: none

hack to fix upscaled map radio show host spawn
  code/datums/jobs.dm
Owners: none

fix table smoothing, i can't read my own code
  code/obj/table.dm
Owners: none

AI map upscale
  code/modules/station_map/station_map.dm
Owners: none

remove the loafer
  code/WorkInProgress/recycling/disposal.dm
  code/datums/manufacturing.dm
  code/obj/machinery/manufacturer.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut3.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
Owners: @flrsh

upscaled maps ignore camera coverage for tracking
  code/mob/living/silicon/ai/camera_handling.dm
Owners: none

move one ifdef a bit to prevent a warning
  code/modules/fluids/fluid_turf.dm
Owners: none

remove atlas test whoops
  maps/atlas.dmm
Owners: none

light greande upscaled map fix
  code/obj/item/grenades.dm
Owners: none

Mono Card Resprite!
  code/obj/item/mono_card_game.dm
  icons/obj/items/playing_card.dmi
  strings/books/MONOrules.txt
Owners: none

Delete borg_linker.dm
  code/obj/item/device/borg_linker.dm
Owners: none

Added highlighting for AI law changes
  browserassets/css/browserOutput.css
  code/datums/ai_laws.dm
  code/obj/machinery/law_racks.dm
Owners: none

Minor law bugfixes
  code/modules/admin/randomverbs.dm
  code/obj/machinery/law_racks.dm
Owners: none

adds attack delays, animation and sound to hitting canisters and phones, reduces phone HP
  code/modules/atmospherics/portable/canister.dm
  code/obj/machinery/phone.dm
Owners: none

commit your helper nerd
  code/procs/helpers.dm
Owners: none

Brains!
  code/obj/item/organs/brain.dm
Owners: none

MENTAL PAIN
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/mob/living/silicon/ghostdrone.dm
  code/modules/interface/skin_input_box.dm
  code/modules/robotics/bot/bot_parent.dm
  code/obj/item/device/radio.dm
  code/procs/mobprocs/chatprocs.dm
  code/procs/mobprocs/typing_indicator.dm
  goonstation.dme
  interface/skin.dmf
Owners: @mordent-goonstation

WHOOPSIE
  interface/skin.dmf
Owners: none

Fixed removed law indexes
  code/obj/machinery/law_racks.dm
Owners: none

😔
  code/modules/atmospherics/FEA_system.dm
Owners: none

Changes-Construction-Crate
  code/WorkInProgress/construction/tools.dm
  code/modules/economy/supply_packs.dm
Owners: none

Fixed ion storms updating laws multiple times
  code/modules/events/ion_storm.dm
Owners: none
