Repository goonstation/goonstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flrsh, @Kyle2143, @mordent-goonstation, @Tarmunora, @ZeWaka

.github/CODEOWNERS:

# This list auto-requests reviews from the specified users
# when a PR that modifies the file in question is opened
# See GitHub documentation for more details.
# This list is alphabetized by User -> Filename -- KEEP IT THAT WAY
# In the event that multiple members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Flourish
/code/obj/item/toys.dm @flrsh
/maps/manta.dmm @flrsh
/maps/oshan.dmm @flrsh

# Kyle
/code/WorkInProgress/JobXpRewards.dm @Kyle2143
/code/obj/item/organs/ @Kyle2143
/code/obj/item/organ_holder.dm @Kyle2143
/code/modules/events/gimmick/kudzu.dm @Kyle2143
/code/datums/abilities/kudzumen.dm @Kyle2143
/code/datums/gamemodes/gangwar.dm @Kyle2143
/code/procs/jobprocs.dm @Kyle2143

# Mordent (mordent-goonstation)
/code/modules/robotics/ @mordent-goonstation

# Tarmunora
/code/modules/projectiles/projectile_parent.dm @Tarmunora

# ZeWaka
*.md @ZeWaka
/.github/ @ZeWaka
/tools/ @ZeWaka

# Multiple Owners
/tgui/ @mordent-goonstation @ZeWaka

Changelog for #2932 [skip ci]
  strings/changelog.txt
Owners: none

Some Spacemas stuff.
  code/datums/gameticker.dm
  code/modules/holiday/spacemas.dm
  icons/obj/plushies.dmi
Owners: none

Blob now blinks, and slightly increased transparency of max-health blob
  code/obj/blob.dm
  icons/mob/blob.dmi
Owners: none

change area inheritance
  code/z_adventurezones/earth.dm
  code/z_adventurezones/lavamoon.dm
  maps/z2.dmm
Owners: none

Allow bolt+toggle to occur in the same click
  code/obj/machinery/door/airlock.dm
Owners: none

Changelog!
  strings/changelog.txt
Owners: none

Remove saving letters from gameticker declare_completion().
  code/datums/gameticker.dm
Owners: none

anti-sneaky player patch
  _std/defines/landmarks.dm
  code/WorkInProgress/gehenna.dm
  code/modules/admin/randomverbs.dm
  code/obj/landmark.dm
  code/turf/turf.dm
Owners: none

Adds Atlas and Clarion Spacemas maps; sets config
  maps/atlas_xmas_2020.dmm
  maps/clarion_xmas_2020.dmm
  maps/config/atlas.dm
  maps/config/clarion.dm
  maps/config/horizon.dm
  maps/config/manta.dm
  maps/config/oshan.dm
  maps/horizon_xmas.dmm
  maps/manta_xmas.dmm
  maps/oshan_xmas.dmm
Owners: none

z2
  maps/z2.dmm
Owners: none

allow ghosts on football field
  code/procs/helpers.dm
  maps/zamujasa/football2.dmm
Owners: none

Unkidnap Bubs.
  maps/z2.dmm
Owners: none

More things got fixed and or initializebioheld
  code/WorkInProgress/GerhazoStuff.dm
  code/WorkInProgress/HaineWhatever.dm
  code/WorkInProgress/SpyGuyStuff.dm
  code/WorkInProgress/infernal_contracts.dm
  code/WorkInProgress/warcrimes.dm
  code/datums/abilities/wizard.dm
  code/datums/components/barber.dm
  code/datums/mutantraces.dm
  code/datums/preferences.dm
  code/mob.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/gimmick.dm
  code/mob/living/carbon/human/glitchy.dm
  code/mob/living/carbon/human/machoman.dm
  code/mob/living/carbon/human/monkeys.dm
  code/mob/living/carbon/human/normal.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/modules/admin/buildmodes/appearance.dm
  code/modules/chemistry/Chemistry-Reactions.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/holiday/spacemas.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/medical/genetics/bioHolder.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/device/disguiser.dm
  code/obj/item/mob_parts.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/machinery/porters.dm
  code/z_adventurezones/timeship.dm
  icons/mob/monkey.dmi
Owners: none

forgot one
  code/mob/living/carbon/human/glitchy.dm
Owners: none

SM should work properly now, if it hadnt before
  code/modules/medical/genetics/bioHolder.dm
Owners: none

increased contrast + shifted blob nucleus upward
  code/obj/blob.dm
  icons/mob/blob.dmi
Owners: none

Tweak to the Athletic trait
  code/datums/traits.dm
  code/mob/living/carbon/human/procs/damage.dm
Owners: none

change tarm suggested
  code/modules/medical/genetics/combo_recipes.dm
Owners: none

Whoops
  code/modules/medical/genetics/bioHolder.dm
Owners: none

Remove pizza sharpener from revolution mode and surplus crates.
  code/datums/syndicate_buylist.dm
Owners: none

added fetching to the dev guide
  .github/DEV_GUIDE.md
Owners: @ZeWaka

Add some GPS markers for Horizon (#2971)
  maps/horizon.dmm
Owners: none

Remove probability from botanist XP
  code/obj/item/plants.dm
  code/obj/machinery/plantpot.dm
Owners: none

Give some XP for infusing seeds
  code/obj/submachine/seed.dm
Owners: none

XP for splicing
  code/obj/submachine/seed.dm
Owners: none

warn about horizontal split on aspect rations <= 4/3 and not just exactly 4/3
  code/client.dm
Owners: none

changes requested in code review
  code/modules/food_and_drink/snacks.dm
  code/modules/vending/vending.dm
  code/obj/item/kitchen.dm
Owners: none

high resolution displays now get bigger text in verb menu fixes #2828
  code/client.dm
Owners: none

add delay after vending a sharpened pizza
  code/modules/vending/vending.dm
Owners: none

adjusted the verbs list font size idk if this is even close
  code/client.dm
Owners: none

fixed Manta bubbles floating away and related bugs
  code/WorkInProgress/mantaObjects.dm
Owners: none

fix null paper color and height of edit window
  browserassets/tgui/tgui.bundle.js
  code/obj/item/paper.dm
  tgui/packages/tgui/interfaces/PaperSheet.js
Owners: @mordent-goonstation, @ZeWaka

merge tgstation/tgstation#55129
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/PaperSheet.js
Owners: @mordent-goonstation, @ZeWaka

Sorta works with buddies. Not really.
  code/datums/firemodes.dm
  code/datums/gunsounds.dm
  code/modules/robotics/bot/guardbot.dm
  code/obj/artifacts/artifact_items/energy_gun.dm
  code/obj/displaycase.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/energy.dm
  code/obj/item/gun/gun_parent.dm
Owners: @mordent-goonstation

remove this value new line thing
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/PaperSheet.js
Owners: @mordent-goonstation, @ZeWaka
