Repository goonstation/goonstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @frawhst, @flrsh, @Gannets, @Kyle2143, @mordent-goonstation, @Sord213, @Sovexe, @Tarmunora, @WALPVRGIS, @ZeWaka, @pali6

.github/CODEOWNERS:

# This list auto-requests reviews from the specified users
# when a PR that modifies the file in question is opened
# See GitHub documentation for more details.
# This list is alphabetized by User -> Filename -- KEEP IT THAT WAY
# In the event that multiple members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Adharainspace
# /_std/ @Adharainspace

# Aloe
/code/mob/dead/ @frawhst

# Flourish
/code/obj/item/toys.dm @flrsh
/maps/oshan.dmm @flrsh

# Gannets
/code/datums/gamemodes/nuclear.dm @Gannets

# Kyle
/code/WorkInProgress/JobXpRewards.dm @Kyle2143
/code/modules/events/gimmick/kudzu.dm @Kyle2143
/code/datums/abilities/kudzumen.dm @Kyle2143
/code/datums/gamemodes/gangwar.dm @Kyle2143

# Mordent (mordent-goonstation)
/code/modules/robotics/ @mordent-goonstation

# Sord
/maps/donut2.dmm @Sord213

# Sovexe
/code/modules/antagonists/arcfiend/ @Sovexe

# Tarmunora
/code/modules/projectiles/projectile_parent.dm @Tarmunora
/code/modules/chemistry/Reagents-Base.dm @Tarmunora
/code/modules/chemistry/Reagents-Diseases.dm @Tarmunora
/code/modules/chemistry/Reagents-Drugs.dm @Tarmunora
/code/modules/chemistry/Reagents-ExplosiveFire.dm @Tarmunora
/code/modules/chemistry/Reagents-FoodDrink.dm @Tarmunora
/code/modules/chemistry/Reagents-Medical.dm @Tarmunora
/code/modules/chemistry/Reagents-Misc.dm @Tarmunora
/code/modules/chemistry/Reagents-PoisonEtc.dm @Tarmunora
/code/modules/chemistry/Chemistry-Recipes.dm @Tarmunora

# Walpvrgis
/icons/misc/critter.dmi @WALPVRGIS

# ZeWaka
*.md @ZeWaka
/.github/ @ZeWaka
/tools/ @ZeWaka

# Pali
/code/datums/components/ @pali6
/code/obj/artifacts/ @pali6
/code/datums/controllers/artifact_controls.dm @pali6
/code/WorkInProgress/pali.dm @pali6

# Multiple Owners
/tgui/ @mordent-goonstation @ZeWaka

this was changed
  code/modules/economy/supply_packs.dm
Owners: none

what th e hell am i doing
  code/modules/economy/supply_packs.dm
Owners: none

oops the bass costs 2000 credits
  code/modules/economy/supply_packs.dm
Owners: none

Makes the bass not costs 2000 credits (#15968)
  code/modules/economy/supply_packs.dm
Owners: none

finished?
  code/datums/components/hallucinations.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
Owners: @pali6, @Tarmunora

lighting overlays are objects too
  code/modules/chemistry/Reagents-PoisonEtc.dm
Owners: @Tarmunora

improvements on current spatial hashmap
  code/modules/events/black_hole.dm
  code/modules/events/white_hole.dm
  code/modules/robotics/bot/bot_parent.dm
  code/modules/sound/sound.dm
  code/modules/spatial_hashing.dm
Owners: @mordent-goonstation

ion storm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/events/ion_storm.dm
Owners: @Tarmunora

fix tiny bug and suppress warning
  code/modules/events/ion_storm.dm
Owners: none

Replace-Type admin verb
  code/modules/admin/admin_verbs.dm
  code/modules/admin/atom_verbs.dm
  code/obj/machinery/clonepod.dm
  strings/admin_changelog.txt
Owners: none

Replace-Type mimic stuff
  code/modules/admin/atom_verbs.dm
Owners: none

Update shuttles and shuttle floors for in rotation maps (#15890)
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/wrestlemap.dmm
Owners: @Sord213, @flrsh

everyone knows neutrons are blue and not yellow
  code/obj/nuclearreactor/nuclearreactor.dm
  icons/obj/projectiles.dmi
Owners: none

stop assuming everything is a mob pls
  code/modules/materials/Mat_MaterialProcs.dm
Owners: none

move mapswitch internal to mapswitch
  code/modules/goonhub/api/models/maps/MapSwitch.dm
  code/modules/goonhub/api/models/maps/MapSwitchInternal.dm
  goonstation.dme
Owners: none

update description
  code/modules/goonhub/api/routes/maps/Maps.dm
Owners: none

drop what your holding if you cough on cig smoke
  code/obj/item/cigarette.dm
Owners: none
