Repository goonstation/goonstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Adharainspace, @flrsh, @Kyle2143, @mordent-goonstation, @Tarmunora, @virvatuli-gh, @ZeWaka, @pali6

.github/CODEOWNERS:

# This list auto-requests reviews from the specified users
# when a PR that modifies the file in question is opened
# See GitHub documentation for more details.
# This list is alphabetized by User -> Filename -- KEEP IT THAT WAY
# In the event that multiple members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Adharainspace
/_std/ @Adharainspace

# Flourish
/code/obj/item/toys.dm @flrsh
/maps/manta.dmm @flrsh
/maps/oshan.dmm @flrsh

# Kyle
/code/WorkInProgress/JobXpRewards.dm @Kyle2143
/code/modules/events/gimmick/kudzu.dm @Kyle2143
/code/datums/abilities/kudzumen.dm @Kyle2143
/code/datums/gamemodes/gangwar.dm @Kyle2143

# Mordent (mordent-goonstation)
/code/modules/robotics/ @mordent-goonstation

# Tarmunora
/code/modules/projectiles/projectile_parent.dm @Tarmunora

# Virvatuli
/sound/ @virvatuli-gh

# ZeWaka
*.md @ZeWaka
/.github/ @ZeWaka
/tools/ @ZeWaka

# Pali
/code/datums/components/ @pali6
/code/obj/artifacts/ @pali6
/code/datums/controllers/artifact_controls.dm @pali6
/code/WorkInProgress/pali.dm @pali6

# Multiple Owners
/tgui/ @mordent-goonstation @ZeWaka

how could I forget this (#5331)
  code/datums/abilities/werewolf/werewolf_feast.dm
Owners: none

artifact fixes (#5330)
  code/obj/artifacts/artifact_items/instrument.dm
  code/obj/artifacts/artifact_items/wall_wand.dm
  code/obj/artifacts/faults.dm
Owners: @pali6

Expanding procedural planet generation to allow for prefabs to be added to planets
  _std/defines/artemis.dm
  code/WorkInProgress/artemis/GeneratePlanets.dm
  code/WorkInProgress/artemis/galactic_object.dm
  code/WorkInProgress/artemis/galactic_object/galactic_objects.dm
  code/datums/mapgen/JungleGenerator.dm
  code/datums/mapgen/_MapGenerator.dm
  code/modules/worldgen/GenerateMining.dm
  code/world.dm
  goonstation.dme
  maps/artemis/planets.dmm
Owners: @Adharainspace

Laying neon now matches user orientation
  code/obj/item/neon_lining.dm
Owners: none

Adding Sundance's planets
  code/WorkInProgress/artemis/galactic_object/galactic_objects.dm
  icons/misc/artemis/galactic_object_ship.dmi
Owners: none

Adjusting Artemis lead walls and allow for dragging into cockpit
  code/WorkInProgress/artemis/flight_computer.dm
  maps/artemis/artemis.dmm
Owners: none

Fix #5333
  code/obj/item/flamethrower.dm
Owners: none

Cyborg coin cooldown.
  code/obj/item/coin.dm
Owners: none

Improvements
  code/obj/item/flamethrower.dm
  code/obj/item/tool/weldingtool.dm
Owners: none

the action bar. finished
  code/datums/abilities/critter/spider.dm
  code/mob/living/critter/spider.dm
Owners: none

simulated turfs are open containers
  code/turf/turf.dm
Owners: none

(*)Smoke and foam reactions will only occur from "open" containers
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-ExplosiveFire.dm
  strings/changelog.txt
Owners: none

Reduced color space of planets
  icons/misc/artemis/galactic_object_map.dmi
Owners: none

fix
  code/datums/abilities/critter/spider.dm
Owners: none

Removes debbuging messages
  code/datums/abilities/critter/spider.dm
Owners: none

Reduces melee prot for 2 to both (a coat has 2 melee prot) Reduced price.
  code/datums/manufacturing.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/suits.dm
Owners: none

block does not block grabs when on the floor
  code/mob/melee_attack_procs.dm
Owners: none

Revert "(*)Smoke and foam reactions will only occur from "open" containers"
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-ExplosiveFire.dm
  strings/changelog.txt
Owners: none

chemnades are open containers during detonation
  code/modules/chemistry/tools/grenades.dm
Owners: none

Revert "Revert "(*)Smoke and foam reactions will only occur from "open" containers""
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-ExplosiveFire.dm
  strings/changelog.txt
Owners: none

remove strictly size-based blob spread penalty
  code/modules/antagonists/blob/blob_abilities.dm
Owners: none

Fix #5333 (#5334)
  code/obj/item/flamethrower.dm
  code/obj/item/tool/weldingtool.dm
Owners: none

disarm stam cost 10 -> 30, disarm stam damage 20 -> 10
  _std/defines/stamina.dm
Owners: @Adharainspace

Scale disarm chance with target stamina disarm chance reduced by 50% (37% -> 18.5%) on 200-stam targets, scaling back to full chance (37%) on targets with 100 or less stamina
  code/mob/melee_attack_procs.dm
Owners: none

Targetting an arm while on disarm intent will target the item held in that hand (non-arm disarms will still target user's active item)
  code/mob/melee_attack_procs.dm
Owners: none

oops
  code/mob/melee_attack_procs.dm
Owners: none

Add disaster shuttles to all maps
  assets/maps/shuttles/cog1/cog1-disaster.dmm
  assets/maps/shuttles/cog2/cog2-disaster.dmm
  assets/maps/shuttles/destiny/destiny_disaster.dmm
  assets/maps/shuttles/donut2/donut2_disaster.dmm
  assets/maps/shuttles/donut3/donut3-disaster.dmm
  assets/maps/shuttles/manta/manta_disaster.dmm
Owners: none

Oshan disaster shuttle
  assets/maps/shuttles/sealab/oshan-disaster.dmm
Owners: none

Fixes lead wall connection
  code/turf/turf_autoalign.dm
Owners: none

Add Station to Galactic Objects, Allow for Planetary Teleporter to Station, allow LRT to teleport to Manta/Artemis
  code/WorkInProgress/artemis/artemis.dm
  code/WorkInProgress/artemis/debug.dm
  code/WorkInProgress/artemis/galactic_object.dm
  code/WorkInProgress/artemis/galactic_object/galactic_objects.dm
  code/WorkInProgress/telescope/telescopeMisc.dm
  icons/misc/artemis/galactic_object_map.dmi
  icons/misc/artemis/galactic_object_ship.dmi
  maps/artemis/artemis.dmm
  maps/config/artemis.dm
Owners: none

:)
  maps/destiny.dmm
Owners: none

Moved lordbirb mentorship onto ladybirb on request.
  strings/mentors.txt
Owners: none

gives them a flash, like other heads
  code/datums/jobs.dm
Owners: none

Cog1 qm bypass fix and new remote door control button functionality (#5128)
  code/obj/machinery/door/door_control.dm
  maps/cogmap.dmm
Owners: none

Fixes lead wall connection (#5339)
  code/turf/turf_autoalign.dm
Owners: none

Destiny shuttle but i fixed it the other way (#5340)
  maps/destiny.dmm
Owners: none

fix paren
  code/WorkInProgress/recycling/disposal_chute.dm
Owners: none

fix
  code/obj/machinery/clonepod.dm
Owners: none

New AI expressions/faces (#5300)
  code/mob/living/silicon/ai.dm
  icons/mob/ai.dmi
  icons/obj/status_display.dmi
Owners: none

Changelog for #5300 [skip ci]
  strings/changelog.txt
Owners: none
