Repository goonstation/goonstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Adharainspace, @flrsh, @Kyle2143, @mordent-goonstation, @Tarmunora, @virvatuli-gh, @ZeWaka, @pali6

.github/CODEOWNERS:

# This list auto-requests reviews from the specified users
# when a PR that modifies the file in question is opened
# See GitHub documentation for more details.
# This list is alphabetized by User -> Filename -- KEEP IT THAT WAY
# In the event that multiple members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Adharainspace
/_std/ @Adharainspace

# Flourish
/code/obj/item/toys.dm @flrsh
/maps/manta.dmm @flrsh
/maps/oshan.dmm @flrsh

# Kyle
/code/WorkInProgress/JobXpRewards.dm @Kyle2143
/code/modules/events/gimmick/kudzu.dm @Kyle2143
/code/datums/abilities/kudzumen.dm @Kyle2143
/code/datums/gamemodes/gangwar.dm @Kyle2143

# Mordent (mordent-goonstation)
/code/modules/robotics/ @mordent-goonstation

# Tarmunora
/code/modules/projectiles/projectile_parent.dm @Tarmunora

# Virvatuli
/sound/ @virvatuli-gh

# ZeWaka
*.md @ZeWaka
/.github/ @ZeWaka
/tools/ @ZeWaka

# Pali
/code/datums/components/ @pali6
/code/obj/artifacts/ @pali6
/code/datums/controllers/artifact_controls.dm @pali6
/code/WorkInProgress/pali.dm @pali6

# Multiple Owners
/tgui/ @mordent-goonstation @ZeWaka

lets the AI do it because why not
  code/obj/machinery/clonepod.dm
Owners: none

destiny wiring cleanup (#5304)
  maps/destiny.dmm
Owners: none

Reworks the snow suit (#5286)
  code/obj/item/clothing/suits.dm
  maps/z2.dmm
Owners: none

Changelog for #5286 [skip ci]
  strings/changelog.txt
Owners: none

Proper prefix from msgs; langs and accents don't break prefixes (#5296)
  code/datums/language.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/mob/living/critter/martian.dm
  code/mob/living/intangible/flockmob_parent.dm
  code/procs/gamehelpers.dm
  code/procs/helpers.dm
  code/procs/mobprocs/chatprocs.dm
Owners: none

oshan wirenet cleanup and fixes (#5280)
  maps/oshan.dmm
Owners: @flrsh

fix
  code/datums/abilities/werewolf.dm
Owners: none

Makes the quantum telescope constructable (#5003)
  code/WorkInProgress/telescope/quantumTelescope.dm
  code/obj/machinery/computer/buildandrepair.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/wrestlemap.dmm
  maps/z3.dmm
Owners: @flrsh

dont forget the else, dumpass
  code/datums/abilities/werewolf.dm
Owners: none

Clearer grouping
  code/modules/networks/computer3/sniffer.dm
Owners: none

Changelog for #5003 [skip ci]
  strings/changelog.txt
Owners: none

Update code/modules/networks/computer3/sniffer.dm
  code/modules/networks/computer3/sniffer.dm
Owners: none

Update code/modules/networks/computer3/sniffer.dm
  code/modules/networks/computer3/sniffer.dm
Owners: none

Allow borgs/AI to see packet sniffer output and set filters (#5194)
  code/modules/networks/computer3/sniffer.dm
Owners: none

Changelog for #5194 [skip ci]
  strings/changelog.txt
Owners: none

Manta wirenet fixes (#5326)
  maps/atlas.dmm
  maps/manta.dmm
Owners: @flrsh

fix x6
  code/datums/abilities/werewolf.dm
Owners: none

Donut3 Ranch/Maintenance Further Expansion (#5093)
  maps/donut3.dmm
Owners: none

Changelog for #5093 [skip ci]
  strings/changelog.txt
Owners: none

Makes the laser rifle require more difficult materials. (#5318)
  code/obj/item/gun/energy.dm
Owners: none

Changelog for #5318 [skip ci]
  strings/changelog.txt
Owners: none

Fixes #5278 (#5301)
  code/datums/abilities/werewolf.dm
Owners: none

Laying neon now matches user orientation (#5332)
  code/obj/item/neon_lining.dm
Owners: none

Makes qm console and supply request consoles constructable (#5140)
  code/obj/machinery/computer/QM_order.dm
  code/obj/machinery/computer/QM_supply.dm
  code/obj/machinery/computer/buildandrepair.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/wrestlemap.dmm
Owners: @flrsh

Fixes ghosts being able to toggle auto mode on cloning (#5342)
  code/obj/machinery/clonepod.dm
Owners: none

Donut3 wirenet cleanup (#5327)
  maps/donut3.dmm
Owners: none

Changelog for #5140 [skip ci]
  strings/changelog.txt
Owners: none

Refactor DisposalChute into TypeScript; add ListSearch common interface; remove Search component; add Placeholder Goonstation component.
  browserassets/tgui/tgui-common.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/components/Search.js
  tgui/packages/tgui/components/goonstation/Placeholder.tsx
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/DisposalChute.js
  tgui/packages/tgui/interfaces/DisposalChute/index.tsx
  tgui/packages/tgui/interfaces/DisposalChute/type.ts
  tgui/packages/tgui/interfaces/common/ListSearch.tsx
  tgui/packages/tgui/styles/interfaces/common/ListSearch.scss
  tgui/packages/tgui/styles/main.scss
Owners: @mordent-goonstation, @ZeWaka

Refactor DisposalChute into TypeScript; add ListSearch common interface; remove Search component; add Placeholder Goonstation component. (#5212)
  browserassets/tgui/tgui-common.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/components/Search.js
  tgui/packages/tgui/components/goonstation/Placeholder.tsx
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/DisposalChute.js
  tgui/packages/tgui/interfaces/DisposalChute/index.tsx
  tgui/packages/tgui/interfaces/DisposalChute/type.ts
  tgui/packages/tgui/interfaces/common/ListSearch.tsx
  tgui/packages/tgui/styles/interfaces/common/ListSearch.scss
  tgui/packages/tgui/styles/main.scss
Owners: @mordent-goonstation, @ZeWaka

Fix branching
  code/obj/machinery/computer/card.dm
Owners: none

Fix branching the squeakquel
  code/obj/item/card.dm
Owners: none

Fix branching chipwrecked
  code/obj/machinery/computer/card.dm
Owners: none

small fixes
  code/datums/banking.dm
  code/modules/power/turbine.dm
Owners: none

Probably not needed
  code/mob/living/silicon/robot.dm
Owners: none

computer3 keep dir
  code/modules/networks/computer3/buildandrepair.dm
  code/modules/networks/computer3/computer3.dm
Owners: none

disarm targets all held items Change how disarm chance is caluclated when blocking
  code/mob.dm
  code/mob/melee_attack_procs.dm
Owners: none

Cloning computer match other computers
  code/obj/machinery/computer/cloning.dm
Owners: none

Apply suggestions from code review
  code/obj/item/device/accessgun.dm
Owners: none

Heat tanks without fuel
  code/obj/item/tool/weldingtool.dm
Owners: none

light-grenade-borg-fix
  code/obj/item/grenades.dm
Owners: none
