Repository goonstation/goonstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @frawhst, @flrsh, @Gannets, @Kyle2143, @mordent-goonstation, @Sord213, @Sovexe, @Tarmunora, @WALPVRGIS, @ZeWaka, @pali6

.github/CODEOWNERS:

# This list auto-requests reviews from the specified users
# when a PR that modifies the file in question is opened
# See GitHub documentation for more details.
# This list is alphabetized by User -> Filename -- KEEP IT THAT WAY
# In the event that multiple members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Adharainspace
# /_std/ @Adharainspace

# Aloe
/code/mob/dead/ @frawhst

# Flourish
/code/obj/item/toys.dm @flrsh
/maps/oshan.dmm @flrsh

# Gannets
/code/datums/gamemodes/nuclear.dm @Gannets

# Kyle
/code/WorkInProgress/JobXpRewards.dm @Kyle2143
/code/modules/events/gimmick/kudzu.dm @Kyle2143
/code/datums/abilities/kudzumen.dm @Kyle2143
/code/datums/gamemodes/gangwar.dm @Kyle2143

# Mordent (mordent-goonstation)
/code/modules/robotics/ @mordent-goonstation

# Sord
/maps/donut2.dmm @Sord213

# Sovexe
/code/modules/antagonists/arcfiend/ @Sovexe

# Tarmunora
/code/modules/projectiles/projectile_parent.dm @Tarmunora
/code/modules/chemistry/Reagents-Base.dm @Tarmunora
/code/modules/chemistry/Reagents-Diseases.dm @Tarmunora
/code/modules/chemistry/Reagents-Drugs.dm @Tarmunora
/code/modules/chemistry/Reagents-ExplosiveFire.dm @Tarmunora
/code/modules/chemistry/Reagents-FoodDrink.dm @Tarmunora
/code/modules/chemistry/Reagents-Medical.dm @Tarmunora
/code/modules/chemistry/Reagents-Misc.dm @Tarmunora
/code/modules/chemistry/Reagents-PoisonEtc.dm @Tarmunora
/code/modules/chemistry/Chemistry-Recipes.dm @Tarmunora

# Walpvrgis
/icons/misc/critter.dmi @WALPVRGIS

# ZeWaka
*.md @ZeWaka
/.github/ @ZeWaka
/tools/ @ZeWaka

# Pali
/code/datums/components/ @pali6
/code/obj/artifacts/ @pali6
/code/datums/controllers/artifact_controls.dm @pali6
/code/WorkInProgress/pali.dm @pali6

# Multiple Owners
/tgui/ @mordent-goonstation @ZeWaka

fixes clowns and mimes losing their genes
  code/datums/jobs.dm
  code/datums/traits.dm
Owners: none

Added dinosaur jammies to new clothing vendor tab
  code/modules/vending/clothingbooth_items.dm
  code/obj/item/clothing/gimmick.dm
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
Owners: none

split parameters var into queryParams and routeParams
  code/modules/goonhub/api/api.dm
  code/modules/goonhub/api/routes/apiRoute.dm
  code/modules/goonhub/api/routes/players/notes/GetPlayerNotes.dm
Owners: none

Update code/modules/goonhub/api/routes/apiRoute.dm
  code/modules/goonhub/api/routes/apiRoute.dm
Owners: none

APIV2 split parameters into queryParams and routeParams (#15938)
  code/modules/goonhub/api/api.dm
  code/modules/goonhub/api/routes/apiRoute.dm
  code/modules/goonhub/api/routes/players/notes/GetPlayerNotes.dm
Owners: none

lowers values to non-test levels
  code/modules/fishing/fishing_gear.dm
  code/modules/fishing/fishing_spots.dm
Owners: none

Glowstick dance update (#15936)
  code/WorkInProgress/Particles.dm
  code/mob/living/carbon/human/procs/emote.dm
Owners: none

handle deepfried food
  code/modules/chemistry/tools/food_and_drink.dm
  code/obj/item/organs/stomach.dm
Owners: none

Gluttony rework (#15919)
  code/mob/living.dm
  code/mob/living/carbon.dm
  code/mob/living/life/organs.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/bread.dm
  code/modules/food_and_drink/cakes.dm
  code/modules/food_and_drink/candy.dm
  code/modules/food_and_drink/condiments.dm
  code/modules/food_and_drink/discount_dans.dm
  code/modules/food_and_drink/ice_cream.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/pies.dm
  code/modules/food_and_drink/plants.dm
  code/modules/food_and_drink/sandwiches.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/status_system/statusFoodBuffs.dm
  code/obj/item.dm
  code/obj/item/cloths.dm
  code/obj/item/organ_holder.dm
  code/obj/item/organs/stomach.dm
  icons/ui/statussystem.dmi
Owners: none

Changelog for #15919 [skip ci]
  strings/changelog.txt
Owners: none

Apply suggestions from code review
  code/modules/goonhub/api/routes/bans/AddBanDetails.dm
  code/modules/goonhub/api/routes/bans/AddBans.dm
Owners: none

Silicons may no longer recieve mutations (#15867)
  code/modules/medical/genetics/bioHolder.dm
Owners: none

Changelog for #15867 [skip ci]
  strings/changelog.txt
Owners: none

parameter fixing
  code/modules/goonhub/api/routes/bans/AddBanDetails.dm
  code/modules/goonhub/api/routes/bans/DeleteBans.dm
  code/modules/goonhub/api/routes/bans/GetBans.dm
  code/modules/goonhub/api/routes/bans/RemoveBanDetails.dm
  code/modules/goonhub/api/routes/bans/UpdateBans.dm
  code/modules/goonhub/api/routes/template.md
Owners: @ZeWaka

update params
  code/modules/goonhub/api/routes/players/notes/DeletePlayerNotes.dm
  code/modules/goonhub/api/routes/players/notes/UpdatePlayerNotes.dm
Owners: none

note about formatting
  code/modules/goonhub/api/routes/template.md
Owners: @ZeWaka

path fixing
  code/modules/goonhub/api/routes/players/notes/DeletePlayerNotes.dm
  code/modules/goonhub/api/routes/players/notes/UpdatePlayerNotes.dm
Owners: none

- some mapstuff
  code/WorkInProgress/UrsStuff.dm
  code/area.dm
  maps/density2.dmm
Owners: none

so true
  code/datums/traits.dm
Owners: none

fix path again
  code/modules/goonhub/api/routes/players/notes/DeletePlayerNotes.dm
  code/modules/goonhub/api/routes/players/notes/UpdatePlayerNotes.dm
Owners: none

fix paths
  code/modules/goonhub/api/routes/bans/AddBanDetails.dm
  code/modules/goonhub/api/routes/bans/DeleteBans.dm
  code/modules/goonhub/api/routes/bans/RemoveBanDetails.dm
  code/modules/goonhub/api/routes/bans/UpdateBans.dm
  code/modules/goonhub/api/routes/template.md
Owners: @ZeWaka

implement all GameAdmins paths
  code/modules/goonhub/api/models/admins/GameAdminRank.dm
  code/modules/goonhub/api/models/admins/GameAdminResource.dm
  code/modules/goonhub/api/requests/admins/AddGameAdminsBody.dm
  code/modules/goonhub/api/requests/admins/UpdateGameAdminsBody.dm
  code/modules/goonhub/api/routes/admins/AddGameAdmins.dm
  code/modules/goonhub/api/routes/admins/DeleteGameAdmins.dm
  code/modules/goonhub/api/routes/admins/GetGameAdmins.dm
  code/modules/goonhub/api/routes/admins/UpdateGameAdmins.dm
  goonstation.dme
Owners: none

remove second animation
  code/obj/item/bouquet.dm
Owners: none

hopefully this works
  code/datums/components/bouquet.dm
  code/obj/item/bouquet.dm
Owners: @pali6

that's not how deci seconds work
  code/obj/item/bouquet.dm
Owners: none

Adds Glaucus Fishing Rod, 6tc traitor item (#15858)
  code/datums/movement_modifier/movement_modifiers.dm
  code/datums/syndicate_buylist.dm
  code/modules/fishing/fishing_gear.dm
  icons/mob/inhand/hand_fishing.dmi
  icons/obj/items/fishing_gear.dmi
Owners: none

Changelog for #15858 [skip ci]
  strings/changelog.txt
Owners: none

out of order thing
  goonstation.dme
Owners: none

fix chieckn runtime
  code/modules/chemistry/tools/food_and_drink.dm
Owners: none

help message, conciser desc
  code/obj/item/device/transfer_valve.dm
Owners: none

fix echoing ahelps
  code/modules/admin/adminhelp.dm
Owners: none

deleted lure runtime
  code/modules/fishing/fishing_gear.dm
Owners: none

onVarChanged for art transmute bombs
  code/obj/artifacts/artifact_objects/bombs.dm
Owners: @pali6

I don't think large orbital shaker needs to be capitalized
  code/modules/chemistry/Chemistry-Machinery.dm
Owners: none

rm smoke powder checks from mast_reagent procs
  code/modules/chemistry/Chemistry-Holder.dm
Owners: none

Change to stomach_process
  code/modules/food_and_drink/snacks.dm
Owners: none

Adds unique PDA emergency alert variants (font color, jingle) (#15326)
  code/obj/item/device/pda2/smallprogs.dm
  sound/items/engineering_alert.ogg
  sound/items/janitor_alert.ogg
  sound/items/medical_alert.ogg
Owners: none

Changelog for #15326 [skip ci]
  strings/changelog.txt
Owners: none

Apply suggestions from code review
  code/obj/item/flag.dm
Owners: none

replaced the sprite for coffee
  icons/obj/foodNdrink/drinks.dmi
Owners: none
