Repository goonstation/goonstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Adharainspace, @UrsulaMejor, @flrsh, @Gannets, @Kyle2143, @mordent-goonstation, @Sovexe, @Tarmunora, @ZeWaka, @pali6

you know that thing you said you'd do?
  code/mob/living/silicon/ai.dm
Owners: none

no rock, just space
  maps/z3.dmm
Owners: none

Update README.md
  README.md
Owners: @ZeWaka

but it wasn't a rock, it was space itself
  maps/z3.dmm
Owners: none

ref on updateoverlays stacktrace
  code/atom/UpdateOverlays.dm
Owners: none

:negativeman:
  code/WorkInProgress/DrMelonsStuff.dm
Owners: none

wraith sound typo
  code/datums/abilities/wraith.dm
Owners: none

defib emag runtime
  code/modules/medical/surgery_tools.dm
Owners: none

smoke reaction runtime
  code/modules/chemistry/Chemistry-Reactions.dm
Owners: none

implant runtime fix
  code/obj/item/implant.dm
Owners: none

helper debug stuff
  code/procs/helpers.dm
Owners: none

missing sound
  code/mob/melee_attack_procs.dm
Owners: none

improved check-vehicle-occupant
  code/modules/admin/randomverbs.dm
Owners: none

cleaner event msg
  code/datums/controllers/event_controls.dm
Owners: none

remove double support
  maps/z3.dmm
Owners: none

quicker data input if only one allowed type
  code/modules/admin/data_input.dm
Owners: none

Fix ReplaceWith breaking lights before RL_Started
  code/RobustLight2.dm
Owners: none

Made non-intact floors always burn down to space (#8025)
  code/turf/floors.dm
Owners: none

Minor datum gun limb changes (#7933)
  code/datums/limb.dm
Owners: none

Reworks Human Torch Trait (#8060)
  code/datums/traits.dm
  code/mob/living/life/fire.dm
  code/modules/status_system/statusEffects.dm
Owners: none

New Trait: Frail Constitution (#7796)
  code/datums/traits.dm
  code/obj/item/organ_holder.dm
Owners: none

Changelog for #8060 [skip ci]
  strings/changelog.txt
Owners: none

Changelog for #7796 [skip ci]
  strings/changelog.txt
Owners: none

Fix ReplaceWith breaking lights before RL_Started (#8105)
  code/RobustLight2.dm
Owners: none

Projectiles
  _std/defines/combat.dm
  code/obj/flock/furniture.dm
  code/obj/storage/closets.dm
  code/obj/storage/secure_closets.dm
Owners: @Adharainspace

tmp-ing of some vars
  code/turf/floors.dm
Owners: none

Actually bolt all of these
  code/obj/storage/secure_closets.dm
Owners: none

Make reinforced lockers energy immune
  code/obj/storage/secure_closets.dm
Owners: none

dmm writer now exports TGM
  code/z_dmm_suite/writer.dm
Owners: none

fix items magically becoming small in a deep fryer (#8100)
  code/obj/machinery/deep_fryer.dm
Owners: none

Fix outpost mining magnet designation issue (#8104)
  maps/z3.dmm
Owners: none

Adamantium Skeleton Shows Message When It Works (#8062)
  code/mob/living/carbon/human/procs/damage.dm
Owners: none

Removes thindows from Cogmap2 (#8064)
  maps/cogmap2.dmm
Owners: none

Changelog for #8062 [skip ci]
  strings/changelog.txt
Owners: none

light fix 2
  _std/setup.dm
  code/RobustLight2.dm
  code/turf/turf.dm
  code/world.dm
Owners: @Adharainspace

fix formatting
  _std/setup.dm
Owners: @Adharainspace

Update code/turf/turf.dm
  code/turf/turf.dm
Owners: none

RobustLighting fixes 2 (#8107)
  _std/setup.dm
  code/RobustLight2.dm
  code/turf/turf.dm
  code/world.dm
Owners: @Adharainspace

tabs for zewaka
  _std/setup.dm
Owners: @Adharainspace

BOUNDS_DIST take 4?
  _std/macros/dist.dm
Owners: @Adharainspace

.github/CODEOWNERS:

# This list auto-requests reviews from the specified users
# when a PR that modifies the file in question is opened
# See GitHub documentation for more details.
# This list is alphabetized by User -> Filename -- KEEP IT THAT WAY
# In the event that multiple members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Adharainspace
/_std/ @Adharainspace

# Emily
/maps/manta.dmm @UrsulaMejor

# Flourish
/code/obj/item/toys.dm @flrsh
/maps/oshan.dmm @flrsh

# Gannets 
/code/datums/gamemodes/nuclear.dm @Gannets

# Kyle
/code/WorkInProgress/JobXpRewards.dm @Kyle2143
/code/modules/events/gimmick/kudzu.dm @Kyle2143
/code/datums/abilities/kudzumen.dm @Kyle2143
/code/datums/gamemodes/gangwar.dm @Kyle2143

# Mordent (mordent-goonstation)
/code/modules/robotics/ @mordent-goonstation

# Sovexe
/code/modules/antagonists/arcfiend/ @Sovexe

# Tarmunora
/code/modules/projectiles/projectile_parent.dm @Tarmunora
/code/modules/chemistry/Reagents-Base.dm @Tarmunora
/code/modules/chemistry/Reagents-Diseases.dm @Tarmunora
/code/modules/chemistry/Reagents-Drugs.dm @Tarmunora
/code/modules/chemistry/Reagents-ExplosiveFire.dm @Tarmunora
/code/modules/chemistry/Reagents-FoodDrink.dm @Tarmunora
/code/modules/chemistry/Reagents-Medical.dm @Tarmunora
/code/modules/chemistry/Reagents-Misc.dm @Tarmunora
/code/modules/chemistry/Reagents-PoisonEtc.dm @Tarmunora
/code/modules/chemistry/Chemistry-Recipes.dm @Tarmunora

# ZeWaka
*.md @ZeWaka
/.github/ @ZeWaka
/tools/ @ZeWaka

# Pali
/code/datums/components/ @pali6
/code/obj/artifacts/ @pali6
/code/datums/controllers/artifact_controls.dm @pali6
/code/WorkInProgress/pali.dm @pali6

# Multiple Owners
/tgui/ @mordent-goonstation @ZeWaka
