Repository goonstation/goonstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Adharainspace, @UrsulaMejor, @flrsh, @Gannets, @Kyle2143, @mordent-goonstation, @Sovexe, @Tarmunora, @ZeWaka, @pali6

.github/CODEOWNERS:

# This list auto-requests reviews from the specified users
# when a PR that modifies the file in question is opened
# See GitHub documentation for more details.
# This list is alphabetized by User -> Filename -- KEEP IT THAT WAY
# In the event that multiple members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Adharainspace
/_std/ @Adharainspace

# Emily
/maps/manta.dmm @UrsulaMejor

# Flourish
/code/obj/item/toys.dm @flrsh
/maps/oshan.dmm @flrsh

# Gannets 
/code/datums/gamemodes/nuclear.dm @Gannets

# Kyle
/code/WorkInProgress/JobXpRewards.dm @Kyle2143
/code/modules/events/gimmick/kudzu.dm @Kyle2143
/code/datums/abilities/kudzumen.dm @Kyle2143
/code/datums/gamemodes/gangwar.dm @Kyle2143

# Mordent (mordent-goonstation)
/code/modules/robotics/ @mordent-goonstation

# Sovexe
/code/modules/antagonists/arcfiend/ @Sovexe

# Tarmunora
/code/modules/projectiles/projectile_parent.dm @Tarmunora
/code/modules/chemistry/Reagents-Base.dm @Tarmunora
/code/modules/chemistry/Reagents-Diseases.dm @Tarmunora
/code/modules/chemistry/Reagents-Drugs.dm @Tarmunora
/code/modules/chemistry/Reagents-ExplosiveFire.dm @Tarmunora
/code/modules/chemistry/Reagents-FoodDrink.dm @Tarmunora
/code/modules/chemistry/Reagents-Medical.dm @Tarmunora
/code/modules/chemistry/Reagents-Misc.dm @Tarmunora
/code/modules/chemistry/Reagents-PoisonEtc.dm @Tarmunora
/code/modules/chemistry/Chemistry-Recipes.dm @Tarmunora

# ZeWaka
*.md @ZeWaka
/.github/ @ZeWaka
/tools/ @ZeWaka

# Pali
/code/datums/components/ @pali6
/code/obj/artifacts/ @pali6
/code/datums/controllers/artifact_controls.dm @pali6
/code/WorkInProgress/pali.dm @pali6

# Multiple Owners
/tgui/ @mordent-goonstation @ZeWaka

adds it to the game and some things :)
  code/datums/mutantraces.dm
  code/mob/living/critter/small_animal.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-Misc.dm
Owners: @Tarmunora

change how walls are deconstructed (stonepillars/goon-flock#119)
  code/mob/living/critter/flockcritter_parent.dm
  code/turf/turf_flock.dm
Owners: none

no more errors >:(
  code/datums/mutantraces.dm
  code/modules/chemistry/Reagents-Misc.dm
Owners: @Tarmunora

color adjustments
  code/modules/chemistry/Reagents-Misc.dm
Owners: @Tarmunora

Fix shuttle window connections
  code/obj/window.dm
  code/turf/turf_autoalign.dm
Owners: none

onResume now passes attempted action
  code/datums/controllers/action_controls.dm
  code/modules/items/gimmick/plushies.dm
Owners: none

tablestuff sans debugging
  code/obj/item/table_rack_parts.dm
  code/obj/table.dm
Owners: none

christening an unused var
  code/modules/chemistry/tools/grenades.dm
  code/obj/item/grenades.dm
Owners: none

SECONDS
  code/datums/controllers/action_controls.dm
Owners: none

jumpsuits harder to remove, headsets easier
  code/obj/item/clothing/uniforms.dm
  code/obj/item/device/radios/headsets.dm
Owners: none

gloves, glasses easier
  code/obj/item/clothing/glasses.dm
  code/obj/item/clothing/gloves.dm
Owners: none

space suits harder to strip
  code/obj/item/clothing/suits.dm
Owners: none

hats easier to strip
  code/obj/item/clothing/hats.dm
Owners: none

crime 2
  code/obj/item/grenades.dm
Owners: none

helmets harder to remove
  code/obj/item/clothing/helmets.dm
Owners: none

updates sprite
  code/obj/item/storage/backpack_belt_etc.dm
  icons/mob/clothing/belt.dmi
  icons/obj/items/belts.dmi
Owners: none

further reductions because I'm stupid
  code/obj/item/clothing/glasses.dm
  code/obj/item/clothing/gloves.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/device/radios/headsets.dm
Owners: none

artifact ejector goes to trench level
  maps/oshan.dmm
Owners: @flrsh

table fuckery
  code/obj/table.dm
Owners: none

no building tables in walls
  code/obj/item/table_rack_parts.dm
Owners: none

compile
  code/obj/item/device/radios/headsets.dm
Owners: none

compiler: harder
  code/obj/table.dm
Owners: none

logging
  code/obj/item/table_rack_parts.dm
Owners: none

Revert "prevent furniture_parts-based stacking of things"
  code/obj/item/table_rack_parts.dm
Owners: none

preventing construction based on density instead
  code/obj/item/table_rack_parts.dm
  code/obj/table.dm
Owners: none

glass table exception again
  code/obj/item/table_rack_parts.dm
Owners: none

indentation, compilation
  code/obj/item/table_rack_parts.dm
Owners: none

stamina cost on stripping etc
  code/datums/controllers/action_controls.dm
Owners: none

reduce hat number (again, i dumb)
  code/obj/item/clothing/hats.dm
Owners: none

minor backpack increase
  code/obj/item/storage/backpack_belt_etc.dm
Owners: none

dumb exploit
  code/datums/controllers/action_controls.dm
  code/obj/item/table_rack_parts.dm
Owners: none

disease chems will now deplete
  code/modules/chemistry/Reagents-Diseases.dm
Owners: @Tarmunora

better fix
  code/datums/controllers/action_controls.dm
  code/obj/item/table_rack_parts.dm
Owners: none

chlog
  strings/changelog.txt
Owners: none

tabble
  code/obj/table.dm
Owners: none

Unlockable Flock Structures! Also Endgame! (stonepillars/goon-flock#63)
  code/datums/abilities/flock/flockmind.dm
  code/datums/flock/flock.dm
  code/datums/flock/flockunlockable.dm
  code/obj/flock/structure/collector.dm
  code/obj/flock/structure/flock_structure_ghost.dm
  code/obj/flock/structure/flock_structure_parent.dm
  code/obj/flock/structure/relay.dm
  code/obj/flock/structure/sentinel.dm
  goonstation.dme
Owners: none

Fix Oshan radio table misalignment
  maps/oshan.dmm
Owners: @flrsh

Fix Oshan Flockmind cockpit
  maps/oshan.dmm
Owners: @flrsh

add oshan flockship trader diagonals
  code/obj/flock/trader.dm
  icons/misc/featherzone.dmi
  maps/oshan.dmm
Owners: @flrsh

fix ban dialog admin level check
  code/modules/admin/bans.dm
Owners: none
