Repository goonstation/goonstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Adharainspace, @UrsulaMejor, @flrsh, @Gannets, @Kyle2143, @mordent-goonstation, @Sovexe, @Tarmunora, @ZeWaka, @pali6

.github/CODEOWNERS:

# This list auto-requests reviews from the specified users
# when a PR that modifies the file in question is opened
# See GitHub documentation for more details.
# This list is alphabetized by User -> Filename -- KEEP IT THAT WAY
# In the event that multiple members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Adharainspace
/_std/ @Adharainspace

# Emily
/maps/manta.dmm @UrsulaMejor

# Flourish
/code/obj/item/toys.dm @flrsh
/maps/oshan.dmm @flrsh

# Gannets 
/code/datums/gamemodes/nuclear.dm @Gannets

# Kyle
/code/WorkInProgress/JobXpRewards.dm @Kyle2143
/code/modules/events/gimmick/kudzu.dm @Kyle2143
/code/datums/abilities/kudzumen.dm @Kyle2143
/code/datums/gamemodes/gangwar.dm @Kyle2143

# Mordent (mordent-goonstation)
/code/modules/robotics/ @mordent-goonstation

# Sovexe
/code/modules/antagonists/arcfiend/ @Sovexe

# Tarmunora
/code/modules/projectiles/projectile_parent.dm @Tarmunora
/code/modules/chemistry/Reagents-Base.dm @Tarmunora
/code/modules/chemistry/Reagents-Diseases.dm @Tarmunora
/code/modules/chemistry/Reagents-Drugs.dm @Tarmunora
/code/modules/chemistry/Reagents-ExplosiveFire.dm @Tarmunora
/code/modules/chemistry/Reagents-FoodDrink.dm @Tarmunora
/code/modules/chemistry/Reagents-Medical.dm @Tarmunora
/code/modules/chemistry/Reagents-Misc.dm @Tarmunora
/code/modules/chemistry/Reagents-PoisonEtc.dm @Tarmunora
/code/modules/chemistry/Chemistry-Recipes.dm @Tarmunora

# ZeWaka
*.md @ZeWaka
/.github/ @ZeWaka
/tools/ @ZeWaka

# Pali
/code/datums/components/ @pali6
/code/obj/artifacts/ @pali6
/code/datums/controllers/artifact_controls.dm @pali6
/code/WorkInProgress/pali.dm @pali6

# Multiple Owners
/tgui/ @mordent-goonstation @ZeWaka

use tgui alert (stonepillars/goon-flock#121)
  code/datums/flock/flock.dm
Owners: none

update flocktrace offer (stonepillars/goon-flock#120)
  code/datums/abilities/flock/flockmind.dm
  code/mob/living/intangible/flock/flockmind.dm
  code/mob/transform_procs.dm
Owners: none

cleaner disposed destination handling for tele enter component
  code/datums/components/teleport_on_enter.dm
Owners: @pali6

fix
  code/datums/components/teleport_on_enter.dm
Owners: @pali6

Apply suggestions from code review
  code/datums/abilities/vampire.dm
  code/datums/abilities/vampiric_thrall.dm
Owners: none

resprites teleport swirlys and adds new variants for telesci
  code/WorkInProgress/AnimationLibrary.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/obj/machinery/science_teleporter.dm
  icons/effects/effects.dmi
Owners: none

Good stopping point... sleep
  code/datums/abilities/ghost_observer.dm
  code/obj/item/organs/brain.dm
  code/obj/machinery/manufacturer.dm
  icons/effects/effects.dmi
  icons/obj/surgery.dmi
Owners: none

Very very minor engineering helmet sprite tweaks (#8090)
  icons/obj/clothing/item_hats.dmi
Owners: none

Fixes multiple color and palette errors on couches (#8088)
  icons/obj/furniture/chairs.dmi
Owners: none

Minor Mineral Magnet Mfixes (#8082)
  code/datums/controllers/mining_controls.dm
  code/obj/machinery/shield_generators/shield_generator.dm
  code/obj/mining.dm
Owners: none

Adds diff highlighting to AI law updates (#8058)
  browserassets/css/browserOutput.css
  code/datums/ai_laws.dm
  code/modules/admin/randomverbs.dm
  code/modules/events/ion_storm.dm
  code/obj/machinery/law_racks.dm
Owners: none

Update code/obj/item/mono_card_game.dm
  code/obj/item/mono_card_game.dm
Owners: none

Fix table smoothing (#8052)
  code/obj/table.dm
  code/procs/helpers.dm
Owners: none

Changelog for #8058 [skip ci]
  strings/changelog.txt
Owners: none

WIP
  code/datums/gamemodes/battle_royale.dm
  code/datums/syndicate_buylist.dm
Owners: none

it tastes salty i guess
  code/modules/chemistry/Reagents-FoodDrink.dm
Owners: @Tarmunora

BR changes
  _std/defines/uplink.dm
  code/datums/gamemodes/battle_royale.dm
  code/datums/syndicate_buylist.dm
  code/obj/item/teleportation.dm
Owners: @Adharainspace

Forgot the .22
  code/datums/gamemodes/battle_royale.dm
Owners: none

Moving this later, will it work?
  code/datums/gamemodes/battle_royale.dm
Owners: none

Leftover debug
  code/datums/gamemodes/battle_royale.dm
Owners: none

Fairly sure this announcement can be missed
  code/datums/gamemodes/battle_royale.dm
Owners: none

resprites teleport swirlys and adds new variants for telesci (#8095)
  code/WorkInProgress/AnimationLibrary.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/obj/machinery/science_teleporter.dm
  icons/effects/effects.dmi
Owners: none

MONO card resprite, the 3rd. (#8072)
  code/obj/item/mono_card_game.dm
  icons/obj/items/playing_card.dmi
  strings/books/MONOrules.txt
Owners: none

Changelog for #8072 [skip ci]
  strings/changelog.txt
Owners: none

improve description messages
  code/mob/living/carbon/human/procs/get_desc.dm
Owners: none

Fixed flockminds not being able to use certain hotkeys (stonepillars/goon-flock#122)
  code/mob/living/intangible/flockmob_parent.dm
Owners: none

use single parent
  code/WorkInProgress/MarqStuff.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/mob/melee_attack_procs.dm
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/syringe.dm
  code/obj/item/dartboard.dm
  code/obj/item/implant.dm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut3.dmm
  maps/donut3_xmas.dmm
  maps/manta.dmm
  maps/manta_damaged.dmm
  maps/oshan.dmm
  maps/oshan_xmas.dmm
  maps/pamgoc.dmm
  maps/setpieces/SHARED_biodomeExpanded.dmm
  maps/wrestlemap.dmm
Owners: @UrsulaMejor, @flrsh

return after pullout
  code/mob/melee_attack_procs.dm
Owners: none

Clumsy now affects chem dispensers
  code/modules/chemistry/Chemistry-Dispenser.dm
Owners: none

add missing messages (stonepillars/goon-flock#106)
  code/obj/flock/cage.dm
  code/obj/flock/furniture.dm
Owners: none

fix cage health (stonepillars/goon-flock#107)
  code/obj/flock/cage.dm
Owners: none

change syringe projectile descriptions
  code/obj/item/implant.dm
Owners: none

add forensics for tranquilizer darts
  code/mob/living/carbon/human/procs/damage.dm
Owners: none

Bolting lockers, reinforced lockers
  code/obj/storage/secure_closets.dm
Owners: none

fix pulling out of others not working
  code/mob/melee_attack_procs.dm
Owners: none

use different way of pulling out
  code/mob/melee_attack_procs.dm
Owners: none

small smes tweak
  maps/nadir.dmm
Owners: none

Add new Change Designation verb for AI
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/silicon/ai.dm
  code/mob/transform_procs.dm
Owners: none

fix runtime when using Respawn As... to AI
  code/mob/living/intangible/ai-camera.dm
Owners: none

Allow namechange when in aieye
  code/mob/living/silicon/ai.dm
Owners: none
