Repository goonstation/goonstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Adharainspace, @UrsulaMejor, @flrsh, @Gannets, @Kyle2143, @mordent-goonstation, @Sovexe, @Tarmunora, @ZeWaka, @pali6

why is there a space? get out of there, you!
  code/modules/food_and_drink/ingredients.dm
Owners: none

no deployable turrets in gunsim
  code/obj/item/deployable_turret.dm
Owners: none

bathrobe
  code/datums/traits.dm
Owners: none

do not pass go, do not overlay with any poddoor
  code/obj/window.dm
Owners: none

add intra round data save/load timeouts and traces
  code/world.dm
Owners: none

#ifdef LIVE_SERVER
  code/world.dm
Owners: none

Modified layout of sec in donut 3
  maps/donut3.dmm
Owners: none

adjusts another instance of the meteor shield sprite flashing violently
  icons/effects/effects.dmi
Owners: none

fix solarium and other intraround save stuff
  code/world.dm
Owners: none

adjusts another instance of the meteor shield sprite flashing (#8018)
  icons/effects/effects.dmi
Owners: none

Adds Cyborg shovel to Engineering Cyborg Module (#7956)
  code/modules/robotics/robot/module_tool_creator/modules.dm
Owners: @mordent-goonstation

Changelog for #7956 [skip ci]
  strings/changelog.txt
Owners: none

re-enables hologram text expansions
  code/mob/living/silicon/ai/holograms.dm
  code/obj/item/ai_modules.dm
  code/obj/machinery/law_racks.dm
Owners: none

drone.dm please fucking don't change ever again
  code/obj/critter/drone.dm
Owners: none

fixes (hopefully) every fucked up <kbd> flag
  .github/DEV_GUIDE.md
Owners: @ZeWaka

copy-pastes drone.dm from master again
  code/obj/critter/drone.dm
Owners: none

mat fixes
  code/modules/materials/Mat_Materials.dm
  code/modules/materials/Mat_ProcsDefines.dm
  code/obj/window.dm
Owners: none

resprites many barber_shop.dmi items and makes dye bottles show their color
  code/obj/ToSplit/barber_shop.dm
  icons/obj/barber_shop.dmi
Owners: none

let's try not to break everything this time
  .github/DEV_GUIDE.md
Owners: @ZeWaka

Allows frogs to croak
  code/mob/living/critter/small_animal.dm
Owners: none

re-impliments <kbd> flags, manually this time
  .github/DEV_GUIDE.md
Owners: @ZeWaka

Adjust queuing of spacing turfs, removing prefab type of space to allow for proper path checks to new /turf/space/asteroid
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/modules/atmospherics/FEA_system.dm
  code/turf/turf.dm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/donut3_xmas.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/horizon_xmas.dmm
  maps/icarus.dmm
  maps/kondaru.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/setpieces/AIBM_spacejunk.dmm
  maps/unused/chiron.dmm
  maps/unused/concept.dmm
  maps/unused/donut2.dmm
  maps/unused/donut2_new_walls.dmm
  maps/unused/donut2_old.dmm
  maps/unused/hainemap.dmm
  maps/unused/halloween12.dmm
  maps/unused/halloween14.dmm
  maps/unused/horizon_2019.dmm
  maps/unused/linemap.dmm
  maps/unused/mushroom.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/mushroom_new_xmas.dmm
  maps/unused/old_trunkmap.dmm
  maps/unused/oldmap.dmm
  maps/unused/samedi.dmm
  maps/unused/trunkmap.dmm
  maps/unused/xmas.dmm
  maps/warwip/atlas_horizon_xmas_2019.dmm
  maps/wrestlemap.dmm
  maps/z3.dmm
  maps/z5.dmm
Owners: none

prevent flocktiles from being burned (stonepillars/goon-flock#101)
  code/turf/turf_flock.dm
Owners: none

fix sound bugs (stonepillars/goon-flock#99)
  code/turf/turf_flock.dm
Owners: none

make fibrenet full 32x32 (stonepillars/goon-flock#98)
  icons/misc/featherzone.dmi
Owners: none

Modied sightly the update of the sec on donut 3
  maps/donut3.dmm
Owners: none

Adjust queuing of spacing turfs, removing prefab type of space to allow for proper path checks to new /turf/space/asteroid (#8023)
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/modules/atmospherics/FEA_system.dm
  code/turf/turf.dm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/donut3_xmas.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/horizon_xmas.dmm
  maps/icarus.dmm
  maps/kondaru.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/setpieces/AIBM_spacejunk.dmm
  maps/unused/chiron.dmm
  maps/unused/concept.dmm
  maps/unused/donut2.dmm
  maps/unused/donut2_new_walls.dmm
  maps/unused/donut2_old.dmm
  maps/unused/hainemap.dmm
  maps/unused/halloween12.dmm
  maps/unused/halloween14.dmm
  maps/unused/horizon_2019.dmm
  maps/unused/linemap.dmm
  maps/unused/mushroom.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/mushroom_new_xmas.dmm
  maps/unused/old_trunkmap.dmm
  maps/unused/oldmap.dmm
  maps/unused/samedi.dmm
  maps/unused/trunkmap.dmm
  maps/unused/xmas.dmm
  maps/warwip/atlas_horizon_xmas_2019.dmm
  maps/wrestlemap.dmm
  maps/z3.dmm
  maps/z5.dmm
Owners: none

Dev guide fix attempt three: I cannot possibly fuck this one up (#8021)
  .github/DEV_GUIDE.md
Owners: @ZeWaka

2022-03-29
  .github/DEV_GUIDE.md
Owners: @ZeWaka

re-enables hologram text expansions (#8019)
  code/mob/living/silicon/ai/holograms.dm
  code/obj/item/ai_modules.dm
  code/obj/machinery/law_racks.dm
Owners: none

Changelog for #8019 [skip ci]
  strings/changelog.txt
Owners: none

Made non-intact floors always burn down to space
  code/turf/floors.dm
Owners: none

resprites many barber_shop.dmi items and makes dye bottles show their color (#8020)
  code/obj/ToSplit/barber_shop.dm
  icons/obj/barber_shop.dmi
Owners: none

make the reflect component work on things that are not csabers
  code/datums/components/itemblock/saberblock.dm
  code/obj/item/misc_weapons.dm
Owners: @pali6

make the special attacks of nukie sword have correct color
  code/modules/items/specials/ItemSpecials.dm
  code/obj/item/misc_weapons.dm
Owners: none

rename var to be named betterer
  code/datums/components/itemblock/saberblock.dm
Owners: @pali6

Fixes several things attacking intangible mobs
  code/modules/vending/vending.dm
  code/obj/artifacts/artifact_machines/turret.dm
  code/obj/critter/misc.dm
Owners: @pali6

Fixes several things attacking intangible mobs (#8027)
  code/modules/vending/vending.dm
  code/obj/artifacts/artifact_machines/turret.dm
  code/obj/critter/misc.dm
Owners: @pali6

microbomb refactor, removes macro, adds flyzapper
  code/datums/abilities/hunter.dm
  code/datums/jobs.dm
  code/datums/syndicate_buylist.dm
  code/mob/living/carbon/human.dm
  code/modules/admin/admin_verbs.dm
  code/obj/item/implant.dm
  code/procs/antagonist_procs.dm
Owners: none

buff
  code/obj/item/implant.dm
Owners: none

.github/CODEOWNERS:

# This list auto-requests reviews from the specified users
# when a PR that modifies the file in question is opened
# See GitHub documentation for more details.
# This list is alphabetized by User -> Filename -- KEEP IT THAT WAY
# In the event that multiple members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Adharainspace
/_std/ @Adharainspace

# Emily
/maps/manta.dmm @UrsulaMejor

# Flourish
/code/obj/item/toys.dm @flrsh
/maps/oshan.dmm @flrsh

# Gannets 
/code/datums/gamemodes/nuclear.dm @Gannets

# Kyle
/code/WorkInProgress/JobXpRewards.dm @Kyle2143
/code/modules/events/gimmick/kudzu.dm @Kyle2143
/code/datums/abilities/kudzumen.dm @Kyle2143
/code/datums/gamemodes/gangwar.dm @Kyle2143

# Mordent (mordent-goonstation)
/code/modules/robotics/ @mordent-goonstation

# Sovexe
/code/modules/antagonists/arcfiend/ @Sovexe

# Tarmunora
/code/modules/projectiles/projectile_parent.dm @Tarmunora
/code/modules/chemistry/Reagents-Base.dm @Tarmunora
/code/modules/chemistry/Reagents-Diseases.dm @Tarmunora
/code/modules/chemistry/Reagents-Drugs.dm @Tarmunora
/code/modules/chemistry/Reagents-ExplosiveFire.dm @Tarmunora
/code/modules/chemistry/Reagents-FoodDrink.dm @Tarmunora
/code/modules/chemistry/Reagents-Medical.dm @Tarmunora
/code/modules/chemistry/Reagents-Misc.dm @Tarmunora
/code/modules/chemistry/Reagents-PoisonEtc.dm @Tarmunora
/code/modules/chemistry/Chemistry-Recipes.dm @Tarmunora

# ZeWaka
*.md @ZeWaka
/.github/ @ZeWaka
/tools/ @ZeWaka

# Pali
/code/datums/components/ @pali6
/code/obj/artifacts/ @pali6
/code/datums/controllers/artifact_controls.dm @pali6
/code/WorkInProgress/pali.dm @pali6

# Multiple Owners
/tgui/ @mordent-goonstation @ZeWaka
