Repository goonstation/goonstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Adharainspace, @UrsulaMejor, @flrsh, @Gannets, @Kyle2143, @mordent-goonstation, @Sovexe, @Tarmunora, @ZeWaka, @pali6

.github/CODEOWNERS:

# This list auto-requests reviews from the specified users
# when a PR that modifies the file in question is opened
# See GitHub documentation for more details.
# This list is alphabetized by User -> Filename -- KEEP IT THAT WAY
# In the event that multiple members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Adharainspace
/_std/ @Adharainspace

# Emily
/maps/manta.dmm @UrsulaMejor

# Flourish
/code/obj/item/toys.dm @flrsh
/maps/oshan.dmm @flrsh

# Gannets 
/code/datums/gamemodes/nuclear.dm @Gannets

# Kyle
/code/WorkInProgress/JobXpRewards.dm @Kyle2143
/code/modules/events/gimmick/kudzu.dm @Kyle2143
/code/datums/abilities/kudzumen.dm @Kyle2143
/code/datums/gamemodes/gangwar.dm @Kyle2143

# Mordent (mordent-goonstation)
/code/modules/robotics/ @mordent-goonstation

# Sovexe
/code/modules/antagonists/arcfiend/ @Sovexe

# Tarmunora
/code/modules/projectiles/projectile_parent.dm @Tarmunora
/code/modules/chemistry/Reagents-Base.dm @Tarmunora
/code/modules/chemistry/Reagents-Diseases.dm @Tarmunora
/code/modules/chemistry/Reagents-Drugs.dm @Tarmunora
/code/modules/chemistry/Reagents-ExplosiveFire.dm @Tarmunora
/code/modules/chemistry/Reagents-FoodDrink.dm @Tarmunora
/code/modules/chemistry/Reagents-Medical.dm @Tarmunora
/code/modules/chemistry/Reagents-Misc.dm @Tarmunora
/code/modules/chemistry/Reagents-PoisonEtc.dm @Tarmunora
/code/modules/chemistry/Chemistry-Recipes.dm @Tarmunora

# ZeWaka
*.md @ZeWaka
/.github/ @ZeWaka
/tools/ @ZeWaka

# Pali
/code/datums/components/ @pali6
/code/obj/artifacts/ @pali6
/code/datums/controllers/artifact_controls.dm @pali6
/code/WorkInProgress/pali.dm @pali6

# Multiple Owners
/tgui/ @mordent-goonstation @ZeWaka

chalngog
  strings/changelog.txt
Owners: none

Changed Rand to Probl
  code/mob/living/critter/small_animal.dm
Owners: none

Add files via upload
  maps/donut3.dmm
Owners: none

Makes EMPs eat some of a cloner's records
  code/obj/machinery/computer/cloning.dm
Owners: none

changes the csaber-reflect component to make the animation work on all things (not just csabers)
  code/datums/components/itemblock/saberblock.dm
  code/mob/living.dm
  code/obj/item/misc_weapons.dm
Owners: @pali6

Minimize newbie trap
  code/obj/critter/misc.dm
Owners: none

beartraps make people fall over
  code/obj/item/beartrap.dm
Owners: none

upscale firedoor spawner firedoors
  code/obj/machinery/door/firedoor.dm
Owners: none

Changed initial strike venom amounts and subsequent strike amounts, removed regular attacks so that the snake only ever bites
  code/obj/critter/misc.dm
Owners: none

upscale cryo shift
  code/WorkInProgress/cryospawn.dm
Owners: none

remove .js from an import in the reagent extractor
  tgui/packages/tgui/interfaces/ReagentExtractor.js
Owners: @mordent-goonstation, @ZeWaka

remove .js from imports in the chem heater
  tgui/packages/tgui/interfaces/ChemHeater.js
Owners: @mordent-goonstation, @ZeWaka

Reagent Heater/Cooler tgui (#7822)
  browserassets/tgui/tgui-common.bundle.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/chemistry/Chemistry-Machinery.dm
  tgui/packages/tgui/components/goonstation/SectionEx.js
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/ChemHeater.js
  tgui/packages/tgui/interfaces/ReagentExtractor.js
  tgui/packages/tgui/interfaces/SeedFabricator.js
  tgui/packages/tgui/interfaces/common/ReagentInfo.js
  tgui/packages/tgui/interfaces/common/temperatureUtils.js
  tgui/packages/tgui/styles/components/goonstation/SectionEx.scss
  tgui/packages/tgui/styles/interfaces/ChemHeater.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/ntos.scss
Owners: @mordent-goonstation, @ZeWaka

Envelop != Envelope
  code/datums/abilities/critter/envelope.dm
  code/mob/living/critter/misc.dm
  code/obj/critter/misc.dm
Owners: none

Changelog for #7822 [skip ci]
  strings/changelog.txt
Owners: none

Adds space rattlesnakes to the game (#7563)
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/events/minor/pests.dm
  code/obj/critter/misc.dm
  icons/misc/critter.dmi
Owners: @Tarmunora

Changelog for #7563 [skip ci]
  strings/changelog.txt
Owners: none

Oshan trench upscaling
  code/modules/worldgen/GenerateMining.dm
Owners: none

Haha hah hhhhaaaaaa sorry
  code/WorkInProgress/actuallyKeelinsStuff.dm
Owners: none

improvements for Heavy Nukie Sword (#8026)
  code/datums/components/itemblock/saberblock.dm
  code/modules/items/specials/ItemSpecials.dm
  code/obj/item/misc_weapons.dm
Owners: @pali6

Changelog for #8026 [skip ci]
  strings/changelog.txt
Owners: none

Makes beards more compatible with human sprite (#7983)
  icons/mob/human_hair.dmi
Owners: none

Changelog for #7983 [skip ci]
  strings/changelog.txt
Owners: none

update dye bottles to use ClearSpecificOverlays
  code/obj/ToSplit/barber_shop.dm
Owners: none

Update code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/ingredients.dm
Owners: none

Update code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/ingredients.dm
Owners: none

bitshift and use direction names
  code/obj/table.dm
Owners: none

Returns stolen hair :( sorry
  icons/mob/human_hair.dmi
Owners: none

fixes 3 beards I missed, one more error
  icons/mob/human_hair.dmi
Owners: none

Fixes my last PR accidentally making walp hair invisible (#8035)
  icons/mob/human_hair.dmi
Owners: none

Addressing
  code/datums/abilities/critter/envelope.dm
Owners: none

Combine Envelop behavior (#8031)
  code/datums/abilities/critter/envelope.dm
  code/mob/living/critter/misc.dm
  code/obj/critter/misc.dm
Owners: none

abstract_type ya
  code/modules/food_and_drink/ingredients.dm
Owners: none

pda preserves scroll position on refresh
  code/obj/item/device/pda2/pda2.dm
Owners: none

delay light init after generting z5
  code/RobustLight2.dm
  code/world.dm
Owners: none

upscaled maps have no AI static as an optimization
  code/mob/living/intangible/ai-camera.dm
Owners: none

don't place stuff on fluid turfs not in z5 / z1
  code/modules/fluids/fluid_turf.dm
Owners: none

worldgenCandidates can't contain nulls
  code/modules/worldgen/worldgen_parent.dm
Owners: none

pulling of large objects
  code/mob/input.dm
Owners: none

warper and artgen no longer target AIeye
  code/obj/artifacts/artifact_machines/warper.dm
  code/obj/artifacts/artifact_objects/power_gen.dm
Owners: @pali6
