Repository goonstation/goonstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Adharainspace, @UrsulaMejor, @flrsh, @Gannets, @Kyle2143, @mordent-goonstation, @Sovexe, @Tarmunora, @ZeWaka, @pali6

ban dialogs use src instead of usr
  code/modules/admin/bans.dm
Owners: none

Nerf .22, rubber shotgun and stinger
  code/obj/storage/secure_closets.dm
Owners: none

didnt need istype_exact
  code/obj/storage/secure_closets.dm
Owners: none

Prevent Flock stuff from being harmed by Flockdrones (stonepillars/goon-flock#89)
  code/datums/flock/flockprotection.dm
  code/mob/living/critter/flock/flockbit.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/obj/flock/cage.dm
  code/obj/flock/furniture.dm
  code/obj/flock/structure/flock_structure_parent.dm
  code/obj/machinery/door/feather.dm
  code/obj/window.dm
  code/turf/turf_flock.dm
Owners: none

pda port-a-* apps use new animations
  code/obj/item/device/pda2/portable_machinery_control.dm
Owners: none

babe r u denatured enzyme cause u nature my enzyme
  code/modules/chemistry/Chemistry-Recipes.dm
Owners: @Tarmunora

update comment to use correct variable name
  code/WorkInProgress/DrMelonsStuff.dm
Owners: none

cleanup+full suit images
  icons/mob/clothing/head.dmi
  icons/mob/clothing/overcoats/worn_suit_hazard.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/overcoats/item_suit_hazard.dmi
Owners: none

recipie description now more accurate to IRL chem
  code/modules/chemistry/Chemistry-Recipes.dm
Owners: @Tarmunora

adjusts yield
  code/modules/chemistry/Chemistry-Recipes.dm
Owners: @Tarmunora

Fix Flock stuff having no attack delay (stonepillars/goon-flock#108)
  code/obj/flock/cage.dm
  code/obj/flock/structure/flock_structure_parent.dm
  code/turf/turf_flock.dm
Owners: none

This is why you bug test your prs, makes this actually work.
  code/modules/telescience/radiostation.dm
Owners: none

Ill fix this in a bit
  assets/maps/prefabs/prefab_vault.dmm
Owners: none

allow incapacitor to point blank (stonepillars/goon-flock#125)
  code/mob/living/critter/flock/flockdrone.dm
Owners: none

fix block shocking you (stonepillars/goon-flock#114)
  code/mob/living/critter/flock/flockdrone.dm
Owners: none

Conversion to tgm
  assets/maps/prefabs/prefab_vault.dmm
Owners: none

dock you meant
  code/modules/economy/requisition/rc_aid.dm
  code/modules/economy/requisition/rc_civilian.dm
  code/modules/economy/requisition/rc_scientific.dm
  code/modules/economy/requisition/rc_special.dm
  code/modules/economy/requisition/requisition_contracts.dm
Owners: none

Fixes electrification shit
  code/obj/machinery/door/airlock.dm
Owners: none

Allow Flock structures to report when attacked (stonepillars/goon-flock#97)
  code/obj/flock/structure/flock_structure_parent.dm
Owners: none

Let us just feature creep!!!!!!
  code/WorkInProgress/AzrunStuff.dm
  code/datums/abilities/ghost_observer.dm
  code/obj/item/implant.dm
  code/obj/item/organs/brain.dm
  icons/obj/surgery.dmi
Owners: none

Cleanbot tweak
  code/WorkInProgress/AzrunStuff.dm
  icons/obj/surgery.dmi
Owners: none

add range check handling for input cancels
  code/datums/components/mechComp_signals.dm
Owners: @pali6

Disconnect All no longer also uses object
  code/datums/components/mechComp_signals.dm
Owners: @pali6

Randomizes the discs contained within the records in the radio station. (#7914)
  code/modules/telescience/radiostation.dm
  maps/oshan.dmm
  maps/z3.dmm
Owners: @flrsh

Changelog for #7914 [skip ci]
  strings/changelog.txt
Owners: none

Don't delay fluids, fluids are fine
  code/turf/turf.dm
Owners: none

mass emesis log
  code/datums/abilities/critter/vomit.dm
Owners: none

.github/CODEOWNERS:

# This list auto-requests reviews from the specified users
# when a PR that modifies the file in question is opened
# See GitHub documentation for more details.
# This list is alphabetized by User -> Filename -- KEEP IT THAT WAY
# In the event that multiple members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Adharainspace
/_std/ @Adharainspace

# Emily
/maps/manta.dmm @UrsulaMejor

# Flourish
/code/obj/item/toys.dm @flrsh
/maps/oshan.dmm @flrsh

# Gannets 
/code/datums/gamemodes/nuclear.dm @Gannets

# Kyle
/code/WorkInProgress/JobXpRewards.dm @Kyle2143
/code/modules/events/gimmick/kudzu.dm @Kyle2143
/code/datums/abilities/kudzumen.dm @Kyle2143
/code/datums/gamemodes/gangwar.dm @Kyle2143

# Mordent (mordent-goonstation)
/code/modules/robotics/ @mordent-goonstation

# Sovexe
/code/modules/antagonists/arcfiend/ @Sovexe

# Tarmunora
/code/modules/projectiles/projectile_parent.dm @Tarmunora
/code/modules/chemistry/Reagents-Base.dm @Tarmunora
/code/modules/chemistry/Reagents-Diseases.dm @Tarmunora
/code/modules/chemistry/Reagents-Drugs.dm @Tarmunora
/code/modules/chemistry/Reagents-ExplosiveFire.dm @Tarmunora
/code/modules/chemistry/Reagents-FoodDrink.dm @Tarmunora
/code/modules/chemistry/Reagents-Medical.dm @Tarmunora
/code/modules/chemistry/Reagents-Misc.dm @Tarmunora
/code/modules/chemistry/Reagents-PoisonEtc.dm @Tarmunora
/code/modules/chemistry/Chemistry-Recipes.dm @Tarmunora

# ZeWaka
*.md @ZeWaka
/.github/ @ZeWaka
/tools/ @ZeWaka

# Pali
/code/datums/components/ @pali6
/code/obj/artifacts/ @pali6
/code/datums/controllers/artifact_controls.dm @pali6
/code/WorkInProgress/pali.dm @pali6

# Multiple Owners
/tgui/ @mordent-goonstation @ZeWaka
