Repository goonstation/goonstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @frawhst, @flrsh, @Gannets, @Kyle2143, @mordent-goonstation, @Sord213, @Sovexe, @Tarmunora, @WALPVRGIS, @ZeWaka, @pali6

Separate captain's armor (#15602)
  code/datums/jobs.dm
  code/obj/item/clothing/armor.dm
  code/obj/item/clothing/gloves.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/shoes.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/overcoats/worn_suit_armor.dmi
  icons/mob/inhand/hand_feethand.dmi
  icons/mob/monkey/feet.dmi
  icons/mob/monkey/hands.dmi
  icons/mob/monkey/overcoats.dmi
  icons/obj/clothing/item_gloves.dmi
  icons/obj/clothing/item_shoes.dmi
  icons/obj/clothing/overcoats/item_suit_armor.dmi
Owners: none

Changelog for #15602 [skip ci]
  strings/changelog.txt
Owners: none

feebdack
  code/obj/decal/poster.dm
  code/obj/decal/wall_flags.dm
  code/obj/item/wall_flags.dm
  goonstation.dme
Owners: none

lowercase some names
  code/datums/banking.dm
  code/datums/controllers/sea_hotspot_controls.dm
  code/datums/embedded_controller.dm
  code/datums/gamemodes/gangwar.dm
  code/datums/gamemodes/nuclear.dm
  code/datums/gamemodes/pod_wars/pw_misc_objects.dm
  code/datums/gamemodes/pod_wars/pw_weapons.dm
  code/datums/gamemodes/spy.dm
  code/datums/gauntlet/arena.dm
  code/mob/living/critter/bee.dm
  code/mob/living/critter/drone.dm
  code/mob/living/critter/golem.dm
  code/mob/living/critter/gunbot.dm
  code/mob/living/critter/humanoid/human.dm
  code/mob/living/critter/humanoid/zombie.dm
  code/mob/living/critter/mechmonstrosity.dm
  code/mob/living/critter/mimic.dm
  code/mob/living/critter/sawfly.dm
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/intangible/blob_overmind.dm
  code/mob/living/intangible/blob_overmind/ai.dm
  code/mob/living/intangible/wraith.dm
  code/mob/living/seanceghost.dm
  code/mob/living/silicon/drone.dm
Owners: @Kyle2143, @Gannets

maps endpoint
  code/modules/goonhub/api/requests/MapsBody.dm
  code/modules/goonhub/api/routes/MapSwitches.dm
  code/modules/goonhub/api/routes/Maps.dm
  goonstation.dme
Owners: none

map switch
  code/modules/goonhub/api/requests/MapSwitchBody.dm
  code/modules/goonhub/api/routes/MapSwitches.dm
  goonstation.dme
Owners: none

Elevator
  _std/defines/landmarks.dm
  _std/machinery.dm
  assets/maps/allocated/morrigan.dmm
  code/obj/landmark.dm
  code/obj/machinery/computer/shuttle.dm
  code/turf/floors.dm
  code/z_adventurezones/morrigan.dm
Owners: none

playerantags plus file reshuffle
  code/modules/goonhub/api/requests/maps/MapSwitchBody.dm
  code/modules/goonhub/api/requests/maps/MapsBody.dm
  code/modules/goonhub/api/requests/players/PlayerAntagsBody.dm
  code/modules/goonhub/api/routes/maps/MapSwitches.dm
  code/modules/goonhub/api/routes/maps/Maps.dm
  code/modules/goonhub/api/routes/players/PlayerAntags.dm
  goonstation.dme
Owners: none

playerparticipation
  code/modules/goonhub/api/requests/players/PlayerParticipationsBody.dm
  code/modules/goonhub/api/routes/players/PlayerParticipations.dm
  goonstation.dme
Owners: none

missed a spot
  code/modules/goonhub/api/routes/players/PlayerParticipations.dm
Owners: none

perhaps change this a bit?
  code/modules/goonhub/api/routes/players/notes/AddPlayerNotes.dm
  code/modules/goonhub/api/routes/players/notes/GetPlayerNotes.dm
Owners: none

revert this actually
  code/modules/goonhub/api/routes/players/notes/AddPlayerNotes.dm
  code/modules/goonhub/api/routes/players/notes/GetPlayerNotes.dm
Owners: none

this does not actually have a response in the docs
  code/modules/goonhub/api/routes/players/notes/AddPlayerNotes.dm
  code/modules/goonhub/api/routes/players/notes/GetPlayerNotes.dm
Owners: none

weapon racks no longer runtime trying to rip off borg arms
  code/obj/machinery/weapon_racks.dm
Owners: none

make reagentful objects no longer immune from singularities
  code/obj/machinery/singularity.dm
Owners: none

Updated Coffee Sprite (#15945)
  icons/obj/foodNdrink/drinks.dmi
Owners: none

remove non-standard planes from code
  _std/plane.dm
  code/WorkInProgress/artemis/background_stars.dm
  code/WorkInProgress/artemis/galactic_object.dm
  code/WorkInProgress/flourish.dm
  code/WorkInProgress/zamujasa.dm
  code/datums/hud/battlersleft.dm
  code/datums/hud/roundend.dm
  code/datums/hud/vision.dm
  code/modules/antagonists/arcfiend/abilities/ride_the_lightning.dm
  code/obj/decal/poster.dm
  code/obj/item/device/voltron.dm
  code/obj/item/football.dm
  code/obj/mining.dm
  code/turf/turf_autoalign.dm
  code/z_adventurezones/safehouse.dm
Owners: @Sovexe

real
  code/obj/item/rcd.dm
Owners: none

review pr checklist
  .github/CONTRIBUTOR_GUIDELINES.md
Owners: @ZeWaka

inject message id to two forgotten places
  code/client.dm
  code/modules/admin/adminhelp.dm
Owners: none

ERROR: don't directly set plane to a number
  _std/macros/debug.dm
  code/WorkInProgress/artemis/background_stars.dm
  tools/ci/check_grep.sh
Owners: @ZeWaka

hope & pray
  _std/__std.dme
Owners: none

powernetless smeses runtimes
  code/modules/power/smes.dm
Owners: none

better and not shit
  _std/macros/debug.dm
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/datums/character_preview.dm
  code/datums/viewport.dm
  code/modules/minimap/minimap_ui.dm
  maps/cogwip/kappa.dmm
  maps/cogwip/ships.dmm
  maps/setpieces/regina.dmm
  tools/ci/check_grep.sh
Owners: @ZeWaka

spawn
  _std/__std.dme
Owners: none

Fix medal rewards
  code/modules/medals/rewardsLocker.dm
Owners: none

invalid comment
  code/mob/living/carbon/human/procs/damage.dm
Owners: none

Update _std/__std.dme
  _std/__std.dme
Owners: none

ERROR: don't directly set plane to a number (#15949)
  _std/__std.dme
  _std/macros/debug.dm
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/WorkInProgress/artemis/background_stars.dm
  code/datums/character_preview.dm
  code/datums/viewport.dm
  code/modules/minimap/minimap_ui.dm
  maps/cogwip/kappa.dmm
  maps/cogwip/ships.dmm
  maps/setpieces/regina.dmm
  tools/ci/check_grep.sh
Owners: @ZeWaka

fix mpm stuff
  code/world/topic.dm
Owners: none

A few adjustments to the mostly unused self-charging Blaster types Now branded "GRF" for Giesel Radiofabrik. heh grife
  code/modules/projectiles/laser.dm
  code/modules/projectiles/special.dm
  code/obj/item/gun/energy.dm
Owners: none

Scale banana peel size to banana size
  code/modules/food_and_drink/plants.dm
Owners: none

fix batong
  code/z_adventurezones/morrigan.dm
Owners: none

oops
  icons/obj/adventurezones/Morrigan/weapons/weapon.dmi
Owners: none

minor adjustments
  code/modules/projectiles/laser.dm
  code/obj/item/gun/energy.dm
Owners: none

Fix flipping and inturrupt
  code/datums/actions/actions.dm
  code/obj/item/stun_baton.dm
  icons/mob/inhand/hand_weapons.dmi
Owners: none

Submit changes
  code/modules/medals/rewardsLocker.dm
Owners: none

Assign girder material when RCDs build stuff (#15948)
  code/obj/item/rcd.dm
Owners: none

Gun holster buff (#15925)
  code/obj/item/storage/backpack_belt_etc.dm
Owners: none

Changelog for #15925 [skip ci]
  strings/changelog.txt
Owners: none

.github/CODEOWNERS:

# This list auto-requests reviews from the specified users
# when a PR that modifies the file in question is opened
# See GitHub documentation for more details.
# This list is alphabetized by User -> Filename -- KEEP IT THAT WAY
# In the event that multiple members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Adharainspace
# /_std/ @Adharainspace

# Aloe
/code/mob/dead/ @frawhst

# Flourish
/code/obj/item/toys.dm @flrsh
/maps/oshan.dmm @flrsh

# Gannets
/code/datums/gamemodes/nuclear.dm @Gannets

# Kyle
/code/WorkInProgress/JobXpRewards.dm @Kyle2143
/code/modules/events/gimmick/kudzu.dm @Kyle2143
/code/datums/abilities/kudzumen.dm @Kyle2143
/code/datums/gamemodes/gangwar.dm @Kyle2143

# Mordent (mordent-goonstation)
/code/modules/robotics/ @mordent-goonstation

# Sord
/maps/donut2.dmm @Sord213

# Sovexe
/code/modules/antagonists/arcfiend/ @Sovexe

# Tarmunora
/code/modules/projectiles/projectile_parent.dm @Tarmunora
/code/modules/chemistry/Reagents-Base.dm @Tarmunora
/code/modules/chemistry/Reagents-Diseases.dm @Tarmunora
/code/modules/chemistry/Reagents-Drugs.dm @Tarmunora
/code/modules/chemistry/Reagents-ExplosiveFire.dm @Tarmunora
/code/modules/chemistry/Reagents-FoodDrink.dm @Tarmunora
/code/modules/chemistry/Reagents-Medical.dm @Tarmunora
/code/modules/chemistry/Reagents-Misc.dm @Tarmunora
/code/modules/chemistry/Reagents-PoisonEtc.dm @Tarmunora
/code/modules/chemistry/Chemistry-Recipes.dm @Tarmunora

# Walpvrgis
/icons/misc/critter.dmi @WALPVRGIS

# ZeWaka
*.md @ZeWaka
/.github/ @ZeWaka
/tools/ @ZeWaka

# Pali
/code/datums/components/ @pali6
/code/obj/artifacts/ @pali6
/code/datums/controllers/artifact_controls.dm @pali6
/code/WorkInProgress/pali.dm @pali6

# Multiple Owners
/tgui/ @mordent-goonstation @ZeWaka
