Repository goonstation/goonstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flrsh, @Kyle2143, @mordent-goonstation, @Tarmunora, @ZeWaka

Corpses dont shiver
  code/mob/living/life/bodytemp.dm
Owners: none

summon office
  code/WorkInProgress/gehenna.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
Owners: none

add some parentheses
  code/mob/living/life/bodytemp.dm
Owners: none

make office interactable
  code/WorkInProgress/gehenna.dm
  code/modules/admin/randomverbs.dm
  code/procs/gamehelpers.dm
  code/turf/turf.dm
  strings/admin_changelog.txt
Owners: none

put into chair
  code/modules/admin/randomverbs.dm
Owners: none

Summon Office (#2966)
  code/WorkInProgress/gehenna.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
  code/procs/gamehelpers.dm
  code/turf/turf.dm
  strings/admin_changelog.txt
Owners: none

More misc hats + new special baldcap
  code/obj/ToSplit/barber_shop.dm
  icons/mob/head.dmi
Owners: none

More misc hats + new special baldcap
  code/obj/ToSplit/barber_shop.dm
  icons/mob/head.dmi
Owners: none

old space helmet
  icons/mob/head.dmi
Owners: none

tinfoil hat
  icons/mob/head.dmi
Owners: none

electroplaters and nanofab
  maps/ozymandias.dmm
Owners: none

witchfinder hat
  icons/mob/head.dmi
Owners: none

electroplatesmas
  maps/kondaru.dmm
Owners: none

Ozymandias dec20 mini-fixbatch (#2900)
  maps/ozymandias.dmm
Owners: none

Changelog for #2900 [skip ci]
  strings/changelog.txt
Owners: none

cknight hood + cwhat (i have no idea what these are supposed to represent)
  icons/mob/head.dmi
Owners: none

fixed a bunch of cases where flags were accidentally removed in a child object
  code/WorkInProgress/Electronics.dm
  code/WorkInProgress/MarqStuff.dm
  code/WorkInProgress/dialogue/dialogue_NTcommander.dm
  code/datums/abilities/ability_parent.dm
  code/modules/materials/Mat_Processing.dm
  code/modules/medical/genetics/geneticsBooth.dm
  code/modules/power/furnace.dm
  code/modules/power/lighting.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/obj/item/chem_pill_bottle.dm
  code/obj/item/kitchen.dm
  code/obj/item/mops_cleaners.dm
  code/obj/item/storage/bible.dm
  code/obj/item/stun_baton.dm
  code/obj/machinery/launcherloader.dm
Owners: @mordent-goonstation

electroplatesmas (#2969)
  maps/kondaru.dmm
Owners: none

removed lagcheck from get_areas iterating over all areas should in theory be fast, byond optimizes that
  code/procs/gamehelpers.dm
Owners: none

-plater stuff
  code/obj/machinery/arc_electroplater.dm
Owners: none

removes onesizefitsall
  _std/defines/clothing.dm
  code/obj/item/clothing/armor.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/kendo.dm
Owners: none

removes references to the obesity bioeffect
  code/WorkInProgress/recycling/disposal.dm
  code/datums/abilities/werewolf.dm
  code/datums/abilities/werewolf/werewolf_pounce.dm
  code/datums/abilities/wizard/cluwne.dm
  code/datums/mutantraces.dm
  code/datums/traits_disused.dm
  code/mob.dm
  code/mob/living/carbon.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/mob/living/life/Life.dm
  code/mob/living/silicon/drone.dm
  code/mob/living/silicon/ghostdrone.dm
  code/mob/living/silicon/hivebot.dm
  code/mob/living/silicon/robot.dm
  code/mob/living/silicon/shell-JUNK.dm
  code/modules/admin/randomverbs.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/medical/diseases/heartdisease.dm
  code/modules/medical/diseases/malady.dm
  code/modules/medical/genetics/bioEffects/beneficial.dm
  code/modules/medical/genetics/bioEffects/harmful.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/medical/genetics/combo_recipes.dm
  code/obj/artifacts/artifact_objects/power_giver.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/grab.dm
  code/obj/item/uplinks.dm
  code/obj/table.dm
  code/procs/basketball.dm
  code/procs/jobprocs.dm
  code/procs/scanprocs.dm
Owners: @Kyle2143

removed a useless line
  code/datums/traits.dm
  code/procs/accents.dm
Owners: none

visual mirror improvements, summon office buffs
  code/RobustLight2.dm
  code/WorkInProgress/gehenna.dm
  code/modules/admin/randomverbs.dm
  code/turf/turf.dm
Owners: none

still wip on fishing animations
  code/WorkInProgress/AnimationLibrary.dm
  code/modules/fishing/fishing_gear.dm
  code/modules/fishing/fishing_spots.dm
Owners: none

Adds ways to earn bear hug and jiggling medal
  code/mob/living/critter/bear.dm
  code/obj/critter/big_animals.dm
  code/obj/critter/critter_parent.dm
  code/obj/critter/martian.dm
  code/obj/critter/misc.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/critter/spider.dm
  code/obj/item/toilets.dm
Owners: none

adds new way to get space ham
  code/datums/abilities/werewolf.dm
  code/obj/submachine/cooking.dm
Owners: none

Add some GPS markers for Horizon
  maps/horizon.dmm
Owners: none

bug fixes
  code/datums/mutantraces.dm
  code/modules/medical/genetics/bioEffects/powers.dm
Owners: none

Update code/mob/living/life/bodytemp.dm
  code/mob/living/life/bodytemp.dm
Owners: none

medal gourmand
  code/modules/food_and_drink/sandwiches.dm
Owners: none

corpses don't shiver (#2950)
  code/mob/living/life/bodytemp.dm
Owners: none

fix crashing from office summon, and minor changes
  code/modules/admin/randomverbs.dm
  code/procs/gamehelpers.dm
  code/turf/turf.dm
Owners: none

Move blob.dmi to blob_old.dmi to avoid confusion
  icons/mob/blob.dmi
  icons/mob/blob_old.dmi
Owners: none

fucked up something
  icons/mob/blob.dmi
Owners: none

hopefully unfucked up the thing i fucked up
  icons/mob/blob.dmi
Owners: none

Rename new_blob.dmi to blob.dmi and redirect missing references
  code/obj/blob.dm
  icons/mob/blob.dmi
  icons/mob/new_blob.dmi
Owners: none

fix layers
  code/modules/admin/randomverbs.dm
Owners: none

edit angled explosions
  code/datums/controllers/explosion_controls.dm
  code/modules/admin/debug.dm
Owners: none

Adds a custom suicide for the portable air pump (#2932)
  code/modules/atmospherics/portable/pump.dm
Owners: none

.github/CODEOWNERS:

# This list auto-requests reviews from the specified users
# when a PR that modifies the file in question is opened
# See GitHub documentation for more details.
# This list is alphabetized by User -> Filename -- KEEP IT THAT WAY
# In the event that multiple members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Flourish
/code/obj/item/toys.dm @flrsh
/maps/manta.dmm @flrsh
/maps/oshan.dmm @flrsh

# Kyle
/code/WorkInProgress/JobXpRewards.dm @Kyle2143
/code/obj/item/organs/ @Kyle2143
/code/obj/item/organ_holder.dm @Kyle2143
/code/modules/events/gimmick/kudzu.dm @Kyle2143
/code/datums/abilities/kudzumen.dm @Kyle2143
/code/datums/gamemodes/gangwar.dm @Kyle2143
/code/procs/jobprocs.dm @Kyle2143

# Mordent (mordent-goonstation)
/code/modules/robotics/ @mordent-goonstation

# Tarmunora
/code/modules/projectiles/projectile_parent.dm @Tarmunora

# ZeWaka
*.md @ZeWaka
/.github/ @ZeWaka
/tools/ @ZeWaka

# Multiple Owners
/tgui/ @mordent-goonstation @ZeWaka
