Repository goonstation/goonstation, pull requests merged in 2020-08, with the labels that each got.

#1659 Adds new cosmetic HUD option
  code/global.dm
  icons/mob/hud_human_vapor.dmi
Labels: feature, sprites

#1655 Improves Cogmap1 Burnchamber Radiator Pipe coverage
  maps/cogmap.dmm
Labels: mapping

#1650 Adding Photocopiers to more maps.
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/horizon.dmm
  maps/manta.dmm
  maps/oshan.dmm
Labels: mapping

#1681 Kondaru janitech addition (plus some riders)
  maps/kondaru.dmm
Labels: mapping

#1671 Fix the bee_sanctuary area's type inheritance
  assets/maps/prefabs/prefab_beesanctuary.dmm
  assets/maps/prefabs/prefab_water_beesanctuary.dmm
  code/area.dm
Labels: bug, mapping

#1555 Pop locks most maps above 80 players
  code/map.dm
Labels: balance, input wanted

#1680 fix cloaked panellus icon
  code/modules/hydroponics/plant_mutations.dm
Labels: bug - minor

#1692 Add Mordent as CODEOWNER for tgui and robotics
  .github/CODEOWNERS
Labels: github

#1607 UM-045 - New SMES Sprite
  icons/obj/power.dmi
Labels: sprites

#1687 Adds a safe version of Supply Drop
  code/modules/events/supply_drop.dm
Labels: feature

#1675 Fixes double bump when throwing items and bump fixes for the crusher
  code/WorkInProgress/recycling/crusher.dm
  code/atom/throwing.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/chemistry/tools/vendor_items.dm
  code/modules/medical/surgery_tools.dm
  code/turf/turf.dm
Labels: bug - major, runtime

#1599 Makes some auto-loading guns not act like revolvers
  code/obj/item/gun/kinetic.dm
Labels: feature

#1463 Guardbuddies can now use guns
  code/datums/syndicate_buylist.dm
  code/modules/robotics/bot/guardbot.dm
  icons/obj/bots/aibots.dmi
Labels: feature, input wanted, sprites

#1619 Yee no longer unmutates mutants
  code/modules/chemistry/Reagents-Misc.dm
Labels: feature

#1682 Add synthbutt head sprites, fix item sprite
  icons/mob/head.dmi
  icons/obj/surgery.dmi
Labels: bug - minor, sprites

#1686 UM-047 - QM Rebalance
  code/WorkInProgress/construction/supply_controller.dm
  code/datums/commodity.dm
  code/datums/supply_packs.dm
  code/modules/economy/shippingmarket.dm
  code/obj/storage/crates.dm
  code/obj/storage/secure_crates.dm
  icons/obj/large_storage.dmi
Labels: balance, bug - minor, feature, input wanted, sprites

#1702 Gunbuddy fixes
  code/datums/syndicate_buylist.dm
  code/modules/robotics/bot/guardbot.dm
Labels: bug

#1660 QoL improvements and bow buffs.
  code/WorkInProgress/MarqStuff.dm
Labels: QoL, balance, feature

#1679 fix teleporting out of pods
  code/mob.dm
  code/modules/transport/pods/vehicle.dm
Labels: bug

#1714 Fix Double Drop - remove turf/Entered call from mob/proc/drop_item
  code/mob.dm
Labels: bug, runtime

#1704 fix eaten bioeffect not displaying correctly
  code/modules/medical/genetics/bioEffects/non_genetic.dm
Labels: bug - minor

#1696 Rebrand to Check Bioeffects to Manage Bioeffects, add var edit link and a verb
  code/modules/admin/admin.dm
  code/modules/admin/admin_holder.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_panel.dm
Labels: feature

#1693 fix cryoxadone heating
  code/modules/chemistry/Reagents-Medical.dm
Labels: bug

#1684 Various updates to Cogmap 1 Engineering
  maps/cogmap.dmm
Labels: QoL, mapping

#1683 /proc/shoot_reflected_bounce improvements and Meowitzer sound / screen shake tweaks
  _std/_setup.dm
  code/modules/projectiles/energy_bolt.dm
  code/modules/projectiles/projectile_parent.dm
  code/modules/projectiles/special.dm
Labels: feature, rework

#1672 makes explosions more consistently delete objects
  code/obj.dm
Labels: feature

#1664 Lets players put contents of small storage items into disposals chutes.
  code/WorkInProgress/recycling/disposal_chute.dm
Labels: QoL, feature

#1611 Resprites manual valves, air injectors, pipe meters
  icons/obj/atmospherics/meter.dmi
  icons/obj/atmospherics/outlet_injector.dmi
  icons/obj/atmospherics/valve.dmi
Labels: sprites

#1553 make portable flasher not destroy some things that block them from view
  code/obj/machinery/flasher.dm
Labels: balance, removal

#1381 obj/critter opensdoors flags for none, public, and any
  _std/_setup.dm
  code/WorkInProgress/Azungarstuff.dm
  code/WorkInProgress/Hydrothings.dm
  code/datums/abilities/wraith.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/mob/living/carbon/human/machoman.dm
  code/mob/living/critter/mechmonstrosity.dm
  code/modules/holiday/spacemas.dm
  code/obj/critter/alien.dm
  code/obj/critter/automaton.dm
  code/obj/critter/bee.dm
  code/obj/critter/big_animals.dm
  code/obj/critter/critter_parent.dm
  code/obj/critter/drone.dm
  code/obj/critter/gunbot.dm
  code/obj/critter/headspider.dm
  code/obj/critter/helldrone.dm
  code/obj/critter/martian.dm
  code/obj/critter/martian_pets.dm
  code/obj/critter/miningcritters.dm
  code/obj/critter/misc.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/critter/plants.dm
  code/obj/critter/spider.dm
  code/obj/critter/wendigo.dm
  code/obj/critter/zombie.dm
  code/obj/machinery/door/door_parent.dm
  code/z_adventurezones/lavamoon.dm
  code/z_adventurezones/luna.dm
  code/z_adventurezones/mad_mars.dm
Labels: bug, input wanted

#1741 Fix access on Oshan mech lab & tool storage doors, pathology floor pattern
  maps/oshan.dmm
Labels: mapping

#1743 Tiny Kondaru fixes: forcefield dirs, button for QM export door
  maps/kondaru.dmm
Labels: bug - minor, mapping

#1705 fixes unlimited fire burp and rangefinding glitches.
  code/modules/status_system/statusFoodBuffs.dm
Labels: bug

#1751 Add documentation for a possible fix for a build error.
  .github/DEV_GUIDE.md
Labels: documentation, github

#1752 Remove use of symlinks for tgui build
  .gitignore
  browserassets/tgui/tgui-common.chunk.js
  browserassets/tgui/tgui-panel.bundle.css
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  browserassets/tgui/tgui.html
  code/modules/localassets/localassets_tgui.dm
  tgui/.eslintignore
  tgui/.gitignore
  tgui/bin/tgui
  tgui/packages/tgui/public/tgui-common.chunk.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/public/tgui.html
  tgui/packages/tgui/webpack.config.js
Labels: cleanliness, tgui, tooling

#1691 Refactor cyborg module rewriter to use tgui
  browserassets/css/robot_module_rewriter.css
  browserassets/html/robotModuleRewriter.html
  browserassets/js/robot_module_rewriter.js
  browserassets/tgui/tgui-common.chunk.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/robotics/robot/robot_module_rewriter.dm
  code/obj/machinery/computer.dm
  tgui/packages/common/bem.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/EmptyPlaceholder/index.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/Module.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/Tool.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/Tools.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/index.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/style.js
  tgui/packages/tgui/styles/interfaces/CyborgModuleRewriter.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/util/bem.js
Labels: cleanliness, feature, merge conflict, tgui

#1748 Adds bible healing as way to earn chaplain job xp
  code/obj/item/storage/bible.dm
Labels: feature

#1744 Cyborgs can't cook (also dirty microwave text)
  code/obj/machinery/deep_fryer.dm
  code/obj/machinery/microwave.dm
  code/obj/submachine/cooking.dm
Labels: bug

#1762 Refactor cyborg module `modules` var name to `tools`
  code/WorkInProgress/module_research.dm
  code/datums/hud/robot.dm
  code/datums/hud/shell.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/hivebot.dm
  code/mob/living/silicon/hivebot/hive_modules.dm
  code/mob/living/silicon/robot.dm
  code/modules/robotics/robot/module/parent.dm
  code/modules/robotics/robot/robot_module_rewriter.dm
  code/obj/submachine/robotics.dm
Labels: cleanliness

#1477 Stop the cocktail shaker from getting reclaimed in the glass recycler
  code/modules/chemistry/tools/food_and_drink.dm
  code/obj/machinery/glass_recycler.dm
Labels: bug

#1763 Vending machines no longer erroneously take from machine credit instead of account
  code/modules/vending/vending.dm
Labels: bug

#1755 adds janivend to oshan's janitor closet
  maps/oshan.dmm
Labels: feature, mapping

#1685 Adds a tgui interface for the slot machine
  browserassets/tgui/tgui-common.chunk.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/dispenser.dm
  code/obj/submachine/slots.dm
  tgui/packages/tgui/interfaces/SlotMachine.js
Labels: feature, tgui

#1700 Added 3 new floorguide decals and revamped art on others
  code/obj/decal.dm
  icons/obj/decals/floorguides.dmi
Labels: sprites

#1627 Beepsky can be fully rebuilt and drops a special baton
  code/modules/robotics/bot/secbot.dm
  code/obj/item/stun_baton.dm
Labels: feature

#1257 MechComp components containers, portable mechcomp
  _std/component_defines.dm
  code/WorkInProgress/MechanicMC14500.dm
  code/WorkInProgress/MechanicMadness.dm
  code/WorkInProgress/MechanicsNetworkCon.dm
  code/datums/components/mechComp_signals.dm
  code/modules/vending/vending.dm
  code/obj/storage/secure_closets.dm
  icons/misc/mechanicsExpansion.dmi
Labels: feature, input wanted, sprites

#1583 Artifact Tweak
  code/obj/artifacts/artifact_items/energy_gun.dm
  code/obj/artifacts/artifact_items/mining_tool.dm
  code/obj/artifacts/artifact_items/power_cell.dm
  code/obj/artifacts/artifact_items/watering_can.dm
  code/obj/artifacts/artifact_machines/grav_well.dm
  code/obj/artifacts/artifact_machines/heater.dm
  code/obj/artifacts/artifact_objects/healer.dm
  code/obj/artifacts/artifact_objects/power_gen.dm
  code/obj/artifacts/artifact_objects/recaller.dm
  code/obj/artifacts/artifactdatums.dm
  code/obj/artifacts/artifactprocs.dm
Labels: balance

#1620 Extends the clothing booth catalogue
  assets/maps/prefabs/prefab_water_blindpig.dmm
  code/modules/vending/clothingbooth_items.dm
  code/obj/item/clothing/uniforms.dm
  maps/manta.dmm
Labels: feature, mapping

#1698 Added new pyro airlock variants
  code/obj/machinery/door/airlock.dm
  code/turf/turf_autoalign.dm
  icons/obj/doors/SL_doors.dmi
Labels: sprites

#1726 Assorted paper, folder, clipboard fixes and tweaks
  code/obj/item/paper.dm
  code/obj/item/pens_writing_etc.dm
  code/obj/storage/closets.dm
  icons/mob/inhand/hand_books.dmi
Labels: QoL, cleanliness, sprites

#1771 Fix heavenly spawn when usr.loc isnt a turf
  code/modules/admin/admin.dm
Labels: bug

#1719 Add Spawn-Supplydrop and supplydrop build mode cinematic
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/buildmodes/spawn_single.dm
  code/modules/admin/buildmodes/spawn_wide.dm
  code/modules/events/supply_drop.dm
  strings/admin_changelog.txt
Labels: feature

#1764 DMM Suite reader now supports TGM files
  code/z_dmm_suite/reader.dm
Labels: bug - major

#1665 Resprites borg tools, adds borg lamp manufacturer
  code/mob/living/silicon/ghostdrone.dm
  code/modules/atmospherics/portable/canister.dm
  code/modules/atmospherics/portable/pump.dm
  code/modules/atmospherics/portable/scrubber.dm
  code/modules/fluids/fluid_objects.dm
  code/modules/power/lighting.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
  code/obj/item/tool/omnitool.dm
  code/obj/submachine/robotics.dm
  icons/obj/items/device.dmi
  icons/obj/items/tools/omnitool.dmi
Labels: QoL, feature, sprites

#1759 Feature: Drink Chugging
  code/modules/chemistry/tools/food_and_drink.dm
Labels: feature

#1758 adds blob life loop multiplier
  code/mob/living/intangible/blob_overmind.dm
Labels: balance, cleanliness, input wanted

#1781 Correct coordinate logging when sending a mob
  code/modules/admin/adminjump.dm
Labels: bug

#1785 Ghost Drone Glow Fix
  code/mob/living/silicon/ghostdrone.dm
Labels: bug

#1753 Cogmap 1 Modernisation & Access Updates
  maps/cogmap.dmm
Labels: QoL, mapping

#1736 Fixes pods refusing part changes, makes telecrystal procs more efficient I guess
  code/datums/hud/pod.dm
  code/mob.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/transport/pods/ships.dm
  code/modules/transport/pods/vehicle.dm
Labels: bug

#1721 Yacht dice score sheets
  code/modules/vending/vending.dm
  code/obj/item/yacht_dice_sheet.dm
  goonstation.dme
Labels: feature

#1537 2x Z5 Prefabs (Discount Dan's AND Clownspiders)
  assets/maps/prefabs/prefab_clown_nest.dmm
  assets/maps/prefabs/prefab_dans_asteroid.dmm
  code/area.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/drinks.dm
  code/modules/worldgen/GenerateMining.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/device/lights.dm
  code/obj/item/paper.dm
  code/obj/item/storage/secure_safe.dm
  code/obj/storage/crates.dm
  code/obj/storage/large_storage_parent.dm
  code/obj/storage/secure_closets.dm
  icons/mob/head.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/large_storage.dmi
Labels: feature, mapping, sprites

#1694 Resprites captain spacesuit, adds captain backpack
  code/WorkInProgress/rewardsLocker.dm
  code/datums/jobs.dm
  code/obj/item/storage/backpack_belt_etc.dm
  icons/mob/back.dmi
  icons/mob/inhand/hand_storage.dmi
  icons/mob/overcoats/worn_suit_hazard.dmi
  icons/obj/clothing/overcoats/item_suit_hazard.dmi
  icons/obj/items/storage.dmi
Labels: merge conflict, sprites

#1791 Loose borg parts now have appropriate/non-generic sprites
  code/mob/living/silicon/robot.dm
  code/obj/item/mob_parts/robot_parts.dm
  icons/mob/robots.dmi
  icons/obj/robot_parts.dmi
Labels: cleanliness, sprites

#1795 fix beemom protection etc
  code/mob/melee_attack_procs.dm
Labels: bug

#1731 Neon lining.
  code/datums/supply_packs.dm
  code/obj/item/neon_lining.dm
  code/obj/item/paper.dm
  code/obj/neon_lining.dm
  goonstation.dme
  icons/obj/decals/neon_lining.dmi
Labels: feature, sprites

#1710 Cyberappendix tweak
  code/modules/medical/diseases/organ_diseases/appendicitis.dm
  code/obj/item/organs/appendix.dm
Labels: balance

#1750 Adds a DIY holy water kit to the Chaplains locker
  code/modules/chemistry/tools/bottles.dm
  code/obj/item/storage/misc.dm
  code/obj/storage/secure_closets.dm
Labels: feature

#1794 Fix reloading riotguns with custom shells
  code/obj/item/gun/ammo.dm
Labels: bug - major

#1782 Cleanup refs to circulators on TEG generator if they are deleted
  code/WorkInProgress/TempEngine.dm
Labels: bug, runtime

#1774 Added ishuman check to rev-by-beating
  code/mob/melee_attack_procs.dm
Labels: bug

#1806 UM-050 - Some Manta Map Adjustments
  maps/manta.dmm
Labels: feature, mapping

#1790 adds a way to right tipped over vending machines
  code/modules/vending/vending.dm
Labels: cleanliness, feature

#1801 Make Slow atmos processing on water maps more extreme
  code/modules/admin/lag_hacks.dm
Labels: QoL, feature

#1749 Interacting with a sink with a soup pot will fill it with water
  code/obj/submachine/cooking.dm
Labels: QoL, feature

#1810 Removed extra mailchute from Cog2 medbay
  maps/cogmap2.dmm
Labels: mapping

#1525 Monkey: Replace Table-Walk With Table-Parkour
  code/datums/mutantraces.dm
  code/obj/railing.dm
  code/obj/table.dm
  code/procs/gamehelpers.dm
Labels: balance, input wanted, rework

#1811 Kondaru august fix batch #1
  maps/kondaru.dmm
Labels: feature, mapping

#1809 Replace Component Cabinets in Mechanic's lockers with frames
  code/WorkInProgress/MechanicMadness.dm
  code/obj/storage/secure_closets.dm
Labels: feature

#1799 Change dark mode colors for Admin Help and ADMIN LOG
  browserassets/css/browserOutput.css
  code/client.dm
  code/modules/admin/adminhelp.dm
Labels: QoL, feature

#1820 my office :)
  code/obj/item/clothing/hats.dm
  code/z_adventurezones/earth.dm
  maps/z2.dmm
Labels: mapping

#1825 Prevent pressing mechcomp button when hitting it with a multitool
  code/WorkInProgress/MechanicMadness.dm
Labels: bug

#1709 Trading works for herb subtypes
  code/datums/commodity.dm
  code/modules/economy/trader.dm
  code/procs/helpers.dm
Labels: balance, bug

#1840 Fixed runtime in get_desc
  code/mob/living/carbon/human/procs/get_desc.dm
Labels: bug, cleanliness

#1836 Fixed simplelight bug with engineering helmets
  code/obj/item/clothing/helmets.dm
  code/obj/item/storage/small_storage_parent.dm
  code/obj/storage/wall_cabinet.dm
Labels: bug, cleanliness

#1793 tweak nitro explosion radius
  code/modules/chemistry/Reagents-Misc.dm
Labels: balance

#1837 Fixed ghost prompt in cryo storage
  code/mob/dead/observer.dm
Labels: bug

#1839 Mentor mice improvements
  browserassets/html/ghostcritter_mentor.html
  code/client.dm
  code/mob/dead/mentor_mouse_observer.dm
  code/mob/dead/target_observer.dm
  code/mob/living.dm
  code/mob/living/critter/small_animal.dm
  code/modules/admin/adminhelp.dm
  code/obj/critter/pets_small_animals.dm
  code/procs/helpers.dm
  strings/mentor_mice_prefixes.txt
Labels: QoL, bug

#1824 Mushroom Updates & Complete Re-Wire
  maps/unused/mushroom_new_walls.dmm
Labels: mapping

#1858 Fixes horizon armory door
  maps/horizon.dmm
Labels: bug, mapping

#1862 Stops device analysers from scanning objects queued for deletion.
  code/WorkInProgress/Electronics.dm
  code/obj/item/device/pda2/scanners.dm
Labels: bug

#1861 Added end thingies to containment fields to make them look gooder
  code/obj/machinery/singularity.dm
  icons/obj/singularity.dmi
Labels: sprites

#1851 adds a multiplier to non-pathology virus life loop
  code/datums/disease.dm
  code/mob/living/life/viruses.dm
Labels: cleanliness, feature

#1829 Adding Spacemen the Grifening rulebook
  code/modules/vending/vending.dm
  code/obj/item/book.dm
Labels: feature

#1822 Z5 Prefab: Drug Den; Feature: Discount Sleepy Pen
  assets/maps/prefabs/prefab_drug_den.dmm
  code/area.dm
  code/modules/chemistry/tools/sleepy_pen.dm
  code/modules/worldgen/GenerateMining.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/item/paper.dm
  code/obj/neon_lining.dm
  icons/obj/writing.dmi
Labels: balance, feature, mapping, sprites

#1823 Z5 prefab generation increase
  _std/_setup.dm
Labels: balance

#1788 Add some z-level sanity checks to the ocean mobs
  code/mob/living/critter/ai/ocean.dm
Labels: bug

#1852 AI Text Status
  code/mob/living/silicon/ai.dm
  icons/mob/ai.dmi
Labels: feature, sprites

#1850 Tactical flamethrower
  assets/maps/prefabs/prefab_janitor.dmm
  code/WorkInProgress/ud5/backup/z7_urs_dungeon_5.dmm
  code/datums/supply_packs.dm
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/tools/dispensers.dm
  code/modules/tutorials/blob_tutorial.dm
  code/obj/item/flamethrower.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/tool/weldingtool.dm
  code/obj/machinery/autolathe.dm
  code/obj/storage/crates.dm
  code/obj/storage/secure_crates.dm
  code/procs/scanprocs.dm
  icons/mob/back.dmi
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/items/tank.dmi
  icons/obj/items/weapons.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap_xmas_2019.dmm
  maps/manta.dmm
  maps/manta_christmas.dmm
  maps/manta_damaged.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/setpieces/owlzone.dmm
  maps/unused/oshan_xmas_2018.dmm
  maps/z2.dmm
Labels: feature, mapping, sprites

#1832 adds a 13 round time gate to security.
  code/datums/jobs.dm
  code/datums/preferences.dm
  code/mob/new_player.dm
  code/player.dm
Labels: cleanliness, feature

#1849 Cleans up light swapping code, fixes inconsistent lamp swapping
  code/RobustLight2.dm
  code/area.dm
  code/modules/power/lighting.dm
Labels: bug, cleanliness, help wanted

#1876 fixes bug which prevented manta from stopping
  code/WorkInProgress/mantaObjects.dm
Labels: bug

#1843 TGUI Admin DJ Panel
  browserassets/tgui/tgui-common.chunk.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.js
  code/global.dm
  code/modules/admin/admin.dm
  code/modules/sound/djpanel.dm
  code/modules/sound/djpanel_chui.dm
  code/modules/sound/playsound.dm
  goonstation.dme
  tgui/README.md
  tgui/packages/tgui/format.js
  tgui/packages/tgui/interfaces/DJPanel.js
  tgui/packages/tgui/interfaces/SlotMachine.js
Labels: documentation, feature, tgui

#1882 fix hunter popup
  _std/macros/_antag_popups.dm
  code/datums/abilities/hunter.dm
Labels: bug - minor

#1883 Small rod changes
  code/datums/manufacturing.dm
  code/obj/item/building_materials.dm
  code/obj/machinery/manufacturer.dm
Labels: balance, bug - minor

#1912 Removed duplicate items already present in adventure chest
  maps/oshan.dmm
Labels: mapping

#1887 records latejoins as participations
  _std/__std.dme
  _std/_setup.dm
  _std/defines/__units.dm
  _std/defines/_shuttle.dm
  code/mob/new_player.dm
  code/modules/transport/shuttle/shuttle_controller.dm
Labels: cleanliness, feature

#1892 Stop reinforced floors spawning tiles for crowbar special
  code/turf/floors.dm
Labels: bug - minor

#1915 Added siren helmets to gimmick wardrobe and removed the hardcoded items from maps
  code/obj/storage/wardrobes.dm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogmap_xmas_2019.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/donut3_xmas.dmm
  maps/icarus.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/manta_christmas.dmm
  maps/manta_damaged.dmm
  maps/pamgoc.dmm
  maps/unused/cogmap.dmm
  maps/unused/cogmap_new_walls_xmas_2017.dmm
  maps/unused/cogmap_xmas_2018.dmm
  maps/unused/destiny_xmas_2017.dmm
Labels: mapping

#1913 Muzzle flash improvements
  code/WorkInProgress/AnimationLibrary.dm
  code/modules/projectiles/disruptor_bolt.dm
  code/modules/projectiles/teleport.dm
  code/modules/projectiles/wavegun.dm
  code/obj/item/gun/gun_parent.dm
Labels: feature

#1920 artifact pitcher fix
  code/datums/controllers/artifact_controls.dm
  code/modules/networks/computer3/mainframe2/misc_terms.dm
Labels: bug - major, feature

#1930 fix runtime on muzzle flashes
  code/WorkInProgress/AnimationLibrary.dm
Labels: bug - major, runtime

#1931 bandaid fix for blocks sticking to items. fix this later
  code/mob/melee_attack_procs.dm
Labels: bug

#1802 Gas canister & gas tank UI ported to TGUI
  _std/atmos.dm
  browserassets/tgui/tgui-common.chunk.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/atmospherics/portable/canister.dm
  code/modules/atmospherics/portable/portable_atmospherics.dm
  code/modules/tgui/tgui.dm
  code/obj/item/assembly/detonator.dm
  code/obj/item/device/timer.dm
  code/obj/item/tank.dm
  tgui/packages/tgui/components/TimeDisplay.js
  tgui/packages/tgui/format.js
  tgui/packages/tgui/interfaces/GasCanister.js
  tgui/packages/tgui/interfaces/GasCanister/Detonator.js
  tgui/packages/tgui/interfaces/GasCanister/DetonatorTimer.js
  tgui/packages/tgui/interfaces/GasTank.js
  tgui/packages/tgui/interfaces/common/PortableAtmos.js
  tgui/packages/tgui/interfaces/common/PressureBar.js
  tgui/packages/tgui/interfaces/common/ReleaseValve.js
  tgui/packages/tgui/styles/interfaces/GasCanister.scss
  tgui/packages/tgui/styles/interfaces/PortableAtmos.scss
  tgui/packages/tgui/styles/main.scss
Labels: feature, tgui

#1891 Gives AIs and Cyborgs su access
  code/modules/networks/computer3/terminal.dm
Labels: balance

#1938 Fixed an issue where canister release valves weren't closing automatically
  code/modules/atmospherics/portable/canister.dm
Labels: bug - minor

#1845 Vode magnesium pile fix
  code/modules/status_system/statusFoodBuffs.dm
  code/obj/decal/cleanable.dm
Labels: bug

#1927 Ghost drones can't duplicate popsicles
  code/obj/item/magtractor.dm
Labels: bug

#1918 med and small spiders cant grab anymore
  code/mob/living/critter/spider.dm
Labels: balance

#1243 Reworked specialized medkit contents
  code/datums/commodity.dm
  code/modules/chemistry/tools/emergency_injectors.dm
  code/modules/economy/trader.dm
  code/obj/item/storage/med_chem.dm
  code/obj/storage/loot_crates.dm
Labels: balance, feature, input wanted

#1941 Minor artifact text fix
  code/obj/artifacts/artifactprocs.dm
Labels: bug - trivial

#1939 Unused Artifact Features
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/obj/artifacts/artifact_machines/heal_field.dm
  code/obj/artifacts/artifact_machines/heater.dm
  code/obj/artifacts/artifact_machines/noise_maker.dm
  code/obj/artifacts/artifact_objects/bombs.dm
  code/obj/artifacts/artifact_objects/injector.dm
  code/obj/artifacts/artifactprocs.dm
  code/obj/artifacts/artifacts.dm
Labels: bug - major, feature

#1943 Kondaru aug20 fix batch #2
  maps/kondaru.dmm
Labels: mapping

#1873 Ipecacuanha, a new botany plant.
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_herb.dm
  code/obj/item/plants.dm
  icons/obj/hydroponics/items_hydroponics.dmi
  icons/obj/hydroponics/plants_herb.dmi
Labels: feature, sprites

#1884 Moves lunchboxes from being a Spacebux item to being a Trait item.
  code/datums/traits.dm
  code/modules/vending/vending.dm
  code/procs/jobprocs.dm
Labels: feature

#1831 Gives werewolves a dog accent and colorblindness
  _std/_setup.dm
  _std/mob_properties.dm
  code/datums/mutantraces.dm
  code/mob.dm
  code/modules/medical/genetics/bioEffects/harmful.dm
  code/modules/medical/genetics/bioEffects/speech.dm
  code/procs/accents.dm
  strings/language/scoob.txt
Labels: balance, feature

#1900 Held items are preserved for non-roundstart antags and freezernerds
  code/datums/gameticker.dm
Labels: feature

#1942 make combat flips (suplex/drunkflip) interrupt action bars that are interrupted by acting
  code/mob/living/carbon/human/procs/emote.dm
Labels: balance

#1826 Add MechComp association component
  code/WorkInProgress/MechanicMadness.dm
  code/modules/vending/vending.dm
  icons/misc/mechanicsExpansion.dmi
Labels: feature, sprites

#1951 Fix ahelp correspondence color
  code/modules/admin/adminhelp.dm
Labels: bug

#1955 Lets bees wear butts again
  code/obj/critter/bee.dm
  icons/misc/bee.dmi
Labels: sprites

#1936 Change cog1 barman room area from Bar to Bar Office
  maps/cogmap.dmm
Labels: mapping

#1888 Adds machinery process mult
  code/datums/controllers/process/machines.dm
  code/obj/machinery.dm
  code/obj/machinery/manufacturer.dm
  code/obj/machinery/recharger.dm
Labels: feature

#1957 ai can no longer remove apc cells
  code/modules/power/apc.dm
Labels: bug - minor

#1956 Monkey doesn't burn itself when going bump anymore
  code/obj/mopbucket.dm
  code/obj/railing.dm
  code/obj/storage/large_storage_parent.dm
Labels: bug - minor

#1960 Added amount to sweet_tea for hottoddy recipe
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: cleanliness

#1948 TGUI SMES
  browserassets/tgui/tgui-common.chunk.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.js
  code/modules/power/smes.dm
  tgui/packages/tgui/interfaces/Smes.js
Labels: bug - minor, feature, tgui

#1777 Gunbuddy tweaks
  code/modules/robotics/bot/guardbot.dm
Labels: balance, feature

#1842 Defibrillation prevents flatlining and makes it easier to cure
  _std/macros/mob_properties.dm
  code/datums/disease.dm
  code/mob/living/life/critical.dm
  code/modules/medical/diseases/malady.dm
  code/modules/medical/surgery_tools.dm
  code/modules/status_system/statusSystem.dm
Labels: balance, feature

#1962 Replaces the red cross with a symbol that doesn't violate the Geneva Convention
  _std/__std.dme
  _std/_setup.dm
  _std/ass_jam.dm
  code/mob.dm
  code/modules/networks/computer3/computer3.dm
  code/modules/vending/vending.dm
  code/obj/item/book.dm
  code/obj/item/generic_box.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/storage/med_chem.dm
  code/obj/machinery/porters.dm
  code/obj/storage/crates.dm
  code/obj/storage/secure_closets.dm
  code/obj/storage/wall_cabinet.dm
Labels: ass-jam

#1964 Defib tweaks and bugfixes
  _std/macros/mob_properties.dm
  code/datums/disease.dm
  code/mob/living/life/critical.dm
  code/modules/medical/diseases/malady.dm
  code/modules/medical/surgery_tools.dm
  code/modules/status_system/statusSystem.dm
Labels: bug

#1963 Minor sprite & typo fixes
  code/datums/controllers/artifact_controls.dm
  code/obj/item/clothing/uniforms.dm
  icons/mob/eyes.dmi
  icons/mob/overcoats/worn_suit_gimmick.dmi
  icons/obj/surgery.dmi
Labels: bug - minor, bug - trivial, cleanliness, sprites

#1959 slotting in a new cartridge now autoremoves the old one
  code/obj/item/device/pda2/pda2.dm
Labels: QoL, feature

#1949 Change some mult-adjusted probs to use proper math instead of a simple multiplication
  _std/math.dm
  code/datums/disease.dm
  code/mob/living/life/blood.dm
  code/mob/living/life/critical.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/obj/item/organs/appendix.dm
Labels: cleanliness

#1944 New map: Ozymandias
  _std/__build.dm
  code/map.dm
  code/obj/machinery/launcherloader_ozy.dm
  goonstation.dme
  maps/config/map.dm
  maps/config/ozymandias.dm
  maps/ozymandias.dmm
Labels: feature, mapping

#1971 Ejecting beaker from chemdisps now go into hand / Interface opens on insertion
  code/modules/chemistry/Chemistry-Dispenser.dm
Labels: QoL, bug - minor

#1950 Minor slipping fix
  code/modules/chemistry/Reagents-Misc.dm
  code/procs/mob_procs.dm
Labels: bug - minor

#1935 butt removal surgery (removes the Dummy Thick trait)
  code/datums/traits.dm
Labels: removal

#1975 Potential performance upgrade for process_cell()
  code/modules/atmospherics/FEA_turf_tile.dm
Labels: performance

#1923 Security Department Table Defibrillators
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
Labels: feature, input wanted, mapping
