Repository goonstation/goonstation, pull requests merged in 2020-10, with the labels that each got.

#2324 Missing lsbee sprites
  icons/misc/bee.dmi
Labels: bug - minor, sprites

#2326 Revert "Adds More Antagifiers in Muderbox"
  code/datums/abilities/ability_parent.dm
  code/modules/admin/antagifiers.dm
  maps/z2.dmm
Labels: mapping

#2336 Mouse Dance 2: The Redancening
  code/WorkInProgress/AnimationLibrary.dm
  code/mob/living/critter/small_animal.dm
Labels: feature

#2332 Spooky Nukie names for Halloween Mode
  code/datums/gamemodes/nuclear.dm
Labels: feature

#2340 Fix swiping Jones with the catcoin card
  code/obj/critter/pets_small_animals.dm
  code/obj/item/card.dm
Labels: bug

#2304 Updated a few places to have them use the new portal sprites. Added a grayscale portal sprite.
  code/WorkInProgress/actuallyKeelinsStuff.dm
  icons/obj/anomalies.dmi
  icons/obj/stationobjs.dmi
Labels: sprites

#2334 Medical borgs now have a new, hypospray like tool with regenerating medicine
  code/modules/chemistry/tools/robospray.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
  goonstation.dme
  icons/obj/chemical.dmi
Labels: WIP, balance, feature, input wanted, sprites

#2025 Cloning Console tgui
  browserassets/tgui/tgui-common.chunk.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/medical/genetics/portaclone.dm
  code/obj/item/implant.dm
  code/obj/machinery/clonepod.dm
  code/obj/machinery/computer/cloning.dm
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/HealthStat.js
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/CloningConsole.js
  tgui/packages/tgui/styles/interfaces/CloningConsole.scss
  tgui/packages/tgui/styles/main.scss
Labels: documentation, feature, tgui

#2353 New crow sprites by AberrantQuerist
  icons/misc/bird.dmi
Labels: sprites

#2355 New drone sprites by Flaborized
  icons/obj/ship.dmi
Labels: sprites

#2289 Farts No Longer Stuck forever
  code/modules/materials/Mat_MaterialProcs.dm
Labels: balance, rework

#2316 Makes Material Processor Deconstructable/Scanable
  code/modules/materials/Mat_Processing.dm
Labels: QoL

#2320 Fixes liqour colours to be accurate
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: QoL

#2339 Lets you dissolve pills by attacking them with a container
  code/modules/chemistry/tools/pills.dm
Labels: QoL, feature

#2352 More Robust Vending Machine Logging
  code/modules/vending/vending.dm
Labels: feature

#2187 Chameleon gene fix
  code/modules/medical/genetics/bioEffects/powers.dm
Labels: balance, bug, bug - minor

#2288 Choking Changes
  _std/defines/clothing.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/grab.dm
Labels: balance

#2359 Fixes set-env depreciation for Beepsky
  .github/workflows/beepsky.yml
Labels: github

#2348 ghosts respawned as ghost critters/afterlife bar/ghost vr are scannable/cloneable
  code/obj/machinery/computer/cloning.dm
Labels: cleanliness, feature

#2357 New radio station tape - Cloning PSA
  code/modules/telescience/radiostation.dm
  maps/manta.dmm
  maps/oshan.dmm
  maps/z3.dmm
  sound/radio_station/cloning_psa.ogg
Labels: feature, mapping, sound

#2364 reclaimer didn't update stack count
  code/obj/item/material.dm
Labels: bug - minor, cleanliness

#2365 Constable Helmet Directional Sprites
  icons/mob/head.dmi
Labels: sprites

#2354 New misc spooky sprites by Flaborized
  code/mob/wraith.dm
  icons/effects/genetics.dmi
  icons/mob/human.dmi
  icons/mob/mob.dmi
Labels: sprites

#2369 Radioactive_Burst gets a toxic Bite
  code/modules/events/radiation.dm
Labels: bug

#2312 Bees talk to you while high on THC
  code/modules/chemistry/Reagents-Drugs.dm
  strings/shit_bees_say_when_youre_high.txt
Labels: feature, input wanted

#2380 Fixed AI and cyborg cartridge spawning in spare pda box
  code/obj/item/storage/electronics.dm
Labels: bug

#2367 GitHub button on right panel
  code/client.dm
  code/interface.dm
  interface/skin.dmf
Labels: feature

#2373 Chemicompiler refactor and bug fix
  _std/__std.dme
  _std/defines/chemicompiler.dm
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/chemicompiler_core.dm
  code/modules/fluids/fluid_procs.dm
Labels: bug

#2358 Cloning console patch 1
  browserassets/tgui/tgui-common.chunk.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/paper.dm
  code/obj/machinery/computer/cloning.dm
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/HealthStat.js
  tgui/packages/tgui/components/Icon.js
  tgui/packages/tgui/interfaces/CloningConsole.js
  tgui/packages/tgui/styles/components/Icon.scss
  tgui/packages/tgui/styles/interfaces/CloningConsole.scss
  tgui/packages/tgui/styles/main.scss
Labels: balance, bug, documentation, feature, tgui

#2350 New Bee: Chromatic Space Bee.
  code/obj/critter/bee.dm
  icons/misc/bee.dmi
Labels: sprites

#2381 Fixed scanning ability icons.
  code/obj/item/device/scanners.dm
  code/procs/scanprocs.dm
Labels: bug

#2374 nanofab attackby checks if item is deconstructor
  code/modules/materials/Mat_Fabrication.dm
Labels: bug - minor

#2375 Miner dwarfism no longer overrides trait race
  code/datums/jobs.dm
  code/datums/mutantraces.dm
  code/modules/medical/genetics/bioEffects/mutantrace.dm
  code/modules/medical/genetics/bioEffects/useless.dm
  code/modules/medical/genetics/bioHolder.dm
  code/modules/medical/genetics/combo_recipes.dm
Labels: bug - minor

#2384 Improved documentation for _std
  _std/__std.dme
  _std/defines/component_defines.dm
  _std/defines/construction.dm
  _std/defines/landmarks.dm
  _std/defines/mob.dm
  _std/defines/obj.dm
  _std/defines/radio.dm
  _std/defines/robot.dm
  _std/defines/shuttle.dm
  _std/defines/stamina.dm
  _std/macros/_metamacros.dm
  _std/macros/area.dm
  _std/macros/atmos.dm
  _std/macros/client.dm
  _std/macros/cooldown.dm
  _std/macros/dir.dm
  _std/macros/dist.dm
  _std/macros/fluid_defines.dm
  _std/macros/ismob.dm
  _std/macros/items.dm
  _std/macros/job_xp.dm
  _std/macros/maps.dm
  _std/macros/procs.dm
  _std/macros/strings.dm
  _std/macros/time.dm
  _std/macros/turf.dm
  _std/macros/twitch_sbill.dm
Labels: documentation

#2382 DWAINE sleep now reads input in seconds
  code/modules/networks/computer3/mainframe2/shell.dm
Labels: balance

#2371 "This object menaces with spikes of..." reintroduced for making a really good mining tool
  _std/__std.dme
  _std/defines/medals.dm
  code/modules/materials/Mat_FabRecipes.dm
Labels: feature

#2341 Atmos+camnet optimizations
  .github/CODE_GUIDELINES.md
  _std/macros/atmos.dm
  code/mob/dead/ai-camera.dm
  code/modules/atmospherics/FEA_DEBUG.dm
  code/modules/atmospherics/FEA_airgroup.dm
  code/modules/atmospherics/FEA_fire.dm
  code/modules/atmospherics/FEA_gas_mixture.dm
  code/modules/atmospherics/FEA_object_tile.dm
  code/modules/atmospherics/FEA_system.dm
  code/modules/atmospherics/FEA_turf_tile.dm
  code/modules/atmospherics/machinery/filter.dm
  code/modules/atmospherics/machinery/mixer.dm
  code/modules/atmospherics/machinery/retrofilter.dm
  code/modules/atmospherics/machinery/unary/vent_scrubber.dm
  code/modules/atmospherics/portable/portable_atmospherics.dm
  code/modules/atmospherics/portable/scrubber.dm
  code/obj/machinery/camera.dm
  code/turf/turf.dm
Labels: cleanliness, documentation, github, performance, style

#2391 Makes the rainbow watering can cycle colours
  icons/obj/hydroponics/items_hydroponics.dmi
Labels: feature, sprites

#2368 Health Display Improvements for HUD themes
  code/global.dm
  icons/mob/hud_human.dmi
  icons/mob/hud_human_new.dmi
  icons/mob/hud_human_new_colorblind.dmi
  icons/mob/hud_human_quilty.dmi
  icons/mob/hud_human_vapor.dmi
Labels: sprites

#2385 Fixes lighting soup pots with broken matches
  code/obj/item/cigarette.dm
  code/obj/soup_pot.dm
Labels: bug - minor

#2397 fixes #2396
  code/obj/machinery/computer/cloning.dm
Labels: bug

#2398 Gives Atlas a disposals pipe dispenser
  maps/atlas.dmm
Labels: mapping

#2372 Radioactive pulse event gets neutron bursts
  code/mob.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/events/radiation.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/status_system/statusSystem.dm
  code/procs/scanprocs.dm
  icons/ui/statussystem.dmi
Labels: feature, sprites

#2403 Sord's Admin Office
  code/z_adventurezones/earth.dm
  maps/z2.dmm
Labels: mapping

#2405 Clearer space diner area names
  code/area.dm
Labels: bug, feature

#2416 New Janitor job rewards + changes
  code/WorkInProgress/JobXPRewards.dm
  code/modules/vending/vending.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/mops_cleaners.dm
  icons/mob/head.dmi
  icons/mob/inhand/hand_tools.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/janitor.dmi
Labels: feature, sprites

#2404 Mark's Admin Office
  code/z_adventurezones/earth.dm
  maps/z2.dmm
Labels: mapping

#2412 Fixed saving status and added a message when the disk is full.
  code/obj/machinery/computer/cloning.dm
Labels: bug

#2406 Neutronium!
  code/modules/materials/Mat_Materials.dm
  code/modules/materials/Mat_RawMaterials.dm
  code/modules/materials/Mat_Recipes.dm
  code/modules/power/cell.dm
  code/modules/status_system/statusSystem.dm
  code/obj/item/gun/ammo.dm
Labels: feature

#2407 Clarify antag roles tip
  code/datums/preferences.dm
Labels: feature

#2414 Selection component pop
  code/WorkInProgress/MechanicMadness.dm
Labels: feature

#2425 Fixes headlamps when they spawn on a mob
  code/WorkInProgress/AbilityItem.dm
  code/obj/item/clothing/helmets.dm
Labels: bug

#2408 Ties ghostdrone ocean movement on Manta to the magnetic tether
  code/datums/controllers/process/forcedMovement.dm
Labels: feature, input wanted

#2429 reclaimer bugfix
  code/obj/item/material.dm
Labels: bug - minor

#2409 Radio tapes
  code/modules/telescience/radiostation.dm
  code/obj/storage/crates.dm
  code/obj/storage/loot_crates.dm
  maps/manta.dmm
  maps/oshan.dmm
  maps/z3.dmm
  sound/radio_station/Cargonia.ogg
  sound/radio_station/captain_training.ogg
  sound/radio_station/danitos_burritos.ogg
  sound/radio_station/quik_noodles.ogg
  sound/radio_station/security_psa.ogg
Labels: mapping, sound

#2356 New cloning sprites by Flaborized
  code/WorkInProgress/what-the-fuck-am-i-doing.dm
  code/obj/machinery/porters.dm
  icons/obj/cloning.dmi
Labels: sprites

#2395 Health analyser with organ scanner lists cyber organs
  code/procs/scanprocs.dm
Labels: QoL, input wanted

#2435 adhara admin office
  code/obj/item/stickers.dm
  code/obj/item/stun_baton.dm
  code/z_adventurezones/earth.dm
  code/z_adventurezones/jonescity.dm
  icons/misc/stickers.dmi
  maps/z2.dmm
Labels: mapping, sprites

#2433 Fix oceanify on space maps
  code/modules/fluids/fluid_commands.dm
  code/modules/fluids/fluid_turf.dm
Labels: bug, runtime

#2296 Move COMSIG_ATTACKBY call to where it SHOULD be
  _std/defines/component_defines.dm
  code/WorkInProgress/MechanicMadness.dm
  code/atom.dm
  code/datums/components/mechComp_signals.dm
Labels: cleanliness

#2437 Atlas AI Reset Fix
  maps/atlas.dmm
Labels: bug, mapping

#2422 Spooky Writing no longer deducts points when cancelled
  code/datums/abilities/ghost_observer.dm
Labels: bug

#2393 Discount superhero
  code/datums/jobs.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/glasses.dm
  code/obj/item/storage/backpack_belt_etc.dm
  icons/mob/eyes.dmi
  icons/mob/inhand/hand_headgear.dmi
  icons/mob/jumpsuits/worn_js_gimmick.dmi
  icons/obj/clothing/item_glasses.dmi
  icons/obj/clothing/uniforms/item_js_gimmick.dmi
Labels: feature, sprites

#2366 Adds 9 new Coloured Cables + Macro, Changes supplypacks.dm to use concrete_typesof
  code/WorkInProgress/construction/supply_controller.dm
  code/WorkInProgress/tarmStuff.dm
  code/datums/supply_packs.dm
  code/modules/power/cablecolors.dm
  goonstation.dme
Labels: feature

#2448 Fixed typo in AI Upload area sprite, no longer says AI Upoald.
  icons/turf/areas.dmi
Labels: sprites

#2450 Mark monkey mutantrace as human compatible (aka stop dropping stuff on transform)
  code/datums/mutantraces.dm
Labels: QoL

#2446 adds automatic cloning pod for pod wars.
  code/obj/machinery/clonepod.dm
Labels: feature

#2432 Removes pyrosium volatility
  code/modules/chemistry/Reagents-ExplosiveFire.dm
Labels: balance

#2346 Addicts no longer share their addiction.
  code/datums/traits.dm
  code/world.dm
Labels: bug - major

#2394 Tool resprites by Flaborized!
  code/obj/item/storage/toolbox.dm
  code/obj/item/tool/crowbar.dm
  icons/obj/items/assemblies.dmi
  icons/obj/items/tools/crowbar.dmi
  icons/obj/items/tools/multitool.dmi
  icons/obj/items/tools/screwdriver.dmi
  icons/obj/items/tools/weldingtool.dmi
  icons/obj/items/tools/wirecutters.dmi
  icons/obj/items/tools/wrench.dmi
  icons/obj/items/weapons.dmi
Labels: sprites

#2451 fixed implant bug
  code/obj/item/implant.dm
Labels: bug - major

#2458 Assemblies and Device Resprites by Flaborized!
  icons/obj/items/assemblies.dmi
  icons/obj/items/device.dmi
Labels: sprites

#2476 infinismoke removal misspelling
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: bug - minor

#2442 Adds empty medkit to medical manufactor
  code/datums/manufacturing.dm
  code/obj/item/storage/med_chem.dm
  code/obj/machinery/manufacturer.dm
Labels: QoL, feature

#2426 Adds nice borders for genetic powers
  icons/mob/genetics_powers.dmi
Labels: sprites

#2447 Singing
  _std/__std.dme
  _std/defines/singing.dm
  browserassets/images/radio_icons/note.png
  browserassets/images/radio_icons/notebad.png
  code/mob.dm
  code/mob/living.dm
  code/mob/living/carbon/human/monkeys.dm
  code/modules/medical/genetics/bioEffects/speech.dm
  code/obj/critter/pets_small_animals.dm
  code/procs/mobprocs/chatprocs.dm
  icons/mob/mob.dmi
  icons/mob/notes.dmi
  strings/danny.txt
Labels: feature, sprites

#2454 Large tophat!
  code/datums/manufacturing.dm
  code/obj/item/clothing/hats.dm
  code/obj/machinery/manufacturer.dm
  config/admins.txt
  icons/mob/fruithat.dmi
  icons/mob/inhand/hand_headgear.dmi
  icons/obj/clothing/item_hats.dmi
Labels: sprites

#2481 Atlas Teleporter Powergrid Fix
  maps/atlas.dmm
Labels: bug, mapping

#2479 Admin override access spawner
  code/obj/access_spawn.dm
  code/procs/access.dm
Labels: feature

#2487 Cable coil stacking bugfix
  code/obj/item/cable_coil.dm
Labels: bug - minor

#2464 Makes dead_player_list_helper() actually check for DNR properly
  code/procs/helpers.dm
Labels: bug

#2484 Martian Ambassadors spawn with ID bugfix
  code/procs/jobprocs.dm
Labels: bug

#2488 adds missing disposal pipe to Manta
  maps/manta.dmm
Labels: mapping

#2489 user.show_text -> boutput
  code/obj/machinery/deep_fryer.dm
  code/obj/machinery/microwave.dm
  code/obj/storage/large_storage_parent.dm
  code/obj/submachine/cooking.dm
Labels: cleanliness

#2485 Fix for engineering borgs reclaiming their metal sheets
  code/modules/materials/Mat_Processing.dm
  code/obj/item/material.dm
Labels: bug

#2492 Office for Cogwerks
  maps/z2.dmm
Labels: mapping

#2480 Faith Sprite Edits
  icons/obj/items/gun.dmi
Labels: sprites

#2467 Requires a minimum of 20 rounds to play as the captain on RP1
  code/datums/jobs.dm
Labels: feature

#2453 Shield Generator State FeedBack When turning on and off
  code/obj/machinery/shield_generators/shield_generator.dm
Labels: QoL

#2493 Adds prodocs to Roboticists
  code/datums/jobs.dm
Labels: balance

#2502 Beeswax made reasonably accessable
  code/modules/food_and_drink/ingredients.dm
Labels: feature

#2503 Coral gets Textured
  code/modules/materials/Mat_Materials.dm
  icons/effects/atom_textures_32.dmi
  icons/effects/atom_textures_64.dmi
Labels: sprites

#2499 Silicon singing
  browserassets/images/radio_icons/noterobot.png
  code/mob/living.dm
  code/mob/living/carbon/human/monkeys.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
  icons/mob/mob.dmi
Labels: sprites

#2486 Reworked Yeti Attack Pattern
  code/obj/critter/big_animals.dm
Labels: balance, feature

#2462 Removes unintended advantages/disadvantages of player monkeys caused by ismonkey() checks
  _std/macros/ismob.dm
  code/datums/abilities/hunter.dm
  code/datums/abilities/misc/hunter_taketrophy.dm
  code/datums/abilities/misc/werewolf_attack.dm
  code/datums/abilities/vampire/vampire_bite.dm
  code/datums/abilities/werewolf.dm
  code/datums/abilities/werewolf/werewolf_feast.dm
  code/modules/antagonists/blob/blob_abilities.dm
  code/modules/antagonists/changeling/abilities/absorb.dm
  code/modules/events/minor/appendicitis_event.dm
  code/modules/medical/genetics/geneticsItems.dm
  code/modules/medical/genetics/geneticsMachines.dm
  code/obj/item/playing_cards.dm
  code/obj/machinery/navbeacon.dm
Labels: balance, input wanted

#2507 Powercell Resprites by Flaborized!
  icons/obj/items/device.dmi
  icons/obj/power.dmi
Labels: sprites

#2508 Hazard Suit Resprites by Flaborized!
  icons/mob/overcoats/worn_suit_hazard.dmi
  icons/obj/clothing/overcoats/item_suit_hazard.dmi
Labels: sprites

#2477 Enzymatic Reclaimer now removes the implants from a body as well as stripping them
  code/obj/machinery/clonepod.dm
Labels: feature, input wanted

#2509 Better description for trying to put someone in cuffs into cryo.
  code/WorkInProgress/cryospawn.dm
Labels: QoL

#2513 Tool Actionbar and Speed Injector Fix
  code/modules/medical/genetics/geneticsItems.dm
  code/modules/vending/vending.dm
  code/obj/item/assembly/dynassemblies.dm
  code/obj/item/gun/gun_parent.dm
  code/obj/machinery/camera.dm
  code/obj/machinery/nuclearbomb.dm
Labels: bug

#2510 Synth Leather/Blubber recipes
  code/modules/materials/Mat_Recipes.dm
Labels: feature

#2512 Named color stuff
  _std/types.dm
  code/datums/named_colors.dm
Labels: performance

#2473 Enable Reactor Statistics Computer again
  code/modules/power/reactor_stats.dm
Labels: bug - minor

#2497 make bots, notably med and sec bots, more expensive to purchase/manuf…
  code/datums/manufacturing.dm
  code/datums/supply_packs.dm
Labels: balance

#2496 Atmos fixey, tweak plasmastone plasma generation
  code/modules/atmospherics/FEA_airgroup.dm
  code/modules/atmospherics/FEA_group_helpers.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/obj/item/grenades.dm
Labels: bug

#2483 Bubsium scaling fix
  code/atom.dm
  code/modules/chemistry/Reagents-Misc.dm
Labels: bug

#2528 Flare Projectile Sprite Replacement
  icons/obj/projectiles.dmi
Labels: sprites

#2418 Construction progress bars & Engineering Training trait
  _std/defines/construction.dm
  code/datums/controllers/action_controls.dm
  code/datums/jobs.dm
  code/datums/traits.dm
  code/obj/item/plank.dm
  code/obj/item/table_rack_parts.dm
  code/obj/rack.dm
  code/obj/railing.dm
  code/obj/storage/large_storage_parent.dm
  code/obj/structure.dm
  code/obj/table.dm
  code/obj/window.dm
  code/turf/turf_autoalign.dm
Labels: feature

#2527 Spawn Demonically
  code/WorkInProgress/AnimationLibrary.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/sound/soundCache.dm
  sound/effects/darkspawn.ogg
  strings/admin_changelog.txt
Labels: feature, sound

#2530 AI holograms
  code/datums/hud/ai.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/ai/holograms.dm
  goonstation.dme
  icons/misc/holograms.dmi
  icons/mob/hud_ai.dmi
Labels: experimental, feature, sprites

#2419 makes a bunch of job-given mutations magical
  code/datums/jobs.dm
Labels: balance, feature, stale

#2519 Add a proc to handle maxz adjustments
  code/modules/sound/sound.dm
  code/modules/spatial_hashing.dm
  code/world.dm
  code/z_dmm_suite/reader.dm
Labels: performance, style

#2533 Flaborized sprites - hotdog cart, portable flasher, door buttons, brig timer, gift nuke
  icons/obj/items/storage.dmi
  icons/obj/stationobjs.dmi
Labels: sprites

#2540 Underwater ghost house prefab abstract type violation fix
  assets/maps/prefabs/prefab_water_ghosthouse.dmm
Labels: mapping

#2537 Seed vendor abstract type violation fix
  code/obj/submachine/seed.dm
Labels: bug - minor, runtime

#2532 Flaborized sprites - tanks, engines, fire extinguisher
  icons/obj/items/items.dmi
  icons/obj/objects.dmi
  icons/obj/ship.dmi
Labels: sprites

#2535 Add Enchanted Gemstones to The Red Indy Loot crate
  code/WorkInProgress/wizardset.dm
  code/obj/storage/loot_crates.dm
Labels: feature

#2541 Small changes to make a few old/unused maps compile
  maps/icarus.dmm
  maps/setpieces/AIBM_lunar.dmm
  maps/setpieces/AIBM_spacejunk.dmm
  maps/setpieces/owlzone.dmm
  maps/unused/chiron.dmm
  maps/unused/clarion_xmas_2018.dmm
  maps/unused/cogmap.dmm
  maps/unused/cogmap_new_walls_xmas_2017.dmm
  maps/unused/cogmap_xmas_2018.dmm
  maps/unused/concept.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/donut2.dmm
  maps/unused/donut2_new_walls.dmm
  maps/unused/donut2_old.dmm
  maps/unused/halloween.dmm
  maps/unused/halloween12.dmm
  maps/unused/halloween14.dmm
  maps/unused/mushroom.dmm
  maps/unused/mushroom_new_xmas.dmm
  maps/unused/old_trunkmap.dmm
  maps/unused/oldmap.dmm
  maps/unused/trunkmap.dmm
  maps/unused/xmas.dmm
  maps/unused/z4_old.dmm
Labels: mapping

#2539 enchanted crystal stuff
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/WorkInProgress/tarmStuff.dm
  code/atom.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
Labels: feature

#2545 Minor runtimes
  code/WorkInProgress/warcrimes.dm
Labels: bug - minor

#2526 Allow for Singularity Power in Power Checker and let singularity eat!
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/machinery/singularity.dm
Labels: bug - minor

#2549 Add 1 second cooldown for noisemakers
  code/obj/item/noisemaker.dm
Labels: feature

#2547 Rewords escape pod description to be more accurate
  code/modules/transport/pods/ships.dm
Labels: QoL, bug - trivial

#2531 fix pod hud alt text for RCS
  code/datums/hud/pod.dm
Labels: bug - minor

#2536 Refactor Clairvoyance to make it both actually work and not terrible
  code/datums/abilities/wizard/clairvoyance.dm
Labels: bug

#2553 pw sprites.dmi to forestall more merge conflicts.
  icons/mob/head.dmi
  icons/mob/overcoats/worn_suit_hazard.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/overcoats/item_suit_hazard.dmi
  icons/obj/projectiles.dmi
Labels: sprites

#2544 Perspective auto grilles
  code/obj/grille.dm
  code/obj/window.dm
  code/turf/turf_autoalign.dm
  icons/obj/SL_windows_grilles.dmi
Labels: feature, sprites

#2557 Admin button to set Nuke Ops scoreboard
  code/modules/admin/admin_verbs.dm
Labels: QoL, feature

#2411 Reenables miscreants on the RP server with some better-curated objectives.
  code/datums/miscreant_objectives.dm
  code/mob/new_player.dm
Labels: feature, input wanted

#2555 New DWAINE command to clear variables
  code/modules/networks/computer3/mainframe2/documents.dm
  code/modules/networks/computer3/mainframe2/shell.dm
Labels: feature

#2562 Manta: Fixed rockworm enclosure piping
  maps/manta.dmm
Labels: bug, mapping
