Repository goonstation/goonstation, pull requests merged in 2020-05, with the labels that each got.

#502 Kondaru fix batch 15
  maps/kondaru.dmm
Labels: enhancement, mapping

#483 Voodoo cam tuneup
  code/mob/living/carbon/human/procs/emote.dm
  code/obj/item/cameras.dm
Labels: bug - minor, enhancement

#504 Creates new planes for walls and windows, to allow cleanables to have no shadow
  _stdlib/code/_plane.dm
  code/obj/decal/cleanable.dm
  code/obj/window.dm
  code/turf/turf.dm
  code/turf/walls.dm
Labels: bug - minor

#449 Feature drag implant organ
  code/mob/living.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/modules/medical/surgery_procs.dm
  code/modules/robotics/robot/module_item_creator/modules.dm
  code/obj/item/mob_parts.dm
  code/obj/item/organ_holder.dm
  code/obj/item/organs/appendix.dm
  code/obj/item/organs/brain.dm
  code/obj/item/organs/butt.dm
  code/obj/item/organs/eye.dm
  code/obj/item/organs/head.dm
  code/obj/item/organs/heart.dm
  code/obj/item/organs/instestines.dm
  code/obj/item/organs/kidney.dm
  code/obj/item/organs/liver.dm
  code/obj/item/organs/lung.dm
  code/obj/item/organs/organ_parent.dm
  code/obj/item/organs/pancreas.dm
  code/obj/item/organs/skull.dm
  code/obj/item/organs/spleen.dm
  code/obj/item/organs/stomach.dm
Labels: cleanliness, enhancement, input wanted, rework

#513 Remove a step_y from Mushroom
  maps/unused/mushroom_new_walls.dmm
Labels: bug - minor, mapping

#509 UM-002 - Afterlife Bar Renovations
  code/datums/banking.dm
  code/obj/map/light.dm
  code/obj/submachine/slots.dm
  code/z_adventurezones/afterlife.dm
  icons/turf/areas.dmi
  maps/z2.dmm
Labels: mapping, sprites

#519 add "good first issue" to keylabeller
  .github/keylabeler.yml
Labels: github

#508 Blob Bridge ability casts automatically on spread if present
  code/modules/antagonists/blob/blob_abilities.dm
  code/turf/floors.dm
Labels: balance, enhancement

#510 fix petri dish formatting
  code/modules/medical/pathology/pathogen_tools.dm
Labels: bug - trivial

#527 Makes UpdateOverlays faster by like 15% or so
  code/atom/UpdateOverlays.dm
Labels: performance

#538 Implement signal changing for delay component
  code/WorkInProgress/MechanicMadness.dm
Labels: bug - minor

#516 UM-003 - .22 Hollow Point Rounds (Traitor Only)
  code/modules/projectiles/bullet.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/implant.dm
  code/obj/item/storage/weapon_security.dm
  icons/obj/items/ammo.dmi
Labels: balance, sprites

#550 checks that a player has the wizard special_role (which is only assig…
  code/datums/gameticker.dm
Labels: bug - critical

#552 fix benign kudzu not adding to the kudzu flag on turfs when moved,
  code/datums/abilities/kudzumen.dm
  code/modules/events/gimmick/kudzu.dm
Labels: bug

#542 fix backpack block
  code/datums/components/itemblock/backpackblock.dm
Labels: bug - minor

#540 Speeds up small critter clicks a notch
  code/datums/limb.dm
Labels: performance

#506 Fix negative blood
  code/mob/living/carbon/human/procs/Life.dm
Labels: bug - minor

#547 grenade tweaks
  code/modules/chemistry/tools/grenades.dm
Labels: balance

#544 make spears cause bleed
  code/WorkInProgress/actuallyKeelinsStuff.dm
Labels: balance

#555 Spook.dm refactor
  code/modules/admin/buildmodes/spook.dm
Labels: cleanliness

#557 Preliminary chat window theming support
  browserassets/css/browserOutput.css
  browserassets/html/browserOutput.html
  browserassets/js/browserOutput.js
Labels: enhancement

#560 ceil instead of floor for backpack blocking
  code/datums/components/itemblock/backpackblock.dm
Labels: balance

#553 Pod HuD draws properly if a player reconnects to the game
  code/modules/transport/pods/vehicle.dm
Labels: bug

#564 Buffs HoS jacket cold resistance
  code/obj/item/clothing/suits.dm
Labels: enhancement

#567 Kondaru fix batch 16
  maps/kondaru.dmm
Labels: enhancement, mapping

#571 Slight performance increase on human movement_delay proc
  code/mob/living/carbon/human.dm
Labels: performance

#570 Fixes doublehit and magically piercing bullets. I hope
  code/modules/fluids/fluid_groups.dm
  code/modules/projectiles/projectile_parent.dm
  code/obj/decal/cleanable.dm
Labels: bug

#546 Grenade sprite updates + perspective pt 1
  assets/maps/prefabs/prefab_ksol.dmm
  code/global.dm
  code/modules/chemistry/tools/grenades.dm
  code/obj/item/grenades.dm
  code/obj/item/storage/weapon_security.dm
  code/obj/machinery/singularity.dm
  icons/obj/items/grenade.dmi
Labels: mapping, sprites

#578 Kinetic firearms resprite: volume 2.5
  code/obj/item/gun/ammo.dm
  code/obj/item/storage/weapon_security.dm
  icons/obj/items/ammo.dmi
  icons/obj/items/gun.dmi
  icons/obj/items/storage.dmi
  icons/obj/large_storage.dmi
Labels: sprites

#457 stun glove tweak + unarmed special override
  code/WorkInProgress/ItemSpecials.dm
  code/mob/living/carbon/human.dm
  code/mob/melee_attack_procs.dm
  code/obj/item.dm
  code/obj/item/clothing/gloves.dm
Labels: balance, experimental, input wanted

#499 fix cross-round abcu saving
  code/WorkInProgress/blueprints.dm
Labels: bug, enhancement

#569 adds admin-spawnable howitzer gun. crime
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/energy.dm
Labels: enhancement

#576 Movement modifier system
  _stdlib/movement_modifiers.dm
  code/datums/abilities/revenant.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/datums/mutantraces.dm
  code/mob.dm
  code/mob/living/carbon/human.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/medical/genetics/bioEffects/harmful.dm
  code/modules/status_system/statusSystem.dm
  code/obj/item/mob_parts.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/item/mob_parts/robot_parts.dm
  goonstation.dme
Labels: cleanliness, performance

#590 Fixes blank form-papers (#587)
  code/obj/item/paper.dm
Labels: bug

#593 Fixes medical records not updating with health implant info
  code/obj/item/implant.dm
Labels: bug

#574 Added drunk text on for Curacao
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: enhancement

#595 Adds Centred SS13 Floorsigns
  icons/turf/floors.dmi
Labels: sprites

#598 Fix pulse projectile reflection
  code/modules/projectiles/energy_bolt.dm
Labels: bug - minor

#602 Foo
  .github/workflows/update_changelog.yml
  code/WorkInProgress/ZeWakasStuff.dm
Labels: enhancement, github

#603 I'm big dumb
  .github/workflows/update_changelog.yml
  code/WorkInProgress/ZeWakasStuff.dm
Labels: github

#573 Removed Porta-Brig from Sec Equipment Crate, Created Sec Containment Crate, Added gear to Sec Equipment Crat + more
  code/datums/supply_packs.dm
Labels: enhancement

#600 Fixes missing speedboost on regular robotlegs
  code/datums/movement_modifier/movement_modifiers.dm
  code/obj/item/mob_parts/robot_parts.dm
Labels: bug

#594 Adds a new vendor for Janitors, the JaniTech
  code/modules/vending/vending.dm
  icons/obj/vending.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
Labels: input wanted, mapping, sprites

#606 Jobxp clown
  code/WorkInProgress/JobXPRewards.dm
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/bread.dm
  code/modules/food_and_drink/plants.dm
  code/modules/holiday/spacemas.dm
  code/modules/medical/surgery_procs.dm
  code/modules/medical/surgery_tools.dm
  code/modules/projectiles/bullet.dm
  code/obj/item/basketball.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clown_items.dm
  code/obj/item/device/flash.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/device/scanners.dm
  code/obj/item/gun/gun_parent.dm
  code/obj/item/handcuffs.dm
  code/obj/item/hydroponics.dm
  code/obj/item/instruments.dm
  code/obj/item/kitchen.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/mousetrap.dm
  code/obj/item/pens_writing_etc.dm
  code/obj/item/storage/bible.dm
  code/obj/item/stun_baton.dm
  code/obj/mopbucket.dm
  code/obj/storage/large_storage_parent.dm
  code/obj/vehicle.dm
Labels: enhancement

#601 fix tooltip for deflection prop
  code/WorkInProgress/ObjectProperties.dm
  code/mob/living/carbon/human/procs/Life.dm
  code/obj/item/clothing/gloves.dm
Labels: bug - minor

#529 Add Radio Scanner MechComp component
  code/WorkInProgress/MechanicMadness.dm
  code/modules/vending/vending.dm
  code/obj/item/device/radio.dm
  icons/misc/mechanicsExpansion.dmi
Labels: enhancement, sprites

#611 Makes space_fastpath a bit faster
  code/modules/atmospherics/FEA_airgroup.dm
  code/modules/atmospherics/FEA_gas_mixture.dm
  code/modules/atmospherics/FEA_system.dm
Labels: performance

#614 Kondaru fix batch 17
  maps/kondaru.dmm
Labels: bug - minor, enhancement, mapping

#615 optimizey stuff
  code/datums/controllers/process/delete_queue.dm
  code/obj/airbridge.dm
  code/procs/logging.dm
Labels: performance

#597 Allow change in guardbuddy and navbeacon freqs + navbeacon packet control
  code/modules/robotics/bot/guardbot.dm
  code/obj/machinery/navbeacon.dm
Labels: enhancement

#605 changes pulse to pullse on ass day
  code/modules/projectiles/energy_bolt.dm
  code/obj/item/gun/energy.dm
Labels: ass-jam

#624 Sov-002-Knock-on-Doors
  code/mob.dm
  code/obj/machinery/door/airlock.dm
  code/obj/machinery/door/door_parent.dm
  sound/impact_sounds/Door_Metal_Knock_1.ogg
Labels: enhancement, sound

#480 Icon cleanup (I may need help testing this)
  assets/maps/prefabs/prefab_water_crashed.dmm
  code/WorkInProgress/Azungarstuff.dm
  code/WorkInProgress/Hydrothings.dm
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/datums/controllers/sea_hotspot_controls.dm
  code/datums/gamemodes/gangwar.dm
  code/modules/admin/antagifiers.dm
  code/modules/events/gimmick/kudzu.dm
  code/modules/holiday/spacemas.dm
  code/obj.dm
  code/obj/decal.dm
  code/obj/decal/cleanable.dm
  code/obj/decal/poster.dm
  code/obj/decal/tile_edge.dm
  code/obj/decorations.dm
  code/obj/item/device/lights.dm
  code/obj/item/misc_wizard_stuff.dm
  code/obj/machinery/computer/shuttle.dm
  code/obj/posters.dm
  code/z_adventurezones/biodome.dm
  code/z_adventurezones/precursor.dm
  icons/obj/adventurezones/void.dmi
  icons/obj/decals.dmi
  icons/obj/decals/cleanables.dmi
  icons/obj/decals/floorguides.dmi
  icons/obj/decals/graffiti.dmi
  icons/obj/decals/misc.dmi
  icons/obj/decals/posters.dmi
  icons/obj/decals/stencils.dmi
  icons/obj/decals/wallsigns.dmi
  icons/obj/decals/writing.dmi
  icons/obj/fluids/salt.dmi
  icons/obj/items/alchemy.dmi
  icons/obj/revstatusthing.dmi
  icons/obj/writing.dmi
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/horizon.dmm
  maps/unused/clarion_xmas_2018.dmm
  maps/unused/concept.dmm
  maps/unused/destiny_xmas_2017.dmm
  maps/unused/donut2_old.dmm
  maps/unused/hainemap.dmm
  maps/unused/halloween12.dmm
  maps/unused/halloween14.dmm
  maps/unused/horizon_2019.dmm
  maps/unused/samedi.dmm
  maps/warwip/atlas_horizon_xmas_2019.dmm
  maps/z2.dmm
  maps/zamujasa/nomad.dmm
Labels: mapping, sprites

#628 Adds robuddybot as the comitter for the changelog
  .editorconfig
  .github/update_changelog.py
  .github/workflows/update_changelog.yml
Labels: enhancement, github

#626 #defines num2hex and hex2num, cleans up adjacent stuff
  _stdlib/code/_macros.dm
  _stdlib/math.dm
  code/WorkInProgress/ItemSpecials.dm
  code/WorkInProgress/MechanicMadness.dm
  code/datums/controllers/action_controls.dm
  code/datums/controllers/sea_hotspot_controls.dm
  code/datums/datacore.dm
  code/datums/movement_controller/colosseum_putt.dm
  code/datums/movement_controller/pod.dm
  code/datums/preferences.dm
  code/mob.dm
  code/mob/input.dm
  code/mob/living/carbon/human/procs/Life.dm
  code/mob/living/critter/bee.dm
  code/mob/living/critter/small_animal.dm
  code/modules/admin/admin.dm
  code/modules/admin/buildmodes/spawn_gift.dm
  code/modules/atmospherics/FEA_airgroup.dm
  code/modules/atmospherics/machinery/binary/pump_ui.dm
  code/modules/chemistry/Chemistry-Dispenser.dm
  code/modules/chemistry/Chemistry-Machinery.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/events/battle_storm.dm
  code/modules/fluids/fluid_pipes.dm
  code/modules/holiday/spacemas.dm
  code/modules/medical/blood_system.dm
  code/modules/medical/genetics/bioHolder.dm
  code/modules/medical/pathology/pathogen.dm
  code/modules/medical/pathology/pathogen_machines.dm
  code/modules/medical/surgery_tools.dm
  code/modules/networks/computer3/sec_rec.dm
  code/modules/power/solar.dm
  code/modules/projectiles/projectile_parent.dm
  code/modules/projectiles/special.dm
  code/modules/sound/djpanel_chui.dm
  code/modules/sound/~sound2.dm
  code/obj/item/device/scanners.dm
  code/obj/item/device/transfer_valve.dm
  code/obj/item/gift.dm
  code/obj/item/pens_writing_etc.dm
  code/obj/item/stickers.dm
  code/obj/machinery/computer/secure_data.dm
  code/obj/machinery/sleeper.dm
  code/obj/machinery/spaceheater.dm
  code/obj/posters.dm
  code/obj/submachine/cooking.dm
  code/procs/helpers.dm
  code/procs/scorestats.dm
  code/z_adventurezones/meatland.dm
Labels: cleanliness, performance

#543 fixes bug with trays only stunning the attacker
  code/obj/item/kitchen.dm
Labels: bug

#575 Added Hot Toddy Cocktail drink and recipe + Added espresso Black Russian variant
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: enhancement

#554 Modified katana dash to apply disorient instead
  code/WorkInProgress/ItemSpecials.dm
  code/obj/item/misc_weapons.dm
Labels: balance, input wanted

#535 Security Badges
  code/datums/jobs.dm
  code/obj/item/clothing/suits.dm
  code/procs/jobprocs.dm
  icons/mob/inhand/overcoat/hand_suit_gimmick.dmi
  icons/mob/overcoats/worn_suit_gimmick.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
Labels: enhancement, sprites

#609 Makes hand tele usable as a chest implant
  code/obj/item/teleportation.dm
Labels: enhancement

#613 More movement modifier stuff
  code/WorkInProgress/SpyGuyStuff.dm
  code/datums/abilities/generic.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/mob.dm
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/mob/living/silicon/robot.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/medical/genetics/bioEffects/beneficial.dm
  code/obj/item.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/storage/small_storage_parent.dm
  code/obj/item/stun_baton.dm
  code/obj/stool.dm
Labels: balance, cleanliness, performance

#631 Kondaru fix batch 18
  maps/kondaru.dmm
Labels: bug, enhancement, mapping

#610 Minor changes to Syndicate Buylist
  code/datums/syndicate_buylist.dm
Labels: balance, enhancement, input wanted

#632 Adds .dmi previewer to VSCode
  .vscode/settings.json
Labels: QoL, enhancement, sprites

#635 fix dropped items not qdeling properly
  code/mob.dm
Labels: bug, performance

#636 fix restrain bug at 8PM EST every day
  code/WorkInProgress/ItemSpecials.dm
  code/datums/abilities/wizard/phaseshift.dm
  code/mob.dm
  code/obj/item/stun_baton.dm
  code/obj/misc_junk.dm
Labels: bug

#633 UM-005 - Manta Engine Wire Adjustments
  maps/manta.dmm
Labels: mapping

#625 revert spamshooting on ass day
  code/obj/item/gun/gun_parent.dm
Labels: ass-jam

#620 Turrets
  code/modules/projectiles/projectile_parent.dm
  code/obj/item/deployable_turret.dm
  icons/obj/syndieturret.dmi
Labels: cleanliness, sprites

#617 Buff cryotube cooling
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
Labels: balance

#637 Fix Control Unit getting stuck in pockets/bags
  code/WorkInProgress/MechanicMC14500.dm
Labels: bug - major

#592 Sov-001-Borg-Death-Alerts
  _stdlib/code/_robot.dm
  code/mob/living/silicon/robot.dm
  code/mob/suicide.dm
  goonstation.dme
Labels: enhancement

#621 fix up loose cannon and gungun code
  code/WorkInProgress/pali.dm
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/special.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
Labels: bug - minor, cleanliness

#638 UM-006 - New Way to Get Clown College Medal
  code/WorkInProgress/rewardsLocker.dm
  code/mob/living.dm
  code/obj/item/toys.dm
Labels: enhancement

#648 Check if a door requires ID before knocking
  code/obj/machinery/door/airlock.dm
Labels: bug

#645 link a handy primer on signals and components
  .github/CODE_GUIDELINES.md
Labels: documentation, github

#644 Properly call parent in children of disposing()
  _stdlib/code/_vox.dm
  code/RobustLight2.dm
  code/WorkInProgress/MechanicMadness.dm
  code/WorkInProgress/pali.dm
  code/WorkInProgress/zamujasa.dm
  code/datums/hud.dm
  code/datums/movement_controller/movement_controller.dm
  code/datums/mutantraces.dm
  code/del.dm
  code/mob/living/silicon/ai/camera_handling.dm
  code/modules/admin/buildmodes/adventure/elements/button.dm
  code/modules/admin/buildmodes/adventure/elements/delay.dm
  code/modules/admin/buildmodes/adventure/elements/key.dm
  code/modules/admin/buildmodes/adventure/elements/portal.dm
  code/modules/admin/buildmodes/adventure/elements/pressurepad.dm
  code/modules/admin/buildmodes/adventure/elements/remote.dm
  code/modules/admin/buildmodes/adventure/elements/save.dm
  code/modules/admin/buildmodes/adventure/elements/switch.dm
  code/modules/admin/buildmodes/adventure/elements/tools/connect.dm
  code/modules/admin/buildmodes/adventure/elements/tools/mass_connect.dm
  code/modules/admin/buildmodes/adventure/elements/trap/fireball.dm
  code/modules/admin/buildmodes/adventure/elements/trap/lightning.dm
  code/modules/admin/buildmodes/adventure/elements/trap/projectile.dm
  code/modules/admin/buildmodes/adventure/elements/trigger.dm
  code/modules/events/black_hole.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/medical/pathology/pathogen.dm
  code/modules/medical/pathology/pathogen_microbodies.dm
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/modules/transport/cruisers/cruisers.dm
  code/obj/decorations.dm
  code/obj/item/football.dm
  code/obj/machinery/tv_vis.dm
  code/obj/window.dm
Labels: bug - minor, cleanliness

#623 Changes name of Y Drone For Assday
  code/obj/critter/drone.dm
Labels: ass-jam

#640 Added Janitors spawning with galoshes already equipped.
  code/datums/jobs.dm
Labels: QoL

#583 changes cuffs in sectechs to buddy cuffs
  code/modules/vending/vending.dm
Labels: balance, enhancement

#654 Fix for removed user.machine var in new robot module rewriter
  code/modules/robotics/robot/robot_module_rewriter.dm
Labels: bug

#657 Makes complete darkness completely black
  code/RobustLight2.dm
  code/base_lighting.dm
Labels: balance, enhancement, input wanted

#655 deletes a dumb redefine
  maps/config/map.dm
Labels: cleanliness

#608 Replace generic reagent stamina buffs with buffs specific to reagents
  code/WorkInProgress/HaineWhatever.dm
  code/modules/chemistry/Reagents-Base.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: balance, bug - trivial, cleanliness, performance

#641 Makes missing/broken kidney/liver decrease chem depletion rates
  code/modules/chemistry/Chemistry-Reagents.dm
Labels: bug - minor

#646 Cyborg Battery Distress Indicator
  code/mob/living/silicon/robot.dm
  icons/mob/robots_decor.dmi
  sound/voice/Sad_Robot.ogg
Labels: QoL, enhancement, sound, sprites

#541 Smoke
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/fluids/air.dm
  code/modules/fluids/fluid_groups.dm
Labels: ass-jam, experimental

#545 only allows 1 crusher to be made per turf
  code/WorkInProgress/recycling/crusher.dm
  code/obj/machinery.dm
Labels: bug

#514 Assjam: Ass day classic mode vote
  code/WorkInProgress/NewVote.dm
  code/datums/gameticker.dm
  goonstation.dme
Labels: ass-jam, enhancement

#663 Fix mech boots
  code/datums/movement_modifier/movement_modifiers.dm
  code/obj/item/clothing/shoes.dm
Labels: bug, cleanliness

#616 DWAINE scripting improvements and additions
  code/modules/networks/computer3/mainframe2/shell.dm
Labels: enhancement

#665 ASSJAM: Added third emag stage to securitrons
  code/modules/robotics/bot/secbot.dm
Labels: ass-jam, enhancement

#676 Adds votes (e.g. ass day classic vote) to the Status tab
  code/WorkInProgress/NewVote.dm
  code/datums/gameticker.dm
  code/input.dm
  code/mob_stat.dm
Labels: IGNORE TRAVIS, QoL, enhancement

#669 Cuts light machine gun slow effect to a third
  code/modules/projectiles/bullet.dm
Labels: balance

#678 Splits changelog into ass jam and non ass jam
  .github/update_changelog.py
  .github/workflows/update_changelog.yml
  browserassets/html/changelog.html
  code/datums/changelog.dm
  strings/ass_changelog.txt
  strings/changelog.txt
Labels: QoL, github

#661 Rybeks Ungodly Ass Jam Changes
  code/datums/crew_objective.dm
  code/datums/gamemodes/nuclear.dm
  code/datums/jobs.dm
  code/modules/projectiles/bullet.dm
  code/modules/vending/vending.dm
Labels: ass-jam, enhancement

#680 ass jam: Makes Mr. Rathen immortal
  code/mob/living/carbon/human/monkeys.dm
Labels: ass-jam

#685 Tweaks nukie to crew ratio from 1:2 to 1:3 on ass jam
  code/datums/gamemodes/nuclear.dm
Labels: ass-jam, balance

#607 Adds cocktail shaker item for Bartender
  code/datums/jobs.dm
  code/modules/chemistry/tools/food_and_drink.dm
  icons/obj/foodNdrink/bottle.dmi
  sound/items/CocktailShake.ogg
Labels: input wanted, sound, sprites

#430 Old medical tools 1: The Stethoscope, attempt 2, not based off of master this time
  code/modules/sound/soundCache.dm
  code/obj/item/storage/med_chem.dm
  code/obj/medicaldiagnosis.dm
  goonstation.dme
  icons/obj/medicaldiagnosis.dmi
  sound/effects/cracklesstethoscope.ogg
  sound/effects/distortedfasthyperstethoscope.ogg
  sound/effects/hyperventstethoscope.ogg
  sound/effects/hyperventstethoscope2.ogg
  sound/effects/normstethoscope.ogg
  sound/effects/sleepstethoscope.ogg
  sound/effects/stridorstethoscope.ogg
Labels: enhancement, input wanted, sound, sprites

#670 handling for making pre-placed turrets function
  code/obj/item/deployable_turret.dm
Labels: QoL

#690 Directional lights
  code/RobustLight2.dm
  code/WorkInProgress/tug.dm
  code/datums/controllers/process/lighting.dm
  code/mob.dm
  code/mob/living/silicon/ghostdrone.dm
  code/modules/medical/surgery_tools.dm
  code/modules/transport/pods/pod_lights.dm
  code/obj/item.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/device/lights.dm
  code/obj/item/device/pda2/modules.dm
  code/obj/vehicle.dm
  code/procs/helpers.dm
Labels: WIP, enhancement, input wanted, performance

#695 Card boxes can now hold different amounts of cards. and you don't need tricks to get more than 60
  code/modules/vending/vending.dm
  code/obj/item/playing_cards.dm
Labels: enhancement

#697 Corrected robot HUD inventory arrow color updates
  code/datums/hud/robot.dm
Labels: bug

#702 Correct canbomb light deletion proc call
  code/obj/item/assembly/detonator.dm
Labels: bug - minor

#674 Make halop drowsiness much more consistant
  code/modules/chemistry/Reagents-Medical.dm
Labels: balance

#651 Voltagen/shock grenade buffs
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/tools/grenades.dm
Labels: balance, experimental

#694 Buffs derringers
  code/modules/projectiles/bullet.dm
Labels: balance

#707 Fixed katana not being able to delimb its user
  code/obj/item/misc_weapons.dm
Labels: bug

#698 Map KEY_EXAMINE with new cube keymap for meatcubes
  _stdlib/code/_controls.dm
  code/mob/living/carbon/cube.dm
Labels: bug

#710 Z5 map
  code/datums/controllers/sea_hotspot_controls.dm
  code/modules/worldgen/GenerateMining.dm
  code/obj/item/device/pda2/base_os.dm
Labels: balance, bug - trivial, enhancement

#715 blocking reduces chance of disarm happening
  code/mob/melee_attack_procs.dm
Labels: balance

#714 self surgery does a bit mnore damage
  code/modules/medical/surgery_procs.dm
Labels: balance

#660 UM-007 - RP Motives Adjustment (No Sleep, No Bladder, Less Hygiene)
  code/datums/sims.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/modules/chemistry/tools/food_and_drink.dm
Labels: balance

#719 Removes superfluous is_changeling() proc, cleans up nearby code
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/Life.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/wraith.dm
  code/modules/admin/admin_verbs.dm
  code/modules/medical/blood_system.dm
Labels: cleanliness

#709 Disassembling assemblies in storage now drops the parts to the floor
  code/obj/item/assembly/misc_assemblies.dm
Labels: bug

#724 Fixes issue with borgs dropping their hypos
  code/obj/item.dm
Labels: bug

#696 Makes the clock slightly less shit. Still shit but not as shit
  code/mob/living/carbon/human/procs/damage.dm
  code/modules/projectiles/bullet.dm
  code/modules/vending/vending.dm
  code/obj/item/gun/kinetic.dm
Labels: balance

#691 Escapee stuff
  code/datums/gameticker.dm
  code/procs/scorestats.dm
Labels: enhancement

#721 Increases max mob name length from 32 to 50
  _stdlib/_setup.dm
  code/datums/preferences.dm
  code/mob.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
  code/modules/antagonists/changeling/abilities/mimic_voice.dm
  code/modules/telescience/radiostation.dm
Labels: QoL

#726 Fix for non-humans being unable to connect mechanics components
  code/WorkInProgress/MechanicMC14500.dm
  code/WorkInProgress/MechanicMadness.dm
  code/WorkInProgress/recycling/disposal.dm
Labels: bug - major

#725 Make ghost critter overlays pull from client preferences, fix eye color bug
  code/mob/dead/observer.dm
  code/mob/living/critter.dm
  code/mob/living/critter/small_animal.dm
  code/mob/transform_procs.dm
Labels: bug - minor, cleanliness

#704 Small cleanup to human Life() and adjacent code
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/Life.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/modules/medical/diseases/heartdisease.dm
  code/modules/medical/diseases/malady.dm
  code/obj/item.dm
  code/procs/scanprocs.dm
Labels: cleanliness

#706 Cleans up reagent temperature reactions and related code
  code/mob/living/carbon/human/procs/Life.dm
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/chemistry/Reagents-Base.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-ExplosiveFire.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/obj/artifacts/artifact_items/attack_wand.dm
  code/obj/item/flamethrower.dm
Labels: bug, cleanliness

#700 adds the movement modifiers to morphine and salicyclic acid
  code/modules/chemistry/Reagents-Medical.dm
Labels: bug

#673 Unsplit stun bullet hit from bullet_act
  code/mob/living/carbon/human/procs/damage.dm
  code/mob/living/silicon/robot.dm
  code/modules/projectiles/projectile_parent.dm
Labels: balance, cleanliness

#723 Robot sprites
  _stdlib/_setup.dm
  code/WorkInProgress/SpyGuyStuff.dm
  code/WorkInProgress/zamujasa.dm
  code/datums/gauntlet/bullethell.dm
  code/mob/living/critter/changeling_critters.dm
  code/mob/living/silicon/robot.dm
  code/modules/holiday/spacemas.dm
  code/modules/projectiles/special.dm
  code/modules/robotics/bot/bot_parent.dm
  code/modules/robotics/bot/buttbot.dm
  code/modules/robotics/bot/cambot.dm
  code/modules/robotics/bot/chefbot.dm
  code/modules/robotics/bot/cleanbot.dm
  code/modules/robotics/bot/duckbot.dm
  code/modules/robotics/bot/firebot.dm
  code/modules/robotics/bot/floorbot.dm
  code/modules/robotics/bot/goosebot.dm
  code/modules/robotics/bot/guardbot.dm
  code/modules/robotics/bot/medbot.dm
  code/modules/robotics/bot/secbot.dm
  code/modules/robotics/bot/skullbot.dm
  code/z_adventurezones/timeship.dm
  icons/misc/newbots.dmi
  icons/misc/xmas_buddy.dmi
  icons/obj/aibots.dmi
  icons/obj/bots/aibots.dmi
  icons/obj/bots/medbots.dmi
  icons/obj/bots/newbots.dmi
  icons/obj/bots/oldbots.dmi
  icons/obj/bots/xmasbuddy.dmi
  icons/obj/janitor.dmi
  maps/unused/donut2_old.dmm
  maps/unused/xmas.dmm
Labels: mapping, sprites

#718 Draw faces on cardboard boxes, cardboard material
  code/modules/materials/Mat_Materials.dm
  code/obj/item/building_materials.dm
  code/obj/item/clothing/cardboard.dm
  code/obj/item/clothing/suits.dm
  code/obj/storage/crates.dm
  code/turf/floors.dm
  goonstation.dme
  icons/mob/overcoats/worn_suit.dmi
  icons/mob/overcoats/worn_suit_cardboard.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
  icons/obj/clothing/overcoats/item_suit_cardboard.dmi
Labels: enhancement, sprites

#733 Clear nested absolute path warning
  code/mob/living/carbon/cube.dm
Labels: cleanliness

#717 Hydroponics Visual Overhaul
  code/WorkInProgress/Azungarstuff.dm
  code/datums/controllers/hydro_controls.dm
  code/datums/crew_objective.dm
  code/modules/events/gimmick/kudzu.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/plants.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants.dm
  code/modules/hydroponics/plants_alien.dm
  code/modules/hydroponics/plants_crop.dm
  code/modules/hydroponics/plants_flower.dm
  code/modules/hydroponics/plants_fruit.dm
  code/modules/hydroponics/plants_herb.dm
  code/modules/hydroponics/plants_veg.dm
  code/modules/hydroponics/plants_weed.dm
  code/modules/materials/Mat_RawMaterials.dm
  code/obj/item/decorative_pot.dm
  code/obj/item/hydroponics.dm
  code/obj/item/organs/butt.dm
  code/obj/item/plank.dm
  code/obj/item/plants.dm
  code/obj/item/seeds.dm
  code/obj/machinery/plantpot.dm
  code/obj/submachine/seed.dm
  icons/effects/96x96.dmi
  icons/effects/hydroponics.dmi
  icons/obj/foodNdrink/food.dmi
  icons/obj/foodNdrink/food_ingredient.dmi
  icons/obj/foodNdrink/food_produce.dmi
  icons/obj/foodNdrink/food_snacks.dmi
  icons/obj/hydroponics/hydro_alien.dmi
  icons/obj/hydroponics/hydro_mutants.dmi
  icons/obj/hydroponics/hydromisc.dmi
  icons/obj/hydroponics/items_hydroponics.dmi
  icons/obj/hydroponics/machines_hydroponics.dmi
  icons/obj/hydroponics/plants_alien.dmi
  icons/obj/hydroponics/plants_crop.dmi
  icons/obj/hydroponics/plants_flower.dmi
  icons/obj/hydroponics/plants_fruit.dmi
  icons/obj/hydroponics/plants_herb.dmi
  icons/obj/hydroponics/plants_unused.dmi
  icons/obj/hydroponics/plants_veg.dmi
  icons/obj/hydroponics/plants_weed.dmi
  icons/obj/materials.dmi
  icons/obj/surgery.dmi
Labels: rework, sprites

#735 Fix for icon states of robust asomna sprite
  icons/obj/hydroponics/plants_herb.dmi
Labels: bug - minor, sprites

#732 Fix Finnish
  code/procs/accents.dm
Labels: bug - minor

#745 Fixed syringes applying INGEST reaction with incorrect volume
  code/modules/chemistry/tools/syringes.dm
Labels: bug

#734 adds proper event handler flag to soulsteel items
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
Labels: bug

#664 Buff taser shotgun
  code/modules/projectiles/special.dm
  code/obj/item/gun/energy.dm
Labels: balance

#748 Prevent Genetics DNA Reclaimer from wiping out surplus materials
  code/modules/medical/genetics/geneticsMachines.dm
Labels: bug

#746 Resprites nuclear operative class weapons
  code/obj/item/gun/kinetic.dm
  icons/mob/back.dmi
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/48x32.dmi
  icons/obj/64x32.dmi
  icons/obj/items/ammo.dmi
  icons/obj/items/gun.dmi
Labels: balance, sprites

#744 Fixed power cells not properly reporting their charge status
  code/obj/item/gun/ammo.dm
Labels: bug - minor

#753 Add back original robuddy sprites
  icons/obj/bots/aibots.dmi
  icons/obj/bots/newbots.dmi
  icons/obj/bots/xmasbuddy.dmi
  strings/changelog.txt
Labels: sprites

#762 Can't throw people who aren't next to you
  code/obj/item/grab.dm
Labels: bug - minor

#754 Fixes people being able to move while they're slipping
  code/mob/living/carbon.dm
Labels: bug - minor

#750 Powernet & Artsci sprites
  icons/obj/networked.dmi
Labels: sprites

#756 Magboots
  code/WorkInProgress/AbilityItem.dm
  code/atom/throwing.dm
  code/obj/item/clothing/shoes.dm
Labels: enhancement, rework

#763 Couple ABC-U fixes
  code/WorkInProgress/blueprints.dm
Labels: bug

#731 Prevent blank names
  _stdlib/text.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
  code/obj/item/ai_modules.dm
  code/procs/helpers.dm
Labels: bug

#764 Clown box job reward
  code/WorkInProgress/JobXPRewards.dm
  code/obj/item/clothing/cardboard.dm
  icons/mob/overcoats/worn_suit_cardboard.dmi
  icons/obj/clothing/overcoats/item_suit_cardboard.dmi
Labels: enhancement, sprites

#689 input loop handles steps, replaced spawn() loopage
  code/input.dm
Labels: input wanted, performance

#767 Remove items from pinned target fix
  code/mob/living/carbon/human.dm
Labels: bug

#701 Original Sin Medal Reward Rework
  code/WorkInProgress/rewardsLocker.dm
  code/modules/antagonists/changeling/abilities/changeling.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: enhancement

#713 Adds Crabgun
  code/datums/syndicate_buylist.dm
  code/mob/living/critter/small_animal.dm
  code/modules/projectiles/crabber.dm
  code/obj/item/gun/energy.dm
  goonstation.dme
  icons/obj/crabgun.dmi
Labels: ass-jam, enhancement, sprites
