Repository goonstation/goonstation, pull requests merged in 2020-06, with the labels that each got.

#921 Pet escape refactor, plus new pets can escape
  code/global.dm
  code/modules/robotics/bot/secbot.dm
  code/obj/critter/bee.dm
  code/obj/critter/big_animals.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/critter/turtle.dm
  code/procs/scorestats.dm
Labels: cleanliness, feature, performance

#863 Lung hot air damage change
  code/mob/living/carbon/human/procs/Life.dm
Labels: balance, bug, feature

#926 fix dropping items. currently auto equipping jumpsuits is commented o…
  code/datums/gamemodes/gangwar.dm
Labels: bug - trivial

#923 Fixes AI-eye not being able to send messages
  code/procs/mobprocs/chatprocs.dm
Labels: bug

#933 UM-011-B - Weldingtool Mode for Syndicate Omnitool
  code/datums/syndicate_buylist.dm
  code/obj/item/tool/omnitool.dm
  icons/mob/inhand/tools/omnitool.dmi
  icons/obj/items/tools/omnitool.dmi
Labels: sprites

#934 UM-011-C - Adds Syndicate Omnitool to the Cairngorm
  maps/z2.dmm
Labels: mapping

#464 Genetic Template Symptom
  code/modules/medical/pathology/pathogen.dm
  code/modules/medical/pathology/pathogen_benevolent.dm
  code/modules/medical/pathology/pathogen_suppressants.dm
  code/modules/medical/pathology/pathogen_symptoms.dm
Labels: feature, input wanted

#930 changed sunglass glands
  code/modules/medical/pathology/pathogen_benevolent.dm
  code/modules/medical/pathology/pathogen_symptoms.dm
Labels: balance

#936 fix humanhud sprint icon state
  icons/mob/hud_human.dmi
Labels: sprites

#931 Split out cyborg upgrades from behemoth file
  code/mob/living/silicon/robot.dm
  code/modules/robotics/robot/upgrade/construction_visualizer.dm
  code/modules/robotics/robot/upgrade/efficiency.dm
  code/modules/robotics/robot/upgrade/expansion.dm
  code/modules/robotics/robot/upgrade/force_shield.dm
  code/modules/robotics/robot/upgrade/heat_shield.dm
  code/modules/robotics/robot/upgrade/meson_scanner.dm
  code/modules/robotics/robot/upgrade/parent.dm
  code/modules/robotics/robot/upgrade/prodoc_scanner.dm
  code/modules/robotics/robot/upgrade/propulsion.dm
  code/modules/robotics/robot/upgrade/recharge_pack.dm
  code/modules/robotics/robot/upgrade/recovery.dm
  code/modules/robotics/robot/upgrade/repair_pack.dm
  code/modules/robotics/robot/upgrade/self_repair.dm
  code/modules/robotics/robot/upgrade/spectro_scanner.dm
  code/modules/robotics/robot/upgrade/speed.dm
  code/modules/robotics/robot/upgrade/teleporter.dm
  code/obj/item/mob_parts/robot_parts.dm
  goonstation.dme
Labels: cleanliness

#920 only autoclick asteroids if mining tool is available
  code/mob/living/silicon/robot.dm
  code/obj/mining.dm
Labels: feature

#940 prevents prox sensor from seeing invisible
  code/obj/item/device/prox_sensor.dm
Labels: balance, bug

#937 migrate waspgun to spawner projectiles
  code/modules/projectiles/laser.dm
  code/modules/projectiles/special.dm
Labels: cleanliness

#859 ASCBee
  code/mob/living/critter/bee.dm
  code/obj/critter/bee.dm
  icons/misc/bee.dmi
Labels: feature, sprites

#818 Jellybean plant!
  assets/maps/prefabs/prefab_water_honk.dmm
  code/modules/food_and_drink/snacks.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_crop.dm
  code/obj/submachine/seed.dm
Labels: feature, mapping

#687 Adds Sickly Pears
  code/datums/limb.dm
  code/modules/chemistry/Reagents-Diseases.dm
  code/modules/food_and_drink/plants.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_fruit.dm
  code/modules/medical/diseases/high_fever.dm
  code/obj/item/mob_parts/human_parts.dm
  goonstation.dme
Labels: ass-jam

#929 Metalfoam improvements
  code/modules/robotics/bot/floorbot.dm
  code/obj/effects/foam.dm
  code/obj/item/building_materials.dm
  code/turf/floors.dm
Labels: QoL, feature

#850 rock and stone
  code/mob/living/carbon/human/procs/emote.dm
Labels: feature

#942 Patho Fart Symptom Changes
  code/mob/living/carbon/human/procs/emote.dm
  code/modules/medical/pathology/pathogen.dm
  code/modules/medical/pathology/pathogen_suppressants.dm
  code/modules/medical/pathology/pathogen_symptoms.dm
Labels: balance, feature

#951 Removes late-join spawner from Sequestered Cloner prefab
  assets/maps/prefabs/prefab_sequestered_cloner.dmm
Labels: bug, mapping

#952 UM-016 - Nukie Sniper Thermals
  code/mob/living/carbon/human/procs/Life.dm
  code/obj/storage/crates.dm
Labels: balance, bug

#953 patho symptom limit, microbody rebalance and error message change
  code/modules/food_and_drink/sandwiches.dm
  code/modules/medical/pathology/pathogen.dm
  code/modules/medical/pathology/pathogen_dna.dm
  code/modules/medical/pathology/pathogen_machines.dm
  code/modules/medical/pathology/pathogen_microbodies.dm
  code/modules/medical/pathology/pathogen_tools.dm
Labels: balance, feature

#823 Makes seething tomatoes incendiaries rather than explosives
  code/modules/food_and_drink/plants.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_fruit.dm
  code/obj/critter/plants.dm
  code/obj/storage/loot_crates.dm
Labels: balance

#960 Chem whitelist cleanup
  code/modules/chemistry/tools/patches.dm
  code/obj/misc_junk.dm
Labels: cleanliness

#964 runtimey fixes
  code/datums/movement_controller/pod.dm
  code/mob/living.dm
Labels: bug

#967 fix buttburger
  code/modules/food_and_drink/sandwiches.dm
Labels: bug - minor

#954 Adds the TGS DMAPI
  _std/__std.dme
  _std/tgs.config.dm
  _std/tgs.dm
  code/datums/tgs_event_handler.dm
  code/modules/tgs/LICENSE
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/_definitions.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/core/tgs_version.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v3210/README.md
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/README.md
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v4/commands.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/undef.dm
  code/world.dm
  goonstation.dme
Labels: documentation, feature

#141 Adds custom keybinds to the game
  _std/__std.dme
  _std/_setup.dm
  _std/code/_controls.dm
  _std/defines/_input.dm
  code/WorkInProgress/torpedoes.dm
  code/chui/example/chemicals.dm
  code/chui/window.dm
  code/client.dm
  code/datums/abilities/wizard/iceburst.dm
  code/datums/components/controlled_by_mob.dm
  code/datums/flock/flockpanel.dm
  code/datums/movement_controller/colosseum_putt.dm
  code/datums/movement_controller/movement_controller.dm
  code/datums/movement_controller/obj_control.dm
  code/datums/movement_controller/pod.dm
  code/datums/movement_controller/tank.dm
  code/datums/movement_controller/torpedo_control.dm
  code/datums/preferences.dm
  code/datums/savefile.dm
  code/mob.dm
  code/mob/dead/ai-camera.dm
  code/mob/dead/observer.dm
  code/mob/dead/target_observer.dm
  code/mob/living/carbon/cube.dm
  code/mob/living/carbon/human.dm
  code/mob/living/critter.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/ai/move.dm
  code/mob/living/silicon/ghostdrone.dm
  code/mob/living/silicon/hivebot.dm
  code/mob/living/silicon/robot.dm
  code/modules/interface/action_associations.dm
  code/modules/interface/input.dm
  code/modules/interface/keybind_menu_chui.dm
  code/modules/interface/keybind_style.dm
  code/modules/interface/keymap.dm
  code/modules/interface/mob_input.dm
  code/modules/sound/playsound.dm
  code/modules/transport/pods/vehicle.dm
  code/obj/machinery/computer/security/security_cameras_chui.dm
  goonstation.dme
  interface/skin.dmf
Labels: QoL, cleanliness, feature, help wanted

#692 de-ass_jam smoke
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/fluids/air.dm
  code/modules/fluids/fluid_groups.dm
Labels: balance, input wanted, rework

#974 Make process_move a part of the input loop and remove the ugly spawn loop
  code/modules/interface/input.dm
Labels: cleanliness, performance

#977 UM-018 - Critter Limb Spam Fix
  code/datums/limb.dm
Labels: bug

#969 UM-017 - Biomagnetic Field Charge
  code/mob.dm
  code/mob/living/carbon/human.dm
  code/modules/medical/genetics/bioEffects/non_genetic.dm
Labels: balance

#978 Monkeys now drop all gear when meat spiked
  code/obj/kitchenspike.dm
Labels: bug - minor

#981 Random Events Upgrade
  code/datums/controllers/event_controls.dm
  code/datums/controllers/process/actions.dm
  code/datums/gameticker.dm
  code/mob/living/critter/changeling_critters.dm
  code/mob/living/critter/gunbot.dm
  code/mob/living/critter/small_animal.dm
  code/mob/transform_procs.dm
  code/modules/events/antag_ghost_respawn.dm
  code/modules/events/antagonist_critter_ghost_respawn.dm
  code/modules/events/playable_pests.dm
  code/modules/events/sleeperagent.dm
  code/procs/helpers.dm
  code/procs/jobprocs.dm
  goonstation.dme
Labels: balance, feature, rework

#983 Correct spellings of unconscious in code
  code/WorkInProgress/NewVote.dm
  code/modules/status_system/statusSystem.dm
Labels: bug - trivial

#984 UM-020 - Deconstruct Constructed Stuff W/O Access
  code/WorkInProgress/Electronics.dm
Labels: balance, bug

#976 Trim updatedamage
  code/mob/living/carbon/human/machoman.dm
  code/modules/atmospherics/portable/canister.dm
  code/obj/item/mob_parts/human_parts.dm
Labels: cleanliness

#947 allow critters to dual+ wield guns
  code/obj/item/gun/gun_parent.dm
Labels: feature

#957 Explosion changes
  _std/mob_properties.dm
  code/WorkInProgress/ObjectProperties.dm
  code/datums/controllers/explosion_controls.dm
  code/mob/living/carbon/human/procs/damage.dm
  code/modules/status_system/statusFoodBuffs.dm
  code/obj/item/clothing/armor.dm
  code/obj/item/clothing/helmets.dm
Labels: balance, experimental

#980 Prevent resist when dead or unconscious
  code/mob/living.dm
  code/mob/living/carbon/human.dm
Labels: bug - minor

#982 QM sold credits are returned instead of lost
  code/modules/economy/shippingmarket.dm
Labels: bug

#995 Invert moveslow on nukie guns - fix/cleanup some equipped() stuff
  _std/_setup.dm
  code/WorkInProgress/HaineWhatever.dm
  code/WorkInProgress/blueprints.dm
  code/WorkInProgress/ud5/urs_dungeon.dm
  code/mob/living/carbon/human.dm
  code/obj/item.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/glasses.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/injector_mask_belt.dm
  code/obj/item/clothing/masks.dm
  code/obj/item/clothing/shoes.dm
  code/obj/item/clothing/trash_bags.dm
  code/obj/item/device/energy_shield_device.dm
  code/obj/item/grab.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/storage/loot_crates.dm
  code/procs/gamehelpers.dm
  code/z_adventurezones/biodome.dm
  code/z_adventurezones/hemera.dm
Labels: bug, cleanliness

#996 Fixes random event wrestler antagonists.
  code/modules/events/antag_ghost_respawn.dm
Labels: bug

#986 Heisenbee hat tier progression across rounds
  _std/component_defines.dm
  code/obj/critter/bee.dm
  code/procs/helpers.dm
  code/procs/scorestats.dm
  code/world.dm
Labels: feature

#938 Assjam: Icarus map
  _std/__build.dm
  code/map.dm
  maps/config/icarus.dm
  maps/config/map.dm
  maps/icarus.dmm
Labels: ass-jam, mapping, merge conflict

#1012 projectile adjustments
  code/modules/projectiles/projectile_parent.dm
Labels: bug - minor

#1006 Anchored fix
  _std/code/_macros.dm
  code/datums/abilities/generic.dm
  code/mob.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/mob/suicide.dm
  code/modules/robotics/bot/mulebot.dm
  code/obj/alien/cocoon.dm
  code/obj/item/toilets.dm
  code/obj/machinery/implantchair.dm
  code/obj/stool.dm
Labels: bug

#999 Adds __secret.dme instructions to README
  README.md
Labels: QoL, documentation

#656 Selection component improvements
  code/WorkInProgress/MechanicMadness.dm
Labels: feature, performance, stale

#1013 Surgical Tray refactor to allow right clicking of items on the tray
  code/modules/medical/surgery_tools.dm
Labels: feature, rework

#1023 fix tdummy in murderbox
  code/WorkInProgress/zamujasa.dm
Labels: bug - minor

#1026 Quit yelling about TG controls when I'm testing stuff
  code/client.dm
Labels: QoL

#1021 Announcement computer ejects ID when inserting a second ID card
  code/obj/machinery/computer/announcement.dm
Labels: bug - minor

#1027 Fix doubled chem dispenser on local
  code/client.dm
Labels: bug

#1020 Prevent observer and intangible mobs from getting radiation status effect
  code/modules/status_system/statusSystem.dm
Labels: bug

#1008 prevent nukie grenade launcher from being attached as an item arm
  code/obj/item/gun/kinetic.dm
Labels: balance

#1022 Correct cyberappendix behavior
  code/obj/item/organs/appendix.dm
Labels: bug - minor

#1034 fix runtime on bear arms
  code/obj/item/mob_parts/human_parts.dm
Labels: bug

#1007 make cryo cells even more reliable
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
Labels: rework

#1035 Noah's Shuttle medal & some pet refactoring
  code/WorkInProgress/Hydrothings.dm
  code/datums/gameticker.dm
  code/datums/gauntlet/podcolosseum.dm
  code/mob/living/critter/aquatic.dm
  code/mob/living/critter/small_animal.dm
  code/obj/critter/bee.dm
  code/obj/critter/big_animals.dm
  code/obj/critter/critter_parent.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/critter/turtle.dm
  code/obj/critter/zombie.dm
  code/procs/scorestats.dm
  code/z_adventurezones/luna.dm
  code/z_adventurezones/meatland.dm
  maps/cogmap.dmm
  maps/cogmap2.dmm
Labels: cleanliness, feature, mapping

#1031 Medal for putting your butt on an AI as a hat
  code/mob/living/silicon/ai.dm
Labels: feature

#972 Slightly less gradual explosions
  code/WorkInProgress/recycling/disposal.dm
  code/datums/abilities/wizard/iceburst.dm
  code/datums/controllers/explosion_controls.dm
  code/mob/living/carbon/human/procs/damage.dm
  code/mob/living/critter.dm
  code/mob/living/silicon/ghostdrone.dm
  code/mob/living/silicon/robot.dm
  code/modules/atmospherics/FEA_fire.dm
  code/modules/chemistry/Chemistry-Dispenser.dm
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/modules/robotics/bot/firebot.dm
  code/modules/robotics/bot/guardbot.dm
  code/obj/item/grenades.dm
  code/obj/machinery/door/door_parent.dm
  code/obj/machinery/manufacturer.dm
  code/obj/machinery/turret.dm
  code/obj/spawner.dm
  code/z_adventurezones/debris.dm
Labels: input wanted

#1033 Lets admins and mentors through server player caps
  code/client.dm
Labels: feature

#1036 Refactor obj critter deaths and add a new COMSIG_OBJ_CRITTER_DEATH signal
  _std/component_defines.dm
  code/WorkInProgress/Azungarstuff.dm
  code/WorkInProgress/Hydrothings.dm
  code/WorkInProgress/customcritter.dm
  code/WorkInProgress/warcrimes.dm
  code/mob/living/carbon/human/machoman.dm
  code/modules/holiday/spacemas.dm
  code/obj/critter/bee.dm
  code/obj/critter/critter_parent.dm
  code/obj/critter/miningcritters.dm
  code/obj/critter/misc.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/critter/spider.dm
  code/obj/critter/wendigo.dm
  code/obj/critter/zombie.dm
  code/z_adventurezones/lavamoon.dm
  code/z_adventurezones/luna.dm
  code/z_adventurezones/mad_mars.dm
  code/z_adventurezones/meatland.dm
  code/z_adventurezones/precursor.dm
Labels: bug, cleanliness, rework, secret, style

#1024 attach treads as arms. why not
  code/obj/item.dm
  code/obj/item/mob_parts.dm
  code/obj/vehicle.dm
Labels: bug

#1010 Airbridge refurbishment
  code/WorkInProgress/AnimationLibrary.dm
  code/modules/admin/buildmodes/animate.dm
  code/modules/transport/shuttle/shuttle_controller.dm
  code/obj/airbridge.dm
  code/turf/turf_drawbridge.dm
  icons/turf/floors.dmi
  icons/turf/walls.dmi
Labels: rework, sprites

#968 Guardbot, secscanner, secbot, sechud suspect evaluation rework, firearm permit split into firearm and contraband permits.
  _std/_accessLevels.dm
  code/mob/living/carbon/human/procs/Life.dm
  code/modules/robotics/bot/guardbot.dm
  code/modules/robotics/bot/secbot.dm
  code/obj/machinery/computer/card.dm
  code/obj/machinery/secscanner.dm
  code/procs/access.dm
Labels: balance, input wanted, rework

#1042 free ciggies
  maps/z2.dmm
Labels: QoL, mapping

#1048 Revert "free ciggies"
  maps/z2.dmm
Labels: mapping

#1038 mapvote for the next round will occur in the pre-game lobby
  code/datums/gameticker.dm
  code/mapSwitching.dm
Labels: experimental

#805 Chemical sprites
  code/modules/chemistry/tools/grenades.dm
  icons/obj/chemical.dmi
  icons/obj/items/grenade.dmi
  icons/obj/items/items.dmi
Labels: sprites

#1053 Fire elemental fun
  _std/_setup.dm
  code/datums/abilities/critter/firepoof.dm
  code/datums/abilities/critter/flamethrower.dm
  code/datums/abilities/wizard/phaseshift.dm
  code/mob/living.dm
  code/mob/living/critter/arena/fire_elemental.dm
  goonstation.dme
  icons/mob/critter_ui.dmi
Labels: sprites

#1050 remove scaling chance to burn out lights when toggled
  code/modules/power/lighting.dm
Labels: removal

#1047 Better looking shuttle floor and lighting
  code/area.dm
  code/modules/fluids/fluid_turf.dm
  code/modules/transport/shuttle/shuttle_controller.dm
  code/procs/gamehelpers.dm
  code/turf/turf.dm
  icons/turf/shuttle.dmi
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/z2.dmm
  maps/z5.dmm
Labels: QoL, mapping, performance, rework, sprites

#1051 helium was runtiming. wack
  code/modules/chemistry/Reagents-Base.dm
Labels: runtime

#686 Various changes to cogmap 1 only visible during Assday
  maps/cogmap-'cognut_12'.dmm
  maps/config/cogmap.dm
Labels: ass-jam, mapping

#1055 New Assjam Map: Wrestlemap
  _std/__build.dm
  code/map.dm
  goonstation.dme
  maps/config/map.dm
  maps/config/wrestlemap.dm
  maps/wrestlemap.dmm
Labels: ass-jam, mapping

#1040 Weighted abstain for newvote (inc. ass jam modevote)
  code/WorkInProgress/NewVote.dm
Labels: ass-jam, feature

#1062 fix some LIfe things that weren't supposed to happen for corpses
  code/mob/living/life/Life.dm
  code/mob/living/life/breath.dm
  code/mob/living/life/chems.dm
  code/mob/living/life/mutations.dm
  code/mob/living/life/organs.dm
Labels: bug

#1065 - Minor Density Tweaks for Ass Jam
  maps/density.dmm
Labels: mapping

#1066 Last Minute Wrestlemap Fixes
  maps/wrestlemap.dmm
Labels: ass-jam, bug, mapping

#1052 Kudzu runtimed. Wack.
  code/mob/living/life/decomposition.dm
Labels: bug, runtime

#1072 Fake wrestling belt
  code/datums/abilities/ability_parent.dm
  code/datums/abilities/wrestler.dm
  code/datums/abilities/wrestler/drop.dm
  code/datums/abilities/wrestler/kick.dm
  code/datums/abilities/wrestler/slam.dm
  code/datums/abilities/wrestler/strike.dm
  code/datums/abilities/wrestler/throw.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/storage/closets.dm
Labels: feature

#1063 Change deepfrier to transfer reagents to fryshell
  code/obj/machinery/deep_fryer.dm
Labels: bug

#1080 make sure that players are getting ghosted before loafing
  code/WorkInProgress/recycling/disposal.dm
Labels: bug

#1082 fix duck arm
  code/obj/item/fitness.dm
Labels: bug

#1081 dummybutt fix
  code/WorkInProgress/zamujasa.dm
Labels: bug - minor

#1083 Revert "Various changes to cogmap 1 only visible during Assday"
  maps/cogmap-'cognut_12'.dmm
  maps/config/cogmap.dm
Labels: mapping

#1025 Contained corpses no longer make miasma
  code/mob/living/life/decomposition.dm
Labels: bug

#1084 Assjam: fleet mini fix batch
  maps/fleet.dmm
Labels: ass-jam, mapping

#1087 Throw_at parent calls now pass all args
  code/modules/food_and_drink/plants.dm
  code/obj/item/basketball.dm
  code/obj/item/bowling.dm
  code/obj/item/deployable_turret.dm
  code/obj/item/football.dm
Labels: cleanliness

#1090 fix tmeth stun resist
  code/modules/chemistry/Reagents-Drugs.dm
Labels: bug - minor

#886 Strange Relic now provides telekinetic pull instead
  code/WorkInProgress/previouslyKeelinsStuff.dm
Labels: balance

#1037 Pathogen Incubator & Shakespearitis fix
  code/mob/living/carbon/human.dm
  code/modules/medical/pathology/pathogen_helpers.dm
  code/modules/medical/pathology/pathogen_machines.dm
Labels: bug - minor, feature, help wanted

#1098 Setup Travis to properly test the secret submodule, take 2
  .travis.yml
  code/WorkInProgress/ZeWakasStuff.dm
  tools/travis/deploykey-secret.txt.enc
Labels: FUCK, IGNORE TRAVIS, QoL, github, secret, tooling

#1099 UM-025 - Vote for Multiple Maps
  _std/_setup.dm
  code/mapSwitching.dm
  code/mob_stat.dm
  code/obj/voting_box.dm
Labels: IGNORE TRAVIS, feature, input wanted, rework

#1093 raised the self-stun of missing a chairflip
  code/datums/abilities/generic.dm
Labels: balance

#1077 Pathology spread change & also scope creep
  code/modules/chemistry/Reagents-Diseases.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/medical/pathology/pathogen_benevolent.dm
  code/modules/medical/pathology/pathogen_symptoms.dm
  sound/effects/fingersnap_echo.ogg
Labels: balance, bug - minor, feature, sound

#1102 add incubators to pathology areas on maps
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/destiny.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
Labels: feature, mapping

#1103 add percussive instruments + qm purchase
  code/WorkInProgress/multiContext.dm
  code/datums/supply_packs.dm
  code/modules/sound/soundCache.dm
  code/obj/item/instruments.dm
  code/obj/storage/crates.dm
  icons/mob/inhand/hand_instruments.dmi
  icons/obj/instruments.dmi
  icons/ui/context16x16.dmi
  sound/musical_instruments/cowbell/cowbell_1.ogg
  sound/musical_instruments/cowbell/cowbell_2.ogg
  sound/musical_instruments/cowbell/cowbell_3.ogg
  sound/musical_instruments/tambourine/tambourine_1.ogg
  sound/musical_instruments/tambourine/tambourine_2.ogg
  sound/musical_instruments/tambourine/tambourine_3.ogg
  sound/musical_instruments/tambourine/tambourine_4.ogg
  sound/musical_instruments/triangle/triangle_1.ogg
  sound/musical_instruments/triangle/triangle_2.ogg
Labels: sound, sprites

#1105 Allow borgs to pickup mentor/admin mice
  _std/code/_macros.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/robot.dm
Labels: bug, feature

#830 Add File Component and file handling for mechcomp signals
  code/WorkInProgress/MechanicMadness.dm
  code/WorkInProgress/MechanicsNetworkCon.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/modules/vending/vending.dm
  icons/misc/mechanicsExpansion.dmi
Labels: feature, sprites

#1121 Refactor drone shoot proc, allow drones to shoot projectiles again
  code/obj/critter/drone.dm
Labels: bug - major, cleanliness, rework

#1111 fix tooltip caching for small storage and reagent containers
  _std/_setup.dm
  _std/mob_properties.dm
  code/WorkInProgress/MechanicMadness.dm
  code/WorkInProgress/infernal_contracts.dm
  code/datums/hud/storage.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/tools/extinguisher.dm
  code/modules/food_and_drink/plants.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/materials/Mat_Mining.dm
  code/modules/medical/pathology/pathogen_machines.dm
  code/modules/medical/surgery_tools.dm
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/energy_bolt.dm
  code/modules/projectiles/pickpocket.dm
  code/modules/robotics/robot/upgrade/spectro_scanner.dm
  code/obj/item.dm
  code/obj/item/ai_modules.dm
  code/obj/item/building_materials.dm
  code/obj/item/cameras.dm
  code/obj/item/card.dm
  code/obj/item/cigarette.dm
  code/obj/item/clothing/glasses.dm
  code/obj/item/clothing/gloves.dm
  code/obj/item/clothing/shoes.dm
  code/obj/item/clothing/trash_bags.dm
  code/obj/item/deployable_turret.dm
  code/obj/item/device/chameleon.dm
  code/obj/item/device/mic_amp_etc.dm
  code/obj/item/device/scanners.dm
  code/obj/item/dice.dm
  code/obj/item/generic_box.dm
  code/obj/item/gift.dm
  code/obj/item/gun/energy.dm
  code/obj/item/gun/gun_parent.dm
  code/obj/item/gun/reagent.dm
  code/obj/item/implant.dm
  code/obj/item/kitchen.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/mops_cleaners.dm
  code/obj/item/organs/brain.dm
  code/obj/item/organs/eye.dm
  code/obj/item/organs/head.dm
  code/obj/item/paper.dm
  code/obj/item/pens_writing_etc.dm
  code/obj/item/playing_cards.dm
  code/obj/item/rcd.dm
  code/obj/item/satchel.dm
  code/obj/item/space_cash.dm
  code/obj/item/sponge_capsule.dm
  code/obj/item/stickers.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/storage/secure_safe.dm
  code/obj/item/storage/small_storage_parent.dm
  code/obj/item/tool/omnitool.dm
  code/obj/soup_pot.dm
  code/obj/submachine/robotics.dm
Labels: bug

#1127 Destiny: fix for HoP's office wiring
  maps/destiny.dmm
Labels: bug - minor, mapping

#1128 Radio receive sounds
  code/modules/sound/sound.dm
  code/modules/sound/soundCache.dm
  code/obj/item/device/radio.dm
  sound/misc/talk/radio2.ogg
Labels: sound

#1123 Rebalance ordered funny packs to have fewer slots than regular funny packs
  code/datums/supply_packs.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/storage/clothing.dm
Labels: balance

#1118 Add rounding to minimum reaction volume
  _std/_setup.dm
  code/modules/chemistry/Chemistry-Holder.dm
Labels: bug

#1130 Dark mode
  _std/_setup.dm
  browserassets/css/browserOutput.css
  browserassets/js/browserOutput.js
  code/client.dm
  code/datums/browserOutput.dm
  code/datums/buildmode.dm
  code/datums/gamemodes/gangwar.dm
  code/datums/gameticker.dm
  code/mob.dm
  code/modules/admin/admin.dm
  code/modules/admin/adminhelp.dm
  code/modules/admin/buildmodes/adventure/elements/trap/lightning.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/item/device/radio.dm
  code/obj/item/device/radios/headsets.dm
  code/obj/item/device/radios/intercoms.dm
  code/obj/item/stickers.dm
  code/obj/machinery/sleeper.dm
  code/procs/antagonist_procs.dm
  code/world.dm
  code/z_adventurezones/old_bot_factory.dm
  interface/skin.dmf
Labels: QoL, feature

#1124 PDA disposing now handles packet sniffer and ping tool. Sniffer and Ping Tool no longer break messaging
  code/obj/item/device/pda2/diagnostics.dm
  code/obj/item/device/pda2/pda2.dm
Labels: bug

#1133 Kondaru fix batch 21
  maps/kondaru.dmm
Labels: mapping

#347 Clothing Booth Fixes Yay :D
  code/modules/vending/clothingbooth.dm
Labels: bug - minor, stale

#1132 Disable mid-round OOC for RP mode
  code/datums/gameticker.dm
  code/procs/mobprocs/chatprocs.dm
Labels: feature

#1122 Oshan tweak to southern end, primarily security
  maps/oshan.dmm
Labels: input wanted, mapping

#1136 New Clothing Booth Items
  code/modules/vending/clothingbooth_items.dm
  code/obj/item/clothing/gimmick.dm
  icons/mob/feet.dmi
  icons/mob/inhand/jumpsuit/hand_js.dmi
  icons/mob/inhand/overcoat/hand_suit.dmi
  icons/mob/jumpsuits/worn_js.dmi
  icons/mob/overcoats/worn_suit.dmi
  icons/obj/clothing/item_shoes.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
  icons/obj/clothing/uniforms/item_js.dmi
Labels: feature, sprites

#1145 Add Sov's office
  code/obj/critter/pets_small_animals.dm
  code/z_adventurezones/earth.dm
  maps/z2.dmm
Labels: mapping

#517 Flock patch 1
  _std/_setup.dm
  code/datums/abilities/flock/flockmind.dm
  code/datums/controllers/ghost_notification_controls.dm
  code/datums/controllers/process/respawn.dm
  code/datums/flock/flock.dm
  code/datums/gamemodes/flock.dm
  code/datums/gameticker.dm
  code/datums/preferences.dm
  code/mob/living/critter/ai/flock/flockdrone.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/mob/living/intangible/flock/flockmind.dm
  code/mob/living/intangible/flockmob_parent.dm
  code/mob/living/life/blood.dm
  code/mob/transform_procs.dm
  code/modules/admin/admin.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/events/antag_ghost_respawn.dm
  code/obj/flock/cage.dm
  code/obj/flock/goods.dm
  code/obj/flock/structure/rift.dm
  code/obj/item/organs/brain.dm
  code/obj/item/organs/heart.dm
  code/obj/table.dm
  goonstation.dme
  icons/misc/featherzone.dmi
Labels: feature, sprites

#1088 Change cloner records to use files
  code/datums/computerfiles.dm
  code/obj/machinery/computer/cloning.dm
  code/procs/jobprocs.dm
Labels: feature

#1155 fix null-power explosions on humans
  code/mob/living/carbon/human/procs/damage.dm
Labels: bug

#1154 Adds a drop loot on death component.
  _std/component_defines.dm
  code/datums/components/drop_loot_on_death.dm
  code/mob.dm
Labels: feature

#1147 Jazz Snapping Fix
  code/modules/medical/pathology/pathogen_symptoms.dm
Labels: bug - minor

#1151 Make pathogens curable via suppression
  code/modules/medical/pathology/pathogen.dm
  code/modules/medical/pathology/pathogen_suppressants.dm
  code/modules/medical/surgery_tools.dm
  code/obj/item/device/radio.dm
Labels: balance, bug

#1159 UM-026 - Remove Ribosome Requirement from Blobs
  code/mob/living/intangible/blob_overmind/ai.dm
  code/modules/antagonists/blob/blob_abilities.dm
  code/modules/tutorials/blob_tutorial.dm
  code/obj/blob.dm
Labels: balance, input wanted

#1160 Disarms stamina damage
  _std/_setup.dm
  code/mob/melee_attack_procs.dm
Labels: balance, input wanted

#1172 UM-027 - Cairngorm Update: Commander's Office + Pirate Radio Station
  code/modules/telescience/radiostation.dm
  code/obj/item/paper.dm
  code/obj/item/satchel.dm
  maps/z2.dmm
  sound/radio_station/commander_announcement.ogg
  sound/radio_station/commander_figurines.ogg
  sound/radio_station/commander_resignation.ogg
  sound/radio_station/commander_support.ogg
Labels: mapping, sound

#1169 Go Board 2020 Port
  browserassets/css/go.css
  browserassets/html/go.htm
  browserassets/images/go/goblack.png
  browserassets/images/go/goboard.png
  browserassets/images/go/gowhite.png
  browserassets/js/go.js
  code/modules/vending/vending.dm
  code/obj/item/go_board.dm
  goonstation.dme
  icons/obj/items/items.dmi
Labels: feature, sprites

#1170 Antagonist Critter Spawn admin customization options
  code/modules/events/antagonist_critter_ghost_respawn.dm
  strings/admin_changelog.txt
Labels: feature, rework

#1180 Menderfix
  code/modules/chemistry/tools/patches.dm
Labels: bug

#1183 *inhales deeply* Bald Caps don't seal hair for some reason
  code/obj/ToSplit/barber_shop.dm
Labels: feature

#1185 Antagonist Critter Spawn grabs 1 extra candidate
  code/modules/events/antagonist_critter_ghost_respawn.dm
Labels: bug

#1182 Sleeper Agent event refactor and now allows overriding player antag preferences
  code/modules/events/sleeperagent.dm
  strings/admin_changelog.txt
Labels: bug, feature, rework

#1161 Resprites the Cyalume Saber
  code/obj/item/misc_weapons.dm
  icons/mob/inhand/hand_cswords.dmi
  icons/obj/items/oldsaber.dmi
  icons/obj/items/weapons.dmi
Labels: sprites

#1184 Make NavBeacons respond to pings
  code/obj/machinery/navbeacon.dm
Labels: feature

#1181 Resprites SKULLS
  icons/obj/bots/aibots.dmi
  icons/obj/surgery.dmi
Labels: sprites

#1191 Resprites wizard staves
  icons/obj/wizard.dmi
Labels: sprites

#1188 Antagonist Critter Spawn possible null path fix
  code/modules/events/antagonist_critter_ghost_respawn.dm
Labels: bug

#1190 Attempt to put item in storage container if you hit it with the container
  code/obj/item/storage/small_storage_parent.dm
Labels: QoL, feature

#1208 fix matsci flashlights
  code/modules/materials/Mat_FabRecipes.dm
  code/obj/item/device/lights.dm
Labels: bug

#1210 Add destination handling to Oshan carousel routers
  code/obj/machinery/launcherloader.dm
Labels: bug

#1209 block ghostcritters from using computers and SMES units
  code/datums/limb.dm
Labels: bug

#1202 Adds Pilot's Seat to all escape shuttles. Escaping in this chair means additional spacebux
  code/datums/gameticker.dm
  code/modules/economy/persistent_bank.dm
  code/obj/stool.dm
  icons/obj/furniture/chairs.dmi
  maps/z2.dmm
Labels: IGNORE TRAVIS, bug - trivial, feature, mapping, sprites

#1192 changed ass_explosion
  code/datums/abilities/wizard/rathens.dm
  code/modules/events/gimmick/bigfart.dm
  code/obj/item/grenades.dm
Labels: IGNORE TRAVIS, balance, input wanted

#1197 Flock bug fixes and runtime fixes.
  _std/code/_macros.dm
  code/datums/flock/flock.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
  code/mob/living/critter/flock/flockbit.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/mob/living/intangible/flock/flocktrace.dm
  code/obj/flock/structure/rift.dm
Labels: bug, runtime

#1213 Add Sov and Enakai to station name whitelist
  strings/station_name_whitelist.txt
Labels: feature

#728 Cogmap 1 Armoury changes
  maps/cogmap.dmm
Labels: feature, mapping

#1216 Add admin mice north south sprites
  icons/misc/critter.dmi
Labels: sprites

#1193 Allow admin customization of playable pest event
  code/modules/events/antagonist_critter_ghost_respawn.dm
  code/modules/events/playable_pests.dm
  strings/admin_changelog.txt
Labels: bug - trivial, feature, rework

#1222 Prevent mindslaves from cutting out their own implant
  code/modules/medical/surgery_procs.dm
Labels: feature

#1224 Fixed enzymatic reclaimer rejecting a body despite being finished
  code/obj/machinery/clonepod.dm
Labels: bug, bug - minor

#1223 Reduce noise maker artifact volume
  code/obj/artifacts/artifact_machines/noise_maker.dm
Labels: input wanted, rework, sound
