Repository goonstation/goonstation, pull requests merged in 2020-07, with the labels that each got.

#1277 Fix custom pest playable search
  code/modules/events/playable_pests.dm
Labels: bug

#1269 Fix detain doing bonkers stamina damage
  code/modules/projectiles/energy_bolt.dm
Labels: balance, bug

#1274 Swap fitness gene stability losses
  code/modules/medical/genetics/bioEffects/beneficial.dm
  code/modules/medical/genetics/bioEffects/harmful.dm
Labels: bug - minor

#1278 add maptext points displays for all abilityholders
  code/datums/abilities/ability_parent.dm
  code/datums/abilities/diabolical.dm
  code/datums/abilities/kudzumen.dm
  code/datums/abilities/vampire.dm
  code/datums/abilities/vampiric_zombie.dm
  code/datums/abilities/werewolf.dm
  code/datums/abilities/wrestler.dm
  code/mob/living/critter.dm
  code/mob/living/critter/changeling_critters.dm
  code/modules/antagonists/changeling/abilities/changeling.dm
Labels: QoL

#1281 Prevent wavegun EMP from utterly shredding the nuke
  code/modules/projectiles/wavegun.dm
Labels: balance

#1283 Donut3 post 1st round fixes
  maps/donut3.dmm
Labels: mapping

#1287 fixes donut3 flushers misbehavior
  maps/donut3.dmm
Labels: mapping

#1289 More donut3 fixes
  code/map.dm
  maps/donut3.dmm
Labels: mapping

#1292 Even MORE Donut3 Fixes
  maps/donut3.dmm
Labels: mapping

#1296 Donut3 fixes 4: Fluck Pumbled
  maps/donut3.dmm
  maps/z2.dmm
Labels: mapping

#1293 Fixed flock gamemode not declaring completion correctly
  code/datums/gamemodes/flock.dm
Labels: bug

#1288 Adds upgraded atmos analyzer to borgs
  code/modules/robotics/robot/module_tool_creator/modules.dm
  code/obj/item/device/scanners.dm
Labels: feature

#1279 Seedfix
  code/modules/transport/pods/secondary_system.dm
Labels: bug

#1263 Security Weapons Vendor
  code/modules/chemistry/tools/emergency_injectors.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/robotics/bot/secbot.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/machinery/weapon_racks.dm
  code/obj/submachine/weapon_vendor.dm
  icons/obj/foodNdrink/food_snacks.dmi
  icons/obj/items/items.dmi
  icons/obj/vending.dmi
Labels: balance, feature, sprites

#1301 UM-037 - Empty Taser Rack and New Sec Vendor
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/density.dmm
  maps/destiny.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/donut2_new_walls.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/trunkmap.dmm
Labels: mapping

#1300 Kondaru: add sec loadout vendors
  maps/kondaru.dmm
Labels: mapping

#1299 UM-036 - Energy Gun/Cell Adjustments
  code/modules/projectiles/energy_bolt.dm
  code/modules/projectiles/laser.dm
  code/modules/projectiles/wavegun.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/energy.dm
  code/obj/item/storage/ammo_pouches.dm
Labels: balance, feature

#1302 Small Donut3 fixes
  code/obj/random_spawners.dm
  maps/donut3.dmm
Labels: mapping

#1261 UM-035 - More Audible Tasers And Csabers
  code/modules/projectiles/energy_bolt.dm
  code/modules/projectiles/projectile_parent.dm
  code/obj/item/misc_weapons.dm
Labels: balance

#1306 fix some projectile range stuff and runtime on laserguns
  code/modules/projectiles/projectile_parent.dm
  code/obj/item/gun/energy.dm
Labels: bug

#1313 adds [FEEDBACK] for the label "input wanted"
  .github/keylabeler.yml
Labels: github

#1314 UM-038 - Crew Weapon Balance (Pass 1)
  code/WorkInProgress/AbilityItem.dm
  code/WorkInProgress/Electronics.dm
  code/datums/components/transfer_on_attack.dm
  code/datums/jobs.dm
  code/datums/objective.dm
  code/modules/medical/surgery_tools.dm
  code/obj/ToSplit/barber_shop.dm
  code/obj/item.dm
  code/obj/item/hydroponics.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/storage/secure_closets.dm
  icons/misc/abilities.dmi
  icons/mob/inhand/hand_tools.dmi
  icons/obj/items/device.dmi
  sound/impact_sounds/circsaw.ogg
Labels: balance, feature, sound, sprites

#1320 fixes invisble beans
  icons/obj/foodNdrink/food_meals.dmi
Labels: sprites

#1308 Fix wraith poltergeist message admins text
  code/datums/abilities/wraith.dm
Labels: bug - trivial

#1268 Revert "changes pulse to pullse on ass day"
  code/modules/projectiles/energy_bolt.dm
  code/obj/item/gun/energy.dm
Labels: ass-jam, removal

#1325 Lots of Donut3 suggested fixes
  maps/donut3.dmm
Labels: mapping

#1255 Add new admin tool, check bioeffects, complete with UI
  code/modules/admin/admin.dm
  code/modules/admin/admin_holder.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_panel.dm
  code/modules/medical/genetics/baseBioeffect.dm
  strings/admin_changelog.txt
Labels: QoL, feature

#1315 Securitrons no longer drop stun batons
  code/modules/robotics/bot/secbot.dm
  icons/obj/bots/aibots.dmi
Labels: balance, sprites

#1280 Make empower bioeffects magical, make magical bioeffects not degrade from low stability
  code/datums/abilities/wizard/mutate.dm
  code/modules/medical/genetics/bioHolder.dm
Labels: bug

#1264 Cyborgs now leave a frame behind when "falling apart"
  code/mob/living/life/statusupdate.dm
Labels: bug

#1244 Change some less-used medical chems
  code/mob/living/life/critical.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/tools/bottles.dm
  code/modules/chemistry/tools/hyposprays.dm
  code/modules/chemistry/tools/patches.dm
  code/modules/medical/surgery_tools.dm
  code/modules/vending/vending.dm
Labels: balance, feature, input wanted

#1339 Transport Chutes can no longer be interacted with at any distance
  code/WorkInProgress/recycling/disposal_chute.dm
Labels: bug

#1335 UM-040 - Chaplain Hidden Gun (Faith)
  code/datums/jobs.dm
  code/modules/projectiles/bullet.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/storage/bible.dm
  icons/obj/items/gun.dmi
Labels: balance, feature, sprites

#1344 fix tooltip rebuilding on satchels/beefcase
  code/obj/item/satchel.dm
Labels: bug - minor

#1246 bugfix for gps tracking not working in containers
  code/obj/item/device/gps.dm
Labels: feature

#1337 UM-041 - Adjust Zip Gun Failure Chances
  code/obj/item/gun/kinetic.dm
Labels: balance

#1348 change resurrection symptom and some minor other related things
  code/mob/living/life/Life.dm
  code/modules/medical/pathology/pathogen.dm
  code/modules/medical/pathology/pathogen_benevolent.dm
Labels: balance, feature

#1272 Adds witchfinder outfit to chaplain closet
  code/obj/item/clothing/shoes.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/storage/clothing.dm
  code/obj/storage/secure_closets.dm
Labels: feature

#1342 fixes fibre wires not resetting properly when thrown
  code/WorkInProgress/SpyGuyStuff.dm
Labels: cleanliness

#1355 adds incubator to cog2 pathology
  maps/cogmap2.dmm
Labels: mapping

#1338 UM-042 - Remove .38 Stunners from Hacked General Fabricator
  code/obj/machinery/manufacturer.dm
Labels: balance, removal

#1351 Fix wraith poltergeist message admins text pt2
  code/datums/abilities/wraith.dm
Labels: bug - trivial

#1358 UM-043 - Give Borgs Safe Deconstructors
  code/WorkInProgress/Electronics.dm
  code/WorkInProgress/multiContext.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
Labels: feature

#1356 Rajaijah buff
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: balance, bug

#1311 Borgs pull corpses slightly slower than fullspeed
  code/datums/movement_modifier/movement_modifiers.dm
  code/mob/living.dm
Labels: balance, bug, cleanliness

#1333 Changes recipes of perfluorodecalin and salbutamol
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: balance, input wanted

#1366 Donut3: Moves critter spawns, More foam/welder tanks, more pipe dispensers!!! MORE TRASH!
  code/map.dm
  maps/donut3.dmm
Labels: mapping

#1171 new medal - vehicular manslaughter
  code/modules/transport/pods/vehicle.dm
Labels: feature

#1365 Kondaru reactor computer fix
  maps/kondaru.dmm
Labels: bug - minor, mapping

#1346 Syndicate Weapon Vendor alterations
  code/obj/item/storage/ammo_pouches.dm
  code/obj/storage/crates.dm
  code/obj/submachine/weapon_vendor.dm
  code/procs/antagonist_procs.dm
Labels: balance, feature

#1357 Assjam: Fleet and Icarus additions
  maps/fleet.dmm
  maps/icarus.dmm
Labels: ass-jam, mapping

#1352 Add ishuman check to checkbioeffect_add
  code/modules/admin/admin.dm
Labels: bug - trivial

#1251 Botany framework additions!
  code/modules/hydroponics/plants.dm
  code/obj/machinery/plantpot.dm
  code/obj/submachine/seed.dm
Labels: feature

#1341 Fixed inconsistent chaplain immunities
  code/datums/abilities/wizard/bullcharge.dm
  code/datums/abilities/wizard/fireball.dm
  code/datums/abilities/wizard/prismatic_spray.dm
  code/mob/living/carbon/human/procs/damage.dm
  code/modules/projectiles/projectile_parent.dm
  code/modules/projectiles/special.dm
  code/obj/artifacts/artifactdatums.dm
  code/obj/item/misc_wizard_stuff.dm
Labels: balance, rework

#1370 fix item spinning messages
  code/mob/living/carbon/human/procs/emote.dm
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/obj/item/gun/gun_parent.dm
Labels: bug - minor

#1372 Defibrillator changes
  code/datums/jobs.dm
  code/modules/medical/surgery_tools.dm
  code/modules/sound/soundCache.dm
  icons/defib.dmi
  icons/obj/compact_machines.dmi
  icons/obj/surgery.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/icarus.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  sound/items/pickup_defib.ogg
  sound/items/putback_defib.ogg
Labels: mapping, sound, sprites

#1371 Resprites atmos tanks, fuel tank
  icons/obj/items/items.dmi
  icons/obj/items/tank.dmi
  icons/obj/items/weapons.dmi
Labels: sprites

#1347 PNetComp Address & Settings in Description
  code/WorkInProgress/MechanicsNetworkCon.dm
Labels: feature

#1258 KendoKendoKendoKendo
  _std/_setup.dm
  code/WorkInProgress/ItemSpecials.dm
  code/datums/hud/human.dm
  code/mob/living/carbon/human.dm
  code/obj/item.dm
  code/obj/item/kendo.dm
  code/obj/storage/closets.dm
  goonstation.dme
  icons/mob/back.dmi
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/mob/inhand/hand_feethand.dmi
  icons/mob/inhand/hand_general.dmi
  icons/mob/inhand/hand_headgear.dmi
  icons/mob/inhand/hand_weapons.dmi
  icons/mob/inhand/overcoat/hand_suit_armor.dmi
  icons/mob/overcoats/worn_suit_armor.dmi
  icons/obj/clothing/item_gloves.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/overcoats/item_suit_armor.dmi
  icons/obj/items/items.dmi
  icons/obj/items/weapons.dmi
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  sound/impact_sounds/kendo_block_1.ogg
  sound/impact_sounds/kendo_block_2.ogg
  sound/impact_sounds/kendo_parry_1.ogg
  sound/impact_sounds/kendo_parry_2.ogg
  sound/impact_sounds/kendo_parry_3.ogg
Labels: feature, mapping, sound, sprites

#1373 Re-adds tactical backpack sprite
  icons/mob/back.dmi
Labels: bug, sprites

#1331 Huge Batch of Wrestlemap Updates
  maps/wrestlemap.dmm
Labels: mapping

#1376 Subroutine typo fixed
  code/modules/events/ion_storm.dm
Labels: bug - trivial

#1379 Fixes flamer sprite and airmix sprite
  icons/obj/items/tank.dmi
  icons/obj/items/weapons.dmi
Labels: sprites

#1378 Fix ling blood not doing the sizzle message
  code/modules/chemistry/Reagents-Misc.dm
Labels: bug - minor

#1383 MPRT resprite and balance changes
  code/obj/item/gun/kinetic.dm
  icons/mob/back.dmi
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/64x32.dmi
  icons/obj/projectiles.dmi
Labels: balance, sprites

#1395 Donut3: Checkpoints, Owlrey/Pool Asteroid, and Kendo
  code/map.dm
  maps/donut3.dmm
Labels: mapping

#1396 Donut3: I FORGOT THE BEE EGG CARTON IN BOTANY
  maps/donut3.dmm
Labels: FUCK, mapping

#1394 Cog2: Add Data Terminal beneath TTV-VR
  maps/cogmap2.dmm
Labels: bug - major, mapping

#1405 Prevent `Anchored` Objects from Sliding Tile-to-Tile
  code/obj/item.dm
Labels: bug

#1400 fix attaching undroppables to other's arms
  code/obj/item.dm
Labels: bug

#1404 Wavegun tweaks
  code/modules/projectiles/wavegun.dm
Labels: balance

#1402 make tshotgun singlefire weaker but spammier
  code/modules/projectiles/energy_bolt.dm
  code/obj/item/gun/energy.dm
Labels: balance

#1312 Limit Cog1 to require at least 14 players on RP server
  code/map.dm
Labels: input wanted, rework

#1393 fix critter limbs holding items too big for them
  code/mob/living/critter.dm
Labels: bug

#1410 Convert prefab_water_miner_manta.dmm to BYOND map format
  assets/maps/prefabs/prefab_water_miner_manta.dmm
Labels: bug, mapping

#1411 Donut3: Medbay general update, chemistry additions
  maps/donut3.dmm
Labels: mapping

#1380 Kendo QoL and Fixes
  code/datums/supply_packs.dm
  code/obj/item/kendo.dm
  maps/z2.dmm
Labels: QoL, bug, mapping

#1353 reorganized pathogen output on health scans a bit
  code/procs/scanprocs.dm
Labels: feature

#1420 Fix admin verb tab names
  _std/defines/_admin.dm
Labels: bug

#1417 Prevent bots from exploding multiple times / drop duplication
  code/modules/robotics/bot/bot_parent.dm
  code/modules/robotics/bot/buttbot.dm
  code/modules/robotics/bot/cambot.dm
  code/modules/robotics/bot/chefbot.dm
  code/modules/robotics/bot/cleanbot.dm
  code/modules/robotics/bot/duckbot.dm
  code/modules/robotics/bot/firebot.dm
  code/modules/robotics/bot/floorbot.dm
  code/modules/robotics/bot/goosebot.dm
  code/modules/robotics/bot/guardbot.dm
  code/modules/robotics/bot/medbot.dm
  code/modules/robotics/bot/secbot.dm
  code/modules/robotics/bot/skullbot.dm
Labels: bug

#1415 Resprites most bottled drinks
  code/modules/food_and_drink/alcohol.dm
  icons/obj/foodNdrink/bottle.dmi
Labels: sprites

#1424 Fix ceshield effect not clearing
  code/obj/item/storage/backpack_belt_etc.dm
Labels: bug

#1374 Mailgroups can be Muted
  code/obj/item/device/pda2/base_os.dm
  code/obj/item/device/pda2/pda2.dm
Labels: feature

#1249 Event antagonist critters loot tables, dropping items on death.
  code/modules/events/antagonist_critter_ghost_respawn.dm
Labels: feature

#1430 Fix 0 stacks of floor tiles
  code/obj.dm
  code/obj/flock/furniture.dm
  code/obj/item/building_materials.dm
  code/turf/floors.dm
  code/turf/turf.dm
Labels: bug

#1433 Fixed wizard teleport computer not working correctly
  code/datums/abilities/wizard/teleport.dm
Labels: bug - major

#1360 Refactor: Mail Groups by Department
  _std/__std.dme
  _std/defines/_jobs.dm
  code/WorkInProgress/recycling/disposal.dm
  code/WorkInProgress/recycling/mail_chute.dm
  code/lists/jobs.dm
  code/mob/living/silicon/robot.dm
  code/modules/economy/shippingmarket.dm
  code/modules/economy/traders/trader.dm
  code/modules/medical/genetics/geneticsBooth.dm
  code/modules/networks/computer3/sec_rec.dm
  code/modules/robotics/bot/secbot.dm
  code/obj/health_scanner.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/item/implant.dm
  code/obj/machinery/clonepod.dm
  code/obj/machinery/computer/QM_order.dm
  code/obj/machinery/computer/QM_supply.dm
  code/obj/machinery/secscanner.dm
Labels: cleanliness

#1435 Manta: Fix Armory Access
  maps/manta.dmm
Labels: bug, mapping

#1443 heartburger pure love content fix
  code/modules/food_and_drink/sandwiches.dm
Labels: bug - minor

#1354 fix interdimensional monkey attacks, fix monkey throwing itemarms
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/npc.dm
Labels: bug

#1439 Fix TTV-VR: no longer hangs after first simulation.
  code/obj/item/device/transfer_valve.dm
Labels: bug

#1437 Manta: remove errant space tile in the ghost-drone ship
  maps/manta.dmm
Labels: bug, mapping

#1328 Card Quality of Life and Hanafuda!
  code/modules/vending/vending.dm
  code/obj/item/playing_cards.dm
  icons/obj/items/playing_card.dmi
Labels: QoL, feature, sprites

#1364 some changes to emotes and the way the hug pathology symptom spreads
  code/mob/living/carbon/human/procs/emote.dm
  code/modules/chemistry/Reagents-Diseases.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/medical/pathology/pathogen.dm
  code/modules/medical/pathology/pathogen_benevolent.dm
  code/modules/medical/pathology/pathogen_suppressants.dm
  code/modules/medical/pathology/pathogen_symptoms.dm
Labels: balance, feature

#1434 Colt SAA resprite
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/items/gun.dmi
Labels: sprites

#1447 Shockfixes
  code/mob/living/silicon.dm
  code/procs/elecflash.dm
Labels: balance, bug

#1369 Added quantum telescopes to research on the cogmaps and destiny
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
Labels: QoL, mapping

#1448 Resprites taser shotgun, changes/adds a few gun in-hands
  code/obj/item/gun/energy.dm
  code/obj/item/gun/kinetic.dm
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/items/gun.dmi
Labels: sprites

#1361 "Spiritual Affairs" Mail Group & Chaplain Receives Death Notifications
  _std/defines/_jobs.dm
  code/WorkInProgress/recycling/mail_chute.dm
  code/lists/jobs.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/implant.dm
Labels: feature

#1427 Adds some new, cool-looking bottles to the Glass Recycler
  code/modules/food_and_drink/alcohol.dm
  code/obj/machinery/glass_recycler.dm
Labels: feature

#1442 Fixed ai turrets reacting to intangible mobs
  code/area.dm
Labels: bug - minor

#1385 Fix VR sabers, prevent rainbow sabers glowstick modification
  code/obj/item/misc_weapons.dm
Labels: bug - minor, runtime

#1454 Fixes nukies getting set nuke targets that don't exist on donut3
  code/map.dm
Labels: bug, bug - critical

#1455 Station payroll status change rate limit
  code/datums/banking.dm
Labels: feature

#1362 Adds the Station Repair Mail Group
  _std/defines/_jobs.dm
  code/lists/jobs.dm
  code/obj/item/device/pda2/pda2.dm
Labels: feature

#1450 Monlogue
  code/mob/living/carbon/human/procs/emote.dm
  code/procs/mob_procs.dm
Labels: bug, feature, input wanted

#1457 Super small card functionality fix
  code/obj/item/playing_cards.dm
Labels: QoL

#1363 PDA Messenger DEPT is now Collapsible - and stringbuild removal
  code/obj/item/device/pda2/base_os.dm
Labels: cleanliness, feature

#1462 Playable non-traitor pests are now ghost critters
  _std/code/_macros.dm
  code/atom.dm
  code/mob/living/critter.dm
  code/mob/living/critter/small_animal.dm
  code/modules/events/playable_pests.dm
Labels: bug, feature, rework

#1467 Some traitor gear resprites
  code/modules/chemistry/tools/stimpack.dm
  icons/obj/items/device.dmi
  icons/obj/items/items.dmi
  icons/obj/items/weapons.dmi
  icons/obj/kitchen.dmi
Labels: sprites

#1399 make phase shift and dimensional shift lock position properly
  code/datums/abilities/wizard/phaseshift.dm
  code/modules/medical/genetics/bioEffects/powers.dm
Labels: bug - minor

#1451 Kudzumen update
  _std/code/_macros.dm
  code/WorkInProgress/multiContext.dm
  code/datums/abilities/kudzumen.dm
  code/datums/controllers/process/kudzu.dm
  code/datums/mutantraces.dm
  code/modules/events/gimmick/kudzu.dm
  code/obj/critter/plants.dm
  code/obj/item/seeds.dm
  code/obj/machinery/plantpot.dm
  code/obj/submachine/seed.dm
  icons/misc/kudzu_plus.dmi
  icons/obj/hydroponics/machines_hydroponics.dmi
  icons/ui/actions.dmi
  icons/ui/context16x16.dmi
Labels: bug - trivial, feature, sprites

#1476 Sequestered Cloner Improvement - Re-enable Sov's Bee Sanctuary
  assets/maps/prefabs/prefab_sequestered_cloner.dmm
  code/modules/worldgen/GenerateMining.dm
Labels: bug, mapping

#1472 Resprites genetics activators and injectors
  code/modules/medical/genetics/geneticsItems.dm
  icons/obj/syringe.dmi
Labels: sprites

#1446 Manta Fix - Bridge Intercoms & Enginge Speakers
  code/obj/item/device/radio.dm
  maps/manta.dmm
Labels: bug - minor, mapping

#1422 Change wifi comp delay to match pnet comp
  code/WorkInProgress/MechanicMadness.dm
Labels: feature

#1391 Make hand tele UI less intrusive
  code/obj/item/teleportation.dm
Labels: QoL

#1270 remove galoshes from janitor closet
  code/obj/storage/secure_closets.dm
  maps/z3.dmm
Labels: mapping, removal

#1483 Fix Multitool Dropping with MechComp
  code/WorkInProgress/MechanicMadness.dm
Labels: bug

#1482 Oceanify ccommand improvements
  code/modules/fluids/fluid_commands.dm
  strings/admin_changelog.txt
Labels: feature

#1479 Admin transform into critter button in player options now allows type search
  code/modules/admin/admin.dm
Labels: QoL, feature

#1488 Add a check for null turf in Pali's map loader
  code/modules/admin/buildmodes/load_map.dm
Labels: bug, runtime

#1231 MechComp Componentization Refactor
  _std/component_defines.dm
  code/WorkInProgress/MechanicMC14500.dm
  code/WorkInProgress/MechanicMadness.dm
  code/WorkInProgress/MechanicsNetworkCon.dm
  code/WorkInProgress/recycling/conveyor.dm
  code/WorkInProgress/recycling/disposal.dm
  code/WorkInProgress/telescope/telescopeMisc.dm
  code/atom.dm
  code/datums/components/mechComp_signals.dm
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/modules/vending/vending.dm
  code/obj/machinery/door/door_parent.dm
  code/obj/machinery/firealarm.dm
  code/obj/machinery/lightswitch.dm
  code/obj/submachine/slots.dm
  goonstation.dme
Labels: cleanliness, feature

#1486 fix ai turrets not blocking movement/etc
  code/atom.dm
Labels: bug

#1475 Faith Casing Ejection Fix
  code/obj/item/gun/kinetic.dm
Labels: bug - minor

#1468 (RP) Gang Mode - Min 20 Readied Players - Max 2 Teams, Max Tot' 4 Each
  code/datums/gamemodes/gangwar.dm
  code/datums/gameticker.dm
Labels: feature, input wanted

#1496 small instrument fixes
  code/modules/medical/pathology/pathogen_symptoms.dm
  code/obj/item/assembly/misc_assemblies.dm
Labels: bug - minor, feature

#1502 Fixes: Code-Typos in MechComp Refactor
  code/WorkInProgress/MechanicMadness.dm
  code/WorkInProgress/MechanicsNetworkCon.dm
  code/datums/components/mechComp_signals.dm
Labels: bug - major

#1490 Shambler changes
  _std/mob_properties.dm
  code/datums/abilities/vampire.dm
  code/datums/mutantraces.dm
  code/mob/input.dm
  code/mob/living.dm
  code/modules/antagonists/changeling/abilities/changeling.dm
Labels: balance, bug

#1471 Update respawn panel to handle antag players
  code/datums/special_r.dm
  code/modules/admin/admin.dm
  strings/admin_changelog.txt
Labels: feature

#1493 small brain damage fixes
  code/datums/traits.dm
  code/modules/antagonists/changeling/abilities/regeneration.dm
  code/obj/item/football.dm
  code/obj/machinery/door/door_parent.dm
Labels: balance, bug - minor

#1489 remove sec chairflip immunity
  code/datums/abilities/generic.dm
Labels: balance, input wanted, removal

#1484 Resprites medibots
  icons/obj/bots/medbots.dmi
Labels: sprites

#1503 AntiSingulo Can Always be Ordered
  code/datums/supply_packs.dm
Labels: rework

#1510 Save Area confirmation prompt coords off by 1
  code/modules/admin/buildmodes/save_map.dm
Labels: bug - trivial

#1508 Vampire Blood Steal Ability Loss after Cloning Fix
  code/datums/abilities/vampire.dm
Labels: bug

#1506 Fix: Printers Missing Cables
  maps/atlas.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
Labels: bug, feature, mapping

#1521 Fix random mode picking.
  code/datums/configuration.dm
Labels: bug - major

#1416 Vend a Specific Product with MechComp
  code/modules/vending/vending.dm
Labels: feature

#1532 Fixed csabers being unable to attack if the user was non-human
  code/obj/item/misc_weapons.dm
Labels: bug - major

#1469 Stop boosters overdosing from multiple life ticks
  code/modules/chemistry/Reagents-Misc.dm
Labels: bug

#1465 Change Pathology UI a bit
  browserassets/css/pathoui.css
  browserassets/html/pathoComp.html
  browserassets/js/pathoui-script.js
  code/modules/medical/pathology/pathogen.dm
  code/modules/medical/pathology/pathogen_machines.dm
Labels: QoL, WIP, feature, input wanted, rework

#1334 remove participant ribbon reward smoke effect
  code/WorkInProgress/rewardsLocker.dm
Labels: feature, removal

#1551 make haggis and hagass call their parents
  code/modules/food_and_drink/snacks.dm
Labels: bug - minor

#1535 Chest implants now have a maximum weight class
  code/modules/medical/surgery_procs.dm
Labels: balance

#1565 fix pathogen manipulator css
  browserassets/html/pathoComp.html
Labels: bug - major

#1567 Prevent shuttle from instantly warping to centcom
  code/modules/transport/shuttle/shuttle_controller.dm
Labels: bug

#1568 Special bee egg grammar fixes
  code/obj/critter/bee.dm
Labels: bug - trivial

#1530 Jobxp optomization test
  _std/_setup.dm
  code/WorkInProgress/JobXP.dm
  code/datums/gameticker.dm
  code/obj/item/plants.dm
  code/obj/machinery/plantpot.dm
Labels: performance

#1179 Silverware Orientation QoL, Plastic Silverware Sprites, and Chopsticks
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/vending/vending.dm
  code/obj.dm
  code/obj/item/kitchen.dm
  icons/mob/inhand/hand_food.dmi
  icons/obj/kitchen.dmi
Labels: feature, sprites
