Repository goonstation/goonstation, pull requests merged in 2020-12, with the labels that each got.

#2895 New hat: antlers!
  code/modules/vending/clothingbooth_items.dm
  code/obj/item/clothing/hats.dm
  icons/mob/bighat.dmi
  icons/obj/clothing/item_ears.dmi
Labels: feature, sprites

#2898 Fixes #2807
  code/modules/sound/playsound.dm
Labels: bug

#2794 Adjustment to reworked wages + dice sheet cost reduction
  _std/defines/wages.dm
  code/modules/vending/vending.dm
Labels: balance

#2887 Prisoner scanner resprite (and rename)
  code/obj/item/device/scanners.dm
  icons/mob/inhand/hand_tools.dmi
  icons/obj/items/device.dmi
Labels: QoL, sprites

#2891 Spacemas Cogmap 1
  maps/cogmap_xmas_2020.dmm
Labels: mapping

#2903 Toggles Spacemas define, decorated Cogmap 1
  maps/config/cogmap.dm
Labels: mapping

#2890 Reworks Janitor job rewards to require a sacrificial item
  code/WorkInProgress/JobXPRewards.dm
Labels: cleanliness

#2840 interrupt flockmind tile conversion if it's already done
  code/mob/living/critter/flockcritter_parent.dm
Labels: bug - minor

#2824 New arrivals after 20 minutes always spawn with o2 tank and crowbar
  code/obj/item/storage/small_storage_parent.dm
Labels: balance, input wanted

#2691 Manta fixes, re-does Assault Vessel wiring
  maps/manta.dmm
Labels: mapping

#2904 Spacemas Cogmap 2
  maps/cogmap2_xmas_2020.dmm
Labels: mapping

#2899 Adds departamental coffee machines to maps
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/horizon.dmm
Labels: feature, mapping

#2897 Adds a box of body bags to Janitors closet
  code/obj/storage/closets.dm
Labels: feature

#2893 Resolve rounding error when TEG is at high temperatures
  code/WorkInProgress/TempEngine.dm
Labels: bug - major

#2909 UM-061 - Shivering Status Replaces Cold Slow
  code/datums/movement_modifier/movement_modifiers.dm
  code/mob/living.dm
  code/mob/living/life/bodytemp.dm
  code/mob/melee_attack_procs.dm
  code/modules/status_system/statusSystem.dm
  icons/ui/statussystem.dmi
Labels: balance, feature, rework, sprites

#2908 HOS cape fits new sprite and uses new palette
  icons/mob/overcoats/worn_suit_armor.dmi
Labels: human resprite project, sprites

#2885 Fixes (sea)monkeys, adds lizard hair button, and refactors much of mutantcode
  _std/macros/appearance.dm
  code/datums/abilities/lizard.dm
  code/datums/components/barber.dm
  code/datums/mutantraces.dm
  code/datums/preferences.dm
  code/datums/savefile.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/gimmick.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
  code/modules/medical/genetics/bioEffects/beneficial.dm
  code/modules/medical/genetics/bioEffects/useless.dm
  code/modules/medical/genetics/bioHolder.dm
  code/modules/medical/genetics/geneticsScanner.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/item/organs/head.dm
  code/obj/item/organs/organ_parent.dm
  code/obj/item/organs/tail.dm
Labels: bug, cleanliness, feature

#2910 Misc hats
  icons/mob/head.dmi
Labels: human resprite project, sprites

#2913 Adds spacemas stockings to xmas cog1 and cog2
  maps/cogmap2_xmas_2020.dmm
  maps/cogmap_xmas_2020.dmm
Labels: mapping

#2917 Fixes beardless Bill, colorful boneheads, and item limbs being eaten by mutants
  code/WorkInProgress/warcrimes.dm
  code/datums/mutantraces.dm
  code/obj/item/mob_parts.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/item/mob_parts/robot_parts.dm
Labels: bug

#2889 Spacemas Special: ephemeral xmas ornaments, Kondaru xmas'd
  .github/MAP_GUIDELINES.md
  code/modules/holiday/spacemas.dm
  code/obj/item/gift.dm
  maps/kondaru.dmm
Labels: documentation, feature, github, mapping

#2914 scrubbing some reliquary stuff
  icons/effects/genetics.dmi
  icons/obj/artifacts/artifacts.dmi
  icons/obj/artifacts/artifactsitem.dmi
  icons/obj/artifacts/artifactsitemS.dmi
Labels: sprites

#2931 Biosuit + Thermalsuit sprites
  icons/mob/head.dmi
  icons/mob/overcoats/worn_suit_hazard.dmi
Labels: human resprite project, sprites

#2905 stop running random events when the shuttle leaves the station
  code/datums/controllers/event_controls.dm
Labels: balance

#2933 Fixes AI being unable to suicide outside mainframe
  code/mob/suicide.dm
Labels: bug

#2928 Removes duplicate head of staff lockers from Clarion
  maps/clarion.dmm
Labels: mapping, removal

#2853 Wraithsounds
  code/datums/abilities/revenant.dm
  code/datums/abilities/wraith.dm
  code/mob/living/object.dm
  code/modules/antagonists/blob/blob_abilities.dm
  code/modules/sound/soundCache.dm
  sound/voice/wraith/ghostrespawn.ogg
  sound/voice/wraith/reventer.ogg
  sound/voice/wraith/revfocus.ogg
  sound/voice/wraith/revleave.ogg
  sound/voice/wraith/revpush1.ogg
  sound/voice/wraith/revpush2.ogg
  sound/voice/wraith/revshock.ogg
  sound/voice/wraith/revtouch.ogg
  sound/voice/wraith/wraithhaunt.ogg
  sound/voice/wraith/wraithleaveobject.ogg
  sound/voice/wraith/wraithlivingobject.ogg
  sound/voice/wraith/wraithportal.ogg
  sound/voice/wraith/wraithpossesobject.ogg
  sound/voice/wraith/wraithraise1.ogg
  sound/voice/wraith/wraithraise2.ogg
  sound/voice/wraith/wraithraise3.ogg
  sound/voice/wraith/wraithsoulsucc1.ogg
  sound/voice/wraith/wraithsoulsucc2.ogg
  sound/voice/wraith/wraithspook1.ogg
  sound/voice/wraith/wraithspook2.ogg
  sound/voice/wraith/wraithstaminadrain.ogg
  sound/voice/wraith/wraithwhisper1.ogg
  sound/voice/wraith/wraithwhisper2.ogg
  sound/voice/wraith/wraithwhisper3.ogg
  sound/voice/wraith/wraithwhisper4.ogg
Labels: sound

#2934 Fixes kudzufolk, blank monkey leg
  _std/macros/appearance.dm
  code/datums/mutantraces.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/modules/admin/part_modifier.dm
  code/modules/medical/genetics/bioHolder.dm
  code/obj/item/mob_parts.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/item/organs/head.dm
  icons/mob/kudzu.dmi
Labels: bug, sprites

#2878 tgui port: ass delivery
  .vscode/settings.json
  browserassets/tgui/tgui-common.chunk.js
  browserassets/tgui/tgui-panel.bundle.css
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  browserassets/tgui/tgui.html
  code/modules/tgui/tgui_window.dm
  tgui/.yarn/sdks/eslint/bin/eslint.js
  tgui/.yarn/sdks/eslint/package.json
  tgui/.yarn/sdks/integrations.yml
  tgui/global.d.ts
  tgui/packages/tgui-panel/styles/main.scss
  tgui/packages/tgui/assets.js
  tgui/packages/tgui/backend.js
  tgui/packages/tgui/debug/middleware.js
  tgui/packages/tgui/package.json
  tgui/packages/tgui/styles/components/FatalError.scss
  tgui/packages/tgui/styles/main.scss
  tgui/yarn.lock
Labels: tgui

#2948 Prevent visual mirror from warping away lights
  code/turf/turf.dm
Labels: bug

#2944 Code tidying, porting #55098 from tgstation
  browserassets/tgui/tgui-common.chunk.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/.eslintrc.yml
  tgui/bin/tgui
  tgui/packages/common/collections.js
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/events.js
  tgui/packages/tgui/interfaces/CameraConsole.js
  tgui/packages/tgui/layouts/NtosWindow.js
  tgui/packages/tgui/styles/interfaces/CameraConsole.scss
  tgui/packages/tgui/styles/main.scss
Labels: tgui

#2938 Add missing grille sprite
  icons/obj/SL_windows_grilles.dmi
Labels: bug, sprites

#2936 Helmets and captain's hat sprites
  icons/mob/head.dmi
  icons/obj/clothing/item_hats.dmi
Labels: human resprite project, sprites

#2943 resprited bathrobe for new human and palette
  icons/mob/overcoats/worn_suit.dmi
Labels: human resprite project, sprites

#2690 song Dance On A Space Volcano by retkid
  code/modules/telescience/radiostation.dm
  sound/radio_station/dance_on_a_space_volcano.ogg
Labels: sound, stale

#2747 Emote volume channel + volume QoL
  _std/defines/sound.dm
  code/WorkInProgress/AphsStuff.dm
  code/WorkInProgress/rewardsLocker.dm
  code/WorkInProgress/tarmStuff.dm
  code/WorkInProgress/warcrimes.dm
  code/client.dm
  code/datums/mutantraces.dm
  code/mob.dm
  code/mob/dead.dm
  code/mob/living/carbon/cube.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/critter/aquatic.dm
  code/mob/living/critter/arena/fire_elemental.dm
  code/mob/living/critter/bear.dm
  code/mob/living/critter/changeling_critters.dm
  code/mob/living/critter/drone.dm
  code/mob/living/critter/fermid.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/gunbot.dm
  code/mob/living/critter/hastur.dm
  code/mob/living/critter/killertomato.dm
  code/mob/living/critter/maneater.dm
  code/mob/living/critter/martian.dm
  code/mob/living/critter/mechmonstrosity.dm
  code/mob/living/critter/repairbot.dm
  code/mob/living/critter/skeleton.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/critter/spider.dm
  code/mob/living/critter/wendigo.dm
  code/mob/living/intangible/flockmob_parent.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/drone.dm
  code/mob/living/silicon/ghostdrone.dm
  code/mob/living/silicon/hivebot.dm
  code/mob/living/silicon/robot.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/holiday/halloween.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/modules/sound/playsound.dm
  code/modules/sound/sound.dm
  code/obj/critter/drone.dm
  code/obj/item/device/transfer_valve.dm
  code/obj/item/grenades.dm
  code/obj/item/noisemaker.dm
  code/turf/floors.dm
  code/z_adventurezones/icemoon.dm
  code/z_adventurezones/mad_mars.dm
  interface/skin.dmf
Labels: QoL, cleanliness, input wanted, merge conflict

#2459 add area location help for spy thieves
  _std/pathfinding.dm
  code/WorkInProgress/SomepotatosStuff.dm
  code/area.dm
  code/datums/gamemodes/spy_theft.dm
  code/obj/item/device/pda2/base_os.dm
  code/obj/item/uplinks.dm
  code/procs/gamehelpers.dm
Labels: balance, feature, input wanted

#2831 Updates portable air pump, tank dispenser, portable seed fabricator visuals
  code/modules/atmospherics/portable/canister.dm
  code/modules/atmospherics/portable/pump.dm
  code/obj/item/hydroponics.dm
  code/obj/machinery/dispenser.dm
  icons/obj/atmospherics/atmos.dmi
  icons/obj/hydroponics/items_hydroponics.dmi
  icons/obj/objects.dmi
Labels: feature, sprites

#2949 ears.dmi sprites
  icons/mob/ears.dmi
Labels: human resprite project, sprites

#2959 Cogmap 2 Spacemas config change
  maps/config/cogmap2.dm
Labels: mapping

#2960 Fixes achromia only achromatizing torsos
  code/modules/medical/genetics/bioEffects/useless.dm
Labels: bug

#2963 Party hat + Waldo + Jester Hat sprites
  icons/mob/head.dmi
Labels: sprites

#2951 Syndicate top hat sprites
  icons/mob/bighat.dmi
Labels: human resprite project, sprites

#2966 Summon Office
  code/WorkInProgress/gehenna.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
  code/procs/gamehelpers.dm
  code/turf/turf.dm
  strings/admin_changelog.txt
Labels: feature

#2900 Ozymandias dec20 mini-fixbatch
  maps/ozymandias.dmm
Labels: bug - minor, feature, mapping

#2969 Kondaru dec20 mini-fixbatch (inc. electroplater)
  maps/kondaru.dmm
Labels: mapping

#2950 corpses don't shiver
  code/mob/living/life/bodytemp.dm
Labels: bug - minor

#2932 Adds a custom suicide for the portable air pump
  code/modules/atmospherics/portable/pump.dm
Labels: feature

#2971 Add some GPS markers for Horizon
  maps/horizon.dmm
Labels: mapping

#2972 Removes Obesity Mutation
  _std/defines/clothing.dm
  code/WorkInProgress/recycling/disposal.dm
  code/datums/abilities/werewolf.dm
  code/datums/abilities/werewolf/werewolf_pounce.dm
  code/datums/abilities/wizard/cluwne.dm
  code/datums/mutantraces.dm
  code/datums/traits_disused.dm
  code/mob.dm
  code/mob/living/carbon.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/mob/living/critter/bear.dm
  code/mob/living/life/Life.dm
  code/mob/living/silicon/drone.dm
  code/mob/living/silicon/ghostdrone.dm
  code/mob/living/silicon/hivebot.dm
  code/mob/living/silicon/robot.dm
  code/mob/living/silicon/shell-JUNK.dm
  code/modules/admin/randomverbs.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/food_and_drink/sandwiches.dm
  code/modules/medical/diseases/heartdisease.dm
  code/modules/medical/diseases/malady.dm
  code/modules/medical/genetics/bioEffects/beneficial.dm
  code/modules/medical/genetics/bioEffects/harmful.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/medical/genetics/combo_recipes.dm
  code/obj/artifacts/artifact_objects/power_giver.dm
  code/obj/critter/big_animals.dm
  code/obj/critter/critter_parent.dm
  code/obj/critter/martian.dm
  code/obj/critter/misc.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/critter/spider.dm
  code/obj/item/clothing/armor.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/grab.dm
  code/obj/item/kendo.dm
  code/obj/item/toilets.dm
  code/obj/item/uplinks.dm
  code/obj/submachine/cooking.dm
  code/obj/table.dm
  code/procs/basketball.dm
  code/procs/jobprocs.dm
  code/procs/scanprocs.dm
Labels: balance, input wanted, removal

#2584 Job ban 2.0: API's Revenge
  code/client.dm
  code/global.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/jobban.dm
  code/player.dm
  code/world.dm
Labels: Certified Organic, cleanliness

#2979 Add Motley facial hair style (old lipstick)
  code/datums/preferences.dm
  code/global.dm
  icons/mob/human_hair.dmi
Labels: feature, sprites

#2970 More misc hats + new special baldcap
  code/obj/ToSplit/barber_shop.dm
  icons/mob/head.dmi
Labels: human resprite project, sprites

#2993 Manta taser shotgun removal from HoS locker
  maps/manta.dmm
Labels: mapping

#2984 makes spacemas tree note link clickable
  code/modules/holiday/spacemas.dm
Labels: QoL

#2996 Flaborized's sprites
  icons/mob/feet.dmi
  icons/mob/jumpsuits/worn_js_rank.dmi
  icons/mob/overcoats/worn_suit_armor.dmi
Labels: human resprite project, sprites

#2974 Allow bolt+toggle to occur in the same click
  code/obj/machinery/door/airlock.dm
Labels: QoL, bug - minor

#2918 Atlas, Clarion, Horizon, Manta, and Oshan Spacemas maps
  maps/atlas_xmas_2020.dmm
  maps/clarion_xmas_2020.dmm
  maps/config/atlas.dm
  maps/config/clarion.dm
  maps/config/horizon.dm
  maps/config/manta.dm
  maps/config/oshan.dm
  maps/horizon_xmas.dmm
  maps/manta_xmas.dmm
  maps/oshan_xmas.dmm
Labels: mapping

#2997 Nukie sprites
  code/obj/item/clothing/helmets.dm
  icons/mob/head.dmi
  icons/mob/overcoats/worn_suit_hazard.dmi
Labels: human resprite project, sprites

#2775 Tgui paper
  browserassets/images/tg/stamp_icons/large_stamp-cap.png
  browserassets/images/tg/stamp_icons/large_stamp-ce.png
  browserassets/images/tg/stamp_icons/large_stamp-centcom.png
  browserassets/images/tg/stamp_icons/large_stamp-chap.png
  browserassets/images/tg/stamp_icons/large_stamp-clown.png
  browserassets/images/tg/stamp_icons/large_stamp-deny.png
  browserassets/images/tg/stamp_icons/large_stamp-hop.png
  browserassets/images/tg/stamp_icons/large_stamp-hos.png
  browserassets/images/tg/stamp_icons/large_stamp-law.png
  browserassets/images/tg/stamp_icons/large_stamp-md.png
  browserassets/images/tg/stamp_icons/large_stamp-mime.png
  browserassets/images/tg/stamp_icons/large_stamp-ok.png
  browserassets/images/tg/stamp_icons/large_stamp-qm.png
  browserassets/images/tg/stamp_icons/large_stamp-rd.png
  browserassets/images/tg/stamp_icons/large_stamp-syndicate.png
  browserassets/images/tg/stamp_icons/large_stamp-void.png
  browserassets/tgui/tgui-common.chunk.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/WorkInProgress/Hydrothings.dm
  code/modules/atmospherics/portable/canister.dm
  code/obj/item/assembly/detonator.dm
  code/obj/item/paper.dm
  code/obj/item/yacht_dice_sheet.dm
  code/obj/machinery/photocopier.dm
  code/z_adventurezones/vault.dm
  icons/obj/writing.dmi
  tgui/packages/tgui/interfaces/GasCanister.js
  tgui/packages/tgui/interfaces/PaperSheet.js
  tgui/packages/tgui/sanitize.js
  tgui/packages/tgui/styles/interfaces/MotionControl-Bold.woff
  tgui/packages/tgui/styles/interfaces/Paper.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/paper.scss
Labels: FUCK, bug, feature, rework, sprites, tgui

#3001 hotfix paper
  code/obj/item/paper.dm
Labels: bug - critical

#2981 small office change
  maps/z2.dmm
Labels: mapping

#3000 Fixes lizard colorchange
  code/datums/abilities/lizard.dm
Labels: bug

#3008 Paper patch 1
  browserassets/tgui/tgui.bundle.js
  code/obj/item/paper.dm
  code/obj/item/pens_writing_etc.dm
  tgui/packages/tgui/interfaces/PaperSheet.js
Labels: bug, tgui

#2990 Makes blue med coat & green science coat redeemable with alternative jumpsuit purchase
  code/WorkInProgress/rewardsLocker.dm
  icons/mob/inhand/overcoat/hand_suit.dmi
Labels: cleanliness, feature, sprites

#3012 Spacemas map fixes
  maps/atlas_xmas_2020.dmm
  maps/clarion_xmas_2020.dmm
  maps/horizon_xmas.dmm
  maps/manta_xmas.dmm
Labels: mapping

#3004 Adding visual indication for TEG Variant
  code/WorkInProgress/TempEngine.dm
  icons/obj/atmospherics/pipes.dmi
  icons/obj/power.dmi
Labels: sprites

#2985 Equips medical doctors with medical belts on spawn.
  code/datums/jobs.dm
Labels: balance, feature, input wanted

#2957 Make hacking lockers require netpass_security, give more ways of finding netpass_security
  code/datums/jobs.dm
  code/obj/machinery/computer/security/riot.dm
  code/obj/storage/large_storage_parent.dm
  code/procs/jobprocs.dm
Labels: balance, feature

#2929 civilian-borg cleaner bottle automatically refills
  code/modules/chemistry/tools/robospray.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
  code/obj/item/mops_cleaners.dm
  icons/obj/janitor.dmi
Labels: QoL, feature, sprites

#2839 allow AI flockdrones to contribute resources towards tealprints
  code/mob/living/critter/ai/flock/flockdrone.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
Labels: feature

#3015 Resolve singularity bomb runtime with timer
  code/obj/machinery/singularity.dm
Labels: IGNORE CHECKS, bug - minor

#2902 Improve New TEG Experience
  code/WorkInProgress/TempEngine.dm
  code/obj/item/paper.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/fleet.dmm
  maps/kondaru.dmm
  maps/ozymandias.dmm
Labels: QoL, balance, feature, help wanted, mapping

#2945 Adds 5x4 color matrix multiplication, extra colorblindness effects
  _std/color.dm
  _std/macros/mob_properties.dm
  code/datums/hud/robot.dm
  code/mob.dm
  code/mob/living/intangible/flockmob_parent.dm
  code/modules/medical/genetics/bioEffects/harmful.dm
  code/obj/flock/structure/flock_structure_ghost.dm
  code/obj/item/organs/brain.dm
  icons/mob/eyes.dmi
  icons/obj/clothing/item_glasses.dmi
Labels: feature, sprites

#3013 Perspective labcoats
  icons/mob/overcoats/worn_suit.dmi
Labels: human resprite project, sprites

#3011 Fix medical records not properly listing random allergies
  code/datums/datacore.dm
  code/datums/traits.dm
Labels: bug - minor, cleanliness

#3002 More Ion Storm laws
  code/modules/events/ion_storm.dm
Labels: feature

#3010 adds u tag to the sanitizer to allow for underlined text in paper
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/sanitize.js
Labels: tgui

#3024 Resolve typo and unclosed element in TEG instructions
  code/WorkInProgress/TempEngine.dm
  code/obj/item/paper.dm
Labels: bug - minor

#3026 Switches to an auxtools-based debugger for local development
  SpacemanDMM.toml
  _std/_spaceman_dmm.dm
  code/world.dm
Labels: feature, tooling

#3028 Fixes stamps for tgui paper
  code/obj/item/paper.dm
Labels: bug - major, tgui

#2986 Athletic trait adjustment
  code/datums/traits.dm
  code/mob/living/carbon/human/procs/damage.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/item/organs/torso.dm
Labels: balance

#3031 Re-add brain names
  code/obj/item/organ_holder.dm
Labels: feature

#3029 Delay spacing of turfs to avoid dirty cached data by air_master
  code/modules/atmospherics/FEA_system.dm
  code/turf/turf.dm
Labels: bug - minor

#3009 Kondaru upgrade "Epsilon" - expansion/rework targeted at southeast region
  code/obj/machinery/launcherloader_kondaru.dm
  maps/kondaru.dmm
Labels: feature, mapping

#3032 Clean up superconductive list and div0
  code/modules/atmospherics/FEA_system.dm
  code/modules/atmospherics/FEA_turf_tile.dm
Labels: performance

#3042 fix doors in Oshan
  maps/oshan.dmm
Labels: mapping

#3040 Kondaru Epsilon fixbatch 1
  maps/kondaru.dmm
Labels: feature, mapping

#3046 Flabo sprites part 2
  icons/mob/eyes.dmi
  icons/mob/hands.dmi
  icons/mob/jumpsuits/worn_js.dmi
  icons/mob/jumpsuits/worn_js_athletic.dmi
  icons/mob/jumpsuits/worn_js_rank.dmi
Labels: sprites

#3047 Reinforced railings
  code/obj/item/building_materials.dm
  code/obj/railing.dm
  icons/obj/objects.dmi
Labels: feature, sprites

#3041 Start adding help topics for wireless devices
  code/obj/item/device/gps.dm
  code/obj/machinery/computer/security/riot.dm
  code/obj/machinery/door/airlock.dm
  code/obj/machinery/navbeacon.dm
  code/obj/storage/large_storage_parent.dm
Labels: feature, input wanted

#2980 Civilian and Brobocop Cyborg QoL Update!
  code/datums/controllers/action_controls.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
  code/obj/item/device/audio_log.dm
  code/obj/item/dice.dm
  code/obj/item/handcuffs.dm
  code/obj/item/mops_cleaners.dm
  code/obj/item/paper.dm
  code/obj/item/pens_writing_etc.dm
  code/obj/machinery/deep_fryer.dm
  code/obj/soup_pot.dm
  code/obj/submachine/cooking.dm
  maps/z2.dmm
Labels: QoL, balance, feature, mapping

#2975 Monkeys can use humanoid limbs, fixes polymorph, etc
  code/WorkInProgress/GerhazoStuff.dm
  code/WorkInProgress/HaineWhatever.dm
  code/WorkInProgress/SpyGuyStuff.dm
  code/WorkInProgress/infernal_contracts.dm
  code/WorkInProgress/warcrimes.dm
  code/datums/abilities/wizard.dm
  code/datums/components/barber.dm
  code/datums/mutantraces.dm
  code/datums/preferences.dm
  code/mob.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/gimmick.dm
  code/mob/living/carbon/human/glitchy.dm
  code/mob/living/carbon/human/machoman.dm
  code/mob/living/carbon/human/monkeys.dm
  code/mob/living/carbon/human/normal.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/modules/admin/buildmodes/appearance.dm
  code/modules/chemistry/Chemistry-Reactions.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/holiday/spacemas.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/medical/genetics/bioHolder.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/device/disguiser.dm
  code/obj/item/mob_parts.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/machinery/porters.dm
  code/z_adventurezones/timeship.dm
  icons/mob/monkey.dmi
Labels: bug, feature

#3051 Kondaru ranch installation
  maps/kondaru.dmm
Labels: feature

#3053 Rancher Job
  code/datums/jobs.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/storage/clothing.dm
  icons/mob/inhand/jumpsuit/hand_js_rank.dmi
  icons/mob/jumpsuits/worn_js_rank.dmi
  icons/obj/clothing/uniforms/item_js_rank.dmi
Labels: feature, sprites

#3056 Install rancher job spawn into Kondaru ranch
  maps/kondaru.dmm
Labels: feature, mapping

#3043 Adds a bathroom and cargo transporter to debris field mining outpost
  maps/z3.dmm
Labels: mapping

#3055 Adds ranches and electroplaters to Donut 3, Cogmap 2 and Horizon
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogmap2_xmas_2020.dmm
  maps/cogmap_xmas_2020.dmm
  maps/donut3.dmm
  maps/donut3_xmas.dmm
  maps/horizon.dmm
  maps/horizon_xmas.dmm
Labels: mapping

#3067 Clean up strange reagent code, fix #3052
  code/modules/chemistry/Reagents-Misc.dm
Labels: bug, cleanliness

#3073 White pixel removal from the RecordTrak
  icons/obj/items/casings.dmi
  icons/obj/items/device.dmi
Labels: sprites

#3061 Clarion ranch installation
  maps/clarion.dmm
Labels: feature, mapping, rework

#3014 Make Ion Storm'd lights easier to repair
  code/modules/events/ion_storm.dm
  code/modules/power/lighting.dm
Labels: QoL, bug - minor

#3050 Add perspective medical scrubs
  code/datums/manufacturing.dm
  code/obj/item/clothing/uniforms.dm
  icons/mob/jumpsuits/worn_js_misc.dmi
  icons/obj/clothing/uniforms/item_js_misc.dmi
Labels: human resprite project, sprites

#2973 Perspective blob + Blinky blob
  code/obj/blob.dm
  icons/mob/blob.dmi
  icons/mob/blob_old.dmi
  icons/mob/blob_organs.dmi
  icons/mob/new_blob.dmi
Labels: sprites

#2410 Adds ways to earn Job XP for Bartender and Chaplain
  code/WorkInProgress/JobXPRewards.dm
  code/datums/abilities/diabolical.dm
  code/datums/abilities/revenant.dm
  code/datums/abilities/vampire/glare.dm
  code/datums/abilities/vampire/hypnotize.dm
  code/datums/abilities/vampire/screech.dm
  code/datums/abilities/wizard/animal.dm
  code/datums/abilities/wizard/blind.dm
  code/datums/abilities/wizard/clairvoyance.dm
  code/datums/abilities/wizard/cluwne.dm
  code/datums/abilities/wizard/iceburst.dm
  code/datums/abilities/wizard/kill.dm
  code/datums/abilities/wizard/magicmissile.dm
  code/datums/abilities/wizard/pandemonium.dm
  code/datums/abilities/wizard/rathens.dm
  code/datums/abilities/wizard/shock.dm
  code/datums/abilities/wizard/warp.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/obj/item/misc_wizard_stuff.dm
  code/obj/item/storage/bible.dm
  icons/obj/foodNdrink/bottle.dmi
Labels: feature, input wanted, sprites

#3078 Oshan powernet fixes 2: electric mergealoo
  maps/oshan.dmm
  maps/oshan_xmas.dmm
Labels: mapping

#3086 Cairngorm bonus items: atropine, extinguishers, furniture parts, omnitools
  maps/z2.dmm
Labels: mapping

#3087 Correct instances of rancher to ranch
  _std/defines/access.dm
  code/obj/access_spawn.dm
  code/obj/machinery/computer/card.dm
  code/procs/access.dm
Labels: bug - minor

#3089 cleans up ui_data (tgui) pretty much everywhere
  code/WorkInProgress/TempEngine.dm
  code/WorkInProgress/recycling/disposal_chute.dm
  code/WorkInProgress/recycling/mail_chute.dm
  code/modules/power/pt_laser.dm
  code/modules/power/smes.dm
  code/modules/robotics/robot/robot_module_rewriter.dm
  code/modules/sound/djpanel.dm
  code/obj/item/paper.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/dispenser.dm
  code/obj/machinery/door/airlock.dm
  code/obj/submachine/slots.dm
  tgui/docs/tutorial-and-examples.md
Labels: cleanliness, documentation, tgui

#3070 All remaining head.dmi sprites + merge fruithat.dmi into head.dmi
  code/obj/item/clothing/fruithat.dm
  code/obj/item/clothing/hats.dm
  icons/mob/fruithat.dmi
  icons/mob/head.dmi
Labels: sprites

#3091 Cleans up lamp manufacturer sprites from device.dmi, fixes E-meter sprite
  code/obj/misc_junk.dm
  icons/obj/items/device.dmi
Labels: bug - minor, cleanliness, sprites

#3065 Kondaru "de-frustrator" fixbatch
  maps/kondaru.dmm
Labels: mapping

#3081 Ozymandias ranch installation
  maps/ozymandias.dmm
Labels: feature, mapping

#3084 tgui-port: Ports round (pressure) gauge
  browserassets/tgui/tgui-common.chunk.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/atmospherics/portable/canister.dm
  code/obj/item/assembly/detonator.dm
  code/obj/item/tank.dm
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/RoundGauge.js
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/format.js
  tgui/packages/tgui/interfaces/GasCanister.js
  tgui/packages/tgui/interfaces/GasTank.js
  tgui/packages/tgui/interfaces/common/PortableAtmos.js
  tgui/packages/tgui/interfaces/common/PressureBar.js
  tgui/packages/tgui/styles/components/RoundGauge.scss
  tgui/packages/tgui/styles/main.scss
Labels: documentation, feature, tgui

#3092 Spy poster bounty "fix"
  code/obj/decal/poster.dm
Labels: bug - trivial

#3064 Ranch (and owlery) for Atlas
  maps/atlas.dmm
Labels: feature, mapping, rework

#3082 balloon inhands perspective
  icons/mob/inhand/hand_balloon.dmi
  icons/obj/items/balloon.dmi
Labels: sprites

#3094 Replaces some airless tiles on the mining outpost
  maps/z3.dmm
Labels: bug - trivial, mapping

#3071 Horizon Ranch Ship
  maps/horizon.dmm
  maps/horizon_xmas.dmm
Labels: mapping

#3074 add adjusted inverse-square falloff to aerosol propellant
  code/WorkInProgress/Particles.dm
Labels: balance, input wanted

#3088 Salyut Cosmonaut Suit
  maps/z3.dmm
Labels: mapping

#3103 Atlas medbay drainage
  maps/atlas.dmm
  maps/atlas_xmas_2020.dmm
Labels: QoL, mapping

#3076 Resprite for the six Winter Coats in worn_suit.dmi
  icons/mob/overcoats/worn_suit.dmi
Labels: sprites

#3075 Lets ghostdrones use deconstructors
  code/WorkInProgress/multiContext.dm
  code/mob/living/silicon/ghostdrone.dm
  code/modules/transport/pods/vehicle.dm
Labels: feature

#3109 Cosmonaut helmet subtype
  code/z_adventurezones/meatland.dm
  maps/setpieces/AIBM_hospital.dmm
  maps/z2.dmm
  maps/z3.dmm
Labels: cleanliness, mapping

#3113 fixes some issues with making patches in chemmaster
  code/modules/chemistry/Chemistry-Machinery.dm
Labels: bug - minor

#3120 Fixes the unanchored radar console on the horizon ranch ship
  maps/horizon.dmm
  maps/horizon_xmas.dmm
Labels: bug, mapping

#3119 fixes #3118
  code/obj/item/storage/misc.dm
  icons/obj/items/storage.dmi
Labels: bug, sprites

#3115 fixes trench ladders falling down trench holes
  code/modules/fluids/fluid_turf.dm
Labels: bug - major

#3116 Manta shuttle fixes
  code/map.dm
  code/modules/transport/shuttle/shuttle_controller.dm
  maps/z2.dmm
Labels: bug, mapping

#3083 Fixes disguiser discoloration, helmet hair, and dead monkey hats
  _std/macros/appearance.dm
  code/datums/mutantraces.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/obj/item/device/disguiser.dm
  code/obj/item/organs/head.dm
  icons/mob/seamonkey.dmi
Labels: bug, sprites

#3111 Game kits for Manta, remove taser shotgun from Xmas variant
  maps/manta.dmm
  maps/manta_xmas.dmm
Labels: bug - minor, mapping

#3123 Adds Electroplaters to more maps
  maps/atlas.dmm
  maps/clarion.dmm
  maps/manta.dmm
  maps/oshan.dmm
Labels: mapping

#3136 Flockmind text fixes
  code/mob/living/critter/flock/flockdrone.dm
  code/obj/flock/structure/flock_structure_ghost.dm
  code/obj/flock/structure/flock_structure_parent.dm
Labels: bug - trivial

#3135 Fix AI Shell not being able to use cell cables
  code/modules/power/apc.dm
Labels: bug - trivial

#3138 Perspective formalwear
  icons/mob/jumpsuits/worn_js_gimmick.dmi
  icons/mob/jumpsuits/worn_js_misc.dmi
  icons/mob/overcoats/worn_suit.dmi
Labels: human resprite project, sprites

#3129 Adds ice cream, espresso, and claw machines to the Afterlife Bar
  maps/z2.dmm
Labels: mapping

#3142 Agent card changes
  code/obj/item/card.dm
Labels: balance, feature

#3108 Underwater prefab/area: Marijuana Trench
  _std/defines/landmarks.dm
  assets/maps/prefabs/prefab_water_danktrench.dmm
  code/WorkInProgress/mantaObjects.dm
  code/area.dm
  code/modules/worldgen/GenerateMining.dm
  maps/z3_blank.dmm
Labels: feature, mapping

#3153 Fixes Armory APC powernet issue in Manta
  maps/manta.dmm
  maps/manta_xmas.dmm
Labels: mapping

#3117 AIs should now receive messages from all groups
  code/obj/item/device/pda2/base_os.dm
Labels: bug - minor

#3020 Machinery EMP Resistance (Wild Singulo Fixes)
  _std/machinery.dm
  code/WorkInProgress/AnimationLibrary.dm
  code/modules/power/apc.dm
  code/modules/transport/pods/vehicle.dm
  code/obj/item/grenades.dm
  code/obj/machinery.dm
  code/obj/machinery/camera.dm
  code/obj/machinery/singularity.dm
  code/obj/misc_junk.dm
  code/procs/elecflash.dm
Labels: balance, bug, bug - major, input wanted, performance

#3141 Removes/re-places bathroom cameras
  maps/cogmap.dmm
  maps/destiny.dmm
  maps/donut3.dmm
Labels: mapping

#3085 Manufacturable deployable warp beacons
  code/datums/manufacturing.dm
  code/modules/transport/pods/secondary_system.dm
  code/modules/transport/pods/warp_travel.dm
  code/obj/machinery/manufacturer.dm
  icons/obj/ship.dmi
Labels: feature, sprites

#3168 Fix issue with ping tool not working correctly
  code/obj/item/device/pda2/diagnostics.dm
Labels: bug

#3162 Updates Trunkmap to be 300x300 rather than225x225
  maps/unused/trunkmap.dmm
Labels: mapping

#3150 Adds two QM lockers to Manta
  maps/manta.dmm
Labels: mapping

#3171 Moves some wall-mounted stickies on Cog2 and Oshan
  maps/cogmap2.dmm
  maps/oshan.dmm
Labels: mapping

#3187 Removes camera from the general bathroom on Donut3
  maps/donut3.dmm
Labels: mapping

#3185 More assorted paper & stamp fixes
  code/obj/item/paper.dm
Labels: bug, cleanliness
