Repository goonstation/goonstation, pull requests merged in 2020-11, with the labels that each got.

#2563 Allow pods to check for access. Cairngorm pods require agent access to board.
  code/modules/transport/pods/vehicle.dm
  maps/z2.dmm
Labels: balance, feature, mapping

#2565 Destiny: Minor Cryo Chamber LateSpawn Fix
  maps/destiny.dmm
Labels: bug - minor, mapping

#2568 add unique lawbringer execute sound from Virvatuli
  code/modules/projectiles/bullet.dm
  code/modules/sound/soundCache.dm
  code/obj/item/gun/energy.dm
  sound/weapons/lb_execute.ogg
Labels: sound

#2564 Gary's taken his laxative
  code/obj/critter/miningcritters.dm
Labels: bug

#2392 More flock stuff
  _std/macros/flock.dm
  _std/macros/turf.dm
  code/datums/abilities/flock/flockmind.dm
  code/datums/flock/flock.dm
  code/datums/flock/flocktilegroup.dm
  code/mob/living/critter/flock/flockbit.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/mob/living/intangible/flock/flockmind.dm
  code/mob/living/intangible/flock/flocktrace.dm
  code/mob/living/intangible/flockmob_parent.dm
  code/mob/living/silicon.dm
  code/obj/flock/structure/collector.dm
  code/obj/flock/structure/flock_structure_ghost.dm
  code/obj/flock/structure/flock_structure_parent.dm
  code/procs/helpers.dm
  code/procs/mobprocs/chatprocs.dm
  code/turf/turf_flock.dm
  goonstation.dme
  icons/misc/featherzone.dmi
  icons/mob/flock_ui.dmi
Labels: feature, sprites

#2550 Reworking TEG Circulators to behave like it has passive gate and pump
  code/WorkInProgress/TempEngine.dm
Labels: balance, bug, input wanted, rework

#2572 UM-058 - Chickens
  code/WorkInProgress/UrsStuff.dm
  goonstation.dme
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
Labels: feature, help wanted, input wanted, mapping, sprites

#2573 projectile stuff + improved bullet interaction with station bots
  _std/defines/component_defines.dm
  _std/defines/projectiles.dm
  code/datums/components/sniper_wallpierce.dm
  code/mob/living.dm
  code/mob/living/carbon/human/machoman.dm
  code/mob/melee_attack_procs.dm
  code/modules/holiday/spacemas.dm
  code/modules/projectiles/projectile_parent.dm
  code/modules/robotics/bot/bot_parent.dm
  code/obj/item/grab.dm
Labels: balance, cleanliness

#2581 Set area on Solar Tracker to match adjacent tiles + StrongDMM cleanup
  maps/z3.dmm
Labels: bug - minor, mapping

#2556 Update blob tutorial to remove runtime errors and improve marker visi…
  code/modules/tutorials/blob_tutorial.dm
  code/obj/blob.dm
  code/obj/item/flamethrower.dm
Labels: bug

#2529 Sing on the radio with Y and sundry other adjustments
  code/mob/living.dm
Labels: feature

#2534 Allow ruptured pipes to have a vacuum with respect to turf location
  code/modules/atmospherics/machinery/pipe.dm
Labels: bug, feature

#2460 Secbots are louder and have a delay before they attack
  code/modules/robotics/bot/secbot.dm
Labels: balance, feature, input wanted, rework

#2571 Playable pest and Antag Critter event mobs spawn with Staff Assistant level access
  code/modules/events/antagonist_critter_ghost_respawn.dm
  code/modules/events/playable_pests.dm
  code/obj/item/implant.dm
Labels: QoL, feature

#2587 Gas meter feedback
  code/obj/machinery/meter.dm
Labels: bug - minor

#2588 Cog1 Armory Hardening
  code/area.dm
  code/obj/item/deployable_turret.dm
  icons/turf/areas.dmi
  maps/cogmap.dmm
Labels: balance, feature, mapping, sprites

#2585 fixes 2583 (fast double-limbling bug)
  code/modules/antagonists/changeling/abilities/hivemind.dm
Labels: bug - minor

#2558 Pods
  code/datums/movement_controller/pod.dm
  code/modules/projectiles/bullet.dm
  code/modules/transport/pods/ships.dm
  code/modules/transport/pods/vehicle.dm
Labels: balance

#2554 Visually differentiates medbay's lockers
  code/obj/storage/closets.dm
  code/obj/storage/secure_closets.dm
  icons/obj/large_storage.dmi
Labels: QoL, feature, input wanted, sprites

#2598 Reverts accidental OP buff of Rathens Secret
  code/datums/abilities/wizard/rathens.dm
Labels: balance

#2593 Geiger counters, hide radiation statuseffect
  _std/defines/component_defines.dm
  code/WorkInProgress/tarmStuff.dm
  code/datums/components/geiger_counter.dm
  code/datums/hud/critter.dm
  code/datums/hud/drone.dm
  code/datums/hud/ghostdrone.dm
  code/datums/hud/human.dm
  code/datums/hud/robot.dm
  code/datums/manufacturing.dm
  code/datums/supply_packs.dm
  code/mob/living/life/disability.dm
  code/modules/events/radiation.dm
  code/modules/status_system/statusSystem.dm
  code/obj/item/clothing/suits.dm
  code/obj/machinery/manufacturer.dm
  code/obj/storage/secure_closets.dm
  goonstation.dme
  icons/mob/inhand/hand_tools.dmi
  icons/obj/items/device.dmi
  sound/items/geiger/geiger-1-1.ogg
  sound/items/geiger/geiger-1-2.ogg
  sound/items/geiger/geiger-2-1.ogg
  sound/items/geiger/geiger-2-2.ogg
  sound/items/geiger/geiger-3-1.ogg
  sound/items/geiger/geiger-3-2.ogg
  sound/items/geiger/geiger-4-1.ogg
  sound/items/geiger/geiger-4-2.ogg
  sound/items/geiger/geiger-4-3.ogg
  sound/items/geiger/geiger-5-1.ogg
  sound/items/geiger/geiger-5-2.ogg
  sound/items/geiger/geiger-5-3.ogg
Labels: balance, feature, sound, sprites

#2601 Unstick spaced atmos groups
  code/modules/admin/diagnostics.dm
  code/modules/atmospherics/FEA_airgroup.dm
  code/modules/atmospherics/FEA_gas_mixture.dm
  code/procs/gamehelpers.dm
Labels: bug, bug - major

#2605 Automatically toggle holidays by build month
  _std/setup.dm
Labels: feature

#2611 Added turrets to map, ajusted couple areas
  maps/pod_wars.dmm
Labels: mapping

#2602 Ensure only simulated turf are added to the border list (#2596)
  code/modules/atmospherics/FEA_system.dm
Labels: bug

#2594 New 9x19 Gunshot Audio
  code/modules/projectiles/bullet.dm
  code/modules/sound/soundCache.dm
  sound/weapons/9x19NATO.ogg
  sound/weapons/smallcaliber.ogg
Labels: sound

#2620 UM-060 - Chicken Sandwiches, Spicy and Original
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/sandwiches.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_meals.dmi
Labels: sprites

#2615 Fix robot legs
  code/obj/item/mob_parts/robot_parts.dm
Labels: bug

#2624 Uses the proper name of the chompski when hugging
  code/obj/misc_junk.dm
Labels: bug

#2625 Examining brains to see if they are warm or cold should require the user to have medical training trait, instead of checking the user's job.
  code/obj/item/brain.dm
  code/obj/item/organs/brain.dm
Labels: bug, cleanliness

#2614 Adds JaniTech vendor to Donut 3 and Manta
  maps/donut3.dmm
  maps/donut3_xmas.dmm
  maps/manta.dmm
Labels: mapping

#2580 Avoid negative molar quantities on gas removal
  code/modules/atmospherics/FEA_gas_mixture.dm
Labels: bug - minor

#2501 Cyborgs can state laws
  code/mob/living/silicon/robot.dm
Labels: QoL, feature

#2617 Vice Officer rev and gang fix
  code/datums/gamemodes/gangwar.dm
  code/datums/gamemodes/revolution.dm
Labels: bug

#2623 Cleanup pipeline.dm::temperature_interact()
  code/datums/pipeline.dm
Labels: cleanliness

#2629 Pod Wars: Colored and changed various outposts
  maps/pod_wars.dmm
Labels: mapping

#2635 Pod wars mapchanges
  code/area.dm
  code/obj/machinery/door/door_control.dm
  code/obj/machinery/door/poddoor.dm
  maps/pod_wars.dmm
Labels: mapping

#2634 Remove binsult.ogg from secbot voice lines
  code/modules/robotics/bot/secbot.dm
Labels: removal

#2613 Adds rubber hammer as Clown level 10 job reward
  code/WorkInProgress/JobXPRewards.dm
Labels: feature

#2597 Escape pod landmark fix
  _std/defines/shuttle.dm
  code/map.dm
  code/modules/transport/pods/ships.dm
  code/modules/transport/shuttle/shuttle_controller.dm
  code/obj/landmark.dm
  maps/z2.dmm
Labels: bug, mapping

#2641 Implement morgue.dm disposing
  code/obj/morgue.dm
Labels: bug, cleanliness

#2643 Tweaked areas, added things
  maps/pod_wars.dmm
Labels: mapping

#2633 Oshan armory hardening, additional weaponry, and turret whitelisting
  code/obj/machinery/turret.dm
  maps/oshan.dmm
Labels: feature, mapping

#2631 Flaborized sprites - beakers, flasks, fountain jugs, waterpipe, and chemicompiler
  code/modules/chemistry/tools/beakers.dm
  code/modules/chemistry/tools/dispensers.dm
  code/modules/medical/pathology/pathogen_tools.dm
  icons/obj/chemical.dmi
Labels: feature, sprites

#2648 gitignore mapmerge2 backup files
  .gitignore
Labels: tooling

#2639 Adds the unused blue apron as a Botanist job rewards
  code/WorkInProgress/JobXPRewards.dm
  code/obj/item/clothing/suits.dm
  icons/mob/overcoats/worn_suit.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
Labels: sprites

#2599 Adds proper sprite for GardenGear and resprites for salt and pepper shakers
  code/modules/vending/vending.dm
  icons/obj/foodNdrink/food.dmi
  icons/obj/vending.dmi
Labels: sprites

#2640 Fixes and adds flavor text for crushing cigs
  code/modules/chemistry/tools/food_and_drink.dm
  code/obj/item/cigarette.dm
Labels: bug - trivial, feature

#2654 Ai cyborg comms
  code/mob/living/silicon/robot.dm
Labels: feature

#2652 Atmos System regrouping and hotspot handling
  code/modules/atmospherics/FEA_airgroup.dm
  code/modules/atmospherics/FEA_fire.dm
  code/modules/atmospherics/FEA_gas_mixture.dm
  code/modules/atmospherics/FEA_system.dm
  code/modules/atmospherics/FEA_turf_tile.dm
Labels: bug, cleanliness

#2621 Adds message about Exploits to the Issues template
  .github/ISSUE_TEMPLATE/config.yml
Labels: documentation, github

#2651 Espresso/coffee machine fix
  code/obj/machinery/espresso.dm
Labels: QoL, removal

#2619 Vode pie guardbuddy
  code/datums/commodity.dm
  code/modules/economy/trader.dm
  code/modules/projectiles/pie_projectile.dm
  code/modules/robotics/bot/guardbot.dm
  goonstation.dme
  icons/obj/module.dmi
Labels: feature, sprites

#2658 Event transmissions grammar touch-up
  strings/event_transmissions.json
Labels: bug - trivial

#2663 Small Oshan Elevator fix
  maps/oshan.dmm
Labels: mapping

#2595 Pod runtimes fix
  code/datums/movement_controller/movement_controller.dm
  code/datums/movement_controller/tank.dm
  code/obj/machinery.dm
Labels: runtime

#2665 Fixes missing letter in job reward description
  code/WorkInProgress/JobXPRewards.dm
Labels: bug - trivial

#2666 Pod wars map update unsim
  maps/pod_wars.dmm
Labels: mapping

#2590 when joining the game, checks for vpn use. if its detected, kicks you w/ message
  _std/setup.dm
  code/client.dm
  code/global.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/toggles.dm
Labels: cleanliness, feature

#2681 Small escape pod fix
  _std/defines/shuttle.dm
Labels: bug

#2677 Signing a zoldorf scroll now produces more helpful messages about progress
  code/obj/item/zoldorfmisc.dm
Labels: bug

#2668 Adjust TEG for minimum power generation
  code/WorkInProgress/TempEngine.dm
Labels: balance

#2674 Makes mobcritters (and other things) get thrown properly
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/WorkInProgress/explosion_particles.dm
  code/WorkInProgress/torpedoes.dm
  code/WorkInProgress/tug.dm
  code/mob/living/critter.dm
  code/mob/living/critter/hastur.dm
  code/mob/living/critter/mechmonstrosity.dm
  code/mob/living/critter/small_animal.dm
  code/modules/events/gimmick/kudzu.dm
  code/modules/events/meteor_shower.dm
  code/modules/holiday/spacemas.dm
  code/modules/robotics/bot/medbot.dm
  code/modules/robotics/bot/secbot.dm
  code/obj/critter/big_animals.dm
  code/obj/critter/misc.dm
  code/obj/critter/spider.dm
  code/obj/decal/cleanable.dm
  code/obj/effects/bad_smoke.dm
  code/obj/effects/fart_cloud.dm
  code/obj/effects/harmless_smoke.dm
  code/obj/effects/mustard_gas.dm
  code/obj/effects/sparks.dm
  code/obj/item/assembly/misc_assemblies.dm
  code/obj/item/device/prox_sensor.dm
  code/obj/item/device/transfer_valve.dm
  code/obj/item/keys.dm
  code/obj/machinery/pipe/pipe_dispenser.dm
  code/obj/vehicle.dm
  code/obj/window.dm
  code/z_adventurezones/mad_mars.dm
Labels: bug

#2680 Reconnecting should now unlock your ability holders
  code/client.dm
Labels: bug

#2676 Fixes spider drain ability to match the description
  code/datums/abilities/critter/spider.dm
Labels: bug

#2678 Crew shortages and fatalities shuttle no longer triggered by ghostcritters and such
  code/mob/living.dm
Labels: bug

#2683 Adds Fleur DeLaCreme donator figurine
  code/obj/item/toys.dm
  icons/obj/items/figures.dmi
Labels: sprites

#2675 Makes borg only have AI radio if they contain an AI interface board
  code/mob/living/silicon/robot.dm
Labels: bug

#2689 Clothe your monkeys - round 1
  icons/mob/monkey.dmi
Labels: sprites

#2686 hat-stuff
  code/datums/manufacturing.dm
  code/obj/item/clothing/hats.dm
  code/obj/machinery/manufacturer.dm
  icons/mob/head.dmi
  icons/mob/inhand/hand_feethand.dmi
  icons/obj/clothing/item_hats.dmi
Labels: sprites

#2659 Candles are lit by environmental heat
  code/obj/item/device/lights.dm
Labels: feature

#2693 Fixes adminheal runtime that prevents limbs from being restored
  code/mob/living/carbon/human.dm
Labels: bug

#2644 Underwater escape pods!
  code/area.dm
  code/datums/movement_controller/tank.dm
  code/modules/transport/pods/vehicle.dm
  icons/obj/machines/8dirvehicles.dmi
  maps/oshan.dmm
Labels: feature, input wanted, mapping, sprites

#2671 Eject mobs from dissasembled objects
  code/WorkInProgress/Electronics.dm
  code/WorkInProgress/simroom.dm
  code/modules/medical/genetics/geneticsBooth.dm
  code/modules/medical/genetics/geneticsScanner.dm
  code/modules/medical/genetics/portagene.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/obj/machinery/clonepod.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/drone_recharger.dm
  code/obj/machinery/sleeper.dm
Labels: bug

#2688 Ai hologram shortcut
  code/WorkInProgress/multiContext.dm
  code/mob/dead/ai-camera.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/ai/holograms.dm
  icons/ui/context16x16.dmi
Labels: feature, sprites

#2647 Adds door-linked force fields to a bunch of maps
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
Labels: mapping

#2695 New borg and borg-related sprites by Flaborized
  icons/mob/robots.dmi
  icons/mob/robots_decor.dmi
  icons/obj/items/cyborg_parts/modules.dmi
  icons/obj/robot_parts.dmi
Labels: sprites

#2701 Connects Donut 3 science printer to the network
  maps/donut3.dmm
  maps/donut3_xmas.dmm
Labels: bug, mapping

#2698 fix fixtures not working properly
  code/turf/walls.dm
Labels: bug - major

#2684 Client new api fix
  code/client.dm
  code/datums/api_handler.dm
Labels: runtime

#2703 Removes the "Activate the computer mainframe's self-destruct charge." objective
  code/datums/objective.dm
Labels: bug, removal

#2694 Add the security hud upgrade for cyborgs
  code/datums/manufacturing.dm
  code/mob/living/silicon/robot.dm
  code/modules/robotics/robot/upgrade/prodoc_scanner.dm
  code/modules/robotics/robot/upgrade/sechud_scanner.dm
  code/obj/item/clothing/glasses.dm
  code/obj/machinery/manufacturer.dm
  goonstation.dme
  icons/obj/robot_parts.dmi
Labels: feature, sprites

#2664 6 new radio songs by MechaDaleEarnhardt/Chronoquest
  code/modules/telescience/radiostation.dm
  sound/radio_station/black_wing_interface.ogg
  sound/radio_station/cloudskymanguy.ogg
  sound/radio_station/oh_no_evil_star.ogg
  sound/radio_station/planets.ogg
  sound/radio_station/riverdancer.ogg
  sound/radio_station/waystations.ogg
Labels: feature, sound

#2709 Joaquin Fry's donation figurine
  code/obj/item/toys.dm
  icons/obj/items/figures.dmi
Labels: sprites

#2724 The Manta Basketball Problem
  maps/manta.dmm
Labels: mapping

#2721 Virtual antagonists no longer receive bonus spacebux
  code/datums/gameticker.dm
Labels: bug

#2720 Fixes space heaters charging batteries when cooling down the area
  code/obj/machinery/spaceheater.dm
Labels: bug

#2719 Toilets can no longer teleport into restricted areas
  code/obj/item/toilets.dm
Labels: bug

#2718 Fixes unreinforcing reinforced floors duplicating rods on a spam
  code/turf/floors.dm
Labels: bug

#2717 Fixes sheet amount used for clicking on a grill with glass sheets
  code/obj/grille.dm
Labels: bug

#2716 Fixes buying negative amount of ores
  code/obj/machinery/manufacturer.dm
Labels: bug

#2722 Minor false wall fixes
  code/obj/structure.dm
Labels: bug

#2713 Fixes ghost being able to scroll borg item bar
  code/datums/hud.dm
  code/datums/hud/ghostdrone.dm
  code/datums/hud/robot.dm
Labels: bug, cleanliness

#2710 VR chess fix
  code/WorkInProgress/chess.dm
Labels: bug

#2638 new blob sounds
  code/modules/antagonists/blob/blob_abilities.dm
  code/modules/sound/soundCache.dm
  code/obj/blob.dm
  code/obj/item/clown_items.dm
  sound/voice/blob/blobattack.ogg
  sound/voice/blob/blobconsume1.ogg
  sound/voice/blob/blobconsume2.ogg
  sound/voice/blob/blobdamaged1.ogg
  sound/voice/blob/blobdamaged2.ogg
  sound/voice/blob/blobdamaged3.ogg
  sound/voice/blob/blobdamaged4.ogg
  sound/voice/blob/blobdeath.ogg
  sound/voice/blob/blobdeploy.ogg
  sound/voice/blob/blobheal1.ogg
  sound/voice/blob/blobheal2.ogg
  sound/voice/blob/blobheal3.ogg
  sound/voice/blob/blobhit.ogg
  sound/voice/blob/blobplace1.ogg
  sound/voice/blob/blobplace2.ogg
  sound/voice/blob/blobplace3.ogg
  sound/voice/blob/blobplace4.ogg
  sound/voice/blob/blobplace5.ogg
  sound/voice/blob/blobplace6.ogg
  sound/voice/blob/blobreflect1.ogg
  sound/voice/blob/blobreflect2.ogg
  sound/voice/blob/blobreflect3.ogg
  sound/voice/blob/blobreflect4.ogg
  sound/voice/blob/blobreflect5.ogg
  sound/voice/blob/blobreinforce1.ogg
  sound/voice/blob/blobreinforce2.ogg
  sound/voice/blob/blobshoot.ogg
  sound/voice/blob/blobspread1.ogg
  sound/voice/blob/blobspread2.ogg
  sound/voice/blob/blobspread3.ogg
  sound/voice/blob/blobspread4.ogg
  sound/voice/blob/blobspread5.ogg
  sound/voice/blob/blobspread6.ogg
  sound/voice/blob/blobsucc1.ogg
  sound/voice/blob/blobsucc2.ogg
  sound/voice/blob/blobsucc3.ogg
  sound/voice/blob/blobsucced.ogg
  sound/voice/blob/blobup1.ogg
  sound/voice/blob/blobup2.ogg
  sound/voice/blob/blobup3.ogg
Labels: sound

#2727 Random events process cleanliness and fix
  code/datums/controllers/process/actions.dm
  code/datums/controllers/process/random_events.dm
  goonstation.dme
Labels: bug, cleanliness

#2730 Blobfix
  code/modules/antagonists/blob/blob_abilities.dm
  sound/voice/blob/blobconsume1.ogg
  sound/voice/blob/blobconsume2.ogg
Labels: sound

#2714 Portasci can no longer mindswap silicons
  code/obj/machinery/porters.dm
Labels: balance, bug

#2737 Caroline Audibert's donator figurine
  code/obj/item/toys.dm
  icons/obj/items/figures.dmi
Labels: sprites

#2715 Rod duplication exploit fix
  code/obj/item/building_materials.dm
Labels: bug

#2725 Make cyborgs twitch upon being disoriented and stunned
  code/mob/living/stamina_stuns.dm
  code/modules/status_system/statusSystem.dm
Labels: balance, feature

#2735 fixes side effects of previous fix of pillbug.
  code/WorkInProgress/zamujasa.dm
  code/modules/chemistry/tools/dispensers.dm
  code/modules/chemistry/tools/pills.dm
  code/modules/materials/Mat_Processing.dm
  code/modules/power/furnace.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/obj/item/chem_pill_bottle.dm
  code/obj/item/material.dm
  code/obj/machinery/manufacturer.dm
  code/obj/storage/closets.dm
  code/obj/storage/crates.dm
  code/obj/storage/secure_closets.dm
  code/obj/submachine/seed.dm
Labels: bug

#2732 Adjust furnace loading to be easier
  code/modules/power/furnace.dm
Labels: bug

#2748 Ion law typo fix
  code/modules/events/ion_storm.dm
Labels: bug

#2742 Combat Medic adjustments
  code/modules/chemistry/tools/bottles.dm
  code/modules/chemistry/tools/emergency_injectors.dm
  code/obj/storage/crates.dm
  code/obj/submachine/weapon_vendor.dm
  icons/obj/chemical.dmi
  maps/z2.dmm
Labels: balance, feature, mapping, sprites

#2706 Allow using rods and popsicle sticks when crafting corndogs and "apple on a stick"
  code/modules/food_and_drink/plants.dm
  code/modules/food_and_drink/snacks.dm
Labels: feature

#2749 Fixed two donator figurine icon state names
  icons/obj/items/figures.dmi
Labels: bug, sprites

#2723 SPK-12 Name Change
  code/modules/transport/pods/MainWeapon.dm
Labels: cleanliness

#2755 Helger Gunnink donator figurine
  code/obj/item/toys.dm
  icons/obj/items/figures.dmi
Labels: sprites

#2758 Changed deaf to death in five letter password pool
  strings/password_pool.txt
Labels: bug

#2726 Mailman's headset
  browserassets/images/radio_icons/mail.png
  code/datums/jobs.dm
  code/obj/item/device/radios/headsets.dm
Labels: feature

#2761 Add swat masks to Cairngorm
  maps/z2.dmm
Labels: mapping

#2772 Adds Mission Memorial to Cairngorm
  code/datums/gamemodes/nuclear.dm
  code/obj/wallsigns.dm
  icons/obj/32x64.dmi
  maps/z2.dmm
Labels: feature, mapping, sprites

#2771 Add HEX figurine
  code/obj/item/toys.dm
  icons/obj/items/figures.dmi
Labels: sprites

#2768 Orion silenced .22 empty sprite fix
  icons/obj/items/gun.dmi
Labels: bug - minor, sprites

#2766 Lowers the volume of the Lawbringers execute SFX.
  sound/weapons/lb_execute.ogg
Labels: QoL, sound

#2780 Device sprites
  code/obj/item/grenades.dm
  icons/obj/items/device.dmi
Labels: sprites

#2781 fix meteors
  code/modules/events/meteor_shower.dm
Labels: bug

#2704 Fix bad sleeper agent objectives
  code/modules/events/sleeperagent.dm
Labels: bug - minor

#2782 New scanner sprites by Flaborized
  icons/obj/items/device.dmi
  icons/obj/items/mining.dmi
Labels: sprites

#2778 Makes the 'steal a horse mask' objective functional
  code/datums/objective.dm
Labels: bug - minor

#2784 fixes a robusttec bug
  code/obj/item/implant.dm
Labels: bug - minor

#2795 lowers volume of several new radio songs
  sound/radio_station/black_wing_interface.ogg
  sound/radio_station/cloudskymanguy.ogg
  sound/radio_station/oh_no_evil_star.ogg
  sound/radio_station/planets.ogg
  sound/radio_station/riverdancer.ogg
  sound/radio_station/waystations.ogg
Labels: feature, sound

#2798 Fix walking through closets
  code/obj/storage/closets.dm
  code/obj/storage/secure_closets.dm
Labels: bug

#2779 adds cooldown for csaber noise
  code/obj/item/misc_weapons.dm
Labels: feature

#2799 Fix a few lizard abilities using up points when cancelled
  code/datums/abilities/lizard.dm
Labels: bug

#2787 Flock grille fix + runtime
  code/mob/living/critter/ai/flock/flocktasks.dm
  code/obj/flock/furniture.dm
Labels: bug

#2788 Kondaru nov20 improvement batch
  maps/kondaru.dmm
Labels: feature, mapping

#2800 Syndicate Commander now spawns with Commander ID
  code/procs/antagonist_procs.dm
Labels: bug

#2805 Fix bug where you could clone someone that was just cloned
  code/obj/machinery/clonepod.dm
Labels: bug - major

#2760 Manufacturer backend improvements
  code/datums/controllers/mechanic_controls.dm
  code/datums/manufacturing.dm
  code/obj.dm
  code/obj/item/device/multitool.dm
  code/obj/item/device/pda2/scanners.dm
  code/obj/machinery/manufacturer.dm
Labels: bug, cleanliness

#2806 Chicken equipment for Kondaru, Ozymandias, Fleet, Icarus
  maps/fleet.dmm
  maps/icarus.dmm
  maps/kondaru.dmm
  maps/ozymandias.dmm
Labels: feature, mapping

#2801 Add an electric fly swatter that one-hit KOs mobcritter bugs
  code/modules/economy/traders/josh.dm
  code/obj/item/device/flyswatter.dm
  code/obj/storage/loot_crates.dm
  goonstation.dme
  icons/obj/items/device.dmi
Labels: feature, sprites

#2520 Improve TEG variability for increased player engagement
  code/WorkInProgress/AzrunStuff.dm
  code/WorkInProgress/TempEngine.dm
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/power/furnace.dm
  goonstation.dme
Labels: feature, input wanted

#2765 update some pathology suppressants
  code/modules/medical/pathology/pathogen_suppressants.dm
Labels: balance, bug - minor

#2797 monkey gender is now set correctly
  code/mob/living/carbon/human/monkeys.dm
Labels: bug - trivial

#2815 Adds chicken equipment to Donut 3
  maps/donut3.dmm
  maps/donut3_xmas.dmm
Labels: mapping

#2821 TEG Variants refactoring fix
  code/WorkInProgress/TempEngine.dm
Labels: bug - critical, runtime

#2817 respect they/them pronouns in certain medical messages
  code/modules/chemistry/tools/iv_drips.dm
  code/modules/medical/blood_system.dm
  code/modules/medical/surgery_tools.dm
  code/obj/item/organs/butt.dm
Labels: bug - minor

#2810 Ozymandias nov20 fix batch
  maps/ozymandias.dmm
Labels: bug - minor, feature, mapping

#2809 Clean up some robot code
  code/datums/hud/zone_sel.dm
  code/datums/mind.dm
  code/mob/living/silicon/robot.dm
  code/obj/item/mob_parts/robot_parts.dm
Labels: bug, cleanliness

#2785 set_loc Entered/Exited calling now mirrors BYOND's built-in Move
  code/atom.dm
Labels: FUCK

#2783 /atom/movable/New now calls Entered on its loc
  code/WorkInProgress/zamujasa.dm
  code/atom.dm
  code/turf/turf.dm
Labels: FUCK

#2823 Potato battery buff
  code/modules/food_and_drink/plants.dm
  code/modules/power/cell.dm
Labels: balance, feature

#2816 New nukie fire axe sprites
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/items/weapons.dmi
Labels: sprites

#2818 add pronoun variables to the arrival announcement computer
  code/WorkInProgress/cryospawn.dm
  code/mob/living/silicon/ai.dm
  code/obj/machinery/computer/announcement.dm
  code/procs/jobprocs.dm
Labels: feature

#2579 There will be SHOES
  code/modules/materials/Mat_FabParts.dm
  code/modules/materials/Mat_FabRecipes.dm
  code/modules/materials/Mat_Fabrication.dm
  code/obj/item/clothing/shoes.dm
Labels: feature

#2769 reworks oxygen pathology symptoms
  code/datums/movement_modifier/movement_modifiers.dm
  code/modules/medical/pathology/pathogen_benevolent.dm
  code/modules/status_system/statusSystem.dm
  icons/ui/statussystem.dmi
Labels: balance, feature, sprites

#2829 syndicate weapon vendor text fixes
  code/obj/submachine/weapon_vendor.dm
Labels: bug - trivial

#2830 Mailman headset's fix
  code/datums/jobs.dm
Labels: bug
