Repository goonstation/goonstation, pull requests merged in 2021-05, with the labels that each got.

#4392 Cargo tweaks & rebalances + New Dialogue
  code/datums/supply_packs.dm
  code/modules/economy/shippingmarket.dm
  code/modules/economy/traders/generic.dm
  code/modules/economy/traders/gragg.dm
  code/modules/economy/traders/pianzi_hundan.dm
  code/modules/economy/traders/trader.dm
  code/modules/sound/soundCache.dm
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/machinery/computer/QM_supply.dm
  code/obj/machinery/launcherloader.dm
  sound/machines/printer_cargo.ogg
Labels: QoL, add to wiki, balance, input wanted, size/L, sound

#4533 Adds sprites to some traits that were missing them
  code/datums/traits.dm
  icons/ui/traits.dmi
Labels: size/S, sprites

#4542 Fix for error in Kondaru router definition
  code/obj/machinery/launcherloader_kondaru.dm
Labels: bug, size/XS

#4546 Fixes One Missed Wizard Artifact In-hand Sprite
  icons/mob/inhand/hand_general.dmi
Labels: size/XS, sprites

#4543 Feature: Add the Love Gun
  assets/maps/prefabs/prefab_clown_nest.dmm
  assets/maps/prefabs/prefab_water_honk.dmm
  code/WorkInProgress/tarmStuff.dm
  code/obj/item/gun/reagent.dm
  icons/obj/items/gun.dmi
  maps/z2.dmm
Labels: mapping, size/M, sprites

#4407 Increases baton manufacturing costs
  code/obj/item/stun_baton.dm
Labels: balance, size/XS

#4534 Snack resprites and chopsticks in the Golden Gannet crate
  code/datums/supply_packs.dm
  icons/obj/foodNdrink/food_snacks.dmi
Labels: QoL, add to wiki, size/XS, sprites

#4544 Adds 4 of the contest winners soda's to the grones flavor pool and 3 more for future use
  code/modules/food_and_drink/drinks.dm
  icons/obj/foodNdrink/bottle.dmi
Labels: size/M, sprites

#4569 Resolve TEG alloying and Sleeping Haunted TEG
  code/WorkInProgress/TempEngine.dm
  code/datums/teg_transform.dm
Labels: bug - major, size/XS

#4481 adds 5 new songs and places them
  assets/maps/prefabs/prefab_water_ghosthouse.dmm
  code/modules/telescience/radiostation.dm
  maps/z3.dmm
  sound/radio_station/music/beaches.ogg
  sound/radio_station/music/biodome.ogg
  sound/radio_station/music/floaty.ogg
  sound/radio_station/music/graveyard.ogg
  sound/radio_station/music/repose.ogg
Labels: mapping, size/L, sound

#4573 Fix device.dmi
  icons/obj/items/device.dmi
Labels: bug, size/XS, sprites

#4566 prevent unscrewing the nuclear bomb from nukeops mode
  code/obj/machinery/nuclearbomb.dm
Labels: add to wiki, balance, input wanted, size/XS

#4579 Adds 11 new hairstyles and hair parts
  code/datums/preferences.dm
  code/global.dm
  icons/mob/human_hair.dmi
Labels: size/S, sprites

#4570 Adds printing sound effect to security records computer
  code/obj/machinery/computer/secure_data.dm
Labels: QoL, size/XS, sound

#4555 Changes the AI eye's 'return to mainframe' verb to 'recall to mainframe' for consistency
  code/mob/dead/ai-camera.dm
Labels: QoL, size/XS

#4554 Fixes blank messages while whispering to a pocket mouse
  code/modules/admin/adminhelp.dm
Labels: bug, size/XS

#4594 Gives cows colorable eyes
  code/datums/mutantraces.dm
  icons/mob/human_hair.dmi
Labels: size/XS, sprites

#4593 Adds authentication disk pinpointer to infiltrator and scout class kits.
  code/datums/gamemodes/nuclear.dm
  code/obj/storage/crates.dm
Labels: add to wiki, balance, size/XS

#4595 Adds acid-proof masks to the Cairngorm
  code/obj/item/clothing/masks.dm
  maps/z2.dmm
Labels: add to wiki, balance, mapping, size/S

#4564 feature: apply sonic stun from flashbang to deaf mobs
  code/modules/chemistry/Chemistry-Recipes.dm
  code/obj/artifacts/artifact_machines/noise_maker.dm
  code/procs/mob_procs.dm
Labels: add to wiki, balance, input wanted, size/M

#4603 New fire elemental ability, fireball
  code/datums/abilities/wizard/fireball.dm
  code/mob/living/critter/arena/fire_elemental.dm
  icons/mob/critter_ui.dmi
Labels: balance, size/S, sprites

#4605 Fixes link to the dev guide in the readme
  README.md
Labels: documentation, size/XS

#4427 Stun baton nerf, cus I've been feeling brave/stupid/both with my PRs lately.
  code/obj/item/stun_baton.dm
Labels: add to wiki, balance, feature, input wanted, size/XS, stale

#4515 Removes Dwarfism
  code/datums/components/barber.dm
  code/datums/jobs.dm
  code/datums/mutantraces.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/life/Life.dm
  code/modules/medical/genetics/bioEffects/mutantrace.dm
  code/modules/medical/genetics/combo_recipes.dm
  code/obj/artifacts/artifact_objects/power_giver.dm
  code/obj/item/clothing/hats.dm
  icons/effects/genetics.dmi
Labels: add to wiki, input wanted, removal, size/M, sprites

#4604 Adds a GPS PDA program and adds it to the default PDA programs
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/device/pda2/smallprogs.dm
Labels: QoL, add to wiki, feature, input wanted, size/M

#4609 Portable reclaimer fix
  code/obj/item/material.dm
Labels: bug, size/XS

#4121 Locking Genebooth and Ruckingenur Kit
  code/WorkInProgress/Electronics.dm
  code/datums/controllers/mechanic_controls.dm
  code/modules/interface/multiContext/context_actions.dm
  code/modules/medical/genetics/geneticsBooth.dm
  code/obj/machinery/manufacturer.dm
Labels: add to wiki, balance, feature, help wanted, input wanted, size/L

#4547 Adds Captains Space Helmet, Makes the Captain's Hat and Gas Mask No Longer Space Helmets
  code/WorkInProgress/rewardsLocker.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/masks.dm
  code/obj/storage/secure_closets.dm
  icons/mob/head.dmi
  icons/obj/clothing/item_hats.dmi
Labels: add to wiki, balance, input wanted, size/M, sprites

#4615 Attempt to fix welding fuel explosions
  code/modules/chemistry/Reagents-ExplosiveFire.dm
Labels: bug, size/S

#4599 Monkey clothes part 3 & 1/2
  code/WorkInProgress/rewardsLocker.dm
  code/obj/item/clothing/uniforms.dm
  icons/mob/inhand/jumpsuit/hand_js_misc.dmi
  icons/mob/monkey_clothes.dmi
  icons/obj/clothing/uniforms/item_js_misc.dmi
Labels: size/XS, sprites

#4360 Adds reagent scanner to botany PDA cartridges
  code/obj/item/device/pda2/cartridges.dm
Labels: QoL, add to wiki, size/XS

#4614 Blacklists cable coil from material processor
  code/modules/materials/Mat_ProcsDefines.dm
Labels: balance, size/XS

#4565 Adjust silver fulminate
  code/modules/chemistry/Reagents-Misc.dm
Labels: add to wiki, balance, size/S

#4537 Renames the AK-477 to the JK-47
  maps/z2.dmm
Labels: mapping, size/XS

#4619 Fixes player names for examine text to no longer show "(as )" if they have a PDA with no ID in their ID slot.
  code/mob/living/carbon/human.dm
Labels: bug - trivial, size/XS

#4618 Moves the captain's helmet from the locker to be with the space suit
  code/obj/storage/secure_closets.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
Labels: mapping, size/S

#4597 Fix renaming objects, cyborgs, ID cards, and so forth
  code/obj.dm
Labels: QoL, bug, size/XS

#4588 Updates the flashy mutantrace to the mutantrace format.
  _std/macros/appearance.dm
  code/datums/mutantraces.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/item/organs/head.dm
  icons/mob/flashy.dmi
Labels: bug - minor, size/M, sprites

#4586 Fixes minor sprite bug in delimbed humans and virtual humans.
  icons/mob/human.dmi
  icons/mob/virtual.dmi
Labels: bug - minor, size/XS, sprites

#4572 adds caipirinha
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: add to wiki, feature, size/S

#4557 Adds persistent notice boards to maps
  code/obj/noticeboard.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
Labels: QoL, add to wiki, feature, mapping, size/XXL

#4550 fix: force the syndicate clown mask to equip even if wearing a mask
  code/obj/item/clothing/masks.dm
Labels: size/XS

#4457 Guardbot cuff action uses ziptie cuffs
  code/modules/robotics/bot/secbot.dm
Labels: IGNORE CHECKS, add to wiki, bug, size/XS

#4376 Adds items to hacked gaming vendors
  code/modules/vending/vending.dm
Labels: QoL, size/XS

#4370 Adds the ability to put butts and butt bombs on mousetraps
  code/obj/item/mousetrap.dm
  icons/obj/items/weapons.dmi
Labels: add to wiki, size/M, sprites

#4590 Small fix for Donut 3 disposal pipes
  maps/donut3.dmm
Labels: bug, mapping, size/XS

#4621 Fixes hydro senior and pilot jumpsuit worn sprites
  icons/mob/jumpsuits/worn_js_misc.dmi
Labels: bug - minor, size/XS, sprites

#4585 minor radio station cleanup
  maps/z3.dmm
Labels: mapping, size/L

#4631 Fixs clown car bug where a passanger attempting to walk would eject everyone from the clown car
  code/obj/vehicle.dm
Labels: bug, size/XS

#4437 Portable reclaimers now load materials from boxes and satchels
  code/obj/item/material.dm
Labels: QoL, add to wiki, size/M

#4602 feat: prioritize completion when cloning with many pods
  code/obj/machinery/clonepod.dm
  code/obj/machinery/computer/cloning.dm
Labels: QoL, add to wiki, balance, size/M

#4454 Spatial Interdictor (a Thing for Engineers)
  _std/defines/construction.dm
  code/datums/manufacturing.dm
  code/mob.dm
  code/mob/living/life/disability.dm
  code/modules/events/black_hole.dm
  code/modules/events/radiation.dm
  code/modules/events/solar_flare.dm
  code/modules/events/spatial_tear.dm
  code/obj/machinery/interdictor.dm
  code/obj/machinery/manufacturer.dm
  code/obj/portal.dm
  goonstation.dme
  icons/obj/machines/interdictor.dmi
  icons/ui/actions.dmi
  sound/machines/interdictor_activate.ogg
  sound/machines/interdictor_deactivate.ogg
  sound/machines/interdictor_operate.ogg
Labels: feature, size/XL, sound, sprites

#4635 Secure monkey crates, increase monkey crate price
  code/datums/supply_packs.dm
  code/obj/storage/secure_crates.dm
  icons/obj/large_storage.dmi
Labels: balance, bug, feature, size/S, sprites

#4627 Fix missing sound slashcutt.ogg
  code/modules/food_and_drink/snacks.dm
  code/obj/item/implant.dm
  code/obj/item/misc_weapons.dm
Labels: bug, size/XS

#4624 Horizon Teleporter APC Fix
  maps/horizon.dmm
Labels: bug, mapping, size/XS

#4644 Spatial Interdictor install v2: crates this time
  code/obj/storage/secure_crates.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/icarus.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
Labels: add to wiki, feature, mapping, size/L

#4642 Sets all wizard hair zones to white
  code/datums/abilities/wizard.dm
Labels: bug, size/XS

#4632 chore: refactor vehicle's relaymove to not use macro
  code/obj/vehicle.dm
Labels: cleanliness, size/L

#4637 Resprites Duct Tape, Adds Duct Tape to The Traitor Buy List
  code/datums/syndicate_buylist.dm
  code/obj/item/handcuffs.dm
  icons/obj/items/items.dmi
Labels: add to wiki, size/S, sprites

#4509 A trait which makes clowns invisible to you
  _std/defines/component_defines.dm
  _std/types.dm
  code/datums/components/clown_disbelief_item.dm
  code/datums/traits.dm
  code/mob.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/uniforms.dm
  goonstation.dme
  icons/ui/traits.dmi
Labels: add to wiki, feature, input wanted, size/M, sprites

#4548 Infinite capacity for Port-a-Puke
  code/WorkInProgress/what-the-fuck-am-i-doing.dm
Labels: add to wiki, balance, cleanliness, size/L

#4643 Readds dwarves
  code/datums/jobs.dm
  code/modules/medical/genetics/bioEffects/useless.dm
  code/modules/medical/genetics/combo_recipes.dm
  code/obj/effect.dm
  code/obj/item/clothing/hats.dm
  goonstation.dme
  icons/effects/96x96.dmi
Labels: feature, size/M, sprites

#4647 fix: correctly remove and add cameras from turf coverage
  code/mob/dead/ai-camera.dm
Labels: size/S

#4344 Various Fixes to horizon security
  maps/horizon.dmm
Labels: add to wiki, bug, mapping, size/XXL

#4650 More details on Spatial Interdictor function in guidebook
  code/obj/machinery/interdictor.dm
Labels: QoL, size/S

#4639 Replaces the Ghost Drone's RCD with the Cardboard RCD
  code/atom.dm
  code/atom/throwing.dm
  code/datums/controllers/action_controls.dm
  code/mob/living/silicon/ghostdrone.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
  code/obj/blob.dm
  code/obj/item.dm
  code/obj/item/rcd.dm
  code/obj/machinery/door/door_parent.dm
  code/turf/floors.dm
  code/turf/walls.dm
Labels: balance, size/L

#4653 fix: prevent ambience loop from playing forever in some cases
  code/area.dm
Labels: size/XS

#4663 Genetics: Storage Tab Fixes
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/GeneTek/BioEffect.js
Labels: bug, size/XS, tgui

#4654 Fix for Kondaru routing depot south router
  code/obj/machinery/launcherloader_kondaru.dm
Labels: bug, size/XS

#4666 chore: use the word "collectible" to describe the kind of figures
  code/mob/living/critter/small_animal.dm
Labels: size/XS

#4661 booster gene adjustment
  code/modules/medical/genetics/bioEffects/meta.dm
Labels: size/S

#4649 destiny cleanup
  maps/destiny.dmm
Labels: mapping, size/L

#4625 Minor Clarion Edits
  maps/clarion.dmm
Labels: mapping, size/L

#4372 Handheld arcade gaming from Josh and hidden items
  code/modules/economy/traders/josh.dm
  code/modules/items/gimmick/figurine.dm
  code/obj/item/toys.dm
  code/obj/machinery/computer/arcade.dm
  icons/obj/items/device.dmi
  icons/obj/items/figures.dmi
Labels: QoL, feature, size/M, sprites

#4675 Remove miss chance when attacking cyborgs
  code/mob/melee_attack_procs.dm
Labels: balance, input wanted, size/S

#4680 RCD Overlay for Light-Making Modes
  code/obj/item/rcd.dm
  icons/obj/items/rcd.dmi
Labels: QoL, add to wiki, size/XS, sprites

#4651 Fixes unperspective bandages.
  icons/obj/surgery.dmi
Labels: bug - minor, size/XS, sprites

#4634 Hair cutting bug fix
  code/datums/components/barber.dm
Labels: bug, size/XS

#4645 Animated Treads
  icons/mob/human.dmi
  icons/mob/robots.dmi
Labels: size/XS, sprites

#4682 More lizard headwear sprites
  icons/mob/lizard_clothes.dmi
Labels: size/XS, sprites

#4646 Typewriters for Borgs
  code/modules/robotics/robot/module_tool_creator/modules.dm
  code/obj/item/device/scanners.dm
  code/obj/item/paper.dm
  code/obj/item/pens_writing_etc.dm
  icons/obj/writing.dmi
  sound/machines/typewriter.ogg
Labels: add to wiki, feature, size/L, sound, sprites

#4676 Neon lining inventory counter
  code/obj/item/neon_lining.dm
Labels: QoL, size/XS

#4584 Adds more hydroponics trays to Oshan's hydroponics
  maps/oshan.dmm
Labels: add to wiki, mapping, size/M

#4648 fix: don't show paper through inactive cameras
  code/obj/machinery/camera.dm
Labels: size/XS

#4559 Dabbing on the bible has some side effects
  code/mob/living/carbon/human/procs/emote.dm
Labels: feature, size/S

#4692 Gives spliced seed items color
  code/modules/chemistry/tools/food_and_drink.dm
  code/obj/machinery/plantpot.dm
  code/obj/submachine/seed.dm
Labels: QoL, size/XS

#4662 Adds text grouping to bee attacks and dances
  code/obj/critter/bee.dm
Labels: QoL, size/XS

#4668 Fix runtime in reclaiming boxes
  code/obj/item/material.dm
Labels: bug, size/XS

#4633 Cloners no longer give people health implants
  code/obj/machinery/computer/cloning.dm
Labels: balance, input wanted, removal, size/S

#4693 fix: prevent grabbing silicons
  code/mob/living/silicon.dm
Labels: size/XS

#4677 Makes TTV backpacks give the correct ammount of cable when unmade
  code/obj/item/device/transfer_valve.dm
Labels: bug, size/XS

#4704 Deneb the Swan donator plush
  code/modules/items/gimmick/plushies.dm
  icons/obj/plushies.dmi
Labels: size/S, sprites

#4698 Firebrand axe buff, napalm smoke grenades
  code/modules/chemistry/tools/grenades.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/storage/ammo_pouches.dm
  code/obj/storage/crates.dm
Labels: add to wiki, balance, size/M

#4699 Adds belt packs to Heavy Weapons Specialist, Marksman & Firebrand class crates.
  code/obj/storage/crates.dm
Labels: add to wiki, balance, size/XS

#4710 Adds Deneb the Swan to the claw machine prize pool
  code/modules/items/gimmick/plushies.dm
Labels: size/XS

#4723 Ship to cargo admin button, very slight code refactor.
  code/modules/admin/admin_holder.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
  code/modules/economy/shippingmarket.dm
Labels: feature, size/M

#4749 Fix azungar/supernorn walls for map editors
  code/turf/turf_autoalign.dm
  icons/turf/walls_manta.dmi
  icons/turf/walls_supernorn_smooth.dmi
Labels: bug - minor, size/XS, sprites

#4711 Guardbuddies actually cuff people now
  code/modules/robotics/bot/guardbot.dm
Labels: bug, size/L

#4706 Removes the 250 blood minimum for cows to perform the milk emote
  code/datums/mutantraces.dm
Labels: size/XS

#4747 Modernizes Bang! guns to be more convincing and fixes Bang! revolver's fired state
  code/WorkInProgress/HaineWhatever.dm
  icons/obj/48x32.dmi
  icons/obj/items/gun.dmi
Labels: bug - minor, size/XS, sprites

#4679 made artifact forms slightly less terrible to use
  code/obj/artifacts/artifactanalysis.dm
Labels: QoL, add to wiki, bug - major, size/S

#4665 chore: Refactor death confetti to use component
  _std/defines/component_defines.dm
  code/datums/components/death_confetti.dm
  code/datums/jobs.dm
  code/mob/living.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/obj/deathbutton.dm
  goonstation.dme
Labels: cleanliness, size/M

#4733 Unique Lizard Burning Sprites
  code/mob/living/carbon/human/procs/update_icon.dm
  icons/mob/lizard.dmi
Labels: size/XS, sprites

#4684 Boxing ropes resprite
  icons/obj/decoration.dmi
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/icarus.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/wrestlemap.dmm
Labels: mapping, size/L, sprites

#4748 Minor oxygen vendor fixes
  code/obj/machinery/air_vendor.dm
Labels: bug, size/XS

#4759 fix: use correct param order for on_cooldown for sending pda alert
  code/obj/item/device/pda2/modules.dm
Labels: size/XS

#4760 Nitro recipe removal
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-ExplosiveFire.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: removal, size/M

#4736 fix: prevent cubes from communicating to non-cubes
  code/mob/living/carbon/cube.dm
Labels: size/S

#4652 Big ol' Spatial Interdictor improvement pass
  _std/defines/construction.dm
  code/datums/manufacturing.dm
  code/mob.dm
  code/mob/living/life/disability.dm
  code/modules/events/black_hole.dm
  code/modules/events/radiation.dm
  code/modules/events/solar_flare.dm
  code/modules/events/spatial_tear.dm
  code/obj/machinery/interdictor.dm
  code/obj/machinery/manufacturer.dm
  code/obj/portal.dm
  code/obj/storage/secure_crates.dm
  icons/obj/machines/interdictor.dmi
Labels: feature, size/L, sprites

#4696 feat: add timeout to ghost drone queue
  code/mob/transform_procs.dm
  code/obj/machinery/drone_factory.dm
Labels: size/L

#4700 Adds movespeed buff to nuke ops Scout armour.
  code/obj/item/clothing/suits.dm
Labels: add to wiki, balance, size/XS

#4318 Adds more mutantrace friendly lawbringer phrases
  code/obj/item/gun/energy.dm
  code/obj/item/paper.dm
Labels: QoL, add to wiki, size/S

#4721 changes ghost drone equipped() proc to work with magtractors differently
  code/mob/living/silicon/ghostdrone.dm
Labels: bug - minor

#4740 npc monkeys now don't attack you if you are wearing the monkey suit.
  code/mob/living/carbon/human/monkeys.dm
  code/obj/item/device/monkey_barrel.dm
Labels: balance, feature, size/XS

#4716 Traitor Grenade Pouches
  code/datums/syndicate_buylist.dm
  code/obj/item/storage/ammo_pouches.dm
  icons/obj/items/storage.dmi
Labels: size/M, sprites

#4725 Fixes to gnome chompski's teleport logic.
  code/obj/misc_junk.dm
Labels: bug - minor, size/S

#4691 Make lipstick be the same color as the crayon it was made from
  code/datums/cookingrecipes.dm
Labels: feature, size/S

#4728 HoS War Medal Offset: The Expanded Edition
  maps/cogmap2.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/wrestlemap.dmm
Labels: mapping, size/M

#4714 Alternative Implant Overlay
  icons/effects/healthgoggles.dmi
Labels: add to wiki, size/XS, sprites

#4715 feat: allow putting the syndicate hat on bees
  code/obj/critter/bee.dm
Labels: size/M

#4689 Adds Golden Ticket Machine to Atlas
  maps/atlas.dmm
Labels: mapping, size/S

#4738 Adds a second figurine for retrino.
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: size/XS, sprites

#4688 Contest Book Covers: The Revengening
  code/obj/item/book.dm
  code/obj/machinery/printing_press.dm
  icons/obj/writing.dmi
  strings/books/captaining_101.txt
  strings/books/elective_prosthetics_for_dummies.txt
  strings/books/syndies_guide.txt
  strings/books/teg_guide.txt
Labels: QoL, add to wiki, size/M, sprites

#4731 Fixes door access in Destiny Science
  maps/destiny.dmm
Labels: mapping, size/XS

#4601 Removes inappropriate candy name
  code/modules/food_and_drink/candy.dm
Labels: QoL, size/XS

#4628 Makes clothing booth accept cash only if there's no one inside
  code/modules/vending/clothingbooth.dm
Labels: QoL, size/S

#4363 Adds firefighter helmet to a bunch of places and tweaks firefighter helmet and suit stats
  code/datums/supply_packs.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/suits.dm
  code/obj/storage/closets.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
Labels: add to wiki, balance, mapping, size/L, stale

#4629 Spy rewards adjusted by delivery area difficulty
  _std/types.dm
  code/area.dm
  code/datums/gamemodes/spy_theft.dm
  code/obj/item/uplinks.dm
Labels: add to wiki, balance, bug, input wanted, size/L

#4730 More Late Human Resprite Fixes: Kendo Helmet and two in-hands
  icons/mob/head.dmi
  icons/mob/inhand/hand_general.dmi
Labels: size/XS, sprites

#4729 Adds PC to Cog2 MechLab
  maps/cogmap2.dmm
Labels: mapping, size/M

#4401 APC Resprite
  code/modules/power/apc.dm
  icons/obj/power.dmi
Labels: size/S, sprites

#4707 More lizard headgear sprites
  icons/mob/lizard_clothes.dmi
Labels: size/XS, sprites

#4727 Chem vapor changes in behaviour
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: balance, feature, size/M

#4763 Makes space suits off station have an NT on the back.
  code/obj/item/clothing/suits.dm
  icons/mob/monkey_clothes.dmi
  icons/mob/overcoats/worn_suit_hazard.dmi
Labels: size/XS, sprites

#4770 Adds Z5 level names to the GPS device and PDA app
  code/obj/item/device/gps.dm
  code/obj/item/device/pda2/smallprogs.dm
Labels: size/S

#4756 Pretty heavily reduced effectiveness of cyborg shields
  code/mob/living/silicon/robot.dm
  code/modules/robotics/robot/upgrade/force_shield.dm
  code/modules/robotics/robot/upgrade/heat_shield.dm
  code/obj/storage/loot_crates.dm
Labels: balance, bug, input wanted, size/L

#4751 Expanded donut frosting options
  code/modules/food_and_drink/snacks.dm
  icons/obj/foodNdrink/donuts.dmi
Labels: add to wiki, size/M, sprites

#4761 Resprites Plating
  icons/turf/floors.dmi
Labels: size/XS, sprites

#4758 Bark cooldown for George
  code/mob/living/critter/small_animal.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/item/instruments.dm
Labels: QoL, cleanliness, size/M

#4767 chore: erase racist button
  code/obj/deathbutton.dm
  maps/z2.dmm
Labels: mapping, size/S

#4722 Refactors soda bottles; adds bottle reagent volume overlays
  assets/maps/prefabs/prefab_dans_asteroid.dmm
  code/WorkInProgress/DiscountDans.dm
  code/WorkInProgress/tarmStuff.dm
  code/datums/manufacturing.dm
  code/datums/supply_packs.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/drinks.dm
  code/modules/vending/vending.dm
  code/obj/machinery/glass_recycler.dm
  code/obj/storage/crates.dm
  code/obj/submachine/robotics.dm
  icons/obj/foodNdrink/bottle.dmi
  maps/clarion.dmm
  maps/clarion_xmas_2020.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogmap2_xmas_2020.dmm
  maps/density.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/donut3_xmas.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/horizon_xmas.dmm
  maps/icarus.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/manta_damaged.dmm
  maps/oshan.dmm
  maps/oshan_xmas.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/setpieces/ZEWKA_cat.dmm
  maps/unused/chiron.dmm
  maps/unused/clarion_xmas_2018.dmm
  maps/unused/destiny_xmas_2017.dmm
  maps/unused/halloween12.dmm
  maps/unused/horizon_2019.dmm
  maps/unused/linemap.dmm
  maps/unused/mushroom_new_xmas.dmm
  maps/unused/oshan_xmas_2018.dmm
  maps/unused/samedi.dmm
  maps/warwip/atlas_horizon_xmas_2019.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
Labels: add to wiki, mapping, rework, size/XL, sprites

#4745 Adds Voice Changer and randomization to CARL's inventory
  code/modules/economy/trader.dm
Labels: add to wiki, feature, size/S

#4779 Sturdy/heavy cyborg parts do less slowdown if using treads
  code/datums/manufacturing.dm
  code/mob/living/silicon/robot.dm
  code/obj/item/mob_parts/robot_parts.dm
  code/obj/item/tool/weldingtool.dm
  icons/obj/robot_parts.dmi
Labels: add to wiki, balance, size/M, sprites

#4781 chore: add donator figure for Newt Treitor (ckey edwardly)
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: size/XS, sprites

#4793 Cyborg upgrade rendering
  code/mob/living/silicon/robot.dm
  code/modules/robotics/robot/upgrade/parent.dm
Labels: bug, size/L

#3988 514 rgb performance shit
  _std/color.dm
  code/WorkInProgress/ZeWakasStuff.dm
Labels: cleanliness, performance, size/L

#4783 chore: update Bill Cosby and Michael Jackson references
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/space_cash.dm
  maps/cogwip/ships.dmm
  maps/manta.dmm
  maps/manta_damaged.dmm
  maps/oshan.dmm
  maps/oshan_xmas.dmm
  maps/unused/oshan_xmas_2018.dmm
  maps/z3.dmm
Labels: cleanliness, mapping, size/M

#4792 Fix cog2 fire door + alarm
  maps/cogmap2.dmm
Labels: bug - minor, mapping, size/XS

#4784 More gift possibilities
  code/obj/item/gift.dm
Labels: size/S

#4772 Balance matsci spacesuits
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/suits.dm
Labels: balance, bug, size/XS
