Repository goonstation/goonstation, pull requests merged in 2021-10, with the labels that each got.

#6022 Mentorhelp links
  _std/text.dm
  code/global.dm
  code/modules/admin/adminhelp.dm
  code/world.dm
Labels: QoL, size/S

#6133 Fixes wannabees having almost no equipment at roundstart
  code/datums/jobs.dm
Labels: bug, size/S

#6132 Prevents AIs from deploying to qdel'd shells
  code/mob/living/silicon/robot.dm
Labels: bug, size/XS

#6134 Re-adds spaceacillin to NanoMeds.
  code/modules/chemistry/tools/bottles.dm
  code/modules/vending/vending.dm
Labels: bug, size/XS

#6124 Resprites Rockbox
  icons/obj/mining_cloud_storage.dmi
Labels: sprites, size/XS

#6104 fix broken sprite on broken manufacturer
  code/obj/decal.dm
  code/obj/machinery/manufacturer.dm
  code/obj/machinery/pipe/pipe_dispenser.dm
  icons/obj/manufacturer.dmi
Labels: bug - minor, sprites, size/XS

#6140 Adds a barricade dispenser to the Cairngorm
  maps/z2.dmm
Labels: feature, mapping, size/S

#6139 Adds Heavy Weapons Specialist ammo pouch, increases spare LMG belts
  code/obj/item/storage/ammo_pouches.dm
  code/obj/storage/crates.dm
Labels: balance, QoL, size/XS

#6135 Adds a singular deconstuction device to mechanics reconstruction kits from QM
  code/datums/supply_packs.dm
Labels: balance, QoL, size/XS

#6160 vis_locs is not and will not be an associative list
  code/datums/datumvars.dm
Labels: bug, size/XS

#6164 adjust regex for mhelp urls
  code/world.dm
Labels: size/XS

#6161 Fixes the end-round crew survival rate percentage
  code/procs/scorestats.dm
Labels: size/XS

#6159 Destiny Fire Door Fix: Food and Drinks Edition
  maps/destiny.dmm
Labels: bug, mapping, size/XS

#6152 Minor nuke text clarification
  code/obj/machinery/nuclearbomb.dm
Labels: QoL, size/XS

#6162 Reduces Access of Discount Superheroes
  code/datums/jobs.dm
Labels: balance, QoL, size/XS

#6085 makes the old hos uniform perspective
  icons/mob/jumpsuits/worn_js_rank.dmi
Labels: sprites, size/XS

#6091 Adds interactions for slipping/chairflipping/being thrown into the torpedo tube and torpedo trays
  code/WorkInProgress/torpedoes.dm
Labels: feature, size/M

#6147 Puts CW overalls in engineers clothing boxes
  code/obj/item/storage/clothing.dm
Labels: QoL, size/XS

#6158 Oshan Med Storage Access Fix
  maps/oshan.dmm
Labels: bug, mapping, size/S

#6165 Fix asylum shuttle transitions when terrainified
  code/obj/machinery/computer/shuttle.dm
Labels: bug, input wanted, size/S

#6169 Resprites Pickaxes
  icons/mob/inhand/hand_tools.dmi
  icons/obj/items/mining.dmi
Labels: sprites, add to wiki, size/XS

#5976 Pizza Pie Punch up
  code/datums/cookingrecipes.dm
  code/datums/supply_packs.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/random_spawners.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_ingredient.dmi
  icons/obj/foodNdrink/food_meals.dmi
Labels: sprites, size/L

#6155 adds nuclearcomputer0 to 32x96.dmi
  icons/obj/large/32x96.dmi
Labels: sprites, size/XS

#5915 Turmeric and friends
  code/datums/cookingrecipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/plants.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/hydroponics/plants_veg.dm
  code/modules/vending/vending.dm
  code/obj/item/paper.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_ingredient.dmi
  icons/obj/foodNdrink/food_meals.dmi
  icons/obj/foodNdrink/food_produce.dmi
  icons/obj/hydroponics/plants_veg.dmi
Labels: sprites, merge conflict, size/L

#6181 fix // rotates artlab intercom on manta
  maps/manta.dmm
Labels: mapping, size/XS

#6175 Infiltrator tranquilizer pistol ammo reduction
  code/obj/item/gun/ammo.dm
  code/obj/item/storage/ammo_pouches.dm
Labels: balance, size/XS

#6146 Nuke Ops: Bard
  code/datums/controllers/action_controls.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/obj/item/device/radios/headsets.dm
  code/obj/item/device/studio_monitor.dm
  code/obj/storage/crates.dm
  goonstation.dme
  icons/effects/particles.dmi
  icons/misc/abilities.dmi
  icons/mob/back.dmi
  icons/obj/items/weapons.dmi
  icons/obj/loudspeakers.dmi
Labels: feature, help wanted, sprites, size/XL

#6128 add recovery tapes for artlab/buddies to rd locker on donut3
  maps/donut3.dmm
Labels: mapping, balance, size/XS

#6107 Lets you put critter corpses into disposal units via clickdrag
  code/WorkInProgress/recycling/disposal_chute.dm
Labels: QoL, size/S

#6177 Destiny Medbay/Science Access Fix
  maps/destiny.dmm
Labels: bug, mapping, size/S

#6475 Makes cryotron singularity immune
  code/WorkInProgress/cryospawn.dm
Labels: size/XS

#6471 Fixes a Stray Pixel on the Guard's Coat
  icons/mob/overcoats/worn_suit_gimmick.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
Labels: bug - trivial, sprites, size/XS

#6302 Unhardcode server-pick input lists in bans
  code/modules/admin/bans.dm
  code/modules/admin/jobban.dm
  code/modules/cross_server/game_servers.dm
Labels: cleanliness, size/M

#6303 Add an "Until Appeal" ban option, effectively same as "Permanent" just with different messages
  code/modules/admin/bans.dm
  code/modules/admin/spacebee_extension/commands.dm
  strings/admin_changelog.txt
Labels: size/M

#6489 Fixes private action bar images not garbage collecting
  code/datums/controllers/action_controls.dm
Labels: bug, size/S

#6490 Fixes borgs permanently stuttering after being crushed by an airlock
  code/mob/living/silicon/robot_statusupdate.dm
Labels: bug, size/XS

#6481 Always add people to the respawn controller on ghostize
  code/mob/dead/observer.dm
Labels: bug, cleanliness, size/S

#6496 Lowers the greek helmet melee protection
  code/obj/item/clothing/helmets.dm
Labels: balance, size/XS

#6094 Adds a new admin-spawn antagonist, The Slasher.
  _std/defines/roles.dm
  _std/macros/antag_popups.dm
  _std/macros/antagchecks.dm
  _std/macros/maps.dm
  _std/macros/mob_properties.dm
  browserassets/html/slasher_possession.html
  browserassets/html/traitorTips/slasherTips.html
  code/WorkInProgress/AbilityItem.dm
  code/area.dm
  code/datums/controllers/process/forcedMovement.dm
  code/datums/jobs.dm
  code/mob.dm
  code/mob/dead/observer.dm
  code/mob/dead/target_observer.dm
  code/mob/input.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/slasher.dm
  code/mob/living/intangible/flock/flockmind.dm
  code/mob/suicide.dm
  code/mob/transform_procs.dm
  code/mob/wraith.dm
  code/mob/zoldorfmob.dm
  code/modules/admin/admin.dm
  code/modules/admin/deadsay.dm
  code/modules/admin/player_panel.dm
  code/modules/status_system/statusEffects.dm
  code/obj/grille.dm
  code/obj/item/clothing/gloves.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/masks.dm
  code/obj/item/clothing/shoes.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/misc_weapons.dm
  code/turf/turf.dm
  goonstation.dme
  icons/mob/inhand/hand_food.dmi
  icons/mob/inhand/hand_weapons.dmi
  icons/mob/mask.dmi
  icons/mob/monkey_clothes.dmi
  icons/mob/overcoats/worn_suit.dmi
  icons/mob/slasher.dmi
  icons/obj/clothing/item_masks.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
  icons/obj/items/weapons.dmi
  icons/obj/kitchen.dmi
  icons/ui/statussystem.dmi
  strings/admin_changelog.txt
Labels: feature, sprites, merge conflict, size/XL

#6497 Log wraith deaths
  code/mob/wraith.dm
Labels: QoL, size/XS

#6493 Don't explosion/grenade log sim areas
  code/area.dm
  code/datums/controllers/explosion_controls.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/datums/gauntlet/podcolosseum.dm
  code/modules/chemistry/tools/grenades.dm
  code/obj/item/grenades.dm
  code/z_adventurezones/afterlife.dm
Labels: QoL, size/M

#6501 Slasher Pass 1 - Bug & Oversight Fixes
  _std/macros/mob_properties.dm
  code/mob/living/carbon/human/slasher.dm
  code/mob/living/silicon/ai.dm
  code/modules/status_system/statusEffects.dm
  icons/ui/statussystem.dmi
Labels: bug, sprites, QoL, size/L

#6508 Prevent shell casings from burning
  code/obj/item/gun/kinetic.dm
Labels: QoL, size/XS

#6506 Removes the multitool mechcomp popup menu from vending machines if the panel is open
  code/datums/components/mechComp_signals.dm
Labels: QoL, size/XS

#6480 Cryo Storage Manifest
  code/WorkInProgress/cryospawn.dm
  code/mob/living/silicon/ai.dm
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/machinery/computer/card.dm
Labels: size/M

#6348 taste reagents when drinking
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/chemistry/tools/food_and_drink.dm
Labels: feature, balance, size/M

#6510 Don't explosion/grenade log sim areas part two
  code/WorkInProgress/zamujasa.dm
  code/datums/controllers/explosion_controls.dm
  code/modules/tutorials/blob_tutorial.dm
Labels: QoL, size/S

#6415 DWAINE Mainframe logging
  code/global.dm
  code/modules/admin/admin.dm
  code/modules/networks/computer3/mainframe2/mainframe2.dm
  code/procs/logging.dm
  strings/admin_changelog.txt
Labels: size/S

#6427 Fixes security records bug
  code/modules/networks/computer3/sec_rec.dm
Labels: bug, size/S

#6492 Removes 3 instances of lynching in assissination_fluff.txt
  strings/assassination_fluff.txt
Labels: size/XS

#6119 Misc loot crate loot balancing.
  code/modules/projectiles/laser.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/energy.dm
  code/obj/item/space_cash.dm
  code/obj/storage/loot_crates.dm
Labels: balance, size/M

#6167 Disjoint Turf Datum
  _std/defines/turf.dm
  code/WorkInProgress/recycling/disposal.dm
  code/datums/disjoint_turf.dm
  code/modules/atmospherics/machinery/pipe.dm
  code/modules/power/terminal.dm
  code/turf/turf.dm
  goonstation.dme
  icons/mob/screen1.dmi
  icons/obj/atmospherics/pipes/manifold_pipe.dmi
  icons/obj/disposal.dmi
  icons/obj/power.dmi
Labels: feature, help wanted, mapping, sprites, size/L

#6331 Give radio chat icons tooltips
  browserassets/css/browserOutput.css
  code/datums/gamemodes/pod_wars/pw_misc_objects.dm
  code/obj/item/device/radio.dm
  code/obj/item/device/radios/headsets.dm
Labels: QoL, size/M

#6342 Alt + hover over mobs shows names + pronouns
  _std/macros/mob_properties.dm
  _std/plane.dm
  code/datums/viewport.dm
  code/mob.dm
  code/mob/dead/ai-camera.dm
  code/mob/dead/hivemind_observer.dm
  code/mob/dead/observer.dm
  code/mob/dead/target_observer.dm
  code/mob/input.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/monkeys.dm
  code/mob/living/intangible/flock/flockmind.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
  code/mob/wraith.dm
  code/modules/interface/name_tag.dm
  code/modules/medical/genetics/bioHolder.dm
  code/obj/decorations.dm
  goonstation.dme
Labels: feature, QoL, size/L

#6433 Drinking via hotkey
  code/modules/chemistry/tools/food_and_drink.dm
Labels: QoL, size/S
