Repository goonstation/goonstation, pull requests merged in 2021-08, with the labels that each got.

#5648 Fix odd party crab petting messages
  code/mob/living/critter/small_animal.dm
Labels: bug, size/XS

#5642 Update telescience computer UI for AI eyes
  code/modules/networks/computer3/mainframe2/telesci.dm
Labels: QoL, bug - minor, size/XS

#5619 Removes inquisitor gas mask from QM crates
  code/obj/random_spawners.dm
Labels: removal, size/XS

#5656 Fixes cyberlungs and kidneys not being emagable by bashing
  code/global.dm
Labels: bug, size/XS

#5650 Remove playable pests from agimmicks
  code/modules/events/playable_pests.dm
Labels: QoL, bug, size/S

#5587 change the way the right-click interact function operates
  code/mob.dm
Labels: QoL

#5653 Crusher resprite by Flaborized
  icons/obj/scrap.dmi
Labels: size/XS, sprites

#5651 Resprites the shovel, by Flaborized
  icons/obj/items/items.dmi
Labels: size/XS, sprites

#5646 Additional sets of horns for the Cranial Keratin Formation gene
  code/modules/medical/genetics/bioEffects/useless.dm
  icons/effects/genetics.dmi
Labels: add to wiki, feature, size/S, sprites

#5657 Add new cloud save fetch and put procs for targeting other keys
  code/player.dm
Labels: feature, size/M

#5660 Add Donut 2 Syndicate shuttle to prefab_shuttles.dm
  code/datums/prefab_shuttles.dm
Labels: size/XS

#5600 fix powerglove abuse case and stun
  code/mob.dm
  code/mob/living/carbon/human.dm
  code/obj/artifacts/artifactdatums.dm
  code/obj/item/clothing/gloves.dm
Labels: balance, bug - major, cleanliness, size/S

#5668 Surgery exploit fix
  code/obj/item/organs/butt.dm
  code/obj/item/organs/organ_parent.dm
  code/obj/item/organs/skull.dm
Labels: bug, size/XS

#5674 Fixes a couple reagent runtimes
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: bug - minor, size/XS

#5673 Fixes a few grab runtimes
  code/obj/item/grab.dm
Labels: bug - minor, size/XS

#5565 Adds a MedTrak Scanner PDA program that opens the medical record of a scanned person.
  code/obj/item/device/pda2/cartridges.dm
  code/obj/item/device/pda2/scanners.dm
  code/procs/scanprocs.dm
Labels: feature, QoL, stale, size/M

#5611 TGUI Long Range Teleporter [MDB IGNORE]
  browserassets/tgui/tgui.bundle.js
  code/WorkInProgress/artemis/planetary_teleporter.dm
  code/WorkInProgress/telescope/quantumTelescope.dm
  code/WorkInProgress/telescope/telescopeMisc.dm
  maps/artemis/arjuna.dmm
  maps/artemis/artemis.dmm
  maps/artemis/manta.dmm
  maps/atlas.dmm
  maps/atlas_xmas_2020.dmm
  maps/clarion.dmm
  maps/clarion_xmas_2020.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogmap2_xmas_2020.dmm
  maps/density.dmm
  maps/donut3.dmm
  maps/donut3_xmas.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/horizon_xmas.dmm
  maps/icarus.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/manta_damaged.dmm
  maps/oshan.dmm
  maps/oshan_xmas.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/unused/atlas_old.dmm
  maps/unused/chiron.dmm
  maps/unused/clarion_xmas_2018.dmm
  maps/unused/destiny_xmas_2017.dmm
  maps/unused/devship.dmm
  maps/unused/donut2.dmm
  maps/unused/donut2_new_walls.dmm
  maps/unused/horizon_2019.dmm
  maps/unused/linemap.dmm
  maps/unused/mushroom.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/mushroom_new_xmas.dmm
  maps/unused/old_trunkmap.dmm
  maps/unused/oshan_xmas_2018.dmm
  maps/unused/samedi.dmm
  maps/unused/trunkmap.dmm
  maps/warwip/atlas_horizon_xmas_2019.dmm
  maps/wrestlemap.dmm
  tgui/packages/tgui/interfaces/LongRangeTeleporter.js
Labels: mapping, balance, size/XXL

#5678 Re-adds original Brotein Shake sprite and fixes a typo
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/economy/traders/josh.dm
  icons/obj/foodNdrink/drinks.dmi
Labels: bug - minor, sprites, size/XS

#5677 Adds Taocat's patreon figurine, updates a few other figurines
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: sprites, size/XS

#5658 Fix sleeper agent callout
  code/modules/events/sleeperagent.dm
Labels: bug, size/S

#5688 Fix 5685
  code/modules/events/sleeperagent.dm
Labels: bug, size/XS

#5684 Prevents furnace stuffing from a distance
  code/modules/power/furnace.dm
Labels: bug, size/XS

#5680 Fixes a vehicle runtime - buckling people into things which can't be buckled into
  code/obj/vehicle.dm
Labels: bug - minor, runtime, size/S

#5691 Change get_dist() to GET_DIST() to handle z-levels
  code/modules/tgui/states.dm
  code/modules/tgui/states/default.dm
Labels: size/XS

#5696 Fix patches sticking on cyborgs
  code/modules/chemistry/tools/patches.dm
Labels: bug, size/S

#5693 Still Cleanliness
  code/modules/chemistry/tools/dispensers.dm
Labels: cleanliness, size/M

#5692 Fixes some oversuits not hiding hair properly
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/obj/item/clothing/suits.dm
Labels: bug, cleanliness, size/S

#5704 sets over_hair to FALSE on a bunch of places it doesn't fit in and sets it to TRUE on some places it should be in.
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/suits.dm
Labels: bug, size/S

#5698 Rewrites The Spriting Guidelines
  .github/SPRITE_GUIDELINES.md
Labels: documentation, help wanted, github, size/L

#5707 Vampire Thrall name normalizing
  _std/macros/antag_popups.dm
  _std/macros/antagchecks.dm
  _std/macros/appearance.dm
  browserassets/css/browserOutput.css
  browserassets/html/traitorTips/vampireTips.html
  browserassets/html/traitorTips/vampiricthrallTips.html
  code/datums/abilities/vampire.dm
  code/datums/abilities/vampire/enthrall.dm
  code/datums/abilities/vampire/thrall_abilities.dm
  code/datums/abilities/vampire/vampire_bite.dm
  code/datums/abilities/vampiric_thrall.dm
  code/datums/components/barber.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/datums/mutantraces.dm
  code/mob/living/carbon/human.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/events/vamp_teg.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/item/organs/head.dm
  code/procs/mobprocs/chatprocs.dm
  goonstation.dme
  icons/mob/spell_buttons.dmi
  icons/mob/vampiric_thrall.dmi
Labels: sprites, size/L

#5711 do not unbuckle people on shuttle start
  code/obj/stool.dm
Labels: bug - minor, size/XS

#5709 Lets you chug from ALL the drinking containers
  code/modules/chemistry/tools/dispensers.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/chemistry/tools/fuel_tanks.dm
  code/modules/food_and_drink/drinks.dm
  code/obj/artifacts/artifact_items/pitcher.dm
  code/obj/submachine/robotics.dm
Labels: feature, size/M

#5665 Resprites a few things in storage.dmi
  icons/obj/items/storage.dmi
Labels: sprites, add to wiki, size/XS

#5721 Fix powered mining tool visual states
  code/obj/mining.dm
Labels: bug, size/L

#5578 Adds Peanut Butter cookies
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_snacks.dmi
Labels: sprites, add to wiki, size/S

#5733 Fix medtrak scan when the cartidge is not loaded by default.
  code/procs/scanprocs.dm
Labels: bug, size/XS

#5734 Fix various pod /putt skins not applying properly
  code/modules/transport/pods/ships.dm
  icons/effects/64x64.dmi
  icons/obj/ship.dmi
Labels: bug, sprites, size/XS

#5617 Fix chem grenades remaining equipped after in-hand detonation
  code/modules/chemistry/tools/grenades.dm
Labels: bug - minor, size/XS

#5735 Is this a rain?
  code/modules/admin/randomverbs.dm
  code/obj/effects/precipitation.dm
  code/turf/floors_unsimulated.dm
  goonstation.dme
  icons/effects/particles.dmi
  icons/turf/water.dmi
Labels: sprites, size/M

#5723 Rotate cogmap1 sec CCTV computer
  maps/cogmap.dmm
Labels: bug, mapping, size/XS

#5694 Several changes to food boxes
  code/obj/item/kitchen.dm
Labels: size/S

#5705 Cleaning QOL
  code/modules/forensics/atom_forensic.dm
  code/obj/item/clothing.dm
  code/obj/item/mops_cleaners.dm
Labels: bug, QoL, size/M

#5701 Remove some spy bounty target subtypes
  code/datums/gamemodes/spy_theft.dm
Labels: QoL, size/XS

#5588 Invisible Plantpots
  code/datums/components/arable.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_alien.dm
  code/modules/hydroponics/plants_weed.dm
  code/obj/machinery/plantpot.dm
  goonstation.dme
  icons/obj/hydroponics/machines_hydroponics.dmi
Labels: bug, feature, sprites, size/L

#5667 Hemostat consistency/balance and QOL changes.
  code/modules/medical/blood_system.dm
  code/modules/medical/surgery_procs.dm
  code/modules/medical/surgery_tools.dm
  code/obj/item/mob_parts/human_parts.dm
Labels: bug, balance, QoL, size/L

#5745 Make bio magnetic field use status effects
  code/modules/events/magnetic.dm
  code/modules/status_system/statusEffects.dm
  icons/ui/statussystem.dmi
Labels: feature, sprites, size/M

#5720 Echo Newline Flag
  code/modules/networks/computer3/mainframe2/shell.dm
Labels: size/XS

#5726 Adds a basic audio contribution guide in our documentation
  .github/AUDIO_GUIDELINES.md
  .github/assets/audio.png
  README.md
Labels: documentation, help wanted, github, size/M

#5749 Rain Tile Improvements
  code/obj/effects/precipitation.dm
Labels: performance, size/S

#5481 Refactor Nanomed-Plus inventory
  code/modules/chemistry/tools/bottles.dm
  code/modules/vending/vending.dm
Labels: feature, add to wiki, size/L

#5414 Moves Cog1 uniform manufacturer to a public area
  maps/cogmap.dmm
Labels: mapping, size/XS

#5737 Ensure path to shipping is clear for -ify admin verbs
  code/modules/admin/randomverbs.dm
  code/modules/economy/shippingmarket.dm
Labels: size/M

#5702 Unit test framework
  .github/workflows/automaton.yml
  .vscode/settings.json
  _std/__build.dm
  code/modules/unit_tests/README.md
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/deletions.dm
  code/modules/unit_tests/reagent_id_typos.dm
  code/modules/unit_tests/unit_test.dm
  code/modules/unit_tests/unit_tests.dmm
  code/world.dm
  goonstation.dme
  maps/config/map.dm
Labels: documentation, feature, mapping, github, FUCK, size/L

#5750 Revert #5481 "Refactor Nanomed-Plus inventory"
  code/modules/chemistry/tools/bottles.dm
  code/modules/vending/vending.dm
  strings/changelog.txt
Labels: size/L

#5703 Minor changes to Cow mutantrace sprites
  icons/mob/cow.dmi
  icons/mob/genetics_powers.dmi
Labels: sprites, add to wiki, size/XS

#5748 Adds a new antag type to mixed, Arcfiend
  code/datums/gamemodes/mixed.dm
  code/datums/gamemodes/mixed_rp.dm
  code/datums/preferences.dm
  code/datums/savefile.dm
Labels: feature, secret, add to wiki, size/M

#5753 Removes pickpocket gun from VR uplink list
  code/datums/syndicate_buylist.dm
Labels: removal, size/XS

#5754 Slot machine rebalancing
  browserassets/tgui/tgui.bundle.js
  code/obj/submachine/slots.dm
  tgui/packages/tgui/interfaces/SlotMachine.js
Labels: balance, tgui, size/L

#5756 Adds a new titlecard for Nightshade 2021
  browserassets/images/nightshade_2021_titlecard.png
Labels: size/XS

#5752 Adds regal/royal gimmick shuttles to all maps
  assets/maps/shuttles/cog1/cog1-royal.dmm
  assets/maps/shuttles/cog2/cog2-royal.dmm
  assets/maps/shuttles/destiny/destiny_royal.dmm
  assets/maps/shuttles/donut2/donut2_royal.dmm
  assets/maps/shuttles/donut3/donut3-royal.dmm
  assets/maps/shuttles/manta/manta_royal.dmm
  assets/maps/shuttles/sealab/oshan-royal.dmm
  code/datums/prefab_shuttles.dm
Labels: feature, mapping, size/XXL

#5762 Updates the admin office for Questx
  maps/z2.dmm
Labels: mapping, size/L

#5639 Updates the edit character button to use human resprite sprites
  icons/ui/edit-character-button.png
Labels: sprites, size/XS

#5647 Removes screen orientation flipping from space madness
  code/modules/medical/diseases/space_madness.dm
Labels: removal, add to wiki, size/XS

#5768 - 90 minute auto call, 10 minute respawn timer for RP
  _std/setup.dm
  code/WorkInProgress/cryospawn.dm
  code/datums/gamemodes/gm_parent.dm
Labels: size/XS

#5747 Adds Auto-mender refill cartridges and reduces availability of auto-mendors.
  code/WorkInProgress/cabinet.dm
  code/datums/manufacturing.dm
  code/datums/supply_packs.dm
  code/modules/chemistry/tools/patches.dm
  code/modules/sound/soundCache.dm
  code/modules/vending/vending.dm
  code/obj/item/storage/med_chem.dm
  code/obj/storage/secure_closets.dm
  code/obj/submachine/weapon_vendor.dm
  icons/obj/chemical.dmi
  maps/manta.dmm
  sound/items/mender_refill.ogg
  sound/items/mender_refill_juice.ogg
Labels: mapping, sprites, merge conflict, sound, size/L

#5778 Makes incapacitators have a unswappable battery
  code/obj/flock/goods.dm
Labels: size/XS

#5781 Mender change tweaks
  code/datums/manufacturing.dm
  code/modules/chemistry/tools/patches.dm
  code/modules/vending/vending.dm
  code/obj/item/storage/med_chem.dm
Labels: size/S

#5780 Delay Bareplant Seed Check for Prefabs
  code/obj/machinery/plantpot.dm
Labels: size/M

#5779 ⊕🎲
  code/datums/rand.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/rand.dm
  goonstation.dme
Labels: feature, size/L

#5776 Resprites Big Trees
  icons/effects/96x96.dmi
  icons/misc/worlds.dmi
Labels: sprites, size/XS

#5766 Prevent tugs loading AI eyes
  code/WorkInProgress/tug.dm
Labels: bug, size/XS

#5793 Hawkward, unit test fix
  code/modules/unit_tests/rand.dm
Labels: size/XS

#5661 Improve the microwave
  code/modules/sound/soundCache.dm
  code/obj/machinery/microwave.dm
  sound/machines/microwave_start.ogg
Labels: rework, sound, add to wiki, size/L

#5794 Makes Medical Director spawn with doctor's medkit
  code/datums/jobs.dm
Labels: balance, size/XS

#5774 make the PDA group message reply link work
  code/obj/item/device/pda2/base_os.dm
Labels: bug - minor, size/XS

#5819 Log sleeper agents
  code/modules/events/sleeperagent.dm
Labels: bug, QoL, size/S

#5838 Mass Driver Resprite
  icons/obj/stationobjs.dmi
Labels: sprites, size/XS

#5826 Removes loose screws, sulfonal, and cyanide from poison bottles
  strings/chemistry_tools.txt
Labels: balance, QoL, add to wiki, size/XS

#5824 Custom cigarettes last half as long as commercial, filtered cigarettes
  code/obj/item/cigarette.dm
Labels: balance, size/XS

#5816 Removes the crowbar from roboticist's backpacks on spawning
  code/datums/jobs.dm
Labels: QoL, size/XS

#5815 Resprites a few critters (wasps, rockworm, seal, walrus)
  code/datums/abilities/wizard/animal.dm
  code/mob/living/critter/small_animal.dm
  icons/misc/critter.dmi
Labels: feature, sprites, add to wiki, size/L

#5771 Fixes bug with logging into ThinkDOS computers
  code/modules/networks/computer3/base_os.dm
Labels: bug, size/XS

#5765 🦆🤖
  code/modules/robotics/bot/duckbot.dm
Labels: feature, size/S

#5624 Removes "Floor Cluwnes are Real" conspirator objective
  code/datums/objective.dm
Labels: QoL, removal, add to wiki, size/M

#5573 Snow Map Generator
  code/datums/mapgen/SnowGenerator.dm
  code/datums/mapgen/biomes/_biome.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
  code/obj/decorations.dm
  code/turf/floors_unsimulated.dm
  goonstation.dme
  icons/effects/96x96.dmi
  icons/turf/outdoors.dmi
  icons/turf/snow.dmi
  icons/turf/water.dmi
Labels: sprites, size/L

#5817 Fixes custom jobs spawning naked (lazily)
  code/datums/controllers/job_controls.dm
Labels: bug, size/M

#5842 Resprites Cats🐈
  icons/misc/critter.dmi
  icons/obj/vehicles.dmi
Labels: sprites, size/XS

#5814 Fixes Strange Green Goop not working
  code/modules/chemistry/Reagents-Misc.dm
Labels: bug, size/S

#5834 Nerfs skeleton healing from milk
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: balance, input wanted, add to wiki, size/XS

#5846 Very Slight Ghost Cat Sprite Fix
  icons/misc/critter.dmi
Labels: sprites, size/XS

#5845 Consolidate Terrain Verbs To List
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
  code/modules/admin/terrainify.dm
  goonstation.dme
  strings/admin_changelog.txt
Labels: cleanliness, QoL, size/L

#5804 Cancel button on PDA message input
  code/obj/item/device/pda2/base_os.dm
Labels: QoL, size/XS

#5844 Removes the multitool mechcomp popup menu from airlocks if the panel is open
  code/datums/components/mechComp_signals.dm
Labels: QoL, size/XS

#5855 Makes the e-gun component functional
  code/WorkInProgress/MechanicMadness.dm
Labels: size/XS

#5837 passive bioeffects rebalance
  _std/macros/mob_properties.dm
  code/WorkInProgress/GerhazoStuff.dm
  code/WorkInProgress/ISNStuff2.dm
  code/WorkInProgress/ObjectProperties.dm
  code/WorkInProgress/previouslyKeelinsStuff.dm
  code/datums/abilities/critter/psyblast.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/datums/mutantraces.dm
  code/datums/special_r.dm
  code/datums/traits.dm
  code/mob.dm
  code/mob/living.dm
  code/mob/living/carbon.dm
  code/mob/living/carbon/human/procs/damage.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/mob/living/critter/hastur.dm
  code/mob/living/life/disability.dm
  code/mob/living/life/sight.dm
  code/mob/living/stamina_stuns.dm
  code/modules/admin/admin.dm
  code/modules/medical/genetics/baseBioeffect.dm
  code/modules/medical/genetics/bioEffects/beneficial.dm
  code/modules/medical/genetics/bioEffects/harmful.dm
  code/modules/medical/genetics/bioEffects/hemochromia.dm
  code/modules/medical/genetics/bioEffects/mutantrace.dm
  code/modules/medical/genetics/bioEffects/non_genetic.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/medical/genetics/bioEffects/useless.dm
  code/modules/medical/genetics/bioHolder.dm
  code/modules/medical/genetics/chromosomes.dm
  code/modules/medical/genetics/combo_recipes.dm
  code/modules/power/apc.dm
  code/obj/critter/martian.dm
  code/obj/decal.dm
  code/obj/item/device/radio.dm
  code/obj/item/gun/gun_parent.dm
  code/obj/item/organs/eye.dm
  code/obj/item/stun_baton.dm
  code/obj/machinery/door/airlock.dm
  code/obj/machinery/singularity.dm
  code/z_adventurezones/precursor.dm
Labels: balance, size/XL

#5717 Removes a stinky randomly generated AI name
  strings/names/ai.txt
Labels: size/XS
