Repository goonstation/goonstation, pull requests merged in 2021-11, with the labels that each got.

#6523 makes character setup functional (and pronouns too)
  code/modules/medical/genetics/bioHolder.dm
Labels: bug - major, size/XS

#6527 fix taste messages being shown to everyone when someone drinks
  code/modules/chemistry/tools/food_and_drink.dm
Labels: bug - minor, size/XS

#6538 E
  _std/defines/lag.dm
Labels: bug, size/XS

#6535 Add firesource logging
  code/obj/item.dm
Labels: size/S

#6379 QM Advanced Requisitions System
  _std/__std.dme
  _std/defines/economy.dm
  code/modules/economy/requisition/rc_aid.dm
  code/modules/economy/requisition/rc_civilian.dm
  code/modules/economy/requisition/rc_scientific.dm
  code/modules/economy/requisition/rc_special.dm
  code/modules/economy/requisition/requisition_contracts.dm
  code/modules/economy/shippingmarket.dm
  code/modules/economy/traders/buford.dm
  code/modules/events/minor/special_order.dm
  code/obj/machinery/computer/QM_supply.dm
  code/obj/machinery/launcherloader.dm
  goonstation.dme
Labels: feature, size/XXL

#6546 fix AIs being unable to hear with their mainframe
  code/mob/living/silicon/ai.dm
Labels: bug - minor, size/XS

#6525 Sorted guncode based on caliber, it will now be much easier to make changes.
  code/modules/projectiles/bullet.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
Labels: size/XXL

#6544 I refuse to accept that /proc/stars exists. (Improves code readability of /proc/stars.)
  code/procs/helpers.dm
Labels: cleanliness, size/M

#6509 Some floor resprite fixes
  icons/turf/construction_floors.dmi
  icons/turf/floors.dmi
Labels: sprites, size/XS

#6463 Adds Breaching Charges To Oshan Armory
  maps/oshan.dmm
Labels: mapping, size/S

#6462 Resprites the Chef's Hat
  code/obj/item/clothing/hats.dm
  code/obj/storage/secure_closets.dm
  icons/mob/head.dmi
  icons/obj/clothing/item_hats.dmi
Labels: sprites, size/XS

#6553 Readds several lost sprites.
  icons/mob/inhand/hand_food.dmi
  icons/mob/monkey_clothes.dmi
  icons/obj/items/weapons.dmi
  icons/ui/statussystem.dmi
Labels: bug - minor, sprites, size/XS

#6557 Fixes security records bug #6539
  code/modules/networks/computer3/sec_rec.dm
Labels: size/M

#6547 attempting to reopen a multicontext menu now closes it
  code/modules/interface/multiContext/multiContext.dm
Labels: QoL, size/XS

#6533 Cargo Mass Loader/Driver Fix/Speedup
  code/obj/machinery/launcherloader.dm
Labels: size/XS

#6521 Implement tail disposing
  code/datums/mutantraces.dm
  code/obj/item/organs/tail.dm
Labels: bug, size/S

#6534 change portable reclaimer material loading a little to fix a thing
  code/obj/item/material.dm
Labels: bug - minor, cleanliness, size/S

#6524 Returning MechComps to the Vending Machine
  code/modules/vending/vending.dm
Labels: QoL, size/S

#6532 Adds the mining PDA group to the list of default message groups
  _std/defines/jobs.dm
  code/WorkInProgress/recycling/mail_chute.dm
  code/lists/jobs.dm
  code/modules/robotics/robot/module/mining.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/machinery/manufacturer.dm
Labels: QoL, size/M

#6561 Requisition item-path eval debork
  code/modules/economy/requisition/requisition_contracts.dm
Labels: bug - major, size/XS

#6545 Message admins for sleeper awakens
  code/modules/events/sleeperagent.dm
Labels: QoL, size/XS

#6528 Removes admin messages for several grenade types
  code/modules/chemistry/tools/grenades.dm
  code/obj/item/grenades.dm
Labels: QoL, size/S

#6558 Chimpfluenza -> Monkey Madness rename
  code/datums/gamemodes/monkey.dm
  code/modules/chemistry/Reagents-Diseases.dm
  code/modules/medical/diseases/monkey_madness.dm
  code/modules/networks/computer3/med_rec.dm
  goonstation.dme
Labels: size/S

#6536 Fixes two crew objectives and speeds up checks for several others.
  _std/types.dm
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/datums/crew_objective.dm
  code/modules/hydroponics/plants_herb.dm
  code/modules/robotics/bot/medbot.dm
  code/obj/item/cigarette.dm
  code/obj/item/clothing/cardboard.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/seeds.dm
Labels: bug, size/M

#6562 Requisition payout buff pass
  code/modules/economy/requisition/rc_aid.dm
  code/modules/economy/requisition/rc_civilian.dm
  code/modules/economy/requisition/rc_scientific.dm
Labels: balance, size/M

#6563 Requisition list printing for cargo computer
  code/obj/machinery/computer/QM_supply.dm
Labels: feature, size/S

#6565 Adds 1 second firing delay to Betelgeuse sniper rifle
  code/obj/item/gun/kinetic.dm
Labels: balance, size/XS

#6564 Makes syndicate napalm extra slowy, probably
  code/modules/chemistry/Reagents-ExplosiveFire.dm
Labels: balance, size/XS

#6566 Optimization and improvement for camera visibility updates
  _std/defines/sight.dm
  code/mob/dead/ai-camera.dm
  code/obj/machinery/camera.dm
  code/turf/turf.dm
  code/world.dm
Labels: performance, size/L

#6572 Fixes bug with Styptic and Silver Sulf
  code/modules/chemistry/Reagents-Medical.dm
Labels: bug, size/XS

#6573 Cryo Manifest Fix
  code/WorkInProgress/cryospawn.dm
Labels: bug, size/XS

#6580 fix a bald trait preview bug
  code/datums/preferences.dm
Labels: bug - minor, size/S

#6301 Antag candidate picking fill-in logic to pick actual random candidates instead of iterating over clients.
  code/datums/gamemodes/gm_parent.dm
Labels: bug, size/M

#6575 Synthflesh Bug Fix
  code/modules/chemistry/Reagents-Medical.dm
Labels: bug, size/XS

#6552 "Steal HoS Hat" and "Steal Auth Disk" Objective Now Requires A HoS/Captain on Duty to Receive
  code/datums/objective.dm
Labels: bug, size/S

#6256 Critter ability changes and new ability sprites
  code/datums/abilities/critter/bite.dm
  code/datums/abilities/critter/devour.dm
  code/datums/abilities/critter/frenzy.dm
  code/datums/abilities/critter/slam.dm
  code/datums/abilities/critter/small_animal.dm
  code/datums/abilities/critter/spider.dm
  code/datums/abilities/critter/sting.dm
  code/datums/abilities/critter/tackle.dm
  code/mob/living/critter/fermid.dm
  code/mob/living/critter/killertomato.dm
  code/mob/living/critter/maneater.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/critter/spider.dm
  icons/mob/critter_ui.dmi
Labels: feature, sprites, balance, size/L

#6543 Improves the manifest visually, now sorts by department, with departmental heads at the top of their respective departments
  code/datums/datacore.dm
  code/lists/jobs.dm
  code/mob/living/silicon/ai.dm
  code/modules/networks/computer3/smallprogs.dm
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/machinery/computer/card.dm
Labels: QoL, size/L

#6582 fix a bug when deconstructing crushers
  code/WorkInProgress/Electronics.dm
Labels: bug - minor, size/XS

#6576 Powersinks now are more expensive
  code/obj/item/device/powersink.dm
Labels: balance, size/XS

#6516 Artifact selling rebalancing and fix
  code/modules/economy/shippingmarket.dm
Labels: bug - minor, balance, size/M

#6593 Fix restricted z-level check for pod and sub teleportation
  code/modules/telescience/teleporter_old.dm
Labels: bug - minor, size/XS

#6591 Dead people do not show typing speech bubbles
  code/procs/mobprocs/chatprocs.dm
Labels: bug - minor, size/XS

#6590 Prevents long distance drag-drop filling of plantmasters, satchels, and reagent extractors
  code/obj/item/satchel.dm
  code/obj/submachine/seed.dm
Labels: bug - minor, size/XS

#6589 adds icon for cable coil laying item ability
  icons/misc/abilities.dmi
Labels: bug - minor, sprites, size/XS

#6588 make genetics abilities show up more responsively
  code/modules/medical/genetics/bioEffects/powers.dm
Labels: bug - minor, size/XS

#6598 Remove VR valve log and title screen log
  code/area.dm
  code/obj/item/device/transfer_valve.dm
Labels: QoL, size/XS

#6602 Cooldown on indestructible window knock
  code/obj/window.dm
Labels: size/S

#6604 Corrects nukeop assault rifle ammo capacity
  code/obj/item/gun/kinetic.dm
Labels: bug - minor, size/XS

#6609 Arm surgery bugfixes
  code/obj/item.dm
  code/obj/item/mob_parts/human_parts.dm
Labels: bug - minor, runtime, size/S

#6608 Prevent planting item arm items on people
  code/datums/controllers/action_controls.dm
Labels: bug, size/XS

#6610 Fix high flat top
  icons/mob/human_hair.dmi
Labels: bug - trivial, sprites, size/XS

#6550 Removes remaining Oshan arrival glass tables
  maps/oshan.dmm
Labels: mapping, QoL, size/XS

#6304 Support TGS configuration
  browserassets/Gruntfile.js
  code/mapSwitching.dm
  code/mob_stat.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/procs/resourceManagement.dm
  code/world.dm
Labels: DNM, rework, Certified Organic, size/L

#6614 Start ghost respawn wiz on wiz shuttle
  code/modules/events/antag_ghost_respawn.dm
Labels: QoL, size/S

#6579 Adds the Kitchen Training trait to chefs, which lets you see the list of buffs a food grants, as well as whether or not it is of high quality
  code/datums/jobs.dm
  code/datums/traits.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/status_system/statusEffects.dm
  code/modules/status_system/statusFoodBad.dm
  code/modules/status_system/statusFoodBuffs.dm
  code/modules/status_system/statusSystem.dm
Labels: feature, QoL, add to wiki, size/L

#6531 Fix turret deploy error
  code/atom/throwing.dm
Labels: bug, size/XS

#6603 New spacelubed floor animation
  code/modules/chemistry/Reagents-Misc.dm
  icons/effects/water.dmi
Labels: sprites, balance, input wanted, size/S

#6577 Armory grenade crates now have a box of stun mines
  code/obj/item/mine.dm
  code/obj/item/storage/weapon_security.dm
  code/obj/storage/secure_crates.dm
  icons/obj/items/weapons.dmi
Labels: sprites, balance, size/M

#6559 Removes striping from loot crates.
  code/obj/storage/loot_crates.dm
  icons/obj/large_storage.dmi
Labels: sprites, size/S

#6629 allow selling of artifacts in crates
  code/modules/economy/shippingmarket.dm
Labels: QoL, size/XS

#6633 Nuke Ops: Bard sprites
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/device/studio_monitor.dm
  code/obj/storage/crates.dm
  icons/mob/back.dmi
  icons/mob/head.dmi
  icons/mob/inhand/hand_weapons.dmi
  icons/mob/overcoats/worn_suit_hazard.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/overcoats/item_suit_hazard.dmi
  icons/obj/large/64x32.dmi
  icons/obj/loudspeakers.dmi
Labels: sprites, size/M

#5436 donut 3 sec changes
  maps/donut3.dmm
Labels: mapping, size/XXL

#6653 Component arginfo
  _std/defines/component_defines.dm
  code/datums/components/_component.dm
  code/datums/components/_holdertargeting.dm
  code/datums/components/_loctargeting.dm
  code/datums/components/_wearertargeting.dm
  code/datums/components/barber.dm
  code/datums/components/cell_holder.dm
  code/datums/components/controlled_by_mob.dm
  code/datums/components/drop_loot_on_death.dm
  code/datums/components/explode_on_touch.dm
  code/datums/components/foldable.dm
  code/datums/components/food_stuff.dm
  code/datums/components/fragile_item.dm
  code/datums/components/fullauto.dm
  code/datums/components/light.dm
  code/datums/components/mob_pierce.dm
  code/datums/components/power_cell.dm
  code/datums/components/simplelight.dm
  code/datums/components/smartgun.dm
  code/datums/components/sniper_wallpierce.dm
  code/datums/components/transfer_on_attack.dm
  code/modules/admin/debug.dm
Labels: QoL, size/L

#6646 Adds musical sfx to Nuke Ops Bard and enables it to be chosen in Syndicate Weapons Vendors.
  code/modules/sound/soundCache.dm
  code/obj/item/device/studio_monitor.dm
  code/obj/storage/crates.dm
  code/obj/submachine/weapon_vendor.dm
  sound/musical_instruments/bard/lead1.ogg
  sound/musical_instruments/bard/lead2.ogg
  sound/musical_instruments/bard/riff.ogg
  sound/musical_instruments/bard/tapping1.ogg
  sound/musical_instruments/bard/tapping2.ogg
Labels: feature, sound, size/M

#6621 Implements local clouddata simulation
  code/client.dm
  code/player.dm
Labels: feature, size/M

#6622 Convert admin preferences system to use clouddata
  code/modules/admin/admin.dm
  code/modules/admin/admin_holder.dm
  strings/admin_changelog.txt
Labels: feature, size/L

#6662 Some monkey names.
  strings/names/monkey.txt
Labels: size/S

#6677 Small character setup fixes, reopening of #6351
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/CharacterPreferences/CharacterTab.tsx
  tgui/packages/tgui/interfaces/CharacterPreferences/index.tsx
Labels: tgui, size/S

#6680 Configurable spacebee api url, reopening of #6411
  code/datums/configuration.dm
  code/datums/savefile.dm
  code/player.dm
  code/procs/helpers.dm
  config/config.txt
Labels: size/S

#5759 Sanity Checks: Creation and Deletion
  _std/__build.dm
  code/RobustLight2.dm
  code/WorkInProgress/ItemSpecials.dm
  code/WorkInProgress/recycling/disposal.dm
  code/datums/abilities/wizard/phaseshift.dm
  code/datums/components/foldable.dm
  code/datums/gamemodes/gangwar.dm
  code/mob/living/carbon/human.dm
  code/mob/living/intangible/brainmob.dm
  code/modules/admin/gibverbs.dm
  code/modules/atmospherics/FEA_fire.dm
  code/modules/chemistry/tools/vendor_items.dm
  code/modules/events/black_hole.dm
  code/modules/medical/genetics/portaclone.dm
  code/modules/medical/pathology/pathogen_symptoms.dm
  code/modules/power/pt_laser.dm
  code/modules/transport/cruisers/cruisers.dm
  code/obj/artifacts/artifacts.dm
  code/obj/blob.dm
  code/obj/critter/big_animals.dm
  code/obj/decorations.dm
  code/obj/flock/cage.dm
  code/obj/flock/trader.dm
  code/obj/item/book.dm
  code/obj/item/card.dm
  code/obj/item/device/voltron.dm
  code/obj/item/gun/energy.dm
  code/obj/item/mops_cleaners.dm
  code/obj/soup_pot.dm
  code/obj/window.dm
  code/procs/fireflash.dm
  code/procs/gibs.dm
  code/procs/logged_phrases.dm
  code/world.dm
  code/z_adventurezones/precursor.dm
Labels: cleanliness, size/L

#5645 Re-Add Status Display
  code/global.dm
  code/obj/item/device/pda2/cartridges.dm
  code/obj/machinery/status_display.dm
  code/statusdisp.ttf
  icons/obj/status_display.dmi
Labels: help wanted, sprites, size/XL

#6641 Improved buttgib
  code/mob.dm
  code/modules/admin/gibverbs.dm
  code/obj/item/organs/butt.dm
Labels: feature, bug - minor, size/M

#6675 Only list human richest/damaged escapees
  code/procs/scorestats.dm
Labels: bug, size/XS

#6390 Add Katzen's office
  code/z_adventurezones/earth.dm
  maps/z2.dmm
Labels: mapping, size/L

#5884 Adds the Engineering Materiel Vacuum
  code/obj.dm
  code/obj/item/cable_coil.dm
  code/obj/item/tool/engivac.dm
  code/obj/storage/secure_closets.dm
  goonstation.dme
  icons/mob/back.dmi
  icons/mob/belt.dmi
  icons/mob/inhand/hand_tools.dmi
  icons/obj/items/device.dmi
Labels: feature, sprites, QoL, size/L

#6647 Removes unnecessary loaf var
  code/WorkInProgress/recycling/disposal.dm
Labels: size/XS

#6654 Fixed the door and changed some pixels.
  maps/donut3.dmm
Labels: mapping, size/XS

#6663 Deletes fat sprites.
  code/obj/item/clothing/uniforms.dm
  icons/mob/jumpsuits/worn_js_fat.dmi
Labels: sprites, cleanliness, removal, size/XS

#6660 fix autocapitalization option for AEyes
  code/mob/living.dm
  code/procs/mobprocs/chatprocs.dm
Labels: bug - minor, size/S

#6682 Battle Royale mode tweaks
  browserassets/html/traitorTips/battleTips.html
  code/datums/gamemodes/battle_royale.dm
  code/modules/events/battle_storm.dm
  code/modules/events/supply_drop.dm
Labels: bug, balance, QoL, size/M

#6642 make long range tele scannable, deconstructable, and make it actually work with mechcomp
  code/WorkInProgress/telescope/telescopeMisc.dm
Labels: bug - minor, balance, size/XS

#6657 make it possible to get brains from all polymorph critters
  code/datums/abilities/wizard/animal.dm
  code/mob/living/critter/spider.dm
Labels: balance, size/XS

#6631 Atlas improvements by an anonymous contributor
  code/map.dm
  maps/atlas.dmm
Labels: mapping, size/L

#6674 Make vr buttons explosion immune
  code/obj/deathbutton.dm
Labels: bug, size/XS

#6624 Ozy nov21 mini fixbatch
  maps/ozymandias.dmm
Labels: bug - minor, mapping, size/XL

#6470 Allows Security Assistants to Access the Clarion's Equipment/Locker Room
  maps/clarion.dmm
Labels: bug, mapping, QoL, size/M

#6530 Adds a toggle + admin preference for who/adminwho admin messages
  code/mob/who.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_holder.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/toggles.dm
  strings/admin_changelog.txt
Labels: QoL, size/M

#6689 fix who-list formatting with highlighting
  browserassets/css/browserOutput.css
Labels: bug - trivial, size/XS

#6687 Carafe correction
  code/modules/chemistry/tools/food_and_drink.dm
Labels: bug - minor, size/XS

#6690 fix arcfiend ride-the-lightning runtime
  code/modules/antagonists/arcfiend/arcfiend.dm
Labels: bug - major, size/XS

#6537 Examine text PDA message shortcut for AIs
  code/atom.dm
  code/mob/living/silicon/ai.dm
Labels: QoL, size/M

#6638 Donut 2 minor assorted fixes
  maps/unused/donut2_new_walls.dmm
Labels: mapping, size/XL

#6188 Gives the Rockbox a TGUI, and allows you to see the stat of ores from the rockbox menu!
  browserassets/tgui/tgui.bundle.js
  code/obj/mining_cloud_storage.dm
  tgui/packages/tgui/interfaces/Rockbox.js
Labels: Certified Organic, tgui, size/L

#6649 New Discount Dan burrito sprites
  code/modules/food_and_drink/discount_dans.dm
  icons/obj/foodNdrink/food_discountdans.dmi
Labels: sprites, size/XS

#6672 Adds scrap furniture + supply crates for neon and scrap furniture sets
  code/datums/supply_packs.dm
  code/obj/item/table_rack_parts.dm
  code/obj/stool.dm
  code/obj/table.dm
  icons/obj/furniture/chairs.dmi
  icons/obj/furniture/table_scrap.dmi
Labels: feature, sprites, size/M

#6671 Adds a couple of new floors
  code/turf/floors.dm
  icons/turf/construction_floors.dmi
  icons/turf/floors.dmi
Labels: sprites, size/M

#6600 Stores gun default ammo type in a variable on the gun
  code/WorkInProgress/VirvaStuff.dm
  code/WorkInProgress/tarmStuff.dm
  code/obj/item/gun/kinetic.dm
Labels: QoL, size/L

#6703 Whoops the entire civilian section of the manifest doesn't work
  code/datums/datacore.dm
Labels: bug, bug - minor, size/XS

#6618 Adds a new table and replaces the cairgorn's main table with it.
  code/obj/item/table_rack_parts.dm
  code/obj/table.dm
  icons/obj/furniture/table_syndicate.dmi
  maps/z2.dmm
Labels: mapping, sprites, size/M

#6709 Donut3 Railing Direction Fix
  maps/donut3.dmm
Labels: mapping, size/S

#6645 Adds an unused Syndicate Drone Beacon
  _std/defines/component_defines.dm
  code/obj/critter/drone.dm
  code/obj/machinery/drone_beacon.dm
  goonstation.dme
  icons/obj/ship.dmi
Labels: feature, sprites, balance, size/L

#6643 Makes strange reagent require a shock to activate
  _std/defines/component_defines.dm
  code/mob/living.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/medical/surgery_tools.dm
  code/modules/status_system/statusEffects.dm
Labels: QoL, size/M

#6698 Fixes #6026: bloody crates don't visually weld shut
  code/obj/storage/crates.dm
  icons/obj/large_storage.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
Labels: mapping, sprites, size/L

#6636 Cog2 Medsci Router Touchup
  code/obj/machinery/door/airlock.dm
  maps/cogmap2.dmm
Labels: mapping, size/L

#6484 Changes robust(ed) donuts to come in a colorful lunchbox instead of a standard grey box
  code/obj/item/storage/weapon_security.dm
  code/obj/submachine/weapon_vendor.dm
Labels: size/XS

#6688 Renames the item path of the hos uniform and the dirty vest.
  code/WorkInProgress/rewardsLocker.dm
  code/datums/jobs.dm
  code/mob/living/carbon/human/gimmick.dm
  code/modules/economy/traders/josh.dm
  code/modules/vending/clothingbooth_items.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/storage/clothing.dm
  code/obj/storage/wardrobes.dm
Labels: cleanliness, size/S

#6713 Fixes bar-edge floor tile sprites
  icons/turf/floors.dmi
Labels: sprites, size/XS

#6699 Cleans up the worn, item, and inhand dmis for suits.
  code/obj/item/clothing/suits.dm
  icons/mob/inhand/overcoat/hand_suit_gimmick.dmi
  icons/mob/inhand/overcoat/hand_suit_hazard.dmi
  icons/mob/overcoats/worn_suit.dmi
  icons/mob/overcoats/worn_suit_armor.dmi
  icons/mob/overcoats/worn_suit_gimmick.dmi
  icons/mob/overcoats/worn_suit_hazard.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
  icons/obj/clothing/overcoats/item_suit_armor.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
  icons/obj/clothing/overcoats/item_suit_hazard.dmi
Labels: sprites, size/XS

#6700 Cleans up jumpsuit inhand, worn, and item dmis.
  icons/mob/inhand/jumpsuit/hand_js_gimmick.dmi
  icons/mob/jumpsuits/worn_js_gimmick.dmi
  icons/mob/jumpsuits/worn_js_misc.dmi
  icons/mob/jumpsuits/worn_js_rank.dmi
  icons/obj/clothing/uniforms/item_js_gimmick.dmi
  icons/obj/clothing/uniforms/item_js_rank.dmi
Labels: bug - trivial, sprites, size/XS

#6707 Make ling absorb add the target to the transformation list at the START of the action
  code/modules/antagonists/changeling/abilities/absorb.dm
Labels: feature, size/XS

#6717 Fixes journalist's camera monitor to view helmet cam network
  code/datums/jobs.dm
Labels: bug, size/XS

#6722 Fixes Green Chainsaw Blades Not Animating When On
  icons/obj/items/weapons.dmi
Labels: bug, sprites, size/XS

#6721 Makes nobium key visible
  code/obj/item/keys.dm
Labels: bug, size/XS

#6723 Ghostdrones can no longer spawn in Battle Royale
  code/mob/transform_procs.dm
Labels: size/XS

#6728 Fixes arms not getting replaced with zombies ones on conversion
  code/datums/mutantraces.dm
Labels: bug, size/XS

#6726 Fixes General Alert Computer deconstruction
  code/obj/machinery/computer.dm
Labels: bug - minor, size/XS

#6617 Particool by Gomble
  browserassets/tgui/tgui.bundle.js
  code/datums/datumvars.dm
  code/datums/particool.dm
  code/modules/admin/admin_holder.dm
  goonstation.dme
  tgui/packages/tgui/interfaces/Particool.js
Labels: feature, tgui, size/XL

#6729 Fix conspiracy not giving a printout
  code/datums/gamemodes/conspiracy.dm
Labels: bug - minor, size/XS

#6725 Kondaru armory nano-fixbatch
  maps/kondaru.dmm
Labels: size/XS

#6734 Axes old blob sprites
  icons/mob/blob_old.dmi
Labels: sprites, size/XS

#6732 Fixes #6595: Removes stray pixels from the marksman's rifle back-worn sprite
  icons/mob/back.dmi
Labels: bug - trivial, sprites, size/XS

#6632 Cargo Router Door Timing Fixes
  code/obj/machinery/launcherloader.dm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/kondaru.dmm
  maps/ozymandias.dmm
Labels: bug, mapping, size/L

#6727 Medkits now properly give feedback for when small items won't fit into them
  code/modules/robotics/bot/medbot.dm
  code/obj/item/storage/med_chem.dm
Labels: QoL, size/XS

#6719 Fixes #6711: Makes kudzu check for DNR
  code/modules/events/gimmick/kudzu.dm
Labels: bug - minor, size/S

#6730 Fixes #6611: Makes syndicate weapons vendors explosion immnue
  code/obj/submachine/weapon_vendor.dm
Labels: bug, size/XS

#6740 Fixes dabbing
  icons/mob/humanmasks.dmi
Labels: bug - minor, sprites, size/XS

#6741 Fixes pod wars accidentally changing the price of plasma cutters
  code/datums/gamemodes/pod_wars/pw_manufacturing_.dm
Labels: bug, size/XS

#6749 Fix gang enrolment, typo
  code/datums/gamemodes/gangwar.dm
Labels: QoL, size/S

#6714 FROG term_ping filtering
  code/modules/networks/computer3/smallprogs.dm
Labels: bug, size/S

#6715 FROG silicon term_login fix
  code/modules/networks/computer3/smallprogs.dm
Labels: bug, size/M

#6668 New pies and resprited pies!
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/pies.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_dessert.dmi
Labels: feature, sprites, add to wiki, size/M

#6666 fix some name changes not updating nameplates
  code/datums/gamemodes/mixed.dm
  code/datums/gamemodes/wizard.dm
  code/mob/living/critter/martian.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/hivebot/mainframe.dm
  code/mob/living/silicon/robot.dm
Labels: bug - minor, size/S

#6751 Resprited the barrel-fire.
  icons/obj/stationobjs.dmi
Labels: sprites, size/XS

#6706 Jump Point Search pathfinding
  _std/__std.dme
  _std/heap.dm
  _std/macros/dir.dm
  _std/macros/flags.dm
  _std/pathfinding.dm
  code/WorkInProgress/SomepotatosStuff.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
  code/mob/living/critter/ai/shared.dm
  code/modules/robotics/bot/bot_parent.dm
  code/modules/robotics/bot/guardbot.dm
  code/modules/robotics/bot/mulebot.dm
  code/obj/decal/cleanable.dm
  code/obj/item/uplinks.dm
  code/obj/machinery/door/window.dm
  icons/misc/air_debug.dmi
Labels: bug - minor, sprites, performance, size/XL

#6760 Fixes x cream pies and cream/anything pie pans
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_dessert.dmi
Labels: bug, bug - minor, sprites, size/XS

#6766 Fixes the radio scanner mechcomp component
  code/WorkInProgress/MechanicMadness.dm
Labels: bug, size/XS

#6736 make unfolded folded paper behave more unfolded
  code/obj/item/paper.dm
Labels: bug - minor, size/S

#6432 Fire Elemental Death Effects
  code/mob/living/critter/arena/fire_elemental.dm
Labels: QoL, size/XS

#6650 pod door fixes and improvements
  _std/__std.dme
  _std/defines/pod_door_access_levels.dm
  code/datums/gamemodes/pod_wars.dm
  code/modules/transport/pods/communications.dm
  code/modules/transport/pods/ships.dm
  code/modules/transport/pods/vehicle.dm
  code/obj/machinery/door/door_control.dm
  maps/clarion.dmm
  maps/clarion_xmas_2020.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogmap2_xmas_2020.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/donut3_xmas.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/horizon_xmas.dmm
  maps/kondaru.dmm
  maps/pamgoc.dmm
Labels: bug - major, mapping, balance, size/L

#6767 Fixed cream being made from empty milk/soymilk bottles
  code/obj/submachine/cooking.dm
Labels: size/S

#6708 Increase max blob count to 4
  code/datums/gamemodes/blob.dm
Labels: balance, size/XS

#6784 clarion kitchen changes by anonymous
  maps/clarion.dmm
Labels: mapping, size/L, FREEZE🧊

#6783 Fixes missing pixels in hotdog costume
  icons/mob/overcoats/worn_suit_gimmick.dmi
Labels: bug - trivial, sprites, size/XS

#6750 Allow energy shields and meteor shields to be connected to wires while battery is installed
  code/obj/machinery/shield_generators/portable_shield_generator.dm
Labels: feature, QoL, size/XS, FREEZE🧊

#6771 Make conveyor switches work instantly
  _std/machinery.dm
  code/WorkInProgress/recycling/conveyor.dm
Labels: feature, size/L

#6790 The "FREEZE🧊" label now prevents staling of PRs.
  .github/workflows/stale.yml
Labels: github, size/XS

#6769 added flag to protect certain mutantraces (thralls) from genetic removal
  code/datums/mutantraces.dm
  code/modules/medical/genetics/geneticsMachines.dm
Labels: size/XS

#6795 Several jumpsuit worn sprite fixes
  icons/mob/jumpsuits/worn_js_rank.dmi
Labels: bug - minor, sprites, size/XS

#6806 Playable pugs
  _std/defines/component_defines.dm
  _std/macros/appearance.dm
  _std/macros/ismob.dm
  _std/macros/mob_properties.dm
  code/WorkInProgress/Hydrothings.dm
  code/atom/throwing.dm
  code/datums/abilities/brassgauntlet.dm
  code/datums/controllers/throwing_controls.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/datums/mutantraces.dm
  code/datums/traits.dm
  code/mob.dm
  code/mob/input.dm
  code/mob/living/carbon.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/critter.dm
  code/modules/chemistry/Reagents-Base.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/medical/genetics/bioEffects/mutantrace.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/sound/sound.dm
  code/modules/sound/soundCache.dm
  code/modules/status_system/statusEffects.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/item/organs/eye.dm
  code/obj/item/organs/head.dm
  code/obj/item/organs/tail.dm
  code/obj/item/power_stones.dm
  code/obj/machinery/portapuke.dm
  icons/mob/pug.dmi
  icons/obj/foodNdrink/food_snacks.dmi
  icons/obj/surgery.dmi
  icons/ui/statussystem.dmi
  icons/ui/traits.dmi
  sound/misc/talk/pug.ogg
  sound/misc/talk/pug_ask.ogg
  sound/misc/talk/pug_exclaim.ogg
  sound/misc/talk/pugg.ogg
  sound/misc/talk/pugg_ask.ogg
  sound/misc/talk/pugg_exclaim.ogg
  sound/voice/pug_sneeze.ogg
  sound/voice/pug_sniff.ogg
  sound/voice/pug_wheeze.ogg
  sound/voice/screams/pug.ogg
  sound/voice/screams/pugg.ogg
  sound/voice/snore.ogg
Labels: feature, sprites, sound, add to wiki

#6808 Fixes humans being unable to change mutantrace in the GeneTek Scanner
  code/modules/medical/genetics/geneticsMachines.dm
Labels: bug, size/XS
