Repository goonstation/goonstation, pull requests merged in 2021-02, with the labels that each got.

#3539 Human Resprite: Ghosts, cuffs, ID
  icons/mob/mob.dmi
Labels: human resprite project, sprites

#3559 Human Resprite: More outer suits
  icons/mob/inhand/hand_weapons.dmi
  icons/mob/overcoats/worn_suit.dmi
Labels: human resprite project, sprites

#3555 Baseball bat Resprite
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/items/weapons.dmi
Labels: sprites

#3554 Avoid negative molar quantities on gas removal
  code/modules/atmospherics/FEA_gas_mixture.dm
Labels: bug

#3548 fix crate dragging with traders
  code/modules/economy/trader.dm
Labels: bug - minor

#3569 fix some bioeffect creation methods not having DNA blocks
  code/modules/medical/genetics/bioHolder.dm
  code/modules/medical/genetics/geneticsMachines.dm
  code/modules/medical/pathology/pathogen_benevolent.dm
Labels: runtime

#3568 some artifact deactivation fixes
  code/obj/artifacts/artifact_items/gun_cell.dm
  code/obj/artifacts/artifact_items/power_cell.dm
  code/obj/artifacts/artifact_machines/noise_maker.dm
  code/obj/artifacts/artifact_objects/cloner.dm
  code/obj/artifacts/artifact_objects/darkness_field.dm
  code/obj/artifacts/artifact_objects/forcefield.dm
  code/obj/artifacts/artifact_objects/prison.dm
  code/obj/artifacts/artifact_objects/recaller.dm
  code/obj/artifacts/artifactprocs.dm
Labels: feature

#3567 Fix randomly generated monkey NPCs always using he/him pronouns.
  code/mob/living/carbon/human/monkeys.dm
Labels: bug - trivial

#3553 Message when flash is blocked
  code/obj/item/device/flash.dm
  code/procs/mob_procs.dm
Labels: QoL

#3564 Human Resprite: Squids
  icons/mob/human_head.dmi
  icons/mob/ithillid.dmi
Labels: human resprite project, sprites

#3363 Spy thief logic improvement
  code/datums/gamemodes/spy_theft.dm
Labels: rework

#2956 pizza sharpener (sharpens pizzas)
  code/datums/syndicate_buylist.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/vending/vending.dm
  code/obj/item/kitchen.dm
Labels: feature

#3297 Arse Nath tweaks
  _std/defines/item.dm
  code/WorkInProgress/recycling/disposal.dm
  code/mob/living/carbon/cube.dm
  code/mob/living/carbon/human/machoman.dm
  code/mob/living/critter/killertomato.dm
  code/mob/living/critter/maneater.dm
  code/mob/living/critter/skeleton.dm
  code/mob/living/critter/spider.dm
  code/modules/events/gimmick/bigfart.dm
  code/modules/food_and_drink/plants.dm
  code/modules/food_and_drink/sandwiches.dm
  code/obj/critter/spider.dm
  code/obj/decal/cleanable.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/mob_parts.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/item/mob_parts/robot_parts.dm
  code/obj/item/organ_holder.dm
  code/obj/machinery.dm
  code/obj/martian.dm
  code/obj/npc.dm
  code/procs/gamehelpers.dm
  code/procs/gibs.dm
  code/z_adventurezones/debris.dm
Labels: QoL, balance, input wanted, rework

#3574 Two Tiny Human Resprite Fixes
  icons/mob/jumpsuits/worn_js_gimmick.dmi
  icons/mob/jumpsuits/worn_js_rank.dmi
Labels: human resprite project, sprites

#3573 Perspective NT reward suits
  icons/mob/jumpsuits/worn_js_reward.dmi
Labels: human resprite project, sprites

#3570 fix port-a-gene cancelling decryption attempts immediately
  code/modules/medical/genetics/geneticsMachines.dm
Labels: bug - minor

#3562 Tightening and loosening your grip on reagent containers now have more descriptive text.
  code/modules/chemistry/Chemistry-Tools.dm
Labels: QoL

#3583 Human Resprite: Phase shift and gibs
  icons/mob/mob.dmi
Labels: human resprite project, sprites

#3601 Baseball bat inhands fix
  icons/mob/inhand/hand_weapons.dmi
Labels: bug, sprites

#3597 Ghostdrones: Disable use of pda2 and shrinking magtractor icons
  code/obj/item/device/pda2/base_program.dm
  code/obj/item/magtractor.dm
Labels: bug

#3595 give each artifact an individual rarity for how often it occurs
  code/datums/controllers/artifact_controls.dm
  code/obj/artifacts/artifact_items/activator_key.dm
  code/obj/artifacts/artifact_items/attack_wand.dm
  code/obj/artifacts/artifact_items/energy_gun.dm
  code/obj/artifacts/artifact_items/gun_cell.dm
  code/obj/artifacts/artifact_items/instrument.dm
  code/obj/artifacts/artifact_items/melee_weapon.dm
  code/obj/artifacts/artifact_items/mining_tool.dm
  code/obj/artifacts/artifact_items/pitcher.dm
  code/obj/artifacts/artifact_items/power_cell.dm
  code/obj/artifacts/artifact_items/teleport_wand.dm
  code/obj/artifacts/artifact_items/wall_wand.dm
  code/obj/artifacts/artifact_items/watering_can.dm
  code/obj/artifacts/artifact_machines/grav_well.dm
  code/obj/artifacts/artifact_machines/heal_field.dm
  code/obj/artifacts/artifact_machines/heater.dm
  code/obj/artifacts/artifact_machines/noise_maker.dm
  code/obj/artifacts/artifact_machines/plant_helper.dm
  code/obj/artifacts/artifact_machines/turret.dm
  code/obj/artifacts/artifact_objects/augmentor.dm
  code/obj/artifacts/artifact_objects/bombs.dm
  code/obj/artifacts/artifact_objects/borg_maker.dm
  code/obj/artifacts/artifact_objects/cloner.dm
  code/obj/artifacts/artifact_objects/container.dm
  code/obj/artifacts/artifact_objects/curser.dm
  code/obj/artifacts/artifact_objects/darkness_field.dm
  code/obj/artifacts/artifact_objects/forcefield.dm
  code/obj/artifacts/artifact_objects/healer.dm
  code/obj/artifacts/artifact_objects/injector.dm
  code/obj/artifacts/artifact_objects/lamp.dm
  code/obj/artifacts/artifact_objects/power_gen.dm
  code/obj/artifacts/artifact_objects/power_giver.dm
  code/obj/artifacts/artifact_objects/prison.dm
  code/obj/artifacts/artifact_objects/recaller.dm
  code/obj/artifacts/artifact_objects/wish_granter.dm
  code/obj/artifacts/artifactdatums.dm
  code/obj/artifacts/artifactprocs.dm
Labels: balance, cleanliness

#3592 Add a crayon feature of a clown
  code/datums/components/crayonwalk.dm
  code/obj/item/clothing/shoes.dm
  goonstation.dme
Labels: feature

#3602 make electroplater only take one bar from a stack
  code/obj/machinery/arc_electroplater.dm
Labels: bug - minor

#3579 Light cyberlimbs are no longer safe from Arse Nath
  code/modules/events/gimmick/bigfart.dm
Labels: balance

#3576 Human Resprite: bread
  icons/obj/foodNdrink/bread_feet.dmi
  icons/obj/foodNdrink/bread_head.dmi
  icons/obj/foodNdrink/bread_inhand.dmi
Labels: human resprite project, sprites

#3589 Adds water pipes to GardenGear hidden menu
  code/modules/vending/vending.dm
Labels: feature

#3586 Captain's Manta Bottleship objective
  code/datums/miscreant_objectives.dm
  code/datums/objective.dm
Labels: bug

#3486 Cyborg cryo QOL
  code/WorkInProgress/cryospawn.dm
Labels: QoL

#3593 Lobby screen... changes? improvements? I'm bad at writing titles.
  _std/defines/landmarks.dm
  browserassets/images/battleroyale_titlecard.png
  browserassets/images/disaster_titlecard.gif
  browserassets/images/hehe_titlecard.png
  browserassets/images/main_titlecard.gif
  browserassets/images/manta_titlecard.png
  browserassets/images/oshan_titlecard.png
  browserassets/images/s_titlecard.png
  browserassets/misc/ibmvga9.ttf
  code/WorkInProgress/zamujasa.dm
  code/datums/gameticker.dm
  code/datums/titlecard.dm
  code/global.dm
  code/modules/admin/admin.dm
  code/turf/turf.dm
  code/world.dm
  code/z_adventurezones/solarium.dm
  goonstation.dme
  maps/z2.dmm
Labels: mapping

#3606 forcefield and darkness artifacts deactivate properly
  code/obj/artifacts/artifact_objects/darkness_field.dm
  code/obj/artifacts/artifact_objects/forcefield.dm
Labels: bug - minor

#3604 Human Resprite: Decomposition
  icons/mob/human_decomp.dmi
Labels: human resprite project, sprites

#3560 Gives Communications Officer a flash
  code/datums/jobs.dm
Labels: QoL

#3611 Human Resprite: Spectro Monocle
  icons/mob/eyes.dmi
Labels: human resprite project, sprites

#3610 make rarer artifacts more likely to vary in appearance
  code/datums/controllers/artifact_controls.dm
  code/obj/artifacts/artifactdatums.dm
Labels: feature

#3626 HoS cape sprite "fix"
  icons/mob/overcoats/worn_suit_armor.dmi
Labels: bug, sprites

#3624 Prodoc accessibility change
  icons/effects/healthgoggles.dmi
Labels: sprites

#3571 Heater artifacts
  _std/macros/atmos.dm
  code/obj/artifacts/artifact_machines/heater.dm
Labels: add to wiki, bug - minor, bug - trivial, feature

#3614 Human Resprite: Hazard suits
  icons/mob/head.dmi
  icons/mob/overcoats/worn_suit_hazard.dmi
Labels: human resprite project, sprites

#3623 Human Resprite: Revenant Overlay
  icons/effects/wraitheffects.dmi
Labels: human resprite project, sprites

#3578 Fix and disable lawn darts
  code/datums/syndicate_buylist.dm
  code/obj/item/implant.dm
Labels: bug, input wanted, removal

#3625 Includes part-time VOs in sec department job bans
  code/modules/admin/admin.dm
  code/modules/admin/jobban.dm
Labels: bug

#3643 Donut 3 Ranch Expansion
  maps/donut3.dmm
Labels: mapping

#3622 Human Resprite: Some plant limbs and stuff
  icons/mob/human.dmi
Labels: human resprite project, sprites

#3649 Fix zipgun failure runtime
  code/obj/item/gun/kinetic.dm
Labels: bug

#3617 Resolve Artifact Research Computer use of heater
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/modules/networks/computer3/mainframe2/os_drivers.dm
Labels: bug

#3434 Adjusts colour of coloured cables & made cable pathing a bit more sane.
  code/WorkInProgress/construction/supply_controller.dm
  code/datums/supply_packs.dm
  code/modules/power/cablecolors.dm
  code/obj/item/storage/toolbox.dm
  maps/manta.dmm
Labels: feature, mapping

#3654 Fix failure to remove ghost drone static on mind transfer
  code/datums/mind.dm
  code/mob/living/silicon/ghostdrone.dm
Labels: bug

#3646 Human Resprite: Nudge berets up a bit
  icons/mob/head.dmi
Labels: human resprite project, sprites

#3645 Human Resprite: Hunter
  icons/mob/hunter.dmi
Labels: human resprite project, sprites

#3648 Update inhand for Engineering Wrench
  code/obj/item/tool/wrench.dm
Labels: bug - minor

#3652 fix whispering
  code/procs/mobprocs/chatprocs.dm
Labels: bug - major

#3523 Secures Conspirator comms against metaneural antenna
  _std/defines/radio.dm
  code/obj/item/device/radio.dm
Labels: bug - trivial

#3407 Lasher and radweed changes
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_weed.dm
Labels: balance

#3634 Human Resprite: Misc Jumpsuits
  icons/mob/jumpsuits/worn_js_misc.dmi
Labels: human resprite project, sprites

#3658 Human Resprite: Cat
  icons/mob/cat.dmi
Labels: human resprite project, sprites

#3659 Human Resprite: Skeletonman0's Skeleton Sprites
  icons/mob/skeleton.dmi
Labels: human resprite project, sprites

#3664 Replaces Horizon chaplain closet with the proper locker
  maps/horizon.dmm
Labels: QoL, mapping

#3670 Removes kudzu from VR uplink list
  code/modules/events/gimmick/kudzu.dm
Labels: bug

#3633 ATMOS Pipe Repair and Replacement
  code/modules/atmospherics/machinery/pipe.dm
  icons/obj/atmospherics/pipes/color_pipe.dmi
Labels: balance, feature, input wanted, sprites

#3668 Fixes SPES inhands
  icons/mob/inhand/hand_weapons.dmi
Labels: bug - minor, sprites

#3676 Human Resprite: Husks and Thralls by Skeletonman0 (and a small skeleton fix)
  icons/mob/human.dmi
  icons/mob/skeleton.dmi
  icons/mob/vamp_zombie.dmi
Labels: human resprite project, sprites

#3674 Human Resprite: Matheus' Virtual People Sprites
  icons/mob/virtual.dmi
Labels: human resprite project, sprites

#3675 Fix the Oshan auxiliary dish wiring
  maps/oshan.dmm
Labels: bug - minor, mapping

#3677 Human Resprite: nukie spec helmets, nukie on-back weapons, fashion backpacks
  icons/mob/back.dmi
  icons/mob/head.dmi
Labels: human resprite project, sprites

#3680 Human Resprite: Pride Jumpsuits by Schwick
  icons/mob/jumpsuits/worn_js_pride.dmi
Labels: human resprite project, sprites

#3638 artifact fault stuff
  code/datums/controllers/artifact_controls.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/obj/artifacts/artifact_items/instrument.dm
  code/obj/artifacts/artifactprocs.dm
  code/obj/artifacts/faults.dm
Labels: bug - minor, cleanliness, feature

#3639 Set range on computer PDA cards to infinite.
  code/modules/networks/computer3/peripherals.dm
Labels: bug

#3682 Revive & rework AI status displays (but from a fresh branch)
  code/WorkInProgress/rewardsLocker.dm
  code/datums/manufacturing.dm
  code/mob/living/silicon/ai.dm
  code/obj/machinery/manufacturer.dm
  code/obj/machinery/status_display.dm
  code/obj/storage/secure_closets.dm
  goonstation.dme
  icons/mob/ai.dmi
  icons/obj/status_display.dmi
  maps/donut3.dmm
Labels: bug, feature, mapping, rework, sprites

#3690 Chocolate Cake Bugfix
  code/datums/cookingrecipes.dm
Labels: bug

#3640 Atlas map tweaks
  maps/atlas.dmm
Labels: mapping

#3660 Reduce bolt rifle magazine size
  code/obj/item/gun/kinetic.dm
Labels: balance

#3456 Lets crew anchor surgery trays & kitchen islands
  code/modules/medical/surgery_tools.dm
Labels: feature

#3418 Adds action bar to power cell swapping
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/energy.dm
Labels: balance

#3688 Human Resprite: Amphibians
  icons/mob/amphibian.dmi
  icons/mob/shelterfrog.dmi
Labels: human resprite project, sprites

#3699 Human Resprite: Grenade bandolier, tactical backpack, syndie flamerpack
  icons/mob/back.dmi
Labels: human resprite project, sprites

#3691 Various chatlog improvements
  browserassets/css/browserOutput.css
  browserassets/html/browserOutput.html
  browserassets/js/browserOutput.js
Labels: QoL, feature

#3697 fix a single character bug with prize vending modules
  code/WorkInProgress/computerx/peripherals.dm
  code/modules/networks/computer3/peripherals.dm
Labels: bug

#3558 Post-Hellburn Adjustment (Gas Burn Temps & Molitz Availability)
  _std/macros/atmos.dm
  code/modules/atmospherics/FEA_fire.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/mining/ore.dm
  code/modules/mining/tile_events.dm
  code/obj/item/storage/small_storage_parent.dm
  code/obj/wallsigns.dm
  icons/mob/inhand/hand_general.dmi
  icons/obj/items/storage.dmi
  maps/atlas.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
Labels: balance, input wanted, mapping, sprites

#3708 Revert "Post-Hellburn Adjustment (Gas Burn Temps & Molitz Availability)"
  _std/macros/atmos.dm
  code/modules/atmospherics/FEA_fire.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/mining/ore.dm
  code/modules/mining/tile_events.dm
  code/obj/item/storage/small_storage_parent.dm
  code/obj/wallsigns.dm
  icons/mob/inhand/hand_general.dmi
  icons/obj/items/storage.dmi
  maps/atlas.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
Labels: mapping, sprites

#3689 Kondaru feb21 fixbatch
  maps/kondaru.dmm
Labels: feature, mapping

#3709 Revert "Revert "Post-Hellburn Adjustment
  _std/macros/atmos.dm
  code/modules/atmospherics/FEA_fire.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/mining/ore.dm
  code/modules/mining/tile_events.dm
  code/obj/item/storage/small_storage_parent.dm
  code/obj/wallsigns.dm
  icons/mob/inhand/hand_general.dmi
  icons/obj/items/storage.dmi
  maps/atlas.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
Labels: mapping, sprites

#3163 Multi-Pod Cloning!
  browserassets/tgui/tgui.bundle.js
  code/modules/medical/genetics/portaclone.dm
  code/obj/machinery/clonepod.dm
  code/obj/machinery/computer/cloning.dm
  maps/density.dmm
  maps/unused/clarion_xmas_2018.dmm
  maps/unused/destiny_xmas_2017.dmm
  tgui/packages/tgui/interfaces/CloningConsole.js
Labels: balance, feature, mapping, merge conflict, tgui

#3700 Human Resprite: Updated red/blue captains coats
  icons/mob/overcoats/worn_suit_armor.dmi
Labels: human resprite project, sprites

#3702 Human Resprite: Kudzu People
  icons/mob/kudzu.dmi
Labels: human resprite project, sprites

#3706 Human Resprite: Skeletonman0's zombies
  icons/misc/critter.dmi
Labels: human resprite project, sprites

#3661 Adds additional scrubbers to Donut 3
  maps/donut3.dmm
Labels: QoL, mapping

#3584 Blowout uses battlestorm visual effect
  code/modules/events/blowout.dm
  icons/effects/alert.dmi
Labels: QoL, sprites

#3608 End of hos locker
  code/obj/item/paper.dm
  code/obj/storage/closets.dm
  code/obj/storage/secure_closets.dm
  icons/obj/large_storage.dmi
  maps/z2.dmm
Labels: mapping, sprites

#3413 Security Vendor Changes
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/storage/weapon_security.dm
  code/obj/submachine/weapon_vendor.dm
Labels: add to wiki, balance, feature, input wanted

#3324 Tug can pull a wheeled cart
  code/WorkInProgress/tug.dm
  code/obj/storage/carts.dm
Labels: feature

#3703 * Adds dwaine scanner to research outpost on oshan
  maps/oshan.dmm
Labels: mapping

#3409 Fix shaft material effects not applying and allows more materials
  code/WorkInProgress/MarqStuff.dm
  code/modules/materials/Mat_FabParts.dm
  code/modules/materials/Mat_FabRecipes.dm
Labels: balance, stale

#3381 splash contents when attacking using a drinking glass in harm intent
  code/modules/chemistry/tools/food_and_drink.dm
Labels: QoL, balance, stale

#3718 Fixes industrial table and adds construction recipe
  code/obj/item/building_materials.dm
  code/obj/item/table_rack_parts.dm
  icons/obj/furniture/table_industrial.dmi
Labels: QoL, bug, sprites

#3722 Horizon Cargo Fixes
  maps/horizon.dmm
Labels: bug, mapping

#3738 Human Resprite: Fix hat misalignment
  icons/mob/head.dmi
Labels: human resprite project, sprites

#3734 Human Resprite: Fix base lightness
  icons/mob/human.dmi
Labels: human resprite project, sprites

#3730 Fix rollerskates icon
  code/obj/item/clothing/gimmick.dm
Labels: bug - trivial

#3686 Makes the brig safe during the blowout event
  code/area.dm
  maps/cogmap.dmm
  maps/destiny.dmm
  maps/kondaru.dmm
  maps/pamgoc.dmm
Labels: balance, mapping

#3683 Implements Perlin noise based map generation and jungle generation
  _std/map.dm
  code/area.dm
  code/datums/mapgen/JungleGenerator.dm
  code/datums/mapgen/_MapGenerator.dm
  code/datums/mapgen/biomes/_biome.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
  code/modules/fluids/fluid_procs.dm
  code/obj/decorations.dm
  code/turf/floors_unsimulated.dm
  code/world.dm
  goonstation.dme
  icons/misc/worlds.dmi
  icons/turf/forest.dmi
  icons/turf/map_gen.dmi
  icons/turf/outdoors.dmi
  icons/turf/water.dmi
Labels: experimental, feature, sprites

#3752 fix matsci anymat_canmix runtime
  code/modules/materials/Mat_FabParts.dm
Labels: bug, runtime

#3753 [Donut 3] Listening Post Fix
  maps/donut3.dmm
Labels: bug - major, mapping

#3746 Let Spy Thieves print photos of targets from PDA
  code/obj/item/uplinks.dm
Labels: feature

#3755 fix crayon materials not rubbing off properly
  code/obj/item/pens_writing_etc.dm
Labels: bug - minor

#3580 Riot baton nerf
  code/obj/item/stun_baton.dm
Labels: balance, bug, input wanted

#3276 Bot tweaks
  _std/pathfinding.dm
  _std/types.dm
  code/area.dm
  code/atom.dm
  code/datums/gamemodes/battle_royale.dm
  code/datums/gamemodes/gm_parent.dm
  code/datums/syndicate_buylist.dm
  code/global.dm
  code/mob.dm
  code/mob/living.dm
  code/mob/living/carbon.dm
  code/mob/living/carbon/human.dm
  code/modules/atmospherics/FEA_fire.dm
  code/modules/holiday/spacemas.dm
  code/modules/hydroponics/plants_crop.dm
  code/modules/robotics/bot/bot_parent.dm
  code/modules/robotics/bot/buttbot.dm
  code/modules/robotics/bot/cambot.dm
  code/modules/robotics/bot/chefbot.dm
  code/modules/robotics/bot/cleanbot.dm
  code/modules/robotics/bot/duckbot.dm
  code/modules/robotics/bot/firebot.dm
  code/modules/robotics/bot/floorbot.dm
  code/modules/robotics/bot/goosebot.dm
  code/modules/robotics/bot/guardbot.dm
  code/modules/robotics/bot/medbot.dm
  code/modules/robotics/bot/mining.dm
  code/modules/robotics/bot/mulebot.dm
  code/modules/robotics/bot/secbot.dm
  code/modules/robotics/bot/skullbot.dm
  code/modules/speech/floating_chat.dm
  code/modules/status_system/statusEffects.dm
  code/obj/item.dm
  code/obj/item/device/pda2/base_program.dm
  code/obj/item/device/pda2/bot_control.dm
  code/obj/item/gun/gun_parent.dm
  code/obj/item/organs/butt.dm
  code/procs/mobprocs/chatprocs.dm
  code/procs/scorestats.dm
  sound/misc/talk/bottalk_1.ogg
  sound/misc/talk/bottalk_2.ogg
  sound/misc/talk/bottalk_3.ogg
  sound/misc/talk/bottalk_4.wav
  sound/voice/binsultbeep.ogg
Labels: QoL, WIP, add to wiki, balance, cleanliness, feature, help wanted, input wanted, performance, rework, sound

#3651 Prevent RPG ammo in the zip gun
  code/obj/item/gun/ammo.dm
Labels: balance, input wanted

#3627 Makes flamethrowers easily refillable
  code/obj/item/flamethrower.dm
Labels: QoL, balance, feature

#3748 Landmine fix
  code/obj/item/mine.dm
Labels: bug, cleanliness

#3736 Pulse firing audio
  code/modules/projectiles/energy_bolt.dm
  code/modules/sound/soundCache.dm
  sound/weapons/pulse.ogg
Labels: sound

#3721 Human Resprite: Monkey Base
  code/datums/mutantraces.dm
  icons/mob/monkey.dmi
Labels: human resprite project, sprites

#3726 Adds taser smg to security vendor
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/submachine/weapon_vendor.dm
Labels: feature

#3739 Resprites rechargers
  icons/obj/stationobjs.dmi
Labels: sprites

#3754 Human-resprite bedsheets, take two
  icons/mob/overcoats/worn_suit.dmi
Labels: human resprite project, sprites

#3770 Fixes medbot inject time
  code/modules/robotics/bot/medbot.dm
Labels: bug, bug - minor

#3757 Fixes Cog1 HoS' war medal offset
  maps/cogmap.dmm
Labels: bug, mapping

#3759 Oshan AI/Powernet connection
  maps/oshan.dmm
Labels: bug, mapping

#3704 made turtles riggable
  code/obj/critter/turtle.dm
  code/obj/machinery/lightswitch.dm
Labels: feature

#3743 Fix item storage using the wrong HUD, hopefully
  code/datums/hud/storage.dm
  code/modules/economy/persistent_bank_purchases.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/storage/small_storage_parent.dm
Labels: bug - minor

#3731 Artifact fault stuff (and some fixes)
  code/datums/abilities/wizard/forcewall.dm
  code/obj/artifacts/artifact_items/pitcher.dm
  code/obj/artifacts/artifact_items/wall_wand.dm
  code/obj/artifacts/artifact_machines/grav_well.dm
  code/obj/artifacts/artifact_machines/heal_field.dm
  code/obj/artifacts/artifact_machines/noise_maker.dm
  code/obj/artifacts/artifact_machines/turret.dm
  code/obj/artifacts/artifact_objects/augmentor.dm
  code/obj/artifacts/artifact_objects/bombs.dm
  code/obj/artifacts/artifact_objects/cloner.dm
  code/obj/artifacts/artifact_objects/container.dm
  code/obj/artifacts/artifact_objects/forcefield.dm
  code/obj/artifacts/artifact_objects/healer.dm
  code/obj/artifacts/artifact_objects/injector.dm
  code/obj/artifacts/artifact_objects/power_gen.dm
  code/obj/artifacts/artifact_objects/power_giver.dm
  code/obj/artifacts/artifact_objects/prison.dm
  code/obj/artifacts/artifact_objects/recaller.dm
  code/obj/artifacts/artifact_objects/wish_granter.dm
  code/obj/artifacts/artifactdatums.dm
  code/obj/artifacts/artifactprocs.dm
  code/obj/artifacts/artifacts.dm
  code/obj/artifacts/faults.dm
Labels: add to wiki, balance, bug - minor, feature

#3768 Makes health analysers visually indicate what they're scanning for.
  code/obj/item/device/scanners.dm
  icons/obj/items/device.dmi
Labels: QoL, sprites

#3784 Clown suit perspective
  icons/mob/feet.dmi
  icons/mob/jumpsuits/worn_js_gimmick.dmi
  icons/mob/jumpsuits/worn_js_misc.dmi
  icons/mob/mask.dmi
Labels: human resprite project, sprites

#3750 Manta wall object movements/standardization
  maps/manta.dmm
Labels: mapping

#3563 Cog1 TEG purge line tweaks
  maps/cogmap.dmm
Labels: mapping

#3760 Sec loadout utility tweaks
  code/obj/item/storage/weapon_security.dm
  code/obj/submachine/weapon_vendor.dm
Labels: balance

#3786 Gwydion pistol fixes
  code/obj/item/gun/kinetic.dm
Labels: balance, bug

#3775 Adds an Implanter to the security vendor
  code/modules/vending/vending.dm
Labels: feature

#3782 Secbots default to cuffing people while not on lockdown mode
  code/modules/robotics/bot/secbot.dm
Labels: feature

#3669 Telecrystal clothing nerf
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
Labels: balance, input wanted

#3793 Fixes Cairngorm announcement computer access
  maps/z2.dmm
Labels: bug, mapping

#3763 Adds worn plasmatank sprites
  code/obj/item/tank.dm
  icons/mob/back.dmi
Labels: sprites

#3672 Admin Prismatic Spray fix + misc projectile fixes
  code/datums/abilities/wizard.dm
  code/datums/abilities/wizard/prismatic_spray.dm
  code/modules/projectiles/laser.dm
  code/modules/projectiles/projectile_parent.dm
Labels: bug

#3787 Welding tool ignition audio
  code/modules/sound/soundCache.dm
  code/obj/item/tool/weldingtool.dm
  sound/effects/welder_ignite.ogg
Labels: sound

#3694 Standardise intercom type usage across maps
  _std/defines/radio.dm
  code/obj/item/device/radios/intercoms.dm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
Labels: cleanliness, feature, mapping, merge conflict

#3798 Human Resprite: Monkey Clothes
  icons/mob/monkey.dmi
Labels: human resprite project, sprites

#3794 Add costs to weapon vendor ui
  code/obj/submachine/weapon_vendor.dm
Labels: QoL

#3772 Makes Donut 3 mineral magnet larger
  maps/donut3.dmm
Labels: mapping

#3799 Resolve pipe rupture runtime related to large explosions
  code/modules/atmospherics/machinery/pipe.dm
Labels: bug - minor

#3800 Hunter microbomb fix
  code/datums/abilities/hunter.dm
Labels: bug

#3765 Wearble plasma (for perspective humans only)
  icons/mob/back.dmi
Labels: human resprite project, sprites

#3803 Human Resprite: Sea Monkeys and Skeletonman0's Skeleton Monkeys
  icons/mob/monkey.dmi
  icons/mob/seamonkey.dmi
Labels: human resprite project, sprites

#3783 Makes the HoS's War medal wearable
  code/WorkInProgress/mantaObjects.dm
  code/datums/objective.dm
  code/obj/decal/poster.dm
  code/obj/item/clothing/suits.dm
  icons/mob/overcoats/worn_suit_gimmick.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
  icons/obj/items/items.dmi
Labels: feature, sprites

#3761 Makes plates, trash bags and satchels care about item weight
  code/obj/item/clothing/trash_bags.dm
  code/obj/item/kitchen.dm
  code/obj/item/satchel.dm
Labels: balance

#3812 Vicky Hudson patreon figure
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: sprites

#3808 Ports paper formatting help tooltip from BeeStation
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/PaperSheet.js
Labels: feature, tgui

#3745 Rework clown shoe slipping
  code/datums/components/tripsalot.dm
Labels: bug - minor, rework

#3191 TEG Material Science Interaction and Transformation Framework
  code/WorkInProgress/AzrunStuff.dm
  code/WorkInProgress/TempEngine.dm
  code/datums/gamemodes/spy_theft.dm
  code/obj/item/pinpointer.dm
  code/obj/machinery/arc_electroplater.dm
  icons/obj/items/device.dmi
  icons/obj/power.dmi
  maps/atlas.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
Labels: add to wiki, feature, help wanted, input wanted, mapping, merge conflict, sprites

#3814 Fix fluid prying tool pass-through
  code/modules/fluids/fluid_core.dm
Labels: bug - minor

#3809 Adds a secondary janitor's locker to Manta
  maps/manta.dmm
Labels: mapping

#3805 Moves pinpointers into own dmi, optimises sprites
  code/obj/item/pinpointer.dm
  icons/obj/items/bloodtrak.dmi
  icons/obj/items/device.dmi
  icons/obj/items/pinpointers.dmi
Labels: cleanliness, sprites
