Repository goonstation/goonstation, pull requests merged in 2021-06, with the labels that each got.

#4969 Pod Wars | Commanders of both sides now have APC access.
  code/datums/jobs.dm
Labels: QoL, feature, size/XS

#4841 Makes Field generator description update on weldering and wrenching
  code/obj/machinery/singularity.dm
Labels: QoL, size/XS

#4941 Stop critters accidentally dropping their brains
  code/mob.dm
Labels: bug - minor, size/S

#4983 couple of matsci book format edits
  strings/books/matsci_guide_new.txt
Labels: bug, size/S

#4954 Quantum telescope now respects audio settings (but differently)
  browserassets/js/telescope.js
  browserassets/sounds/found.mp3
  browserassets/sounds/sweep.mp3
  code/WorkInProgress/telescope/quantumTelescope.dm
  code/modules/sound/soundCache.dm
  sound/machines/found.ogg
  sound/machines/sweep.ogg
Labels: bug - minor, size/S, sound

#4719 Drinks.dmi clean-up; Creaca's Space Milk shows reagent volume
  code/modules/food_and_drink/drinks.dm
  code/z_adventurezones/hospital.dm
  icons/obj/foodNdrink/can.dmi
  icons/obj/foodNdrink/drinks.dmi
Labels: cleanliness, size/M, sprites

#4827 Tweak spy targets
  assets/maps/prefabs/prefab_drug_den.dmm
  code/datums/gamemodes/spy_theft.dm
  code/obj/decal/poster.dm
  maps/atlas.dmm
  maps/atlas_xmas_2020.dmm
  maps/clarion.dmm
  maps/clarion_xmas_2020.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogmap2_xmas_2020.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/donut3_xmas.dmm
  maps/horizon.dmm
  maps/horizon_xmas.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/manta_damaged.dmm
  maps/oshan.dmm
  maps/oshan_xmas.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/unused/atlas_old.dmm
  maps/unused/horizon_2019.dmm
  maps/warwip/atlas_horizon_xmas_2019.dmm
  maps/wrestlemap.dmm
Labels: add to wiki, balance, cleanliness, mapping, size/XXL

#4630 Plague touch big buff
  browserassets/html/traitorTips/vampireTips.html
  code/datums/abilities/vampire.dm
  code/datums/abilities/vampire/plague_touch.dm
  code/modules/medical/diseases/vamplague.dm
Labels: add to wiki, balance, input wanted, size/S, stale

#4997 Removed rc_flags from children of food/drinks
  code/modules/chemistry/tools/food_and_drink.dm
Labels: QoL, cleanliness, size/S

#4987 Fix constructed mineral magnets breaking fullbright, add magnet action bar for construction
  code/obj/mining.dm
Labels: bug, feature, size/M

#4990 Remove reliquary limb sprites
  icons/mob/robots.dmi
  icons/obj/robot_parts.dmi
Labels: cleanliness, size/XS, sprites

#4986 Makes dowsing rods deployable on any turf
  code/datums/controllers/sea_hotspot_controls.dm
Labels: QoL, size/S

#4886 Check hands for spy PDA
  code/procs/antagonist_procs.dm
Labels: bug, cleanliness, size/M

#4998 fixes runtime caused by cluwnegibbing an NPC
  code/mob.dm
Labels: bug - minor, runtime, size/XS

#4985 Removes the food synth from space bux purchase
  code/modules/economy/persistent_bank_purchases.dm
Labels: add to wiki, removal, size/XS

#3910 Allows constructed asteroid magnets such as the one at the mining outpost to pull quantum telescope asteroids.
  code/obj/mining.dm
Labels: bug, size/S, stale

#5000 grammar fix
  strings/shittybill.txt
Labels: bug, size/XS

#4970 Pod Wars | Syndicate mining fabs now make red jetpacks.
  code/datums/gamemodes/pod_wars/pw_manufacturing_.dm
Labels: QoL, mapping, size/S

#4988 Pod Wars | You can no longer pick up enemy armor.
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/clothing/uniforms.dm
Labels: QoL, size/L

#5004 Fix histamine sound thingy
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: bug - minor, runtime, size/XS

#4889 Adds the Diner Waitress's Dress in two colors, a matching hat, and four colors of Mary Jane shoes
  code/modules/vending/clothingbooth_items.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/shoes.dm
  icons/mob/feet.dmi
  icons/mob/head.dmi
  icons/mob/jumpsuits/worn_js_gimmick.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/item_shoes.dmi
  icons/obj/clothing/uniforms/item_js_gimmick.dmi
Labels: add to wiki, mapping, size/M, sprites

#5006 Refactor chatprocs some
  code/procs/mobprocs/chatprocs.dm
Labels: bug, cleanliness, size/L

#5016 fix small bug with artifact analysis forms
  code/obj/artifacts/artifactanalysis.dm
Labels: bug - minor, size/S

#4994 Detgadget hat autolights cigarettes
  code/obj/item/clothing/hats.dm
Labels: add to wiki, feature, size/XS

#5014 modifies all the setStatus calls to use the time defines
  code/datums/abilities/werewolf.dm
  code/datums/abilities/werewolf/werewolf_pounce.dm
  code/datums/abilities/werewolf/werewolf_spread_affliction.dm
  code/datums/controllers/process/forcedMovement.dm
  code/mob.dm
  code/mob/living.dm
  code/mob/living/critter/ai/human.dm
  code/mob/living/critter/bee.dm
  code/mob/living/critter/changeling_critters.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/life/critical.dm
  code/mob/living/silicon/ai.dm
  code/modules/admin/admin.dm
  code/modules/chemistry/Reagents-Base.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-Organic.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/medical/genetics/bioEffects/harmful.dm
  code/obj/critter/bee.dm
  code/obj/critter/headspider.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/sealab_objects.dm
  code/z_adventurezones/hospital.dm
Labels: size/L

#4984 Changes borger artifacts so you can drag people out to save them, and makes the conversion more gradual
  code/obj/artifacts/artifact_objects/borg_maker.dm
Labels: add to wiki, balance, feature, size/M

#5021 Donut 2 minor fixes
  maps/unused/donut2_new_walls.dmm
Labels: mapping, size/M

#4966 Datumizes customization styles
  code/WorkInProgress/GerhazoStuff.dm
  code/WorkInProgress/HaineWhatever.dm
  code/WorkInProgress/SpyGuyStuff.dm
  code/WorkInProgress/warcrimes.dm
  code/datums/Vspace.dm
  code/datums/abilities/wizard.dm
  code/datums/components/barber.dm
  code/datums/customization_styles.dm
  code/datums/preferences.dm
  code/datums/savefile.dm
  code/global.dm
  code/mob/dead/observer.dm
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/clone.dm
  code/mob/living/carbon/human/gimmick.dm
  code/mob/living/carbon/human/machoman.dm
  code/mob/living/carbon/human/monkeys.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/modules/admin/randomverbs.dm
  code/modules/chemistry/Chemistry-Reactions.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/holiday/spacemas.dm
  code/modules/medical/genetics/bioHolder.dm
  code/modules/medical/genetics/geneticsScanner.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/organs/eye.dm
  code/obj/item/organs/head.dm
  code/z_adventurezones/timeship.dm
  goonstation.dme
Labels: cleanliness, size/XXL

#5023 Swaps CE RCD on Clarion for RCDC
  maps/clarion.dmm
  maps/clarion_xmas_2020.dmm
  maps/horizon_xmas.dmm
  maps/unused/clarion_xmas_2018.dmm
  maps/wrestlemap.dmm
Labels: bug - minor, mapping, size/S

#5027 Prevents dropping borg items on the material processor
  code/modules/materials/Mat_Processing.dm
Labels: bug - minor, size/XS

#5029 Adds my admin office
  code/z_adventurezones/earth.dm
  maps/z2.dmm
  strings/station_name_whitelist.txt
Labels: mapping, size/XL

#4979 Ozymandias "Christmas in July" fixbatch
  maps/ozymandias.dmm
Labels: feature, mapping, size/XXL

#5028 Cyborg module selection color fix
  code/modules/robotics/robot/module/chemistry.dm
  code/modules/robotics/robot/module/civilian.dm
  code/modules/robotics/robot/module/construction_worker.dm
  code/modules/robotics/robot/module/engineering.dm
  code/modules/robotics/robot/module/medical.dm
  code/modules/robotics/robot/module/mining.dm
Labels: bug - minor, size/S

#5009 some word things on alcohol mixing descriptions
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: cleanliness, size/S

#5007 Resolve material proc references to material
  code/modules/materials/Mat_ProcsDefines.dm
  code/modules/power/nuke/Mat_Nuke.dm
Labels: bug, size/S

#5048 Update some "Chemmaster"/"ChemMaster" remnants to "CheMaster"
  code/modules/chemistry/Chemistry-Machinery.dm
  code/obj/submachine/robotics.dm
Labels: add to wiki, cleanliness, size/S

#5038 Prevents cyborgs repairing at docking station when out of materials.
  code/modules/robotics/robot/robot_docking_station.dm
Labels: bug, size/S

#5051 Changes Some Medbay Tiling
  maps/clarion.dmm
  maps/clarion_xmas_2020.dmm
  maps/oshan.dmm
  maps/oshan_xmas.dmm
Labels: mapping, size/L

#5040 Metal arms no longer bleed when picking up a rose
  code/obj/item/plants.dm
Labels: bug - minor, size/XS

#5056 Touching an artifact with your own robotic arm counts as a silicon touch
  code/obj/artifacts/artifactprocs.dm
Labels: QoL, size/S

#5044 Paper.dm Cleanup
  code/modules/vending/vending.dm
  code/obj/item/paper.dm
  code/obj/item/playing_cards.dm
Labels: cleanliness, size/L

#5046 Prevents wasting reagents when pouring into a nearly full container
  code/atom.dm
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Chemistry-Tools.dm
Labels: bug, size/S

#5042 Raises the limit of posts on the notice board from 5 to 15
  code/obj/noticeboard.dm
Labels: QoL, size/XS

#5034 Scannable name fixes
  code/obj/machinery/door/airlock.dm
  code/obj/machinery/phone.dm
Labels: QoL, size/M

#5043 Merges Mining Pocket Guides 1 & 2
  assets/maps/prefabs/prefab_water_mantamining.dmm
  code/datums/jobs.dm
  code/obj/item/book.dm
  maps/donut3_xmas.dmm
  maps/manta.dmm
  maps/manta_damaged.dmm
  strings/books/elective_prosthetics_for_dummies.txt
  strings/books/mining_pocket_guide.txt
  strings/books/mining_pocket_guide_1.txt
  strings/books/mining_pocket_guide_2.txt
  strings/books/pharmacopia.txt
Labels: add to wiki, bug - minor, cleanliness, mapping, size/L

#5033 Manufacturers accept custom blueprints by path
  code/obj/machinery/manufacturer.dm
Labels: QoL, bug, size/S

#3747 Targetable emotes bring up a list of things to target
  code/mob/living/carbon/human/procs/emote.dm
Labels: QoL, feature, input wanted, size/L

#4712 Secbots no longer attack people from inside locked containers
  code/modules/robotics/bot/secbot.dm
Labels: bug, feature, size/M

#5057 Adds mutadone to Cairngorm medbay
  maps/z2.dmm
Labels: QoL, add to wiki, mapping, size/XS

#5024 Resprite of the FoodTech vending machine
  code/modules/vending/vending.dm
  icons/obj/vending.dmi
Labels: add to wiki, size/XS, sprites

#5017 Fix spy organ selection logic
  code/datums/gamemodes/spy_theft.dm
Labels: bug, size/S

#5073 Add RecordTrak to security belt allowlist
  code/obj/item/storage/backpack_belt_etc.dm
Labels: QoL, size/XS

#5069 makes frogs and ithillids not jerks
  code/datums/mutantraces.dm
Labels: QoL, add to wiki, size/XS

#5064 Fixing a glass table no longer makes you put the glass sheets on it
  code/obj/table.dm
Labels: QoL, size/XS

#5080 Resprites backpacks/satchels and adds 3 new Spacebux bags
  code/WorkInProgress/rewardsLocker.dm
  code/modules/economy/persistent_bank_purchases.dm
  code/obj/item/storage/backpack_belt_etc.dm
  icons/mob/back.dmi
  icons/mob/hud_human.dmi
  icons/mob/hud_human_classic.dmi
  icons/mob/hud_human_new.dmi
  icons/mob/hud_human_quilty.dmi
  icons/mob/hud_human_vapor.dmi
  icons/mob/hud_spooky.dmi
  icons/mob/inhand/hand_storage.dmi
  icons/obj/items/storage.dmi
Labels: QoL, add to wiki, feature, size/XL, sprites

#5071 Adds Hydra smart pistol to Syndicate weapons vendor.
  code/modules/projectiles/bullet.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/submachine/weapon_vendor.dm
  icons/mob/belt.dmi
  icons/obj/items/belts.dmi
  icons/obj/items/gun.dmi
Labels: add to wiki, feature, size/M, sprites

#5061 Fix dissolved headwear runtime
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: bug, runtime, size/XS

#5053 remove check that made reclaimer only work on some materials
  code/obj/item/material.dm
Labels: QoL, size/XS

#5052 some small barbery tweaks
  code/datums/components/barber.dm
  code/obj/ToSplit/barber_shop.dm
Labels: QoL, add to wiki, bug - minor, cleanliness, feature, size/L

#5085 Actually killer tomatoes
  code/obj/critter/plants.dm
Labels: add to wiki, balance, size/XS

#5039 prevents blank wraith whispers from being sent
  code/datums/abilities/wraith.dm
Labels: bug - trivial, size/XS

#5086 Add sound for wearing plunger hat
  code/modules/sound/soundCache.dm
  code/obj/item/clothing/hats.dm
  sound/items/plunger_pop.ogg
Labels: QoL, size/S, sound

#5087 Radbow no longer shows impact effect
  code/modules/projectiles/radbolt.dm
Labels: bug, size/XS

#5101 Cleans beepsky-baton non-recharging
  code/obj/item/stun_baton.dm
Labels: cleanliness, size/XS

#4460 perspective lead wall + smoothwall lead wall
  code/turf/turf_autoalign.dm
  icons/misc/worlds.dmi
  icons/turf/walls_lead.dmi
  maps/z2.dmm
  maps/z3.dmm
Labels: mapping, size/XXL, sprites

#5008 Adds toy guns
  code/datums/commodity.dm
  code/modules/economy/trader.dm
  code/modules/projectiles/bullet.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/items/ammo.dmi
  icons/obj/items/gun.dmi
  icons/obj/projectiles.dmi
Labels: add to wiki, feature, size/M, sprites

#5099 Peeing in toilets has been fixed, alongside minor cleaning-up.
  code/mob/living/carbon/human/procs/emote.dm
Labels: QoL, cleanliness, size/S

#5083 Adds RecordTrak scanners as a redeemable utility in Security weapons vendors
  code/obj/submachine/weapon_vendor.dm
Labels: size/XS

#5105 Guitar bonk
  code/modules/sound/soundCache.dm
  code/obj/item/instruments.dm
  sound/musical_instruments/Guitar_bonk1.ogg
  sound/musical_instruments/Guitar_bonk2.ogg
  sound/musical_instruments/Guitar_bonk3.ogg
Labels: QoL, size/XS, sound

#5098 Clarify where flavor text is found
  code/datums/preferences.dm
Labels: QoL, bug - trivial, size/XS

#5079 Prevents ghostcritters from using phones
  code/datums/limb.dm
  code/obj/machinery/phone.dm
Labels: bug, size/XS

#5119 Fixes foam dart gun inhands
  icons/mob/inhand/hand_weapons.dmi
Labels: bug, size/XS, sprites

#5078 Silences dead monkeys some more
  code/datums/mutantraces.dm
Labels: bug, size/S

#4989 Advanced Ruck Kit Networking
  code/WorkInProgress/Electronics.dm
  code/WorkInProgress/MechanicMadness.dm
  code/datums/communications.dm
  code/datums/controllers/manufacturing_controls.dm
  code/datums/controllers/mechanic_controls.dm
  code/obj/item/device/pda2/diagnostics.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/device/pda2/scanners.dm
  code/world.dm
Labels: add to wiki, feature, size/L

#5124 Ports tgstation#59383: adds preserveWhitespace prop to Box component
  browserassets/tgui/tgui-common.bundle.js
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/Box.tsx
Labels: documentation, size/XS, tgui

#4900 instrument player components can now pick which note they play
  code/WorkInProgress/MechanicMadness.dm
Labels: add to wiki, feature, size/XS

#5126 Ports tgstation#55246: icon support and displayText prop for Dropdown component
  browserassets/tgui/tgui-common.bundle.js
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/Dropdown.js
Labels: documentation, size/S, tgui

#5077 Forklifts can pick up secured/restricted crates
  code/obj/vehicle.dm
Labels: QoL, bug, documentation, size/S, tgui

#5084 Some traitor objective wording adjustments and slight code cleaning
  code/datums/mind.dm
  code/datums/objective.dm
Labels: QoL, add to wiki, bug - minor, cleanliness, documentation, input wanted, size/M

#5096 Fixes trader bug dealing with multiple items
  code/modules/economy/traders/trader.dm
Labels: bug - major, size/XS

#5088 Additional reagent desc fixes + new drinks
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: add to wiki, cleanliness, feature, size/L

#5127 Partial port of tgstation#54465: adds maxLength pass-thru to TextArea component
  browserassets/tgui/tgui-common.bundle.js
  tgui/packages/tgui/components/TextArea.js
Labels: size/XS, tgui

#5122 manta firedoor and door access fixes
  maps/manta.dmm
Labels: mapping, size/M

#5114 Resprites display cases
  icons/obj/stationobjs.dmi
Labels: add to wiki, size/XS, sprites

#5137 switch order of parent calls for mob/New()
  code/mob.dm
Labels: bug, size/XS

#5090 MatSci Book Stuff
  strings/books/matsci_guide_new.txt
Labels: QoL, size/S

#5041 Adds hint to reclaim material sheets and ores when trying to insert them in a fabricator
  code/obj/machinery/manufacturer.dm
Labels: QoL, size/XS

#4765 Removes EMP blast from singularities, buffs radiation damage
  code/obj/machinery/singularity.dm
Labels: QoL, add to wiki, balance, input wanted, size/M

#5120 Clown horn impact sounds
  code/modules/sound/soundCache.dm
  code/obj/item/instruments.dm
  sound/musical_instruments/Bikehorn_bonk1.ogg
  sound/musical_instruments/Bikehorn_bonk2.ogg
  sound/musical_instruments/Bikehorn_bonk3.ogg
Labels: QoL, size/XS, sound

#5129 Monkey Clothing: Part 4
  icons/mob/jumpsuits/worn_js.dmi
  icons/mob/monkey_clothes.dmi
  icons/mob/overcoats/worn_suit_gimmick.dmi
Labels: bug - minor, size/XS, sprites

#5150 removes hunter mask from cargo clothing crate
  code/obj/random_spawners.dm
Labels: balance, removal, size/XS

#5156 Blacklists lupine regen from mutini
  code/modules/medical/genetics/bioEffects/beneficial.dm
Labels: size/XS

#5144 Fix to commissar greatcoat.
  icons/mob/overcoats/worn_suit_hazard.dmi
Labels: bug - trivial, size/XS, sprites

#4231 Player Vending Machines
  code/datums/manufacturing.dm
  code/modules/vending/vending.dm
  code/obj/item/building_materials.dm
  code/obj/machinery/manufacturer.dm
  icons/obj/vending.dmi
Labels: add to wiki, feature, size/L, sprites

#5160 matsci guide book stuff again
  strings/books/matsci_guide_new.txt
Labels: QoL, size/S

#5161 Adds missing pixel to industrial space suit
  icons/mob/overcoats/worn_suit_hazard.dmi
Labels: bug - trivial, size/XS, sprites

#5158 Fixes typo in monkey plastic jacket sprite
  icons/mob/monkey_clothes.dmi
Labels: bug - trivial, size/XS, sprites

#5149 adds tranqs to armories missing them
  maps/horizon.dmm
  maps/manta.dmm
Labels: balance, mapping, size/S

#5123 Remakes Cogmap2 Robotics to be more open to the hallway and increase interaction
  maps/cogmap2.dmm
Labels: mapping, size/XL

#5025 Removes the All Ears trait from the trinkets category
  code/datums/traits.dm
Labels: add to wiki, size/XS

#5152 Add data disks to software vendor
  code/modules/vending/vending.dm
Labels: size/XS

#5165 implement ai disposing
  code/mob/living/critter.dm
Labels: runtime, size/XS

#5163 Makes turning off stealth mode set your key back to auto alt key
  code/modules/admin/admin_verbs.dm
Labels: QoL, size/XS

#5170 fix Klaus' hat
  _std/defines/critter.dm
  icons/obj/bots/aibots.dmi
Labels: bug - trivial, size/XS, sprites

#5171 fixes solars on clarion
  maps/clarion.dmm
Labels: bug, mapping, size/M

#5148 Horizon/XMAS map fixes and cleanup also Kondaru
  maps/horizon.dmm
  maps/horizon_xmas.dmm
  maps/kondaru.dmm
Labels: QoL, bug, mapping, size/M

#5153 brighter oshan airlocks
  maps/oshan.dmm
Labels: mapping, size/M

#5174 removes magboots, galoshes, and wizard sandals from random shoe crate
  code/obj/random_spawners.dm
Labels: add to wiki, balance, removal, size/XS

#5183 Fixes magic missiles occasionally orbiting their targets
  code/modules/projectiles/special.dm
Labels: bug - minor, size/XS

#5177 converted some of the comments on artifact code to be code doc stuff?
  code/obj/artifacts/artifactdatums.dm
Labels: cleanliness

#5130 Reforming crystalline tables
  code/obj/table.dm
Labels: add to wiki, feature, size/M

#5151 some artifact bugs
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/obj/artifacts/artifact_items/pitcher.dm
  code/obj/artifacts/artifact_items/watering_can.dm
  code/obj/artifacts/artifactanalysis.dm
  code/obj/artifacts/artifactdatums.dm
Labels: bug - minor, size/S

#5196 rename heater artifacts internally and add logging
  code/obj/artifacts/artifact_machines/gas_radiator.dm
  goonstation.dme
Labels: QoL, cleanliness, size/S

#5186 removes the brighter from crate spawns and replaces it with an Odd Zippo
  code/obj/storage/loot_crates.dm
Labels: performance, removal, size/XS

#5198 Unregister cloak signal
  code/obj/item/device/cloak_device.dm
Labels: bug, size/XS

#5197 Remove rollerskate noslip
  code/obj/item/clothing/gimmick.dm
Labels: balance, size/XS

#5191 Makes Player vending machines be deleted after deconstruction
  code/modules/vending/vending.dm
Labels: bug, size/XS

#5190 removes two more shoes from cargo crate
  code/obj/random_spawners.dm
Labels: balance, removal, size/XS

#5185 Fix built areas
  code/turf/turf.dm
Labels: bug, size/XS

#5199 Fixes "Bloom" hairstyle sprites
  icons/mob/human_hair.dmi
Labels: size/XS, sprites

#5179 Volume settings popup changes
  code/modules/sound/playsound.dm
  code/modules/sound/sound.dm
Labels: QoL, size/S

#5201 remove syndie scanner from zone, adds security robot blueprint
  code/datums/manufacturing.dm
  code/datums/syndicate_buylist.dm
  code/obj/machinery/manufacturer.dm
  maps/z2.dmm
Labels: balance, mapping, size/S

#5200 Changes the material costs of the nuclear charge
  code/modules/networks/computer3/mainframe2/misc_terms.dm
Labels: balance, size/XS

#5205 Lowers the synth lung plant down 4 pixels
  icons/obj/hydroponics/plants_crop.dmi
Labels: bug - trivial, size/XS, sprites

#5211 Relocate port-a-puke file
  code/obj/machinery/portapuke.dm
  goonstation.dme
Labels: cleanliness, size/XS

#5142 Rack resprite
  code/obj/item/table_rack_parts.dm
  code/obj/rack.dm
  icons/obj/metal.dmi
  icons/obj/objects.dmi
Labels: size/S, sprites

#5074 Refactors hair to allow different layers between them
  _std/defines/layer.dm
  code/datums/customization_styles.dm
  code/datums/mutantraces.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/obj/item/organs/head.dm
Labels: bug - minor, cleanliness, size/L

#5214 Fix for issue #4494: Sheaths should be visible above overcoats
  _std/defines/layer.dm
  code/obj/item/misc_weapons.dm
Labels: bug, size/XS

#5215 Fix %target% messages for custom critters
  code/obj/critter/critter_parent.dm
Labels: bug, size/XS

#5141 Fixes blowout event maint access bug and potential errors
  code/modules/events/blowout.dm
Labels: QoL, bug, cleanliness, size/S

#5222 Prevents ghoscritters from using manual gas valves
  code/datums/limb.dm
Labels: balance, size/XS

#5220 Rockbox free purchase fix
  code/obj/machinery/manufacturer.dm
Labels: bug, size/XS

#5221 fix bug where some pod weapons would mess up overlays
  code/modules/transport/pods/vehicle.dm
Labels: bug - minor, size/XS

#5219 Broken APC examine text + actionbars
  code/modules/power/apc.dm
Labels: QoL, size/M

#5125 Ocular implanter
  code/datums/syndicate_buylist.dm
  code/modules/sound/soundCache.dm
  code/obj/item/device/ocular_implanter.dm
  goonstation.dme
  icons/obj/items/device.dmi
  sound/items/ocular_implanter_end.ogg
  sound/items/ocular_implanter_start.ogg
Labels: QoL, add to wiki, feature, size/L, sound, sprites

#5230 Fix burning item tracking
  code/obj/item.dm
Labels: bug - minor, size/XS

#5225 N.A.R.C.S. deployers can be scanned by Syndicate Analyzers
  code/obj/item/deployable_turret.dm
Labels: balance, feature, size/XS

#5233 Update Oshan Meat Special Shuttle
  assets/maps/shuttles/sealab/oshan-meat.dmm
Labels: mapping, size/M

#5082 Give every scientist a pen
  code/datums/jobs.dm
Labels: QoL, size/XS

#5218 Deconstruct destruction
  _std/defines/construction.dm
  code/WorkInProgress/Electronics.dm
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
Labels: QoL, bug, size/S

#5089 Makes personal locker backpacks/satchels random colours
  code/obj/storage/secure_closets.dm
Labels: feature, size/S

#5203 Add Donut 2 Nuke Plant Sites
  code/datums/gamemodes/nuclear.dm
Labels: feature, size/S

#5228 Fix chest item runtime
  code/mob/living/carbon/human.dm
Labels: bug - trivial, runtime, size/XS

#5146 Shades backview of shorts differently
  icons/mob/jumpsuits/worn_js_athletic.dmi
Labels: size/XS, sprites

#4933 Adds a intra-round win/death log to an asteroid structure | Pod Wars
  code/area.dm
  code/datums/gamemodes/pod_wars.dm
  code/modules/admin/admin_verbs.dm
  maps/pod_wars.dmm
Labels: QoL, feature, mapping, size/XL

#5247 Revert "Adds a intra-round win/death log to an asteroid structure | Pod Wars"
  code/area.dm
  code/datums/gamemodes/pod_wars.dm
  code/modules/admin/admin_verbs.dm
  maps/pod_wars.dmm
Labels: mapping

#5229 Horizon QOL changes: foam tanks, mining shuttle, janitor gear
  maps/horizon.dmm
Labels: QoL, mapping, size/M

#5241 Fixes missing tile & area placement for Cogmap2 Robotics
  maps/cogmap2.dmm
Labels: bug, mapping, size/XS

#5231 Implement turf blocked_dirs flag, update checkTurfPassable for astar, add blocked_dirs info overlay
  _std/defines/obj.dm
  _std/pathfinding.dm
  code/modules/admin/diagnostics.dm
  code/obj.dm
  code/obj/machinery/door/airlock.dm
  code/obj/railing.dm
  code/obj/window.dm
  code/procs/access.dm
  code/turf/turf.dm
Labels: bug, feature, size/L

#5246 Atmos pipes only need 1 weld to repair, add an action bar to atmos pipe repair
  code/modules/atmospherics/machinery/pipe.dm
Labels: QoL, feature, size/S
