Repository goonstation/goonstation, pull requests merged in 2021-07, with the labels that each got.

#5337 Disarm nerfs the sequel
  _std/defines/stamina.dm
  code/mob.dm
  code/mob/melee_attack_procs.dm
Labels: balance, experimental, input wanted, size/L

#5354 Fix light grenade emptying borgs
  code/obj/item/grenades.dm
Labels: bug - major, size/XS

#5294 Remove borg emag failure chance
  code/mob/living/silicon/robot.dm
Labels: QoL, size/S

#5311 Removes the taser the HoS gets on roundstart
  code/datums/jobs.dm
Labels: add to wiki, balance, size/XS

#5293 Slight mini-bible buffs
  code/obj/item/storage/bible.dm
Labels: balance, size/XS

#2152 Mobs entering chutes: Adds actionbar and animation
  code/WorkInProgress/recycling/disposal_chute.dm
  icons/obj/disposal.dmi
Labels: Certified Organic, QoL, balance, input wanted, size/L, sprites

#4789 Adds client image groups - better handling of sechud/prodoc icons etc.
  code/datums/client_image_group.dm
Labels: WIP, cleanliness, size/M

#5345 Heat tanks without fuel
  code/obj/item/tool/weldingtool.dm
Labels: bug, size/S

#5352 Donut Ranch in the Dark
  _std/__build.dm
  maps/donut3.dmm
Labels: mapping, size/M

#5338 Add disaster custom shuttles to all maps
  assets/maps/shuttles/cog1/cog1-disaster.dmm
  assets/maps/shuttles/cog2/cog2-disaster.dmm
  assets/maps/shuttles/destiny/destiny_disaster.dmm
  assets/maps/shuttles/donut2/donut2_disaster.dmm
  assets/maps/shuttles/donut3/donut3-disaster.dmm
  assets/maps/shuttles/manta/manta_disaster.dmm
  assets/maps/shuttles/sealab/oshan-disaster.dmm
  code/datums/prefab_shuttles.dm
Labels: feature, mapping, size/XXL

#5305 Frog Flu progresses much slower
  code/modules/medical/diseases/frog_flu.dm
Labels: balance, size/XS

#5347 Revert "Disarm nerfs the sequel"
  _std/defines/stamina.dm
  code/mob.dm
  code/mob/melee_attack_procs.dm
Labels: size/L

#5367 let guardbuddies rack the riotgun
  code/modules/robotics/bot/guardbot.dm
  code/obj/item/gun/kinetic.dm
Labels: bug - minor, size/S

#5363 fix an error with mulebot speedhacking
  code/modules/robotics/bot/mulebot.dm
Labels: bug - minor

#5360 fix cog1 power grid monitoring computer and re-add interdictor crate
  maps/cogmap.dmm
Labels: bug, mapping, size/M

#5217 add other organs to surgery artifacts
  code/mob/living/carbon/human.dm
  code/obj/artifacts/artifact_objects/augmentor.dm
  code/obj/item/organs/eye.dm
  code/obj/item/organs/kidney.dm
Labels: add to wiki, balance, bug - minor, bug - trivial, feature, size/L

#5374 Tweak clown shoe slip
  code/datums/components/tripsalot.dm
Labels: balance, input wanted, size/M

#5365 Atlas mining/podbay expansion (+ peripheral changes)
  maps/atlas.dmm
Labels: feature, mapping, size/XXL

#5362 Adds colorful backpacks and satchels to uniform manufacturer
  code/datums/manufacturing.dm
  code/obj/machinery/manufacturer.dm
Labels: add to wiki, feature, size/M

#5353 fixes door accesses on atlas and destiny
  maps/atlas.dmm
  maps/destiny.dmm
Labels: mapping, size/S

#5166 Makes the HoP and HoS uniforms more visually distinct.
  icons/mob/inhand/jumpsuit/hand_js_rank.dmi
  icons/mob/jumpsuits/worn_js_rank.dmi
  icons/mob/monkey_clothes.dmi
Labels: size/XS, sprites

#5368 Disarm nerfs the threequel
  _std/defines/stamina.dm
  code/mob.dm
  code/mob/melee_attack_procs.dm
Labels: balance, size/L

#5380 Fixed naming of the polysexual jumpsuit in fabs
  code/datums/manufacturing.dm
  code/obj/item/clothing/uniforms.dm
Labels: bug - trivial, size/XS

#5325 Donut3 spare reset board
  maps/donut3.dmm
Labels: mapping, size/XS

#5172 Adds a Ranch Space Prefab
  assets/maps/prefabs/prefab_ranch.dmm
  code/area.dm
  code/modules/fishing/fishing_gear.dm
  code/modules/fishing/fishing_spots.dm
  code/modules/worldgen/prefabs.dm
  icons/obj/items/fishing_gear.dmi
Labels: feature, mapping, size/L, sprites

#5313 Fixes eyepatch behavior
  code/obj/item/clothing/glasses.dm
Labels: size/S

#5388 Fixes shuttle front falling off when hit with the slam special attack
  code/WorkInProgress/AnimationLibrary.dm
  code/WorkInProgress/ItemSpecials.dm
Labels: bug, size/XS

#5175 Nerfs Rathen's Secret and Magic Missile spells
  code/modules/events/gimmick/bigfart.dm
  code/modules/projectiles/special.dm
Labels: add to wiki, balance, input wanted, size/S, stale

#5364 Multi action bars
  code/datums/controllers/action_controls.dm
  code/obj/item/table_rack_parts.dm
Labels: balance, feature, size/M

#5399 Fixes a corner on Oshan
  maps/oshan.dmm
Labels: bug - minor, mapping, size/S

#5409 Revert "Multi action bars"
  code/datums/controllers/action_controls.dm
  code/obj/item/table_rack_parts.dm
Labels: revert, size/M

#4818 Whew boy a lot of molitz b QoL
  code/WorkInProgress/Particles.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Properties.dm
  code/modules/mining/tile_events.dm
  icons/obj/atmospherics/atmos.dmi
  sound/effects/leakagentb.ogg
  sound/effects/leakoxygen.ogg
Labels: add to wiki, mapping, size/M, sound, sprites

#5408 makes it so golem deaths create smoke again
  code/obj/critter/misc.dm
Labels: balance, bug - major, size/XS

#5416 Chute animation removal
  code/WorkInProgress/recycling/disposal_chute.dm
Labels: size/S

#5058 Removes Synth-O-Matic modules from traders
  code/modules/economy/trader.dm
Labels: QoL, add to wiki, removal, size/XS, stale

#5384 Adds 10 baked goods recipes
  code/datums/cookingrecipes.dm
  code/datums/jobs.dm
  code/modules/food_and_drink/bread.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/submachine/cooking.dm
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/foodNdrink/food_bread.dmi
  icons/obj/foodNdrink/food_dessert.dmi
Labels: add to wiki, feature, size/L, sprites

#5281 Breaching charge sound and fx
  code/obj/item/grenades.dm
Labels: QoL, balance, size/S

#4739 You can now slot pens and cigarettes into PDAs.
  code/obj/item/device/pda2/pda2.dm
  icons/obj/items/pda.dmi
Labels: QoL, add to wiki, feature, input wanted, size/M, sprites, stale

#5385 Allows TC to be ejected from uplinks
  code/datums/syndicate_buylist.dm
  code/modules/materials/Mat_Materials.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/material.dm
  code/obj/item/traitorcoins.dm
  code/obj/item/uplinks.dm
  goonstation.dme
  icons/obj/materials.dmi
Labels: QoL, add to wiki, balance, feature, merge conflict, size/L, sprites

#5234 Changing Minimum and Maximum times for the nuclear charge
  _std/defines/computer.dm
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/modules/networks/computer3/mainframe2/os_drivers.dm
Labels: balance, size/S

#5422 Fix number-based mats processing
  code/datums/controllers/mechanic_controls.dm
Labels: bug, size/XS

#5420 Lets frogpeople chairflip further distance
  _std/macros/ismob.dm
  code/datums/abilities/generic.dm
Labels: feature, size/S

#3796 Lets lamp manufacturers make and remove light fixtures
  code/modules/interface/multiContext/context_actions.dm
  code/modules/interface/multiContext/context_layouts.dm
  code/modules/power/lighting.dm
  code/obj/submachine/robotics.dm
  code/procs/helpers.dm
  icons/obj/items/tools/lampman.dmi
  icons/ui/context16x16.dmi
Labels: Certified Organic, add to wiki, feature, rework, size/L, sprites

#5439 bot shit
  .github/commentagent.yml
  .github/workflows/tgui_recompile.yml
Labels: github

#5440 Revert "bot shit"
  .github/commentagent.yml
  .github/workflows/tgui_recompile.yml
Labels: github

#5359 Overhaul how sechuds' and prodocs' icon adding/removing works.
  code/datums/client_image_group.dm
  code/global.dm
  code/mob/dead/observer.dm
  code/mob/living/carbon/human.dm
  code/mob/living/life/hud.dm
  code/modules/robotics/robot/upgrade/prodoc_scanner.dm
  code/modules/robotics/robot/upgrade/sechud_scanner.dm
  code/obj/item/clothing/glasses.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/organs/eye.dm
  goonstation.dme
Labels: cleanliness, size/L

#5442 tgui recompile comment bot
  .github/comment-agent.yml
  .github/workflows/tgui_recompile.yml
Labels: QoL, github, size/M, tgui, tooling

#5344 Cleans machinery/computer code
  code/WorkInProgress/fission/computer.dm
  code/WorkInProgress/telescope/quantumTelescope.dm
  code/datums/banking.dm
  code/modules/economy/stocks/stock_machine.dm
  code/modules/medical/genetics/geneticsMachines.dm
  code/modules/medical/genetics/portaclone.dm
  code/modules/networks/computer3/buildandrepair.dm
  code/modules/networks/computer3/computer3.dm
  code/modules/power/TEG.dm
  code/modules/power/turbine.dm
  code/modules/robotics/bot/guardbot.dm
  code/modules/robotics/robot/robot_module_rewriter.dm
  code/obj/airbridge.dm
  code/obj/item/ai_modules.dm
  code/obj/item/card.dm
  code/obj/machinery/computer.dm
  code/obj/machinery/computer/QM_order.dm
  code/obj/machinery/computer/QM_supply.dm
  code/obj/machinery/computer/arcade.dm
  code/obj/machinery/computer/atmosphere.dm
  code/obj/machinery/computer/buildandrepair.dm
  code/obj/machinery/computer/card.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/computer/communications.dm
  code/obj/machinery/computer/door_control.dm
  code/obj/machinery/computer/general_air_control.dm
  code/obj/machinery/computer/operating.dm
  code/obj/machinery/computer/pod.dm
  code/obj/machinery/computer/research_disease.dm
  code/obj/machinery/computer/robotics.dm
  code/obj/machinery/computer/secure_data.dm
  code/obj/machinery/computer/security.dm
  code/obj/machinery/computer/teleporter.dm
  code/obj/machinery/computer/tetris/tetris.dm
  code/obj/mining.dm
  code/obj/morgue.dm
Labels: cleanliness, size/XXL

#5055 Mechanics can set access requirements of constructed airlocks
  code/obj/item/device/accessgun.dm
  code/obj/machinery/door/airlock.dm
  code/obj/storage/secure_closets.dm
Labels: QoL, add to wiki, feature, size/M

#5291 chages arrivals area designation on some maps to prevent being affected by blowouts
  code/area.dm
  maps/clarion.dmm
  maps/destiny.dmm
  maps/oshan.dmm
Labels: mapping, size/L

#5417 Fixes Donut 3 armory airlocks, adds a blind switch to RD's office
  maps/donut3.dmm
Labels: bug, mapping, size/S

#5193 Slot machines directly use bank account balance
  browserassets/tgui/tgui.bundle.js
  code/datums/banking.dm
  code/obj/submachine/slots.dm
  tgui/packages/tgui/interfaces/SlotMachine.js
Labels: QoL, add to wiki, input wanted, size/L, tgui

#4884 Adds Space Casino space prefab
  assets/maps/prefabs/prefab_space_casino.dmm
  code/area.dm
  code/modules/robotics/bot/barbot.dm
  code/modules/worldgen/prefabs.dm
  code/obj/submachine/slots.dm
  code/z_adventurezones/space_casino.dm
  goonstation.dme
  icons/obj/gambling.dmi
Labels: feature, mapping, merge conflict, size/XXL, sprites

#5208 new headwear and headwear sprite edits
  code/WorkInProgress/HaineWhatever.dm
  code/datums/jobs.dm
  code/datums/supply_packs.dm
  code/mob/living/carbon/human/monkeys.dm
  code/modules/vending/clothingbooth_items.dm
  code/modules/vending/vending.dm
  code/obj/item/clothing/hats.dm
  code/procs/jobprocs.dm
  icons/mob/bighat.dmi
  icons/mob/ears.dmi
  icons/mob/head.dmi
  icons/mob/inhand/hand_headgear.dmi
  icons/obj/clothing/item_ears.dmi
  icons/obj/clothing/item_hats.dmi
  maps/z2.dmm
Labels: QoL, add to wiki, cleanliness, mapping, size/L, sprites

#5410 Add golden peas plant plant mutation
  code/modules/food_and_drink/plants.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_crop.dm
  icons/obj/foodNdrink/food_produce.dmi
  icons/obj/hydroponics/plants_crop.dmi
Labels: add to wiki, feature, size/S, sprites

#5377 Revert lagcheck removals from Communications.dm
  code/datums/communications.dm
Labels: performance, size/XS

#5438 Hotboxing is now admin logged.
  code/obj/item.dm
  strings/admin_changelog.txt
Labels: QoL, size/S

#5437 Adds a missing sprite for the rubber chicken item
  icons/mob/inhand/hand_general.dmi
  icons/obj/items/items.dmi
Labels: bug - minor, size/XS, sprites

#5429 Fixes #5005
  code/obj/storage/closets.dm
Labels: bug, size/XS

#5449 Corrects the TGUI recompile action
  .github/workflows/tgui_recompile.yml
Labels: github, size/XS

#5434 Adds a new magic mirror sprite
  code/obj/item/misc_wizard_stuff.dm
  icons/obj/decals/misc.dmi
Labels: add to wiki, bug - minor, size/XS, sprites

#5428 Make spaceman horizontal... but left-ly!
  code/WorkInProgress/AnimationLibrary.dm
  code/atom.dm
Labels: QoL, size/S

#5413 Vending machine/manufacturer/seed fabricator hacking QOL
  code/modules/vending/vending.dm
  code/obj/machinery/manufacturer.dm
  code/obj/submachine/seed.dm
Labels: QoL, size/S

#5431 Prevents recursive trash bag, fixes #4192
  code/obj/item/clothing/trash_bags.dm
Labels: bug, size/XS

#5448 Updates several item_hats.dmi icons to match worn states
  icons/obj/clothing/item_hats.dmi
Labels: QoL, add to wiki, size/XS, sprites

#5389 Fixes red, pink, and orange hats.
  icons/mob/head.dmi
Labels: bug - trivial, size/XS, sprites

#5441 Makes toy guns unable to be stashed in gang lockers
  code/datums/gamemodes/gangwar.dm
Labels: bug, size/XS

#5423 Re adds multi action bars
  code/datums/controllers/action_controls.dm
  code/obj/item/table_rack_parts.dm
Labels: feature, size/M

#5432 Clean AI status display code
  code/obj/machinery/status_display.dm
Labels: bug - minor, cleanliness, size/M

#5445 Highlight Manta mining station on trench map
  code/datums/controllers/sea_hotspot_controls.dm
Labels: QoL, size/XS

#5299 Restrict CARL
  code/modules/economy/trader.dm
Labels: add to wiki, balance, size/M

#5213 adds three new drinks
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: add to wiki, feature, size/M

#5465 Become monkey without losing your pants
  code/mob/transform_procs.dm
Labels: QoL, size/XS

#5469 Fix changeling lesser form handcuffs
  code/modules/antagonists/changeling/abilities/transform.dm
Labels: bug, size/XS

#5470 Fix grave fever symptoms
  code/modules/medical/diseases/vamplague.dm
Labels: bug, size/XS

#5459 Fixes build_fields
  code/obj/item/paper.dm
Labels: bug, size/XS

#5476 Changes ants and spiders reactions in fluid puddles
  code/modules/chemistry/Reagents-Misc.dm
Labels: size/S

#5458 Fixes incorrect lizard skintone in preview windows
  code/modules/medical/genetics/bioHolder.dm
Labels: bug, size/XS

#5393 Fixes an issue where npcs could keep moving while stunned or knocked out
  code/mob/living/carbon/human/npc.dm
Labels: bug, size/XS

#5477 Fixes baton toggling not working at low power
  code/datums/syndicate_buylist.dm
  code/mob/living/critter/misc.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/robotics/bot/secbot.dm
  code/obj/artifacts/artifactprocs.dm
  code/obj/critter/misc.dm
  code/obj/item/stun_baton.dm
  maps/z2.dmm
Labels: bug, cleanliness, mapping, removal, size/L

#5478 Fixes csaber glowstick light not updating properly
  code/obj/item/misc_weapons.dm
Labels: size/XS

#5474 Fixes 1x1 pod lights not turning off properly
  code/modules/transport/pods/pod_lights.dm
Labels: bug - minor, size/XS

#5473 APC hacking QoL
  code/modules/power/apc.dm
Labels: QoL, size/XS

#5471 Lit trick cigarrettes will destroy a PDA if placed inside one.
  code/obj/item/cigarette.dm
Labels: bug, size/XS

#5466 Announce players entering cryogenic storage
  code/WorkInProgress/cryospawn.dm
  code/obj/machinery/computer/announcement.dm
Labels: QoL, size/S

#5392 Removes all instances of the abstract candy parent and fixes several recipes
  code/datums/cookingrecipes.dm
  code/obj/submachine/cooking.dm
  maps/wrestlemap.dmm
Labels: bug, mapping, size/M

#5455 Fixes inhands for hop dress and resprites item and inhand sprites for it.
  code/obj/item/clothing/uniforms.dm
  icons/mob/inhand/jumpsuit/hand_js.dmi
  icons/mob/inhand/jumpsuit/hand_js_rank.dmi
  icons/obj/clothing/uniforms/item_js.dmi
  icons/obj/clothing/uniforms/item_js_rank.dmi
Labels: bug - trivial, size/XS, sprites

#5453 fix setting access
  code/obj/machinery/door/airlock.dm
Labels: bug, size/XS

#5426 Lowered the cost of the cloning module and the cloning module kit
  code/datums/syndicate_buylist.dm
Labels: add to wiki, balance, feature, input wanted, size/XS

#5366 add a finger gun emote
  code/mob/living/carbon/human/procs/emote.dm
Labels: size/S

#5268 Increases the random antag even frequency
  code/datums/controllers/event_controls.dm
Labels: add to wiki, balance, size/XS

#5418 Fixes automenders still working when dropped/put away
  code/modules/chemistry/tools/patches.dm
Labels: bug, size/XS

#5482 Fixes an issue with decorative pots
  code/obj/item/decorative_pot.dm
Labels: bug, size/XS

#5468 Donut3 refinery made public accses
  maps/donut3.dmm
Labels: mapping, size/XS

#5443 Tidy MechComp Code
  code/WorkInProgress/MechanicMadness.dm
  code/WorkInProgress/MechanicsNetworkCon.dm
  code/datums/components/mechComp_signals.dm
Labels: cleanliness, size/M

#5382 Make welding fuel toxic
  code/modules/chemistry/Reagents-ExplosiveFire.dm
Labels: add to wiki, balance, size/S

#5446 Add Janitor alert to Crisis Alerts
  code/obj/item/device/pda2/smallprogs.dm
Labels: QoL, add to wiki, input wanted, size/S

#5372 prevent spacebux bags from becoming job satchels
  code/WorkInProgress/rewardsLocker.dm
Labels: bug - minor, size/L

#4352 Shitty grills can anchor can be toggled with screwdrivers/wrenches
  code/obj/machinery/shitty_grill.dm
Labels: QoL, secret, size/XS

#5361 Adds fedora tipping to the other fedoras
  code/mob/living/carbon/human/procs/emote.dm
Labels: add to wiki, size/S

#5480 clothingbooth_item abstraction
  code/modules/vending/clothingbooth.dm
  code/modules/vending/clothingbooth_items.dm
Labels: cleanliness, size/XL

#5456 Changes behavior of cyanide's to be less random
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: add to wiki, balance, merge conflict, size/S

#5467 Manta refinery made public access + minor sea turtle changes.
  maps/manta.dmm
Labels: mapping, size/L, sprites

#5472 Hairbows - 14 versions for people and monkeys
  code/modules/vending/clothingbooth_items.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/gift.dm
  icons/mob/head.dmi
  icons/mob/monkey_clothes.dmi
  icons/obj/clothing/item_hats.dmi
Labels: add to wiki, feature, size/L, sprites

#5495 Makes the Item Slot Machine unable to be scanned
  code/z_adventurezones/space_casino.dm
Labels: size/XS

#5496 Disrupt cloak on chairflip
  code/datums/abilities/generic.dm
Labels: balance, size/XS

#5463 Stable mutagen now only copies over some mutant races
  code/datums/mutantraces.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: size/S

#5497 Clean disguiser code
  _std/defines/component_defines.dm
  code/modules/projectiles/projectile_parent.dm
  code/obj/item/device/disguiser.dm
  code/procs/mob_procs.dm
Labels: cleanliness, size/L

#5248 Adds a intra-round win/death log to an asteroid structure, take 2 | Pod Wars
  code/area.dm
  code/datums/gamemodes/pod_wars.dm
  code/modules/admin/admin_verbs.dm
  maps/pod_wars.dmm
Labels: QoL, feature, mapping, size/XL

#5504 Ozy ghostdrone factory solar fake objects
  maps/ozymandias.dmm
Labels: bug, mapping, size/S

#5479 Add sound to elevators
  code/modules/fluids/fluid_turf.dm
  code/modules/sound/soundCache.dm
  code/obj/machinery/computer/shuttle.dm
  sound/machines/elevator_move.ogg
Labels: QoL, size/XS, sound

#5489 Trader arrival sound
  code/modules/events/minor/trader.dm
  code/modules/sound/soundCache.dm
  sound/misc/announcement_chime.ogg
Labels: QoL, size/XS, sound

#5508 Removes unnecessary frame in blue flats
  icons/mob/feet.dmi
Labels: bug - trivial, size/XS, sprites

#5485 Add sec ass to ID computer default jobs.
  code/obj/machinery/computer/card.dm
Labels: QoL, size/XS

#5509 Makes ring sprites consistent, fixes kote names, and organizes hands.dmi
  icons/mob/hands.dmi
Labels: bug - trivial, size/XS, sprites

#5516 Triple RP hunger motive healing from food
  code/modules/chemistry/tools/food_and_drink.dm
Labels: add to wiki, balance, input wanted, size/XS

#5519 Force ammo box tooltips to update
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
Labels: bug, size/XS

#5451 Makes minisubs constructable and adds new sub types for the various armor types.
  code/datums/commodity.dm
  code/datums/gamemodes/pod_wars/pw_manufacturing_.dm
  code/datums/manufacturing.dm
  code/modules/transport/pods/ships.dm
  code/modules/transport/pods/vehicle.dm
  code/obj/machinery/manufacturer.dm
  icons/effects/64x64.dmi
  icons/obj/machines/8dirvehicles.dmi
  icons/obj/ship.dmi
  maps/setpieces/owlzone.dmm
  maps/z2.dmm
  maps/z3.dmm
Labels: add to wiki, feature, mapping, size/XXL, sprites

#5513 Removes overly loud "creepy sound" triggers on-station
  code/area.dm
  maps/atlas.dmm
  maps/cogmap.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
Labels: mapping, size/S, sound

#5484 Capsule machine restocking & junk cleanup
  code/datums/supply_packs.dm
  code/modules/items/gimmick/figurine.dm
  code/obj/item/vending_restock.dm
  icons/obj/items/vendcart.dmi
Labels: QoL, size/S, sprites

#5522 Alien Plant, Leaker
  code/modules/food_and_drink/plants.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_alien.dm
  icons/obj/foodNdrink/food_produce.dmi
  icons/obj/hydroponics/plants_alien.dmi
Labels: add to wiki, feature, size/S, sprites

#5525 Fix smes/cyberheart
  code/obj/item/organ_holder.dm
Labels: bug, size/XS

#5511 Fixed time stamps on paper.
  code/obj/item/paper.dm
Labels: QoL, bug - trivial, size/XS

#5532 Fix selling stacked items to NPC traders
  code/modules/economy/trader.dm
Labels: bug, size/XS

#5527 Fixes observers being affected by mass drivers and cargo routers
  code/obj/machinery/launcherloader.dm
  code/obj/machinery/mass_driver.dm
Labels: bug - minor, size/S

#5526 Block Syndicate bighat from revs
  code/datums/syndicate_buylist.dm
Labels: balance, size/XS

#5250 Adjust Equipment Power Utilization
  code/WorkInProgress/recycling/conveyor.dm
  code/datums/controllers/process/machines.dm
  code/global.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/debug.dm
  code/modules/chemistry/Chemistry-Dispenser.dm
  code/modules/chemistry/Chemistry-Machinery.dm
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/modules/power/lighting.dm
  code/modules/power/power_parent.dm
  code/modules/power/solar.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/obj/machinery.dm
  code/obj/machinery/computer.dm
  code/obj/machinery/firealarm.dm
  code/obj/machinery/plantpot.dm
  code/obj/machinery/recharger.dm
  code/obj/machinery/tv_vis.dm
Labels: balance, help wanted, input wanted, size/L, stale

#5542 Transmissions to Central Command now play the announcement sound
  code/modules/networks/computer3/comm_dish.dm
Labels: size/XS, sound

#5537 Adds the purple hairbow to the Clothing Booth
  code/modules/vending/clothingbooth_items.dm
Labels: size/XS

#5536 fix chemicompiler heating
  code/modules/chemistry/chemicompiler_core.dm
Labels: bug - minor, size/XS

#5523 Triples vamp "retreat to coffin" projectile max speed
  code/modules/projectiles/special.dm
Labels: balance, size/XS

#5535 Add ref and JSON inputs to various var input prompts
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/modules/admin/debug.dm
  code/modules/admin/modifyvariables.dm
Labels: QoL, feature, size/M

#5533 Fix large headband/headset combo sprites
  code/obj/item/clothing/hats.dm
Labels: bug - minor, size/XS

#5486 Fixes to reagent extractor
  code/obj/submachine/seed.dm
Labels: QoL, bug, feature, size/M

#5512 Updates empower's spell description and the empower ring.
  code/datums/abilities/wizard/mutate.dm
  code/modules/admin/gimmick/wizard_rings.dm
Labels: bug, size/S

#5534 Fix compatibility issues with xray mutation and vision-modifying items
  _std/macros/mob_properties.dm
  code/WorkInProgress/VirvaStuff.dm
  code/datums/abilities/vampire.dm
  code/mob/living/life/sight.dm
  code/modules/medical/genetics/bioEffects/beneficial.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/glasses.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/organs/eye.dm
Labels: bug, cleanliness, size/L

#5549 Ports tgstation#60208: Remove visual latency from hover effect on tabs
  browserassets/tgui/tgui-panel.bundle.css
  browserassets/tgui/tgui.bundle.css
  tgui/packages/tgui/styles/components/Tabs.scss
Labels: size/XS, tgui

#5548 Several hazard suit fixes.
  icons/mob/overcoats/worn_suit_hazard.dmi
Labels: bug - trivial, size/XS, sprites

#5195 Allows the ID computer to save and apply custom jobs to ID cards
  code/obj/item/card.dm
  code/obj/machinery/computer/card.dm
Labels: QoL, size/M

#5543 Donut 2 Camera Network Additions
  maps/unused/donut2_new_walls.dmm
Labels: mapping, size/L

#5483 Allows latejoin antags in spy thief gamemode
  code/datums/gamemodes/spy_theft.dm
Labels: balance, size/XS

#5555 Fixes clothing booth breaking when the occupant is teleported out
  code/modules/vending/clothingbooth.dm
Labels: bug, size/XS

#5554 Fix hat blacklist
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/helmets.dm
  code/procs/jobprocs.dm
Labels: bug - minor, size/S

#5559 update fulminate to match heating changes
  code/modules/chemistry/Reagents-Misc.dm
Labels: bug - minor, size/XS

#5491 Fix mutantrace static, re-does girder plating fix for ghostdrones (+ sprite fix for flashy)
  _std/macros/items.dm
  code/datums/mutantraces.dm
  code/mob/living/silicon/ghostdrone.dm
  code/obj/structure.dm
  icons/mob/flashy.dmi
Labels: bug - minor, bug - trivial, cleanliness, size/M, sprites

#5562 Adds food processor + mixer to fortuna, NT Base, and Syndicate base
  maps/pod_wars.dmm
Labels: mapping, size/L

#5564 small logging changes
  code/modules/chemistry/Reagents-ExplosiveFire.dm
  code/obj/table.dm
Labels: QoL, size/S

#5563 Fixes engineer nukie suit a sideview
  icons/mob/overcoats/worn_suit_hazard.dmi
Labels: bug - trivial, size/XS, sprites

#5560 Fixes a couple improperly formatted logTheThings with paper
  code/obj/item/paper.dm
Labels: bug, bug - trivial, size/XS

#5557 Phone hangup sound
  code/modules/sound/soundCache.dm
  code/obj/machinery/phone.dm
  sound/machines/phones/remote_hangup.ogg
Labels: QoL, size/XS, sound
