Repository goonstation/goonstation, pull requests merged in 2021-09, with the labels that each got.

#5566 Re-add the admin-only "rusty camera"
  code/modules/holiday/halloween.dm
  code/obj/item/cameras.dm
Labels: stale, size/L

#5858 Simplify Field Medic autoinjectors
  code/modules/chemistry/tools/emergency_injectors.dm
  code/obj/item/storage/backpack_belt_etc.dm
Labels: balance, size/S

#5859 Adds genetic analyzer handheld device and gives to geneticists
  code/datums/jobs.dm
  code/modules/medical/genetics/geneticsMachines.dm
  code/modules/medical/genetics/geneticsResearch.dm
  code/obj/item/device/genetic_analyzer.dm
  code/obj/item/device/pda2/scanners.dm
  code/procs/scanprocs.dm
  goonstation.dme
  icons/mob/inhand/hand_medical.dmi
  icons/obj/items/device.dmi
Labels: feature, sprites, size/L

#5864 Fix psychedelic jumpsuit sprite errors
  icons/mob/inhand/jumpsuit/hand_js_gimmick.dmi
  icons/obj/clothing/uniforms/item_js_gimmick.dmi
Labels: bug - trivial, sprites, size/XS

#5863 fix time in cryotron message
  code/WorkInProgress/cryospawn.dm
Labels: bug - trivial, size/XS

#5792 Refactors Cyborg Module Rewriter tgui interface into TypeScript
  browserassets/tgui/tgui.bundle.js
  tgui/packages/common/bem.js
  tgui/packages/common/bem.ts
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/EmptyPlaceholder.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/Module.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/Tools.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/index.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/action.ts
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/index.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/style.ts
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/type.ts
  tgui/packages/tgui/util/bem.js
Labels: tgui, size/L

#5841 Changeling limbspider ability buffs
  code/mob/living/critter/changeling_critters.dm
  code/modules/antagonists/changeling/abilities/hivemind.dm
  code/modules/status_system/statusEffects.dm
  icons/ui/statussystem.dmi
Labels: feature, sprites, size/L

#5869 Prevent unconcious emotes
  code/procs/mobprocs/chatprocs.dm
Labels: bug, balance, size/XS

#5867 Fix bug with pooled pee puddles not resetting a var properly
  code/obj/decal/cleanable.dm
Labels: bug - minor, size/XS

#5875 Adds sound to the hand labeller
  code/modules/sound/soundCache.dm
  code/obj/item/pens_writing_etc.dm
  sound/items/hand_label.ogg
Labels: QoL, sound, size/XS

#5882 Prevent welders cauterising on harm
  code/obj/item/tool/weldingtool.dm
Labels: QoL, size/XS

#5848 Removes a few shipping containers from manta cargo.
  maps/manta.dmm
Labels: mapping, size/M

#5849 Replaces manta mining outpost with tunnel snake with modifications
  assets/maps/prefabs/prefab_water_mantamining.dmm
  code/modules/worldgen/prefabs.dm
Labels: mapping, size/XXL

#5883 Give radio show hosts unique looking headphones
  code/obj/item/device/radios/headsets.dm
  icons/mob/ears.dmi
  icons/obj/clothing/item_ears.dmi
Labels: feature, sprites, size/XS

#5870 Refurbishes Destiny by updating walls, doors, windows, and other minor things
  maps/destiny.dmm
Labels: mapping, size/XXL

#5874 remove double turf errors on some prefabs
  assets/maps/prefabs/prefab_ksol.dmm
  assets/maps/prefabs/prefab_shuttle.dmm
  assets/maps/prefabs/prefab_sleepership.dmm
  assets/maps/prefabs/prefab_water_disposal.dmm
  assets/maps/prefabs/prefab_water_robotfactory.dmm
  assets/maps/prefabs/prefab_water_sketchy.dmm
  maps/z5.dmm
Labels: mapping, size/XXL

#5865 Fixed a typo in the description for ammo boxes
  code/obj/item/gun/ammo.dm
Labels: size/XS

#5881 Ports tgstation#58980: better Tooltip support
  browserassets/tgui/tgui-common.bundle.js
  browserassets/tgui/tgui-panel.bundle.css
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  browserassets/tgui/tgui.html
  tgui/docs/component-reference.md
  tgui/packages/tgui-panel/Panel.js
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/components/Popper.tsx
  tgui/packages/tgui/components/Tooltip.js
  tgui/packages/tgui/components/Tooltip.tsx
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/ChemDispenser.js
  tgui/packages/tgui/interfaces/MixingDesk.js
  tgui/packages/tgui/interfaces/PowerMonitor/Apc.tsx
  tgui/packages/tgui/interfaces/SlotMachine.js
  tgui/packages/tgui/layouts/NtosWindow.js
  tgui/packages/tgui/package.json
  tgui/packages/tgui/stories/Popper.stories.js
  tgui/packages/tgui/stories/Tooltip.stories.js
  tgui/packages/tgui/styles/components/Tooltip.scss
  tgui/yarn.lock
Labels: documentation, cleanliness, tgui, size/XL

#5899 Changes ww serum to require 3 units to infect instead of 0 units
  code/modules/chemistry/Reagents-Diseases.dm
Labels: balance, size/XS

#5898 knight helmet and vocal translator fixes
  code/obj/item/clothing/masks.dm
  icons/mob/head.dmi
Labels: bug - trivial, sprites, size/XS

#5893 Zombie stuff (admin)
  browserassets/html/traitorTips/zombieTips.html
  code/datums/abilities/critter/zombify.dm
  code/datums/limb.dm
  code/datums/mutantraces.dm
  code/modules/medical/diseases/necrotic_degeneration.dm
  code/modules/status_system/statusEffects.dm
  code/obj/item/plank.dm
  code/obj/structure.dm
  icons/ui/statussystem.dmi
Labels: feature, sprites, size/L

#5878 Removes medical locker access from security officers on RP
  code/procs/access.dm
Labels: balance, input wanted, removal, size/XS

#5910 Fix loudspeakers turning into radio transmitters when clicked by borgs
  code/obj/item/device/radio.dm
Labels: bug, size/XS

#5911 Fully purge cosby references
  code/datums/gamemodes/gangwar.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/random_spawners.dm
  icons/obj/clothing/uniforms/item_js_gimmick.dmi
  maps/cogwip/ships.dmm
  maps/manta.dmm
  maps/manta_damaged.dmm
  maps/oshan.dmm
  maps/oshan_xmas.dmm
  maps/unused/oshan_xmas_2018.dmm
  maps/z3.dmm
Labels: mapping, sprites, size/M

#5908 Fix Wraith triggering crusher
  code/WorkInProgress/recycling/crusher.dm
Labels: bug, size/XS

#5909 Kondaru sep21 mini fixbatch
  maps/kondaru.dmm
Labels: feature, mapping, size/M

#5907 Fix creepify station
  code/modules/admin/admin.dm
Labels: bug, size/XS

#5914 fix changelog issue
  strings/changelog.txt
Labels: size/XS

#5903 Adds new ghost critter Spacebux purchase (small birbs)
  code/mob/living/critter/small_animal.dm
  code/mob/transform_procs.dm
  code/modules/economy/persistent_bank_purchases.dm
  icons/misc/critter.dmi
Labels: feature, sprites, add to wiki, size/L

#5789 Drinking flask spacebux reward
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/economy/persistent_bank_purchases.dm
  maps/manta.dmm
Labels: feature, mapping, add to wiki, size/S

#5783 small improvements to artifact forms
  code/obj/artifacts/artifact_machines/heal_field.dm
  code/obj/artifacts/artifact_objects/container.dm
  code/obj/artifacts/artifact_objects/healer.dm
  code/obj/artifacts/artifactanalysis.dm
  code/obj/artifacts/artifactprocs.dm
Labels: bug - minor, QoL, size/M

#5905 Separated Button.Color tgui component into goonstation/ColorButton
  browserassets/tgui/tgui-common.bundle.js
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/components/goonstation/ColorButton.js
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/CharacterPreferences/CharacterTab.tsx
  tgui/packages/tgui/interfaces/CharacterPreferences/GeneralTab.tsx
Labels: cleanliness, tgui, size/M

#5764 Make buddies less spammy when handed weapons
  code/modules/holiday/spacemas.dm
  code/modules/robotics/bot/guardbot.dm
Labels: QoL, stale, size/XS

#5736 Fixes broken port-a-gene behavior
  code/modules/medical/genetics/portagene.dm
Labels: bug, size/M

#5807 Improves CARL's odds of selling certain traitor items
  code/modules/economy/trader.dm
Labels: balance, size/XS

#5906 Unique Shitty Bill Hair and Sprite Touch Up
  code/WorkInProgress/warcrimes.dm
  code/datums/customization_styles.dm
  code/mob/living/carbon/human/gimmick.dm
  icons/mob/human_hair.dmi
Labels: sprites, size/S

#5896 Artifact bugfixes
  code/obj/artifacts/artifact_items/power_cell.dm
  code/obj/artifacts/artifact_objects/bombs.dm
Labels: bug - major, size/M

#5830 Foam dart gun changes and resprites
  code/datums/commodity.dm
  code/modules/economy/traders/josh.dm
  code/modules/projectiles/bullet.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/items/ammo.dmi
  icons/obj/items/gun.dmi
  icons/obj/projectiles.dmi
Labels: feature, sprites, size/L

#5876 ComTac Headset utility item
  code/obj/item/device/radios/headsets.dm
  code/obj/submachine/weapon_vendor.dm
  icons/mob/ears.dmi
  icons/obj/clothing/item_ears.dmi
Labels: feature, sprites, size/S

#5902 Materials.dmi Resprites/Some Matsci Resprites
  code/modules/materials/Mat_Materials.dm
  code/obj/item/material.dm
  icons/obj/materials.dmi
Labels: sprites, add to wiki, size/XS

#5929 remove overrides on shuttlefloor attack procs
  code/modules/transport/shuttle/shuttle_turfobjs.dm
Labels: size/XS

#5920 Fix error on antag gunbot spawn
  code/datums/critter_mobs/equipment.dm
Labels: bug, size/XS

#5934 Robot part QOL fixes
  icons/obj/robot_parts.dmi
Labels: sprites, QoL, size/XS

#5933 Reworks setting/removing pulls, lets you resist out of pulls
  code/WorkInProgress/bowling.dm
  code/WorkInProgress/recycling/conveyor.dm
  code/datums/hud/critter.dm
  code/datums/hud/ghostdrone.dm
  code/datums/hud/human.dm
  code/datums/hud/robot.dm
  code/mob.dm
  code/mob/input.dm
  code/mob/living.dm
  code/mob/living/carbon.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
  code/modules/fluids/fluid_core.dm
  code/modules/interface/mob_input.dm
  code/modules/medical/genetics/geneticsScanner.dm
  code/modules/medical/genetics/portagene.dm
  code/modules/power/engine.dm
  code/modules/robotics/bot/mulebot.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/obj/critter/bee.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/item.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/portapuke.dm
  code/obj/machinery/porters.dm
  code/obj/machinery/sleeper.dm
  code/procs/mob_procs.dm
  code/turf/floors.dm
  code/turf/turf.dm
Labels: size/L

#5932 Removes the Derringer's transparent circle
  icons/obj/items/gun.dmi
Labels: sprites, size/XS

#5935 Resist out of grabs, pulls while stunned (Not Cuffed)
  code/mob/living.dm
  code/obj/item/grab.dm
Labels: feature, size/S

#5913 Changes ling island iced tea recipes heat when being created
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: balance, add to wiki, size/XS

#5954 Do not break explosion controller
  code/datums/controllers/explosion_controls.dm
Labels: size/XS

#5951 fix cardback on extremely expensive ultra rare stg cards
  code/obj/item/playing_cards.dm
Labels: bug - trivial, size/XS

#5956 Too stronk
  code/obj/item/fitness.dm
Labels: balance, size/XS

#5957 Fixes a couple wolf bugs, slightly reduces aconite stun time
  code/datums/abilities/werewolf/werewolf_throw.dm
  code/obj/item/plants.dm
Labels: bug - minor, balance, size/S

#5857 Ore scoop QoL
  code/obj/item/material.dm
  code/obj/machinery/manufacturer.dm
  code/obj/mining.dm
  code/obj/mining_cloud_storage.dm
Labels: QoL, size/M

#5960 makes garlic spliceable properly
  code/modules/hydroponics/plants_veg.dm
Labels: balance, size/XS

#5959 fixes ptl runtime if no engineering staff exists
  code/modules/power/pt_laser.dm
Labels: bug - minor, size/XS

#5927 Resprites headsets
  icons/obj/clothing/item_ears.dmi
Labels: sprites, size/XS

#5948 Fix #5946 - Port-a-Brig teleporting
  code/obj/machinery/porters.dm
Labels: bug, size/S

#5963 Blobs can no longer spawn inside arrivals
  code/modules/antagonists/blob/blob_abilities.dm
Labels: size/XS

#5961 Adds Some New Aesthetic Clothing Items
  code/modules/vending/clothingbooth_items.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/storage/secure_closets.dm
  icons/mob/head.dmi
  icons/mob/jumpsuits/worn_js_misc.dmi
  icons/mob/monkey_clothes.dmi
  icons/mob/overcoats/worn_suit.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
  icons/obj/clothing/uniforms/item_js_misc.dmi
Labels: sprites, size/L

#5965 Fix dropping and block throwing in voltrons
  _std/macros/mob_properties.dm
  code/mob/living/carbon/human.dm
  code/mob/living/critter.dm
  code/obj/item/device/voltron.dm
Labels: bug, feature, size/S

#5971 Change cancel stuns to use animate
  code/WorkInProgress/AnimationLibrary.dm
Labels: bug, size/S

#5970 Increases changeling sting to 140 second cooldown
  code/modules/antagonists/changeling/abilities/stings.dm
Labels: size/XS

#5576 Adds a nefariously evil syndicate shuttle for donut3!
  assets/maps/shuttles/donut3/donut3-syndicate.dmm
  code/datums/prefab_shuttles.dm
  code/obj/machinery/computer/shuttle.dm
Labels: mapping, size/XL

#5856 🍩2️🔧🔨 (Donut 2 minor fixes)
  maps/unused/donut2_new_walls.dmm
Labels: mapping, size/XL

#5919 Banana Peeling Text Fix
  code/modules/food_and_drink/plants.dm
Labels: bug, size/XS

#5798 Make syndicate command helmet only scan with the syndi device scanner
  code/obj/item/clothing/helmets.dm
Labels: balance, size/XS

#5936 Apprentice caps can be handmade, following their item description
  code/obj/item/gift.dm
Labels: add to wiki, size/S

#5968 Strange_reagent 1u minimum
  code/modules/chemistry/Reagents-Misc.dm
Labels: balance, add to wiki, size/XS

#5974 Exempt firelocks from ion storm fuckery
  code/modules/events/ion_storm.dm
  code/obj/machinery/door/firedoor.dm
Labels: bug, size/XS

#5945 Adds Bruce McAfee donator figurine (for Mystic_Midgit)
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: sprites, size/XS

#5969 Makes windoors hackable.
  code/obj/machinery/door/airlock.dm
  icons/obj/doors/SL_doors.dmi
Labels: sprites, size/XS

#5980 Misc destiny fixes
  code/map.dm
  maps/destiny.dmm
Labels: bug - minor, mapping, QoL, size/L

#5880 Further clamped Character Limits on AI Law Boards
  code/obj/item/ai_modules.dm
Labels: balance, size/XS

#5967 Redefines cyborg death, + some misc cyborg QoL/bugfixes
  code/mob.dm
  code/mob/living/life/Life.dm
  code/mob/living/life/statusupdate.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/hivebot/hivebot_statusupdate.dm
  code/mob/living/silicon/robot.dm
  code/mob/living/silicon/robot_statusupdate.dm
  code/mob/new_player.dm
  code/mob/suicide.dm
  code/obj/item/mob_parts/robot_parts.dm
  code/obj/item/organs/brain.dm
  goonstation.dme
Labels: bug, cleanliness, QoL, runtime, size/L

#5990 Makes fabric commodity sell cloth.
  code/modules/economy/traders/generic.dm
Labels: size/XS

#6003 Fix armory/HoS office access on Destiny
  maps/destiny.dmm
Labels: bug, mapping, size/XS

#6002 Fixes batons being silent when used on clowns
  code/obj/item/stun_baton.dm
Labels: bug, size/XS

#5979 Change nuclear bombs to use TIME
  code/obj/machinery/nuclearbomb.dm
Labels: bug, balance, size/S

#5904 Glow Stickers
  code/datums/jobs.dm
  code/obj/item/generic_box.dm
  code/obj/item/stickers.dm
  icons/misc/stickers.dmi
Labels: feature, mapping, sprites, add to wiki, size/L

#5939 View Variables remove component button and functionality.
  code/datums/datumvars.dm
  code/modules/admin/debug.dm
Labels: feature, size/S

#6009 fix reinforced false wall appearance
  code/obj/false_wall.dm
Labels: bug - minor, size/XS

#6001 Hand tele/teleporter ring balance
  code/modules/telescience/teleporter_old.dm
  code/z_adventurezones/hospital.dm
Labels: balance, size/XS

#5851 Allow repair of Terrainified station due to shuttles and mining magnet
  code/datums/mapgen/JungleGenerator.dm
  code/datums/mapgen/SnowGenerator.dm
  code/datums/mapgen/_MapGenerator.dm
  code/datums/mapgen/biomes/_biome.dm
  code/modules/admin/terrainify.dm
  code/modules/events/minor/trader.dm
  code/obj/machinery/computer/shuttle.dm
  code/obj/mining.dm
Labels: bug, feature, size/L

#5942 Uplink & Ejectable TC Adjustments
  code/datums/syndicate_buylist.dm
  code/global.dm
  code/obj/item/uplinks.dm
Labels: QoL, size/S

#5996 Allows disaster rounds to start even if nobody has wraith enabled
  code/datums/gamemodes/disaster.dm
Labels: bug - minor, size/XS

#6012 AI Programming Book updated to reflect rules update
  strings/books/ai_programming_101.txt
Labels: size/XS

#5977 Swap research & command headset sprites
  icons/mob/ears.dmi
  icons/obj/clothing/item_ears.dmi
Labels: sprites, cleanliness, add to wiki, size/XS

#6011 Delete frames correctly on failed robot build (incompatible brain)
  code/obj/item/mob_parts/robot_parts.dm
Labels: bug, size/XS

#6016 Prevents mining borgs from detaching their satchels onto the floor (or, ore scoop De-QoL)
  code/obj/mining.dm
Labels: bug, size/S

#5986 New buildmode mode: "paint matrix", equivalent of paint but using matrices.
  code/datums/buildmode.dm
  code/modules/admin/buildmodes/paint_matrix.dm
  goonstation.dme
  icons/misc/buildmode.dmi
Labels: feature, sprites, size/L

#6013 Shield Generator Power Usage when Attacked
  code/datums/abilities/wizard/forcewall.dm
  code/obj/machinery/shield_generators/portable_shield_generator.dm
Labels: bug, balance, size/M

#6008 Visual Fix for Rocko (🪨💄)
  code/obj/rocko.dm
Labels: bug - minor, size/XS

#6028 Fixes some odd behavior with directional-blocking objects
  code/turf/turf.dm
Labels: bug, size/S

#6004 Adds The Security Backpack/Satchel
  code/WorkInProgress/rewardsLocker.dm
  code/datums/jobs.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/storage/secure_closets.dm
  icons/mob/back.dmi
  icons/mob/inhand/hand_storage.dmi
  icons/obj/items/storage.dmi
Labels: sprites, size/M

#5985 Resprites The Wizard Spellbook
  icons/obj/wizard.dmi
Labels: sprites, size/XS

#6035 Minor Mining Text Changes
  code/obj/mining.dm
Labels: bug - minor, size/XS

#6015 Type-level Information
  _std/types.dm
  code/atom.dm
  code/datums/datumvars.dm
  code/mob/living/critter/aquatic.dm
  code/mob/living/critter/small_animal.dm
  code/modules/admin/admin.dm
  code/modules/admin/atom_verbs.dm
  code/modules/admin/buildmodes/varedit.dm
  code/modules/admin/debug.dm
  code/modules/admin/modifyvariables.dm
Labels: cleanliness, size/L

#6036 Minor Sprite Fix
  maps/cogmap2.dmm
Labels: bug - minor, mapping, size/XS

#5818 Add command helmet to CARL
  code/datums/commodity.dm
  code/modules/economy/trader.dm
  icons/obj/clothing/item_hats.dmi
Labels: feature, sprites, size/S

#6030 Adds Engineering, Research, Robotics, and Genetics Bags/Satchels
  code/WorkInProgress/rewardsLocker.dm
  code/datums/jobs.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/storage/secure_closets.dm
  icons/mob/back.dmi
  icons/mob/inhand/hand_storage.dmi
  icons/obj/items/storage.dmi
Labels: sprites, size/L

#5923 Resprite critter gunbots
  code/mob/living/critter/gunbot.dm
  icons/misc/critter.dmi
Labels: sprites, size/XS

#5950 Hidden Workshop Blacksmithing
  buildByond.conf
  code/obj/effects/particles.dm
  code/obj/item/misc_weapons.dm
  code/z_adventurezones/gannets_dojozone.dm
  goonstation.dme
  icons/obj/items/weapons.dmi
  maps/z2.dmm
Labels: feature, help wanted, mapping, sprites, input wanted, size/L

#6019 Adds 3 new hats + extra mime beret colours
  code/modules/vending/clothingbooth_items.dm
  code/obj/item/clothing/hats.dm
  icons/mob/head.dmi
  icons/obj/clothing/item_hats.dmi
Labels: sprites, add to wiki, size/L

#6049 Adds the ChefBot donator figurine for SkeletonDoot
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: sprites, size/XS

#6039 Stop banning from deleting mobs
  code/modules/admin/bans.dm
  strings/admin_changelog.txt
Labels: size/S

#6047 Buford doesn't know what a pie is
  code/modules/economy/shippingmarket.dm
  code/modules/economy/traders/buford.dm
  code/modules/events/minor/special_order.dm
Labels: bug, balance, size/S

#6014 bulk-removing sheet reinforcement
  code/obj/item/building_materials.dm
Labels: QoL, size/XS

#5982 Debug Hydroponics Tray Runtime Error Fix
  code/obj/machinery/plantpot.dm
Labels: bug, runtime, size/XS

#5887 Updates a few genetics icons and adds some new ones
  code/modules/medical/genetics/bioEffects/beneficial.dm
  code/modules/medical/genetics/bioEffects/harmful.dm
  code/modules/medical/genetics/bioEffects/speech.dm
  code/modules/medical/genetics/bioEffects/useless.dm
  icons/mob/genetics_powers.dmi
Labels: sprites, size/S

#5992 Adds spawn-heavenly and spawn-demonically to build mode object spawn
  code/modules/admin/buildmodes/spawn_single.dm
Labels: feature, size/S

#6052 Makes quartermasters have smooth tongue effects by default
  code/datums/jobs.dm
  code/datums/traits.dm
  code/modules/economy/traders/trader.dm
Labels: size/S

#6055 Allows for adding cigarettes to packets
  code/obj/item/cigarette.dm
  code/obj/item/clothing/hats.dm
Labels: feature, size/M

#6027 Clarifies an error in Spy_Thief HTML popup
  browserassets/html/traitorTips/spy_theft_Tips.html
Labels: QoL, size/XS

#5962 allow the rafflesia to smoke its reagents
  code/modules/hydroponics/plants_flower.dm
  code/obj/submachine/seed.dm
Labels: balance, add to wiki, size/S

#5888 Fix Glare On Helmet On Ridable Cats Switching Sides When Walking To The Left
  icons/obj/vehicles.dmi
Labels: sprites, merge conflict, Certified Organic, size/XS

#6058 Correct gas mixture calculation for EPPD
  code/modules/atmospherics/portable/portable_pressurizer.dm
Labels: bug, size/S

#6060 Destiny fire door fix
  maps/destiny.dmm
Labels: bug, mapping, size/XS

#5984 Unused Cloner Modules recently found
  code/datums/commodity.dm
  code/modules/economy/trader.dm
  code/obj/machinery/clonepod.dm
Labels: feature, size/S

#5507 Cluwning action bar
  code/datums/abilities/wizard/cluwne.dm
  icons/ui/actions.dmi
Labels: sprites, balance, QoL, Certified Organic, size/L

#5628 Head now removed from corpse after headspider
  code/mob/living/carbon/human.dm
Labels: QoL, size/S

#5758 Card updates
  code/modules/interface/multiContext/context_actions.dm
  code/obj/item/playing_cards.dm
  icons/obj/items/playing_card.dmi
Labels: sprites, Certified Organic, size/L

#5890 New customs booth and clothing shop on Destiny
  maps/destiny.dmm
Labels: mapping, size/XXL

#5917 Independent Lungs
  code/mob/living/life/breath.dm
  code/obj/item/organs/lung.dm
Labels: feature, balance, size/L

#5901 New quantum telescope/long range teleporter location
  browserassets/images/traders/milk.png
  code/WorkInProgress/telescope/telescopeDialogues.dm
  code/WorkInProgress/telescope/telescopeEvents.dm
  code/area.dm
  code/mob/living/carbon/human/gimmick.dm
  maps/z2.dmm
Labels: mapping, size/XXL

#6051 Makes material pieces use custom sprites if they exist
  code/modules/materials/Mat_RawMaterials.dm
  icons/obj/materials.dmi
Labels: feature, sprites, size/M

#6056 Emoji in ouija board word choices
  browserassets/tgui/tgui.bundle.css
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/modules/tgui/tgui_input_list.dm
  tgui/packages/tgui/styles/interfaces/ListInput.scss
Labels: feature, QoL, tgui, size/L

#5813 adds salted oats and peppercorn
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/plants.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_crop.dm
  code/obj/item/plants.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_ingredient.dmi
  icons/obj/foodNdrink/food_produce.dmi
  icons/obj/hydroponics/items_hydroponics.dmi
  icons/obj/hydroponics/plants_crop.dmi
Labels: sprites, size/M

#6063 Remove outdated candy heart message
  code/modules/food_and_drink/candy.dm
Labels: size/XS

#6064 Fix people getting trapped at void diner
  code/obj/landmark.dm
  maps/z2.dmm
Labels: mapping, size/XS

#5592 Adds more borg charging stations to Donut 3
  maps/donut3.dmm
Labels: mapping, QoL, size/M

#6074 Lungs suck
  code/modules/atmospherics/FEA_gas_mixture.dm
  code/obj/item/organs/lung.dm
Labels: bug, balance, size/XS

#6081 Negative Oxygen on Breathing Edgecase
  code/obj/item/organs/lung.dm
Labels: bug, size/XS

#6076 Fix "empty" personal closets
  code/obj/storage/secure_closets.dm
Labels: bug, size/XS

#6092 Fix empty middlenames in character setup
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/CharacterPreferences/GeneralTab.tsx
Labels: tgui, size/XS

#5831 theta generator
  code/datums/mapgen/IceMoonGenerator.dm
  code/modules/admin/terrainify.dm
  code/modules/economy/shippingmarket.dm
  code/obj/effects/precipitation.dm
  goonstation.dme
Labels: feature, size/L

#6099 Removes Tourette disease and BioEffect
  code/modules/medical/disabilities/tourettes.dm
  code/modules/medical/genetics/bioEffects/harmful.dm
  code/modules/medical/genetics/combo_recipes.dm
  goonstation.dme
Labels: removal, size/M

#5879 Mars-ify
  code/datums/mapgen/MarsGenerator.dm
  code/modules/admin/terrainify.dm
  code/modules/economy/shippingmarket.dm
  goonstation.dme
Labels: feature, size/L

#6096 Resprites Two Laser Guns
  icons/obj/items/gun.dmi
Labels: sprites, size/XS

#5998 Allows item specials to smack bots (secbots/medibots/etc)
  code/WorkInProgress/ItemSpecials.dm
Labels: feature, size/S

#6110 Removes one stinky random AI name
  strings/names/ai.txt
Labels: removal, size/XS

#6108 Makes reclaimer accept anything with a set material
  code/obj/item/material.dm
Labels: QoL, size/S

#6106 changes tequila sunrise recipe's sugar to grenadine, and lowers the alcohol content of many tall drinks (and adds a period to a typo'd drink description)
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: balance, add to wiki, size/M

#6102 clamp growth reset for harvested plants
  code/obj/machinery/plantpot.dm
Labels: bug - major, size/XS

#6103 Updates hazard_stripes.dmi
  icons/obj/hazard_stripes.dmi
Labels: sprites, size/XS

#6111 Renames honey, the material, to refined honey
  code/datums/manufacturing.dm
  code/modules/materials/Mat_Materials.dm
Labels: QoL, size/XS

#6084 Pepper-resprite
  icons/obj/hydroponics/plants_crop.dmi
Labels: sprites, add to wiki, size/XS

#6101 fixes playing vending machine bug
  code/modules/vending/vending.dm
Labels: size/XS

#6065 Adds DECON DESTRUCT and was_deconstructed_to_frame to several machinery
  code/datums/controllers/sea_hotspot_controls.dm
  code/modules/chemistry/Chemistry-Machinery.dm
  code/modules/power/furnace.dm
  code/obj/item/device/powersink.dm
  code/obj/machinery/plantpot.dm
  code/obj/machinery/shield_generators/portable_shield_generator.dm
Labels: size/S

#6121 Resolve Katana Creation Runtime
  code/z_adventurezones/gannets_dojozone.dm
Labels: bug - major, size/XS

#6117 Increases Marksman magazine size and magazine count
  code/obj/item/gun/ammo.dm
  code/obj/item/storage/ammo_pouches.dm
Labels: balance, size/XS

#6126 Makes power monitors check powernet for null
  code/modules/power/monitor.dm
  code/modules/power/solar.dm
Labels: runtime, size/S
