Repository goonstation/goonstation, pull requests merged in 2021-12, with the labels that each got.

#6846 Make barcode PC glow in the dark
  icons/obj/computer_screens.dmi
Labels: bug, sprites, size/XS

#6849 fix bug with hybrid plants
  code/modules/chemistry/tools/food_and_drink.dm
  code/obj/machinery/plantpot.dm
Labels: bug - major, size/XS

#6834 Anchor heavenly_light
  code/WorkInProgress/AnimationLibrary.dm
  code/WorkInProgress/GerhazoStuff.dm
Labels: size/XS

#6847 Resolve job controller log spam
  code/datums/controllers/job_controls.dm
Labels: size/XS

#6852 fix fruit cake wrong icon
  code/modules/food_and_drink/cakes.dm
Labels: bug - minor, size/XS

#6789 Fixed held items going invisible on inventory hide after being swapped
  code/datums/hud/human.dm
Labels: bug, size/S

#6855 Make antag bans work
  code/datums/gamemodes/gm_parent.dm
Labels: bug, size/XS

#6853 Spacemas tree decoration update 1
  icons/effects/160x160.dmi
Labels: sprites, size/XS

#6850 Fixed one armed people being able to use certain two handed weapons
  code/WorkInProgress/SpyGuyStuff.dm
  code/mob/living/carbon/human.dm
Labels: bug, size/M

#6756 Add admin ghost respawn toggle
  code/modules/admin/admin.dm
  code/modules/admin/admin_holder.dm
  code/modules/admin/toggles.dm
  code/procs/helpers.dm
Labels: QoL, size/S

#6380 Makes polymorph use an action bar
  code/datums/abilities/wizard/animal.dm
Labels: balance, size/L

#6519 Resprites Cyborg HUD Elements
  icons/mob/hud_robot.dmi
Labels: sprites, stale, size/XS

#6862 Fix ghost respawn admin pref
  code/modules/admin/admin_holder.dm
Labels: bug, size/XS

#6502 AI TermOS Messaging Improvements
  code/mob/dead/ai-camera.dm
  code/mob/living/silicon/ai.dm
  code/mob/transform_procs.dm
  code/modules/sound/soundCache.dm
  code/procs/helpers.dm
  sound/machines/tone_beep.ogg
Labels: sound, size/L

#6775 Deletes experimental jumpsuits
  code/mob/living/carbon/human/procs/update_icon.dm
  code/obj/debug_tools.dm
  code/obj/item/clothing/uniforms.dm
  icons/mob/jumpsuits/worn_js_experiment.dmi
Labels: cleanliness, removal, size/L

#6870 Fixed borgs and AI shells opening doors while inactive
  code/obj/machinery/door/airlock.dm
Labels: size/XS

#6869 Particool: Null out field when empty
  browserassets/tgui/tgui.bundle.js
  code/datums/particool.dm
  tgui/packages/tgui/interfaces/Particool.js
Labels: bug, tgui, size/M

#6866 Pipe fix action bar message changed to visible
  code/modules/atmospherics/machinery/pipe.dm
Labels: bug, size/XS

#6865 Fixes runtime when trying to set the print server in secmate
  code/modules/networks/computer3/sec_rec.dm
Labels: bug, size/M

#6733 Fix disease reagent thresholds changing with server lag
  code/modules/chemistry/Reagents-Diseases.dm
Labels: bug, add to wiki, size/XS

#6244 Adds seven new crew objectives for various jobs
  code/datums/cookingrecipes.dm
  code/datums/crew_objective.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/economy/shippingmarket.dm
  code/modules/food_and_drink/cakes.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/submachine/cooking.dm
Labels: feature, add to wiki, size/XXL

#6720 Fixes some issues with dimension shift bugging out
  code/datums/abilities/wizard/phaseshift.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/obj/artifacts/artifact_items/teleport_wand.dm
Labels: bug, QoL, size/M

#6877 Adjustment to Kondaru escape wing expansion
  maps/kondaru.dmm
Labels: mapping, size/L, FREEZE🧊

#6880 minor centcom lighting changes
  maps/z2.dmm
Labels: mapping, size/S

#6872 implement set_a_intent and COMSIG_MOB_SET_A_INTENT
  _std/defines/component_defines.dm
  code/WorkInProgress/warcrimes.dm
  code/datums/hud/critter.dm
  code/datums/hud/human.dm
  code/datums/hud/object.dm
  code/datums/hud/robot.dm
  code/datums/hud/wraith.dm
  code/mob.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/gimmick.dm
  code/mob/living/carbon/human/monkeys.dm
  code/mob/living/carbon/human/npc.dm
  code/mob/living/critter.dm
  code/mob/living/critter/ai/flock/flockdrone.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
  code/mob/living/critter/ai/human.dm
  code/mob/living/critter/ai/ocean.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/silicon/robot.dm
  code/mob/melee_attack_procs.dm
  code/mob/transform_procs.dm
  code/mob/wraith.dm
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/medical/genetics/geneticsScanner.dm
  code/modules/medical/genetics/portagene.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/sleeper.dm
  code/obj/screen.dm
  code/world.dm
  code/z_adventurezones/earth.dm
Labels: feature, secret, size/L

#6884 fix bugs with dimensional shift and teleport wands
  code/datums/abilities/wizard/phaseshift.dm
  code/obj/artifacts/artifact_items/teleport_wand.dm
Labels: bug - major, size/XS

#6889 Updates Spacemas tree decorations.
  icons/effects/160x160.dmi
Labels: sprites, size/XS

#6888 Updates ignition switch icon
  icons/obj/objects.dmi
Labels: sprites, size/XS

#6923 fix an outdated sound file path
  code/datums/cookingrecipes.dm
  code/mob/living/carbon/cube.dm
  code/mob/living/critter/mechmonstrosity.dm
  code/modules/chemistry/Reagents-Organic.dm
Labels: bug - minor, size/S

#6928 Spell receive properly
  code/WorkInProgress/telescope/telescopeDialogues.dm
  code/WorkInProgress/telescope/telescopeMisc.dm
  code/datums/controllers/custom_job_savefile.dm
  code/datums/controllers/job_controls.dm
  code/datums/intercept_text.dm
  code/datums/jobs.dm
  code/mob/living/silicon/robot.dm
  code/modules/admin/toggles.dm
  code/modules/economy/trader.dm
  code/modules/economy/traders/segfault.dm
  code/modules/economy/traders/vurdalak.dm
  code/modules/medical/genetics/geneticsMachines.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/modules/transport/cruisers/cruiser_console.dm
  code/modules/transport/cruisers/cruisers.dm
  code/obj/decal.dm
  code/obj/health_scanner.dm
  code/obj/item/device/gps.dm
  code/obj/item/device/radio.dm
  code/obj/item/implant.dm
  code/obj/machinery/computer/communications.dm
  code/obj/machinery/printing_press.dm
  code/procs/helpers.dm
  strings/books/mechanicbook.txt
Labels: bug - trivial, size/L

#6929 wall-phone/normal-phone hang-up fix
  code/obj/machinery/phone.dm
Labels: size/XS

#6931 Fixes pug tail colours.
  icons/mob/pug/albino.dmi
  icons/mob/pug/apricot.dmi
  icons/mob/pug/black.dmi
  icons/mob/pug/chocolate.dmi
Labels: bug - minor, sprites, size/XS

#6932 Updates Jumpsuit Item Sprites to Match Resprite Colors and Designs
  icons/obj/clothing/uniforms/item_js.dmi
  icons/obj/clothing/uniforms/item_js_athletic.dmi
  icons/obj/clothing/uniforms/item_js_gimmick.dmi
  icons/obj/clothing/uniforms/item_js_misc.dmi
  icons/obj/clothing/uniforms/item_js_pride.dmi
  icons/obj/clothing/uniforms/item_js_rank.dmi
  icons/obj/clothing/uniforms/item_js_reward.dmi
Labels: sprites, size/XS

#6915 Gemstones Windows made see thru again
  code/modules/materials/Mat_Materials.dm
Labels: size/XS

#6946 Make sub-unit dumping of reagents possible
  code/modules/chemistry/chemicompiler_core.dm
Labels: size/XS

#6914 Syndicate Airlocks cannot be scanned
  code/obj/machinery/door/airlock.dm
Labels: bug, size/XS

#6892 The Santa suit nukeops have no longer gives slowdown
  code/obj/item/clothing/gimmick.dm
  code/obj/storage/closets.dm
Labels: QoL, size/S

#6948 Fix 6947 Fix MD License
  code/obj/decal/poster.dm
Labels: bug, size/XS

#6941 Fix Horizon Autoname APC areas
  maps/horizon.dmm
Labels: bug, mapping, size/M

#6949 Implement particle control procs
  code/atom.dm
  code/atom/UpdateParticles.dm
  goonstation.dme
Labels: feature, size/M

#6918 Fix for null jobs in Sleeperagent.dm
  code/modules/events/sleeperagent.dm
Labels: bug, size/XS

#6950 Small fix for nukie armor
  code/obj/item/clothing/suits.dm
Labels: bug, size/S

#6955 Stop using the term "racist" in some in-game cases
  maps/horizon.dmm
  maps/horizon_xmas.dmm
  maps/unused/horizon_2019.dmm
  maps/warwip/atlas_horizon_xmas_2019.dmm
  strings/chemistry_tools.txt
  strings/tweak_yo_self.txt
Labels: mapping, size/S

#6883 Syndicate Donk Pocket's methamphetamine no longer purges synaptizine/mannitol
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/food_and_drink/snacks.dm
Labels: bug - minor, QoL, size/S

#6958 Increases macrobomb average explosion power 25 -> 27
  code/obj/item/implant.dm
Labels: balance, size/XS

#6943 Removes the Obsidian Crown from Petasusaphilic
  code/z_adventurezones/hemera.dm
Labels: balance, size/XS

#6861 Cooldown, weaken reduction on bodybag
  code/modules/medical/surgery_tools.dm
Labels: balance, size/XS, FREEZE🧊

#6954 Round health scanning numbers
  _std/defines/temperatures.dm
  code/procs/scanprocs.dm
Labels: size/S

#6920 Deepfried items no longer drop the unfried item when put in the reclaimer
  code/obj/machinery/clonepod.dm
Labels: bug, size/XS

#6882 Crew Objective Performance Optimizations
  code/datums/crew_objective.dm
Labels: performance, size/XL

#6968 Fix Ghost parasite removal on pancreatitis and appendicitis
  code/modules/medical/diseases/organ_diseases/appendicitis.dm
  code/modules/medical/diseases/organ_diseases/pancreatitis.dm
Labels: size/S

#6857 Adds the firefighter helm chance to wall cabinets
  code/obj/storage/wall_cabinet.dm
Labels: bug - trivial, stale, size/XS

#6765 Updates stush's figurine and retrino's figurine
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: sprites, size/XS, FREEZE🧊

#6897 Add golden crayon to donut2
  maps/unused/donut2_new_walls.dmm
Labels: feature, mapping, size/XS, FREEZE🧊

#6910 Add barrel embers particle effect
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/obj/effects/particles.dm
  icons/effects/64x64.dmi
Labels: feature, sprites, size/M

#6956 Fix silicons being able to touch artifacts from a distance
  code/obj/artifacts/artifactprocs.dm
Labels: bug, size/XS

#6977 Fix single maintenance-inner-central tile designation
  maps/oshan.dmm
  maps/oshan_xmas.dmm
Labels: mapping, size/XS

#6980 Adds data_err0r's figurine
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: sprites, size/XS

#6878 Kondaru research cargo chute manual-ization
  maps/kondaru.dmm
Labels: mapping, size/S, FREEZE🧊

#6895 Prevent pickpocket and pass with itemarms
  code/mob/living.dm
  code/mob/living/carbon/human/monkeys.dm
Labels: bug, size/S

#6894 move normal human initialization to initializeBioholder
  code/mob/living/carbon/human/normal.dm
Labels: bug - major, size/L

#6978 Makes Breach Hammers Standard Armory Equipment
  maps/atlas.dmm
  maps/cogmap2.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
Labels: mapping, balance, QoL, size/L

#6984 Adds lizard blanket sprites
  icons/mob/lizard_clothes.dmi
Labels: sprites, balance, size/XS

#6864 Rationalize Donut 3 phones
  maps/donut3.dmm
Labels: mapping, input wanted, stale, size/M

#6879 New large size disaster shuttles
  assets/maps/shuttles/east/east_disaster.dmm
  assets/maps/shuttles/north/donut3_disaster.dmm
  assets/maps/shuttles/north/manta_disaster.dmm
  assets/maps/shuttles/north/north_disaster.dmm
  assets/maps/shuttles/south/south_disaster.dmm
  assets/maps/shuttles/west/west_disaster.dmm
Labels: mapping, stale, size/XXL

#7001 Resprites Pills
  icons/obj/items/pills.dmi
Labels: sprites, size/XS

#6995 Resprites The Arc Plater And Ore Processor/Smelter
  icons/obj/crafting.dmi
Labels: sprites, size/XS

#6957 Glasses sprite edits
  icons/mob/clothing/eyes.dmi
Labels: sprites, size/XS

#6989 Keybind fixes for AZERTY (Ghost, intents & targeting)
  code/mob/dead/observer.dm
  code/modules/interface/keybind_style.dm
Labels: size/S

#6999 Relocate Horizon's Paramedic Suits and Medical Belts
  maps/horizon.dmm
  maps/horizon_xmas.dmm
Labels: mapping, QoL, size/M

#6842 Adds new table and podwars map change
  code/obj/item/table_rack_parts.dm
  code/obj/table.dm
  icons/obj/furniture/table_nanotrasen.dmi
  maps/pod_wars.dmm
Labels: mapping, sprites, size/S

#6998 Adds a few extra nuke op names.
  code/datums/gamemodes/nuclear.dm
Labels: size/XS

#7003 Check step_on() organ is not null
  code/obj/item/material.dm
Labels: bug, size/XS

#6985 Block santa/krampus on no antag spawn modes
  code/modules/holiday/spacemas.dm
Labels: balance, size/XS

#7004 Suicide command now always opens a suicide method selection window
  code/mob/suicide.dm
Labels: input wanted, QoL, size/M

#6744 Fixes plating changing spacesuit stats
  code/modules/materials/Mat_FabRecipes.dm
  code/obj/item/clothing.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/suits.dm
Labels: stale, size/L

#7008 Particool TGUI fixes
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Particool.js
Labels: bug, tgui, size/S

#5712 AI Text Holograms
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/ai/holograms.dm
  code/obj/item/ai_modules.dm
  code/procs/gamehelpers.dm
  icons/misc/holograms.dmi
  icons/obj/module.dmi
  icons/ui/context16x16.dmi
  interface/skin.dmf
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  strings/hologram.txt
Labels: feature, mapping, sprites, input wanted, size/XXL

#6799 Got the plasmatoid lung
  code/modules/medical/diseases/plasmatoid.dm
  code/obj/item/organs/lung.dm
  icons/obj/surgery.dmi
Labels: feature, sprites, add to wiki, size/L

#6710 Makes grilles attempt to electrocute people that are launched/thrown at them
  code/obj/grille.dm
Labels: QoL, size/XS, FREEZE🧊

#6996 Resprites Riot Foam Grenade
  icons/obj/items/grenade.dmi
Labels: sprites, size/XS

#6972 Change parasites from ailment to parasite
  code/datums/disease.dm
  code/mob/living.dm
Labels: bug, size/S

#6966 Resprites Belt Items
  code/obj/item/storage/backpack_belt_etc.dm
  icons/mob/clothing/belt.dmi
  icons/obj/items/belts.dmi
Labels: sprites, size/XS

#7018 Adjusts right facing worn gun belt slot sprite slightly
  icons/mob/clothing/belt.dmi
Labels: sprites, size/XS

#7014 Check if hud is null during put_in_hand() and u_equip()
  code/mob/living/carbon/human.dm
Labels: runtime, size/S

#7017 Deletes fruithat.dmi and moves raffleasia to head.dmi
  code/obj/item/clothing/hats.dm
  icons/mob/clothing/fruithat.dmi
  icons/mob/clothing/head.dmi
Labels: sprites, cleanliness, size/XS

#7011 Make it/its selectable
  code/datums/pronouns.dm
Labels: size/XS

#7010 fix it/its objective pronoun
  code/datums/pronouns.dm
Labels: size/XS

#6845 Normalizes line endings
  .editorconfig
  .gitattributes
Labels: size/S

#7013 Fix explosions turf safe and qdel
  code/datums/components/explode_on_touch.dm
  code/datums/controllers/explosion_controls.dm
Labels: bug

#6900 ButtonPannels now have "Add Button" as a signal input
  code/WorkInProgress/MechanicMadness.dm
Labels: feature, QoL, size/S

#6988 Adds material recipes to drone types, blacklists a few drones, makes minisyndies cheaper to fabricate.
  code/obj/critter/drone.dm
Labels: balance, size/S

#6898 Limit number of atoms a flusher can flush at once
  _std/__std.dme
  _std/defines/logging.dm
  code/WorkInProgress/MechanicMadness.dm
  code/WorkInProgress/recycling/disposal.dm
Labels: performance, stale, size/S

#7023 Resprites 2 TTV tank worn sprites.
  icons/mob/clothing/back.dmi
Labels: bug - minor, sprites, size/XS

#7025 Adds some small particle effects to Arcfiend Sap and Jolt
  code/modules/antagonists/arcfiend/arcfiend.dm
  code/obj/effects/particles.dm
Labels: feature, size/S

#6942 Monkey Clothing Part 6
  code/mob/living/carbon/human/procs/update_icon.dm
  code/obj/item/clothing.dm
  code/obj/item/clothing/masks.dm
  code/obj/item/clothing/suits.dm
  icons/mob/monkey_clothes.dmi
Labels: bug - minor, sprites, size/M

#7034 make spybounty update noise respect volume settings
  code/datums/gamemodes/spy_theft.dm
Labels: size/XS

#7037 Fixes sprite error in headsets.
  icons/mob/clothing/ears.dmi
Labels: sprites, size/XS

#6831 Refactor Glass Recycler to use TGUI
  code/obj/machinery/glass_recycler.dm
  tgui/packages/tgui/interfaces/GlassRecycler.js
  tgui/packages/tgui/interfaces/WeaponVendor/index.tsx
  tgui/packages/tgui/interfaces/common/stringUtils.js
Labels: QoL, tgui, size/L, FREEZE🧊

#7028 Replaces The Clarion's Brig-HoS's Office Window With A Plasma Glass One
  maps/clarion.dmm
Labels: mapping, QoL, size/XS
