Repository goonstation/goonstation, pull requests merged in 2021-03, with the labels that each got.

#3870 Human Resprite: Retrino's hair sprites (merge conflict fixed)
  icons/mob/human_hair.dmi
Labels: human resprite project, sprites

#3871 Human Resprite: More More hair
  icons/mob/human_hair.dmi
Labels: human resprite project, sprites

#3874 Human Resprite: Yet even more hair sprites
  icons/mob/human_hair.dmi
Labels: human resprite project, sprites

#3882 Fixed soup applying a component to a datum, and bitemasks not bitemasking
  code/datums/components/food_stuff.dm
  code/obj/soup_pot.dm
Labels: bug

#3886 Human Resprite: Yet more hair
  icons/mob/human_hair.dmi
Labels: human resprite project, sprites

#3887 Remove duplicate table on oshan
  maps/oshan.dmm
Labels: bug - trivial, mapping

#3883 Human Resprite: HoS Medal by Matheus
  icons/mob/overcoats/worn_suit_gimmick.dmi
Labels: human resprite project, sprites

#3377 Pathologist job
  _std/defines/access.dm
  _std/mapDefines.dm
  code/datums/banking.dm
  code/datums/controllers/job_controls.dm
  code/datums/jobs.dm
  code/datums/syndicate_buylist.dm
  code/lists/jobs.dm
  code/mob/living/carbon/human/normal.dm
  code/obj/access_spawn.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/machinery/computer/card.dm
  code/procs/access.dm
  code/procs/crew_credits.dm
  icons/mob/inhand/jumpsuit/hand_js_rank.dmi
  icons/mob/inhand/overcoat/hand_suit.dmi
  icons/mob/jumpsuits/worn_js_rank.dmi
  icons/mob/overcoats/worn_suit.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
  icons/obj/clothing/uniforms/item_js_rank.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
Labels: add to wiki, balance, feature, mapping, sprites

#3681 Makes Contracts Slightly Less Godawful
  _std/__std.dme
  _std/defines/infernal.dm
  _std/macros/ismob.dm
  _std/types.dm
  code/WorkInProgress/infernal_contracts.dm
  code/datums/abilities/diabolical.dm
  code/datums/traits.dm
  code/mob.dm
  code/mob/living/carbon/cube.dm
  code/mob/living/carbon/human/procs/damage.dm
  code/mob/transform_procs.dm
  code/modules/medical/genetics/bioEffects/harmful.dm
  code/modules/medical/genetics/bioEffects/useless.dm
  code/obj.dm
  code/obj/item/clothing/uniforms.dm
Labels: QoL, bug, cleanliness, feature, rework

#3836 small artlab QoL changes
  code/modules/networks/computer3/mainframe2/artifact_res.dm
  code/modules/networks/computer3/mainframe2/documents.dm
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/modules/networks/computer3/mainframe2/tapes.dm
Labels: QoL, add to wiki, bug - minor

#3313 Turns magic missile into projectiles
  code/datum.dm
  code/datums/abilities/wizard/magicmissile.dm
  code/del.dm
  code/modules/projectiles/projectile_parent.dm
  code/modules/projectiles/special.dm
  code/pooling.dm
  sound/effects/mag_magmisimpact_bounce.ogg
Labels: feature, rework, sound

#3797 makes more chemicals reduce stimulant effect
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: add to wiki, balance

#3892 fix pathologist always showing up in character preferences
  code/datums/jobs.dm
Labels: bug - minor

#3635 Sentinel flock structure + fixes
  code/datums/abilities/flock/flockmind.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/obj/flock/furniture.dm
  code/obj/flock/structure/collector.dm
  code/obj/flock/structure/flock_structure_ghost.dm
  code/obj/flock/structure/flock_structure_parent.dm
  code/obj/flock/structure/sentinel.dm
  code/turf/turf_flock.dm
  goonstation.dme
  icons/misc/featherzone.dmi
Labels: add to wiki, bug, feature, sprites

#3758 Alphabetises letter component in book/vendor
  code/modules/vending/vending.dm
  code/obj/item/book.dm
Labels: cleanliness

#3852 Fixes bot runtimes, and makes secbots no longer see through walls and lockers
  code/modules/robotics/bot/bot_parent.dm
  code/modules/robotics/bot/medbot.dm
  code/modules/robotics/bot/secbot.dm
Labels: bug

#3841 Renames both cryogenic machineries to have more distinct names
  code/WorkInProgress/cryospawn.dm
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
Labels: QoL, add to wiki

#3893 Pod Wars Map Update
  maps/pod_wars.dmm
Labels: mapping

#3861 Reagents are now clamped to the nearest 1000th, or 0.001
  code/modules/chemistry/Chemistry-Holder.dm
Labels: bug - major, cleanliness

#3898 Tail Regrowth Cooldown
  code/datums/abilities/lizard.dm
Labels: balance

#3837 sprinting into railings makes you start vaulting over them
  code/obj/railing.dm
Labels: QoL

#3872 Clothing Booth: Adds new clothing options
  code/modules/vending/clothingbooth_items.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/shoes.dm
  code/obj/item/clothing/uniforms.dm
  icons/mob/feet.dmi
  icons/mob/fruithat.dmi
  icons/mob/inhand/jumpsuit/hand_js_misc.dmi
  icons/mob/jumpsuits/worn_js_misc.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/item_shoes.dmi
  icons/obj/clothing/uniforms/item_js_misc.dmi
Labels: add to wiki, sprites

#3904 Fix Donut3 line corner
  maps/donut3.dmm
Labels: bug - trivial, mapping

#3888 Add flag to bypass abstract type check on get_matches
  code/datums/datumvars.dm
  code/modules/admin/admin.dm
  code/modules/admin/atom_verbs.dm
  code/modules/admin/buildmodes/varedit.dm
  code/modules/admin/debug.dm
  code/modules/admin/modifyvariables.dm
Labels: feature

#3903 Adds eyepatches to medical manufacturer
  code/datums/manufacturing.dm
  code/obj/machinery/manufacturer.dm
Labels: feature

#3897 Human Resprite: More-r hair
  icons/mob/human_hair.dmi
Labels: human resprite project, sprites

#3900 Human Resprite: More in-hands stuff
  icons/mob/inhand/hand_fishing.dmi
  icons/mob/inhand/hand_food.dmi
  icons/mob/inhand/hand_general.dmi
  icons/mob/inhand/hand_tools.dmi
  icons/mob/inhand/hand_weapons.dmi
  icons/mob/inhand/tools/screwdriver.dmi
  icons/mob/inhand/tools/wirecutters.dmi
Labels: human resprite project, sprites

#3895 Terrifying medbot fixes
  code/modules/robotics/bot/medbot.dm
Labels: bug

#3855 Added 2 rubber shell cartridges to the alcohol vendor
  code/modules/vending/vending.dm
Labels: add to wiki, feature, input wanted

#3906 Human Resprite: Some item sprites and other adjustments/misc stuff
  icons/mob/head.dmi
  icons/mob/jumpsuits/worn_js_gimmick.dmi
  icons/mob/overcoats/worn_suit_hazard.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/item_masks.dmi
  icons/obj/clothing/item_shoes.dmi
  icons/obj/clothing/overcoats/item_suit_armor.dmi
  icons/obj/clothing/overcoats/item_suit_hazard.dmi
Labels: human resprite project, sprites

#3692 Character setup ringtone selection
  code/datums/pda_ringtones.dm
  code/datums/preferences.dm
  code/datums/savefile.dm
  code/global.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/device/pda2/ringtone.dm
  code/procs/helpers.dm
Labels: feature

#3776 Updating tour guide speech rate to better use maptext
  code/modules/robotics/bot/bot_parent.dm
  code/modules/robotics/bot/guardbot.dm
  code/z_adventurezones/luna.dm
Labels: bug - minor

#3912 Ozymandias nano fix set (including icing compile fix)
  maps/ozymandias.dmm
Labels: bug, mapping

#3921 Added missing words from HoS mug job rewards
  code/WorkInProgress/JobXPRewards.dm
Labels: bug

#3920 Changes the job reward level of the Spectro Monocle from 0 to 5
  code/WorkInProgress/JobXPRewards.dm
Labels: bug

#3859 Gives Clowncars a horn and brakes, defucks vehicle code a lot
  code/WorkInProgress/tug.dm
  code/datums/hud/human.dm
  code/modules/sound/soundCache.dm
  code/obj/vehicle.dm
  code/z_adventurezones/mad_mars.dm
  sound/musical_instruments/Carhorn_1.ogg
Labels: QoL, add to wiki, bug, cleanliness, feature, sound

#3908 Removes exposing a (loose) standard borg head's wiring
  code/obj/item/mob_parts/robot_parts.dm
  icons/mob/robots.dmi
Labels: cleanliness, removal, sprites

#3802 Resprites things from nuclear.dmi
  icons/obj/large_storage.dmi
  icons/obj/machines/nuclear.dmi
Labels: cleanliness, sprites

#3931 Add a rapid crayon creation device for artists
  code/modules/economy/persistent_bank_purchases.dm
  code/obj/item/generic_box.dm
  code/obj/item/storage/toolbox.dm
Labels: feature

#3938 Fix breath suicide grammar
  code/mob/suicide.dm
Labels: bug - trivial

#3934 Fixes Cogmap1 Hallway Firedoors
  maps/cogmap.dmm
Labels: bug, mapping

#3927 small typo
  code/WorkInProgress/MechanicMadness.dm
Labels: bug - trivial

#3932 add missing data terminal and chaplain stuff to atlas
  maps/atlas.dmm
Labels: mapping

#3915 Fluid changes for ungrouped ON_TOUCH behavior
  code/modules/fluids/fluid_core.dm
  code/modules/fluids/fluid_groups.dm
Labels: bug - minor, cleanliness

#3939 CI Update to latest Ubuntu
  .github/workflows/automaton.yml
  .github/workflows/beepsky.yml
  tools/ci/sources.list
Labels: github, tooling

#3944 Taser projectile sprite fix
  icons/obj/projectiles.dmi
Labels: sprites

#3941 Dumb Bug Fix for Vehicles
  code/obj/vehicle.dm
Labels: bug

#3914 Human Resprite: Some critters
  icons/misc/critter.dmi
  icons/mob/human.dmi
Labels: human resprite project, sprites

#3899 stop pulling stuff if it's inside other stuff
  code/mob/input.dm
Labels: balance, bug - minor

#3945 Slight sword sheathing animation
  icons/obj/items/weapons.dmi
Labels: sprites

#3789 Artifact gun stuff
  code/obj/artifacts/artifact_items/energy_gun.dm
  code/obj/artifacts/artifact_machines/turret.dm
  code/obj/artifacts/artifactdatums.dm
  code/obj/item/gun/gun_parent.dm
Labels: add to wiki, balance, bug - minor, feature

#3956 Glow in the dark computer screens
  code/modules/networks/computer3/computer3.dm
  code/obj/machinery/computer.dm
  icons/obj/computer_screens.dmi
Labels: sprites

#3955 Removes opossums from wizard polymorph list
  code/datums/abilities/wizard/animal.dm
Labels: add to wiki, balance

#3946 Mop buckets show fluids
  code/obj/mopbucket.dm
  icons/obj/janitor.dmi
Labels: sprites

#3907 A whole bunch of small donut 3 improvements and fixes
  code/obj/item/clothing/uniforms.dm
  maps/donut3.dmm
Labels: QoL, bug, feature, mapping

#3817 Removes belt hell destinations from barcode computers that don't use them
  code/obj/machinery/launcherloader.dm
  maps/atlas.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/donut3_xmas.dmm
  maps/horizon.dmm
  maps/manta.dmm
Labels: bug, mapping

#3909 makes claw machines scannable by mechanics
  code/modules/items/gimmick/plushies.dm
Labels: feature

#3964 Smol artifact fixes
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/obj/artifacts/artifact_objects/bombs.dm
Labels: bug - minor

#3959 Update broken shuttle computer sprite
  icons/obj/computer.dmi
Labels: sprites

#3966 More sword fixes
  code/obj/critter/sword.dm
Labels: bug

#3970 Resprites books and stamps
  icons/obj/items/custom_books.dmi
  icons/obj/items/storage.dmi
  icons/obj/writing.dmi
Labels: sprites

#3968 Human resprite miscellanea: shirt/pants, towel, surgical face shield
  icons/mob/jumpsuits/worn_js_gimmick.dmi
  icons/mob/jumpsuits/worn_js_misc.dmi
  icons/mob/mask.dmi
Labels: human resprite project, sprites

#3960 Some spritework on medical machines
  code/modules/medical/genetics/portagene.dm
  icons/obj/Cryogenic2.dmi
Labels: add to wiki, sprites

#3973 Kondaru upgrade "Tau" - expansion/rework for ranch, hydro, sec
  maps/kondaru.dmm
Labels: feature, mapping

#3977 Clarify some prompts + fab eject QOL
  code/obj/item/building_materials.dm
  code/obj/machinery/manufacturer.dm
Labels: QoL, bug - trivial

#3979 A few minor changes for traders
  code/modules/economy/trader.dm
Labels: QoL

#3942 Add scribble ability for admins and jester
  code/datums/abilities/diabolical.dm
  code/mob/living/carbon/human/gimmick.dm
Labels: feature

#3922 Removes stowaways from Manifest.
  code/datums/traits.dm
  code/mob.dm
  code/procs/jobprocs.dm
Labels: add to wiki, balance, feature

#3711 Lets floor and wall planner undo turf changes
  code/WorkInProgress/construction/tools.dm
  code/modules/admin/buildmodes/revert_turf_visuals.dm
  code/turf/floors.dm
  goonstation.dme
  icons/misc/buildmode.dmi
  strings/admin_changelog.txt
Labels: add to wiki, feature, sprites

#3724 Re-Adds AI Displays to maps
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/manta.dmm
  maps/z3.dmm
Labels: mapping

#3981 Pod Wars map update
  code/area.dm
  maps/pod_wars.dmm
Labels: mapping

#3890 Fixes feeding ghosts and bots, and eat-spam fixes
  code/datums/components/food_stuff.dm
  code/mob.dm
  code/obj/item.dm
Labels: bug

#3756 Destiny Remapping
  maps/destiny.dmm
Labels: QoL, add to wiki, mapping, merge conflict, rework

#3982 makes cutting planks from logs remove one from the stack instead of deleting the stack
  code/modules/materials/Mat_RawMaterials.dm
Labels: bug

#3972 Bottle Sprite Fixin
  icons/obj/foodNdrink/bottle.dmi
Labels: bug, sprites

#3856 adds visual effects to plant helper artifacts
  code/obj/artifacts/artifact_machines/plant_helper.dm
  icons/effects/lines2.dmi
Labels: feature, sprites

#3976 Fixes the packet sniffer to correctly filter by sender rather than target.
  code/modules/networks/computer3/sniffer.dm
Labels: bug

#3978 Split Infiltrator class crate in two
  code/modules/projectiles/bullet.dm
  code/modules/transport/pods/warp_travel.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/storage/ammo_pouches.dm
  code/obj/storage/crates.dm
  code/obj/submachine/weapon_vendor.dm
  icons/obj/48x32.dmi
Labels: add to wiki, balance, feature, rework, sprites

#3989 Remove refinery from Destiny's nuke targets
  code/map.dm
Labels: balance

#3999 Destiny Escape Shuttle Doors Lock
  code/map.dm
Labels: bug

#3993 It is now visible when you flop on the floor like a fish
  code/mob/living/carbon/human/procs/emote.dm
Labels: QoL

#3990 removes redundant bowl creation from cereal
  code/modules/food_and_drink/snacks.dm
Labels: bug

#3954 re-implements rad-wick with 80% resistance.
  code/mob/living/life/Life.dm
Labels: bug

#3940 Bugfixes for contracts + satancluwne clarification
  code/WorkInProgress/infernal_contracts.dm
  code/mob/living/carbon/human/gimmick.dm
  code/mob/living/carbon/human/machoman.dm
  code/mob/transform_procs.dm
Labels: balance, bug

#3996 Connects Cog1 mechlab computer to the network
  maps/cogmap.dmm
Labels: bug, mapping

#3923 Fix messed up regex replace component stuff
  code/WorkInProgress/MechanicMadness.dm
Labels: bug

#3985 Kondaru Tau fix batch 1
  maps/kondaru.dmm
Labels: bug, feature, mapping

#3992 Resprites action bar, adds variant action bar styles
  code/datums/abilities/vampire/enthrall.dm
  code/datums/abilities/vampire/hypnotize.dm
  code/datums/abilities/vampire/vampire_bite.dm
  code/datums/controllers/action_controls.dm
  code/modules/antagonists/blob/blob_abilities.dm
  code/modules/antagonists/changeling/abilities/absorb.dm
  code/obj/item/grab.dm
  icons/ui/actions.dmi
Labels: sprites

#3885 Makes stun artifacts stamina damage based
  code/obj/artifacts/artifact_items/melee_weapon.dm
Labels: balance, input wanted

#2523 Removes the Construction Worker job, moves tools into QM Crate
  code/datums/jobs.dm
  code/datums/supply_packs.dm
Labels: add to wiki, input wanted, removal

#3997 Adds the tape drive module to hacked CompTech vendors
  code/modules/vending/vending.dm
Labels: QoL

#4007 Varshie's Admin Office
  code/mob/living/critter/bee.dm
  code/obj/critter/bee.dm
  code/z_adventurezones/earth.dm
  icons/misc/bee.dmi
  maps/z2.dmm
Labels: mapping, sprites

#4006 Makes CE RCD yellow
  code/obj/item/rcd.dm
  icons/obj/items/rcd.dmi
Labels: sprites

#4003 Fixed duplication issue with gift wrap
  code/obj/item.dm
  code/obj/item/gift.dm
Labels: bug

#3804 Rackable Shotguns
  code/WorkInProgress/rewardsLocker.dm
  code/modules/sound/soundCache.dm
  code/obj/item/gun/kinetic.dm
  sound/weapons/pump_action.ogg
  sound/weapons/shotgunshot.ogg
Labels: add to wiki, balance, feature, sound

#4013 Remove boomboots from syndicate crates
  code/datums/syndicate_buylist.dm
Labels: balance, input wanted

#4017 Fixed disk saving, alignment of damage indicators
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/CloningConsole.js
Labels: bug - major, tgui

#3860 Allows the detective scanner to scan objects up to 2 tiles away.
  code/obj/item/device/scanners.dm
  code/obj/storage/secure_closets.dm
Labels: add to wiki, balance

#4021 Remove unsupported macros from z2.dmm
  code/obj/landmark.dm
  maps/z2.dmm
Labels: bug, mapping

#3957 Adds Head of Sanitation hat
  code/obj/item/clothing/hats.dm
  icons/mob/head.dmi
  icons/obj/clothing/item_hats.dmi
Labels: add to wiki, sprites

#3698 Adds the ice dispenser and puts it in bars
  code/obj/item_dispensers.dm
  icons/obj/stationobjs.dmi
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
Labels: add to wiki, feature, mapping, sprites

#4020 Fixes donkpocket and honkpocket cooling duration
  code/modules/food_and_drink/snacks.dm
Labels: bug

#4028 40mm Riot Launcher improvements
  code/modules/projectiles/bullet.dm
  code/modules/sound/soundCache.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/items/gun.dmi
  sound/weapons/casings/casing-xl-01.ogg
  sound/weapons/casings/casing-xl-02.ogg
  sound/weapons/casings/casing-xl-03.ogg
  sound/weapons/casings/casing-xl-04.ogg
  sound/weapons/casings/casing-xl-05.ogg
  sound/weapons/casings/casing-xl-06.ogg
  sound/weapons/gunload_40mm.ogg
Labels: sound, sprites

#4032 Remove accidental incubator from Kondaru
  maps/kondaru.dmm
Labels: bug - minor, mapping

#3994 Changed the dir of some med scanners
  maps/kondaru.dmm
Labels: mapping

#4002 Documents and tweaks term_ping filtering option
  code/modules/networks/computer3/terminal.dm
Labels: QoL

#4022 Beartraps for Gannets
  code/obj/item/beartrap.dm
  goonstation.dme
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/items/weapons.dmi
Labels: feature, merge conflict, sprites

#4037 Soundcache cleanup
  code/modules/sound/soundCache.dm
Labels: sound

#4040 Human Resprite: Bandage Overlay
  icons/obj/surgery.dmi
Labels: human resprite project, sprites

#3991 Destiny Edits
  maps/destiny.dmm
Labels: add to wiki, bug, mapping

#4042 Destiny Mining Airbridge Fix
  maps/destiny.dmm
Labels: bug, bug - critical, mapping

#4011 Consistant Computer Lighting
  code/WorkInProgress/TempEngine.dm
  code/modules/medical/genetics/geneticsMachines.dm
  code/modules/power/monitor.dm
  code/obj/machinery/computer.dm
  code/obj/machinery/computer/cloning.dm
Labels: cleanliness

#4043 Move wizard shuttle away from title screen
  maps/z2.dmm
Labels: mapping

#4030 Resprites disposal pipes
  icons/obj/disposal.dmi
Labels: sprites

#4036 updates skull mask creation to accept all saws
  code/obj/item/organs/skull.dm
Labels: QoL, bug

#4041 Human resprite: lizards
  icons/mob/human.dmi
  icons/mob/lizard.dmi
Labels: bug - trivial, human resprite project, sprites

#4050 Human Resprite: Damage Overlays
  icons/mob/dam_human.dmi
Labels: human resprite project, sprites

#3998 Credits resprite
  code/obj/item/space_cash.dm
  icons/obj/items/items.dmi
Labels: add to wiki, sprites

#4064 bugfix for flashlight icons
  code/WorkInProgress/AbilityItem.dm
Labels: bug

#4014 Fixes industrial tables to auto adjust and makes pew deconstructable
  code/obj/item/table_rack_parts.dm
  code/obj/stool.dm
Labels: QoL, add to wiki, bug, feature

#4024 Ports tgstation#57081 tgui: Typescript and Jest update
  .github/DEV_GUIDE.md
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  browserassets/tgui/tgui-common.bundle.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.js
  code/modules/tgui_panel/tgui_panel.dm
  tgui/.eslintrc.yml
  tgui/.gitignore
  tgui/.yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  tgui/.yarn/releases/yarn-2.4.0.cjs
  tgui/.yarn/releases/yarn-2.4.1.cjs
  tgui/.yarn/sdks/eslint/lib/api.js
  tgui/.yarn/sdks/eslint/package.json
  tgui/.yarn/sdks/typescript/bin/tsc
  tgui/.yarn/sdks/typescript/bin/tsserver
  tgui/.yarn/sdks/typescript/lib/tsc.js
  tgui/.yarn/sdks/typescript/lib/tsserver.js
  tgui/.yarn/sdks/typescript/lib/typescript.js
  tgui/.yarn/sdks/typescript/package.json
  tgui/.yarnrc.yml
  tgui/README.md
  tgui/babel.config.js
  tgui/bin/tgui
  tgui/bin/tgui_.ps1
  tgui/docs/writing-tests.md
  tgui/global.d.ts
  tgui/jest.config.js
  tgui/package.json
  tgui/packages/common/react.spec.ts
  tgui/packages/common/react.ts
  tgui/packages/common/redux.js
  tgui/packages/tgui-dev-server/dreamseeker.js
  tgui/packages/tgui-dev-server/reloader.js
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/components/Box.tsx
  tgui/packages/tgui/components/Flex.tsx
  tgui/packages/tgui/components/Grid.js
  tgui/packages/tgui/components/LabeledList.tsx
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/components/Stack.tsx
  tgui/packages/tgui/package.json
  tgui/packages/tgui/routes.js
  tgui/tsconfig.json
  tgui/webpack.config.js
  tgui/yarn.lock
Labels: documentation, github, tgui

#4060 Complete Donut 2 overhaul
  code/map.dm
  maps/unused/donut2_new_walls.dmm
Labels: mapping

#4069 Maybe don't throw an error if you're not using a tsx tgui interface?
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/routes.js
Labels: tgui

#4070 Donut 2 Hotfix
  maps/unused/donut2_new_walls.dmm
Labels: mapping

#4052 Resprites lattices, catwalks
  icons/obj/grille.dmi
  icons/obj/structures.dmi
  icons/turf/floors.dmi
Labels: sprites

#4063 Human Resprite: Monkey damage sprites
  icons/mob/dam_monkey.dmi
Labels: human resprite project, sprites

#4073 Human Resprite: Corpses and NT rep
  icons/misc/Readstuff.dmi
  icons/misc/factionreps.dmi
  icons/misc/hstation.dmi
  icons/obj/decoration.dmi
Labels: human resprite project, sprites

#4071 Pulse rifle examine text
  code/obj/item/gun/energy.dm
Labels: QoL

#4046 Fixes thermal vision bugs
  _std/macros/mob_properties.dm
  code/datums/abilities/vampire.dm
  code/mob/living/life/sight.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/glasses.dm
  code/obj/item/organs/eye.dm
Labels: bug

#3980 Added single output mode to dispatch component
  code/WorkInProgress/MechanicMadness.dm
  code/datums/components/mechComp_signals.dm
Labels: add to wiki, feature

#4074 Small fix for handpuppet emote
  code/mob/living/carbon/human/procs/emote.dm
Labels: bug, style

#4048 Disability mult adjustment
  code/mob/living/life/disability.dm
Labels: bug

#4078 Ports tgstation#57825 Improve tgui routing to allow interface subdirectories
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/EmptyPlaceholder.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/Module.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/Tool.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/Tools.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/index.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/index.js
  tgui/packages/tgui/interfaces/GasCanister/Detonator.js
  tgui/packages/tgui/interfaces/GasCanister/index.js
  tgui/packages/tgui/routes.js
Labels: tgui

#4080 Removes resizable prop from tutorial-and-examples
  tgui/docs/tutorial-and-examples.md
Labels: documentation, tgui

#3873 Fixes serum bug and adds clarifications to lychanthropy and draculaculiasis
  code/datums/abilities/vampire.dm
  code/datums/abilities/werewolf.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/medical/diseases/vamplague.dm
Labels: bug, secret

#4061 Adds disorient resist to several outersuits and cleans kendo code a bit.
  code/obj/item/clothing/armor.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/kendo.dm
  code/z_adventurezones/biodome.dm
Labels: balance, cleanliness

#4044 Fixes an issue where vampires could inadvertently be booted to null space
  code/datums/abilities/vampire.dm
  code/datums/abilities/vampire/coffin.dm
  code/modules/projectiles/special.dm
Labels: bug

#4088 should fix using humanized monkeys to farm souls
  _std/macros/ismob.dm
  code/mob.dm
  code/obj/machinery/navbeacon.dm
Labels: balance, bug

#4067 Adds Hi-Vis to CE, engi, and mechanic lockers.
  code/obj/storage/secure_closets.dm
Labels: QoL

#4082 Spiders Don't Go There...
  code/datums/abilities/critter/spider.dm
Labels: bug

#4062 makes all cleanables set sampled to initial on pool
  code/obj/decal/cleanable.dm
Labels: bug

#3971 Makes flipping/rotating disposal pipes easier
  code/WorkInProgress/recycling/disposal-construction.dm
Labels: QoL, add to wiki

#4058 Resprites drinks.dmi
  code/modules/chemistry/tools/food_and_drink.dm
  icons/obj/foodNdrink/drinks.dmi
Labels: add to wiki, sprites

#4099 Human Resprite: Adjusts goggles
  icons/mob/eyes.dmi
Labels: human resprite project, sprites

#4005 Adds drains to manta's mining prefab
  assets/maps/prefabs/prefab_water_miner_manta.dmm
Labels: QoL, mapping

#4000 Revamps Display Cases
  code/obj/displaycase.dm
  code/obj/item/building_materials.dm
  maps/atlas.dmm
  maps/atlas_xmas_2020.dmm
  maps/clarion.dmm
  maps/clarion_xmas_2020.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogmap2_xmas_2020.dmm
  maps/cogmap_xmas_2019.dmm
  maps/cogmap_xmas_2020.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/donut3_xmas.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/horizon_xmas.dmm
  maps/icarus.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/manta_damaged.dmm
  maps/oshan.dmm
  maps/oshan_xmas.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/unused/atlas_old.dmm
  maps/unused/clarion_xmas_2018.dmm
  maps/unused/cogmap_new_walls_xmas_2017.dmm
  maps/unused/cogmap_xmas_2018.dmm
  maps/unused/concept.dmm
  maps/unused/destiny_xmas_2017.dmm
  maps/unused/devship.dmm
  maps/unused/donut2.dmm
  maps/unused/donut2_new_walls.dmm
  maps/unused/donut2_old.dmm
  maps/unused/halloween.dmm
  maps/unused/halloween12.dmm
  maps/unused/halloween14.dmm
  maps/unused/horizon_2019.dmm
  maps/unused/linemap.dmm
  maps/unused/old_trunkmap.dmm
  maps/unused/oldmap.dmm
  maps/unused/oshan_xmas_2018.dmm
  maps/unused/samedi.dmm
  maps/unused/trunkmap.dmm
  maps/unused/xmas.dmm
  maps/warwip/atlas_horizon_xmas_2019.dmm
  maps/wrestlemap.dmm
Labels: add to wiki, feature, mapping

#4094 Change rancher cams to use autoname and autotag
  code/obj/machinery/camera.dm
Labels: bug

#4096 Increase tgui max-len linting rule from 80 to 120
  tgui/.eslintrc.yml
Labels: tgui

#3845 Additional artifact stimulus
  code/modules/medical/diseases/space_plague.dm
  code/obj/artifacts/artifact_items/energy_gun.dm
  code/obj/artifacts/artifact_items/gun_cell.dm
  code/obj/artifacts/artifact_items/pitcher.dm
  code/obj/artifacts/artifact_items/power_cell.dm
  code/obj/artifacts/artifact_items/watering_can.dm
  code/obj/artifacts/artifactprocs.dm
  code/obj/artifacts/artifacts.dm
  code/obj/item.dm
Labels: QoL, add to wiki, bug, cleanliness, feature, rework

#4019 Plate / tray smashing nerf
  code/obj/item/kitchen.dm
Labels: add to wiki, balance, input wanted
