Repository goonstation/goonstation, pull requests merged in 2021-01, with the labels that each got.

#3128 Oshan Toxins pipe edits (color + rupture status)
  maps/oshan.dmm
  maps/oshan_xmas.dmm
Labels: mapping

#3207 fixes a floating light switch on oshan
  maps/oshan.dmm
Labels: bug - trivial, mapping

#3176 Lets janitors clean up ants and spiders off the floor
  assets/maps/prefabs/prefab_water_honk.dmm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/tools/dispensers.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/forensics/atom_forensic.dm
  maps/donut3.dmm
  maps/donut3_xmas.dmm
  maps/setpieces/owlzone.dmm
  maps/z2.dmm
Labels: QoL, feature, mapping

#3183 Reduce the capacity of water cooler bottles to 500 units
  code/modules/chemistry/tools/dispensers.dm
Labels: balance

#3063 Taking & putting clothes from and on heads
  code/obj/item/organs/head.dm
Labels: QoL, feature, stale

#3161 Rewrites fullauto
  _std/defines/component_defines.dm
  code/WorkInProgress/tarmStuff.dm
  code/datums/components/fullauto.dm
  code/mob/living.dm
  code/modules/interface/input.dm
  code/modules/interface/mob_input.dm
  code/obj/item/gun/kinetic.dm
  goonstation.dme
Labels: cleanliness, feature

#3182 Material Science - onEntered Fix
  code/atom.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
  code/modules/materials/Mat_ProcsDefines.dm
Labels: bug

#3197 Adds trashcarts near janitor's office on donut 3
  maps/donut3.dmm
  maps/donut3_xmas.dmm
Labels: mapping

#3134 Cog1&cog2 ranch tweaks
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogmap2_xmas_2020.dmm
  maps/cogmap_xmas_2020.dmm
Labels: mapping

#3214 tgui tooltip fix (tgstation/55905)
  browserassets/tgui/tgui-panel.bundle.css
  browserassets/tgui/tgui.bundle.css
  code/obj/item.dm
  tgui/packages/tgui/styles/components/Tooltip.scss
Labels: bug - minor, tgui

#3219 Fixes movement
  _std/defines/movement.dm
  _std/math.dm
  code/WorkInProgress/Railgun.dm
  code/datums/movement_controller/colosseum_putt.dm
  code/datums/movement_controller/obj_control.dm
  code/datums/movement_controller/pod.dm
  code/datums/movement_controller/sniper.dm
  code/datums/movement_controller/tank.dm
  code/mob/input.dm
  code/mob/living.dm
  code/modules/interface/input.dm
Labels: FUCK, QoL, bug - critical, performance

#3211 Adds Body Bag Boxes to Janitor Vendors
  code/modules/vending/vending.dm
Labels: QoL, input wanted

#3110 Cybernetic Hypospray QoL/UI pass
  code/modules/chemistry/tools/robospray.dm
  code/obj/item.dm
  code/obj/item/device/scanners.dm
  code/obj/item/hydroponics.dm
  code/obj/item/pens_writing_etc.dm
  code/obj/mining.dm
  code/obj/submachine/robotics.dm
Labels: QoL

#3178 Rework PDA alert routing
  _std/defines/jobs.dm
  code/WorkInProgress/Electronics.dm
  code/WorkInProgress/recycling/disposal.dm
  code/WorkInProgress/recycling/disposal_chute.dm
  code/WorkInProgress/recycling/mail_chute.dm
  code/mob/living/silicon/robot.dm
  code/modules/economy/shippingmarket.dm
  code/modules/economy/traders/trader.dm
  code/modules/medical/genetics/geneticsBooth.dm
  code/modules/networks/computer3/engine.dm
  code/modules/networks/computer3/sec_rec.dm
  code/modules/robotics/bot/secbot.dm
  code/modules/telescience/radiostation.dm
  code/obj/health_scanner.dm
  code/obj/item/ai_modules.dm
  code/obj/item/device/pda2/base_os.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/item/implant.dm
  code/obj/machinery/clonepod.dm
  code/obj/machinery/computer/QM_order.dm
  code/obj/machinery/computer/QM_supply.dm
  code/obj/machinery/manufacturer.dm
  code/obj/machinery/secscanner.dm
  code/obj/machinery/sleeper.dm
Labels: QoL, balance

#3131 Improve interactability with computers/machines for AI/cyborgs
  _std/machinery.dm
  code/WorkInProgress/TempEngine.dm
  code/WorkInProgress/construction/tools.dm
  code/WorkInProgress/multiContext.dm
  code/WorkInProgress/simroom.dm
  code/datums/embedded_controller.dm
  code/mob/dead/ai-camera.dm
  code/modules/atmospherics/portable/canister.dm
  code/modules/chemistry/Chemistry-Dispenser.dm
  code/modules/power/apc.dm
  code/modules/power/monitor.dm
  code/modules/power/pt_laser.dm
  code/modules/power/smes.dm
  code/modules/power/switchgear.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/modules/tgui/states/physical.dm
  code/obj.dm
  code/obj/machinery.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/computer/operating.dm
  code/obj/machinery/computer/secure_data.dm
  code/obj/machinery/dispenser.dm
  code/obj/machinery/espresso.dm
  code/obj/machinery/sleeper.dm
  code/obj/machinery/turret.dm
  code/procs/gamehelpers.dm
Labels: balance, bug - minor, input wanted

#3229 Mounted defibrillator for the Cairngorm
  maps/z2.dmm
Labels: QoL, mapping

#2947 Make killswitch timer count REAL ACTUAL SECONDS
  code/datums/hud/ai.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
  code/obj/machinery/computer/robotics.dm
Labels: balance

#3212 Removes the 20% probability for Chefs to have a Swedish accent
  code/datums/jobs.dm
Labels: QoL, feature, removal

#3209 Allows for throwing pills over tables
  code/modules/chemistry/tools/pills.dm
Labels: QoL

#2988 Converts chemistry dispenser to tgui
  browserassets/tgui/tgui-common.chunk.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/chemistry/Chemistry-Dispenser.dm
  tgui/packages/tgui/components/Tooltip.js
  tgui/packages/tgui/interfaces/ChemDispenser.js
  tgui/packages/tgui/styles/components/TooltipOverflow.scss
  tgui/packages/tgui/styles/interfaces/ChemDispenser.scss
  tgui/packages/tgui/styles/main.scss
Labels: feature, merge conflict, tgui

#3226 Adds a routing depot camera monitor to donut 3
  maps/donut3.dmm
Labels: QoL, mapping

#3238 Fixed chem dispenser buttons not being sorted correctly
  code/modules/chemistry/Chemistry-Dispenser.dm
Labels: QoL

#3240 Lighter base on the human resprite
  icons/mob/human.dmi
  icons/mob/human_head.dmi
Labels: human resprite project, sprites

#3175 show cyborg emotes as flying text / allow cyborgs to sigh and laugh
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/silicon/robot.dm
Labels: bug - minor

#3231 Fix AI's Unbolt All Airlocks and Remove All Electrification commands ignoring cut wires.
  _std/defines/door.dm
  code/mob/living/silicon/ai.dm
  code/obj/machinery/door/airlock.dm
Labels: bug

#3243 Fixed default amounts on chem dispenser
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/ChemDispenser.js
Labels: tgui

#3246 Persist add/remove amounts for chem dispensers
  browserassets/tgui/tgui.bundle.js
  code/modules/chemistry/Chemistry-Dispenser.dm
  tgui/packages/tgui/interfaces/ChemDispenser.js
Labels: QoL, bug - minor, tgui

#3245 make APC dialog update when buttons are pressed
  code/modules/power/apc.dm
Labels: bug - trivial

#3232 Guardbuddies can shoot guns at pointblank
  code/modules/robotics/bot/guardbot.dm
  code/obj/item/gun/gun_parent.dm
Labels: feature

#3241 Nuke Ops balance pass + additional utility items
  code/mob/living/carbon/human/monkeys.dm
  code/modules/chemistry/tools/patches.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/shoes.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/storage/ammo_pouches.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/landmark.dm
  code/obj/machinery/nuclearbomb.dm
  code/obj/storage/crates.dm
  code/obj/submachine/weapon_vendor.dm
  code/procs/antagonist_procs.dm
Labels: balance, feature, rework

#2803 Cogmap 1 modernisations 2 + Item Offsets overhaul
  code/area.dm
  maps/cogmap.dmm
Labels: bug, mapping, merge conflict

#3248 Fix MPRT pouch description
  code/obj/submachine/weapon_vendor.dm
Labels: bug - trivial

#3234 New pda sprites
  icons/obj/items/pda.dmi
Labels: sprites

#3059 Allows for a pre-round purchasable for removing legs
  code/modules/economy/persistent_bank_purchases.dm
Labels: feature

#3097 Shard stepping rework
  code/obj/item/material.dm
Labels: rework

#3107 Colours medical patch boxes according to their contents' reagents
  code/modules/chemistry/Chemistry-Machinery.dm
  code/obj/item/generic_box.dm
  icons/obj/items/storage.dmi
Labels: QoL, feature, sprites, stale

#3072 Electrical Maintenance Crate for cargo (inc. multitool)
  code/datums/supply_packs.dm
Labels: balance, feature, input wanted, stale

#3147 Add mult support for machinery where applicable
  code/modules/atmospherics/portable/scrubber.dm
  code/modules/power/pt_laser.dm
  code/modules/power/smes.dm
  code/modules/robotics/bot/buttbot.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/obj/machinery/cell_charger.dm
  code/obj/machinery/singularity.dm
Labels: balance, input wanted

#3230 Floor Goblin tweaks
  code/datums/abilities/diabolical.dm
  code/modules/antagonists/floor_goblin/floor_goblin.dm
Labels: bug - minor

#3251 Disable hover effect on tooltips.
  browserassets/css/tooltip.css
Labels: tgui

#3253 Allow borgs to break down watertank/fountain
  code/modules/chemistry/tools/dispensers.dm
Labels: bug - minor

#3179 Clone scanning now makes a ping noise
  code/obj/machinery/computer/cloning.dm
Labels: QoL, input wanted

#3190 Z5 Prefab - Von Ricken
  assets/maps/prefabs/prefab_von_ricken.dmm
  code/area.dm
  code/modules/medical/surgery_tools.dm
  code/modules/power/lighting.dm
  code/modules/worldgen/GenerateMining.dm
  code/obj/item/clown_items.dm
  code/obj/item/device/lights.dm
  code/obj/item/storage/secure_safe.dm
Labels: balance, mapping

#3224 Enables use of headgear and descriptions for alternative jumpsuits.
  code/modules/economy/persistent_bank_purchases.dm
Labels: feature

#3227 Poison Bottle Bundle
  code/datums/syndicate_buylist.dm
  code/obj/item/storage/weapon_security.dm
Labels: balance, feature

#3237 Prevent putting storage in itself
  code/obj/item/storage/small_storage_parent.dm
Labels: bug

#3239 Disable remote use of modules by silicon folks
  code/obj.dm
  code/obj/machinery/sleeper.dm
Labels: bug

#3242 auto-subscribe cyborgs to relevant PDA mailgroups
  code/mob/living/silicon/robot.dm
  code/modules/robotics/robot/module/brobocop.dm
  code/modules/robotics/robot/module/chemistry.dm
  code/modules/robotics/robot/module/civilian.dm
  code/modules/robotics/robot/module/engineering.dm
  code/modules/robotics/robot/module/medical.dm
  code/modules/robotics/robot/module/mining.dm
  code/modules/robotics/robot/module/parent.dm
  code/obj/item/device/pda2/pda2.dm
Labels: feature

#3247 Glass recycler plate&round glass fix
  code/obj/machinery/glass_recycler.dm
Labels: bug

#3252 Put allergies in the allergy field.
  code/datums/datacore.dm
Labels: bug - minor

#3254 Fix wifi component mangling incoming packets.
  code/WorkInProgress/MechanicMadness.dm
  code/procs/helpers.dm
Labels: bug - trivial

#3258 Backpack and other back item sprites
  icons/mob/back.dmi
Labels: human resprite project, sprites

#3201 Gives ranch access to more jobs
  code/procs/access.dm
Labels: balance

#3213 Character creator now renders mutant races.
  code/datums/preferences.dm
  code/datums/traits.dm
  code/mob/living/carbon/human/procs/update_icon.dm
Labels: bug - minor

#3260 Move the pool locker room camera in Kondaru
  maps/kondaru.dmm
Labels: mapping

#3261 color-code APC statuses on power monitoring screen
  code/modules/power/monitor.dm
Labels: QoL

#3264 Adds a filing cabinet to Donut 3 Customs
  maps/donut3.dmm
Labels: bug, mapping

#3265 Changes Cog2's Chapel Storage room to be a part of maintance.
  maps/cogmap2.dmm
Labels: bug, mapping

#3181 tgui-ify the sleeper console
  browserassets/tgui/tgui-common.chunk.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/sleeper.dm
  tgui/packages/tgui/interfaces/Sleeper.js
Labels: tgui

#3262 Fix APCs being able to be turned on via ctrl-click from a cyborg or AI if they're broken
  code/modules/power/apc.dm
Labels: bug

#3034 Removes duplicate head of staff lockers from Destiny
  maps/destiny.dmm
Labels: mapping

#3203 Lets some computers re-scan for equipment with a multitool
  code/datums/banking.dm
  code/modules/medical/genetics/geneticsMachines.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/computer/operating.dm
  code/obj/mining.dm
  icons/obj/computer_frame.dmi
Labels: QoL, feature, sprites

#3267 Mask sprites
  icons/mob/mask.dmi
Labels: human resprite project, sprites

#3269 Belt sprites
  icons/mob/belt.dmi
Labels: human resprite project, sprites

#3205 Spy rewards adjusted by target difficulty
  code/datums/gamemodes/spy_theft.dm
Labels: balance, input wanted, rework

#3268 Adds Beepsky's House and a few pet/monkey spawns to Atlas
  maps/atlas.dmm
Labels: mapping

#3199 Add cigars to vending machines
  code/modules/vending/vending.dm
Labels: feature

#3160 add an extra message when using the wrong hand to perform eye surgery
  code/modules/medical/surgery_procs.dm
Labels: QoL

#3139 Katanas sever tails and butts
  code/obj/item/misc_weapons.dm
  code/obj/item/organ_holder.dm
Labels: feature

#3270 Self-tieing to Conveyors and Borgs
  code/WorkInProgress/recycling/conveyor.dm
  code/mob.dm
  code/mob/living/silicon/robot.dm
  code/mob/transform_procs.dm
Labels: balance, bug

#3184 Fixes and changes to capulettium and capulettium plus
  code/mob/living.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/modules/chemistry/Reagents-Misc.dm
Labels: balance, bug - minor, feature

#3274 Always play the "escape shuttle is enroute" sound when the shuttle is called.
  code/datums/gamemodes/gm_parent.dm
  code/mob/living.dm
  code/modules/transport/shuttle/shuttle_controller.dm
  code/obj/machinery/computer/communications.dm
Labels: feature

#3278 Adds an office supply locker to the Afterlife Bar
  maps/z2.dmm
Labels: mapping

#3279 Resolve runtimes when Reactor Stats referenced objects are exploded
  code/modules/power/reactor_stats.dm
Labels: bug - minor

#3282 Gimmick Suits
  icons/mob/overcoats/worn_suit_gimmick.dmi
Labels: human resprite project, sprites

#3286 Adds a "Reset Purchase" on the Spacebux purchase list
  code/modules/economy/persistent_bank_purchases.dm
Labels: QoL

#3283 A "Letter Display" MechComp component
  code/WorkInProgress/MechanicMadness.dm
  code/modules/vending/vending.dm
  code/obj/item/book.dm
  icons/misc/mechanicsExpansion.dmi
Labels: add to wiki, feature, sprites

#3288 Sleeper UI tweaks
  code/obj/machinery/sleeper.dm
Labels: bug - trivial

#3263 Adds mime clothes to Geoff Honkington's wares.
  code/datums/commodity.dm
  code/modules/economy/trader.dm
  code/obj/item/storage/clothing.dm
  icons/mob/inhand/hand_storage.dmi
  icons/obj/items/storage.dmi
Labels: input wanted, sprites

#3284 Yellow tool variants for engineering jobs
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/storage/toolbox.dm
  code/obj/item/tool/crowbar.dm
  code/obj/item/tool/screwdriver.dm
  code/obj/item/tool/wirecutters.dm
  code/obj/item/tool/wrench.dm
  code/obj/storage/secure_closets.dm
  icons/mob/inhand/tools/screwdriver.dmi
  icons/mob/inhand/tools/wirecutters.dmi
  icons/obj/items/tools/crowbar.dmi
  icons/obj/items/tools/screwdriver.dmi
  icons/obj/items/tools/wirecutters.dmi
  icons/obj/items/tools/wrench.dmi
Labels: sprites

#3287 Reskin meteor showers on underwater maps to cybershark attacks.
  code/modules/events/meteor_shower.dm
Labels: feature

#3281 Donut 3 AI intercoms
  maps/donut3.dmm
Labels: mapping

#3296 delete a single space character from the code to fix the AI getting other players' menus stuck in their UI
  code/WorkInProgress/multiContext.dm
Labels: bug - minor

#3299 Fix cyborgs not losing their limbs when their limbs are destroyed.
  code/WorkInProgress/Hydrothings.dm
  code/mob/living/silicon/robot.dm
  code/mob/melee_attack_procs.dm
  code/obj/critter/wendigo.dm
Labels: bug - major

#3291 Give conspirators a secret radio frequency to communicate in
  _std/defines/radio.dm
  browserassets/html/traitorTips/conspiracyTips.html
  code/datums/gamemodes/conspiracy.dm
  code/datums/gamemodes/nuclear.dm
  code/procs/antagonist_procs.dm
Labels: feature

#3280 Power Checker Updates (Vents!)
  code/WorkInProgress/TempEngine.dm
  code/datums/controllers/sea_hotspot_controls.dm
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/machinery/singularity.dm
Labels: feature

#3303 fix APC maintenance for borgs / fix compact sleeper rename
  code/modules/power/apc.dm
  code/obj/machinery/sleeper.dm
Labels: bug - trivial

#3259 Expands and alters nuke targets for current rotation maps
  code/area.dm
  code/map.dm
  icons/turf/areas.dmi
  maps/clarion.dmm
Labels: balance, input wanted, mapping, sprites

#3319 give eyebot AI shells the AI headset (matches cyborg shells)
  code/mob/living/silicon/hivebot.dm
Labels: bug - minor

#3290 Botany Field Guide
  browserassets/images/pocket_guides/botanyguide.png
  code/datums/jobs.dm
  code/obj/item/paper.dm
  icons/obj/writing.dmi
Labels: feature, sprites

#3308 Adds ValuChimp vendor to Cog1 monkey dome
  maps/cogmap.dmm
Labels: mapping

#3318 small patho fixes
  code/mob/melee_attack_procs.dm
  code/modules/medical/pathology/pathogen_machines.dm
  icons/obj/pathology.dmi
Labels: balance, bug - minor, sprites

#3315 Donut 3 brig fixes
  maps/donut3.dmm
Labels: bug, mapping

#3320 small fix to swat mask job reward
  code/WorkInProgress/rewardsLocker.dm
Labels: bug - minor

#3321 Cog1~Correct mechanics Mail Router & Chute, re-add Genetics Circuit Board
  maps/cogmap.dmm
Labels: bug, mapping

#3322 attack_self() click delay on two items
  _std/defines/item.dm
  code/mob/living.dm
  code/modules/chemistry/tools/patches.dm
  code/obj/item/card.dm
  code/obj/item/cigarette.dm
  code/obj/item/coin.dm
Labels: balance, bug

#3210 Tracegases as associative list
  _std/macros/atmos.dm
  code/WorkInProgress/TempEngine.dm
  code/datums/critter_mobs/health/suffocation.dm
  code/datums/pipe_network.dm
  code/datums/pipeline.dm
  code/mob/living/life/breath.dm
  code/modules/admin/diagnostics.dm
  code/modules/admin/randomverbs.dm
  code/modules/atmospherics/FEA_DEBUG.dm
  code/modules/atmospherics/FEA_gas_mixture.dm
  code/modules/atmospherics/FEA_turf_tile.dm
  code/modules/atmospherics/machinery/filter.dm
  code/modules/atmospherics/machinery/mixer.dm
  code/modules/atmospherics/machinery/pipe.dm
  code/modules/atmospherics/machinery/retrofilter.dm
  code/modules/atmospherics/machinery/unary/vent_scrubber.dm
  code/modules/atmospherics/portable/canister.dm
  code/modules/atmospherics/portable/scrubber.dm
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/modules/power/reactor_stats.dm
  code/obj/airbridge.dm
  code/obj/item/tank.dm
  code/obj/machinery/air_sensor.dm
  code/obj/machinery/alarm.dm
Labels: help wanted, performance

#3305 Cow mutantrace changes
  _std/macros/ismob.dm
  code/datums/mutantraces.dm
  code/mob/living/carbon/human.dm
  code/mob/melee_attack_procs.dm
  code/obj/item.dm
  code/obj/item/clothing.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/glasses.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/masks.dm
  code/obj/item/clothing/shoes.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/glass.dm
  code/obj/item/grab.dm
  code/obj/item/material.dm
  code/obj/item/mob_parts/human_parts.dm
Labels: add to wiki, feature

#3289 Changes the wording of Asimov Law 3 slightly
  code/datums/ai_laws.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
Labels: add to wiki, input wanted, rework

#3323 Adds debuffs for hunger and thirst motives, removes dropped clicks
  code/datums/sims.dm
  code/mob/living.dm
  code/mob/melee_attack_procs.dm
  code/modules/status_system/statusFoodBuffs.dm
  code/modules/status_system/statusSystem.dm
Labels: add to wiki, input wanted, rework

#3302 Resprites syringes
  icons/obj/syringe.dmi
Labels: sprites

#3327 Pathology stuff iii
  code/mob/living/carbon/human.dm
  code/modules/medical/pathology/pathogen.dm
  code/modules/medical/pathology/pathogen_machines.dm
  code/modules/medical/pathology/pathogen_symptoms.dm
  icons/obj/pathology.dmi
Labels: add to wiki, balance, bug - trivial, sprites

#3333 Fixes monocle typo
  code/modules/vending/clothingbooth_items.dm
Labels: bug - trivial

#3335 Adds gas tank dispenser to oshans toxins
  maps/oshan.dmm
Labels: mapping

#3300 Removes alt cap armour and turns it into a fancy coat. Also makes the HoP's Naval coat into more of a coat.
  code/WorkInProgress/rewardsLocker.dm
  code/obj/item/clothing/armor.dm
  code/obj/storage/secure_closets.dm
  icons/mob/inhand/overcoat/hand_suit_armor.dmi
  icons/mob/overcoats/worn_suit_armor.dmi
  icons/obj/clothing/overcoats/item_suit_armor.dmi
Labels: add to wiki, balance, sprites

#3325 Patho fix two
  browserassets/js/pathoui-script.js
  code/datums/sims.dm
  code/modules/medical/pathology/pathogen_machines.dm
Labels: add to wiki, balance, bug - trivial

#3340 Gimmick Jumpsuits Sprites
  icons/mob/jumpsuits/worn_js_gimmick.dmi
Labels: human resprite project, sprites

#3343 Fix alignment of No Cell status in the power monitoring computer.
  code/modules/power/monitor.dm
Labels: bug - trivial

#3342 Fancy TGUI-based alert() system
  browserassets/tgui/tgui-common.chunk.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/admin/gibverbs.dm
  code/modules/tgui/tgui_alert.dm
  goonstation.dme
  tgui/packages/tgui/interfaces/AlertModal.js
  tgui/packages/tgui/styles/interfaces/AlertModal.scss
  tgui/packages/tgui/styles/main.scss
Labels: QoL, feature, tgui

#3341 tgui code style improvements
  browserassets/tgui/tgui-common.chunk.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.js
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/CloningConsole.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/EmptyPlaceholder/index.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/Module.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/Tool.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/Tools.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/index.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/style.js
  tgui/packages/tgui/interfaces/Sleeper.js
  tgui/packages/tgui/interfaces/common/HealthStat.js
Labels: documentation, tgui

#3326 Allow setting signal builder component start/end strings through MechComp signals
  code/WorkInProgress/MechanicMadness.dm
Labels: feature

#3122 Customizable PDA ringtones
  _std/defines/jobs.dm
  browserassets/html/traitorTips/revTips.html
  browserassets/html/traitorTips/spy_theft_Tips.html
  browserassets/html/traitorTips/traitorTips.html
  code/WorkInProgress/Electronics.dm
  code/WorkInProgress/recycling/disposal.dm
  code/WorkInProgress/recycling/disposal_chute.dm
  code/WorkInProgress/recycling/mail_chute.dm
  code/datums/computerfiles.dm
  code/datums/gamemodes/waldo.dm
  code/datums/pda_ringtones.dm
  code/datums/syndicate_buylist.dm
  code/mob/living/carbon/human/monkeys.dm
  code/modules/economy/traders/generic.dm
  code/modules/vending/vending.dm
  code/obj/item/device/pda2/base_os.dm
  code/obj/item/device/pda2/base_program.dm
  code/obj/item/device/pda2/cartridges.dm
  code/obj/item/device/pda2/fileshare.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/device/pda2/ringtone.dm
  code/obj/item/device/pda2/smallprogs.dm
  code/procs/antagonist_procs.dm
  goonstation.dme
  sound/machines/phones/ringtones/ringers1.ogg
  sound/machines/phones/ringtones/ringers10.ogg
  sound/machines/phones/ringtones/ringers2.ogg
  sound/machines/phones/ringtones/ringers3.ogg
  sound/machines/phones/ringtones/ringers4.ogg
  sound/machines/phones/ringtones/ringers5.ogg
  sound/machines/phones/ringtones/ringers6.ogg
  sound/machines/phones/ringtones/ringers7.ogg
  sound/machines/phones/ringtones/ringers8.ogg
  sound/machines/phones/ringtones/ringers9.ogg
  sound/machines/phones/ringtones/ringershort1.ogg
  sound/machines/phones/ringtones/ringershort10.ogg
  sound/machines/phones/ringtones/ringershort2.ogg
  sound/machines/phones/ringtones/ringershort3.ogg
  sound/machines/phones/ringtones/ringershort4.ogg
  sound/machines/phones/ringtones/ringershort5.ogg
  sound/machines/phones/ringtones/ringershort6.ogg
  sound/machines/phones/ringtones/ringershort8.ogg
  sound/machines/phones/ringtones/ringershort9.ogg
  sound/machines/phones/ringtones/ringtone1_short.ogg
  sound/machines/phones/ringtones/ringtone1_short_01.ogg
  sound/machines/phones/ringtones/ringtone1_short_02.ogg
  sound/machines/phones/ringtones/ringtone1_short_03.ogg
  sound/machines/phones/ringtones/ringtone2_short.ogg
  sound/machines/phones/ringtones/ringtone2_short_01.ogg
  sound/machines/phones/ringtones/ringtone2_short_02.ogg
  sound/machines/phones/ringtones/ringtone2_short_03.ogg
  sound/machines/phones/ringtones/ringtone3_short.ogg
  sound/machines/phones/ringtones/ringtone4_short.ogg
  sound/machines/phones/ringtones/ringtone5_short.ogg
Labels: QoL, add to wiki, feature, input wanted, rework, sound

#3309 Add toast sandwich and Worcestershire sauce.
  code/datums/cookingrecipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: feature

#3338 Add an ABCU to Donut 3
  maps/donut3.dmm
Labels: mapping

#3351 Adds ABCU marker to ABCU QM crate
  code/datums/supply_packs.dm
Labels: bug

#3022 Adds the cyborg screen head
  code/datums/manufacturing.dm
  code/mob/living/silicon/robot.dm
  code/obj/item/mob_parts/robot_parts.dm
  code/obj/machinery/manufacturer.dm
  icons/mob/robots.dmi
  icons/obj/robot_parts.dmi
Labels: feature, sprites

#3352 Fixes some minor capitalisation in the clothing booth entries
  code/modules/vending/clothingbooth_items.dm
Labels: bug - trivial

#3357 fixes surstromming
  code/modules/food_and_drink/snacks.dm
Labels: bug

#3339 Fixes storage-storage icon weirdness
  code/obj/item/cameras.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/storage/bible.dm
  code/obj/item/storage/secure_safe.dm
  code/obj/item/storage/small_storage_parent.dm
  code/obj/item/storage/toolbox.dm
  code/obj/item/toilets.dm
Labels: bug

#3355 Jumpsuit in-hands Human Resprite
  icons/mob/inhand/jumpsuit/hand_js.dmi
  icons/mob/inhand/jumpsuit/hand_js_athletic.dmi
  icons/mob/inhand/jumpsuit/hand_js_gimmick.dmi
  icons/mob/inhand/jumpsuit/hand_js_misc.dmi
  icons/mob/inhand/jumpsuit/hand_js_pride.dmi
  icons/mob/inhand/jumpsuit/hand_js_rank.dmi
Labels: human resprite project, sprites

#3364 re-add icon spacing to manufacturers
  code/obj/machinery/manufacturer.dm
Labels: bug - minor

#3362 Corrects access of Cog1 QM SecPoint Brig Door
  maps/cogmap.dmm
Labels: bug - major, mapping

#3366 Removes a few more bathroom cameras on Destiny
  maps/destiny.dmm
Labels: mapping

#3133 Clarion perspective tilesets
  code/map.dm
  maps/clarion.dmm
Labels: mapping

#3346 Mimes Scream Silently
  code/datums/jobs.dm
  code/mob/living/carbon/human/procs/emote.dm
Labels: feature

#3369 updated civilian pda sprite
  icons/obj/items/pda.dmi
Labels: sprites

#3337 Patho stuff IV
  code/modules/medical/pathology/pathogen.dm
  code/modules/medical/pathology/pathogen_microbodies.dm
  code/modules/medical/pathology/pathogen_suppressants.dm
  code/modules/medical/pathology/pathogen_symptoms.dm
  code/modules/medical/pathology/pathogen_tools.dm
  code/obj/decal/cleanable.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/masks.dm
  icons/effects/blood.dmi
Labels: add to wiki, balance, bug - minor, feature, sprites

#3307 Ship Component Market Crash (QM rebalance/slight additions)
  code/datums/supply_packs.dm
  code/modules/economy/traders/generic.dm
Labels: balance, merge conflict

#3329 Werewolf transformation now respects your previous mutant race
  code/datums/abilities/misc/werewolf_transform.dm
  code/datums/abilities/werewolf.dm
  code/datums/abilities/werewolf/werewolf_spread_affliction.dm
  code/datums/abilities/werewolf/werewolf_transform.dm
  code/datums/mutantraces.dm
  code/mob/living/carbon/human.dm
  code/modules/medical/diseases/lycanthropy.dm
  code/modules/medical/genetics/bioEffects/beneficial.dm
Labels: bug

#3376 Clarion powernet fixes
  maps/clarion.dmm
Labels: bug - major, mapping

#3384 Allow APCs to exit "fully charged" state.
  code/modules/power/apc.dm
Labels: bug - major

#3361 Update artifact bombs a tiny bit
  code/datums/gauntlet/crittergauntlet.dm
  code/obj/artifacts/artifact_objects/bombs.dm
  code/obj/artifacts/artifactprocs.dm
Labels: add to wiki, balance, bug - minor, feature

#3371 Human resprite underwear
  icons/mob/human_underwear.dmi
Labels: human resprite project, sprites

#3372 Enable locker entanglement
  code/modules/events/locker_entanglement.dm
Labels: feature, input wanted

#3388 Fixes briefcase in-hand sprites
  code/WorkInProgress/infernal_contracts.dm
  code/datums/components/foldable.dm
  code/datums/gamemodes/gangwar.dm
  code/modules/networks/computer3/computer3.dm
  code/obj/item/device/transfer_valve.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/storage/secure_safe.dm
  code/obj/item/storage/small_storage_parent.dm
Labels: bug, bug - minor

#3387 fix handhelds artifacts with pitcher
  code/obj.dm
  code/obj/artifacts/artifacts.dm
Labels: bug

#3397 Adds handheld vacuum cleaners
  browserassets/images/tooltips/suck.png
  code/WorkInProgress/ItemSpecials.dm
  code/obj/item/clothing/trash_bags.dm
  code/obj/item/mops_cleaners.dm
  code/obj/storage/closets.dm
  code/obj/storage/secure_closets.dm
  icons/effects/effects.dmi
  icons/obj/janitor.dmi
Labels: add to wiki, feature, sprites

#3389 Virvatuli's "Office"
  code/z_adventurezones/earth.dm
  maps/z2.dmm
Labels: mapping

#3370 Guitar Instrument
  code/datums/jobs.dm
  code/obj/item/instruments.dm
  sound/musical_instruments/guitar/guitar_1.ogg
  sound/musical_instruments/guitar/guitar_10.ogg
  sound/musical_instruments/guitar/guitar_11.ogg
  sound/musical_instruments/guitar/guitar_12.ogg
  sound/musical_instruments/guitar/guitar_2.ogg
  sound/musical_instruments/guitar/guitar_3.ogg
  sound/musical_instruments/guitar/guitar_4.ogg
  sound/musical_instruments/guitar/guitar_5.ogg
  sound/musical_instruments/guitar/guitar_6.ogg
  sound/musical_instruments/guitar/guitar_7.ogg
  sound/musical_instruments/guitar/guitar_8.ogg
  sound/musical_instruments/guitar/guitar_9.ogg
Labels: feature, sound

#3304 Gives the Head of Security an anti-mindslave health implant
  code/datums/jobs.dm
  code/obj/item/implant.dm
Labels: add to wiki, balance, input wanted

#3398 Remove projectile nomsg
  code/mob/living.dm
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/projectile_parent.dm
  code/modules/projectiles/special.dm
Labels: cleanliness

#3391 Fixes Rad Poison Crossbow using bullet sprite
  code/modules/projectiles/projectile_parent.dm
  code/modules/projectiles/radbolt.dm
Labels: bug

#3395 Assorted CDC fixes
  code/obj/machinery/computer/QM_supply.dm
Labels: bug, runtime

#3316 add some extra effects to artifact cells
  code/obj/artifacts/artifact_items/power_cell.dm
  code/obj/artifacts/artifactprocs.dm
Labels: add to wiki, balance, feature

#3390 Adds a Stations and Syndicates rulebook and monster manual
  code/modules/vending/vending.dm
  code/obj/item/book.dm
  code/obj/item/storage/misc.dm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/manta.dmm
Labels: add to wiki, feature, input wanted, mapping, rework

#3404 Give NTSO the same radio coverage as HoS
  code/obj/item/device/radios/headsets.dm
Labels: balance

#3354 Adds paper implant "cases", cleans up implant case code
  code/modules/medical/surgery_procs.dm
  code/obj/item/implant.dm
  code/obj/machinery/clonepod.dm
  icons/obj/surgery.dmi
Labels: bug - minor, cleanliness, feature, sprites

#3425 Adds pajamas!
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/hats.dm
  icons/mob/head.dmi
  icons/mob/jumpsuits/worn_js_gimmick.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/uniforms/item_js_gimmick.dmi
Labels: feature, sprites

#3350 GPS Waypoint Pulse and Custom Names
  code/WorkInProgress/SomepotatosStuff.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
Labels: QoL, mapping

#3415 move EMP to pulse rilfe, replace with bouncy on waveguns
  code/modules/projectiles/energy_bolt.dm
  code/modules/projectiles/wavegun.dm
  code/obj/item/gun/energy.dm
Labels: add to wiki, balance, feature
