Repository goonstation/goonstation, pull requests merged in 2021-04, with the labels that each got.

#4179 Small Destiny Cleanup
  maps/destiny.dmm
Labels: mapping, size/L

#4185 Adds a secondary janitor's locker to Oshan
  maps/oshan.dmm
Labels: mapping, size/XS

#4133 Makes glass recycler code prettier, makes a bunch of things unrecyclable
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/chemistry/tools/fuel_tanks.dm
  code/modules/food_and_drink/discount_dans.dm
  code/modules/food_and_drink/drinks.dm
  code/obj/artifacts/artifact_items/watering_can.dm
  code/obj/item/hydroponics.dm
  code/obj/machinery/glass_recycler.dm
Labels: cleanliness, size/L

#4186 Human Resprite: Werewolf sprites (by Erin)
  code/datums/mutantraces.dm
  icons/mob/werewolf.dmi
Labels: human resprite project, sprites

#4178 VPN block update
  code/client.dm
Labels: merge conflict, size/M

#4202 Update Gang Leader intro to mention Set Gang Base ability
  code/datums/gamemodes/gangwar.dm
Labels: QoL, size/XS

#4150 Use enviroment for bodytemp calculation in non-sealed vehicles
  code/mob/living/life/bodytemp.dm
Labels: add to wiki, bug, size/XS

#4152 Small vehicles will no longer save you from burning alive
  code/obj/vehicle.dm
Labels: add to wiki, balance, feature, help wanted, size/XS

#4172 Donut 2 Fixes
  maps/unused/donut2_new_walls.dmm
Labels: mapping, size/XXL

#4201 Human Resprite: Merchants and some more misc things
  icons/misc/exploration.dmi
  icons/obj/soup_pot.dmi
  icons/obj/trader.dmi
Labels: human resprite project, sprites

#4199 Minor Singulo Fixes
  code/obj/machinery/singularity.dm
Labels: bug, size/S

#4106 Add map_debug_panel info to Runtime Checker output
  code/modules/admin/diagnostics.dm
  code/world.dm
Labels: feature

#3963 Makes splitting/stacking ores and material bars easier, fixes wood/bamboo not stacking
  code/modules/materials/Mat_RawMaterials.dm
  code/obj/item/material.dm
Labels: QoL, bug, size/M

#4197 Singularity description
  code/obj/machinery/singularity.dm
Labels: QoL, size/XS

#3967 Adds a new space prefab, the candy shop, fixes a couple minor bugs
  assets/maps/prefabs/prefab_candy_shop.dmm
  assets/maps/prefabs/prefab_drug_den.dmm
  code/area.dm
  code/modules/power/lighting.dm
  code/modules/worldgen/prefabs.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/storage/secure_safe.dm
Labels: bug, feature, mapping

#4077 Human Resprite: Pathology gear, janitor cap
  icons/mob/head.dmi
  icons/mob/jumpsuits/worn_js_rank.dmi
  icons/mob/overcoats/worn_suit.dmi
Labels: human resprite project, sprites

#4218 Adds access spawner to the MD's room on horizon
  maps/horizon.dmm
Labels: bug, mapping, size/XS

#4223 Fast fix on Destiny pipes
  maps/destiny.dmm
Labels: bug, mapping, size/XS

#4116 Remove a few items from spy thief reward pool
  code/datums/syndicate_buylist.dm
Labels: add to wiki, balance, input wanted

#4194 Shambler + Headspider perspective
  code/datums/mutantraces.dm
  icons/misc/critter.dmi
  icons/mob/abomination.dmi
Labels: human resprite project, size/XS, sprites

#4227 Fixes "Leave pod" button and limb targetting UI
  code/datums/hud/zone_sel.dm
  code/modules/transport/pods/vehicle.dm
Labels: bug, size/XS

#4212 Nuclear Operative melee class code only
  code/obj/item/clothing/gloves.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/shoes.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/misc_weapons.dm
  code/obj/storage/crates.dm
  code/obj/submachine/weapon_vendor.dm
  icons/mob/back.dmi
  icons/mob/head.dmi
  icons/mob/inhand/hand_cswords.dmi
  icons/mob/overcoats/worn_suit_hazard.dmi
  icons/obj/64x32.dmi
Labels: add to wiki, feature, size/L, sprites

#4210 makes NTSO, Sec Assistants, and part-time VOs heal more from donuts
  code/modules/food_and_drink/snacks.dm
Labels: balance, size/XS

#4226 Organ Sprites
  icons/obj/surgery.dmi
Labels: size/XS, sprites

#4224 Mentorhelp sounds
  _std/defines/sound.dm
  code/client.dm
  code/modules/sound/sound.dm
  code/modules/sound/soundCache.dm
  code/world.dm
  interface/skin.dmf
  sound/misc/mentorhelp.ogg
Labels: QoL, size/S, sound

#4233 Nuke Ops Knight - patch 1
  code/obj/item/clothing/gloves.dm
  code/obj/item/misc_weapons.dm
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/overcoats/item_suit_hazard.dmi
Labels: size/M, sprites

#4240 Horizon HoS door fix
  maps/horizon.dmm
Labels: bug, mapping, size/XS

#4236 Fixes paper preview and viewing for fonts with multiple families
  browserassets/tgui/tgui.bundle.js
  code/WorkInProgress/HaineWhatever.dm
  code/obj/item/pens_writing_etc.dm
  tgui/packages/tgui/interfaces/PaperSheet.js
Labels: bug, size/S, tgui

#4235 Human Resprite: Shambler arms (on humans) and adjusts light cyborg arms
  icons/mob/human.dmi
Labels: human resprite project, size/XS, sprites

#4068 Multitool data diagnostics
  code/obj/item/tool/multitool.dm
Labels: QoL, add to wiki, feature

#4205 Renames inappropriate Grones soda
  code/modules/food_and_drink/drinks.dm
Labels: size/XS

#4198 Allows security personnel to baton-fry dough into donuts
  code/modules/food_and_drink/ingredients.dm
Labels: add to wiki, feature, size/S

#4243 uncapitalises fuel tanks name
  code/modules/chemistry/tools/fuel_tanks.dm
Labels: cleanliness, size/XS

#4206 Note in Toxins Briefcase
  code/obj/item/paper.dm
  code/obj/item/storage/small_storage_parent.dm
Labels: help wanted, size/S

#4174 Allow critters to bind abilities to key combos
  code/datums/abilities/critter.dm
  code/modules/interface/mob_input.dm
Labels: balance, bug, feature, size/L

#4247 Organ Ability Sprites
  icons/mob/organ_abilities.dmi
Labels: size/XS, sprites

#4219 Local Generator + TEG Sprites
  code/modules/atmospherics/machinery/binary/circulator.dm
  code/modules/power/lgenerator.dm
  icons/obj/atmospherics/pipes.dmi
  icons/obj/power.dmi
Labels: add to wiki, size/M, sprites

#4251 Fixes funky cog2 lighting
  maps/cogmap2.dmm
Labels: QoL, bug, mapping, size/S

#4245 prevents boom boots from being muted
  code/obj/item/clothing/shoes.dm
Labels: bug, size/XS

#4252 fixes mixed reinforcements bug with metal sheets
  code/obj/item/building_materials.dm
Labels: bug, size/XS

#4254 adds stripe to hand held fire extinguisher sprite
  icons/mob/inhand/hand_tools.dmi
Labels: bug, size/XS, sprites

#4255 Knight sfx runtime + Changelog
  code/modules/sound/soundCache.dm
  sound/weapons/hadar-pickup.ogg
Labels: size/XS, sound

#4260 Slightly fixes error in space bear sprites
  icons/misc/critter.dmi
Labels: bug - trivial, size/XS, sprites

#4256 Re-Colours several of the Cables on Cogmap1
  maps/cogmap.dmm
Labels: mapping, size/XXL

#4265 Adds manifest back to CE PDA
  code/obj/item/device/pda2/cartridges.dm
Labels: bug - minor, size/XS

#4257 Clarion Armory/HoS Door Fixes
  maps/clarion.dmm
Labels: add to wiki, bug, mapping, size/L

#4267 Adds Lasagna as a new food item and cooking recipe
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_meals.dmi
Labels: add to wiki, feature, size/S, sprites

#4109 A bunch of donut 3 improvements
  maps/donut3.dmm
Labels: QoL, add to wiki, bug, feature, mapping, size/M

#4269 jobprocs.dm, 296: Cannot modify null.assigned_role.
  code/procs/jobprocs.dm
Labels: bug, runtime, size/XS

#3894 Random Limb Contract + Limb Randomization code cleanup
  code/WorkInProgress/infernal_contracts.dm
  code/datums/traits.dm
  code/mob/living/carbon/human.dm
  code/modules/admin/part_modifier.dm
  code/obj/item/mob_parts.dm
  code/obj/item/mob_parts/human_parts.dm
Labels: QoL, cleanliness, feature

#4275 Human Resprite: Adjusts a few in-hands
  icons/mob/inhand/hand_cswords.dmi
  icons/mob/inhand/hand_tools.dmi
Labels: human resprite project, size/XS, sprites

#4273 Human Resprite: Lizard eyes and disheveled
  code/datums/mutantraces.dm
  icons/mob/human_hair.dmi
Labels: human resprite project, size/XS, sprites

#4274 Human Resprite: Cloner 'mutants'
  icons/mob/human.dmi
Labels: human resprite project, size/XS, sprites

#4287 Human Resprite: Several Small fixes
  code/obj/item/clothing/helmets.dm
  icons/effects/genetics.dmi
  icons/mob/bighat.dmi
  icons/mob/human_hair.dmi
  icons/mob/jumpsuits/worn_js_misc.dmi
  icons/mob/monkey.dmi
  icons/obj/clothing/item_hats.dmi
Labels: human resprite project, size/XS, sprites

#4281 jobban.dm, 53: Cannot execute null.Find().
  code/modules/admin/jobban.dm
Labels: bug, runtime, size/XS

#4292 Uncapitalises syringe and audio log items
  code/modules/chemistry/tools/syringes.dm
  code/modules/telescience/radiostation.dm
Labels: QoL, bug - trivial, size/XS

#4284 Implement UpdateOverlays and ClearSpecificOverlay for vehicle rider and booster image
  code/obj/vehicle.dm
Labels: bug, runtime, size/S

#4295 Adds a hidden entrance to the debris hat trader's asteroid
  maps/z3.dmm
Labels: mapping, size/S

#4290 fixes incorrect port/starboard name
  maps/manta.dmm
Labels: bug, mapping, size/XS

#4244 adds o2 and XL air mixcanisters to QM purchase list
  code/datums/supply_packs.dm
Labels: add to wiki, feature, input wanted, size/S

#4298 Human Resprite: Nuke ops knight
  icons/mob/head.dmi
  icons/mob/overcoats/worn_suit_hazard.dmi
Labels: size/XS, sprites

#4268 Resprite of granola bar and yoghurt cup
  icons/obj/foodNdrink/food_snacks.dmi
Labels: add to wiki, size/XS, sprites

#4262 Adds the ability to make fingerless gloves
  code/obj/item/clothing/gloves.dm
Labels: QoL, feature, size/XS

#4304 Human Resprite: Changeling and gang member antag info icons
  browserassets/images/antagTips/changeling-image.png
  browserassets/images/antagTips/gangmember-image.png
Labels: human resprite project, size/XS

#4242 Sequestered Cloner Puzzle Fixes
  assets/maps/prefabs/prefab_sequestered_cloner.dmm
  code/z_adventurezones/sequestered_cloner.dm
Labels: bug, mapping, size/XXL

#4232 Clown name change update in security records
  code/datums/powernet_data.dm
  code/mob.dm
Labels: bug, size/S

#4311 changes captain's hat description
  code/obj/item/clothing/hats.dm
Labels: bug - trivial, size/XS

#4309 Update APC Icon on Repair
  code/modules/power/apc.dm
Labels: bug - minor, size/XS

#4200 Gives the stoners more XP
  code/obj/item/plants.dm
  code/obj/machinery/plantpot.dm
  code/obj/submachine/seed.dm
Labels: add to wiki, balance, size/S

#4170 Makes intercoms constructable/deconstructable
  code/obj/item/device/radios/intercoms.dm
Labels: QoL, add to wiki, size/S

#4310 Maximum nuke ops raised to 10 + utility knife buff
  code/datums/gamemodes/nuclear.dm
  code/obj/item/misc_weapons.dm
  maps/z2.dmm
Labels: add to wiki, balance, mapping, size/XL

#4308 Add preview toggle for GeneTek ByondUi element in Scanner pane
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/GeneTek/tabs/ScannerTab.js
Labels: QoL, performance, size/S, tgui

#4291 nerf some artifacts and stuff
  code/obj/artifacts/artifact_items/attack_wand.dm
  code/obj/artifacts/artifact_items/melee_weapon.dm
  code/obj/artifacts/artifact_items/teleport_wand.dm
Labels: add to wiki, balance, bug - minor, size/M

#4276 Adds more lawbringer mode switch words
  code/obj/item/gun/energy.dm
  code/obj/item/paper.dm
Labels: QoL, add to wiki, input wanted, size/S

#4314 Human Resprite: Slighty adjusts lizard tail
  icons/mob/lizard.dmi
Labels: human resprite project, size/XS, sprites

#4317 GeneTek: Add toggle for DNA sequences on Mutations
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/GeneTek/BioEffect.js
  tgui/packages/tgui/interfaces/GeneTek/tabs/MutationsTab.js
  tgui/packages/tgui/interfaces/GeneTek/tabs/StorageTab.js
Labels: QoL, performance, size/S, tgui

#4049 Ice dispenser adjustments
  code/modules/chemistry/tools/food_and_drink.dm
  code/obj/item_dispensers.dm
Labels: QoL, add to wiki, size/S, stale

#4312 Adds health pop-up overhead to upgraded ProDocs and floor health scanners
  code/mob/living/carbon/human/procs/get_desc.dm
  code/obj/health_scanner.dm
  code/obj/item/device/pda2/scanners.dm
  code/obj/item/device/scanners.dm
  code/procs/scanprocs.dm
Labels: QoL, size/M

#3778 Adds some basic ways to earn Job XP for Chefs
  code/modules/food_and_drink/cakes.dm
  code/modules/food_and_drink/ingredients.dm
  code/obj/kitchenspike.dm
Labels: add to wiki, feature, size/S

#4319 Adds more pods to the Cairngorm
  maps/z2.dmm
Labels: add to wiki, mapping, size/L

#4271 Clarion Sec revamp
  maps/clarion.dmm
Labels: add to wiki, mapping, size/XXL

#4321 Enables repairing nuclear bomb with combat engineer's battle wrench
  code/obj/item/tool/wrench.dm
  code/obj/machinery/nuclearbomb.dm
Labels: DNM, add to wiki, balance, feature, size/S

#4329 Minor Cogmap 1 Fixes
  maps/cogmap.dmm
Labels: mapping, size/S

#4241 Unhots the gas storage apc on Destiny since that's not very hot
  maps/destiny.dmm
Labels: mapping, size/S

#4313 Redfines HoS hat as a hat and not a helmet, and slightly edits the description.
  code/WorkInProgress/Azungarstuff.dm
  code/datums/commodity.dm
  code/datums/crew_objective.dm
  code/datums/gamemodes/spy_theft.dm
  code/datums/jobs.dm
  code/datums/objective.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/obj/critter/bee.dm
  code/obj/critter/turtle.dm
  code/obj/item/book.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/helmets.dm
Labels: balance, size/M

#4336 FIXES COG1 SOLARS, AAAAA FUCK
  maps/cogmap.dmm
Labels: bug, mapping, size/XS

#4334 Clarion Bridge APC and turret disabler fix
  maps/clarion.dmm
Labels: bug, mapping, size/M

#4327 uncapitalises a bunch of items in hat.dm and masks.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/masks.dm
Labels: bug - trivial, size/M

#4337 Allow the nuke to be summoned from pod cargo hold
  code/modules/transport/pods/secondary_system.dm
Labels: balance, bug, size/S

#4338 fixes chaplains not getting XP
  code/obj/item/storage/bible.dm
Labels: bug, size/XS

#4341 Human Resprite: Worn Cardboard Boxes
  icons/mob/overcoats/worn_suit_cardboard.dmi
Labels: human resprite project, size/XS, sprites

#4342 Human Resprite: Scrubs pathing change
  code/datums/manufacturing.dm
  code/obj/item/clothing/uniforms.dm
Labels: human resprite project, size/XS

#4340 Goldbuddy bugfix
  code/modules/robotics/bot/guardbot.dm
Labels: bug - minor, size/XS

#4328 Brings back the atlas record to atlas.
  maps/atlas.dmm
Labels: mapping, size/XS

#4349 Miranda for NTSO
  code/datums/jobs.dm
Labels: bug - trivial, size/XS

#4346 Human Resprite: Finishes up Mutantraces with sprites from Skeletonman0
  icons/effects/genetics.dmi
  icons/mob/chicken.dmi
  icons/mob/cow.dmi
Labels: human resprite project, size/XS, sprites

#4351 Human resprite: Borg screen head
  icons/mob/robots.dmi
Labels: size/XS, sprites

#4353 Human resprite: hairs and sleeping hat
  icons/mob/head.dmi
  icons/mob/human_hair.dmi
Labels: size/XS, sprites

#4365 Removes Awful email
  strings/randomEmail.txt
Labels: removal, size/XS

#4355 Human Resprite: Mutant Final Touch Stuff
  icons/mob/genetics_powers.dmi
  icons/mob/human_head.dmi
Labels: human resprite project, size/XS, sprites

#4357 Human Resprite: Welding Helmet Fix
  icons/mob/head.dmi
Labels: human resprite project, size/XS, sprites

#4354 Fix omnitool attack
  code/obj/item/tool/omnitool.dm
Labels: bug - minor, size/XS

#4368 Chore/remove insensitive email
  strings/randomEmail.txt
Labels: removal, size/XS

#4356 Fix glass tables accepting non-crystal sheets
  code/obj/table.dm
Labels: bug - minor, size/XS

#4374 Several Clothing Sprites by Walp
  code/obj/item/clothing/hats.dm
  icons/mob/feet.dmi
  icons/mob/head.dmi
  icons/mob/jumpsuits/worn_js_misc.dmi
Labels: human resprite project, size/XS, sprites

#4369 fix: use unique indexing of random emails
  strings/randomEmail.txt
Labels: size/XS

#4367 Captain's locker access fix
  code/obj/storage/secure_closets.dm
Labels: bug, size/M

#3950 Makes specific antag garb acid immune(wizards excluded)
  _std/defines/item.dm
  code/WorkInProgress/infernal_contracts.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/obj/item/bowling.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/masks.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/football.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/procs/jobprocs.dm
Labels: add to wiki, balance, input wanted, size/L, stale

#4366 Makes jailbird + stowaway combo possible again
  code/mob/living/life/arrest_icon.dm
  code/modules/robotics/bot/secbot.dm
  code/obj/machinery/secscanner.dm
Labels: IGNORE CHECKS, bug, size/M

#4362 Kondaru apr21 fixbatch 1
  maps/kondaru.dmm
Labels: add to wiki, feature, mapping, size/XXL

#4378 Destiny APC Fixes
  maps/destiny.dmm
Labels: mapping, size/L

#4380 Clarion APC Fix
  maps/clarion.dmm
Labels: mapping, size/XL

#4382 Oshan APC Fixes
  maps/oshan.dmm
Labels: mapping, size/S

#4371 Add a new admin command for loading in special shuttles
  _std/defines/landmarks.dm
  assets/maps/shuttles/cog1/cog1-dojo.dmm
  assets/maps/shuttles/cog1/cog1-dream.dmm
  assets/maps/shuttles/cog1/cog1-iomoon.dmm
  assets/maps/shuttles/cog1/cog1-martian.dmm
  assets/maps/shuttles/cog1/cog1-syndicate.dmm
  assets/maps/shuttles/cog1/cog1-zenshuttle.dmm
  assets/maps/shuttles/cog1/cog1_default.dmm
  assets/maps/shuttles/cog2/cog2_default.dmm
  assets/maps/shuttles/cog2/cog2_martian.dmm
  assets/maps/shuttles/destiny/destiny_default.dmm
  assets/maps/shuttles/donut2/donut2_default.dmm
  assets/maps/shuttles/donut2/donut2_syndicate.dmm
  assets/maps/shuttles/donut3/donut3-cave.dmm
  assets/maps/shuttles/donut3/donut3_default.dmm
  assets/maps/shuttles/manta/manta_default.dmm
  assets/maps/shuttles/sealab/oshan-meat.dmm
  assets/maps/shuttles/sealab/oshan-minisubs.dmm
  assets/maps/shuttles/sealab/oshan_default.dmm
  code/datums/prefab_shuttles.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
  code/obj/landmark.dm
  code/world.dm
  goonstation.dme
  maps/z2.dmm
  strings/admin_changelog.txt
Labels: feature, mapping, size/XXL

#4379 Human Resprite: human_parts.dmi
  icons/obj/items/human_parts.dmi
Labels: human resprite project, size/XS, sprites

#4330 Adds Ephemeral Xmas objects to Cogmap1
  maps/cogmap.dmm
  maps/cogmap_xmas_2019.dmm
  maps/cogmap_xmas_2020.dmm
Labels: mapping, size/XXL

#4381 Manta APC Fix
  maps/manta.dmm
Labels: mapping, size/XL

#4385 Cog2 APC Fix
  maps/cogmap2.dmm
Labels: mapping, size/L

#4384 Cog1 APC Fix
  maps/cogmap.dmm
Labels: mapping, size/L

#4306 Tgui genetek optimization
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/medical/genetics/geneticsMachines.dm
  code/modules/medical/genetics/geneticsResearch.dm
  tgui/packages/tgui/interfaces/GeneTek.js
  tgui/packages/tgui/interfaces/GeneTek/DNASequence.js
  tgui/packages/tgui/interfaces/GeneTek/tabs/ResearchTab.js
  tgui/packages/tgui/interfaces/GeneTek/tabs/ScannerTab.js
Labels: IGNORE CHECKS, help wanted, performance, size/L, tgui

#4383 Donut 3 APC fixes
  code/area.dm
  maps/donut3.dmm
Labels: mapping, size/XL

#4387 Cog1 Ephemeral ornament cleanup
  maps/cogmap.dmm
Labels: mapping, size/L

#4388 Clarion area cleanup
  maps/clarion.dmm
Labels: mapping, size/S

#4261 Character Setup tgui edition
  _std/macros/list.dm
  browserassets/tgui/tgui-common.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/datums/preferences.dm
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/components/ByondUi.js
  tgui/packages/tgui/components/Image.js
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/CharacterPreferences/CharacterTab.tsx
  tgui/packages/tgui/interfaces/CharacterPreferences/GameSettingsTab.tsx
  tgui/packages/tgui/interfaces/CharacterPreferences/GeneralTab.tsx
  tgui/packages/tgui/interfaces/CharacterPreferences/SavesTab.tsx
  tgui/packages/tgui/interfaces/CharacterPreferences/index.tsx
  tgui/packages/tgui/interfaces/CharacterPreferences/type.ts
  tgui/packages/tgui/styles/components/Image.scss
  tgui/packages/tgui/styles/main.scss
Labels: feature, rework, size/XXL, tgui

#4390 Human Resprite: Automaton and -METAL MAN-
  icons/misc/critter.dmi
  icons/mob/robots.dmi
Labels: human resprite project, size/XS, sprites

#4389 Human Resprite: Finishes up clothing, implements Schwick's Sprites
  icons/mob/head.dmi
  icons/mob/jumpsuits/worn_js_gimmick.dmi
  icons/mob/mask.dmi
  icons/mob/overcoats/worn_suit_gimmick.dmi
Labels: human resprite project, size/XS, sprites

#4229 Rocko
  code/datums/gameticker.dm
  code/obj/rocko.dm
  code/procs/scorestats.dm
  goonstation.dme
  icons/misc/rocko.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
Labels: add to wiki, feature, mapping, merge conflict, size/XXL, sprites

#4375 Adds a syndicate weapon vendor to the VR Sim/Murderbox
  code/obj/submachine/weapon_vendor.dm
  maps/z2.dmm
Labels: QoL, add to wiki, feature, mapping, size/S

#4358 Fixes LDM not reacting upon reaching the reaction temperature
  code/modules/chemistry/Reagents-ExplosiveFire.dm
Labels: bug, size/XS

#4394 Makes all the Cog1 christmas wreaths ephemeral
  maps/cogmap.dmm
Labels: bug, mapping, size/L

#4395 Atlas APC Fix
  code/area.dm
  maps/atlas.dmm
Labels: mapping, size/L

#4391 Horizon APC fix
  maps/horizon.dmm
Labels: bug, mapping, size/XXL

#4326 Converted door timers to tgui
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/door/door_timer.dm
  tgui/packages/tgui/interfaces/DoorTimer/index.tsx
  tgui/packages/tgui/interfaces/DoorTimer/type.ts
Labels: size/L, tgui

#4399 Human Resprite: Some light fixes
  code/datums/mutantraces.dm
  icons/mob/bighat.dmi
  icons/mob/feet.dmi
  icons/mob/inhand/hand_general.dmi
  icons/mob/mask.dmi
  icons/mob/monkey.dmi
  icons/mob/overcoats/worn_suit_gimmick.dmi
Labels: human resprite project, size/XS, sprites

#4348 Adds medical clothing lockers to most maps, adds a uniform locker to destiny, increases clothing locker contents. and removes a double define of the nurse dress
  code/obj/item/clothing/suits.dm
  code/obj/storage/closets.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/horizon.dmm
  maps/oshan.dmm
Labels: add to wiki, cleanliness, mapping, size/M

#4396 Removes orphaned WIres & Disposal Pipes from Manta
  maps/manta.dmm
Labels: mapping, size/L

#4331 Weapon Vendor UI to tgui
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/submachine/weapon_vendor.dm
  tgui/packages/tgui/interfaces/WeaponVendor/index.tsx
  tgui/packages/tgui/interfaces/WeaponVendor/type.ts
  tgui/packages/tgui/styles/interfaces/WeaponVendor.scss
  tgui/packages/tgui/styles/main.scss
Labels: size/L, tgui

#4411 Fixes Space Helmet In-hand
  icons/mob/inhand/hand_headgear.dmi
Labels: size/XS, sprites

#4415 Kondaru supply delivery point fix
  maps/kondaru.dmm
Labels: bug - major, mapping

#4120 Remove some spy theft delivery areas
  code/datums/gamemodes/spy_theft.dm
Labels: balance, input wanted, size/XS

#4410 Resprites Cows (Again)
  icons/mob/cow.dmi
  icons/mob/genetics_powers.dmi
Labels: size/XS, sprites

#4419 More human resprite fixes
  icons/mob/head.dmi
  icons/mob/inhand/hand_general.dmi
  icons/mob/inhand/hand_headgear.dmi
  icons/mob/overcoats/worn_suit_gimmick.dmi
Labels: size/XS, sprites

#4414 Adds a new sprite for the CE belt
  code/obj/item/storage/backpack_belt_etc.dm
  icons/mob/belt.dmi
Labels: size/XS, sprites

#4420 Cow Sprite Fix
  icons/mob/cow.dmi
Labels: size/XS, sprites

#4404 Ports tgstation#58484: Upgrade tgui dependencies
  browserassets/tgui/tgui-common.bundle.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/babel.config.js
  tgui/package.json
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui/package.json
  tgui/yarn.lock
Labels: merge conflict, size/XL, tgui

#4405 Ports tgstation#58483: Always grab arrow keys in tgui for keyboard navigation
  browserassets/tgui/tgui-common.bundle.js
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/events.js
  tgui/packages/tgui/hotkeys.ts
Labels: QoL, merge conflict, size/M, tgui

#4421 Fixes small sprite issue on fancy HoS suit
  icons/mob/jumpsuits/worn_js_rank.dmi
Labels: size/XS, sprites

#4406 Removes the pixel on the left sideview of the radio headset.
  icons/mob/ears.dmi
Labels: size/XS, sprites

#4086 Resprites building materials & standardises their code a bunch
  code/WorkInProgress/TempEngine.dm
  code/datums/controllers/action_controls.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/hivebot.dm
  code/modules/atmospherics/machinery/pipe.dm
  code/modules/networks/computer3/buildandrepair.dm
  code/modules/robotics/bot/secbot.dm
  code/modules/robotics/robot/module_tool_creator/construction.dm
  code/modules/transport/pods/ships.dm
  code/modules/transport/pods/warp_travel.dm
  code/obj.dm
  code/obj/displaycase.dm
  code/obj/grille.dm
  code/obj/item.dm
  code/obj/item/building_materials.dm
  code/obj/item/organs/skull.dm
  code/obj/railing.dm
  code/obj/structure.dm
  code/obj/submachine/robotics.dm
  code/obj/table.dm
  code/turf/turf.dm
  code/turf/turf_autoalign.dm
  code/turf/walls.dm
  icons/obj/metal.dmi
Labels: QoL, add to wiki, cleanliness, size/L, sprites

#4436 arcade wiring fix
  maps/z5.dmm
Labels: bug, mapping, size/XS
