Repository goonstation/goonstation, pull requests merged in 2022-12, with the labels that each got.

#12254 Updated 2022 Spacemas tree sprite
  code/modules/holiday/spacemas.dm
  icons/effects/160x160.dmi
Labels: C-Sprites, size/XS

#12267 Adds pixel pointing to the spacemas tree
  code/modules/holiday/spacemas.dm
Labels: C-Bug, C-QoL, size/XS

#12240 Fix a donut2 fire alarm being innaccessible
  maps/donut2.dmm
Labels: A-Mapping, C-QoL, size/XS

#12274 Afterlife botany dispenser fix
  code/modules/chemistry/Chemistry-Dispenser.dm
  maps/z2.dmm
Labels: C-Bug, A-Mapping, size/S

#12271 Fake gun reloading
  code/WorkInProgress/HaineWhatever.dm
Labels: C-Feature, C-QoL, size/S, A-Game-Objects

#12216 Armory entry logging
  code/area.dm
  code/obj/machinery/computer/security/riot.dm
Labels: C-Feature, size/M, A-Admin

#12280 Reagent Extractor UI fix
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/ReagentExtractor.js
Labels: C-Bug, A-UI, size/XS, A-Chemistry

#12268 Fix getting radiation messages on radiation healing
  code/mob/living.dm
Labels: P-Trivial, size/XS

#12290 Fixes omnitools needing to change mode once to work properly
  code/obj/item/tool/omnitool.dm
Labels: C-Bug, size/XS

#12253 Fix the staffie slots extending forever
  code/mob/new_player.dm
Labels: C-Bug, A-UI, size/M

#12292 Move the ContextActions and defines for the prisoner scanner to scanners.dm
  _std/__std.dme
  _std/defines/scanners.dm
  code/modules/interface/multiContext/context_actions.dm
  code/obj/item/device/scanners.dm
Labels: C-Code-Quality, size/M, A-Internal

#12297 makes z2 cameras invulnerable maybe
  maps/z2.dmm
Labels: C-Bug, A-Mapping, size/XS

#12298 custom description for sodium thiopental darts
  code/obj/item/gun/ammo.dm
Labels: C-Bug, size/XS, A-Game-Objects

#12300 Clarion cable d1 and d2 variable removal
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, C-Code-Quality, size/XXL, A-Internal

#12191 Make various fixes and improvements for Flock
  code/mob/living/intangible/flock/flockmind.dm
  code/mob/transform_procs.dm
  code/modules/admin/admin.dm
  code/modules/interface/flock_examine_tag.dm
  code/obj/flock/structure/egg.dm
  code/obj/flock/structure/relay.dm
  code/obj/flock/structure/rift.dm
Labels: C-Bug, C-Code-Quality, size/L, A-Gamemodes, A-Internal

#12295 minor oshan fixes
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/M

#11796 Flock tutorial
  _std/defines/landmarks.dm
  _std/macros/flock.dm
  assets/maps/allocated/blob_tutorial.dmm
  assets/maps/allocated/flock_showcase.dmm
  assets/maps/allocated/flock_tutorial.dmm
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/WorkInProgress/zamujasa.dm
  code/area.dm
  code/datums/abilities/flock/flockmind.dm
  code/datums/components/flock/ping.dm
  code/datums/flock/flock.dm
  code/datums/flock/flockunlockable.dm
  code/datums/hud/flockdrone.dm
  code/mob/living/critter/ai/flock/flockdrone.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
  code/mob/living/critter/flock/flockbit.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/mob/living/intangible/blob_overmind.dm
  code/mob/living/intangible/flock/flockmind.dm
  code/mob/living/intangible/flock/flocktrace.dm
  code/mob/living/intangible/flockmob_parent.dm
  code/modules/antagonists/blob/blob_abilities.dm
  code/modules/tutorials/blob_tutorial.dm
  code/modules/tutorials/flock_tutorial.dm
  code/modules/tutorials/tutorial_base.dm
  code/modules/worldgen/prefab/allocated.dm
  code/obj/flock/structure/collector.dm
  code/obj/flock/structure/compute.dm
  code/obj/flock/structure/egg.dm
  code/obj/flock/structure/fabricator.dm
  code/obj/flock/structure/flock_structure_ghost.dm
  code/obj/flock/structure/flock_structure_parent.dm
  code/obj/flock/structure/gnesisturret.dm
  code/obj/flock/structure/interceptor.dm
  code/obj/flock/structure/relay.dm
  code/obj/flock/structure/rift.dm
  code/obj/flock/structure/sentinel.dm
  code/obj/landmark.dm
  code/procs/helpers.dm
  goonstation.dme
  icons/mob/flock_ui.dmi
  tgui/packages/tgui/interfaces/FlockStructures.js
Labels: C-Feature, A-Mapping, C-Sprites, S-Merge-Conflict, E-Add-To-Wiki, size/XXL, A-Gamemodes

#12010 Map_guidelines tips and tricks section
  .github/MAP_GUIDELINES.md
Labels: A-Tooling, size/S, C-Documentation

#11902 JPS Passability Cache
  .github/CODE_GUIDELINES.md
  _std/pathfinding.dm
  code/WorkInProgress/Particles.dm
  code/WorkInProgress/recycling/conveyor.dm
  code/WorkInProgress/recycling/crusher.dm
  code/WorkInProgress/recycling/disposal.dm
  code/atom.dm
  code/modules/admin/diagnostics.dm
  code/modules/atmospherics/FEA_turf_tile.dm
  code/modules/medical/genetics/geneticsBooth.dm
  code/modules/power/cable.dm
  code/modules/robotics/bot/bot_parent.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/passability_cache.dm
  code/obj.dm
  code/obj/cryotron.dm
  code/obj/effects.dm
  code/obj/item.dm
  code/obj/machinery.dm
  code/obj/machinery/door/door_parent.dm
  code/obj/machinery/drone_factory.dm
  code/obj/machinery/optable.dm
  code/obj/machinery/singularity.dm
  code/turf/turf.dm
Labels: C-Performance, A-Tooling, C-Experimental, size/L, A-AI, A-Internal, C-Documentation

#12229 Fixes printer machine registry
  code/modules/networks/computer3/mainframe2/misc_terms.dm
Labels: C-Bug, P-Minor, size/XS, A-Game-Objects

#12302 Resprites Pod Secondary Systems
  code/modules/transport/pods/secondary_system.dm
  icons/obj/ship.dmi
Labels: C-Sprites, size/XS, A-Vehicles

#12322 haha butts
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
  icons/effects/atom_textures_32.dmi
  icons/effects/atom_textures_64.dmi
Labels: C-Sprites, size/S

#12324 [MDB IGNORE] Change hazard marking tiles to overlays v2
  assets/maps/prefabs/prefab_adrift_cargo_router.dmm
  assets/maps/prefabs/prefab_beesanctuary.dmm
  assets/maps/prefabs/prefab_gunrange.dmm
  assets/maps/prefabs/prefab_outpost.dmm
  assets/maps/prefabs/prefab_water_beesanctuary.dmm
  assets/maps/prefabs/prefab_water_miner.dmm
  assets/maps/prefabs/prefab_water_miner_manta.dmm
  assets/maps/prefabs/prefab_water_nadirelevator.dmm
  assets/maps/prefabs/prefab_water_oshanelevator.dmm
  assets/maps/prefabs/prefab_water_strangeprison.dmm
  assets/maps/prefabs/prefab_water_watertreatment.dmm
  code/obj/decal.dm
  code/turf/floors.dm
  code/turf/floors_airless.dm
  code/turf/floors_unsimulated.dm
  icons/obj/decals/misc.dmi
  icons/turf/floors.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogwip/kappa.dmm
  maps/cogwip/ships.dmm
  maps/density.dmm
  maps/destiny.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/unused/chiron.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/linemap.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/old_trunkmap.dmm
  maps/unused/oldmap.dmm
  maps/unused/oldmapshit.dmm
  maps/unused/samedi.dmm
  maps/unused/setpieces/AIBM_lunar.dmm
  maps/unused/setpieces/SHARED_biodomeExpanded.dmm
  maps/unused/setpieces/gokart_full.dmm
  maps/unused/setpieces/silo.dmm
  maps/unused/trunkmap.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
  maps/z3.dmm
  maps/z5.dmm
Labels: A-Mapping, C-Sprites, C-QoL, size/XXL

#12330 Fixes flockdrones dormantizing after death
  code/mob/living/critter/flock/flockdrone.dm
Labels: C-Bug, size/XS, A-Gamemodes

#12343 Stops flockless flockbits from dormanting
  code/mob/living/critter/flock/flockbit.dm
Labels: C-Bug, size/XS, A-Gamemodes

#12353 Laundering mob critters no longer causes a runtime
  code/WorkInProgress/laundry.dm
Labels: C-Bug, C-Runtime, size/S, A-Game-Objects

#12257 Borg-upgrade-fix
  code/mob/living/silicon/robot.dm
Labels: C-Bug, size/S, A-Silicons, S-Ready-For-Final-Review

#12311 Adds a few extras to the medical clothing vendor
  code/modules/vending/vending.dm
Labels: C-Feature, size/XS, A-Clothing

#12354 Fix Round-start Clone Disk Generation Runtime
  code/procs/jobprocs.dm
Labels: C-Bug, C-Runtime, size/XS, A-Medical

#12323 Add windoors to Oshan's cargo tables
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, size/S

#12123 Fix syringe unable to extract from targets with no blood
  code/modules/chemistry/tools/syringes.dm
Labels: S-Stale, size/M

#12264 Changes gnesisglass and gnesis material texture blend mode
  code/modules/materials/Mat_Materials.dm
Labels: size/XS, S-Ready-For-Final-Review

#12091 Fix some Flock GC issues
  code/datums/flock/flock.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/obj/flock/cage.dm
  code/obj/flock/structure/interceptor.dm
Labels: C-Bug, size/S, A-Internal

#12362 Fix suiciding set to 1 despite not choosing to suicide
  code/mob/suicide.dm
Labels: size/XS

#12222 Allows plague rats to move through disposals
  code/datums/abilities/critter/disposal_travel.dm
  code/modules/antagonists/wraith/critters/abilities/plaguerat.dm
  code/modules/antagonists/wraith/critters/plaguerat.dm
Labels: C-Feature, size/M, A-Gamemodes, A-Player-Actions, S-Ready-For-Final-Review

#12372 Fix poof particles causing pass cache inconsistencies
  code/modules/items/specials/ItemSpecials.dm
Labels: C-Bug, size/XS, A-Game-Objects

#12356 In-hand omnitools auto-switch when a deconstruction tool contextAction is selected
  _std/defines/item.dm
  code/mob/living/silicon/robot.dm
  code/modules/interface/multiContext/context_actions.dm
  code/obj/item/tool/omnitool.dm
Labels: C-Bug, C-Feature, size/L, A-Game-Objects

#12317 Allows shoving stunned people down ladders
  code/z_adventurezones/lavamoon.dm
Labels: C-Balance, C-QoL, size/XS

#12235 Makes coagulated gnesis a little more consistently deadly
  code/modules/chemistry/Reagents-Misc.dm
Labels: C-Balance, size/XS, A-Gamemodes

#12172 Spatial Interdictor upgrade: alternate mainboards and balance/code pass
  _std/__std.dme
  _std/defines/interdictor.dm
  code/datums/manufacturing.dm
  code/datums/sims.dm
  code/mob.dm
  code/mob/living/life/Life.dm
  code/mob/living/life/decomposition.dm
  code/mob/living/life/disability.dm
  code/mob/living/silicon/robot.dm
  code/modules/events/black_hole.dm
  code/modules/events/ion_storm.dm
  code/modules/events/radiation.dm
  code/modules/events/solar_flare.dm
  code/modules/events/spatial_tear.dm
  code/modules/status_system/statusEffects.dm
  code/obj/item/manudrive.dm
  code/obj/machinery/interdictor.dm
  code/obj/machinery/manufacturer.dm
  code/obj/portal.dm
  strings/books/interdictor_guide.txt
Labels: C-Feature, size/L, A-Game-Objects, S-Ready-For-Final-Review

#12196 Refactors freedom implants to use emote signals
  _std/defines/component_defines/component_defines_atom.dm
  code/mob.dm
  code/mob/dead.dm
  code/mob/dead/mentor_mouse_observer.dm
  code/mob/living/carbon/cube.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/critter.dm
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/intangible/brainmob.dm
  code/mob/living/intangible/flockmob_parent.dm
  code/mob/living/intangible/wraith.dm
  code/mob/living/seanceghost.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/drone.dm
  code/mob/living/silicon/ghostdrone.dm
  code/mob/living/silicon/hivebot.dm
  code/mob/living/silicon/robot.dm
  code/mob/zoldorfmob.dm
  code/obj/item/implant.dm
  code/procs/mobprocs/chatprocs.dm
Labels: C-Code-Quality, size/L, A-Game-Objects, A-Internal

#12024 Mobifies cats
  assets/maps/prefabs/prefab_water_watertreatment.dmm
  assets/maps/random_rooms/5x3/cats.dmm
  code/WorkInProgress/HaineWhatever.dm
  code/WorkInProgress/aloe_stuff_public.dm
  code/WorkInProgress/construction/event_controller.dm
  code/WorkInProgress/flourish.dm
  code/mob/living/critter/ai/cat.dm
  code/mob/living/critter/small_animal.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/fishing/fishing_spots.dm
  code/modules/hydroponics/plants_alien.dm
  code/modules/robotics/bot/guardbot.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/sponge_capsule.dm
  code/obj/machinery/porters.dm
  code/obj/martian.dm
  code/obj/storage/loot_crates.dm
  code/z_adventurezones/earth.dm
  goonstation.dme
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogwip/ships.dmm
  maps/destiny.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/linemap.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/old_trunkmap.dmm
  maps/unused/oldmap.dmm
  maps/unused/trunkmap.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
  maps/z3.dmm
Labels: A-Mapping, C-Rework, size/XL, A-AI

#12360 adds a confirmation prompt for blob and flock deployment
  code/datums/abilities/flock/flockmind.dm
  code/modules/antagonists/blob/blob_abilities.dm
Labels: C-QoL, size/S, A-Gamemodes

#11135 Adds Churro to Game
  code/datums/cookingrecipes.dm
  code/datums/crew_objective.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/item/storage/lunchboxes.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_snacks.dmi
Labels: C-Sprites, E-Add-To-Wiki, size/M, S-Adopt-Me, A-Catering

#12307 Nadir breach hull auxiliary compartments
  maps/nadir.dmm
Labels: C-Feature, A-Mapping, size/L, S-Ready-For-Final-Review

#12380 Signaler implant
  code/datums/syndicate_buylist.dm
  code/obj/item/implant.dm
Labels: C-Feature, C-Balance, size/L, A-Gamemodes, A-Game-Objects

#12325 Player visible volume for atmospherics
  code/modules/atmospherics/portable/portable_atmospherics.dm
  code/obj/item/tank.dm
  code/procs/scanprocs.dm
Labels: C-QoL, size/S, A-Atmospherics

#12306 Santa's Winter Hearth should not override existing cold/fire/thermal resistance
  code/datums/abilities/santa.dm
Labels: C-Bug, size/XS, A-Player-Actions

#12403 sov office update
  maps/z2.dmm
Labels: A-Mapping, size/L

#12394 arcfiend abilites rework
  code/mob/living/silicon/robot.dm
  code/modules/antagonists/arcfiend/abilities/arc_flash.dm
  code/modules/antagonists/arcfiend/abilities/discharge.dm
  code/modules/antagonists/arcfiend/abilities/flash.dm
  code/modules/antagonists/arcfiend/abilities/ride_the_lightning.dm
  code/modules/antagonists/arcfiend/abilities/sap_power.dm
  code/modules/sound/soundCache.dm
  sound/effects/power_charge.ogg
Labels: C-Balance, C-Experimental, C-Sound, E-Add-To-Wiki, size/M, A-Player-Actions

#12402 Fix set_density cache invalidation
  code/atom.dm
Labels: C-Bug, size/XS, A-Internal

#12399 Fixes dippable foods annihilating bowls
  code/modules/food_and_drink/snacks.dm
Labels: C-Bug, size/XS, A-Game-Objects, A-Catering

#12430 Fixes shuttles arriving twice
  code/obj/machinery/computer/shuttle.dm
Labels: C-Bug, size/XS

#12278 Makes the singularity react violently to being fed nuclear warheads
  code/obj/machinery/singularity.dm
Labels: C-Feature, S-Stale, size/S, A-Gamemodes

#12366 Radio Headsets Crate Consistency
  code/obj/storage/crates.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
Labels: C-Bug, P-Minor, A-Mapping, size/L, A-Game-Objects

#12444 Fix missing bean icon
  icons/obj/hydroponics/plants_veg.dmi
Labels: C-Bug, C-Sprites, size/XS

#12446 Fixes seeds able to mutate through infusions being able to infused beyond 99% damage
  code/modules/hydroponics/plants.dm
  code/obj/item/seeds.dm
Labels: C-Bug, size/S

#12423 fix rotation on oshan chemistry shutters
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/XS

#12421 Set observe now sets DNR
  code/modules/admin/admin_verbs.dm
Labels: C-QoL, size/XS, A-Admin

#12416 Extremely minor grammatical correction
  maps/donut3.dmm
Labels: A-Mapping, C-QoL, size/XS, A-Game-Objects

#12332 Clarion Cargo Conveyor Control Correction
  maps/clarion.dmm
Labels: A-Mapping, C-QoL, size/S

#12448 Fixes credit symbol not being able to be drawn by a crayon.
  icons/obj/decals/writing.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Game-Objects

#12435 Fix double encoding custom emotes
  code/mob/living/carbon/human/procs/emote.dm
Labels: size/XS

#10704 Adds a bunch of new capes to loot crates
  code/obj/item/clothing/suits.dm
  code/obj/storage/loot_crates.dm
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
Labels: C-Sprites, E-Certified-Organic, size/L, A-Clothing

#12398 Soda Shaking
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/drinks.dm
Labels: C-Bug, C-Balance, size/S, A-Game-Objects, A-Catering

#12208 Operating Computer TGUI/Revamp
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/computer/operating.dm
  code/obj/machinery/optable.dm
  tgui/packages/tgui/constants.js
  tgui/packages/tgui/interfaces/EngineStats.js
  tgui/packages/tgui/interfaces/OperatingComputer/index.tsx
  tgui/packages/tgui/interfaces/OperatingComputer/type.ts
  tgui/packages/tgui/interfaces/common/graphUtils.js
  tgui/packages/tgui/interfaces/common/stringUtils.ts
Labels: C-Balance, C-Rework, A-UI, size/XXL, A-Medical

#12461 Adds operating computers to all operating rooms
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, size/L

#12179 Add Salvager Heavy Combat Suit
  code/WorkInProgress/AbilityItem.dm
  code/modules/economy/commodity.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/tool/omnitool.dm
  code/obj/item/tool/weldingtool.dm
  code/procs/mob_procs.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/overcoats/worn_suit_hazard.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/overcoats/item_suit_hazard.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/L, A-Game-Objects, S-Ready-For-Final-Review

#12458 Stop runtiming ducks
  _std/pathfinding.dm
Labels: C-Bug, size/XS

#12457 Fixes missing text when trying to remove/put on something from someone without the stam for it
  code/datums/controllers/action_controls.dm
Labels: C-Bug, size/XS

#12454 Fixes flock being overheard in the tutorial
  code/procs/mobprocs/chatprocs.dm
Labels: C-Bug, size/XS, A-Gamemodes

#12453 Fancy pen worn on belt fix
  icons/mob/clothing/belt.dmi
  icons/mob/monkey/belt.dmi
Labels: P-Trivial, C-Sprites, size/XS, A-Clothing

#9083 Chemical Combustion Generator
  _std/packets.dm
  code/modules/economy/supply_packs.dm
  code/modules/power/chem_combustion.dm
  code/obj/item/device/pda2/cartridges.dm
  code/obj/item/device/pda2/smallprogs.dm
  goonstation.dme
  icons/obj/power.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/XL, E-Freeze-Exempt🧊, A-Chemistry

#12468 removes tech outpost recharger on oshan
  maps/oshan.dmm
Labels: A-Mapping, C-Balance, C-Removal, size/XS

#12445 Fix being unable to fill chemical misters from water-tanks
  code/obj/machinery/plantpot.dm
Labels: C-Bug, size/XS

#12471 Fix butchering
  code/mob/living/critter.dm
  code/mob/living/critter/capybara.dm
  code/mob/living/critter/sawfly.dm
Labels: C-Bug, A-Game-Objects

#12466 clarifies and fixes some descriptions on the material fab blueprint listings
  code/modules/materials/Mat_FabRecipes.dm
Labels: C-Bug, size/S, A-Game-Objects

#12477 Fixes a pathfinding issue
  code/mob/living/critter/ai.dm
Labels: C-Bug, size/XS

#12480 Adds a clothing vendor to Catering.
  code/modules/vending/vending.dm
  code/obj/storage/secure_closets.dm
  icons/obj/vending.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-Sprites, size/L

#12462 Prevent Plantmaster bluescreens
  code/obj/submachine/seed.dm
Labels: C-Bug, C-QoL, A-UI, A-Game-Objects

#12505 Stethoscopes No Longer Are Stacks of Five
  code/datums/manufacturing.dm
  code/modules/medical/medicaldiagnosis.dm
  code/obj/item/storage/med_chem.dm
  goonstation.dme
Labels: C-Bug, size/S, A-Game-Objects

#12506 Inventory counter for burn salves and bruise packs
  code/obj/item/bruisepack_ointment.dm
Labels: C-Bug, size/S, A-Game-Objects

#12498 Removes signaler implant from surplus crates
  code/datums/syndicate_buylist.dm
Labels: C-Balance, size/XS, A-Game-Objects

#12523 Fix area for one tile in cogmap maints by EVA
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/XS

#12504 Auto-unequip cigarettes when doing CPR
  code/WorkInProgress/AbilityItem.dm
  code/WorkInProgress/HaineWhatever.dm
  code/datums/controllers/action_controls.dm
  code/obj/critter/bee.dm
  code/obj/item/clothing/masks.dm
Labels: C-Bug, C-Feature, size/S, A-Player-Actions, A-Game-Objects

#12478 Fixes generator materials
  code/modules/power/chem_combustion.dm
Labels: C-Bug, P-Minor, size/XS, A-Game-Objects

#12326 Fixes a lot of spy-thief uplink jank
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/uplinks.dm
Labels: C-Bug, C-QoL, size/L, A-Gamemodes

#12420 Fixes a few minor spelling mistakes in the cyborg docking station TGUI
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/CyborgDockingStation/index.tsx
Labels: S-Merge-Conflict, A-UI, size/S

#11068 Add Flock Sapper tower
  code/datums/components/flock/ping.dm
  code/datums/flock/flockunlockable.dm
  code/obj/flock/structure/collector.dm
  code/obj/flock/structure/flock_structure_parent.dm
  code/obj/flock/structure/gnesisturret.dm
  code/obj/flock/structure/interceptor.dm
  code/obj/flock/structure/sapper.dm
  code/obj/flock/structure/sentinel.dm
  goonstation.dme
  icons/misc/featherzone.dmi
Labels: C-Feature, C-Sprites, size/L, A-Gamemodes, S-Ready-For-Final-Review

#12408 Moves flock Life dead check to parent
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
Labels: C-Bug, size/XS, A-Gamemodes

#12493 Adds new sprites for the flash, flash cell assembly, and revolutionary flash.
  icons/obj/items/device.dmi
Labels: C-Sprites, size/XS, A-Gamemodes, A-Game-Objects

#12528 Nadir Fixbatch 10
  maps/nadir.dmm
Labels: A-Mapping, size/XL

#12501 Turrets target people in `/obj/vehicle` vehicles
  code/obj/machinery/turret.dm
Labels: C-Bug, C-Balance, size/XS, A-Game-Objects

#12391 Add klepto ignore prop
  _std/macros/atom_properties.dm
  code/datums/traits.dm
  code/obj/item/game_kit.dm
Labels: C-QoL, size/XS, A-Player-Actions

#12531 Stethoscopes are pocketable again
  code/modules/medical/medicaldiagnosis.dm
Labels: C-Bug, size/XS, A-Game-Objects

#12500 Check the user before tapping playing cards
  code/obj/item/playing_cards.dm
Labels: C-Bug, size/XS, A-Game-Objects

#12538 Fixes flockdrones eating spacebux
  code/mob/living/critter/flock/flockdrone.dm
Labels: C-Bug, size/XS, A-Gamemodes

#8767 Nucular Fishin' Engine
  _std/math.dm
  browserassets/tgui/tgui.bundle.js
  code/area.dm
  code/atom.dm
  code/modules/fishing/fishing_spots.dm
  code/modules/materials/Mat_FabRecipes.dm
  code/modules/materials/Mat_Fabrication.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
  code/modules/materials/Mat_ProcsDefines.dm
  code/modules/materials/Mat_Properties.dm
  code/modules/materials/Mat_RawMaterials.dm
  code/modules/power/terminal.dm
  code/obj/decal/cleanable.dm
  code/obj/item/book.dm
  code/obj/nuclearreactor/centrifuge.dm
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/reactorcomponents.dm
  code/obj/nuclearreactor/reactorcontrol.dm
  code/obj/nuclearreactor/turbine.dm
  goonstation.dme
  icons/misc/nuclearreactor.dmi
  icons/misc/reactorcomponents.dmi
  icons/obj/large/96x160.dmi
  maps/clarion.dmm
  strings/books/nuclear_engineering.txt
  tgui/packages/tgui/interfaces/NuclearReactor.js
  tgui/packages/tgui/interfaces/TurbineControl.js
  tgui/packages/tgui/interfaces/common/temperatureUtils.js
Labels: C-Feature, A-Mapping, C-Sprites, E-Input-Wanted, E-FUCK, A-UI, E-Add-To-Wiki, size/XXL, E-Freeze-Exempt🧊, A-Station-Systems, S-Ready-For-Final-Review

#12549 Fix Clarion Mining Magnet
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/L

#12550 Turns down the radioactive spread from the nuclear engine
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/nuclearreactor/nuclearreactor.dm
  tgui/packages/tgui/interfaces/NuclearReactor.js
Labels: C-Bug, A-UI, size/S

#12554 Pixel pointing for nuclear reactor
  code/obj/nuclearreactor/nuclearreactor.dm
Labels: C-Feature, size/XS, A-Game-Objects

#12512 removes windows from atlas listening post
  maps/atlas.dmm
Labels: C-Bug, A-Mapping, size/M

#12560 wrestlemap fixes
  maps/wrestlemap.dmm
Labels: C-Bug, A-Mapping, size/L

#12552 Fix flickering when changing components on nuclear engine
  code/obj/nuclearreactor/nuclearreactor.dm
Labels: C-QoL, C-Experimental, size/S, A-Game-Objects

#12475 Make tomatoes' reagent react before transfering to the splat when thrown
  code/modules/food_and_drink/plants.dm
Labels: C-Bug, size/XS, A-Chemistry, A-Hydroponics

#12558 Turbine Control Computer Bugfix
  code/obj/nuclearreactor/reactorcontrol.dm
Labels: C-Bug, size/XS, A-Game-Objects

#12557 stop observer/aieye mousedrops categorically
  code/atom.dm
Labels: C-Bug, size/XS, A-Player-Actions, A-Silicons

#12540 Fixes yet more conversion chamber jank
  code/modules/robotics/robot/robot_docking_station.dm
Labels: C-Bug, size/XS, A-Gamemodes

#12556 `grody` general manufacturer subtype
  assets/maps/prefabs/prefab_silverglass.dmm
  code/obj/machinery/manufacturer.dm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/ozymandias.dmm
  maps/z3_water.dmm
Labels: A-Mapping, C-Code-Quality, size/M

#12547 Remove Clarion shields
  maps/clarion.dmm
Labels: A-Mapping, C-QoL, C-Removal, size/XXL

#12575 Fixes signalers working while stunned
  code/obj/item/device/radio.dm
Labels: C-Bug, C-Balance, size/XS, A-Game-Objects

#12568 Nukes true/false for TRUE/FALSE
  _std/__std.dme
  _std/defines/logic.dm
  code/WorkInProgress/recycling/disposal_chute.dm
  code/_lighting/RobustLight2.dm
  code/client.dm
  code/datums/abilities/wraith.dm
  code/datums/ai_laws.dm
  code/datums/cookingrecipes.dm
  code/datums/gamemodes/assday_classic.dm
  code/datums/gamemodes/battle_royale.dm
  code/datums/gamemodes/football.dm
  code/datums/gamemodes/mixed.dm
  code/datums/gamemodes/traitor.dm
  code/datums/gameticker.dm
  code/datums/hud.dm
  code/modules/admin/randomverbs.dm
  code/modules/antagonists/wraith/objs/item/spirit_candle.dm
  code/modules/antagonists/wraith/objs/machinery/vortex_wraith.dm
  code/modules/antagonists/wraith/status_system/wraithEffects.dm
  code/modules/atmospherics/portable/canister.dm
  code/modules/events/ion_storm.dm
  code/modules/events/syndicate_retribution.dm
  code/modules/fishing/fishing_gear.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants.dm
  code/modules/hydroponics/plants_crop.dm
  code/modules/items/specials/ItemSpecials.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/medical/medicaldiagnosis.dm
  code/modules/medical/pathology/pathogen_machines.dm
  code/modules/power/sword_engine.dm
  code/modules/robotics/bot/floorbot.dm
  code/modules/robotics/bot/mining.dm
  code/modules/sound/sound.dm
  code/modules/transport/pods/MainWeapon.dm
  code/modules/transport/pods/secondary_system.dm
  code/modules/transport/pods/sensors.dm
  code/obj/critter/sword.dm
  code/obj/flock/structure/collector.dm
  code/obj/item/ai_modules.dm
  code/obj/item/clothing/gloves.dm
  code/obj/item/device/gps.dm
  code/obj/item/rcd.dm
  code/obj/item/retribution.dm
  code/obj/item/stun_baton.dm
  code/obj/machinery/law_racks.dm
  code/obj/machinery/plantpot.dm
  code/obj/retribution/makeshift_signaller.dm
  code/z_adventurezones/earth.dm
Labels: C-Code-Quality, size/XL, A-Internal

#12573 Removes a single tile of east solar array area on cog2
  maps/cogmap2.dmm
Labels: C-Bug, A-Mapping, size/XS, A-Gamemodes

#12470 Fellable trees
  assets/maps/prefabs/prefab_beesanctuary.dmm
  assets/maps/prefabs/prefab_habitat.dmm
  assets/maps/prefabs/prefab_water_beesanctuary.dmm
  assets/maps/random_rooms/3x3/tree_80.dmm
  assets/maps/random_rooms/5x3/sakura_40.dmm
  assets/maps/shuttles/south/small/cog1-zenshuttle.dmm
  code/WorkInProgress/ud5/backup/z7_urs_dungeon_5.dmm
  code/mob/living/critter/small_animal.dm
  code/modules/sound/soundCache.dm
  code/modules/worldgen/mapgen/IceMoonGenerator.dm
  code/modules/worldgen/mapgen/biomes/_biome.dm
  code/obj/decorations.dm
  code/z_adventurezones/carcosa.dm
  code/z_adventurezones/gannets_dojozone.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogwip/kappa.dmm
  maps/density.dmm
  maps/destiny.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/unused/chiron.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/linemap.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/old_trunkmap.dmm
  maps/unused/samedi.dmm
  maps/unused/setpieces/SHARED_biodomeExpanded.dmm
  maps/unused/setpieces/carcosa.dmm
  maps/unused/setpieces/gokart_full.dmm
  maps/unused/trunkmap.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
  maps/zamujasa/nomad.dmm
  sound/effects/treefall.ogg
Labels: C-Feature, A-Mapping, size/XXL, A-Game-Objects

#12555 Add configuration UI to turbine as well as control computer
  code/obj/nuclearreactor/turbine.dm
Labels: C-Feature, C-QoL, A-UI, size/M, A-Game-Objects
