Repository goonstation/goonstation, pull requests merged in 2022-10, with the labels that each got.

#9043 Add artifact limb surgery machine artifact subtype
  _std/defines/item.dm
  code/datums/limb.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/modules/events/gimmick/bigfart.dm
  code/obj/artifacts/artifact_objects/augmentor.dm
  code/obj/item/material.dm
  code/obj/item/mob_parts/artifact_parts.dm
  goonstation.dme
  icons/mob/artifact_limb_abilities.dmi
  icons/mob/human.dmi
  icons/mob/inhand/hand_medical.dmi
  icons/obj/artifacts/artifactLimbs.dmi
  icons/obj/artifacts/eldritchLimbs.dmi
  icons/obj/items/human_parts.dmi
Labels: C-Feature, C-Sprites, E-Certified-Organic, size/XL, A-Science

#11099 Fixes #11098 - Bat/Fireball flip
  code/datums/abilities/wizard/phaseshift.dm
Labels: C-Bug, size/XS

#11101 removes vuvuzela gun from the BR item pool
  code/datums/syndicate_buylist.dm
Labels: C-Balance, size/XS, A-Gamemodes

#11071 Gnesis Turret Buff
  code/obj/flock/structure/gnesisturret.dm
Labels: C-Bug, C-Balance, size/M, A-Gamemodes, A-Game-Objects

#11115 Remove evolve ability button on poltergeist
  code/mob/wraith.dm
Labels: C-Bug, C-QoL, size/XS, A-Gamemodes

#10907 Traders Arriving Use Signals to Extend Airbridges / Trigger Lights
  _std/defines/component_defines/component_defines_special.dm
  code/modules/events/minor/trader.dm
  code/modules/power/lighting.dm
  code/obj/airbridge.dm
  maps/clarion.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
Labels: C-Feature, A-Mapping, size/L, A-Game-Objects

#11052 Terminal HTML Fix
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/modules/networks/computer3/terminal.dm
Labels: C-Bug, P-Critical, size/XS, A-Station-Systems

#10992 Lets silicons use GPSs
  code/obj/item/device/gps.dm
Labels: C-QoL, size/S, A-Game-Objects, A-Silicons

#11050 Chef Objective Fix
  code/datums/crew_objective.dm
  code/modules/food_and_drink/condiments.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/pies.dm
Labels: C-Bug, size/S, A-Internal, S-Ready-For-Final-Review

#10805 Mining Encounter: Sea Trench Asteroid
  code/modules/mining/mining_encounters.dm
  code/obj/mining.dm
Labels: C-Feature, A-Mapping, size/M

#11120 Add maintenance access to Cogmap1 NE Maintenance Doors
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/XS

#11119 Fixes swirlies
  code/obj/item/toilets.dm
Labels: C-Bug, size/XS, A-Player-Actions

#11107 Add naming for new surgery machine artifact subtype on artifact form
  code/obj/artifacts/artifact_objects/augmentor.dm
Labels: C-Bug, size/XS, A-Game-Objects, A-Science

#11038 Adds the botany hydro-mister to maps missing it.
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/horizon.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/wrestlemap.dmm
Labels: A-Mapping, C-QoL, E-Add-To-Wiki, size/L

#11055 Updated Ion Law to be less gross and more fun.
  code/modules/events/ion_storm.dm
Labels: size/XS

#11116 Gildable coachgun
  code/obj/item/gun/kinetic.dm
  icons/mob/inhand/hand_guns.dmi
  icons/obj/items/gun.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/XS, A-Game-Objects

#11140 Fixes flockdrone corpses being bullet sponges
  code/mob/living/critter/flockcritter_parent.dm
Labels: C-Bug, C-Balance, size/XS, A-Gamemodes

#11090 Doubles mixed major threat spawn chance and lowers antag cost
  code/datums/gamemodes/mixed.dm
Labels: C-Balance, E-Input-Wanted, size/XS, A-Gamemodes

#10899 nvm it only fixes asteroids calling (init) whoops
  code/obj/decorations.dm
  code/obj/mining.dm
  code/turf/walls.dm
Labels: C-Performance, C-Code-Quality, size/M, A-Game-Objects

#11157 Removes the soul requirement from disaster mode wraiths
  code/datums/abilities/wraith.dm
Labels: C-Balance, E-Add-To-Wiki, size/XS, A-Gamemodes

#11129 The Mobbening Part 2: Obj to Snakes
  code/datums/abilities/wizard/stickstosnakes.dm
  code/mob/living/critter/ai/snake.dm
  code/mob/living/critter/snake.dm
  code/modules/fishing/fishing_spots.dm
  code/obj/critter/misc.dm
  code/obj/item/misc_wizard_stuff.dm
  goonstation.dme
  maps/z2.dmm
Labels: A-Mapping, C-Code-Quality, size/L, A-Game-Objects, A-AI, A-Internal

#11164 Updates disaster wraith evolve description
  code/datums/abilities/wraith.dm
Labels: C-QoL, A-UI, size/XS, A-Gamemodes

#11139 Particool fix: Tooltips now work for all entries
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Particool.js
Labels: C-Bug, P-Minor, A-UI, size/L, A-Admin

#11093 HOTbox lighter buff
  code/datums/syndicate_buylist.dm
  code/obj/item/cigarette.dm
Labels: C-Balance, E-Add-To-Wiki, size/S, A-Game-Objects

#11180 Fixes* some explosion runtimes
  code/datums/controllers/explosion_controls.dm
Labels: C-Bug, size/S, A-Internal

#11176 fixes cog1 medbay breakroom lights
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/S

#11175 fixes some fallen vendor sprites
  code/modules/vending/vending.dm
  code/obj/item/paint.dm
Labels: C-Bug, size/XS, A-Game-Objects

#11108 Pumpkin Spice Plant Mutation
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/plants.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_fruit.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/foodNdrink/drinks.dmi
  icons/obj/foodNdrink/food_produce.dmi
  icons/obj/hydroponics/plants_fruit.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/M, A-Hydroponics

#11177 fixes donut2 mailpipe loop
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/M

#11203 Fixes Pumpkin Spice TermOS Error
  code/modules/food_and_drink/plants.dm
Labels: C-Bug, size/XS

#10990 Dead silicons drop clothing
  code/mob/living/silicon/robot.dm
Labels: C-Feature, C-Balance, size/XS, A-Silicons

#11088 Resprites Pulse Rifles
  icons/obj/items/gun.dmi
  icons/obj/weapon_rack.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#11076 unsims wrestlemap main ring
  code/datums/abilities/wrestler.dm
  maps/wrestlemap.dmm
Labels: C-Bug, A-Mapping, C-QoL, size/M

#10898 Gives medical a prepared belt.
  code/datums/jobs.dm
  code/modules/chemistry/tools/emergency_injectors.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/storage/med_chem.dm
Labels: E-Input-Wanted, C-QoL, S-Stale, E-Add-To-Wiki, size/M, A-Game-Objects, S-Controversial

#10536 Chem Group Recordings
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/chemistry/Chemistry-Dispenser.dm
  tgui/packages/tgui/interfaces/ChemDispenser.js
Labels: C-Balance, C-Experimental, S-Merge-Conflict, S-Stale, A-UI, size/L, A-Medical, A-Chemistry, A-Science

#11222 very important fork fix
  code/obj/item/storage/lunchboxes.dm
Labels: C-Bug, size/XS, A-Catering, A-Traits

#11218 Fixed Donut2 and Oshan armory doors
  maps/donut2.dmm
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/XS

#10787 Add Flock Fabricator structure
  code/datums/flock/flock.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/obj/flock/structure/fabricator.dm
  code/obj/flock/structure/flock_structure_ghost.dm
  code/obj/flock/structure/flock_structure_parent.dm
  code/obj/item.dm
  code/procs/gamehelpers.dm
  goonstation.dme
  icons/misc/featherzone.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/L, A-Gamemodes, A-Game-Objects

#10977 Prevents A Non-Admin Respawn Antag Wraith from Spawning If A Wraith is Already Alive
  code/modules/events/antag_ghost_respawn.dm
Labels: C-Balance, size/XS, A-Gamemodes

#11207 moves a book on oshan by one tile
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, size/XS

#11136 Fixes vampires and thralls having decomposition states after being revived
  code/datums/abilities/vampire.dm
  code/datums/mutantraces.dm
Labels: C-Bug, size/S, A-Gamemodes

#11063 Gives nightvision to the harbinger's summons and to the manifested trickster
  code/modules/antagonists/wraith/critters/nascent.dm
  code/modules/antagonists/wraith/critters/skeleton_commander.dm
  code/modules/antagonists/wraith/critters/spiker.dm
  code/modules/antagonists/wraith/critters/trickster_puppet.dm
  code/modules/antagonists/wraith/critters/voidhound.dm
Labels: C-Feature, size/XS, A-Gamemodes

#11155 Spooktober Candy and Jellybean Cauldrons
  code/modules/holiday/halloween.dm
  icons/misc/halloween.dmi
  maps/z2.dmm
Labels: C-Feature, A-Mapping, C-Sprites, size/M, A-Game-Objects

#11234 Cyborgs can no longer remove APC batteries
  code/modules/power/apc.dm
Labels: C-Bug, size/XS

#11241 gone are the 2 pixels that bother me on the fire alarm
  icons/obj/monitors.dmi
Labels: C-Sprites, C-QoL, E-FUCK, size/XS, A-Game-Objects

#11240 Fix appearance/heads regression breaking the tommygun/tommyize.
  code/WorkInProgress/SpyGuyStuff.dm
Labels: P-Minor, size/S

#11232 Fixes #11182 Midas touch duplication for food_box subtypes
  code/obj/item/kitchen.dm
Labels: C-Bug, size/M

#11109 Add Flockpanel Stats tab
  browserassets/tgui/tgui.bundle.js
  code/datums/flock/flock.dm
  code/mob/living/critter/flock/flockbit.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/mob/living/intangible/flock/flocktrace.dm
  code/obj/flock/structure/flock_structure_ghost.dm
  tgui/packages/tgui/interfaces/FlockPanel.js
Labels: C-Feature, A-UI, size/M

#11197 Lets cyborgs rename themselves
  code/modules/robotics/robot/robot_docking_station.dm
Labels: C-Balance, C-QoL, size/XS, A-Silicons

#11258 Fixes mailing between the station and research outpost on Donut 2
  code/WorkInProgress/recycling/disposal.dm
  code/obj/machinery/floorflusher.dm
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/M

#11231 Pods now require some plasma in the fuel tank to run
  code/modules/transport/pods/engine.dm
  code/modules/transport/pods/vehicle.dm
Labels: C-Feature, size/XS, A-Game-Objects

#11144 Tones down sims_stinky range
  code/modules/medical/genetics/bioEffects/non_genetic.dm
Labels: C-QoL, size/XS, A-Player-Actions

#11031 Caps flockdrones at 75 per flock
  _std/macros/flock.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/obj/flock/cage.dm
Labels: C-Balance, size/M, A-Gamemodes

#11261 Fix chat scroll message for cutting off someone's butt
  code/modules/medical/surgery_procs.dm
Labels: C-Bug, size/XS

#11268 Fixes navigation marker fixme
  code/obj/decal.dm
  maps/z3.dmm
Labels: C-Bug, A-Mapping, C-Sprites, size/S

#11269 fixes swapped nukie plant names on wrestlemap
  code/map.dm
Labels: C-Bug, A-Mapping, size/XS

#11192 Standardises The Cogmap2 Armoury
  maps/cogmap2.dmm
Labels: A-Mapping, C-Balance, C-QoL, E-Add-To-Wiki, size/L

#11277 Standardises The Oshan Armoury
  maps/oshan.dmm
Labels: A-Mapping, C-Balance, C-QoL, E-Add-To-Wiki, size/L

#11229 Changes tree mutations to use infusions
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_crop.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
  code/obj/machinery/plantpot.dm
Labels: C-Feature, size/M

#11286 Fixes flock structures again
  code/mob/living/intangible/flockmob_parent.dm
Labels: C-Bug, size/XS, A-Gamemodes, A-Player-Actions

#11201 Adrift Cargo Prefab
  assets/maps/prefabs/prefab_adrift_cargo_router.dmm
  code/area.dm
  code/modules/worldgen/prefab/mining.dm
Labels: A-Mapping, size/XL

#11285 Standardises The Destiny Armoury
  maps/destiny.dmm
Labels: A-Mapping, C-Balance, C-QoL, E-Add-To-Wiki, size/L

#11266 Rework espresso machine for TGUI and QoL features
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/espresso.dm
  icons/obj/foodNdrink/espresso.dmi
  tgui/packages/tgui/interfaces/EspressoMachine.js
Labels: C-Feature, C-Sprites, C-QoL, A-UI, size/L, A-Silicons, A-Catering

#11278 Fixes some incorrect styling on flocksay
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/modules/admin/admin_verbs.dm
  code/procs/mobprocs/chatprocs.dm
Labels: C-Bug, size/M, A-Gamemodes, A-Player-Actions

#11117 Make Flockdrone attack reports use actual name of what was attacked
  code/datums/components/flock/flockprotection.dm
  code/obj/flock/furniture.dm
  code/obj/machinery/door/feather.dm
  code/obj/window.dm
  code/turf/turf_flock.dm
Labels: C-QoL, size/M, A-Gamemodes

#9963 Tgui in-hand material sheet construction menu
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/tgui/states/default.dm
  code/obj/item/building_materials.dm
  tgui/packages/tgui/interfaces/SheetCrafting.js
Labels: C-Feature, C-QoL, S-Merge-Conflict, A-UI, size/XL, E-Freeze-Exempt🧊

#11297 Add espresso machine to Oshan Bar
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, size/S, A-Game-Objects

#11304 Fixes custom grenade regression caused by a small mistake made in a tgui PR.
  code/modules/admin/admin_verbs.dm
Labels: C-Bug, size/XS

#11305 Refactors various face-visibility checks in code to use the face_visible() proc.
  code/mob/living/carbon/human/procs/get_desc.dm
  code/mob/living/life/arrest_icon.dm
  code/modules/robotics/bot/secbot.dm
  code/obj/machinery/secscanner.dm
Labels: P-Minor, C-Code-Quality, size/M

#11300 Fixes *some* robotics consoles being unable to be deconstructed
  maps/donut2.dmm
  maps/kondaru.dmm
Labels: C-Bug, A-Mapping, size/XS

#11308 Refactor Kleptomaniac
  code/datums/traits.dm
Labels: C-Bug, C-Code-Quality, size/S

#11039 Multi mining-magnet drifting
  code/datums/controllers/mining_controls.dm
  code/obj/landmark.dm
  code/obj/mining.dm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/wrestlemap.dmm
Labels: C-Bug, A-Mapping, C-QoL, S-Stale, size/XL, A-Game-Objects

#11326 fix donut 2 mining magnet not setting up properly
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/XS, A-Game-Objects

#11325 fix space rubber tree infusion id
  code/modules/hydroponics/plants_crop.dm
Labels: P-Major, size/XS, A-Chemistry, A-Hydroponics

#11319 Remove unnecessary Flock intangible move code
  code/mob/living/intangible/flockmob_parent.dm
Labels: C-Bug, C-Code-Quality, size/XS, A-Game-Objects, A-Internal

#11306 Brig flushers now take into account your actual name if your face is visible.
  code/obj/machinery/floorflusher.dm
Labels: C-QoL, size/XS, A-Game-Objects

#11333 room designator now actually works and combines built zones
  code/WorkInProgress/construction/tools.dm
Labels: C-QoL, size/L, A-Game-Objects

#11334 Constructable solar panels and solar trackers
  code/modules/power/solar.dm
Labels: C-Feature, C-QoL, size/M, A-Game-Objects

#11314 Fixes writing cleanables having reagents
  _std/defines/item.dm
  code/obj/decal/cleanable.dm
  code/obj/item/pens_writing_etc.dm
Labels: C-Bug, size/S, A-Game-Objects

#11344 Remove range limit on fabricators for cyborgs.
  code/obj/machinery/manufacturer.dm
Labels: C-QoL, size/XS, A-Silicons

#11330 Adds base chems to chemical request console
  assets/maps/prefabs/prefab_water_greenhouse.dmm
  assets/maps/prefabs/prefab_water_seamonkey.dmm
  assets/maps/prefabs/prefab_water_watertreatment.dmm
  code/WorkInProgress/ud5/backup/z7_urs_dungeon_5.dmm
  code/modules/chemistry/Chemistry-Dispenser.dm
  code/modules/chemistry/chem_requester.dm
  maps/artemis/arjuna.dmm
  maps/artemis/artemis.dmm
  maps/artemis/manta.dmm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/density.dmm
  maps/destiny.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/unused/chiron.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/linemap.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/old_trunkmap.dmm
  maps/unused/oldmap.dmm
  maps/unused/samedi.dmm
  maps/unused/setpieces/AIBM_lunar.dmm
  maps/unused/setpieces/SHARED_biodomeExpanded.dmm
  maps/unused/trunkmap.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
  maps/z3.dmm
Labels: C-Feature, A-Mapping, C-QoL, size/L, A-Chemistry

#11318 More botany things inherit reagents
  code/modules/food_and_drink/plants.dm
Labels: C-Feature, size/XS

#11317 Zongzi cooking recipe and eating QoL
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/submachine/cooking.dm
Labels: C-Feature, C-QoL, size/S, A-Catering

#11189 Cybernetic hypospray context menu
  code/mob.dm
  code/mob/living/intangible/ai-camera.dm
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/chemistry/tools/robospray.dm
  code/modules/interface/multiContext/context_actions.dm
  code/modules/interface/multiContext/multiContext.dm
  icons/ui/context16x16.dmi
Labels: C-Feature, C-Sprites, C-QoL, A-UI, size/M, A-Silicons

#11081 Add Flock Interceptor turret
  _std/macros/flock.dm
  code/datums/components/flock/flockprotection.dm
  code/datums/flock/flock.dm
  code/datums/flock/flockunlockable.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/obj/flock/structure/interceptor.dm
  goonstation.dme
  icons/misc/featherzone.dmi
  icons/obj/projectiles.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/L, A-Gamemodes

#11372 Pirates!
  _std/defines/access.dm
  _std/defines/landmarks.dm
  _std/defines/projectiles.dm
  _std/defines/radio.dm
  _std/defines/roles.dm
  _std/macros/antagchecks.dm
  _std/macros/flock.dm
  browserassets/images/radio_icons/pirate.png
  browserassets/images/radio_icons/pirate_captain.png
  browserassets/images/radio_icons/pirate_first_mate.png
  code/WorkInProgress/pirate.dm
  code/area.dm
  code/datums/abilities/flock/flockmind.dm
  code/datums/components/flock/flockprotection.dm
  code/datums/flock/flock.dm
  code/datums/flock/flockunlockable.dm
  code/datums/jobs.dm
  code/global.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/silicon/ai/ai_abilities.dm
  code/modules/antagonists/blob/blob_abilities.dm
  code/modules/antagonists/pirate/pirate.dm
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/energy_bolt.dm
  code/modules/transport/pods/secondary_system.dm
  code/obj/access_spawn.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/effects/particles.dm
  code/obj/flock/structure/interceptor.dm
  code/obj/item/clothing/armor.dm
  code/obj/item/clothing/glasses.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/device/radios/headsets.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/energy.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/implant.dm
  code/obj/mining.dm
  code/procs/mob_procs.dm
  goonstation.dme
  icons/effects/blood.dmi
  icons/misc/featherzone.dmi
  icons/mob/antag_overlays.dmi
  icons/mob/clothing/back.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/overcoats/worn_suit_armor.dmi
  icons/mob/inhand/hand_guns.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/overcoats/item_suit_armor.dmi
  icons/obj/decoration.dmi
  icons/obj/items/ammo.dmi
  icons/obj/items/gun.dmi
  icons/obj/large/48x32.dmi
  icons/obj/large/64x32.dmi
  icons/obj/projectiles.dmi
  icons/ui/statussystem.dmi
  sound/weapons/flintlock.ogg
Labels: size/XL

#9724 Adds a new traitor item for mime: poisoned rose
  code/datums/syndicate_buylist.dm
  code/obj/item/plants.dm
Labels: C-Feature, C-Balance, E-Input-Wanted, size/M, E-Freeze-Exempt🧊, A-Game-Objects

#11398 Fixes some minor bugs with the syndicate cyborg converter
  code/datums/syndicate_buylist.dm
  code/modules/robotics/robot/robot_docking_station.dm
Labels: C-Bug, size/XS, A-Gamemodes

#11339 makes the magnetizer tool support making magnets with terrainify active
  code/obj/mining.dm
Labels: C-Bug, C-QoL, size/S, A-Game-Objects

#11021 Add an AFK check for Flockminds
  _std/macros/flock.dm
  code/datums/flock/flock.dm
  code/mob/living/intangible/flock/flockmind.dm
  code/mob/living/intangible/flockmob_parent.dm
Labels: C-QoL, size/M, A-Gamemodes

#11375 Removes secret chems from bartender objective
  code/datums/crew_objective.dm
Labels: C-QoL, size/S, A-Catering

#11377 Turns down the misstep on flockmind radio stun
  code/datums/abilities/flock/flockmind.dm
Labels: C-Balance, size/XS, A-Gamemodes

#11385 Fix artifact limb click drag attachment not working
  code/mob/living.dm
Labels: C-Bug, size/S, A-Game-Objects

#11025 More fix me sprites to help find more broken stuff, some broken sprite fixes
  code/mob/living/carbon/human/procs/update_icon.dm
  code/obj/item.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/mob_parts/robot_parts.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/tank.dm
  icons/effects/64x64.dmi
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/bighat.dmi
  icons/mob/clothing/card.dmi
  icons/mob/clothing/ears.dmi
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/jumpsuits/worn_js.dmi
  icons/mob/clothing/jumpsuits/worn_js_athletic.dmi
  icons/mob/clothing/jumpsuits/worn_js_gimmick.dmi
  icons/mob/clothing/jumpsuits/worn_js_misc.dmi
  icons/mob/clothing/jumpsuits/worn_js_pride.dmi
  icons/mob/clothing/jumpsuits/worn_js_rank.dmi
  icons/mob/clothing/jumpsuits/worn_js_reward.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/mob/clothing/overcoats/worn_suit_armor.dmi
  icons/mob/clothing/overcoats/worn_suit_cardboard.dmi
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/mob/clothing/overcoats/worn_suit_hazard.dmi
  icons/mob/human.dmi
  icons/mob/robots.dmi
  icons/obj/doors/SL_doors.dmi
  icons/obj/items/device.dmi
  icons/obj/items/storage.dmi
  icons/obj/large_storage.dmi
  icons/obj/machines/8dirvehicles.dmi
  icons/obj/robot_parts.dmi
  icons/obj/ship.dmi
  icons/obj/vending.dmi
Labels: C-Bug, C-Sprites, size/M, A-Game-Objects

#11405 Revert "More fix me sprites to help find more broken stuff, some broken sprite fixes"
  code/mob/living/carbon/human/procs/update_icon.dm
  code/obj/item.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/mob_parts/robot_parts.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/tank.dm
  icons/effects/64x64.dmi
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/bighat.dmi
  icons/mob/clothing/card.dmi
  icons/mob/clothing/ears.dmi
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/jumpsuits/worn_js.dmi
  icons/mob/clothing/jumpsuits/worn_js_athletic.dmi
  icons/mob/clothing/jumpsuits/worn_js_gimmick.dmi
  icons/mob/clothing/jumpsuits/worn_js_misc.dmi
  icons/mob/clothing/jumpsuits/worn_js_pride.dmi
  icons/mob/clothing/jumpsuits/worn_js_rank.dmi
  icons/mob/clothing/jumpsuits/worn_js_reward.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/mob/clothing/overcoats/worn_suit_armor.dmi
  icons/mob/clothing/overcoats/worn_suit_cardboard.dmi
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/mob/clothing/overcoats/worn_suit_hazard.dmi
  icons/mob/human.dmi
  icons/mob/robots.dmi
  icons/obj/doors/SL_doors.dmi
  icons/obj/items/device.dmi
  icons/obj/items/storage.dmi
  icons/obj/large_storage.dmi
  icons/obj/machines/8dirvehicles.dmi
  icons/obj/robot_parts.dmi
  icons/obj/ship.dmi
  icons/obj/vending.dmi
Labels: C-Sprites, size/M

#11386 Add three new maps to random room selection
  assets/maps/random_rooms/3x3/drydesert_65.dmm
  assets/maps/random_rooms/3x3/turmeric.dmm
  assets/maps/random_rooms/5x3/sakura_40.dmm
Labels: A-Mapping, size/L

#11359 Adds a primary weapon to the Field Medic crate
  code/modules/projectiles/bullet.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/storage/ammo_pouches.dm
  code/obj/storage/crates.dm
  icons/obj/large/48x32.dmi
Labels: C-Feature, C-Sprites, C-Balance, E-Add-To-Wiki, size/M, A-Gamemodes, A-Game-Objects

#11406 refactor calculate_melee_attack and related procs
  code/datums/limb.dm
  code/mob/living/critter/aquatic.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/melee_attack_procs.dm
  code/modules/antagonists/wraith/critters/skeleton_commander.dm
  code/obj/item/clothing/gloves.dm
Labels: C-Code-Quality, C-Balance, size/L, A-Player-Actions, A-Internal

#10254 Updates most vending machines w/ directionals
  icons/obj/vending.dmi
Labels: C-Sprites, size/XS, E-Freeze-Exempt🧊, A-Game-Objects, S-Ready-For-Final-Review

#11399 Peeker plants can now target solo people
  code/modules/hydroponics/plants_alien.dm
Labels: C-Bug, size/XS, A-Hydroponics

#11391 Adds PDA alert category to ion storm
  code/modules/events/ion_storm.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/device/pda2/smallprogs.dm
Labels: C-Feature, size/S, A-Station-Systems

#11383 Reduces RCD fuel costs
  code/datums/manufacturing.dm
Labels: C-Balance, size/XS, A-Game-Objects

#11346 Correctly reset requisition roll counts after failed sale
  code/modules/economy/requisition/requisition_contracts.dm
Labels: C-Bug, P-Major, size/XS

#11228 Exited overrides for large cells
  code/datums/controllers/sea_hotspot_controls.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/hivebot.dm
  code/modules/medical/surgery_tools.dm
  code/modules/networks/computer3/computer3.dm
  code/modules/power/apc.dm
  code/modules/power/lgenerator.dm
  code/modules/robotics/bot/guardbot.dm
  code/modules/robotics/bot/mulebot.dm
  code/modules/telescience/teleport_jammer.dm
  code/obj/item/device/flash.dm
  code/obj/item/mob_parts/robot_parts.dm
  code/obj/machinery/cell_charger.dm
  code/obj/machinery/computer/card.dm
  code/obj/machinery/interdictor.dm
  code/obj/machinery/phone/cellphone.dm
  code/obj/machinery/shield_generators/portable_shield_generator.dm
  code/obj/machinery/spaceheater.dm
  code/obj/mining.dm
Labels: C-Bug, size/L

#11396 Reworks how space in plates work (and a little extra)
  code/modules/food_and_drink/snacks.dm
  code/obj/item/kitchen.dm
Labels: C-Bug, C-QoL, C-Rework, size/M, A-Game-Objects, A-Catering

#11400 Add existing syndie backpack to listening post closet
  code/obj/storage/closets.dm
Labels: C-Feature, size/XS, A-Game-Objects

#11183 minor speedup to boutput code
  code/atom.dm
  code/datums/browserOutput.dm
  code/obj/machinery/computer/cloning.dm
  code/procs/helpers.dm
Labels: C-Performance, size/M, A-Internal

#11416 nanite diseases only work on humans
  code/modules/medical/diseases/corrupt_robotic_transformation.dm
  code/modules/medical/diseases/robotic_transformation.dm
Labels: C-Bug, size/S

#11309 Glass Recycler drag and drop
  code/obj/machinery/glass_recycler.dm
Labels: C-QoL, size/S, A-Silicons

#11413 Fixes #11060 & Others - Special Spawn Location Fixes
  code/datums/jobs.dm
  code/mob/new_player.dm
Labels: C-Bug, size/S, A-Internal

#11422 Improves FEA_turf_tile.dm readability
  _std/macros/atmos.dm
  code/modules/atmospherics/FEA_atom_movable.dm
  code/modules/atmospherics/FEA_turf_tile.dm
  goonstation.dme
Labels: C-Code-Quality, size/XXL, A-Atmospherics

#11426 Fixes Veritate empty state
  icons/obj/large/48x32.dmi
Labels: C-Bug, P-Trivial, C-Sprites, size/XS

#11432 Adds a sprite for Knight Combat Gauntlets.
  code/obj/item/clothing/gloves.dm
  icons/obj/clothing/item_gloves.dmi
Labels: C-Sprites, size/XS

#11418 Adds pushback from firing kinetic guns in space
  code/obj/item/gun/kinetic.dm
Labels: C-Feature, size/XS, A-Game-Objects

#11393 Better disarm logging
  code/mob/melee_attack_procs.dm
Labels: C-QoL, size/S, A-Admin

#11433 Give chemistry borgs a hand labeler
  code/modules/robotics/robot/module_tool_creator/modules.dm
Labels: E-Add-To-Wiki, size/XS, A-Silicons

#11337 Oshan science minor adjustments
  maps/oshan.dmm
Labels: A-Mapping, size/M, A-Science

#11362 Adds unstocked general manufacturer to Oshan refinery
  maps/oshan.dmm
Labels: C-Feature, A-Mapping, C-Balance, size/S

#11414 Gives the Ghost Buster job a new headset and radio icon
  browserassets/images/radio_icons/ghost_buster.png
  code/datums/jobs.dm
  code/obj/item/device/radios/headsets.dm
Labels: C-QoL, size/S, A-Game-Objects

#11444 Knight combat gauntlet sprite fix
  code/obj/item/clothing/gloves.dm
Labels: size/XS

#11443 Fixes net_sniffer HTML exploit
  code/modules/networks/computer3/sniffer.dm
Labels: C-Bug, P-Critical, size/XS, A-Game-Objects

#11447 Nadir Fixbatch 1
  code/area.dm
  maps/nadir.dmm
Labels: C-Bug, A-Mapping, P-Critical, size/L

#11446 Fixes runtime when floorbots get turned off mid-action
  code/modules/robotics/bot/floorbot.dm
Labels: C-Bug, C-Runtime, size/XS

#11441 Reworks coagulated gnesis tinting
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/status_system/statusEffects.dm
Labels: C-QoL, size/S, A-Gamemodes

#10246 Makes the Radio Station's record player an admin-toggleable feature.
  code/global.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/toggles.dm
  code/modules/telescience/radiostation.dm
Labels: C-Feature, size/M, A-Admin

#11456 Fix icon goofs post nadir merge
  icons/obj/computer.dmi
  icons/obj/computer_screens.dmi
  icons/obj/items/device.dmi
  icons/obj/large_storage.dmi
  icons/obj/stationobjs.dmi
  icons/turf/floors.dmi
Labels: C-Bug, C-Sprites, P-Critical, E-FUCK, size/XS

#11461 Nadir transception array artifact sale issue fix
  code/WorkInProgress/nadir_antenna.dm
Labels: C-Bug, P-Major, size/XS

#11465 Nadir transception array mail-order fix
  code/WorkInProgress/nadir_antenna.dm
  code/modules/economy/persistent_bank_purchases.dm
Labels: C-Bug, P-Major, size/M

#11457 Nadir Fixbatch 2
  code/WorkInProgress/nadir_antenna.dm
  maps/nadir.dmm
Labels: C-Bug, C-Feature, P-Minor, A-Mapping, size/L

#11431 Show location in description and usage or cargo transporter
  code/obj/mining.dm
Labels: C-QoL, size/XS, A-Game-Objects

#11440 clean up mechcomp housing hear_talk
  code/modules/mechanics/MechanicMadness.dm
  code/procs/helpers.dm
Labels: P-Minor, C-Code-Quality, size/S, A-Internal

#11425 Reverts medical vendor palette changes.
  icons/obj/vending.dmi
Labels: C-Sprites, C-Revert, size/XS, S-Controversial

#11171 Removes rule 4 no-no word
  code/obj/critter/pets_small_animals.dm
Labels: C-Rework, size/XS, A-Game-Objects

#11481 Adds sanitization to Trasnception Interlink
  code/WorkInProgress/nadir_antenna.dm
Labels: C-Bug, P-Critical, size/XS, A-Station-Systems

#11483 Adds sanitization to Siphon Controls
  code/modules/siphon/siphon_controls.dm
Labels: C-Bug, P-Critical, size/XS, A-Station-Systems

#11486 Fix siphon controls
  code/modules/siphon/siphon_controls.dm
Labels: C-Bug, P-Major, size/XS, A-Game-Objects

#11469 Fix layer issue with machines that have pixel_x,y,z offset
  code/obj/machinery.dm
Labels: C-Bug, C-QoL, size/XS, A-Game-Objects

#11466 Recategorizes bean, corn, cucumber, peas and soybean in the Seed Fabricator
  code/modules/food_and_drink/plants.dm
  code/modules/hydroponics/plants_crop.dm
  code/modules/hydroponics/plants_fruit.dm
  code/modules/hydroponics/plants_veg.dm
  code/obj/machinery/plantpot.dm
Labels: C-Rework, size/L, A-Hydroponics

#11489 Shortens the Veritate PDW sprite
  code/obj/item/gun/kinetic.dm
  icons/obj/items/gun.dmi
  icons/obj/large/48x32.dmi
Labels: C-Sprites, size/XS

#11043 Sawfly code refactor
  _std/macros/antagchecks.dm
  code/datums/syndicate_buylist.dm
  code/mob/living/critter/ai/sawflyai.dm
  code/mob/living/critter/sawfly.dm
  code/obj/item/storage/ammo_pouches.dm
  code/obj/sawflymisc.dm
  icons/mob/critter_ui.dmi
  icons/obj/items/grenade.dmi
  icons/obj/items/sawfly.dmi
  icons/obj/ship.dmi
Labels: C-Sprites, C-Code-Quality, C-Rework, size/L, A-Game-Objects

#11478 Fixes cows insta-reacting with their own milk
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: C-Bug, size/XS

#11503 Fixes fishing abstract records from spatial tears
  code/modules/fishing/fishing_spots.dm
Labels: C-Bug, size/XS, A-Game-Objects

#11506 Syndicate pizza slices can no longer be caught
  code/modules/food_and_drink/snacks.dm
Labels: C-Bug, C-Balance, size/S, A-Catering

#11089 Adds a halberd
  code/obj/item/misc_weapons.dm
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/large/64x32.dmi
Labels: C-Feature, C-Sprites, size/L, A-Game-Objects

#11374 Merges mechanics with engineer
  _std/defines/jobs.dm
  code/WorkInProgress/mantaObjects.dm
  code/WorkInProgress/recycling/mail_chute.dm
  code/datums/banking.dm
  code/datums/controllers/job_controls.dm
  code/datums/crew_objective.dm
  code/datums/gamemodes/spy_theft.dm
  code/datums/jobs.dm
  code/datums/objective.dm
  code/datums/syndicate_buylist.dm
  code/lists/jobs.dm
  code/map.dm
  code/mob/living/carbon/human/normal.dm
  code/modules/admin/admin.dm
  code/modules/admin/jobban.dm
  code/modules/robotics/robot/module/engineering.dm
  code/obj/decal/cleanable.dm
  code/obj/item/device/pda2/cartridges.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/device/radios/headsets.dm
  code/obj/item/storage/clothing.dm
  code/obj/item/storage/toolbox.dm
  code/obj/item/tool/electronics.dm
  code/obj/machinery/computer/card.dm
  code/obj/machinery/singularity.dm
  code/obj/mining.dm
  code/obj/rocko.dm
  code/procs/access.dm
  code/procs/crew_credits.dm
  strings/assassination_fluff.txt
Labels: C-Balance, E-Input-Wanted, C-Rework, E-Add-To-Wiki, size/L, A-Station-Systems

#11520 Fixes being able to resist out of garrote grabs
  code/WorkInProgress/SpyGuyStuff.dm
  code/obj/item/grab.dm
Labels: C-Bug, A-Game-Objects

#11476 Allows items in pockets/hands/belts to hear chat
  code/mob/living/carbon/human.dm
Labels: C-Feature, C-QoL, size/S, A-Game-Objects

#11475 Nadir Fixbatch 3
  browserassets/images/pocket_guides/siphonguide.png
  code/modules/power/catalytic_engine.dm
  code/obj/item/device/pda2/smallprogs.dm
  maps/nadir.dmm
Labels: C-Bug, C-Feature, P-Minor, A-Mapping, size/XXL

#11442 Plunger Resprite (icon_state only)
  icons/obj/clothing/item_hats.dmi
Labels: C-Feature, C-Sprites, size/XS, A-Game-Objects

#11449 Adds admin logging to chemical request console
  code/modules/chemistry/chem_requester.dm
Labels: size/XS, A-Admin, A-Game-Objects, A-Internal
