Repository goonstation/goonstation, pull requests merged in 2022-04, with the labels that each got.

#7929 Cover for some weapons in no damage/spellshield protection
  code/obj/item/hydroponics.dm
  code/obj/item/misc_weapons.dm
Labels: balance, QoL, size/S

#7952 Changes the LSD Color Effect
  code/WorkInProgress/AnimationLibrary.dm
  code/modules/chemistry/Reagents-Drugs.dm
Labels: size/M

#8055 Attack Animation/Sfx/Delays for Hitting Phones and Canisters
  code/modules/atmospherics/portable/canister.dm
  code/obj/machinery/phone.dm
Labels: size/S

#7694 Deconstruction device surgeries and belt wearability
  code/obj/item/tool/electronics.dm
  goonstation.dme
Labels: cleanliness, balance, QoL, add to wiki, size/M

#7950 Add auto shuttle and final storm to Battle Royale
  code/datums/gamemodes/battle_royale.dm
  code/modules/events/battle_storm.dm
Labels: feature, size/L

#8059 Implements Productive Community Conversation Generator to the game.
  _std/__build.dm
  maps/manta_damaged.dmm
Labels: mapping, size/XXL

#8083 Fixes Attack Effects Playing When Using Wrench or Tank on Canister
  code/modules/atmospherics/portable/canister.dm
Labels: size/S

#8090 Very very minor engineering helmet sprite tweaks
  icons/obj/clothing/item_hats.dmi
Labels: sprites, size/XS

#8088 Fixes multiple color and palette errors on couches
  icons/obj/furniture/chairs.dmi
Labels: sprites, size/XS

#8082 Minor Mineral Magnet Mfixes
  code/datums/controllers/mining_controls.dm
  code/obj/machinery/shield_generators/shield_generator.dm
  code/obj/mining.dm
Labels: bug, size/S

#8058 Adds diff highlighting to AI law updates
  browserassets/css/browserOutput.css
  code/datums/ai_laws.dm
  code/modules/admin/randomverbs.dm
  code/modules/events/ion_storm.dm
  code/obj/machinery/law_racks.dm
Labels: feature, QoL, size/M

#8052 Fix table smoothing
  code/obj/table.dm
  code/procs/helpers.dm
Labels: bug, size/S

#8095 Resprites Teleport Swirls and Adds Two Variants
  code/WorkInProgress/AnimationLibrary.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/obj/machinery/science_teleporter.dm
  icons/effects/effects.dmi
Labels: sprites, size/M

#8072 MONO card resprite, the 3rd.
  code/obj/item/mono_card_game.dm
  icons/obj/items/playing_card.dmi
  strings/books/MONOrules.txt
Labels: sprites, size/M

#8025 Made non-intact floors always burn down to space
  code/turf/floors.dm
Labels: bug, QoL, size/XS

#7933 Minor datum gun limb changes
  code/datums/limb.dm
Labels: size/S

#8060 Reworks Human Torch Trait
  code/datums/traits.dm
  code/mob/living/life/fire.dm
  code/modules/status_system/statusEffects.dm
Labels: input wanted, rework, size/S

#8100 Fix fried items becoming small, including mobs.
  code/obj/machinery/deep_fryer.dm
Labels: size/XS

#8104 Fix outpost mining magnet designation issue
  maps/z3.dmm
Labels: mapping, size/L

#8062 Adamantium Skeleton Shows Message When It Works + Slight Math Change to It
  code/mob/living/carbon/human/procs/damage.dm
Labels: size/S

#8064 Removes thindows from Cogmap2
  maps/cogmap2.dmm
Labels: mapping, size/L

#8107 RobustLighting fixes 2
  _std/setup.dm
  code/RobustLight2.dm
  code/turf/turf.dm
  code/world.dm
Labels: bug, size/S

#7743 makes radio channels more visible on dark mode
  browserassets/css/browserOutput.css
Labels: QoL, size/XS

#8111 Add coordinate tooltip to canvas
  code/obj/item/canvas.dm
Labels: feature, size/XS

#8050 Consolidate Vamp TEG and Vampires Abilities
  code/datums/abilities/vampire.dm
  code/datums/abilities/vampire/enthrall.dm
  code/datums/abilities/vampire/glare.dm
  code/datums/abilities/vampire/vampire_bite.dm
  code/datums/abilities/vampiric_thrall.dm
  code/modules/events/vamp_teg.dm
  code/modules/projectiles/special.dm
Labels: size/L

#7914 Randomizes the discs contained within the records in the radio station.
  code/modules/telescience/radiostation.dm
  maps/oshan.dmm
  maps/z3.dmm
Labels: mapping, size/M

#8133 Giving swirlies will extinguish people on fire!
  code/obj/item/toilets.dm
Labels: size/S

#8149 More nodamage/spellshield fixes
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/robotics/bot/secbot.dm
  code/procs/mob_procs.dm
Labels: bug, balance, add to wiki, size/S

#8087 Adds purple suit and hat to jumpsuit manufacturers
  code/datums/manufacturing.dm
  code/obj/item/clothing/hats.dm
  code/obj/machinery/manufacturer.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/item_hats.dmi
Labels: sprites, size/M

#8057 Changes construction crate contents
  code/WorkInProgress/construction/tools.dm
  code/modules/economy/supply_packs.dm
Labels: size/S

#8117 Adds hemolymph to the game
  code/datums/mutantraces.dm
  code/mob/living/critter/small_animal.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-Misc.dm
Labels: feature, add to wiki, size/M

#8148 make fabricator speed buttons function as buttons
  code/obj/machinery/manufacturer.dm
Labels: QoL, size/XS

#8081 Roboticist belt on spawn
  code/datums/jobs.dm
  code/obj/item/storage/backpack_belt_etc.dm
  icons/mob/clothing/belt.dmi
  icons/obj/items/belts.dmi
Labels: sprites, QoL, add to wiki, size/S

#8121 PDA Port-A-* Apps now use teleporting animations
  code/obj/item/device/pda2/portable_machinery_control.dm
Labels: feature, QoL, size/XS

#7912 Changes the vault prefab to be a learn to hack prefab + overall nerfs it.
  assets/maps/prefabs/prefab_vault.dmm
  code/area.dm
  code/obj/machinery/door/airlock.dm
Labels: mapping, size/L

#7489 Rework conspiracy objectives
  code/datums/gamemodes/conspiracy.dm
  code/datums/objective.dm
Labels: input wanted, rework, removal, stale, size/L

#8151 Stop blowout 'halo' on maps with shield generators
  code/obj/machinery/shield_generators/shield_generator.dm
Labels: size/XS

#8156 Precipitation Build Mode
  code/modules/admin/buildmodes/precipitation.dm
  code/modules/admin/terrainify.dm
  code/obj/effects/precipitation.dm
  goonstation.dme
  icons/misc/buildmode.dmi
  strings/admin_changelog.txt
Labels: sprites, size/L

#8161 adds ashtrays to cigarette vending machines
  code/modules/vending/vending.dm
Labels: size/XS

#8124 Improved documentation for QM requisitions
  code/modules/economy/requisition/rc_aid.dm
  code/modules/economy/requisition/rc_civilian.dm
  code/modules/economy/requisition/rc_scientific.dm
  code/modules/economy/requisition/rc_special.dm
  code/modules/economy/requisition/requisition_contracts.dm
Labels: cleanliness, size/L

#8165 Fix trying to use missing Wrench.ogg
  code/obj/item/assembly/dynassemblies.dm
  code/obj/machinery/camera.dm
Labels: bug, size/XS

#8110 Add AI Rack interaction with video cards.
  code/obj/machinery/law_racks.dm
Labels: feature, size/M

#8132 set_density and ectoplasm fix
  _std/macros/atom_properties.dm
  code/atom.dm
  code/datums/abilities/diabolical.dm
  code/mob.dm
  code/mob/living/carbon/human/slasher.dm
  code/modules/antagonists/floor_goblin/floor_goblin.dm
  code/modules/materials/Mat_MaterialProcs.dm
Labels: bug, size/S

#8166 Adjusts pop divisor for revolution game mode
  code/datums/gamemodes/revolution.dm
Labels: size/XS

#7984 Add bioluminescent algae in trench
  code/SimpleLight.dm
  code/modules/worldgen/GenerateMining.dm
  code/obj/mining.dm
  icons/obj/sealab_objects.dmi
Labels: feature, sprites, size/M

#8201 very small player piano fixes
  code/obj/playable_piano.dm
Labels: bug - minor, QoL, size/S

#8185 Adds noslips to nukeops starting gear, removes from vendor
  code/obj/submachine/weapon_vendor.dm
  code/procs/antagonist_procs.dm
Labels: balance, size/XS

#8191 Updates The Nuclear Knights' Boots Description
  code/obj/item/clothing/shoes.dm
Labels: QoL, size/XS

#8204 Make fingerprints more pronouncable
  _std/text.dm
  code/datums/datacore.dm
  code/datums/intercept_text.dm
  code/modules/admin/admin.dm
  code/modules/forensics/atom_forensic.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/medical/genetics/bioHolder.dm
  code/obj/item/device/scanners.dm
  code/obj/item/gun/energy.dm
  code/obj/item/mob_parts/human_parts.dm
  code/procs/scanprocs.dm
  code/z_adventurezones/safehouse.dm
Labels: QoL, size/M

#8174 Replaces several Reagent Extractor tooltips for performance
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/ReagentExtractor.js
Labels: performance, tgui, size/S

#8205 Minor code style tidying of some tgui files, TypeScript-ify stringUtils
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/GlassRecycler.js
  tgui/packages/tgui/interfaces/SeedFabricator.js
  tgui/packages/tgui/interfaces/SpendSpacebux.js
  tgui/packages/tgui/interfaces/common/stringUtils.js
  tgui/packages/tgui/interfaces/common/stringUtils.ts
Labels: merge conflict, tgui, size/L

#8071 Destroyable lockers
  _std/defines/combat.dm
  code/datums/abilities/vampire/coffin.dm
  code/modules/sound/soundCache.dm
  code/obj/flock/furniture.dm
  code/obj/storage/carts.dm
  code/obj/storage/closets.dm
  code/obj/storage/large_storage_parent.dm
  code/obj/storage/secure_closets.dm
  sound/impact_sounds/locker_break.ogg
  sound/impact_sounds/locker_hit.ogg
Labels: feature, help wanted, balance, input wanted, sound, add to wiki, size/L

#7797 Mulebot Oshan
  maps/oshan.dmm
Labels: mapping, QoL, size/L

#8152 Mulebot Horizon
  maps/horizon.dmm
Labels: feature, mapping, QoL, size/L

#8125 Prioritize range check for mechcomp attackby
  code/datums/components/mechComp_signals.dm
Labels: size/XS

#8208 added a blueberry beret to clothing booth
  code/modules/vending/clothingbooth_items.dm
  code/obj/item/clothing/hats.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/item_hats.dmi
Labels: sprites, size/XS

#8216 Log gib deaths
  code/WorkInProgress/AbilityItem.dm
  code/WorkInProgress/Azungarstuff.dm
  code/WorkInProgress/Hydrothings.dm
  code/WorkInProgress/previouslyKeelinsStuff.dm
  code/datums/abilities/revenant.dm
  code/mob/living/carbon.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/critter/singularity.dm
  code/mob/living/life/blood.dm
  code/modules/admin/buildmodes/adventure/elements/trap/lightning.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/events/black_hole.dm
  code/modules/events/minor/trader.dm
  code/modules/events/supply_drop.dm
  code/modules/hydroponics/plants_alien.dm
  code/modules/medical/diseases/edisons_disease.dm
  code/modules/medical/diseases/gbs.dm
  code/modules/medical/diseases/parasites.dm
  code/modules/medical/diseases/robotic_transformation.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/modules/power/pt_laser.dm
  code/obj/artifacts/artifact_objects/wish_granter.dm
  code/obj/artifacts/faults.dm
  code/obj/critter/Brullbar.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/critter/sword.dm
  code/obj/item/card.dm
  code/obj/item/playing_cards.dm
  code/obj/item/zoldorfmisc.dm
  code/obj/machinery/computer/shuttle.dm
  code/obj/machinery/shitty_grill.dm
  code/obj/machinery/singularity.dm
  code/obj/martian.dm
  code/z_adventurezones/biodome.dm
  code/z_adventurezones/lavamoon.dm
  code/z_adventurezones/meatland.dm
  code/z_adventurezones/solarium.dm
Labels: QoL, size/M

#8203 Flamethrower audio PR for TheMightyAltroll
  code/modules/projectiles/special.dm
  code/modules/sound/soundCache.dm
  sound/weapons/flamethrower.ogg
Labels: sound, size/XS

#8198 Locker sounds
  code/modules/sound/soundCache.dm
  code/obj/storage/closets.dm
  code/obj/storage/large_storage_parent.dm
  code/obj/storage/secure_closets.dm
  sound/misc/coffin_close.ogg
  sound/misc/coffin_open.ogg
  sound/misc/fridge_close.ogg
  sound/misc/fridge_open.ogg
  sound/misc/locker_close.ogg
  sound/misc/locker_open.ogg
Labels: QoL, sound, size/S

#8118 Fix shuttle window connections
  code/obj/window.dm
  code/turf/turf_autoalign.dm
Labels: size/XS

#8183 Reduces the amount of players needed to get higher blob counts
  code/datums/gamemodes/blob.dm
Labels: size/XS

#8218 Mulebot Clarion
  maps/clarion.dmm
Labels: feature, mapping, QoL, size/L

#8143 cable coil cleanup
  code/mob/living/silicon/drone.dm
  code/modules/fluids/fluid_turf.dm
  code/modules/power/cable.dm
  code/obj/item/cable_coil.dm
  code/turf/floors.dm
Labels: cleanliness, QoL, size/L

#8150 locker and window density fix
  code/obj/storage/large_storage_parent.dm
  code/obj/window.dm
Labels: bug, size/S

#8219 TGUI-ify terrainify
  browserassets/tgui/tgui.bundle.js
  code/modules/admin/terrainify.dm
  tgui/packages/tgui/interfaces/Terrainify.js
Labels: merge conflict, tgui, size/XL

#5797 🌵🏜️🌵(Desert-ify)
  code/datums/mapgen/DesertGenerator.dm
  code/datums/mapgen/biomes/_biome.dm
  code/mob/living/critter/small_animal.dm
  code/modules/admin/terrainify.dm
  code/obj/item/bowling.dm
  code/turf/floors_unsimulated.dm
  goonstation.dme
  icons/misc/critter.dmi
  icons/obj/items/items.dmi
  icons/turf/outdoors.dmi
Labels: feature, sprites, merge conflict, stale, size/L

#8229 Precipitation TGUI, Periodicity, and Pooling
  browserassets/tgui/tgui.bundle.js
  code/datums/controllers/process/precipitation.dm
  code/modules/admin/buildmodes/precipitation.dm
  code/obj/effects/precipitation.dm
  goonstation.dme
  tgui/packages/tgui/interfaces/Precipitation.js
Labels: tgui, size/L

#7367 matsci suits look better + balancing
  code/modules/materials/Mat_FabRecipes.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/suits.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/overcoats/worn_suit_hazard.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/overcoats/item_suit_hazard.dmi
Labels: feature, sprites, balance, add to wiki, size/L

#8202 Fix lingering chest item references
  code/mob/living/carbon/human.dm
  code/obj/item/mousetrap.dm
Labels: bug, cleanliness, size/XS

#7853 Bathtub Overhaul
  code/WorkInProgress/DrMelonsStuff.dm
  code/mob/living/life/breath.dm
  code/modules/chemistry/Chemistry-Tools.dm
  icons/obj/stationobjs.dmi
Labels: feature, sprites, cleanliness, size/L

#8116 creates new proc for flushing and adds "flushing multiplier"
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: cleanliness, size/L

#8029 Makes EMPs eat some of a cloner's records
  code/obj/machinery/computer/cloning.dm
Labels: feature, input wanted, stale, size/XS

#7048 KICK 2,THE STRENGHTENING
  code/obj/item/clothing/shoes.dm
  code/obj/item/football.dm
Labels: balance, size/XS

#8231 resprites obsidian crown
  icons/mob/clothing/head.dmi
  icons/obj/clothing/item_hats.dmi
Labels: sprites, size/XS

#8197 Changes some cargo orders to come as frames
  code/modules/economy/supply_packs.dm
Labels: size/M

#8227 Destiny cyro room should be immune to radiation blowouts
  maps/destiny.dmm
Labels: mapping, size/L

#8193 Apr22 Requisition Tuneup Batch
  code/modules/admin/admin_verbs.dm
  code/modules/economy/requisition/rc_aid.dm
  code/modules/economy/requisition/rc_civilian.dm
  code/modules/economy/requisition/rc_scientific.dm
  code/modules/economy/requisition/rc_special.dm
  code/modules/economy/requisition/requisition_contracts.dm
  code/modules/economy/shippingmarket.dm
  code/obj/machinery/computer/QM_supply.dm
Labels: feature, size/L

#8168 Removes the random command_name'ing, adds in specific locations to random events that occur along with seperating the origin by type (General, Station, Anomaly, Weather)
  _std/__std.dme
  _std/defines/announcement_origins.dm
  code/WorkInProgress/mantaObjects.dm
  code/datums/banking.dm
  code/datums/gameticker.dm
  code/modules/admin/admin.dm
  code/modules/cross_server/cross_server_messages/announce.dm
  code/modules/events/antagonist_critter_ghost_respawn.dm
  code/modules/events/black_hole.dm
  code/modules/events/blowout.dm
  code/modules/events/gimmick/bigfart.dm
  code/modules/events/gimmick/kudzu.dm
  code/modules/events/gimmick/power.dm
  code/modules/events/gimmick/skeletons.dm
  code/modules/events/ion_storm.dm
  code/modules/events/locker_entanglement.dm
  code/modules/events/magnetic.dm
  code/modules/events/meteor_shower.dm
  code/modules/events/playable_pests.dm
  code/modules/events/radiation.dm
  code/modules/events/random_event.dm
  code/modules/events/solar_flare.dm
  code/modules/events/spatial_tear.dm
  code/modules/events/vamp_teg.dm
  code/modules/events/wormholes.dm
  code/modules/networks/computer3/comm_dish.dm
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/obj/artifacts/artifact_objects/bombs.dm
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/submachine/slots.dm
  code/procs/basketball.dm
  code/procs/command_alert.dm
Labels: size/L

#8238 Log cryotron
  code/WorkInProgress/cryospawn.dm
Labels: QoL, size/XS

#8240 Fix mono deck bad icon
  icons/obj/items/playing_card.dmi
Labels: bug, sprites, size/XS

#8236 Log loc on table grabs
  code/obj/table.dm
Labels: QoL, size/XS

#8257 Fix mob critters twitching on heal
  code/mob/living/critter.dm
Labels: bug - minor, size/XS

#8247 small adjustments to some drinks
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: bug - minor, size/S

#8256 Removes old electronics restock cartridge from cargo order
  code/modules/economy/supply_packs.dm
  code/obj/item/vending_restock.dm
Labels: removal, size/XS

#8266 Remove PDA control of off-station securitrons
  assets/maps/prefabs/prefab_dreamplaza.dmm
  assets/maps/prefabs/prefab_secbot_academy.dmm
Labels: bug - minor, mapping, size/S

#8253 Fixes visual bugs with shinai bag, fiddle, clowkey, and adds new inhand sprites for mime, mime alt, and Alch Robe
  code/obj/item/clothing/gimmick.dm
  icons/mob/inhand/hand_cl_suit.dmi
  icons/mob/inhand/hand_general.dmi
  icons/mob/inhand/hand_instruments.dmi
  icons/mob/inhand/jumpsuit/hand_js_misc.dmi
Labels: sprites, size/XS

#8278 Fix Mining Outpost lounge area air.
  maps/z3.dmm
Labels: bug - trivial, mapping, size/S

#8281 Fixes dog biscuit recipe not working as intended.
  code/obj/submachine/cooking.dm
Labels: bug - minor, size/XS

#8250 add possibility for a chem to have multiple tastes
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: feature, size/M

#8097 Battle Royale buylist rework and tweaks
  code/datums/gamemodes/battle_royale.dm
  code/datums/syndicate_buylist.dm
  code/obj/item/teleportation.dm
Labels: balance, QoL, size/L

#8241 Block lightbreaker in sanctuary
  code/obj/item/device/lightbreaker.dm
Labels: QoL, size/XS

#7946 Add Jellyfish mob critters
  code/mob/living/critter/aquatic.dm
  icons/misc/sea_critter.dmi
Labels: sprites, size/M

#8296 fix donut3 bathtub
  maps/donut3.dmm
Labels: mapping, size/XS

#8285 Fix invalid random_item_spawner/junk shoes
  code/obj/random_spawners.dm
Labels: bug, size/XS

#6684 Cog1 Catering Maint Expansion
  assets/maps/prefabs/prefab_grill.dmm
  code/WorkInProgress/warcrimes.dm
  code/obj/decorations.dm
  icons/obj/decoration.dmi
  maps/cogmap.dmm
  maps/z2.dmm
Labels: mapping, sprites, merge conflict, Certified Organic, size/XXL

#6825 Adds an admin-spawn Nanotrasen electric guitar
  code/obj/item/device/studio_monitor.dm
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/large/64x32.dmi
Labels: feature, sprites, merge conflict, size/S, FREEZE🧊

#8295 Resprites a bunch of candy, adds gummy worms
  code/modules/economy/supply_packs.dm
  code/modules/food_and_drink/candy.dm
  icons/obj/foodNdrink/food_candy.dmi
Labels: sprites, add to wiki, size/M

#8300 Add price for cold weather qm crate
  code/modules/economy/supply_packs.dm
Labels: size/XS

#8258 Ozymandias Fixbatch "Crimson"
  maps/ozymandias.dmm
Labels: feature, mapping, size/XXL

#8233 DNA Scramblers Save and Can Use Original DNA + Resprite
  code/datums/syndicate_buylist.dm
  code/modules/economy/commodity.dm
  code/modules/medical/genetics/geneticsItems.dm
  code/obj/storage/crates.dm
  icons/obj/syringe.dmi
  maps/z2.dmm
Labels: mapping, sprites, size/L

#8276 Makes it so you can stop the scorpions from attacking people once you tame em
  code/obj/critter/misc.dm
Labels: feature, size/S

#8294 Rework battlecruiser clown crime turfs
  code/obj/item/range_target.dm
  maps/z2.dmm
Labels: bug, mapping, rework, size/M

#8101 Allow AI units to change their own name.
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/silicon/ai.dm
  code/mob/transform_procs.dm
Labels: size/S

#8022 Allows frogs to croak
  code/mob/living/critter/small_animal.dm
Labels: size/S

#8119 Collected Oshan Map Fixes
  code/obj/flock/trader.dm
  icons/misc/featherzone.dmi
  maps/oshan.dmm
Labels: bug, mapping, sprites, stale, size/L

#8317 Fix NT Guitar In-hand Error
  icons/mob/inhand/hand_weapons.dmi
Labels: sprites, size/XS

#8207 Player piano mechcomp integration
  code/datums/components/mechComp_signals.dm
  code/obj/playable_piano.dm
Labels: feature, cleanliness, size/M

#8322 Toggle Hearing All
  code/modules/admin/admin_verbs.dm
  code/modules/admin/toggles.dm
Labels: feature, size/S

#8318 Add new ability icon for magboots
  code/WorkInProgress/AbilityItem.dm
  icons/misc/abilities.dmi
Labels: sprites, QoL, size/XS

#8314 Fix stun baton off sprites not updating properly
  code/obj/item/stun_baton.dm
Labels: bug, size/XS

#8324 Makes pawnstar trait cost 0 trait points
  code/datums/traits.dm
Labels: balance, QoL, size/XS

#8005 Changes to Ricin acording to feedback
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/hydroponics/plant_mutations.dm
Labels: balance, size/S

#8039 make saber reflect component animation work on things other than csabers
  _std/defines/component_defines.dm
  code/datums/components/itemblock/saberblock.dm
  code/mob/living.dm
  code/modules/projectiles/projectile_parent.dm
  code/obj/item/misc_weapons.dm
Labels: feature, size/M

#8351 Make thermite charge destroys doors
  code/obj/item/grenades.dm
Labels: balance, QoL, size/XS

#7986 Ghostdrone love part 2: Cleaning and floor tiles
  code/mob/living/silicon/ghostdrone.dm
  code/obj/item/building_materials.dm
  code/obj/item/mops_cleaners.dm
Labels: input wanted, QoL, add to wiki, size/M

#8014 Ramen and udon: recipes and ingredients
  code/datums/cookingrecipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/food_and_drink/condiments.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/vending/vending.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_ingredient.dmi
  icons/obj/foodNdrink/food_meals.dmi
Labels: feature, sprites, add to wiki, size/L

#8348 MobAI stuff for frawhst
  code/datums/controllers/process/mob_ai.dm
  code/mob/living/critter/ai.dm
  code/mob/living/critter/ai/shared.dm
Labels: size/M

#8345 Remove misplaced cog1 wingrilles
  maps/cogmap.dmm
Labels: bug - trivial, mapping, size/XS

#8340 Adds oculine to carrots, removes it from Sunrise Venne
  code/modules/food_and_drink/plants.dm
  code/modules/hydroponics/plant_mutations.dm
Labels: bug - critical, size/XS

#8320 Fix flashlight ability icon not updating when toggling relevant objects in hand
  code/WorkInProgress/AbilityItem.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/device/lights.dm
  icons/misc/abilities.dmi
Labels: bug - minor, sprites, size/M

#8264 Allow for tank storage crime
  code/obj/machinery/dispenser.dm
Labels: feature, size/L

#8342 nerfs rattlesnakes via reducing their health and making bite cooldowns longer
  code/obj/critter/misc.dm
Labels: balance, input wanted, size/XS

#8321 Minor engineering helmet sprite fix
  icons/obj/clothing/item_hats.dmi
Labels: sprites, size/XS

#8246 Fixes Create Command Report admin verb & it can now have a custom origin, removes command_name and cleans related code.
  code/WorkInProgress/construction/event_controller.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/datums/gauntlet/podcolosseum.dm
  code/modules/admin/admin.dm
  code/modules/admin/randomverbs.dm
  code/modules/admin/spacebee_extension/commands.dm
  code/obj/machinery/shipalert.dm
  code/procs/command_alert.dm
  code/procs/command_name.dm
  goonstation.dme
  strings/admin_changelog.txt
Labels: size/M

#8226 ReagentInfo performance improvement, and Typescript
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/common/ReagentInfo.tsx
Labels: performance, cleanliness, tgui, size/M

#8221 Change ai prompts and lists to tgui
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/ai/camera_handling.dm
  code/mob/living/silicon/hivebot/mainframe.dm
  code/obj/machinery/door/airlock.dm
Labels: QoL, size/L

#8350 Fix reinforced steel sheet inventory counter not updating when reinforcing cyborg parts
  code/obj/item/mob_parts/robot_parts.dm
Labels: bug - minor, size/S

#8333 Allows you to use the RCD for ghetto limb surgeries
  code/obj/item/rcd.dm
Labels: size/M

#8336 Adds a new security item: Crime scene tape/security tapes!
  code/modules/vending/vending.dm
  code/obj/decal/cleanable.dm
  code/obj/item/sec_tape.dm
  code/obj/railing.dm
  code/obj/sec_tape.dm
  goonstation.dme
  icons/obj/decals/cleanables.dmi
  icons/obj/sec_tape.dmi
Labels: sprites, size/L

#7804 Allow tranquilizer darts and syringes to stick into people
  code/WorkInProgress/MarqStuff.dm
  code/mob/living/carbon/human/procs/damage.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/mob/melee_attack_procs.dm
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/syringe.dm
  code/obj/item/dartboard.dm
  code/obj/item/grenades.dm
  code/obj/item/gun/reagent.dm
  code/obj/item/implant.dm
  icons/mob/human.dmi
  icons/mob/mob.dmi
  icons/obj/chemical.dmi
  icons/obj/projectiles.dmi
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut3.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/setpieces/SHARED_biodomeExpanded.dmm
  maps/wrestlemap.dmm
Labels: feature, mapping, sprites, balance, merge conflict, size/L

#8366 Fix invisible t-ray scanner ability
  code/WorkInProgress/AbilityItem.dm
Labels: bug - minor, size/XS

#8369 Add camera helmet to Donut3 telesci
  maps/donut3.dmm
Labels: mapping, QoL, size/XS

#8368 #8311 Cogmap2 Bot Storage APC area
  maps/cogmap2.dmm
Labels: mapping, QoL, size/XS

#8372 Map fix batch 1: cogmap2, destiny, donut3, oshan, z2/z3
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/oshan.dmm
  maps/z2.dmm
  maps/z3.dmm
Labels: mapping, size/M

#8385 Towels and handkerchiefs!
  code/datums/jobs.dm
  code/datums/manufacturing.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/modules/economy/persistent_bank_purchases.dm
  code/obj/item/clothing/glasses.dm
  code/obj/item/cloths.dm
  code/obj/machinery/manufacturer.dm
  code/obj/stool.dm
  code/obj/table.dm
  goonstation.dme
  icons/mob/inhand/hand_cloths.dmi
  icons/obj/items/cloths.dmi
Labels: feature, sprites, size/L

#8388 fix conversion chamber bugs
  code/modules/robotics/robot/robot_docking_station.dm
Labels: bug - major, cleanliness, size/M
