Repository goonstation/goonstation, pull requests merged in 2022-09, with the labels that each got.

#10551 Improved Donut 2 Janitorial
  maps/donut2.dmm
Labels: A-Mapping, size/M

#10574 Fixes bubsium pulling intangible or anchored mobs
  code/modules/chemistry/Reagents-Misc.dm
Labels: C-Bug, A-Secret, size/XS, A-Chemistry

#10575 Fixes #10558 - Reverts A Bug Fix That Attempted To Fix An Aleady Fixed Bug
  code/obj/item/gun/energy.dm
Labels: C-Bug, size/XS, A-Game-Objects

#10577 Lets cows walk on mousetraps
  code/obj/item/mousetrap.dm
Labels: C-Balance, C-QoL, size/XS, A-Game-Objects

#10579 Fixes ghosts from locking stall doors and other AI/intangible shenanigans
  code/obj/machinery/door/door_parent.dm
Labels: C-Bug, size/XS, A-Player-Actions

#10572 Fixes infinite borg shaking
  code/mob/living/stamina_stuns.dm
Labels: C-Bug, size/XS, A-Silicons

#10547 Adds a return check to the weapons racks to prevent a runtime
  code/obj/machinery/weapon_racks.dm
Labels: C-Bug, C-Runtime, size/XS, A-Game-Objects

#10563 Battle wrench -> BATTLE wrench
  code/obj/item/tool/wrench.dm
Labels: C-Balance, size/XS, A-Gamemodes, A-Game-Objects

#10587 Fix issues with tgui_input_text
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/tgui/tgui_input_text.dm
  tgui/packages/tgui/interfaces/TextInputModal.tsx
Labels: C-Bug, A-UI, size/S

#10568 Drinking glasses shatter when shot at
  code/modules/chemistry/tools/food_and_drink.dm
Labels: C-Feature, C-QoL, size/XS, A-Catering

#10545 Rad balance patch
  code/datums/components/radioactive.dm
  code/mob.dm
  code/mob/living.dm
  code/modules/status_system/statusEffects.dm
  code/obj/machinery/porters.dm
Labels: P-Trivial, C-Balance, size/M

#10405 Various changes to singulo irradiation
  code/obj/machinery/singularity.dm
Labels: C-Balance, size/XS, A-Game-Objects

#10582 Deus Ex Reference
  code/obj/item/clothing/gimmick.dm
  code/obj/random_spawners.dm
  icons/obj/clothing/uniforms/item_js_gimmick.dmi
Labels: C-Sprites, size/S, A-Game-Objects

#10566 Mentor mouse dance
  code/mob/living/critter/small_animal.dm
Labels: size/XS, A-Player-Actions, S-Ready-For-Final-Review

#10538 adds normal sec jumpsuit inhands
  code/WorkInProgress/rewardsLocker.dm
  icons/mob/inhand/jumpsuit/hand_js_rank.dmi
Labels: C-Bug, C-Sprites, size/XS

#10557 Renames Detomax Bomb to Self-destruct
  code/obj/item/device/pda2/smallprogs.dm
Labels: C-QoL, size/S, A-Game-Objects

#10561 Adds Artist as a gimmick job.
  code/datums/jobs.dm
Labels: C-Feature, size/S

#10392 silicons shouldn't be miscreants
  code/datums/jobs.dm
  code/datums/miscreant_objectives.dm
Labels: C-Bug, size/S, A-Silicons, S-Ready-For-Final-Review

#10517 Adds chemical request consoles to rotation maps
  code/modules/chemistry/chem_requester.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
Labels: C-Feature, A-Mapping, E-Add-To-Wiki, size/L, A-Chemistry

#10622 You will only slip when you exceed full health running speed
  code/procs/mob_procs.dm
Labels: C-Bug, size/XS

#10609 Fix singularity irradiating mechanics
  code/obj/machinery/singularity.dm
Labels: C-Bug, size/XS

#10610 Little bit of radiation protection for space suits
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/suits.dm
Labels: C-Balance, size/XS

#10611 Radiation: first message always triggers
  code/mob/living.dm
Labels: size/XS

#10618 Fixes #10544 - rockbox gems are ejected properly
  code/obj/mining_cloud_storage.dm
Labels: C-Bug, size/XS

#10602 Fix not being able to put turned off welding tools in closets
  code/obj/storage/large_storage_parent.dm
Labels: C-Bug, C-Code-Quality, size/M, A-Game-Objects

#10614 Fix small bug with additive radioactivity
  code/datums/components/radioactive.dm
Labels: size/XS

#10564 Adds a glowstick tree mutation
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_crop.dm
  code/obj/machinery/plantpot.dm
  icons/obj/hydroponics/plants_crop.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, A-Game-Objects

#10601 Remove old air vendor
  code/obj/machinery/air_vendor.dm
  goonstation.dme
  maps/cogwip/kappa.dmm
  maps/cogwip/ships.dmm
  maps/donut2.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/trunkmap.dmm
Labels: A-Mapping, C-Removal, size/L, A-Game-Objects

#10624 Makes tooltip show correct value for hadar sword
  code/obj/item/misc_weapons.dm
Labels: C-Bug, size/XS, A-Game-Objects

#10612 Cyborgs won't be warned about wormhole radiation
  code/modules/transport/pods/warp_travel.dm
Labels: C-QoL, size/XS, A-Silicons, S-Ready-For-Final-Review

#10361 Makes sentient flockspeak easier to pick out
  browserassets/css/browserOutput.css
  code/datums/flock/flock.dm
  code/procs/mobprocs/chatprocs.dm
Labels: C-QoL, S-Stale, size/S, A-Gamemodes, A-Player-Actions

#10639 Donut 2 Debris Addition
  maps/donut2.dmm
Labels: A-Mapping, C-QoL, size/XXL

#10654 Tiny bugfix for additive rad components
  code/datums/components/radioactive.dm
Labels: size/XS

#10659 Fixes arcfiends losing SMES human on clone
  code/modules/antagonists/arcfiend/abilities/_arcfiend_ability_holder.dm
Labels: C-Bug, size/S, A-Gamemodes

#10362 /obj/trait to /datum/trait - This wont break anything right?
  code/datums/datacore.dm
  code/datums/mind.dm
  code/datums/preferences.dm
  code/datums/traits.dm
  code/datums/traits_disused.dm
  code/global.dm
  code/mob/living.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/mob/living/life/Life.dm
  code/modules/admin/admin.dm
  code/world.dm
Labels: C-Code-Quality, S-Stale, size/L, A-Traits

#10653 Resist pins with WASD while unrestrained
  code/mob/input.dm
Labels: C-QoL, size/XS, A-Player-Actions

#10660 makes werewolves no longer forcibly turn into a werewolf
  code/datums/abilities/werewolf.dm
  code/datums/abilities/werewolf/werewolf_spread_affliction.dm
  code/modules/admin/admin.dm
  code/modules/admin/antagifiers.dm
  code/modules/events/antag_ghost_respawn.dm
Labels: C-Balance, C-Removal, size/M, A-Gamemodes

#10380 Allows scan_health proc to scan eyes as well
  code/procs/scanprocs.dm
Labels: S-Stale, size/XS, A-Medical, A-Game-Objects

#10645 Door and Window health on examine 2: hopefully better this time
  code/mob.dm
  code/obj/machinery/door/airlock.dm
  code/obj/window.dm
Labels: C-QoL, size/S, A-Player-Actions, A-Game-Objects

#10625 Gives nukies additional explosion resistance
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/suits.dm
Labels: C-Balance, size/S, A-Gamemodes

#10664 fix a bug with the multiplier of smelling salts
  code/modules/chemistry/Reagents-Medical.dm
Labels: P-Major, size/XS, A-Chemistry

#10663 Entering Abomination Mode drops existing grabs
  _std/macros/atom_properties.dm
  code/datums/mutantraces.dm
  code/obj/item/grab.dm
Labels: C-Balance, size/S, A-Player-Actions

#10554 Converts interdictor blueprints into a manudrive
  code/obj/item/manudrive.dm
  code/obj/storage/secure_crates.dm
Labels: C-Feature, size/M, A-Game-Objects

#10666 renames the Aconitum chem to Aconitine
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: C-QoL, E-Add-To-Wiki, size/XS, A-Chemistry

#10589 Mapload Go Faster
  _std/__std.dme
  _std/lists.dm
  _std/types.dm
  code/WorkInProgress/construction/tools.dm
  code/area.dm
  code/atom.dm
  code/map.dm
  code/mob/new_player.dm
  code/modules/materials/Mat_ProcsDefines.dm
  code/modules/materials/Mat_Properties.dm
  code/modules/transport/shuttle/shuttle_turfobjs.dm
  code/modules/worldgen/GenerateMining.dm
  code/modules/worldgen/worldgen_parent.dm
  code/obj/false_wall.dm
  code/obj/grille.dm
  code/obj/item/cigarette.dm
  code/obj/mining.dm
  code/obj/window.dm
  code/turf/turf.dm
  code/turf/turf_autoalign.dm
  code/turf/turf_flock.dm
  code/world.dm
  code/z_adventurezones/featherzone.dm
  code/z_adventurezones/gannets_dojozone.dm
Labels: C-Performance, E-FUCK, size/XXL, E-Complex, A-Internal

#10631 Pixel pointing
  code/atom.dm
  code/mob.dm
  code/mob/dead/hivemind_observer.dm
  code/mob/dead/observer.dm
  code/mob/living.dm
  code/mob/living/silicon/ghostdrone.dm
  code/modules/medical/pathology/pathogen_symptoms.dm
  code/obj/decal.dm
  code/obj/item/canvas.dm
Labels: C-Feature, C-QoL, size/M, A-Player-Actions

#10311 Adds admin logging to flock stuff
  _std/defines/logging.dm
  code/datums/abilities/flock/flockmind.dm
  code/datums/configuration.dm
  code/global.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/modules/admin/admin.dm
  code/obj/flock/structure/gnesisturret.dm
  code/obj/flock/structure/relay.dm
  code/obj/flock/structure/sentinel.dm
  code/obj/machinery/nuclearbomb.dm
  code/procs/logging.dm
  config/config.sample.txt
Labels: C-Bug, size/M, A-Gamemodes, A-Admin, A-Internal

#10621 Allow Head of Security to be picked from medium and low priority jobs
  code/procs/jobprocs.dm
Labels: C-Code-Quality, E-Input-Wanted, C-QoL, size/M, A-Internal

#10426 Gives flock cages a little more feedback
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/modules/overlays/OverlayManager.dm
  code/obj.dm
  code/obj/flock/cage.dm
Labels: C-QoL, size/M, A-Gamemodes, A-Game-Objects

#10674 PDA Mining Map fix
  code/datums/controllers/sea_hotspot_controls.dm
  code/modules/worldgen/GenerateMining.dm
Labels: C-Bug, P-Major, size/XS, A-Game-Objects

#10656 Let silicons use the chem request console
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
  code/modules/chemistry/chem_requester.dm
  tgui/packages/tgui/interfaces/ChemRequester.js
Labels: C-QoL, A-UI, size/S, A-Silicons

#10693 Fix area goof on cog1 north solar array
  maps/cogmap.dmm
Labels: P-Minor, A-Mapping, size/S

#10701 Old Fortuna Taxi Shuttle now has trim
  maps/z3.dmm
Labels: A-Mapping, C-QoL, size/L

#10599 Bug fixes and improvements for tgui_input_number
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/tgui/tgui_input_number.dm
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
Labels: C-Bug, A-UI, size/M

#10537 Remove must_drop_loot flag from gunbot critters
  code/WorkInProgress/Hydrothings.dm
  code/obj/critter/drone.dm
Labels: C-Bug, P-Major, size/S, A-Game-Objects

#9898 makes pressing the security alert/crisis alert give a chatbox notice, audio alarm, and maptext notice
  code/modules/sound/soundCache.dm
  code/obj/item/device/pda2/modules.dm
  code/obj/item/device/pda2/smallprogs.dm
  sound/items/security_alert.ogg
Labels: C-Feature, C-Balance, E-Input-Wanted, C-Sound, S-Stale, size/M, E-Freeze-Exempt🧊, A-Game-Objects

#10716 Fixes tealprints not working after respawn
  code/datums/flock/flock.dm
Labels: C-Bug, size/XS, A-Gamemodes

#10721 makes neurodepressant be flushed by smelling salts
  code/modules/chemistry/Reagents-Medical.dm
Labels: C-QoL, size/XS, A-Chemistry

#10658 adds chems to ??? pills
  strings/chemistry_tools.txt
Labels: C-Feature, C-Balance, size/XS, A-Chemistry

#10709 removes geneticist gender
  code/WorkInProgress/warcrimes.dm
Labels: P-Minor, size/XS, A-Game-Objects

#10724 Adds an Ice Dispenser to Atlas
  maps/atlas.dmm
Labels: C-Feature, A-Mapping, size/S

#10708 small plastic cutlery improvements
  code/obj/item/kitchen.dm
Labels: P-Minor, P-Trivial, C-Code-Quality, size/S, A-Game-Objects

#10573 Adds An Emote Typing Indicator
  code/modules/interface/action_associations.dm
  code/modules/interface/skin_input_box.dm
  code/procs/mobprocs/typing_indicator.dm
  icons/mob/overhead_icons32x48.dmi
  interface/skin.dmf
Labels: C-Feature, C-Sprites, C-QoL, size/M, A-Player-Actions

#10713 donut3's mining/taxi shuttle dock accessible via maintenance
  maps/donut3.dmm
Labels: A-Mapping, C-QoL, size/XXL, A-Station-Systems

#10527 Resprite 3006/Rifle clips
  code/obj/item/gun/ammo.dm
  icons/obj/items/ammo.dmi
Labels: C-Sprites, size/M, A-Game-Objects

#10460 Gives borgs the same killswitch indicator as AIs
  code/datums/hud/ai.dm
  code/datums/hud/robot.dm
  code/datums/hud/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
  goonstation.dme
Labels: C-QoL, A-UI, size/L, A-Silicons

#10684 converts some string paths into normal paths
  code/modules/antagonists/changeling/abilities/morph_arm.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/obj/item/implant.dm
Labels: C-Code-Quality, size/M, A-Game-Objects

#10737 Bat form cannot used on restricted Z-levels
  code/datums/abilities/vampire/phaseshift_vampire.dm
  code/datums/abilities/wizard/phaseshift.dm
Labels: C-Bug, C-Balance, size/XS, A-Player-Actions

#10753 fix drunk status message
  code/modules/status_system/statusEffects.dm
Labels: P-Trivial, A-UI, size/XS

#10741 Add action bar for building grilles
  code/obj/item/building_materials.dm
Labels: C-QoL, size/S, A-Player-Actions, A-Game-Objects

#10738 Floor tiles apply directly to asteroids
  code/obj/item/building_materials.dm
  code/obj/mining.dm
Labels: C-Bug, C-QoL, size/XS, A-Game-Objects

#10734 Adds An Armoury Deauthorisation Announcement
  code/obj/machinery/computer/security/riot.dm
Labels: C-Feature, C-QoL, size/XS, A-Game-Objects

#10731 Allows Mech Scanning of Radiation Collectors and Control units.
  code/obj/machinery/singularity.dm
Labels: C-Feature, C-QoL, size/XS, A-Game-Objects

#10763 Fixes #10756 - NTSOs And NTSCs Are Now Provided With A Security Health Implant
  code/datums/jobs.dm
Labels: C-Bug, size/XS, A-Medical

#10767 fix vampire cape reward bug
  code/WorkInProgress/rewardsLocker.dm
Labels: C-Bug, P-Minor, size/XS, A-Clothing

#10769 Speculative fixes to some flock runtimes
  code/datums/controllers/process/flock.dm
  code/datums/controllers/process/mob_ai.dm
Labels: C-Bug, size/XS, A-Internal

#10726 TGUI Freezer
  browserassets/tgui/tgui.bundle.js
  code/modules/atmospherics/machinery/unary/freezer.dm
  tgui/packages/tgui/interfaces/Freezer.tsx
Labels: C-QoL, A-UI, size/L, A-Game-Objects

#10757 Damaged random plating is correctly floored
  code/turf/floors.dm
Labels: C-Bug, size/XS, A-Game-Objects

#10710 AI-driven NPCs use bioEffect powers
  code/mob/living/carbon/human/monkeys.dm
  code/mob/living/carbon/human/npc.dm
  code/modules/medical/genetics/baseBioeffect.dm
  code/modules/medical/genetics/bioEffects/powers.dm
Labels: C-Feature, size/L, A-AI

#10772 Limb changes from character traits do not drop item
  code/datums/traits.dm
  code/mob/living/carbon/human.dm
Labels: C-Bug, C-QoL, size/S, A-Traits

#10785 Removes the antique lawbringer.
  code/modules/jobxp/JobXPRewards.dm
  code/modules/robotics/bot/guardbot.dm
  code/obj/item/gun/energy.dm
  code/obj/item/storage/backpack_belt_etc.dm
Labels: C-Removal, size/S, A-Game-Objects

#10783 Prevent Martian Derelict stowaway spawns
  code/procs/jobprocs.dm
Labels: C-Bug, size/XS, A-Traits

#10779 Updates martian diplomat sprite
  icons/effects/genetics.dmi
Labels: C-Bug, P-Minor, C-Sprites, size/XS

#10576 adds bladed gloves as a traitor purchase
  code/datums/syndicate_buylist.dm
  code/mob/living.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/obj/item/clothing.dm
  code/obj/item/clothing/gloves.dm
  icons/mob/clothing/hands.dmi
  icons/obj/clothing/item_gloves.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/M, A-Game-Objects

#10446 Mechcomp strip_html -> strip_html_tags
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Bug, size/M, A-Game-Objects

#10784 Clarion ship-shields do not block cargo
  maps/clarion.dmm
Labels: C-Feature, A-Mapping, size/M

#10786 Resprites riot helmets
  icons/obj/clothing/item_hats.dmi
Labels: C-Sprites, A-Game-Objects

#10781 Adds new sprite file for tall inhands, also fixes revsign/quaterstaff sprites
  code/datums/gamemodes/revolution.dm
  icons/mob/inhand/hand_tall.dmi
  icons/mob/inhand/hand_weapons.dmi
Labels: C-Bug, P-Minor, C-Sprites, size/XS

#10771 Seeded Mining Events use weights
  code/datums/controllers/mining_controls.dm
  code/modules/mining/mining_encounters.dm
  code/modules/mining/ore.dm
  code/modules/mining/tile_events.dm
Labels: C-Bug, C-Balance, C-QoL, size/S, A-Internal

#10714 Adds a trait that removes your legs
  code/datums/traits.dm
  code/modules/economy/persistent_bank_purchases.dm
  code/procs/jobprocs.dm
Labels: size/M, A-Traits

#10797 Kondaru double-rancher expansion
  code/map.dm
  code/obj/machinery/launcherloader_kondaru.dm
  maps/kondaru.dmm
Labels: C-Feature, A-Mapping, size/XXL

#10810 remove unneeded space ranch chunk on Kondaru
  maps/kondaru.dmm
Labels: C-Bug, A-Mapping, size/L

#10806 Heavily lowers chance of falling down stairs on a wheelchair
  code/obj/stool.dm
  code/turf/floors.dm
Labels: size/XS

#10830 Wraith Ability Text Clarification
  code/datums/abilities/wraith.dm
Labels: C-QoL, A-UI, size/XS

#10588 Use /datum/game_mode property to indicate if antag tokens are supported
  code/client.dm
  code/datums/gamemodes/arcfiend.dm
  code/datums/gamemodes/assday_classic.dm
  code/datums/gamemodes/battle_royale.dm
  code/datums/gamemodes/blob.dm
  code/datums/gamemodes/changeling.dm
  code/datums/gamemodes/conspiracy.dm
  code/datums/gamemodes/extended.dm
  code/datums/gamemodes/football.dm
  code/datums/gamemodes/gangwar.dm
  code/datums/gamemodes/gm_parent.dm
  code/datums/gamemodes/mixed.dm
  code/datums/gamemodes/mixed_rp.dm
  code/datums/gamemodes/nuclear.dm
  code/datums/gamemodes/pod_wars.dm
  code/datums/gamemodes/revolution.dm
  code/datums/gamemodes/spy_theft.dm
  code/datums/gamemodes/traitor.dm
  code/datums/gamemodes/vampire.dm
  code/datums/gamemodes/wizard.dm
  code/datums/gameticker.dm
  code/mob/new_player.dm
Labels: C-Code-Quality, size/M, A-Gamemodes

#10378 Flock relay compute cost 1000 -> 500, resource cost 1000 -> 750
  code/datums/flock/flockunlockable.dm
  code/obj/flock/structure/relay.dm
Labels: C-Balance, size/XS, A-Gamemodes

#10770 Door-linked shield desync fix
  code/obj/machinery/door/airlock.dm
Labels: C-Bug, P-Minor, size/S

#10552 TGUI Cyborg Docking Station
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/robotics/robot/robot_docking_station.dm
  tgui/packages/tgui/interfaces/CyborgDockingStation/index.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/type.ts
Labels: C-QoL, A-UI, size/XXL, A-Silicons

#10807 roundstart lag fix - stop copying so many default materials lol
  code/atom.dm
  code/atom/UpdateOverlays.dm
  code/datums/tooltip.dm
  code/mob.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/mob/living/critter/small_animal.dm
  code/modules/admin/atom_verbs.dm
  code/modules/chemistry/Reagents-Base.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/events/supply_drop.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/items/gimmick/figurine.dm
  code/modules/materials/Mat_ProcsDefines.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/mining/ore.dm
  code/modules/power/cable.dm
  code/modules/unit_tests/map_correctness.dm
  code/obj/flock/furniture.dm
  code/obj/item/tool/electronics.dm
  code/obj/rocko.dm
  code/obj/table.dm
  code/obj/window.dm
  code/turf/floors.dm
  code/turf/floors_airless.dm
  code/turf/floors_unsimulated.dm
  code/turf/turf_autoalign.dm
  code/turf/turf_flock.dm
  code/turf/walls.dm
Labels: C-Performance, size/L, A-Internal

#10728 forcewall flash slowdown
  icons/effects/effects.dmi
Labels: C-Sprites, C-QoL, size/XS, A-Game-Objects

#10542 removes more items from BR
  code/datums/gamemodes/battle_royale.dm
  code/datums/syndicate_buylist.dm
Labels: S-Stale, size/XS

#10256 Camera Coverage Emitters
  _std/__std.dme
  _std/defines/camera_coverage.dm
  _std/defines/component_defines/component_defines_atom.dm
  _std/defines/sight.dm
  code/_lighting/base_lighting.dm
  code/atom.dm
  code/datums/controllers/explosion_controls.dm
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/ai/ai_abilities.dm
  code/mob/living/silicon/ai/camera_handling.dm
  code/mob/living/silicon/ai/holograms.dm
  code/mob/living/silicon/hivebot.dm
  code/mob/living/silicon/robot.dm
  code/modules/admin/diagnostics.dm
  code/modules/camera_coverage/datum/component/camera_coverage_emitter.dm
  code/modules/camera_coverage/datum/controller/camera_coverage.dm
  code/modules/camera_coverage/datum/controller/process/camera_coverage_all.dm
  code/modules/camera_coverage/datum/controller/process/camera_coverage_emitter_queue.dm
  code/modules/camera_coverage/datum/controller/process/camera_coverage_turf_queue.dm
  code/modules/interface/input.dm
  code/obj/item/device/pda2/bot_control.dm
  code/obj/item/device/pda2/portable_machinery_control.dm
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/item/stickers.dm
  code/obj/machinery/camera.dm
  code/procs/gamehelpers.dm
  code/turf/turf.dm
  code/world.dm
  goonstation.dme
Labels: C-Rework, size/XL, A-Silicons, A-Station-Systems

#10818 Ghosts can watch you use TGUI machines
  code/mob/dead/target_observer.dm
  code/modules/tgui/states.dm
  code/modules/tgui/states/default.dm
  code/modules/tgui/states/not_incapacitated.dm
  code/modules/tgui/tgui.dm
Labels: C-Feature, A-UI, size/S, A-Internal

#10802 Use allocated region for shuttle transit
  assets/maps/allocated/shuttle_transit.dmm
  code/map.dm
  code/modules/worldgen/prefab/allocated.dm
  code/obj/landmark.dm
  maps/z2.dmm
Labels: C-Feature, A-Mapping, size/XXL, A-Internal

#10819 Allow multiple valid nuke plant locations
  code/datums/gamemodes/nuclear.dm
  code/modules/admin/admin.dm
  code/obj/item/nuclear_operative/reinforcement_beacon.dm
  code/obj/machinery/nuclearbomb.dm
Labels: C-Feature, size/M, A-Gamemodes

#10661 Plasmaglass pipeshot
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/special.dm
  code/obj/item/assembly/misc_assemblies.dm
  code/obj/item/gun/ammo.dm
  icons/obj/items/ammo.dmi
  icons/obj/projectiles.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/M, A-Materials

#10823 Fluorosulfuric acid gear melt threshold adjustment
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: C-Bug, C-Balance, size/XS, A-Chemistry

#10685 Prevents flock from converting the ghostdrone factory and listening post
  code/datums/abilities/flock/flockmind.dm
  code/datums/flock/flock.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
Labels: C-Bug, C-Balance, size/S, A-Gamemodes

#10815 Splits guns from weapon inhands and organizes them.
  code/WorkInProgress/HaineWhatever.dm
  code/WorkInProgress/MarqStuff.dm
  code/WorkInProgress/Railgun.dm
  code/WorkInProgress/mantaObjects.dm
  code/modules/tutorials/blob_tutorial.dm
  code/obj/decorations.dm
  code/obj/displaycase.dm
  code/obj/item/flamethrower.dm
  code/obj/item/gun/energy.dm
  code/obj/item/gun/gun_parent.dm
  code/obj/item/gun/kinetic.dm
  icons/mob/inhand/hand_guns.dmi
  icons/mob/inhand/hand_weapons.dmi
Labels: C-Sprites, size/M, A-Internal

#10641 Conspirator Headsets Now Have A Removable Private Radio Channel Upgrade
  code/obj/item/device/radios/headsets.dm
  code/procs/antagonist_procs.dm
Labels: C-Feature, C-QoL, size/M, A-Gamemodes, A-Game-Objects

#10839 3x3 Room Bugfix
  assets/maps/random_rooms/3x3/tomato.dmm
Labels: C-Bug, A-Mapping, size/S

#10858 thralls are now disease proof
  code/datums/disease.dm
Labels: C-Bug, C-Balance, size/XS, A-Player-Actions

#10860 Updates Fanny Packs Description
  code/obj/item/storage/backpack_belt_etc.dm
Labels: A-UI, size/XS, A-Game-Objects

#10735 Fixes #10635 - John Bill Is Now Considered An NPC
  code/WorkInProgress/warcrimes.dm
Labels: C-Bug, size/XS, A-Game-Objects

#10505 Severely reduces brute/burn healing from cryox, increases healing from effects of crit from cryox
  code/datums/abilities/wizard/iceburst.dm
  code/mob/living/life/critical.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-Misc.dm
Labels: C-Balance, E-Input-Wanted, size/M, A-Chemistry

#10825 Put people going through the sec chute to "Released" status
  code/obj/machinery/floorflusher.dm
Labels: C-QoL, size/XS, A-Game-Objects

#10844 Donut 2 Room Changes: Remixed
  maps/donut2.dmm
Labels: A-Mapping, C-QoL, size/XXL

#10885 Fix monkey bioeffect ability runtimes
  code/mob/living/carbon/human/monkeys.dm
  code/mob/living/carbon/human/npc.dm
Labels: C-Bug, C-Runtime, size/S

#10892 Fixes incorrect code in Code Guidelines
  .github/CODE_GUIDELINES.md
Labels: A-Tooling, size/XS, C-Documentation

#10803 Adds some more sprites for worn guns and removes unused icons.
  code/WorkInProgress/tarmStuff.dm
  code/obj/item/gun/energy.dm
  code/obj/item/gun/kinetic.dm
  icons/mob/clothing/back.dmi
Labels: C-Sprites, size/M, A-Clothing

#10893 cog1 medbay redesign
  maps/cogmap.dmm
Labels: A-Mapping, C-Rework, size/XXL

#10123 Add Flock examine tags
  code/atom.dm
  code/mob.dm
  code/mob/input.dm
  code/mob/living/critter/ai/flock/flockdrone.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
  code/mob/living/critter/flock/flockbit.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/mob/living/intangible/flock/flockmind.dm
  code/mob/living/intangible/flockmob_parent.dm
  code/modules/interface/flock_examine_tag.dm
  code/modules/interface/name_tag.dm
  code/obj/flock/cage.dm
  code/obj/flock/structure/collector.dm
  code/obj/flock/structure/compute.dm
  code/obj/flock/structure/egg.dm
  code/obj/flock/structure/flock_structure_ghost.dm
  code/obj/flock/structure/flock_structure_parent.dm
  code/obj/flock/structure/gnesisturret.dm
  code/obj/flock/structure/relay.dm
  code/obj/flock/structure/rift.dm
  code/obj/flock/structure/sentinel.dm
  goonstation.dme
Labels: C-Feature, S-Stale, size/L, A-Gamemodes

#10888 Fomalhaut MRL
  _std/defines/projectiles.dm
  code/modules/projectiles/bullet.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhand/hand_guns.dmi
  icons/obj/items/ammo.dmi
  icons/obj/large/64x32.dmi
Labels: C-Sprites, size/L, A-Gamemodes, A-Game-Objects

#10863 Kondaru map fixes: maint spawners, magnet double-turfs, misc.
  maps/kondaru.dmm
Labels: C-Bug, A-Mapping, size/L

#10895 Legless fix
  code/datums/traits.dm
Labels: C-Bug, size/S, A-Traits

#10879 Datumization of Hunter
  code/datums/gamemodes/gm_parent.dm
  code/mob/new_player.dm
  code/modules/admin/admin.dm
  code/modules/admin/antagifiers.dm
  code/modules/antagonists/__antagonist.dm
  code/modules/antagonists/hunter/abilities/hunter_checkobjective.dm
  code/modules/antagonists/hunter/abilities/hunter_gearspawn.dm
  code/modules/antagonists/hunter/abilities/hunter_summongear.dm
  code/modules/antagonists/hunter/abilities/hunter_taketrophy.dm
  code/modules/antagonists/hunter/hunter.dm
  code/modules/events/antag_ghost_respawn.dm
  goonstation.dme
Labels: C-Rework, size/L, A-Mutantraces

#10901 fix donut2 having one trader being unable to spawn, and chapel driver failing to eject off-station
  maps/donut2.dmm
  maps/z2.dmm
Labels: C-Bug, P-Major, A-Mapping, size/L

#10919 Fixes spelling mistake when destroying caps tree
  code/obj/decorations.dm
Labels: C-Bug, size/XS

#10914 Skull drawing for Crayon and Wraith
  code/datums/abilities/wraith.dm
  code/obj/item/pens_writing_etc.dm
  icons/obj/decals/writing.dmi
  icons/obj/writing_animated_blood.dmi
Labels: C-Feature, C-Sprites, size/XS, A-Gamemodes

#10908 Shuttles use station name and standardized mining outpost name
  code/obj/machinery/computer/shuttle.dm
Labels: C-QoL, size/S, A-Game-Objects

#10913 Makes buttcrabs immune to tox damage
  code/mob/living/critter/changeling_critters.dm
Labels: C-Bug, size/XS, A-Medical

#10902 Increases freeze cooling amount
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: C-Balance, size/XS, A-Chemistry

#10868 fix walk with cable
  code/obj/item/cable_coil.dm
  code/turf/floors.dm
Labels: C-Bug, P-Minor, size/XS, A-Game-Objects

#10931 fix zero padding not working if only one zero needs to be added
  code/procs/helpers.dm
Labels: P-Critical, size/XS, A-Station-Systems

#10938 Adds Fomalhaut MRL to nuke ops commander uplink
  code/datums/syndicate_buylist.dm
Labels: size/XS

#10912 Cyborg Screen Head Eye and Skull Expressions
  code/obj/item/mob_parts/robot_parts.dm
  icons/mob/robots.dmi
Labels: C-Feature, C-Sprites, size/XS, A-Silicons

#10592 Make pool floors floors attempt 2
  assets/maps/prefabs/prefab_water_seamonkey.dmm
  code/datums/flock/flock.dm
  code/modules/admin/admin.dm
  code/turf/floors.dm
  code/turf/turf.dm
  icons/obj/fluid.dmi
  icons/obj/stationobjs.dmi
  icons/turf/floors.dmi
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogwip/kappa.dmm
  maps/destiny.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/linemap.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/samedi.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
  maps/z3.dmm
Labels: A-Mapping, C-Sprites, C-Code-Quality, size/L, A-Internal

#10939 Fixes wraith clients getting nulled when the objects they possess are death'd
  code/mob/living/object.dm
Labels: C-Bug, P-Major, size/XS

#10927 Fixes freezer button being incorrect
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Freezer.tsx
Labels: C-Bug, A-UI, size/XS

#10935 Fix fluid groups persisting through doors
  code/modules/fluids/fluid_procs.dm
Labels: P-Major, size/XS, A-Station-Systems

#10801 HYPaddcommut fix
  code/modules/hydroponics/plants.dm
Labels: C-Bug, size/XS, A-Hydroponics

#10861 makes rattlesnakes tamable
  code/obj/critter/misc.dm
Labels: C-Feature, size/M, A-AI

#10692 Dropping construction material cancels build action bar
  code/datums/controllers/action_controls.dm
Labels: C-Bug, P-Minor, size/S, A-Player-Actions

#10780 Cargo crates always land at intended destination
  code/modules/economy/shippingmarket.dm
  code/obj/machinery/computer/QM_supply.dm
  maps/horizon.dmm
  maps/manta.dmm
  maps/ozymandias.dmm
Labels: C-Bug, A-Mapping, C-Balance, C-QoL, size/M

#10959 Fixes thrall health updating
  code/datums/mutantraces.dm
Labels: C-Bug, size/XS, A-Gamemodes

#7506 Allow for "barter" with traders
  code/modules/economy/trader.dm
Labels: C-Feature, S-Merge-Conflict, S-Stale, size/L

#10890 Fixes Cyborgs being labeled as Staff assistants by cryogenic sleep units.
  code/obj/machinery/computer/announcement.dm
Labels: C-Bug, size/XS, A-Silicons

#6679 Music instrument re-redesign
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/interface/keybind_style.dm
  code/modules/interface/multiContext/context_layouts.dm
  code/obj/item/instruments.dm
  tgui/packages/tgui/interfaces/MusicInstrument.tsx
  tgui/packages/tgui/styles/interfaces/MusicInstrument.scss
  tgui/packages/tgui/styles/main.scss
Labels: C-Feature, C-Sound, E-Certified-Organic, A-UI, size/XL

#10943 Makes flockdrones slowed instead of stunned and EMP items they pick up
  code/mob/living/critter/flockcritter_parent.dm
Labels: C-Balance, E-Input-Wanted, size/XS, A-Gamemodes

#10922 New Command Traitor Item: AI Laser Upgrade Modules
  code/datums/syndicate_buylist.dm
Labels: C-Feature, E-Input-Wanted, C-Experimental, size/S, A-Game-Objects
