Repository goonstation/goonstation, pull requests merged in 2022-01, with the labels that each got.

#7020 Fix Assday classic mode not starting
  code/datums/gamemodes/assday_classic.dm
  code/global.dm
  code/modules/admin/admin.dm
Labels: bug, size/S

#7019 Dark Mode MoTD improvements
  browserassets/images/motd/discord.png
  browserassets/images/motd/donate.png
  browserassets/images/motd/forum.png
  browserassets/images/motd/github.png
  browserassets/images/motd/welcome.png
  browserassets/images/motd/wiki.png
Labels: size/XS

#7036 Resprites Ampoules
  icons/obj/chemical.dmi
Labels: sprites, size/XS

#7057 Wrestlemap Escape Shuttle Dock Expansion
  maps/wrestlemap.dmm
Labels: mapping, size/L

#7009 Materials in manufacturers now show as a tenth of what they were
  code/obj/machinery/manufacturer.dm
Labels: size/S

#7022 adds a batch file that creates a blank __secret.dme file
  initial_setup.bat
Labels: tooling, add to wiki, size/XS

#7021 Grilles can now act as lightning rods for Arcflashes
  code/obj/grille.dm
  code/procs/helpers.dm
Labels: feature, QoL, size/S

#7059 Fixes multiple of the same reagents in reagent groups
  code/modules/chemistry/Chemistry-Dispenser.dm
Labels: bug, size/S

#7063 Embalming
  code/modules/chemistry/tools/syringes.dm
  code/obj/machinery/porters.dm
Labels: balance, size/XS

#7044 Adds glasses sprites for lizards.
  icons/mob/lizard_clothes.dmi
Labels: sprites, size/XS

#7073 make the pda packet sender program give the correct source
  code/obj/item/device/pda2/diagnostics.dm
Labels: bug - minor

#7074 Fix for minor robogib bug
  code/procs/gibs.dm
Labels: bug, size/XS

#7067 Removes a single pixel from the safari hat
  icons/mob/clothing/head.dmi
Labels: bug - trivial, sprites, size/XS

#7066 Small monkey sprite fixes.
  icons/mob/monkey_clothes.dmi
Labels: bug - trivial, sprites, size/XS

#7062 (wall) camera desc update
  code/obj/machinery/camera.dm
Labels: cleanliness, size/XS

#7054 Fixed borgs being able to insert their beakers into fabricators
  code/obj/machinery/manufacturer.dm
Labels: bug, size/XS

#7070 Fix large shuttle doors
  assets/maps/shuttles/east/eastbase.dmm
  assets/maps/shuttles/north/northbase.dmm
  assets/maps/shuttles/south/southbase.dmm
  assets/maps/shuttles/west/westbase.dmm
Labels: bug, mapping, size/S

#7060 Battle royale changes, Jan 2022
  browserassets/html/traitorTips/battleTips.html
  code/datums/banking.dm
  code/datums/gamemodes/battle_royale.dm
  code/mob/new_player.dm
  code/modules/events/battle_storm.dm
Labels: balance, QoL, add to wiki, size/L

#7051 Football mode tweaks (RIP John Madden)
  code/datums/gamemodes/football.dm
Labels: QoL, size/M

#7041 Removes the old emergency oxy tank sprite from back TTVs.
  icons/mob/clothing/back.dmi
Labels: bug - trivial, sprites, size/XS

#7072 Fixes JK-47 and makes it more believeable.
  code/obj/item/gun/russian.dm
  maps/z2.dmm
Labels: mapping, size/S

#7083 Adds New Adjusted Clothing Sprites for Lizard Heads
  icons/mob/lizard_clothes.dmi
Labels: bug, sprites, size/XS

#6670 Cog1 Mail Sorting Room
  code/area.dm
  code/obj/machinery/launcherloader.dm
  maps/cogmap.dmm
Labels: mapping, size/XXL

#7093 Cleanup circular ref on inventory counters
  code/obj/item.dm
Labels: bug, size/XS

#7076 Resprite Metal Utensils and Bowls (And Bowl Fillers)
  icons/obj/foodNdrink/food_ingredient.dmi
  icons/obj/foodNdrink/food_meals.dmi
  icons/obj/kitchen.dmi
Labels: sprites, size/XS

#7077 Resprites device analyzer, ruckingenur kit, device frames and blueprints
  icons/obj/electronics.dmi
Labels: sprites, size/XS

#7064 Add additional air scrubbers to Horizon
  maps/horizon.dmm
Labels: mapping, QoL, size/M

#7000 Add Hand Labelers to Oshan and Manta's Security Deparments
  maps/manta.dmm
  maps/oshan.dmm
  maps/oshan_xmas.dmm
Labels: mapping, QoL, size/S

#7088 Removes two lizard hats.
  icons/mob/lizard_clothes.dmi
Labels: bug - trivial, sprites, size/XS

#7090 Low Pig Tails Hair Sprite Improvement
  icons/mob/human_hair.dmi
Labels: bug - minor, sprites, size/XS

#7092 Fix capitals on some shuttle computer strings
  code/obj/machinery/computer/shuttle.dm
Labels: bug - trivial, size/S

#7091 Add new admin command, View Ref Variables
  code/datums/datumvars.dm
  code/modules/admin/admin_verbs.dm
Labels: feature, size/S

#7099 Cog1 Chompskey Anti-Invasion Measures
  maps/cogmap.dmm
Labels: bug, mapping, size/XS

#7085 Protect last.ckey mobs from football mode deletion
  code/datums/gamemodes/football.dm
Labels: bug, size/XS

#7096 Minor resprites for clothing lockers and new sprite for medical clothing locker
  code/obj/storage/closets.dm
  icons/obj/large_storage.dmi
Labels: sprites, size/XS

#6718 Adds decon flags to things which probably should've had them
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/modules/robotics/bot/guardbot.dm
  code/obj/machinery/door/firedoor.dm
Labels: bug, Certified Organic, size/XS

#6735 Security Training halves handcuff removal time
  code/datums/controllers/action_controls.dm
Labels: balance, QoL, size/XS

#6601 Slasher Pass 2
  _std/macros/mob_properties.dm
  code/datums/gamemodes/gm_parent.dm
  code/mob/input.dm
  code/mob/living/carbon/human/slasher.dm
  code/mob/transform_procs.dm
  code/modules/admin/admin.dm
  code/modules/forensics/atom_forensic.dm
  code/obj/item/clothing/masks.dm
Labels: balance, QoL, size/L

#7105 Fix cog1 sorting room mail junction
  maps/cogmap.dmm
Labels: bug - minor, mapping, size/XS

#6856 Phones resprited by TheStoneGol
  code/obj/machinery/phone.dm
  icons/obj/machines/phones.dmi
Labels: sprites, merge conflict, stale, size/M

#6887 Chem smoke can no longer produce smoke-banned reagents in-cloud
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Chemistry-Reactions.dm
  code/modules/fluids/air.dm
  code/modules/fluids/fluid_procs.dm
Labels: bug, size/S

#7029 Makes it that voice and emotes go over the both eye + single eye blindness layer
  code/WorkInProgress/OverlayManager.dm
Labels: size/XS

#7102 changes the recipe of heparin to use blood instead of meat slurry
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: balance, size/XS

#7109 Untagged mail junctions now reroute untagged disposalholders
  code/WorkInProgress/recycling/disposal.dm
Labels: bug, size/XS

#7098 refactor strychnine a little so it works properly
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: bug - minor, size/M

#7080 Fix BR late join, reduce blowout volume and shake
  code/mob/new_player.dm
  code/modules/events/battle_storm.dm
Labels: bug, size/M

#7114 Fix failed-to-summon secbots halting
  code/modules/robotics/bot/secbot.dm
Labels: bug, size/XS

#7116 Mop Locator now displays correct volume of listed mop buckets.
  code/obj/item/device/pda2/smallprogs.dm
Labels: bug, bug - trivial, size/XS

#7118 secbot summon text uses area instead of turf
  code/obj/item/device/pda2/bot_control.dm
Labels: QoL, size/XS

#7119 Missing Horizon escape tile
  maps/horizon.dmm
Labels: bug - minor, mapping, size/XS

#7123 Add WebStorm/IDEA ignores for tgui
  tgui/.gitignore
Labels: QoL, tgui, size/XS

#7097 Mugs added to glass recycler
  code/obj/machinery/glass_recycler.dm
Labels: size/XS

#6933 Team-based antagonists now require 5+ rounds to be rolled
  _std/__std.dme
  _std/defines/antagonists.dm
  code/datums/preferences.dm
Labels: feature, QoL, add to wiki, size/M

#7112 adds a few mutations for coffee
  code/modules/food_and_drink/plants.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_crop.dm
  icons/obj/foodNdrink/food_produce.dmi
  icons/obj/hydroponics/plants_crop.dmi
Labels: feature, sprites, add to wiki, size/M

#6774 makes extinguishers toggle being an open container based on safety, replaced the SAFETY = 0 and SAFETY = 1 with FALSE and TRUE
  code/modules/chemistry/tools/extinguisher.dm
Labels: feature, balance, add to wiki, size/XS, FREEZE🧊

#7045 fix a bug where onAttacked would not trigger under some circumstances for materials
  code/mob/living.dm
Labels: bug - minor, size/XS

#7122 Resprites eyes and eyespiders
  icons/misc/critter.dmi
  icons/obj/surgery.dmi
Labels: sprites, size/XS

#7042 Resprites TTVs (Sprites from DimWhat)
  _std/defines/component_defines.dm
  code/obj/item/device/prox_sensor.dm
  code/obj/item/device/radio.dm
  code/obj/item/device/timer.dm
  code/obj/item/device/transfer_valve.dm
  icons/obj/items/assemblies.dmi
Labels: sprites, QoL, size/M

#7132 Adds and updates descriptions on a ton of things
  code/WorkInProgress/Electronics.dm
  code/WorkInProgress/recycling/disposal_chute.dm
  code/modules/atmospherics/machinery/unary/vent_pump.dm
  code/modules/chemistry/Chemistry-Dispenser.dm
  code/modules/chemistry/Chemistry-Machinery.dm
  code/modules/chemistry/tools/dispensers.dm
  code/modules/chemistry/tools/grenades.dm
  code/modules/chemistry/tools/hyposprays.dm
  code/modules/chemistry/tools/syringes.dm
  code/modules/materials/Mat_Fabrication.dm
  code/modules/medical/surgery_tools.dm
  code/modules/power/TEG.dm
  code/modules/power/apc.dm
  code/modules/power/smes.dm
  code/modules/vending/vending.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/device/flash.dm
  code/obj/item/device/gps.dm
  code/obj/item/device/igniter.dm
  code/obj/item/device/lights.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/gun/kinetic.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/dispenser.dm
  code/obj/machinery/igniter.dm
  code/obj/machinery/manufacturer.dm
  code/obj/machinery/sleeper.dm
  code/obj/submachine/seed.dm
Labels: size/M

#7131 Grinch ability sprites and minor fix
  code/datums/abilities/critter/flamethrower.dm
  code/datums/abilities/critter/sting.dm
  code/modules/antagonists/grinch/abilities/grinch.dm
  code/modules/antagonists/grinch/abilities/grinch_cloak.dm
  code/modules/antagonists/grinch/abilities/murder.dm
  code/modules/antagonists/grinch/abilities/poison.dm
  code/modules/antagonists/grinch/abilities/vandalism.dm
  icons/mob/critter_ui.dmi
  icons/mob/grinch_ui.dmi
  icons/ui/statussystem.dmi
Labels: sprites, size/S

#7134 Increased nukie knight gloves disarm resistance from 25 to 40
  code/obj/item/clothing/gloves.dm
Labels: size/XS

#7125 BR changes - Bugs, balance and storm scaling
  code/datums/gamemodes/battle_royale.dm
  code/datums/syndicate_buylist.dm
  code/modules/events/battle_storm.dm
  code/modules/events/gimmick/kudzu.dm
  code/obj/machinery.dm
  maps/z2.dmm
Labels: bug, mapping, QoL, size/M

#7137 Artifact form trays for Ozymandias
  maps/ozymandias.dmm
Labels: bug - minor, mapping, size/S

#7129 AI Skins
  code/WorkInProgress/rewardsLocker.dm
  code/datums/commodity.dm
  code/mob/living/silicon/ai.dm
  code/modules/economy/trader.dm
  code/obj/item/paper.dm
  icons/mob/ai.dmi
  maps/z3.dmm
Labels: mapping, sprites, add to wiki, size/L

#7133 defines tastes for most of the food and drink reagents
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: size/L

#7113 Cog1 Cargo Router Timing Fixes
  maps/cogmap.dmm
Labels: bug, mapping, size/M

#7139 Fixes drama chef hat sprite.
  icons/mob/clothing/head.dmi
Labels: bug - trivial, sprites, size/XS

#7140 fix a borgifier runtime
  code/obj/artifacts/artifact_objects/borg_maker.dm
Labels: bug - minor, size/XS

#7142 Several sprite fixes
  icons/mob/clothing/head.dmi
  icons/mob/lizard_clothes.dmi
Labels: sprites, size/XS

#7095 Add beds to Horizon's larger brig cell
  maps/horizon.dmm
Labels: mapping, size/S

#7065 Replace older brig cell beds with version that allows for buckling
  maps/atlas.dmm
  maps/clarion.dmm
  maps/destiny.dmm
  maps/horizon.dmm
  maps/manta.dmm
  maps/unused/mushroom.dmm
Labels: mapping, size/M

#7136 Adds unique worn ID sprites.
  code/mob/living/carbon/human/procs/update_icon.dm
  code/obj/item/card.dm
  icons/mob/clothing/card.dmi
  icons/mob/mob.dmi
Labels: sprites, size/S

#7145 Resprites vomit
  icons/effects/vomit.dmi
Labels: sprites, size/XS

#7144 Resprites Seeds
  code/modules/events/gimmick/kudzu.dm
  code/obj/item/seeds.dm
  icons/obj/hydroponics/items_hydroponics.dmi
Labels: sprites, size/XS

#7154 Cleanup /obj/machinery/bot refs on disposing
  code/modules/robotics/bot/bot_parent.dm
Labels: bug - trivial, size/XS

#7120 Changes capulettium to allow for more interactive RP changeling stings
  code/mob/living.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/status_system/statusEffects.dm
  icons/ui/statussystem.dmi
Labels: feature, sprites, balance, add to wiki, size/S

#7150 Remove cargo access spawners at mining on Horizon
  maps/horizon.dmm
Labels: bug - minor, mapping, size/XS

#7163 Resprites Stunbatons
  icons/obj/items/weapons.dmi
Labels: sprites, size/XS

#7160 Fix duplicate radio-in-headhand message
  code/obj/item/clothing/hats.dm
Labels: bug - minor, size/S

#7159 gravity well artifacts work properly inside containers
  code/obj/artifacts/artifact_machines/grav_well.dm
Labels: bug - minor, size/XS

#7111 Resprites the Cargo Transporter (Courtesy of End, who made the sprite.)
  icons/obj/items/mining.dmi
Labels: sprites, size/XS

#7164 Minor change for description of robusted donuts
  code/modules/food_and_drink/snacks.dm
Labels: size/XS

#7027 Add respawn_cinematic admin verb
  code/modules/admin/admin_verbs.dm
Labels: feature, size/M

#7165 Kondaru jan22 "bits and bobs" fixbatch
  maps/kondaru.dmm
Labels: feature, bug - minor, mapping, size/L

#7086 Refactors morgue.dm, tray machine QOL/bugfixes
  code/datums/gamemodes/spy_theft.dm
  code/mob/living/life/decomposition.dm
  code/obj/machinery/traymachines.dm
  code/obj/morgue.dm
  goonstation.dme
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/density.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/icarus.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
  maps/z5.dmm
Labels: feature, bug - minor, mapping, cleanliness, QoL, add to wiki, size/XXL

#6981 Replaces viceoffs on saturdays with musician
  code/datums/jobs.dm
Labels: balance, QoL, add to wiki, size/M

#7124 Fixes all thrown bee eggs spawning moon bees
  code/obj/critter/bee.dm
Labels: bug, size/M

#6428 Sliced Cheese & Tomatoes
  code/datums/cookingrecipes.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/plants.dm
  code/modules/food_and_drink/sandwiches.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_bread.dmi
  icons/obj/foodNdrink/food_ingredient.dmi
  icons/obj/foodNdrink/food_meals.dmi
  strings/books/cookbook.txt
Labels: sprites, Certified Organic, add to wiki, size/L

#7166 increases result amount for hard punch
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: size/XS

#7040 Change Donut3 security corridor area
  maps/donut3.dmm
Labels: mapping, size/M

#7174 Make Destiny's boxing ring possible to exit
  maps/destiny.dmm
Labels: bug - major, mapping, size/M

#7158 Allow flipping welding helmets in-hand
  code/WorkInProgress/AbilityItem.dm
  code/obj/item/clothing/helmets.dm
Labels: bug - minor, QoL, size/M

#7182 More Gun Firing Animations
  code/WorkInProgress/tarmStuff.dm
  code/obj/item/gun/kinetic.dm
  icons/obj/items/gun.dmi
  icons/obj/large/48x32.dmi
Labels: sprites, size/S

#7183 Some general jumpsuit sprite fixes.
  icons/mob/clothing/jumpsuits/worn_js_gimmick.dmi
  icons/mob/clothing/jumpsuits/worn_js_misc.dmi
Labels: bug - trivial, sprites, size/XS

#7149 make option for reenabling the top menu easier to find
  code/interface.dm
  interface/skin.dmf
Labels: input wanted, size/S

#6871 AI Data Terminal Connection Improvements
  code/mob/living/silicon/ai.dm
Labels: bug, feature, size/M, FREEZE🧊

#7101 Add canning to the ChemMaster
  code/modules/chemistry/Chemistry-Machinery.dm
  code/modules/food_and_drink/drinks.dm
  icons/obj/foodNdrink/can.dmi
Labels: sprites, size/M

#7026 remove Advanced Law State verb and add Fake Law functionality instead
  code/mob/dead/ai-camera.dm
  code/mob/living/silicon/ai.dm
  code/mob/transform_procs.dm
Labels: QoL, size/L

#7177 Cog1 Cloning Redesign
  maps/cogmap.dmm
Labels: mapping, add to wiki, size/XL

#7192 Fixes doctor's bag inhands
  icons/mob/inhand/hand_medical.dmi
  icons/mob/inhand/hand_storage.dmi
Labels: bug - minor, size/XS

#7190 Resprites Amusing Duck and Easter Eggs
  icons/obj/bots/aibots.dmi
  icons/obj/items/items.dmi
Labels: sprites, size/XS

#7200 Stops you from using your PDA while weakened
  code/obj/item/device/pda2/base_program.dm
  code/obj/item/device/pda2/pda2.dm
Labels: bug, balance, size/XS

#7153 Resprites Stools
  icons/obj/furniture/chairs.dmi
Labels: size/XS

#7162 Bald Variants of Clown Masks
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/masks.dm
  icons/mob/clothing/mask.dmi
  icons/mob/inhand/hand_headgear.dmi
  icons/obj/clothing/item_masks.dmi
Labels: sprites, size/S

#7117 Monkey Clothing Part 7
  code/mob/living/carbon/human/procs/update_icon.dm
  code/obj/item.dm
  code/obj/item/clothing.dm
  code/obj/item/device/transfer_valve.dm
  code/obj/item/tank.dm
  icons/mob/monkey_clothes.dmi
Labels: bug - trivial, sprites, size/L

#7202 Fixes some minor sprite errors in MDir and HoS uniforms.
  icons/mob/clothing/jumpsuits/worn_js_rank.dmi
Labels: bug - trivial, sprites, size/XS

#7033 refactor buttons for mass drivers and sparkers and add a new one for floor flushers for kondaru
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/WorkInProgress/blueprints.dm
  code/obj/machinery.dm
  code/obj/machinery/door/door_control.dm
  code/obj/machinery/floorflusher.dm
  code/obj/machinery/igniter.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
Labels: mapping, QoL, size/L

#7210 Slight worn ID sprite fix
  icons/mob/clothing/card.dmi
Labels: bug - trivial, sprites, size/XS

#6276 Nuclear Operative Commanders now start with a Commander Uplink
  _std/defines/item.dm
  _std/defines/landmarks.dm
  _std/defines/movement.dm
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/WorkInProgress/missile_latejoin.dm
  code/area.dm
  code/datums/critter_mobs/equipment.dm
  code/datums/limb.dm
  code/datums/movement_controller/sniper.dm
  code/datums/syndicate_buylist.dm
  code/mob/living.dm
  code/mob/living/critter/gunbot.dm
  code/modules/projectiles/bullet.dm
  code/obj/item/device/radios/intercoms.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/nuclear_operative/ammo_bag.dm
  code/obj/item/nuclear_operative/designator.dm
  code/obj/item/nuclear_operative/handheld_weapon_vendor.dm
  code/obj/item/nuclear_operative/nuke_teleporter.dm
  code/obj/item/nuclear_operative/rapid_deployment_remote.dm
  code/obj/item/nuclear_operative/reinforcement_beacon.dm
  code/obj/item/paper.dm
  code/obj/item/uplinks.dm
  code/procs/antagonist_procs.dm
  goonstation.dme
  icons/effects/alert.dmi
  icons/misc/critter.dmi
  icons/mob/critter_ui.dmi
  icons/mob/inhand/hand_general.dmi
  icons/obj/items/ammo.dmi
  icons/obj/items/device.dmi
  icons/obj/large/32x64.dmi
  icons/obj/large/96x32.dmi
  maps/z2.dmm
  tgui/packages/tgui/interfaces/ComUplink/index.tsx
  tgui/packages/tgui/interfaces/ComUplink/type.ts
  tgui/packages/tgui/styles/interfaces/ComUplink.scss
  tgui/packages/tgui/styles/main.scss
Labels: feature, mapping, sprites, balance, Certified Organic, tgui, add to wiki, size/XXL

#7212 Fix cog1 RD office blinds
  maps/cogmap.dmm
Labels: bug - minor, size/S

#7211 Fix capitalisation stuff for most guns
  code/obj/item/gun/energy.dm
  code/obj/item/gun/kinetic.dm
Labels: cleanliness, size/M

#7178 Adds the light switches debug overlay
  code/modules/admin/diagnostics.dm
  strings/admin_changelog.txt
Labels: feature, size/M

#6805 Added inspector reports to the end game score screen
  code/datums/jobs.dm
  code/obj/item/pens_writing_etc.dm
  code/procs/scorestats.dm
  icons/obj/writing.dmi
Labels: feature, sprites, size/M

#6997 Reworks hood flipping into a component. Also adds a hood flipping ability button.
  code/WorkInProgress/AbilityItem.dm
  code/datums/components/toggle_hood.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/suits.dm
  goonstation.dme
  icons/misc/abilities.dmi
Labels: mapping, sprites, cleanliness, QoL, size/M

#7216 Fixed pickpocket gun removing attached items
  code/modules/projectiles/pickpocket.dm
Labels: bug, size/XS

#7209 Resprites and Animates Bullet Casings
  icons/obj/items/casings.dmi
Labels: sprites, size/XS

#7130 Resprite Hunter loot and make it self destruct on death
  _std/macros/antag_popups.dm
  browserassets/html/traitorTips/hunterTips.html
  code/datums/abilities/hunter.dm
  code/datums/components/self_destruct.dm
  code/datums/gamemodes/battle_royale.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/datums/jobs.dm
  code/datums/syndicate_buylist.dm
  code/modules/projectiles/laser.dm
  code/modules/projectiles/projectile_parent.dm
  code/modules/sound/soundCache.dm
  code/obj/item/device/cloak_device.dm
  code/obj/item/gun/energy.dm
  code/obj/item/misc_weapons.dm
  code/obj/storage/closets.dm
  code/obj/storage/loot_crates.dm
  goonstation.dme
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/items/device.dmi
  icons/obj/items/gun.dmi
  sound/weapons/plasma_gun.ogg
Labels: sprites, balance, sound, add to wiki, size/L

#7222 Donut 2 Hotfix
  maps/unused/donut2_new_walls.dmm
Labels: mapping, size/M

#6839 Rockbox UI quality of life changes
  browserassets/tgui/tgui.bundle.js
  code/obj/mining_cloud_storage.dm
  tgui/packages/tgui/interfaces/Rockbox.js
Labels: feature, QoL, tgui, size/S, FREEZE🧊

#7228 Fixes a major issue with nukeop uplink point assignment
  code/obj/item/uplinks.dm
Labels: bug - major, size/XS

#7225 Nukeops uplink QOL and fixes
  _std/defines/roles.dm
  _std/macros/antag_popups.dm
  _std/macros/antagchecks.dm
  browserassets/html/traitorTips/nukeopTips.html
  browserassets/html/traitorTips/nukeopcommanderTips.html
  browserassets/html/traitorTips/nukeopgunbotTips.html
  browserassets/images/antagTips/nukeop-commander.png
  browserassets/images/antagTips/nukeop-gunbot.png
  code/datums/gamemodes/nuclear.dm
  code/datums/gameticker.dm
  code/datums/syndicate_buylist.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/critter/gunbot.dm
  code/modules/admin/admin_verbs.dm
  code/obj/item/device/radios/intercoms.dm
  code/obj/item/nuclear_operative/designator.dm
  code/obj/item/nuclear_operative/handheld_weapon_vendor.dm
  code/obj/item/nuclear_operative/nuke_teleporter.dm
  code/obj/item/nuclear_operative/rapid_deployment_remote.dm
  code/obj/item/nuclear_operative/reinforcement_beacon.dm
  code/obj/item/paper.dm
  code/obj/item/uplinks.dm
  code/procs/mob_procs.dm
  icons/obj/items/device.dmi
  maps/z2.dmm
Labels: bug - major, mapping, sprites, QoL, size/L

#7232 Geneboth spamming message fix
  code/modules/interface/multiContext/context_actions.dm
  code/modules/medical/genetics/geneticsBooth.dm
Labels: bug - minor, size/S

#7234 Fix spawned nukie headsets
  code/obj/item/device/radios/headsets.dm
  code/procs/antagonist_procs.dm
Labels: bug, size/S

#7223 Improved game panel antag death status
  code/modules/admin/admin.dm
Labels: QoL, size/S

#7233 Stop stompers stomping ghosts
  code/datums/controllers/sea_hotspot_controls.dm
Labels: bug, size/XS

#7231 Fugg
  maps/z3.dmm
Labels: mapping, size/XS

#7235 Add grilles under cogmap2 security podbay checkpoint
  maps/cogmap2.dmm
Labels: mapping, size/XS

#7206 make mulebots wait for doors
  code/modules/robotics/bot/mulebot.dm
Labels: bug - minor, size/XS

#7237 Toggle view range verb now works with widescreen
  code/modules/admin/toggles.dm
Labels: bug - trivial, size/XS

#7196 Move artifact pinpointers to artlab
  code/obj/storage/crates.dm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
Labels: mapping, size/M

#7188 allow martians to use translators
  code/mob/living/carbon/human.dm
  code/obj/item/clothing/masks.dm
Labels: balance, QoL, size/XS

#7241 Specialist ammobag fix
  code/obj/item/nuclear_operative/ammo_bag.dm
Labels: bug, size/XS

#7173 Kudzu + Weedkiller interactions
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/events/gimmick/kudzu.dm
Labels: feature, balance, add to wiki, size/M

#7238 Fix scanners breaking dwarfism gene
  code/modules/medical/genetics/bioEffects/useless.dm
Labels: size/XS

#7242 Adds an Animation For Extending And Retracting Cyalume Sabers
  code/obj/item/misc_weapons.dm
  icons/obj/items/weapons.dmi
Labels: sprites, size/XS

#7229 Added sprites for broken flashlights
  code/modules/medical/surgery_tools.dm
  code/obj/item/device/lights.dm
  icons/obj/items/device.dmi
Labels: bug, sprites, size/XS

#7255 Adds breaching charges to cog2 armoury
  maps/cogmap2.dmm
Labels: mapping, size/S

#7221 Resprites nurse hat and fixes a few hat sprites.
  icons/mob/clothing/head.dmi
Labels: sprites, size/XS

#7194 Cog1 East External Router Timing Fix
  maps/cogmap.dmm
Labels: bug, mapping, size/XS

#7257 Remove skeleton tailbone
  code/datums/mutantraces.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/modules/medical/surgery_procs.dm
  code/obj/item/organs/tail.dm
Labels: bug, size/M

#7256 Make regular channel prefixes usable for AIs, fix eyebot radio
  code/mob/living.dm
Labels: bug, QoL, size/XS

#7246 Welding Actionbar Animation
  code/datums/controllers/action_controls.dm
  code/modules/atmospherics/machinery/pipe.dm
  code/obj/effects/particles.dm
  code/obj/machinery/singularity.dm
  icons/effects/fire.dmi
  icons/mob/inhand/tools/weldingtool.dmi
Labels: feature, sprites, balance, size/L

#7176 New Head Surgeon Clothing
  code/datums/jobs.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/suits.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/mob/monkey_clothes.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
Labels: sprites, add to wiki, size/S

#7263 Make enzymatic reclaimer delete cloner record implant
  code/obj/machinery/clonepod.dm
Labels: size/XS

#7272 bookshelf overlays refactor
  code/obj/bookcase.dm
  icons/obj/furniture/bookshelf.dmi
  maps/donut3.dmm
Labels: size/L

#7274 Fixes missing pixel in monkey cap space suit
  icons/mob/monkey_clothes.dmi
Labels: bug - trivial, sprites, size/XS

#7271 Slightly changes the syndicate guitar's description
  code/obj/item/device/studio_monitor.dm
Labels: size/XS

#7270 Fixes cartport sprite
  icons/obj/disposal.dmi
Labels: bug - minor, sprites, size/XS

#7035 Buffed knife choking
  code/obj/item/grab.dm
Labels: balance, stale, size/XS

#7280 Donut 2 Zeta Update + Minor assorted changes
  code/area.dm
  maps/unused/donut2_new_walls.dmm
Labels: mapping, size/XXL
