Repository goonstation/goonstation, pull requests merged in 2022-07, with the labels that each got.

#9388 remove sexually charged item from borg punch strings
  strings/descriptors.txt
Labels: cleanliness, size/XS

#9027 increase player piano maximum note cap
  code/obj/playable_piano.dm
Labels: QoL, stale, size/XS

#9402 donut 3 escape hall tile fix
  maps/donut3.dmm
Labels: bug, mapping, size/XS

#9403 fixes cog2 tourbot loop
  maps/cogmap2.dmm
Labels: bug, mapping, size/XS

#9410 fixes #9408 (scuttlebots deleting items)
  code/obj/item/clothing/glasses.dm
Labels: bug, size/XS

#9407 fixes chameleon backpack can_hold
  code/obj/item/clothing/chameleon_js.dm
Labels: bug, size/XS

#9384 Removes spare id purchase from random merchants.
  code/modules/economy/shady_robot.dm
Labels: removal, size/XS

#9393 Blood Steal no longer shows the Hide Coffin unlock message
  code/datums/abilities/vampire/blood_steal.dm
Labels: bug, size/XS

#9413 misc clarion fixes
  maps/clarion.dmm
Labels: bug, mapping, size/S

#9425 Resprites a bunch of Botany herbs and flowers
  code/modules/hydroponics/plant_mutations.dm
  code/obj/item/plants.dm
  icons/obj/hydroponics/items_hydroponics.dmi
  icons/obj/hydroponics/plants_herb.dmi
Labels: sprites, size/S

#9321 remove hos xp take 2
  code/datums/jobs.dm
  code/modules/jobxp/JobXPRewards.dm
Labels: size/S

#9434 Ignore Temperature Expose on Circulators when Hatched Closed
  code/modules/power/TEG.dm
Labels: balance, size/XS

#9438 removes sarin grenades from BR
  code/datums/syndicate_buylist.dm
Labels: balance, size/XS

#9437 removes stimulants from battle royale
  code/datums/syndicate_buylist.dm
Labels: balance, size/XS

#9396 add frogswamp random rooms
  _std/__std.dme
  _std/defines/floors.dm
  assets/maps/random_rooms/3x5/frogswamp.dmm
  assets/maps/random_rooms/5x3/frogswamp.dmm
  code/turf/floors.dm
  code/turf/floors_unsimulated.dm
Labels: feature, mapping, size/L

#9392 Meson goggles and welding masks immediately update their wearer's sprite when toggled
  code/obj/item/clothing/glasses.dm
  code/obj/item/clothing/helmets.dm
Labels: QoL, size/XS

#9430 Replaces Old Security Records Computers With ThinkDOS SecMate Computers
  maps/cogmap.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
Labels: mapping, QoL, size/M

#9436 Makes mops mop on self attack
  code/obj/item/mops_cleaners.dm
Labels: QoL, size/XS

#9435 tries to replace some && world.time style cooldowns with ON_COOLDOWN
  code/obj/item/dice.dm
  code/obj/item/tool/electronics.dm
  code/obj/item/toys.dm
  code/obj/machinery/igniter.dm
Labels: cleanliness, size/M

#9355 Adds coffee creamer (+ Generic coffee maker variant)
  code/modules/chemistry/tools/food_and_drink.dm
  code/obj/machinery/espresso.dm
  icons/mob/inhand/hand_food.dmi
  icons/obj/foodNdrink/drinks.dmi
  icons/obj/foodNdrink/espresso.dmi
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
Labels: mapping, sprites, size/L

#9449 Minor Kondaru and Horizon brig changes
  maps/horizon.dmm
  maps/kondaru.dmm
Labels: mapping, QoL, size/M

#9370 Gives the radio show host headphones 20% ear disorient resistance
  code/obj/item/device/radios/headsets.dm
Labels: balance, size/XS

#9352 Removes penlight flash effect.
  code/modules/medical/surgery_tools.dm
Labels: balance, size/XS

#9380 destiny edits pt. 6
  maps/destiny.dmm
Labels: mapping, size/L

#9452 Add a new 5x3 random room to donut3
  maps/donut3.dmm
Labels: mapping, size/M

#9356 Adds a tea plant and matcha!
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/food_and_drink/condiments.dm
  code/modules/hydroponics/plants_herb.dm
  code/obj/item/plants.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_ingredient.dmi
  icons/obj/hydroponics/items_hydroponics.dmi
  icons/obj/hydroponics/plants_herb.dmi
Labels: feature, sprites, add to wiki, size/M

#9354 werewolves can walk on glass
  code/datums/mutantraces.dm
  code/obj/item/material.dm
Labels: balance, size/S

#9409 changeling regenerative statis changes
  code/modules/antagonists/changeling/abilities/regeneration.dm
Labels: balance, size/S

#9377 QM Shipping Market Tweaks
  code/modules/economy/shippingmarket.dm
Labels: balance, size/XS

#9457 fixes ghosts rolling sleeper in VR
  code/modules/events/sleeperagent.dm
Labels: bug, bug - major, size/XS

#9416 Changes welding mask to use an overlay instead of a tint
  code/modules/overlays/OverlayManager.dm
  code/obj/item/clothing/helmets.dm
  icons/effects/overlays/weldingmask.dmi
Labels: sprites, balance, size/M

#9417 Adds Round Time to Hub Entry, Removes Image
  code/world.dm
Labels: feature, size/S

#9283 5x3 random room: Research hideout
  _std/defines/landmarks.dm
  assets/maps/random_rooms/5x3/research_hideout.dmm
  code/obj/landmark.dm
Labels: mapping, size/L, Contest

#9276 Random 5x3 Room: Library
  assets/maps/random_rooms/5x3/library.dmm
Labels: mapping, size/M, Contest

#9275 Random 3x3 Room: HOS hole
  assets/maps/random_rooms/3x3/hosroom.dmm
Labels: mapping, size/M, Contest

#9272 Random 5x3 Room: Shady Office
  assets/maps/random_rooms/5x3/shadyoffice.dmm
Labels: mapping, size/L, Contest

#9261 Random Rooms 5x3 Robots Playing Poker
  assets/maps/random_rooms/5x3/robotspoker.dmm
Labels: mapping, size/L, Contest

#9260 3x3 Random Room: Cowboy accident
  assets/maps/random_rooms/3x3/cowboy.dmm
Labels: mapping, size/M, Contest

#9259 5x3 Random Room: Reading Room
  assets/maps/random_rooms/5x3/readingroom.dmm
Labels: mapping, size/L, Contest

#9257 Lovely Little Baby's Room
  assets/maps/random_rooms/5x3/wormroom.dmm
Labels: mapping, size/L, Contest

#9256 Dishwashing Random Room
  assets/maps/random_rooms/3x5/dishwashing.dmm
Labels: mapping, size/L, Contest

#9232 Random 5x3 Room: Cats!
  assets/maps/random_rooms/5x3/cats.dmm
Labels: mapping, size/L, Contest

#9213 Dreamplaza Creamery Random Room
  assets/maps/random_rooms/5x3/DreamplazaCreamery.dmm
Labels: mapping, size/L, Contest

#9028 Adds holiday-themed random room.
  assets/maps/random_rooms/3x3/sadsanta_80.dmm
Labels: mapping, size/M, Contest

#8953 Random Room: 3x3 Space Odyssey
  assets/maps/random_rooms/3x3/daisy_30.dmm
  code/obj/decal.dm
  code/obj/item/ai_modules.dm
  code/obj/item/book.dm
Labels: mapping, size/L, Contest

#9021 Random Room: 3x5 The Beestro
  assets/maps/random_rooms/3x5/beestro.dmm
Labels: mapping, size/L, Contest

#8982 Random Room: Criming Pod Bay
  assets/maps/random_rooms/3x5/crimepodbay_70.dmm
  assets/maps/random_rooms/5x3/crimepodbay_70.dmm
  code/modules/transport/pods/warp_travel.dm
Labels: mapping, size/L, Contest

#8987 Random Room: 5x3 power room
  assets/maps/random_rooms/5x3/powerroom.dmm
Labels: mapping, size/L, Contest

#9000 Random Room: Open mic stage 3x5
  assets/maps/random_rooms/3x5/openmic.dmm
Labels: mapping, size/L, Contest

#9031 Random 3x5 Room: Monkey Medical Malpractice
  assets/maps/random_rooms/3x5/monkeysurgery.dmm
Labels: mapping, size/L, Contest

#9040 Random 3x5 Room: Mini Wedding Ceremony
  assets/maps/random_rooms/3x5/weddingroom.dmm
Labels: mapping, size/L, Contest

#9193 Adds new 3x3 prefab, the room of judgement
  assets/maps/random_rooms/3x3/judgement70.dmm
Labels: mapping, size/M, Contest

#9011 Random Room: The Starved Artist's Den
  assets/maps/random_rooms/3x5/starvingartist_60.dmm
  code/obj/item/paper.dm
Labels: feature, mapping, size/M, Contest

#8980 Port-A-Stone Random Room
  assets/maps/random_rooms/3x3/portastone.dmm
Labels: mapping, size/M, Contest

#8988 Random Room: Neon Lining Table for Two
  assets/maps/random_rooms/5x3/neonlining.dmm
Labels: mapping, size/L, Contest

#9030 Mugger's Maintenance Random Room
  assets/maps/random_rooms/3x3/mugroom_60.dmm
Labels: mapping, size/L, Contest

#9009 3x5 random room fake ai core
  assets/maps/random_rooms/3x5/fakeaicore_60.dmm
Labels: mapping, size/M, Contest

#9218 Random Room: 3x5 NT Marching Band Storage (w/ 5x5 Rotated Variant)
  assets/maps/random_rooms/3x5/marchingband.dmm
  assets/maps/random_rooms/5x3/marchingband.dmm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/paper.dm
  code/obj/item/toys.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/jumpsuits/worn_js_gimmick.dmi
  icons/mob/inhand/hand_general.dmi
  icons/mob/inhand/hand_headgear.dmi
  icons/mob/inhand/jumpsuit/hand_js_gimmick.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/uniforms/item_js_gimmick.dmi
  icons/obj/items/items.dmi
Labels: mapping, sprites, size/L, Contest

#9467 Bolds Time Numbers in Hub Entry
  code/world.dm
Labels: size/XS

#9406 Fixes tabbing for tgui NumberInput component
  browserassets/tgui/tgui-common.bundle.js
  tgui/packages/tgui/components/NumberInput.js
Labels: tgui, size/S

#9463 Material property cleanup
  _std/defines/materials.dm
  code/WorkInProgress/MarqStuff.dm
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/datums/gamemodes/pod_wars/pw_manufacturing_.dm
  code/datums/manufacturing.dm
  code/datums/teg_transform.dm
  code/mob/living/carbon/human.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/modules/atmospherics/portable/canister.dm
  code/modules/materials/Mat_FabParts.dm
  code/modules/materials/Mat_FabRecipes.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
  code/modules/materials/Mat_Mining.dm
  code/modules/materials/Mat_Processing.dm
  code/modules/materials/Mat_ProcsDefines.dm
  code/modules/materials/Mat_Properties.dm
  code/modules/materials/Mat_Recipes.dm
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/modules/power/cell.dm
  code/modules/power/nuke/Mat_Nuke.dm
  code/modules/power/nuke/analyzer.dm
  code/modules/power/nuke/bar.dm
  code/modules/power/nuke/centrifuge.dm
  code/modules/power/nuke/knobs.dm
  code/modules/power/nuke/nuke.dm
  code/modules/power/nuke/nuke_procs.dm
  code/modules/power/nuke/rods/rods.dm
  code/modules/power/nuke/style.dm
  code/modules/power/nuke/turbine.dm
  code/modules/power/rtg.dm
  code/modules/transport/pods/ships.dm
  code/obj.dm
  code/obj/critter/drone.dm
  code/obj/grille.dm
  code/obj/item.dm
  code/obj/item/clothing/gloves.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/material.dm
  code/obj/item/misc_junk.dm
  code/obj/item/rcd.dm
  code/obj/machinery/door/door_parent.dm
  code/obj/machinery/manufacturer.dm
  code/obj/storage/large_storage_parent.dm
  code/obj/window.dm
  code/procs/fireflash.dm
  code/procs/helpers.dm
  code/turf/floors.dm
  code/turf/turf.dm
  code/turf/turf_autoalign.dm
  code/turf/turf_flock.dm
  code/turf/walls.dm
  code/world.dm
  code/z_adventurezones/gannets_dojozone.dm
  goonstation.dme
Labels: cleanliness, secret, balance, experimental, size/XXL

#9226 tgui human inventory
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/datums/controllers/action_controls.dm
  code/datums/inventory.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/inventory.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/obj/objDialog.dm
  goonstation.dme
  tgui/packages/tgui/interfaces/HumanInventory/index.tsx
  tgui/packages/tgui/interfaces/HumanInventory/types.ts
Labels: feature, tgui, size/L

#9433 Face Disfiguration Retool
  code/mob.dm
  code/mob/living/carbon/human.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: feature, rework, size/M

#9473 Make Brave Bull using fresh coffee
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: bug, size/XS

#9490 moves cog2 utility tractor to cargo bay
  maps/cogmap2.dmm
Labels: mapping, size/S

#9487 Removes stability material property from the game
  code/modules/materials/Mat_Materials.dm
  code/modules/materials/Mat_Properties.dm
  code/modules/power/TEG.dm
  code/obj/item/gun/ammo.dm
  code/turf/turf_autoalign.dm
  code/turf/walls.dm
  strings/books/matsci_guide_new.txt
Labels: balance, add to wiki, size/L

#9462 Adds a new chemical, neurodepressant
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: size/M

#9504 Improves freedom implant
  code/obj/item/implant.dm
Labels: balance, QoL, size/S

#9491 fixes stuff that doesnt use W_CLASS defines
  code/WorkInProgress/infernal_contracts.dm
  code/datums/gamemodes/pod_wars/pw_misc_objects.dm
  code/datums/gamemodes/pod_wars/pw_weapons.dm
  code/datums/limb.dm
  code/mob/living/critter/bee.dm
  code/mob/living/critter/fermid.dm
  code/modules/telescience/radiostation.dm
  code/obj/item/device/ocular_implanter.dm
  code/obj/item/dice.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/sparklers.dm
  code/obj/item/storage/ammo_pouches.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/storage/bible.dm
  code/obj/item/storage/lunchboxes.dm
  code/obj/item/storage/med_chem.dm
  code/obj/item/storage/small_storage_parent.dm
  code/obj/item/storage/toolbox.dm
  code/obj/item/storage/weapon_security.dm
  code/obj/machinery/arc_electroplater.dm
  code/obj/machinery/deep_fryer.dm
  code/obj/machinery/phone.dm
  code/obj/machinery/shitty_grill.dm
  code/obj/soup_pot.dm
  code/obj/storage/wall_cabinet.dm
Labels: cleanliness, size/M

#9499 Add Cough Syrup to medical vendors
  code/modules/chemistry/tools/bottles.dm
  code/modules/vending/vending.dm
Labels: size/XS

#9535 Fixes syndiborgs again
  code/mob/living/silicon/robot.dm
Labels: size/S

#9347 Donut 3 Medical Break Room Update
  maps/donut3.dmm
Labels: mapping, size/L

#9500 Fix typo in disease controls
  code/datums/controllers/disease_controls.dm
Labels: cleanliness, size/XS

#9508 Werewolves enjoy dog biscuits too.
  code/modules/food_and_drink/snacks.dm
Labels: feature, size/XS

#9317 Componentizes analyzeable objects + general device analyzer improvements
  _std/defines/component_defines/component_defines_atom.dm
  code/WorkInProgress/recycling/disposal_chute.dm
  code/atom.dm
  code/datums/components/analyzable.dm
  code/obj.dm
  code/obj/item/tool/electronics.dm
  code/procs/mobprocs/chatprocs.dm
  goonstation.dme
Labels: cleanliness, QoL, add to wiki, size/L

#9556 Fix a case of ammo power cell overlay not showing correctly
  code/obj/item/gun/ammo.dm
Labels: bug, size/XS

#9501 Decouple peripheral uses of pathology
  code/datums/sims.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/sandwiches.dm
  code/modules/status_system/statusEffects.dm
Labels: removal, size/M

#9548 makes pod wars cloners impossible to sabotage
  code/datums/gamemodes/pod_wars/pw_misc_objects.dm
Labels: bug - major, size/XS

#9527 Makes ability buttons and grabs unscannable by the chameleon projector
  code/obj/item/device/chameleon.dm
Labels: bug - minor, size/XS

#9542 Hydroponics Cleanup
  code/modules/chemistry/tools/dispensers.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/discount_dans.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/plants.dm
  code/modules/food_and_drink/sandwiches.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants.dm
  code/obj/item/plants.dm
  code/obj/machinery/plantpot.dm
  code/obj/submachine/seed.dm
Labels: bug, cleanliness, size/L

#9565 quick runtime fix
  code/modules/atmospherics/portable/canister.dm
Labels: bug - minor, runtime, size/XS

#9564 Fixes Speech Bubbles And Enables A Whispering Typing Indicator
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/modules/interface/skin_input_box.dm
  code/procs/mobprocs/typing_indicator.dm
  interface/skin.dmf
Labels: bug - trivial, QoL, size/M

#9560 Flammable Polaroids
  code/obj/item/cameras.dm
Labels: QoL, size/XS

#9572 Inventory pockets are hidden
  code/datums/inventory.dm
Labels: bug, size/XS

#9230 Flock floor/wall running improvements
  _std/pathfinding.dm
  code/mob/living/critter/ai/flock/flock_common.dm
  code/mob/living/critter/ai/flock/flockbit.dm
  code/mob/living/critter/ai/flock/flockdrone.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/modules/interface/multiContext/context_actions.dm
  code/obj/flock/furniture.dm
  code/obj/flock/structure/flock_structure_parent.dm
  code/obj/window.dm
  code/turf/turf_flock.dm
Labels: feature, balance, stale, size/L

#9575 Fixes fingerprints not updating when copying someone's appearance
  code/modules/medical/genetics/bioHolder.dm
Labels: bug, size/XS

#9566 Fixes sheltestfrogs brains being unrecoverable
  code/modules/medical/diseases/frog_flu.dm
Labels: bug, balance, size/XS

#9525 Makes inspector clothes able to be claimed multiple times.
  code/WorkInProgress/rewardsLocker.dm
Labels: QoL, size/XS

#9522 Edits the full metal alchemist coat sprite.
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
Labels: sprites, size/XS

#9578 Fixes chameleon projector not working
  code/obj/item/device/chameleon.dm
Labels: bug - major, size/XS

#9573 Makes synthmeat mutations infusion based only.
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_crop.dm
Labels: QoL, removal, add to wiki, size/S

#9466 remove random chance for dwarf mutation
  code/datums/jobs.dm
Labels: QoL, size/XS

#9471 Vampires and arcfiends replenish hunger and thirst when feeding
  code/datums/abilities/vampire.dm
  code/modules/antagonists/arcfiend/arcfiend.dm
Labels: QoL, size/S

#9570 Fixes spatial tears being deleted by by meteors (and nanites)
  code/modules/events/spatial_tear.dm
Labels: bug - minor, size/XS

#9569 Update hud theme and targeting cursor previews to use base64 instead of browse_rsc
  browserassets/tgui/tgui.bundle.js
  code/datums/preferences.dm
  tgui/packages/tgui/interfaces/CharacterPreferences/GameSettingsTab.tsx
  tgui/packages/tgui/interfaces/CharacterPreferences/type.ts
Labels: performance, tgui, size/S

#9521 Ingesting acid scars your vocal chords and makes your voice appear as unknown
  code/mob.dm
  code/mob/living/carbon/human.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/transport/pods/communications.dm
  code/obj/item/device/audio_log.dm
  code/obj/item/device/radio.dm
Labels: feature, size/M

#8882 Makes flockmind/trace abilities work while controlling a flockdrone
  code/datums/abilities/ability_parent.dm
  code/datums/abilities/flock/flockmind.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/intangible/flockmob_parent.dm
Labels: feature, QoL, size/M

#9287 Mechanic headset
  browserassets/images/radio_icons/Mec.png
  code/datums/gamemodes/spy_theft.dm
  code/datums/jobs.dm
  code/obj/item/device/radios/headsets.dm
  code/obj/item/storage/clothing.dm
  icons/mob/clothing/ears.dmi
Labels: sprites, add to wiki, size/S

#8993 Random Room: Tennis Practice
  assets/maps/random_rooms/3x5/tennispractice.dmm
Labels: mapping, size/M, Contest

#9205 Adjust Flock Resource Costs and Gain Rate
  _std/macros/flock.dm
  code/mob/living/critter/flock/flockdrone.dm
Labels: balance, add to wiki, size/XS

#9401 destiny edits pt 7
  maps/destiny.dmm
Labels: mapping, size/XXL

#9447 makes certain vamp powers work in containers
  code/datums/abilities/vampire.dm
  code/datums/abilities/vampire/blood_tracking.dm
  code/datums/abilities/vampire/cancel_stun.dm
  code/datums/abilities/vampire/coffin.dm
  code/datums/abilities/vampire/enthrall.dm
  code/datums/abilities/vampire/radio_jammer.dm
  code/datums/abilities/vampire/screech.dm
  code/datums/abilities/vampire/thrall_abilities.dm
  code/datums/abilities/vampiric_thrall.dm
Labels: bug, balance, size/S

#9502 removes arrowheads
  code/WorkInProgress/MarqStuff.dm
  code/modules/materials/Mat_FabParts.dm
  code/modules/materials/Mat_FabRecipes.dm
  code/modules/materials/Mat_Fabrication.dm
Labels: QoL, size/M

#9537 Flammability material property changes
  code/modules/atmospherics/portable/canister.dm
  code/modules/materials/Mat_Materials.dm
  code/modules/materials/Mat_Properties.dm
  code/modules/power/furnace.dm
  code/obj/item.dm
  code/procs/fireflash.dm
Labels: cleanliness, balance, add to wiki, size/L

#5663 The Return of Slamgun: Zip gun 😱
  code/modules/medical/surgery_tools.dm
  code/modules/projectiles/special.dm
  code/modules/sound/soundCache.dm
  code/obj/item/grenades.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
  sound/weapons/gunload_sawnoff.ogg
  sound/weapons/sawnoff.ogg
Labels: balance, input wanted, ass-jam, rework, sound, add to wiki, size/L

#9529 Space Epoxy to Stengthen Windows and Pipes
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-Misc.dm
  icons/effects/atom_textures_32.dmi
  icons/effects/atom_textures_64.dmi
Labels: sprites, balance, add to wiki, size/M

#9580 Fixes diner safe not initialising properly on Oshan
  code/WorkInProgress/ud5/urs_dungeon.dm
Labels: bug, size/XS

#9540 Fix stun baton special and stun glove ability working at two tiles away
  code/modules/items/specials/ItemSpecials.dm
Labels: bug, size/XS

#9448 Add access check for Donut 3 armory turret
  maps/donut3.dmm
Labels: mapping, QoL, size/XS

#9590 Bush Resprite
  code/obj/decorations.dm
  icons/misc/worlds.dmi
Labels: sprites, size/XS

#9595 ai inverted text status display
  icons/obj/status_display.dmi
Labels: sprites, size/XS

#9587 Lets bartenders spin glasses without spilling.
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/tools/food_and_drink.dm
Labels: feature, size/S

#9585 No blood, feasts or DNA from NPC Humans
  _std/macros/ismob.dm
  code/datums/abilities/vampire/blood_steal.dm
  code/datums/abilities/vampire/vampire_bite.dm
  code/datums/abilities/werewolf/werewolf_feast.dm
  code/mob/living/carbon/human/gimmick.dm
  code/modules/antagonists/changeling/abilities/absorb.dm
Labels: balance, add to wiki, size/M

#9597 Mechanic headset patch
  code/obj/item/device/radios/headsets.dm
Labels: bug - minor, sprites, size/XS

#9600 removed "taint" from list/stinkThingies
  code/procs/gamehelpers.dm
Labels: size/XS

#9599 Fixes NPC signatures counting on infernal contracts.
  code/WorkInProgress/infernal_contracts.dm
Labels: bug, size/XS

#9589 Adds vampire clothing to geoff honkington
  code/modules/economy/commodity.dm
  code/modules/economy/trader.dm
  code/obj/item/storage/clothing.dm
Labels: feature, size/S

#9591 Makes strange vampire clothing only claimable with the vampire cape.
  code/WorkInProgress/rewardsLocker.dm
Labels: bug, size/M

#9439 Fruit Milk added to Vending Machine
  code/modules/food_and_drink/drinks.dm
  code/modules/vending/vending.dm
  icons/obj/foodNdrink/drinks.dmi
Labels: feature, sprites, add to wiki, size/XS

#9550 Red oxygen grenade fabrication capability for gas extractors
  code/datums/manufacturing.dm
  code/obj/machinery/manufacturer.dm
Labels: feature, add to wiki, size/S

#9128 Adds Security records scanner
  code/obj/item/device/pda2/cartridges.dm
  code/obj/item/device/pda2/scanners.dm
  code/procs/scanprocs.dm
Labels: feature, QoL, add to wiki, size/M

#9594 destiny edits 8
  maps/destiny.dmm
Labels: mapping, size/XXL

#9337 Horizon QM piping removal
  maps/horizon.dmm
Labels: mapping, QoL, size/XXL

#9567 Fixes sawdrones & nanite swarms committing friendly-fire
  code/obj/critter/drone.dm
Labels: bug, size/S

#9376 QM Commodity Changes
  code/modules/economy/commodity.dm
Labels: balance, removal, size/L

#9613 Fix Flockmind Radio Stun Burst ability not being usable in a drone
  code/datums/abilities/flock/flockmind.dm
Labels: bug, size/XS

#9614 Fix being able to schedule tealprints over broken Flock floortiles
  code/datums/abilities/flock/flockmind.dm
Labels: bug, size/XS

#9615 destiny edits 9
  maps/destiny.dmm
Labels: mapping, size/XXL

#9612 Changes the mechanic radio icon.
  browserassets/images/radio_icons/Mec.png
  code/obj/item/device/radios/headsets.dm
Labels: QoL, size/XS

#9609 AI eye gets messages when shuttle call is too soon
  code/obj/machinery/computer/communications.dm
Labels: bug, size/XS

#9621 Double-barreled shotgun code cleanup
  code/obj/item/gun/kinetic.dm
Labels: size/M

#9625 Fixes the mechanic headset icon, for real this time
  code/obj/item/device/radios/headsets.dm
Labels: bug - minor, size/XS

#9624 Synthlimbs can hold roses without gloves
  code/obj/item/plants.dm
Labels: feature, size/XS

#9638 No longer knock down legless people when they're in a chair.
  code/mob/input.dm
Labels: bug, size/XS

#9503 Transfer pathology's leprosy into the standard diseases code
  code/mob/living/critter/small_animal.dm
  code/modules/chemistry/Reagents-Diseases.dm
  code/modules/medical/diseases/leprosy.dm
  goonstation.dme
Labels: rework, size/M

#9648 Worn monkey sprites for the marching band outfit
  icons/mob/monkey_clothes.dmi
Labels: sprites, size/XS

#9644 rename hide icon to match item
  icons/obj/materials.dmi
Labels: bug, sprites, size/XS

#9639 Vending machines now will always fall over when someone is tossed at them.
  code/modules/vending/vending.dm
Labels: balance, size/XS

#9642 Fixes cosmic frog sprite error
  icons/misc/critter.dmi
Labels: bug - trivial, sprites, size/XS

#9620 Water bottle resprite!
  code/modules/food_and_drink/drinks.dm
  icons/mob/inhand/hand_food.dmi
  icons/obj/foodNdrink/drinks.dmi
  icons/obj/items/items.dmi
Labels: sprites, size/XS

#9637 Give television variants their own circuit boards
  code/obj/machinery/computer/buildandrepair.dm
  code/obj/machinery/computer/security.dm
Labels: bug, size/S

#9651 generic carafe fix
  icons/obj/foodNdrink/drinks.dmi
Labels: sprites, size/XS

#9645 resprites potato cells
  icons/obj/potatocell.dmi
Labels: sprites, size/XS

#9660 Adds sterile masks to the janitor vendor
  code/modules/vending/vending.dm
Labels: QoL, size/XS

#9628 Brings ashes to a 2/3rd perspective!
  icons/obj/objects.dmi
Labels: sprites, size/XS

#9659 Renames proc addDNA() to addBHData()
  code/modules/antagonists/changeling/abilities/absorb.dm
Labels: cleanliness, size/XS

#9652 Fixes flock observer bug
  code/datums/hud/ghost_observer.dm
  code/mob/dead/observer.dm
Labels: bug, size/XS

#9632 Makes yawning a bit contageous
  code/mob/living/carbon/human/procs/emote.dm
Labels: feature, size/XS

#9336 Give HoP a tacky green jacket
  code/WorkInProgress/AbilityItem.dm
  code/obj/item/clothing/suits.dm
  code/obj/storage/secure_closets.dm
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
Labels: sprites, size/M

#9418 QoL Change: Last Names List Updated
  strings/names/last.txt
Labels: QoL, size/XXL
