Repository goonstation/goonstation, pull requests merged in 2022-02, with the labels that each got.

#7339 TGUI paper color and noticeboard fixes
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/noticeboard.dm
  tgui/packages/tgui/interfaces/PaperSheet.js
Labels: feature, tgui, size/M

#7180 'Open/Close Floor Flusher' Door Timer Buttons
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/door/door_timer.dm
  code/obj/machinery/floorflusher.dm
  tgui/packages/tgui/interfaces/DoorTimer/index.tsx
  tgui/packages/tgui/interfaces/DoorTimer/type.ts
Labels: feature, QoL, tgui, size/M

#7360 Sprite for health/igniter assembly
  code/obj/item/assembly/misc_assemblies.dm
  icons/obj/items/assemblies.dmi
Labels: sprites, size/XS

#7187 Improve green vomit logic
  code/obj/decal/cleanable.dm
Labels: bug, size/M

#7335 Added check for fuel in zippos
  code/obj/item/cigarette.dm
Labels: size/XS

#7355 Add missing TG HUD ability icons
  icons/mob/hud_human.dmi
  icons/mob/hud_human_classic.dmi
  icons/mob/hud_human_quilty.dmi
  icons/mob/hud_human_vapor.dmi
Labels: bug, sprites, size/XS

#7276 Fixes players dying in the blob tutorial
  code/modules/tutorials/blob_tutorial.dm
Labels: bug, size/XS

#7329 Fix mutant race characters from resetting to default colors on clone
  code/datums/traits.dm
Labels: size/XS

#6844 AI Intercom Maptext & Radio Maptext Support
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
  code/obj/item/device/radio.dm
  code/obj/item/device/radios/intercoms.dm
  icons/mob/mob.dmi
Labels: feature, sprites, QoL, size/L, FREEZE🧊

#7353 Donut 2 Engineering update + gps waypoints
  code/area.dm
  maps/unused/donut2_new_walls.dmm
Labels: mapping, size/XXL

#7366 Fix BR ending
  code/datums/gamemodes/battle_royale.dm
Labels: bug, size/XS

#7376 Fixes revenant ability icons not updating
  code/datums/abilities/ability_parent.dm
  code/datums/abilities/revenant.dm
Labels: bug, size/M

#7306 Barcode computer tgui port
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/economy/shippingmarket.dm
  code/obj/machinery/launcherloader.dm
  tgui/packages/tgui/interfaces/BarcodeComputer.js
Labels: QoL, merge conflict, tgui, size/L

#7382 Hunter mask self destruct and mini o2
  code/datums/abilities/hunter.dm
  code/obj/item/clothing/gimmick.dm
Labels: balance, size/XS

#7381 Fixes meat_mutant arms item path
  code/z_adventurezones/meatland.dm
Labels: bug, size/M

#7390 Revert "Resist out of grabs, pulls while stunned (Not Cuffed)"
  code/mob/living.dm
  code/obj/item/grab.dm
Labels: size/S

#7392 Critters can no longer use light switches
  code/datums/limb.dm
Labels: size/XS

#7398 clicking on a desk with an empty hand opens the storage menu
  code/obj/table.dm
Labels: size/XS

#7403 Fix item arms with arm_icon always displaying right arm image
  code/obj/item/mob_parts/human_parts.dm
Labels: bug, size/XS

#7401 allow directly adding su access at the access computer
  code/obj/machinery/computer/card.dm
Labels: QoL, size/XS

#7394 Added missing pronoun checks for player examination
  code/mob/living/carbon/human/procs/get_desc.dm
Labels: size/S

#7378 Resprite for fish found in food_fish.dmi!
  icons/obj/foodNdrink/food_fish.dmi
Labels: sprites, size/XS

#7409 EMERGANCY MUSHROOM HOTFIX
  maps/unused/mushroom_new_walls.dmm
Labels: mapping, size/M

#7411 Reduce damage of high-level throwable loaves to below one-shot levels.
  code/WorkInProgress/recycling/disposal.dm
Labels: balance, size/M

#7400 Removes Donut 3 Loafing Blueprint
  maps/donut3.dmm
Labels: mapping, size/XS

#7399 Fancy azone smoothwalls 2: the debris field
  code/turf/turf_autoalign.dm
  icons/turf/shuttle.dmi
  icons/turf/walls_beehive.dmi
  icons/turf/walls_derelict.dmi
  icons/turf/walls_martian.dmi
  icons/turf/walls_shuttle-debris.dmi
  icons/turf/walls_shuttle.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
  maps/z2.dmm
  maps/z3.dmm
  maps/z5.dmm
Labels: mapping, sprites, QoL, size/XXL

#7167 add connect option to mechcomp, for easier connecting
  code/datums/components/mechComp_signals.dm
  code/obj/item/tool/omnitool.dm
Labels: QoL, size/M

#7397 Resprites the Comms Dish
  icons/mob/hivebot.dmi
Labels: sprites, size/XS

#7347 Battle royale death effect
  code/datums/components/battleroyale_death.dm
  code/datums/gamemodes/battle_royale.dm
  code/mob.dm
  goonstation.dme
Labels: feature, add to wiki, size/M

#7380 Move storage to layer 2.99
  _std/defines/layer.dm
  code/obj/storage/large_storage_parent.dm
Labels: rework, size/XS

#7315 Adds Scorpions as Playable critters
  code/datums/abilities/critter/small_animal.dm
  code/datums/limb.dm
  code/mob/living/critter/small_animal.dm
  code/obj/critter/misc.dm
  icons/mob/critter_ui.dmi
Labels: feature, sprites, size/L

#7412 Resprites Cloning Upgrades
  code/obj/item/cloning_modules.dm
  icons/obj/module.dmi
Labels: sprites, size/XS

#7407 Fixes milk jugs turning into milk bottles
  code/modules/food_and_drink/drinks.dm
Labels: bug - minor, size/XS

#7269 Hunter gear teleport ability
  _std/defines/component_defines.dm
  _std/types.dm
  code/datums/abilities/hunter.dm
  code/datums/abilities/misc/hunter_gearspawn.dm
  code/datums/abilities/misc/hunter_summongear.dm
  code/datums/components/send_to_target_mob.dm
  code/obj/item/device/cloak_device.dm
  code/obj/item/gun/energy.dm
  code/obj/item/misc_weapons.dm
  goonstation.dme
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/items/device.dmi
  icons/obj/items/gun.dmi
  icons/obj/items/weapons.dmi
Labels: feature, sprites, add to wiki, size/L

#7395 Fixes plaid paint turning things transparent
  icons/obj/paint.dmi
Labels: bug, sprites, size/XS

#7405 Bunch of random snack resprites
  icons/obj/foodNdrink/food_candy.dmi
  icons/obj/foodNdrink/food_ingredient.dmi
  icons/obj/foodNdrink/food_meals.dmi
  icons/obj/foodNdrink/food_snacks.dmi
Labels: sprites, add to wiki, size/XS

#7236 Adds the vincian/MLM pride jumpsuit
  code/obj/item/clothing/uniforms.dm
  code/obj/storage/wardrobes.dm
  icons/mob/clothing/jumpsuits/worn_js_pride.dmi
  icons/mob/inhand/jumpsuit/hand_js_pride.dmi
  icons/obj/clothing/uniforms/item_js_pride.dmi
Labels: sprites, size/S

#7383 DJ Panel Sound Preloading
  browserassets/tgui/tgui.bundle.js
  code/mob/new_player.dm
  code/modules/sound/djpanel.dm
  strings/admin_changelog.txt
  tgui/packages/tgui/interfaces/DJPanel.js
Labels: feature, bug - trivial, tgui, size/M

#7354 Ammunition sprites and Descriptions
  code/obj/item/gun/ammo.dm
  icons/obj/items/ammo.dmi
Labels: sprites, add to wiki, size/M

#7427 Add inhand sprites for fancy pen
  code/obj/item/pens_writing_etc.dm
  icons/mob/inhand/hand_tools.dmi
Labels: sprites, size/XS

#7422 Flashlight bugfix: borg edition
  code/mob/living/silicon/robot.dm
Labels: bug, size/XS

#7420 Change death check for BR
  code/datums/gamemodes/battle_royale.dm
Labels: bug, size/XS

#7417 Fix loaves overflowing with gravy, so the high tier loaves have the intended reagents
  code/WorkInProgress/recycling/disposal.dm
Labels: bug, size/XS

#7426 Adds the stress ball to the medical fabricator
  code/datums/manufacturing.dm
  code/obj/machinery/manufacturer.dm
Labels: size/S

#7433 fix bug where microscopic amounts of chems could make total volume update wrongly
  code/modules/chemistry/Chemistry-Holder.dm
Labels: bug - minor

#7434 Fix a null on secbot attacks
  code/modules/robotics/bot/secbot.dm
Labels: runtime, size/XS

#7439 Adds a gene power module to horizon
  maps/horizon.dmm
Labels: mapping, size/XS

#7441 Adds Embalming fluid to Donut 3's morgue
  maps/donut3.dmm
Labels: mapping, size/XS

#7429 Updates/Remaps/Adds to Wizard Shuttle
  code/modules/robotics/bot/medbot.dm
  code/obj/decal/poster.dm
  code/obj/item/device/lights.dm
  code/obj/machinery/computer/pod.dm
  code/obj/machinery/phone.dm
  code/turf/floors_carpet.dm
  icons/obj/bots/medbots.dmi
  icons/obj/computer.dmi
  icons/obj/computer_screens.dmi
  icons/obj/decals/wallsigns.dmi
  icons/obj/lighting.dmi
  icons/turf/carpet.dmi
  maps/z2.dmm
Labels: mapping, sprites, size/XXL

#7374 Add a stove to the kitchen in Destiny, also move the intercom
  maps/destiny.dmm
Labels: mapping, size/M

#7316 Increase sell price of cotton and buy price of jumpsuits
  code/modules/economy/traders/generic.dm
Labels: balance, size/XS

#7408 Fixes non-crew antags taking a job slot
  code/procs/jobprocs.dm
Labels: bug, size/XS

#7450 Fix horizon disposals
  maps/horizon.dmm
Labels: bug, mapping, size/M

#7415 Ability Parent & UpdateOverlays
  code/datums/abilities/ability_parent.dm
Labels: bug, feature, size/M

#7419 Fix smelling salts sound
  code/modules/chemistry/tools/ampoules.dm
  sound/impact_sounds/Generic_Snap_1.ogg
Labels: bug, sound, size/XS

#7432 Set force to 0 and fix ore scoop null
  code/modules/vending/vending.dm
  code/obj/item.dm
  code/obj/mining_cloud_storage.dm
  code/procs/mobprocs/attacks.dm
Labels: bug, runtime, size/S

#7459 Stethoscope Resprited & Sound Fixed
  code/obj/medicaldiagnosis.dm
  icons/mob/inhand/hand_medical.dmi
  icons/obj/medicaldiagnosis.dmi
Labels: sprites, size/S

#7071 Give the AI a "Reset All APCs" command
  code/mob/dead/ai-camera.dm
  code/mob/living/silicon/ai.dm
  code/mob/transform_procs.dm
  code/modules/events/ion_storm.dm
  code/modules/power/apc.dm
Labels: feature, balance, size/M

#7475 Ability overlays
  icons/mob/critter_ui.dmi
Labels: sprites, size/XS

#7477 Fix sink checking container is full
  code/obj/submachine/cooking.dm
Labels: bug, size/XS

#7476 Fix #7456 by making secscanners not detect intangible mobs
  code/obj/machinery/secscanner.dm
Labels: size/XS

#7458 Allow sleepy pen to appear as a fancy pen
  code/modules/chemistry/tools/sleepy_pen.dm
Labels: feature, size/S

#7460 Allow civilian headsets and staff assistant jumpsuits to be printed from uniform manufacturers
  code/datums/manufacturing.dm
  code/obj/machinery/manufacturer.dm
Labels: feature, QoL, size/M

#7470 Adds artistic toolboxes to all maps in rotation.
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
Labels: mapping, size/S

#7336 Fixes cluwne names & misstep not reverting on cure, antibiotics no longer cures developed cluwnes
  code/datums/abilities/wizard/cluwne.dm
  code/mob/living/carbon/human/gimmick.dm
  code/modules/admin/randomverbs.dm
  code/modules/medical/diseases/cluwneing_around.dm
  code/obj/item/clothing/gimmick.dm
Labels: bug, balance, size/M

#7431 Fancy azone walls 3: the rest of Z2
  code/turf/turf_autoalign.dm
  icons/misc/hospital.dmi
  icons/turf/walls_hospital.dmi
  icons/turf/walls_icemoon.dmi
  icons/turf/walls_iomoon.dmi
  icons/turf/walls_marsoutpost.dmi
  icons/turf/walls_meat.dmi
  icons/turf/walls_planet.dmi
  maps/z2.dmm
Labels: mapping, sprites, QoL, merge conflict, size/XXL

#7491 Fixed monkeys farting on themselves
  code/datums/mutantraces.dm
Labels: bug, size/XS

#7483 Bug fix for become_statue() proc
  code/modules/medical/pathology/pathogen_helpers.dm
Labels: bug - minor, size/XS

#7446 Changed barcode computer print amount to a local state
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/launcherloader.dm
  tgui/packages/tgui/interfaces/BarcodeComputer.js
Labels: QoL, tgui, size/M

#7442 Genetics Winter Coat
  code/obj/item/clothing/suits.dm
  code/obj/item/storage/clothing.dm
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
Labels: feature, sprites, size/XS

#7467 Fixed a windoor layer issue
  code/obj/machinery/door/airlock.dm
Labels: bug, size/S

#7486 Add stink lines
  code/datums/sims.dm
  code/modules/medical/genetics/bioEffects/non_genetic.dm
  code/obj/effects/particles.dm
  icons/effects/particles.dmi
Labels: bug, feature, sprites, size/S

#7502 Updates/Adjusts Airbridge and Shuttle Floor Sprites
  icons/turf/floors.dmi
  icons/turf/shuttle.dmi
Labels: sprites, size/XS

#7505 Fixes bible<>storage transfer behaviour
  code/obj/item/storage/small_storage_parent.dm
Labels: bug, size/XS

#7510 Makes the Shuttle Tiles a Little Bit Less Itense
  icons/turf/shuttle.dmi
Labels: sprites, size/XS

#7511 fixes wrong metal amounts for computers
  code/modules/networks/computer3/buildandrepair.dm
Labels: bug, size/XS

#7490 Updates the dev guide
  .github/DEV_GUIDE.md
Labels: documentation, github, size/M

#7277 Add complex signals
  _std/defines/component_defines.dm
  code/datums/components/_component.dm
  code/datums/components/complexsignal/complexsignal.dm
  code/datums/components/complexsignal/outermost_movable.dm
  goonstation.dme
Labels: Certified Organic, size/L

#7515 Fixes poltergeists retreating to nullspace
  code/mob/wraith.dm
  code/mob/wraith/poltergeist.dm
Labels: bug, size/XS

#7522 Anchor tracking beacons
  code/obj/item/device/radio.dm
Labels: QoL, add to wiki, size/S

#7471 Adds a new prefab in the form of an abandoned art workshop!
  assets/maps/prefabs/prefab_artist_studio.dmm
  code/area.dm
  code/modules/worldgen/prefabs.dm
Labels: mapping, size/L

#7464 Build-A-Vends no longer group products of the same type, but with different names, into the same entry.
  code/modules/vending/vending.dm
Labels: bug, size/XS

#7519 Color Codes Medical Ailment States
  code/datums/disease.dm
Labels: size/XS

#7520 Fix chainsaw item arm not updating
  code/obj/item/hydroponics.dm
Labels: bug, size/S

#7501 AIEye Cleanup
  _std/macros/ismob.dm
  code/WorkInProgress/SomepotatosStuff.dm
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/WorkInProgress/recycling/crusher.dm
  code/WorkInProgress/rewardsLocker.dm
  code/atom.dm
  code/datums/controllers/mining_controls.dm
  code/datums/gameticker.dm
  code/datums/viewport.dm
  code/mob/living.dm
  code/mob/living/carbon/human/virtual.dm
  code/mob/living/intangible.dm
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/intangible/blob_overmind.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/ai/holograms.dm
  code/mob/suicide.dm
  code/modules/admin/randomverbs.dm
  code/modules/interface/input.dm
  code/modules/interface/multiContext/context_layouts.dm
  code/modules/interface/multiContext/multiContext.dm
  code/modules/tgui/states/default.dm
  code/modules/tgui/states/physical.dm
  code/modules/transport/pods/warp_travel.dm
  code/obj/item/ai_modules.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/device/pda2/portable_machinery_control.dm
  code/obj/item/paper.dm
  code/obj/machinery/shipalert.dm
  code/obj/machinery/status_display.dm
  code/obj/mining.dm
  code/obj/portal.dm
  code/obj/stool.dm
  code/procs/access.dm
  code/procs/gamehelpers.dm
  code/procs/helpers.dm
  code/procs/mobprocs/chatprocs.dm
  goonstation.dme
Labels: cleanliness, size/L

#7539 Fixes several new AIEye bugs
  code/mob/living/intangible/ai-camera.dm
  code/modules/mechanics/MechanicMadness.dm
Labels: bug, size/XS

#7525 Don't log combat in dont_log_combat areas
  code/procs/logging.dm
Labels: QoL, size/S

#7373 Rename Loyalty Implants
  browserassets/html/traitorTips/revRemoved.html
  code/datums/controllers/action_controls.dm
  code/datums/gamemodes/revolution.dm
  code/datums/syndicate_buylist.dm
  code/mob/living/life/arrest_icon.dm
  code/modules/chemistry/tools/grenades.dm
  code/modules/economy/supply_packs.dm
  code/modules/vending/vending.dm
  code/obj/item/device/flash.dm
  code/obj/item/implant.dm
  code/obj/item/storage/implant.dm
  code/obj/machinery/implantchair.dm
  maps/cogmap.dmm
  maps/donut3.dmm
  maps/donut3_xmas.dmm
  maps/horizon.dmm
  maps/horizon_xmas.dmm
  maps/pamgoc.dmm
  maps/warwip/atlas_horizon_xmas_2019.dmm
  maps/wrestlemap.dmm
Labels: mapping, QoL, add to wiki, size/XXL

#7550 Fixes 3 tiles in donut3's maint not being radproof
  maps/donut3.dmm
Labels: mapping, size/S

#7569 Anchor light_area_manager
  code/modules/power/lighting.dm
Labels: bug, size/XS

#7570 Fix AI brain removal not being logged
  code/mob/living/silicon/ai.dm
Labels: bug - major, size/XS

#7552 Fixes solar panel rotation
  code/modules/power/solar.dm
Labels: bug, balance, size/S

#7556 Russian revolver logging and observer change
  code/obj/item/gun/russian.dm
Labels: QoL, size/XS

#7413 Add "SecHUD Flag" entry to security computers
  code/datums/datacore.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/modules/networks/computer3/sec_rec.dm
  code/obj/item/device/pda2/record_progs.dm
  code/obj/item/device/scanners.dm
Labels: feature, size/M

#7568 Refactor some wizard spells
  code/datums/abilities/wizard.dm
  code/datums/abilities/wizard/animal.dm
  code/datums/abilities/wizard/cluwne.dm
  code/datums/abilities/wizard/pandemonium.dm
Labels: bug, cleanliness, size/L

#7545 Changes the Staff Assistants general headset to a Civilian Headset
  code/datums/jobs.dm
Labels: balance, input wanted, size/XS

#7437 CHEER_UP Program!
  code/modules/networks/computer3/mainframe2/tapes.dm
  code/modules/robotics/bot/guardbot.dm
Labels: feature, input wanted, size/M

#7523 Moves some of the Reagent Extractor's tgui components into a separate file, and adds an Isolate button to it.
  browserassets/tgui/tgui.bundle.js
  code/obj/submachine/seed.dm
  tgui/packages/tgui/interfaces/ReagentExtractor.js
  tgui/packages/tgui/interfaces/common/ReagentInfo.js
Labels: feature, cleanliness, tgui, size/L

#7582 Fixed eyebots not understanding monkeys with translators
  code/mob/living/silicon/hivebot.dm
Labels: bug, size/XS

#7567 AIEye Fixes - Fixes #7197 and Fixes #7559
  code/mob/living.dm
  code/mob/living/intangible/ai-camera.dm
  code/modules/materials/Mat_RawMaterials.dm
Labels: bug, size/S

#7438 Seed Fabricator tgui
  browserassets/tgui/tgui.bundle.js
  code/modules/hydroponics/plants.dm
  code/obj/machinery/plantpot.dm
  code/obj/submachine/seed.dm
  tgui/packages/tgui/interfaces/SeedFabricator.js
Labels: QoL, merge conflict, tgui, size/L

#7574 Reduce cluwne horn volume
  code/mob/living/carbon/human/gimmick.dm
  code/modules/medical/diseases/cluwneing_around.dm
  sound/musical_instruments/Boathorn_1.ogg
Labels: QoL, sound, size/XS

#7583 Fixes reclaiming bodies deletes item arms #7549
  code/obj/machinery/clonepod.dm
Labels: size/XS

#7584 Fixes #6072 and fixes #6122 - Disposal chutes acting weird when deconstructed to frames
  code/WorkInProgress/recycling/disposal_chute.dm
Labels: size/S

#7581 Fixes Removable & Reusable Zip-ties #7517
  code/obj/machinery/clonepod.dm
Labels: size/XS

#7603 Fixes two more instances of AIeye jank
  code/modules/chemistry/Chemistry-Tools.dm
  code/obj/soup_pot.dm
Labels: bug, size/XS

#7494 Adds ephedrine and menthol to the nanomed/porta nanomed
  code/modules/chemistry/tools/bottles.dm
  code/modules/chemistry/tools/emergency_injectors.dm
  code/modules/chemistry/tools/hyposprays.dm
  code/modules/vending/vending.dm
  code/obj/machinery/porters.dm
Labels: size/M

#7620 Fix material processor
  code/modules/materials/Mat_Processing.dm
Labels: bug, runtime, size/XS

#7619 Log brass gauntlet and fix space stone sprite
  code/datums/abilities/brassgauntlet.dm
  code/obj/item/power_stones.dm
Labels: bug, QoL, size/XS

#7580 Sprite for the pipe dispenser and gas extractor
  code/WorkInProgress/pali/blob_fabricator.dm
  code/obj/machinery/manufacturer.dm
  code/obj/machinery/pipe/pipe_dispenser.dm
  icons/obj/manufacturer.dmi
Labels: sprites, size/S

#7572 No blackhole you can't eat that ghost
  code/mob/dead/observer.dm
  code/mob/living/seanceghost.dm
  code/mob/wraith.dm
  code/mob/zoldorfmob.dm
  code/modules/events/black_hole.dm
Labels: bug, size/S

#7605 Fix bad index on bioHolder RemoveEffect()
  code/modules/medical/genetics/bioHolder.dm
Labels: runtime, size/XS

#7623 Fix runtime on robojumper cell recharge
  code/modules/power/apc.dm
Labels: runtime, size/S

#7641 Adds 11 new hairstyles
  code/datums/customization_styles.dm
  icons/mob/human_hair.dmi
Labels: feature, sprites, size/M

#7554 Fixes owlery solar panels
  code/modules/power/solar.dm
  maps/z2.dmm
Labels: bug, mapping, size/M

#7535 Convert Reagent Extractors to transfer components
  code/datums/components/transfers.dm
  code/obj/submachine/seed.dm
Labels: size/L

#7626 Fixes dumping handheld mechcomps
  code/WorkInProgress/recycling/disposal_chute.dm
Labels: bug - minor, size/XS

#7645 TGUI observer menus
  code/mob/dead/observer.dm
Labels: QoL, size/M

#7503 Small objectives refactor
  code/datums/crew_objective.dm
  code/datums/gamemodes/gangwar.dm
  code/datums/gamemodes/gm_parent.dm
  code/datums/gamemodes/revolution.dm
  code/datums/gamemodes/spy.dm
  code/datums/jobs.dm
  code/datums/miscreant_objectives.dm
  code/datums/objective.dm
  code/mob/wraith.dm
  code/modules/admin/admin.dm
  code/modules/admin/antagifiers.dm
  code/modules/events/sleeperagent.dm
  code/procs/jobprocs.dm
Labels: cleanliness, size/L

#7537 gokarts now set glide size on self when they start to move
  code/WorkInProgress/racing.dm
Labels: bug - minor, size/XS

#7393 Fixes clickdrag on shinai bag
  code/obj/item/kendo.dm
Labels: bug - minor, size/S

#5952 Adds ManuDrives, a new method of recipe storage.
  code/datums/computerfiles.dm
  code/modules/networks/computer3/base_os.dm
  code/modules/networks/computer3/disks.dm
  code/obj/item/manudrive.dm
  code/obj/item/toys.dm
  code/obj/machinery/manufacturer.dm
  goonstation.dme
  icons/obj/cloning.dmi
  icons/obj/items/disks.dmi
  icons/obj/items/items.dmi
Labels: sprites, Certified Organic, size/L

#7640 Replaces the tables near the medbay cryo pods with reinforced tables
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
Labels: mapping, QoL, size/S

#7632 Replaces the "eat shit and die" AI law with something nicer
  code/obj/item/ai_modules.dm
  code/procs/logged_phrases.dm
Labels: size/XS

#6597 rework some config setting setup
  code/__secret_public.dme
  code/datums/configuration.dm
  code/global.dm
  code/hellban.dm
  code/lists/ckey_configs.dm
  code/lists/nt.dm
  code/world.dm
  config/.gitignore
  config/README.md
  config/admins.sample.txt
  config/admins.txt
  config/allow_thru_cap.sample.txt
  config/config.sample.txt
  config/hellbans.sample.txt
  config/mentors.sample.txt
  config/motd.txt
  config/nt.sample.txt
  config/rules.html
  config/whitelist.sample.txt
  goonstation.dme
  strings/hellbans.txt
  strings/whitelist.txt
Labels: documentation, DNM, input wanted, Certified Organic, size/L

#7615 Lets you dump hypospray contents back into containers
  code/modules/chemistry/tools/hyposprays.dm
Labels: feature, QoL, size/S

#7575 Cheer up mode
  code/modules/robotics/bot/guardbot.dm
Labels: size/S

#7496 ChemiCompiler MechComp functionality
  code/modules/chemistry/Chemistry-Machinery.dm
Labels: feature, bug - minor, balance, size/S

#6907 Emote Field, Warper and Heat Surge artifacts
  code/obj/artifacts/artifact_machines/emoter.dm
  code/obj/artifacts/artifact_machines/warper.dm
  code/obj/artifacts/artifact_objects/heatwave.dm
  goonstation.dme
Labels: feature, input wanted, Certified Organic, size/L, FREEZE🧊

#7468 emag_act fixes
  code/datums/controllers/sea_hotspot_controls.dm
  code/mob/living/critter/mob_bots.dm
  code/mob/living/silicon/ghostdrone.dm
  code/modules/robotics/bot/barbot.dm
  code/obj/item/ai_modules.dm
  code/obj/item/card.dm
  code/obj/item/coin.dm
  code/obj/item/gun/energy.dm
  code/obj/item/material.dm
  code/obj/machinery/microwave.dm
  code/obj/machinery/sleeper.dm
  code/obj/retribution/makeshift_signaller.dm
  code/obj/submachine/slots.dm
  code/z_adventurezones/space_casino.dm
Labels: bug, cleanliness, size/M

#6973 PDA Packet Sender can now make (relatively simple) Programs
  code/obj/item/device/pda2/diagnostics.dm
  code/procs/lists.dm
Labels: feature, input wanted, Certified Organic, size/L

#7577 AI map v2
  browserassets/tgui/tgui.bundle.js
  code/global.dm
  code/mob/living/intangible/ai-camera.dm
  code/modules/station_map/station_map.dm
  code/world.dm
  goonstation.dme
  icons/obj/station_map.dmi
  tgui/packages/tgui/interfaces/AIMap.js
Labels: feature, sprites, experimental, tgui, size/L

#7600 Allows the max amount of revheads to scale with population to up to 5 revheads
  code/datums/gamemodes/revolution.dm
Labels: size/S

#7658 produce satchels can now carry chicken feathers
  code/obj/item/satchel.dm
Labels: feature, QoL, size/XS

#7602 Allow Jolt to cure cardiac arrest in people with SMES human
  code/datums/abilities/ability_parent.dm
  code/modules/antagonists/arcfiend/arcfiend.dm
Labels: feature, balance, size/M
