Repository goonstation/goonstation, pull requests merged in 2022-08, with the labels that each got.

#9993 Prevent intangibles from slipping on ice
  code/modules/materials/Mat_MaterialProcs.dm
Labels: bug, bug - trivial, size/XS

#9790 Makes timers and proximity sensors tgui
  browserassets/tgui/tgui.bundle.js
  code/obj/item/device/prox_sensor.dm
  code/obj/item/device/timer.dm
  tgui/packages/tgui/interfaces/Timer.js
Labels: bug, QoL, tgui, size/L

#9977 Fixes #1186 - Milk heals skeleton mob critters now
  code/mob/living/critter/skeleton.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: bug, size/S

#9783 random chem bug fixes and also port now works in containers
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-ExplosiveFire.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: bug, balance, size/M

#9996 Fixed white pixel on door_open south facing sprite in SL_doors.dmi
  icons/obj/doors/SL_doors.dmi
Labels: sprites, size/XS

#9982 Donut 2 Civilian Sector Update
  maps/unused/donut2_new_walls.dmm
Labels: mapping, size/XXL, FREEZE EXEMPT🧊

#9997 Fixes the sawfly remote
  code/obj/sawflymisc.dm
Labels: bug, size/XS

#9998 Shifts the furnace connecter up one pixel to align with pipes.
  icons/obj/atmospherics/heat_reservoir.dmi
Labels: bug - trivial, sprites, size/XS

#9999 Fixes sawflies targeting intangible mobs
  code/mob/living/critter/ai/sawflyai.dm
Labels: bug

#9992 Shift the multitool in kondaru disposals down by 5 pixels
  maps/kondaru.dmm
Labels: mapping, QoL, size/XS

#9709 Prevent escape shuttle from leaving when relay is active
  code/obj/flock/structure/relay.dm
Labels: feature, size/M, FREEZE EXEMPT🧊

#10001 Fixes announcement computer time being multiplied by 10
  code/obj/machinery/computer/announcement.dm
Labels: bug, size/XS

#10004 Fix AI APC command not working for unpowered APCs
  code/mob/living/intangible/ai-camera.dm
Labels: bug, size/XS

#10012 adds bonsai destroyed state
  code/obj/decorations.dm
  icons/misc/worlds.dmi
Labels: bug, sprites, size/XS

#9981 Small Flock AI task optimization
  code/mob/living/critter/ai/flock/flocktasks.dm
Labels: performance, size/S

#9966 Datumization of arcfiends and mid-round/mixed traitors
  code/datums/gamemodes/gm_parent.dm
  code/datums/mind.dm
  code/mob/new_player.dm
  code/modules/admin/admin.dm
  code/modules/admin/antagifiers.dm
  code/modules/antagonists/__antagonist.dm
  code/modules/antagonists/antagonist_helpers.dm
  code/modules/antagonists/arcfiend/abilities/_arcfiend_ability_holder.dm
  code/modules/antagonists/arcfiend/abilities/arc_flash.dm
  code/modules/antagonists/arcfiend/abilities/discharge.dm
  code/modules/antagonists/arcfiend/abilities/flash.dm
  code/modules/antagonists/arcfiend/abilities/jamming_field.dm
  code/modules/antagonists/arcfiend/abilities/jolt.dm
  code/modules/antagonists/arcfiend/abilities/polarize.dm
  code/modules/antagonists/arcfiend/abilities/ride_the_lightning.dm
  code/modules/antagonists/arcfiend/abilities/sap_power.dm
  code/modules/antagonists/arcfiend/arcfiend.dm
  code/modules/events/antag_ghost_respawn.dm
  code/procs/jobprocs.dm
  goonstation.dme
Labels: cleanliness, size/XXL

#9856 changes on scorpions and rattlesnakes
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/obj/critter/misc.dm
Labels: balance, size/M

#9892 Adds a new mutation to Roses: Holo Roses!
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_flower.dm
  code/obj/item/plants.dm
  icons/obj/hydroponics/items_hydroponics.dmi
  icons/obj/hydroponics/plants_flower.dmi
Labels: feature, sprites, add to wiki, size/M, FREEZE EXEMPT🧊

#10027 fixes #10025
  maps/atlas.dmm
Labels: bug, mapping, size/XS

#10030 fixes a safari it bug
  code/obj/item/storage/weapon_security.dm
Labels: bug, size/XS

#10000 Ghostdrone Fix
  code/obj/machinery/door/airlock.dm
  code/obj/machinery/door/window.dm
Labels: bug, bug - minor, size/S

#9835 Gives people being converted through counterrevs and beatings now gives you temporary melee prot
  code/mob/melee_attack_procs.dm
  code/modules/status_system/statusEffects.dm
  code/obj/item/implant.dm
Labels: balance, add to wiki, size/S

#9958 Nerfs Some of The Fire Elementals Loot
  code/WorkInProgress/GerhazoStuff.dm
Labels: balance, input wanted, size/XS

#9915 Enables flock in both mixed and random event spawns
  code/datums/gamemodes/arcfiend.dm
  code/datums/gamemodes/gm_parent.dm
  code/datums/gamemodes/mixed.dm
  code/datums/gamemodes/mixed_rp.dm
  code/datums/gamemodes/vampire.dm
  code/global.dm
  code/modules/events/antag_ghost_respawn.dm
Labels: feature, balance, FUCK, size/M, FREEZE EXEMPT🧊

#10017 Fixes typo in clown bananna job reward description
  code/modules/jobxp/JobXPRewards.dm
Labels: bug, size/XS

#10039 Fixes a bluescreen with credit transfer devices
  code/obj/machinery/cashreg.dm
Labels: bug, size/XS

#10038 Fixes cryo manifest bugs
  code/datums/datacore.dm
  code/mob/living/silicon/ai.dm
  code/modules/networks/computer3/smallprogs.dm
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/machinery/computer/card.dm
Labels: bug, size/M

#8436 Rework name tags to only use images
  _std/plane.dm
  code/mob.dm
  code/mob/input.dm
  code/modules/interface/name_tag.dm
Labels: bug - minor, rework, Certified Organic, size/M

#9761 Gives forensic scanners an option to print the report of the last scan they did.
  code/obj/item/device/scanners.dm
Labels: feature, QoL, size/M, FREEZE EXEMPT🧊

#10026 buffs cyborg cleaner bottles and code cleanliness
  code/obj/item/mops_cleaners.dm
Labels: bug - trivial, cleanliness, balance, QoL, add to wiki, size/M

#10045 Fixes flock being unable to convert matsci grilles
  code/datums/flock/flock.dm
Labels: bug, size/XS

#10044 Fixes flock not being able to convert pool tiles
  code/datums/flock/flock.dm
Labels: bug, size/XS

#10050 walp office
  code/WorkInProgress/WalpStuff.dm
  code/z_adventurezones/earth.dm
  icons/misc/bee.dmi
  maps/z2.dmm
Labels: mapping, sprites, size/L

#10049 Disables being able to snip large television cameras
  code/obj/machinery/camera.dm
Labels: bug, size/XS

#10055 Ghost Critters will not be targeted by the AI turrets (once again)
  code/obj/machinery/turret.dm
Labels: bug, size/XS

#9794 Pipeshot crafting and shells
  code/modules/projectiles/special.dm
  code/obj/item/assembly/misc_assemblies.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
  icons/obj/items/casings.dmi
Labels: sprites, balance, size/M

#8964 makes skeleton heads get the typing indicator instead of their body
  _std/defines/component_defines/component_defines_atom.dm
  code/datums/mutantraces.dm
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/obj/item/organs/head.dm
  code/obj/item/organs/organ_parent.dm
  code/procs/mobprocs/typing_indicator.dm
Labels: QoL, Certified Organic, size/M

#10007 Wrestlemania ranch
  maps/wrestlemap.dmm
Labels: mapping, size/XL

#10070 Dye bottle now has all hair set to default
  code/obj/ToSplit/barber_shop.dm
Labels: bug, size/XS

#9919 Traits cleanName -> name
  code/datums/datacore.dm
  code/datums/preferences.dm
  code/datums/traits.dm
  code/datums/traits_disused.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/modules/admin/admin.dm
Labels: cleanliness, tgui, size/L

#10103 chemaster can only make .../chemical/plastic bottles
  code/modules/chemistry/Chemistry-Machinery.dm
Labels: bug, size/XS

#10102 Fixes blind nukies and wizards not getting visors
  code/datums/abilities/wizard.dm
  code/procs/antagonist_procs.dm
  code/procs/jobprocs.dm
Labels: bug, size/S

#10100 Fixes being able to put two corpses in an enzymatic reclaimer
  code/obj/machinery/clonepod.dm
Labels: bug, size/XS

#10095 Fixes all files being saved as "temp" in FROG
  code/modules/networks/computer3/smallprogs.dm
Labels: bug, size/XS

#10094 Fixes fibre wire and quarterstaff bugs
  code/WorkInProgress/SpyGuyStuff.dm
  code/obj/item/misc_weapons.dm
Labels: bug, size/S

#10107 Adds a special commentator headset and radio
  browserassets/images/radio_icons/commentator.png
  code/obj/item/device/radio.dm
Labels: feature, size/S

#10071 Add an adjust saturation option under game effects
  _std/color.dm
  code/client.dm
  code/mob.dm
  code/mob/dead/target_observer.dm
  code/mob/living/critter/flock/flockbit.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/life/sight.dm
  code/mob/living/silicon/robot.dm
  code/mob/wraith.dm
  code/modules/admin/debug.dm
  code/modules/animation/AnimationLibrary.dm
  code/obj/item/organs/brain.dm
  interface/skin.dmf
Labels: QoL, size/L

#10106 Changes the "Set DNR" button prompt to be more descriptive.
  code/mob.dm
Labels: QoL, size/XS

#10119 Fixes bat form being able to drink from NPCs
  code/datums/abilities/vampire/vampire_bite.dm
Labels: bug, size/M

#10127 Fix health icon being used for relay tealprint
  code/obj/flock/structure/flock_structure_ghost.dm
Labels: bug - minor, size/XS

#10126 Fix Flockdrones moving into broken door playing sound
  code/obj/machinery/door/feather.dm
Labels: bug - minor, size/S

#10117 Fixes ghostdrones dropping bullet casings
  code/obj/item/gun/kinetic.dm
Labels: bug, size/XS

#10112 Owl/Chaos Dunk Fix
  code/WorkInProgress/Hydrothings.dm
  code/procs/basketball.dm
Labels: bug, size/XS

#10111 Afterlife ghost fix
  code/mob/transform_procs.dm
Labels: bug, size/XS

#10108 bats hate the sun
  code/mob/living/life/disability.dm
Labels: bug, size/XS

#10118 Barrier Description Correction
  code/obj/item/barrier.dm
Labels: bug - minor, size/XS

#10132 Fixed wasp guns infinitely recursing
  code/modules/projectiles/projectile_parent.dm
Labels: bug, size/XS

#10113 Stops borg fire extinguishers from melting
  code/modules/chemistry/tools/extinguisher.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
Labels: bug, size/M

#10109 Book Correction, Dummies' Guide to Material Science
  strings/books/matsci_guide_new.txt
Labels: bug - minor, add to wiki, size/XXL

#10134 Fixes blobs being able to break into listening post
  code/obj/machinery/door/airlock.dm
Labels: size/XS

#10072 Antagonist datum tidying and bugfixing
  code/datums/mind.dm
  code/mob/new_player.dm
  code/modules/admin/player_options.dm
  code/modules/antagonists/__antagonist.dm
  code/modules/antagonists/arcfiend/abilities/_arcfiend_ability_holder.dm
  code/modules/antagonists/arcfiend/abilities/arc_flash.dm
  code/modules/events/sleeperagent.dm
Labels: bug, cleanliness, size/L

#10148 Custom icon for starter box
  code/obj/item/storage/small_storage_parent.dm
  icons/obj/items/storage.dmi
Labels: sprites, QoL, size/XS

#10158 Mechanical droppers auto swap mode
  code/modules/chemistry/tools/droppers.dm
Labels: QoL, size/XS

#10074 edits bowler hat sprite
  icons/mob/clothing/head.dmi
Labels: C-Sprites, size/XS, A-Clothing

#10184 Add code area labels to keyword labeller
  .github/keylabeler.yml
Labels: A-Tooling, size/S

#10180 Fix missing cotton bandaging text
  code/modules/materials/Mat_RawMaterials.dm
Labels: C-Bug, P-Trivial, size/XS, A-Player-Actions, A-Game-Objects

#10182 Simulate all floors in cog2 sec podbay
  maps/cogmap2.dmm
Labels: C-Bug, A-Mapping, size/S, p--minor

#10181 Simulate donut2 kitchen floors
  maps/unused/donut2_new_walls.dmm
Labels: C-Bug, A-Mapping, size/M

#10176 Fixes flock barricades being solid when they shouldn't be
  code/obj/flock/furniture.dm
Labels: C-Bug, size/XS, A-Game-Objects

#10146 Fixes flockminds not dying when their rift is destroyed
  code/obj/flock/structure/rift.dm
Labels: C-Bug, size/XS, A-Gamemodes

#10179 Fixes cyborg body targeting UI being overwritten by preferences.
  code/datums/hud/zone_sel.dm
Labels: C-Bug, A-UI, size/XS, A-Silicons

#10197 Removes duplicate extinguisher from Field Medic kit
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/storage/crates.dm
Labels: size/XS

#10090 removes prodoc glasses from nukie medic
  code/obj/storage/crates.dm
Labels: C-QoL, size/XS, A-Clothing

#10174 Fixes flockminds and other intangible mobs doing things they shouldn't
  code/mob/living/carbon/human.dm
  code/obj/item.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/porters.dm
  code/obj/machinery/sleeper.dm
Labels: C-Bug, A-Player-Actions

#10202 Fixes flock crashing the entire server
  code/obj/flock/structure/rift.dm
Labels: C-Bug, P-Critical, size/XS

#10195 remove some dumb area.contents iteration
  code/area.dm
  code/z_dmm_suite/writer.dm
Labels: C-Performance, size/S, A-Internal

#10198 Normalize Slipping Hazard name
  code/datums/traits.dm
Labels: C-Bug, P-Trivial, size/XS, c-ui, A-Traits

#10189 Fix bugs with reinforcing floors
  code/turf/floors.dm
Labels: C-Bug, size/S, A-Player-Actions

#10221 Fixes #3192 - Medtrak inputs were sometimes janky
  code/modules/networks/computer3/med_rec.dm
Labels: C-Bug, size/M, A-Game-Objects

#10220 Adds setting upstream master to the dev guide
  .github/DEV_GUIDE.md
Labels: A-Tooling, size/XS, C-Documentation

#10224 donut2 security fixes
  maps/unused/donut2_new_walls.dmm
Labels: C-Bug, A-Mapping, size/S

#10222 Fixes bucket item arms being flipped
  code/modules/chemistry/Chemistry-Tools.dm
Labels: C-Bug, A-Game-Objects

#10219 Fixes #2854 - Ghostdrones pulled from chargers free up the charger now
  code/obj/machinery/drone_recharger.dm
Labels: C-Bug, A-Game-Objects

#10208 Clarion burn chamber no longer exhausted to simmed tiles
  maps/clarion.dmm
Labels: A-Mapping, C-QoL, size/S

#10229 Fixes revheads and station heads in cryo counting as alive for revolution
  code/datums/gamemodes/revolution.dm
Labels: C-Bug, P-Major, size/XS, A-Gamemodes

#10227 fixes door-links in destiny medbay
  maps/destiny.dmm
Labels: C-Bug, A-Mapping, size/S

#10217 Prevent silicons from reacting to itchy materials
  code/modules/materials/Mat_MaterialProcs.dm
Labels: C-Bug, P-Minor, size/XS, A-Materials, A-Silicons

#10237 Fixes #3314 - Sponge can wipe paint off now
  code/obj/item/mops_cleaners.dm
Labels: C-Bug, C-Feature, size/XS, E-Freeze-Exempt🧊, A-Game-Objects

#10226 Reclaimers check if you can drop an item before accepting it.
  code/obj/item/material.dm
Labels: C-Bug, P-Major, size/XS, A-Silicons

#10081 makes the cyborg teleporter upgrade use tgui_input_list instead of input and few cyborg fixes
  code/mob/living/silicon/robot.dm
  code/modules/robotics/robot/upgrade/parent.dm
  code/modules/robotics/robot/upgrade/recharge_pack.dm
  code/modules/robotics/robot/upgrade/teleporter.dm
Labels: C-Bug, C-Code-Quality, C-Balance, C-QoL, size/M, A-Game-Objects

#10199 fixed unexpected behaviour from glass bottles
  code/modules/chemistry/tools/bottles.dm
Labels: C-Bug, size/XS, A-Chemistry

#10214 Plantmaster no longer relocates attached/cyborg items
  code/obj/submachine/seed.dm
Labels: C-Bug, P-Minor, size/XS, A-Player-Actions, A-Silicons

#10203 Fix #10075 - Hivemind point cooldown
  code/mob/dead/hivemind_observer.dm
Labels: C-Bug, size/XS, A-Player-Actions

#10185 ALL_RADIO_BIRDS_MUST_SHUT_THE_HELL_UP
  code/datums/flock/flock.dm
  code/mob/living/critter/flock/flockbit.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/obj/flock/structure/flock_structure_ghost.dm
  code/obj/machinery/door/feather.dm
Labels: C-Balance, C-Sound, size/M, A-Gamemodes

#10177 vampires no longer break thindoors they fly through as a bat
  code/obj/machinery/door/door_parent.dm
Labels: C-Bug, size/XS, A-Player-Actions, A-Game-Objects

#10187 Fixes incorrectly pathed ghostdrone carpets
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut3.dmm
  maps/oshan.dmm
  maps/unused/donut2_new_walls.dmm
Labels: C-Bug, A-Mapping, size/L

#10196 AI Change Designation only goes on cooldown after successful rename
  code/mob/living/silicon/ai.dm
Labels: C-Bug, size/XS, A-Player-Actions, A-Silicons

#10097 Fixes some more fibre wire jank
  code/WorkInProgress/SpyGuyStuff.dm
  icons/obj/items/items.dmi
Labels: C-Bug, C-Sprites, C-Removal, size/M, A-Game-Objects

#10216 Ripping sheets/towels uses private action bar
  code/obj/item/clothing.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/clothing/uniforms.dm
Labels: C-Code-Quality, C-QoL, size/M, A-Player-Actions

#10253 Fix sponges wiping the glass colour off windows
  code/obj/item/mops_cleaners.dm
Labels: P-Minor, size/XS, A-Game-Objects

#10259 Oshan Pest Starts Bug Fix
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/S

#10262 Combat knife resprite
  code/obj/item/misc_weapons.dm
  code/obj/submachine/weapon_vendor.dm
  icons/obj/items/weapons.dmi
Labels: C-Sprites, size/XS

#10265 Update cryo cell graphics immediately on defib insert
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
Labels: C-Bug, P-Trivial, size/XS, A-Medical

#9808 Gives random event flockminds a free trace as a treat
  code/mob/living/intangible/flock/flockmind.dm
  code/mob/living/intangible/flock/flocktrace.dm
  code/mob/transform_procs.dm
  code/modules/events/antag_ghost_respawn.dm
  code/procs/antagonist_procs.dm
Labels: C-Balance, size/M, A-Gamemodes

#10260 Cog 2 Pest Starts Bug Fix
  maps/cogmap2.dmm
Labels: C-Bug, A-Mapping, size/L

#10136 Donut 2 Crew Quarters Update
  maps/unused/donut2_new_walls.dmm
Labels: C-Bug, A-Mapping, size/XXL

#10268 Donut3 Engineer's Coffeemaker is now Engineering flavoured
  maps/donut3.dmm
Labels: P-Trivial, A-Mapping, size/XS

#10144 artifact forms now fabricatable at science fabricator
  code/datums/manufacturing.dm
  code/obj/machinery/manufacturer.dm
Labels: C-Balance, C-QoL, size/S, E-Freeze-Exempt🧊, A-Game-Objects

#10234 Removes the Pod Colosseum
  _std/defines/radio.dm
  code/WorkInProgress/recycling/mail_chute.dm
  code/datums/controllers/process/arena.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/datums/gauntlet/podcolosseum.dm
  code/datums/hud/pod.dm
  code/datums/limb.dm
  code/datums/movement_controller/colosseum_putt.dm
  code/mob/living.dm
  code/mob/living/critter/hastur.dm
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/life/bodytemp.dm
  code/mob_stat.dm
  code/modules/admin/admin.dm
  code/obj/critter/critter_parent.dm
  code/obj/critter/drone.dm
  code/obj/critter/gunbot.dm
  code/obj/item/device/radios/intercoms.dm
  goonstation.dme
  maps/z2.dmm
Labels: C-Bug, A-Mapping, C-Removal, size/XXL

#10192 Fix Flockdrones being able to attack themselves and other Flockdrones with items
  code/datums/components/flock/flockprotection.dm
  code/mob/living/critter/flock/flockdrone.dm
Labels: C-Bug, size/XS, A-Gamemodes

#10137 Add more abilities for Flocktraces
  code/datums/abilities/flock/flockmind.dm
  code/mob/living/intangible/flock/flocktrace.dm
Labels: C-QoL, size/XS, A-Gamemodes, A-Player-Actions

#9927 Borgs are now more explosion resistant and properly
  code/mob/living/critter.dm
  code/mob/living/silicon/robot.dm
  code/modules/robotics/robot/upgrade/force_shield.dm
  code/procs/mob_procs.dm
Labels: C-Bug, C-Feature, C-Balance, size/L, A-Silicons

#10277 Fixes AI eye blocking doors from closing
  code/obj/machinery/door/door_parent.dm
Labels: C-Bug, A-Game-Objects, A-Silicons

#10191 changes the cooldown on rattlesnake bites from 15 to 8 seconds
  code/obj/critter/misc.dm
Labels: C-Balance, size/XS, A-AI

#10243 Fixes lawbringer AOE hitting through spellshield
  code/modules/projectiles/energy_bolt.dm
Labels: C-Bug, size/XS, A-Game-Objects

#10183 Fixes #10165 - Vega Fueltank Now Works With Other Vega Flamethrowers
  code/obj/item/flamethrower.dm
Labels: C-Bug, C-QoL, size/S, A-Game-Objects

#10264 Check antag job bans for late join
  code/mob/new_player.dm
Labels: C-Bug, size/XS

#10159 Replaces typechecks with istool macros
  _std/macros/items.dm
  code/WorkInProgress/EmergencyPodFab.dm
  code/WorkInProgress/dialogue/dialogue_polaris.dm
  code/datums/abilities/kudzumen.dm
  code/mob/living/critter.dm
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
  code/modules/food_and_drink/bread.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/plants.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/power/lighting.dm
  code/modules/transport/pods/warp_travel.dm
  code/obj/alien/weeds.dm
  code/obj/bookcase.dm
  code/obj/critter/Brullbar.dm
  code/obj/critter/big_animals.dm
  code/obj/critter/critter_parent.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/item/mob_parts/robot_parts.dm
  code/obj/item/organs/head.dm
  code/obj/item/plants.dm
  code/obj/machinery/clonepod.dm
  code/obj/machinery/phone.dm
  code/obj/machinery/phone/phone.dm
  code/obj/machinery/spaceheater.dm
  code/obj/playable_piano.dm
Labels: C-Bug, C-Code-Quality, size/L, A-Game-Objects

#10163 Makes vampire bite actionbars private
  code/datums/abilities/vampire/vampire_bite.dm
Labels: C-Balance, E-Input-Wanted, size/S, A-Gamemodes, A-Player-Actions

#10121 Makes safari kit actually work again.
  code/WorkInProgress/actuallyKeelinsStuff.dm
Labels: C-Bug, P-Major, size/M, A-Game-Objects

#10278 Fixes blast doors being openable by anything
  code/obj/machinery/door/poddoor.dm
Labels: C-Bug, size/M, A-Game-Objects

#10005 makes people spawn with noslips on BR
  code/datums/gamemodes/battle_royale.dm
Labels: C-Balance, size/XS, A-Gamemodes

#10287 Donut2 Bee Bugfix
  maps/unused/donut2_new_walls.dmm
Labels: C-Bug, A-Mapping, size/XS

#10282 Lunchbox Update and Rebalancing
  code/obj/item/storage/lunchboxes.dm
  icons/mob/inhand/hand_lunchboxes.dmi
  icons/obj/items/storage.dmi
Labels: C-Feature, C-Sprites, size/M

#10290 No power alert from prefab APCs
  assets/maps/prefabs/prefab_drug_den.dmm
  assets/maps/prefabs/prefab_janitor.dmm
  assets/maps/prefabs/prefab_outpost.dmm
  assets/maps/prefabs/prefab_safehouse.dmm
  assets/maps/prefabs/prefab_sequestered_cloner.dmm
  assets/maps/prefabs/prefab_von_ricken.dmm
Labels: A-Mapping, C-QoL, size/S

#10289 Hook up data terminal to Oshan RDir's printer.
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/XS, A-Station-Systems

#10286 Fix cogmap's medical printer data terminal
  maps/cogmap.dmm
Labels: C-Bug, P-Trivial, A-Mapping, size/XS, A-Station-Systems

#10284 Wire up Carnigorn's printer
  maps/z2.dmm
Labels: P-Trivial, A-Mapping, size/S

#10283 Convert the radio station printer into a fake object
  maps/z3.dmm
Labels: P-Trivial, A-Mapping, size/XS

#10276 Fix trait points not updating on load
  code/datums/savefile.dm
Labels: C-Bug, size/XS

#10186 Buffs flockdrones against pods
  code/modules/transport/pods/vehicle.dm
Labels: C-Balance, size/XS, A-Gamemodes

#10288 Donut2 APC Fixes
  maps/unused/donut2_new_walls.dmm
Labels: A-Mapping, size/L, A-Station-Systems

#10306 Donut 3 Lightswitch Fix
  maps/donut3.dmm
Labels: C-Bug, A-Mapping, size/XS

#10308 Clarion security blind fixes
  maps/clarion.dmm
Labels: P-Minor, A-Mapping, C-Code-Quality, size/S

#10303 Fix stacked window/wall in Destiny's Gym
  maps/destiny.dmm
Labels: P-Trivial, A-Mapping, C-Code-Quality, size/XS

#10300 Anchor poster inside Sea Diner wall
  maps/oshan.dmm
Labels: P-Trivial, A-Mapping, C-Code-Quality, size/XS

#10168 Fix a case of critter healing being scaled
  code/datums/critter_mobs/health.dm
Labels: C-Bug, size/XS, A-Medical

#10297 Remove stacked door in owlery
  maps/z2.dmm
Labels: P-Trivial, A-Mapping, C-Code-Quality, size/XS

#10301 Adds blinds switches to central command
  maps/z2.dmm
Labels: P-Trivial, A-Mapping, C-Code-Quality, size/S

#10302 Cogmap2 Map Correctness fixes
  maps/cogmap2.dmm
Labels: P-Trivial, A-Mapping, C-Code-Quality, size/S

#10274 Paintfix 2: Electric Spongealoo
  code/modules/forensics/atom_forensic.dm
  code/obj/item/mops_cleaners.dm
  code/obj/item/paint.dm
Labels: C-Bug, C-Rework, size/L, A-Game-Objects

#9904 Make chemprot apply consistently to touch reactions
  code/mob/living/life/skin.dm
  code/modules/admin/buildmodes/reagents.dm
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/chemistry/Reagents-Base.dm
  code/modules/chemistry/Reagents-ExplosiveFire.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/chemistry/tools/patches.dm
  code/modules/fluids/fluid_core.dm
  code/modules/status_system/statusFoodBuffs.dm
Labels: C-Bug, C-Feature, P-Major, C-Rework, size/L, A-Chemistry

#10299 Remove blast shield under cogmap AI core APC wall
  maps/cogmap.dmm
Labels: P-Trivial, A-Mapping, C-Code-Quality, size/XS

#9902 Adds an action bar to forcefeeding pills with slight duration scaling
  code/datums/controllers/action_controls.dm
  code/modules/chemistry/tools/pills.dm
Labels: C-Feature, C-Balance, E-Input-Wanted, E-Add-To-Wiki, size/M, E-Freeze-Exempt🧊, A-Player-Actions

#10304 donut3 map fixes: armory nuke, ai core blast shield, blinds
  maps/donut3.dmm
Labels: P-Major, A-Mapping, C-Code-Quality, C-Balance, size/S

#10326 Fix my mistake with pills
  code/modules/chemistry/tools/pills.dm
Labels: C-Bug, size/M

#10334 buff jolt
  code/modules/antagonists/arcfiend/abilities/jolt.dm
Labels: C-Balance, size/XS, A-Player-Actions

#10340 Donut 2 Pool/Arcade/Gym Update
  maps/unused/donut2_new_walls.dmm
Labels: A-Mapping, size/XXL

#10318 Add missing blinds switches to Clarion
  maps/clarion.dmm
Labels: P-Trivial, A-Mapping, C-Code-Quality, size/XS

#10339 All tiles in the frog swamp are now simulated
  assets/maps/random_rooms/3x5/frogswamp.dmm
Labels: C-Bug, P-Trivial, A-Mapping, size/XS
