Repository goonstation/goonstation, pull requests merged in 2022-05, with the labels that each got.

#8392 Ramen and udon noodles actually heal you and make sense now
  code/modules/food_and_drink/snacks.dm
Labels: bug - minor, size/XS

#8389 Attempt to fix a dwaine scripting bug
  code/modules/networks/computer3/mainframe2/base_program.dm
Labels: bug, size/XS

#8387 Redesign bridge lockdown on Atlas so it does not lockdown only HOP desk
  maps/atlas.dmm
Labels: mapping, QoL, size/L

#8315 New Wizard Spell/Item: "Staff of Thunder"
  code/WorkInProgress/AnimationLibrary.dm
  code/datums/abilities/wizard/summon_staff.dm
  code/modules/admin/gimmick/wizard_rings.dm
  code/modules/sound/soundCache.dm
  code/obj/item/misc_wizard_stuff.dm
  code/obj/item/uplinks.dm
  code/procs/lightning_bolt.dm
  goonstation.dme
  icons/effects/64x128.dmi
  icons/effects/effects.dmi
  icons/mob/inhand/hand_weapons.dmi
  icons/mob/spell_buttons.dmi
  icons/obj/clothing/item_wizard_rings.dmi
  icons/obj/wizard.dmi
  sound/effects/lightning_strike.ogg
Labels: feature, sprites, sound, size/L

#8373 make clow cards numbered again
  code/obj/item/playing_cards.dm
Labels: bug - trivial, size/XS

#8262 Reptilian tails are now twitchy for a bit when using the "regrow tail" ability.
  code/datums/abilities/lizard.dm
  code/obj/critter/misc.dm
  code/obj/critter/pets_small_animals.dm
  icons/misc/critter.dmi
Labels: sprites, size/M

#8405 Changes the chameleon suit to the chameleon outfit from #7469 in the infiltrator class crate
  code/obj/storage/crates.dm
Labels: balance, size/XS

#8396 Added mining headset
  browserassets/images/radio_icons/Min.png
  code/datums/gamemodes/spy_theft.dm
  code/datums/jobs.dm
  code/modules/robotics/robot/module/mining.dm
  code/obj/item/device/radios/headsets.dm
  code/obj/item/storage/clothing.dm
Labels: size/S

#8371 Thrown apples do more damage to crewmates with medical training
  code/modules/food_and_drink/plants.dm
Labels: size/XS

#8383 Ghostdrone tool qol pass 2
  code/mob/living/silicon/ghostdrone.dm
  code/obj/item/mops_cleaners.dm
Labels: size/S

#8426 adds waffleoffle to changelog entry for #8014
  strings/changelog.txt
Labels: size/XS

#8040 Adds a single other antag to conspiracy
  code/datums/gamemodes/conspiracy.dm
  code/datums/gamemodes/gm_parent.dm
  code/datums/gamemodes/mixed.dm
Labels: feature, balance, add to wiki, size/L

#8403 Replace fake sink on cog1
  maps/cogmap.dmm
Labels: bug, mapping, size/XS

#8398 Actionbar forcedrinking
  code/datums/controllers/action_controls.dm
  code/modules/chemistry/tools/food_and_drink.dm
Labels: feature, QoL, size/M

#8374 Adds yerba mate and mate gourds to the game
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/food_and_drink/drinks.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/vending/vending.dm
  icons/obj/foodNdrink/drinks.dmi
  icons/obj/foodNdrink/food_ingredient.dmi
Labels: feature, sprites, size/M

#8420 Changes the compost bag sprite
  icons/obj/hydroponics/items_hydroponics.dmi
Labels: sprites, add to wiki, size/XS

#8451 Fixes edgecase behavior in initial_setup.bat
  initial_setup.bat
Labels: size/XS

#8440 Kondaru may22 mini-fixbatch
  maps/kondaru.dmm
Labels: feature, bug - minor, mapping, size/L

#8421 Fixes opening through thindows
  code/obj/storage/large_storage_parent.dm
Labels: size/XS

#8439 Changes the Scotch Egg sprite
  icons/obj/foodNdrink/food.dmi
Labels: sprites, add to wiki, size/XS

#8457 Fixes people throwing up eggs instead of food chunks.
  code/modules/chemistry/tools/food_and_drink.dm
  icons/obj/foodNdrink/food.dmi
Labels: sprites, size/XS

#8417 Makes wired up grilles able to reroute arcflashes
  code/procs/helpers.dm
Labels: feature, QoL, size/S

#8444 Prevent serving trays from being stacked with plates
  code/obj/item/kitchen.dm
Labels: size/XS

#8427 Buff football cleats with noslip
  code/obj/item/football.dm
Labels: balance, add to wiki, size/XS

#8434 New nukie utility: tactical pouch
  code/obj/item/storage/ammo_pouches.dm
  code/obj/submachine/weapon_vendor.dm
  icons/obj/items/storage.dmi
Labels: sprites, size/S

#8432 Artifact chem trigger expansion
  code/obj/artifacts/artifactprocs.dm
Labels: size/S

#8431 Fixes for Staff of Thunder
  code/datums/abilities/wizard.dm
  code/obj/item/misc_wizard_stuff.dm
  code/procs/lightning_bolt.dm
Labels: bug, size/M

#8454 Adds 7* department signs, defines a couple wallsigns and cleans up wallsigns.dmi. Sprites by Flaborized.
  code/obj/decal/poster.dm
  icons/obj/decals/wallsigns.dmi
  maps/z2.dmm
Labels: mapping, sprites, size/M

#8459 Adds Status Displays Across Cog1
  maps/cogmap.dmm
Labels: mapping, size/L

#8422 allow cows to wear cowboy boots
  code/obj/item/clothing/shoes.dm
Labels: balance, size/XS

#8415 Prevent shuttle hotbox on RP
  code/obj/item/plants.dm
Labels: balance, add to wiki, size/S

#8410 Update Horizon listening post
  maps/horizon.dmm
Labels: mapping, QoL, add to wiki, size/L

#8409 Fixes syndieborgs & emagged bots being overwritable
  code/mob/living/silicon/robot.dm
Labels: size/XS

#8412 Changes Define For Skeleton and Chem ID
  _std/defines/mob.dm
  code/datums/mutantraces.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/medical/surgery_procs.dm
  code/obj/item/instruments.dm
  code/obj/item/organs/tail.dm
  code/obj/machinery/computer/cloning.dm
Labels: FUCK, size/M

#8430 Adds a new detective and spy thief syndicate item: The scuttlebot!
  code/datums/abilities/critter/scuttlebot.dm
  code/datums/syndicate_buylist.dm
  code/mob/living/critter/scuttlebot.dm
  code/obj/item/clothing/glasses.dm
  code/obj/item/clothing/hats.dm
  goonstation.dme
  icons/misc/critter.dmi
  icons/mob/critter_ui.dmi
Labels: sprites, size/L

#8404 Remove legacy syringe icons
  code/modules/robotics/bot/medbot.dm
  icons/obj/syringe.dmi
Labels: sprites, size/XS

#8467 Adds A Missing Status Display To Oshan
  maps/oshan.dmm
Labels: mapping, size/XS

#8463 fixes Scuttlebot items not being dropped upon turning back
  code/mob/living/critter/scuttlebot.dm
Labels: bug, size/XS

#8210 Mulebot Donut 3
  maps/donut3.dmm
Labels: feature, mapping, QoL, size/M

#8441 Adds inhand sprites for mate gourds
  icons/mob/inhand/hand_food.dmi
Labels: sprites, size/XS

#8472 Fixes RD outfit showing the wrong name while using the Chameleon Remote/Outfit.
  code/obj/item/clothing/chameleon_js.dm
Labels: bug - minor, size/XS

#8460 Adds two product satchels to civilian cyborg modules
  code/modules/robotics/robot/module_tool_creator/modules.dm
Labels: QoL, add to wiki, size/XS

#8475 Fixes custom soup reverting to old sprite.
  code/obj/soup_pot.dm
  icons/obj/soup_pot.dmi
Labels: sprites, size/XS

#8476 Scuttlebot qol and balance
  code/mob/living/critter/scuttlebot.dm
  code/obj/item/clothing/glasses.dm
  code/obj/item/clothing/hats.dm
Labels: size/S

#8468 Adds Status Displays To Cog2
  maps/cogmap2.dmm
Labels: mapping, size/M

#8234 Allows you to stuff people into laundry machines
  code/WorkInProgress/laundry.dm
Labels: size/L

#8356 Adds a sushi chef outfit as a chef job award
  code/WorkInProgress/JobXPRewards.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/uniforms.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/jumpsuits/worn_js_misc.dmi
  icons/mob/inhand/hand_headgear.dmi
  icons/mob/inhand/jumpsuit/hand_js_misc.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/uniforms/item_js_misc.dmi
Labels: sprites, add to wiki, size/M

#8485 Laundry machine small fix on critter wash
  code/WorkInProgress/laundry.dm
Labels: size/XS

#8480 Fixed critters not being able to put things in lockers
  code/mob/living/critter.dm
Labels: bug - minor, size/XS

#8496 Fixes double firelock in Destiny central maint
  maps/destiny.dmm
Labels: mapping, QoL, size/XS

#8481 Fixes pathfinding not checking Cross for objects
  _std/pathfinding.dm
Labels: bug - minor, size/XS

#8490 Stop MatSci Mining Tools From Spamming "Nothing Happens"
  code/obj/mining.dm
Labels: size/XS

#8486 Adds round result message to scorescreen where appropriate
  code/datums/gamemodes/blob.dm
  code/datums/gamemodes/gm_parent.dm
  code/datums/gamemodes/nuclear.dm
  code/datums/gamemodes/revolution.dm
  code/procs/scorestats.dm
Labels: QoL, size/M

#8378 Turret control panel TGUI
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/turret.dm
  tgui/packages/tgui/interfaces/TurretControl.js
Labels: QoL, tgui, size/L

#8510 Fix mining scanner decals being hidden underneath the asteroid overlays.
  _std/defines/layer.dm
  code/datums/gamemodes/construction.dm
  code/datums/gamemodes/pod_wars.dm
  code/modules/mining/mining_encounters.dm
  code/obj/mining.dm
Labels: size/S

#8303 Animated objects are mobs and actually act like the object they come from
  _std/defines/combat.dm
  _std/macros/ismob.dm
  code/WorkInProgress/AnimationLibrary.dm
  code/WorkInProgress/rewardsLocker.dm
  code/datums/abilities/brassgauntlet.dm
  code/datums/abilities/wraith.dm
  code/mob/living/life/Life.dm
  code/mob/living/life/breath.dm
  code/mob/living/object.dm
  code/modules/admin/buildmodes/spook.dm
  code/modules/admin/randomverbs.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/obj/critter/misc.dm
  code/obj/hud.dm
  code/obj/item/grenades.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/storage/small_storage_parent.dm
  code/obj/item/stun_baton.dm
  code/obj/storage/closets.dm
  code/obj/storage/large_storage_parent.dm
  code/procs/mob_procs.dm
Labels: size/XL

#8513 Fix being able to put a component cabinet on a surgery tray because signals
  code/modules/medical/surgery_tools.dm
Labels: bug, size/XS

#8474 Move Rathens To Break Room On Donut 3
  maps/donut3.dmm
Labels: mapping, size/S

#8535 fix z3
  maps/z3.dmm
Labels: mapping, size/XXL

#8543 Bugfix for cryoing people ghosting getting cloned
  code/mob/dead/observer.dm
Labels: size/XS

#8489 Adds Status Displays To Atlas
  maps/atlas.dmm
Labels: mapping, QoL, size/M

#8493 adds robot command verb to select a voice pitch
  code/mob/living/silicon/robot.dm
Labels: size/S

#8502 Add AI plating kits to existing AIs
  code/mob/living/silicon/ai.dm
Labels: size/S

#8484 Ghostdrones autopry when replacing floortiles
  code/mob/living/silicon/ghostdrone.dm
Labels: QoL, size/XS

#8564 Fixes being able to pass through thindows using lockers
  code/obj/storage/large_storage_parent.dm
Labels: bug, size/XS

#8561 Removes mobile robot suit from clothing booth
  code/modules/vending/clothingbooth_items.dm
Labels: removal, size/S

#8552 Destiny sauna wood
  maps/destiny.dmm
Labels: mapping, QoL, size/M

#8557 Makes wall mounted defibs not infinitely renewable
  code/modules/medical/surgery_tools.dm
Labels: size/S

#8549 Adds Heart Damage To Arcfiend's Jolt
  code/modules/antagonists/arcfiend/arcfiend.dm
Labels: balance, size/XS

#8401 Manage Traits panel in player panel
  code/modules/admin/admin.dm
  code/modules/admin/admin_holder.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_options.dm
Labels: feature, size/L

#8551 Updates Arcfiend's Sap Ability Description
  code/modules/antagonists/arcfiend/arcfiend.dm
Labels: QoL, size/XS

#8400 Added spawnable custom wigs
  code/mob/living/carbon/human.dm
  code/obj/ToSplit/barber_shop.dm
Labels: feature, size/M

#8553 Update woodstation to use perspective wood walls
  code/modules/admin/admin.dm
Labels: QoL, size/S

#8512 Redesigns Donut3 upload slightly
  maps/donut3.dmm
Labels: mapping, balance, size/M

#8587 Fixes wizards being able to use the teleport scroll while stunned
  code/datums/abilities/wizard/teleport.dm
  code/obj/item/misc_wizard_stuff.dm
Labels: bug, size/S

#8584 Log power generator artifact
  code/obj/artifacts/artifact_objects/power_gen.dm
Labels: QoL, size/XS

#8575 Makes all guns face left to right
  icons/obj/items/gun.dmi
Labels: sprites, size/XS

#8581 Fix rare spawn death in BR
  code/datums/gamemodes/battle_royale.dm
Labels: bug, size/XS

#8555 Fixes the clone scanner not using its own helper proc
  code/obj/machinery/computer/cloning.dm
Labels: bug, size/S

#8550 Adds A Unique Objective For Arcfiends
  _std/macros/antagchecks.dm
  code/datums/gamemodes/gm_parent.dm
  code/datums/objective.dm
  code/mob/new_player.dm
Labels: feature, size/M

#8569 Fix mines being possible to detonate by ghosts and other non-living.
  code/atom.dm
  code/obj/item/mine.dm
Labels: bug, size/S

#8499 More Consistent Disposal Chute Throwing
  code/WorkInProgress/recycling/disposal_chute.dm
Labels: size/M

#8506 Updates Nurse Dress, Adds New Nurse Hat
  code/obj/item/clothing/hats.dm
  code/obj/storage/closets.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/mob/inhand/overcoat/hand_suit_gimmick.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
Labels: sprites, size/S

#8478 Make it more clear when someone has an implant in them
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/mob/living/life/health_mon.dm
  code/modules/admin/randomverbs.dm
  code/obj/decorations.dm
  code/obj/item/implant.dm
  code/procs/scanprocs.dm
  icons/effects/healthgoggles.dmi
Labels: feature, sprites, cleanliness, balance, QoL, rework, size/M

#8586 Handgun belts show if they hold a gun or not
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/storage/small_storage_parent.dm
  code/obj/submachine/weapon_vendor.dm
  icons/obj/items/belts.dmi
Labels: sprites, balance, QoL, size/M

#8599 Quiet gunsim cluwnes
  code/modules/medical/diseases/cluwneing_around.dm
Labels: QoL, size/XS

#8565 Cyborgs use selected voice pitch for speech sounds
  code/mob/living/silicon/robot.dm
Labels: feature, size/XS

#8360 Reagent machine fixes
  code/modules/chemistry/Chemistry-Machinery.dm
  code/obj/submachine/seed.dm
Labels: bug, size/M

#8591 Donut 3 Status Displays
  maps/donut3.dmm
Labels: mapping, QoL, size/M

#8608 change equipped() to use length()
  code/mob/living/critter.dm
Labels: bug, size/XS

#8601 make it so you can click afar when shortsighted
  code/datums/hud.dm
  code/datums/hud/vision_impair.dm
Labels: bug - minor, QoL, size/S

#8606 Fix matter eating limbs #7761 / Items being held by diposed arms
  code/modules/medical/genetics/bioEffects/powers.dm
  code/obj/item/mob_parts/human_parts.dm
Labels: bug, size/S

#8573 Add additional skeleton styles
  code/datums/mutantraces.dm
  code/obj/item/mob_parts/human_parts.dm
  icons/mob/skeleton/cow.dmi
  icons/mob/skeleton/human.dmi
  icons/mob/skeleton/lizard.dmi
  icons/mob/skeleton/pug.dmi
  icons/mob/skeleton/roach.dmi
Labels: feature, sprites, size/S

#8618 Revert "Add additional skeleton styles"
  code/datums/mutantraces.dm
  code/obj/item/mob_parts/human_parts.dm
  icons/mob/skeleton.dmi
  icons/mob/skeleton/cow.dmi
  icons/mob/skeleton/lizard.dmi
  icons/mob/skeleton/pug.dmi
  icons/mob/skeleton/roach.dmi
Labels: sprites

#8615 Add Spacebux Purchasable Pixel Pass
  _std/copy.dm
  code/modules/economy/persistent_bank_purchases.dm
  code/obj/item/canvas.dm
  icons/obj/items/items.dmi
Labels: sprites, size/M

#8563 Adds Heavyweight mobAI flag
  _std/defines/mob.dm
  code/datums/controllers/process/mob_ai.dm
  code/mob.dm
Labels: feature, balance, size/L

#8630 Gives golden gun's the fancy firing animations
  icons/obj/large/48x32.dmi
Labels: bug - trivial, sprites, merge conflict, size/XS

#8614 Changes the nuke ops uplink sprite.
  code/obj/item/uplinks.dm
Labels: add to wiki, size/XS

#8628 Resprites the captain's antique laser gun.
  icons/obj/items/gun.dmi
Labels: sprites, size/XS

#8625 Unhiddens some robes and staves in the magivend and increases the amount of items inside
  code/modules/vending/vending.dm
  code/obj/item/misc_wizard_stuff.dm
Labels: QoL, size/M

#8649 Gives spacesuits their 13 back
  icons/mob/clothing/overcoats/worn_suit_hazard.dmi
Labels: bug - trivial, sprites, size/XS

#8603 Fixes law diff not handling ion laws properly
  code/obj/machinery/law_racks.dm
Labels: size/S

#8560 Scaling pipe leakage
  code/modules/atmospherics/machinery/pipe.dm
  icons/obj/atmospherics/pipes/color_pipe.dmi
Labels: sprites, balance, input wanted, size/M

#8602 Improve checks for equipping items to hands
  code/mob/living/carbon/human.dm
  code/obj/item.dm
Labels: bug, size/L

#8582 Restrict monkey vendor access
  code/modules/vending/vending.dm
  icons/obj/vending.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/wrestlemap.dmm
Labels: mapping, sprites, balance, input wanted, add to wiki, size/L

#8666 Cargo pod fix
  code/modules/transport/pods/secondary_system.dm
Labels: size/XS

#8665 Fix mindslaved people not being borgable
  code/modules/admin/randomverbs.dm
Labels: size/XS

#8664 Make proximity sensor toggle USE_PROXIMITY
  code/obj/item/device/prox_sensor.dm
Labels: rework, size/XS

#8669 Slight fixes to nun robe.
  icons/mob/clothing/jumpsuits/worn_js_misc.dmi
Labels: sprites, size/XS

#7498 Add implanter artifact
  code/mob.dm
  code/mob/living/life/health_mon.dm
  code/modules/medical/surgery_procs.dm
  code/obj/artifacts/artifact_objects/implanter.dm
  code/obj/item/implant.dm
  code/procs/scanprocs.dm
  goonstation.dme
  icons/obj/surgery.dmi
Labels: feature, sprites, Certified Organic, add to wiki, size/L

#8679 Updates Arcfiend Popup
  browserassets/html/traitorTips/arcfiendTips.html
Labels: QoL, size/XS

#8675 Fix miner radio icon, maybe?
  code/obj/item/device/radios/headsets.dm
Labels: bug - minor, size/XS

#8670 Fix some plant icons and improve do_update_icon
  code/modules/hydroponics/plant_mutations.dm
  code/obj/machinery/plantpot.dm
Labels: bug, size/M

#8056 Ports the Typing Indicator from Beestation
  _std/defines/input.dm
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/mob/living/silicon/ghostdrone.dm
  code/modules/interface/skin_input_box.dm
  code/modules/robotics/bot/bot_parent.dm
  code/obj/item/device/radio.dm
  code/procs/mobprocs/chatprocs.dm
  code/procs/mobprocs/typing_indicator.dm
  goonstation.dme
  interface/skin.dmf
Labels: feature, performance, QoL, size/L

#8162 Add TGUI UI for the mechanical dropper
  browserassets/tgui/tgui.bundle.js
  code/modules/chemistry/tools/droppers.dm
  tgui/packages/tgui/interfaces/MechanicalDropper.js
Labels: QoL, tgui, size/L

#8695 Fixes icon path for floor/blob
  code/turf/floors.dm
Labels: bug, size/XS

#8693 Splits Med/Hydro Restock Purchase
  code/modules/economy/supply_packs.dm
Labels: balance, QoL, size/S

#8671 Adjust Cogmap2 security
  maps/cogmap2.dmm
Labels: mapping, QoL, size/L

#8686 Updates prefab_safehouse against perspective asteroid walls (+ minor fixes)
  assets/maps/prefabs/prefab_safehouse.dmm
  code/modules/worldgen/prefab/mining.dm
  code/obj/mining.dm
  code/z_adventurezones/safehouse.dm
  icons/obj/adventurezones/safehouse.dmi
Labels: bug - minor, mapping, sprites, size/XXL

#8540 Makes Hospital.dm use playsound
  code/z_adventurezones/hospital.dm
Labels: bug, cleanliness, size/M

#8692 Fixes portable id computer turning brown
  code/obj/machinery/computer/card.dm
Labels: bug - minor, size/M

#8702 Fix living prison artifacts
  code/obj/artifacts/artifact_objects/prison.dm
Labels: size/XS

#8704 Fixes aconite healing werewolves on pull()
  code/obj/item/plants.dm
Labels: bug, size/XS

#8701 Fixes a Cog2 wall turf that should be floor
  maps/cogmap2.dmm
Labels: bug - minor, mapping, size/S

#8699 Fixes black plating below pried dirt tiles
  icons/misc/worlds.dmi
Labels: bug - minor, sprites, size/XS

#8607 Adds Arcfiend To VR Antags
  code/modules/admin/antagifiers.dm
  maps/z2.dmm
Labels: feature, mapping, QoL, size/M

#8707 Fixes rocketshoes button not clearing
  code/WorkInProgress/AbilityItem.dm
Labels: bug - minor, size/XS

#8723 Remove syndivision on borg death
  code/mob/living/silicon.dm
Labels: size/XS

#8731 Fixes fire elemental name when in fire form
  code/datums/abilities/wizard/phaseshift.dm
Labels: bug - minor, size/XS

#8680 Changes the current tail regrowth cooldown from 5 minutes to 2 minutes.
  code/datums/abilities/lizard.dm
  code/obj/critter/misc.dm
Labels: size/XS

#8733 Turns off the pop-up on the base type obj/decal/poster
  code/obj/decal/poster.dm
Labels: bug, mapping, size/XS

#8732 Fixes transparent maint door to horizon courtroom
  maps/horizon.dmm
Labels: bug - minor, mapping, size/M

#8689 Updates Monkey Sprite for: Nurse Dress
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/mob/inhand/overcoat/hand_suit_gimmick.dmi
  icons/mob/monkey_clothes.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
Labels: sprites, size/XS

#8609 Fix matter eating own head
  code/modules/medical/genetics/bioEffects/powers.dm
Labels: bug, size/S

#8737 Removes Mr. Fisting from the monkey name list
  strings/names/monkey.txt
Labels: size/XS

#8742 Fixes auto/windows not updating neighbours on fasten/unfasten
  code/obj/window.dm
Labels: bug, size/XS

#8705 Makes the Revhead antag popup more descriptive.
  browserassets/html/traitorTips/revTips.html
Labels: QoL, size/XS

#8668 Colour adjustments to geneticist wintercoat
  icons/mob/clothing/overcoats/worn_suit.dmi
Labels: sprites, size/XS

#8746 Remove deprecated (pre-resprite) monkey uniform PSD files
  icons/PSD files/monkey-worn-sprites/monkey-worn-head-space.psd
  icons/PSD files/monkey-worn-sprites/monkey-worn-js.md
  icons/PSD files/monkey-worn-sprites/monkey-worn-js.psd
  icons/PSD files/monkey-worn-sprites/monkey-worn-suit-space.psd
Labels: documentation, sprites, size/L

#8554 Hypospray tgui
  browserassets/tgui/tgui.bundle.js
  code/modules/chemistry/tools/hyposprays.dm
  tgui/packages/tgui/interfaces/Hypospray.js
  tgui/packages/tgui/interfaces/TurretControl.js
  tgui/packages/tgui/interfaces/common/ReagentInfo.tsx
  tgui/packages/tgui/interfaces/common/mathUtils.ts
  tgui/packages/tgui/interfaces/common/stringUtils.ts
Labels: mapping, github, tgui, size/L

#8739 Adds Freezer Box Crates to Crate Manufacturer
  code/datums/manufacturing.dm
  code/obj/machinery/manufacturer.dm
Labels: size/S

#8749 Fixes a couple monkey clothing sprite names.
  icons/mob/monkey_clothes.dmi
Labels: bug - trivial, sprites, size/XS

#8743 New donator figurine sprites
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: sprites, size/M

#8735 Delay Pipe Rupture Post Repair
  code/modules/atmospherics/machinery/pipe.dm
Labels: feature, QoL, size/XS

#8748 Prevent some cases of drunk stumbling and flipping
  code/mob/living.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/modules/chemistry/Reagents-Base.dm
Labels: bug, balance, size/S

#8760 Fixes #8223, where rev flashes would use a standard flashes animation for flashing.
  code/obj/item/device/flash.dm
Labels: size/XS

#8766 Add PROP_ATOM_FLOATING for conveyor belt immunity
  _std/macros/atom_properties.dm
  code/WorkInProgress/recycling/conveyor.dm
  code/mob/dead.dm
  code/mob/living/intangible.dm
Labels: cleanliness, size/XS

#8776 Removes NOSPLASH and OPENCONTAINER from scorpions and rattlesnakes
  code/obj/critter/misc.dm
Labels: size/XS

#8773 Fixes cake reagent over-capping
  code/modules/food_and_drink/cakes.dm
Labels: bug, size/XS

#8775 Fixes critter mouths eating cakes/loaves in a bite
  code/datums/limb.dm
Labels: bug - minor, size/XS
