Repository goonstation/goonstation, pull requests merged in 2022-03, with the labels that each got.

#7663 Rancher boots
  _std/macros/mob_properties.dm
  code/WorkInProgress/ObjectProperties.dm
  code/datums/jobs.dm
  code/obj/item/clothing/shoes.dm
  code/obj/item/storage/clothing.dm
  code/obj/railing.dm
Labels: feature, QoL, size/S

#7657 Fix #7654 (PDA Packet Sender Delete not working)
  code/obj/item/device/pda2/diagnostics.dm
Labels: bug, size/XS

#7531 Change reward claim logic for antique Lawbringer
  code/WorkInProgress/JobXPRewards.dm
  code/obj/item/gun/energy.dm
Labels: bug - trivial, size/S

#7659 Remove extra/stacked sliding door from donut3 security booth
  maps/donut3.dmm
Labels: bug, mapping, size/XS

#7562 Rework wizard spell logging
  code/datums/abilities/wizard.dm
  code/datums/abilities/wizard/animal.dm
  code/datums/abilities/wizard/cluwne.dm
  code/datums/abilities/wizard/golem.dm
  code/datums/abilities/wizard/pandemonium.dm
  code/datums/abilities/wizard/prismatic_spray.dm
  code/datums/abilities/wizard/stickstosnakes.dm
  code/datums/abilities/wizard/teleport.dm
  code/datums/abilities/wizard/warp.dm
  code/obj/critter/misc.dm
Labels: QoL, size/M

#7629 Fix armory auth recursion and screen glow
  code/obj/machinery/computer.dm
  code/obj/machinery/computer/security/riot.dm
  icons/obj/computer.dmi
  icons/obj/computer_screens.dmi
Labels: bug, sprites, QoL, size/M

#7672 Fixes conspirator names showing as Unknown
  code/datums/gamemodes/conspiracy.dm
Labels: bug, size/XS

#7669 Skip item selection when eating off a plate with a single item.
  code/obj/item/kitchen.dm
Labels: QoL, size/S

#7666 allow changeling victims to vocalize during horror form
  code/procs/mobprocs/chatprocs.dm
Labels: feature, size/S

#7685 Adds a 30 second delay to merchant shuttle docking
  code/modules/events/minor/trader.dm
Labels: cleanliness, QoL, size/M

#7684 Star Light
  code/modules/fluids/fluid_turf.dm
  code/turf/turf.dm
Labels: size/M

#7689 Donut3 Ranch Changes
  maps/donut3.dmm
Labels: feature, mapping, size/XL

#7588 Nine new drink recipes
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: size/L

#7688 Chip Butties and Innitium
  code/datums/cookingrecipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/food_and_drink/sandwiches.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_bread.dmi
Labels: sprites, size/S

#7631 Bullet cleanliness/sprites pass 2
  code/modules/projectiles/bullet.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/implant.dm
  icons/obj/items/ammo.dmi
  icons/obj/scrap.dmi
Labels: sprites, size/M

#7527 Adds glue to the game
  code/mob/living/carbon.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/turf/turf.dm
  icons/effects/water.dmi
Labels: feature, sprites, add to wiki, size/M

#7702 adds spectro bitflag for fueltanks
  code/modules/chemistry/tools/fuel_tanks.dm
Labels: bug, size/XS

#7692 Antique Lawbringer Name Fix
  code/obj/item/gun/energy.dm
Labels: bug, size/XS

#7687 Small Field Generator Animation When Hit By Emitter Shot
  code/obj/machinery/singularity.dm
  icons/obj/singularity.dmi
Labels: sprites, size/XS

#7560 Replaces a room on kondaru.
  maps/kondaru.dmm
Labels: mapping, size/M

#7579 Changes Insults in Heckle Program
  code/modules/robotics/bot/guardbot.dm
Labels: feature, input wanted, size/XS

#7699 fixes clarion medbay shuttle door density
  assets/maps/shuttles/north/northbase.dmm
Labels: bug, mapping, size/XS

#7660 Changes reinforced windows into wingrilles on Cogmap2
  maps/cogmap2.dmm
Labels: mapping, size/XXL

#7713 remove unnecessary message from emoter artifacts
  code/obj/artifacts/artifact_machines/emoter.dm
Labels: balance, QoL, removal, size/XS

#7715 visual accessibility tweak for hints on tooltips
  browserassets/css/tooltip.css
Labels: cleanliness, size/XS

#7723 Fix TGUI InputList not consuming input when it should
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/ListInput.js
Labels: bug, tgui, size/XS

#7728 Wrap attack_self with AttackSelf
  code/WorkInProgress/AbilityItem.dm
  code/WorkInProgress/GerhazoStuff.dm
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/npc.dm
  code/mob/living/critter/ai/human.dm
  code/mob/living/critter/ai/ocean.dm
  code/mob/living/object.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/ghostdrone.dm
  code/mob/living/silicon/robot.dm
  code/mob/melee_attack_procs.dm
  code/modules/atmospherics/portable/canister.dm
  code/modules/chemistry/tools/iv_drips.dm
  code/obj/item.dm
  code/procs/scanprocs.dm
Labels: cleanliness, size/M

#7734 Fixes syndicate wiretaps breaking existing frequencies
  code/obj/item/device/radio.dm
Labels: bug - major, size/XS

#7725 Fixes #1041 - Stock borrow deals now refund deposit if you give shares back on time
  code/modules/economy/stocks/stock_tickers.dm
Labels: bug, size/XS

#7738 Ozymandias button repath
  maps/ozymandias.dmm
Labels: bug, mapping, size/S

#7704 Edits "band" hairstyle
  icons/mob/human_hair.dmi
Labels: sprites, size/XS

#7735 Adds 3 more forensic analysers to donut3
  maps/donut3.dmm
Labels: mapping, size/XS

#7748 fix emoter artifacts giving borgs the "invalid emote" message
  code/mob/living/carbon/cube.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/ghostdrone.dm
  code/mob/living/silicon/hivebot.dm
  code/mob/living/silicon/robot.dm
  code/obj/artifacts/artifact_machines/emoter.dm
Labels: bug - minor, size/S

#7697 Improve Tetris arcade controls
  browserassets/html/tetris.html
  code/obj/machinery/computer/tetris/tetris.dm
Labels: size/XL

#7742 disallow text selection highlighting in tooltips
  browserassets/css/tooltip.css
Labels: size/XS

#7571 Fixes rev & head icons appearing under secHud icons
  code/mob/living/carbon/human.dm
  code/procs/mob_procs.dm
Labels: bug, size/S

#7720 Fixes #5110 - Human meat needed refactoring a little
  code/modules/food_and_drink/ingredients.dm
  code/obj/item/hydroponics.dm
  code/obj/item/misc_weapons.dm
  code/obj/machinery/gibber.dm
  code/z_adventurezones/evilderelict.dm
Labels: bug, size/M

#7753 Fixes AI eyes buckling
  code/obj/stool.dm
Labels: bug, cleanliness, size/M

#7754 Fixes HoS access doors on Wrestlemap
  maps/wrestlemap.dmm
Labels: bug, mapping, size/XS

#7746 Animates Silicon Omnitool Swapping
  code/obj/item/tool/omnitool.dm
  icons/obj/items/tools/omnitool.dmi
Labels: sprites, size/S

#7718 Fixes #7665 - Cyborgs can now use missile arrival. So can everyone else.
  code/procs/jobprocs.dm
Labels: bug, size/S

#7708 Processing Mocha and Latte Coffee gives chocolate and cream
  code/obj/submachine/cooking.dm
Labels: feature, add to wiki, size/S

#7736 Fixes #7667 - Object form of science ghost kills people better now
  code/obj/critter/misc.dm
Labels: bug, size/M

#7752 Mentor mice disappear ability
  code/mob/living/critter/small_animal.dm
  icons/mob/critter_ui.dmi
Labels: feature, sprites, size/S

#7248 Antagonist uplinks no longer depend on gamemode
  _std/__std.dme
  _std/defines/uplink.dm
  code/datums/gamemodes/battle_royale.dm
  code/datums/gamemodes/spy_theft.dm
  code/datums/syndicate_buylist.dm
  code/obj/item/uplinks.dm
  code/obj/item/zoldorfmisc.dm
  code/obj/storage/crates.dm
  code/obj/submachine/weapon_vendor.dm
  code/procs/antagonist_procs.dm
Labels: cleanliness, QoL, merge conflict, size/L

#7780 Fix implant overlay not disappearing upon implant removal
  code/obj/item/implant.dm
Labels: bug - minor, size/XS

#7782 Fix chickens not de-agro'ing
  code/modules/chemistry/tools/food_and_drink.dm
Labels: bug, secret, size/XS

#7770 Persist Noir gene effect after showering
  code/modules/forensics/atom_forensic.dm
Labels: bug, size/XS

#7739 Lets paper be stapled into booklets
  code/obj/item/paper.dm
Labels: bug, size/S

#7719 make artifact forms a bit neater
  _std/__std.dme
  _std/defines/artifacts.dm
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/datums/controllers/artifact_controls.dm
  code/obj/artifacts/artifact_items/activator_key.dm
  code/obj/artifacts/artifact_items/attack_wand.dm
  code/obj/artifacts/artifact_items/energy_gun.dm
  code/obj/artifacts/artifact_items/gun_cell.dm
  code/obj/artifacts/artifact_items/instrument.dm
  code/obj/artifacts/artifact_items/melee_weapon.dm
  code/obj/artifacts/artifact_items/mining_tool.dm
  code/obj/artifacts/artifact_items/pitcher.dm
  code/obj/artifacts/artifact_items/power_cell.dm
  code/obj/artifacts/artifact_items/teleport_wand.dm
  code/obj/artifacts/artifact_items/wall_wand.dm
  code/obj/artifacts/artifact_items/watering_can.dm
  code/obj/artifacts/artifact_machines/emoter.dm
  code/obj/artifacts/artifact_machines/gas_radiator.dm
  code/obj/artifacts/artifact_machines/grav_well.dm
  code/obj/artifacts/artifact_machines/heal_field.dm
  code/obj/artifacts/artifact_machines/noise_maker.dm
  code/obj/artifacts/artifact_machines/plant_helper.dm
  code/obj/artifacts/artifact_machines/turret.dm
  code/obj/artifacts/artifact_machines/warper.dm
  code/obj/artifacts/artifact_objects/augmentor.dm
  code/obj/artifacts/artifact_objects/bombs.dm
  code/obj/artifacts/artifact_objects/borg_maker.dm
  code/obj/artifacts/artifact_objects/cloner.dm
  code/obj/artifacts/artifact_objects/container.dm
  code/obj/artifacts/artifact_objects/darkness_field.dm
  code/obj/artifacts/artifact_objects/forcefield.dm
  code/obj/artifacts/artifact_objects/healer.dm
  code/obj/artifacts/artifact_objects/heatwave.dm
  code/obj/artifacts/artifact_objects/injector.dm
  code/obj/artifacts/artifact_objects/lamp.dm
  code/obj/artifacts/artifact_objects/power_gen.dm
  code/obj/artifacts/artifact_objects/power_giver.dm
  code/obj/artifacts/artifact_objects/prison.dm
  code/obj/artifacts/artifact_objects/recaller.dm
  code/obj/artifacts/artifact_objects/wish_granter.dm
  code/obj/artifacts/artifactdatums.dm
  code/procs/lists.dm
  tgui/packages/tgui/interfaces/ArtifactPaper.js
  tgui/packages/tgui/styles/themes/paper.scss
Labels: QoL, size/M

#7721 Make farting on a bible via power boosted superfart send you to hell
  code/modules/medical/genetics/bioEffects/powers.dm
Labels: bug, size/S

#7775 Battle Royale Loot scaling
  code/datums/gamemodes/battle_royale.dm
Labels: QoL, size/M

#7726 Fixes #4975 by adding a check for anchored components to the small storage parent
  code/obj/item/storage/small_storage_parent.dm
Labels: bug, size/XS

#7693 Allows hivemind members to point
  code/mob/dead/hivemind_observer.dm
  code/modules/antagonists/changeling/abilities/changeling.dm
  code/procs/mobprocs/chatprocs.dm
Labels: feature, QoL, size/M

#7701 Modified process_accents to prevent the accidental saying of slurs, and log the process that would generate them
  code/procs/gamehelpers.dm
Labels: size/S

#7776 Adds 2 new styles: Shaved Head and Five O'Clock Shadow
  code/datums/customization_styles.dm
  icons/mob/human_hair.dmi
Labels: sprites, size/XS

#7714 Trumpet redesign
  code/modules/sound/soundCache.dm
  code/obj/item/instruments.dm
  sound/musical_instruments/trumpet/notes/a-3.ogg
  sound/musical_instruments/trumpet/notes/a-4.ogg
  sound/musical_instruments/trumpet/notes/a-5.ogg
  sound/musical_instruments/trumpet/notes/a3.ogg
  sound/musical_instruments/trumpet/notes/a4.ogg
  sound/musical_instruments/trumpet/notes/a5.ogg
  sound/musical_instruments/trumpet/notes/b3.ogg
  sound/musical_instruments/trumpet/notes/b4.ogg
  sound/musical_instruments/trumpet/notes/b5.ogg
  sound/musical_instruments/trumpet/notes/c-4.ogg
  sound/musical_instruments/trumpet/notes/c-5.ogg
  sound/musical_instruments/trumpet/notes/c4.ogg
  sound/musical_instruments/trumpet/notes/c5.ogg
  sound/musical_instruments/trumpet/notes/c6.ogg
  sound/musical_instruments/trumpet/notes/d-4.ogg
  sound/musical_instruments/trumpet/notes/d-5.ogg
  sound/musical_instruments/trumpet/notes/d4.ogg
  sound/musical_instruments/trumpet/notes/d5.ogg
  sound/musical_instruments/trumpet/notes/e3.ogg
  sound/musical_instruments/trumpet/notes/e4.ogg
  sound/musical_instruments/trumpet/notes/e5.ogg
  sound/musical_instruments/trumpet/notes/f-3.ogg
  sound/musical_instruments/trumpet/notes/f-4.ogg
  sound/musical_instruments/trumpet/notes/f-5.ogg
  sound/musical_instruments/trumpet/notes/f3.ogg
  sound/musical_instruments/trumpet/notes/f4.ogg
  sound/musical_instruments/trumpet/notes/f5.ogg
  sound/musical_instruments/trumpet/notes/g-3.ogg
  sound/musical_instruments/trumpet/notes/g-4.ogg
  sound/musical_instruments/trumpet/notes/g-5.ogg
  sound/musical_instruments/trumpet/notes/g3.ogg
  sound/musical_instruments/trumpet/notes/g4.ogg
  sound/musical_instruments/trumpet/notes/g5.ogg
  sound/musical_instruments/trumpet/trumpet_1.ogg
  sound/musical_instruments/trumpet/trumpet_10.ogg
  sound/musical_instruments/trumpet/trumpet_11.ogg
  sound/musical_instruments/trumpet/trumpet_12.ogg
  sound/musical_instruments/trumpet/trumpet_2.ogg
  sound/musical_instruments/trumpet/trumpet_3.ogg
  sound/musical_instruments/trumpet/trumpet_4.ogg
  sound/musical_instruments/trumpet/trumpet_5.ogg
  sound/musical_instruments/trumpet/trumpet_6.ogg
  sound/musical_instruments/trumpet/trumpet_7.ogg
  sound/musical_instruments/trumpet/trumpet_8.ogg
  sound/musical_instruments/trumpet/trumpet_9.ogg
Labels: sound, size/M

#7680 Makes robotic, thrall, kudzu, and blob speak more noticeable
  browserassets/css/browserOutput.css
  code/mob/living/silicon.dm
  code/modules/admin/admin_verbs.dm
  code/modules/events/vamp_teg.dm
  code/procs/mobprocs/chatprocs.dm
Labels: QoL, size/M

#7765 Add additional shrapnel type sprites and related surgery change
  code/modules/medical/surgery_procs.dm
  code/modules/projectiles/bullet.dm
  code/obj/item/grenades.dm
  code/obj/item/implant.dm
  icons/obj/projectiles.dmi
  icons/obj/scrap.dmi
Labels: sprites, size/M

#7700 Change wizard teleport and add more TGUI
  code/datums/abilities/santa.dm
  code/datums/abilities/wizard/clairvoyance.dm
  code/datums/abilities/wizard/teleport.dm
  code/obj/item/misc_wizard_stuff.dm
Labels: bug, balance, QoL, size/M

#7637 Makes defibrillators visible on cryo pods when applied.
  code/atom/UpdateOverlays.dm
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
  code/modules/medical/surgery_tools.dm
  icons/obj/Cryogenic2.dmi
Labels: sprites, size/M

#7656 Adds new family friendly card game: MONO!
  code/modules/vending/vending.dm
  code/obj/item/mono_card_game.dm
  goonstation.dme
  icons/obj/items/playing_card.dmi
  strings/MONOrules.txt
Labels: sprites, size/L

#7774 Shooting range ammo bag
  code/obj/item/nuclear_operative/ammo_bag.dm
  maps/z2.dmm
Labels: feature, mapping, QoL, size/M

#7593 Molly kondaru
  code/obj/machinery/navbeacon.dm
  maps/kondaru.dmm
Labels: mapping, QoL, size/L

#7507 Ion storm changes
  code/modules/events/ion_storm.dm
  code/modules/vending/vending.dm
  code/obj/machinery/manufacturer.dm
Labels: cleanliness, rework, size/L

#7499 Changes scorpions to be tamable and slightly weaker
  code/obj/critter/critter_parent.dm
  code/obj/critter/drone.dm
  code/obj/critter/misc.dm
Labels: feature, size/M

#7462 Added weights to how the intrigue game mode gets chosen
  code/datums/gamemodes/mixed.dm
  code/datums/gamemodes/mixed_rp.dm
  code/datums/gameticker.dm
  code/mob/new_player.dm
Labels: balance, input wanted, size/M

#7791 Fixes MONO rules pamphlet + MONO box name change
  code/modules/vending/vending.dm
  code/obj/item/book.dm
  code/obj/item/mono_card_game.dm
  strings/books/MONOrules.txt
Labels: size/S

#7801 Cogmap 1 Random Rooms
  maps/cogmap.dmm
Labels: mapping, size/XL

#7803 Kondaru Random Rooms
  maps/kondaru.dmm
Labels: feature, mapping, size/XXL

#7795 Mushroom fix ignition switches/compilation errors
  maps/unused/mushroom_new_walls.dmm
Labels: mapping, size/XS

#7806 Fix 4 small random room errors
  assets/maps/random_rooms/3x3/pokerroom.dmm
  assets/maps/random_rooms/3x5/pokerroom.dmm
  assets/maps/random_rooms/5x3/pokerroom.dmm
  assets/maps/random_rooms/5x3/trashden.dmm
Labels: mapping, size/XS

#7548 Conspirators can now dab
  _std/macros/antagchecks.dm
  code/mob/living/carbon/human/procs/emote.dm
Labels: stale, size/XS

#7686 Add new 'Map' and 'Core' buttons to the AI HUD
  code/datums/hud/ai.dm
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/silicon/ai.dm
  code/modules/station_map/station_map.dm
  icons/mob/hud_ai.dmi
Labels: help wanted, sprites, QoL, size/M

#7799 Fireflies & Dragonflies
  code/datums/mapgen/JungleGenerator.dm
  code/datums/mapgen/biomes/_biome.dm
  code/mob/living/critter/firefly.dm
  goonstation.dme
  icons/mob/insect.dmi
  maps/z2.dmm
Labels: feature, mapping, sprites, size/XXL

#7794 Fixes MONO card game icons
  code/obj/item/mono_card_game.dm
  strings/MONOrules.txt
Labels: sprites, size/M

#7671 Fixes thermite "filling" turf
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/Reagents-ExplosiveFire.dm
Labels: bug, size/XS

#7811 Flip-emoting while on a skateboard now does a flip.
  code/modules/transport/skateboard.dm
Labels: size/XS

#7810 Adds 6 random rooms to donut3
  maps/donut3.dmm
Labels: mapping, size/L

#7784 Ampoule Colours
  code/modules/chemistry/tools/ampoules.dm
  icons/obj/chemical.dmi
Labels: feature, sprites, size/M

#7729 Fixes #7152 - Gnesis now eats up your blood and then kills you
  code/modules/chemistry/Reagents-Misc.dm
Labels: size/S

#7816 Up arrow now works for Tetris controls
  browserassets/html/tetris.html
Labels: size/XS

#7814 Aligns volume pumps and heat pipes with normal pipes
  icons/obj/atmospherics/pipes/heat_pipe.dmi
  icons/obj/atmospherics/pipes/junction_pipe.dmi
  icons/obj/atmospherics/volume_pump.dmi
Labels: sprites, size/XS

#7792 fix buddies not correctly finding closest beacon
  code/modules/robotics/bot/guardbot.dm
Labels: bug - major, size/XS

#7809 made appraisal scanners work for artifacts (somewhat)
  code/datums/controllers/artifact_controls.dm
  code/modules/economy/shippingmarket.dm
  code/obj/item/device/scanners.dm
Labels: feature, size/M

#7820 fix set-regex on regex find components
  code/modules/mechanics/MechanicMadness.dm
Labels: size/XS

#7825 Fix camera placement on Donut3
  maps/donut3.dmm
Labels: bug - trivial, mapping, size/S

#7377 Crashed HoP barge prefab
  assets/maps/prefabs/prefab_customs_shuttle.dmm
  code/area.dm
  code/datums/components/foldable.dm
  code/modules/worldgen/prefab/mining.dm
  code/obj/item/paper.dm
  code/obj/item/pinpointer.dm
  code/obj/machinery/computer/card.dm
Labels: mapping, size/XXL

#7785 Reduce damage the nuclear bomb takes from projectiles
  code/obj/machinery/nuclearbomb.dm
Labels: balance, size/XS

#7834 Removes the stray pixels from the bow's in hand sprites
  icons/mob/inhand/hand_weapons.dmi
Labels: bug - trivial, sprites, size/XS

#7836 Fix the paper scanners in the Cog2 net cafe and research department
  maps/cogmap2.dmm
Labels: bug, mapping, size/XS

#7852 Clarifying Regex Find
  code/modules/mechanics/MechanicMadness.dm
Labels: size/S

#7848 fix two tube lights on donut3 pool bean
  maps/donut3.dmm
Labels: bug - minor, mapping, size/XS

#7856 ai eyes no longer can empty cabinets
  code/WorkInProgress/cabinet.dm
Labels: size/XS

#7843 Fix nukie weapon crate layering
  code/obj/submachine/weapon_vendor.dm
Labels: QoL, size/XS

#7861 Redesign cog1 ranch
  code/area.dm
  maps/cogmap.dmm
Labels: feature, mapping, add to wiki, size/XXL

#7867 Remove stray pixel from staff of cthulu
  icons/mob/inhand/hand_weapons.dmi
Labels: bug, sprites, size/XS

#7874 Law rack fixes
  code/obj/item/ai_modules.dm
  code/obj/machinery/law_racks.dm
Labels: bug, size/XS

#7885 Small Animation For Igniters Heating Things
  code/obj/item/device/igniter.dm
  icons/obj/items/device.dmi
Labels: sprites, size/XS

#7882 Resprites Item Sprites For Fireworks and Sparklers
  icons/obj/items/items.dmi
  icons/obj/items/sparklers.dmi
Labels: sprites, size/XS

#7893 Stop chair flipping when you fall off the chair
  code/obj/stool.dm
Labels: size/XS

#7888 Slows Down Meteor Shield Flashing Sprite
  icons/obj/meteor_shield.dmi
Labels: sprites, size/XS

#7863 Pod wars turrets only attack enemies
  code/datums/gamemodes/pod_wars/pw_misc_objects.dm
Labels: bug, size/XS

#7835 Quieter dead wizards
  code/datums/abilities/wizard/animal.dm
  code/datums/abilities/wizard/cluwne.dm
  code/datums/abilities/wizard/summon_staff.dm
  code/datums/abilities/wizard/warp.dm
Labels: QoL, size/M

#7827 Slipping Hazard trait
  code/datums/traits.dm
  code/mob/living/carbon.dm
  code/procs/mob_procs.dm
Labels: feature, add to wiki, size/S

#7898 Resprites Nav Beacons
  icons/obj/objects.dmi
Labels: sprites, size/XS

#7696 Brullbar
  _std/defines/item.dm
  _std/vox.dm
  assets/maps/prefabs/prefab_dans_asteroid.dmm
  assets/maps/prefabs/prefab_water_zoo.dmm
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/WorkInProgress/customcritter.dm
  code/WorkInProgress/griffening/griffening_cards.dm
  code/datums/abilities/critter/frenzy.dm
  code/datums/abilities/critter/invisibility.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/datums/limb.dm
  code/datums/mapgen/IceMoonGenerator.dm
  code/mob/living/critter/brullbar.dm
  code/mob/living/critter/cryptid_plushie.dm
  code/mob/living/critter/small_animal.dm
  code/modules/admin/buildmodes/adventure/adventure_critter.dm
  code/modules/economy/stocks/stock_industries.dm
  code/modules/events/gimmick/bigfart.dm
  code/modules/items/gimmick/plushies.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
  code/modules/materials/Mat_RawMaterials.dm
  code/modules/sound/soundCache.dm
  code/obj/critter/Brullbar.dm
  code/obj/critter/drone.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/item/sponge_capsule.dm
  code/obj/machinery/porters.dm
  code/obj/storage/loot_crates.dm
  code/z_adventurezones/precursor.dm
  code/z_adventurezones/space_casino.dm
  goonstation.dme
  icons/misc/critter.dmi
  icons/mob/human.dmi
  maps/setpieces/SHARED_biodomeExpanded.dmm
  maps/unused/halloween14.dmm
  maps/z2.dmm
  sound/voice/animal/brullbar_cry.ogg
  sound/voice/animal/brullbar_laugh.ogg
  sound/voice/animal/brullbar_maul.ogg
  sound/voice/animal/brullbar_roar.ogg
  sound/voice/animal/brullbar_scream.ogg
  sound/vox/brullbar.ogg
  strings/books/matsci_guide_new.txt
  strings/books/monster_manual_revised.txt
  strings/books/zoo_diary.txt
  strings/changelog_old.txt
  strings/johnbill.txt
Labels: mapping, size/XXL

#7881 Changes borg linker behaviour to be more intuitive
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
Labels: balance, size/M

#7901 Fix slipping hazard doing slips on everything
  code/mob/living/carbon.dm
Labels: bug, size/XS

#7906 Adds a sprite for the cyborg_linker.
  code/obj/item/device/borg_linker.dm
  icons/obj/items/device.dmi
Labels: sprites, size/XS

#7908 Resprites Laptops
  icons/obj/computer.dmi
Labels: sprites, size/XS

#7909 Remove confusing duplicate armory area
  code/area.dm
  code/obj/machinery/computer/security/riot.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/horizon.dmm
  maps/horizon_xmas.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/unused/atlas_old.dmm
  maps/unused/chiron.dmm
  maps/unused/devship.dmm
  maps/unused/donut2.dmm
  maps/unused/donut2_new_walls.dmm
  maps/unused/halloween12.dmm
  maps/unused/halloween14.dmm
  maps/unused/horizon_2019.dmm
  maps/unused/linemap.dmm
  maps/unused/mushroom.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/mushroom_new_xmas.dmm
  maps/unused/old_trunkmap.dmm
  maps/unused/samedi.dmm
  maps/unused/trunkmap.dmm
  maps/warwip/atlas_horizon_xmas_2019.dmm
  maps/wrestlemap.dmm
Labels: mapping, cleanliness, size/XXL

#7910 Make containment fields explosion immune
  code/obj/machinery/singularity.dm
Labels: QoL, size/XS

#7904 Law Rack Polish
  code/datums/ai_laws.dm
  code/mob/living/life/Life.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
  code/mob/transform_procs.dm
  code/modules/admin/admin.dm
  code/modules/projectiles/laser.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/obj/item/ai_modules.dm
  code/obj/item/mob_parts/robot_parts.dm
  code/obj/machinery/law_racks.dm
  code/obj/machinery/turret.dm
  code/world.dm
  icons/obj/large/32x48.dmi
  maps/z2.dmm
Labels: bug, feature, mapping, sprites, size/XL

#7677 Alaster Blaster Change
  code/obj/item/gun/energy.dm
  maps/z3_water.dmm
Labels: mapping, balance, size/S

#7777 Assault pod warning only low/medium player counts
  code/obj/item/nuclear_operative/rapid_deployment_remote.dm
Labels: balance, input wanted, size/S

#7890 Standardizes Admin Data Input
  _std/__std.dme
  _std/defines/data_input.dm
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/WorkInProgress/previouslyKeelinsStuff.dm
  code/datums/components/_wearertargeting.dm
  code/datums/components/battleroyale_death.dm
  code/datums/components/cell_holder.dm
  code/datums/components/controlled_by_mob.dm
  code/datums/components/death_confetti.dm
  code/datums/components/drop_loot_on_death.dm
  code/datums/components/explode_on_touch.dm
  code/datums/components/foldable.dm
  code/datums/components/food_stuff.dm
  code/datums/components/fragile_item.dm
  code/datums/components/fullauto.dm
  code/datums/components/glue_ready.dm
  code/datums/components/glued.dm
  code/datums/components/light.dm
  code/datums/components/power_cell.dm
  code/datums/components/self_destruct.dm
  code/datums/components/send_to_target_mob.dm
  code/datums/components/simplelight.dm
  code/datums/components/smartgun.dm
  code/datums/components/sniper_wallpierce.dm
  code/datums/components/transfer_on_attack.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/buildmodes/proccall.dm
  code/modules/admin/buildmodes/varedit.dm
  code/modules/admin/data_input.dm
  code/modules/admin/debug.dm
  code/modules/admin/drunkmode.dm
  code/modules/admin/viewvariables/datumvars.dm
  code/modules/admin/viewvariables/massmodifyvariables.dm
  code/modules/admin/viewvariables/modifyvariables.dm
  goonstation.dme
  strings/admin_changelog.txt
Labels: bug, WIP, cleanliness, QoL, size/XXL

#7918 Stop telecrystal floors warping ghosts
  code/modules/materials/Mat_MaterialProcs.dm
Labels: bug, size/XS

#7953 Cyborg brain checks cleanup
  code/obj/item/mob_parts/robot_parts.dm
Labels: cleanliness, size/S

#7944 Swamp Plants
  code/WorkInProgress/AzrunStuff.dm
  code/datums/components/arable.dm
  code/datums/mapgen/biomes/_biome.dm
  code/obj/machinery/plantpot.dm
  icons/obj/hydroponics/items_hydroponics.dmi
  icons/obj/hydroponics/plants_alien.dmi
Labels: sprites, size/L

#7778 Ghostdrone love part 1: Faces and emotes
  code/datums/hud/ghostdrone.dm
  code/mob/living/silicon/ghostdrone.dm
  code/obj/item/rcd.dm
  icons/mob/ghost_drone.dmi
  icons/obj/items/rcd.dmi
Labels: sprites, QoL, add to wiki, size/S

#7530 Add missing security hangar remote door controls
  maps/clarion.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/oshan.dmm
Labels: mapping, QoL, stale, size/L

#7833 Syndie pipe bomb buff
  code/obj/critter/drone.dm
Labels: size/S

#7978 Transmute artifact bombs no longer affect intangible things
  code/obj/artifacts/artifact_objects/bombs.dm
Labels: size/XS

#7975 You have to be standing next to pods to remove people from them
  code/modules/transport/pods/vehicle.dm
Labels: size/XS

#7962 Resprites Cargo Loaders
  icons/obj/stationobjs.dmi
Labels: sprites, size/XS

#7954 Some Visual Adjustments/Improvements to The "Vaporized" HUD Option
  icons/mob/hud_human_vapor.dmi
Labels: sprites, size/XS

#7971 foam dart consistency
  code/obj/item/gun/ammo.dm
Labels: cleanliness, size/XS

#7970 Fix borg mesons looking crud
  code/mob/living/life/sight.dm
Labels: bug - minor, size/XS

#7973 Bank account now counts towards richest escapee
  code/procs/scorestats.dm
Labels: bug, size/XS

#7961 Adds blueprint for AI Law Rack to main maps
  code/datums/manufacturing.dm
  code/obj/machinery/manufacturer.dm
  code/obj/storage/secure_closets.dm
Labels: mapping, size/S

#7951 Requisition token now gives 2 utility credits. Adds bear traps to utility catagory.
  code/obj/item/storage/ammo_pouches.dm
  code/obj/submachine/weapon_vendor.dm
Labels: size/S

#7907 Kondaru armory exterior area
  maps/kondaru.dmm
Labels: mapping, balance, QoL, size/L

#7932 Change chocolate pie recipe
  code/datums/cookingrecipes.dm
Labels: bug, add to wiki, size/S

#7981 Fixed deleted implants not calling on_remove
  code/obj/item/implant.dm
Labels: bug, size/XS

#7931 Make admin logging better for law racks
  browserassets/tgui/tgui.bundle.js
  code/datums/ai_laws.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
  code/modules/admin/randomverbs.dm
  code/obj/item/ai_modules.dm
  code/obj/machinery/law_racks.dm
  code/procs/logging.dm
  tgui/packages/tgui/interfaces/AIRack.js
Labels: tgui, size/L

#7976 Add more TGUI to admin commands
  code/datums/browserOutput.dm
  code/modules/admin/admin.dm
  code/modules/admin/player_options.dm
Labels: QoL, size/XL

#7955 prying tools deploy/undeploy dowsing rods
  code/datums/controllers/sea_hotspot_controls.dm
Labels: QoL, size/S

#7935 Item health pass
  code/WorkInProgress/Railgun.dm
  code/modules/power/cell.dm
  code/obj/ToSplit/barber_shop.dm
  code/obj/item.dm
  code/obj/item/building_materials.dm
  code/obj/item/clothing/masks.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/device/energy_shield_gen.dm
  code/obj/item/gun/gun_parent.dm
  code/obj/item/metal.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/misc_wizard_stuff.dm
  code/obj/item/mops_cleaners.dm
  code/obj/item/organs/organ_parent.dm
  code/obj/item/organs/skull.dm
  code/obj/item/paper.dm
  code/obj/item/plants.dm
  code/obj/item/rcd.dm
  code/obj/item/satchel.dm
  code/obj/item/storage/ammo_pouches.dm
  code/obj/item/stun_baton.dm
  code/obj/item/table_rack_parts.dm
  code/obj/item/tank.dm
  code/obj/item/teleportation.dm
  code/obj/item/tiles_wires.dm
  code/obj/item/tool.dm
  code/obj/item/tool/crowbar.dm
  code/obj/item/tool/screwdriver.dm
  code/obj/item/tool/weldingtool.dm
  code/obj/item/tool/wirecutters.dm
  code/obj/item/tool/wrench.dm
  code/obj/item/uplinks.dm
  code/obj/machinery/computer/buildandrepair.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/interdictor.dm
  code/obj/mining.dm
Labels: cleanliness, size/M

#7443 Fixes and normalizes some material properties
  code/modules/materials/Mat_Materials.dm
Labels: balance, stale, size/M

#7988 Fix mining outpost podbay depressurization
  maps/z3.dmm
Labels: mapping, size/XS

#7993 Replaces sims motive gib with death
  code/datums/sims.dm
Labels: balance, size/XS

#7992 Adds multitool prompt to glitched module description
  code/obj/item/ai_modules.dm
Labels: size/XS

#7991 Log spy delivery/rewards
  code/datums/gamemodes/spy_theft.dm
  code/obj/item/uplinks.dm
Labels: QoL, size/XS

#7990 Log surplus crate contents
  code/obj/storage/crates.dm
Labels: QoL, size/XS

#7960 Mutantrace arm fixes
  code/datums/mutantraces.dm
  code/mob/living/carbon/human.dm
  icons/obj/items/human_parts.dmi
Labels: bug - major, sprites, size/M

#8003 AI State All Laws Fix
  code/obj/machinery/law_racks.dm
Labels: size/XS

#8018 Slows Down *Duplicate* Meteor Shield Flashing Sprite
  icons/effects/effects.dmi
Labels: sprites

#7956 Adds Cyborg shovel to Engineering Cyborg Module
  code/modules/robotics/robot/module_tool_creator/modules.dm
Labels: QoL, size/XS

#8023 Adjust queueing method of spaced turfs to facilitate atmos calculations
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/modules/atmospherics/FEA_system.dm
  code/turf/turf.dm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/donut3_xmas.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/horizon_xmas.dmm
  maps/icarus.dmm
  maps/kondaru.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/setpieces/AIBM_spacejunk.dmm
  maps/unused/chiron.dmm
  maps/unused/concept.dmm
  maps/unused/donut2.dmm
  maps/unused/donut2_new_walls.dmm
  maps/unused/donut2_old.dmm
  maps/unused/hainemap.dmm
  maps/unused/halloween12.dmm
  maps/unused/halloween14.dmm
  maps/unused/horizon_2019.dmm
  maps/unused/linemap.dmm
  maps/unused/mushroom.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/mushroom_new_xmas.dmm
  maps/unused/old_trunkmap.dmm
  maps/unused/oldmap.dmm
  maps/unused/samedi.dmm
  maps/unused/trunkmap.dmm
  maps/unused/xmas.dmm
  maps/warwip/atlas_horizon_xmas_2019.dmm
  maps/wrestlemap.dmm
  maps/z3.dmm
  maps/z5.dmm
Labels: mapping, size/L
