Repository goonstation/goonstation, pull requests merged in 2022-06, with the labels that each got.

#8862 Adds special goggles to oshan.
  maps/oshan.dmm
Labels: mapping, QoL, size/XS

#8864 Fixes apc/status display overlap
  maps/destiny.dmm
Labels: bug, mapping, size/S

#8816 TGUI contributor rewards
  browserassets/tgui/tgui.bundle.js
  code/WorkInProgress/rewardsLocker.dm
  tgui/README.md
  tgui/packages/tgui/interfaces/ContributorRewards.js
Labels: documentation, QoL, tgui, size/L

#8870 Fixes the flash recipes.
  code/datums/manufacturing.dm
  code/obj/item/device/flash.dm
Labels: bug - minor, size/XS

#8627 Portable flashes update
  code/obj/machinery/door/door_timer.dm
  code/obj/machinery/flasher.dm
  icons/obj/stationobjs.dmi
Labels: sprites, balance, QoL, add to wiki, size/M

#6952 Alternative SoS changes
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/z_adventurezones/lavamoon.dm
Labels: balance, stale, size/S

#8841 Minor boost to power gloves
  code/obj/item/clothing/gloves.dm
Labels: cleanliness, balance

#8873 Put limit on ruptures per pipeline to reduce plate spinning
  code/datums/pipeline.dm
  code/modules/atmospherics/machinery/pipe.dm
Labels: balance, QoL, size/XS

#8850 Kondaru status fix
  maps/kondaru.dmm
Labels: bug, mapping, size/M

#8763 Adds a Mimicry Equipment Pack to Cargo
  code/modules/economy/supply_packs.dm
Labels: size/S

#8761 Skeleton detachable body parts
  _std/macros/ismob.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/datums/mutantraces.dm
  code/datums/traits.dm
  code/mob/living/life/organs.dm
  code/modules/medical/surgery_procs.dm
  code/modules/sound/soundCache.dm
  code/modules/status_system/statusEffects.dm
  code/obj/item/cloths.dm
  code/obj/item/mob_parts.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/item/organ_holder.dm
  code/obj/item/organs/head.dm
  code/obj/item/tool/wrench.dm
  code/procs/jobprocs.dm
  icons/obj/chemical.dmi
  icons/ui/statussystem.dmi
  sound/effects/attach.ogg
  sound/effects/smear.ogg
Labels: feature, sprites, cleanliness, sound, add to wiki, size/L

#8888 Ozymandias post-Crimson fixbatch
  maps/ozymandias.dmm
Labels: feature, bug - minor, mapping, size/XL

#8869 Animated Pointing
  code/mob/dead/hivemind_observer.dm
  code/mob/dead/observer.dm
  code/mob/living.dm
  code/modules/robotics/bot/bot_parent.dm
  code/modules/robotics/bot/mining.dm
  code/obj/decal.dm
Labels: feature, size/S

#8905 Fixes a figurine's name.
  code/modules/items/gimmick/figurine.dm
Labels: bug, size/XS

#8899 Gives ghostdrones a higher pitched voice
  code/mob/living/silicon/ghostdrone.dm
Labels: size/XS

#8856 Allow borg satchels and scoops to dump contained ore
  code/modules/materials/Mat_Processing.dm
  code/obj/item/material.dm
Labels: QoL, size/S

#8877 Hopeful fix for flockminds dying on spawn
  code/mob/living/intangible/flock/flockmind.dm
  code/obj/flock/structure/rift.dm
Labels: bug, size/XS

#8863 Fixes a light switch overlapping a status display
  maps/horizon.dmm
Labels: bug, mapping, size/XS

#8839 Glove conductivity pass
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/gloves.dm
  code/obj/item/kendo.dm
  code/obj/mining.dm
  code/obj/storage/loot_crates.dm
Labels: balance, size/M

#8821 Makes operating tables deconstructable
  code/obj/machinery/optable.dm
Labels: size/XS

#8852 Adds COMSIG_MOB_GRABBED
  _std/defines/component_defines/component_defines_atom.dm
  code/obj/item/grab.dm
Labels: cleanliness, size/XS

#8886 Flockdrone vision
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/mob/living/life/sight.dm
Labels: bug, size/XS

#8851 Refactors flockdrone absorber to use status effects
  code/mob/living/critter/flock/flockdrone.dm
  code/modules/status_system/statusEffects.dm
Labels: bug, mapping, size/L

#8922 Fixes lizard arm blood sprites and mutant arm consistency.
  icons/mob/amphibian.dmi
  icons/mob/cat.dmi
  icons/mob/cow.dmi
  icons/mob/hunter.dmi
  icons/mob/lizard.dmi
  icons/mob/monkey.dmi
  icons/mob/roach.dmi
  icons/mob/seamonkey.dmi
  icons/mob/shelterfrog.dmi
  icons/mob/virtual.dmi
  icons/mob/werewolf.dmi
Labels: sprites, size/XS

#8925 Capital hissing and Mooing
  code/datums/mutantraces.dm
Labels: QoL, size/XS

#8727 Better click-dragging support for food + civilian cyborg tongs tool
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
  code/obj/item/kitchen.dm
  icons/obj/kitchen.dmi
Labels: feature, sprites, add to wiki, size/S

#8912 Adds TGUI For Admin Verbs
  code/modules/admin/admin_verbs.dm
Labels: QoL, tgui, size/M

#8932 Donut 3 detective, arcade and fuq pipe fix
  maps/donut3.dmm
Labels: mapping, size/S

#8830 Fixes a bug turning weak scuttlebots into strong ones.
  code/mob/living/critter/scuttlebot.dm
  code/obj/item/clothing/glasses.dm
Labels: bug, size/S

#8636 Mutantrace Self Click On Help Intent Fix
  code/datums/mutantraces.dm
  code/mob/living/carbon/human.dm
Labels: merge conflict, size/S

#8593 Add projectile wounds
  code/mob/living/carbon/human/procs/damage.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/obj/item/implant.dm
  icons/mob/human.dmi
Labels: feature, sprites, balance, size/M

#8883 Corrects Sulfonal For Mult on Life Cycle
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: bug, size/S

#8934 Restructured horizon's pharmacy
  maps/horizon.dmm
Labels: mapping, size/M

#8939 Clarion status displays
  maps/clarion.dmm
Labels: mapping, QoL, size/L

#8913 Skeletons speak and hear from their heads, hear radio, and cant be fed without a head
  code/datums/gauntlet/podcolosseum.dm
  code/datums/mutantraces.dm
  code/mob/living.dm
  code/mob/living/life/blindness.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/obj/item/device/radio.dm
  code/obj/item/organ_holder.dm
  code/obj/item/organs/head.dm
  code/procs/helpers.dm
  code/procs/mobprocs/chatprocs.dm
Labels: size/L

#8909 Decreases spy bounty refresh interval to 15 minutes on classic.
  code/datums/gamemodes/spy_theft.dm
Labels: input wanted, size/XS

#8948 Makes QM functional on destiny when the shield is on.
  maps/destiny.dmm
Labels: mapping, QoL, size/S

#8938 Gives the captain a unique helmet.
  code/WorkInProgress/rewardsLocker.dm
  code/obj/item/clothing/helmets.dm
  code/obj/storage/secure_closets.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/item_hats.dmi
Labels: sprites, size/M

#8945 Fix Flockmind Partition Mind ability having no description
  code/datums/abilities/flock/flockmind.dm
Labels: bug, size/XS

#8944 Fix runtime and a bug for Flockmind dying while a Flocktrace offer is up
  code/datums/abilities/flock/flockmind.dm
  code/mob/living/intangible/flock/flockmind.dm
Labels: bug, runtime, size/XS

#8943 Fix runtime on Flockmind death
  code/datums/flock/flock.dm
Labels: runtime, size/XS

#8946 Fix Flockdoors blocking directional lighting
  code/datums/flock/flock.dm
Labels: bug, size/S

#8842 Allow Flockdrones to pass through Flock cages
  code/mob/living/critter/flock/flockdrone.dm
  code/obj/flock/cage.dm
Labels: balance, QoL, size/S

#8929 Remove duplicate machoman verb code
  code/mob/living/carbon/human/machoman.dm
Labels: cleanliness, size/XXL

#8956 Fixes Status Display Overlap In Cog2 Chapel
  maps/cogmap2.dmm
Labels: bug, mapping, size/XS

#8878 Flock grilles can't be wirecuttered, and chairs are our friends
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/obj/flock/furniture.dm
  code/obj/grille.dm
Labels: size/S

#8962 Fixes typos in captain medal rewards.
  code/WorkInProgress/rewardsLocker.dm
Labels: bug - trivial, size/S

#8960 More crimes for the jailbird trait
  code/datums/datacore.dm
Labels: size/M

#8955 Wingrilles windows on Horizon
  maps/horizon.dmm
Labels: mapping, size/XL

#8972 Moves The Arrivals Status Display On Destiny
  maps/destiny.dmm
Labels: mapping, QoL, size/XS

#8652 Gives MD+MDocs medical labcoats roundstart, swaps medical clothing locker med labcoats with normal labcoats, add cool medical labcoat as Patchwork reward
  code/WorkInProgress/rewardsLocker.dm
  code/datums/jobs.dm
  code/obj/item/clothing/suits.dm
  code/obj/storage/closets.dm
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/mob/monkey_clothes.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
Labels: sprites, stale, size/M

#8986 Allows more objects to be deconstructed
  code/modules/power/lighting.dm
  code/obj.dm
  code/obj/decal/poster.dm
  code/obj/decorations.dm
  code/obj/item/device/mic_amp_etc.dm
Labels: size/XS

#8860 Adds the jester costume set to Geoff's sell list
  code/modules/economy/commodity.dm
  code/modules/economy/trader.dm
  code/obj/item/storage/clothing.dm
Labels: size/S

#8890 Quick change to allow Bulky items and storage containers to be plated.
  code/obj/machinery/arc_electroplater.dm
Labels: size/XS

#8966 Fix robot limb attachment bugs
  code/obj/item/mob_parts/robot_parts.dm
Labels: bug, size/XS

#8998 Fixes a couple bugs with shells not getting the right laws
  code/mob/living/silicon/robot.dm
  code/obj/machinery/law_racks.dm
Labels: size/S

#8990 Fix powernets in random rooms
  code/world.dm
Labels: size/XS

#8991 Makes it so you have to confirm when recycling something with reagents
  code/obj/machinery/glass_recycler.dm
Labels: QoL, size/XS

#9005 Fixes a minor flock chat bug
  code/procs/mobprocs/chatprocs.dm
Labels: bug, size/XS

#9006 changes the number of morphine autoinjectors in the sec morphine utility box from 4 to 6
  code/obj/item/storage/weapon_security.dm
  code/obj/submachine/weapon_vendor.dm
Labels: balance, size/XS

#9015 Flock faster butchering
  code/mob/living/critter/flock/flockdrone.dm
Labels: size/XS

#9026 Fixes dormant flockdrones having active AI
  code/mob/living/critter/flockcritter_parent.dm
Labels: bug, size/XS

#9019 The hand labeler now fits in the Belt slot
  code/obj/item/pens_writing_etc.dm
Labels: QoL, size/XS

#9034 sprite fixes
  icons/mob/inhand/hand_storage.dmi
  icons/obj/foodNdrink/drinks.dmi
Labels: bug, sprites, size/XS

#9035 removes old glass sheet sprites/dmi
  code/WorkInProgress/zamujasa.dm
  icons/obj/glass.dmi
Labels: sprites, removal, size/XS

#9037 fixes #8806
  maps/atlas.dmm
Labels: bug, mapping, size/XS

#9033 fixes minor things on cogmap2
  maps/cogmap2.dmm
Labels: bug, mapping, size/XS

#9017 Fix another potential shell bug
  code/mob/living/silicon/robot.dm
Labels: bug, size/XS

#9012 Makes medibots point again
  code/modules/robotics/bot/medbot.dm
Labels: bug - minor, size/XS

#9032 Adds a Chemicompiler abort button
  _std/defines/chemicompiler.dm
  browserassets/css/chemicompiler.css
  browserassets/js/chemicompiler.js
  code/modules/chemistry/Chemistry-Machinery.dm
  code/modules/chemistry/chemicompiler_core.dm
  code/obj/item/device/chemicompiler.dm
Labels: size/M

#9053 Adds hemolymph to more creatures and adjusts colors
  code/datums/mutantraces.dm
  code/mob/living/critter/firefly.dm
  code/mob/living/critter/small_animal.dm
  code/modules/chemistry/Reagents-Misc.dm
Labels: size/S

#9048 Makes Flock turbo deadly
  code/mob/living/critter/ai.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
Labels: size/XS

#9024 Removes the tile group code from flock tiles
  code/datums/flock/flocktilegroup.dm
  code/obj/flock/structure/collector.dm
  code/obj/flock/structure/flock_structure_parent.dm
  code/obj/flock/structure/gnesisturret.dm
  code/obj/flock/structure/sentinel.dm
  code/turf/turf_flock.dm
  goonstation.dme
Labels: removal, size/L

#8418 New syndicate item: The sawfly
  code/datums/syndicate_buylist.dm
  code/mob/living/critter/ai/sawflyai.dm
  code/mob/living/critter/sawfly.dm
  code/modules/sound/soundCache.dm
  code/obj/item/storage/ammo_pouches.dm
  code/obj/sawflymisc.dm
  code/obj/submachine/weapon_vendor.dm
  goonstation.dme
  icons/obj/items/device.dmi
  icons/obj/items/grenade.dmi
  icons/obj/items/storage.dmi
  icons/obj/ship.dmi
  sound/machines/sawfly1.ogg
  sound/machines/sawfly2.ogg
  sound/machines/sawfly3.ogg
  sound/machines/sawflyrev.ogg
Labels: feature, sprites, input wanted, sound, add to wiki, size/XL

#9047 destiny engineering changes
  maps/destiny.dmm
Labels: mapping, QoL, size/XL

#9058 Sawfly hotfix
  code/mob/living/critter/sawfly.dm
  code/obj/sawflymisc.dm
Labels: size/S

#9051 Adds resprited humans to limb targeting hud icons
  icons/mob/hud_human.dmi
  icons/mob/hud_human_new.dmi
  icons/mob/hud_human_quilty.dmi
  icons/mob/hud_human_vapor.dmi
Labels: sprites, size/XS

#9052 Cleans up a lot of antag popup jank
  _std/macros/antag_popups.dm
  browserassets/html/ghostdrone.html
  browserassets/html/mindslave/buttcrab.html
  code/mob/living/carbon/human/slasher.dm
  code/mob/living/silicon/ghostdrone.dm
  code/mob/transform_procs.dm
  code/mob/zoldorfmob.dm
  code/modules/antagonists/changeling/abilities/changeling.dm
  code/modules/antagonists/changeling/abilities/hivemind.dm
  code/modules/events/sleeperagent.dm
  code/obj/zoldorf.dm
  code/procs/jobprocs.dm
Labels: bug, cleanliness, size/M

#9045 fixes color of purple knit cap
  icons/mob/clothing/head.dmi
  icons/obj/clothing/item_hats.dmi
Labels: sprites, size/XS

#8887 Adds tooltips to all flock structures
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/flock/cage.dm
  code/obj/flock/structure/collector.dm
  code/obj/flock/structure/compute.dm
  code/obj/flock/structure/egg.dm
  code/obj/flock/structure/flock_structure_ghost.dm
  code/obj/flock/structure/flock_structure_parent.dm
  code/obj/flock/structure/gnesisturret.dm
  code/obj/flock/structure/relay.dm
  code/obj/flock/structure/rift.dm
  code/obj/flock/structure/sentinel.dm
  tgui/packages/tgui/interfaces/FlockPanel.js
Labels: QoL, tgui, size/M

#9063 Add missing rechargers to command teleporters.
  maps/destiny.dmm
  maps/kondaru.dmm
Labels: mapping, size/S

#8685 Add USE_PROXIMITY helper procs
  code/atom.dm
  code/obj/item/device/prox_sensor.dm
  code/obj/machinery/flasher.dm
Labels: bug, cleanliness, size/S

#9066 Slightly moves the baseball bat sprite.
  icons/obj/items/weapons.dmi
Labels: sprites, size/XS

#9060 Use new type for shutters inside station
  code/obj/machinery/door/poddoor.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
  maps/wrestlemap.dmm
Labels: mapping, size/XXL

#8876 Make flockdrone caging, point-blanking, and depositing work on any intent
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
Labels: QoL, size/M

#9014 Adds 1 double color braid and 1 shoulder braid
  code/datums/customization_styles.dm
  icons/mob/human_hair.dmi
Labels: sprites, size/S

#9065 Cereal-boxes!
  code/modules/food_and_drink/snacks.dm
  icons/obj/foodNdrink/food.dmi
Labels: sprites, size/XS

#9054 Add more antagonist medals
  code/datums/gamemodes/revolution.dm
  code/datums/objective.dm
Labels: medal, size/XS

#9069 Fix Flock conversion bugs
  code/datums/flock/flock.dm
Labels: bug, size/M

#9072 Fixes RCDs being shipped in wrong crates at a wrong price
  code/modules/economy/supply_packs.dm
Labels: QoL, size/XS

#8843 Reactor Stats TGUI
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/power/reactor_stats.dm
  tgui/packages/tgui/interfaces/EngineStats.js
Labels: feature, balance, QoL, rework, tgui, size/XXL

#9076 Fixes constructed stun batons having the wrong icon
  code/obj/item/stun_baton.dm
Labels: bug, size/XS

#9081 Implement flock process scheduler
  _std/macros/flock.dm
  _std/types.dm
  code/datums/controllers/process/flock.dm
  code/obj/flock/structure/flock_structure_parent.dm
  goonstation.dme
Labels: feature, size/M

#9041 secvend donut box gives one robust and one robusted donut; changes chem properties on each
  code/modules/food_and_drink/snacks.dm
  code/obj/item/storage/weapon_security.dm
Labels: balance, size/S

#9075 Makes cardboard windows auto
  code/obj/item/rcd.dm
Labels: size/XS

#9095 fix chemicompiler allowing empty vials (again)
  code/modules/chemistry/chemicompiler_core.dm
Labels: bug, size/XS

#8975 Flock sentinel changes
  code/obj/flock/structure/rift.dm
  code/obj/flock/structure/sentinel.dm
Labels: balance, size/S

#8933 Ties Lawbringer to DNA and not Fingerprints
  code/obj/item/gun/energy.dm
Labels: balance, QoL, size/S

#9105 Fix changeling ability bugs
  code/modules/antagonists/changeling/abilities/hivemind.dm
Labels: bug, size/XS

#9106 Add sound for stamping paper
  code/obj/item/paper.dm
  sound/misc/stamp_paper.ogg
Labels: QoL, sound, size/XS

#9107 Vending dispense noise
  code/modules/vending/vending.dm
  sound/machines/vending_dispense.ogg
Labels: QoL, sound, size/XS

#9109 Button sound FX
  code/obj/machinery/door/door_control.dm
  sound/machines/button.ogg
Labels: QoL, sound, size/XS

#9061 Singularity cleanup and allow for recapture of singularity
  code/obj/machinery/singularity.dm
Labels: cleanliness, balance, size/L

#9087 Makes the lawbringer not understand strange alien languages
  code/obj/item/gun/energy.dm
Labels: balance, size/XS

#8927 Add some more miscellaneous TGUI alerts and remove camera monitor TGUI list cancel option
  code/WorkInProgress/rewardsLocker.dm
  code/obj/cryotron.dm
  code/obj/item/device/camera_viewer.dm
Labels: QoL, size/S

#8981 Various flock entombment buffs.
  _std/macros/flock.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
Labels: size/S

#8977 Make flockdrone projectiles pass through flockdmobs and fix point blanking
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
Labels: bug, balance, size/S

#8978 makes nukies spawn with a syndicate field protective mask
  code/procs/antagonist_procs.dm
  maps/z2.dmm
Labels: mapping, balance, QoL, size/S

#9113 Flock replicate and nest aiTask's requires resource reservation
  _std/macros/flock.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
Labels: size/S

#9116 Clarion nanomed changes
  maps/clarion.dmm
Labels: mapping, QoL, size/XS

#9131 Remake confiscated items locker
  code/obj/machinery/door/door_timer.dm
  code/obj/machinery/door/window.dm
  code/obj/machinery/flasher.dm
  code/obj/machinery/floorflusher.dm
  code/obj/storage/secure_closets.dm
  icons/obj/large_storage.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/unused/atlas_old.dmm
  maps/unused/chiron.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/devship.dmm
  maps/unused/donut2.dmm
  maps/unused/donut2_new_walls.dmm
  maps/unused/linemap.dmm
  maps/unused/mushroom.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/mushroom_new_xmas.dmm
  maps/unused/old_trunkmap.dmm
  maps/unused/samedi.dmm
  maps/unused/trunkmap.dmm
  maps/wrestlemap.dmm
  sound/misc/safe_close.ogg
  sound/misc/safe_open.ogg
Labels: mapping, sprites, QoL, sound, size/L

#9133 Fix syndie command armor indentation
  code/obj/item/clothing/suits.dm
Labels: bug - minor, size/XS

#9134 Allows flockmind and traces to issue drag and drop move commands to drones
  code/mob/living/critter/flock/flockdrone.dm
Labels: feature, size/S

#9111 adjustments to sawfly+tactical pouches and another check to sawfly AI
  code/mob/living/critter/ai/sawflyai.dm
  code/mob/living/critter/sawfly.dm
  code/obj/item/storage/ammo_pouches.dm
  code/obj/submachine/weapon_vendor.dm
Labels: balance, size/S

#9126 Fixes new fingerprints not updatable in records
  code/modules/networks/computer3/sec_rec.dm
Labels: QoL, size/XS

#9140 Fixes mirrored in-hand skull sprites
  icons/mob/inhand/hand_skulls.dmi
Labels: bug, sprites, size/XS

#9142 Medical vending sound
  code/modules/sound/soundCache.dm
  code/modules/vending/vending.dm
  sound/machines/vending_dispense_small.ogg
Labels: QoL, sound, size/S

#9097 Adds notifications to cargo pad deliveries
  code/obj/mining.dm
Labels: feature, QoL, size/M

#9127 Cow-people can now graze on bushes
  code/obj/decorations.dm
Labels: feature, balance, size/M

#9146 Syndicate command armor from spies and surplus crates now spawn with a helmet too.
  code/datums/syndicate_buylist.dm
Labels: size/XS

#9144 Adds flockgib admin verb
  code/mob.dm
  code/modules/admin/admin.dm
  code/modules/admin/gibverbs.dm
  code/modules/admin/player_options.dm
  code/modules/chemistry/Reagents-Misc.dm
  strings/admin_changelog.txt
Labels: feature, size/M

#9079 minor presentation consistency pass: gloves and headsets
  code/obj/item/clothing/chameleon_js.dm
  code/obj/item/clothing/gloves.dm
  code/obj/item/device/radio.dm
  code/obj/item/device/radios/headsets.dm
Labels: cleanliness, size/L

#9162 Adds an intercom to Kondaru AI upload
  maps/kondaru.dmm
Labels: mapping, size/XS

#9115 Add straightjackets and haloperidol syringes to Donut 3 medical
  maps/donut3.dmm
Labels: mapping, QoL, size/M

#9164 Adds General, Security, and Detective Intercoms to DetNet
  code/obj/item/device/radios/intercoms.dm
  maps/z2.dmm
Labels: feature, mapping, QoL, size/M

#9170 update the vendor desc for donuts
  code/obj/submachine/weapon_vendor.dm
Labels: size/XS

#9174 Floating things no longer track blood
  code/modules/forensics/atom_forensic.dm
Labels: bug, size/XS

#9166 Makes Permeability coefficient into an object property.
  _std/macros/atom_properties.dm
  browserassets/images/tooltips/chemical.png
  code/WorkInProgress/ObjectProperties.dm
  code/WorkInProgress/warcrimes.dm
  code/datums/hud/human.dm
  code/mob/living/life/Life.dm
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/fluids/fluid_core.dm
  code/obj/item/clothing.dm
  code/obj/item/clothing/cardboard.dm
  code/obj/item/clothing/chameleon_js.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/gloves.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/masks.dm
  code/obj/item/clothing/shoes.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/clothing/uniforms_autocolor.dm
  code/procs/mob_procs.dm
  code/z_adventurezones/biodome.dm
  code/z_adventurezones/mad_mars.dm
Labels: balance, input wanted, experimental, add to wiki, size/L

#9145 Replaces the battery in surplus crates with a thermonuclear battery cell + renames it.
  code/datums/syndicate_buylist.dm
  code/obj/item/gun/ammo.dm
Labels: add to wiki, size/XS

#9155 Coagulated Gnesis rework and cocktail
  code/mob/living/life/breath.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/status_system/statusEffects.dm
  code/obj/item/organs/flock.dm
  goonstation.dme
Labels: feature, balance, add to wiki, size/L

#9175 Adds glowy texture to gnesis material
  code/modules/materials/Mat_Materials.dm
  code/obj/flock/cage.dm
  code/obj/flock/structure/flock_structure_parent.dm
  code/obj/window.dm
  icons/effects/atom_textures_32.dmi
Labels: bug, feature, sprites, size/XS

#9185 Implement get_target short circuits in flock ai
  code/mob/living/critter/ai/flock/flocktasks.dm
  code/obj/flock/structure/flock_structure_ghost.dm
Labels: performance, size/M

#9207 Makes Matter Eater correctly destroys objects
  code/modules/medical/genetics/bioEffects/powers.dm
Labels: size/S

#9161 Makes cameras in AI core/upload locked to the AI
  code/mob/living/silicon/hivebot.dm
  code/obj/machinery/camera.dm
  code/obj/machinery/computer/security.dm
  code/obj/machinery/computer/security/security_cameras_chui.dm
  maps/atlas.dmm
  maps/horizon.dmm
Labels: mapping, balance, size/L

#9208 all items can be put into storages where they came from
  code/obj/item/clothing/chameleon_js.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/storage/clothing.dm
  code/obj/item/storage/weapon_security.dm
Labels: balance, QoL, size/S

#9169 Makes pumps and scrubbers TGUI
  browserassets/tgui/tgui.bundle.js
  code/modules/atmospherics/portable/pump.dm
  code/modules/atmospherics/portable/scrubber.dm
  tgui/packages/tgui/interfaces/PortablePump.js
  tgui/packages/tgui/interfaces/PortableScrubber.js
Labels: tgui, size/L

#9191 Resprites Several Types Of 40mm Shells Alongside Some Minor Name Clarifications
  code/modules/projectiles/bullet.dm
  code/obj/item/gun/ammo.dm
  icons/obj/items/ammo.dmi
  icons/obj/projectiles.dmi
Labels: sprites, cleanliness, QoL, add to wiki, size/M

#9181 Moves flockdrone control icon into the center
  code/mob/living/critter/flock/flockdrone.dm
  code/modules/interface/multiContext/context_layouts.dm
Labels: QoL, size/S

#9206 Replaces the general fabricator in sci with a unique fabricator.
  code/datums/manufacturing.dm
  code/modules/economy/supply_packs.dm
  code/obj/machinery/manufacturer.dm
  icons/obj/manufacturer.dmi
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
Labels: mapping, sprites, QoL, size/L

#9135 damaged floors overlays, fix some walls breaking
  code/datums/special_r.dm
  code/turf/floors.dm
  code/turf/floors_airless.dm
  icons/turf/floors.dmi
  icons/turf/walls_damage.dmi
Labels: feature, sprites, QoL, size/L

#9211 More jumpsuit sprite fixes
  icons/mob/clothing/jumpsuits/worn_js_gimmick.dmi
  icons/mob/clothing/jumpsuits/worn_js_misc.dmi
Labels: bug - trivial, sprites, size/XS

#9221 fixes unsimulated scorched tiles not appearing correctly
  code/turf/floors_unsimulated.dm
Labels: bug, QoL, size/M

#9223 Makes some glasses layer over hair
  _std/defines/layer.dm
  code/WorkInProgress/HaineWhatever.dm
  code/mob/living/carbon/human/machoman.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/glasses.dm
Labels: size/XS

#9222 Makes wigs layer the same as hair.
  code/obj/ToSplit/barber_shop.dm
Labels: size/XS

#9212 3/4 perspective admin bus
  code/obj/vehicle.dm
  icons/obj/battlebus.dmi
  icons/obj/vehicles.dmi
Labels: sprites, QoL, size/XS

#9209 attempt at 3/4 perspective girders
  icons/obj/structures.dmi
Labels: sprites, QoL, size/XS

#9150 Makes trinket sunglasses into tanning ones.
  code/procs/jobprocs.dm
Labels: balance, size/XS

#8971 Makes the biosuit have slowdown.
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/suits.dm
Labels: balance, size/XS

#9163 Adds Security Assistant Requisition Tokens To Special Equipment Lockers
  code/obj/storage/secure_closets.dm
Labels: QoL, add to wiki, size/XS

#9220 Adds several new recipes to the sci fab.
  code/datums/manufacturing.dm
  code/obj/machinery/manufacturer.dm
Labels: QoL, size/M
