Repository goonstation/goonstation, pull requests merged in 2022-11, with the labels that each got.

#11743 fixes black and silver barrettes actually being purchaseable
  code/modules/vending/clothingbooth_items.dm
Labels: C-Bug, size/XS

#11745 cleans up stray wires on donut 2
  maps/donut2.dmm
Labels: A-Mapping, C-Code-Quality, size/S

#11746 fixes cog1 north solars
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, C-Code-Quality, size/XS

#11650 Make Relay unlock right at its unlock threshold
  code/datums/flock/flockunlockable.dm
Labels: C-Bug, P-Minor, size/XS, A-Gamemodes

#11612 fixes barrier item arm disarm feedback loop
  code/obj/item.dm
Labels: C-Bug, size/XS, A-Player-Actions

#11646 Emergency suit acid survival time buff + awareness posters
  code/obj/decal/poster.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/suits.dm
  icons/obj/decals/posters.dmi
  maps/nadir.dmm
Labels: A-Mapping, C-Sprites, C-Balance, size/XXL

#11754 Fixes spliced plants with carrots having neither oculine nor carrot juice
  code/modules/hydroponics/plants_veg.dm
Labels: C-Bug, P-Minor, size/XS

#11752 Remove old attempts at nuclear engine
  code/WorkInProgress/fission/computer.dm
  code/WorkInProgress/fission/engine.dm
  code/WorkInProgress/fission/neutron.dm
  code/WorkInProgress/fission/rods.dm
  code/WorkInProgress/nuclear_engine/nuclear_engine.dm
  code/modules/chemistry/Reagents-Nuclear.dm
Labels: C-Code-Quality, C-Removal, size/XL, A-Game-Objects

#11706 Nadir changeling rebalance: near-total immunity to aqua tenebrae
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: C-Balance, E-Input-Wanted, E-Add-To-Wiki, size/S, A-Gamemodes, A-Chemistry

#11767 Burn your arms off
  code/obj/item/mob_parts/human_parts.dm
Labels: C-Balance, size/XS, A-Medical

#11750 simplify gun casing code
  code/obj/item/gun/kinetic.dm
Labels: A-Tooling, C-Code-Quality, size/M, A-Game-Objects

#11764 Fix a little code crime
  code/mob/melee_attack_procs.dm
Labels: C-Bug, P-Trivial, C-Code-Quality, size/XS

#11765 Remove entirely commented out and unticked file
  code/datums/organs.dm
Labels: C-Code-Quality, C-Removal, size/L

#11753 Add a medal for causing a runtime (also log runtime usr)
  browserassets/css/runtimeViewer.css
  browserassets/js/runtimeViewer.js
  code/error_handling.dm
Labels: C-Feature, A-Medal, size/S, A-Admin, S-Ready-For-Final-Review, S-Controversial

#11065 Gives wraith and poltergeist a 6 seconds grace period after being summoned by a candle
  code/modules/antagonists/wraith/objs/item/spirit_candle.dm
Labels: C-Feature, size/XS, A-Gamemodes, S-Ready-For-Final-Review

#11688 Auto Reagents Componenet
  code/datums/components/auto_reagent.dm
  code/procs/mob_procs.dm
  goonstation.dme
Labels: C-Feature, size/M, A-Admin, A-Game-Objects

#11744 adds uniform vendors to manta
  maps/manta.dmm
Labels: C-Bug, A-Mapping, size/M

#11568 Enables mob/living/critter for VR gauntlet, deletes /obj/critter/spider
  assets/maps/prefabs/prefab_clown.dmm
  assets/maps/prefabs/prefab_clown_nest.dmm
  assets/maps/prefabs/prefab_water_ghosthouse.dmm
  assets/maps/prefabs/prefab_water_honk.dmm
  assets/maps/random_rooms/3x3/clown.dmm
  code/WorkInProgress/construction/event_controller.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/mob/living/critter/ai/generic_critter.dm
  code/mob/living/critter/ai/shared.dm
  code/mob/living/critter/spider.dm
  code/modules/admin/buildmodes/adventure/adventure_critter.dm
  code/modules/events/antagonist_critter_ghost_respawn.dm
  code/modules/events/gimmick/halloween.dm
  code/modules/events/start/critter_infestation.dm
  code/modules/worldgen/mapgen/IceMoonGenerator.dm
  code/obj/critter/spider.dm
  code/obj/item/spidereggs.dm
  code/obj/machinery/porters.dm
  code/obj/random_spawners.dm
  goonstation.dme
  maps/atlas.dmm
  maps/cogmap.dmm
  maps/destiny.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/oldmapshit.dmm
  maps/unused/setpieces/SHARED_biodomeExpanded.dmm
  maps/z2.dmm
Labels: A-Mapping, C-Code-Quality, size/XL, A-AI, A-Internal, S-Ready-For-Final-Review

#11653 Makes Meteor shower & other events required round time lowered
  code/modules/events/black_hole.dm
  code/modules/events/blowout.dm
  code/modules/events/meteor_shower.dm
  code/modules/events/vamp_teg.dm
Labels: C-Balance, size/S, S-Ready-For-Final-Review, A-Events

#11350 Allow floorbots to have their colour based on the toolbox used
  code/modules/robotics/bot/floorbot.dm
  code/obj/item/storage/toolbox.dm
  icons/obj/bots/aibots.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects, S-Ready-For-Final-Review

#11723 Wraith now inherits point regen and corpsecount on evolve
  code/datums/abilities/wraith.dm
Labels: C-Bug, size/XS

#11775 Siphon "easter egg" product adjustments
  code/modules/siphon/siphon_minerals.dm
Labels: C-Balance, size/S

#11782 Del calls disposing
  code/datums/components/_component.dm
  code/del.dm
  code/modules/status_system/statusEffects.dm
  code/turf/turf.dm
Labels: size/S, A-Internal

#11792 Fix #11786 grille pointblank projectiles
  code/modules/projectiles/projectile_parent.dm
Labels: C-Bug, size/XS

#11668 some conveyor refactoring. also bendy conveyors!
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/WorkInProgress/recycling/conveyor.dm
  code/datums/components/conveyor_lay.dm
  goonstation.dme
  icons/obj/recycling.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pod_wars.dmm
  maps/z2.dmm
  maps/z3.dmm
  maps/z5.dmm
Labels: C-Feature, A-Mapping, C-Sprites, C-Code-Quality, size/XXL, A-Game-Objects, A-Station-Systems

#262 Minor gun balance and refactoring
  _std/defines/stamina.dm
  code/WorkInProgress/GerhazoStuff.dm
  code/WorkInProgress/Hydrothings.dm
  code/WorkInProgress/KatzStuff.dm
  code/WorkInProgress/MarqStuff.dm
  code/WorkInProgress/SpyGuyStuff.dm
  code/WorkInProgress/VirvaStuff.dm
  code/WorkInProgress/golf.dm
  code/WorkInProgress/tarmStuff.dm
  code/datums/abilities/critter/slam.dm
  code/datums/abilities/wizard/fireball.dm
  code/datums/gamemodes/pod_wars/pw_weapons.dm
  code/datums/gauntlet/bullethell.dm
  code/mob/living.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/mechmonstrosity.dm
  code/mob/living/silicon/robot.dm
  code/mob/living/stamina_stuns.dm
  code/modules/antagonists/wraith/critters/spiker.dm
  code/modules/holiday/spacemas.dm
  code/modules/items/specials/ItemSpecials.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/projectiles/40mm.dm
  code/modules/projectiles/bfg.dm
  code/modules/projectiles/bioeffect.dm
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/crabber.dm
  code/modules/projectiles/disruptor_bolt.dm
  code/modules/projectiles/ectoblaster.dm
  code/modules/projectiles/energy_bolt.dm
  code/modules/projectiles/laser.dm
  code/modules/projectiles/owl.dm
  code/modules/projectiles/pickpocket.dm
  code/modules/projectiles/pie_projectile.dm
  code/modules/projectiles/projectile_parent.dm
  code/modules/projectiles/radbolt.dm
  code/modules/projectiles/shrink_beam.dm
  code/modules/projectiles/special.dm
  code/modules/projectiles/syringe.dm
  code/modules/projectiles/teleport.dm
  code/modules/projectiles/wavegun.dm
  code/obj/artifacts/artifact_items/energy_gun.dm
  code/obj/artifacts/artifactdatums.dm
  code/obj/blob.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/implant.dm
  code/obj/item/organ_holder.dm
  code/z_adventurezones/precursor.dm
Labels: A-Secret, C-Balance, C-Rework, size/XL

#11801 Fix Flockmind and Flocktrace computes not being updated on leaving drones
  code/mob/living/critter/flock/flockdrone.dm
Labels: C-Bug, size/XS, A-Gamemodes

#11806 Station forcefields: atmos/liquid forcefield clickthrough + setactive adjustment
  code/obj/machinery/shield_generators/portable_shield_generator.dm
Labels: C-Bug, C-Rework, size/XS, A-Game-Objects

#11664 Add Flock Relay transmission medal
  code/datums/flock/flock.dm
  code/datums/flock/flockunlockable.dm
  code/datums/gamemodes/gm_parent.dm
  code/mob/living/intangible/flock/flocktrace.dm
  code/obj/flock/structure/flock_structure_ghost.dm
  code/obj/flock/structure/relay.dm
Labels: C-Feature, A-Medal, size/S, A-Gamemodes

#11774 Arm burn off more
  code/obj/item/mob_parts/human_parts.dm
Labels: C-Balance, A-Medical, S-Ready-For-Final-Review

#11379 Make the Relay block teleports
  _std/macros/atom_properties.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/modules/telescience/teleport_jammer.dm
  code/modules/telescience/teleporter_old.dm
  code/obj/blob.dm
  code/obj/flock/structure/relay.dm
  code/obj/flock/trader.dm
Labels: C-Code-Quality, C-Balance, size/M, A-Gamemodes, S-Ready-For-Final-Review

#11480 Change common text inputs to tgui text inputs
  code/datums/abilities/flock/flockmind.dm
  code/datums/abilities/vampire/enthrall.dm
  code/datums/abilities/vampire/thrall_abilities.dm
  code/datums/abilities/wraith.dm
  code/datums/gamemodes/wizard.dm
  code/mob.dm
  code/modules/admin/admin.dm
  code/modules/antagonists/changeling/abilities/hivemind.dm
  code/modules/chemistry/Chemistry-Machinery.dm
  code/modules/events/antag_ghost_respawn.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/modules/telescience/radiostation.dm
  code/modules/writing/pens_writing_etc.dm
  code/obj/item/device/pda2/base_os.dm
  code/obj/item/device/scanners.dm
  code/obj/machinery/computer/QM_supply.dm
  code/obj/machinery/computer/announcement.dm
  code/obj/machinery/computer/card.dm
  code/procs/helpers.dm
  code/procs/mobprocs/chatprocs.dm
Labels: C-QoL, A-UI, size/M

#11758 gives ability buttons a flag that hides them unless their item is equipped
  code/WorkInProgress/AbilityItem.dm
  code/datums/controllers/sea_hotspot_controls.dm
  code/obj/item.dm
Labels: C-QoL, size/M, A-Game-Objects, S-Ready-For-Final-Review

#11803 Fixes abilitystat height scaling this time
  code/datums/abilities/ability_parent.dm
Labels: C-Bug, A-UI, size/S

#11709 Moves revenant health from stat panel to HUD
  code/datums/abilities/revenant.dm
  code/datums/hud/revenant.dm
  goonstation.dme
  icons/mob/wraith_ui.dmi
Labels: C-Sprites, C-Performance, A-UI, size/M

#11747 fixes cog2 sec checkpoint windows
  maps/cogmap2.dmm
Labels: C-Bug, A-Mapping, C-Code-Quality, size/L

#11217 Arrivals airlock sprites
  code/obj/machinery/door/airlock.dm
  icons/obj/doors/SL_doors.dmi
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/horizon.dmm
  maps/oshan.dmm
  maps/wrestlemap.dmm
Labels: A-Mapping, C-Sprites, S-Stale, size/M

#11810 Fixes aiHolder disposing calling parent twice
  code/mob/living/critter/ai.dm
Labels: C-Bug, C-Runtime

#11349 fix the solars set_panels proc so it actually rotates the panels properly
  code/modules/power/solar.dm
Labels: C-Bug, S-Stale, size/S, A-Game-Objects

#11415 Update gunsim to have a larger lobby area and a little viewing zone
  code/area.dm
  code/obj/item/device/radios/intercoms.dm
  maps/z2.dmm
Labels: P-Minor, A-Mapping, S-Stale, size/XXL

#11808 upgrades github actions shit
  .github/boring-cyborg.yml
  .github/workflows/automaton.yml
  .github/workflows/beepsky.yml
  .github/workflows/forum_pr_poster.yml
  .github/workflows/merge_upstream.yml
  .github/workflows/size_labeling.yml
  .github/workflows/stale.yml
  .github/workflows/update_changelog.yml
Labels: A-Tooling, C-Code-Quality, size/M

#11722 movement component for mechanics
  code/WorkInProgress/recycling/conveyor.dm
  code/datums/components/legs.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/vending/vending.dm
  icons/misc/mechanicsExpansion.dmi
  strings/books/mechanicbook.txt
Labels: C-Feature, C-Sprites, C-Balance, E-Add-To-Wiki, size/L, A-Game-Objects

#11814 Revert "Update gunsim to have a larger lobby area and a little viewing zone"
  code/area.dm
  code/obj/item/device/radios/intercoms.dm
  maps/z2.dmm
Labels: A-Mapping, C-Revert

#11815 Partial revert of #11480
  code/datums/abilities/flock/flockmind.dm
  code/datums/abilities/vampire/enthrall.dm
  code/datums/abilities/vampire/thrall_abilities.dm
  code/procs/mobprocs/chatprocs.dm
Labels: C-Bug, C-Revert, A-UI

#11820 fixes detective stunner rounds doing 35 burn dmg per shot and stunning
  code/modules/projectiles/bullet.dm
Labels: C-Bug, size/XS

#11816 Battle box
  code/WorkInProgress/zamujasa.dm
  code/area.dm
  code/obj/item/device/radios/intercoms.dm
  icons/turf/areas.dmi
  maps/z2.dmm
Labels: A-Mapping, C-Sprites, size/XXL

#11633 Datumises Station Maps
  code/WorkInProgress/StationMap.dm
  code/global.dm
  code/mob/living/silicon/ai.dm
  code/modules/minimap/minimap.dm
  code/modules/minimap/minimap_object.dm
  code/modules/station_map/station_map.dm
  code/world.dm
  goonstation.dme
Labels: C-Code-Quality, size/L, A-Internal, S-Ready-For-Final-Review

#11805 monkey thunderdome unit test
  .github/workflows/automaton.yml
  code/area.dm
  code/atom/UpdateOverlays.dm
  code/datum.dm
  code/datums/participation_recorder.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/monkeys.dm
  code/mob/living/carbon/human/npc.dm
  code/modules/events/wormholes.dm
  code/modules/spatial_hashing.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/monkey_thunderdome.dm
  code/modules/unit_tests/unit_test.dm
  code/modules/unit_tests/unit_tests.dmm
  code/obj/random_spawners.dm
  code/turf/turf.dm
  code/world.dm
  maps/blank_maps/unit_tests.dmm
  maps/config/map.dm
  maps/config/unit_tests.dm
Labels: C-Feature, A-Mapping, A-Tooling, C-Code-Quality, size/L, A-Internal

#11831 Runtime fix for lawracks
  code/obj/machinery/law_racks.dm
Labels: size/XS

#11672 Allow Flock and Silicons to hear each other's radio speech
  _std/macros/flock.dm
  code/datums/flock/flock.dm
  code/datums/flock/flockunlockable.dm
  code/mob/living/silicon.dm
  code/obj/machinery/computer/announcement.dm
  code/procs/helpers.dm
  code/procs/mobprocs/chatprocs.dm
Labels: C-Feature, C-Rework, size/M, A-Gamemodes, S-Ready-For-Final-Review

#11825 Possible Flock lag fix
  code/obj/flock/structure/relay.dm
Labels: C-QoL, size/XS, A-Gamemodes

#11315 Fixes some possession ability issues
  code/datums/abilities/wraith.dm
Labels: C-Bug, size/M, A-Gamemodes

#11843 Ozymandias nov22 fixbatch
  maps/ozymandias.dmm
Labels: C-Bug, A-Mapping, size/L

#11509 Add medals for Arcfiend and Spy Thief
  code/datums/gamemodes/gm_parent.dm
  code/modules/antagonists/arcfiend/abilities/_arcfiend_ability_holder.dm
  code/modules/antagonists/arcfiend/abilities/jolt.dm
  code/modules/antagonists/arcfiend/arcfiend.dm
Labels: C-Feature, A-Medal, size/S, A-Gamemodes

#11851 Fixes poisoned rose mute duration being 10 times longer than it should be
  code/obj/item/plants.dm
Labels: C-Bug, size/XS, A-Game-Objects

#11852 Ports AnimatedNumber changes from tg
  browserassets/tgui/tgui-common.bundle.js
  browserassets/tgui/tgui.bundle.css
  tgui/packages/tgui/components/AnimatedNumber.js
  tgui/packages/tgui/components/AnimatedNumber.tsx
Labels: C-Bug, C-Code-Quality, A-UI, size/L

#11819 Add client.preload_rsc configuration option
  code/client.dm
  code/datums/configuration.dm
  config/config.sample.txt
Labels: C-QoL, size/XS, A-Internal

#11514 Fix food heal overrides
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/candy.dm
  code/modules/food_and_drink/condiments.dm
  code/modules/food_and_drink/discount_dans.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/pies.dm
  code/modules/food_and_drink/plants.dm
  code/modules/food_and_drink/sandwiches.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/holiday/spacemas.dm
  code/obj/critter/bee.dm
Labels: C-Bug, size/M, A-Catering

#11766 Nadir Fixbatch 7: Wreck of the Pasiphae
  browserassets/images/charts/damaged_report.png
  code/area.dm
  code/map.dm
  code/modules/writing/papers.dm
  code/z_adventurezones/vault.dm
  maps/nadir.dmm
Labels: C-Bug, C-Feature, A-Mapping, size/XXL

#11513 Spatial Interdictor QoL and efficiency improvement pass
  code/datums/manufacturing.dm
  code/obj/item/manudrive.dm
  code/obj/machinery/interdictor.dm
  code/obj/machinery/manufacturer.dm
  code/obj/storage/secure_crates.dm
  strings/books/interdictor_guide.txt
Labels: C-Feature, C-Balance, C-QoL, S-Stale, size/M, A-Game-Objects

#11858 Flock: Parition Mind icon replacement
  code/datums/abilities/flock/flockmind.dm
  icons/mob/flock_ui.dmi
Labels: C-Sprites, size/XS, A-Gamemodes

#11863 Dead snakes don't bite
  code/obj/critter/misc.dm
Labels: C-Bug, size/XS, A-AI

#11862 Fixes rotating Trip Lasers
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Bug, size/XS, A-Game-Objects

#11855 Fix oven thinking undercooked burgers are high quality. Also fix heal…
  code/obj/submachine/cooking.dm
Labels: C-Bug, size/XS, A-Catering

#11856 Make ctrl-click unpull a pulled object
  code/mob.dm
Labels: C-Feature, size/S, A-Player-Actions

#11867 Harmonic Siphon starstone difficulty increase
  code/modules/siphon/siphon_minerals.dm
Labels: C-Balance, size/XS, A-Game-Objects

#11802 Allow cyborgs and eyebots to flip inside things
  code/mob/living/silicon/hivebot.dm
  code/mob/living/silicon/robot.dm
Labels: C-Bug, C-Balance, size/M, A-Player-Actions, S-Ready-For-Final-Review

#11785 Updates Wrassle Map Medbay
  maps/wrestlemap.dmm
Labels: A-Mapping, C-QoL, size/XXL, A-Medical

#11864 ghost critters cannot use weapon vendors anymore
  code/obj/submachine/weapon_vendor.dm
Labels: C-Bug, size/XS

#11823 Clarion security clothing vendor fix
  maps/clarion.dmm
Labels: C-Bug, A-Mapping

#11881 remove (random) nosepick emote
  code/mob/living/carbon/human.dm
Labels: C-Removal, size/XS, A-Player-Actions

#11870 Ion storms (mostly) blockable by Spatial Interdictor
  code/modules/events/ion_storm.dm
Labels: C-Balance, size/S, A-Game-Objects, A-Events

#11892 Fixes wraith being stuck in the wrong Z levels
  code/mob/wraith.dm
Labels: C-Bug, size/XS, A-Player-Actions

#11185 Allow Flockmind to promote Flocktraces
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/datums/flock/flock.dm
  tgui/packages/tgui/interfaces/FlockPanel.js
Labels: C-QoL, A-UI, size/S

#11804 Iguana 🦎
  code/mob/living/critter/small_animal.dm
  code/modules/worldgen/mapgen/biomes/_biome.dm
  icons/misc/critter.dmi
Labels: C-Feature, C-Sprites, size/L, A-Admin

#11736 adds a quantum telescope to telesci on donut2
  maps/donut2.dmm
Labels: A-Mapping, size/XS, A-Game-Objects, A-Science

#11755 Adds radioactive fallout gas
  _std/defines/component_defines/component_defines_atom.dm
  _std/macros/atmos.dm
  code/datums/components/radioactive.dm
  code/modules/atmospherics/FEA_gas_mixture.dm
  code/modules/atmospherics/FEA_turf_tile.dm
  code/obj/item/organs/lung.dm
  icons/effects/tile_effects.dmi
Labels: C-Feature, C-Sprites, size/M, A-Atmospherics, S-Ready-For-Final-Review

#11849 Donut 2: Misc Changes
  maps/donut2.dmm
Labels: A-Mapping, C-QoL, size/L, A-Medical

#11880 Balances plague of death and creeping dread
  code/datums/abilities/wraith.dm
  code/modules/antagonists/wraith/bioEffects/curses.dm
  code/modules/antagonists/wraith/status_system/wraithEffects.dm
  code/modules/chemistry/Reagents-Base.dm
  code/obj/item/storage/bible.dm
Labels: C-Balance, size/L, A-Player-Actions

#7534 Split combat log into multiple logs
  _std/defines/logging.dm
  browserassets/html/admin/admin_log.html
  code/WorkInProgress/NanneksStuff.dm
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/WorkInProgress/nadir_antenna.dm
  code/atom.dm
  code/datums/abilities/critter/vomit.dm
  code/datums/abilities/wraith.dm
  code/datums/components/arable.dm
  code/datums/controllers/action_controls.dm
  code/datums/limb.dm
  code/global.dm
  code/mob/living/carbon/human.dm
  code/modules/admin/admin.dm
  code/modules/admin/toggles.dm
  code/modules/antagonists/wraith/critters/abilities/plaguerat.dm
  code/modules/antagonists/wraith/critters/skeleton_commander.dm
  code/modules/antagonists/wraith/objs/item/spirit_candle.dm
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
  code/modules/atmospherics/portable/canister.dm
  code/modules/atmospherics/portable/portable_atmospherics.dm
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Chemistry-Machinery.dm
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/tools/bottles.dm
  code/modules/chemistry/tools/extinguisher.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/chemistry/tools/hyposprays.dm
  code/modules/chemistry/tools/patches.dm
  code/modules/chemistry/tools/pills.dm
  code/modules/chemistry/tools/syringes.dm
  code/modules/events/gimmick/kudzu.dm
  code/modules/food_and_drink/bathbomb.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/modules/writing/pens_writing_etc.dm
  code/obj/effects/foam.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/device/powersink.dm
  code/obj/item/gun/reagent.dm
  code/obj/item/material.dm
  code/obj/item/mob_parts/artifact_parts.dm
  code/obj/item/mops_cleaners.dm
  code/obj/item/organs/heart.dm
  code/obj/item/rcd.dm
  code/obj/item/sparklers.dm
  code/obj/item/stickers.dm
  code/obj/item/uplinks.dm
  code/obj/machinery/clonepod.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/deep_fryer.dm
  code/obj/machinery/plantpot.dm
  code/obj/machinery/shitty_grill.dm
  code/obj/machinery/shower.dm
  code/obj/portal.dm
  code/obj/submachine/robotics.dm
  code/obj/submachine/virus_manipulator.dm
  code/obj/vehicle.dm
  code/procs/logging.dm
  code/z_adventurezones/hemera.dm
Labels: C-Code-Quality, S-Merge-Conflict, E-Certified-Organic, size/L, A-Admin

#11861 Fixes tgui Image component pixelation
  browserassets/tgui/tgui-common.bundle.js
  browserassets/tgui/tgui.bundle.css
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/Image.js
  tgui/packages/tgui/styles/components/Image.scss
  tgui/packages/tgui/styles/main.scss
Labels: C-Bug, P-Minor, A-UI, size/M, C-Documentation

#11648 Prevent multiple Sentinels from targeting something
  code/obj/flock/structure/sentinel.dm
Labels: C-Balance, C-QoL, size/XS, A-Gamemodes, A-Game-Objects

#11122 Adds a counter on the hud for possession points for trickster
  code/datums/abilities/ability_parent.dm
  code/datums/abilities/wraith.dm
  code/mob/wraith.dm
  code/modules/antagonists/wraith/critters/trickster_puppet.dm
Labels: C-QoL, A-UI, size/M

#11914 Move gift wrapping to a proc
  code/atom.dm
  code/modules/admin/buildmodes/spawn_gift.dm
  code/obj/item/gift.dm
Labels: C-Code-Quality, size/M, A-Game-Objects, S-Ready-For-Final-Review

#11920 Adds a `use_ai_toggle` var
  code/mob.dm
  code/mob/living/carbon/human/npc.dm
  code/mob/living/critter/ai.dm
  code/mob/living/critter/flock/flockdrone.dm
Labels: C-Code-Quality, size/XS, A-AI

#11911 Move vehicle restrictions to vehicles
  code/modules/transport/pods/vehicle.dm
  code/turf/floors.dm
Labels: C-Performance, C-Code-Quality, size/M, A-Internal, S-Ready-For-Final-Review

#11498 Transception array direct queue implementation
  code/WorkInProgress/nadir_antenna.dm
  code/modules/economy/persistent_bank_purchases.dm
  code/modules/events/minor/special_order.dm
Labels: C-Bug, C-Feature, size/M, A-Station-Systems, S-Ready-For-Final-Review

#11915 Flock: Add double-click control shortcut to drones
  code/mob/living/critter/flock/flockdrone.dm
Labels: C-Feature, C-Experimental, size/S, A-Gamemodes, S-Ready-For-Final-Review

#11908 Scrap Cross to Crossed
  code/WorkInProgress/recycling/scrap.dm
Labels: C-Bug, size/XS, A-Game-Objects

#11565 some quick vending machine bugfixes
  code/modules/vending/vending.dm
Labels: C-Bug, size/S, A-Game-Objects

#11943 Kondaru - Rancher & Standard Camers
  maps/kondaru.dmm
Labels: C-Feature, P-Major, A-Mapping, size/M

#11932 Small performance changes on TextInputModal + new "allowEmpty" var + fixes Cargo's weird TGUI pop-up
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/tgui/tgui_input_text.dm
  code/obj/machinery/computer/QM_supply.dm
  code/obj/machinery/computer/communications.dm
  tgui/packages/tgui/interfaces/TextInputModal.tsx
Labels: C-Bug, C-Feature, A-UI, size/M

#11683 Weldertank ruptured sprite
  code/modules/chemistry/tools/dispensers.dm
  icons/obj/objects.dmi
Labels: C-Sprites, size/XS, A-Game-Objects, S-Ready-For-Final-Review

#11879 Reduce number of calls to `get_path_to()` in mobai code
  code/mob/living/critter/ai.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
  code/mob/living/critter/ai/generic_critter.dm
  code/mob/living/critter/ai/ocean.dm
  code/mob/living/critter/ai/sawflyai.dm
  code/mob/living/critter/ai/shared.dm
  code/modules/antagonists/wraith/critters/ai/exploder.dm
Labels: C-Performance, size/L, A-AI, A-Internal, S-Ready-For-Final-Review

#11950 Port oshan non secret small shuttles
  assets/maps/shuttles/east/oshan_bling.dmm
  assets/maps/shuttles/east/oshan_disaster.dmm
  assets/maps/shuttles/east/oshan_meat.dmm
  assets/maps/shuttles/east/oshan_miniships.dmm
  assets/maps/shuttles/east/oshan_royal.dmm
Labels: A-Mapping, C-Rework, size/XXL

#11953 Wrestlemap: Fixes #11949
  maps/wrestlemap.dmm
Labels: C-Bug, A-Mapping, size/XS, A-Medical

#11957 Sterile mask blocks miasma
  code/obj/item/clothing/masks.dm
Labels: C-Balance, E-Input-Wanted, C-QoL, size/XS, A-Medical, A-Chemistry

#11958 Revert "Sterile mask blocks miasma"
  code/obj/item/clothing/masks.dm
Labels: C-Revert, size/XS

#11966 Revert "Move vehicle restrictions to vehicles"
  code/modules/transport/pods/vehicle.dm
  code/turf/floors.dm
Labels: size/M

#11630 Canbomb suicide fix
  code/modules/atmospherics/portable/canister.dm
Labels: C-Bug, S-Stale, size/S

#11941 Pizza vendor TGUI
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/vending/vending.dm
  code/obj/machinery/porters.dm
  tgui/packages/tgui/interfaces/Vendors.js
Labels: C-Bug, C-Code-Quality, A-UI, size/XL, A-Catering

#11967 Cut off the wraith's hands
  code/mob/living/intangible/wraith.dm
  goonstation.dme
Labels: C-Bug, size/XS, A-Player-Actions

#11111 Analyzers show temperature in Kelvin
  code/procs/scanprocs.dm
Labels: C-Rework, size/S, A-Atmospherics, A-Game-Objects, A-Chemistry

#11988 Fixes TextInputModal not allowing messages to be submitted on most of it's instances
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/TextInputModal.tsx
Labels: C-Bug, P-Minor, A-UI, size/XS

#11973 Guardbuddies can now actually patrol on Kondaru
  maps/kondaru.dmm
Labels: C-Bug, A-Mapping, size/S

#11926 adds some transparent glass floor sprites
  code/turf/floors.dm
  code/turf/floors_unsimulated.dm
  icons/turf/floors.dmi
Labels: C-Sprites, size/M

#10758 Reduces the amount of chemicals that leave your blood stream when you bleed.
  code/modules/medical/blood_system.dm
Labels: C-Balance, size/S, A-Medical, A-Chemistry, S-Ready-For-Final-Review

#11986 Fix transception interlink/pad range limit
  code/WorkInProgress/nadir_antenna.dm
Labels: C-Bug, size/XS, A-Station-Systems

#11982 Fix vend_ready usage allowing vending machine spam
  code/modules/vending/vending.dm
Labels: C-Bug, size/S, A-Game-Objects

#11990 Fixes dagger hitsound playing two sounds
  code/obj/item/misc_weapons.dm
Labels: C-Bug, C-Sound, size/XS, A-Game-Objects

#11969 adds construction access to engineers
  code/procs/access.dm
Labels: C-Feature, size/XS, A-Station-Systems

#11965 Fixes flockpanel being eternally out of focus
  code/datums/flock/flock.dm
Labels: C-Bug, A-UI, size/XS, A-Gamemodes

#11940 Nadir Fixbatch 8
  assets/maps/prefabs/prefab_water_nadirelevator.dmm
  maps/nadir.dmm
Labels: C-Feature, A-Mapping, C-Balance, C-Rework, C-Removal, size/L

#11894 Fixes flockmind antag popup being wrong
  browserassets/html/traitorTips/flockmindTips.html
Labels: C-Bug, size/XS, A-Gamemodes

#11907 Fixes some issues with wraith's critters
  _std/defines/roles.dm
  code/datums/abilities/wraith.dm
  code/modules/antagonists/wraith/critters/nascent.dm
  code/modules/antagonists/wraith/critters/plaguerat.dm
  code/modules/antagonists/wraith/critters/skeleton_commander.dm
  code/modules/antagonists/wraith/critters/spiker.dm
  code/modules/antagonists/wraith/critters/voidhound.dm
Labels: C-Bug, size/M, A-Gamemodes

#11997 A couple of random floor tile fixes
  code/turf/floors.dm
  code/turf/floors_unsimulated.dm
  icons/turf/construction_floors.dmi
  icons/turf/floors.dmi
Labels: C-Sprites, size/S

#11777 More Food Resprites: meatloaf, fish fingers, icing tube
  icons/obj/foodNdrink/food.dmi
Labels: C-Sprites, E-Add-To-Wiki, size/XS, A-Game-Objects, A-Catering, S-Ready-For-Final-Review

#12004 Quick fix to immortal rats
  code/modules/antagonists/wraith/critters/plaguerat.dm
Labels: size/XS

#11854 Fix mutini sometimes removing abilities you already have or your mutantrace
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: C-Bug, size/M, A-Chemistry

#11860 Mining cyborgs can now get cargo alerts
  code/modules/robotics/robot/module/mining.dm
Labels: C-Feature, size/XS, A-Silicons, S-Ready-For-Final-Review

#11437 Add another three new maps to random room selection
  assets/maps/random_rooms/3x5/ranchroom_75.dmm
  assets/maps/random_rooms/5x3/closedoff.dmm
  assets/maps/random_rooms/5x3/laundromat.dmm
Labels: A-Mapping, size/L

#11537 Mobifies roach
  assets/maps/prefabs/prefab_dreamplaza.dmm
  assets/maps/prefabs/prefab_water_nadirelevator.dmm
  assets/maps/prefabs/prefab_water_seamonkey.dmm
  assets/maps/random_rooms/3x3/clothes.dmm
  assets/maps/random_rooms/3x5/snackarea.dmm
  assets/maps/random_rooms/5x3/snackarea.dmm
  code/mob/living/critter/ai/roach.dm
  code/mob/living/critter/small_animal.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/economy/traders/pianzi_hundan.dm
  code/modules/events/minor/pests.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/obj/critter/pets_small_animals.dm
  code/procs/bug_report.dm
  code/z_adventurezones/space_casino.dm
  goonstation.dme
  icons/misc/critter.dmi
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogwip/kappa.dmm
  maps/cogwip/ships.dmm
  maps/donut2.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/unused/oldmap.dmm
  maps/unused/samedi.dmm
  maps/unused/setpieces/SHARED_biodomeExpanded.dmm
  maps/z2.dmm
  maps/z3.dmm
Labels: A-Mapping, C-Sprites, C-Rework, size/L, A-AI, S-Ready-For-Final-Review

#11962 Cable Spawners
  _std/macros/dir.dm
  code/modules/power/cable.dm
  code/modules/power/cablecolors.dm
  icons/obj/power_cond.dmi
Labels: C-Feature, A-Mapping, C-Sprites, C-QoL, size/L, A-Game-Objects, A-Internal, A-Station-Systems

#12012 added 2 new sprites for reinforced cablespawners
  code/modules/power/cable.dm
  icons/obj/power_cond.dmi
Labels: C-Sprites, size/XS

#12011 Unreverts abilitystat fixes
  code/datums/abilities/ability_parent.dm
Labels: C-Bug, A-UI, size/S

#11980 Fix some issues with Revenants
  code/datums/abilities/revenant.dm
Labels: C-Bug, C-Balance, size/M, A-Player-Actions

#11928 Adds a new terrainify option to fill space with plasma
  code/modules/admin/terrainify.dm
  code/turf/turf.dm
Labels: C-Feature, C-Experimental, size/S, A-Admin

#11577 Mobifies mice
  assets/maps/prefabs/prefab_adrift_cargo_router.dmm
  assets/maps/prefabs/prefab_drug_den.dmm
  assets/maps/random_rooms/5x3/wiregnaw.dmm
  code/WorkInProgress/construction/event_controller.dm
  code/mob/living/critter/ai/generic_critter.dm
  code/mob/living/critter/ai/mouse.dm
  code/mob/living/critter/small_animal.dm
  code/modules/antagonists/wraith/objs/machinery/rat_den.dm
  code/modules/antagonists/wraith/objs/wraith_critters.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/events/minor/pests.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/item/mousetrap.dm
  code/obj/item/sponge_capsule.dm
  code/obj/random_spawners.dm
  goonstation.dme
  maps/atlas.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogwip/ships.dmm
  maps/destiny.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/unused/chiron.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/linemap.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/old_trunkmap.dmm
  maps/unused/setpieces/SHARED_biodomeExpanded.dmm
  maps/unused/trunkmap.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
  maps/z3.dmm
  maps/z5.dmm
Labels: A-Mapping, C-Rework, size/L, A-AI

#11501 Let cyborgs use their beakers in Reagent Extractors
  code/obj/submachine/seed.dm
Labels: C-QoL, S-Stale, size/M, A-Chemistry, A-Silicons

#11760 Adds a Flock ignore system
  _std/macros/flock.dm
  code/datums/abilities/flock/flockmind.dm
  code/datums/components/flock/flockprotection.dm
  code/datums/flock/flock.dm
  code/mob.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/intangible/flock/flockmind.dm
  code/mob/living/intangible/flock/flocktrace.dm
  icons/misc/featherzone.dmi
  icons/mob/flock_ui.dmi
  strings/flockmind.txt
Labels: C-Feature, C-Sprites, size/L, A-Gamemodes, S-Ready-For-Final-Review

#12000 Syndicate intelligence character profile field (revival of #6791)
  _std/defines/preferences.dm
  browserassets/tgui/tgui.bundle.js
  code/datums/datacore.dm
  code/datums/preferences.dm
  code/obj/item/uplinks.dm
  code/procs/jobprocs.dm
  tgui/packages/tgui/interfaces/CharacterPreferences/GeneralTab.tsx
  tgui/packages/tgui/interfaces/CharacterPreferences/type.ts
Labels: C-Feature, A-UI, E-Add-To-Wiki, size/L

#12022 Adds black lawyer suit to sec vendor
  code/modules/vending/vending.dm
Labels: C-QoL, size/XS, A-Clothing

#11995 Make genetics booth eject user if their selected product gets locked
  code/modules/medical/genetics/geneticsBooth.dm
  code/modules/medical/genetics/geneticsMachines.dm
Labels: C-Bug, size/S, A-Medical

#11439 Shuttle console parent
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/computer/shuttle.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/destiny.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/ozymandias.dmm
  maps/unused/crash_gimmick_2.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
  maps/z3.dmm
  maps/z5.dmm
  tgui/packages/tgui/interfaces/TransitShuttle.js
Labels: C-Bug, A-Mapping, C-QoL, S-Merge-Conflict, C-Rework, A-UI, size/XXL, A-Game-Objects

#12031 Prevents VR uplink access to Syndicate Intelligence
  code/obj/item/uplinks.dm
Labels: C-Bug, size/XS, A-Gamemodes

#12006 Makes critter kinetic gun arms push back in space
  code/datums/limb.dm
  code/mob/living/critter/arena/fire_elemental.dm
  code/mob/living/critter/drone.dm
  code/mob/living/critter/drone/ar.dm
  code/mob/living/critter/drone/cr.dm
  code/mob/living/critter/drone/glitch.dm
  code/mob/living/critter/drone/hk.dm
  code/mob/living/critter/gunbot.dm
  code/mob/living/critter/mechmonstrosity.dm
  code/mob/living/critter/small_animal.dm
Labels: C-Feature, C-Balance, size/M

#11993 Pathfinding Options
  _std/pathfinding.dm
Labels: C-QoL, size/M, A-Internal

#11977 Makes floor scanners and health status screens mech-scannable
  code/obj/health_scanner.dm
Labels: size/XS

#11968 Reduce some Flock randomness
  code/obj/flock/structure/rift.dm
  code/obj/flock/structure/sentinel.dm
Labels: C-Balance, size/M, A-Gamemodes

#11893 Fix cheesewheel recipe only needing a single cheese
  code/datums/cookingrecipes.dm
Labels: C-Bug, size/S, A-Game-Objects

#11649 Rework Flocktrace creation
  _std/macros/flock.dm
  code/datums/abilities/flock/flockmind.dm
  code/datums/flock/flock.dm
  code/mob/living/intangible/flock/flocktrace.dm
Labels: C-Rework, size/M, A-Gamemodes

#11331 Janitors now spawn with a janny pack containing starting gear
  code/datums/jobs.dm
  code/obj/item/storage/backpack_belt_etc.dm
  icons/mob/clothing/belt.dmi
  icons/obj/items/belts.dmi
Labels: C-Sprites, C-Balance, C-QoL, E-Add-To-Wiki, size/S, A-Clothing

#12049 Fix trickster puppet names
  code/datums/abilities/wraith.dm
  code/mob/living/intangible/wraith.dm
Labels: size/S

#11836 Minimap Markers
  _std/__std.dme
  _std/defines/component_defines/component_defines_atom.dm
  _std/defines/minimap.dm
  code/datums/components/minimap_marker.dm
  code/global.dm
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/silicon/ai.dm
  code/modules/minimap/minimap.dm
  code/modules/minimap/minimap_marker.dm
  code/modules/minimap/minimap_object.dm
  goonstation.dme
  icons/obj/minimap/minimap.dmi
  icons/obj/minimap/minimap_markers.dmi
Labels: C-Feature, C-Sprites, size/L, A-Game-Objects

#12059 Fixes using the GPS verb on the same Y level as the genebooth teleporting you to it
  code/atom.dm
  code/modules/atmospherics/FEA_system.dm
  code/modules/medical/genetics/geneticsBooth.dm
Labels: C-Bug, size/M, A-Game-Objects

#12064 fix shuttle destinations lookup
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/TransitShuttle.js
Labels: C-Bug, S-Merge-Conflict, P-Critical, A-UI, size/XS

#12047 Fix reactor stats pressure unit
  code/modules/power/reactor_stats.dm
Labels: size/S

#12074 monke clothes fixes
  icons/mob/monkey/belt.dmi
  icons/mob/monkey/bighat.dmi
  icons/mob/monkey/overcoats.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Clothing

#12072 Makes air scrubbers store the smoked reagents they collect
  _std/macros/reagents.dm
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/atmospherics/portable/scrubber.dm
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/tools/balloons.dm
  code/modules/chemistry/tools/droppers.dm
  code/modules/chemistry/tools/extinguisher.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/chemistry/tools/hyposprays.dm
  code/modules/chemistry/tools/patches.dm
  code/obj/item/flamethrower.dm
  code/obj/submachine/seed.dm
  goonstation.dme
  tgui/packages/tgui/interfaces/PortableScrubber.js
Labels: C-Feature, A-UI, size/L, A-Chemistry

#12073 Fix GC issues with Flock examine tags
  code/modules/interface/flock_examine_tag.dm
Labels: C-Bug, size/XS, A-Internal
