Repository goonstation/goonstation, pull requests merged in 2023-01, with the labels that each got.

#12582 New Cannabis Sprites (Again)
  icons/obj/hydroponics/items_hydroponics.dmi
Labels: C-Sprites, size/XS

#12502 Showers log when trying to access a missing `reagent_id`
  code/obj/machinery/shower.dm
Labels: C-Bug, C-Runtime, size/XS, A-Game-Objects

#12369 Allows ghosts to automatically open TGUI windows
  _std/defines/component_defines/component_defines_datum.dm
  code/mob/dead/observer.dm
  code/mob/dead/target_observer.dm
  code/modules/tgui/tgui.dm
Labels: C-Feature, A-UI, size/M, A-Internal, S-Ready-For-Final-Review

#12316 Flamethrower tgui
  browserassets/tgui/tgui-panel.bundle.css
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/atmospherics/portable/canister.dm
  code/modules/atmospherics/portable/pump.dm
  code/modules/atmospherics/portable/scrubber.dm
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/tools/droppers.dm
  code/obj/item/flamethrower.dm
  code/obj/item/tank.dm
  tgui/packages/tgui/components/ProgressBar.js
  tgui/packages/tgui/interfaces/Flamethrower.js
  tgui/packages/tgui/interfaces/MechanicalDropper.js
  tgui/packages/tgui/interfaces/common/PortableAtmos.js
  tgui/packages/tgui/interfaces/common/ReagentInfo.tsx
  tgui/packages/tgui/styles/components/ProgressBar.scss
Labels: C-Feature, C-QoL, S-Merge-Conflict, A-UI, size/XL, A-Game-Objects

#12443 Fixes a runtime when emptying hydroponic trays without plants and prevents ghost critter from emptying trays
  code/obj/machinery/plantpot.dm
Labels: C-Bug, S-Stale, size/XS, A-Hydroponics

#12464 Radioactive turfs glow
  code/datums/components/radioactive.dm
  icons/effects/effects.dmi
Labels: C-Sprites, C-Balance, size/S, A-Chemistry, S-Ready-For-Final-Review

#12232 Cable spawners patches
  _std/macros/dir.dm
  code/modules/power/cable.dm
Labels: C-Bug, P-Minor, A-Mapping, size/L, A-Internal

#12583 Quick fix for reactor suicide message
  code/obj/nuclearreactor/nuclearreactor.dm
Labels: C-Bug, size/XS, A-Game-Objects

#12606 🔭🪐
  assets/maps/prefabs/prefab_corn_and_weed.dmm
  assets/maps/prefabs/prefab_organic_organs.dmm
  assets/maps/prefabs/prefab_planet_angry_birds.dmm
  assets/maps/prefabs/prefab_planet_artifact_small.dmm
  assets/maps/prefabs/prefab_planet_bear_den.dmm
  assets/maps/prefabs/prefab_planet_beer_cave.dmm
  assets/maps/prefabs/prefab_planet_birds.dmm
  assets/maps/prefabs/prefab_planet_dead_nt.dmm
  assets/maps/prefabs/prefab_planet_dead_synd.dmm
  assets/maps/prefabs/prefab_planet_lost_cargo.dmm
  assets/maps/prefabs/prefab_planet_monkeys.dmm
  assets/maps/prefabs/prefab_planet_rogue_synd.dmm
  assets/maps/prefabs/prefab_planet_tomato_den.dmm
  code/WorkInProgress/artemis/GeneratePlanets.dm
  code/WorkInProgress/artemis/planetary_teleporter.dm
  code/mob/living/carbon/human/npc.dm
  code/modules/events/gimmick/generate_planet.dm
  code/modules/worldgen/prefab/planet.dm
  goonstation.dme
  icons/misc/artemis/temps.dmi
Labels: C-Feature, A-Mapping, C-Sprites, C-Experimental, size/XXL, A-Admin, A-Game-Objects, A-Science

#12594 Stop Flock gnesis turret trying to fire through windows
  code/obj/flock/structure/gnesisturret.dm
Labels: C-Bug, size/S, A-Gamemodes, A-Game-Objects, S-Ready-For-Final-Review

#12581 Makes desk clutter a cleanable
  assets/maps/prefabs/prefab_janitor.dmm
  assets/maps/prefabs/prefab_von_ricken.dmm
  code/WorkInProgress/RandomStation.dm
  code/WorkInProgress/ud5/backup/z7_urs_dungeon_5.dmm
  code/obj.dm
  code/obj/decal/cleanable.dm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogwip/kappa.dmm
  maps/cogwip/ships.dmm
  maps/density.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/nadir.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/setpieces/regina.dmm
  maps/unused/chiron.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/linemap.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/oldmap.dmm
  maps/unused/samedi.dmm
  maps/unused/setpieces/SHARED_biodomeExpanded.dmm
  maps/unused/trunkmap.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
  maps/z3.dmm
  maps/zamujasa/nomad.dmm
Labels: A-Mapping, C-QoL, size/XXL, A-Game-Objects, S-Ready-For-Final-Review

#12615 clarion patches
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/XS

#12611 fix xiang giesel spellings
  code/obj/item/gun/energy.dm
  strings/station_name_whitelist.txt
Labels: C-Bug, size/XS, A-Game-Objects

#12585 Makes flock incapacitors recharge at half speed while not on a feathertile
  code/datums/components/power_cell.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/obj/flock/goods.dm
  code/obj/item/gun/ammo.dm
Labels: C-Balance, E-Add-To-Wiki, size/S, A-Gamemodes

#12631 ⛏️🌏 & 👷🌎
  _std/macros/maps.dm
  code/WorkInProgress/artemis/GeneratePlanets.dm
  code/datums/components/buildableturf.dm
  code/modules/events/gimmick/generate_planet.dm
  code/modules/mining/mining_encounters.dm
  code/modules/worldgen/mapgen/DesertGenerator.dm
  code/modules/worldgen/mapgen/JungleGenerator.dm
  code/modules/worldgen/mapgen/biomes/_biome.dm
  code/obj/decorations.dm
  code/obj/item/rcd.dm
  code/obj/mining.dm
  code/turf/turf.dm
Labels: size/L

#12634 Specifies Honey & Mint Tea
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: size/XS, S-Ready-For-Final-Review

#12562 reduce delay between stacking items on ground in hands
  code/modules/materials/Mat_RawMaterials.dm
  code/obj/item.dm
  code/obj/item/material.dm
Labels: C-Bug, size/S, A-Game-Objects

#12598 Balance radiation spread from nuclear reactor
  code/datums/components/radioactive.dm
  code/modules/atmospherics/FEA_turf_tile.dm
  code/obj/item/gun/energy.dm
  code/obj/nuclearreactor/nuclearreactor.dm
Labels: C-Balance, size/M, A-Game-Objects, S-Ready-For-Final-Review

#12467 Removes the fuckable girder
  code/turf/floors.dm
Labels: C-Removal, size/XS, A-Game-Objects, S-Controversial

#12661 Adds plates to oshan mining
  maps/oshan.dmm
Labels: C-Bug, P-Minor, A-Mapping, size/XS

#12632 Resprites .38 Revolver Ammunition
  icons/obj/items/ammo.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#12673 Nerfs flock incapacitor
  code/mob/living/critter/flock/flockdrone.dm
Labels: C-Balance, size/XS, A-Gamemodes

#12665 Clean up send_intercept() code
  code/datums/gamemodes/assday_classic.dm
  code/datums/gamemodes/blob.dm
  code/datums/gamemodes/changeling.dm
  code/datums/gamemodes/conspiracy.dm
  code/datums/gamemodes/gangwar.dm
  code/datums/gamemodes/gm_parent.dm
  code/datums/gamemodes/mixed.dm
  code/datums/gamemodes/nuclear.dm
  code/datums/gamemodes/revolution.dm
  code/datums/gamemodes/spy.dm
  code/datums/gamemodes/spy_theft.dm
  code/datums/gamemodes/traitor.dm
  code/datums/gamemodes/waldo.dm
  code/datums/gamemodes/wizard.dm
  code/datums/intercept_text.dm
Labels: C-Code-Quality, size/L, A-Internal

#12479 Destructible stones
  code/obj/decorations.dm
Labels: C-Feature, size/M, A-Game-Objects

#12684 Fixes some ks_ratio jank that caused flockdrones to not stun silicons
  code/mob/living/silicon/robot.dm
Labels: C-Bug, size/XS, A-Gamemodes

#12539 Makes spawner grenades more customizable
  code/obj/item/grenades.dm
Labels: C-QoL, size/XS, A-Admin

#12674 Prevents flock sentinels from targeting incapacitated enemies
  code/obj/flock/structure/sentinel.dm
Labels: C-Balance, size/XS, A-Gamemodes

#12103 A real voice for the sound synth component
  code/modules/mechanics/MechanicMadness.dm
Labels: C-QoL, size/S, A-Game-Objects

#12213 Oceanify changes catwalk support turfs
  code/modules/fluids/fluid_commands.dm
Labels: C-Feature, S-Stale, size/XS, A-Admin, S-Ready-For-Final-Review

#12168 Fix gas_mixture not GC'ing for at least some turf replacement cases
  code/turf/turf.dm
Labels: C-Bug, size/XS, A-Internal

#12392 renames MONO to SOLO
  code/modules/vending/vending.dm
  code/obj/item/book.dm
  code/obj/item/solo_card_game.dm
  goonstation.dme
  icons/obj/items/playing_card.dmi
  strings/books/solo_rules.txt
Labels: C-Sprites, size/M

#12431 Flock Stats
  code/datums/flock/flock.dm
  code/datums/flock/flockstats.dm
  code/datums/gamemodes/gm_parent.dm
  code/datums/gameticker.dm
  code/mob/living/critter/flock/flockbit.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/mob/living/intangible/flock/flockmind.dm
  code/mob/living/intangible/flock/flocktrace.dm
  code/modules/tutorials/flock_tutorial.dm
  code/obj/flock/structure/flock_structure_ghost.dm
  code/obj/flock/structure/relay.dm
  goonstation.dme
  maps/oshan.dmm
  maps/variants/flocktrader/flocktrader-advanced.dmm
  maps/variants/flocktrader/flocktrader-complete.dmm
  maps/z3.dmm
Labels: C-Feature, A-Mapping, size/L, A-Gamemodes, S-Ready-For-Final-Review

#12450 removes duplicate phone.dm
  code/obj/machinery/phone.dm
  code/obj/machinery/phone/phone.dm
  goonstation.dme
Labels: C-Code-Quality, size/XL, A-Game-Objects

#12530 Enables the botanical mister to be anchored
  code/obj/machinery/plantpot.dm
Labels: C-Feature, size/XS

#12609 Make koshmarite a weak source of neutron radiation
  code/modules/materials/Mat_Materials.dm
  code/modules/materials/Mat_Properties.dm
Labels: C-Balance, size/XS, A-Materials

#12364 tidied up the cog2 TEG cables
  maps/cogmap2.dmm
Labels: P-Minor, A-Mapping, size/L, S-Controversial

#12032 Pipe Spawners
  code/WorkInProgress/recycling/disposal.dm
  icons/obj/disposal.dmi
Labels: C-Feature, A-Mapping, C-Sprites, C-QoL, size/L, A-Game-Objects, A-Internal, A-Station-Systems

#12692 Leah office
  code/modules/chemistry/Reagents-Misc.dm
  code/obj/item/plants.dm
  code/z_adventurezones/earth.dm
  maps/z2.dmm
Labels: A-Mapping, size/L

#12693 Fix for special meal requisition abstract type goof
  code/modules/economy/requisition/rc_special.dm
Labels: C-Bug, size/S

#12463 Nuclear Operative Planning Map
  _std/defines/minimap.dm
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/area.dm
  code/datums/components/minimap_marker.dm
  code/datums/gamemodes/nuclear.dm
  code/mob/living/silicon/ai.dm
  code/modules/minimap/minimap.dm
  code/modules/minimap/minimap_marker.dm
  code/modules/minimap/minimap_object.dm
  code/modules/minimap/minimap_ui.dm
  code/modules/transport/pods/warp_travel.dm
  code/obj/machinery/shield_generators/shield_generator.dm
  goonstation.dme
  icons/obj/items/device.dmi
  icons/obj/minimap/map_computer.dmi
  icons/obj/minimap/minimap_markers.dmi
  maps/z2.dmm
  tgui/packages/tgui/interfaces/Minimap.js
  tgui/packages/tgui/interfaces/MinimapController.js
  tgui/packages/tgui/styles/interfaces/MinimapController.scss
  tgui/packages/tgui/styles/main.scss
Labels: C-Feature, A-Mapping, C-Sprites, C-Experimental, A-UI, E-Add-To-Wiki, size/XXL, A-Gamemodes

#12651 Fixes being able to see into the Donut 2 AI Upload using cameras
  code/obj/machinery/camera.dm
Labels: C-Bug, size/XS, A-Game-Objects

#12664 Adds the ability to pick a custom spawn location for antag spawn events
  code/modules/admin/data_input.dm
  code/modules/events/antag_ghost_respawn.dm
  code/modules/events/antagonist_critter_ghost_respawn.dm
Labels: C-Feature, C-QoL, size/M, A-Admin

#12508 Makes refilling cyborg docking stations a bit less jank
  code/modules/robotics/robot/robot_docking_station.dm
Labels: C-QoL, size/S, A-Game-Objects

#12690 Adds fingerprints when you toggle a valve with your hands
  code/modules/atmospherics/machinery/valve.dm
Labels: C-Bug, size/XS, A-Game-Objects

#12491 "Nuclear" Status Display mode set when nuclear bomb is armed.
  code/obj/machinery/nuclearbomb.dm
  code/obj/machinery/status_display.dm
  icons/obj/status_display.dmi
Labels: C-Feature, C-Sprites, size/M, A-Gamemodes, A-Game-Objects

#12704 Fixes #12695 - NukeOp Planning Maps Now Correctly Handle Multi-Area Plant Locations
  code/datums/gamemodes/nuclear.dm
Labels: C-Bug, size/S, A-Game-Objects

#12705 Fix a bit of shitcode
  code/mob/new_player.dm
Labels: size/S

#12714 Fix health scanner recipe
  code/obj/health_scanner.dm
Labels: size/XS

#12708 super secret easteregg
  code/mob/living/intangible/flock/flockmind.dm
  icons/misc/featherzone.dmi
Labels: C-Sprites, size/XS

#12124 Fix a few issues with Flockdrone selecting
  code/datums/abilities/flock/flockmind.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/intangible/flockmob_parent.dm
Labels: C-Bug, C-Runtime, size/M, A-Gamemodes

#12678 removal of pathology from atlas, etc.
  code/obj/storage/wall_cabinet.dm
  maps/atlas.dmm
Labels: A-Mapping, size/XXL

#12722 minor clarion patches
  code/map.dm
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/XS

#12718 Adds a crew respawn event
  code/datums/controllers/event_controls.dm
  code/datums/crew_objective.dm
  code/datums/jobs.dm
  code/modules/events/antag_ghost_respawn.dm
  code/modules/events/antagonist_critter_ghost_respawn.dm
  code/modules/events/crew_spawn.dm
  code/modules/events/playable_pests.dm
  code/modules/events/random_event.dm
  goonstation.dme
Labels: C-Feature, size/L, A-Admin

#12701 Vortex interdiction
  code/obj/vortex.dm
Labels: C-Bug, P-Major, size/L, A-Game-Objects, A-Events

#12667 Nadir "Multi-Melty" Update (nuclear reactor, Mining dept. introduction)
  assets/maps/prefabs/prefab_water_nadirelevator.dmm
  code/map.dm
  code/modules/fluids/fluid_turf.dm
  code/modules/transport/pods/ships.dm
  code/modules/worldgen/prefab/mining.dm
  maps/nadir.dmm
Labels: C-Feature, A-Mapping, size/XXL, S-Ready-For-Final-Review

#12735 Patch engivac to work on pick-up
  code/obj/item/tool/engivac.dm
Labels: C-Bug, size/XS, A-Game-Objects

#12720 Nuclear Reactor Gas Tweaks
  browserassets/tgui/tgui.bundle.js
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/reactorcomponents.dm
  code/obj/nuclearreactor/turbine.dm
  strings/books/nuclear_engineering.txt
  tgui/packages/tgui/interfaces/TurbineControl.js
Labels: C-QoL, A-UI, E-Add-To-Wiki, size/M, A-Atmospherics, A-Game-Objects

#12748 Replaces airless tiles on radio station.
  maps/z3.dmm
Labels: C-Bug, A-Mapping, size/S

#12405 Chem request consoles for QM office
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, size/M, A-Game-Objects, A-Science, S-Ready-For-Final-Review

#12746 Spicy Dead Hen Meat no longer makes Spicy Chicken Sandwiches Fix
  code/obj/submachine/cooking.dm
Labels: C-Bug, size/XS

#12731 Contents of unopened soda can be poured out of the container fix.
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/drinks.dm
Labels: C-Bug, size/S, A-Catering

#12739 Nadir Multi-Melty mini degoof batch
  maps/nadir.dmm
Labels: C-Bug, P-Minor, A-Mapping, size/M

#12455 Slight rewrite of material appearance
  code/atom.dm
  code/modules/materials/Mat_ProcsDefines.dm
  code/modules/materials/Mat_RawMaterials.dm
  code/obj/item/material.dm
  code/obj/mining_cloud_storage.dm
  icons/obj/materials.dmi
Labels: C-Bug, C-Sprites, S-Stale, size/L, A-Materials, A-Internal

#12754 Set material admin verb
  code/modules/admin/admin_holder.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
Labels: size/S, A-Materials, A-Admin

#12755 Componentized pinpointer hud trackers
  code/datums/components/tracker_hud.dm
  code/datums/controllers/process/tracker_hud.dm
  code/obj/item/pinpointer.dm
  goonstation.dme
Labels: C-Feature, C-Code-Quality, size/L, A-Internal

#12390 Reworks Chess + Adds Board Game Clocks
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/sound/soundCache.dm
  code/modules/vending/vending.dm
  code/obj/item/boardgame/boardgame.dm
  code/obj/item/boardgame/boards/chessboard.dm
  code/obj/item/boardgame/gameclock.dm
  code/obj/item/boardgame/readme.md
  goonstation.dme
  icons/obj/items/boardgame.dmi
  sound/effects/bell_high_pitch.ogg
  sound/effects/capture.ogg
  sound/effects/sine_boop.ogg
  sound/impact_sounds/Clock_slap.ogg
  sound/impact_sounds/Wood_Tap.ogg
  tgui/packages/tgui/interfaces/Boardgame/Components/board/common/GridGuideRenderer.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/board/common/GridPieceRenderer.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/board/helpers.ts
  tgui/packages/tgui/interfaces/Boardgame/Components/board/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/board/styles/checkerboard/CheckerBoardPattern.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/board/styles/checkerboard/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/board/styles/types.ts
  tgui/packages/tgui/interfaces/Boardgame/Components/common/BoardgameContents.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/common/ButtonConfirm.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/common/HeldPieceRenderer.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/common/Notations.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/common/Palettes.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/common/TitleBar.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/games/chess/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/games/chess/pieces.tsx
  tgui/packages/tgui/interfaces/Boardgame/games/draughts/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/games/draughts/pieces.tsx
  tgui/packages/tgui/interfaces/Boardgame/games/index.ts
  tgui/packages/tgui/interfaces/Boardgame/games/kits.ts
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/utils/index.ts
  tgui/packages/tgui/interfaces/Boardgame/utils/notations.ts
  tgui/packages/tgui/interfaces/Boardgame/utils/types.ts
  tgui/packages/tgui/interfaces/Boardgame/utils/useActions.ts
  tgui/packages/tgui/interfaces/Boardgame/utils/useStates.ts
  tgui/packages/tgui/interfaces/Boardgame/utils/window.ts
  tgui/packages/tgui/interfaces/Gameclock/index.tsx
  tgui/packages/tgui/interfaces/Gameclock/types.tsx
  tgui/packages/tgui/styles/interfaces/Boardgame/board.scss
  tgui/packages/tgui/styles/interfaces/Boardgame/main.scss
  tgui/packages/tgui/styles/interfaces/Boardgame/notations.scss
  tgui/packages/tgui/styles/interfaces/Boardgame/palettes.scss
  tgui/packages/tgui/styles/interfaces/Boardgame/setup.scss
  tgui/packages/tgui/styles/interfaces/Gameclock.scss
  tgui/packages/tgui/styles/main.scss
Labels: C-Feature, C-Sprites, S-Merge-Conflict, C-Rework, C-Sound, A-UI, E-Add-To-Wiki, size/XXL, A-Game-Objects, C-Documentation

#12747 Allow NTSC baton to be flipped
  code/obj/item/stun_baton.dm
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/items/weapons.dmi
Labels: C-Sprites, size/S, A-Game-Objects

#12729 CE suit typo
  code/obj/item/clothing/uniforms.dm
Labels: C-Bug, P-Minor, size/XS

#12730 Adds a cleaning grenade manudrive to the janitor locker on Atlas
  code/obj/storage/closets.dm
Labels: C-Bug, size/XS, A-Game-Objects

#12758 adds klepto block prop to board games and gameclocks
  code/obj/item/boardgame/boardgame.dm
  code/obj/item/boardgame/gameclock.dm
Labels: C-QoL, size/XS, A-Game-Objects

#12719 Dev guide edit
  .github/DEV_GUIDE.md
Labels: A-Tooling, size/XS, C-Documentation

#12765 fix coneyor race condition
  code/WorkInProgress/recycling/conveyor.dm
Labels: C-Runtime, size/XS

#11684 Make changes to how Flockbits and Flockdrones use items and guns
  code/datums/limb.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/obj/item.dm
  code/obj/item/gun/gun_parent.dm
Labels: C-Balance, size/S, A-Gamemodes

#12742 Make turfs below the nuclear reactor and turbine immune to explosions
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/turbine.dm
  code/turf/floors.dm
Labels: C-QoL, size/S, A-Game-Objects

#12776 Fix a couple material appearance bugs
  code/modules/materials/Mat_RawMaterials.dm
  code/obj/mining.dm
Labels: size/XS

#12588 Gives the rancher a belt to carry chickens with
  code/datums/jobs.dm
  code/obj/item/storage/backpack_belt_etc.dm
  icons/mob/clothing/belt.dmi
  icons/obj/items/belts.dmi
Labels: C-Sprites, size/S, A-Game-Objects

#12759 Nadir post-multi-melty camera coverage fix/adjust
  maps/nadir.dmm
Labels: C-Bug, A-Mapping, size/L

#12761 Money Joints Sprites
  code/obj/item/plants.dm
  icons/mob/clothing/mask.dmi
  icons/mob/inhand/hand_general.dmi
  icons/mob/lizard/mask.dmi
  icons/mob/monkey/mask.dmi
  icons/obj/items/cigarettes.dmi
Labels: C-Feature, C-Sprites, size/XS

#12725 Resprites Pod Wars Control Point Computers
  code/datums/gamemodes/pod_wars.dm
  code/datums/gamemodes/pod_wars/pw_misc_objects.dm
  icons/obj/control_point_computer.dmi
  maps/pod_wars.dmm
Labels: A-Mapping, C-Sprites, size/M, A-Game-Objects

#12717 Thralls only get a blood penalty for draining rotten corpses
  code/datums/abilities/vampire/vampire_bite.dm
Labels: C-Balance, size/XS, A-Gamemodes, A-Player-Actions

#12787 fixes erroneous access spawns in atlas medbay
  maps/atlas.dmm
Labels: C-Bug, A-Mapping, size/XS

#11826 CheMaster3000 rewrite with TGUI
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/chemistry/Chemistry-Machinery.dm
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/tools/food_and_drink.dm
  tgui/packages/tgui/interfaces/ChemMaster.js
Labels: C-Feature, C-Code-Quality, C-Balance, C-QoL, S-Merge-Conflict, A-UI, size/XXL, A-Chemistry, A-Silicons

#12801 Reactor flicker tweak
  code/obj/nuclearreactor/nuclearreactor.dm
Labels: C-QoL, size/XS, A-Station-Systems

#12211 Add some unique functionality for glass flooring
  code/datums/abilities/critter/singularity.dm
  code/turf/floors.dm
Labels: C-Feature, E-DNM, size/L, A-Internal

#12723 rotates cog1 ranch railings
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/M

#12442 Fix satchels spawning with internals
  code/datums/jobs.dm
  code/datums/manufacturing.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/storage/small_storage_parent.dm
  code/obj/storage/secure_closets.dm
Labels: C-Bug, size/L, A-Game-Objects

#12650 Stops you from activating sawflies in sanctuary zones
  code/obj/sawflymisc.dm
Labels: C-Bug, size/XS, A-Game-Objects

#12771 Changes dirtype manifolds on clarion
  maps/clarion.dmm
Labels: A-Mapping, C-Code-Quality, size/S

#12808 Fixed intial() call in uplinks.dm
  code/obj/item/uplinks.dm
Labels: C-Bug, size/XS, A-Gamemodes, A-Internal

#12806 Gave closedoff.dmm air
  assets/maps/random_rooms/5x3/closedoff.dmm
Labels: C-Bug, A-Mapping, size/S

#12658 Makes the afterlife bar teleport you away so you cant see into azones
  code/area.dm
Labels: C-Bug, size/XS, A-Player-Actions

#12795 Centrifuge rework
  code/modules/materials/Mat_RawMaterials.dm
  code/obj/item/material.dm
  code/obj/item/misc_junk.dm
  code/obj/nuclearreactor/centrifuge.dm
  icons/misc/reactorcomponents.dmi
Labels: C-Bug, C-Sprites, C-Balance, C-Rework, size/M, A-Game-Objects

#12799 Fixes arc electroplater not using electricity
  code/obj/machinery/arc_electroplater.dm
Labels: C-Bug, C-Balance, size/S, A-Game-Objects

#12487 Adds french bread... and french toast
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/bread.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_bread.dmi
  icons/obj/foodNdrink/food_snacks.dmi
Labels: C-Sprites, size/M, A-Game-Objects, A-Catering

#12769 wrestlemap ai status display pass 2
  maps/wrestlemap.dmm
Labels: C-Bug, A-Mapping, size/XS

#12817 Gardenias, hydrangeas, birds of paradise, and lavender! 💐
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/tools/dispensers.dm
  code/modules/hydroponics/gene_strains.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants.dm
  code/modules/hydroponics/plants_flower.dm
  code/modules/hydroponics/plants_herb.dm
  code/modules/status_system/statusEffects.dm
  code/obj/effects/particles.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/plants.dm
  code/obj/item/satchel.dm
  code/obj/machinery/plantpot.dm
  code/obj/submachine/seed.dm
  goonstation.dme
  icons/effects/particles.dmi
  icons/mob/clothing/head.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/hydroponics/items_hydroponics.dmi
  icons/obj/hydroponics/plants_flower.dmi
  icons/obj/hydroponics/plants_herb.dmi
  icons/ui/statussystem.dmi
Labels: C-Feature, C-Sprites, size/L, A-Game-Objects, A-Hydroponics

#12824 White hole random event
  code/datums/preferences.dm
  code/modules/events/white_hole.dm
  code/obj/artifacts/artifactprocs.dm
  code/obj/flock/trader.dm
  code/obj/item/plants.dm
  code/procs/logged_phrases.dm
  goonstation.dme
  icons/effects/160x160.dmi
  icons/effects/white_hole_views96x96.dmi
Labels: C-Feature, C-Sprites, size/XXL, A-Events

#12810 Datumises Nuclear Operatives
  _std/defines/roles.dm
  _std/macros/antagchecks.dm
  code/datums/gamemodes/nuclear.dm
  code/datums/jobs.dm
  code/datums/special_r.dm
  code/global.dm
  code/modules/admin/admin.dm
  code/modules/antagonists/nuclear_operative/nuclear_operative.dm
  code/modules/economy/trader.dm
  code/obj/item/uplinks.dm
  code/procs/antagonist_procs.dm
  code/procs/mob_procs.dm
  code/procs/stat_logging.dm
  goonstation.dme
Labels: C-Code-Quality, size/L, A-Gamemodes, A-Internal

#12619 Credit transfer device rework
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/cashreg.dm
  tgui/packages/tgui/interfaces/Cashreg.tsx
  tgui/packages/tgui/styles/interfaces/Cashreg.scss
  tgui/packages/tgui/styles/main.scss
Labels: C-Code-Quality, C-QoL, S-Merge-Conflict, C-Rework, A-UI, E-Add-To-Wiki, size/L, A-Game-Objects

#12643 Makes AI intercom override use the frequency of your second radio instead of using 144.7
  code/obj/item/device/radios/intercoms.dm
Labels: C-QoL, S-Stale, size/XS, A-Game-Objects

#12839 Blunts now inherit transforms from herbs
  code/obj/item/plants.dm
Labels: size/XS

#12836 Deletes browserassets/images/chess directory
  browserassets/images/chess/board_BI.png
  browserassets/images/chess/board_BK.png
  browserassets/images/chess/board_BN.png
  browserassets/images/chess/board_BP.png
  browserassets/images/chess/board_BQ.png
  browserassets/images/chess/board_BR.png
  browserassets/images/chess/board_CB.png
  browserassets/images/chess/board_CR.png
  browserassets/images/chess/board_WI.png
  browserassets/images/chess/board_WK.png
  browserassets/images/chess/board_WN.png
  browserassets/images/chess/board_WP.png
  browserassets/images/chess/board_WQ.png
  browserassets/images/chess/board_WR.png
  browserassets/images/chess/board_none.png
Labels: C-Code-Quality, C-Removal, size/XS

#12774 Tgui light mode
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/client.dm
  code/modules/tgui/tgui.dm
  tgui/packages/tgui/assets/bg-nanotrasen-light.svg
  tgui/packages/tgui/index.js
  tgui/packages/tgui/layouts/Layout.js
  tgui/packages/tgui/layouts/Window.js
  tgui/packages/tgui/styles/theme-modes/base-light.scss
  tgui/packages/tgui/styles/theme-modes/nanotrasen-light.scss
  tgui/packages/tgui/styles/theme-modes/ntos-light.scss
Labels: C-QoL, S-Merge-Conflict, A-UI, size/L

#12834 Adds cargo to white hole locations
  code/modules/events/white_hole.dm
Labels: C-Feature, size/M, A-Events

#12777 mobifies scorpions
  code/datums/abilities/critter/small_animal.dm
  code/mob/living/critter/ai/scorpion.dm
  code/mob/living/critter/small_animal.dm
  code/modules/events/minor/pests.dm
  code/modules/events/start/critter_infestation.dm
  code/obj/vortex.dm
  goonstation.dme
Labels: C-Balance, C-Rework, size/M, A-AI

#12830 replace mat trigger call() with direct calls
  code/modules/materials/Mat_Materials.dm
Labels: C-Code-Quality, size/M, A-Materials, A-Internal

#12638 Machinery vehicle support for acid immersion damage
  code/modules/transport/pods/ships.dm
  code/modules/transport/pods/vehicle.dm
Labels: C-Feature, C-Balance, size/S, A-Vehicles

#12847 Fix infinite-use manudrives
  code/obj/machinery/manufacturer.dm
Labels: C-Bug, size/XS

#12837 Datumises Vampires & Minor Hunter Datum Amendments
  code/WorkInProgress/infernal_contracts.dm
  code/datums/gamemodes/gm_parent.dm
  code/mob/new_player.dm
  code/modules/admin/admin.dm
  code/modules/admin/antagifiers.dm
  code/modules/antagonists/hunter/hunter.dm
  code/modules/antagonists/vampire/abilities/_vampire_ability_holder.dm
  code/modules/antagonists/vampire/abilities/blood_steal.dm
  code/modules/antagonists/vampire/abilities/blood_tracking.dm
  code/modules/antagonists/vampire/abilities/call_bats.dm
  code/modules/antagonists/vampire/abilities/cancel_stun.dm
  code/modules/antagonists/vampire/abilities/coffin.dm
  code/modules/antagonists/vampire/abilities/enthrall.dm
  code/modules/antagonists/vampire/abilities/glare.dm
  code/modules/antagonists/vampire/abilities/hypnotize.dm
  code/modules/antagonists/vampire/abilities/phaseshift_vampire.dm
  code/modules/antagonists/vampire/abilities/plague_touch.dm
  code/modules/antagonists/vampire/abilities/radio_jammer.dm
  code/modules/antagonists/vampire/abilities/screech.dm
  code/modules/antagonists/vampire/abilities/thrall_abilities.dm
  code/modules/antagonists/vampire/abilities/vamp_cloak.dm
  code/modules/antagonists/vampire/abilities/vampire_bite.dm
  code/modules/antagonists/vampire/vampire.dm
  code/modules/events/antag_ghost_respawn.dm
  code/modules/medical/diseases/vamplague.dm
  goonstation.dme
Labels: C-Code-Quality, size/L, A-Gamemodes, A-Internal

#12840 Datumises Changelings
  code/datums/gamemodes/changeling.dm
  code/datums/gamemodes/gm_parent.dm
  code/datums/mind.dm
  code/datums/objective.dm
  code/mob/new_player.dm
  code/modules/admin/admin.dm
  code/modules/admin/antagifiers.dm
  code/modules/admin/debug.dm
  code/modules/antagonists/changeling/abilities/_changeling_ability_holder.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/events/antag_ghost_respawn.dm
  code/modules/medical/diseases/headspider.dm
  goonstation.dme
Labels: C-Code-Quality, S-Merge-Conflict, size/L, A-Gamemodes, A-Internal

#12854 Fixing custom small power cells not being able to self-charge
  code/obj/item/gun/ammo.dm
Labels: C-Bug, size/XS, A-Materials

#12805 Kondaru Medbay update
  code/obj/item/storage/med_chem.dm
  maps/kondaru.dmm
Labels: A-Mapping, size/XL

#12796 Fix drone factory timings, mult adjust chargers
  code/obj/machinery/drone_factory.dm
  code/obj/machinery/drone_recharger.dm
Labels: C-Code-Quality, size/S, A-Game-Objects, A-Silicons

#12728 Cable Network Colour Coding
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, S-Merge-Conflict, size/XXL

#12864 fixes #12341
  code/modules/chemistry/tools/fuel_tanks.dm
Labels: C-Bug, C-QoL, size/XS

#12852 adds an arg to `...human/get_id()` that prevents getting worn ids
  code/mob.dm
  code/mob/living/carbon/human.dm
Labels: C-Feature, size/XS, A-Internal

#12869 Nuclear Reactor White Hole
  code/modules/events/white_hole.dm
  code/obj/decal/cleanable.dm
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/reactorcomponents.dm
  icons/effects/white_hole_views96x96.dmi
Labels: C-Sprites, size/L

#12865 refactors cashreg.dm to use mob/get_id
  code/obj/machinery/cashreg.dm
Labels: C-Rework, size/M, A-Game-Objects

#12413 TGUI ATMs + QoL and Feedback Improvements
  browserassets/tgui/tgui.bundle.js
  code/datums/banking.dm
  tgui/packages/tgui/interfaces/Atm/index.tsx
  tgui/packages/tgui/interfaces/Atm/types.ts
Labels: C-Bug, C-QoL, A-UI, size/L

#12849 add perlin noise visualizer
  code/modules/admin/diagnostics.dm
Labels: size/M, A-Admin

#12867 New interface musical instruments now autogenerate appropriate keybinds
  browserassets/tgui/tgui.bundle.js
  code/obj/item/instruments.dm
  tgui/packages/tgui/interfaces/MusicInstrument.tsx
Labels: C-QoL, A-UI, size/L, A-Game-Objects

#12721 Interdictor crate for Donut 2 engineering
  maps/donut2.dmm
Labels: A-Mapping, S-Stale, size/XS

#12909 Fixes #12902 - Fixes A Typo Error With Changeling Random Event Respawns
  code/modules/events/antag_ghost_respawn.dm
Labels: C-Bug, size/XS, A-Gamemodes

#12782 TGUI Clothing Booth
  browserassets/css/clothingbooth.css
  browserassets/html/clothingbooth.html
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/datums/character_preview.dm
  code/modules/vending/clothingbooth.dm
  tgui/packages/tgui/interfaces/ClothingBooth/index.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/type.ts
  tgui/packages/tgui/styles/interfaces/ClothingBooth.scss
  tgui/packages/tgui/styles/main.scss
Labels: C-QoL, S-Merge-Conflict, A-UI, size/XL, A-Game-Objects

#12495 Normalize `power_usage` variable in machinery
  code/WorkInProgress/computerx/computerx.dm
  code/WorkInProgress/optics/beamline.dm
  code/WorkInProgress/recycling/conveyor.dm
  code/WorkInProgress/recycling/crusher.dm
  code/WorkInProgress/recycling/disposal_chute.dm
  code/WorkInProgress/simroom.dm
  code/modules/atmospherics/portable/scrubber.dm
  code/modules/chemistry/Chemistry-Machinery.dm
  code/modules/networks/computer3/computer3.dm
  code/modules/networks/computer3/mainframe2/documents.dm
  code/modules/networks/computer3/mainframe2/logreader.dm
  code/modules/networks/computer3/mainframe2/mainframe2.dm
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/modules/power/monitor.dm
  code/modules/power/solar.dm
  code/modules/power/switchgear.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/modules/siphon/siphon_machinery.dm
  code/obj/flock/furniture.dm
  code/obj/machinery.dm
  code/obj/machinery/alarm.dm
  code/obj/machinery/cell_charger.dm
  code/obj/machinery/computer.dm
  code/obj/machinery/computer/robotics.dm
  code/obj/machinery/firealarm.dm
  code/obj/machinery/floorflusher.dm
  code/obj/machinery/manufacturer.dm
  code/obj/machinery/meter.dm
  code/obj/machinery/pipe/filter_control.dm
  code/obj/machinery/plantpot.dm
  code/obj/machinery/porters.dm
  code/obj/machinery/recharger.dm
  code/obj/machinery/robot_fabricator.dm
  code/obj/machinery/shield_generators/energy_shield.dm
  code/obj/machinery/shield_generators/shield_generator.dm
  code/obj/machinery/status_display.dm
  code/obj/machinery/traymachines.dm
  code/obj/machinery/turret.dm
  code/obj/machinery/tv_vis.dm
  code/obj/stool.dm
Labels: S-Merge-Conflict, C-Rework, E-Add-To-Wiki, size/L, A-Internal, A-Station-Systems

#12820 Updates The Equipment Of Admin-Spawned Syndicate Roles
  code/datums/jobs.dm
Labels: C-QoL, size/M, A-Admin

#12910 Fixes cable coil dupe
  code/obj/item/cable_coil.dm
Labels: C-Bug, size/XS, A-Game-Objects

#12853 Nadir Fixbatch 11
  code/modules/economy/supply_packs.dm
  code/procs/jobprocs.dm
  maps/nadir.dmm
Labels: C-Bug, A-Mapping, size/M

#12917 Minor edit to Adrift Cargo Router Prefab
  assets/maps/prefabs/prefab_adrift_cargo_router.dmm
Labels: A-Mapping, size/S

#12911 Fixes enzymatic reclaimer suicide bug that made bodies unreclaimable
  code/obj/machinery/clonepod.dm
Labels: C-Bug, size/XS, A-Medical

#12885 Improve maid hat visual consistency
  icons/mob/clothing/head.dmi
Labels: C-Sprites, size/XS, A-Clothing

#12907 Fixes #12898 - The NukeOp Mission Briefing Will No Longer Spawn If It Cannot Be Placed Into The Commander's Hand
  code/datums/gamemodes/nuclear.dm
Labels: C-Bug, size/XS, A-Gamemodes

#12925 Fools pyrite is now actually gold
  code/modules/materials/Mat_RawMaterials.dm
  code/modules/mining/ore.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap2.dmm
  maps/manta.dmm
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, C-QoL, size/M, A-Materials

#12868 Fix the new plantoverlay not being transferred by garden trowels
  code/obj/item/decorative_pot.dm
  code/obj/item/hydroponics.dm
  code/obj/machinery/plantpot.dm
Labels: C-Bug, size/S, A-Hydroponics

#12879 Fixes #10034 - Antagonist Datums Now Remove Associated Antagonist Objectives Upon Their Own Removal
  code/datums/gamemodes/gm_parent.dm
  code/datums/objective.dm
  code/modules/antagonists/__antagonist.dm
  code/modules/antagonists/arcfiend/arcfiend.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/hunter/hunter.dm
  code/modules/antagonists/nuclear_operative/nuclear_operative.dm
  code/modules/antagonists/salvager/salvager.dm
  code/modules/antagonists/traitor/sleeper_agent.dm
  code/modules/antagonists/traitor/traitor.dm
  code/modules/antagonists/vampire/vampire.dm
Labels: C-Bug, size/M, A-Internal

#12844 Adds checking for turfs with underlays to map correctness.
  assets/maps/random_rooms/3x3/barrelroom.dmm
  code/map.dm
  code/modules/admin/buildmodes/load_map.dm
  code/modules/unit_tests/map_correctness.dm
  code/modules/worldgen/prefab/mapPrefab.dm
  code/modules/worldgen/prefab/planet.dm
  code/z_dmm_suite/_preprocessor_and_utilities.dm
  code/z_dmm_suite/reader.dm
  maps/oshan.dmm
Labels: A-Mapping, size/M, A-Internal

#12871 Datumises Wizards
  code/datums/gamemodes/gm_parent.dm
  code/datums/gamemodes/wizard.dm
  code/mob/living/carbon/human/normal.dm
  code/modules/admin/admin.dm
  code/modules/admin/antagifiers.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/hunter/hunter.dm
  code/modules/antagonists/vampire/vampire.dm
  code/modules/antagonists/wizard/abilities/_wizard_ability_holder.dm
  code/modules/antagonists/wizard/abilities/animal.dm
  code/modules/antagonists/wizard/abilities/animatedead.dm
  code/modules/antagonists/wizard/abilities/blind.dm
  code/modules/antagonists/wizard/abilities/blink.dm
  code/modules/antagonists/wizard/abilities/bullcharge.dm
  code/modules/antagonists/wizard/abilities/clairvoyance.dm
  code/modules/antagonists/wizard/abilities/cluwne.dm
  code/modules/antagonists/wizard/abilities/doppelganger.dm
  code/modules/antagonists/wizard/abilities/fireball.dm
  code/modules/antagonists/wizard/abilities/forcewall.dm
  code/modules/antagonists/wizard/abilities/golem.dm
  code/modules/antagonists/wizard/abilities/iceburst.dm
  code/modules/antagonists/wizard/abilities/kill.dm
  code/modules/antagonists/wizard/abilities/knock.dm
  code/modules/antagonists/wizard/abilities/magicmissile.dm
  code/modules/antagonists/wizard/abilities/magshield.dm
  code/modules/antagonists/wizard/abilities/mutate.dm
  code/modules/antagonists/wizard/abilities/pandemonium.dm
  code/modules/antagonists/wizard/abilities/phaseshift.dm
  code/modules/antagonists/wizard/abilities/prismatic_spray.dm
  code/modules/antagonists/wizard/abilities/rathens.dm
  code/modules/antagonists/wizard/abilities/shock.dm
  code/modules/antagonists/wizard/abilities/shockwave.dm
  code/modules/antagonists/wizard/abilities/stickstosnakes.dm
  code/modules/antagonists/wizard/abilities/summon_staff.dm
  code/modules/antagonists/wizard/abilities/teleport.dm
  code/modules/antagonists/wizard/abilities/warp.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/events/antag_ghost_respawn.dm
  code/obj/item/uplinks.dm
  code/procs/antagonist_procs.dm
  goonstation.dme
Labels: C-Code-Quality, size/L, A-Gamemodes, A-Internal

#12884 Fix lizard nose drawing behind overcoats/suits
  _std/macros/appearance.dm
  code/datums/mutantraces.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/obj/item/organs/head.dm
  icons/mob/lizard.dmi
Labels: C-Bug, C-Sprites, size/S, A-Mutantraces

#12489 TGUI Phones
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/phone/phone.dm
  tgui/packages/tgui/interfaces/Phone/index.tsx
  tgui/packages/tgui/interfaces/Phone/type.ts
  tgui/packages/tgui/styles/interfaces/Phone.scss
  tgui/packages/tgui/styles/main.scss
Labels: C-QoL, A-UI, size/L, A-Game-Objects

#12816 Factory pipes to use DECAL_LAYER
  code/obj/decal.dm
Labels: C-Bug, P-Trivial, A-Mapping, size/XS
