Repository goonstation/goonstation, pull requests merged in 2023-10, with the labels that each got.

#16051 Don't trigger action bar for Pod Eject Occupants if no occupants in pod cabin
  code/modules/transport/pods/vehicle.dm
Labels: C-QoL, size/XS, S-Ready-For-Final-Review, A-Vehicles

#16146 Fix die a glorious death failing if respawned in afterlife bar
  code/datums/objective.dm
Labels: C-Bug, size/XS, A-Respawning

#16144 Fix pod cargo unloading not respecting distance
  code/modules/transport/pods/secondary_system.dm
Labels: C-Bug, size/XS, A-Vehicles

#16137 Fix sliced foods not inheriting quality
  code/modules/chemistry/tools/food_and_drink.dm
Labels: C-Bug, size/XS, A-Catering

#16149 Finer definition control for requisition food entries
  _std/defines/economy.dm
  code/modules/economy/requisition/rc_civilian.dm
  code/modules/economy/requisition/requisition_contracts.dm
Labels: size/M

#16161 Cabinets no longer accept grabs
  code/WorkInProgress/cabinet.dm
Labels: C-Bug, size/XS

#15437 Auto cameras with offsets
  code/obj/machinery/camera.dm
  icons/obj/monitors.dmi
Labels: A-Mapping, C-Sprites, size/L

#15533 Adds auto pipe junctions + auto segment cleanup
  .github/MAP_GUIDELINES.md
  code/WorkInProgress/recycling/disposal.dm
  icons/obj/disposal.dmi
  maps/utilities/palette.dmm
Labels: A-Mapping, C-Sprites, A-Tooling, size/XL, C-Documentation

#16156 add arcas lake-younger figurine
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: C-Sprites, size/XS

#16136 Fix bodies with embalming fluid still rotting in unpowered morgue trays
  code/mob/living/life/decomposition.dm
Labels: C-Bug, size/XS, A-Medical

#16147 Fix silicons being able to bite wires
  code/modules/power/apc.dm
Labels: C-Bug, size/XS, A-Silicons

#15993 Air vendor ui changes and fixes
  browserassets/tgui/tgui.bundle.js
  code/modules/vending/vending.dm
  tgui/packages/tgui/interfaces/AirVendor.tsx
Labels: C-Bug, A-UI, size/M, S-Ready-For-Final-Review

#16164 Sets wear_image pixel offsets to initials in case they've changed
  code/mob/living/carbon/human/procs/update_icon.dm
Labels: C-Bug, size/S

#16165 Small Animals can no longer break disposal pipes without flipping
  code/WorkInProgress/recycling/disposal.dm
Labels: C-Bug, size/XS

#16141 Fleet mining magnet and catwalk fix
  maps/unused/fleet.dmm
Labels: C-Bug, A-Mapping, size/XL

#16167 Pouches can no longer hold storage items (prevents recursive storage)
  code/obj/item/storage/ammo_pouches.dm
Labels: C-Bug, size/S

#16168 Fixes Flock Floors overwriting their atom flags instead of adding to them
  code/turf/turf_flock.dm
Labels: C-Bug, size/XS

#16175 replacing emergency lights now respects shipalert status
  code/modules/power/lighting.dm
Labels: C-Bug, size/XS

#16069 Gasmasks protect eyes from capcaisin
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: C-QoL, size/XS, A-Status-Effects, A-Chemistry, A-Clothing, S-Ready-For-Final-Review

#16128 crematoriums open body bags on ignition
  code/obj/machinery/traymachines.dm
Labels: C-Bug, size/XS, A-Game-Objects

#16170 Adds Distance Checks to Phone Handsets
  code/obj/machinery/phone/phone.dm
Labels: C-Bug, size/S

#16173 Player Seals no longer have forced AI stuff
  code/mob/living/critter/small_animal.dm
  code/modules/antagonists/wizard/abilities/animal.dm
Labels: C-Bug, size/S

#16174 All Blobs Shut The Hell Up (Voice Sounds)
  code/mob/living/intangible/blob_overmind.dm
Labels: C-Bug, size/XS

#16123 Allows laundry machines to be scanned with a mechscanner
  code/WorkInProgress/laundry.dm
  code/WorkInProgress/tarmStuff.dm
Labels: size/XS, A-Game-Objects

#16186 Give the RD and MD the research and medbay themed backpacks, respectively
  code/datums/jobs.dm
Labels: C-Feature, size/XS, A-Clothing

#16172 (Ocean) Water is now Wet
  code/obj/item/mops_cleaners.dm
Labels: C-Bug, size/S

#16204 Fixes #16116
  code/obj/item/organ_holder.dm
Labels: size/XS

#16201 Add a capsule machine to clarion
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/XS

#16197 Wanted posters no longer try to put themselves inside windows
  code/obj/posters.dm
Labels: C-Bug, size/XS

#16195 Cant_drop check on item twirling
  code/obj/item.dm
Labels: C-Bug, size/XS

#16187 Fix spooktober summon bat triggering cooldown on fail
  code/datums/abilities/ghost_observer.dm
Labels: C-Bug, size/XS, A-Player-Actions

#15774 Repath ABCU savefiles, make construction pausable, other fixes
  code/WorkInProgress/blueprints.dm
  code/modules/admin/admin_verbs.dm
Labels: C-Feature, size/XL, A-Game-Objects

#16160 Resprites basketball
  icons/obj/items/items.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#16194 Requisition adjustment oct23-01 (new pod-based civ requisition + some fixes)
  code/modules/economy/requisition/rc_civilian.dm
  code/modules/economy/requisition/rc_scientific.dm
Labels: C-Bug, C-Feature, size/L

#16198 Stops spraybottles from spraying ability buttons
  code/obj/item/mops_cleaners.dm
Labels: C-Bug, size/XS

#16029 GameAdminRanks and GameRound API endpoints
  code/modules/goonhub/api/requests/gameround/EndGameRoundBody.dm
  code/modules/goonhub/api/requests/gameround/UpdateGameRoundBody.dm
  code/modules/goonhub/api/requests/rounds/AddGameRoundBody.dm
  code/modules/goonhub/api/routes/gameadminranks/AddGameAdminRanks.dm
  code/modules/goonhub/api/routes/gameadminranks/DeleteGameAdminRanks.dm
  code/modules/goonhub/api/routes/gameadminranks/GetGameAdminRanks.dm
  code/modules/goonhub/api/routes/gameadminranks/UpdateGameAdminRanks.dm
  code/modules/goonhub/api/routes/rounds/AddGameRound.dm
  code/modules/goonhub/api/routes/rounds/EndGameRound.dm
  code/modules/goonhub/api/routes/rounds/UpdateGameRound.dm
  goonstation.dme
Labels: A-Tooling, size/L, A-Internal

#16221 Tiny fix to requisition info text formatting for seeds
  code/modules/economy/requisition/requisition_contracts.dm
Labels: C-Bug, size/XS

#16241 Allow setting antag tokens to 0
  code/modules/admin/admin.dm
Labels: C-Rework, size/XS, A-Admin

#16143 Fixes voting box taking money even when prompt cancelled
  code/obj/voting_box.dm
Labels: C-Bug, size/S, A-Game-Objects

#16039 Removed duplicate hoodie sprites
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
Labels: C-Sprites, size/XS, A-Clothing

#15913 Better Podwars NT commander headset icon
  code/datums/gamemodes/pod_wars/pw_misc_objects.dm
Labels: C-QoL, size/XS, A-Game-Objects

#16245 fix hoodie in the bank purchases screen
  code/modules/economy/persistent_bank_purchases.dm
Labels: size/XS

#16155 Add singing checks to non-spoken say procs (robot, thrall, ling, kudzu)
  code/mob/living/silicon.dm
  code/procs/mobprocs/chatprocs.dm
Labels: C-Bug, size/S, A-Silicons

#16225 Change minimum distribute pressure in handheld tanks from 0kpa to 1kpa
  code/obj/item/tank.dm
Labels: C-Bug, size/XS, A-Player-Actions, A-Atmospherics

#16243 Removes locker from the middle of Donut 2 hallway
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/XS

#16244 Use regular speech bubble for whispers
  code/mob/living/carbon/human.dm
Labels: C-Bug, size/XS, A-Player-Actions

#16228 Lets omnitools read netids
  code/obj/item/device/multitool.dm
  code/obj/item/tool/omnitool.dm
Labels: C-Bug, size/S

#16169 Sets mesons to later (higher priority) in sight.dm
  code/mob/living/life/sight.dm
Labels: C-Bug, size/S

#16250 Fix improperly rotated firedoor on Clarion bridge enterance
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/XS

#16249 Fix orwell's lying state to not be george's
  code/mob/living/critter/small_animal.dm
Labels: C-Bug, C-Sprites, A-Critters

#16230 Monkeys Stop Chasing Incorporeal Wraiths
  code/mob/living/carbon/human/monkeys.dm
Labels: C-Bug, size/S

#16247 Ship Computer Doesn't Try To Open Parts Panel From Inside
  code/modules/transport/pods/vehicle.dm
Labels: C-Bug, size/XS

#16229 Sets M.current in possessmob verb
  code/modules/admin/randomverbs.dm
Labels: C-Bug, size/XS

#16252 The Reappearing Cake (fixes cake self-deletion)
  code/modules/food_and_drink/cakes.dm
Labels: C-Bug, size/XS

#16262 Change API format query params to correct format for Laravel
  code/modules/goonhub/api/routes/apiRoute.dm
Labels: size/S, A-Internal

#16261 Add the new pressure crystal bazaar app to silicon PDAs
  code/obj/item/device/pda2/cartridges.dm
Labels: C-Bug, C-QoL, size/XS, A-Silicons, S-Ready-For-Final-Review

#16260 Securitron whistle commands
  _std/defines/component_defines/component_defines_atom.dm
  code/datums/components/secbot_command.dm
  code/mob.dm
  code/mob/dead/hivemind_observer.dm
  code/mob/dead/observer.dm
  code/mob/living.dm
  code/modules/robotics/bot/secbot.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
  code/obj/item/instruments.dm
  code/obj/item/storage/ammo_pouches.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/storage/weapon_security.dm
  goonstation.dme
  icons/obj/instruments.dmi
Labels: C-Feature, C-Sprites, C-Balance, size/M, A-Game-Objects

#16267 Fixes worn golden guns
  code/modules/medals/rewardsLocker.dm
Labels: C-Bug, size/XS, A-Game-Objects

#16272 someone forgot to add `.name` for getting the subtype's name in mushroom cap random so here it is
  code/obj/item/clothing/hats.dm
Labels: C-Bug, size/XS, A-Game-Objects

#15631 Burner / damager helpers with just the helper this time
  code/WorkInProgress/Azungarstuff.dm
  code/modules/mapping/_helper_parent.dm
  code/modules/mapping/helpers/turf_helpers.dm
  code/modules/transport/shuttle/shuttle_turfobjs.dm
  code/turf/floors.dm
  code/turf/floors_airless.dm
  code/turf/floors_unsimulated.dm
  code/turf/turf.dm
  code/turf/turf_flock.dm
  code/z_adventurezones/biodome.dm
  code/z_adventurezones/icemoon.dm
  code/z_adventurezones/void.dm
  goonstation.dme
Labels: C-Feature, A-Mapping, C-QoL, size/L, S-Ready-For-Final-Review

#16117 hopefully fixed clothing booth previews from using the movement state
  code/modules/vending/clothingbooth.dm
Labels: C-QoL, size/XS

#16074 fix bald trait not updating hair properly
  code/procs/jobprocs.dm
Labels: C-Bug, size/XS, A-Traits

#16265 Donut 2 QM Reinforced Table Fix
  maps/donut2.dmm
Labels: A-Mapping, size/XS

#15800 Update factions with new neutral faction and updates
  _std/macros/factions.dm
  code/mob/living/critter.dm
  code/mob/living/critter/aberration.dm
  code/mob/living/critter/firefly.dm
  code/mob/living/critter/small_animal.dm
Labels: C-Feature, size/M, A-AI, A-Internal, A-Critters

#16180 Multiple Outputs for Condensers
  code/modules/chemistry/Chemistry-Tools.dm
Labels: C-Feature, size/M

#16028 Limit AI cross Z level interactions
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/ai/holograms.dm
  code/modules/tgui/states/default.dm
  code/obj.dm
  code/obj/machinery/computer/communications.dm
Labels: C-Balance, size/M, A-Silicons

#16255 adjustments to sight checks for xray, blocks_vision
  code/mob/living/life/statusupdate.dm
  code/procs/mob_procs.dm
Labels: C-Bug, size/S

#16148 Changes Audio Log icon_state to be audiolog_newSmall
  code/obj/item/device/audio_log.dm
  code/obj/item/device/lightbreaker.dm
  icons/obj/items/device.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#15970 Autoinjector resprite (Adoption of #7100)
  code/modules/chemistry/tools/emergency_injectors.dm
  icons/obj/chemical.dmi
Labels: C-Sprites, size/S, A-Medical, A-Game-Objects, S-Ready-For-Final-Review, S-Testmerged

#16284 Usage and verification of API 2 models
  code/modules/goonhub/api/api.dm
  code/modules/goonhub/api/models/_Paginated.dm
  code/modules/goonhub/api/models/_PlayerResParent.dm
  code/modules/goonhub/api/models/_Tracked.dm
  code/modules/goonhub/api/models/apiModel.dm
  code/modules/goonhub/api/models/bans/BanDetail.dm
  code/modules/goonhub/api/models/bans/BanResource.dm
  code/modules/goonhub/api/models/bans/BanResourceList.dm
  code/modules/goonhub/api/models/players/weird/PlayerSearchResource.dm
  code/modules/goonhub/api/models/polls/PollOptionResource.dm
  code/modules/goonhub/api/models/rounds/GameRound.dm
  code/modules/goonhub/api/models/vpn/VpnCheckResource.dm
  code/modules/goonhub/api/models/vpn/VpnWhitelistResource.dm
  code/modules/goonhub/api/routes/bans/GetBans.dm
  goonstation.dme
Labels: size/L, A-Internal, S-Ready-For-Final-Review

#16298 Refactor apiBody to support autocompletion
  code/modules/goonhub/api/requests/apiBody.dm
  code/modules/goonhub/api/routes/apiRoute.dm
Labels: size/S, A-Internal

#16297 Make capsaicin stun use cooldowns
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: C-Balance, size/S, A-Chemistry

#16304 Miscellaneous Spelling Mistake Corrections
  code/modules/chemistry/Chemistry-Dispenser.dm
  code/modules/chemistry/Chemistry-Machinery.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/tools/beakers.dm
  code/modules/chemistry/tools/bottles.dm
  code/modules/chemistry/tools/emergency_injectors.dm
  code/modules/economy/commodity.dm
  code/modules/economy/supply_packs.dm
  code/modules/economy/trader.dm
  code/modules/interface/multiContext/context_actions.dm
Labels: C-QoL, A-UI, size/M

#16302 Firefighting foam recipe change
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-Misc.dm
Labels: C-Balance, size/S, A-Chemistry

#16318 API Message apiModel
  code/modules/goonhub/api/models/Message.dm
  goonstation.dme
Labels: size/S, A-Admin, A-Internal

#15946 api routes for various singleton endpoints
  code/modules/goonhub/api/models/maps/MapSwitch.dm
  code/modules/goonhub/api/models/vpn/VpnCheckModel.dm
  code/modules/goonhub/api/requests/RemoteMusicBody.dm
  code/modules/goonhub/api/requests/maps/MapSwitchBody.dm
  code/modules/goonhub/api/requests/players/PlayerAntagsBody.dm
  code/modules/goonhub/api/requests/players/PlayerParticipationsBody.dm
  code/modules/goonhub/api/requests/players/PlayerPlaytimeBody.dm
  code/modules/goonhub/api/routes/RandomEntries.dm
  code/modules/goonhub/api/routes/RemoteMusic.dm
  code/modules/goonhub/api/routes/VpnChecks.dm
  code/modules/goonhub/api/routes/apiRoute.dm
  code/modules/goonhub/api/routes/gameadmins/DeleteGameAdmins.dm
  code/modules/goonhub/api/routes/gameadmins/GetGameAdmins.dm
  code/modules/goonhub/api/routes/jobbans/DeleteJobBans.dm
  code/modules/goonhub/api/routes/maps/MapSwitches.dm
  code/modules/goonhub/api/routes/players/PlayerAntags.dm
  code/modules/goonhub/api/routes/players/PlayerParticipations.dm
  code/modules/goonhub/api/routes/players/PlayerPlaytime.dm
  code/modules/goonhub/api/routes/players/notes/DeletePlayerNotes.dm
  code/modules/goonhub/api/routes/players/notes/GetPlayerNotes.dm
  goonstation.dme
Labels: A-Tooling, size/L, A-Admin, A-Internal

#16315 API 2 error response handling
  code/modules/goonhub/api/api.dm
  code/modules/goonhub/api/models/Error.dm
  goonstation.dme
Labels: size/M, A-Internal

#16308 API 2 bans refactor and fixes
  code/modules/goonhub/api/api.dm
  code/modules/goonhub/api/requests/bans/AddBansBody.dm
  code/modules/goonhub/api/requests/bans/AddBansDetailBody.dm
  code/modules/goonhub/api/requests/bans/CheckBansBody.dm
  code/modules/goonhub/api/routes/bans/AddBanDetails.dm
  code/modules/goonhub/api/routes/bans/AddBans.dm
  code/modules/goonhub/api/routes/bans/CheckBans.dm
  code/modules/goonhub/api/routes/bans/DeleteBans.dm
  code/modules/goonhub/api/routes/bans/RemoveBanDetails.dm
  code/modules/goonhub/api/routes/bans/UpdateBans.dm
  goonstation.dme
Labels: size/L, A-Internal

#16321 Update API documentation
  code/modules/goonhub/api/apiGuide.md
  code/modules/goonhub/api/routes/template.md
Labels: size/L, A-Admin, A-Internal, C-Documentation

#16326 HoS pocket pouch spawn consistency
  code/datums/jobs.dm
Labels: C-QoL, size/XS, A-Game-Objects

#16310 Mining PDAs start with new MineralMagic™ cartridge
  code/modules/vending/vending.dm
  code/obj/item/device/pda2/cartridges.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/device/pda2/scanners.dm
  code/obj/item/device/pda2/smallprogs.dm
  icons/obj/items/pda.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#16323 Makes the stealth storage more stealthy
  code/modules/storage/no_hud.dm
  code/modules/storage/storage.dm
  code/modules/storage/unholdable.dm
  code/obj/item/storage/small_storage_parent.dm
  code/obj/item/storage/weapon_security.dm
Labels: C-Balance, size/S, A-Game-Objects, A-Internal

#16328 More Misc Spelling Fixes
  code/mob/living/carbon/human.dm
  code/mob/living/critter/firefly.dm
  code/mob/living/critter/gunbot.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/intangible/blob_overmind.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/drone.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/antagifiers.dm
  code/modules/admin/debug.dm
  code/modules/admin/diagnostics.dm
  code/modules/admin/gimmick/wizard_rings.dm
  code/modules/admin/lag_hacks.dm
  code/modules/admin/toggles.dm
  code/modules/events/gimmick/bigfart.dm
  code/modules/events/spatial_tear.dm
  code/modules/events/supply_drop.dm
  code/modules/fishing/fish.dm
  code/modules/fishing/fishing_gear.dm
  code/modules/food_and_drink/alcohol.dm
  code/modules/food_and_drink/condiments.dm
  code/modules/food_and_drink/drinks.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/pies.dm
  code/modules/food_and_drink/plants.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/medical/genetics/bioEffects/beneficial.dm
  code/modules/medical/genetics/bioEffects/hemochromia.dm
  code/modules/medical/genetics/bioEffects/mutantrace.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/medical/genetics/bioEffects/speech.dm
  code/modules/medical/genetics/bioEffects/useless.dm
  code/modules/medical/pathology/pathogen.dm
Labels: C-Code-Quality, A-UI, size/L, A-Internal

#16329 Add desc to Necromancer Zoldorf
  code/modules/vending/vending.dm
Labels: C-Bug, size/XS, A-Game-Objects

#16320 Replaces the wasp grenade box with a grenade pouch
  code/datums/syndicate_buylist.dm
  code/obj/item/storage/ammo_pouches.dm
  code/obj/item/storage/weapon_security.dm
  icons/obj/items/storage.dmi
Labels: C-Sprites, C-Balance, size/S, A-Game-Objects, S-Ready-For-Final-Review

#16159 Recieve PDA messages when your cargo request is approved or denied
  code/modules/economy/supply_packs.dm
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/machinery/computer/QM_order.dm
  code/obj/machinery/computer/QM_supply.dm
Labels: C-Feature, size/M, A-Station-Systems

#15911 refactor light fixture placing
  code/modules/power/lighting.dm
  code/obj/item/rcd.dm
  code/turf/floors.dm
  code/turf/turf_autoalign.dm
  code/turf/walls.dm
  code/z_adventurezones/debris.dm
Labels: C-Bug, C-Code-Quality, size/L, A-Game-Objects

#16263 Prevent kudzu from spreading through walls with doors on their tile
  code/modules/events/gimmick/kudzu.dm
Labels: C-Bug, size/XS, A-Gamemodes

#16336 donut 2 belt fix
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/XS

#16337 Resprites Hadar Heavy Power Sword, fixes bug where Hadar had 5 extra max damage
  code/obj/item/misc_weapons.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhand/hand_tall.dmi
  icons/obj/large/64x32.dmi
Labels: C-Sprites, size/M, A-Game-Objects

#16134 Cogmap1 Dining Chairs
  maps/cogmap.dmm
Labels: A-Mapping, size/S

#16206 Prevents stacking of items onto QDeleted items and fixed some runtimes with the rockbox
  code/obj/item.dm
  code/obj/mining_cloud_storage.dm
Labels: C-Bug, size/S, A-Player-Actions

#16191 New Sci-class Requisition: "Prototypist"
  code/modules/economy/requisition/rc_scientific.dm
  code/modules/materials/Mat_Materials.dm
  code/modules/materials/Mat_Processing.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/rcd.dm
  code/obj/item/tool/hedron_beam.dm
  code/obj/mining.dm
  goonstation.dme
  icons/obj/items/mining.dmi
Labels: C-Feature, C-Sprites, size/XL

#16311 New sprites for CustodiPRO, CodeBreaker, and ringtone cartridges
  code/obj/item/device/pda2/cartridges.dm
  icons/obj/items/pda.dmi
Labels: C-Sprites, size/S, A-Game-Objects

#16185 Crew Credits Antagonists Tab
  _std/__std.dme
  _std/defines/crew_credits.dm
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/datums/crew_credits.dm
  code/datums/crew_credits/crew_credits.dm
  code/datums/crew_credits/crew_credits_debug.dm
  code/datums/gamemodes/gm_parent.dm
  code/datums/mind.dm
  code/modules/antagonists/__antagonist.dm
  code/modules/antagonists/__generic_antagonist.dm
  code/modules/antagonists/__subordinate_antagonist.dm
  code/modules/antagonists/arcfiend/arcfiend.dm
  code/modules/antagonists/blob/blob.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/flockmind/flockmind.dm
  code/modules/antagonists/gang/gang_leader.dm
  code/modules/antagonists/gang/gang_member.dm
  code/modules/antagonists/hunter/hunter.dm
  code/modules/antagonists/revolutionary/head_revolutionary.dm
  code/modules/antagonists/revolutionary/revolutionary.dm
  code/modules/antagonists/salvager/salvager.dm
  code/modules/antagonists/spy_thief/spy_thief.dm
  code/modules/antagonists/traitor/traitor.dm
  code/modules/antagonists/vampire/thrall.dm
  code/modules/antagonists/vampire/vampire.dm
  code/modules/antagonists/werewolf/werewolf.dm
  code/obj/item/tool/omnitool.dm
  code/obj/item/uplinks.dm
  goonstation.dme
  tgui/packages/tgui/components/goonstation/ItemList.tsx
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/CrewCredits/AntagonistsTab.tsx
  tgui/packages/tgui/interfaces/CrewCredits/CrewTab.tsx
  tgui/packages/tgui/interfaces/CrewCredits/index.tsx
  tgui/packages/tgui/interfaces/CrewCredits/type.ts
Labels: C-Bug, C-QoL, A-UI, size/XXL, S-Testmerged

#15922 Autumn Season
  code/modules/vending/clothingbooth_items.dm
  code/obj/decorations.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/masks.dm
  code/obj/item/clothing/shoes.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/storage/crates.dm
  code/turf/floors.dm
  code/turf/floors_unsimulated.dm
  code/turf/walls.dm
  code/z_adventurezones/earth.dm
  icons/effects/96x96.dmi
  icons/misc/worlds.dmi
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/jumpsuits/worn_js_gimmick.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/mob/monkey/jumpsuits.dmi
  icons/mob/monkey/overcoats.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/item_masks.dmi
  icons/obj/clothing/item_shoes.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
  icons/obj/clothing/uniforms/item_js_gimmick.dmi
  icons/obj/stationobjs.dmi
  icons/turf/outdoors.dmi
Labels: C-Sprites, E-Add-To-Wiki, size/L

#16366 Add Action Bar to Removing Floor Reinforcement
  code/turf/floors.dm
Labels: C-QoL, size/M, A-Player-Actions, A-Game-Objects

#16367 Fix charging APCs saying Fully Charged and vice versa
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Apc/CellDisplay.tsx
Labels: C-Bug, A-UI, size/XS

#16342 Roundstart Hint Touchup
  strings/roundstart_hints.txt
Labels: C-Bug, A-UI, size/S

#16332 Head PDAs use a common visual motif
  code/datums/jobs.dm
  code/obj/item/device/pda2/pda2.dm
  icons/obj/items/pda.dmi
Labels: C-Sprites, size/S, A-Game-Objects, S-Ready-For-Final-Review

#16240 Allow for basic Eyebot support when AI is on a different Z level
  code/datums/hud/shell.dm
  code/mob/living/life/Life.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/hivebot.dm
  code/modules/overlays/OverlayManager.dm
  icons/ui/statussystem.dmi
Labels: C-Feature, C-Sprites, C-Balance, size/L, A-Silicons

#16376 add lawrence crowley figurine
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: C-Feature, C-Sprites, size/XS, A-Game-Objects

#16388 Planet Generation Runtimes
  code/WorkInProgress/artemis/GeneratePlanets.dm
  code/modules/events/gimmick/generate_planet.dm
  code/modules/worldgen/GenerateMining.dm
  code/obj/mining.dm
Labels: size/S

#16390 Fix nuclear neutrons disliking reinforced walls
  code/obj/nuclearreactor/nuclearreactor.dm
Labels: C-Bug, size/XS

#16387 Add a link to the VSCode debugger guide to the Code Guideline
  .github/CODE_GUIDELINES.md
Labels: A-Tooling, size/XS, C-Documentation

#16381 Remove bulkhead.dmi
  code/obj/machinery/door/door_parent.dm
  icons/obj/doors/bulkhead.dmi
Labels: C-Sprites, C-Removal, size/XS, A-Game-Objects

#16393 Soda Water now quenches thirst
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: size/XS

#16396 PlayerMetadata Route Definitions
  code/modules/goonhub/api/requests/players/PlayerMetadataBody.dm
  code/modules/goonhub/api/routes/players/metadata/AddPlayerMetadata.dm
  code/modules/goonhub/api/routes/players/metadata/DeleteFromPlayerMetadata.dm
  code/modules/goonhub/api/routes/players/metadata/DeletePlayerMetadata.dm
  code/modules/goonhub/api/routes/players/metadata/GetPlayerMetadata.dm
  goonstation.dme
Labels: size/M, A-Admin, A-Internal

#16392 Make cigarette-related messages use character pronouns
  code/obj/item/cigarette.dm
  code/procs/mob_procs.dm
Labels: C-QoL, A-UI, size/S

#16365 Fixes #16154 - Parallax Controllers Now Track Previous Areas And Z-Levels
  code/modules/parallax/parallax_controller.dm
Labels: C-Bug, size/S, A-Internal

#16380 Fixes #16290 - Black cannabis joint off-gassing
  code/modules/chemistry/tools/syringes.dm
  code/obj/item/cigarette.dm
Labels: C-Bug, size/XS, A-Chemistry, S-Ready-For-Final-Review, A-Hydroponics

#16317 Prevents active secbots from being pulled and makes them unable to scan while not on turfs
  code/atom.dm
  code/mob.dm
  code/modules/robotics/bot/secbot.dm
  code/obj/machinery/door/door_parent.dm
Labels: C-Bug, C-Balance, size/M, A-Player-Actions, A-Critters

#15969 Hallucinate generally
  code/WorkInProgress/previouslyKeelinsStuff.dm
  code/datums/components/hallucinations.dm
  code/mob.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/events/ion_storm.dm
  goonstation.dme
Labels: C-Bug, C-Code-Quality, size/XL, A-AI, A-Silicons, A-Internal, S-Ready-For-Final-Review, A-Events

#16405 Dispensary Interlink Meter Screen
  code/modules/vending/vending.dm
  icons/obj/medchem_vendor.dmi
  icons/obj/vending.dmi
Labels: C-Feature, C-Sprites, size/M, A-Chemistry

#16414 fix flock icon typo
  icons/misc/featherzone.dmi
Labels: P-Trivial, C-Sprites, size/XS

#16412 This is why we need OD CI
  code/modules/events/ion_storm.dm
Labels: P-Trivial, C-Code-Quality, size/S

#16395 Add Round Statistics tab to Crew Credits TGUI
  _std/defines/crew_credits.dm
  browserassets/tgui/tgui.bundle.js
  code/datums/crew_credits/crew_credits.dm
  code/datums/gamemodes/blob.dm
  code/datums/gamemodes/flock.dm
  code/datums/gamemodes/gm_parent.dm
  code/datums/gamemodes/nuclear.dm
  code/datums/gamemodes/revolution.dm
  code/datums/gameticker.dm
  code/procs/scorestats.dm
  tgui/packages/tgui/interfaces/CrewCredits/ScoreTab.tsx
  tgui/packages/tgui/interfaces/CrewCredits/index.tsx
  tgui/packages/tgui/interfaces/CrewCredits/type.ts
Labels: C-Feature, A-UI, size/XL, S-Ready-For-Final-Review

#16416 "Meat Storehouse" Map Generator
  _std/spatial_hashing.dm
  code/modules/admin/terrainify.dm
  code/modules/worldgen/mapgen/StorehouseGenerator.dm
Labels: size/L

#16348 update robot silhouette when appearance changes
  code/mob/living/silicon/robot.dm
Labels: C-Bug, size/XS, A-Silicons

#16426 Fix Station Score Runtime when Hiesenbee is missing
  code/datums/crew_credits/crew_credits.dm
Labels: C-Bug, C-Runtime, size/XS, A-Internal

#16413 Fix Sulfuric Acid Smoke Clamp Issue and Slight Amount Tweak
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: C-Bug, size/XS

#16409 Numbers station for API2
  code/modules/goonhub/api/models/numbersstation/NumbersStationPasswordResource.dm
  code/modules/goonhub/api/routes/numbersstation/GetNumbersStationNumbers.dm
  code/world/topic.dm
  code/z_adventurezones/numbersstation.dm
  goonstation.dme
Labels: size/M, A-Internal

#16266 Make blasters and incapacitor use charge overlays
  code/obj/flock/goods.dm
  code/obj/item/gun/energy.dm
  icons/obj/items/gun.dmi
  icons/obj/items/gun_mod.dmi
  icons/obj/large/48x32.dmi
Labels: C-Bug, C-Sprites, size/M, A-Game-Objects

#16394 Refactors the contraband section of the arrest_icon life process into a component
  _std/defines/component_defines/component_defines_atom.dm
  _std/macros/atom_properties.dm
  code/datums/components/contraband.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/npc.dm
  code/mob/living/life/arrest_icon.dm
  code/modules/robotics/bot/guardbot.dm
  code/modules/robotics/bot/secbot.dm
  code/obj/item.dm
  code/obj/item/stickers.dm
  code/obj/machinery/secscanner.dm
  code/procs/scanprocs.dm
  goonstation.dme
Labels: C-Code-Quality, size/L, A-Station-Systems, S-Ready-For-Final-Review

#16420 VR chessboard fixes
  maps/z2.dmm
Labels: C-Bug, A-Mapping, C-QoL, size/L

#16296 Fixes overlapping chem recipes causing chem duping and inhibitor changes
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: C-Bug, size/M, A-Chemistry, A-Internal

#16441 Removes securitron whistle from the brobocop module
  code/modules/robotics/robot/module_tool_creator/modules.dm
Labels: C-Balance, A-Game-Objects, A-Silicons

#16158 Supply Request Console QoL Improvements
  code/obj/machinery/computer/QM_order.dm
  code/obj/machinery/computer/QM_supply.dm
Labels: C-QoL, A-UI, size/M, A-Game-Objects

#16440 Usage of API 2 for job bans
  code/modules/admin/admin.dm
  code/modules/admin/jobban.dm
  code/modules/goonhub/api/models/bans/JobBanResource.dm
  code/modules/goonhub/api/models/bans/JobBanResourceList.dm
  code/modules/goonhub/api/models/bans/JobBansForPlayer.dm
  code/modules/goonhub/api/requests/bans/AddJobBansBody.dm
  code/modules/goonhub/api/requests/bans/DeleteJobBanBody.dm
  code/modules/goonhub/api/requests/bans/UpdateJobBansBody.dm
  code/modules/goonhub/api/routes/jobbans/AddJobBans.dm
  code/modules/goonhub/api/routes/jobbans/CheckJobBans.dm
  code/modules/goonhub/api/routes/jobbans/DeleteJobBans.dm
  code/modules/goonhub/api/routes/jobbans/GetJobBans.dm
  code/modules/goonhub/api/routes/jobbans/GetPlayerJobBans.dm
  code/modules/goonhub/api/routes/jobbans/UpdateJobBans.dm
  goonstation.dme
Labels: size/L, A-Internal

#16442 Remove version tracking api calls
  browserassets/js/browserOutput.js
  code/datums/browserOutput.dm
Labels: size/S, A-Internal

#16444 Makes security scanner check silicon IDs for contraband permits.
  code/obj/machinery/secscanner.dm
Labels: size/S

#16452 Tweaking to try to improve icon button margins
  browserassets/tgui/tgui-panel.bundle.css
  browserassets/tgui/tgui.bundle.css
  tgui/packages/tgui/styles/components/Button.scss
Labels: C-Bug, A-UI, size/XS

#16454 Replace random rooms plating with non-random plating
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/L

#16462 Fixes #16459 Refactors genetics combine modal
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/GeneTek/modals/CombineGenesModal.js
Labels: C-Bug, A-UI, size/M

#16453 Unsecret vending mobs
  code/datums/limb.dm
  code/mob/living/critter/vending.dm
  goonstation.dme
Labels: A-Secret, size/L, A-Critters

#16319 tgui teleconsole
  browserassets/tgui/tgui.bundle.js
  code/modules/networks/computer3/mainframe2/telesci.dm
  tgui/packages/tgui/interfaces/TeleConsole/BookmarksSection.tsx
  tgui/packages/tgui/interfaces/TeleConsole/ConnectionSection.tsx
  tgui/packages/tgui/interfaces/TeleConsole/CoordinatesSection.tsx
  tgui/packages/tgui/interfaces/TeleConsole/SteppedSlider.tsx
  tgui/packages/tgui/interfaces/TeleConsole/index.tsx
  tgui/packages/tgui/interfaces/TeleConsole/types.ts
  tgui/packages/tgui/interfaces/TeleConsole/util.ts
Labels: S-Merge-Conflict, A-UI, size/XL

#16458 Remove trailing comma-space on atmos scan for teleman
  code/modules/networks/computer3/mainframe2/os_drivers.dm
Labels: C-Bug, A-UI, size/XS

#16397 PlayerSaves api routes definitions
  code/modules/goonhub/api/models/players/weird/GetPlayerSaves.dm
  code/modules/goonhub/api/requests/players/PlayerSavesBody.dm
  code/modules/goonhub/api/requests/players/PlayerSavesBulkBody.dm
  code/modules/goonhub/api/routes/players/saves/AddBulkDataPlayerSaves.dm
  code/modules/goonhub/api/routes/players/saves/AddDataPlayerSaves.dm
  code/modules/goonhub/api/routes/players/saves/AddFilePlayerSaves.dm
  code/modules/goonhub/api/routes/players/saves/DeleteDataPlayerSaves.dm
  code/modules/goonhub/api/routes/players/saves/DeleteSavePlayerSaves.dm
  code/modules/goonhub/api/routes/players/saves/GetPlayerSaves.dm
  goonstation.dme
Labels: size/L, A-Admin, A-Internal

#16457 Adds action bar to (un)anchoring water cooler
  code/modules/chemistry/tools/dispensers.dm
Labels: C-QoL, size/M, A-Game-Objects

#16467 Usage of API 2 for player stats and info
  code/modules/admin/player_stats.dm
  code/modules/admin/spacebee_extension/commands.dm
  code/modules/goonhub/api/models/players/PlayerCompIdsResource.dm
  code/modules/goonhub/api/models/players/PlayerConnection.dm
  code/modules/goonhub/api/models/players/PlayerIpsResource.dm
  code/modules/goonhub/api/models/players/PlayerStatsResource.dm
  code/modules/goonhub/api/routes/players/PlayerCompIds.dm
  code/modules/goonhub/api/routes/players/PlayerIps.dm
  code/modules/goonhub/api/routes/players/PlayerStats.dm
  code/player.dm
  code/world/topic.dm
  goonstation.dme
Labels: S-Merge-Conflict, size/L, A-Internal

#16471 Remove random floating light in cog1 escape
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/S

#16470 Fingerprints for disposal/mail chutes
  code/WorkInProgress/recycling/disposal_chute.dm
Labels: C-Bug, size/XS, A-Game-Objects

#16472 More error handling for api2
  code/modules/goonhub/api/api.dm
  code/modules/goonhub/api/requests/apiBody.dm
Labels: size/M, A-Internal

#16469 Usage of api2 for map switching
  code/mapSwitching.dm
  code/modules/admin/admin_verbs.dm
  code/modules/goonhub/api/models/maps/MapSwitch.dm
  code/modules/goonhub/api/requests/maps/MapSwitchBody.dm
  code/modules/goonhub/api/routes/maps/MapSwitches.dm
Labels: size/L, A-Internal

#16473 Fixes fires not processing on singletons
  code/modules/atmospherics/FEA_fire.dm
  code/modules/atmospherics/FEA_turf_tile.dm
  code/procs/fireflash.dm
Labels: C-Bug, size/M, A-Atmospherics

#16399 Declutter Clarion engineering control room
  maps/clarion.dmm
Labels: A-Mapping, C-QoL, size/S

#16474 Usage of api2 for gauntlet matches
  code/datums/gauntlet/crittergauntlet.dm
  code/modules/goonhub/api/models/gauntlet/PreviousGauntlets.dm
  code/modules/goonhub/api/routes/gauntlet/GetPreviousGauntlets.dm
  code/obj/item/card.dm
  goonstation.dme
Labels: size/M, A-Internal

#16475 Spelllcheck all files in antag module
  code/modules/antagonists/hunter/abilities/hunter_taketrophy.dm
  code/modules/antagonists/pirate/pirate.dm
  code/modules/antagonists/wizard/abilities/bullcharge.dm
  code/modules/antagonists/wizard/abilities/iceburst.dm
  code/modules/antagonists/wraith/abilties/_wraith_ability_holder.dm
  code/modules/antagonists/wraith/abilties/plaguebringer/curses.dm
  code/modules/antagonists/wraith/abilties/specialize.dm
  code/modules/antagonists/wraith/abilties/trickster/hallucinate.dm
  code/modules/antagonists/wraith/critters/abilities/nascent.dm
  code/modules/antagonists/wraith/critters/abilities/plaguerat.dm
  code/modules/antagonists/wraith/critters/plaguerat.dm
  code/modules/antagonists/wraith/status_system/wraithEffects.dm
  code/modules/antagonists/wrestler/abilities/strike.dm
Labels: C-Bug, C-Code-Quality, A-UI, size/M, A-Internal

#16411 New Artifact Type: Psycho-stimulator Field
  code/datums/components/hallucinations.dm
  code/obj/artifacts/artifact_machines/madness.dm
  goonstation.dme
Labels: C-Feature, size/L, A-Game-Objects, A-Science

#16480 Rename donut2 autolathe storage to auxilliary storage
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, C-Rework, E-Add-To-Wiki, size/M
