Repository goonstation/goonstation, pull requests merged in 2023-09, with the labels that each got.

#15625 remove multitool duplicated file
  code/obj/item/device/multitool.dm
  code/obj/item/tool/multitool.dm
  goonstation.dme
Labels: P-Minor, C-Code-Quality, size/L, A-Game-Objects

#15522 tgui Oxygen Vending Machine
  browserassets/tgui/tgui-panel.bundle.css
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/vending/vending.dm
  tgui/packages/tgui/interfaces/AirVendor.tsx
  tgui/packages/tgui/interfaces/GasTank.js
  tgui/packages/tgui/interfaces/Vendors.js
  tgui/packages/tgui/interfaces/common/VendorCashTable.tsx
  tgui/packages/tgui/styles/components/Button.scss
Labels: C-Rework, A-UI, size/L

#15550 makes lockers with leg holes faster
  code/obj/storage/large_storage_parent.dm
Labels: C-Balance, C-QoL, size/XS, A-Player-Actions, A-Game-Objects

#15613 No UI Wizard Teleport Computer
  code/modules/antagonists/wizard/abilities/teleport.dm
  code/obj/machinery/computer/wizard_teleport_computer.dm
  goonstation.dme
  maps/z2.dmm
Labels: A-Mapping, C-Rework, A-UI, size/S

#15629 Clean up skeleton bone pieces in Critter Gauntlet
  code/datums/gauntlet/crittergauntlet.dm
Labels: C-Bug, P-Trivial, size/XS, A-Critters

#15623 Unify Fire alarm offsets
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-Code-Quality, size/XXL

#15620 Fixes the audio clipping in the "sleep.ogg" file
  sound/vox/sleep.ogg
Labels: C-QoL, C-Sound, size/XS, A-Player-Actions

#15633 Fix a little shitcode
  code/modules/materials/Mat_ProcsDefines.dm
Labels: C-Code-Quality, size/XS

#15622 Give mining more room + oxygen on Clarion
  maps/clarion.dmm
Labels: A-Mapping, C-QoL, size/XXL

#15610 Adds a "cool" HoS themed helmet
  code/obj/item/clothing/helmets.dm
  code/obj/storage/secure_closets.dm
  icons/mob/clothing/head.dmi
  icons/mob/monkey/head.dmi
  icons/obj/clothing/item_hats.dmi
Labels: C-Sprites, C-Balance, size/S, A-Clothing

#15619 Power Network Colour Coding
  assets/maps/engine_rooms/cogmap/TEG_100.dmm
  assets/maps/engine_rooms/cogmap/choice_5.dmm
  assets/maps/engine_rooms/cogmap/nuclear_100.dmm
  assets/maps/engine_rooms/cogmap/singularity_100.dmm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/wrestlemap.dmm
Labels: A-Mapping, C-QoL, size/XXL, A-Station-Systems

#15628 Add more ashtrays and cigarette vendors to bar.
  maps/clarion.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, size/S

#15478 Refactor trashbags
  assets/maps/prefabs/space/prefab_gunrange.dmm
  assets/maps/prefabs/space/prefab_von_ricken.dmm
  assets/maps/random_rooms/5x3/closedoff.dmm
  code/datums/jobs.dm
  code/modules/fishing/fishing_spots.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/trash_bags.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/mops_cleaners.dm
  code/obj/item/storage/misc.dm
  goonstation.dme
  icons/mob/clothing/jumpsuits/worn_js_athletic.dmi
  icons/obj/clothing/uniforms/item_js_gimmick.dmi
  icons/obj/janitor.dmi
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/unused/destiny.dmm
  maps/unused/setpieces/SHARED_biodomeExpanded.dmm
  maps/wrestlemap.dmm
Labels: A-Mapping, C-Sprites, C-Rework, size/XXL, A-Game-Objects, A-Clothing

#15569 Nuclear glowsticks
  code/modules/materials/Mat_FabParts.dm
  code/modules/materials/Mat_FabRecipes.dm
  code/modules/materials/Mat_Fabrication.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/reactorcomponents.dm
Labels: C-Feature, C-Balance, size/M, A-Game-Objects

#15305 Make Nuke Ops authorize podbay
  code/datums/gamemodes/nuclear.dm
  code/obj/machinery/computer/syndicate/podbay.dm
  goonstation.dme
  maps/z2.dmm
Labels: C-Feature, A-Mapping, C-QoL, size/L, A-Gamemodes, S-Testmerged

#15548 Tries out doubling the speed of Atmospheric machines and pipe_networks.
  code/datums/controllers/process/machines.dm
Labels: C-Experimental, size/XS, A-Atmospherics

#15660 N.A.R.C Turrets now check for access instead of icon_state
  code/obj/item/deployable_turret.dm
Labels: size/S, A-Chemistry

#15659 Chem dispenser record button responsiveness
  code/modules/chemistry/Chemistry-Dispenser.dm
Labels: C-Bug, C-QoL, A-UI, size/XS

#15666 Fix hunter spear having an incorrect help message.
  code/obj/item/misc_weapons.dm
Labels: C-Bug, size/XS, A-Game-Objects

#14794 Reworks brew_result into associated list for brew amounts & adds random fruit spawner
  assets/maps/random_rooms/3x5/fruitbrewery.dmm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/tools/dispensers.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/candy.dm
  code/modules/food_and_drink/discount_dans.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/plants.dm
  code/modules/food_and_drink/sandwiches.dm
  code/modules/hydroponics/plants_fruit.dm
  code/obj/item/plants.dm
  code/obj/random_spawners.dm
  icons/obj/foodNdrink/food_produce.dmi
  icons/obj/objects.dmi
Labels: C-Feature, A-Mapping, C-Sprites, C-Balance, size/L, A-Chemistry

#15624 Adds the "liquid code"-chem to the code-worm-fish and adds AI cores as additional fishing spot
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/fishing/fish.dm
  code/modules/fishing/fishing_spots.dm
Labels: C-Feature, size/S, A-Chemistry, A-Silicons

#15634 Chemical production rework
  _std/__std.dme
  _std/defines/reagents.dm
  code/_lighting/SimpleLight.dm
  code/atom.dm
  code/datums/manufacturing.dm
  code/modules/animation/AnimationLibrary.dm
  code/modules/atmospherics/portable/canister.dm
  code/modules/chemistry/Chemistry-Dispenser.dm
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Chemistry-Machinery.dm
  code/modules/chemistry/Chemistry-Reactions.dm
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/Reagents-Base.dm
  code/modules/chemistry/Reagents-ExplosiveFire.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/chemistry/chem_requester.dm
  code/modules/chemistry/chemicompiler_core.dm
  code/modules/chemistry/tools/beakers.dm
  code/modules/chemistry/tools/dispensers.dm
  code/modules/chemistry/tools/droppers.dm
  code/modules/chemistry/tools/extinguisher.dm
  code/modules/chemistry/tools/syringes.dm
  code/modules/fluids/air.dm
  code/modules/fluids/fluid_core.dm
  code/modules/fluids/fluid_procs.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/power/TEG.dm
  code/modules/projectiles/bullet.dm
  code/obj.dm
  code/obj/artifacts/artifact_objects/bombs.dm
  code/obj/item/implant.dm
  code/obj/machinery/manufacturer.dm
  code/obj/table.dm
  code/procs/helpers.dm
  code/turf/turf.dm
  icons/effects/chemistry_effects.dmi
  icons/effects/lines2.dmi
  icons/obj/chemical.dmi
  icons/obj/items/items.dmi
  icons/obj/objects.dmi
  icons/obj/scrap.dmi
Labels: C-Balance, E-Input-Wanted, size/XXL, A-Chemistry, S-Testmerged

#15698 Agent B Visualization and Tracking
  code/modules/atmospherics/FEA_fire.dm
  icons/effects/fire.dmi
Labels: C-Feature, C-Sprites, C-Balance, C-QoL, size/S, A-Atmospherics

#15701 Remove second armory locker from Donut 3
  maps/donut3.dmm
Labels: A-Mapping, C-Balance, size/S

#15686 Fix small click-drag bug with storages
  code/modules/storage/bible.dm
  code/modules/storage/storage.dm
Labels: C-Bug, size/XS, A-Game-Objects

#15670 move a light on clarion
  maps/clarion.dmm
Labels: C-Bug, P-Trivial, A-Mapping, size/S

#15651 Fixes failing to cast ability still triggering cooldown
  code/datums/abilities/ability_parent.dm
Labels: C-Bug, size/XS, A-Player-Actions

#15589 Fix cloner defects lingering references
  code/WorkInProgress/cloner_defects.dm
  code/mob/living/carbon/human.dm
Labels: C-Bug, size/S

#15688 add a check to catch duplicate mapping helpers (AND remove existing duplicates)
  assets/maps/prefabs/underwater/nadir_safe/prefab_water_torpedo_deposit.dmm
  assets/maps/prefabs/underwater/nadir_unsafe/prefab_water_racetrack.dmm
  code/modules/mapping/_helper_parent.dm
  maps/atlas.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-Code-Quality, size/M

#15616 Removes the old tracking implant kits
  code/modules/events/white_hole.dm
  code/obj/item/implant.dm
  code/obj/item/storage/implant.dm
  code/obj/item/teleportation.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/destiny.dmm
  maps/unused/horizon.dmm
  maps/unused/manta.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/ozymandias.dmm
  maps/wrestlemap.dmm
Labels: A-Mapping, C-Code-Quality, size/L, A-Game-Objects

#15678 Fixes changelings being able to sting themselves
  code/modules/antagonists/changeling/abilities/stings.dm
Labels: C-Bug, size/XS, A-Player-Actions

#15702 Change Fishing Upload Terminal on Atlas to portable subtype
  maps/atlas.dmm
Labels: A-Mapping, C-QoL, size/XS, A-Game-Objects

#15611 Make Rocko Count for Noah's Shuttle Medal
  code/datums/gameticker.dm
Labels: C-Bug, A-Medal, size/XS

#15482 Give bruise packs and ointment a 2 second action bar and removes a certain dusty first aid kit from debris
  code/obj/item/bruisepack_ointment.dm
  maps/z3.dmm
Labels: A-Mapping, C-Balance, size/S

#15665 Recategorize captain's centcom armors
  code/datums/gamemodes/battle_royale.dm
  code/datums/jobs.dm
  code/obj/item/clothing/armor.dm
Labels: size/M, A-Clothing, A-Internal

#15716 Fix out of order proc def `/mob/proc/keys_changed`
  code/mob/input.dm
  code/modules/interface/input.dm
Labels: C-QoL, size/XS

#15719 soda cans react properly when opened
  code/modules/food_and_drink/drinks.dm
Labels: C-Bug, size/XS, A-Chemistry

#15527 Give bullets a low chance to ricochet
  code/modules/projectiles/bullet.dm
  code/modules/sound/soundCache.dm
  code/turf/walls.dm
  sound/weapons/ricochet/ricochet-1.ogg
  sound/weapons/ricochet/ricochet-2.ogg
  sound/weapons/ricochet/ricochet-3.ogg
  sound/weapons/ricochet/ricochet-4.ogg
Labels: C-Feature, C-Balance, C-Sound, size/M, A-Game-Objects

#15722 PTL counts when hitting Oshan's walls
  code/modules/power/pt_laser.dm
Labels: C-Bug, size/XS, A-Game-Objects, A-Station-Systems

#15721 Unify pool fluid spawning levels
  maps/donut2.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/wrestlemap.dmm
Labels: A-Mapping, C-Code-Quality, size/XS, A-Chemistry

#15736 fix 10171, also fixes moving anchored lockers
  code/obj/storage/large_storage_parent.dm
Labels: size/S

#15708 Update the donut 3 armoury
  code/obj/storage/secure_crates.dm
  maps/donut3.dmm
Labels: A-Mapping, size/XXL

#15750 fixes photophosphide not decaying under 1u
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: C-Bug, size/XS, A-Chemistry

#14928 Adds Newspapers
  code/mob/living/carbon/human.dm
  code/modules/economy/supply_packs.dm
  code/modules/writing/paper.dm
  code/obj/machinery/printing_press.dm
  icons/mob/inhand/hand_books.dmi
  icons/obj/large/64x32.dmi
  icons/obj/writing.dmi
  strings/newspaper.txt
Labels: C-Feature, C-Sprites, size/XL

#15730 Add cinnamon to Mexican Hot Chocolate recipe
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: C-QoL, size/S, A-Catering

#15746 make see_face use TRUE and FALSE defines
  code/WorkInProgress/GerhazoStuff.dm
  code/modules/food_and_drink/plants.dm
  code/obj/item/clothing.dm
  code/obj/item/clothing/cardboard.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/masks.dm
  code/obj/item/clothing/suits.dm
Labels: C-Code-Quality, size/L, A-Clothing, A-Internal

#15725 Give Donut 3 QM and main hangar buttons
  maps/donut3.dmm
Labels: A-Mapping, size/S, A-Game-Objects

#15672 Makes ai.dmi more consistent and fixes ai-tetris
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/silicon/ai.dm
  code/obj/item/ai_plating_kit.dm
  icons/mob/ai.dmi
Labels: C-Bug, C-Sprites, C-Code-Quality, size/L, A-Silicons

#15344 QM Computer fixes: Proper initialization, proper configuration of circuitboard, proper inheritance
  code/map.dm
  code/obj/machinery/computer.dm
  code/obj/machinery/launcherloader.dm
  maps/cogmap2.dmm
  maps/kondaru.dmm
Labels: C-Bug, A-Mapping, size/M

#15731 Adds banana juice to Honky Tonic recipe
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: C-QoL, size/XS, A-Chemistry, A-Catering

#15737 Fixes being able to scoot lockers through space
  code/obj/storage/large_storage_parent.dm
Labels: size/XS

#15734 Use Standard tgui UI for Sillicon Paper
  code/modules/writing/paper.dm
  code/obj/machinery/camera.dm
Labels: C-Bug, C-Rework, A-UI, size/S

#15735 Fix DWAINE Scanner not scanning if item is inserted through UI
  code/modules/networks/computer3/mainframe2/misc_terms.dm
Labels: C-Bug, size/S, A-Game-Objects

#15755 Type trader/robot versions and automate trader_area
  assets/maps/prefabs/underwater/nadir_safe/prefab_water_disposal.dmm
  assets/maps/prefabs/underwater/nadir_safe/prefab_water_sketchy.dmm
  code/WorkInProgress/Hydrothings.dm
  code/WorkInProgress/salvager.dm
  code/modules/economy/trader.dm
  code/obj/flock/trader.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogwip/kappa.dmm
  maps/cogwip/ships.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/setpieces/regina.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/density.dmm
  maps/unused/destiny.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/manta.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/ozymandias.dmm
  maps/unused/trunkmap.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
  maps/z3.dmm
Labels: A-Mapping, C-Code-Quality, size/XL

#15714 tgui Dye Dispenser
  browserassets/tgui/tgui.bundle.js
  code/modules/barber/barber_shop.dm
  tgui/packages/tgui/interfaces/DyeDispenser.tsx
Labels: C-Rework, A-UI, size/L

#15747 New chemical: Capsizin
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-Misc.dm
Labels: C-Feature, size/M, A-Chemistry

#15713 Orbital shaker
  code/modules/chemistry/Chemistry-Machinery.dm
  icons/obj/shaker.dmi
  icons/obj/shaker_chem.dmi
Labels: C-Feature, C-Sprites, size/L, A-Game-Objects, A-Chemistry

#15542 Allow some older antagonists to use usual hotkeys for their abilities
  code/modules/antagonists/changeling/abilities/_changeling_ability_holder.dm
  code/modules/antagonists/vampire/abilities/_vampire_ability_holder.dm
  code/modules/antagonists/werewolf/abilities/_werewolf_ability_holder.dm
Labels: C-Balance, C-QoL, size/L, A-Gamemodes, A-Player-Actions

#15793 Adds the acoustic guitar to the afterlife bar
  maps/z2.dmm
Labels: A-Mapping, C-QoL, size/XS

#15760 Resprite sawfly remote and fix range
  code/obj/sawflymisc.dm
  icons/obj/items/device.dmi
Labels: C-Sprites, size/M, A-Game-Objects

#15792 No Cyborg Beaker Shattering
  code/modules/chemistry/tools/beakers.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
Labels: C-Bug, size/S

#15732 change amanitin to on_remove instead of moblifecomplete
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: size/S

#15791 Make glowsticks easier to put in reactor
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/reactorcomponents.dm
Labels: C-QoL, size/S, A-Game-Objects

#14916 Makes fluids and vapors unclickable, adapts most interactions to account for this
  _std/defines/fluid.dm
  _std/macros/atom_properties.dm
  code/WorkInProgress/AbilityItem.dm
  code/atom.dm
  code/datums/components/glue_ready.dm
  code/datums/controllers/action_controls.dm
  code/mob/living/carbon/human.dm
  code/modules/admin/admin_holder.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
  code/modules/atmospherics/portable/scrubber.dm
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/fishing/fishing_gear.dm
  code/modules/fluids/air.dm
  code/modules/fluids/fluid_core.dm
  code/modules/fluids/fluid_groups.dm
  code/obj/grille.dm
  code/obj/item/device/pda2/scanners.dm
  code/obj/item/device/scanners.dm
  code/obj/item/grab.dm
  code/obj/item/mops_cleaners.dm
  code/obj/item/pinpointer.dm
  code/procs/scanprocs.dm
  strings/admin_changelog.txt
Labels: C-Code-Quality, C-Balance, C-Experimental, E-Certified-Organic, size/XL, A-Game-Objects, A-Chemistry

#15764 Fix disposals on Donut 3
  maps/donut3.dmm
Labels: A-Mapping, C-Balance, size/XXL

#15794 update component guide link
  .github/CODE_GUIDELINES.md
Labels: A-Tooling, size/XS, C-Documentation

#15768 Adds two artistic toolboxes to Donut 2
  maps/donut2.dmm
Labels: A-Mapping, size/XS, A-Game-Objects

#15776 Fixes AI status displays not showing the AI status.
  code/mob/living/silicon/ai.dm
  code/modules/economy/persistent_bank_purchases.dm
  code/modules/medals/rewardsLocker.dm
  code/obj/machinery/status_display.dm
  icons/mob/ai.dmi
  icons/obj/status_display.dmi
Labels: C-Sprites, size/L, A-Silicons

#15786 Resprites hoodie hoods
  code/obj/item/clothing/suits.dm
  icons/mob/clothing/overcoats/hoods/worn_hoodies.dmi
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/obj/clothing/overcoats/hoods/hoodies.dmi
Labels: C-Sprites, size/XS, A-Clothing

#15720 Rearrange the oshan kitchen
  maps/oshan.dmm
Labels: A-Mapping, size/L, A-Catering

#15803 Make cyborgs use ladders
  code/z_adventurezones/lavamoon.dm
Labels: C-Bug, size/XS, A-Silicons

#15795 Re-add donut 3 armoury turret access
  maps/donut3.dmm
Labels: C-Bug, A-Mapping, S-Merge-Conflict, size/XXL

#15709 Smoke-powder-on-closed-containers
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-ExplosiveFire.dm
Labels: C-Balance, size/M, A-Chemistry

#15717 Add banana drinks
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: C-Feature, size/L, A-Chemistry, A-Catering

#15687 Introduction of the assembly component and refactoring of pipeframe assemblies
  code/datums/components/_component.dm
  code/datums/components/assembly_comp.dm
  code/modules/medical/surgery_tools.dm
  code/obj/item/assembly/misc_assemblies.dm
  code/obj/item/grenades.dm
  code/obj/item/mousetrap.dm
  goonstation.dme
Labels: C-Bug, C-QoL, E-Add-To-Wiki, size/XL, A-Game-Objects, A-Internal

#15598 Increase blob respawn time period
  code/mob/living/intangible/blob_overmind.dm
  code/modules/events/antag_ghost_respawn.dm
Labels: C-Balance, C-QoL, size/S, A-Gamemodes

#15605 Fixes revflashes
  code/obj/item/device/flash.dm
Labels: C-Bug, size/S, A-Game-Objects

#15564 Pies thrown by clowns can stick to people's faces
  code/modules/food_and_drink/pies.dm
  icons/obj/foodNdrink/food_dessert.dmi
Labels: C-Feature, C-Sprites, size/M, A-Player-Actions, A-Game-Objects

#15595 Gives AIs a command to unlock their core cover.
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/silicon/ai.dm
Labels: C-Balance, C-QoL, size/M, A-Silicons

#15592 Redoes a bunch of old misc sprites.
  code/z_adventurezones/lavamoon.dm
  icons/effects/160x160.dmi
  icons/effects/64x64.dmi
  icons/effects/96x96.dmi
  icons/misc/critter.dmi
  icons/misc/hospital.dmi
  icons/misc/hstation.dmi
  icons/misc/lunar.dmi
  icons/misc/meatland.dmi
  icons/misc/worlds.dmi
  icons/obj/doors/blastdoor.dmi
  icons/obj/doors/shuttle.dmi
  icons/obj/doors/sovblastdoor.dmi
  icons/obj/items/weapons.dmi
  icons/turf/shuttle.dmi
  icons/turf/walls/shuttle/corner.dmi
  icons/turf/walls/shuttle/white.dmi
  maps/z2.dmm
  maps/z3.dmm
  sound/machines/lavamoon_core_hit.ogg
Labels: A-Mapping, C-Sprites, C-Sound, size/L

#15813 Fix typo in wavegun
  code/obj/item/gun/energy.dm
Labels: C-Bug, size/XS

#15814 fix another typ0, this time in cloning manual
  code/modules/writing/papers.dm
Labels: C-Bug, size/XS

#15780 Update human critters to paste their appearance onto the corpse they spawn
  code/mob/living/carbon/human/normal.dm
  code/mob/living/critter/humanoid/human.dm
  code/modules/mapping/helpers/mob_spawn.dm
  code/obj/item/organs/head.dm
Labels: C-Feature, size/M, A-Critters

#15815 Updates Radio/horn assembly sprite
  icons/obj/items/assemblies.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#15751 Attempts to put map correctness checks on random rooms
  code/modules/worldgen/RandomRoomRuntimeChecker.dm
Labels: A-Tooling, size/XS, A-Internal

#15773 add 8 new screenhead faces
  code/obj/item/mob_parts/robot_parts.dm
  icons/mob/robots.dmi
Labels: C-Sprites, size/XS

#15554 twirl knife to flick off the blood
  _std/defines/component_defines/component_defines_atom.dm
  code/datums/components/bloodflick.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/modules/forensics/atom_forensic.dm
  code/obj/item/kitchen.dm
  code/obj/item/misc_weapons.dm
  goonstation.dme
Labels: C-Feature, size/M, A-Player-Actions, A-Game-Objects

#15787 Add orbital shakers to maps
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/wrestlemap.dmm
Labels: C-Feature, A-Mapping, size/M, A-Chemistry

#15826 tgui Computer Fix and Code Quality
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.js
  code/modules/networks/computer3/computer3.dm
  tgui/packages/tgui/components/Input.js
  tgui/packages/tgui/interfaces/Terminal.js
  tgui/packages/tgui/interfaces/Terminal/InputAndButtonsSection.tsx
  tgui/packages/tgui/interfaces/Terminal/PheripheralsSection.tsx
  tgui/packages/tgui/interfaces/Terminal/TerminalOutputSection.tsx
  tgui/packages/tgui/interfaces/Terminal/index.tsx
  tgui/packages/tgui/interfaces/Terminal/types.ts
Labels: C-Bug, C-Code-Quality, A-UI, size/L

#15172 Merges the two dispensers in the bar into one
  code/modules/chemistry/Chemistry-Dispenser.dm
Labels: C-QoL, S-Stale, size/S, A-Game-Objects, A-Catering

#15644 Flipping as a borg with an open head will launch your brain
  code/mob/living/silicon/robot.dm
  code/modules/status_system/statusEffects.dm
  icons/ui/statussystem.dmi
Labels: C-Sprites, size/S, A-Player-Actions, A-Silicons, S-Testmerged

#15816 add door linked atmos shields to clarion's exterior airlocks
  maps/clarion.dmm
Labels: A-Mapping, size/L

#15818 add door linked atmos shields to donut 2's exterior airlocks
  maps/donut2.dmm
Labels: A-Mapping, size/L

#15612 Organise humanoid critters into their own DMI files
  code/WorkInProgress/ZeWakasStuff.dm
  code/mob/living/critter/adventure.dm
  code/mob/living/critter/arena/fire_elemental.dm
  code/mob/living/critter/bear.dm
  code/mob/living/critter/golem.dm
  code/mob/living/critter/humanoid/brullbar.dm
  code/mob/living/critter/humanoid/skeleton.dm
  code/mob/living/critter/humanoid/zombie.dm
  code/mob/living/critter/jeans_elemental.dm
  code/modules/antagonists/macho_man/abilities/_macho_man_mob.dm
  code/obj/critter/drone.dm
  icons/misc/critter.dmi
  icons/mob/critter/humanoid/bear.dmi
  icons/mob/critter/humanoid/brullbar.dmi
  icons/mob/critter/humanoid/crunched.dmi
  icons/mob/critter/humanoid/cyclops.dmi
  icons/mob/critter/humanoid/elemental/fire.dmi
  icons/mob/critter/humanoid/elemental/jeans.dmi
  icons/mob/critter/humanoid/golem.dmi
  icons/mob/critter/humanoid/microman.dmi
  icons/mob/critter/humanoid/mini_syndies.dmi
  icons/mob/critter/humanoid/shade.dmi
  icons/mob/critter/humanoid/skeleton.dmi
  icons/mob/critter/humanoid/town_guard.dmi
  icons/mob/critter/humanoid/zombie.dmi
Labels: C-Sprites, C-Code-Quality, size/S, A-Internal, S-Ready-For-Final-Review

#15740 handheld t-rays have cable/pipe/blueprint toggles and unique ability icons
  code/WorkInProgress/AbilityItem.dm
  code/modules/interface/multiContext/context_actions.dm
  code/obj/item/device/pda2/modules.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/device/scanners.dm
  icons/misc/abilities.dmi
  icons/ui/context16x16.dmi
Labels: C-Feature, C-Sprites, C-QoL, size/L, A-Game-Objects, A-Station-Systems, S-Ready-For-Final-Review

#15196 Preassembled Pod Kits
  code/datums/manufacturing.dm
  code/modules/transport/pods/preassembled_frame_kit.dm
  code/modules/transport/pods/ships.dm
  goonstation.dme
Labels: C-Rework, E-Add-To-Wiki, size/L, A-Vehicles

#15796 Nuclear Meltdowns Scale By Radioactive Material
  code/obj/nuclearreactor/nuclearreactor.dm
Labels: C-Balance, size/M, A-Game-Objects

#15503 Moves ricin and ghost chilli juice to be brewing results instead of inherent reagents
  code/modules/chemistry/tools/dispensers.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/plants.dm
  code/modules/hydroponics/plant_mutations.dm
  code/obj/item.dm
  code/obj/item/plants.dm
  code/obj/machinery/plantpot.dm
Labels: C-Balance, S-Merge-Conflict, size/M, A-Hydroponics

#15317 General Nettle Update and Overhaul
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants.dm
  code/modules/hydroponics/plants_herb.dm
  code/obj/item/plants.dm
  code/obj/machinery/plantpot.dm
  icons/obj/hydroponics/plants_herb.dmi
Labels: C-Feature, C-Sprites, size/M, A-Hydroponics

#14516 Mobification and rework of the man-eating plant
  code/WorkInProgress/construction/event_controller.dm
  code/datums/abilities/critter/maneater_devour.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/datums/limb.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/mob/living/critter.dm
  code/mob/living/critter/ai/generic_critter.dm
  code/mob/living/critter/ai/maneater.dm
  code/mob/living/critter/maneater.dm
  code/mob/living/critter/plant.dm
  code/modules/antagonists/wizard/abilities/animal.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/events/white_hole.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/hydroponics/plants.dm
  code/modules/hydroponics/plants_alien.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/modules/sound/soundCache.dm
  code/obj/critter/plants.dm
  code/obj/item/seeds.dm
  code/obj/machinery/plantpot.dm
  code/procs/scanprocs.dm
  goonstation.dme
  sound/voice/maneatersnarl.ogg
Labels: C-Bug, C-Balance, E-Input-Wanted, S-Merge-Conflict, C-Rework, C-Sound, size/XXL, A-AI, A-Hydroponics, A-Critters

#15752 make unloading a gun make a sound
  code/obj/item/gun/kinetic.dm
Labels: C-Bug, C-Sound, size/XS, A-Player-Actions, A-Game-Objects

#15262 Adds chili cheese fries
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/sandwiches.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_snacks.dmi
Labels: C-Feature, C-Sprites, S-Stale, size/M, A-Game-Objects, A-Catering

#15859 fix sword parry status check
  code/obj/item/misc_weapons.dm
Labels: C-Bug, size/XS, A-Status-Effects, A-Game-Objects

#15860 cyborg clothing checks for wear_state
  code/mob/living/silicon/robot.dm
Labels: C-Bug, size/XS, A-Clothing, A-Silicons

#15862 Fix invisible golems
  code/mob/living/critter/golem.dm
Labels: C-Bug, size/XS, A-Critters

#15863 visible messages for cyborg cell cables use pronoun procs
  code/obj/submachine/robotics.dm
Labels: C-Bug, size/XS, A-Silicons

#15868 Improves golem code and makes their eyes glow in the dark
  code/mob/living/critter/golem.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  icons/mob/critter/humanoid/golem.dmi
Labels: C-Sprites, C-Code-Quality, size/M, A-Critters

#15861 Fixed small grey pixel on the angler overralls
  icons/mob/clothing/jumpsuits/worn_js_rank.dmi
  icons/obj/clothing/uniforms/item_js_rank.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#15883 Fix clarion fishing research pool not being portable subtype
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, C-QoL, size/XS, A-Hydroponics

#15885 RecordTraks no longer redact existing fingerprint records
  code/obj/item/device/scanners.dm
Labels: C-QoL, A-Player-Actions, A-Game-Objects

#15849 Minor anvil fix
  code/mob.dm
  code/modules/admin/gibverbs.dm
  code/z_adventurezones/gannets_dojozone.dm
Labels: C-Bug, A-Secret, size/S, A-Player-Actions, A-Game-Objects

#15880 Resprites the Bomb Vest
  icons/obj/clothing/overcoats/item_suit_armor.dmi
Labels: C-Sprites, size/XS, A-Clothing

#15875 Remove non-working 'togglepoint' keybind and related 'in_point_mode' checks
  code/mob/dead/observer.dm
  code/mob/living.dm
  code/mob/living/silicon/ghostdrone.dm
  code/modules/interface/action_associations.dm
  code/modules/interface/keybind_style.dm
  code/modules/transport/pods/vehicle.dm
  code/obj/vehicle.dm
Labels: C-Bug, C-Code-Quality, A-UI, size/M, A-Player-Actions

#15891 Fixes #15888 - Parallax Signal Registration Now Uses Outermost Movable To Determine Location
  code/datums/components/complexsignal/outermost_movable.dm
  code/modules/parallax/parallax_controller.dm
Labels: C-Bug, size/M, A-Internal

#15820 Assless chaps, uniform -> Chaps, outer suit
  assets/maps/random_rooms/3x3/cowboy.dmm
  code/datums/gamemodes/battle_royale.dm
  code/modules/economy/requisition/rc_civilian.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/random_spawners.dm
  code/obj/storage/wall_cabinet.dm
  icons/mob/clothing/jumpsuits/worn_js_gimmick.dmi
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/mob/inhand/jumpsuit/hand_js_gimmick.dmi
  icons/mob/inhand/overcoat/hand_suit_gimmick.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
  icons/obj/clothing/uniforms/item_js_gimmick.dmi
  maps/wrestlemap.dmm
Labels: C-Feature, A-Mapping, C-Sprites, size/M, A-Game-Objects

#15847 Check if VR ghost for die a glorious death
  code/datums/objective.dm
Labels: C-Bug, size/XS

#15857 Use dir defines
  code/WorkInProgress/Azungarstuff.dm
  code/WorkInProgress/construction/tools.dm
  code/WorkInProgress/recycling/disposal.dm
  code/WorkInProgress/wizardset.dm
  code/datums/buildmode.dm
  code/modules/admin/buildmodes/adventure/elements/button.dm
  code/modules/economy/supply_misc.dm
  code/modules/fluids/fluid_turf.dm
  code/modules/medical/diseases/space_madness.dm
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/modules/power/catalytic_engine.dm
  code/modules/power/pt_laser.dm
  code/modules/power/smes.dm
  code/modules/projectiles/projectile_parent.dm
  code/modules/projectiles/special.dm
  code/modules/robotics/bot/mulebot.dm
  code/modules/transport/cruisers/cruisers.dm
  code/modules/transport/pods/sensors.dm
  code/modules/transport/shuttle/shuttle_misc.dm
  code/modules/tutorials/blob_tutorial.dm
  code/obj/critter/automaton.dm
  code/obj/decal.dm
  code/obj/decal/cleanable.dm
  code/obj/grille.dm
  code/obj/item/building_materials.dm
  code/obj/item/tool/electronics.dm
  code/obj/machinery/computer/shuttle.dm
  code/obj/neon_lining.dm
  code/obj/pool.dm
  code/obj/window.dm
  code/turf/floors_carpet.dm
  code/z_adventurezones/biodome.dm
  code/z_adventurezones/icemoon.dm
  code/z_adventurezones/lavamoon.dm
  code/z_adventurezones/luna.dm
  code/z_adventurezones/meatland.dm
  code/z_adventurezones/precursor.dm
Labels: C-Code-Quality, size/XXL, A-Internal

#15819 Cyborg cell cables usable on other cyborgs
  code/obj/submachine/robotics.dm
Labels: C-Feature, size/L, A-Silicons

#15879 Makes the suit parent its own subtype
  code/obj/item/clothing/suits.dm
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
  maps/cogmap2.dmm
Labels: A-Mapping, C-Sprites, size/L, A-Internal

#15841 Adds empty gas tanks to the general manufacturer
  code/datums/manufacturing.dm
  code/obj/item/tank.dm
  code/obj/machinery/manufacturer.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhand/hand_tools.dmi
  icons/obj/items/assemblies.dmi
  icons/obj/items/tank.dmi
Labels: C-Feature, C-Sprites, size/S, A-Game-Objects, S-Ready-For-Final-Review

#15547 Adds a random wig crate
  code/modules/barber/barber_shop.dm
  code/modules/economy/supply_packs.dm
Labels: C-Feature, S-Stale, size/M, A-Clothing

#15873 Move various things out of lavamoon.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/obj/decorations.dm
  code/obj/item/misc_junk.dm
  code/obj/ladder.dm
  code/z_adventurezones/lavamoon.dm
  goonstation.dme
Labels: C-Code-Quality, size/L, A-Internal

#15496 TGUI tg Controls Info Window
  browserassets/html/tgControls.html
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/client.dm
  code/modules/tgui/tgui_alert.dm
  tgui/packages/tgui/interfaces/AlertContentWindows/index.ts
  tgui/packages/tgui/interfaces/AlertContentWindows/tgControls.tsx
  tgui/packages/tgui/interfaces/AlertContentWindows/types.ts
  tgui/packages/tgui/interfaces/AlertModal.tsx
Labels: S-Merge-Conflict, C-Rework, S-Stale, A-UI, size/L

#15916 Fix fuel tanks saying "Nothing in it." when there is in fact something in it
  code/modules/chemistry/tools/fuel_tanks.dm
Labels: C-Bug, size/XS, A-Game-Objects

#15915 tiny bugfix for wall trophy runtime
  code/obj/item/wall_trophy.dm
Labels: P-Minor, size/XS, A-Game-Objects

#15846 Leave legs behind when using a teleport wand with magboots active
  code/obj/artifacts/artifact_items/teleport_wand.dm
Labels: C-Feature, size/S, A-Game-Objects

#15926 Fixes teeny tiny typo in extended pocket tanks
  code/obj/item/tank.dm
Labels: C-Bug, size/XS, A-Game-Objects

#15938 APIV2 split parameters into queryParams and routeParams
  code/modules/goonhub/api/api.dm
  code/modules/goonhub/api/routes/apiRoute.dm
  code/modules/goonhub/api/routes/players/notes/GetPlayerNotes.dm
Labels: C-Feature, C-Experimental, size/S, A-Internal

#15936 Glowstick dance update
  code/WorkInProgress/Particles.dm
  code/mob/living/carbon/human/procs/emote.dm
Labels: size/S, A-Game-Objects

#15919 Gluttony rework
  code/mob/living.dm
  code/mob/living/carbon.dm
  code/mob/living/life/organs.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/bread.dm
  code/modules/food_and_drink/cakes.dm
  code/modules/food_and_drink/candy.dm
  code/modules/food_and_drink/condiments.dm
  code/modules/food_and_drink/discount_dans.dm
  code/modules/food_and_drink/ice_cream.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/pies.dm
  code/modules/food_and_drink/plants.dm
  code/modules/food_and_drink/sandwiches.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/status_system/statusFoodBuffs.dm
  code/obj/item.dm
  code/obj/item/cloths.dm
  code/obj/item/organ_holder.dm
  code/obj/item/organs/stomach.dm
  icons/ui/statussystem.dmi
Labels: C-Sprites, C-Balance, size/L, A-Medical, A-Catering

#15867 Silicons may no longer recieve mutations
  code/modules/medical/genetics/bioHolder.dm
Labels: C-Bug, size/XS, A-Player-Actions

#15858 Adds Glaucus Fishing Rod, 6tc traitor item
  code/datums/movement_modifier/movement_modifiers.dm
  code/datums/syndicate_buylist.dm
  code/modules/fishing/fishing_gear.dm
  icons/mob/inhand/hand_fishing.dmi
  icons/obj/items/fishing_gear.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/L, A-Game-Objects

#15326 Adds unique PDA emergency alert variants (font color, jingle)
  code/obj/item/device/pda2/smallprogs.dm
  sound/items/engineering_alert.ogg
  sound/items/janitor_alert.ogg
  sound/items/medical_alert.ogg
Labels: C-QoL, C-Rework, C-Sound, size/S, A-Game-Objects

#15602 Separate captain's armor
  code/datums/jobs.dm
  code/obj/item/clothing/armor.dm
  code/obj/item/clothing/gloves.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/shoes.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/overcoats/worn_suit_armor.dmi
  icons/mob/inhand/hand_feethand.dmi
  icons/mob/monkey/feet.dmi
  icons/mob/monkey/hands.dmi
  icons/mob/monkey/overcoats.dmi
  icons/obj/clothing/item_gloves.dmi
  icons/obj/clothing/item_shoes.dmi
  icons/obj/clothing/overcoats/item_suit_armor.dmi
Labels: C-Sprites, C-Balance, S-Merge-Conflict, size/M, A-Clothing

#15945 Updated Coffee Sprite
  icons/obj/foodNdrink/drinks.dmi
Labels: C-Sprites, size/XS, A-Game-Objects, S-Ready-For-Final-Review

#15949 ERROR: don't directly set plane to a number
  _std/__std.dme
  _std/macros/debug.dm
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/WorkInProgress/artemis/background_stars.dm
  code/datums/character_preview.dm
  code/datums/viewport.dm
  code/modules/minimap/minimap_ui.dm
  maps/cogwip/kappa.dmm
  maps/cogwip/ships.dmm
  maps/setpieces/regina.dmm
  tools/ci/check_grep.sh
Labels: A-Mapping, A-Tooling, C-Code-Quality, size/L, A-Internal

#15948 Assign girder material when RCDs build stuff
  code/obj/item/rcd.dm
Labels: C-Bug, size/XS, A-Materials, A-Game-Objects, S-Ready-For-Final-Review

#15925 Gun holster buff
  code/obj/item/storage/backpack_belt_etc.dm
Labels: C-Balance, size/S, A-Game-Objects

#15854 Allows You To Pour Cut Open IV Bags on Pustules
  code/modules/chemistry/Chemistry-Tools.dm
Labels: size/S, A-Chemistry

#15937 fixes clowns and mimes losing their genes
  code/datums/jobs.dm
  code/datums/traits.dm
Labels: C-Bug, size/S, A-Player-Actions, A-Traits, S-Ready-For-Final-Review

#15953 Scale banana peel size to banana size
  code/modules/food_and_drink/plants.dm
Labels: C-Feature, size/XS, A-Game-Objects, A-Hydroponics

#15951 Fix captain gloves medal rewards
  code/modules/medals/rewardsLocker.dm
Labels: C-Bug, size/S

#15785 Adds a bass guitar
  code/modules/economy/supply_packs.dm
  code/modules/sound/soundCache.dm
  code/obj/item/instruments.dm
  icons/mob/inhand/hand_instruments.dmi
  icons/obj/large/64x32.dmi
  sound/musical_instruments/bass/notes/a-2.ogg
  sound/musical_instruments/bass/notes/a-3.ogg
  sound/musical_instruments/bass/notes/a-4.ogg
  sound/musical_instruments/bass/notes/a2.ogg
  sound/musical_instruments/bass/notes/a3.ogg
  sound/musical_instruments/bass/notes/a4.ogg
  sound/musical_instruments/bass/notes/b2.ogg
  sound/musical_instruments/bass/notes/b3.ogg
  sound/musical_instruments/bass/notes/b4.ogg
  sound/musical_instruments/bass/notes/c-3.ogg
  sound/musical_instruments/bass/notes/c-4.ogg
  sound/musical_instruments/bass/notes/c-5.ogg
  sound/musical_instruments/bass/notes/c3.ogg
  sound/musical_instruments/bass/notes/c4.ogg
  sound/musical_instruments/bass/notes/c5.ogg
  sound/musical_instruments/bass/notes/d-2.ogg
  sound/musical_instruments/bass/notes/d-3.ogg
  sound/musical_instruments/bass/notes/d-4.ogg
  sound/musical_instruments/bass/notes/d-5.ogg
  sound/musical_instruments/bass/notes/d2.ogg
  sound/musical_instruments/bass/notes/d3.ogg
  sound/musical_instruments/bass/notes/d4.ogg
  sound/musical_instruments/bass/notes/d5.ogg
  sound/musical_instruments/bass/notes/e2.ogg
  sound/musical_instruments/bass/notes/e3.ogg
  sound/musical_instruments/bass/notes/e4.ogg
  sound/musical_instruments/bass/notes/f-2.ogg
  sound/musical_instruments/bass/notes/f-3.ogg
  sound/musical_instruments/bass/notes/f-4.ogg
  sound/musical_instruments/bass/notes/f2.ogg
  sound/musical_instruments/bass/notes/f3.ogg
  sound/musical_instruments/bass/notes/f4.ogg
  sound/musical_instruments/bass/notes/g-2.ogg
  sound/musical_instruments/bass/notes/g-3.ogg
  sound/musical_instruments/bass/notes/g-4.ogg
  sound/musical_instruments/bass/notes/g2.ogg
  sound/musical_instruments/bass/notes/g3.ogg
  sound/musical_instruments/bass/notes/g4.ogg
Labels: C-Sprites, C-Sound, size/M, A-Game-Objects

#15934 Redoes the electric guitar sounds
  sound/musical_instruments/elecguitar/notes/a-2.ogg
  sound/musical_instruments/elecguitar/notes/a-3.ogg
  sound/musical_instruments/elecguitar/notes/a-4.ogg
  sound/musical_instruments/elecguitar/notes/a-5.ogg
  sound/musical_instruments/elecguitar/notes/a2.ogg
  sound/musical_instruments/elecguitar/notes/a3.ogg
  sound/musical_instruments/elecguitar/notes/a4.ogg
  sound/musical_instruments/elecguitar/notes/a5.ogg
  sound/musical_instruments/elecguitar/notes/b2.ogg
  sound/musical_instruments/elecguitar/notes/b3.ogg
  sound/musical_instruments/elecguitar/notes/b4.ogg
  sound/musical_instruments/elecguitar/notes/b5.ogg
  sound/musical_instruments/elecguitar/notes/c-3.ogg
  sound/musical_instruments/elecguitar/notes/c-4.ogg
  sound/musical_instruments/elecguitar/notes/c-5.ogg
  sound/musical_instruments/elecguitar/notes/c3.ogg
  sound/musical_instruments/elecguitar/notes/c4.ogg
  sound/musical_instruments/elecguitar/notes/c5.ogg
  sound/musical_instruments/elecguitar/notes/c6.ogg
  sound/musical_instruments/elecguitar/notes/d-3.ogg
  sound/musical_instruments/elecguitar/notes/d-4.ogg
  sound/musical_instruments/elecguitar/notes/d-5.ogg
  sound/musical_instruments/elecguitar/notes/d3.ogg
  sound/musical_instruments/elecguitar/notes/d4.ogg
  sound/musical_instruments/elecguitar/notes/d5.ogg
  sound/musical_instruments/elecguitar/notes/e2.ogg
  sound/musical_instruments/elecguitar/notes/e3.ogg
  sound/musical_instruments/elecguitar/notes/e4.ogg
  sound/musical_instruments/elecguitar/notes/e5.ogg
  sound/musical_instruments/elecguitar/notes/f-2.ogg
  sound/musical_instruments/elecguitar/notes/f-3.ogg
  sound/musical_instruments/elecguitar/notes/f-4.ogg
  sound/musical_instruments/elecguitar/notes/f-5.ogg
  sound/musical_instruments/elecguitar/notes/f2.ogg
  sound/musical_instruments/elecguitar/notes/f3.ogg
  sound/musical_instruments/elecguitar/notes/f4.ogg
  sound/musical_instruments/elecguitar/notes/f5.ogg
  sound/musical_instruments/elecguitar/notes/g-2.ogg
  sound/musical_instruments/elecguitar/notes/g-3.ogg
  sound/musical_instruments/elecguitar/notes/g-4.ogg
  sound/musical_instruments/elecguitar/notes/g-5.ogg
  sound/musical_instruments/elecguitar/notes/g2.ogg
  sound/musical_instruments/elecguitar/notes/g3.ogg
  sound/musical_instruments/elecguitar/notes/g4.ogg
  sound/musical_instruments/elecguitar/notes/g5.ogg
Labels: C-Sound, size/XS

#15968 Makes the bass not costs 2000 credits
  code/modules/economy/supply_packs.dm
Labels: size/XS

#15890 Update shuttles and shuttle floors for in rotation maps
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/wrestlemap.dmm
Labels: A-Mapping, C-Code-Quality, size/XXL

#15972 Fix a div by zero error in reactor
  code/obj/nuclearreactor/nuclearreactor.dm
Labels: C-Bug, size/S, A-Game-Objects

#15983 Fix oshan carousel power unit not working
  code/WorkInProgress/recycling/conveyor.dm
Labels: C-Bug, size/XS, A-Station-Systems

#15981 Fix TTV sprite overlay code
  code/obj/item/device/transfer_valve.dm
Labels: C-Bug, size/S, A-Game-Objects, A-Clothing

#15975 Adds scissors to Kondaru Medbooth
  maps/kondaru.dmm
Labels: A-Mapping, C-QoL, size/XS
