Repository goonstation/goonstation, pull requests merged in 2023-07, with the labels that each got.

#14796 Fishing fixes
  browserassets/tgui/tgui.bundle.css
  code/modules/fishing/fishing_gear.dm
  code/modules/fishing/fishing_spots.dm
  code/modules/power/lighting.dm
  tgui/packages/tgui/styles/interfaces/WeaponVendor.scss
Labels: C-Bug, A-UI, size/S

#14758 Large storage adjustments
  code/obj/storage/large_storage_parent.dm
Labels: C-Bug, C-Feature, size/XS, A-Game-Objects

#14602 Cleans up the Atmos binary subtypes.
  code/modules/atmospherics/machinery/binary.dm
  code/modules/atmospherics/machinery/binary/binary_base.dm
  code/modules/atmospherics/machinery/binary/circulator.dm
  code/modules/atmospherics/machinery/binary/dp_vent_pump.dm
  code/modules/atmospherics/machinery/binary/passive_gate.dm
  code/modules/atmospherics/machinery/binary/pump.dm
  code/modules/atmospherics/machinery/binary/pump_ui.dm
  code/modules/atmospherics/machinery/binary/valve.dm
  code/modules/atmospherics/machinery/binary/volume_pump.dm
  code/modules/atmospherics/machinery/manifold_valve.dm
  goonstation.dme
Labels: C-Code-Quality, size/XXL, A-Atmospherics, A-Internal

#14786 Makes new option when entering the industrial cryogenic unit: "Observe".
  code/obj/cryotron.dm
Labels: size/M

#14777 Fixes for mob spawners
  code/obj/item/device/pda2/base_os.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/mapping/mob_spawn.dm
Labels: C-Bug, size/S, A-Game-Objects

#14783 Swaps the names of Fugg and Shidd
  _std/defines/time.dm
  code/obj/decorations.dm
  strings/station_name.txt
  strings/station_name_whitelist.txt
Labels: A-Mapping, C-Rework, size/S

#14828 Fix an oversight on melted reactor components
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/reactorcomponents.dm
Labels: C-Bug, size/XS, A-Station-Systems

#14818 Fix initialisation stage of map helpers
  code/obj/mapping/_helper_parent.dm
Labels: C-Bug, size/XS

#14820 Fix lack of air on johns bus
  code/modules/transport/shuttle/shuttle_turfobjs.dm
  maps/z2.dmm
Labels: C-Bug, A-Mapping, size/L

#14830 Poppy resprite! \o/
  icons/obj/hydroponics/plants_herb.dmi
Labels: C-Sprites, size/XS, A-Hydroponics

#14848 Make azure tables deconstruct into glass
  code/obj/table.dm
Labels: C-Bug, P-Trivial, size/XS

#14726 Delete pills which are used to transfer reagents
  code/atom.dm
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/tools/pills.dm
Labels: C-Bug, size/S, A-Game-Objects, A-Chemistry

#14826 Add datetime helper procs including ISO 8601 to/from BYOND era
  code/procs/datetime.dm
  goonstation.dme
Labels: size/M

#14553 ["Monthly" Contest] 3x3 New Random Room: The Big Catch
  assets/maps/random_rooms/3x3/bigcatch_80.dmm
Labels: C-Feature, A-Mapping, size/M, E-Contest

#14555 New 3x5 Random Room: Penguinroom_90
  assets/maps/random_rooms/3x5/penguinroom_90.dmm
Labels: A-Mapping, size/M, E-Contest

#14563 Random Room Mapping Contest: 3x3 Room Submission "Undying Computer"
  assets/maps/random_rooms/3x3/undyingcomputer_80.dmm
Labels: A-Mapping, size/L, E-Contest

#14571 Random Room Mapping Contest: 3x3, 3x5, 5x3 submissions
  assets/maps/random_rooms/3x3/interrogation_50.dmm
  assets/maps/random_rooms/3x5/cabeeno_75.dmm
  assets/maps/random_rooms/5x3/sandybeach.dmm
Labels: A-Mapping, size/L, E-Contest

#14577 Random Room Contest 3x3, 3x5, and 5x3 entries.
  assets/maps/random_rooms/3x3/importantpillar_50.dmm
  assets/maps/random_rooms/3x5/rockmuseum_75.dmm
  assets/maps/random_rooms/5x3/mechcomedy_80.dmm
Labels: A-Mapping, size/L, E-Contest

#14579 [Random Room Contest] [5x3] Adds a 5x3 Random Room, fishexhibit.dmm
  assets/maps/random_rooms/5x3/fishexhibit.dmm
Labels: A-Mapping, size/L, E-Contest

#14582 Contest: 3x5 enginetest.dmm
  assets/maps/random_rooms/3x5/enginetest.dmm
Labels: A-Mapping, size/M, E-Contest

#14620 5x3 Random Room entry: Chess-tling Ring
  assets/maps/random_rooms/5x3/chessring_45.dmm
Labels: A-Mapping, size/L, E-Contest

#14625 Contest: 3x3 Rarest random room
  assets/maps/random_rooms/3x3/rarestroom_1.dmm
  code/obj/item/clothing/uniforms.dm
  icons/mob/clothing/jumpsuits/worn_js_misc.dmi
  icons/obj/clothing/uniforms/item_js_misc.dmi
Labels: A-Mapping, C-Sprites, size/M, E-Contest

#14648 [Random Room Contest] [3x5] Adda Snaily Softserve's Slowstop Sodas Shop as a 3x5 Random Room
  assets/maps/random_rooms/3x5/snailsoda.dmm
  code/mob/living/critter/small_animal.dm
Labels: A-Mapping, size/L, E-Contest

#14617 [Random Room Contest] [5x3] Adds the donut kitchen random room
  assets/maps/random_rooms/5x3/donutkitchen.dmm
Labels: A-Mapping, size/M, E-Contest

#14672 3x3 Random Room entry: Bad Cable Containment
  assets/maps/random_rooms/3x3/badcable.dmm
Labels: A-Mapping, E-Contest

#14709 Contest: 5x3 added a random room for the contest!!
  assets/maps/random_rooms/5x3/smashedcore_50.dmm
Labels: A-Mapping, size/L, E-Contest

#14715 Contest: 3x3 fake boar display random room
  assets/maps/random_rooms/3x3/fakeboardisplay.dmm
Labels: A-Mapping, size/M, E-Contest

#14716 Contest: 5x3 gamer representation random room
  assets/maps/random_rooms/5x3/gamerpad.dmm
Labels: A-Mapping, size/L, E-Contest

#14717 Contest: 3x5 fishing random room!
  assets/maps/random_rooms/3x5/fishingtrip.dmm
Labels: A-Mapping, size/L, E-Contest

#14718 Contest: 5x3 its a tea party and you're invited! ! !
  assets/maps/random_rooms/5x3/teaparty_40.dmm
Labels: A-Mapping, size/L, E-Contest

#14719 Contest: 3x3 SLUG ZONE REAL
  assets/maps/random_rooms/3x3/SLUGZONE.dmm
  assets/maps/random_rooms/3x5/SLUGZONE_5.dmm
Labels: A-Mapping, size/L, E-Contest

#14721 Contest: 3x3 alien flower based random room
  assets/maps/random_rooms/3x3/strangeflower_50.dmm
Labels: A-Mapping, size/L, E-Contest

#14858 Fixes Space Heaters Occasionally Not Heating Their Surroundings
  code/obj/machinery/spaceheater.dm
Labels: C-Bug, size/XS, A-Atmospherics

#14864 Fix lamp manufacturer using ammo when it shouldn't
  code/modules/power/lighting.dm
Labels: C-Bug, size/XS, A-Game-Objects

#14839 Adds cooked and raw shrimp meat and shrimp nigiri roll.
  code/datums/cookingrecipes.dm
  code/modules/fishing/fish.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food.dmi
  icons/obj/foodNdrink/food_ingredient.dmi
  icons/obj/foodNdrink/food_sushi.dmi
Labels: C-Sprites, size/M, A-Catering

#14869 Rate limit animations on singularity
  code/obj/machinery/singularity.dm
Labels: C-Bug, size/M

#14872 fix mAntistes appearing
  strings/station_name.txt
Labels: P-Minor, size/XS

#14874 Fix #7831 Clown PDA follows banana rules
  code/obj/item/device/pda2/pda2.dm
Labels: C-Bug, size/XS, A-Game-Objects

#14823 Expands Clarion QM and Reorganizes QM Storage
  maps/clarion.dmm
Labels: A-Mapping, C-Rework, size/XL

#14856 Remove maintenance cameras for cogmap1
  maps/cogmap.dmm
Labels: A-Mapping, C-Balance, size/L, A-Silicons

#14888 Refactor Chemistry-Recipes.dm
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: P-Trivial, C-Code-Quality, size/XXL

#14863 Nadir "Eclipse" Fixbatch
  maps/nadir.dmm
Labels: C-Feature, A-Mapping, size/XL

#14694 Choose your own ~~adventure~~ engine!
  assets/maps/engine_rooms/cogmap/TEG_100.dmm
  assets/maps/engine_rooms/cogmap/choice_5.dmm
  assets/maps/engine_rooms/cogmap/nuclear_100.dmm
  assets/maps/engine_rooms/cogmap/singularity_100.dmm
  code/modules/worldgen/prefab/engines.dm
  code/modules/worldgen/prefab/random_rooms.dm
  goonstation.dme
  icons/effects/mapeditor/engine_room.dmi
  maps/cogmap.dmm
Labels: C-Feature, A-Mapping, C-Sprites, A-Tooling, size/XXL, S-Testmerged

#14536 Add carbon nanofiber as the default material for surplus vests
  code/obj/item/clothing/armor.dm
Labels: C-Balance, size/XS, A-Clothing

#14911 Changes how lastgasp works for silicons
  code/mob/living/silicon/robot.dm
  code/modules/status_system/statusEffects.dm
Labels: C-QoL, size/XS, A-Silicons

#14934 Fixed minor typos in appendicitis warning message.
  strings/organ_disease_messages.txt
Labels: C-Bug, C-Feature, P-Trivial, A-UI, size/XS

#14908 Fixes Temperature Debug Overlays
  code/modules/admin/diagnostics.dm
Labels: C-Bug, size/XS, A-Atmospherics

#14896 Fix balloons not bursting
  code/modules/chemistry/tools/balloons.dm
Labels: C-Bug, P-Major, size/S, A-Game-Objects

#14556 Constructable conveyor belts
  code/WorkInProgress/recycling/conveyor.dm
Labels: C-QoL, E-Add-To-Wiki, size/L, A-Game-Objects

#14887 Adds 14 short hairstyles
  code/datums/customization_styles.dm
  icons/mob/human_hair.dmi
Labels: C-Sprites, size/M

#14951 reasonably respectful rattlesnake reagent reduction
  code/datums/abilities/critter/small_animal.dm
Labels: C-Balance, size/XS, A-Critters

#14905 Adds powdered milk
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: C-Feature, size/M, A-Chemistry

#14964 Fix null loc on soulguard respawn
  code/mob/living/carbon/human.dm
  code/modules/events/antag_ghost_respawn.dm
  code/modules/holiday/spacemas.dm
Labels: C-Bug, P-Major, size/XS

#14336 Updates fakewindow wall with an auto perspective version
  code/turf/turf_autoalign.dm
  maps/atlas.dmm
  maps/unused/manta.dmm
  maps/z2.dmm
  tools/UpdatePaths/Scripts/14336_fakewall_replacement.txt
Labels: A-Mapping, A-Tooling, C-Code-Quality, size/XXL

#14605 Massive inhand sprite changes
  code/modules/food_and_drink/snacks.dm
  code/modules/writing/pens_writing_etc.dm
  code/obj/item/book.dm
  code/obj/item/table_rack_parts.dm
  code/obj/item/tank.dm
  code/obj/item/tool/wrench.dm
  icons/mob/inhand/hand_books.dmi
  icons/mob/inhand/hand_food.dmi
  icons/mob/inhand/hand_general.dmi
  icons/mob/inhand/hand_headgear.dmi
  icons/mob/inhand/hand_instruments.dmi
  icons/mob/inhand/hand_medical.dmi
  icons/mob/inhand/hand_tools.dmi
  icons/mob/inhand/overcoat/hand_suit_armor.dmi
  icons/mob/inhand/tools/crowbar.dmi
  icons/mob/inhand/tools/multitool.dmi
  icons/mob/inhand/tools/omnitool.dmi
  icons/mob/inhand/tools/weldingtool.dmi
  icons/mob/inhand/tools/wrench.dmi
Labels: C-Sprites, size/S, A-Game-Objects

#14509 Mobifies Martians
  assets/maps/prefabs/underwater/nadir_safe/prefab_water_martian_glomp.dmm
  assets/maps/prefabs/underwater/nadir_unsafe/prefab_water_zoo.dmm
  assets/maps/shuttles/east/east_martian.dmm
  assets/maps/shuttles/north/north_martian.dmm
  assets/maps/shuttles/south/south_martian.dmm
  code/WorkInProgress/construction/event_controller.dm
  code/datums/abilities/critter/gibstare.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/datums/limb.dm
  code/mob/living/critter.dm
  code/mob/living/critter/ai/generic_critter.dm
  code/mob/living/critter/martian.dm
  code/modules/admin/buildmodes/adventure/adventure_critter.dm
  code/modules/economy/trader.dm
  code/modules/medical/diseases/cold.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/modules/worldgen/mapgen/MarsGenerator.dm
  code/obj/critter/martian.dm
  code/obj/item/clothing/hats.dm
  code/obj/mapping/mob_spawn.dm
  code/obj/vortex.dm
  goonstation.dme
  maps/oshan.dmm
  maps/z2.dmm
  maps/z3_water.dmm
  maps/z5.dmm
  tools/UpdatePaths/Scripts/14509_martian_mob_path.txt
Labels: A-Mapping, A-Tooling, C-Balance, C-Rework, size/XXL, A-Critters

#14944 Remove two tables on Atlas
  maps/atlas.dmm
Labels: A-Mapping, C-QoL, size/XS

#14959 fix chairs becoming steelgrey when unfolded
  code/obj/stool.dm
Labels: C-Bug, P-Minor, size/XS

#14968 Adds paper to cigarette machines
  code/modules/vending/vending.dm
Labels: size/XS

#14923 Deprecates /proc/remove_antag()
  code/datums/special_r.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
  code/modules/events/crew_spawn.dm
  code/obj/zoldorf.dm
Labels: C-Code-Quality, size/L, A-Internal

#14759 Mobifies Gunbots
  code/datums/critter_mobs/hands.dm
  code/datums/limb.dm
  code/datums/manufacturing.dm
  code/mob/living.dm
  code/mob/living/critter.dm
  code/mob/living/critter/ai/generic_aiholders.dm
  code/mob/living/critter/gunbot.dm
  code/modules/antagonists/wraith/abilties/harbinger/create_summon_portal.dm
  code/modules/antagonists/wraith/critters/abilities/skeleton_commander.dm
  code/modules/antagonists/wraith/objs/machinery/vortex_wraith.dm
  code/modules/events/antagonist_critter_ghost_respawn.dm
  code/obj/decal.dm
  code/obj/item/deployable_turret.dm
  code/obj/vortex.dm
  code/procs/gibs.dm
  maps/z2.dmm
  maps/z3_water.dmm
  tools/UpdatePaths/Scripts/gunbot_repaths.txt
Labels: A-Mapping, A-Tooling, A-Secret, C-Balance, C-Rework, size/XXL, A-Critters

#14899 Remove maintenance cameras for clarion
  maps/clarion.dmm
Labels: A-Mapping, C-Balance, size/XXL, A-Silicons

#14988 Bugfixes to the trickster's runetrap
  code/modules/antagonists/wraith/abilties/trickster/lay_trap.dm
  code/modules/antagonists/wraith/objs/machinery/runetrap.dm
Labels: C-Bug, size/XS, A-Game-Objects

#14146 Resprites Sponge Capsules
  icons/obj/items/sponge_capsule.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#14616 Implements additional procs for ``datum/plant_gene_strain`` and enables seeds to spawn with active gene strains
  code/datums/abilities/kudzumen.dm
  code/datums/components/arable.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/hydroponics/gene_strains.dm
  code/modules/hydroponics/plants.dm
  code/modules/hydroponics/plants_flower.dm
  code/modules/hydroponics/plants_weed.dm
  code/obj/item/hydroponics.dm
  code/obj/item/seeds.dm
  code/obj/machinery/plantpot.dm
  code/obj/submachine/seed.dm
Labels: C-Balance, S-Stale, size/L, A-Hydroponics

#14731 Mobifiies Mechanical Crawlers
  assets/maps/prefabs/space/prefab_von_ricken.dmm
  code/datums/limb.dm
  code/mob/living/critter/mechmonstrosity.dm
  code/modules/antagonists/wraith/abilties/harbinger/create_summon_portal.dm
  code/modules/antagonists/wraith/critters/abilities/skeleton_commander.dm
  code/modules/antagonists/wraith/objs/machinery/vortex_wraith.dm
Labels: C-Bug, A-Mapping, C-Rework, S-Stale, size/L, A-Critters

#14996 Fixes trickster puppet name
  code/mob/living/intangible/wraith.dm
  code/modules/antagonists/wraith/abilties/haunt.dm
  code/modules/antagonists/wraith/abilties/trickster/choose_haunt_appearance.dm
  code/modules/antagonists/wraith/critters/trickster_puppet.dm
Labels: C-Bug, A-UI, size/S, A-Gamemodes

#14765 Removes Oshan Pathology
  maps/oshan.dmm
Labels: A-Mapping, C-Removal, size/XXL, A-Medical

#15009 Prevent div by zero on reactor gas processing
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/reactorcomponents.dm
Labels: C-Bug, size/XS, A-Atmospherics, A-Game-Objects

#15004 Makes light space and mars helmets no longer hide your face.
  code/obj/item/clothing/helmets.dm
  code/z_adventurezones/mad_mars.dm
Labels: C-Balance, size/XS, A-Clothing

#15016 Fixes improperly named mail junction on donut 3
  maps/donut3.dmm
Labels: C-Bug, A-Mapping, size/XS

#15017 Nadir roundstart borgs 2 -> 4
  maps/nadir.dmm
Labels: A-Mapping, size/XS

#14854 General trinary types cleanup, and some more
  code/modules/atmospherics/machinery/filter.dm
  code/modules/atmospherics/machinery/manifold_valve.dm
  code/modules/atmospherics/machinery/mixer.dm
  code/modules/atmospherics/machinery/retrofilter.dm
  code/modules/atmospherics/machinery/trinary/filter.dm
  code/modules/atmospherics/machinery/trinary/manifold_valve.dm
  code/modules/atmospherics/machinery/trinary/mixer.dm
  code/modules/atmospherics/machinery/trinary/retrofilter.dm
  code/modules/atmospherics/machinery/trinary/trinary_base.dm
  code/obj/machinery/computer/general_air_control.dm
  goonstation.dme
  icons/obj/atmospherics/filter.dmi
  icons/obj/atmospherics/manifold_valve.dmi
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/pamgoc.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/oldmap.dmm
  maps/unused/ozymandias.dmm
  tools/UpdatePaths/Scripts/14854_change_to_trinary.txt
Labels: C-Bug, A-Mapping, C-Sprites, A-Tooling, C-Code-Quality, size/XXL, A-Atmospherics, A-Internal

#14974 Adds a couple more tailed suit sprites
  icons/mob/lizard/tail.dmi
Labels: C-Sprites, size/XS, A-Clothing

#15019 Chessboard resprite
  icons/obj/items/boardgame.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#14913 Fix computer peripherals being duplicated on unscrew/screwing monitor
  code/modules/networks/computer3/computer3.dm
Labels: C-Bug, size/M, A-Game-Objects

#14697 3x3 Random room submission: Mime room
  assets/maps/random_rooms/3x3/mime.dmm
Labels: A-Mapping, size/M, E-Contest

#15022 Fixes a few instrument inhands
  icons/mob/inhand/hand_instruments.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#15015 Mob critters no longer laydown on death. Death allows mobs to go in short storage and gives slowdown when pulling.
  code/mob/living.dm
  code/mob/living/critter.dm
  code/mob/living/critter/adventure.dm
  code/mob/living/critter/aquatic.dm
  code/mob/living/critter/bear.dm
  code/mob/living/critter/brullbar.dm
  code/mob/living/critter/capybara.dm
  code/mob/living/critter/martian.dm
  code/mob/living/critter/mining_critter.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/life/stuns_lying.dm
  code/mob/living/silicon.dm
  code/modules/antagonists/wraith/critters/exploder.dm
  code/modules/economy/supply_misc.dm
  code/obj/storage/large_storage_parent.dm
  icons/misc/critter.dmi
Labels: C-Bug, C-Sprites, C-QoL, size/L, A-Critters

#15026 Adds a couple back slot item monkey sprites.
  icons/mob/monkey/back.dmi
Labels: C-Sprites, size/XS, A-Clothing

#14945 fix lollipops always being white
  code/modules/food_and_drink/candy.dm
Labels: C-Bug, P-Minor, size/M

#14811 Switch pipeshot's w_class from normal to tiny
  code/obj/item/gun/ammo.dm
Labels: C-Balance, size/XS, A-Game-Objects

#14979 Minor item additions to Nadir
  maps/nadir.dmm
Labels: C-Feature, A-Mapping, size/XS

#14902 Updates Jones' Description
  code/mob/living/critter/small_animal.dm
Labels: C-Feature, size/XS, A-Critters

#14853 Fix glassdoors having no north facing sprite and using the wrong welded icons
  code/obj/machinery/door/airlock.dm
  icons/obj/doors/SL_doors.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Game-Objects

#14628 Add a "set trigger" option for received signals of the wifi signal splitter component
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Feature, size/XS, A-Game-Objects

#14983 Fix various Mulebot things
  code/modules/robotics/bot/mulebot.dm
  code/obj/item/device/pda2/bot_control.dm
  maps/donut2.dmm
Labels: P-Minor, A-Mapping, C-QoL, size/S

#14973 Minor balloon.dm refactor
  code/modules/chemistry/tools/balloons.dm
Labels: C-Code-Quality, size/S, A-Internal

#15036 Adds a clown scabbard sprite for chimps.
  icons/mob/monkey/belt.dmi
Labels: C-Sprites, size/XS, A-Clothing

#14999 Adds the Electric guitar
  code/modules/economy/supply_packs.dm
  code/modules/sound/soundCache.dm
  code/obj/item/instruments.dm
  icons/mob/inhand/hand_instruments.dmi
  icons/obj/large/64x32.dmi
  sound/musical_instruments/elecguitar/notes/a-2.ogg
  sound/musical_instruments/elecguitar/notes/a-3.ogg
  sound/musical_instruments/elecguitar/notes/a-4.ogg
  sound/musical_instruments/elecguitar/notes/a-5.ogg
  sound/musical_instruments/elecguitar/notes/a2.ogg
  sound/musical_instruments/elecguitar/notes/a3.ogg
  sound/musical_instruments/elecguitar/notes/a4.ogg
  sound/musical_instruments/elecguitar/notes/a5.ogg
  sound/musical_instruments/elecguitar/notes/b2.ogg
  sound/musical_instruments/elecguitar/notes/b3.ogg
  sound/musical_instruments/elecguitar/notes/b4.ogg
  sound/musical_instruments/elecguitar/notes/b5.ogg
  sound/musical_instruments/elecguitar/notes/c-3.ogg
  sound/musical_instruments/elecguitar/notes/c-4.ogg
  sound/musical_instruments/elecguitar/notes/c-5.ogg
  sound/musical_instruments/elecguitar/notes/c3.ogg
  sound/musical_instruments/elecguitar/notes/c4.ogg
  sound/musical_instruments/elecguitar/notes/c5.ogg
  sound/musical_instruments/elecguitar/notes/c6.ogg
  sound/musical_instruments/elecguitar/notes/d-3.ogg
  sound/musical_instruments/elecguitar/notes/d-4.ogg
  sound/musical_instruments/elecguitar/notes/d-5.ogg
  sound/musical_instruments/elecguitar/notes/d3.ogg
  sound/musical_instruments/elecguitar/notes/d4.ogg
  sound/musical_instruments/elecguitar/notes/d5.ogg
  sound/musical_instruments/elecguitar/notes/e2.ogg
  sound/musical_instruments/elecguitar/notes/e3.ogg
  sound/musical_instruments/elecguitar/notes/e4.ogg
  sound/musical_instruments/elecguitar/notes/e5.ogg
  sound/musical_instruments/elecguitar/notes/f-2.ogg
  sound/musical_instruments/elecguitar/notes/f-3.ogg
  sound/musical_instruments/elecguitar/notes/f-4.ogg
  sound/musical_instruments/elecguitar/notes/f-5.ogg
  sound/musical_instruments/elecguitar/notes/f2.ogg
  sound/musical_instruments/elecguitar/notes/f3.ogg
  sound/musical_instruments/elecguitar/notes/f4.ogg
  sound/musical_instruments/elecguitar/notes/f5.ogg
  sound/musical_instruments/elecguitar/notes/g-2.ogg
  sound/musical_instruments/elecguitar/notes/g-3.ogg
  sound/musical_instruments/elecguitar/notes/g-4.ogg
  sound/musical_instruments/elecguitar/notes/g-5.ogg
  sound/musical_instruments/elecguitar/notes/g2.ogg
  sound/musical_instruments/elecguitar/notes/g3.ogg
  sound/musical_instruments/elecguitar/notes/g4.ogg
  sound/musical_instruments/elecguitar/notes/g5.ogg
Labels: C-Sprites, C-Sound, size/M, A-Game-Objects

#15020 Reduce melt time of 3D printed bottle to 1 decisecond
  code/datums/components/biodegradable.dm
Labels: C-QoL, size/XS, A-Game-Objects

#14955 Sylvester Resprite! 🐢
  icons/misc/critter.dmi
Labels: C-Sprites, size/XS, A-Critters

#14903 Let's Silicons Use the Supply Request Console
  code/obj/machinery/computer/QM_order.dm
Labels: C-QoL, size/XS, A-Silicons

#14642 Adds wall trophy for fish as a purchase for fishing tickets.
  code/obj/item/wall_trophy.dm
  code/obj/submachine/weapon_vendor.dm
  code/turf/walls.dm
  goonstation.dme
  icons/obj/items/fishing_gear.dmi
Labels: C-Sprites, S-Stale, size/L, A-Game-Objects, A-Catering

#14936 Mobifies Living Tails
  code/datums/abilities/lizard.dm
  code/mob/living/critter/small_animal.dm
  code/obj/critter/misc.dm
Labels: C-Rework, size/L, A-Critters

#15049 prevents runtime on mobs without hands attacking
  code/mob/living/critter.dm
Labels: C-Runtime, size/XS, A-Critters

#15033 Minor weapon rack UI fix
  code/obj/machinery/weapon_racks.dm
Labels: C-Bug, C-QoL, A-UI, size/S, A-Game-Objects

#14808 Adds pre-filled chemlab counter subtypes
  code/modules/writing/papers.dm
  code/obj/table.dm
Labels: A-Mapping, C-QoL, size/L, A-Chemistry, A-Science

#14850 Adds the Rancher's closet
  code/obj/item/kitchen.dm
  code/obj/storage/secure_closets.dm
Labels: A-Mapping, C-QoL, S-Stale, size/S

#14895 TGUI Advanced Computer
  browserassets/tgui/tgui.bundle.js
  code/modules/networks/computer3/computer3.dm
  code/modules/networks/computer3/mainframe2/base_program.dm
  code/modules/networks/computer3/peripherals.dm
  tgui/packages/tgui/interfaces/Terminal.js
Labels: C-Feature, A-UI, size/XL

#14870 Fixes #14866 - Outermost Movable Components Now Track Changes In Area
  _std/defines/component_defines/component_defines_atom.dm
  code/area.dm
  code/datums/components/complexsignal/outermost_movable.dm
  code/mob/dead/target_observer.dm
  code/modules/parallax/parallax_controller.dm
Labels: C-Bug, A-UI, size/M, A-Internal

#14956 Printing press cleanup refactor thing
  code/obj/machinery/printing_press.dm
Labels: C-Code-Quality, size/XL, A-Internal

#15052 Donut2 mail system fixes
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/S

#14938 Mobifies Lavacrabs
  code/mob/living/critter/ai/generic_aiholders.dm
  code/mob/living/critter/small_animal.dm
  code/modules/events/white_hole.dm
  code/z_adventurezones/lavamoon.dm
  maps/z2.dmm
Labels: A-Mapping, C-Balance, C-Rework, size/XXL, A-Critters

#15055 Do the thing where I clean up var/level
  _std/defines/atom.dm
  code/WorkInProgress/recycling/disposal-construction.dm
  code/WorkInProgress/recycling/disposal.dm
  code/atom.dm
  code/modules/antagonists/vampire/abilities/phaseshift_vampire.dm
  code/modules/atmospherics/machinery/binary/dp_vent_pump.dm
  code/modules/atmospherics/machinery/pipe.dm
  code/modules/atmospherics/machinery/portables_connector.dm
  code/modules/atmospherics/machinery/unary/outlet_injector.dm
  code/modules/atmospherics/machinery/unary/vent_pump.dm
  code/modules/atmospherics/machinery/unary/vent_scrubber.dm
  code/modules/fluids/fluid_turf.dm
  code/modules/mechanics/MechanicMC14500.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/power/cable.dm
  code/modules/power/terminal.dm
  code/modules/speech/floating_chat.dm
  code/obj.dm
  code/obj/item/device/scanners.dm
  code/turf/turf.dm
Labels: C-Code-Quality, size/L, A-Internal

#15073 Resprites Moon Pies and Butter Cookies
  icons/obj/foodNdrink/food_snacks.dmi
Labels: C-Sprites, size/XS, A-Catering

#15065 Ethanol strength nerf for non-evil alcoholic drinks
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: C-Bug, C-Balance, C-QoL, E-Add-To-Wiki, size/M, A-Chemistry, A-Catering

#15064 Adds a monkey bladed glove sprite.
  icons/mob/monkey/hands.dmi
Labels: C-Sprites, size/XS, A-Clothing

#15047 Adds electric guitar and tambourine to ghost bar
  maps/z2.dmm
Labels: A-Mapping, size/S

#15012 New trait: Picky eater
  _std/defines/sims.dm
  code/datums/crew_objective.dm
  code/datums/gameticker.dm
  code/datums/traits.dm
  code/global.dm
  code/mob/new_player.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/pies.dm
  icons/ui/traits.dmi
Labels: C-Feature, C-Sprites, size/L, A-Traits, A-RP

#15061 Adds 2 monkey glasses.
  icons/mob/monkey/eyes.dmi
  icons/mob/monkey/mask.dmi
Labels: C-Sprites, size/XS, A-Clothing

#14807 Add lanyards to tourist (also adds blob and cow mutantrace)
  code/datums/jobs.dm
Labels: C-Feature, size/S, A-Respawning

#15082 Adds Censorium to replace char+rock
  code/modules/materials/Mat_Materials.dm
  code/modules/materials/Mat_RawMaterials.dm
  code/modules/materials/Mat_Recipes.dm
Labels: size/M

#15087 phrase log Books from the Printing Press
  code/obj/machinery/printing_press.dm
Labels: size/XS, A-Internal

#14958 Implement newbee system
  browserassets/css/browserOutput.css
  browserassets/images/radio_icons/Newbee.png
  code/modules/newbee/newbee.dm
  code/procs/mobprocs/chatprocs.dm
  goonstation.dme
Labels: C-Feature, A-UI, size/M, S-Testmerged

#15090 Mentormouse ability incapacitation fix
  code/datums/abilities/critter.dm
  code/mob/living/critter/small_animal.dm
Labels: C-QoL, size/S, A-Player-Actions

#15108 Fixes #15103 - Sheets can now stack
  code/obj/item/building_materials.dm
Labels: C-Bug, size/S

#15115 Fixes #15102 - Makes the stun cane craftable again
  _std/defines/materials.dm
  code/obj/item/stun_baton.dm
  code/obj/machinery/manufacturer.dm
Labels: C-Bug, size/XS, A-Game-Objects

#15098 Fix Double Turfs in Non Station / Z Files
  assets/maps/shuttles/east/oshan_minisubs.dmm
  maps/cogwip/kappa.dmm
  maps/cogwip/ships.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/setpieces/SHARED_biodomeExpanded.dmm
  maps/variants/flocktrader/flocktrader-advanced.dmm
  maps/variants/flocktrader/flocktrader-complete.dmm
Labels: A-Mapping, C-Code-Quality, size/XXL

#15059 Standardise Rancher Closets on all rotation maps
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: C-Bug, C-Feature, A-Mapping, C-QoL, E-Add-To-Wiki, size/L, A-Game-Objects

#15099 Fix Doubled Turfs in out of rotation map files
  maps/unused/chiron.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/density.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/manta.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/oldmap.dmm
  maps/unused/ozymandias.dmm
  maps/unused/samedi.dmm
  maps/unused/trunkmap.dmm
Labels: A-Mapping, C-Code-Quality, size/XXL

#15063 Adds two monkey shoes
  icons/mob/monkey/feet.dmi
Labels: C-Sprites, size/XS, A-Clothing

#15126 Fix the Oshan Cloner west door
  maps/oshan.dmm
Labels: A-Mapping, C-Revert, size/XS

#15118 Atlas Lab Drawer Conversion
  maps/atlas.dmm
Labels: A-Mapping, C-QoL, size/S, A-Chemistry, A-Science

#15120 Clarion Lab Drawer Conversion
  maps/clarion.dmm
Labels: A-Mapping, C-QoL, size/S, A-Chemistry, A-Science

#15125 Cog2 Lab Drawer Conversion
  maps/cogmap2.dmm
Labels: A-Mapping, C-QoL, size/M, A-Chemistry, A-Science

#15119 Oshan Lab Drawer Conversion
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, size/M, A-Chemistry, A-Science

#15113 smart_string_picker crash
  code/procs/string_picker.dm
Labels: C-Runtime, size/XS, A-Internal

#15130 Adds monkey ID sprites.
  icons/mob/monkey/card.dmi
Labels: C-Sprites, size/XS, A-Clothing

#15054 Light Space Suit Resprite
  icons/mob/clothing/head.dmi
  icons/mob/clothing/overcoats/worn_suit_hazard.dmi
  icons/mob/lizard/head.dmi
  icons/mob/lizard/tail.dmi
  icons/mob/monkey/head.dmi
  icons/mob/monkey/overcoats.dmi
  icons/mob/monkey/tail.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/overcoats/item_suit_hazard.dmi
Labels: C-Sprites, size/XS

#15138 makes the new lab table subtypes auto-connect
  code/obj/table.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap2.dmm
  maps/donut3.dmm
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/M, A-Chemistry

#15025 Refactors butcherable
  _std/defines/mob.dm
  code/WorkInProgress/Hydrothings.dm
  code/WorkInProgress/KatzStuff.dm
  code/WorkInProgress/aloe_stuff_public.dm
  code/datums/controllers/action_controls.dm
  code/mob/living/critter.dm
  code/mob/living/critter/aquatic.dm
  code/mob/living/critter/bee.dm
  code/mob/living/critter/big_animal.dm
  code/mob/living/critter/capybara.dm
  code/mob/living/critter/changeling_critters.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/mob/living/critter/jeans_elemental.dm
  code/mob/living/critter/mimic.dm
  code/mob/living/critter/mining_critter.dm
  code/mob/living/critter/mob_bots.dm
  code/mob/living/critter/sawfly.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/critter/snake.dm
  code/mob/living/critter/spider.dm
  code/modules/antagonists/wizard/abilities/animal.dm
  code/modules/antagonists/wraith/critters/plaguerat.dm
  code/modules/medical/diseases/frog_flu.dm
  code/obj/critter/bee.dm
  code/obj/critter/big_animals.dm
  code/obj/critter/critter_parent.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/critter/plants.dm
  code/z_adventurezones/meatland.dm
Labels: C-Code-Quality, size/L, A-Internal

#14121 auto cable and pipe repath
  .github/MAP_GUIDELINES.md
  code/WorkInProgress/recycling/disposal.dm
  code/modules/power/cable.dm
  code/modules/power/cablecolors.dm
Labels: A-Mapping, A-Tooling, C-Code-Quality, C-Rework, size/L, A-Internal, C-Documentation

#15140 Improves the molitz beta paper
  code/modules/writing/papers.dm
Labels: size/S

#15144 Add maint access door to oshan mining
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, size/M

#15124 Donut2 Lab Drawer Conversion
  maps/donut2.dmm
Labels: A-Mapping, C-QoL, size/S, A-Chemistry, A-Science

#15122 Kondaru Lab Drawer Conversion
  maps/kondaru.dmm
Labels: A-Mapping, C-QoL, size/M, A-Chemistry, A-Science

#15117 Cog1 Lab Drawer Conversion
  maps/cogmap.dmm
Labels: A-Mapping, C-QoL, size/L, A-Chemistry, A-Science

#15121 Nadir Lab Drawer Conversion
  maps/nadir.dmm
Labels: A-Mapping, C-QoL, size/M, A-Chemistry, A-Science

#14857 Conversion of `obj/item/fish` into `/obj/item/reagent_container/food/fish` and addition of fish oil
  assets/maps/prefabs/largetest.dmm
  assets/maps/prefabs/planet/prefab_planet_bear_den.dmm
  assets/maps/prefabs/space/prefab_adrift_cargo_router.dmm
  assets/maps/random_rooms/3x5/beachroom.dmm
  assets/maps/random_rooms/5x3/cats.dmm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/economy/commodity.dm
  code/modules/fishing/fish.dm
  code/modules/fishing/fishing_gear.dm
  code/modules/fishing/fishing_spots.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/hydroponics/gene_strains.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/power/furnace.dm
  code/obj/item/device/radios/intercoms.dm
  code/obj/item/kitchen.dm
  code/obj/item/wall_trophy.dm
  code/obj/machinery/plantpot.dm
  code/obj/storage/large_storage_parent.dm
  code/obj/submachine/seed.dm
  code/z_adventurezones/space_casino.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/chiron.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/destiny.dmm
  maps/unused/horizon.dmm
  maps/unused/manta.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/oldmap.dmm
  maps/unused/ozymandias.dmm
  maps/unused/samedi.dmm
  maps/unused/setpieces/SHARED_biodomeExpanded.dmm
  maps/wrestlemap.dmm
  maps/z5.dmm
  tools/UpdatePaths/Scripts/14857_fish_refactor.txt
Labels: C-Bug, A-Mapping, S-Merge-Conflict, C-Rework, size/XXL, A-Chemistry, A-Catering, A-Hydroponics

#15127 Nadir security pod bay + associated adjustments
  maps/nadir.dmm
Labels: A-Mapping, C-Balance, size/XXL

#15034 Shamblers delimb/damage when devouring a player
  code/modules/antagonists/changeling/abilities/absorb.dm
Labels: C-Balance, size/S, A-Player-Actions

#15048 Chef can now name meals
  code/obj/item/kitchen.dm
Labels: C-Feature, size/S, A-Player-Actions, A-Catering

#15149 Reagent Amount poured into trays fix
  code/obj/machinery/plantpot.dm
Labels: C-QoL, size/XS, A-Hydroponics

#15151 fixes #14613, updates a cameras tag to no longer be "gas chamber"
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/XS

#15156 Fix alt hover showing wrong pronouns
  code/modules/interface/name_tag.dm
Labels: C-Bug, A-UI, size/XS

#14889 Buff the effect of EMP on borgs
  code/mob/living/silicon/robot.dm
  code/modules/robotics/robot/upgrade/parent.dm
  code/modules/robotics/robot/upgrade/recovery.dm
  code/modules/status_system/statusEffects.dm
  code/obj/item/mob_parts/robot_parts.dm
Labels: C-Balance, size/M, A-Silicons

#15123 Donut3 Lab Drawer Conversion
  maps/donut3.dmm
Labels: A-Mapping, C-QoL, size/M, A-Chemistry, A-Science

#15147 Eating your favorite food as picky eater heals more hunger
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/sandwiches.dm
Labels: C-QoL, size/S, A-Traits, A-RP

#14664 Reworks oshan ranch
  maps/oshan.dmm
Labels: A-Mapping, C-Sprites, S-Merge-Conflict, size/XXL
