Repository goonstation/goonstation, pull requests merged in 2023-04, with the labels that each got.

#13524 Remove unused device shield code
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/damage.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/mob/living/critter.dm
  code/obj/item/device/shield.dm
  code/procs/mobprocs/attacks.dm
  goonstation.dme
Labels: C-Code-Quality, size/M, A-Internal

#13393 IV bags and IV pole resprite
  code/modules/chemistry/tools/iv_drips.dm
  icons/obj/surgery.dmi
Labels: C-Sprites, size/M, A-Game-Objects

#13469 Fixes the Lockdown/Guard Command for AI eyes
  code/obj/item/device/pda2/bot_control.dm
Labels: C-Bug, size/XS, A-Station-Systems

#13512 Datumises Syndicate Gunbots
  _std/defines/roles.dm
  _std/macros/antag_popups.dm
  code/modules/antagonists/nuclear_operative/nuclear_operative.dm
  code/modules/antagonists/nuclear_operative/nuclear_operative_gunbot.dm
  code/obj/item/nuclear_operative/reinforcement_beacon.dm
  goonstation.dme
Labels: C-Code-Quality, size/M, A-Gamemodes, A-Internal

#13515 slight scorpion changes
  code/datums/abilities/critter/small_animal.dm
Labels: C-Balance, size/XS, A-AI

#13537 fixed iv bag line mistake
  icons/obj/surgery.dmi
Labels: C-Sprites, size/XS

#13525 Remove virus spread through blood and gibs
  code/WorkInProgress/customcritter.dm
  code/mob.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/damage.dm
  code/mob/living/critter/killertomato.dm
  code/mob/living/critter/maneater.dm
  code/mob/living/critter/skeleton.dm
  code/mob/living/life/Life.dm
  code/mob/living/life/viruses.dm
  code/mob/living/silicon/drone.dm
  code/modules/chemistry/Chemistry-Dispenser.dm
  code/modules/medical/diseases/corrupt_robotic_transformation.dm
  code/modules/medical/diseases/edisons_disease.dm
  code/modules/medical/diseases/robotic_transformation.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/modules/tutorials/blob_tutorial.dm
  code/obj/artifacts/artifact_objects/borgifier.dm
  code/obj/decal.dm
  code/obj/decal/cleanable.dm
  code/obj/flock/structure/rift.dm
  code/obj/item/implant.dm
  code/obj/item/instruments.dm
  code/obj/machinery/manufacturer.dm
  code/obj/machinery/nuclearbomb.dm
  code/obj/mining.dm
  code/procs/gibs.dm
  goonstation.dme
Labels: C-Performance, C-Removal, size/L, A-Medical

#13502 Datumises Emagged Cyborgs
  code/mob/living/silicon/robot.dm
  code/modules/antagonists/syndicate_cyborg/emagged_cyborg.dm
  goonstation.dme
Labels: C-Code-Quality, size/M, A-Gamemodes, A-Internal

#13468 Datumises Syndicate Cyborgs
  code/mob/living/silicon.dm
  code/mob/living/silicon/robot.dm
  code/modules/antagonists/syndicate_cyborg/syndicate_cyborg.dm
  goonstation.dme
Labels: C-Code-Quality, S-Merge-Conflict, size/L, E-Freeze-Exempt🧊, A-Gamemodes, A-Internal

#13535 Simple Thinktronic PDA ringtones
  code/datums/pda_ringtones.dm
  code/modules/sound/soundCache.dm
  code/obj/item/device/pda2/ringtone.dm
  sound/machines/phones/ringtones/bebebeep.ogg
  sound/machines/phones/ringtones/bebobeboop.ogg
  sound/machines/phones/ringtones/bobobebeep.ogg
Labels: C-Feature, C-Sound, size/M, A-Game-Objects

#13441 Fix nuclear engine thermodynamics equations
  code/modules/materials/Mat_FabRecipes.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_ProcsDefines.dm
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/reactorcomponents.dm
  code/obj/nuclearreactor/turbine.dm
Labels: C-Bug, C-Balance, size/L, A-Materials, A-Game-Objects

#13324 Fixes projectiles piercing things they shouldn't
  code/modules/projectiles/projectile_parent.dm
Labels: C-Bug, size/XS, A-Game-Objects

#13401 Limit styptic's bleed fixing potential, adjust proconvertin risks
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/tools/patches.dm
Labels: C-Balance, size/M, A-Medical, A-Chemistry

#13547 Adds some figurines
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: C-Feature, C-Sprites, size/M

#13546 E-Gun component can now fire again
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Bug, size/XS, A-Game-Objects

#13539 Prevent breaching charges from activating on handheld objects
  code/obj/item/grenades.dm
  code/obj/mining.dm
Labels: C-QoL, size/S, A-Game-Objects

#13543 Optimises mining gen loops
  code/modules/worldgen/GenerateMining.dm
Labels: C-Performance, size/M, A-Internal

#13548 Re-enables the radiation HUD warning
  code/datums/hud/critter.dm
  code/datums/hud/human.dm
  code/mob.dm
  code/mob/living/life/hud.dm
Labels: C-Feature, C-QoL, A-UI, size/S, A-Status-Effects

#13536 Allow SecHUD flags to be set on RecordTraks
  _std/__std.dme
  _std/defines/security.dm
  code/modules/networks/computer3/sec_rec.dm
  code/obj/item/device/scanners.dm
  icons/ui/context16x16.dmi
Labels: C-Feature, C-Sprites, C-QoL, size/M, A-Game-Objects

#13551 Makes monster burgers take much longer to eat
  code/modules/food_and_drink/sandwiches.dm
Labels: C-Balance, size/XS, A-Catering

#13526 Add a security hangar beacon on Cogmap 1
  maps/cogmap.dmm
Labels: A-Mapping, C-QoL, size/S

#13323 Fixes #13031- Hauntium recipe broken
  code/modules/materials/Mat_Processing.dm
  code/modules/materials/Mat_RawMaterials.dm
Labels: C-Bug, C-QoL, size/XS, A-Materials

#13483 Fix AI not getting turned back on with heal
  code/mob/living.dm
  code/mob/living/life/Life.dm
Labels: C-Bug, size/XS, A-AI

#13421 Bolt Kondaru Toxin doors
  maps/kondaru.dmm
Labels: C-Bug, P-Minor, A-Mapping, size/S

#13380 Datumises Macho Men
  _std/defines/roles.dm
  code/WorkInProgress/infernal_contracts.dm
  code/datums/jobs.dm
  code/mob/living/carbon/human/machoman.dm
  code/mob/transform_procs.dm
  code/modules/admin/admin.dm
  code/modules/antagonists/hunter/hunter.dm
  code/modules/antagonists/macho_man/abilities/_macho_man_ability_holder.dm
  code/modules/antagonists/macho_man/abilities/_macho_man_mob.dm
  code/modules/antagonists/macho_man/abilities/chestcrunch.dm
  code/modules/antagonists/macho_man/abilities/defence.dm
  code/modules/antagonists/macho_man/abilities/gold_touch.dm
  code/modules/antagonists/macho_man/abilities/grasp.dm
  code/modules/antagonists/macho_man/abilities/headcrunch.dm
  code/modules/antagonists/macho_man/abilities/heal.dm
  code/modules/antagonists/macho_man/abilities/heartpunch.dm
  code/modules/antagonists/macho_man/abilities/leap.dm
  code/modules/antagonists/macho_man/abilities/normal.dm
  code/modules/antagonists/macho_man/abilities/offence.dm
  code/modules/antagonists/macho_man/abilities/piledriver.dm
  code/modules/antagonists/macho_man/abilities/rend.dm
  code/modules/antagonists/macho_man/abilities/slimjim_snap.dm
  code/modules/antagonists/macho_man/abilities/soulsteal.dm
  code/modules/antagonists/macho_man/abilities/stare.dm
  code/modules/antagonists/macho_man/abilities/summon_arena.dm
  code/modules/antagonists/macho_man/abilities/throw.dm
  code/modules/antagonists/macho_man/macho_man.dm
  goonstation.dme
Labels: C-Code-Quality, size/XXL, E-Freeze-Exempt🧊, A-Gamemodes, A-Internal

#13552 Revolution Members And Subordiate Antagonists Will No Longer Clutter The Text Window
  code/modules/antagonists/__antagonist.dm
  code/modules/antagonists/__subordinate_antagonist.dm
  code/modules/antagonists/revolutionary/revolutionary.dm
Labels: C-QoL, A-UI, size/XS

#12733 Pod Wars Team Planning Maps
  _std/defines/minimap.dm
  code/area.dm
  code/datums/components/minimap_marker.dm
  code/datums/gamemodes/pod_wars/pw_control_point.dm
  code/datums/gamemodes/pod_wars/pw_misc_objects.dm
  code/datums/jobs.dm
  code/global.dm
  code/modules/minimap/minimap.dm
  code/modules/minimap/minimap_marker.dm
  code/modules/minimap/minimap_object.dm
  code/modules/minimap/minimap_renderer.dm
  code/modules/minimap/minimap_ui.dm
  code/modules/transport/pods/warp_travel.dm
  code/obj/item/implant.dm
  code/world.dm
  goonstation.dme
  icons/obj/large/64x64.dmi
  icons/obj/minimap/minimap_markers.dmi
  maps/pod_wars.dmm
Labels: C-Feature, A-Mapping, C-Sprites, E-Add-To-Wiki, size/XXL, A-Gamemodes

#13559 Nadir AI hardware adjustments
  maps/nadir.dmm
Labels: C-Bug, P-Minor, A-Mapping, size/L

#13490 Mobifies Skeletons
  assets/maps/random_rooms/3x3/clackclack_50.dmm
  code/WorkInProgress/ud5/backup/z7_urs_dungeon_5.dmm
  code/datums/gauntlet/crittergauntlet.dm
  code/mob/living/critter/ai/skeleton.dm
  code/mob/living/critter/skeleton.dm
  code/modules/admin/buildmodes/adventure/adventure_critter.dm
  code/modules/antagonists/wizard/abilities/animatedead.dm
  code/modules/antagonists/wraith/abilties/harbinger/create_summon_portal.dm
  code/modules/antagonists/wraith/abilties/harbinger/raise_skeleton.dm
  code/modules/antagonists/wraith/critters/abilities/skeleton_commander.dm
  code/modules/antagonists/wraith/objs/machinery/vortex_wraith.dm
  code/modules/events/gimmick/skeletons.dm
  code/modules/events/start/critter_infestation.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/obj/critter/misc.dm
  code/obj/machinery/porters.dm
  goonstation.dme
  maps/unused/setpieces/SHARED_biodomeExpanded.dmm
  maps/z2.dmm
Labels: A-Mapping, A-Secret, C-Rework, size/L, E-Freeze-Exempt🧊, A-AI

#13542 Material scrap and shard fixes
  code/obj/item/material.dm
Labels: C-Bug, C-QoL, size/M, A-Materials, A-Game-Objects

#13563 More nuclear fixes
  browserassets/tgui/tgui.bundle.js
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/reactorcomponents.dm
  code/obj/nuclearreactor/turbine.dm
  code/procs/helpers.dm
  tgui/packages/tgui/interfaces/TurbineControl.js
Labels: C-Bug, A-UI, size/M

#13571 Changeling Objectives May Now Be Completed Even If Controlled By A Hivemind Member
  code/datums/objective.dm
Labels: C-Bug, size/S, A-Player-Actions, A-Internal

#13544 Mimic Mobification
  assets/maps/prefabs/prefab_water_racetrack.dmm
  code/datums/gauntlet/crittergauntlet.dm
  code/mob/living/critter/ai/mimic.dm
  code/mob/living/critter/mimic.dm
  code/modules/admin/buildmodes/adventure/adventure_critter.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/obj/critter/misc.dm
  code/obj/vortex.dm
  goonstation.dme
Labels: A-Mapping, A-Secret, C-Rework, size/XL, A-Game-Objects, A-AI, S-Ready-For-Final-Review

#13588 Fix molitz beta and enable it to work in reactor components
  code/modules/materials/Mat_MaterialProcs.dm
Labels: C-Bug, C-Code-Quality, C-Balance, size/M, A-Materials, A-Atmospherics, A-Game-Objects

#13600 Fix mimics having invisible ghosts and nametags
  code/mob/living/critter/mimic.dm
Labels: C-Bug, size/S, A-Game-Objects

#13463 Mobifies Lions
  assets/maps/prefabs/prefab_water_zoo.dmm
  code/WorkInProgress/construction/event_controller.dm
  code/datums/abilities/critter/bite.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/datums/limb.dm
  code/mob/living/critter/ai/lion.dm
  code/mob/living/critter/big_animal.dm
  code/modules/antagonists/wraith/abilties/harbinger/create_summon_portal.dm
  code/modules/antagonists/wraith/critters/abilities/skeleton_commander.dm
  code/modules/antagonists/wraith/objs/machinery/vortex_wraith.dm
  code/modules/events/gimmick/halloween.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/obj/critter/big_animals.dm
  code/obj/item/sponge_capsule.dm
  goonstation.dme
Labels: A-Mapping, A-Secret, C-Rework, size/L, E-Freeze-Exempt🧊, A-AI

#13608 Add drains to donut3 medical
  maps/donut3.dmm
Labels: C-Bug, A-Mapping, size/XS

#13584 Updates The Antagonist Options Section Of The Player Panel
  code/datums/mind.dm
  code/modules/admin/admin.dm
  code/modules/admin/player_options.dm
  code/modules/antagonists/arcfiend/arcfiend.dm
  code/modules/antagonists/conspirator/conspirator.dm
  code/modules/antagonists/grinch/grinch.dm
  code/modules/antagonists/nuclear_operative/nuclear_operative.dm
  code/modules/antagonists/omnitraitor/omnitraitor.dm
  code/modules/antagonists/pirate/pirate.dm
  code/modules/antagonists/spy_thief/spy_thief.dm
  code/modules/antagonists/wrestler/wrestler.dm
  strings/admin_changelog.txt
Labels: C-QoL, A-UI, size/L, A-Admin

#13572 PTL rework
  _std/defines/component_defines/component_defines_atom.dm
  code/atom.dm
  code/modules/admin/buildmodes/adventure/elements/pressurepad.dm
  code/modules/fluids/air.dm
  code/modules/power/pt_laser.dm
  code/obj.dm
  code/obj/railing.dm
  code/obj/sec_tape.dm
  code/z_adventurezones/lavamoon.dm
  icons/obj/power.dmi
  icons/obj/stationobjs.dmi
Labels: C-Feature, C-Sprites, C-Rework, size/XL, A-Game-Objects, A-Station-Systems

#13566 Laying down, throwing and dropping items will now interrupt actionbars
  code/mob.dm
  code/mob/living.dm
Labels: C-Bug, size/XS, A-Player-Actions, A-Internal

#13482 Burger Variation Sprites
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/sandwiches.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_meals.dmi
Labels: C-Sprites, size/L, A-Catering

#13625 Add clearer instructions to the nuclear reactor coolers
  code/modules/atmospherics/machinery/unary/freezer.dm
  code/obj/item/book.dm
  maps/clarion.dmm
  maps/nadir.dmm
Labels: A-Mapping, C-QoL, size/S, A-Game-Objects

#13611 Cyborg cells no longer disappear on death
  code/mob/living/silicon/robot.dm
Labels: C-Bug, size/XS, A-Silicons

#13627 Manufacturable laser bits
  code/datums/manufacturing.dm
  code/modules/power/pt_laser.dm
  code/obj/item/manudrive.dm
  code/obj/machinery/manufacturer.dm
  icons/obj/manufacturer.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  strings/changelog.txt
Labels: C-Feature, A-Mapping, C-Sprites, size/M

#13637 more power plz
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/reactorcomponents.dm
Labels: C-Balance, size/S, A-Game-Objects

#13633 Prevent critters piloting pods
  code/modules/transport/pods/vehicle.dm
Labels: C-Balance, E-Add-To-Wiki, size/XS, A-Vehicles

#13103 Health implants no longer send the coords of the implantee.
  code/obj/item/implant.dm
Labels: C-Balance, E-Input-Wanted, size/XS, A-Station-Systems

#13660 Fix Kondaru botany door having wrong access
  maps/kondaru.dmm
Labels: C-Bug, P-Minor, A-Mapping, size/XS

#13656 Add contraband levels to syndicate & salvager industrial combat armor
  code/obj/item/clothing/suits.dm
Labels: C-Balance, size/XS, A-Clothing

#13663 PTL no longer melts mulebots
  code/modules/power/pt_laser.dm
Labels: C-Bug, size/XS, A-Game-Objects

#13647 Fixes girders not scalling it's actionbar duration with the user's traits
  code/obj/structure.dm
Labels: C-Bug, C-Balance, size/S, A-Game-Objects, A-Traits

#13639 LogTheThing calls cleanup and bad arg fixes
  code/client.dm
  code/modules/admin/admin_verbs.dm
  code/modules/events/white_hole.dm
  code/modules/holiday/spacemas.dm
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/reactorcontrol.dm
  code/obj/nuclearreactor/turbine.dm
Labels: C-Bug, size/M, A-Admin

#13626 cleans up some bite code fixes some stuff with it
  code/modules/antagonists/vampire/abilities/vampire_bite.dm
Labels: C-Bug, C-Balance, size/M, A-Gamemodes, A-Player-Actions

#13599 Cogmap1 cargo bay belt hell / conveyor niceties
  maps/cogmap.dmm
Labels: A-Mapping, C-QoL, size/XS

#13652 Fix ideal gas law breakdown in reactor
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/reactorcomponents.dm
Labels: C-Bug, size/M, A-Atmospherics

#13623 Renames Research Module to Science Module, Adds UI Sprite
  browserassets/tgui/main.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/mob/living/silicon/robot.dm
  code/modules/robotics/robot/module/chemistry.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
  code/modules/robotics/robot/robot_module_rewriter.dm
  code/obj/item/generic_box.dm
  icons/mob/hud_robot.dmi
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/Module.tsx
Labels: C-Bug, C-Sprites, C-QoL, A-UI, size/M, A-Silicons

#13635 Mobifies Fermids
  assets/maps/prefabs/prefab_adrift_cargo_router.dmm
  assets/maps/prefabs/prefab_smuggler.dmm
  assets/maps/prefabs/prefab_water_strangeprison.dmm
  assets/maps/prefabs/prefab_water_zoo.dmm
  code/datums/abilities/critter/slam.dm
  code/datums/abilities/critter/sting.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/mob/living/critter/ai/fermid.dm
  code/mob/living/critter/brullbar.dm
  code/mob/living/critter/fermid.dm
  code/mob/living/critter/killertomato.dm
  code/mob/living/critter/maneater.dm
  code/modules/admin/buildmodes/adventure/adventure_critter.dm
  code/modules/antagonists/wizard/abilities/animal.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/events/start/critter_infestation.dm
  code/modules/events/white_hole.dm
  code/obj/critter/miningcritters.dm
  code/obj/item/sponge_capsule.dm
  code/obj/vortex.dm
  goonstation.dme
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/oshan.dmm
  maps/unused/samedi.dmm
  maps/z3.dmm
Labels: A-Mapping, C-Rework, size/XL, A-AI

#13696 Adds a couple mimic-themed random rooms, enable items to be mimics
  assets/maps/random_rooms/3x3/toolbox.dmm
  assets/maps/random_rooms/5x3/notamimic.dmm
  code/obj.dm
  code/obj/item.dm
Labels: C-Feature, A-Mapping, size/L

#13586 Spatial Interdictor tune-up pass (less power usage, more QoL)
  code/datums/sims.dm
  code/mob.dm
  code/mob/living/life/Life.dm
  code/mob/living/life/decomposition.dm
  code/mob/living/silicon/robot.dm
  code/modules/events/black_hole.dm
  code/modules/events/ion_storm.dm
  code/modules/events/radiation.dm
  code/modules/events/solar_flare.dm
  code/modules/events/spatial_tear.dm
  code/modules/events/white_hole.dm
  code/obj/machinery/interdictor.dm
  code/obj/portal.dm
  code/obj/vortex.dm
  strings/books/interdictor_guide.txt
Labels: C-Bug, C-Feature, C-Balance, size/M, A-Game-Objects, A-Events

#13717 Fixes science module sprite
  icons/obj/items/cyborg_parts/modules.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Game-Objects, A-Silicons

#13711 Stop playing two notifications when throwing a cigarette
  code/obj/item/cigarette.dm
Labels: size/XS

#13689 allows all players with PROP_MOB_EXAMINE_HEALTH to see brain coldness
  _std/macros/atom_properties.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/organs/brain.dm
Labels: C-Balance, C-QoL, size/XS, A-Medical

#13719 Makes a sub-type for catwalk supports that are auto-connectable
  code/turf/floors_airless.dm
  icons/turf/catwalk_support.dmi
Labels: C-Feature, A-Mapping, C-Sprites, size/S, A-Internal

#13730 Adds blinds in HoS office on Oshan
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, size/S

#13643 Makes catwalks constructable by players.
  code/obj.dm
  code/obj/grille.dm
  code/turf/floors_airless.dm
  code/turf/turf.dm
Labels: C-Feature, E-Add-To-Wiki, size/M, A-Game-Objects

#13742 Security no longer gets crit alerts from security implants
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/implant.dm
Labels: C-Balance, size/S, A-Game-Objects

#13747 Chaplain contract ability bug fix
  code/datums/abilities/diabolical.dm
Labels: size/XS

#13590 Construcable Thermocouples for TEG
  code/datums/gamemodes/spy_theft.dm
  code/datums/teg_transform.dm
  code/modules/materials/Mat_FabRecipes.dm
  code/modules/materials/Mat_Fabrication.dm
  code/modules/power/TEG.dm
  code/obj/item/pinpointer.dm
  icons/obj/power.dmi
Labels: C-Feature, C-Sprites, C-Balance, size/L, A-Materials, A-Game-Objects, A-Station-Systems

#13760 Splits mob AI critter attacks into ability and basic attacks
  code/mob/living/critter.dm
  code/mob/living/critter/bear.dm
  code/mob/living/critter/big_animal.dm
  code/mob/living/critter/brullbar.dm
  code/mob/living/critter/fermid.dm
  code/mob/living/critter/mimic.dm
  code/mob/living/critter/skeleton.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/critter/spider.dm
Labels: C-Balance, C-Rework, size/L

#13670 refactored some mob part and limb code
  code/datums/limb.dm
  code/obj/item/mob_parts.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/item/mob_parts/robot_parts.dm
  code/obj/item/organs/eye.dm
Labels: C-Code-Quality, size/L, A-Internal

#13755 Fixes some bugs in atmos item code.
  code/modules/atmospherics/machinery/binary/volume_pump.dm
  code/modules/atmospherics/machinery/filter.dm
  code/modules/atmospherics/machinery/mixer.dm
  code/modules/atmospherics/machinery/pipe.dm
  icons/obj/atmospherics/pipe_vent.dmi
Labels: C-Bug, C-Sprites, size/M, A-Atmospherics

#13613 Fix 8688 - AIs getting disconnected when accessing the same shell/cyborg
  code/datums/mind.dm
Labels: C-Bug, size/S, A-Silicons, A-Internal

#13751 Adds atmos barriers to external airlocks on cogmap1
  maps/cogmap.dmm
Labels: A-Mapping, size/L

#13771 Makes all silicons incapable of recalling the shuttle
  code/modules/networks/computer3/communication.dm
Labels: C-Bug, size/XS, A-Silicons

#12426 Barbering Menu TGUI (with previews!)
  browserassets/tgui/tgui.bundle.js
  code/datums/components/barber.dm
  tgui/packages/tgui/interfaces/BarberingMenu.js
Labels: C-QoL, A-UI, size/L

#13777 Fixes `/datum/component/barber/shave` giving a TGUI error when trying to open it's interface.
  code/datums/components/barber.dm
Labels: C-Bug, size/XS

#13780 Fixes #13778
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: C-Bug, size/XS, A-Player-Actions

#13764 Window damage overlays
  code/obj/window.dm
  icons/obj/window_damage.dmi
Labels: C-Feature, C-Sprites, size/M

#13619 Adds Baseball Jacket to Clothing Booth
  code/modules/vending/clothingbooth_items.dm
Labels: C-Feature, size/XS, A-Clothing

#13739 adds respirator skin for gas mask cont'd
  code/WorkInProgress/rewardsLocker.dm
  code/obj/item/clothing/masks.dm
  icons/mob/clothing/mask.dmi
  icons/mob/inhand/hand_headgear.dmi
  icons/mob/lizard/mask.dmi
  icons/mob/monkey/mask.dmi
  icons/obj/clothing/item_masks.dmi
Labels: C-Sprites, size/M

#13783 Changes Medal SWAT Mask to something more NT appropriate
  code/WorkInProgress/rewardsLocker.dm
  code/obj/item/clothing/masks.dm
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/item_masks.dmi
Labels: C-Sprites, size/S

#13773 Re-enable ocean pathfinding
  code/mob/living/critter/ai.dm
  code/modules/fluids/fluid_turf.dm
Labels: C-Experimental, size/XS, A-Internal, S-Testmerged

#13786 New extra CE jumpsuit and CE hardhat
  code/datums/jobs.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/storage/clothing.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/jumpsuits/worn_js_rank.dmi
  icons/mob/monkey/jumpsuits.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/uniforms/item_js_rank.dmi
Labels: C-Sprites, size/S

#13762 Adds AI intercoms to Atlas
  maps/atlas.dmm
Labels: A-Mapping, C-QoL, size/S

#13803 Don't hit mechcomp on edit custom signal
  code/datums/components/mechComp_signals.dm
Labels: C-QoL, size/XS, A-Game-Objects

#13808 Rockbox sales pay the CE and Miners instead of the CE and Engineers
  code/obj/machinery/manufacturer.dm
Labels: C-Bug, size/XS, A-Game-Objects

#13802 Re-Adds Icons and Worn Sprites for Respirator
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/item_masks.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#13810 Monkey and Lizard Specific Sprites for NT Swat Mask
  icons/mob/lizard/mask.dmi
  icons/mob/monkey/mask.dmi
Labels: C-Sprites, size/XS

#13782 Gives all security officers mind protection implants
  code/datums/jobs.dm
  code/datums/syndicate_buylist.dm
  code/obj/item/implant.dm
Labels: C-Balance, E-Add-To-Wiki, size/S, A-Game-Objects

#13812 Updates chameleon gear and gives it hides from examine
  code/obj/item/clothing/chameleon_js.dm
Labels: C-Bug, C-QoL, size/L, A-Game-Objects

#13822 Readds the nukie engineer side view.
  icons/mob/clothing/overcoats/worn_suit_hazard.dmi
Labels: P-Trivial, C-Sprites, size/XS, A-Clothing

#13840 Stops pulling chair you are sitting on
  code/mob.dm
  code/obj/stool.dm
Labels: C-Bug, size/S

#13842 Fix monkeys picking up huge objects
  code/mob/living/carbon/human/npc.dm
Labels: size/XS

#13752 Makes sylvester undense
  code/obj/critter/turtle.dm
Labels: C-Balance, C-QoL, size/XS, A-Game-Objects

#13807 Adds Generic AIHolders
  code/mob/living/carbon/human/gimmick.dm
  code/mob/living/critter/aberration.dm
  code/mob/living/critter/ai/aberration.dm
  code/mob/living/critter/ai/bear.dm
  code/mob/living/critter/ai/fermid.dm
  code/mob/living/critter/ai/generic_aiholders.dm
  code/mob/living/critter/ai/lion.dm
  code/mob/living/critter/ai/rattlesnake.dm
  code/mob/living/critter/ai/sawflyai.dm
  code/mob/living/critter/ai/scorpion.dm
  code/mob/living/critter/ai/skeleton.dm
  code/mob/living/critter/ai/snake.dm
  code/mob/living/critter/ai/spider.dm
  code/mob/living/critter/bear.dm
  code/mob/living/critter/big_animal.dm
  code/mob/living/critter/fermid.dm
  code/mob/living/critter/jeans_elemental.dm
  code/mob/living/critter/sawfly.dm
  code/mob/living/critter/skeleton.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/critter/snake.dm
  code/mob/living/critter/spider.dm
  code/obj/sawflymisc.dm
  goonstation.dme
Labels: C-Code-Quality, size/L, A-AI, A-Internal

#13821 Bank Record computer always shows the total budget
  code/datums/banking.dm
Labels: C-Feature, size/M, A-Game-Objects, A-Station-Systems

#13860 No space footprints
  code/modules/forensics/atom_forensic.dm
  code/modules/status_system/statusEffects.dm
Labels: size/XS

#13256 Add Codebase Expectations section to the Contributor Guidelines
  .github/CONTRIBUTOR_GUIDELINES.md
Labels: E-Docs, A-Tooling, A-GitHub, size/M, C-Documentation

#13868 Fix #6838
  code/obj/item/mob_parts/human_parts.dm
Labels: C-Bug, size/XS, A-Mutantraces

#13866 Interdictor activation threshold adjustment
  code/obj/machinery/interdictor.dm
  strings/books/interdictor_guide.txt
Labels: C-Bug, C-Feature, size/S, A-Game-Objects

#13849 Replaces a single window in Oshan disposals with a reinforced wall
  maps/oshan.dmm
Labels: A-Mapping, size/XS

#13823 Fixes Barbering Menu breaking barbee's UI if they are using TG layout.
  code/datums/components/barber.dm
Labels: C-Bug, size/XS

#13785 Adds atmos barriers to external doors on cogmap2
  maps/cogmap2.dmm
Labels: A-Mapping, size/L

#13848 Allow equip hotkey to auto-sheathe swords
  code/datums/hud/human.dm
  code/obj/item.dm
  code/obj/item/misc_weapons.dm
Labels: C-QoL, size/S, A-Player-Actions, A-Game-Objects

#13884 Changes 1/0s In Mindhack Implant Code to TRUE/FALSE
  code/obj/item/implant.dm
Labels: C-Code-Quality, size/S, A-Internal

#13794 Allows buttoning of detective coats and it's subtypes.
  code/WorkInProgress/rewardsLocker.dm
  code/obj/item/clothing/suits.dm
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/mob/clothing/overcoats/worn_suit_armor.dmi
  icons/mob/monkey/overcoats.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
  icons/obj/clothing/overcoats/item_suit_armor.dmi
Labels: C-Sprites, size/S, A-Clothing

#13843 New medal reward for "Slow Burn": Hotrod Welding Helmet.
  code/WorkInProgress/rewardsLocker.dm
  code/obj/item/clothing/helmets.dm
  icons/mob/clothing/head.dmi
  icons/mob/inhand/hand_headgear.dmi
  icons/obj/clothing/item_hats.dmi
Labels: C-Sprites, size/M, A-Clothing

#13833 Adds several unique lizard tail clothing sprites.
  code/obj/item/organs/tail.dm
  icons/mob/lizard/tail.dmi
Labels: C-Sprites, C-Balance, size/XS, A-Clothing, A-Mutantraces

#13890 Adds A Define Related To Testing Antags/Weapon Vendors/Uplinks
  _std/__build.dm
  code/datums/abilities/ability_parent.dm
  code/datums/gamemodes/gangwar.dm
  code/mob/living/intangible/blob_overmind.dm
  code/mob/living/intangible/wraith.dm
  code/modules/antagonists/vampire/abilities/_vampire_ability_holder.dm
  code/modules/antagonists/wraith/abilties/_wraith_ability_holder.dm
  code/obj/item/uplinks.dm
  code/obj/submachine/weapon_vendor.dm
Labels: C-QoL, size/M, A-Internal

#13892 Adds a new chess themed 3x5 random room
  assets/maps/random_rooms/3x5/chessroom_75.dmm
Labels: A-Mapping, size/L

#13899 Using equip hotkey with Vega flamethrower will add it to the fuel tank on your back
  code/obj/item/flamethrower.dm
Labels: C-QoL, size/XS, A-Player-Actions

#13630 Foam Dart Grenades.
  code/modules/economy/commodity.dm
  code/modules/economy/trader.dm
  code/obj/item/grenades.dm
  icons/obj/items/grenade.dmi
Labels: C-Sprites, S-Merge-Conflict, size/M

#13339 Makes PDA pen slots accept penlights
  code/obj/item/device/pda2/pda2.dm
Labels: C-QoL, S-Stale, size/XS, A-Game-Objects

#13904 fixes typo in withdrawals
  code/datums/syndicate_buylist.dm
  code/modules/status_system/statusEffects.dm
  code/obj/item/implant.dm
Labels: C-Bug, size/S, A-Status-Effects

#13903 Changes gang member popup headset info
  browserassets/html/traitorTips/gang_member_added.html
  code/modules/antagonists/gang/gang_leader.dm
  code/modules/antagonists/gang/gang_member.dm
Labels: C-Bug, size/XS

#13902 fixes NTSC radio icon hover
  code/datums/jobs.dm
  code/modules/antagonists/changeling/abilities/mimic_voice.dm
  code/obj/item/device/radios/headsets.dm
Labels: C-Bug, size/XS, A-Game-Objects

#13901 Fixes hotrod welding helmet to no longer cut off poor lizard snoots
  icons/mob/lizard/head.dmi
Labels: C-Sprites, size/XS, A-Clothing

#13909 oshan emergency storage b light switch move
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/S
