Repository goonstation/goonstation, pull requests merged in 2023-05, with the labels that each got.

#13784 Adds doorway from engineering core to mechanics on donut3
  maps/donut3.dmm
Labels: A-Mapping, C-QoL, size/M

#13898 Relocation Of The Donut3 Security Foyer
  maps/donut3.dmm
Labels: A-Mapping, C-QoL, size/XXL

#13905 Adds a new Z5 prefab: Larry's Laundromat
  assets/maps/prefabs/prefab_larrys_laundromat.dmm
  code/area.dm
  code/modules/worldgen/prefab/mining.dm
  code/modules/writing/papers.dm
  code/obj/decal.dm
  code/obj/item/keys.dm
  code/obj/item/storage/secure_safe.dm
Labels: A-Mapping, size/XL

#13853 Captain Megaphone
  code/WorkInProgress/rewardsLocker.dm
  code/mob/living.dm
  code/obj/item/device/megaphone.dm
  code/obj/storage/secure_closets.dm
  code/procs/mobprocs/chatprocs.dm
  goonstation.dme
  icons/mob/inhand/hand_tools.dmi
  icons/obj/objects.dmi
Labels: C-Feature, C-Sprites, size/M

#13923 Gives the Research Director a unique labcoat.
  code/datums/jobs.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/storage/clothing.dm
  code/obj/storage/secure_closets.dm
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
Labels: C-Sprites, C-QoL, size/S, A-Game-Objects

#13916 Actually makes sylvester not dense
  code/obj/critter/turtle.dm
Labels: C-Bug, size/XS, A-Game-Objects

#13913 Remove unneeded catwalk types
  assets/maps/allocated/pirate_ship.dmm
  assets/maps/prefabs/prefab_artist_studio.dmm
  assets/maps/prefabs/prefab_beesanctuary.dmm
  assets/maps/prefabs/prefab_secbot_academy.dmm
  assets/maps/random_rooms/5x3/airlockrepairbay.dmm
  code/datums/controllers/mining_controls.dm
  code/obj/grille.dm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogwip/kappa.dmm
  maps/cogwip/ships.dmm
  maps/destiny.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/ozymandias.dmm
  maps/pamgoc.dmm
  maps/unused/chiron.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/oldmap.dmm
  maps/unused/samedi.dmm
  maps/unused/setpieces/SHARED_biodomeExpanded.dmm
  maps/unused/trunkmap.dmm
  tools/UpdatePaths/Scripts/13913_remove_catwalk_subtypes.txt
Labels: A-Mapping, A-Tooling, C-Code-Quality, size/XXL

#13939 Fix a typo and a tiny logic error on the reactor computers
  code/obj/nuclearreactor/reactorcontrol.dm
  strings/books/nuclear_engineering.txt
Labels: P-Trivial, size/S

#13667 Parallax
  _std/defines/component_defines/component_defines_atom.dm
  _std/defines/sight.dm
  _std/map.dm
  _std/plane.dm
  code/client.dm
  code/datums/components/complexsignal/complexsignal.dm
  code/datums/components/complexsignal/outermost_movable.dm
  code/map.dm
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/monkeys.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/mob/living/life/sight.dm
  code/mob/living/silicon/ghostdrone.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/toggles.dm
  code/modules/animation/AnimationLibrary.dm
  code/modules/events/blowout.dm
  code/modules/events/meteor_shower.dm
  code/modules/events/pretty_space.dm
  code/modules/parallax/parallax_controller.dm
  code/modules/parallax/parallax_layer_parent.dm
  code/modules/parallax/parallax_layers.dm
  goonstation.dme
  icons/misc/parallax.dmi
  interface/skin.dmf
Labels: C-Feature, C-Sprites, C-Experimental, A-UI, size/XL, S-Testmerged

#13932 skeleton head speech related QOL / bugfixes
  code/mob/living.dm
  code/modules/speech/floating_chat.dm
  code/obj/item/building_materials.dm
  code/obj/item/organs/head.dm
  code/procs/mob_procs.dm
  code/procs/mobprocs/typing_indicator.dm
Labels: C-Bug, C-QoL, size/L, A-Game-Objects

#13703 Mobifies transposed scientist and shades
  assets/maps/shuttles/east/east_disaster.dmm
  assets/maps/shuttles/east/oshan_disaster.dmm
  assets/maps/shuttles/north/donut3_disaster.dmm
  assets/maps/shuttles/north/manta_disaster.dmm
  assets/maps/shuttles/north/north_disaster.dmm
  assets/maps/shuttles/north/small/destiny_disaster.dmm
  assets/maps/shuttles/north/small/manta_disaster.dmm
  assets/maps/shuttles/south/south_disaster.dmm
  assets/maps/shuttles/west/small/donut2_disaster.dmm
  assets/maps/shuttles/west/west_disaster.dmm
  code/mob/living/critter/adventure.dm
  code/modules/admin/buildmodes/adventure/adventure_critter.dm
  code/modules/antagonists/wraith/abilties/harbinger/create_summon_portal.dm
  code/modules/antagonists/wraith/critters/abilities/skeleton_commander.dm
  code/modules/antagonists/wraith/objs/machinery/vortex_wraith.dm
  code/modules/worldgen/mapgen/biomes/VoidGenerator.dm
  code/obj/critter/misc.dm
  code/obj/vortex.dm
  code/z_adventurezones/precursor.dm
  goonstation.dme
  maps/z2.dmm
Labels: A-Mapping, A-Secret, C-Rework, size/XL, A-AI

#13955 Removes the <br>s from 2 cloner messages.
  code/obj/machinery/computer/cloning.dm
Labels: C-Bug, size/XS, A-Game-Objects

#13774 Datumises Mindhacks
  _std/defines/antagonists.dm
  code/datums/mind.dm
  code/datums/mutantraces.dm
  code/mob/living/carbon/human.dm
  code/mob/living/intangible/flock/flockmind.dm
  code/modules/admin/admin.dm
  code/modules/admin/player_options.dm
  code/modules/admin/randomverbs.dm
  code/modules/antagonists/__antagonist.dm
  code/modules/antagonists/__subordinate_antagonist.dm
  code/modules/antagonists/traitor/mindhack.dm
  code/modules/antagonists/vampire/thrall.dm
  code/modules/events/vamp_teg.dm
  code/modules/medical/surgery_procs.dm
  code/modules/status_system/statusEffects.dm
  code/obj/item/implant.dm
  code/obj/machinery/clonepod.dm
  code/procs/helpers.dm
  goonstation.dme
Labels: C-Code-Quality, size/L, A-Gamemodes, A-Internal

#13852 allow all canisters to spawn empty
  code/modules/atmospherics/portable/canister.dm
Labels: A-Mapping, C-QoL, size/M, A-Internal

#13680 Adds Delay to Health Implants Sending Crit/Death Alerts
  code/obj/item/implant.dm
Labels: C-Balance, E-Input-Wanted, size/XS, A-Game-Objects

#13922 changes atlas lil spiders to the nice variety
  maps/atlas.dmm
Labels: C-Bug, A-Mapping, size/S

#13907 clothing sprite fixes
  icons/mob/clothing/feet.dmi
  icons/mob/inhand/hand_instruments.dmi
  icons/mob/monkey/feet.dmi
  icons/mob/monkey/hands.dmi
  icons/mob/monkey/overcoats.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Clothing

#13975 Cute monkey limbs :)
  code/datums/mutantraces.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/obj/item/mob_parts.dm
  code/obj/item/mob_parts/robot_parts.dm
  icons/mob/monkey.dmi
Labels: C-Bug, C-Feature, C-Sprites, C-QoL, size/M

#13958 Transception array attempt_transceive fix
  code/WorkInProgress/nadir_antenna.dm
Labels: C-Bug, size/XS

#13826 🏴‍☠️ Frontal Gyrus Alteration Type-AR 🏴‍☠️
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/medical/genetics/bioEffects/speech.dm
  code/procs/accents.dm
  strings/language/pirate.txt
Labels: size/L

#13950 Nadir cafeteria TV reduction
  maps/nadir.dmm
Labels: A-Mapping, size/M

#13908 clothing minor fixes part ii
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/suits.dm
  icons/mob/inhand/jumpsuit/hand_js_gimmick.dmi
  icons/mob/inhand/overcoat/hand_suit.dmi
  icons/obj/clothing/item_hats.dmi
Labels: C-Bug, C-Sprites, size/S, A-Clothing

#13982 Fixes a pair of coat bugs.
  code/obj/item/clothing/armor.dm
  icons/mob/clothing/overcoats/worn_suit.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Clothing

#13925 Syndicate Field Protective Mask Unique Sprites
  code/obj/item/clothing/masks.dm
  icons/mob/clothing/mask.dmi
  icons/mob/lizard/mask.dmi
  icons/mob/monkey/mask.dmi
  icons/obj/clothing/item_masks.dmi
Labels: C-Sprites, size/XS

#13988 Fixes A Parallax Runtime
  code/mob.dm
  code/modules/admin/admin.dm
Labels: C-Runtime, size/XS, A-Internal

#13980 transfer typing indicator when skeletons get decapitated
  code/obj/item/organs/head.dm
Labels: C-Bug, size/XS, A-Game-Objects

#13863 Mobifies Repairbots
  assets/maps/prefabs/prefab_water_ghosthouse.dmm
  code/datums/critter_mobs/hands.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/mob/living/critter/adventure.dm
  code/mob/living/critter/repairbot.dm
  code/modules/admin/buildmodes/adventure/adventure_critter.dm
  code/modules/antagonists/wraith/abilties/harbinger/create_summon_portal.dm
  code/modules/antagonists/wraith/critters/abilities/skeleton_commander.dm
  code/modules/antagonists/wraith/objs/machinery/vortex_wraith.dm
  code/modules/mining/ore.dm
  code/obj/critter/helldrone.dm
  code/obj/vortex.dm
  code/z_adventurezones/lavamoon.dm
  goonstation.dme
  maps/z2.dmm
  maps/z3.dmm
Labels: A-Mapping, A-Secret, C-Rework, size/XL, A-AI

#13998 Fix upgrading cyborg arms in storages
  code/obj/item/mob_parts/robot_parts.dm
Labels: C-Bug, C-Runtime, size/S, A-Game-Objects

#13994 Nadir may23 fixbatch
  maps/nadir.dmm
Labels: C-Feature, A-Mapping, size/L

#13992 Remove all abstract toolboxes
  maps/donut3.dmm
  maps/fleet.dmm
  maps/horizon.dmm
  maps/kondaru.dmm
  maps/manta.dmm
  maps/unused/crash_gimmick.dmm
  maps/wrestlemap.dmm
Labels: C-Bug, A-Mapping, C-Runtime, size/L

#13951 Reworks Energy Gun Charge Indicators To Use Overlays
  code/obj/item/gun/energy.dm
  icons/obj/items/gun.dmi
Labels: C-Sprites, C-Code-Quality, size/L, A-Game-Objects

#14008 Fixes #14002 - Adds A Missing Plating Icon State To 'world.dmi'
  icons/misc/worlds.dmi
Labels: C-Bug, C-Sprites, size/XS

#13993 Makes the mop clean tracked blood again
  code/modules/fluids/fluid_procs.dm
Labels: C-Bug, C-Code-Quality, C-QoL, size/S, A-Game-Objects

#13970 Mobifies Spacewasps
  assets/maps/prefabs/prefab_water_racetrack.dmm
  code/WorkInProgress/construction/event_controller.dm
  code/mob/living/critter/small_animal.dm
  code/modules/admin/buildmodes/adventure/adventure_critter.dm
  code/modules/antagonists/wizard/abilities/animal.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/events/minor/pests.dm
  code/modules/events/start/critter_infestation.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/modules/worldgen/mapgen/biomes/_biome.dm
  code/obj/critter/misc.dm
  code/obj/item/grenades.dm
  code/obj/vortex.dm
  maps/unused/setpieces/SHARED_biodomeExpanded.dmm
  maps/z2.dmm
Labels: A-Mapping, C-Rework, size/L, A-AI

#13935 Gives the RD and MDir labcoats a little more chemprot
  code/obj/item/clothing/suits.dm
Labels: C-Balance, size/XS, A-Clothing

#13986 Remove shields from Atlas
  maps/atlas.dmm
Labels: A-Mapping, C-Removal, size/XL

#14001 Fixes handcuffed sprites for chimps
  icons/mob/monkey.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Mutantraces

#13938 adjust filgrastim recipe
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: C-QoL, E-Add-To-Wiki, size/XS, A-Medical, A-Chemistry

#13749 Makes Jones mechscannable with a syndicate scanner
  _std/defines/atom.dm
  code/_lighting/RobustLight2.dm
  code/datums/components/analyzable.dm
  code/mob/living/critter/small_animal.dm
  code/obj.dm
Labels: C-Feature, S-Stale, size/M, A-Game-Objects

#14029 vendors hacking fixes
  code/modules/vending/vending.dm
Labels: C-Bug, size/S, A-Game-Objects

#14025 Moves a Bench in Donut2 Security
  maps/donut2.dmm
Labels: C-Bug, P-Trivial, A-Mapping, size/S

#14026 Adds a bunch of blinds to Donut 3
  code/obj/decal.dm
  code/obj/decorations.dm
  code/obj/machinery/door/airlock.dm
  maps/donut3.dmm
Labels: A-Mapping, size/XXL, S-Testmerged

#14033 Fixes #14015
  code/obj/item/gun/russian.dm
Labels: C-Bug, size/XS, A-Game-Objects

#14003 Some Extra Colorful Tools
  code/datums/jobs.dm
  code/datums/manufacturing.dm
  code/modules/economy/supply_packs.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/storage/toolbox.dm
  code/obj/item/tool/crowbar.dm
  code/obj/item/tool/multitool.dm
  code/obj/item/tool/screwdriver.dm
  code/obj/item/tool/weldingtool.dm
  code/obj/item/tool/wirecutters.dm
  code/obj/item/tool/wrench.dm
  icons/mob/inhand/tools/screwdriver.dmi
  icons/mob/inhand/tools/wirecutters.dmi
  icons/obj/items/tools/crowbar.dmi
  icons/obj/items/tools/multitool.dmi
  icons/obj/items/tools/screwdriver.dmi
  icons/obj/items/tools/weldingtool.dmi
  icons/obj/items/tools/wirecutters.dmi
  icons/obj/items/tools/wrench.dmi
Labels: C-Feature, C-Sprites, size/L

#14022 Mobifies Golems
  assets/maps/prefabs/prefab_water_stripmall.dmm
  code/datums/limb.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/mob/living/critter/golem.dm
  code/modules/antagonists/wizard/abilities/golem.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/obj/critter/misc.dm
  goonstation.dme
Labels: A-Mapping, C-Balance, C-Rework, size/L, A-AI

#13855 Swaps Out Capsaicin Grenades In the Sec Vendor For Flashbangs
  code/obj/item/storage/weapon_security.dm
  code/obj/submachine/weapon_vendor.dm
Labels: C-Balance, E-Input-Wanted, S-Stale, size/S, A-Game-Objects

#14049 Fix richest escapee being incorrect
  code/procs/scorestats.dm
Labels: C-Bug, size/S, A-Player-Actions

#14064 makes sticky floor slowdown noticeable
  code/mob/living/carbon.dm
Labels: C-Balance, size/XS

#13962 Implements Faction Framework
  _std/macros/factions.dm
  code/mob.dm
  code/mob/living/critter.dm
  code/mob/living/critter/adventure.dm
  code/mob/living/critter/brullbar.dm
  code/mob/living/critter/skeleton.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/intangible/wraith.dm
  code/mob/living/object.dm
  code/modules/antagonists/wraith/critters/exploder.dm
  code/modules/antagonists/wraith/critters/nascent.dm
  code/modules/antagonists/wraith/critters/plaguerat.dm
  code/modules/antagonists/wraith/critters/skeleton_commander.dm
  code/modules/antagonists/wraith/critters/spiker.dm
  code/modules/antagonists/wraith/critters/trickster_puppet.dm
  code/modules/antagonists/wraith/critters/voidhound.dm
  goonstation.dme
Labels: C-Bug, C-Feature, C-QoL, size/S, A-AI, A-Internal

#11905 adds chemical barrels to the sciene fabricator
  code/datums/manufacturing.dm
  code/modules/chemistry/tools/dispensers.dm
  code/obj.dm
  code/obj/machinery/manufacturer.dm
  code/obj/storage/large_storage_parent.dm
  icons/obj/objects.dmi
Labels: C-Feature, C-Sprites, C-Balance, size/M, A-Chemistry

#13911 Adds unique key sprites
  code/WorkInProgress/Hydrothings.dm
  code/mob/living/critter/bee.dm
  code/obj/critter/bee.dm
  code/obj/item/keys.dm
  code/z_adventurezones/hospital.dm
  icons/misc/aprilfools.dmi
  icons/obj/artifacts/keys.dmi
  maps/z3.dmm
Labels: A-Mapping, C-Sprites, size/M, A-Game-Objects

#14067 Fix for tile stack count check
  code/turf/floors.dm
Labels: C-Bug, size/XS

#14052 Fix stealth storage bugs with storage
  code/obj/item/storage/weapon_security.dm
Labels: C-Bug, size/XS, A-Game-Objects

#14073 Reduces sticky floors max time to 10 seconds
  code/mob/living/carbon.dm
Labels: C-Balance, S-Merge-Conflict, size/XS

#14089 Adds A Proc For Mob Critters Validating Targets
  code/mob/living/critter.dm
  code/mob/living/critter/adventure.dm
  code/mob/living/critter/brullbar.dm
  code/mob/living/critter/golem.dm
  code/mob/living/critter/jeans_elemental.dm
  code/mob/living/critter/mimic.dm
  code/mob/living/critter/skeleton.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/critter/snake.dm
  code/mob/living/critter/spider.dm
Labels: C-Code-Quality, C-QoL, size/L, A-Internal

#14102 Changes a "2053" to "[CURRENT_SPACE_YEAR]" in rubber stamps.
  code/modules/writing/paper.dm
Labels: C-Code-Quality, size/XS, A-Game-Objects

#13941 adds death commando mask sprites
  icons/mob/clothing/mask.dmi
  icons/mob/lizard/mask.dmi
  icons/mob/monkey/mask.dmi
  icons/obj/clothing/item_masks.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Clothing

#14086 Dispensary interlink
  code/modules/vending/vending.dm
  icons/obj/vending.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-Sprites, E-Add-To-Wiki, size/L, A-Medical, A-Game-Objects, A-Chemistry

#14096 Fixes double stack doors on cog2
  maps/cogmap2.dmm
Labels: C-Bug, A-Mapping, size/S

#14113 VR Antagonist Fixes
  code/datums/mind.dm
  code/modules/admin/admin.dm
  code/modules/antagonists/__antagonist.dm
  code/modules/antagonists/changeling/abilities/_changeling_ability_holder.dm
  code/obj/machinery/clonepod.dm
Labels: C-Bug, size/M, A-Internal

#14038 Adds a bunch of blinds to Oshan
  maps/oshan.dmm
Labels: A-Mapping, size/XL

#13900 Allows Cargo to order Wooden Sheets.
  code/modules/economy/supply_packs.dm
Labels: S-Stale, size/S, A-Game-Objects

#14133 Tidy up Chemistry-Holder a little.
  code/modules/chemistry/Chemistry-Holder.dm
Labels: P-Trivial, C-Code-Quality, size/XXL, A-Chemistry, A-Internal

#14063 HoP Pocketwatch
  code/datums/jobs.dm
  code/mob/living/critter/small_animal.dm
  code/obj/item/bell.dm
  code/obj/item/boardgame/gameclock.dm
  code/obj/item/device/pocketwatch.dm
  code/procs/helpers.dm
  goonstation.dme
  icons/mob/inhand/hand_tools.dmi
  icons/obj/objects.dmi
Labels: C-Feature, C-Sprites, size/L

#14137 Reworks dispensary interlinks to use mail pipes
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/WorkInProgress/recycling/disposal.dm
  code/WorkInProgress/recycling/disposal_chute.dm
  code/modules/vending/vending.dm
  icons/obj/disposal.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  tgui/packages/tgui/interfaces/ChemChute/index.tsx
  tgui/packages/tgui/interfaces/ChemChute/type.ts
Labels: A-Mapping, C-Sprites, C-Rework, A-UI, size/XXL, A-Chemistry

#14131 Cargo appraiser requisition support
  code/modules/economy/requisition/requisition_contracts.dm
  code/obj/item/device/scanners.dm
Labels: C-Feature, size/M

#14140 fix light fixture build dir getting lost
  code/turf/walls.dm
Labels: C-Bug, size/XS, A-Game-Objects

#14142 Fish
  code/modules/fishing/fishing_spots.dm
Labels: size/S

#14110 Makes it possible to wrench barrel lids open/close.
  code/modules/chemistry/tools/dispensers.dm
  icons/obj/objects.dmi
Labels: C-Sprites, C-QoL, size/S, A-Science

#14135 Makes it so outside armoury perimeter is unaffected by radstorms
  code/area.dm
Labels: A-Mapping, C-QoL, size/XS

#14125 Updates and moves map files and data around
  _std/__build.dm
  _std/mapDefines.dm
  code/map.dm
  maps/config/density.dm
  maps/config/destiny.dm
  maps/config/horizon.dm
  maps/config/manta.dm
  maps/config/map.dm
  maps/config/ozymandias.dm
  maps/unused/density.dmm
  maps/unused/destiny.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/manta.dmm
  maps/unused/ozymandias.dmm
Labels: A-Mapping, C-Code-Quality, size/XXL, A-Internal

#14053 Refactor door locks into procs, limit ion storm to airlocks
  code/modules/events/ion_storm.dm
  code/obj/machinery/door/airlock.dm
  code/obj/machinery/door/door_parent.dm
Labels: C-Bug, C-Code-Quality, size/M, A-Game-Objects, A-Events

#13977 Removes viper venom stun and histamine, reduces bleeding when below 300 blood
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: C-Balance, S-Stale, size/S, A-Chemistry

#13854 Adds a few styles of yukata.
  code/modules/economy/supply_packs.dm
  code/obj/item/clothing/under/gimmick/yukata.dm
  goonstation.dme
  icons/mob/clothing/jumpsuits/worn_js_gimmick.dmi
  icons/mob/inhand/jumpsuit/hand_js_gimmick.dmi
  icons/obj/clothing/uniforms/item_js_gimmick.dmi
Labels: C-Feature, C-Sprites, size/M, A-Clothing

#14166 undoubled a door in oshan
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/S

#14189 fix engi alt space helmet spawning w no item sprite
  icons/obj/clothing/item_hats.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Clothing

#14187 fix item sprite for open state for aerostatic jacket
  code/WorkInProgress/rewardsLocker.dm
  icons/obj/clothing/overcoats/item_suit.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Clothing

#14183 Categorize lollipops as candy
  code/modules/food_and_drink/candy.dm
  code/obj/item/kitchen.dm
  code/obj/stool.dm
  maps/donut2.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, size/S, A-Game-Objects

#14147 allows ice cubes to stop decomposition of corpses
  code/mob/living/critter/bee.dm
  code/mob/living/life/bodytemp.dm
  code/mob/living/life/decomposition.dm
  code/modules/antagonists/wizard/abilities/iceburst.dm
Labels: C-Feature, C-Balance, size/S, A-Game-Objects

#14127 Replaces critter gaunlet mimics with a subtype that does not sting
  code/datums/gauntlet/crittergauntlet.dm
  code/mob/living/critter/mimic.dm
Labels: size/XS

#14188 minor turf.dm refactor
  code/turf/turf.dm
Labels: size/M

#13888 Change how items that can fit on your back are equipped through the equip hotkey
  code/datums/hud/human.dm
Labels: C-QoL, size/S, A-Player-Actions

#14185 Reagent Extractor crash fix + ReagentInfo optimizations
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/ChemDispenser.tsx
  tgui/packages/tgui/interfaces/ChemMaster.js
  tgui/packages/tgui/interfaces/common/ReagentInfo.tsx
Labels: C-Bug, C-Performance, A-UI, size/L, A-Chemistry

#14191 fix construction overall worn item sprites for monkeys
  icons/mob/monkey/jumpsuits.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Clothing

#14139 allows bread to roll a chance after enough teleporting to turn into a mimic
  _std/defines/component_defines/component_defines_atom.dm
  code/modules/food_and_drink/bread.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/modules/telescience/teleporter_old.dm
  code/modules/telescience/telescope/telescopeMisc.dm
Labels: C-Feature, size/M, A-Game-Objects

#14114 Nadir "Unwrap" Fixbatch
  maps/nadir.dmm
Labels: C-Feature, A-Mapping, size/XXL

#14176 fix broken zoldorf appearance stealing
  code/obj/posters.dm
  code/obj/zoldorf.dm
  icons/obj/zoldorf.dmi
Labels: C-Bug, C-Sprites, size/S, A-Game-Objects

#14039 Menu For Picking Pug Fur Color
  code/datums/preferences.dm
Labels: size/XS

#14055 Mobifies rockworms
  assets/maps/prefabs/prefab_rockworms.dmm
  assets/maps/prefabs/prefab_shuttle.dmm
  code/WorkInProgress/construction/event_controller.dm
  code/datums/abilities/critter/vomit_ore.dm
  code/datums/components/food_stuff.dm
  code/mob/living/critter/ai/rockworm.dm
  code/mob/living/critter/mining_critter.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/events/white_hole.dm
  code/modules/mining/tile_events.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/obj/critter/miningcritters.dm
  code/obj/item.dm
  goonstation.dme
  maps/donut2.dmm
  maps/donut3.dmm
  maps/unused/oldmap.dmm
  maps/z5.dmm
Labels: A-Mapping, C-Balance, C-Rework, size/L, A-AI

#14208 Replaces 2 tables at Clarion escape with auto tables
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/XS

#14172 Area Exclusive Parallax
  _std/plane.dm
  code/WorkInProgress/Hydrothings.dm
  code/area.dm
  code/datums/gamemodes/battle_royale.dm
  code/mob/dead/target_observer.dm
  code/modules/parallax/foreground_parallax_occlusion_overlay.dm
  code/modules/parallax/parallax_controller.dm
  code/modules/parallax/parallax_layers.dm
  code/z_adventurezones/lavamoon.dm
  code/z_adventurezones/mad_mars.dm
  code/z_adventurezones/precursor.dm
  code/z_adventurezones/void.dm
  goonstation.dme
  icons/misc/foreground_parallax_occlusion_overlay.dmi
  icons/misc/parallax.dmi
  maps/z2.dmm
Labels: C-Feature, A-Mapping, C-Sprites, A-Secret, C-Experimental, A-UI, size/XXL, S-Testmerged

#14198 Adds a Cargo Teleporter, Hand Labeler, and Recharging Station to Cog1 Artlab
  maps/cogmap.dmm
Labels: C-Feature, A-Mapping, C-QoL, size/S

#13617 Assorted satchel and ore-scoop bugfixes and QOL changes
  code/WorkInProgress/recycling/disposal_chute.dm
  code/datums/components/transfers.dm
  code/datums/gamemodes/gangwar.dm
  code/modules/atmospherics/portable/portable_pressurizer.dm
  code/modules/chemistry/Chemistry-Machinery.dm
  code/modules/materials/Mat_Processing.dm
  code/modules/siphon/siphon_machinery.dm
  code/modules/transport/pods/secondary_system.dm
  code/modules/vending/vending.dm
  code/obj/item/material.dm
  code/obj/item/satchel.dm
  code/obj/machinery/plantpot.dm
  code/obj/mining.dm
  code/obj/mining_cloud_storage.dm
  code/obj/rack.dm
  code/obj/storage/closets.dm
  code/obj/submachine/cooking.dm
  code/obj/submachine/seed.dm
  code/obj/table.dm
Labels: C-Bug, C-Balance, C-QoL, size/L, A-Game-Objects

#13991 adds sprites for rotting monkeys and headless rotting corpses
  code/mob/living/carbon/human/procs/update_icon.dm
  code/obj/item/mob_parts/human_parts.dm
  icons/mob/human_decomp.dmi
  icons/mob/monkey_decomp.dmi
Labels: C-Sprites, C-QoL, size/S, A-Mutantraces

#14217 Adds a missing security scanner to Atlas bridge
  maps/atlas.dmm
Labels: A-Mapping, C-QoL, size/S

#14193 Makes supernorn wall and grille map icons perspective
  code/obj/grille.dm
  code/turf/turf_autoalign.dm
  icons/turf/walls_manta.dmi
  icons/turf/walls_supernorn_smooth.dmi
Labels: A-Mapping, C-Sprites, C-QoL, size/M

#14225 Nadir de-reinforcement de-goof
  maps/nadir.dmm
Labels: C-Bug, A-Mapping, size/M

#14226 Fix aggressive critters
  code/mob/living/critter/aberration.dm
  code/mob/living/critter/adventure.dm
  code/mob/living/critter/ai/generic_aiholders.dm
  code/mob/living/critter/bear.dm
  code/mob/living/critter/big_animal.dm
  code/mob/living/critter/golem.dm
  code/mob/living/critter/jeans_elemental.dm
  code/mob/living/critter/mining_critter.dm
  code/mob/living/critter/sawfly.dm
  code/mob/living/critter/skeleton.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/critter/snake.dm
  code/mob/living/critter/spider.dm
  code/obj/sawflymisc.dm
Labels: C-Bug, size/M, A-AI

#14231 atlas artlab pipes recolour
  maps/atlas.dmm
Labels: A-Mapping

#14219 Adds Wanderer AI to most bird critters
  code/mob/living/critter/small_animal.dm
Labels: C-Rework, size/XS, A-AI

#14235 Little tweak to the singulo spaget transform
  code/obj/machinery/singularity.dm
Labels: P-Trivial, size/XS, A-Game-Objects

#14237 Parallax Cleanup And Bug Fixes
  _std/map.dm
  assets/maps/prefabs/prefab_beesanctuary.dmm
  code/datums/gamemodes/battle_royale.dm
  code/datums/special_r.dm
  code/map.dm
  code/modules/admin/terrainify.dm
  code/modules/events/blowout.dm
  code/modules/events/meteor_shower.dm
  code/modules/fluids/fluid_commands.dm
  code/modules/parallax/parallax_controller.dm
  code/modules/parallax/parallax_procs.dm
  code/world.dm
  code/z_adventurezones/solarium.dm
  goonstation.dme
Labels: C-Bug, A-Mapping, C-Code-Quality, size/L, A-Internal

#13883 Makes Generic Cola Not Hidden, Off-Brand Cola Hidden
  code/modules/vending/vending.dm
Labels: C-Balance, C-QoL, size/XS, A-Game-Objects, A-Catering

#14234 Fixes more wall icons having no base state
  code/modules/transport/shuttle/shuttle_turfobjs.dm
  code/obj/mining.dm
  code/turf/turf_autoalign.dm
  code/turf/walls.dm
  icons/turf/walls_asteroid.dmi
  icons/turf/walls_auto.dmi
  icons/turf/walls_beehive.dmi
  icons/turf/walls_derelict.dmi
  icons/turf/walls_destiny.dmi
  icons/turf/walls_hedge.dmi
  icons/turf/walls_jen.dmi
  icons/turf/walls_marsoutpost.dmi
  icons/turf/walls_martian.dmi
  icons/turf/walls_shuttle-debris.dmi
  icons/turf/walls_shuttle.dmi
  icons/turf/walls_supernorn_smooth.dmi
Labels: C-Bug, C-Sprites, size/M, A-Internal

#14228 Removes every mail booth
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/z2.dmm
Labels: A-Mapping, size/M

#14031 microwave reagent warming mode / skull microwaving
  code/obj/machinery/microwave.dm
Labels: C-QoL, size/L, A-Game-Objects

#13820 Stackable, Placeable, Wearable Construction Cones
  code/WorkInProgress/mantaObjects.dm
  code/modules/vending/vending.dm
  icons/mob/clothing/head.dmi
  icons/obj/construction.dmi
  icons/obj/decoration.dmi
  maps/donut3.dmm
  maps/unused/destiny.dmm
  maps/unused/manta.dmm
Labels: C-Feature, A-Mapping, C-Sprites, size/XXL, A-Game-Objects, A-Clothing

#14093 Add lanyards
  code/WorkInProgress/mantaObjects.dm
  code/datums/banking.dm
  code/datums/crew_objective.dm
  code/datums/embedded_controller.dm
  code/mob.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/ai/camera_handling.dm
  code/mob/living/silicon/hivebot.dm
  code/mob/living/silicon/robot.dm
  code/modules/admin/admin.dm
  code/modules/antagonists/wizard/abilities/cluwne.dm
  code/modules/atmospherics/machinery/retrofilter.dm
  code/modules/chemistry/chem_requester.dm
  code/modules/economy/shady_robot.dm
  code/modules/economy/stocks/stock_machine.dm
  code/modules/economy/trader.dm
  code/modules/medical/genetics/geneticsBooth.dm
  code/modules/medical/genetics/geneticsMachines.dm
  code/modules/medical/genetics/portaclone.dm
  code/modules/power/apc.dm
  code/modules/robotics/bot/firebot.dm
  code/modules/robotics/bot/floorbot.dm
  code/modules/robotics/bot/guardbot.dm
  code/modules/robotics/bot/medbot.dm
  code/modules/robotics/bot/secbot.dm
  code/modules/storage/items/lanyard.dm
  code/modules/vending/vending.dm
  code/obj/item/clothing/lanyards.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/machinery/alarm.dm
  code/obj/machinery/cashreg.dm
  code/obj/machinery/clonepod.dm
  code/obj/machinery/computer/QM_order.dm
  code/obj/machinery/computer/security/riot.dm
  code/obj/machinery/computer/shuttle.dm
  code/obj/machinery/launcherloader.dm
  code/obj/machinery/manufacturer.dm
  code/obj/machinery/navbeacon.dm
  code/obj/machinery/porters.dm
  code/obj/machinery/singularity.dm
  code/obj/mining.dm
  code/obj/storage/loot_crates.dm
  code/procs/access.dm
  code/procs/gamehelpers.dm
  code/z_adventurezones/luna.dm
  goonstation.dme
  icons/mob/clothing/card.dmi
  icons/obj/clothing/item_ids.dmi
Labels: C-Feature, C-Code-Quality, size/L, A-Game-Objects

#14005 Unique Sprites For Cap/HoS Eguns
  code/obj/item/gun/energy.dm
  code/obj/storage/secure_closets.dm
  icons/obj/items/gun.dmi
Labels: C-Feature, C-Sprites, size/S, A-Game-Objects

#13961 Add storage type for any size storage
  _std/defines/storage.dm
  code/modules/storage/no_hud.dm
  code/modules/storage/storage.dm
  code/obj/item.dm
  code/obj/item/clothing/trash_bags.dm
  code/obj/item/mops_cleaners.dm
  goonstation.dme
Labels: C-Code-Quality, S-Stale, size/L, A-Internal

#14014 Datumises Poltergeists
  _std/defines/roles.dm
  code/modules/antagonists/__antagonist.dm
  code/modules/antagonists/__intangible_antagonist.dm
  code/modules/antagonists/flockmind/flocktrace.dm
  code/modules/antagonists/wraith/abilties/trickster/make_poltergeist.dm
  code/modules/antagonists/wraith/poltergeist.dm
  goonstation.dme
Labels: C-Code-Quality, size/M, A-Gamemodes, A-Internal

#14260 Fix some safes spawning without items
  code/obj/item/storage/secure_safe.dm
  code/z_adventurezones/hospital.dm
Labels: C-Bug, size/L, A-Game-Objects

#14259 Fix ATMs being broken
  code/datums/banking.dm
Labels: C-Bug, size/XS, A-Game-Objects

#12361 Help messages for in-game things
  _std/defines/atom.dm
  _std/defines/component_defines/component_defines_atom.dm
  browserassets/css/browserOutput.css
  code/WorkInProgress/recycling/disposal-construction.dm
  code/WorkInProgress/recycling/disposal.dm
  code/atom.dm
  code/datums/components/foldable.dm
  code/mob.dm
  code/modules/interface/input.dm
  code/modules/interface/mob_input.dm
Labels: C-Feature, E-Input-Wanted, C-QoL, S-Stale, A-UI, size/L

#14255 area_that_kills_you roundstart deletion check
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/area.dm
Labels: C-Bug, size/XS, A-Internal

#14252 allow headless humans to be poured with an agressive grab
  code/obj/item/grab.dm
Labels: C-Feature, C-Balance, size/XS, A-Player-Actions

#14251 Datumises Remaining Wraith Summons
  _std/defines/roles.dm
  code/modules/antagonists/__intangible_antagonist.dm
  code/modules/antagonists/__mob_antagonist.dm
  code/modules/antagonists/blob/abilities/blob_abilities.dm
  code/modules/antagonists/blob/blob.dm
  code/modules/antagonists/flockmind/flockmind.dm
  code/modules/antagonists/flockmind/flocktrace.dm
  code/modules/antagonists/macho_man/macho_man.dm
  code/modules/antagonists/nuclear_operative/nuclear_operative_gunbot.dm
  code/modules/antagonists/slasher/slasher.dm
  code/modules/antagonists/wraith/abilties/harbinger/summon.dm
  code/modules/antagonists/wraith/abilties/plaguebringer/make_plague_rat.dm
  code/modules/antagonists/wraith/harbinger_summon.dm
  code/modules/antagonists/wraith/plague_rat.dm
  code/modules/antagonists/wraith/poltergeist.dm
  code/modules/antagonists/wraith/wraith.dm
  goonstation.dme
Labels: C-Code-Quality, size/L, A-Gamemodes, A-Internal

#14248 Gives the plush bear in Cogmap's Psychiatry Office a name
  maps/cogmap.dmm
Labels: A-Mapping, size/XS

#14170 Wine Cellar Random rooms
  assets/maps/random_rooms/3x5/winecellar.dmm
  assets/maps/random_rooms/5x3/winecellar.dmm
  code/modules/fluids/fluid_objects.dm
Labels: C-Feature, A-Mapping, size/L

#14190 Add shower to Cogmap Medbay bathroom
  maps/cogmap.dmm
Labels: A-Mapping, C-QoL, size/L, A-Medical

#14199 Allow shuriken pouches to be held in pocket
  code/datums/gamemodes/battle_royale.dm
  code/datums/gamemodes/gangwar.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/storage/ammo_pouches.dm
Labels: C-QoL, size/S, A-Game-Objects

#14197 Adds lots of factions and stuff
  _std/macros/factions.dm
  code/datums/jobs.dm
  code/datums/mind.dm
  code/mob/living/critter/adventure.dm
  code/mob/living/critter/aquatic.dm
  code/mob/living/critter/brullbar.dm
  code/mob/living/critter/drone.dm
  code/mob/living/critter/golem.dm
  code/mob/living/critter/gunbot.dm
  code/mob/living/critter/killertomato.dm
  code/mob/living/critter/maneater.dm
  code/mob/living/critter/plasmaspore.dm
  code/mob/living/critter/sawfly.dm
  code/mob/living/critter/skeleton.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/critter/snake.dm
  code/mob/living/critter/spider.dm
  code/mob/living/intangible/wraith.dm
  code/mob/living/object.dm
  code/modules/antagonists/__antagonist.dm
  code/modules/antagonists/nuclear_operative/nuclear_operative.dm
  code/modules/antagonists/nuclear_operative/nuclear_operative_gunbot.dm
  code/modules/antagonists/syndicate_cyborg/syndicate_cyborg.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/antagonists/wraith/critters/exploder.dm
  code/modules/antagonists/wraith/critters/nascent.dm
  code/modules/antagonists/wraith/critters/plaguerat.dm
  code/modules/antagonists/wraith/critters/skeleton_commander.dm
  code/modules/antagonists/wraith/critters/spiker.dm
  code/modules/antagonists/wraith/critters/trickster_puppet.dm
  code/modules/antagonists/wraith/critters/voidhound.dm
  code/modules/antagonists/wraith/objs/machinery/rat_den.dm
  code/modules/antagonists/wraith/objs/machinery/vortex_wraith.dm
  code/modules/antagonists/wraith/wraith.dm
  code/obj/item/sponge_capsule.dm
  code/obj/vortex.dm
Labels: C-Balance, size/L, A-AI

#13957 more skeleton mutantrace bugfixes
  code/datums/mutantraces.dm
  code/mob/living.dm
  code/mob/living/life/blindness.dm
  code/obj/item/organ_holder.dm
  code/obj/item/organs/head.dm
Labels: C-Bug, C-QoL, S-Stale, size/M, A-Game-Objects

#14227 perspective flaps attempt #2
  code/modules/economy/supply_misc.dm
  code/turf/turf_autoalign.dm
  icons/obj/stationobjs.dmi
Labels: C-Sprites, C-QoL, size/M, A-Game-Objects

#14274 Add in-hand sprites to all winter coats (also adds robotics winter coats)
  code/modules/vending/vending.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/storage/clothing.dm
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/mob/inhand/overcoat/hand_suit.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
Labels: C-Feature, C-Sprites, C-QoL, size/XS

#14243 Redoes the minigun from the ground up
  code/modules/projectiles/bullet.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
  icons/mob/inhand/hand_guns.dmi
  icons/obj/large/64x32.dmi
Labels: C-Sprites, size/M, A-Game-Objects

#14216 Gives clownshoes and clownspiders waddling
  assets/maps/prefabs/prefab_clown_nest.dmm
  assets/maps/prefabs/prefab_water_honk.dmm
  code/datums/components/waddling.dm
  code/mob.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/critter/spider.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/shoes.dm
Labels: A-Mapping, size/XXL, A-Player-Actions

#14254 override the proc thermite uses to melt shuttle walls
  code/modules/transport/shuttle/shuttle_turfobjs.dm
Labels: C-Bug, size/XS, A-Player-Actions

#14163 Gives robotic critters the same electric immunity as silicons
  code/mob/living/critter.dm
Labels: C-Balance, size/XS, A-Silicons

#13397 Reworks frenzy like abilities to be a subtype of frenzy
  code/datums/abilities/critter/frenzy.dm
  code/mob/living/critter/brullbar.dm
  code/mob/living/critter/small_animal.dm
  code/modules/antagonists/wraith/critters/abilities/spiker.dm
  code/modules/antagonists/wraith/critters/spiker.dm
Labels: C-Code-Quality, size/L, A-Player-Actions, S-Ready-For-Final-Review

#13946 Adds Promethazine, a chemical that stops vomiting
  code/datums/critter_mobs/health/suffocation.dm
  code/mob.dm
  code/mob/living/carbon/cube.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/modules/antagonists/wraith/bioEffects/curses.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-Base.dm
  code/modules/chemistry/Reagents-ExplosiveFire.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/food_and_drink/sandwiches.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/medical/diseases/addiction.dm
  code/modules/medical/diseases/food_poisoning.dm
  code/modules/medical/diseases/organ_diseases/appendicitis.dm
  code/modules/medical/genetics/bioEffects/non_genetic.dm
  code/modules/status_system/statusEffects.dm
  code/obj/decal/cleanable.dm
  code/obj/item/device/studio_monitor.dm
  code/obj/item/handcuffs.dm
  code/obj/item/organs/lung.dm
  code/obj/item/toilets.dm
  code/obj/machinery/portapuke.dm
  code/obj/machinery/porters.dm
Labels: C-Feature, size/L, A-Chemistry

#14019 Recharge upgrades can only be used once every 7 minutes as borg.
  code/mob/living/silicon/robot.dm
  code/modules/robotics/robot/upgrade/parent.dm
  code/modules/robotics/robot/upgrade/recharge_pack.dm
  code/modules/status_system/statusEffects.dm
Labels: C-Balance, size/M, A-Silicons

#14285 Fixes Ruckingenur Kits not sending some packets
  code/obj/item/tool/electronics.dm
Labels: C-Bug, size/XS

#14284 Fix incorrect window spawner on radio prefab
  assets/maps/prefabs/prefab_ksol.dmm
Labels: C-Bug, A-Mapping, size/XS

#14287 Fixes Some Parallax Runtimes
  code/modules/parallax/parallax_controller.dm
Labels: C-Runtime, size/XS, A-Internal

#13697 Move all `obj/item` produce handling to `proc/HYPsetup_DNA` within the resperctable items
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/tools/balloons.dm
  code/modules/fishing/fish.dm
  code/modules/food_and_drink/plants.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/hydroponics/plant_mutations.dm
  code/obj/item.dm
  code/obj/item/clothing/plants.dm
  code/obj/item/device/lights.dm
  code/obj/item/organs/organ_parent.dm
  code/obj/item/plants.dm
  code/obj/item/seeds.dm
  code/obj/item/space_cash.dm
  code/obj/machinery/plantpot.dm
Labels: size/L, A-Hydroponics

#14169 Reworks changeling speedregen ability into a status effect
  code/modules/antagonists/changeling/abilities/regeneration.dm
  code/modules/sound/soundCache.dm
  sound/misc/cling_flesh.ogg
Labels: C-Bug, C-Balance, C-Rework, C-Sound, size/M, A-Status-Effects

#14291 makes solipsizine not perma deaf you
  code/modules/chemistry/Reagents-Drugs.dm
Labels: C-Bug, size/XS, A-Science

#14264 Add ProDoc icon indicator for those with cyber organs
  _std/macros/atom_properties.dm
  code/mob/living/carbon/human.dm
  code/mob/living/life/health_mon.dm
  code/obj/item/organs/organ_parent.dm
  code/procs/scanprocs.dm
  icons/effects/healthgoggles.dmi
Labels: C-Sprites, C-Balance, C-QoL, E-Add-To-Wiki, size/M, A-Medical

#14081 Fix queen spider AI breaking on vomit egg
  code/mob/living/critter/ai/spider.dm
  code/mob/living/critter/spider.dm
  code/obj/critter/critter_parent.dm
Labels: C-Bug, size/M, A-AI

#14298 Repath walls
  assets/maps/allocated/blob_tutorial.dmm
  assets/maps/shuttles/east/east_disaster.dmm
  assets/maps/shuttles/east/east_martian.dmm
  assets/maps/shuttles/east/east_medships.dmm
  assets/maps/shuttles/east/east_royal.dmm
  assets/maps/shuttles/east/east_syndicate.dmm
  assets/maps/shuttles/east/east_wrestle.dmm
  assets/maps/shuttles/east/eastbase.dmm
  assets/maps/shuttles/east/empty.dmm
  assets/maps/shuttles/east/oshan.dmm
  assets/maps/shuttles/east/oshan_disaster.dmm
  assets/maps/shuttles/east/oshan_meat.dmm
  assets/maps/shuttles/east/oshan_minisubs.dmm
  assets/maps/shuttles/east/oshan_royal.dmm
  assets/maps/shuttles/north/donut3.dmm
  assets/maps/shuttles/north/donut3_cave.dmm
  assets/maps/shuttles/north/donut3_disaster.dmm
  assets/maps/shuttles/north/donut3_royal.dmm
  assets/maps/shuttles/north/donut3_syndicate.dmm
  assets/maps/shuttles/north/donut3_wrestle.dmm
  assets/maps/shuttles/north/empty.dmm
  assets/maps/shuttles/north/manta.dmm
  assets/maps/shuttles/north/manta_disaster.dmm
  assets/maps/shuttles/north/north_disaster.dmm
  assets/maps/shuttles/north/north_martian.dmm
  assets/maps/shuttles/north/north_wrestle.dmm
  assets/maps/shuttles/north/northbase.dmm
  assets/maps/shuttles/north/small/manta_default.dmm
  assets/maps/shuttles/north/small/manta_disaster.dmm
  assets/maps/shuttles/north/small/manta_royal.dmm
  assets/maps/shuttles/south/empty.dmm
  assets/maps/shuttles/south/south_disaster.dmm
  assets/maps/shuttles/south/south_martian.dmm
  assets/maps/shuttles/south/south_medships.dmm
  assets/maps/shuttles/south/south_miniships.dmm
  assets/maps/shuttles/south/south_royal.dmm
  assets/maps/shuttles/south/south_syndicate.dmm
  assets/maps/shuttles/south/south_wrestle.dmm
  assets/maps/shuttles/south/southbase.dmm
  assets/maps/shuttles/west/empty.dmm
  assets/maps/shuttles/west/small/donut2_default.dmm
  assets/maps/shuttles/west/small/donut2_disaster.dmm
  assets/maps/shuttles/west/small/donut2_royal.dmm
  assets/maps/shuttles/west/small/donut2_syndicate.dmm
  assets/maps/shuttles/west/west_disaster.dmm
  assets/maps/shuttles/west/west_martian.dmm
  assets/maps/shuttles/west/westbase.dmm
  code/turf/turf.dm
  maps/cogmap2.dmm
  maps/cogwip/ships.dmm
  maps/z2.dmm
  maps/z3.dmm
  maps/z4_blank.dmm
Labels: C-Bug, A-Mapping, size/L

#14300 match bugfixes
  _std/defines/item.dm
  code/obj/item/cigarette.dm
  code/obj/item/device/lights.dm
Labels: C-Bug, size/M

#14299 Adds printing press to chapel on all rotation maps
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, size/L

#14181 Allow secure limb attachment when wielding suture/stapler in off-hand
  code/obj/item.dm
  code/obj/item/mob_parts.dm
Labels: C-QoL, size/S, A-Medical

#14296 makes neurodepressant stop emoting when fakedeath by capu
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: C-Balance, size/XS, A-Chemistry

#14302 Minor empty storage fixes
  code/modules/storage/no_hud.dm
  code/modules/storage/storage.dm
Labels: C-Bug, P-Minor, size/XS, A-Game-Objects

#14308 Nuclear meltdown siren sound
  code/obj/nuclearreactor/nuclearreactor.dm
  sound/machines/meltdown_siren.ogg
Labels: C-Sound, size/XS

#14292 Remaps Clarion's medbay
  maps/clarion.dmm
Labels: A-Mapping, C-Rework, size/XXL

#14200 Fancy ladder stuff
  code/datums/components/extradimensional_storage.dm
  code/obj/storage/large_storage_parent.dm
  code/turf/turf.dm
  code/z_adventurezones/lavamoon.dm
  icons/misc/worlds.dmi
  maps/clarion.dmm
  maps/cogmap2.dmm
  maps/oshan.dmm
Labels: C-Feature, A-Mapping, C-Sprites, C-QoL, size/L

#14270 Partial materials refactor
  assets/maps/random_rooms/5x3/laundromat.dmm
  code/modules/materials/Mat_RawMaterials.dm
  code/obj.dm
  code/obj/grille.dm
  code/obj/item/building_materials.dm
  code/obj/item/material.dm
  code/obj/item/table_rack_parts.dm
  code/obj/stool.dm
  code/obj/table.dm
  code/obj/window.dm
  code/turf/floors.dm
  code/turf/floors_unsimulated.dm
  maps/nadir.dmm
Labels: A-Mapping, C-Code-Quality, size/XL, A-Internal, S-Ready-For-Final-Review
