Repository goonstation/goonstation, pull requests merged in 2023-11, with the labels that each got.

#16162 Supply console can print trader/requisition barcodes directly
  code/obj/machinery/computer/QM_supply.dm
Labels: C-Feature, S-Stale, size/M, A-Game-Objects

#16670 Add Syndicate Radio Channel to Syndicate Cyborgs and make them drop Syndie Frames on death
  code/mob/living/silicon.dm
  code/mob/living/silicon/robot.dm
  code/modules/antagonists/syndicate_cyborg/syndicate_cyborg.dm
  code/modules/robotics/robot/module/parent.dm
  code/obj/item/device/radios/headsets.dm
Labels: C-Bug, C-Feature, size/M, A-Silicons

#16699 Give blue clowns clown training
  code/datums/jobs.dm
Labels: C-Feature, size/XS, A-Status-Effects, A-Player-Actions, A-Traits

#16423 Exptend pickup logging to allow logging of every pickup
  code/area.dm
  code/datums/components/log_item_pickup.dm
  code/obj/item/card.dm
  code/obj/item/gun/gun_parent.dm
  code/obj/item/stun_baton.dm
Labels: C-Feature, size/M, A-Admin

#16736 Improves the mapmerge driver
  tools/mapmerge2/dmm.py
  tools/mapmerge2/merge_driver.py
Labels: A-Tooling, C-QoL, C-Rework, size/L

#16705 Clean up fireflash.dm
  code/WorkInProgress/previouslyKeelinsStuff.dm
  code/datums/abilities/critter/flamethrower.dm
  code/mob/living/critter/firefly.dm
  code/mob/living/critter/sawfly.dm
  code/modules/admin/buildmodes/fireflash.dm
  code/modules/antagonists/wizard/abilities/fireball.dm
  code/modules/antagonists/wraith/objs/machinery/runetrap.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-ExplosiveFire.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/events/white_hole.dm
  code/modules/food_and_drink/plants.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/projectiles/special.dm
  code/modules/robotics/bot/chefbot.dm
  code/obj/artifacts/artifact_objects/heatwave.dm
  code/obj/blob.dm
  code/obj/decal/cleanable.dm
  code/obj/item/mine.dm
  code/obj/machinery/law_racks.dm
  code/obj/torpedoes.dm
  code/procs/fireflash.dm
  code/turf/floors.dm
  code/turf/turf.dm
Labels: C-Code-Quality, C-Balance, size/L, A-Internal

#16728 Afterattack changes
  code/mob/living.dm
  code/procs/mobprocs/attacks.dm
Labels: size/M, A-Internal

#16400 Airlock.dm cleanup and airlock cycling polish
  code/modules/mapping/helpers/airlock_helpers.dm
  code/obj/machinery/door/airlock.dm
  icons/map-editing/airlocks.dmi
Labels: C-Feature, A-Mapping, C-Sprites, C-QoL, size/XXL, A-Internal

#16755 Adds some words about PR atomization and re-pathing to the contributor guidelines
  .github/CONTRIBUTOR_GUIDELINES.md
Labels: E-Docs, A-Tooling, size/XS, C-Documentation

#16714 ABCU: add an overwrite check to blueprint migration
  code/WorkInProgress/blueprints.dm
Labels: C-Code-Quality, size/S, A-Game-Objects

#16688 Add silicon support for ABCU
  code/WorkInProgress/blueprints.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
Labels: size/S, A-Silicons

#16756 Fix some fireflash bugs
  code/procs/fireflash.dm
Labels: C-Bug, size/XS, A-Internal

#16761 resprites drains (large and small)
  icons/obj/fluid.dmi
Labels: C-Sprites, size/XS

#16763 added some tips around combat and common sense
  strings/roundstart_hints.txt
Labels: size/XS

#16768 Fix fireflash() runtime
  code/procs/fireflash.dm
Labels: C-Bug, C-Runtime, size/S, A-Game-Objects

#16777 Fix invasive growth gene strain not working properly
  code/modules/hydroponics/gene_strains.dm
Labels: C-Bug, size/XS, A-Hydroponics

#16770 Remove achievement requirement for Flock structures
  _std/macros/flock.dm
  code/datums/components/flock/flockprotection.dm
  code/datums/flock/flock.dm
  code/datums/flock/flockunlockable.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/modules/tutorials/flock_tutorial.dm
  code/obj/flock/cage.dm
Labels: C-Balance, C-Removal, size/M, A-Gamemodes, A-Game-Objects, S-Ready-For-Final-Review

#16766 Added several tips around combat, jobs, health management, and dangerous situations
  strings/roundstart_hints.txt
Labels: size/S

#16562 Make Security RecordTrak search by real_name
  code/obj/item/device/scanners.dm
Labels: C-Bug, size/S, A-Game-Objects

#16782 Fix the message on arming a chemgrenade
  code/modules/chemistry/tools/grenades.dm
Labels: C-Bug, size/XS, A-Game-Objects

#16371 Requisition adjustment oct23-02 (2 more sci requisitions + minor secondary adjustments)
  code/modules/economy/requisition/rc_scientific.dm
  code/modules/economy/requisition/requisition_contracts.dm
Labels: C-Feature, S-Stale, size/L

#16787 Fixes grabs going into player vending machines
  code/modules/vending/vending.dm
Labels: C-Bug, size/XS, A-Game-Objects

#16769 makes the port-a-med and port-a-nanomed consistent with other program names
  code/obj/item/device/pda2/portable_machinery_control.dm
Labels: size/XS

#16767 Changes escaped double quotes to single quotes in html strings
  code/WorkInProgress/GerhazoStuff.dm
  code/client.dm
  code/datums/abilities/zoldorfabilities.dm
  code/datums/browserOutput.dm
  code/datums/changelog.dm
  code/datums/gamemodes/pod_wars/pw_stats_manager.dm
  code/mob.dm
  code/mob/living/silicon.dm
  code/modules/admin/admin.dm
  code/modules/admin/adminhelp.dm
  code/modules/admin/adminsay.dm
  code/modules/admin/processSchedulerView.dm
  code/modules/interface/keybind_menu_chui.dm
  code/modules/materials/Mat_Fabrication.dm
  code/modules/materials/Mat_Processing.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/robotics/robot/robot_module_rewriter.dm
  code/modules/sound/playsound.dm
  code/modules/transport/pods/secondary_system.dm
  code/modules/transport/pods/warp_travel.dm
  code/modules/tutorials/flock_tutorial.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/item.dm
  code/obj/item/device/radio.dm
  code/obj/machinery/law_racks.dm
  code/procs/logged_phrases.dm
  code/procs/mobprocs/chatprocs.dm
  code/world/topic.dm
  code/z_adventurezones/luna.dm
Labels: C-Code-Quality, size/L, A-Internal

#16784 Fixes printing press making blank books
  code/obj/machinery/printing_press.dm
Labels: C-Bug, size/S, A-Game-Objects

#16791 Spellcheck all files in strings subdirectory
  strings/assassination_fluff.txt
  strings/books/DNDrulebook.txt
  strings/books/bartending_pocket_guide.txt
  strings/books/buildavend_treatise.txt
  strings/books/dwainedummies.txt
  strings/books/elective_prosthetics_for_dummies.txt
  strings/books/medbay_pocket_guide.txt
  strings/books/medical_surgery_guide.txt
  strings/books/minerals.txt
  strings/books/mining_pocket_guide.txt
  strings/books/nuclear_engineering.txt
  strings/books/pharmacopia.txt
  strings/books/stationfinder.txt
  strings/books/syndies_guide.txt
  strings/books/teg_guide.txt
  strings/books/transception_guide.txt
  strings/books/zoo_diary.txt
  strings/chefbot.txt
  strings/chemistry_reagent_messages.txt
  strings/conspiracy_theories.txt
  strings/flockmind.txt
  strings/gangwar.txt
  strings/language/hacker.txt
  strings/meatland/meatland_audiologs.txt
  strings/names/wizard_female.txt
  strings/newspaper.txt
  strings/plush_toy_words.txt
  strings/roundstart_hints.txt
  strings/station_name_whitelist.txt
  strings/zoldorf.txt
Labels: C-Code-Quality, A-UI, size/L, A-Internal

#16796 Add a special message when implanting yourself
  code/obj/item/implant.dm
Labels: size/S

#16718 Add action bar for removing mindhack module from cloner
  code/obj/machinery/clonepod.dm
Labels: C-QoL, size/S, A-Medical, A-Player-Actions

#16703 Smelling salts behaviour changes + 'Inhaled' trigger
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/tools/ampoules.dm
  code/modules/fluids/air.dm
  code/modules/status_system/statusEffects.dm
  code/obj/item/cigarette.dm
  code/obj/item/clothing/injector_mask_belt.dm
  icons/ui/statussystem.dmi
Labels: C-Feature, C-Sprites, size/M, A-Chemistry

#16779 Simplify Flock Gnesis Turret compute cost
  code/obj/flock/structure/flock_structure_parent.dm
  code/obj/flock/structure/gnesisturret.dm
  code/obj/flock/structure/interceptor.dm
  code/obj/flock/structure/sentinel.dm
Labels: C-Balance, C-QoL, size/M, A-Gamemodes, A-Game-Objects, S-Ready-For-Final-Review

#16789 Move medal procs to /datum/player
  code/client.dm
  code/mob.dm
  code/modules/admin/randomverbs.dm
  code/modules/admin/spacebee_extension/commands.dm
  code/modules/medals/rewardsLocker.dm
  code/player.dm
Labels: size/L, A-Internal

#16797 Add help message for wrapping paper
  code/obj/item/gift.dm
Labels: C-QoL, size/XS

#16809 Fixes pug gasping issue
  code/mob/living/carbon.dm
Labels: C-Bug, size/XS

#16817 Fix lamp manufactuerer context menu
  code/modules/fluids/fluid_objects.dm
  code/modules/interface/multiContext/context_actions.dm
Labels: C-Bug, A-UI, size/S, A-Game-Objects

#16815 Fix dead point chat spacing
  code/mob/dead/observer.dm
Labels: C-Bug, size/XS, A-Player-Actions

#16816 Ghost & Cyborg can climb (sea) ladders
  code/modules/fluids/fluid_objects.dm
  code/obj/ladder.dm
Labels: C-Bug, C-Feature, size/S, A-Silicons

#16783 Bugifx - Lizard tails should drop again
  code/mob/living/critter/small_animal.dm
Labels: C-Bug, size/S, A-Critters

#16818 Salvage trader buys electronics debris instead of machine cleanables
  code/modules/economy/commodity.dm
  code/modules/economy/trader.dm
Labels: C-Bug, size/S, A-Game-Objects

#16812 Add Fuzzy Bathrobe and Slippers to maps without them
  maps/clarion.dmm
  maps/donut2.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
Labels: A-Mapping, size/S

#13964 Add artifact bag of holding
  assets/maps/allocated/artifact_stranded.dmm
  code/datums/hud/storage.dm
  code/modules/status_system/statusEffects.dm
  code/modules/storage/items/bag_of_holding.dm
  code/modules/storage/items/bible.dm
  code/modules/storage/storage.dm
  code/modules/worldgen/prefab/allocated.dm
  code/obj/artifacts/artifact_items/handheld_storage.dm
  code/obj/artifacts/artifactdatums.dm
  code/obj/artifacts/artifactprocs.dm
  code/obj/decal.dm
  code/z_adventurezones/void.dm
  goonstation.dme
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt.dmi
  icons/obj/artifacts/artifactStorages.dmi
Labels: C-Feature, A-Mapping, C-Sprites, size/XL, A-Game-Objects

#16544 Fixes #16377 Plush Toys Spawning with Nectar Perspiration
  code/datums/jobs.dm
  code/modules/medical/genetics/bioHolder.dm
Labels: C-Bug, S-Stale, size/M, A-Critters

#16695 Stowaway Spy Thieves now get a registered PDA
  code/modules/antagonists/spy_thief/spy_thief.dm
Labels: size/XS, A-Gamemodes, A-Game-Objects

#16799 Mechcomp button panel gets delimited list input, remove all buttons input
  code/modules/mechanics/MechanicMadness.dm
Labels: C-QoL, size/M, A-Game-Objects

#16831 Unit test for infinite mats when sheet crafting
  code/modules/economy/supply_misc.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/building_materials_mat_amount.dm
  code/obj/bookcase.dm
  code/obj/item/scrapweapons.dm
  code/obj/item/table_rack_parts.dm
  code/obj/machinery/door/door_parent.dm
  code/obj/structure.dm
Labels: C-Bug, size/S, A-Internal

#16832 Move code/WorkInProgress/recycling to code/modules/disposals
  code/modules/disposals/conveyor.dm
  code/modules/disposals/crusher.dm
  code/modules/disposals/disposal-construction.dm
  code/modules/disposals/disposal.dm
  code/modules/disposals/disposal_chute.dm
  code/modules/disposals/mail_chute.dm
  code/modules/disposals/scrap.dm
  goonstation.dme
Labels: C-Code-Quality, size/S, A-Internal

#16840 Update CDN build system
  browserassets/Gruntfile.js
  browserassets/config.rb
  browserassets/gulpfile.mjs
  browserassets/js/tooltip.js
  browserassets/package-lock.json
  browserassets/package.json
Labels: size/XXL

#16856 Allow non-goonhub CDN domains in gulpfile.
  browserassets/gulpfile.mjs
Labels: C-Feature, A-Tooling, size/XS

#16857 Non-Uniform Random Distribution Macros
  _std/__std.dme
  _std/macros/distributions.dm
  code/modules/unit_tests/rand.dm
Labels: C-Feature, size/M, A-Internal

#16858 Fixes splashing job reward buttons with reagents
  code/modules/jobxp/JobXPRewards.dm
Labels: C-Bug, size/XS, A-Game-Objects

#16853 Fix Clarion Disposal flaps and doors
  code/modules/economy/supply_misc.dm
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/S

#16804 Show Flock structure maintenance costs in tealprint creation TGUI list
  code/datums/flock/flockunlockable.dm
  code/modules/antagonists/flockmind/abilities/create_structure.dm
Labels: C-QoL, size/XS, A-Gamemodes

#16732 Minimum distance option for sound hallucinations and option to have image override hallucinations appear only out of view
  code/datums/components/hallucinations.dm
  code/obj/artifacts/artifact_machines/madness.dm
Labels: C-Feature, size/M, A-Internal

#16876 Fixes claiming your own spief uplink not spawning reward
  code/obj/item/uplinks.dm
Labels: C-Bug, size/XS, A-Game-Objects

#16879 Fix Rockbox PDA app wireless messaging softlock
  code/obj/item/device/pda2/smallprogs.dm
Labels: C-Bug, size/XS, A-Game-Objects

#16875 Fix wiretap radio upgrade still letting you hear frequencies after removal
  code/obj/item/device/radios/headsets.dm
Labels: C-Bug, size/XS, A-Game-Objects

#16873 Fix the message on arming a chemgrenade again
  code/modules/chemistry/tools/grenades.dm
Labels: C-Bug, A-UI, size/XS

#16874 Fix headrev antag removal not removing image groups
  code/modules/antagonists/revolutionary/head_revolutionary.dm
Labels: C-Bug, size/XS, A-Admin

#16798 Implement API2 for player medals
  code/modules/goonhub/api/models/medals/MedalResource.dm
  code/modules/goonhub/api/models/players/PlayerMedalResource.dm
  code/modules/goonhub/api/models/players/PlayerMedalResourceList.dm
  code/modules/goonhub/api/requests/players/medals/AddPlayerMedalBody.dm
  code/modules/goonhub/api/requests/players/medals/DeletePlayerMedalBody.dm
  code/modules/goonhub/api/routes/players/medals/AddPlayerMedal.dm
  code/modules/goonhub/api/routes/players/medals/DeletePlayerMedal.dm
  code/modules/goonhub/api/routes/players/medals/GetPlayerMedals.dm
  code/modules/goonhub/api/routes/players/medals/ShowPlayerMedal.dm
  code/player.dm
  goonstation.dme
Labels: size/L, A-Internal

#16848 MechComp List Connections Fully Reports Incoming.
  code/datums/components/mechComp_signals.dm
Labels: C-QoL, size/XS, A-Station-Systems

#16867 Jumpseat? Life Support-Supported Cargo Hold
  code/WorkInProgress/salvager.dm
  code/modules/transport/pods/secondary_system.dm
  code/modules/transport/pods/vehicle.dm
  icons/mob/hud_pod.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#16647 Player Piano Lowered MIN_TIMING
  code/obj/playable_piano.dm
Labels: C-Balance, S-Stale, size/XS, A-Game-Objects

#16890 Makes slamming palms on table use player pronouns
  code/obj/table.dm
Labels: C-QoL, A-UI, size/XS

#16884 Fixes blobs being able to spawn within view of people (among other things)
  code/modules/antagonists/blob/abilities/blob_abilities.dm
Labels: C-Bug, size/M, A-Player-Actions

#16886 Make murderbox cleanup button remove fluids
  code/WorkInProgress/zamujasa.dm
Labels: C-Bug, size/XS, A-Station-Systems

#16887 Fixes manufacturer re-assembly using whole stack of cable
  code/obj/machinery/manufacturer.dm
Labels: C-Bug, size/XS, A-Game-Objects

#16762 TGUI Admin Antagonist Panel
  browserassets/tgui/tgui.bundle.js
  code/area.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_holder.dm
  code/modules/admin/antagonist_panel/antagonist_panel.dm
  code/modules/admin/antagonist_panel/antagonist_panel_data.dm
  code/modules/admin/antagonist_panel/antagonist_panel_tab.dm
  code/modules/antagonists/__antagonist.dm
  code/modules/antagonists/__generic_antagonist.dm
  code/modules/antagonists/__subordinate_antagonist.dm
  code/modules/antagonists/gang/gang_leader.dm
  code/modules/antagonists/nuclear_operative/nuclear_operative.dm
  code/modules/antagonists/nuclear_operative/nuclear_operative_gunbot.dm
  code/modules/antagonists/pirate/pirate.dm
  code/modules/antagonists/revolutionary/head_revolutionary.dm
  code/modules/antagonists/revolutionary/revolutionary.dm
  goonstation.dme
  tgui/packages/tgui/interfaces/AntagonistPanel/AntagonistTypeTabBody.tsx
  tgui/packages/tgui/interfaces/AntagonistPanel/AntagonistTypeTabs.tsx
  tgui/packages/tgui/interfaces/AntagonistPanel/index.tsx
  tgui/packages/tgui/interfaces/AntagonistPanel/type.ts
Labels: C-QoL, A-UI, size/XXL, A-Admin, S-Ready-For-Final-Review

#16906 Fix small bug with wizard bag of holding artifacts
  code/modules/storage/items/bag_of_holding.dm
Labels: C-Bug, size/XS, A-Game-Objects

#16821 Light Fixture Resprite
  code/modules/power/lighting.dm
  icons/obj/lighting.dmi
Labels: C-Sprites, size/S

#16909 Fix yobihodazine not depleting below 1u
  code/modules/chemistry/Reagents-Medical.dm
Labels: C-Bug, size/XS, A-Chemistry

#16910 Allow reclaiming genes even if at material cap
  code/modules/medical/genetics/chromosomes.dm
  code/modules/medical/genetics/geneticsMachines.dm
Labels: C-QoL, size/S, A-Medical

#16908 Change mutagenic field description to accurately describe effects
  code/modules/medical/genetics/bioEffects/harmful.dm
Labels: C-Bug, A-UI, size/XS

#16907 Removes the sleepy pens from the specops crates' description
  code/modules/economy/supply_packs.dm
Labels: size/XS

#16898 Add empty gas tank to list of valid tanks for portable combustion generator
  code/modules/power/chem_combustion.dm
Labels: C-Feature, size/XS, A-Game-Objects

#16892 Adds separate gang member antag preference
  code/datums/gamemodes/gangwar.dm
  code/datums/preferences.dm
  code/datums/savefile.dm
  code/procs/antagonist_procs.dm
Labels: C-Feature, size/S, A-Gamemodes

#16915 Correctly label John's Bus dock on Nadir
  code/area.dm
Labels: C-Bug, size/XS

#16911 De-duplicate mars_bot sprite
  icons/misc/worlds.dmi
  maps/z2.dmm
Labels: C-Bug, A-Mapping, C-Sprites, size/S

#16913 Nadir surface is uniformly acid
  maps/nadir.dmm
Labels: C-Bug, A-Mapping, size/XL

#16883 HoS cape layers under hair again if worn on suit
  code/obj/item/clothing/armor.dm
  code/obj/item/clothing/suits.dm
Labels: C-Bug, size/XS, A-Game-Objects

#16866 Componentizes sniper scopes and allows combination with other gun components
  _std/defines/component_defines/component_defines_atom.dm
  _std/defines/component_defines/component_defines_special.dm
  _std/defines/movement.dm
  code/datums/components/fullauto.dm
  code/datums/components/smartgun.dm
  code/datums/components/smartgun_homing.dm
  code/datums/components/sniper_scope.dm
  code/datums/components/windup.dm
  code/datums/movement_controller/sniper.dm
  code/mob/living.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/nuclear_operative/designator.dm
  goonstation.dme
Labels: C-Bug, C-Code-Quality, size/XL, A-Game-Objects

#16733 Borg-Fishing-Addendums-2. More Betterer.
  code/modules/fishing/fishing_gear.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
  code/modules/storage/storage.dm
  code/obj/item/space_cash.dm
  code/obj/submachine/weapon_vendor.dm
Labels: C-Feature, size/M, A-Silicons

#16926 Accurately describe crate sale method for traders
  code/obj/machinery/computer/QM_supply.dm
Labels: C-Bug, size/XS

#16723 Updates devtest to have some requested stuff.
  code/area.dm
  code/datums/gamemodes/spy_theft.dm
  code/map.dm
  maps/utilities/devtest.dmm
Labels: A-Mapping, C-QoL, size/XXL

#16912 Fix power shovel vent hole interactions
  code/datums/controllers/sea_hotspot_controls.dm
  code/modules/fluids/fluid_turf.dm
Labels: C-Bug, size/S, A-Game-Objects

#16846 Allow mouse wheel scrolling to set target body attack zone
  _std/plane.dm
  code/datums/buildmode.dm
  code/datums/hud.dm
  code/modules/minimap/minimap_object.dm
Labels: C-QoL, size/S, A-Player-Actions

#16114 Bomb test chamber for donut 3
  code/obj/machinery/camera.dm
  maps/donut3.dmm
Labels: C-Feature, A-Mapping, size/XXL

#16637 ABCU: Blueprint rework, QOL, whitelist bugfix
  code/WorkInProgress/blueprints.dm
Labels: C-Code-Quality, C-QoL, size/XL, A-Game-Objects

#16744 Take extra death rolls when you're being beaten on
  code/mob/living/carbon/human/procs/damage.dm
Labels: C-Balance, size/XS, A-Medical

#16944 cog1 area fix
  maps/cogmap.dmm
Labels: P-Trivial, A-Mapping, size/XS

#16183 Bit of a camera refactor
  _std/macros/turf.dm
  code/area.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/datums/jobs.dm
  code/modules/camera/camera.dm
  code/modules/camera/coverage/datum/component/camera_coverage_emitter.dm
  code/modules/camera/coverage/datum/controller/camera_coverage.dm
  code/modules/camera/coverage/datum/controller/process/camera_coverage_all.dm
  code/modules/camera/coverage/datum/controller/process/camera_coverage_emitter_queue.dm
  code/modules/camera/coverage/datum/controller/process/camera_coverage_turf_queue.dm
  code/modules/camera/monitor.dm
  code/modules/camera/motion.dm
  code/modules/camera/network.dm
  code/modules/camera/television.dm
  code/modules/economy/traders/pianzi_hundan.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/device/camera_viewer.dm
  code/obj/item/organs/eye.dm
  code/obj/item/stickers.dm
  code/obj/machinery/camera.dm
  code/obj/machinery/computer/security.dm
  code/obj/machinery/computer/security/security_cameras_chui.dm
  goonstation.dme
Labels: C-Code-Quality, C-Rework, size/XXL, A-Game-Objects

#16936 Status displays clear maptext on losing power
  code/obj/machinery/status_display.dm
Labels: C-Bug, size/XS, A-Game-Objects

#16939 Oshan QM barcode machine uses no-belthell variant
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, size/XS, A-Station-Systems

#16951 Add support for themes to TGUI input modals
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/tgui/tgui_alert.dm
  code/modules/tgui/tgui_input_list.dm
  code/modules/tgui/tgui_input_number.dm
  code/modules/tgui/tgui_input_text.dm
  tgui/packages/tgui/interfaces/AlertModal.tsx
  tgui/packages/tgui/interfaces/ListInputModal.tsx
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
  tgui/packages/tgui/interfaces/TextInputModal.tsx
Labels: C-Feature, A-UI, size/M, A-Internal

#16950 Remove security cameras from bathrooms
  maps/cogmap.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
Labels: A-Mapping, size/M, A-Station-Systems

#16959 Use Flock theme for Flock TGUI inputs and alerts
  code/datums/flock/flock.dm
  code/mob/suicide.dm
  code/modules/antagonists/flockmind/abilities/create_structure.dm
  code/modules/antagonists/flockmind/abilities/direct_say.dm
  code/modules/antagonists/flockmind/abilities/spawn_egg.dm
  code/modules/antagonists/flockmind/abilities/tutorial.dm
  code/obj/flock/structure/sapper.dm
Labels: C-Feature, A-UI, size/S, A-Gamemodes

#16965 Fix deconstructed network devices retaining link to data terminal
  code/modules/networks/computer3/mainframe2/misc_terms.dm
Labels: C-Bug, size/S, A-Station-Systems

#16970 Fix vending machine usage not leaving fingerprints
  code/modules/vending/vending.dm
Labels: C-Bug, size/S, A-Game-Objects

#16967 Fix wigs for ghost drones
  code/mob/living/silicon/ghostdrone.dm
Labels: C-Bug, size/S

#16969 Add set stack amount admin interact proc
  code/obj/item.dm
Labels: C-Feature, size/S, A-Admin, A-Internal

#16924 Bunny and Hare
  code/mob/living/critter/ai/bunny.dm
  code/mob/living/critter/ai/generic_critter.dm
  code/mob/living/critter/small_animal.dm
  code/modules/worldgen/mapgen/biomes/_biome.dm
  goonstation.dme
  icons/misc/critter.dmi
Labels: C-Sprites, size/L

#16952 Pig resprite (+ Hogg Vorbis + Generalised mob critter sitting behaviour)
  code/WorkInProgress/warcrimes.dm
  code/mob/living/critter/ai/capybara.dm
  code/mob/living/critter/ai/pig.dm
  code/mob/living/critter/ai/shared.dm
  code/mob/living/critter/pig.dm
  code/mob/living/critter/small_animal.dm
  goonstation.dme
  icons/misc/critter.dmi
Labels: C-Sprites, S-Merge-Conflict, size/L, A-Critters

#16973 Add STOP_DISTRACTING_ME define to disable random crew mail
  _std/__build.dm
  code/modules/economy/shippingmarket.dm
Labels: C-QoL, size/XS, A-Internal

#16698 Purgatives and dialysis machine rebalance
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/obj/machinery/dialysis.dm
Labels: C-Balance, E-Input-Wanted, size/XS, A-Game-Objects, A-Chemistry, S-Controversial

#16996 Fix scrollwheel now targeting message appearing even when target doesn't change
  _std/plane.dm
Labels: C-Bug, A-UI, size/XS

#17009 Fix ATM eating money if not logged in
  code/datums/banking.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17008 Pronoun usage in genetic power related messages
  code/modules/medical/genetics/bioEffects/powers.dm
Labels: C-QoL, A-UI, size/S

#17012 changes `blood_absorption_rate` into `proc/get_blood_absorption_rate()` and make it depend on the blood level on `living/human`
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/mob/living/life/chems.dm
Labels: C-Rework, size/S, A-Medical, A-Internal

#16972 Adds camera to mechlab on cogmap2
  maps/cogmap2.dmm
Labels: A-Mapping, size/XS

#16935 Dropped atoms in ladders fall to lower turf
  code/obj/ladder.dm
Labels: C-Bug, size/S, A-Game-Objects

#16830 Consistently update breathing HUD during breath lifeprocess
  code/datums/hud/critter.dm
  code/datums/hud/human.dm
  code/mob/living/life/breath.dm
Labels: C-Bug, A-UI, size/M

#16861 Allow stickers to be attached to storages that aren't full
  code/obj/item/stickers.dm
Labels: C-Bug, C-QoL, size/XS, A-Player-Actions, A-Game-Objects

#16407 (ADOPT) Adds 10 new departmental puffer coats
  code/modules/vending/vending.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/storage/clothing.dm
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
Labels: C-Sprites, size/M, A-Clothing

#16352 smoker trait ligther is a 'bonus' trinket spawn
  code/procs/jobprocs.dm
Labels: C-Bug, size/M, A-Traits, S-Ready-For-Final-Review

#17035 Fix incorrect label on access implant manufacturer recipe
  code/datums/manufacturing.dm
Labels: C-Bug, A-UI, size/XS

#17036 Add broken and unpowered icon states for announcement computer
  icons/obj/computer.dmi
Labels: C-Bug, C-Sprites, size/XS

#17046 puffers to the people (monkeys)
  icons/mob/monkey/overcoats.dmi
Labels: C-Sprites, size/XS

#16992 Arc-Electroplating-Support-For-Borgs
  code/obj/machinery/arc_electroplater.dm
Labels: size/M, A-Materials, S-Ready-For-Final-Review

#17051 Adds the hamster wheel random room
  assets/maps/random_rooms/5x3/hamsterwheel.dmm
Labels: A-Mapping, size/L

#17031 Electric Chair Fixes
  code/obj/item/assembly/shock_kit.dm
  code/obj/item/device/radio.dm
Labels: C-Bug, size/XS, A-Game-Objects

#16977 Fix a bug with the bug report form
  code/datums/ircbot.dm
Labels: C-Bug, size/M, A-Internal

#17050 Fixes glass recycler telekinesis
  code/obj/machinery/glass_recycler.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17054 Fix leading space in job names of mhelps
  code/modules/admin/adminhelp.dm
Labels: C-Bug, A-UI, size/XS

#17067 Fix typo in HoP console
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/IDComputer.js
Labels: C-Bug, A-UI, size/XS

#17065 kill proc/out
  code/WorkInProgress/PlanetCrashEvent.dm
  code/WorkInProgress/WiresStuff.dm
  code/client.dm
  code/datums/actions/actions.dm
  code/datums/antag_weighting.dm
  code/datums/browserOutput.dm
  code/datums/hud/critter.dm
  code/datums/hud/ghostdrone.dm
  code/datums/hud/human.dm
  code/datums/hud/zone_sel.dm
  code/datums/ircbot.dm
  code/datums/jsErrorHandler.dm
  code/datums/participation_recorder.dm
  code/datums/tooltip.dm
  code/mapSwitching.dm
  code/mob/living/carbon/human.dm
  code/mob/living/critter.dm
  code/mob/living/intangible/blob_overmind.dm
  code/mob/living/silicon/ghostdrone.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
  code/obj/blob.dm
  code/obj/item/magtractor.dm
  code/obj/machinery/drone_factory.dm
  code/obj/machinery/drone_recharger.dm
  code/obj/machinery/shipalert.dm
  code/obj/screen.dm
  code/procs/resourceManagement.dm
Labels: C-Code-Quality, size/L, A-Internal

#17058 Electropack TGUI
  browserassets/tgui/tgui.bundle.js
  code/obj/item/device/radio.dm
  tgui/packages/tgui/interfaces/Radio/index.tsx
  tgui/packages/tgui/interfaces/Radio/type.ts
Labels: C-QoL, A-UI, size/L

#17034 Fix photos showing up in inventory
  code/obj/item/cameras.dm
Labels: C-Bug, size/S

#17049 Slight Build.dm formatting tweaks
  _std/__build.dm
Labels: size/M, A-Internal

#17088 Add turkey cooking recipe
  code/datums/cookingrecipes.dm
  code/mob/living/critter.dm
  code/mob/living/critter/changeling_critters.dm
  code/mob/living/critter/small_animal.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_meals.dmi
Labels: C-Feature, C-Sprites, size/L, A-Catering

#17076 Disable "give random game tip" task on Lunar Museum tour bot
  code/z_adventurezones/luna.dm
Labels: C-Removal, size/XS, A-Silicons

#17075 Fix Museum of Lunar History Tour Guide Breaking
  code/z_adventurezones/luna.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17094 Fix Gnome Chompski Crew Objective Never Succeeding
  code/datums/crew_objective.dm
Labels: C-Bug, size/XS, A-Station-Systems

#16941 Adds a preference for scrollwheel limb targeting
  _std/plane.dm
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/datums/hud/zone_sel.dm
  code/datums/preferences.dm
  code/datums/savefile.dm
  tgui/packages/tgui/interfaces/CharacterPreferences/GameSettingsTab.tsx
  tgui/packages/tgui/interfaces/CharacterPreferences/type.ts
Labels: C-QoL, A-UI, size/L, A-Player-Actions

#17107 Fix Eldritch gimmick implant effect timing
  code/obj/item/implant.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17040 Fixes camera viewer grammar
  code/modules/camera/monitor.dm
Labels: size/S

#17117 Stacks can now zebra
  browserassets/tgui/tgui-panel.bundle.css
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/components/Stack.tsx
  tgui/packages/tgui/stories/Stack.stories.js
  tgui/packages/tgui/styles/components/Stack.scss
  tgui/packages/tgui/styles/theme-modes/base-light.scss
Labels: C-Feature, C-QoL, A-UI, size/M

#17124 Fixes resonators being fixable with closed panel
  code/modules/siphon/siphon_machinery.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17137 Fixes a typo in implant message
  code/obj/item/implant.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17154 Cleanup Reagents-Base.dm
  code/modules/chemistry/Reagents-Base.dm
Labels: size/XXL, A-Chemistry, A-Internal

#17146 Add random Spacemas cards to the mail system over the holidays.
  code/WorkInProgress/zamu_mail.dm
  code/modules/holiday/spacemas.dm
  icons/obj/items/items.dmi
Labels: C-Sprites, size/S

#17176 Fixes Nicotini capitalisation
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: C-Bug, size/XS, A-Chemistry, A-Catering

#17158 Fix bartenders skillfully spilling their drinks everywhere.
  code/modules/chemistry/tools/food_and_drink.dm
Labels: C-Bug, size/XS, A-Player-Actions, A-Catering

#16370 Give Flockminds a Tile Requirement and a Relay Progress HUD Icon
  _std/macros/flock.dm
  code/datums/flock/flock.dm
  code/datums/hud/flockdrone.dm
  code/datums/hud/flockmind.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
  code/mob/living/critter/flockcritter_parent.dm
  code/mob/living/intangible/flock/flockmind.dm
  code/mob/living/intangible/flock/flocktrace.dm
  code/mob/living/intangible/flockmob_parent.dm
  code/modules/antagonists/flockmind/abilities/_flockmind_ability_holder.dm
  code/obj/flock/structure/relay.dm
  goonstation.dme
  icons/mob/flock_ui.dmi
Labels: C-Sprites, C-Balance, E-Add-To-Wiki, size/L, A-Gamemodes

#17171 Spacemas tree 2023: fish edition 🐟
  code/modules/holiday/spacemas.dm
  icons/effects/160x160.dmi
Labels: C-Sprites, size/XS
