Repository goonstation/goonstation, pull requests merged in 2023-06, with the labels that each got.

#14309 Sound Synthesizer - Control Unit Text Alignment
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Bug, size/S, A-Game-Objects

#14319 Misc Clarion Medbay polish
  maps/clarion.dmm
Labels: A-Mapping, C-QoL, size/L

#14238 Martian fixes and updates
  assets/maps/prefabs/prefab_water_martian_glomp.dmm
  code/modules/admin/buildmodes/adventure/adventure_turf.dm
  code/obj/martian.dm
  code/turf/turf_autoalign.dm
  code/z_adventurezones/debris.dm
  icons/turf/martian.dmi
  maps/oshan.dmm
  maps/z2.dmm
  maps/z3_water.dmm
  maps/z5.dmm
Labels: C-Bug, A-Mapping, C-Sprites, size/XXL

#14342 Fix mimics getting a FIXME icon when they get dizzy
  code/mob/living/critter.dm
Labels: size/XS

#14337 Fix storage removal not updating tooltip
  code/modules/storage/storage.dm
Labels: C-Bug, P-Minor, size/XS, A-Game-Objects

#14328 Unsimulated wooden wall fix
  code/turf/turf_autoalign.dm
Labels: C-Bug, size/S, A-Game-Objects

#14335 Update Wingrille spawner sprites
  code/obj/window.dm
  icons/obj/window.dmi
Labels: A-Mapping, C-Sprites, size/S, A-Internal

#14346 Adds missing plating tile in Clarion maints
  maps/clarion.dmm
Labels: C-Bug, A-Mapping

#14339 Add storage datums to tables with desk drawers
  code/WorkInProgress/AzrunStuff.dm
  code/WorkInProgress/aloe_stuff_public.dm
  code/WorkInProgress/tarmStuff.dm
  code/modules/food_and_drink/cakes.dm
  code/modules/storage/storage.dm
  code/obj/item/storage/small_storage_parent.dm
  code/obj/table.dm
Labels: C-Bug, C-Code-Quality, C-Rework, size/L, A-Game-Objects

#13931 Generally cleans up the FEA_ files and adds dmdoc.
  _std/macros/atmos.dm
  code/modules/atmospherics/FEA_airgroup.dm
  code/modules/atmospherics/FEA_atom_movable.dm
  code/modules/atmospherics/FEA_fire.dm
  code/modules/atmospherics/FEA_gas_mixture.dm
  code/modules/atmospherics/FEA_group_helpers.dm
  code/modules/atmospherics/FEA_system.dm
  code/modules/atmospherics/FEA_turf_tile.dm
  code/modules/atmospherics/machinery.dm
Labels: C-Code-Quality, size/XXL, A-Atmospherics, A-Internal

#14370 Mimic dir
  code/mob/living/critter/mimic.dm
Labels: size/XS

#13541 Cogmap 1 engine adjustments
  maps/cogmap.dmm
Labels: A-Mapping, C-QoL, size/XXL

#14373 Fix apc text assuming I'm a borg
  code/obj/submachine/robotics.dm
Labels: C-Bug, size/XS, A-Game-Objects, A-Silicons

#14350 Fixes critter throws not animating and doing inertia in the wrong direction
  code/mob/living/critter.dm
Labels: C-Bug, size/S, A-Player-Actions

#14290 TGUI Bioeffect Manager
  browserassets/tgui/tgui.bundle.js
  code/modules/admin/admin.dm
  code/modules/admin/admin_holder.dm
  code/modules/admin/bioeffectmanager.dm
  code/modules/medical/genetics/baseBioeffect.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  goonstation.dme
  tgui/packages/tgui/interfaces/BioEffectManager.js
Labels: A-Mapping, C-Code-Quality, A-UI, size/XL, A-Admin

#14372 Stop vending machines from eating money
  code/modules/vending/vending.dm
Labels: C-Bug, size/XS

#14353 Fixes character creation menu interrupting when toggling changeling
  code/datums/preferences.dm
Labels: C-Bug, P-Minor, A-UI, size/XS

#14376 Fixes Clarion Medbay freezing OR
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/S

#14363 Updates and fixes for the mining outpost
  maps/z5.dmm
Labels: A-Mapping, C-Code-Quality, size/L

#14348 Various atlas fixes
  maps/atlas.dmm
Labels: A-Mapping, C-Code-Quality, size/XXL

#14392 Fix lollipop bowl description
  code/obj/item/kitchen.dm
Labels: size/XS

#14371 Modernizes Clown/Cluwn spider sprites
  icons/misc/critter.dmi
Labels: C-Sprites, size/XS, A-Critters

#14405 apply materials to deployed frames if they dont have one
  code/modules/mechanics/MechanicMadness.dm
  code/obj/item/tool/electronics.dm
Labels: C-Feature, size/S, A-Game-Objects

#14423 Fishing fixes
  code/modules/fishing/fish.dm
  code/modules/fishing/fishing_gear.dm
  code/modules/fishing/fishing_spots.dm
  code/obj/submachine/weapon_vendor.dm
  maps/cogmap.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/pamgoc.dmm
  maps/wrestlemap.dmm
Labels: C-Bug, P-Minor, A-Mapping, size/M

#14414 Implement sort_limit on /proc/get_one_match
  code/modules/admin/admin.dm
Labels: size/M, A-Admin

#14360 Wingrille spawner colour update
  code/obj/window.dm
Labels: A-Mapping, C-QoL, size/XS, A-Internal

#14361 Add locked table random room
  assets/maps/random_rooms/5x3/lockedtable_75.dmm
  code/obj/item/book.dm
  code/obj/item/keys.dm
  code/obj/table.dm
Labels: C-Feature, A-Mapping, size/M

#14349 adds a one second ladder climbing animation
  code/z_adventurezones/lavamoon.dm
  icons/obj/kitchen_grinder_mask.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#14410 Add command version of the coffee maker
  code/modules/chemistry/tools/food_and_drink.dm
  code/obj/machinery/espresso.dm
  icons/mob/inhand/hand_food.dmi
  icons/obj/foodNdrink/espresso.dmi
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: C-Feature, A-Mapping, C-Sprites, size/L, A-Game-Objects

#14327 funny admin interact procs for ladders
  code/datums/components/extradimensional_storage.dm
  code/z_adventurezones/lavamoon.dm
  icons/misc/worlds.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#14352 Mobifies Sharks
  code/mob/living/critter/aquatic.dm
  code/modules/events/white_hole.dm
  code/obj/critter/big_animals.dm
  maps/oshan.dmm
Labels: A-Mapping, C-Balance, C-Rework, size/L, A-Critters

#14322 Lighting Overlay Fixes And Organisation
  code/_lighting/RobustLight2.dm
  code/turf/turf_autoalign.dm
  icons/effects/light_overlay.dmi
  icons/effects/lighting_overlays/floors.dmi
  icons/effects/lighting_overlays/walls_jen.dmi
  icons/effects/lighting_overlays/walls_supernorn.dmi
Labels: C-Bug, C-Sprites, C-Code-Quality, size/M, A-Internal

#14393 Fix Variable clear turfs not being variable in some planet generation
  code/WorkInProgress/artemis/GeneratePlanets.dm
  code/modules/worldgen/GenerateMining.dm
Labels: C-Bug, A-Mapping, size/S, A-Events

#14313 Adds a new Z5 prefab: The Mauxite Hideout
  assets/maps/prefabs/prefab_mauxite_hideout.dmm
  code/area.dm
  code/modules/worldgen/prefab/mining.dm
  code/obj/item/building_materials.dm
  code/obj/mining.dm
  code/obj/storage/closets.dm
  code/obj/table.dm
  code/turf/turf_autoalign.dm
Labels: C-Feature, A-Mapping, size/XL

#14277 Adds a few reagents to ??? pills, injector artifacts and chem bomb artifacts
  code/obj/artifacts/artifact_objects/bombs.dm
  code/obj/artifacts/artifact_objects/injector.dm
  strings/chemistry_tools.txt
Labels: C-Feature, size/S, A-Science

#14207 Mobifies Townguards
  code/datums/limb.dm
  code/mob/living/critter/adventure.dm
  code/modules/admin/buildmodes/adventure/adventure_critter.dm
  code/obj/critter/misc.dm
  code/obj/item/sponge_capsule.dm
  icons/mob/critter_ui.dmi
Labels: C-Sprites, C-Balance, C-Rework, size/L, A-Critters

#14436 Prevents wholetuna cordata fish to be able to be turned in the aquatic research upload terminal
  code/modules/fishing/fish.dm
  code/modules/fishing/fishing_gear.dm
Labels: C-Bug, A-Catering

#14412 Unify light switches into switched object system
  _std/defines/switch.dm
  code/obj/machinery/lightswitch.dm
Labels: C-Bug, size/M, A-Internal

#14321 Resprites Nigiri rolls, Onigiri, Sticky rice and rice balls; Adds fish fillet slices and changes nigiri roll cooking recipe
  code/datums/cookingrecipes.dm
  code/mob/living/critter/aquatic.dm
  code/modules/economy/supply_packs.dm
  code/modules/fishing/fish.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/item/kitchen.dm
  icons/obj/foodNdrink/food_ingredient.dmi
  icons/obj/foodNdrink/food_sushi.dmi
  maps/oshan.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
Labels: C-Feature, A-Mapping, C-Sprites, size/M, A-Game-Objects, A-Catering

#14123 Auto lattices
  .github/MAP_GUIDELINES.md
  code/obj.dm
  code/obj/lattice.dm
  goonstation.dme
Labels: C-Feature, A-Mapping, A-Tooling, C-QoL, size/L, A-Internal, C-Documentation

#14437 Fixes bears going invisble when having arms cut off
  code/mob/living/critter/bear.dm
  icons/misc/critter.dmi
Labels: C-Bug, C-Sprites, A-Critters

#14413 Nadir jun23 fixbatch
  maps/nadir.dmm
Labels: C-Feature, A-Mapping, size/L

#14345 MechComp storage interaction fixes
  code/WorkInProgress/recycling/disposal_chute.dm
  code/mob/living/carbon/human/npc.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/storage/storage.dm
Labels: C-Bug, size/S, A-Game-Objects

#14401 Glass Recycler QoL update
  code/obj/machinery/glass_recycler.dm
Labels: C-QoL, size/XS, A-Game-Objects

#14442 Fixes Rancher Belt Fishing Rods
  code/obj/item/storage/backpack_belt_etc.dm
Labels: C-Bug, size/XS, A-Game-Objects

#14448 Fix coral walls not looking like coral
  code/turf/turf_autoalign.dm
Labels: C-Bug, size/XS, A-Game-Objects

#14455 Datumises Syndicate Agents
  _std/defines/roles.dm
  code/datums/jobs.dm
  code/modules/antagonists/__generic_antagonist.dm
  code/procs/jobprocs.dm
Labels: C-Code-Quality, size/M, A-Gamemodes, A-Internal

#14435 Reactor meltdowns leave a ruined reactor behind
  code/obj/nuclearreactor/destroyed_reactor.dm
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/turbine.dm
  goonstation.dme
  icons/misc/nuclearreactor.dmi
  icons/obj/large/96x160.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#13192 Give wrestlers a randomised outfit
  _std/types.dm
  code/modules/antagonists/macho_man/abilities/_macho_man_mob.dm
  code/modules/antagonists/wrestler/wrestler.dm
  code/obj/item/clothing/masks.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/storage/closets.dm
  icons/mob/clothing/jumpsuits/worn_js_gimmick.dmi
  icons/obj/clothing/uniforms/item_js_gimmick.dmi
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/pamgoc.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/destiny.dmm
  maps/unused/horizon.dmm
  maps/unused/ozymandias.dmm
  maps/unused/samedi.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
Labels: C-Feature, A-Mapping, C-Sprites, C-Balance, size/L, A-Events

#14464 More fishing spots
  code/modules/economy/supply_packs.dm
  code/modules/fishing/fishing_gear.dm
  code/modules/fishing/fishing_spots.dm
  code/obj/submachine/weapon_vendor.dm
Labels: size/L

#14466 implement strip_prefix
  _std/text.dm
Labels: size/S, A-Internal

#14397 Add sugar cubes and respective packaging
  code/modules/food_and_drink/candy.dm
  code/obj/item/kitchen.dm
  icons/obj/foodNdrink/food_candy.dmi
  icons/obj/foodNdrink/food_related.dmi
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: C-Feature, A-Mapping, C-Sprites, C-QoL, size/XL, A-Game-Objects

#14404 Alters path for Donut3 Morgue Chute from Med Booth
  maps/donut3.dmm
Labels: A-Mapping, size/L

#14245 An implementation of pet carriers.
  code/modules/economy/supply_packs.dm
  code/obj/item/pet_carrier.dm
  code/obj/storage/secure_closets.dm
  goonstation.dme
  icons/mob/inhand/hand_general.dmi
  icons/obj/items/pet_carrier.dmi
Labels: C-Feature, C-Sprites, size/L, A-Game-Objects

#14354 Default mutantrace
  code/datums/abilities/lizard.dm
  code/datums/components/barber.dm
  code/datums/disease.dm
  code/datums/mutantraces.dm
  code/datums/preferences.dm
  code/datums/traits.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/gimmick.dm
  code/mob/living/carbon/human/monkeys.dm
  code/mob/living/carbon/human/procs/damage.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/life/Life.dm
  code/mob/living/life/decomposition.dm
  code/mob/living/seanceghost.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/hivebot.dm
  code/mob/living/silicon/hivebot/mainframe.dm
  code/mob/living/silicon/robot.dm
  code/modules/admin/debug.dm
  code/modules/admin/randomverbs.dm
  code/modules/antagonists/changeling/abilities/transform.dm
  code/modules/antagonists/hunter/hunter.dm
  code/modules/antagonists/werewolf/abilities/_werewolf_ability_holder.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/medical/genetics/bioEffects/mutantrace.dm
  code/modules/medical/genetics/bioHolder.dm
  code/modules/medical/genetics/geneticsMachines.dm
  code/modules/robotics/bot/guardbot.dm
  code/obj/item/implant.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/machinery/clonepod.dm
  code/obj/machinery/secscanner.dm
  code/obj/posters.dm
  code/obj/sealab_objects.dm
  code/procs/gamehelpers.dm
Labels: C-Bug, A-Secret, C-Experimental, size/XL, A-Mutantraces, S-Testmerged

#14479 Gives Portable Aquarium a sprite
  code/modules/fishing/fishing_gear.dm
  icons/mob/inhand/hand_storage.dmi
  icons/obj/items/fishing_gear.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#14482 Fishing fixes
  code/datums/jobs.dm
  code/modules/fishing/fishing_gear.dm
  code/modules/fishing/fishing_spots.dm
  code/obj/submachine/weapon_vendor.dm
Labels: size/S

#14493 Add missing command carafe sprite
  icons/obj/foodNdrink/drinks.dmi
Labels: C-Bug, C-Sprites, size/XS

#14467 Adds An Announcement When De-Activating A Nuclear Charge
  code/modules/networks/computer3/mainframe2/misc_terms.dm
Labels: C-QoL, size/XS, A-Station-Systems

#14474 Deprecates /datum/mind/var/master
  code/datums/gamemodes/spy.dm
  code/datums/mind.dm
  code/mob/living.dm
  code/modules/antagonists/antagonist_helpers.dm
  code/modules/antagonists/vampire/abilities/vampire_bite.dm
  code/modules/antagonists/vampire/thrall.dm
  code/obj/item.dm
  code/obj/item/stun_baton.dm
  code/procs/mob_procs.dm
  code/procs/stat_logging.dm
Labels: C-Code-Quality, size/M, A-Internal

#14496 Remove items from hand when they're put on a cargo tug cart
  code/WorkInProgress/tug.dm
Labels: C-Bug, size/XS

#14438 Adds unbuttoned winter coats variants
  code/obj/item/clothing/suits.dm
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
Labels: C-Sprites, size/S, A-Game-Objects

#14511 Visible reactor neutrons for infrared vision
  code/modules/projectiles/projectile_parent.dm
  code/obj/nuclearreactor/nuclearreactor.dm
Labels: C-Feature, size/S, A-Game-Objects

#14492 TGUI Ability manager
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/admin/abilitymanager.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_holder.dm
  goonstation.dme
  tgui/packages/tgui/interfaces/AbilityManager.js
Labels: C-Code-Quality, A-UI, size/L, A-Admin

#14501 Walls now save their girder material when built
  code/obj/false_wall.dm
  code/obj/structure.dm
  code/turf/walls.dm
Labels: C-Bug, size/L, A-Materials

#14522 Gives Civilian Borgs a Fishing Rod
  code/modules/robotics/robot/module_tool_creator/modules.dm
Labels: C-Feature, size/XS

#14519 No longer load fish into working fishing upload
  code/modules/fishing/fishing_gear.dm
Labels: C-Bug, P-Trivial, size/XS

#14518 Wood tiles can be built more than once at a time
  code/obj/item/building_materials.dm
Labels: C-Bug, P-Trivial, size/XS

#14526 Allow mentor/admin mice to disable pick up requests
  code/mob/living/critter/small_animal.dm
  icons/mob/critter_ui.dmi
Labels: C-Feature, C-Sprites, size/S, A-Player-Actions

#14398 Kills off trace gases
  _std/macros/atmos.dm
  code/datums/critter_mobs/health/suffocation.dm
  code/datums/pipe_network.dm
  code/datums/pipeline.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/modules/admin/diagnostics.dm
  code/modules/admin/randomverbs.dm
  code/modules/atmospherics/FEA_gas_mixture.dm
  code/modules/atmospherics/FEA_turf_tile.dm
  code/modules/atmospherics/machinery/filter.dm
  code/modules/atmospherics/machinery/mixer.dm
  code/modules/atmospherics/machinery/pipe.dm
  code/modules/atmospherics/machinery/retrofilter.dm
  code/modules/atmospherics/machinery/unary/vent_scrubber.dm
  code/modules/atmospherics/portable/canister.dm
  code/modules/atmospherics/portable/scrubber.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/modules/power/reactor_stats.dm
  code/modules/robotics/bot/buttbot.dm
  code/obj/airbridge.dm
  code/obj/artifacts/artifact_machines/gas_radiator.dm
  code/obj/item/misc_junk.dm
  code/obj/item/organs/lung.dm
  code/obj/item/tank.dm
  code/obj/machinery/air_sensor.dm
  code/obj/machinery/alarm.dm
  code/obj/nuclearreactor/nuclearreactor.dm
  code/procs/scanprocs.dm
Labels: C-Rework, size/XL, A-Atmospherics

#14434 Turns off retaliation when turning off aggressiveness from tamed animal
  code/mob/living/critter/mining_critter.dm
  code/mob/living/critter/small_animal.dm
Labels: C-QoL, size/XS, A-AI

#14538 Spin emote now closes the bartender's sawn off
  code/obj/item/gun/kinetic.dm
Labels: C-Feature, size/M, A-Game-Objects

#14547 Resprites Plasmatoid Lungs
  icons/obj/surgery.dmi
Labels: C-Sprites, size/XS, A-Medical

#14545 [+] Add Boar Vessel, 600-500 BC, Etruscan, ceramic (and forgery)
  code/obj/item/misc_junk.dm
  code/procs/jobprocs.dm
  icons/obj/items/items.dmi
Labels: C-Sprites, size/S

#14550 Allows portable aquariums to be emptied out into the fish research terminal
  code/modules/fishing/fishing_gear.dm
Labels: C-Feature, C-QoL, size/M

#14527 New fishing spots
  code/modules/fishing/fish.dm
  code/modules/fishing/fishing_spots.dm
  icons/obj/foodNdrink/food_fish.dmi
Labels: C-Feature, C-Sprites, size/M, A-Hydroponics

#14575 moved titlecards to images subdirectory
  browserassets/images/titlecards/battleroyale_titlecard.png
  browserassets/images/titlecards/disaster_titlecard.gif
  browserassets/images/titlecards/hehe_titlecard.png
  browserassets/images/titlecards/heisenbee_titlecard.png
  browserassets/images/titlecards/main_titlecard.gif
  browserassets/images/titlecards/manta_titlecard.png
  browserassets/images/titlecards/nightshade_titlecard.png
  browserassets/images/titlecards/oshan_titlecard.png
  browserassets/images/titlecards/s_titlecard.png
  code/datums/titlecard.dm
Labels: size/S

#14586 Update Centcom Viewer to allow searching by key
  browserassets/tgui/tgui.bundle.js
  code/modules/admin/centcomviewer.dm
  tgui/packages/tgui/interfaces/CentComViewer.js
Labels: A-UI, size/S, A-Admin

#14570 Adds a window Next To the Sec Hangar On Oshan
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/XS

#14549 Organizes organs into several DMIs
  code/WorkInProgress/SpyGuyStuff.dm
  code/datums/abilities/generic.dm
  code/mob/living/intangible/brainmob.dm
  code/modules/admin/antagifiers.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/organs/brain.dm
  code/obj/item/organs/butt.dm
  code/obj/item/organs/eye.dm
  code/obj/item/organs/heart.dm
  code/obj/item/organs/kidney.dm
  code/obj/item/organs/liver.dm
  code/obj/item/organs/lung.dm
  code/obj/item/organs/misc_unused.dm
  code/obj/item/organs/organ_parent.dm
  code/obj/item/organs/skull.dm
  code/obj/item/organs/tail.dm
  code/obj/item/organs/torso.dm
  code/obj/machinery/photocopier.dm
  icons/obj/items/organs/appendix.dmi
  icons/obj/items/organs/brain.dmi
  icons/obj/items/organs/butt.dmi
  icons/obj/items/organs/chest.dmi
  icons/obj/items/organs/eye.dmi
  icons/obj/items/organs/heart.dmi
  icons/obj/items/organs/intestines.dmi
  icons/obj/items/organs/kidney.dmi
  icons/obj/items/organs/liver.dmi
  icons/obj/items/organs/lung.dmi
  icons/obj/items/organs/pancreas.dmi
  icons/obj/items/organs/skull.dmi
  icons/obj/items/organs/spleen.dmi
  icons/obj/items/organs/stomach.dmi
  icons/obj/items/organs/tail.dmi
  icons/obj/surgery.dmi
Labels: C-Sprites, C-QoL, size/M, A-Medical, A-Internal

#14584 Cleans up pipe_network.dm and pipeline.dm
  code/datums/pipe_network.dm
  code/datums/pipeline.dm
  code/modules/atmospherics/pipe_network.dm
  code/modules/atmospherics/pipeline.dm
  goonstation.dme
Labels: C-Code-Quality, size/XL, A-Atmospherics, A-Internal

#14416 Completely resprites the Buttcrab
  icons/misc/critter.dmi
Labels: C-Sprites, size/XS, A-Critters

#14607 atmos path thing
  assets/maps/random_rooms/3x3/junkstorage_air.dmm
  assets/maps/random_rooms/3x5/junkstorage_air.dmm
  assets/maps/random_rooms/5x3/junkstorage_air.dmm
  code/modules/atmospherics/machinery/valve.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/chiron.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/construction_shuttle.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/crash_gimmick_2.dmm
  maps/unused/density.dmm
  maps/unused/destiny.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/oldmap.dmm
  maps/unused/ozymandias.dmm
  maps/unused/samedi.dmm
  maps/unused/setpieces/silo.dmm
  maps/unused/trunkmap.dmm
  maps/wrestlemap.dmm
  maps/z3.dmm
  maps/z3_water.dmm
Labels: A-Mapping, size/XXL

#14604 Fix over-inserting control rods
  code/obj/nuclearreactor/reactorcontrol.dm
Labels: C-Bug, size/XS

#14618 Adds 12 more fish
  code/modules/fishing/fish.dm
  code/modules/fishing/fishing_spots.dm
  code/obj/submachine/weapon_vendor.dm
  icons/obj/foodNdrink/food_fish.dmi
  icons/obj/foodNdrink/food_fish_48x32.dmi
Labels: C-Feature, C-Sprites, size/L, A-Game-Objects, A-Hydroponics

#14603 Adds a "It has been X shifts since the last nuclear meltdown" sign
  code/obj/nuclearreactor/misc.dm
  code/obj/nuclearreactor/nuclearreactor.dm
  goonstation.dme
  icons/obj/decals/countdown_sign.dmi
  maps/clarion.dmm
  maps/nadir.dmm
Labels: C-Feature, A-Mapping, C-Sprites, S-Merge-Conflict, size/M, A-Game-Objects

#14645 A few small fishing quality of life improvements.
  code/modules/fishing/fish.dm
  code/modules/fishing/fishing_gear.dm
  code/obj/submachine/weapon_vendor.dm
Labels: P-Minor, C-QoL, size/S

#14449 More prefab fixes
  assets/maps/prefabs/prefab_customs_shuttle.dmm
  assets/maps/prefabs/prefab_drug_den.dmm
  assets/maps/prefabs/prefab_janitor.dmm
  assets/maps/prefabs/prefab_planet_angry_birds.dmm
  assets/maps/prefabs/prefab_ranch.dmm
  assets/maps/prefabs/prefab_safehouse.dmm
  assets/maps/prefabs/prefab_water_crashed.dmm
  assets/maps/prefabs/prefab_water_miraclium_survey.dmm
  assets/maps/prefabs/prefab_water_nadirelevator.dmm
Labels: A-Mapping, C-Code-Quality, size/XL

#14655 Fix passive gates in cog 1 engine
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/XS

#14649 ckey() ban ckey inputs, don't prompt admins for autofill when ckey isn't included
  code/modules/admin/bans.dm
Labels: C-Code-Quality, size/S, A-Admin

#14651 donut3 bar and cafe area changes
  maps/donut3.dmm
Labels: A-Mapping, size/L

#14659 Adds angler equipment to most maps
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, size/XL, A-Hydroponics

#14662 Fix /turf/unsimulated/floor using the plating sprite and associated floors
  code/turf/turf.dm
  maps/z2.dmm
Labels: C-Bug, A-Mapping, size/XXL

#14310 Resprites Reagent Heater/Cooler
  code/modules/chemistry/Chemistry-Machinery.dm
  icons/obj/chemical.dmi
  icons/obj/heater.dmi
  icons/obj/heater_chem.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/manta.dmm
  maps/unused/ozymandias.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
Labels: A-Mapping, C-Sprites, size/L, A-Game-Objects

#14612 Adds a clipboard to detective lockers
  code/obj/storage/secure_closets.dm
Labels: C-QoL, size/XS, A-Game-Objects

#14572 Adds A Catering Beacon to Cog2
  maps/cogmap2.dmm
Labels: A-Mapping, C-QoL, size/S

#14573 Standardizes Donut3 Hangar Beacon Names
  maps/donut3.dmm
Labels: A-Mapping, C-QoL, size/S

#14629 fix stinger type grenades not working properly with mousetraps and probably containers
  code/obj/item/grenades.dm
Labels: C-Bug, size/S

#14634 vending now tries to put the cash directly into your hand
  code/modules/vending/vending.dm
Labels: size/XS

#14673 Moves Clarion Chemistry Request Console in QM so it no longer blocks a mulebot beacon
  maps/clarion.dmm
Labels: A-Mapping, size/S

#14667 Salvager use secure frequency
  code/modules/antagonists/salvager/salvager.dm
Labels: A-Secret, C-Balance, C-Experimental, size/S, A-Gamemodes

#14574 Add escape pods to Donut2
  code/map.dm
  maps/donut2.dmm
Labels: C-Feature, A-Mapping, C-QoL, size/XXL

#14458 mechcomp text manipulation component
  code/modules/mechanics/MechanicMadness.dm
  code/modules/vending/vending.dm
  icons/misc/mechanicsExpansion.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/M, A-Game-Objects, A-Station-Systems

#14687 Line of sight for arcgen sparks
  code/obj/artifacts/artifact_objects/power_gen.dm
Labels: C-Bug, P-Trivial, size/XS

#14450 Fix catwalk creation making supports on turfs that aren't /turf/space
  code/obj/lattice.dm
  code/turf/floors_airless.dm
  code/turf/turf.dm
Labels: C-Bug, size/M, A-Game-Objects

#14568 Adds Ranged AIHolder
  code/mob/living/critter.dm
  code/mob/living/critter/ai.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
  code/mob/living/critter/ai/generic_aiholders.dm
  code/mob/living/critter/ai/generic_critter.dm
  code/mob/living/critter/ai/shared.dm
  code/mob/living/critter/ai/spider.dm
Labels: C-Feature, size/L, A-AI

#14355 Adds a perspective map editor walls define to _build.dm
  _std/__build.dm
  _std/setup.dm
  code/modules/transport/shuttle/shuttle_turfobjs.dm
  code/obj/mining.dm
  code/obj/window.dm
  code/turf/turf_autoalign.dm
  icons/turf/walls_asteroid.dmi
  icons/turf/walls_beehive.dmi
  icons/turf/walls_derelict.dmi
  icons/turf/walls_jen.dmi
  icons/turf/walls_manta.dmi
  icons/turf/walls_marsoutpost.dmi
  icons/turf/walls_shuttle-debris.dmi
  icons/turf/walls_shuttle.dmi
  icons/turf/walls_supernorn_smooth.dmi
Labels: A-Mapping, C-Sprites, E-Input-Wanted, size/L, S-Controversial

#14666 Add AI Intercom [144.7] Access in AI Shells
  _std/defines/radio.dm
  browserassets/css/browserOutput.css
  code/obj/item/device/radios/headsets.dm
Labels: C-QoL, size/XS, A-Silicons

#14307 Mobifies Zombies
  _std/macros/antagchecks.dm
  assets/maps/prefabs/prefab_beesanctuary.dmm
  assets/maps/prefabs/prefab_shuttle.dmm
  assets/maps/prefabs/prefab_water_beesanctuary.dmm
  assets/maps/prefabs/prefab_water_strangeprison.dmm
  assets/maps/prefabs/prefab_water_zoo.dmm
  code/WorkInProgress/pali/pali.dm
  code/WorkInProgress/simroom.dm
  code/datums/abilities/ability_parent.dm
  code/datums/abilities/critter.dm
  code/datums/abilities/critter/zombify.dm
  code/datums/abilities/cruiser.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/datums/limb.dm
  code/datums/mutantraces.dm
  code/mob/living/critter.dm
  code/mob/living/critter/sawfly.dm
  code/mob/living/critter/skeleton.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/critter/zombie.dm
  code/modules/admin/buildmodes/adventure/adventure_critter.dm
  code/modules/antagonists/zombie/abilities/_zombie_ability_holder.dm
  code/modules/antagonists/zombie/abilities/infect.dm
  code/modules/events/gimmick/halloween.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/obj/critter/zombie.dm
  code/obj/item/organ_holder.dm
  code/obj/mob_spawn.dm
  code/procs/fireflash.dm
  code/z_adventurezones/meatland.dm
  goonstation.dme
  maps/cogwip/ships.dmm
  maps/unused/setpieces/SHARED_biodomeExpanded.dmm
  maps/z2.dmm
  maps/z3.dmm
Labels: A-Mapping, C-Balance, C-Rework, size/XXL, A-Critters

#14701 Fix airless tiles on Donut2
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/XS

#14708 make teleport component beams unaffected by teleport components color…
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Bug, size/XS, A-Game-Objects

#14696 Resprites Fire Alarms
  icons/obj/monitors.dmi
Labels: C-Sprites, size/XS

#14665 adds a kitchen dispenser to cogmap1
  maps/cogmap.dmm
Labels: A-Mapping, size/S, A-Catering

#14641 Mobifies some of the last small animals
  assets/maps/prefabs/prefab_ksol.dmm
  assets/maps/prefabs/prefab_water_nadirelevator.dmm
  assets/maps/prefabs/prefab_water_seamonkey.dmm
  assets/maps/prefabs/prefab_water_strangeprison.dmm
  assets/maps/prefabs/prefab_water_watertreatment.dmm
  code/WorkInProgress/artemis/GeneratePlanets.dm
  code/WorkInProgress/construction/event_controller.dm
  code/datums/abilities/critter/ocean.dm
  code/datums/gamemodes/disaster.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/datums/limb.dm
  code/mob.dm
  code/mob/living.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/critter/small_animal.dm
  code/modules/admin/buildmodes/adventure/adventure_critter.dm
  code/modules/admin/terrainify.dm
  code/modules/antagonists/wizard/abilities/animal.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/economy/commodity.dm
  code/modules/economy/persistent_bank_purchases.dm
  code/modules/fishing/fishing_spots.dm
  code/modules/fluids/fluid_turf.dm
  code/modules/holiday/spacemas.dm
  code/modules/mining/mining_encounters.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/modules/worldgen/mapgen/IceMoonGenerator.dm
  code/modules/worldgen/mapgen/biomes/VoidGenerator.dm
  code/modules/worldgen/mapgen/biomes/_biome.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/decal/cleanable.dm
  code/obj/item/sponge_capsule.dm
  code/obj/mob_spawn.dm
  code/obj/random_spawners.dm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/chiron.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/destiny.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/ozymandias.dmm
  maps/unused/samedi.dmm
  maps/unused/setpieces/gokart_full.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
  maps/z3.dmm
  tools/UpdatePaths/Scripts/14641_small_animals_repaths.txt
Labels: A-Mapping, C-Balance, C-Rework, size/XXL, A-Critters

#14670 Deprecates /datum/admins/proc/evilize()
  code/modules/admin/admin.dm
  code/modules/admin/antagifiers.dm
  code/procs/antagonist_procs.dm
Labels: C-Code-Quality, size/L, A-Internal

#14676 Runtime checks on random rooms
  .github/workflows/automaton.yml
  _std/mapDefines.dm
  code/modules/unit_tests/_map_correctness.dm
  code/modules/worldgen/RandomRoomRuntimeChecker.dm
  code/world.dm
  goonstation.dme
  maps/config/map.dm
Labels: A-Mapping, A-Tooling, size/M

#14497 Reworks /proc/get_all_antagonists()
  code/datums/gamemodes/gm_parent.dm
  code/datums/objective.dm
  code/modules/admin/toggles.dm
  code/modules/antagonists/__antagonist.dm
  code/modules/antagonists/antagonist_helpers.dm
  code/procs/helpers.dm
  code/procs/stat_logging.dm
Labels: C-Code-Quality, size/L, A-Internal

#14723 Removes chat spam from Sec Scanners upon passing by them.
  code/obj/machinery/secscanner.dm
Labels: C-Removal, size/XS, A-Game-Objects

#14729 Adds five additional fish
  code/modules/fishing/fish.dm
  code/modules/fishing/fishing_spots.dm
  code/modules/power/furnace.dm
  icons/obj/foodNdrink/food_fish.dmi
  icons/obj/foodNdrink/food_fish_48x32.dmi
Labels: C-Sprites, size/M

#14623 Make seeds carry their dominan/recessive stat to the planted plant
  code/obj/machinery/plantpot.dm
Labels: C-Bug, size/XS, A-Hydroponics

#14745 Fixes #14663 ticket layering
  code/obj/item/space_cash.dm
Labels: size/XS

#14685 Makes space GPS be able to fit into mechcomp cabinets
  code/modules/mechanics/MechanicMadness.dm
  code/obj/item/device/gps.dm
Labels: C-Feature, size/S, A-Game-Objects

#14737 delete jquery-ui trash
  browserassets/css/jquery-ui/jquery-ui.min.css
  browserassets/css/jquery-ui/jquery-ui.structure.min.css
  browserassets/css/jquery-ui/jquery-ui.theme-default.min.css
  browserassets/css/jquery-ui/jquery-ui.theme.min.css
  browserassets/html/materialRecombobulator.html
  browserassets/images/jquery-ui/ui-bg_diagonals-thick_18_b81900_40x40.png
  browserassets/images/jquery-ui/ui-bg_diagonals-thick_20_666666_40x40.png
  browserassets/images/jquery-ui/ui-bg_flat_0_aaaaaa_40x100.png
  browserassets/images/jquery-ui/ui-bg_flat_10_000000_40x100.png
  browserassets/images/jquery-ui/ui-bg_flat_55_fbec88_40x100.png
  browserassets/images/jquery-ui/ui-bg_glass_100_f6f6f6_1x400.png
  browserassets/images/jquery-ui/ui-bg_glass_100_fdf5ce_1x400.png
  browserassets/images/jquery-ui/ui-bg_glass_65_ffffff_1x400.png
  browserassets/images/jquery-ui/ui-bg_glass_75_d0e5f5_1x400.png
  browserassets/images/jquery-ui/ui-bg_glass_85_dfeffc_1x400.png
  browserassets/images/jquery-ui/ui-bg_glass_95_fef1ec_1x400.png
  browserassets/images/jquery-ui/ui-bg_gloss-wave_35_f6a828_500x100.png
  browserassets/images/jquery-ui/ui-bg_gloss-wave_55_5c9ccc_500x100.png
  browserassets/images/jquery-ui/ui-bg_highlight-soft_100_eeeeee_1x100.png
  browserassets/images/jquery-ui/ui-bg_highlight-soft_75_ffe45c_1x100.png
  browserassets/images/jquery-ui/ui-bg_inset-hard_100_f5f8f9_1x100.png
  browserassets/images/jquery-ui/ui-bg_inset-hard_100_fcfdfd_1x100.png
  browserassets/images/jquery-ui/ui-icons_217bc0_256x240.png
  browserassets/images/jquery-ui/ui-icons_222222_256x240.png
  browserassets/images/jquery-ui/ui-icons_228ef1_256x240.png
  browserassets/images/jquery-ui/ui-icons_2e83ff_256x240.png
  browserassets/images/jquery-ui/ui-icons_469bdd_256x240.png
  browserassets/images/jquery-ui/ui-icons_6da8d5_256x240.png
  browserassets/images/jquery-ui/ui-icons_cd0a0a_256x240.png
  browserassets/images/jquery-ui/ui-icons_d8e7f3_256x240.png
  browserassets/images/jquery-ui/ui-icons_ef8c08_256x240.png
  browserassets/images/jquery-ui/ui-icons_f9bd01_256x240.png
  browserassets/images/jquery-ui/ui-icons_ffd27a_256x240.png
  browserassets/images/jquery-ui/ui-icons_ffffff_256x240.png
  browserassets/js/jquery-ui.min.js
Labels: C-Code-Quality, C-Removal, A-UI, size/L, A-Internal

#14756 Add melted cap icons to reactor
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/reactorcomponents.dm
  icons/misc/reactorcomponents.dmi
Labels: C-Sprites, size/S, A-Game-Objects

#14684 oshan medical tweaks
  maps/oshan.dmm
Labels: A-Mapping, E-Input-Wanted, C-QoL, size/M

#14639 Remove Werewolves Scooby Doo Speech
  code/datums/mutantraces.dm
Labels: C-QoL, size/XS, A-Mutantraces, S-Controversial
