Repository goonstation/goonstation, pull requests merged in 2023-08, with the labels that each got.

#15179 Add fishing equipment to maps which don't have it.
  maps/atlas.dmm
  maps/clarion.dmm
  maps/donut2.dmm
  maps/z2.dmm
Labels: A-Mapping, C-QoL, size/XL

#15116 Refactors pipe.dm
  code/modules/atmospherics/machinery/pipe.dm
  code/modules/atmospherics/machinery/unary/pressure_tank.dm
  code/modules/atmospherics/machinery/unary/vent.dm
  code/obj/decal.dm
  goonstation.dme
  icons/obj/atmospherics/pipes/pipe.dmi
  icons/obj/atmospherics/pipes/regular_pipe.dmi
Labels: C-Sprites, C-Code-Quality, size/XXL, A-Atmospherics, A-Internal

#15114 Small wraith fixes
  code/mob/living/intangible/wraith.dm
  code/modules/antagonists/wraith/abilties/harbinger/create_summon_portal.dm
  code/modules/antagonists/wraith/abilties/harbinger/summon.dm
  code/modules/antagonists/wraith/abilties/plaguebringer/curses.dm
  code/modules/antagonists/wraith/abilties/plaguebringer/make_plague_rat.dm
  code/modules/antagonists/wraith/abilties/trickster/make_poltergeist.dm
  code/modules/antagonists/wraith/harbinger_summon.dm
  code/modules/antagonists/wraith/plague_rat.dm
  code/modules/antagonists/wraith/poltergeist.dm
Labels: C-Bug, size/M, A-Gamemodes

#15194 Fix Plasmastone & Molitz not working after one use
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
Labels: C-Bug, P-Major, size/S, A-Materials

#15092 Artemis Prototype
  _std/__std.dme
  _std/defines/artemis.dm
  _std/defines/landmarks.dm
  _std/defines/sight.dm
  _std/setup.dm
  browserassets/tgui/tgui.bundle.js
  code/WorkInProgress/artemis/GeneratePlanets.dm
  code/WorkInProgress/artemis/artemis.dm
  code/WorkInProgress/artemis/artemis_movement_controller.dm
  code/WorkInProgress/artemis/background_ship.dm
  code/WorkInProgress/artemis/background_stars.dm
  code/WorkInProgress/artemis/debug.dm
  code/WorkInProgress/artemis/flight_computer.dm
  code/WorkInProgress/artemis/flight_computer_hud.dm
  code/WorkInProgress/artemis/galactic_object.dm
  code/WorkInProgress/artemis/galactic_object/galactic_objects.dm
  code/WorkInProgress/artemis/galactic_object/navigation_satellite.dm
  code/WorkInProgress/artemis/planetary_teleporter.dm
  code/area.dm
  code/datums/gamemodes/artemis_freeroam.dm
  code/datums/manufacturing.dm
  code/modules/mining/mining_encounters.dm
  code/modules/telescience/telescope/telescopeDialogues.dm
  code/modules/telescience/telescope/telescopeEvents.dm
  code/modules/telescience/telescope/telescopeMisc.dm
  code/modules/worldgen/GenerateMining.dm
  code/modules/worldgen/mapgen/_MapGenerator.dm
  code/modules/worldgen/mapgen/biomes/_biome.dm
  code/modules/worldgen/prefab/mining/planet.dm
  code/obj/machinery/manufacturer.dm
  code/obj/mining.dm
  code/turf/turf.dm
  code/world.dm
  goonstation.dme
  icons/misc/artemis/96x96.dmi
  icons/misc/artemis/galactic_object_map.dmi
  icons/misc/artemis/galactic_object_ship.dmi
  icons/misc/artemis/manta_hud-elements.dmi
  maps/artemis/arjuna.dmm
  maps/artemis/artemis.dmm
  maps/artemis/manta.dmm
  maps/artemis/planets.dmm
  maps/config/map.dm
  tgui/packages/tgui/interfaces/LongRangeTeleporter.js
Labels: size/XXL

#15096 A Better Observer Menu
  browserassets/tgui/tgui.bundle.js
  code/datums/abilities/ghost_observer.dm
  code/datums/character_preview.dm
  code/datums/observe_menu.dm
  code/mob/dead/observer.dm
  code/mob/living.dm
  code/mob/living/critter/mimic.dm
  code/obj/mapping/mob_spawn.dm
  goonstation.dme
  tgui/packages/tgui/interfaces/ObserverMenu.tsx
Labels: S-Merge-Conflict, A-UI, size/L

#15197 Improves iomoon lava tile and fire gib
  code/mob.dm
  code/procs/helpers.dm
  code/z_adventurezones/biodome.dm
Labels: C-Bug, C-Code-Quality, C-Runtime, size/M, A-Game-Objects

#15201 Refactors /proc/checkantag()
  code/datums/mind.dm
  code/mob/new_player.dm
  code/mob/transform_procs.dm
  code/modules/admin/admin.dm
  code/modules/admin/adminjump.dm
  code/modules/admin/antagifiers.dm
  code/modules/admin/randomverbs.dm
  code/modules/admin/spacebee_extension/command_structure.dm
  code/modules/admin/spacebee_extension/commands.dm
  code/modules/antagonists/hunter/hunter.dm
  code/modules/events/sleeperagent.dm
  code/procs/gamehelpers.dm
  code/procs/helpers.dm
  code/procs/jobprocs.dm
  code/procs/logging.dm
  code/world.dm
Labels: C-Code-Quality, size/M, A-Internal

#15100 Fix Doubled Turfs in in rotation maps and Z files
  code/turf/floors_airless.dm
  maps/clarion.dmm
  maps/cogmap2.dmm
  maps/kondaru.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
  maps/z3.dmm
  maps/z3_water.dmm
  maps/z5.dmm
Labels: A-Mapping, C-Code-Quality, S-Merge-Conflict, size/XXL

#15212 HIGHLY optimises camera setup
  code/global.dm
  code/mob/living/intangible/ai-camera.dm
  code/modules/camera_coverage/datum/component/camera_coverage_emitter.dm
  code/modules/camera_coverage/datum/controller/camera_coverage.dm
Labels: C-Performance, size/M, A-Internal

#15169 A couple of new unarmed combat moves
  code/obj/item/grab.dm
  code/obj/storage/closets.dm
  code/obj/storage/secure_closets.dm
  code/obj/window.dm
Labels: C-Feature, C-Balance, E-Add-To-Wiki, size/M, A-Player-Actions

#15178 Adds pronouns to human examine text
  code/mob/living/carbon/human/procs/get_desc.dm
Labels: C-QoL, size/XS, A-Player-Actions

#15182 Fix medal frames always returning standard glass sheets
  code/obj/decal/poster.dm
Labels: C-QoL, size/XS, A-Internal

#15224 Kubius's Equipment Loader Prototype
  code/WorkInProgress/artemis/galactic_object/navigation_satellite.dm
  icons/obj/large/96x32.dmi
Labels: C-Sprites, size/S, A-Game-Objects

#14757 Adds better surgery slip-up indicators
  code/modules/medical/surgery_procs.dm
  code/obj/decal.dm
  icons/effects/96x32.dmi
  icons/effects/effects.dmi
Labels: C-Feature, C-Sprites, C-QoL, size/L, A-Medical, S-Ready-For-Final-Review

#14766 TGUI ID Computer
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/computer/card.dm
  tgui/packages/tgui/interfaces/IDComputer.js
  tgui/packages/tgui/styles/interfaces/IDComputer.scss
  tgui/packages/tgui/styles/main.scss
Labels: C-Feature, C-Rework, A-UI, size/XL

#14825 Adds The HoP's Pet, Orwell, To More Maps
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
Labels: C-Feature, A-Mapping, size/XL, A-Critters

#15171 Monkey Clothing Finale
  icons/mob/monkey/head.dmi
  icons/mob/monkey/jumpsuits.dmi
  icons/mob/monkey/overcoats.dmi
  icons/mob/monkey/tail.dmi
Labels: C-Sprites, size/XS, A-Clothing

#15238 Fixes antag critter spiders losing their maintenance access upon evolving
  code/mob/living/critter/spider.dm
Labels: C-Bug, size/XS, A-Critters

#15014 No dumping reagents in sink from closed containers
  code/obj/submachine/cooking.dm
Labels: C-Balance, size/XS, A-Game-Objects, A-Catering, S-Controversial

#14881 Reworks Interdictor Mob Protection
  code/mob.dm
  code/mob/living/life/Life.dm
  code/mob/living/life/disability.dm
  code/modules/status_system/statusEffects.dm
  code/obj/machinery/interdictor.dm
  code/obj/portal.dm
Labels: C-Balance, E-Input-Wanted, size/M, A-Status-Effects

#15242 Miscellaneous Parallax Fixes
  code/modules/parallax/foreground_parallax_occlusion_overlay.dm
  code/modules/parallax/parallax_controller.dm
Labels: C-Bug, size/S, A-Internal

#15208 Tanning beds burn vampires alive
  code/obj/machinery/traymachines.dm
Labels: C-Feature, size/M, A-Player-Actions, A-Game-Objects

#15188 Resprites Robuddies
  code/mob/living/silicon/robot.dm
  code/modules/economy/shady_robot.dm
  code/modules/economy/trader.dm
  code/modules/holiday/spacemas.dm
  code/modules/robotics/bot/barbot.dm
  code/modules/robotics/bot/evilbot.dm
  code/modules/robotics/bot/guardbot.dm
  code/z_adventurezones/evilderelict.dm
  code/z_adventurezones/hospital.dm
  code/z_adventurezones/space_casino.dm
  code/z_adventurezones/timeship.dm
  icons/misc/evilreaverstation.dmi
  icons/misc/hospital.dmi
  icons/misc/hstation.dmi
  icons/misc/xmas.dmi
  icons/obj/bots/aibots.dmi
  icons/obj/bots/mailbud.dmi
  icons/obj/bots/newbots.dmi
  icons/obj/bots/oldbots.dmi
  icons/obj/bots/robuddy/charger.dmi
  icons/obj/bots/robuddy/hemera-secbuddy-faces.dmi
  icons/obj/bots/robuddy/pr-1.dmi
  icons/obj/bots/robuddy/pr-3.dmi
  icons/obj/bots/robuddy/pr-4.dmi
  icons/obj/bots/robuddy/pr-6.dmi
  icons/obj/bots/robuddy/pr-7.dmi
  icons/obj/bots/robuddy/super-protector-friend.dmi
  icons/obj/bots/xmasbuddy.dmi
  maps/z2.dmm
  maps/z3.dmm
Labels: A-Mapping, C-Sprites, size/L, A-Game-Objects

#15057 Create atom/item specific procs to handle most in-combat material procs and make most of these material procs compatible with atoms
  code/WorkInProgress/MarqStuff.dm
  code/atom.dm
  code/atom/throwing.dm
  code/mob.dm
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/mob/living/life/Life.dm
  code/mob/living/life/bodytemp.dm
  code/mob/living/life/fire.dm
  code/mob/living/silicon/ghostdrone.dm
  code/mob/living/silicon/robot.dm
  code/modules/atmospherics/FEA_fire.dm
  code/modules/atmospherics/portable/canister.dm
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
  code/modules/materials/Mat_ProcsDefines.dm
  code/modules/power/TEG.dm
  code/modules/projectiles/projectile_parent.dm
  code/modules/transport/pods/vehicle.dm
  code/obj.dm
  code/obj/artifacts/artifacts.dm
  code/obj/blob.dm
  code/obj/critter/critter_parent.dm
  code/obj/item.dm
  code/obj/item/clothing.dm
  code/obj/item/grab.dm
  code/obj/item/grenades.dm
  code/obj/lattice.dm
  code/obj/machinery/door/door_parent.dm
  code/obj/machinery/law_racks.dm
  code/obj/machinery/manufacturer.dm
  code/obj/machinery/nuclearbomb.dm
  code/obj/machinery/turret.dm
  code/obj/npc.dm
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/reactorcomponents.dm
  code/obj/structure.dm
  code/obj/table.dm
  code/turf/floors.dm
  code/turf/turf_autoalign.dm
  code/turf/walls.dm
  code/z_adventurezones/debris.dm
Labels: C-Bug, C-Code-Quality, size/L, A-Materials

#15226 Readds Oshan ranch's door access
  maps/oshan.dmm
Labels: A-Mapping, size/XS

#13348 APC Power Delivery Overhaul
  code/WorkInProgress/mantaObjects.dm
  code/WorkInProgress/nadir_antenna.dm
  code/WorkInProgress/recycling/conveyor.dm
  code/datums/powernet_data.dm
  code/modules/power/apc.dm
  code/modules/power/power_parent.dm
  code/modules/power/pt_laser.dm
  code/modules/power/smes.dm
  code/modules/power/sword_engine.dm
  code/obj/item/device/powersink.dm
  code/obj/machinery.dm
  code/obj/machinery/shield_generators/portable_shield_generator.dm
Labels: C-Bug, C-Balance, C-Rework, size/L, A-Station-Systems

#15187 Pull borg pronouns from preferences when latejoining and being constructed
  code/mob/living/silicon/robot.dm
  code/mob/new_player.dm
Labels: C-Bug, size/XS, A-Silicons

#15210 add neutral map to pod wars NSV Reliant
  code/datums/gamemodes/pod_wars.dm
  code/modules/minimap/minimap_object.dm
  maps/pod_wars.dmm
Labels: C-Feature, A-Mapping, size/XXL, S-Testmerged

#15267 Minimaps now track targets within other atoms such as pods
  code/modules/minimap/minimap_marker.dm
Labels: size/S

#15256 Parallax on Generated Planets
  code/WorkInProgress/artemis/GeneratePlanets.dm
  code/modules/events/gimmick/generate_planet.dm
  code/modules/parallax/foreground_parallax_occlusion_overlay.dm
  code/modules/parallax/parallax_controller.dm
  code/modules/parallax/parallax_layer_parent.dm
Labels: C-Feature, size/M, A-Events

#15219 Fixed Disposal outlets not linking on being build and some disposal chute cleanup
  code/WorkInProgress/recycling/disposal.dm
  code/WorkInProgress/recycling/disposal_chute.dm
Labels: C-Bug, size/M, A-Game-Objects

#15240 Latejoining Stowaways, Pilots, and Heavy Sleepers no longer get announced
  code/obj/machinery/computer/announcement.dm
Labels: C-Rework, size/XS, A-Respawning

#15153 Fix bug that makes PDA UI open when you receive a message
  code/obj/item/device/pda2/base_os.dm
Labels: C-Removal, size/S, A-Game-Objects

#15294 Fix not being able to remove access from IDs at ID computer
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/IDComputer.js
Labels: C-Bug, A-UI, size/XS, A-Game-Objects

#15296 remove duped camera on Cogmap1
  maps/cogmap.dmm
Labels: C-Bug, P-Minor, A-Mapping, size/S

#15292 Fix broken D.O.C sprite
  maps/z3.dmm
Labels: C-Bug, A-Mapping, size/XS, A-Game-Objects

#15274 Added 9 new AI status screens and inverted versions of existing ones
  code/mob/living/silicon/ai.dm
  icons/mob/ai.dmi
  icons/obj/status_display.dmi
Labels: C-Feature, C-Sprites, size/L, A-Clothing

#15176 Adds (de)construction help messages to windows
  code/obj/window.dm
Labels: C-QoL, size/S, A-Game-Objects

#15282 Fix atlas toxins gas mixer
  maps/atlas.dmm
Labels: C-Bug, A-Mapping, size/S

#15298 Adds fallout gas to gas artifacts
  code/obj/artifacts/artifact_machines/gas_radiator.dm
Labels: C-Feature, size/XS, A-Game-Objects

#15264 Reduce telescience portal activation energy
  code/modules/networks/computer3/mainframe2/telesci.dm
Labels: C-Balance, size/XS

#15205 Don't store state on material trigger procs
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
  code/modules/materials/Mat_Properties.dm
  code/obj/item/material.dm
Labels: C-Code-Quality, size/L, A-Materials

#15313 Fix menu popup when locking shower stall doors
  code/obj/machinery/door/door_parent.dm
Labels: C-Bug, size/S

#15315 Add veritate mag to syndie ammo bag
  code/obj/item/gun/kinetic.dm
Labels: C-Bug, size/XS, A-Game-Objects

#14800 Standardize coffee recipes
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: E-DNM, C-QoL, size/M, A-Catering

#15310 Add access spawner and firelock to Donut2 CE office
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/XS

#15323 addiction message only plays when addiction reset
  code/modules/chemistry/Chemistry-Reagents.dm
Labels: C-Bug, P-Minor, C-QoL, size/XS

#15312 Mass driver updates for correct distance
  code/modules/unit_tests/_map_correctness.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, size/XL

#15304 Adds basic critter humans
  code/datums/critter_mobs/hands.dm
  code/mob/living/carbon/human/normal.dm
  code/mob/living/critter.dm
  code/mob/living/critter/humanoid/brullbar.dm
  code/mob/living/critter/humanoid/human.dm
  code/mob/living/critter/humanoid/skeleton.dm
  code/mob/living/critter/humanoid/zombie.dm
  code/obj/mapping/_helper_parent.dm
  code/obj/mapping/mob_spawn.dm
  goonstation.dme
Labels: C-Feature, size/L, A-Critters

#15319 Fixes people tied to constructed conveyor belts moving in wrong directions
  code/WorkInProgress/recycling/conveyor.dm
Labels: C-Bug, size/XS, A-Game-Objects

#14740 3x3 random room: Cluwne Hole
  assets/maps/random_rooms/3x3/cluwne_hole_75.dmm
Labels: A-Mapping, size/M

#15328 Refactor stat / make macro use consistent
  _std/defines/mob.dm
  _std/macros/mob_status.dm
  code/datums/gamemodes/gangwar.dm
  code/datums/objective.dm
  code/mob.dm
  code/mob/dead.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/npc.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/critter.dm
  code/mob/living/critter/hastur.dm
  code/mob/living/critter/mechmonstrosity.dm
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/life/bodytemp.dm
  code/mob/living/life/stuns_lying.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ghostdrone.dm
  code/mob/living/silicon/robot.dm
  code/mob/new_player.dm
  code/mob/zoldorfmob.dm
  code/modules/admin/player_options.dm
  code/modules/antagonists/werewolf/abilities/_werewolf_ability_holder.dm
  code/modules/antagonists/werewolf/abilities/werewolf_feast.dm
  code/modules/antagonists/werewolf/abilities/werewolf_spread_affliction.dm
  code/modules/antagonists/werewolf/abilities/werewolf_throw.dm
  code/modules/antagonists/werewolf/abilities/werewolf_transform.dm
  code/modules/events/minor/appendicitis_event.dm
  code/modules/medical/blood_system.dm
  code/modules/medical/genetics/bioEffects/harmful.dm
  code/modules/transport/pods/vehicle.dm
  code/obj/flock/structure/gnesisturret.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/deployable_turret.dm
  code/obj/item/device/scanners.dm
  code/obj/machinery/computer/security.dm
  code/obj/zoldorf.dm
Labels: C-Code-Quality, size/L, A-Internal

#15227 BRINGS THE GREAT DEVTEST
  _std/__build.dm
  code/area.dm
  maps/config/devtest.dm
  maps/config/gottagofast.dm
  maps/config/map.dm
  maps/devtest.dmm
Labels: A-Mapping, C-QoL, size/XXL, A-Internal

#15356 Small fixes for critter humans
  code/mob/living/critter/humanoid/human.dm
Labels: C-Code-Quality, size/XS, A-Internal

#15343 Cleans out some files from critter.dmi
  assets/maps/prefabs/space/prefab_beesanctuary.dmm
  assets/maps/prefabs/underwater/nadir_safe/prefab_water_beesanctuary.dmm
  code/mob/living/critter/martian.dm
  code/obj/item/table_rack_parts.dm
  code/obj/stool.dm
  icons/misc/critter.dmi
  icons/mob/critter/unused.dmi
  icons/obj/furniture/chairs.dmi
  icons/obj/martian.dmi
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/destiny.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/manta.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/ozymandias.dmm
  maps/unused/trunkmap.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
Labels: A-Mapping, C-Sprites, size/L

#15350 Fixes small DevTest bugs
  code/map.dm
  maps/devtest.dmm
Labels: C-Bug, A-Mapping, size/M

#15097 Fix #15093, also displays alloy names before combining materials in the nanocrucible.
  code/modules/materials/Mat_Processing.dm
  code/modules/materials/Mat_ProcsDefines.dm
Labels: S-Stale, size/S

#15342 Add wall busting shrapnel to the nuclear meltdown
  code/modules/projectiles/bullet.dm
  code/obj/item/implant.dm
  code/obj/nuclearreactor/nuclearreactor.dm
Labels: C-Balance, size/M, A-Game-Objects

#15352 Prefabs for Terrainify
  browserassets/tgui/tgui.bundle.js
  code/modules/admin/terrainify.dm
  code/modules/worldgen/prefab/mining/planet.dm
  tgui/packages/tgui/interfaces/Terrainify.js
Labels: A-UI, size/M

#15067 Adds Welding Fuel cans to Chemlab secure lockers
  code/obj/storage/secure_closets.dm
  code/obj/table.dm
Labels: C-QoL, size/XS, A-Chemistry

#15161 Adds the hitman jacket to the clothing booth and makes it no longer a labcoat subtype
  code/mob/living/carbon/human/gimmick.dm
  code/modules/vending/clothingbooth_items.dm
  code/obj/item/clothing/suits.dm
  code/obj/storage/wall_cabinet.dm
Labels: C-Balance, size/M, A-Clothing

#15303 Makes banana peels fit in produce satchels
  code/obj/item/satchel.dm
Labels: C-Feature, size/XS, A-Hydroponics

#15320 Increases light borg head hp to 60
  code/obj/item/mob_parts/robot_parts.dm
Labels: C-Balance, size/XS, A-Silicons

#15357 Fix hell lava
  code/z_adventurezones/biodome.dm
Labels: C-Bug, size/S, A-Player-Actions

#15361 unduplicate Materials crate declaration
  code/obj/storage/crates.dm
Labels: C-Code-Quality, size/XS, A-Internal

#15355 Move critter overlays to their own file
  code/mob/living/critter.dm
  icons/misc/critter.dmi
  icons/mob/critter/overlays.dmi
Labels: C-Sprites, size/S, A-Internal

#15263 Allows werewolves to click themselves or other werewolves at no risk of injury
  code/datums/mutantraces.dm
Labels: C-QoL, size/XS, A-Player-Actions, A-Mutantraces

#15136 Removes the syndicate megaphone from surplus crates
  code/datums/syndicate_buylist.dm
Labels: C-Removal, S-Stale, size/XS, A-Game-Objects

#15324 Gives the HoP command teleporter access
  code/procs/access.dm
Labels: C-Bug, size/XS

#15251 Reworks Devera Hygiene Protection Into A Status Effect
  code/datums/sims.dm
  code/mob/living/life/Life.dm
  code/modules/status_system/statusEffects.dm
Labels: C-Rework, size/S, A-Status-Effects, A-Game-Objects

#14922 Fixes mindhackers unable to extract their own implant from themselves
  code/modules/medical/surgery_procs.dm
Labels: C-Rework, size/XS, A-Player-Actions, S-Controversial

#15185 Adds a couple missing texture sprites to clothing files.
  icons/mob/clothing/back.dmi
  icons/mob/clothing/bighat.dmi
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/jumpsuits/worn_js.dmi
  icons/mob/clothing/jumpsuits/worn_js_athletic.dmi
  icons/mob/clothing/jumpsuits/worn_js_gimmick.dmi
  icons/mob/clothing/jumpsuits/worn_js_misc.dmi
  icons/mob/clothing/jumpsuits/worn_js_pride.dmi
  icons/mob/clothing/jumpsuits/worn_js_rank.dmi
  icons/mob/clothing/jumpsuits/worn_js_reward.dmi
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/mob/clothing/overcoats/worn_suit_armor.dmi
  icons/mob/clothing/overcoats/worn_suit_cardboard.dmi
Labels: C-Sprites, size/XS, A-Clothing

#15203 add mister to Atlas and the afterlife bar garden
  maps/atlas.dmm
  maps/z2.dmm
Labels: A-Mapping, C-QoL, size/S

#15192 Adds cinnamon, both as plant and associated chem
  code/WorkInProgress/Particles.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/food_and_drink/plants.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/hydroponics/plants_veg.dm
  icons/obj/foodNdrink/food_produce.dmi
  icons/obj/hydroponics/plants_veg.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/L, A-Hydroponics

#15366 move chem extractor OUT of seed.dm
  code/obj/submachine/chem_extractor.dm
  code/obj/submachine/seed.dm
  goonstation.dme
Labels: C-Code-Quality, size/L, A-Game-Objects, A-Chemistry

#15341 fixes half-broken vendor mechcomp html stripping
  code/modules/vending/vending.dm
Labels: C-Bug, size/XS, A-Game-Objects

#15368 Fix Teleporter access on atlas
  maps/atlas.dmm
Labels: A-Mapping, size/XS

#15375 Revert 45c0cd722f63e2032d63ed420d52a60e91373bec
  code/mob/living/silicon.dm
Labels: C-Bug, P-Critical, size/XS

#15152 TGUI Cryo Pod
  browserassets/tgui/tgui.bundle.js
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
  tgui/packages/tgui/interfaces/CryoCell.js
  tgui/packages/tgui/interfaces/OperatingComputer/index.tsx
  tgui/packages/tgui/interfaces/OperatingComputer/type.ts
  tgui/packages/tgui/interfaces/common/HealthStat.js
  tgui/packages/tgui/interfaces/common/KeyHealthIndicators/index.tsx
  tgui/packages/tgui/interfaces/common/KeyHealthIndicators/type.ts
  tgui/packages/tgui/interfaces/common/MobStatus.js
Labels: C-Feature, S-Merge-Conflict, C-Rework, A-UI, size/XL

#15376 Unduplicate map guideline
  .github/MAP_GUIDELINES.md
Labels: C-Bug, A-Tooling, size/XS, C-Documentation

#15388 Make photos respect pronouns
  code/obj/item/cameras.dm
Labels: C-Bug, size/XS, A-Game-Objects

#15385 Refactor code for changeling reagent stings
  code/modules/antagonists/changeling/abilities/stings.dm
Labels: C-Code-Quality, size/L, A-Player-Actions

#14910 Adds Mapo Tofu
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_meals.dmi
Labels: C-Sprites, size/M, A-Game-Objects, A-Catering

#15402 Use orange mop icon overhead while mopping
  code/datums/controllers/action_controls.dm
Labels: C-Bug, size/XS, A-Game-Objects

#15411 Hacked sec techs contain 2-4 donuts.
  code/modules/vending/vending.dm
Labels: size/XS, A-Game-Objects

#15410 Move mapping helpers to a mapping module
  code/modules/mapping/_helper_parent.dm
  code/modules/mapping/helpers/access_spawn.dm
  code/modules/mapping/helpers/airlock_helpers.dm
  code/modules/mapping/helpers/firedoor_spawn.dm
  code/modules/mapping/helpers/mob_spawn.dm
  code/modules/mapping/helpers/wingrille_spawner.dm
  goonstation.dme
Labels: C-Code-Quality, size/S, A-Internal

#15422 Fix crystal wingrille spawns not being purple in map editor
  code/modules/mapping/helpers/wingrille_spawner.dm
Labels: A-Mapping, size/XS

#15405 Improves reference tracking
  code/datums/controllers/process/delete_queue.dm
Labels: C-Bug, C-QoL, size/M, A-Internal

#15279 add __build.dm info to dev guide
  .github/DEV_GUIDE.md
Labels: A-Tooling, size/M, C-Documentation

#14795 Add flower random spawner & random room showcase
  assets/maps/random_rooms/5x3/flowergarden.dmm
  code/obj/random_spawners.dm
  icons/obj/objects.dmi
Labels: C-Feature, A-Mapping, C-Sprites, size/L

#15433 Fixes helmets that hide hair fucking up hair layering after unequip
  code/mob/living/carbon/human.dm
Labels: C-Bug, size/XS, A-Clothing

#15228 Resprites some magazines and gives the Branwen's magazine a unique sprite.
  code/obj/item/gun/ammo.dm
  icons/obj/items/ammo.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#15395 Add slash wounds
  code/mob/living/carbon/human/procs/damage.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/obj/item.dm
  code/obj/item/hydroponics.dm
  code/obj/item/misc_weapons.dm
  icons/mob/human.dmi
Labels: C-Feature, C-Sprites, C-Balance, size/M, A-Game-Objects

#15403 Adds the palette to the repo + minor file reshuffle
  maps/config/blank.dm
  maps/config/blank_underwater.dm
  maps/config/devtest.dm
  maps/config/gottagofast.dm
  maps/config/unit_tests.dm
  maps/utilities/blank.dmm
  maps/utilities/blank_underwater.dmm
  maps/utilities/devtest.dmm
  maps/utilities/palette.dmm
  maps/utilities/unit_tests.dmm
Labels: A-Mapping, size/XXL, A-Internal

#14773 Lube foam!
  code/datums/effects/system/foam_spread.dm
  code/obj/effects/foam.dm
Labels: C-Feature, S-Stale, size/M, A-Chemistry

#15204 ABCU marker rectangle select, overwrite notice prompts, better usability
  code/WorkInProgress/blueprints.dm
Labels: size/L

#15417 Makes a SICC core if no AI joins at roundstart
  code/datums/gameticker.dm
Labels: E-Input-Wanted, size/XS, A-Silicons

#15381 Make click dragging an item onto a stored HUD equip it
  code/datums/hud.dm
  code/datums/hud/storage.dm
Labels: C-QoL, size/L, A-Game-Objects

#15434 Update constructName to handle /datum/mind
  code/modules/antagonists/salvager/salvager.dm
  code/procs/logging.dm
Labels: C-Feature, C-QoL, size/S, A-Admin

#15426 Make shuttle corners impermeable to gas
  code/modules/transport/shuttle/shuttle_turfobjs.dm
Labels: C-Bug, C-QoL, size/XS, A-Atmospherics

#15447 Fix disposal chutes on ocean maps not emptying their air after flush
  code/WorkInProgress/recycling/disposal_chute.dm
Labels: C-Bug, size/XS, A-Atmospherics, A-Station-Systems

#15462 Split IM_REALLY_IN_A_FUCKING_HURRY_HERE into separate defines
  _std/__build.dm
  _std/setup.dm
  code/modules/atmospherics/FEA_system.dm
  code/modules/camera_coverage/datum/controller/camera_coverage.dm
  code/world/initialization/2_init.dm
Labels: C-QoL, size/M, A-Internal

#15231 Add listening post access to sleepers
  browserassets/html/traitorTips/traitorsleeperTips.html
  code/obj/machinery/door/door_control.dm
  icons/obj/decoration.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/wrestlemap.dmm
Labels: A-Mapping, C-Sprites, size/XXL

#15477 Fixes latejoin AI core spawning when it shouldn't
  code/datums/gameticker.dm
Labels: C-Bug, size/XS

#15335 Add brig shower to Donut3
  maps/donut3.dmm
Labels: A-Mapping, C-QoL, size/S, A-Game-Objects

#15416 Adds 21 new AI core casings and updates existing ones!
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/hivebot.dm
  code/mob/living/silicon/robot.dm
  code/modules/economy/commodity.dm
  code/modules/economy/trader.dm
  code/modules/jobxp/JobXPRewards.dm
  code/modules/medals/rewardsAI.dm
  code/modules/medals/rewardsLocker.dm
  code/obj/flock/trader.dm
  code/obj/item/ai_plating_kit.dm
  code/world/initialization/0_preMapLoad.dm
  goonstation.dme
  icons/mob/ai.dmi
  icons/obj/status_display.dmi
  maps/z2.dmm
Labels: A-Mapping, C-Sprites, size/L

#15488 spawnable light and screenhead borgs
  code/mob/living/silicon/robot.dm
Labels: size/S, A-Silicons

#15500 Increase jitteriness from Janktanks
  code/modules/status_system/statusEffects.dm
Labels: C-Balance, C-QoL, size/XS, A-Gamemodes

#15391 Make guns that fit on your back store to open inventory first
  code/obj/item/gun/gun_parent.dm
Labels: C-QoL, size/S, A-Game-Objects

#15499 Reword the Extended (PDA) Description for Revolutionary Flashbangs
  code/datums/syndicate_buylist.dm
Labels: C-QoL, A-UI, size/XS, A-Game-Objects

#15509 Fix D.O.C. Sprite But Actually This Time
  maps/nadir.dmm
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/XS, A-Game-Objects

#15497 Fix bad card icon in map editor
  code/obj/item/playing_cards.dm
Labels: C-Bug, A-Mapping, size/XS, A-Game-Objects

#15502 Adds help messages to several traitor items
  code/WorkInProgress/SpyGuyStuff.dm
  code/datums/syndicate_buylist.dm
  code/modules/chemistry/tools/grenades.dm
  code/obj/item/card.dm
  code/obj/item/cloning_modules.dm
  code/obj/item/clothing/chameleon_js.dm
  code/obj/item/clothing/gloves.dm
  code/obj/item/clothing/masks.dm
  code/obj/item/device/chameleon.dm
  code/obj/item/device/chemicompiler.dm
  code/obj/item/device/cloak_gen.dm
  code/obj/item/device/fingerprinter.dm
  code/obj/item/device/lightbreaker.dm
  code/obj/item/device/pda2/cartridges.dm
  code/obj/item/device/powersink.dm
  code/obj/item/gun/energy.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/implant.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/tool/omnitool.dm
  code/obj/machinery/portapuke.dm
  code/obj/sawflymisc.dm
  code/obj/vehicle.dm
Labels: C-QoL, size/L, A-Game-Objects

#15475 Bundled all calls for `assoc_reagents` in plants into `proc/HYPget_assoc_reagents`
  code/WorkInProgress/AzrunStuff.dm
  code/mob/living/critter/bee.dm
  code/modules/hydroponics/gene_strains.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_flower.dm
  code/modules/hydroponics/plants_herb.dm
  code/obj/critter/bee.dm
  code/obj/machinery/plantpot.dm
Labels: size/L, A-Hydroponics

#15538 Make the Dispensary interlink accept patch boxes from chemmaster
  code/modules/vending/vending.dm
Labels: C-Bug, size/XS

#15217 Improves dramatic chefbots
  code/modules/robotics/bot/chefbot.dm
  strings/chefbot.txt
Labels: C-Feature, size/L, A-Game-Objects

#15154 Custom pies now call AfterAttack of the items they contain against hit mobs
  code/modules/food_and_drink/pies.dm
Labels: C-Feature, size/S, A-Catering

#15465 Adds option to edit buttons in mechcomp button panel component
  code/modules/mechanics/MechanicMadness.dm
Labels: C-QoL, size/M, A-Game-Objects

#15541 fixes charged erebite cells not being charged
  code/modules/power/cell.dm
Labels: C-Bug, size/XS, A-Game-Objects

#15537 Add Port-A-Brig pry open action bar
  code/obj/machinery/porters.dm
Labels: C-QoL, size/S, A-Player-Actions, A-Game-Objects

#15155 Resprites the JC Denton outfit.
  icons/mob/clothing/jumpsuits/worn_js_gimmick.dmi
Labels: C-Sprites, S-Merge-Conflict, size/XS, A-Clothing

#15545 Gives civilian cyborg module a gardening trowel
  code/modules/robotics/robot/module_tool_creator/modules.dm
Labels: C-Feature, size/XS, A-Silicons, A-Hydroponics

#15493 Adds the ability to repair damaged windows with sheets of the same material
  code/obj/window.dm
Labels: size/S, A-Player-Actions, A-Game-Objects

#15511 directional fire alarm presets
  code/obj/machinery/firealarm.dm
Labels: A-Mapping, C-QoL, size/S, A-Internal

#15531 Adds human procs for updating blood
  code/WorkInProgress/DrMelonsStuff.dm
  code/mob/living/carbon/human/procs/update_blood.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/fluids/fluid_core.dm
  code/obj/decal/cleanable.dm
  code/procs/mob_procs.dm
  goonstation.dme
Labels: C-Bug, C-Code-Quality, size/L, A-Internal

#15555 Fix sneaky material copying bug
  code/modules/materials/Mat_Materials.dm
Labels: C-Bug, size/XS

#15552 Fixes some chefbot lines
  strings/chefbot.txt
Labels: C-Bug, size/XS, A-Game-Objects

#15558 Abstracts under/suit parent. makes some under/suits absolute. add Mortician suit.
  assets/maps/prefabs/space/prefab_safehouse.dmm
  assets/maps/prefabs/underwater/nadir_unsafe/prefab_water_blindpig.dmm
  code/WorkInProgress/SpyGuyStuff.dm
  code/datums/jobs.dm
  code/datums/manufacturing.dm
  code/mob/living/carbon/human/gimmick.dm
  code/mob/living/carbon/human/monkeys.dm
  code/modules/antagonists/wizard/abilities/cluwne.dm
  code/obj/item/clothing/uniforms.dm
  code/procs/basketball.dm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/density.dmm
  maps/unused/destiny.dmm
  maps/unused/fleet.dmm
  maps/unused/manta.dmm
  maps/unused/ozymandias.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
Labels: A-Mapping, C-Code-Quality, size/L, A-Internal

#15535 Add action bar for cauterizing wounds
  code/modules/medical/surgery_procs.dm
Labels: C-QoL, size/S, A-Player-Actions, A-Game-Objects

#15492 Adds the missing clown hologram module to Nadir
  maps/nadir.dmm
Labels: A-Mapping, size/XS

#15557 Change rank under parent to an assistant subtype
  code/datums/jobs.dm
  code/datums/manufacturing.dm
  code/modules/economy/persistent_bank_purchases.dm
  code/obj/item/clothing/uniforms.dm
  maps/donut2.dmm
Labels: A-Mapping, C-Code-Quality, size/M, A-Internal

#15506 Add TGUI color picker to character creation
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/datums/preferences.dm
  code/modules/tgui/tgui_color_picker.dm
  goonstation.dme
  tgui/packages/common/color.ts
  tgui/packages/tgui/components/Box.tsx
  tgui/packages/tgui/components/Interactive.tsx
  tgui/packages/tgui/components/Pointer.tsx
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/ColorPickerModal.tsx
  tgui/packages/tgui/styles/interfaces/ColorPicker.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/generic.scss
Labels: C-QoL, C-Rework, A-UI, size/XXL

#15476 Makes botanical mister be able to be emagged
  code/obj/machinery/plantpot.dm
Labels: size/M, A-Hydroponics

#15580 Fix TGUI box color prop and unused theme
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.js
  tgui/packages/common/color.js
  tgui/packages/tgui/components/Box.tsx
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/common/temperatureUtils.js
  tgui/packages/tgui/styles/themes/generic.scss
Labels: C-Bug, C-Revert, A-UI

#15562 Moves the NT commander to crew lounge
  maps/oshan.dmm
Labels: A-Mapping, C-Balance, size/XS

#15578 Donut External Door Fix
  maps/donut3.dmm
Labels: A-Mapping, size/XS

#15565 Replace `displayed=new/thing` with `displayed=/thing` for display case
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/destiny.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/manta.dmm
  maps/unused/oldmap.dmm
  maps/unused/ozymandias.dmm
  maps/unused/trunkmap.dmm
  maps/wrestlemap.dmm
Labels: A-Mapping, C-Code-Quality, size/M, A-Game-Objects

#15549 Donut2 AIsat tweaks
  maps/donut2.dmm
Labels: A-Mapping, size/L

#15585 Fix icon not updating when swapping empty cell into a baton
  code/obj/item/stun_baton.dm
Labels: C-Bug, C-QoL, size/XS, A-Game-Objects

#15587 Fix lingering human ref in head organ
  code/obj/item/organs/organ_parent.dm
Labels: C-Bug, size/XS

#15588 Fix lingering reference to human from inventory datum
  code/datums/inventory.dm
  code/mob/living/carbon/human.dm
Labels: C-Bug, size/XS

#15583 remove "Assless Chaps" from gang jumpsuits
  code/datums/gamemodes/gangwar.dm
Labels: size/XS

#15539 Severly reduces the value of trip laser beams in the singularity
  code/obj/machinery/singularity.dm
Labels: C-Balance, size/XS

#15523 Makes airbridge pressurization uniform across all tiles
  code/obj/airbridge.dm
Labels: C-Bug, size/S, A-Atmospherics

#15572 Re magic the sandals in wizard den
  code/obj/item/clothing/shoes.dm
  maps/cogwip/ships.dmm
  maps/z2.dmm
Labels: C-Bug, A-Mapping, size/S

#15575 Redo and improve Mushroom toxins
  maps/unused/mushroom_new_walls.dmm
Labels: C-Feature, A-Mapping, size/XXL, A-Science
