Repository goonstation/goonstation, pull requests merged in 2023-12, with the labels that each got.

#17183 Use player pronouns in messages related to grabs
  code/obj/item/grab.dm
Labels: C-QoL, A-UI, size/S

#17109 Revise some artifact implant effects
  code/obj/item/implant.dm
Labels: C-Balance, C-Rework, E-Add-To-Wiki, size/L, A-Game-Objects, S-Ready-For-Final-Review

#17189 adds spaces to the ends of 3 mutant plant prefixes
  code/modules/hydroponics/plant_mutations.dm
Labels: C-Bug, size/XS, A-Catering

#17196 Add max_seen argument to JPS
  _std/pathfinding.dm
  code/mob/living/critter/ai.dm
  code/mob/living/critter/ai/flock/flocktasks.dm
  code/mob/living/critter/ai/shared.dm
  code/modules/robotics/bot/bot_parent.dm
  code/modules/robotics/bot/guardbot.dm
Labels: size/S, A-Internal

#17162 Make human equipment slot defines expand to var names
  _std/defines/clothing.dm
Labels: C-QoL, size/M, A-Internal

#17221 adds merryn morse figurine
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: C-Feature, C-Sprites, size/XS, A-Game-Objects

#17220 Adds a postmaster's uniform box to QM closets.
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/storage/clothing.dm
  code/obj/storage/secure_closets.dm
Labels: size/S

#17185 Cleanup and splitting of `plantpot.dm`
  code/modules/hydroponics/hydroponics_misc_procs.dm
  code/obj/machinery/hydroponic_machines.dm
  code/obj/machinery/plantpot.dm
  goonstation.dme
Labels: C-Code-Quality, size/XXL, A-Internal, A-Hydroponics

#17197 Fix chat messages duplicating when observing someone
  code/mob/living.dm
Labels: C-Bug, A-UI, size/XS

#17225 Cleanup of burn_possible
  code/WorkInProgress/HaineWhatever.dm
  code/WorkInProgress/infernal_contracts.dm
  code/datums/components/foldable.dm
  code/datums/controllers/sea_hotspot_controls.dm
  code/modules/admin/gimmick/wizard_rings.dm
  code/modules/robotics/bot/buttbot.dm
  code/modules/writing/paper.dm
  code/modules/writing/pens_writing_etc.dm
  code/obj/critter/automaton.dm
  code/obj/item.dm
  code/obj/item/book.dm
  code/obj/item/cameras.dm
  code/obj/item/canvas.dm
  code/obj/item/cigarette.dm
  code/obj/item/clothing/gloves.dm
  code/obj/item/clothing/masks.dm
  code/obj/item/clothing/shoes.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/device/chameleon.dm
  code/obj/item/device/lights.dm
  code/obj/item/device/radio.dm
  code/obj/item/grenades.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/keys.dm
  code/obj/item/material.dm
  code/obj/item/misc_junk.dm
  code/obj/item/plants.dm
  code/obj/item/playing_cards.dm
  code/obj/item/space_cash.dm
  code/obj/item/storage/small_storage_parent.dm
  code/obj/item/zoldorfmisc.dm
  code/obj/machinery/computer/card.dm
  code/obj/posters.dm
Labels: C-Code-Quality, size/L, A-Internal

#17231 Fix Dermal Glitter not going away
  code/modules/medical/genetics/bioEffects/useless.dm
Labels: C-Bug, size/XS, A-Medical

#17092 Makes the progression of blood-loss more granular
  code/mob/living/life/blood.dm
Labels: C-Balance, size/S, A-Medical

#17228 Fix plasmaglass shard/plant pot interaction (again!)
  code/obj/machinery/plantpot.dm
Labels: C-Bug, size/S, A-Catering

#17215 Remove cyborg antagonist roles on death
  code/datums/mind.dm
  code/mob/living/silicon/robot.dm
  code/modules/antagonists/__antagonist.dm
  code/modules/antagonists/syndicate_cyborg/emagged_cyborg.dm
  code/modules/antagonists/syndicate_cyborg/syndicate_cyborg.dm
Labels: C-Bug, size/S, A-Silicons

#17187 Fix detective PDA missing when not a smoker
  code/datums/jobs.dm
Labels: C-Bug, size/XS, A-Respawning

#17247 Standardise `return_air()`, ditch `hasvar("air_contents")`
  code/modules/atmospherics/FEA_turf_tile.dm
  code/modules/atmospherics/machinery/unary/unary_base.dm
  code/modules/atmospherics/portable/portable_atmospherics.dm
  code/modules/disposals/disposal_chute.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/mechanics/MechanicMadness.dm
  code/obj/item/assembly/single_tank_bomb.dm
  code/obj/item/flamethrower.dm
  code/obj/machinery/floorflusher.dm
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/reactorcomponents.dm
  code/obj/nuclearreactor/turbine.dm
  code/procs/scanprocs.dm
Labels: C-Code-Quality, size/M, A-Atmospherics, A-Internal

#16316 Swing sign
  browserassets/tgui/tgui.bundle.js
  code/obj/item/building_materials.dm
  code/obj/item/swingsign.dm
  code/obj/storage/secure_closets.dm
  goonstation.dme
  icons/obj/furniture/swingsign.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  tgui/packages/tgui/interfaces/SwingSign.js
  tgui/packages/tgui/interfaces/SwingSignTIM.tsx
Labels: A-Mapping, C-Sprites, S-Merge-Conflict, A-UI, size/XXL, A-Game-Objects

#17147 Replace ailment cure strings with bitflags
  _std/__std.dme
  _std/defines/ailments.dm
  code/WorkInProgress/Hydrothings.dm
  code/datums/disease.dm
  code/modules/antagonists/wraith/diseases/rat_plague.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/interface/multiContext/context_actions.dm
  code/modules/medical/disabilities/badvision.dm
  code/modules/medical/disabilities/blind.dm
  code/modules/medical/disabilities/clumsy.dm
  code/modules/medical/disabilities/cough.dm
  code/modules/medical/disabilities/deaf.dm
  code/modules/medical/diseases/addiction.dm
  code/modules/medical/diseases/avian_flu.dm
  code/modules/medical/diseases/berserker.dm
  code/modules/medical/diseases/clowning_around.dm
  code/modules/medical/diseases/cluwneing_around.dm
  code/modules/medical/diseases/cold.dm
  code/modules/medical/diseases/corrupt_robotic_transformation.dm
  code/modules/medical/diseases/dna_spread.dm
  code/modules/medical/diseases/fake_gbs.dm
  code/modules/medical/diseases/flu.dm
  code/modules/medical/diseases/food_poisoning.dm
  code/modules/medical/diseases/frog_flu.dm
  code/modules/medical/diseases/gbs.dm
  code/modules/medical/diseases/going_catty.dm
  code/modules/medical/diseases/headspider.dm
  code/modules/medical/diseases/heart_removal.dm
  code/modules/medical/diseases/high_fever.dm
  code/modules/medical/diseases/infection.dm
  code/modules/medical/diseases/kuru.dm
  code/modules/medical/diseases/leprosy.dm
  code/modules/medical/diseases/lungrot.dm
  code/modules/medical/diseases/lycanthropy.dm
  code/modules/medical/diseases/malady.dm
  code/modules/medical/diseases/medusa.dm
  code/modules/medical/diseases/monkey_madness.dm
  code/modules/medical/diseases/necrotic_degeneration.dm
  code/modules/medical/diseases/organ_diseases/appendicitis.dm
  code/modules/medical/diseases/organ_diseases/kidney_failure.dm
  code/modules/medical/diseases/organ_diseases/liver_failure.dm
  code/modules/medical/diseases/organ_diseases/pancreatitis.dm
  code/modules/medical/diseases/organ_diseases/respiratory_failure.dm
  code/modules/medical/diseases/panacaea.dm
  code/modules/medical/diseases/plasmatoid.dm
  code/modules/medical/diseases/robotic_transformation.dm
  code/modules/medical/diseases/space_madness.dm
  code/modules/medical/diseases/space_plague.dm
  code/modules/medical/diseases/teleportitis.dm
  code/modules/medical/diseases/tissue_necrosis.dm
  code/modules/medical/diseases/vamplague.dm
  code/modules/medical/surgery_tools.dm
  code/obj/item/organ_holder.dm
  code/obj/item/organs/heart.dm
  code/obj/item/storage/toolbox.dm
Labels: C-Code-Quality, size/L, A-Internal

#17253 add reagnents "paper" and "rubber" as assoc_reagents to their respective tree mutations
  code/modules/hydroponics/plant_mutations.dm
Labels: size/XS

#17222 foam and stinger grenade fix targetx
  code/obj/item/grenades.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17252 Re-implements invisible catwalk lube fix.
  code/turf/floors.dm
Labels: size/XS

#17274 Removes one "through" from satchel text
  code/obj/item/satchel.dm
Labels: C-Bug, P-Trivial, size/XS, A-Game-Objects

#17277 resprites indoor snow tiles and snowballs
  icons/misc/xmas.dmi
  icons/turf/floors.dmi
Labels: C-Sprites, size/XS

#17256 Maybe fix needs-reproducing staling?
  .github/workflows/stale.yml
Labels: A-Tooling, size/XS

#17279 Resprites a few random festive and non-festive objects
  icons/misc/xmas.dmi
  icons/obj/foodNdrink/food_discountdans.dmi
  icons/obj/writing.dmi
Labels: C-Sprites, size/XS

#17280 Adds unique QM mailchute sprites
  icons/obj/disposal.dmi
Labels: C-Sprites, A-Game-Objects, A-Station-Systems

#17258 skeletons don't drop wigs on death
  code/mob/living/carbon/human.dm
Labels: C-Bug, size/XS

#17266 portable reclaimer no longer clears leftovers
  code/obj/item/material.dm
Labels: C-QoL, size/S, A-Materials, A-Game-Objects

#17259 Make Maneater able to fling borgs across the room
  code/datums/limb.dm
Labels: C-Bug, C-Balance, size/M, A-Silicons, A-Hydroponics

#16862 Fix some items not being addable to artifact bags of holding
  code/modules/storage/items/bag_of_holding.dm
  code/obj/artifacts/artifact_items/handheld_storage.dm
  code/obj/artifacts/artifactprocs.dm
Labels: C-Bug, S-Stale, size/M, A-Player-Actions, A-Game-Objects

#17292 Makes airlock garland unclickable
  code/modules/holiday/spacemas.dm
Labels: C-QoL, size/XS, A-Game-Objects

#17290 SOUND_SKIP_OBSERVERS flag for mentorhelps
  code/client.dm
  code/world/topic.dm
Labels: C-QoL, size/XS, A-Admin

#17296 Fix disposal pipe expel() proc resetting tile info
  code/modules/disposals/disposal.dm
Labels: C-Bug, size/S, A-Game-Objects

#17271 Add MechComp integration to the TEG blowers
  code/modules/power/TEG.dm
Labels: C-Feature, size/S, A-Station-Systems, S-Ready-For-Final-Review

#17302 Lil qm chute sprite fixes.
  icons/obj/disposal.dmi
Labels: C-Sprites, size/XS

#17282 Adds unique QM mailchutes to maps
  code/modules/disposals/disposal_chute.dm
  code/modules/disposals/mail_chute.dm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: C-Feature, A-Mapping, size/M

#17287 Make pdas have a force of 3 and emergency oxygen tanks a force of 5
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/tank.dm
Labels: C-Balance, size/XS, A-Game-Objects, S-Ready-For-Final-Review

#17285 Make the pressure sensor small
  code/obj/item/device/transfer_valve.dm
Labels: C-Balance, size/XS, A-Game-Objects

#17315 Fix AI shells getting paid borg spacebux wages
  code/datums/gameticker.dm
Labels: C-Bug, size/XS, A-Silicons

#17311 Fix gravity well chat spam
  code/obj/shieldgen.dm
Labels: C-QoL, A-UI, size/XS

#17307 Makes Piña Colada comply with the Law of Conservation of Mass
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: C-Bug, size/XS, A-Chemistry, A-Catering

#16729 Componetize Pitfalls
  _std/defines/component_defines/component_defines_atom.dm
  code/WorkInProgress/ZeWakasStuff.dm
  code/WorkInProgress/mantaObjects.dm
  code/datums/components/pitfall.dm
  code/modules/fluids/fluid_objects.dm
  code/modules/fluids/fluid_turf.dm
  code/turf/floors.dm
  code/z_adventurezones/icemoon.dm
  code/z_adventurezones/luna.dm
  goonstation.dme
Labels: C-Code-Quality, size/XL, A-Status-Effects, A-Game-Objects, A-Internal, A-Vehicles

#17325 More mail sprites
  code/modules/economy/shippingmarket.dm
  code/obj/storage/crates.dm
  icons/obj/disposal.dmi
  icons/obj/large_storage.dmi
Labels: C-Sprites, size/XS

#17326 I didn't forget to change the name and desc, don't question me.
  code/obj/storage/crates.dm
Labels: size/XS

#17327 Fixes #17261 - You can breathe in disposal chutes
  code/modules/disposals/disposal_chute.dm
Labels: C-Bug, size/XS

#17309 Sweat rebalance
  code/modules/food_and_drink/sandwiches.dm
  code/modules/status_system/statusEffects.dm
  code/modules/status_system/statusFoodBuffs.dm
Labels: size/S

#17161 Fix broken HTML decoding in flavor text
  code/datums/preferences.dm
Labels: C-Bug, S-Stale, A-UI, size/XS

#17329 Fix message sign component not displaying text
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17175 Fixes non-glass shard dagger crafting interaction
  code/obj/item/scrapweapons.dm
Labels: C-Bug, S-Stale, size/S, A-Game-Objects

#17333 Fix Grinch medal not being awarded
  code/datums/objective.dm
  code/modules/antagonists/grinch/grinch.dm
Labels: C-Bug, A-Medal, size/XS

#17332 Fix fixme plating outside donut 2 listening post
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/XS

#17331 adds jelly fish figurine
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: C-Feature, C-Sprites, size/XS, A-Game-Objects

#17322 Fix incorrect dialysis message
  code/obj/machinery/dialysis.dm
Labels: C-Bug, A-UI, size/S

#17334 Standardizes toxins chamber airlocks
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
Labels: A-Mapping, size/L

#17339 Fix some fixmes on the debris level
  maps/z3.dmm
Labels: C-Bug, A-Mapping, size/L

#17341 turn off PDA light when deleting
  code/obj/item/device/pda2/modules.dm
Labels: C-Bug, size/XS

#17337 use patch name in generating patch name
  code/modules/chemistry/Chemistry-Machinery.dm
Labels: C-Bug, size/XS, A-Chemistry

#17350 Maintain HUD x/y position for multiple ability holders
  code/datums/abilities/ability_parent.dm
Labels: C-Bug, size/XS, A-Mutantraces

#17347 Metal foam triggers projectile collision before self-disposal
  code/obj/foamedmetal.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17352 Add mail satchel icon
  code/obj/item/satchel.dm
  icons/obj/items/items.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#17351 fix runtime of releasing mindless mob as admin
  code/modules/admin/randomverbs.dm
Labels: C-Bug, C-Runtime, size/XS, A-Admin

#17344 Cleans up overlaying atmos objects in engineering
  maps/cogmap2.dmm
Labels: A-Mapping, C-QoL, size/L

#17340 Fix z2 fixme in ainley basement
  icons/obj/decals/wallsigns.dmi
Labels: C-Bug, C-Sprites, size/XS

#17336 chili cheese fries fix
  code/obj/submachine/cooking.dm
Labels: C-Bug, size/XS, A-Catering

#17324 borg tongs plate fix
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/item/kitchen.dm
Labels: C-Bug, C-Feature, size/S, A-Catering

#17248 Adds help messages to Singularity Equipment
  code/obj/machinery/singularity.dm
Labels: size/S

#17320 Allows click-dragging paper into paper scanners
  code/modules/networks/computer3/mainframe2/misc_terms.dm
Labels: C-QoL, size/S, A-Game-Objects

#17349 Eaten bioEfffect shows differently for skeletons
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/medical/genetics/bioEffects/non_genetic.dm
Labels: C-Bug, size/S, A-Mutantraces

#17366 Fix expedition monitors not working
  code/modules/camera/television.dm
  code/obj/item/clothing/helmets.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
Labels: C-Bug, A-Mapping, size/M

#17375 Add sinks to cogmap 1 janitorial rooms
  maps/cogmap.dmm
Labels: A-Mapping, size/XS

#12926 Reworks and adds a few flags (the fabric kind)
  assets/maps/prefabs/space/prefab_lesbeeans.dmm
  code/obj/decal/poster.dm
  code/obj/decal/wall_flags.dm
  code/obj/item/wall_flags.dm
  goonstation.dme
  icons/obj/decals/flag.dmi
  icons/obj/decals/posters.dmi
  icons/obj/items/flag.dmi
  maps/z2.dmm
Labels: C-Feature, A-Mapping, C-Sprites, C-Rework, size/L, A-Game-Objects, S-Ready-For-Final-Review

#17153 Generalise gas/neutron interactions
  _std/macros/atmos.dm
  code/modules/atmospherics/FEA_gas_mixture.dm
  code/modules/projectiles/bullet.dm
  code/obj/nuclearreactor/nuclearreactor.dm
  code/obj/nuclearreactor/reactorcomponents.dm
Labels: C-Feature, C-Balance, E-Add-To-Wiki, size/L, A-Atmospherics, A-Game-Objects

#17386 Correct dining chair assembly instructions
  code/obj/item/table_rack_parts.dm
Labels: C-Bug, P-Trivial, size/XS, A-Game-Objects

#17369 Resprites Carved Pumpkins and Pumpkin Lanterns
  code/modules/food_and_drink/plants.dm
  icons/misc/halloween.dmi
  icons/mob/inhand/hand_headgear.dmi
  icons/mob/inhand/hand_tools.dmi
  icons/obj/clothing/item_hats.dmi
Labels: C-Sprites, size/XS, A-Game-Objects, A-Catering

#17363 Adds 2 spacemas related alcoholic beverages
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: C-Feature, E-Add-To-Wiki, size/M, A-Catering

#17387 Add missing supply pack crate names
  code/modules/economy/supply_packs.dm
Labels: C-QoL, size/XS, A-Game-Objects

#17391 Adds materials to LRT so it can be built.
  code/modules/telescience/telescope/telescopeMisc.dm
Labels: size/XS

#17376 Add more oxy tanks to clarion toxins
  maps/clarion.dmm
Labels: A-Mapping, size/S

#17362 Add air alarms to Atlas
  maps/atlas.dmm
Labels: A-Mapping, size/L, S-Ready-For-Final-Review

#17358 Change artifact bag of holding w_classes a bit
  code/obj/artifacts/artifact_items/handheld_storage.dm
Labels: C-Balance, size/XS, A-Game-Objects, A-Science

#17313 Fix borgs not being able to use surgical tray brake
  code/modules/medical/surgery_tools.dm
Labels: C-Bug, size/S, A-Silicons

#17281 Syndicate Cyborgs always show up as following the same laws to other silicons when examined
  code/mob/living/silicon/robot.dm
Labels: C-Balance, size/XS, A-Silicons

#17159 Move autoequip_slot macro to proc on human
  code/datums/hud/human.dm
  code/mob/living/carbon/human.dm
Labels: C-Code-Quality, S-Stale, size/M, A-Internal

#17244 help message for /obj/machinery/vending
  code/modules/vending/vending.dm
Labels: C-Bug, C-QoL, size/S

#17373 Erebite now has a density of 7
  code/modules/materials/Mat_Materials.dm
Labels: C-Balance, size/XS, A-Materials

#17374 Adds RCD recipes to engineering fab, removes them from mining fab
  code/obj/machinery/manufacturer.dm
Labels: C-Balance, size/XS, A-Game-Objects

#17249 Change the emag text for the PTL and adds a sound
  code/modules/power/pt_laser.dm
Labels: C-Rework, size/S, A-Player-Actions

#17251 Fix silicons not being able to log into computer without ID scanner
  code/modules/networks/computer3/smallprogs.dm
  code/modules/networks/computer3/terminal.dm
Labels: C-Bug, size/M, A-Station-Systems

#17140 Bunsen burner mouse drag interactions
  code/modules/chemistry/Chemistry-Tools.dm
Labels: C-QoL, size/S, A-Silicons, A-Science

#17399 Override `/mob/proc/get_id` on `/mob/living/silicon`.
  code/mob/living/silicon.dm
Labels: C-Bug, size/XS, A-Silicons, A-Internal

#17397 borgs with 0% health parts should break that part
  code/obj/item/mob_parts/robot_parts.dm
Labels: C-Bug, size/XS, A-Silicons

#17372 Makes ice no longer conductive
  code/modules/materials/Mat_Materials.dm
Labels: C-Balance, size/XS, A-Materials, S-Ready-For-Final-Review

#17400 standardize presence of jani and botanist clothing boxes
  code/obj/storage/closets.dm
  maps/atlas.dmm
Labels: C-Feature, A-Mapping, size/S, A-Clothing

#17408 Bilo's office!
  code/z_adventurezones/earth.dm
  maps/z2.dmm
Labels: A-Mapping, size/XXL

#17396 Add a message for graphene hardening compound reinforcing things
  code/modules/chemistry/Reagents-Misc.dm
Labels: C-Feature, size/XS, A-Atmospherics, A-Game-Objects, A-Chemistry

#16288 Cream & Yoghurt additions/reworks
  code/datums/cookingrecipes.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/food_and_drink/cakes.dm
  code/modules/food_and_drink/condiments.dm
  code/modules/food_and_drink/drinks.dm
  code/modules/food_and_drink/ice_cream.dm
  code/modules/food_and_drink/pies.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/submachine/cooking.dm
  strings/books/cookbook.txt
Labels: C-QoL, S-Merge-Conflict, C-Rework, S-Stale, E-Add-To-Wiki, size/L, A-Chemistry, A-Catering, S-Ready-For-Final-Review

#17411 Buff-R-Matic 3000 cleans /obj/decal/cleanable
  code/obj/vehicle.dm
Labels: C-Bug, C-Feature, size/XS, A-Vehicles

#17405 Adds some sweet optimisations, plus some minor ones.
  code/_lighting/RobustLight2.dm
  code/datums/controllers/process/items.dm
  code/datums/controllers/sea_hotspot_controls.dm
  code/modules/camera/coverage/datum/controller/camera_coverage.dm
  code/modules/worldgen/GenerateMining.dm
  code/modules/worldgen/worldgen_parent.dm
  code/obj/mining.dm
  code/turf/turf.dm
Labels: C-Performance, size/M, A-Internal

#17414 Power Pack Sprites
  code/WorkInProgress/AzrunStuff.dm
  code/datums/components/power_cell.dm
  icons/mob/clothing/back.dmi
  icons/obj/items/items.dmi
Labels: C-Sprites, size/S

#17229 Refactor test_disposal_system
  code/WorkInProgress/HaineWhatever.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/debug.dm
  code/modules/disposals/disposal_chute.dm
  code/modules/disposals/disposal_test.dm
  code/modules/disposals/mail_chute.dm
  goonstation.dme
Labels: C-Rework, size/L, A-Admin, A-Station-Systems

#15856 Adds a new salvager weapon: The Makeshift Laser Rifle
  code/datums/components/power_cell.dm
  code/modules/projectiles/laser.dm
  code/obj/item/gun/energy.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhand/hand_guns.dmi
  icons/obj/items/guns/energy64x32.dmi
  icons/obj/projectiles.dmi
Labels: C-Feature, C-Sprites, E-Input-Wanted, S-Merge-Conflict, E-Add-To-Wiki, size/L, A-Game-Objects

#17415 Fix clarion sec recharger positioning
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/S

#17365 Generated TGUI Menu support for Componenets and Events
  _std/__std.dme
  _std/defines/data_input.dm
  _std/defines/events.dm
  browserassets/tgui/tgui.bundle.js
  code/WorkInProgress/artemis/GeneratePlanets.dm
  code/modules/admin/debug.dm
  code/modules/events/gimmick/generate_planet.dm
  code/modules/events/random_event.dm
  code/modules/events/white_hole.dm
  tgui/packages/tgui/interfaces/ProcCall.js
  tgui/packages/tgui/interfaces/RandomEvent.js
  tgui/packages/tgui/interfaces/common/DataInput.js
Labels: C-QoL, A-UI, size/XL, A-Admin

#17424 Fix broken types in prefabs
  assets/maps/prefabs/underwater/nadir_unsafe/prefab_water_zoo.dmm
  assets/maps/random_rooms/3x5/cabeeno_75.dmm
  assets/maps/random_rooms/3x5/fishingtrip.dmm
  assets/maps/random_rooms/3x5/snailsoda.dmm
  assets/maps/random_rooms/5x3/fishexhibit.dmm
  assets/maps/random_rooms/5x3/wormroom.dmm
Labels: C-Bug, A-Mapping, size/S

#17419 Increase minimum number of nukies to two
  code/datums/gamemodes/nuclear.dm
Labels: C-Balance, E-Add-To-Wiki, size/XS, A-Gamemodes

#17430 Fixes poddoors not showing a closing animation.
  code/obj/machinery/door/poddoor.dm
Labels: C-Bug, P-Trivial, size/XS, A-Game-Objects

#17429 Fix disposal/mail chutes never flushing if you pull the handle while recharging
  code/modules/disposals/disposal_chute.dm
Labels: C-Bug, size/XS, A-Station-Systems

#17420 Light Space Suits can now withstand 5 Minutes in Nadir Acid
  code/obj/item/clothing/suits.dm
Labels: C-Balance, C-QoL, size/XS, A-Game-Objects

#17402 remove santa's aa and tweak teleport times
  code/datums/abilities/santa.dm
  code/modules/holiday/spacemas.dm
Labels: C-Balance, size/XS, A-Player-Actions

#17043 Tubby Cow: better clothing coverage for bovines, via filters
  code/datums/mutantraces.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/mob/living/silicon/ai/holograms.dm
  code/modules/medical/genetics/bioEffects/useless.dm
  code/obj/effect.dm
  icons/mob/cow.dmi
Labels: C-Sprites, size/L, A-Clothing, A-Mutantraces, S-Testmerged

#17433 Fix Donut2 Auxiliary Storage camera name
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/XS

#17423 Fixes random room runtime checker
  code/modules/worldgen/RandomRoomRuntimeChecker.dm
  code/z_dmm_suite/reader.dm
Labels: C-Bug, A-Tooling, size/XS

#17443 Social Dancing
  code/WorkInProgress/AzrunStuff.dm
  icons/mob/dance_ui.dmi
Labels: C-Feature, C-Sprites, size/L, A-Game-Objects

#17416 Adds player interaction logs to pump_ui
  code/modules/atmospherics/machinery/binary/pump_ui.dm
Labels: C-QoL, size/XS, A-Admin, S-Ready-For-Final-Review

#17452 fix inconsistent inhands for ttvs
  icons/mob/inhand/hand_general.dmi
Labels: C-Bug, C-Sprites, size/XS

#17435 Update pod part requsition contract to use available manufacturer outputs
  code/modules/economy/requisition/rc_civilian.dm
Labels: C-Bug, C-Balance, size/M

#16448 linting: now with opendream
  .github/workflows/beepsky.yml
  .gitignore
  _std/__odlint.dm
  goonstation.dme
  tools/ci/od_lints.dm
  tools/ci/validate_dme.py
Labels: A-Tooling, E-Certified-Organic, size/M

#17450 Improves the Candy Cane sprite
  icons/misc/xmas.dmi
Labels: C-Sprites, size/XS, A-Game-Objects, A-Catering

#17412 drastically reduce asteroid field generation time
  code/turf/turf_autoalign.dm
Labels: C-Performance, C-Code-Quality, size/S, A-Internal

#17470 Pronoun usage in fire extinguishing message
  code/datums/actions/actions.dm
Labels: C-QoL, A-UI, size/XS

#17464 Fixes 2+ telescience computers on same network breaking each other
  code/modules/networks/computer3/mainframe2/telesci.dm
Labels: C-Bug, size/XS, A-Station-Systems

#17460 Character parts customization
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/datums/part_customization.dm
  code/datums/preferences.dm
  code/datums/savefile.dm
  code/datums/traits.dm
  code/mob/living/carbon/human.dm
  code/procs/jobprocs.dm
  goonstation.dme
  icons/ui/character_editor.dmi
  tgui/packages/tgui/components/ByondUi.js
  tgui/packages/tgui/interfaces/CharacterPreferences/CharacterTab.tsx
  tgui/packages/tgui/interfaces/CharacterPreferences/type.ts
Labels: C-Sprites, A-UI, size/L

#17471 Fix intermittent runtime about invalid random item spawner
  assets/maps/random_rooms/3x5/snailsoda.dmm
Labels: C-Bug, A-Mapping, size/XS

#17492 Fix DNA scrambler message speaking in second person
  code/modules/medical/genetics/geneticsItems.dm
Labels: C-Bug, A-UI, size/M

#17485 Fix missing area on tile in cog1 botany storage
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/XS

#17491 Reintroduce Format Complete medal
  code/obj/item/ai_modules.dm
Labels: C-Feature, A-Medal, E-Add-To-Wiki, size/XS

#17487 Fix snipping security cameras not leaving prints
  code/modules/camera/camera.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17453 Garbage collection? Where we're going, we don't need garbage collection.
  code/del.dm
Labels: size/XS, A-Internal

#17474 move credit doobie inhands to correct file
  icons/mob/inhand/hand_general.dmi
  icons/mob/inhand/hand_headgear.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Game-Objects

#17489 Fix some fixmes on the debris level again
  maps/z3.dmm
Labels: C-Bug, A-Mapping, size/L

#17496 New Cyborg Fish and a Fishable Cyborg Dock
  code/modules/fishing/fish.dm
  code/modules/fishing/fishing_spots.dm
  icons/obj/foodNdrink/food_fish.dmi
Labels: C-Feature, C-Sprites, size/S, A-Game-Objects

#17498 Fix claiming pilot then relic uniform medal rewards
  code/modules/medals/rewardsLocker.dm
Labels: C-Bug, size/S, A-Clothing

#17480 Fixes HE pipes showing error sprite when pulled by blackhole.
  code/modules/atmospherics/machinery/pipe.dm
Labels: C-Bug, P-Minor, size/XS

#17361 Make Air Alarms Good
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/alarm.dm
  icons/obj/monitors.dmi
  tgui/packages/tgui/interfaces/AirAlarm.js
Labels: C-Sprites, S-Merge-Conflict, A-UI, size/L, A-Atmospherics, A-Game-Objects

#17509 Nanite Click-ability
  icons/mob/critter/robotic/nanites.dmi
Labels: C-Sprites, C-Balance, C-QoL, size/XS, A-Critters

#17507 Fix ping tool reporting PDAs twice
  code/obj/item/device/pda2/base_os.dm
  code/obj/item/device/pda2/diagnostics.dm
Labels: C-Bug, size/XS, A-Station-Systems

#17449 Wow, 4 way pipes.
  code/modules/atmospherics/machinery/pipe.dm
  icons/obj/atmospherics/pipes/manifold_pipe.dmi
Labels: C-Feature, C-Sprites, size/L, A-Atmospherics

#17497 Add inhands for alternate color bank purchase engineering space suit
  code/obj/item/clothing/suits.dm
  icons/mob/inhand/overcoat/hand_suit_hazard.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Clothing

#17504 Add alloying recipe for glass
  code/modules/materials/Mat_Recipes.dm
Labels: C-Feature, size/S, A-Materials

#17404 Unifiy max pressure values on atmos devices
  code/modules/atmospherics/machinery/binary/pump.dm
  code/modules/atmospherics/machinery/binary/volume_pump.dm
  code/modules/atmospherics/machinery/trinary/mixer.dm
Labels: C-Code-Quality, C-Balance, size/S, A-Atmospherics
