Repository goonstation/goonstation, pull requests merged in 2024-12, with the labels that each got.

#19425 Manufacturer: Unify requirement checks by keeping it all server-side
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/manufacturer.dm
  tgui/packages/tgui/interfaces/Manufacturer/components/BlueprintButton.tsx
  tgui/packages/tgui/interfaces/Manufacturer/index.tsx
  tgui/packages/tgui/interfaces/Manufacturer/type.ts
  tgui/packages/tgui/interfaces/common/hooks/index.ts
  tgui/packages/tgui/interfaces/common/hooks/useConstant.ts
  tgui/packages/tgui/interfaces/common/hooks/useHashedMemo.ts
Labels: C-Bug, C-Performance, S-Merge-Conflict, A-UI, size/L, A-Internal

#21512 Fix Syndicate Weapons Vendor using the Kestrel revolver's old name
  code/obj/submachine/weapon_vendor.dm
Labels: size/XS, A-Game-Objects

#21433 Add AI Upload Foyer to list of AI only camera areas
  code/modules/camera/camera.dm
Labels: C-Balance, size/XS, A-Silicons

#21478 Mining Outpost lights/alarms/buttons polish
  code/area.dm
  code/z_adventurezones/numbersstation.dm
  maps/z5.dmm
Labels: A-Mapping, C-QoL, size/L

#21477 Add toggleable hood to Ice Moon snow suit
  code/WorkInProgress/AbilityItem.dm
  code/mob/living/carbon/human.dm
  code/obj/item/clothing/suits.dm
  icons/mob/clothing/overcoats/worn_suit_hazard.dmi
  icons/obj/clothing/overcoats/item_suit_hazard.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#21324 Admin Syndicate recolor command
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
Labels: C-Feature, S-Stale, size/M, A-Admin

#21485 makes it so that atmos devices can filter their connections
  code/modules/atmospherics/machinery.dm
  code/modules/atmospherics/machinery/binary/binary_base.dm
  code/modules/atmospherics/machinery/pipe.dm
  code/modules/atmospherics/machinery/trinary/trinary_base.dm
  code/modules/atmospherics/machinery/unary/unary_base.dm
Labels: C-Bug, size/M, A-Atmospherics

#21523 Fix manufacturer bug with changing blueprint contents
  code/obj/machinery/manufacturer.dm
Labels: C-Bug, A-UI, size/S, A-Game-Objects

#21522 Fix floorbot tile attackby
  code/modules/robotics/bot/floorbot.dm
Labels: C-Bug, size/S, A-Silicons

#21525 Drone Recycler type
  code/mob/living/critter/ai/artifact_robot.dm
  code/mob/living/critter/ai/shared.dm
  code/obj/artifacts/artifact_machines/robot.dm
Labels: size/L, A-Game-Objects, A-AI, A-Critters

#21524 Add safety for blueprint buttons with invalid data
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Manufacturer/components/BlueprintButton.tsx
Labels: C-Code-Quality, A-UI, size/S, A-Game-Objects

#21517 Fix mining magnet computer speaking statement
  code/obj/mining.dm
Labels: C-Bug, size/S, A-Game-Objects

#21516 Fix magnetizer eating stacks of plasmastone
  code/obj/mining.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21537 Fixes All Randrooms With Airless/Unsimulated Tiles
  assets/maps/random_rooms/3x5/enginetest.dmm
  assets/maps/random_rooms/3x5/fishingtrip.dmm
  assets/maps/random_rooms/3x5/openmic.dmm
  assets/maps/random_rooms/5x3/borglounge.dmm
  assets/maps/random_rooms/5x3/crimepodbay_70.dmm
  assets/maps/random_rooms/5x3/laundromat.dmm
  assets/maps/random_rooms/5x3/plushbridge.dmm
  code/turf/floors.dm
Labels: C-Bug, A-Mapping, size/L

#21515 Ensure the magnet area irradiates during radstorms
  code/datums/controllers/mining_controls.dm
Labels: C-Bug, size/XS, A-Events

#21527 Do not give vandalism points for spraying an already graffiti'd turf
  code/datums/gamemodes/gangwar.dm
Labels: C-Balance, size/XS, A-Gamemodes

#21488 Give the NTSC EVA Access
  code/datums/jobs.dm
  code/procs/access.dm
Labels: C-Feature, E-Input-Wanted, size/XS, A-Station-Systems

#21532 more flooring variants
  code/turf/floors.dm
  code/turf/floors_airless.dm
  code/turf/floors_unsimulated.dm
  icons/turf/floors.dmi
Labels: C-Sprites, size/M

#21542 Adds a framework for luck based prob calculation
  _std/__std.dme
  _std/macros/atom_properties.dm
  _std/macros/luck.dm
Labels: size/M, A-Internal

#21545 Fix underwater lighting for some special areas
  code/area.dm
  code/modules/economy/supply_misc.dm
  code/obj/machinery/shield_generators/shield_generator.dm
Labels: C-Bug, A-Mapping, size/XS

#21540 Armory Authorization causes red alert.
  code/obj/machinery/shipalert.dm
Labels: C-Feature, size/M, A-Station-Systems

#21543 standardize drains under surgical tables
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/wrestlemap.dmm
Labels: A-Mapping, C-QoL, size/M

#21536 Solar Flare events significantly increase solar panel output
  _std/machinery.dm
  code/global.dm
  code/modules/events/solar_flare.dm
  code/modules/power/solar.dm
Labels: C-Balance, size/S, A-Events

#21476 Spy thief redeemed items summary fix
  code/datums/gamemodes/spy_theft.dm
  code/modules/antagonists/spy_thief/spy_thief.dm
Labels: C-Bug, size/XS, A-Gamemodes

#21533 Give podwars jobs wages if its not pod wars
  code/datums/jobs.dm
Labels: C-Feature, size/XS, A-Station-Systems

#21494 Makes address fields consistent on atmos devices.
  code/modules/atmospherics/machinery/binary/pump.dm
  code/modules/atmospherics/machinery/binary/volume_pump.dm
  code/modules/atmospherics/machinery/unary/outlet_injector.dm
  code/modules/atmospherics/machinery/unary/vent_pump.dm
  code/modules/atmospherics/machinery/unary/vent_scrubber.dm
Labels: E-Add-To-Wiki, size/M, A-Atmospherics

#21348 TGUI Gas Mixer
  _std/macros/atmos.dm
  browserassets/tgui/tgui.bundle.js
  code/modules/atmospherics/machinery/trinary/mixer.dm
  code/obj/machinery/computer/general_air_control.dm
  tgui/packages/tgui/interfaces/GasMixer/Inputs.tsx
  tgui/packages/tgui/interfaces/GasMixer/MixInfo.tsx
  tgui/packages/tgui/interfaces/GasMixer/Output.tsx
  tgui/packages/tgui/interfaces/GasMixer/Pump.tsx
  tgui/packages/tgui/interfaces/GasMixer/index.tsx
  tgui/packages/tgui/interfaces/GasMixer/types.ts
Labels: C-Feature, A-UI, size/XL

#21557 Fix ejecting all of a material not updating producibility in fabricators
  code/obj/machinery/manufacturer.dm
Labels: C-Bug, size/XS, A-Game-Objects, A-Internal

#21556 Fixes hi_vis-overlay for monkeys
  code/obj/item/clothing/suits.dm
Labels: C-Bug, C-Sprites, size/S

#21480 Mining Intercoms
  _std/defines/radio.dm
  code/obj/item/device/radios/intercoms.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/z5.dmm
Labels: C-Feature, A-Mapping, size/L, A-Game-Objects, A-Station-Systems

#21563 Atlas Space Thing
  maps/atlas.dmm
Labels: A-Mapping, size/S

#21565 Adds Disarmanomicon
  code/modules/vending/vending.dm
  code/obj/item/scripture.dm
  icons/mob/inhand/hand_books.dmi
  icons/obj/writing.dmi
Labels: C-Feature, C-Sprites, size/XS, A-Game-Objects

#21559 Feature: Beepsky tells all his friends when you read his journal
  code/obj/item/book.dm
Labels: C-Feature, size/XS, A-Game-Objects

#21519 Add Santa space suit to syndicate apparel
  code/modules/vending/jobclothing.dm
Labels: C-Feature, size/XS, A-Clothing

#21482 Update grille description & tweak donut3 singularity containment
  code/obj/mesh.dm
  maps/donut3.dmm
Labels: A-Mapping, C-QoL, S-Merge-Conflict, size/L, A-Game-Objects

#21580 Full-size Nuclear bombs declare red alert.
  _std/defines/component_defines/component_defines_global.dm
  code/obj/machinery/nuclearbomb.dm
  code/obj/machinery/shipalert.dm
Labels: C-Feature, size/XS, A-Station-Systems

#21576 Blind skeleton head can still see if it has a VISOR on
  code/procs/mob_procs.dm
Labels: C-Bug, size/XS, A-Mutantraces, A-Traits

#21578 Removing a limb forcibly drops items held in that limb
  code/mob.dm
  code/obj/item/mob_parts.dm
Labels: C-Bug, size/XS, A-Medical

#21574 Trying to help a paralyzed person reacts like they're dead.
  code/mob/melee_attack_procs.dm
Labels: C-Balance, size/XS, A-Chemistry

#21575 Capulettium/Capu Plus triggers death confetti
  code/modules/chemistry/Reagents-Misc.dm
Labels: C-Bug, size/S, A-Chemistry

#21573 fixes typo + more airless flooring variants
  code/turf/floors.dm
  code/turf/floors_airless.dm
Labels: size/S

#21577 Fixes changelings being trapped in nullspace after getting loafed
  code/modules/disposals/disposal.dm
Labels: C-Bug, P-Minor, size/XS, A-Station-Systems, A-Respawning

#21584 Virutal / test dummy mob deaths don't count against spacemas cheer
  _std/macros/ismob.dm
  code/mob/living/carbon/human.dm
Labels: C-Bug, size/XS, A-Respawning

#21586 Fix knobs in DJ Panel
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/DJPanel.tsx
Labels: C-Bug, A-UI, size/M

#21587 Multiline placeholder for steps field of BugReport again
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/BugReportForm.tsx
Labels: C-Bug, A-UI, size/XS

#21594 Null global camo matrix on syndie colour reset
  code/modules/admin/randomverbs.dm
Labels: C-Bug, size/XS, A-Admin

#21591 Weightlifter barbell sprite should appear above mob
  code/obj/item/fitness.dm
Labels: C-Bug, size/S, A-Game-Objects

#21601 Give all gang members guns, cap gangs to 2 on RP
  code/datums/gamemodes/gangwar.dm
Labels: size/S

#21603 Fix "Scannner" typo in Security Weapons Vendor
  code/obj/submachine/weapon_vendor.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21609 Fix asylum chef/alcohol dispensers having medical chem groups
  code/modules/chemistry/Chemistry-Dispenser.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21619 Fix thermal vision showing dead critters as alive
  code/mob/living/critter.dm
Labels: C-Bug, size/XS, A-Critters

#21617 Fix sun tea renaming itself to tea
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: C-Bug, size/XS, A-Chemistry

#21605 Resprites the espresso machine
  icons/mob/inhand/hand_food.dmi
  icons/obj/foodNdrink/drinks.dmi
  icons/obj/foodNdrink/espresso.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#21616 Prevent things in afterlife changing spacemas cheer
  code/WorkInProgress/warcrimes.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/gimmick.dm
  code/mob/transform_procs.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/z_adventurezones/afterlife.dm
Labels: C-Bug, size/S, A-Respawning

#21615 Prevent ghostcritters from triggering language arts
  code/obj/artifacts/artifactprocs.dm
Labels: C-Bug, size/XS, A-Science

#21579 Gang Vandalism Changes
  _std/defines/gang.dm
  code/datums/controllers/process/gang.dm
  code/datums/gamemodes/gangwar.dm
  icons/obj/decals/graffiti.dmi
Labels: C-Sprites, C-Balance, size/L, A-Gamemodes

#21364 Revamp botany-associated requisitions
  code/modules/economy/requisition/rc_civilian.dm
  code/modules/economy/requisition/rc_scientific.dm
  code/modules/economy/requisition/rc_special.dm
  code/modules/economy/requisition/requisition_contracts.dm
Labels: C-Bug, C-Balance, E-Add-To-Wiki, size/L, A-Hydroponics

#21643 Fix riot launcher chem/riot grenade wall hits not spreading smoke
  code/modules/projectiles/bullet.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21634 add krimpus to nadir
  maps/nadir.dmm
Labels: A-Mapping, size/XS

#21630 Allow AI mainframes and eyebots to see cloakers
  code/mob/living/life/Life.dm
  code/mob/living/life/sight.dm
Labels: C-Bug, size/XS, A-Silicons

#21354 Adds a new melee weapon for the Salvager antagonist- the Crash Axe
  code/WorkInProgress/salvager/salvager_magpie.dm
  code/obj/item/misc_weapons.dm
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/items/weapons.dmi
Labels: C-Feature, C-Sprites, E-Input-Wanted, E-Add-To-Wiki, size/M, A-Gamemodes

#21647 Set real_name on generated mail
  code/WorkInProgress/zamu_mail.dm
Labels: C-Bug, size/XS

#21638 Balance: Hall Monitors get a pocket radio for eavesdropping on security.
  code/datums/jobs.dm
  code/obj/item/device/radio.dm
  code/obj/item/device/radios/headsets.dm
Labels: C-Balance, size/S, A-Game-Objects

#21642 Fix fire alarms triggering with "status" command
  code/obj/machinery/firealarm.dm
Labels: C-Bug, size/S, A-Station-Systems

#21649 Adminverb jump now uses tgui_input_list
  code/modules/admin/adminjump.dm
Labels: size/XS, A-Admin

#21644 Make it clearer that the clothing booth is unpowered
  code/modules/clothingbooth/clothingbooth.dm
  icons/obj/vending.dmi
Labels: C-Sprites, C-QoL, size/XS, A-Game-Objects

#21663 Remove Auth Disk pointer from Nukie style tracking category
  code/obj/item/pinpointer.dm
Labels: C-QoL, size/XS, A-Game-Objects

#21631 Expand clarion botany backroom
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/L

#21653 Create a "Ticketing" access level and give it to the Hall Monitor
  _std/defines/access.dm
  code/datums/jobs.dm
  code/obj/item/device/scanners.dm
  code/obj/machinery/computer/card.dm
  code/procs/access.dm
Labels: C-Balance, size/M, A-Game-Objects, A-Station-Systems, S-Ready-For-Final-Review

#21668 floor flushers work on magbooted individuals
  code/mob.dm
  code/obj/machinery/floorflusher.dm
Labels: C-Balance, size/XS, A-Game-Objects

#21672 Must be on grab intent to make snowballs
  code/datums/components/snowballs.dm
Labels: C-QoL, size/XS, A-Player-Actions

#21669 Let rainbow/progressive/mlm capes swap like flags
  code/obj/item/wall_flags.dm
Labels: C-Bug, size/S, A-Game-Objects

#21625 No UI Solar Controller
  code/modules/power/smes.dm
  code/modules/power/solar.dm
Labels: C-Feature, C-QoL, A-UI, size/L

#21635 Round-end "Personal Summary" window that combines Spacebux and JobXP windows
  browserassets/tgui/tgui.bundle.js
  code/datums/abilities/generic.dm
  code/datums/gameticker.dm
  code/datums/mind.dm
  code/datums/personal_summary.dm
  code/modules/economy/persistent_bank.dm
  code/modules/jobxp/JobXP.dm
  goonstation.dme
  icons/mob/ghost_observer_abilities.dmi
  tgui/packages/tgui/interfaces/PersonalSummary.tsx
Labels: C-Feature, C-Sprites, A-UI, size/L, S-Ready-For-Final-Review

#21538 Stocks now fluctuate 10 times as fast and have quicker events
  code/modules/economy/stocks/stock_events.dm
  code/modules/economy/stocks/stock_tickers.dm
Labels: size/XS, A-Station-Systems, S-Ready-For-Final-Review

#21645 Winter Atlas EVA has snowcoats instead of space suits
  code/map.dm
  code/obj/eva_spawner.dm
  code/obj/item/clothing/suits.dm
  goonstation.dme
  icons/mob/clothing/overcoats/worn_suit_hazard.dmi
  icons/obj/clothing/overcoats/item_suit_hazard.dmi
  maps/atlas.dmm
Labels: C-Feature, A-Mapping, C-Sprites, size/M, A-Game-Objects

#21568 Add AI access disablers to trenchwarfare.dmm
  maps/setpieces/trenchwarfare.dmm
Labels: A-Mapping, C-Balance, size/S

#21514 Increase the donut3 mining magnet size to 13x13
  maps/donut3.dmm
Labels: C-Feature, A-Mapping, size/XXL

#21620 Nuclear Turbine flicker reduction
  code/obj/nuclearreactor/turbine.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21656 Mice have a chance to be shiny
  code/mob/living/critter/small_animal.dm
  icons/misc/critter.dmi
Labels: C-Sprites, size/S, A-Respawning

#21670 Contraband traders will no longer dock with the station
  code/modules/economy/trader.dm
  maps/z2.dmm
Labels: A-Mapping, C-Balance, size/XS, A-Events

#21674 Add accessibility options for colorblindness
  _std/color.dm
  code/client.dm
  interface/skin.dmf
Labels: C-QoL, A-UI, size/L, S-Ready-For-Final-Review

#21677 prevent AIeyes from using ladders
  code/obj/ladder.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21678 Small fixes for donut2 ranch and janitor office
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/M

#21679 prevent ghost critters from using item dispensers
  code/obj/item_dispensers.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21676 Cogmap window pipe rupture fix
  maps/cogmap.dmm
Labels: A-Mapping, size/XS

#21614 Feature: Traffic warning lights for all shuttle types
  _std/defines/component_defines/component_defines_special.dm
  code/modules/power/lighting.dm
  code/obj/airbridge.dm
  code/obj/machinery/computer/shuttle.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/z2.dmm
  maps/z3.dmm
  maps/z5.dmm
Labels: C-Feature, A-Mapping, size/XXL, A-Station-Systems, A-Events

#21501 Add Dimensional Key artifact
  _std/macros/atom_properties.dm
  assets/maps/allocated/artifact_fissure.dmm
  code/modules/status_system/statusEffects.dm
  code/modules/worldgen/prefab/allocated.dm
  code/obj/artifacts/artifact_items/dimensional_key.dm
  code/obj/landmark.dm
  code/procs/gamehelpers.dm
  code/procs/helpers.dm
  goonstation.dme
Labels: C-Feature, A-Mapping, size/XXL, A-Science, S-Ready-For-Final-Review

#21692 Fix oil streaks containing more oil than needed to create them
  code/obj/decal/cleanable.dm
Labels: C-Bug, size/XS, A-Chemistry

#21693 Fix all_hearers null turf reference
  code/procs/helpers.dm
Labels: C-Bug, C-Runtime, size/XS

#21688 Gang minor changes/fixes
  code/datums/controllers/process/gang.dm
  code/datums/gamemodes/gangwar.dm
  code/modules/projectiles/bullet.dm
  code/obj/item/gun/kinetic.dm
  code/obj/storage/crates.dm
  code/obj/storage/gang_crate.dm
  icons/mob/clothing/back.dmi
  icons/obj/decals/graffiti.dmi
Labels: C-Bug, C-Sprites, C-Balance, size/M, A-Gamemodes

#21691 Fix ghostcritters gibbing into robot parts
  code/mob.dm
Labels: C-Bug, size/S, A-Critters

#21690 Fix `/cheat` variant of PTL not firing
  code/modules/power/pt_laser.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21699 Fix flying critters floating after death
  code/mob/living.dm
Labels: C-Bug, size/XS, A-Critters

#21697 Fix anchored object and self-moving conveyors
  code/modules/disposals/conveyor.dm
Labels: C-Bug, size/S, A-Game-Objects

#21705 Assert xor_rand determinism
  code/datums/rand.dm
  code/modules/unit_tests/rand.dm
Labels: C-Code-Quality, size/M, A-Internal

#21710 QDEL Meteors that hit an unsimmed wall
  code/modules/events/meteor_shower.dm
Labels: C-Bug, size/XS

#21709 Increase patrol and tourguide robuddy task pathing distance
  code/modules/robotics/bot/guardbot.dm
Labels: C-Bug, size/XS, A-Critters

#21706 Armory rack item spawners
  code/obj/random_spawners.dm
  icons/obj/objects.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-Sprites, C-QoL, size/XL

#21702 AI Nullspace (probable) fix
  code/mob/living/silicon/ai.dm
Labels: C-Bug, size/XS, A-Silicons

#21569 Add staff bonuses to bank computer
  code/obj/machinery/computer/bank_records.dm
Labels: C-Feature, size/M, A-Station-Systems

#21673 Mobs change intertia direction when pushed/pulled in space
  code/mob.dm
Labels: C-Bug, size/XS, A-Player-Actions, S-Ready-For-Final-Review

#21707 Fix BR not equipping trait items
  code/datums/gamemodes/battle_royale.dm
  code/procs/jobprocs.dm
Labels: C-Bug, size/M, A-Gamemodes

#21725 Fix grille icons sometimes disappearing when damaged
  code/obj/mesh.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21703 removes a werid marker on donut3 ranch + changes some doors from maint to civvie
  maps/donut3.dmm
Labels: A-Mapping, size/S

#21730 Stop hall monitor radios leaking to nearby mobs
  code/obj/item/device/radio.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21741 Only return reagent container details on examine if you can see
  code/modules/chemistry/Chemistry-Holder.dm
Labels: C-Bug, size/XS, A-Chemistry

#21731 Fix atlas having no EVA suits if not voted or terrainifyd
  code/map.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21721 Allows skeleton people to be cloned with necroscan
  code/obj/machinery/computer/cloning.dm
Labels: C-Bug, C-Feature, C-QoL, size/XS, A-Medical, A-Game-Objects, S-Ready-For-Final-Review

#21758 Fix PTL limb slice message occuring when no limbs are sliced
  code/mob/living/carbon/human.dm
  code/modules/power/pt_laser.dm
Labels: C-Bug, size/S, A-Game-Objects

#21757 Arcfiend abilities check for sanctuary areas
  code/modules/antagonists/arcfiend/abilities/_arcfiend_ability_holder.dm
Labels: C-Bug, size/XS, A-Player-Actions

#21755 Fix map varedit on wrestlemap runtiming camera monitors
  maps/wrestlemap.dmm
Labels: A-Mapping, C-Runtime, size/XS

#21732 Make "Centcom" law modules blue instead of pink
  code/modules/admin/randomverbs.dm
  code/obj/item/ai_modules.dm
  code/obj/machinery/law_racks.dm
Labels: C-QoL, size/S, A-Admin, A-Silicons

#21751 fix pathing problem with dark blue checker tiles
  code/turf/floors.dm
Labels: size/XS

#21765 Allow scuttlebot users to return to body if inside lockers
  code/datums/abilities/critter/scuttlebot.dm
Labels: C-Bug, size/XS, A-Player-Actions

#21760 Prevent artifact power gens from targeting ghosts
  code/obj/artifacts/artifact_objects/power_gen.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21747 Fixed typo in small_animal.dm
  code/mob/living/critter/small_animal.dm
Labels: C-Bug, P-Trivial, size/XS, A-Player-Actions, A-Critters

#21736 Makes all fishing rods holdable by the ranch belt + makes ranch lockers green
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/storage/secure_closets.dm
Labels: C-Balance, size/XS

#21766 Prevent obj-critter parrots from picking up deployed bodybags
  _std/macros/items.dm
  code/mob/living/carbon/human/npc.dm
  code/obj/critter/pets_small_animals.dm
Labels: C-Bug, size/S, A-Critters

#21759 Fix mechboots negating jetpackmk2 fluid movespeed boost
  code/mob.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21762 Add help message about the `:in` prefix to intercoms
  code/obj/item/device/radio.dm
  code/obj/item/device/radios/intercoms.dm
Labels: C-QoL, size/XS, A-Game-Objects

#21750 Fix donut3 barricaded windows not being destroyable
  code/obj/structure.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21740 Replace donut3 telesci decal tile edges with tiles
  maps/donut3.dmm
Labels: C-Bug, A-Mapping, size/L

#21775 stop woodwalls from duping on projectile damage
  code/obj/structure.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21774 Wizards with plasmalungs get little a plasma (as a treat)
  code/modules/antagonists/wizard/wizard.dm
Labels: C-Bug, size/XS, A-Gamemodes

#21770 Tabletop Chemical Dispenser glassware
  code/datums/manufacturing.dm
  code/modules/chemistry/Chemistry-Tools.dm
  code/obj/machinery/manufacturer_subtypes.dm
  icons/obj/items/chemistry_glassware.dmi
Labels: C-Feature, C-Sprites, size/L, A-Chemistry

#21797 wrapped candy does not get ants
  code/modules/food_and_drink/candy.dm
Labels: C-QoL, size/XS, A-Game-Objects

#21795 GLOMAR Salvage ship/trader dedicated area
  assets/maps/prefabs/underwater/nadir_safe/prefab_water_disposal.dmm
  code/area.dm
  maps/z3.dmm
Labels: A-Mapping, C-Code-Quality, size/L

#21768 Filter out deployed body bags from matter eater
  code/modules/medical/genetics/bioEffects/powers.dm
Labels: C-Bug, size/XS, A-Player-Actions, A-Game-Objects

#21789 Fix trader herbs/plants not giving extractable reagents
  code/modules/economy/commodity.dm
  code/modules/economy/requisition/rc_civilian.dm
  code/modules/economy/shady_robot.dm
  code/modules/economy/trader.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/item/plants.dm
Labels: C-Bug, size/L, A-Events

#21798 Make singulos gravitate towards gravity well artifacts
  _std/types.dm
  code/obj/artifacts/artifact_machines/grav_well.dm
  code/obj/machinery/singularity.dm
  code/obj/shieldgen.dm
Labels: C-Feature, size/M, A-Game-Objects

#21509 constructible atmos
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/atmospherics/machinery.dm
  code/modules/atmospherics/machinery/pipe.dm
  code/modules/atmospherics/machinery/unary/unary_base.dm
  code/obj/item/handheld_dispenser/dispenser.dm
  code/obj/item/handheld_dispenser/dispenser_action_bar.dm
  code/obj/item/rcd/rcd_ammo.dm
  code/obj/storage/crates.dm
  code/obj/storage/secure_closets.dm
  goonstation.dme
  icons/obj/atmospherics/hhd_recipe_images.dmi
  icons/obj/items/hpd.dmi
  tgui/packages/tgui/interfaces/HandPipeDispenser/index.tsx
  tgui/packages/tgui/interfaces/HandPipeDispenser/type.ts
Labels: C-Feature, C-Sprites, A-UI, size/XL, A-Atmospherics

#21776 Fix some fake asteroid woodwalls
  code/obj/structure.dm
  maps/z3.dmm
Labels: C-Bug, A-Mapping, size/M

#21761 use vis_contents instead of overlays for /obj/vehicles
  code/WorkInProgress/tug.dm
  code/modules/transport/skateboard.dm
  code/obj/vehicle.dm
Labels: C-Experimental, C-Rework, size/M, A-Game-Objects

#21738 Interdictors protect from APC zaps
  code/modules/power/apc.dm
Labels: C-Balance, size/XS, A-Station-Systems

#21720 Syndicate Beret
  code/modules/vending/jobclothing.dm
  code/obj/item/clothing/hats.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/item_hats.dmi
Labels: C-Sprites, size/S, A-Clothing

#21794 Allow janktank use on crit patients
  code/datums/gamemodes/gangwar.dm
Labels: C-Balance, size/S, A-Gamemodes

#21379 Atmos fires overlay onto walls
  code/modules/atmospherics/FEA_fire.dm
  icons/effects/fire_atmospheric.dmi
Labels: C-Feature, C-Sprites, S-Stale, size/M, A-Game-Objects

#21783 Fixes material rcds being able to remove a tile of the wrong type.
  code/obj/item/rcd/rcd.dm
Labels: C-Bug, size/XS

#21808 Tweak donut2 sci outpost access
  maps/donut2.dmm
Labels: A-Mapping, C-Balance, size/XS

#21807 Forward audible messages heard at mainframe to AIeye
  code/procs/mobprocs/chatprocs.dm
Labels: C-Bug, size/XS, A-Silicons

#21806 Convert portable_machinery list to by_cat tracking
  _std/types.dm
  code/modules/medical/genetics/portagene.dm
  code/obj/item/device/pda2/portable_machinery_control.dm
  code/obj/machinery/porters.dm
  code/obj/machinery/sleeper.dm
Labels: C-Code-Quality, size/L, A-Game-Objects

#21803 Require mining access for mineral magnet controls and rockbox
  code/modules/transport/pods/communications.dm
  code/obj/mining.dm
  code/obj/mining_cloud_storage.dm
  maps/z5.dmm
Labels: A-Mapping, C-Balance, size/S, A-Game-Objects

#21264 Add Curser artifact
  _std/defines/sight.dm
  assets/maps/allocated/artifact_labyrinth_escaperoom.dmm
  assets/maps/allocated/artifact_labyrinth_keyroom.dmm
  assets/maps/allocated/artifact_labyrinth_startroom.dmm
  code/mob/living.dm
  code/mob/living/critter/ai/art_curser_nightmare.dm
  code/mob/living/critter/art_curser_nightmare.dm
  code/modules/status_system/statusEffects.dm
  code/obj/artifacts/artifact_objects/curser.dm
  code/obj/item/organs/spleen.dm
  code/z_adventurezones/void.dm
  goonstation.dme
  icons/obj/artifacts/art_labyrinth.dmi
  icons/ui/statussystem.dmi
Labels: C-Feature, A-Mapping, C-Sprites, S-Merge-Conflict, E-Add-To-Wiki, size/XXL, A-Game-Objects, A-Science

#21772 Add new generic trader commodity types: shoes, instruments, kitchen utensils
  code/modules/economy/traders/generic.dm
Labels: C-Feature, C-Balance, size/M, A-Game-Objects

#21784 Restrict fishing rod storage to food items
  code/modules/fishing/fishing_gear.dm
  code/modules/fishing/fishing_lootpools.dm
Labels: C-Balance, size/XS, A-Game-Objects

#21810 Use dark blue edges for command areas on donut2 & small fixes
  maps/donut2.dmm
Labels: A-Mapping, C-QoL, size/L

#21821 Include the magnet boundary when minng magnet checks for unacceptable content
  code/obj/mining.dm
Labels: C-Bug, size/XS, A-Station-Systems

#21764 Jumpy can no longer be used while floating in space
  code/modules/medical/genetics/bioEffects/powers.dm
Labels: C-Bug, C-Balance, size/S, A-Player-Actions

#21831 Prevent item special effects from falling into the trench
  code/modules/items/specials/ItemSpecials.dm
Labels: C-Bug, size/XS, A-Player-Actions
