Repository goonstation/goonstation, pull requests merged in 2024-07, with the labels that each got.

#19770 Fix atmos analyzer inhand
  code/obj/item/device/scanners.dm
Labels: C-Bug, size/XS

#19773 Makes pressure sensor belt equippable
  code/obj/item/device/transfer_valve.dm
Labels: C-QoL, size/XS

#19765 Adds a new random room with firefighting supplies
  assets/maps/random_rooms/3x3/firefighting.dmm
Labels: C-Feature, A-Mapping, size/M

#19758 Jan admin office updates
  code/mob/living/critter/small_animal.dm
  code/obj/item/decoration.dm
  icons/misc/janstuff.dmi
  maps/z2.dmm
Labels: A-Mapping, C-Sprites, size/M

#19748 Adds east/west directional sprites for APCs
  code/modules/power/apc.dm
  icons/obj/power.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#19553 Fix organs making you full indefinitely
  code/obj/item/organs/stomach.dm
Labels: C-Bug, size/XS, A-Medical, A-Status-Effects

#19623 adds a second subtler palette to portable lamp manufacturer
  code/modules/interface/multiContext/context_actions.dm
  code/modules/power/lighting.dm
  code/obj/submachine/robotics.dm
  icons/obj/items/tools/lampman.dmi
  icons/ui/context16x16.dmi
Labels: C-Feature, C-Sprites, C-QoL, size/L, A-Game-Objects

#19512 Syndicate Clothing Vendor
  code/modules/economy/commodity.dm
  code/modules/economy/trader.dm
  code/modules/vending/jobclothing.dm
  code/obj/item/vending_restock.dm
  icons/obj/items/vendcart.dmi
  icons/obj/vending.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-Sprites, C-QoL, E-Add-To-Wiki, size/L, A-Clothing

#19702 Updates Ranch Guide to Include Elec-Chicken
  browserassets/images/pocket_guides/ranchguide.png
Labels: C-Sprites, A-Secret, C-QoL, size/XS

#19779 Fix mispelling of kalimotxo
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: C-Bug, P-Minor, size/S

#19783 Support For Single State Reagent Overlays
  code/datums/components/reagent_overlay.dm
Labels: C-Bug, size/XS, A-Internal

#19786 Bagels, now with cream cheese and lox
  code/modules/food_and_drink/snacks.dm
  icons/obj/foodNdrink/food_snacks.dmi
Labels: C-Sprites, E-Add-To-Wiki, size/M, A-Catering

#19412 introduces calculate_depletion_rate and generalize most chem depletion
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/chemistry/Reagents-Base.dm
  code/modules/chemistry/Reagents-Diseases.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
Labels: C-Balance, size/L, A-Chemistry

#19793 Removes duplicate light on cog1
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/XS

#19769 Replaces toxins camera monitors with ones that work
  maps/donut2.dmm
  maps/donut3.dmm
Labels: C-Bug, A-Mapping, size/XS

#19716 Swap number labels on cog2 engine mixer ports
  maps/cogmap2.dmm
Labels: C-Bug, A-Mapping, size/S, A-Game-Objects

#19761 Resprites station lights and gives them an overlay! (Thank you Herb)
  code/modules/power/lighting.dm
  icons/obj/lighting.dmi
Labels: C-Sprites, size/S, A-Game-Objects

#19804 New fishing locale: Deep hole
  code/modules/fishing/fishing_spots.dm
Labels: C-Feature, size/S, A-Game-Objects

#19754 Cluwneshot
  code/obj/item/gun/energy.dm
Labels: C-Feature, size/XS, A-Game-Objects

#19722 Adds Chameleon Bombs to Mail Courier uplinks
  code/datums/syndicate_buylist.dm
Labels: C-Feature, size/XS, A-Game-Objects

#19822 Remove unused variable `override_attack_hand `
  code/obj/item.dm
  code/obj/item/hydroponics.dm
  code/obj/item/mob_parts.dm
  code/obj/item/mob_parts/human_parts.dm
Labels: C-Removal, size/S, A-Internal

#19821 Trim whitespace on supply order comments
  code/obj/machinery/computer/QM_supply.dm
Labels: C-QoL, size/XS, A-Station-Systems

#19820 Do not autocapitalize agent card names
  code/obj/item/card.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19819 Limbs that cannot pickup items don't try to do so with kleptomaniac trait
  code/datums/traits.dm
Labels: C-Bug, size/XS, A-Traits

#19818 Fix misaligned light in cog1 gym
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/XS

#19665 EFIF-1 Construction System for pods
  code/datums/controllers/action_controls.dm
  code/datums/manufacturing.dm
  code/modules/economy/supply_packs.dm
  code/modules/sound/soundCache.dm
  code/modules/transport/pods/MainWeapon.dm
  code/modules/transport/pods/vehicle.dm
  code/modules/writing/papers.dm
  code/obj/item.dm
  code/obj/machinery/manufacturer_subtypes.dm
  code/turf/turf.dm
  icons/effects/64x64.dmi
  icons/obj/podweapons.dmi
  sound/machines/constructor_work.ogg
Labels: C-Feature, C-Sprites, C-Sound, E-Add-To-Wiki, size/XL, A-Game-Objects, S-Ready-For-Final-Review, A-Vehicles

#19824 Fix verbiage in "X ignites!" messages
  code/obj/item/cigarette.dm
  code/obj/item/device/lights.dm
Labels: C-Bug, size/S, A-Game-Objects

#19825 Refactor contract_disease
  code/datums/controllers/disease_controls.dm
  code/datums/disease.dm
  code/datums/traits.dm
  code/mob/living/critter/changeling_critters.dm
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/medical/diseases/addiction.dm
  code/modules/medical/diseases/headspider.dm
  code/obj/item/storage/toolbox.dm
Labels: C-Code-Quality, A-Internal

#19823 Fix loudspeakers
  code/obj/item/device/radio.dm
Labels: C-Bug, size/S, A-Game-Objects

#19830 Small EFIF-1 bugfix set
  code/modules/transport/pods/MainWeapon.dm
Labels: C-Bug, size/S, A-Game-Objects

#19767 Skeletons no longer duplicate their clothes on death + their limbs correctly get thrown
  code/datums/mutantraces.dm
  code/mob/living/carbon/human.dm
Labels: C-Bug, size/S, A-Respawning

#19813 Cinnamon Buns
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_dessert.dmi
  strings/books/fleurs_cookbook.txt
Labels: C-Sprites, E-Add-To-Wiki, size/M, A-Catering

#19486 TGUI Alert RP Rules
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/client.dm
  tgui/packages/tgui/interfaces/AlertContentWindows/index.ts
  tgui/packages/tgui/interfaces/AlertContentWindows/rpRules.tsx
  tgui/packages/tgui/interfaces/AlertModal.tsx
Labels: C-Feature, S-Merge-Conflict, A-UI, size/M

#19576 Chameleon Outfit Fixes + Mail Courier Addition
  code/obj/item/clothing/chameleon_js.dm
Labels: C-Bug, S-Stale, size/M, A-Game-Objects

#19766 Syndicate Announcement Computer changes
  code/obj/machinery/computer/announcement.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogwip/kappa.dmm
  maps/cogwip/ships.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/unused/manta.dmm
  maps/z2.dmm
Labels: C-Feature, A-Mapping, size/L

#19843 Revert "Refactor contract_disease"
  code/datums/controllers/disease_controls.dm
  code/datums/disease.dm
  code/datums/traits.dm
  code/mob/living/critter/changeling_critters.dm
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/medical/diseases/addiction.dm
  code/modules/medical/diseases/headspider.dm
  code/obj/item/storage/toolbox.dm
Labels: size/L

#19844 Refactor contract_disease take 2, less breaking everything
  code/datums/controllers/disease_controls.dm
  code/datums/disease.dm
  code/datums/traits.dm
  code/mob/living/critter/changeling_critters.dm
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/medical/diseases/addiction.dm
  code/modules/medical/diseases/headspider.dm
  code/modules/medical/diseases/malady.dm
  code/obj/item/storage/toolbox.dm
Labels: C-Bug, C-Code-Quality, size/L, A-Internal

#19814 Kondaru Toxins Update!
  maps/kondaru.dmm
Labels: A-Mapping, C-Rework, size/XXL

#19846 Set station name after map settings have loaded
  code/world/initialization/0_preMapLoad.dm
  code/world/initialization/1_New.dm
Labels: C-Bug, size/XS, A-Internal

#19833 Removes all improper datum[] uses
  code/WorkInProgress/zamujasa.dm
  code/datums/components/_component.dm
  code/mapSwitching.dm
  code/modules/admin/ban_panel.dm
  code/modules/admin/bans.dm
  code/modules/antagonists/changeling/abilities/absorb.dm
  code/modules/speech/logged_phrases.dm
  code/obj/item/tumbling_creeper_trap.dm
  code/player.dm
Labels: C-Bug, size/M, A-Internal

#19836 Add flock floors to EFIF-1 wall/repair forbidden types list
  code/modules/transport/pods/MainWeapon.dm
Labels: C-Bug, size/XS, A-Station-Systems

#19742 mail fix + clown announcement PC on mushroom
  maps/unused/mushroom_new_walls.dmm
Labels: C-Bug, A-Mapping, size/L

#19851 Prevent duplicate razor blades in candy deleting one
  code/modules/food_and_drink/candy.dm
  code/modules/holiday/halloween.dm
  code/obj/item/storage/food.dm
Labels: C-Bug, size/S, A-Game-Objects

#19607 Add alternate jumpsuit for mail courier
  code/modules/economy/persistent_bank_purchases.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/uniforms.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/jumpsuits/worn_js_misc.dmi
  icons/mob/monkey/jumpsuits.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/uniforms/item_js_misc.dmi
Labels: C-Sprites, C-QoL, E-Add-To-Wiki, size/S, A-Clothing

#19456 Introduce /datum/storage/no_hud/machine for stacking bars from other storages
  _std/defines/storage.dm
  code/modules/storage/machine.dm
  code/modules/storage/storage.dm
  code/obj/item/material.dm
  code/obj/machinery.dm
  code/obj/machinery/manufacturer.dm
  goonstation.dme
Labels: C-Bug, C-Feature, size/L, A-Internal

#17600 explosion unit test - maybe
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/explosions.dm
Labels: C-Feature, A-Tooling, E-Certified-Organic, size/S

#19806 Replaces 16th BYOND member message
  browserassets/images/member_msgs/byond_member_msg_16.jpg
Labels: C-QoL, A-UI, size/XS

#19790 Poutine
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/condiments.dm
  code/modules/food_and_drink/sandwiches.dm
  code/modules/vending/vending.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food.dmi
  icons/obj/foodNdrink/food_snacks.dmi
Labels: C-Sprites, E-Add-To-Wiki, size/M, A-Catering

#19869 typo in power checker
  code/obj/item/device/pda2/smallprogs.dm
Labels: C-Bug, A-UI, size/XS

#19868 Fix det office mail on Oshan
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/XS

#19865 Remove redundant "The" from failing to sword sheathe an item
  code/obj/item/misc_weapons.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19863 Admin crusher-walls use no power
  code/modules/admin/randomverbs.dm
  code/modules/disposals/crusher.dm
Labels: C-QoL, size/XS, A-Admin

#19867 Syndicate omnitool no longer goes into cigarette
  code/obj/item/tool/omnitool.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19870 Status effects are paused in cryostorage
  code/datums/controllers/process/statusEffects.dm
Labels: C-Bug, size/XS, A-Status-Effects

#19873 Add 10 second cooldown to reciting Miranda rights
  code/datums/mind.dm
  code/mob.dm
Labels: C-QoL, size/S, A-Player-Actions

#19874 Fix ship alert button closing all shutters
  code/obj/machinery/shipalert.dm
Labels: C-Bug, size/XS, A-Station-Systems

#19886 Reagent Overlay Documentation Fix
  code/datums/components/reagent_overlay.dm
Labels: P-Trivial, size/XS

#19854 Close context buttons when dropping t-ray scanner
  code/obj/item/device/scanners.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19878 DNA Scramblers now randomize foreniscs blood DNA and fingerprints
  code/modules/medical/genetics/geneticsItems.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19881 unit conversion macros
  _std/__std.dme
  _std/macros/_unit_conversions.dm
Labels: size/XS, A-Internal

#19889 Suits with coverage can save your jordans.
  code/modules/fluids/fluid_core.dm
Labels: C-Balance, size/XS, A-Chemistry

#19899 Removes a single light fixture on donut 2
  maps/donut2.dmm
Labels: A-Mapping, C-QoL, size/XS

#19900 use clear/update overlay procs for obj/vehicles
  code/WorkInProgress/tug.dm
  code/obj/vehicle.dm
Labels: C-Bug, size/S, A-Vehicles

#19898 test invalid index opendream lint
  tools/ci/od_lints.dm
Labels: A-Tooling, size/XS

#19895 remove two bannable words from vox
  _std/vox.dm
  sound/vox/bitch.ogg
  sound/vox/penis.ogg
  strings/player_vox_banned_words.txt
Labels: C-Removal, C-Sound, size/XS, A-Internal

#19894 Rework /datum/game_mode/declare_completion to use antag datums
  code/datums/gamemodes/gm_parent.dm
Labels: C-Code-Quality, size/L, A-Internal

#19876 Status Display Market Timer & Ship Alert integration
  _std/__std.dme
  _std/defines/status_display.dm
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/machinery/computer/communications.dm
  code/obj/machinery/shipalert.dm
  code/obj/machinery/status_display.dm
Labels: C-Feature, size/L, A-Game-Objects, A-Station-Systems

#19866 ass_explosion sets back_op_stage when it tears you a new one
  code/modules/events/gimmick/bigfart.dm
Labels: C-QoL, size/XS, A-Medical

#19907 Fix stg booster creating an abstact deck item
  code/obj/item/playing_cards.dm
Labels: C-Bug, size/XS, A-Internal

#19905 Add market status screens to maps
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/destiny.dmm
  maps/unused/horizon.dmm
  maps/unused/ozymandias.dmm
  maps/wrestlemap.dmm
Labels: C-Feature, A-Mapping, size/L, A-Game-Objects

#19862 Feature: Retractable cords for phones and mounted defibs
  code/modules/medical/surgery_tools.dm
  code/obj/machinery/phone/phone.dm
  icons/effects/lines2.dmi
Labels: C-Feature, C-Sprites, size/L, A-Game-Objects

#19914 Make it more clear that obj/item/device is abstract
  code/obj/item/device/device_parent.dm
Labels: C-Code-Quality, size/XS

#19915 Fix stowaway using missile arrival on oshan
  code/mob/new_player.dm
Labels: C-Bug, size/XS, A-Respawning

#19910 Npcs that can't see invisibilty will no longer follow invisible targets.
  code/mob/living/carbon/human/npc.dm
Labels: C-Bug, size/XS, A-AI

#19827 Resprites Floor Guides + Adds Some Sprites For New Ones
  icons/obj/decals/floorguides.dmi
Labels: C-Sprites, size/XS

#19439 Adds a new shotgun alongside the Salvager's reclaimed pump-action: The Four Letter Word
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
  icons/mob/inhand/hand_guns.dmi
  icons/obj/large/64x32.dmi
Labels: C-Feature, C-Sprites, A-Secret, E-Add-To-Wiki, size/L, A-Gamemodes

#19887 Kondaru toxins fixes
  maps/kondaru.dmm
Labels: A-Mapping, size/L

#19921 Autofocus pin input
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/PINInputModal.tsx
Labels: C-Bug, A-UI, size/XS

#19922 Do not capture tabs on multiline input modals
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/TextInputModal.tsx
Labels: C-QoL, A-UI, size/XS

#19927 Give syndicate cyborgs listening post access
  code/mob/living/silicon.dm
  code/mob/living/silicon/robot.dm
  code/obj/machinery/door/airlock_other.dm
  code/obj/machinery/door/airlock_pyro.dm
Labels: C-Feature, size/XS, A-Silicons

#19913 Fix HoP alternate jumpsuit purchase
  code/modules/economy/persistent_bank_purchases.dm
Labels: C-Bug, size/S, A-Clothing

#19920 Adjust pipes in cog1 tox storage
  maps/cogmap.dmm
Labels: A-Mapping, C-QoL, size/S

#19675 Watchful Eye Satellite
  browserassets/images/traders/eye.png
  code/area.dm
  code/mob.dm
  code/mob/living/critter/small_animal.dm
  code/modules/parallax/parallax_render_sources/parallax_render_source_groups.dm
  code/modules/telescience/telescope/telescopeDialogues.dm
  code/modules/telescience/telescope/telescopeEvents.dm
  code/modules/writing/papers.dm
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/landmark.dm
  code/procs/command_alert.dm
  maps/z2.dmm
Labels: C-Feature, A-Mapping, size/XXL, A-Science, A-Events

#19832 Door/airlock operation rework (better open/close & door-linked forcefield integration)
  code/obj/machinery/door/airlock.dm
  code/obj/machinery/door/door_parent.dm
  code/obj/machinery/door/poddoor.dm
  code/obj/machinery/shield_generators/energy_shield.dm
  code/obj/machinery/shield_generators/portable_shield_generator.dm
Labels: C-Bug, C-Code-Quality, C-Rework, size/L, A-Station-Systems

#19510 Inspector NT ID and Unique Headset
  browserassets/images/radio_icons/inspector.png
  code/datums/jobs.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/device/radios/headsets.dm
Labels: C-Feature, E-Add-To-Wiki, size/S, A-Clothing

#19941 Fix kudzumen point generation and some other misc changes
  code/datums/abilities/kudzumen.dm
  code/datums/mutantraces.dm
  code/mob/living/life/sight.dm
Labels: size/M

#19670 Cyborg docking station click-drag range buff
  code/modules/robotics/robot/robot_docking_station.dm
Labels: C-QoL, S-Stale, size/XS, A-Game-Objects, S-Ready-For-Final-Review

#19945 Fix different-colored swimsuits all being called white
  code/obj/item/clothing/uniforms.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19946 Fix missing cable on Zeta outpost
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/XS, A-Station-Systems

#19938 Adds empty gas tanks to science fabricator
  code/obj/machinery/manufacturer_subtypes.dm
Labels: C-QoL, size/XS, A-Game-Objects

#19860 Built zone / area inherit rework to use "unconnected zone"
  code/area.dm
  code/global.dm
  code/modules/power/apc.dm
  code/turf/turf.dm
Labels: C-Rework, size/L, A-Internal

#19949 Makes the syndicate PDA into a slightly cursed knockoff version made by Electek
  code/obj/item/device/pda2/base_os.dm
  code/obj/item/device/pda2/pda2.dm
  icons/obj/items/pda.dmi
Labels: C-Sprites, size/M, A-Game-Objects

#19952 Adds Tanning Sunglasses to the Kondaru and Nadir Pools.
  maps/kondaru.dmm
  maps/nadir.dmm
Labels: A-Mapping, C-QoL, size/XS

#19880 Adds new mechcomp controls to the PTL
  code/modules/power/pt_laser.dm
Labels: C-Feature, E-Add-To-Wiki, size/L, A-Station-Systems

#19957 Laser mirror resprite
  code/modules/lasers/laser_mirror.dm
  code/modules/lasers/linked_laser.dm
  code/modules/power/pt_laser.dm
  icons/obj/stationobjs.dmi
Labels: C-Sprites, size/XS

#19549 Resprites Bartending Glassware
  code/datums/components/reagent_overlay.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/alcohol.dm
  code/modules/food_and_drink/drinks.dm
  code/modules/food_and_drink/plants.dm
  icons/obj/foodNdrink/bartending_glassware.dmi
  icons/obj/foodNdrink/drinks.dmi
Labels: C-Sprites, E-Add-To-Wiki, size/L, A-Game-Objects, A-Catering

#19953 Adding Cargo Hand Teleporters to Atlas & Clarion's Artlabs
  maps/atlas.dmm
  maps/clarion.dmm
Labels: A-Mapping, C-QoL, size/S

#19897 Adds toxins-specific vendomat with larger inventory
  code/modules/vending/vending.dm
  icons/obj/vending.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/wrestlemap.dmm
Labels: C-Feature, A-Mapping, C-Sprites, E-Add-To-Wiki, size/L, S-Ready-For-Final-Review

#19928 Add Syndicate PDAs to syndicate clothing vendor
  code/modules/vending/jobclothing.dm
  code/obj/item/card.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/storage/closets.dm
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/S, A-Clothing

#19954 Stowaway trait cleanup
  code/datums/jobs.dm
  code/mob.dm
  code/mob/new_player.dm
  code/procs/jobprocs.dm
Labels: C-Code-Quality, size/M, A-Traits

#19971 Fix clarion toxins outlet valve
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/XS

#19440 Port tgstation/tgstation#61081 - continuation of zewaka's 2021 port
  browserassets/tgui/tgui-bench.bundle.css
  browserassets/tgui/tgui-bench.bundle.js
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.js
  tgui/README.md
  tgui/babel.config.js
  tgui/bin/tgui-bench.cmd
  tgui/bin/tgui_.ps1
  tgui/global.d.ts
  tgui/jest.config.js
  tgui/packages/tgui-bench/entrypoint.tsx
  tgui/packages/tgui-bench/index.js
  tgui/packages/tgui-bench/launch_ie.vbs
  tgui/packages/tgui-bench/lib/benchmark.d.ts
  tgui/packages/tgui-bench/lib/benchmark.js
  tgui/packages/tgui-bench/package.json
  tgui/packages/tgui-bench/tests/Button.test.tsx
  tgui/packages/tgui-bench/tests/Flex.test.tsx
  tgui/packages/tgui-bench/tests/Stack.test.tsx
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/components/ByondUi.js
  tgui/packages/tgui/renderer.ts
  tgui/packages/tgui/store.js
  tgui/webpack.config.js
  tgui/yarn.lock
Labels: C-Feature, C-QoL, A-UI, size/XXL, A-Internal, C-Documentation

#19978 Slide-kicking items or directly into NPC mobs aggros them appropriately
  code/obj/item/grab.dm
Labels: C-Bug, size/XS, A-Player-Actions, A-AI

#19980 Add missing flavor text to The Cluwne poster
  code/obj/decal/poster.dm
Labels: size/XS

#19988 Make robot dectalk quieter
  _std/defines/sound.dm
  code/WorkInProgress/AphsStuff.dm
  code/modules/robotics/bot/bot_parent.dm
  code/obj/item/clothing/cardboard.dm
  code/procs/helpers.dm
Labels: size/S

#19986 fix plant attackby kill message
  code/obj/machinery/plantpot.dm
Labels: C-Bug, P-Trivial, size/XS, A-Game-Objects

#19984 Fix Clarion and Kondaru non-perspective post doors
  maps/clarion.dmm
  maps/kondaru.dmm
Labels: C-Bug, A-Mapping, size/S

#20004 Pre-stocked, organized supply carts
  code/obj/storage/carts.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/destiny.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/manta.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/ozymandias.dmm
  maps/wrestlemap.dmm
Labels: A-Mapping, C-QoL, size/XXL, A-Game-Objects

#20008 Fix more critter arms damaging borgs.
  code/datums/limb.dm
  code/modules/antagonists/wraith/critters/skeleton_commander.dm
Labels: C-Balance, size/XS, A-Critters

#19855 fixes jumpy misfire bug
  code/modules/medical/genetics/bioEffects/powers.dm
Labels: C-Bug, size/M, A-Player-Actions

#20014 Don't repeat zongzi unwrap message
  code/modules/food_and_drink/snacks.dm
Labels: C-Bug, size/XS, A-Game-Objects

#20013 Provide user feedback when attempting to cut leg holes in port-a-sci
  code/obj/storage/large_storage_parent.dm
Labels: C-Bug, size/XS, A-Game-Objects

#20020 Fix artifact pitchers using reagent overlays
  code/obj/artifacts/artifact_items/pitcher.dm
Labels: C-Bug, size/XS, A-Game-Objects

#20033 First aid kits use can_hold to hold pill bottles
  code/modules/robotics/bot/medbot.dm
  code/obj/item/storage/med_chem.dm
Labels: C-Bug, size/S, A-Game-Objects

#20024 Changes the direction of certain noticeboards where applicable
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
Labels: A-Mapping, size/M

#20037 Fix first aid kits only accepting pill bottles
  code/obj/item/storage/med_chem.dm
Labels: C-Bug, size/XS, A-Game-Objects

#20034 Move poltergeist.dm to code/mob/living/intangible/wraith
  code/mob/living/intangible/wraith/poltergeist.dm
  goonstation.dme
Labels: C-Code-Quality, size/XS, A-Internal

#20023 Ant-proofs chairs and racks
  code/modules/chemistry/tools/food_and_drink.dm
Labels: C-Bug, size/XS, A-Catering

#19985 Add landing pad to Kondaru listening post
  maps/kondaru.dmm
Labels: A-Mapping, C-QoL, size/M

#19775 Cog2 Ranch expansion
  maps/cogmap2.dmm
Labels: C-Feature, A-Mapping, size/XL

#19661 Swap Kondaru AI upload and Book Nook
  maps/kondaru.dmm
Labels: A-Mapping, C-Balance, size/XXL, S-Ready-For-Final-Review

#20002 Adds HoP's Bill, RD's Diploma and MD's Medical License to all maps currently in rotation
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, size/M

#19963 Adds a new 5x3 Random Room featuring some very hungry plushies
  assets/maps/random_rooms/5x3/plushcult_40.dmm
Labels: C-Feature, A-Mapping, size/L

#19587 Cogmap2 bathroom expansion
  maps/cogmap2.dmm
Labels: C-Feature, A-Mapping, E-Add-To-Wiki, size/XXL

#20054 Slight documentation addition, proc name change for code clarity
  code/datums/actions/actions.dm
Labels: size/XS

#20058 Terrainify Re-Entry
  code/modules/admin/terrainify.dm
  code/modules/worldgen/mapgen/JungleGenerator.dm
  code/modules/worldgen/prefab/mining/planet.dm
Labels: size/L

#20053 Adds a pint glass to bartending glassware
  code/modules/chemistry/tools/food_and_drink.dm
  code/obj/machinery/glass_recycler.dm
  icons/obj/foodNdrink/bartending_glassware.dmi
Labels: C-Feature, C-Sprites, size/S, A-Game-Objects, A-Catering

#19871 Fix RP players cloneable after respawning
  code/obj/machinery/computer/cloning.dm
Labels: C-Bug, size/XS, A-RP, A-Respawning

#20056 Fix old newspaper set not giving correct amount of newspapers
  code/modules/economy/supply_packs.dm
Labels: C-Bug, size/XS, A-Game-Objects

#20052 Fixes cyborgs from stutter when closed in a door.
  code/mob/living.dm
Labels: C-Bug, size/XS, A-Silicons

#19982 Refactored PTL process block and removed mult adjustments from load.
  code/modules/power/pt_laser.dm
Labels: C-Bug, size/M, A-Station-Systems

#19594 Syndicate scuttlebot now works with inspector medal reskin
  code/mob/living/critter/scuttlebot.dm
  code/modules/medals/rewardsLocker.dm
  code/obj/item/clothing/glasses.dm
  code/obj/item/clothing/hats.dm
Labels: C-Bug, C-Code-Quality, size/M, A-Game-Objects

#20071 Place MechComps to turf and snap them to a neat grid
  code/modules/mechanics/MechanicMadness.dm
  code/obj/item.dm
Labels: C-QoL, size/S, A-Game-Objects

#19799 Orderable clothing restocks
  code/modules/economy/supply_packs.dm
  code/obj/item/vending_restock.dm
Labels: C-Feature, S-Stale, E-Add-To-Wiki, size/M, A-Clothing

#18570 Animal Genetics
  code/WorkInProgress/KatzStuff.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/mob.dm
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/mob/living/critter.dm
  code/mob/living/critter/big_animal.dm
  code/mob/living/critter/firefly.dm
  code/mob/living/critter/small_animal.dm
  code/modules/medical/genetics/baseBioeffect.dm
  code/modules/medical/genetics/bioEffects/beneficial.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/medical/genetics/bioHolder.dm
  code/modules/medical/genetics/geneticsMachines.dm
  code/modules/medical/genetics/geneticsResearch.dm
  code/modules/medical/genetics/geneticsScanner.dm
  code/modules/medical/genetics/portagene.dm
  code/obj/item/pet_carrier.dm
  code/procs/scanprocs.dm
Labels: C-Feature, A-Secret, C-Balance, S-Stale, size/XL, A-Science, A-Critters

#19063 Bleeding Revamp
  code/mob/living/life/blood.dm
  code/mob/melee_attack_procs.dm
  code/modules/medical/blood_system.dm
  code/modules/projectiles/bullet.dm
Labels: C-Balance, E-Input-Wanted, size/L, A-Medical, S-Testmerged

#19847 Glass tile stuff
  code/turf/floors.dm
  icons/turf/floors.dmi
  icons/turf/glass_floors/cyan_glass_floor_auto.dmi
  icons/turf/glass_floors/grey_glass_floor_auto.dmi
  icons/turf/glass_floors/indigo_glass_floor_auto.dmi
  icons/turf/glass_floors/purple_glass_floor_auto.dmi
  icons/turf/glass_floors/red_glass_floor_auto.dmi
Labels: C-Sprites, size/L, A-Game-Objects

#20067 Changes the graphite hardening compound recipe
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: C-Balance, C-QoL, E-Add-To-Wiki, A-Chemistry

#20096 sea elevator tech storage board 2
  code/obj/machinery/computer/buildandrepair.dm
  code/obj/machinery/computer/shuttle.dm
  code/obj/rack.dm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/S, A-Game-Objects, A-Station-Systems

#20086 Adds TTX to the bad stuff in artifacts and pills
  code/obj/artifacts/artifact_objects/bombs.dm
  code/obj/artifacts/artifact_objects/injector.dm
  strings/chemistry_tools.txt
Labels: C-Feature, size/XS, A-Science

#19759 Door button mapping helpers
  .github/MAP_GUIDELINES.md
  code/modules/mapping/helpers/button_helpers.dm
  goonstation.dme
  icons/map-editing/airlocks.dmi
Labels: A-Mapping, C-Sprites, A-Tooling, S-Merge-Conflict, size/M, C-Documentation

#20111 Fix syndicate scuttlebot deleting items
  code/obj/item/clothing/glasses.dm
Labels: C-Bug, size/XS, A-Game-Objects

#20043 Re-locates most contraband lockers
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
Labels: A-Mapping, C-Balance, C-QoL, size/L

#20110 Moved spatial tear to plane layer above lighting
  code/modules/events/spatial_tear.dm
Labels: C-Bug, size/XS, A-Events

#20136 Add Brick suicide
  code/obj/item/misc_junk.dm
Labels: C-Feature, size/M, A-Game-Objects

#20125 Give NT specialist jobs special PDAs
  code/datums/jobs.dm
  code/obj/item/device/pda2/pda2.dm
Labels: C-QoL, size/S, A-Game-Objects

#20137 Fix incorrect nadir freezer tile
  maps/nadir.dmm
Labels: A-Mapping, size/XS

#20138 Fix typo in Brick Suicide text
  code/obj/item/misc_junk.dm
Labels: C-Bug, C-Feature, size/XS, A-Player-Actions

#20131 Adds welded sheet masks as a craftable item
  code/modules/overlays/OverlayManager.dm
  code/obj/item/building_materials.dm
  code/obj/item/clothing/masks.dm
  icons/effects/overlays/weldingmask.dmi
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/item_masks.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/M, A-Clothing

#20104 Common criteria for ejecting occupants from machines
  code/modules/medical/genetics/geneticsScanner.dm
  code/obj/machinery.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/porters.dm
  code/obj/machinery/sleeper.dm
Labels: C-Bug, size/S, A-Player-Actions, A-Game-Objects
