Repository goonstation/goonstation, pull requests merged in 2024-06, with the labels that each got.

#19234 Remove /datum/lifeprocess/viruses
  code/datums/disease.dm
  code/mob/living.dm
  code/mob/living/carbon/human/gimmick.dm
  code/mob/living/critter/aberration.dm
  code/mob/living/critter/firefly.dm
  code/mob/living/critter/mob_bots.dm
  code/mob/living/critter/sawfly.dm
  code/mob/living/life/Life.dm
  code/mob/living/life/viruses.dm
  code/mob/living/object.dm
  code/modules/status_system/statusEffects.dm
  goonstation.dme
Labels: C-Performance, size/M, A-Internal

#19231 Fix revheads not having a revhead arrest icon when dead
  code/mob/living/life/arrest_icon.dm
Labels: C-Bug, size/XS, A-Gamemodes

#19255 Minor optimization for /datum/lifeprocess/chems
  code/mob/living/life/chems.dm
Labels: C-Performance, size/XS, A-Internal

#19264 Fix usage of map collections function, mostly in Filterrific UI
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui-panel/chat/selectors.js
  tgui/packages/tgui/interfaces/Filteriffic.js
Labels: C-Bug, A-UI, size/S

#19256 Minor optimizations for /datum/lifeprocess/blood
  code/mob/living/carbon/human.dm
  code/mob/living/life/blood.dm
Labels: C-Performance, size/L, A-Internal

#19278 Ports ChemRequestReceiver interface to TS, improves data safety
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/ChemRequestReceiver.js
  tgui/packages/tgui/interfaces/ChemRequestReceiver/index.tsx
  tgui/packages/tgui/interfaces/ChemRequestReceiver/type.ts
Labels: C-Bug, A-UI, size/L

#19269 Fix deleting prints with blueprints of that instance in progress bluescreening manufacturers
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Manufacturer/index.tsx
Labels: C-Bug, S-Merge-Conflict, A-UI, size/S

#19173 Fix vampire bat sprinting
  code/mob/living.dm
  code/mob/special_sprint.dm
Labels: C-Bug, C-Code-Quality, size/M

#19124 Refactors the transparium reagent and makes its duration visible
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/status_system/statusEffects.dm
Labels: C-Code-Quality, A-Secret, C-QoL, E-Add-To-Wiki, size/L, A-Internal

#19280 Makes chem request and request receiver consoles constructable
  code/modules/chemistry/chem_requester.dm
  code/obj/machinery/computer/buildandrepair.dm
  code/obj/rack.dm
Labels: C-Bug, C-Feature, E-Add-To-Wiki, size/S, A-Game-Objects

#19281 Improves addiction backend
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-Misc.dm
Labels: C-Code-Quality, size/M, A-Internal

#19000 Reduce heat bleed of Clarion's Toxins burn chamber
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/XL

#19286 Fix name casing for circuit boards and their associated computers
  code/WorkInProgress/nadir_antenna.dm
  code/modules/chemistry/chem_requester.dm
  code/modules/economy/stocks/stock_machine.dm
  code/modules/power/monitor.dm
  code/modules/siphon/siphon_controls.dm
  code/obj/machinery/computer.dm
  code/obj/machinery/computer/QM_order.dm
  code/obj/machinery/computer/QM_supply.dm
  code/obj/machinery/computer/announcement.dm
  code/obj/machinery/computer/atmosphere.dm
  code/obj/machinery/computer/buildandrepair.dm
  code/obj/machinery/computer/card.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/computer/communications.dm
  code/obj/machinery/computer/operating.dm
  code/obj/machinery/computer/pod.dm
  code/obj/machinery/computer/robotics.dm
  code/obj/machinery/computer/secure_data.dm
  code/obj/machinery/computer/security.dm
  code/obj/machinery/computer/teleporter.dm
  code/obj/machinery/computer/tetris/tetris.dm
  code/obj/machinery/launcherloader.dm
Labels: C-Code-Quality, size/L, A-Game-Objects

#19291 Add shirley temple as a non-alocholic beverage.
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: C-Feature, E-Add-To-Wiki, size/S, A-Chemistry

#19265 Moves freezer pipes around a bit on cog1.
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/XL

#19295 Fix bathroom door locks on Atlas
  maps/atlas.dmm
Labels: C-Bug, A-Mapping, size/S

#19297 Fix preassembled pod kit using wrong sound effects in construction
  code/modules/transport/pods/preassembled_frame_kit.dm
Labels: C-Bug, C-Sound, size/XS, A-Game-Objects

#19245 Remove /datum/lifeprocess/arrest_icon
  _std/defines/security.dm
  code/WorkInProgress/zamu_mail.dm
  code/datums/components/contraband.dm
  code/datums/datacore.dm
  code/datums/mind.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/life/Life.dm
  code/mob/living/life/arrest_icon.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/networks/computer3/sec_rec.dm
  code/modules/robotics/bot/secbot.dm
  code/obj/item/book.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/device/scanners.dm
  code/obj/item/implant.dm
  code/obj/machinery/computer/secure_data.dm
  code/obj/machinery/floorflusher.dm
  code/obj/machinery/secscanner.dm
  goonstation.dme
Labels: C-Performance, C-Balance, size/L, A-Internal

#19093 Replace power monitor computer on Clarion with one that works
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/M, A-Game-Objects

#18206 Port and implement RestrictedInput TGUI component from upstream
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/components/RestrictedInput.js
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
Labels: S-Merge-Conflict, E-Certified-Organic, A-UI, size/L

#19315 fix weightedprob
  code/procs/helpers.dm
Labels: C-Bug, size/XS, A-Internal

#19317 Remove stray pixels from Red Cola Machine
  icons/obj/vending.dmi
Labels: C-Bug, C-Sprites, size/XS

#19308 Switch manufacturers to storing bank records for scanned cards instead of references to the ID card itself
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/manufacturer.dm
  tgui/packages/tgui/interfaces/Manufacturer/components/CardInfo.tsx
  tgui/packages/tgui/interfaces/Manufacturer/index.tsx
  tgui/packages/tgui/interfaces/Manufacturer/type.ts
Labels: A-UI, size/M, A-Internal

#19313 Adds minimum addictive doses to 4 reagents
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: size/XS

#19318 Teas no longer inherently addictive
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: size/XS, A-Chemistry

#19327 Fix wraith fast movement and invincibility
  code/mob/living/intangible.dm
  code/mob/living/life/Life.dm
Labels: C-Bug, size/XS, A-Gamemodes

#19304 adds mobile cameras to telesci on cog1
  maps/cogmap.dmm
Labels: A-Mapping, size/XS

#19337 Some more goofy fishing locations
  code/modules/fishing/fish.dm
  code/modules/fishing/fishing_spots.dm
Labels: C-Feature, size/M, A-Game-Objects, A-Catering

#19346 Fix no chairs for "Party Animal" check
  code/procs/jobprocs.dm
Labels: C-Bug, size/XS, A-Internal

#19342 Fix blob Repair ability being cast on full health tiles
  code/modules/antagonists/blob/abilities/blob_abilities.dm
Labels: C-Bug, C-QoL, size/XS, A-Gamemodes

#19175 Add "Mail Courier" to the civilian department at roundstart
  code/datums/jobs.dm
Labels: C-QoL, size/M, A-Respawning

#19345 Adds a missing ranch access to the window of Cog1 Ranch
  maps/cogmap.dmm
Labels: A-Mapping, size/XS

#19314 Fish oil pyrolysis as an oil source and increase in fish oil avaiability
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/fishing/fish.dm
Labels: C-Feature, C-Balance, E-Add-To-Wiki, size/S, A-Chemistry, A-Catering, S-Ready-For-Final-Review

#19348 fix parasites and non-specified diseases not progressing
  code/datums/disease.dm
Labels: C-Bug, size/XS, A-Medical

#19249 Offline indicators, version 2
  code/mob.dm
  code/mob/living.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/mob/living/critter/scuttlebot.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_holder.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/toggles.dm
  code/obj/item/clothing/glasses.dm
  code/procs/mobprocs/offline_indicator.dm
  goonstation.dme
  icons/mob/overhead_icons32x48.dmi
Labels: C-Sprites, C-QoL, A-UI, size/L

#19248 Reshuffle oshan engineering lights
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/M

#19328 Rebalance addiction probabilities for benign chems
  code/modules/chemistry/Reagents-Base.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-Misc.dm
Labels: C-Balance, size/M, A-Medical, A-Chemistry, A-Catering

#19355 Parity for Oshan's derelict station n2o
  maps/oshan.dmm
Labels: A-Mapping, size/XS

#19359 Fix purple beanie sprite/description
  code/obj/item/clothing/hats.dm
  icons/mob/clothing/head.dmi
Labels: C-Bug, C-Sprites, size/XS

#19152 Adds overall health pip to health monitor implants
  code/datums/hud/human.dm
  icons/mob/hud_human.dmi
  icons/mob/hud_human_classic.dmi
  icons/mob/hud_human_new.dmi
  icons/mob/hud_human_quilty.dmi
  icons/mob/hud_human_vapor.dmi
Labels: C-Feature, C-Sprites, A-UI, size/M

#19282 Warns players when they're eligible for addiction
  code/modules/chemistry/Chemistry-Reagents.dm
Labels: C-QoL, size/XS, A-Medical, A-Chemistry

#18880 Remove Secbots from robotics cargo crates
  code/modules/economy/supply_packs.dm
Labels: C-Balance, C-Removal, E-Add-To-Wiki, size/XS, A-Game-Objects, S-Testmerged

#19183 Parallax Code Cleanup
  _std/defines/component_defines/component_defines_special.dm
  code/client.dm
  code/mob.dm
  code/modules/parallax/parallax_controller.dm
Labels: C-Code-Quality, size/L, A-Internal, S-Testmerged

#19357 Update comments in jobs.dm to reflect wiki changes
  code/datums/jobs.dm
Labels: size/S, A-Internal

#19374 Adds action bar to loosening/tightening player piano castors
  code/modules/items/instruments/playable_piano.dm
Labels: C-QoL, size/S, A-Player-Actions

#19370 Remove duplicate IR detector in mushroom AI upload
  maps/unused/mushroom_new_walls.dmm
Labels: C-Bug, A-Mapping, size/XS

#19369 Fix pod lock menu not working
  code/modules/transport/pods/secondary_system.dm
Labels: C-Bug, A-UI, size/S

#19361 Rework Cross Server Sync to rely on Rust-G rather than World.Export
  code/WorkInProgress/zamujasa.dm
  code/datums/controllers/process/cross_server_sync.dm
  code/modules/cross_server/cross_server_messages/server_sync/server_sync_request.dm
  code/modules/cross_server/cross_server_messages/server_sync/server_sync_response.dm
  code/modules/cross_server/game_servers.dm
  goonstation.dme
Labels: C-Bug, size/M, A-Internal

#19347 cell chargers actually show the appropriate cell
  code/obj/machinery/cell_charger.dm
  icons/obj/power.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#19371 Allow ticket/fine creation to be cancelled
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/item/device/scanners.dm
Labels: C-QoL, A-UI, size/S

#19293 Pineapple slices can be used as a drink wedge
  code/modules/chemistry/tools/food_and_drink.dm
  icons/obj/foodNdrink/drinks.dmi
Labels: C-Feature, C-Sprites, size/XS, A-Game-Objects

#19320 Match name/handling of several mechcomp icon states w/ the rest
  code/modules/mechanics/MechanicMadness.dm
  icons/misc/mechanicsExpansion.dmi
Labels: C-Bug, C-Sprites, size/S

#18873 Add a bit more time for comm dish detection for comms console
  code/modules/networks/computer3/communication.dm
Labels: C-QoL, S-Stale, size/S, A-Game-Objects

#19212 Swaps position of chem heater and chem dispenser in Atlas bar
  maps/atlas.dmm
Labels: A-Mapping, C-Rework, size/S

#19192 Kondaru Catering Tweaks
  maps/kondaru.dmm
Labels: A-Mapping, C-QoL, size/XL

#19364 Increase sale price of identified artifacts
  code/modules/economy/shippingmarket.dm
Labels: C-Balance, size/XS

#19341 Make blob player left clicks automatically cast the spread ability
  code/mob/living/intangible/blob_overmind.dm
Labels: C-Feature, C-QoL, E-Add-To-Wiki, size/XS, A-Gamemodes, A-Player-Actions

#19339 Let people eat sponge capsules and then drink water to activate them
  code/mob.dm
  code/modules/chemistry/Reagents-Base.dm
  code/obj/item.dm
  code/obj/item/sponge_capsule.dm
Labels: C-Feature, size/L, A-Game-Objects

#19325 Clown announcement computer
  code/obj/machinery/computer/announcement.dm
  code/obj/machinery/computer/buildandrepair.dm
  icons/obj/computer.dmi
  maps/clarion.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  sound/misc/announcement_clown.ogg
Labels: C-Feature, A-Mapping, C-Sprites, C-Sound, size/L, A-Game-Objects

#19380 Reduce number of blood bags in blood bank supply pack
  code/modules/economy/supply_packs.dm
Labels: C-Balance, size/XS, A-Medical

#19391 Slightly more mail arrives when a mail courier is assigned to the station
  code/modules/economy/shippingmarket.dm
Labels: C-Feature, size/S

#19396 Clown announcement sound nerf
  code/obj/machinery/computer/announcement.dm
  sound/misc/announcement_clown.ogg
Labels: C-Sound, size/XS

#18927 Remove some Kondaru maint cams
  maps/kondaru.dmm
Labels: A-Mapping, size/M, S-Ready-For-Final-Review

#19132 Adds two new Sechud flags: Detain and Suspect.
  _std/defines/security.dm
  code/mob/living/carbon/human.dm
  code/modules/networks/computer3/sec_rec.dm
  code/obj/item/device/scanners.dm
  code/obj/machinery/computer/secure_data.dm
  code/obj/machinery/floorflusher.dm
  icons/effects/sechud.dmi
  icons/ui/context16x16.dmi
Labels: C-Sprites, C-QoL, E-Add-To-Wiki, size/M, A-Station-Systems

#19253 Adds help message to AI core
  code/mob/living/silicon/ai.dm
Labels: C-QoL, A-UI, size/S

#19421 Use defines for changeling summon costs
  _std/defines/antagonists.dm
  code/mob/living/critter/changeling_critters.dm
  code/modules/antagonists/changeling/abilities/hivemind.dm
Labels: C-Bug, size/S, A-Gamemodes

#19373 give atlas a aux lab table
  maps/atlas.dmm
Labels: C-Bug, A-Mapping, size/M

#19409 Fix duplicate hot loop pump name on Cogmap 1
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/XS, A-Game-Objects

#19429 Bugfix flockheart inhand sprite
  icons/mob/inhand/hand_medical.dmi
Labels: C-Bug, C-Sprites, size/XS

#19415 Move guardbuddy speech lines to text file
  code/modules/robotics/bot/guardbot.dm
  strings/buddy_phrases.txt
Labels: C-Code-Quality, size/M, A-Internal, S-Ready-For-Final-Review

#19284 Alcohol Resistance also grants resistance to ethanol addiction
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/chemistry/Reagents-Base.dm
Labels: C-Feature, size/S, A-Medical, A-Chemistry, A-Catering, A-Traits

#19428 Removes stray pixels from bite mask
  icons/obj/foodNdrink/food.dmi
Labels: C-Bug, C-Sprites, size/XS

#19166 Implement smooth scrolling polyfill in QM console
  code/obj/machinery/computer/QM_order.dm
  code/obj/machinery/computer/QM_supply.dm
Labels: C-Sprites, A-Tooling, A-UI, size/M

#19144 Refactor job definitions & remove redundancy
  code/datums/jobs.dm
Labels: C-Code-Quality, S-Merge-Conflict, size/XL, A-Internal, A-Respawning

#19274 Remove bullet "hit by" messages
  code/mob.dm
  code/mob/living.dm
  code/mob/living/intangible/wraith.dm
  code/mob/living/object.dm
  code/modules/projectiles/projectile_parent.dm
  code/obj/machinery/law_racks.dm
Labels: C-Performance, C-QoL, C-Removal, size/S

#19110 Makes donator figurines prioritize players
  code/client.dm
  code/global.dm
  code/modules/items/gimmick/figurine.dm
Labels: C-QoL, size/M, A-Game-Objects

#19386 Move Clarion ghostdrone factory so funeral driver clears it
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/XL

#19413 Major changes to cloth rag chokehold behavior
  code/obj/item/cloths.dm
  code/obj/item/grab.dm
Labels: C-Balance, size/M, A-Chemistry

#19174 Adds Speech Pro to loot tables
  code/obj/item/gift.dm
  code/obj/storage/loot_crates.dm
  code/procs/jobprocs.dm
Labels: C-QoL, size/XS, A-Game-Objects, S-Ready-For-Final-Review

#19442 Allow speech pro to be used as an item arm
  code/modules/interface/multiContext/context_actions.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19445 Fix broken random job appearing
  code/datums/jobs.dm
Labels: C-Bug, size/XS, A-Internal

#19443 Standardize nuclear engine starter material crate
  assets/maps/engine_rooms/cogmap/nuclear_100.dmm
  code/obj/storage/secure_crates.dm
  maps/clarion.dmm
  maps/nadir.dmm
Labels: A-Mapping, C-QoL, size/M, A-Game-Objects

#19455 FIX: Improper ordering of parent call and requirement generation for mechanics blueprints
  code/datums/manufacturing.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19457 manufacturer now prints chembarrels properly
  code/datums/manufacturing.dm
Labels: C-Bug, size/XS

#19301 Revamp manufacturer material checking algorithm & Introduce a few more null checks into manufacturer UI
  browserassets/tgui/tgui.bundle.js
  code/datums/manufacturing.dm
  code/obj/item.dm
  code/obj/machinery/manufacturer.dm
  tgui/packages/tgui/interfaces/Manufacturer/components/BlueprintButton.tsx
  tgui/packages/tgui/interfaces/Manufacturer/components/ButtonWithBadge.tsx
  tgui/packages/tgui/interfaces/Manufacturer/components/CollapsibleWireMenu.tsx
  tgui/packages/tgui/interfaces/Manufacturer/index.tsx
Labels: A-UI, size/L, A-Internal

#18889 Wraith refinements: Trickster
  code/datums/abilities/ability_parent.dm
  code/mob/living/intangible/wraith.dm
  code/modules/antagonists/wraith/abilties/_wraith_ability_holder.dm
  code/modules/antagonists/wraith/abilties/haunt.dm
  code/modules/antagonists/wraith/abilties/spook.dm
  code/modules/antagonists/wraith/abilties/trickster/choose_haunt_appearance.dm
  code/modules/antagonists/wraith/abilties/trickster/dread.dm
  code/modules/antagonists/wraith/abilties/trickster/fake_sound.dm
  code/modules/antagonists/wraith/abilties/trickster/hallucinate.dm
  code/modules/antagonists/wraith/abilties/trickster/lay_trap.dm
  code/modules/antagonists/wraith/abilties/trickster/make_poltergeist.dm
  code/modules/antagonists/wraith/abilties/trickster/mass_whisper.dm
  code/modules/antagonists/wraith/abilties/trickster/possess.dm
  code/modules/antagonists/wraith/critters/trickster_puppet.dm
  code/modules/antagonists/wraith/objs/machinery/runetrap.dm
  icons/mob/wraith_ui.dmi
Labels: C-Sprites, C-Code-Quality, C-QoL, size/XL, A-Internal

#19463 Fix material application for manufacturers
  code/obj/machinery/manufacturer.dm
Labels: C-Bug, size/S, A-Internal

#19224 HTML_Encode fix for character flavor texts
  code/datums/preferences/preferences.dm
Labels: C-Feature, P-Trivial, A-UI, size/XS

#19423 The Authentication Disk can be used to alter the escape shuttle depature time
  code/modules/networks/computer3/disks.dm
  code/obj/machinery/computer/shuttle.dm
Labels: C-Rework, E-Add-To-Wiki, size/M, A-Game-Objects

#19487 Clown announcement tweak
  code/obj/machinery/computer/announcement.dm
Labels: C-Feature, size/XS

#19449 stop a proc from updating a mob's scream if there's one there
  code/modules/medical/genetics/bioHolder.dm
Labels: C-Bug, size/XS, A-Player-Actions

#19478 fix kondaru diplo quarters bolter
  maps/kondaru.dmm
Labels: C-Bug, A-Mapping, size/XS

#19492 Printing press stops you from inserting paper with stuff on it
  code/obj/machinery/printing_press.dm
Labels: C-QoL, size/XS, A-Game-Objects

#19494 Fix racks turning invisible after explosion
  code/obj/rack.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19493 Fix genebooth still opening menu when depowered
  code/modules/interface/multiContext/context_actions.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19484 tgui: ie11 only + esbuild
  browserassets/tgui/tgui-panel.bundle.css
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  browserassets/tgui/tgui.html
  tgui/.eslintrc.yml
  tgui/global.d.ts
  tgui/package.json
  tgui/packages/tgui-panel/Panel.js
  tgui/packages/tgui-panel/audio/player.js
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-polyfill/1-misc.js
  tgui/packages/tgui-polyfill/css-om.js
  tgui/packages/tgui-polyfill/dom4.js
  tgui/packages/tgui-polyfill/html5shiv.js
  tgui/packages/tgui-polyfill/ie8.js
  tgui/packages/tgui-polyfill/index.js
  tgui/packages/tgui/components/AnimatedNumber.tsx
  tgui/packages/tgui/components/Box.tsx
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/components/ByondUi.js
  tgui/packages/tgui/components/Chart.tsx
  tgui/packages/tgui/components/DraggableControl.js
  tgui/packages/tgui/components/FitText.tsx
  tgui/packages/tgui/components/Flex.tsx
  tgui/packages/tgui/components/Knob.js
  tgui/packages/tgui/components/NumberInput.js
  tgui/packages/tgui/components/RestrictedInput.js
  tgui/packages/tgui/components/RoundGauge.js
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/components/Slider.js
  tgui/packages/tgui/interfaces/BugReportForm.js
  tgui/packages/tgui/interfaces/ClothingBooth/index.tsx
  tgui/packages/tgui/interfaces/NuclearReactor.js
  tgui/packages/tgui/interfaces/TeleConsole/BookmarksSection.tsx
  tgui/packages/tgui/interfaces/common/ReagentInfo.tsx
  tgui/packages/tgui/layouts/NtosWindow.js
  tgui/packages/tgui/layouts/Window.js
  tgui/packages/tgui/styles/themes/partial/_genetek.scss
  tgui/tsconfig.json
  tgui/webpack.config.js
  tgui/yarn.lock
Labels: C-Performance, C-Code-Quality, A-UI, size/XXL, A-Internal

#19502 Revert "tgui: ie11 only + esbuild"
  browserassets/tgui/tgui-panel.bundle.css
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  browserassets/tgui/tgui.html
  tgui/.eslintrc.yml
  tgui/global.d.ts
  tgui/package.json
  tgui/packages/tgui-panel/Panel.js
  tgui/packages/tgui-panel/audio/player.js
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-polyfill/1-misc.js
  tgui/packages/tgui-polyfill/css-om.js
  tgui/packages/tgui-polyfill/dom4.js
  tgui/packages/tgui-polyfill/html5shiv.js
  tgui/packages/tgui-polyfill/ie8.js
  tgui/packages/tgui-polyfill/index.js
  tgui/packages/tgui/components/AnimatedNumber.tsx
  tgui/packages/tgui/components/Box.tsx
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/components/ByondUi.js
  tgui/packages/tgui/components/Chart.tsx
  tgui/packages/tgui/components/DraggableControl.js
  tgui/packages/tgui/components/FitText.tsx
  tgui/packages/tgui/components/Flex.tsx
  tgui/packages/tgui/components/Knob.js
  tgui/packages/tgui/components/NumberInput.js
  tgui/packages/tgui/components/RestrictedInput.js
  tgui/packages/tgui/components/RoundGauge.js
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/components/Slider.js
  tgui/packages/tgui/interfaces/BugReportForm.js
  tgui/packages/tgui/interfaces/ClothingBooth/index.tsx
  tgui/packages/tgui/interfaces/NuclearReactor.js
  tgui/packages/tgui/interfaces/TeleConsole/BookmarksSection.tsx
  tgui/packages/tgui/interfaces/common/ReagentInfo.tsx
  tgui/packages/tgui/layouts/NtosWindow.js
  tgui/packages/tgui/layouts/Window.js
  tgui/packages/tgui/styles/themes/partial/_genetek.scss
  tgui/tsconfig.json
  tgui/webpack.config.js
  tgui/yarn.lock
Labels: A-UI, size/XXL

#19503 Remove Player Selected Traits from Salvagers
  code/datums/traits.dm
  code/modules/antagonists/salvager/salvager.dm
Labels: C-Balance, size/M, A-Gamemodes, A-Traits

#19518 Fix det_net breaking after using scuttlebot
  code/datums/abilities/critter/scuttlebot.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19117 Critter emote maptext
  code/mob/living/critter.dm
Labels: C-Feature, S-Stale, size/M, A-Player-Actions, A-Critters

#19525 Makes traitor bowling balls able to bowl multiple people over in a row
  code/atom/throwing.dm
  code/datums/controllers/throwing_controls.dm
  code/obj/item/bowling.dm
Labels: C-Feature, C-Balance, size/S, A-Gamemodes

#19519 Fix typo in access lite description
  code/obj/item/device/accessgun.dm
Labels: C-Bug, A-UI, size/XS

#19526 Corrects name on Pod Wars Blaster Shotgun
  code/datums/gamemodes/pod_wars/pw_weapons.dm
Labels: size/XS

#19521 Buffs the bowling kit
  code/datums/syndicate_buylist.dm
  code/obj/item/bowling.dm
Labels: C-Balance, size/S, A-Game-Objects

#19527 Fix plasma requirements
  code/datums/manufacturing_requirements.dm
Labels: C-Bug, size/XS

#19481 Return of "OH SHIT, ANTS!!!!!!"
  code/modules/chemistry/Reagents-Misc.dm
Labels: C-Feature, size/XS, A-Chemistry

#19533 Remove accidental door bolter from Atlas Brig
  maps/atlas.dmm
Labels: C-Bug, A-Mapping, size/XS

#19513 fix up the VR racing gokarts
  code/WorkInProgress/racing.dm
  icons/misc/racing.dmi
Labels: C-Sprites, C-QoL, size/L, A-Game-Objects

#19476 Transition from Byond to Goonhub for medals
  code/mob.dm
  code/modules/admin/randomverbs.dm
  code/modules/goonhub/api/models/medals/HasMedalResource.dm
  code/modules/goonhub/api/models/medals/MedalResource.dm
  code/modules/goonhub/api/requests/players/medals/TransferPlayerMedalsBody.dm
  code/modules/goonhub/api/routes/players/medals/HasPlayerMedal.dm
  code/modules/goonhub/api/routes/players/medals/ShowPlayerMedal.dm
  code/modules/goonhub/api/routes/players/medals/TransferPlayerMedals.dm
  code/player.dm
  goonstation.dme
Labels: C-Bug, E-DNM, C-Performance, C-Rework, size/L, A-API

#19424 Reagent Overlay Components
  _std/defines/chemistry.dm
  code/datums/components/reagent_overlay.dm
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/tools/beakers.dm
  code/modules/medals/rewardsLocker.dm
  code/obj/item/hydroponics.dm
  goonstation.dme
  icons/misc/janstuff.dmi
Labels: C-Sprites, C-Code-Quality, size/L, A-Chemistry, A-Internal

#19528 Trait Icon Resprite
  code/datums/traits.dm
  icons/ui/traits.dmi
Labels: C-Sprites, A-UI, size/M, A-Traits, S-Ready-For-Final-Review

#19536 Fix foil StG cards losing prefix on flipping
  code/obj/item/playing_cards.dm
Labels: C-Bug, A-UI, size/XS, A-Game-Objects

#19506 give VR sleepers the enter/exit noise + clickdrag to put yourself in
  code/WorkInProgress/simroom.dm
Labels: C-QoL, size/XS, A-Game-Objects

#19508 Fix (seemingly) forced middle names in character creation
  code/datums/preferences/preferences.dm
Labels: C-Bug, C-QoL, size/XS

#19539 New pronoun proc + pronoun fixes for juggling
  code/mob/living/carbon/human.dm
  code/procs/mob_procs.dm
Labels: C-QoL, A-UI, size/XS

#19451 Remove basketball bounce sound from thrown mail packages
  code/WorkInProgress/zamu_mail.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19426 Add 1TC version of wiretap that only gives access to syndicate channel
  code/datums/syndicate_buylist.dm
Labels: C-Feature, E-Add-To-Wiki, size/XS, A-Game-Objects, S-Ready-For-Final-Review

#19105 Standardize a few security things
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, E-Add-To-Wiki, size/L

#19507 fix blast doors in Oshan science outpost's test chamber
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/S

#19398 Add escape pods to Clarion
  code/obj/railing.dm
  maps/clarion.dmm
Labels: C-Feature, A-Mapping, size/XXL

#19529 Buttes Motel room locks
  maps/z3.dmm
Labels: C-Feature, A-Mapping, size/M

#19467 Makes poor hygiene less vile
  code/modules/medical/genetics/bioEffects/non_genetic.dm
  code/procs/gamehelpers.dm
Labels: C-Rework, size/M, A-RP

#19551 Resprites Holy Water Bottles
  code/modules/chemistry/tools/bottles.dm
  icons/obj/chemical.dmi
  icons/obj/items/chemistry_glassware.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#19561 Block ants on restrict Z levels
  code/modules/chemistry/tools/food_and_drink.dm
Labels: C-Bug, A-Secret, size/XS

#19490 Separate HoS and Armory access
  _std/defines/access.dm
  code/mob/living/carbon/human/normal.dm
  code/modules/economy/supply_packs.dm
  code/modules/mapping/helpers/access_spawn.dm
  code/modules/vending/vending.dm
  code/obj/item/device/accessgun.dm
  code/obj/machinery/computer/card.dm
  code/obj/machinery/computer/security/riot.dm
  code/obj/storage/secure_crates.dm
  code/procs/access.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-Code-Quality, size/XXL, A-Internal

#19563 Fix Mail Courier civilian frequency
  code/obj/item/device/radios/headsets.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19565 Make health scanners/operating computers report synthetic organs
  code/obj/machinery/computer/operating.dm
Labels: C-QoL, size/XS, A-Medical

#19568 Give Fire Elementals a new ability that lets them create "permanent" fires that shoot embers to heal them
  code/datums/abilities/critter/self_immolate.dm
  code/mob/living/critter/arena/fire_elemental.dm
  goonstation.dme
  icons/mob/critter_ui.dmi
  icons/obj/projectiles.dmi
Labels: C-Sprites, size/L

#19540 Adds a new Sleek set of furniture!
  code/modules/economy/supply_packs.dm
  code/obj/item/table_rack_parts.dm
  code/obj/stool.dm
  code/obj/table.dm
  icons/obj/furniture/chairs.dmi
  icons/obj/furniture/table_sleek.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#19495 make tomato splats use create_reagents
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/food_and_drink/plants.dm
Labels: C-Bug, size/XS, A-Chemistry, A-Hydroponics

#19474 Try to spread nukeops spawns
  code/modules/antagonists/nuclear_operative/nuclear_operative.dm
Labels: C-Feature, size/S, A-Respawning

#19554 Packet integration for the syndicate shrub
  code/obj/decorations.dm
Labels: C-Feature, size/M, A-Game-Objects, A-Station-Systems

#19556 Resprites the Notice Board and gives it directionals
  code/obj/noticeboard.dm
  icons/obj/stationobjs.dmi
Labels: C-Sprites, size/S, A-Game-Objects, S-Ready-For-Final-Review

#18935 Resprites AI core and armoury popup turrets
  code/obj/machinery/turret.dm
  icons/obj/turrets.dmi
  icons/obj/turrets64x64.dmi
Labels: C-Sprites, S-Stale, size/M, A-Game-Objects

#19584 Revert "Resprites AI core and armoury popup turrets"
  code/obj/machinery/turret.dm
  icons/obj/turrets.dmi
  icons/obj/turrets64x64.dmi
Labels: C-Sprites, size/M

#19305 Add new vars to corpse spawners
  code/modules/mapping/helpers/mob_spawn.dm
Labels: C-QoL, size/L, A-Internal

#19581 Adds pronoun procs to several actions
  code/datums/gamemodes/pod_wars/pw_misc_objects.dm
  code/mob/living/critter/changeling_critters.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/food_and_drink/pies.dm
  code/obj/item/gun/gun_parent.dm
  code/obj/item/hydroponics.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/rcd/rcd.dm
  code/obj/item/scrapweapons.dm
  code/obj/machinery/phone/phone.dm
Labels: C-QoL, A-UI, size/M

#19580 Adds pronoun proc to stapling mask
  code/modules/medical/surgery_tools.dm
Labels: C-QoL, A-UI, size/XS

#19593 Fix a bad bracket in manufacturer.dm
  code/obj/machinery/manufacturer.dm
Labels: C-Bug, P-Trivial, size/XS

#19597 Add PDA message feedback for sold pressure crystals
  code/modules/economy/shippingmarket.dm
Labels: C-QoL, A-UI, size/XS

#19598 Geodes
  code/modules/chemistry/tools/dispensers.dm
  code/modules/mining/tile_events.dm
  code/obj/geodes.dm
  code/obj/mining.dm
  goonstation.dme
  icons/obj/geodes.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/L, A-Game-Objects

#19600 Don't send pda message on appraising pressure crystal
  code/modules/economy/shippingmarket.dm
Labels: C-Bug, A-UI, size/S

#19505 Disposal Chute Resprite
  code/modules/disposals/disposal_chute.dm
  code/modules/disposals/mail_chute.dm
  icons/obj/disposal.dmi
  icons/obj/disposal_small.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#19550 Resprites Water Cooler Bottles
  code/modules/chemistry/tools/dispensers.dm
  icons/obj/chemical.dmi
  icons/obj/items/chemistry_glassware.dmi
Labels: C-Sprites, size/M, A-Game-Objects

#19614 Only show computer disassemble help message when relevant
  code/obj/machinery/computer.dm
Labels: C-Bug, size/S, A-Game-Objects

#19606 MACHINE_PROCESSING_DEBUG typo
  code/datums/controllers/process/machines.dm
Labels: P-Trivial, size/XS, A-Internal

#19450 Adds chicken disposal chute to oshan ranch
  maps/oshan.dmm
Labels: C-Feature, A-Mapping, size/L

#19619 Fix sec camera console giving you duplicate exit buttons
  code/obj/machinery/computer/security/security_cameras_chui.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19605 Delete old webshit
  browserassets/html/browserOutput.html
  browserassets/html/quantumTelescope.htmlOLD
  browserassets/js/browserOutput.js
  browserassets/package-lock.json
  browserassets/package.json
  browserassets/vendor/css/bootstrap-responsive.min.css
  browserassets/vendor/js/anchorme.js
  browserassets/vendor/js/array.generics.min.js
  browserassets/vendor/js/howler.core.min.js
  browserassets/vendor/js/jquery.migrate.js
  browserassets/vendor/js/jsviews.min.js
  code/WorkInProgress/SpoogemonstersStuff.dm
  code/chui/theme.dm
  code/datums/browserOutput.dm
  code/datums/webelements/anchor.dm
  code/datums/webelements/button.dm
  code/datums/webelements/css.dm
  code/datums/webelements/cssinclude.dm
  code/datums/webelements/div.dm
  code/datums/webelements/doctype.dm
  code/datums/webelements/heading.dm
  code/datums/webelements/input.dm
  code/datums/webelements/kText.dm
  code/datums/webelements/label.dm
  code/datums/webelements/multiselect.dm
  code/datums/webelements/option.dm
  code/datums/webelements/page.dm
  code/datums/webelements/paragraph.dm
  code/datums/webelements/script.dm
  code/datums/webelements/scriptinclude.dm
  code/datums/webelements/select.dm
  code/datums/webelements/span.dm
  code/datums/webelements/tag.dm
  code/datums/webelements/textarea.dm
  code/datums/webelements/title.dm
  code/obj/artifacts/artifact_objects/bombs.dm
  code/obj/item/device/accessgun.dm
  code/obj/storage/crates.dm
  code/procs/helpers.dm
  code/z_dmm_suite/_preprocessor_and_utilities.dm
  goonstation.dme
  maps/utilities/devtest.dmm
Labels: C-Performance, A-Tooling, C-Code-Quality, size/XXL, A-Internal

#19331 TGUI Map Vote
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/mapSwitching.dm
  tgui/packages/tgui/interfaces/MapVote.tsx
  tgui/packages/tgui/interfaces/MapVoteReport.tsx
  tgui/packages/tgui/styles/interfaces/MapVote.scss
  tgui/packages/tgui/styles/main.scss
Labels: C-Feature, S-Merge-Conflict, A-UI, size/L, S-Testmerged
