Repository goonstation/goonstation, pull requests merged in 2024-05, with the labels that each got.

#18685 Fixes cog1 shutter blast control in kitchen
  maps/cogmap.dmm
Labels: A-Mapping, size/S

#18695 Stop old names from appearing on robotics console
  code/obj/machinery/computer/robotics.dm
Labels: C-Bug, size/XS, A-Silicons

#18698 Make unreadied players count for 1/2 a player for gamemode scaling purposes
  code/datums/gamemodes/assday_classic.dm
  code/datums/gamemodes/blob.dm
  code/datums/gamemodes/changeling.dm
  code/datums/gamemodes/conspiracy.dm
  code/datums/gamemodes/gangwar.dm
  code/datums/gamemodes/gm_parent.dm
  code/datums/gamemodes/mixed.dm
  code/datums/gamemodes/nuclear.dm
  code/datums/gamemodes/pirate.dm
  code/datums/gamemodes/revolution.dm
  code/datums/gamemodes/salvager.dm
  code/datums/gamemodes/spy.dm
  code/datums/gamemodes/spy_theft.dm
  code/datums/gamemodes/traitor.dm
  code/datums/gamemodes/wizard.dm
Labels: C-Balance, size/L, A-Gamemodes

#18688 Adds a hand tele to all the captain's office missing one.
  maps/cogmap2.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
Labels: A-Mapping, C-QoL, size/S

#18550 Move Donut3 AI Upload to Southeast hall
  maps/donut3.dmm
Labels: A-Mapping, C-Balance, size/XXL

#18705 remove double pipe on oshan
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/XS

#18692 Pizza Overhaul: Reworks, resprites, and refactors pizza entirely
  code/datums/cookingrecipes.dm
  code/datums/crew_objective.dm
  code/mob/living/critter/bee.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/economy/requisition/rc_civilian.dm
  code/modules/economy/requisition/rc_special.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/pizza.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/vending/vending.dm
  code/obj/critter/bee.dm
  code/obj/random_spawners.dm
  code/obj/submachine/cooking.dm
  goonstation.dme
  icons/obj/foodNdrink/food_bread.dmi
  icons/obj/foodNdrink/food_ingredient.dmi
  icons/obj/foodNdrink/food_meals.dmi
  maps/atlas.dmm
  maps/donut3.dmm
  maps/oshan.dmm
  maps/unused/manta.dmm
  maps/z2.dmm
  maps/z5.dmm
Labels: A-Mapping, C-Sprites, C-Code-Quality, C-Rework, size/XXL, A-Game-Objects, A-Catering

#18726 Fix Clarion robotics wall phone being inaccessible
  maps/clarion.dmm
Labels: A-Mapping, size/XS

#18729 Do not let tug carts fit in a crate
  code/obj/storage/large_storage_parent.dm
Labels: C-Bug, P-Critical, size/XS, A-Game-Objects

#18727 Remove cogmap1 extra cameras between podbay and ai
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/S

#18733 Allow partially constructed floorbot to install into engineer vaccum
  code/obj/item/tool/engivac.dm
Labels: C-Bug, C-QoL, size/XS, A-Game-Objects

#18734 Prevent ore scoop from emptying on walls or other blocked turfs
  code/obj/mining.dm
Labels: C-QoL, size/XS, A-Game-Objects

#18735 Prevent cutting attached sponges into cheese shape
  code/obj/item/mops_cleaners.dm
Labels: C-Bug, size/XS, A-Game-Objects, A-Silicons

#18646 Updates contraband further to rely entirely on components and atom properties
  _std/defines/component_defines/component_defines_atom.dm
  code/datums/components/contraband.dm
  code/mob/living/life/arrest_icon.dm
  code/modules/robotics/bot/guardbot.dm
  code/modules/robotics/bot/secbot.dm
  code/obj/item/flamethrower.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/stickers.dm
  code/obj/machinery/secscanner.dm
  code/procs/scanprocs.dm
Labels: C-Bug, E-Add-To-Wiki, size/L

#18738 Fix manta jetpacks
  code/obj/item/tank.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18737 Fix CHECK_MORE_RUNTIMES runtimes on manta
  maps/unused/manta.dmm
Labels: A-Mapping, C-QoL, size/M

#18714 Clarion bar fixbatch
  maps/clarion.dmm
Labels: A-Mapping, size/L

#18731 Prevent wizards from blinking out of their own shuttle
  code/modules/antagonists/wizard/abilities/blink.dm
Labels: C-Bug, size/XS, A-Player-Actions

#18721 Character Preferences Code Tidy
  code/datums/preferences/preferences.dm
  code/datums/preferences/randomize.dm
  goonstation.dme
Labels: C-Code-Quality, size/XXL, A-Traits, A-RP

#18752 Adds curacao to the bar vending machine
  code/modules/vending/vending.dm
Labels: C-QoL, size/XS, A-Game-Objects, A-Catering

#18741 add cyborg module selection event
  _std/macros/atom_properties.dm
  code/datums/jobs.dm
  code/mob/living/silicon/robot.dm
  code/modules/goonhub/event_recording/events/CyborgModuleSelection.dm
  code/modules/goonhub/event_recording/types/CyborgModuleSelection.dm
  goonstation.dme
Labels: size/M, A-Internal

#18757 Check voluntary & restrained status for item-summon emotes
  code/mob/living/carbon/human/procs/emote.dm
Labels: C-Bug, size/M, A-Player-Actions, A-Game-Objects

#18755 Pod disruption changes
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/disruptor_bolt.dm
  code/modules/transport/pods/shipcomponents.dm
  code/modules/transport/pods/vehicle.dm
Labels: C-Balance, size/M, A-Game-Objects, A-Vehicles

#18763 Fix surgery message typo
  code/modules/medical/surgery_procs.dm
Labels: C-Bug, size/XS

#18759 Cogmap Bar Reorganization
  maps/cogmap.dmm
Labels: A-Mapping, C-QoL, size/XXL, A-Catering

#18765 Click-dragging interactions with plates and pizza, allowing borgs to plate food and add pizza toppings.
  code/modules/food_and_drink/pizza.dm
  code/obj.dm
  code/obj/item/kitchen.dm
Labels: C-Bug, size/S

#18770 fix stock exchange computers having no computer chip
  code/modules/economy/stocks/stock_machine.dm
  code/obj/machinery/computer/buildandrepair.dm
Labels: C-Bug, size/XS

#18740 Glass Recyclers come preloaded by default
  assets/maps/prefabs/space/prefab_safehouse.dmm
  code/obj/machinery/glass_recycler.dm
  code/obj/storage/secure_closets.dm
  code/obj/table.dm
  maps/clarion.dmm
  maps/donut2.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/destiny.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/manta.dmm
  maps/unused/ozymandias.dmm
Labels: A-Mapping, C-Code-Quality, C-QoL, size/M, A-Game-Objects

#18678 Fixes 2 Tile Mistakes on Mushroom + some misc cyclers
  maps/unused/mushroom_new_walls.dmm
Labels: A-Mapping, size/L

#18768 Add missing icon state for taser smg auto mode 75% charge
  icons/obj/items/guns/energy.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Game-Objects

#18746 Stop the dead and those under the effects of capulettium from spinning
  _std/defines/status_effects.dm
  _std/macros/atom_properties.dm
  code/mob/input.dm
  code/mob/living.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/mob/living/life/stuns_lying.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/interface/mob_input.dm
  code/modules/status_system/statusEffects.dm
  code/procs/helpers.dm
  code/procs/mobprocs/chatprocs.dm
  code/procs/mobprocs/typing_indicator.dm
  icons/ui/statussystem.dmi
Labels: C-Sprites, C-Balance, E-Add-To-Wiki, size/M

#18776 Fixes a problem with transparent full gannets door open sprites
  icons/obj/doors/destiny.dmi
Labels: C-Sprites, size/XS

#18725 Extend donut3 AI Upload Foyer to stop camera from seeing rack
  maps/donut3.dmm
Labels: C-Bug, A-Mapping, size/M

#18769 mineral magnet computer no longer fails to open when magnet destroyed, plus bugfix for what happens when it does
  browserassets/tgui/tgui.bundle.js
  code/obj/mining.dm
  tgui/packages/tgui/interfaces/MineralMagnet.js
Labels: C-Bug, A-UI, size/S, A-Game-Objects

#18753 New hallucination effect: Singuloose
  code/datums/components/hallucinations.dm
  code/modules/animation/AnimationLibrary.dm
  code/obj/artifacts/artifact_machines/madness.dm
  code/obj/machinery/singularity.dm
Labels: C-Feature, size/L, A-Game-Objects, A-Science

#18780 No longer allow eating contents from stomach with matter eater
  code/modules/medical/genetics/bioEffects/powers.dm
Labels: C-Bug, size/XS

#18781 use tgui input for matter eater
  code/modules/medical/genetics/bioEffects/powers.dm
Labels: C-QoL, A-UI, size/XS

#18671 Buffs bladed gloves
  code/modules/items/specials/ItemSpecials.dm
  code/obj/item/clothing/gloves.dm
  code/procs/scanprocs.dm
Labels: C-Balance, E-Add-To-Wiki, size/S, A-Clothing

#18787 Replace an instance of "weakened" with "knockdown"
  code/datums/components/hallucinations.dm
Labels: size/XS

#18792 implement find last needle helpers and map file measurement procs
  code/procs/helpers.dm
Labels: size/M, A-Internal

#18680 Repairing vehicles with a welder uses a repeating actionbar
  code/datums/actions/actions.dm
  code/modules/transport/pods/vehicle.dm
Labels: C-Rework, size/L, A-Player-Actions, A-Game-Objects

#18771 Gives scientists the scientist's labcoat roundstart instead of a normal one
  code/datums/jobs.dm
Labels: C-Feature, size/XS, A-Clothing

#18783 Update hivebot HUD and allow Hivebots to use harmintent
  code/datums/hud/shell.dm
  code/mob/living/life/hud.dm
  code/mob/living/silicon/hivebot.dm
Labels: C-Bug, C-Feature, A-UI, size/M, A-Silicons

#18800 Show traits as an english list instead of per-line
  code/mob/living/carbon/human/procs/get_desc.dm
Labels: C-QoL, size/XS, A-Traits

#18593 Introduces helper procs for botany to unify growth-stage calculations
  _std/__std.dme
  _std/defines/hydroponics.dm
  code/WorkInProgress/AzrunStuff.dm
  code/modules/hydroponics/gene_strains.dm
  code/modules/hydroponics/hydroponics_misc_procs.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants.dm
  code/modules/hydroponics/plants_alien.dm
  code/modules/hydroponics/plants_flower.dm
  code/modules/hydroponics/plants_herb.dm
  code/modules/hydroponics/plants_weed.dm
  code/obj/machinery/plantpot.dm
Labels: C-Code-Quality, size/L, A-Hydroponics

#18636 Change Lawbringer to apply DNA on redeem
  code/modules/jobxp/JobXPRewards.dm
  code/obj/item/gun/energy.dm
Labels: C-QoL, C-Removal, size/S, A-Game-Objects

#18723 Macho Touch won't turn target to statue if they escape grip
  code/modules/antagonists/macho_man/abilities/gold_touch.dm
Labels: C-Bug, size/S, A-Player-Actions

#18650 Use TGUI list for unloading pod cargo
  code/modules/transport/pods/secondary_system.dm
Labels: C-QoL, A-UI, size/S

#18794 implement region allocator panel
  _std/filesystem.dm
  browserassets/tgui/tgui.bundle.js
  code/modules/admin/admin.dm
  code/modules/admin/admin_holder.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/region_allocator_panel.dm
  code/modules/worldgen/prefab/allocated.dm
  code/modules/worldgen/region_allocator/region_allocator.dm
  goonstation.dme
  strings/admin_changelog.txt
  tgui/packages/tgui/interfaces/RegionAllocatorPanel.js
Labels: C-Feature, A-UI, size/L, A-Admin, A-Internal

#18803 Kate Smith and Munches Paper figures
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#18782 Quality of life fixes for the Clarion operating theatre
  maps/clarion.dmm
Labels: A-Mapping, C-QoL, size/L

#18791 Fixes Clarion Ranch
  maps/clarion.dmm
Labels: A-Mapping, size/M

#18649 Use TGUI input number for PIN inputs
  _std/defines/economy.dm
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/datums/banking.dm
  code/datums/preferences/preferences.dm
  code/mob/living/critter.dm
  code/modules/economy/shady_robot.dm
  code/modules/economy/stocks/stock_machine.dm
  code/modules/economy/trader.dm
  code/modules/tgui/tgui_input_pin.dm
  code/modules/vending/vending.dm
  code/obj/item/card.dm
  code/obj/machinery/computer/QM_order.dm
  code/obj/machinery/computer/card.dm
  code/obj/machinery/launcherloader.dm
  code/obj/machinery/manufacturer.dm
  code/obj/submachine/slots.dm
  goonstation.dme
  tgui/packages/common/keycodes.js
  tgui/packages/tgui/interfaces/PINInputModal.tsx
  tgui/packages/tgui/styles/interfaces/PINInputModal.scss
  tgui/packages/tgui/styles/main.scss
Labels: C-Code-Quality, C-QoL, A-UI, size/L

#18804 Fix welding 2x2 pods from the top and right sides
  code/datums/actions/actions.dm
Labels: C-Bug, size/XS, A-Player-Actions

#18812 Do not scream if nervous and under the effects of capulettium
  code/mob/living.dm
Labels: C-Bug, size/XS, A-Traits

#18813 add sprite for belt-worn mini-plasma tank on monkeys
  icons/mob/monkey/belt.dmi
Labels: C-Bug, C-Sprites, size/XS

#18814 Blacklist plasmalung trait from afterlife
  code/datums/traits.dm
Labels: C-Bug, size/XS, A-Traits

#18811 Using a plasma gas tank on a vehicle opens the parts panel
  code/modules/transport/pods/vehicle.dm
Labels: C-QoL, size/XS, A-Vehicles

#18806 Suave Mullet Hairstyle! A cute hair style that is a fancy mullet.
  code/datums/customization_styles.dm
  icons/mob/human_hair.dmi
Labels: C-Sprites, size/XS

#18717 Adds party animal trait as new background
  _std/types.dm
  code/datums/traits.dm
  code/mob/new_player.dm
  code/obj/machinery/computer/announcement.dm
  code/obj/random_spawners.dm
  code/obj/stool.dm
  code/obj/table.dm
  code/procs/jobprocs.dm
  icons/ui/traits.dmi
Labels: C-Feature, C-Sprites, size/L, A-Traits

#18818 Fix applying items on people's inventories not working
  code/datums/actions/actions.dm
Labels: C-Bug, size/XS, A-Player-Actions

#18762 Adds second chem heater to Nadir's bar
  maps/nadir.dmm
Labels: A-Mapping, C-QoL, size/M

#18795 Reworks Viper Venom and regular Venom
  code/datums/abilities/critter/small_animal.dm
  code/mob/living/critter/aquatic.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/critter/spider.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/food_and_drink/discount_dans.dm
  code/modules/food_and_drink/drinks.dm
  code/modules/holiday/spacemas.dm
  code/obj/artifacts/artifact_objects/bombs.dm
  code/obj/artifacts/artifact_objects/injector.dm
  strings/chemistry_tools.txt
Labels: C-Rework, E-Add-To-Wiki, size/L, A-Chemistry, A-AI

#18435 Stun adjustments
  code/mob/living/stamina_stuns.dm
  code/mob/melee_attack_procs.dm
Labels: C-Balance, E-Add-To-Wiki, size/S, A-Game-Objects

#18830 Fix AtmosAlerter PDA App
  code/obj/machinery/computer/general_air_control.dm
Labels: C-Bug, size/XS, A-Station-Systems

#18836 Prevents pickpocketing with storages
  code/modules/storage/storage.dm
Labels: C-Balance, size/XS, A-Player-Actions

#18820 Makes action bars private when applying small/tiny items on items in other people's inventories
  _std/defines/item.dm
  code/datums/actions/actions.dm
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/tools/droppers.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/storage/storage.dm
  code/obj/item/mops_cleaners.dm
  code/obj/item/mousetrap.dm
Labels: C-Balance, E-Input-Wanted, size/S, A-Player-Actions

#18839 Vacuum cleaners respect locked storage containers
  code/obj/item/mops_cleaners.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18832 Adds typeinfo to mutantraces.
  code/datums/mutantraces.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/modules/admin/randomverbs.dm
  code/obj/posters.dm
Labels: C-Performance, size/L, A-Internal

#18607 Atlas mining magnet
  maps/atlas.dmm
Labels: A-Mapping, E-Add-To-Wiki, size/XXL

#18846 Add gibusgaming figurine
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: C-Sprites, size/XS

#18849 Fix the name of a door on clarion
  maps/clarion.dmm
Labels: A-Mapping, size/XS

#18843 Tries to put crafted recipes into your hand before dropping
  code/datums/actions/actions.dm
Labels: C-QoL, size/S, A-Materials

#18297 Update TGS DMAPI. Add updater workflow
  _std/__std.dme
  _std/tgs.dm
  code/modules/tgs/LICENSE
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/_definitions.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/core/tgs_version.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v4/commands.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/chunking.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/interop_version.dm
  code/modules/tgs/v5/serializers.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: A-Tooling, size/XXL, C-Documentation

#18853 Fix gun tooltip not updating on mode switch
  code/obj/item/gun/gun_parent.dm
Labels: C-Bug, size/XS, A-Player-Actions, A-Game-Objects

#18817 Fixes a runtime caused by recoil attempting to trigger on non-mob users
  code/obj/item/gun/gun_parent.dm
Labels: size/XS

#18851 Fixes borg fishing rod upgrade spelling mistake
  code/modules/fishing/fishing_gear.dm
Labels: C-Bug, size/XS, A-Game-Objects, A-Silicons

#18760 Adds bar subtype for wall storage
  code/obj/storage/wall_cabinet.dm
Labels: C-Code-Quality, size/S, A-Game-Objects

#18838 Replaces redundant static material processers with sheet extruders
  assets/maps/prefabs/underwater/manta/prefab_water_mantamining.dmm
  assets/maps/random_rooms/3x3/fabricator.dmm
  code/modules/materials/Mat_Processing.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/density2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pod_wars.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/ozymandias.dmm
  maps/wrestlemap.dmm
  maps/z5.dmm
Labels: C-Feature, A-Mapping, size/L, A-Game-Objects

#18821 Standardize bar & related areas across all maps
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/unused/manta.dmm
Labels: A-Mapping, C-QoL, size/XXL, A-Internal, A-Catering

#18833 Added checks to some common actions with Pods
  code/modules/transport/pods/communications.dm
  code/modules/transport/pods/engine.dm
  code/modules/transport/pods/secondary_system.dm
Labels: C-Bug, size/S, A-Player-Actions, A-Vehicles

#18581 Adds non-random loot spawners and non-random loot fillers (and an example usage)
  code/obj/storage/crates.dm
  code/obj/storage/gang_crate.dm
  icons/obj/large_storage.dmi
Labels: C-Sprites, C-Code-Quality, size/L, A-Internal

#18732 Gives HoP PDA a new cartridge instead of the standard command one.
  code/obj/item/device/pda2/cartridges.dm
  code/obj/item/device/pda2/pda2.dm
  icons/obj/items/pda.dmi
Labels: C-Sprites, E-Add-To-Wiki, size/S

#18863 Remove Cog1 Sauna Air Alarm
  maps/cogmap.dmm
Labels: A-Mapping, C-Removal, size/XS

#18831 Adds nukie purchases to crew credits
  code/modules/antagonists/nuclear_operative/nuclear_operative.dm
  code/obj/item/uplinks.dm
  code/obj/submachine/weapon_vendor.dm
Labels: C-Feature, A-UI, size/M

#18672 Refinements and bugfixes for zombie bites
  code/modules/antagonists/zombie/abilities/infect.dm
Labels: C-Bug, C-Code-Quality, size/M

#18874 Fixes jumpsuit not clearing when removing.
  code/mob/living/carbon/human/procs/update_icon.dm
Labels: C-Bug, size/XS

#18868 replaces HoS offices with sec doors with command doors
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/mushroom_new_walls.dmm
Labels: A-Mapping, size/L

#18837 Makes the radio component less slow.
  _std/packets.dm
  code/WorkInProgress/nadir_antenna.dm
  code/datums/embedded_controller.dm
  code/mob/living/silicon/robot.dm
  code/modules/atmospherics/machinery/binary/dp_vent_pump.dm
  code/modules/atmospherics/machinery/binary/pump.dm
  code/modules/atmospherics/machinery/binary/valve.dm
  code/modules/atmospherics/machinery/binary/volume_pump.dm
  code/modules/atmospherics/machinery/trinary/manifold_valve.dm
  code/modules/atmospherics/machinery/trinary/mixer.dm
  code/modules/atmospherics/machinery/unary/outlet_injector.dm
  code/modules/atmospherics/machinery/unary/vent_pump.dm
  code/modules/atmospherics/machinery/unary/vent_scrubber.dm
  code/modules/disposals/disposal.dm
  code/modules/disposals/disposal_chute.dm
  code/modules/disposals/mail_chute.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/medical/genetics/geneticsBooth.dm
  code/modules/medical/genetics/geneticsScanner.dm
  code/modules/networks/computer3/comm_dish.dm
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/modules/networks/computer3/peripherals.dm
  code/modules/robotics/bot/duckbot.dm
  code/modules/robotics/bot/guardbot.dm
  code/modules/robotics/bot/mulebot.dm
  code/modules/robotics/bot/secbot.dm
  code/modules/siphon/siphon_controls.dm
  code/modules/siphon/siphon_machinery.dm
  code/modules/telescience/radiostation.dm
  code/modules/transport/pods/communications.dm
  code/obj/health_scanner.dm
  code/obj/item/device/gps.dm
  code/obj/item/device/radio.dm
  code/obj/item/implant.dm
  code/obj/item/tool/electronics.dm
  code/obj/machinery/access_button.dm
  code/obj/machinery/air_sensor.dm
  code/obj/machinery/airlock_sensor.dm
  code/obj/machinery/alarm.dm
  code/obj/machinery/clonepod.dm
  code/obj/machinery/computer/QM_order.dm
  code/obj/machinery/computer/QM_supply.dm
  code/obj/machinery/computer/communications.dm
  code/obj/machinery/computer/general_air_control.dm
  code/obj/machinery/computer/security/riot.dm
  code/obj/machinery/door/airlock.dm
  code/obj/machinery/door/door_control.dm
  code/obj/machinery/firealarm.dm
  code/obj/machinery/manufacturer.dm
  code/obj/machinery/meter.dm
  code/obj/machinery/nuclearbomb.dm
  code/obj/machinery/plantpot.dm
  code/obj/machinery/secscanner.dm
  code/obj/machinery/sleeper.dm
  code/obj/storage/large_storage_parent.dm
Labels: C-Performance, size/L, A-Internal

#18875 Removes occupancy sign from floor of Clarion barber shop
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/XS

#18845 Nadir Armory Fixes
  maps/nadir.dmm
Labels: C-Bug, A-Mapping, C-Balance, size/L

#18878 Replace free upgrade for civilian cyborgs with a recharge pack
  code/mob/living/silicon/robot.dm
Labels: C-Balance, size/XS, A-Silicons

#16676 Add chemical/magical fires
  _std/__std.dme
  _std/defines/chem_fire.dm
  code/datums/abilities/critter/flamethrower.dm
  code/mob/living/critter/firefly.dm
  code/mob/living/critter/mob_bots.dm
  code/mob/living/critter/sawfly.dm
  code/modules/admin/buildmodes/adventure/elements/trap/fireball.dm
  code/modules/admin/buildmodes/fireflash.dm
  code/modules/admin/diagnostics.dm
  code/modules/antagonists/wizard/abilities/fireball.dm
  code/modules/antagonists/wizard/abilities/phaseshift.dm
  code/modules/antagonists/wraith/objs/machinery/runetrap.dm
  code/modules/atmospherics/FEA_airgroup.dm
  code/modules/atmospherics/FEA_fire.dm
  code/modules/atmospherics/FEA_turf_tile.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-Base.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-ExplosiveFire.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/tools/extinguisher.dm
  code/modules/events/white_hole.dm
  code/modules/food_and_drink/plants.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/modules/networks/computer3/peripherals.dm
  code/modules/power/TEG.dm
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/laser.dm
  code/modules/projectiles/special.dm
  code/modules/robotics/bot/chefbot.dm
  code/modules/status_system/statusFoodBuffs.dm
  code/modules/transport/cruisers/cruisers.dm
  code/obj/artifacts/artifact_items/attack_wand.dm
  code/obj/artifacts/artifact_objects/heatwave.dm
  code/obj/artifacts/artifact_objects/power_gen.dm
  code/obj/artifacts/faults.dm
  code/obj/blob.dm
  code/obj/critter/sword.dm
  code/obj/decal/cleanable.dm
  code/obj/item.dm
  code/obj/item/gun/energy.dm
  code/obj/item/mine.dm
  code/obj/machinery/deep_fryer.dm
  code/obj/machinery/law_racks.dm
  code/obj/machinery/porters.dm
  code/obj/machinery/shitty_grill.dm
  code/obj/torpedoes.dm
  code/obj/vehicle.dm
  code/procs/fireflash.dm
  code/procs/gibs.dm
  code/z_adventurezones/biodome.dm
  icons/effects/fire_chemical.dmi
Labels: C-Feature, C-Sprites, E-Certified-Organic, size/XL, A-Game-Objects

#18854 Change stats shown in gun tooltips
  code/obj/item/gun/gun_parent.dm
Labels: C-QoL, C-Rework, size/S, A-Game-Objects

#17768 Allows feeding viscerite to synthflesh pustules
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/Reagents-Misc.dm
Labels: C-Feature, E-Add-To-Wiki, size/M, A-Chemistry

#18888 headspider Hivemind fixes
  code/modules/antagonists/changeling/abilities/_changeling_ability_holder.dm
  code/modules/medical/diseases/headspider.dm
Labels: C-Bug, size/S

#18898 Adds a new Speech Pro device to Ambassadors and Tourists
  _std/__std.dme
  _std/defines/speech_pro.dm
  code/datums/jobs.dm
  code/datums/traits.dm
  code/mob/living/carbon/human.dm
  code/modules/interface/multiContext/context_actions.dm
  code/obj/item/device/speech_pro.dm
  goonstation.dme
  icons/obj/items/device.dmi
  icons/ui/context16x16.dmi
  icons/ui/traits.dmi
Labels: C-Feature, C-Sprites, size/L

#18905 Resprites the mini security TV
  icons/obj/computer.dmi
Labels: C-Sprites, size/XS, A-Game-Objects, S-Ready-For-Final-Review

#18913 Fix typo in officer hat description
  code/obj/item/clothing/chameleon_js.dm
Labels: size/XS

#18907 Resprites the item sprite for bedsheet capes
  icons/obj/clothing/overcoats/item_suit.dmi
Labels: C-Sprites, size/XS, A-Clothing, S-Ready-For-Final-Review

#18920 Make syndicate shrub mechscannable
  code/obj/decorations.dm
Labels: C-Feature, size/XS, A-Game-Objects, S-Ready-For-Final-Review

#18918 Afterlife bar respects bald trait
  code/mob/transform_procs.dm
Labels: C-Feature, size/XS, A-Traits, A-Respawning

#18925 Fix donut 3 upload pipe
  maps/donut3.dmm
Labels: C-Bug, A-Mapping, size/XS

#18909 Fix runtime when disposing bunsen burner
  code/modules/chemistry/Chemistry-Tools.dm
Labels: C-Bug, C-Runtime, size/XS, A-Game-Objects

#18906 adds inhands to fuel fuel tanks
  code/modules/chemistry/tools/fuel_tanks.dm
  icons/mob/inhand/hand_general.dmi
Labels: C-Sprites, size/XS, A-Chemistry

#18928 Resprites flower vases!
  icons/obj/decoration.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#18879 Refactor job assignment code to improve job distribution variety
  _std/defines/jobs.dm
  code/datums/controllers/job_controls.dm
  code/mob/new_player.dm
  code/procs/jobprocs.dm
Labels: C-Bug, C-Code-Quality, C-Experimental, C-Rework, size/L, A-Internal, A-Respawning

#18914 Fix bug that doubled bites_left for vendor pizzas.
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/pizza.dm
  code/modules/siphon/siphon_minerals.dm
  maps/unused/destiny.dmm
  maps/unused/manta.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
Labels: C-Bug, A-Mapping, size/M, A-Catering

#18954 Fix fabricator not recognizing satisfaction for blueprints wih specific material id requirements
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/manufacturer.dm
  tgui/packages/tgui/interfaces/Manufacturer/components/BlueprintButton.tsx
  tgui/packages/tgui/interfaces/Manufacturer/type.ts
Labels: A-UI, size/XS

#18951 Fix medicine category not showing up
  code/obj/machinery/manufacturer.dm
Labels: size/XS

#18949 Fix inverted conditioning on pulse tool fail condition
  code/obj/machinery/manufacturer.dm
Labels: C-Bug, size/XS

#18957 Fix ejecting less than a full stack of material from fabs voiding instead of doing its job
  code/obj/machinery/manufacturer.dm
Labels: C-Bug, A-UI, size/XS

#18961 fix check for the ui part of fab so it doesnt latch on to right patterns with wrong amounts
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Manufacturer/components/BlueprintButton.tsx
Labels: C-Bug, A-UI, size/XS

#18958 Resprites radsuit hood icon state
  icons/obj/clothing/item_hats.dmi
Labels: C-Sprites, size/XS, A-Clothing

#18963 Fix check AGAIN to inclue parentheses so it disabled button when it should be
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Manufacturer/components/BlueprintButton.tsx
Labels: A-UI

#18953 Resprites the BRICK
  icons/misc/aprilfools.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#18967 Fix "Cant craft chemical barrel with tgui fabricator even with proper materials."
  code/obj/machinery/manufacturer.dm
Labels: C-Bug, size/XS

#18942 fix tanning bed colour
  code/obj/machinery/traymachines.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18936 remove wendigo references
  _std/vox.dm
  sound/vox/wendigo.ogg
Labels: C-Sound, size/XS, S-Ready-For-Final-Review

#18979 Rewrite eject_material() for better code quality and to potentially fix a bug.
  code/obj/machinery/manufacturer.dm
Labels: C-Bug, C-Code-Quality, size/M, A-Internal

#18982 Ensure rubbers and organics have ORG|RUB added to the patterns they satisfy
  code/obj/machinery/manufacturer.dm
Labels: size/XS

#18992 Remove SectionEx component, bring Section component up to feature parity with upstream
  browserassets/tgui/tgui-panel.bundle.css
  browserassets/tgui/tgui-panel.bundle.js
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui-panel/chat/ChatPageSettings.js
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/components/goonstation/SectionEx.js
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/ChemHeater.js
  tgui/packages/tgui/interfaces/ChemMaster.js
  tgui/packages/tgui/interfaces/Filteriffic.js
  tgui/packages/tgui/interfaces/Particool.js
  tgui/packages/tgui/interfaces/Plantmaster.js
  tgui/packages/tgui/interfaces/ReagentExtractor.js
  tgui/packages/tgui/styles/components/Section.scss
  tgui/packages/tgui/styles/components/goonstation/SectionEx.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/theme-modes/base-light.scss
  tgui/packages/tgui/styles/themes/ntos.scss
Labels: C-Code-Quality, A-UI, size/L

#18993 Remove unneeded bundle file
  browserassets/tgui/main.bundle.js
Labels: C-Code-Quality, A-UI, size/XS

#18910 fix runtime on null area for airlock init
  code/obj/machinery/door/airlock.dm
Labels: C-Bug, C-Runtime, size/XS, A-Game-Objects, S-Ready-For-Final-Review

#19002 Adjust spellbook UI to use title of Section components for spells
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/WizardSpellbook/SpellItem.tsx
Labels: C-Code-Quality, A-UI, size/M

#18995 Fix rockworms never actually "digesting" the rocks they eat
  code/mob/living/critter/ai/rockworm.dm
Labels: C-Bug, size/XS, A-AI

#18997 Fix being unable to butcher rockworms
  code/mob/living/critter/mining_critter.dm
Labels: C-Bug, size/XS, A-Critters

#19005 Resprites biosuit hood icon state
  icons/obj/clothing/item_hats.dmi
Labels: C-Sprites, size/XS, A-Clothing

#19007 Resprites a bunch of pool stuff!
  icons/obj/fluid.dmi
  icons/obj/stationobjs.dmi
  icons/turf/floors.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#19003 Removes wizard name suggestions that are from a transphobe's book series
  strings/names/wizard_female.txt
  strings/names/wizard_male.txt
Labels: C-Removal, size/XS, A-Gamemodes

#18983 Add icon to plasma lungs trait
  code/datums/traits.dm
  icons/ui/traits.dmi
Labels: C-Sprites, C-QoL, size/XS

#19012 Clean up ChemDispenser interface
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/ChemDispenser.tsx
  tgui/packages/tgui/styles/components/Dimmer.scss
  tgui/packages/tgui/styles/interfaces/ChemDispenser.scss
Labels: C-Code-Quality, A-UI, size/L

#19013 Tidy up Elevator interface, remove unneeded horizontal gutters
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Elevator.tsx
Labels: C-Code-Quality, A-UI, size/M

#19016 Tidy up usage of Section component across interfaces
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/AntagonistPanel/AntagonistTypeTabBody.tsx
  tgui/packages/tgui/interfaces/Atm/index.tsx
  tgui/packages/tgui/interfaces/CrewCredits/AntagonistsTab.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/OccupantSection/RobotStatusView/UpgradeReportSection.tsx
  tgui/packages/tgui/interfaces/EngineStats.js
  tgui/packages/tgui/interfaces/GeneTek/tabs/ResearchTab.js
  tgui/packages/tgui/interfaces/GimmickObject.js
  tgui/packages/tgui/interfaces/IDComputer.js
  tgui/packages/tgui/interfaces/MechanicalDropper.js
  tgui/packages/tgui/interfaces/MinimapController.js
  tgui/packages/tgui/interfaces/MixerMachine.js
  tgui/packages/tgui/interfaces/ObserverMenu.tsx
  tgui/packages/tgui/interfaces/Particool.js
  tgui/packages/tgui/interfaces/PipeDispenser.js
  tgui/packages/tgui/interfaces/Plantmaster.js
  tgui/packages/tgui/interfaces/Precipitation.js
  tgui/packages/tgui/interfaces/ProcCall.js
  tgui/packages/tgui/interfaces/PumpControl/index.tsx
  tgui/packages/tgui/interfaces/RandomEvent.js
  tgui/packages/tgui/interfaces/RegionAllocatorPanel.js
  tgui/packages/tgui/interfaces/SheetCrafting.js
  tgui/packages/tgui/interfaces/TTV/index.tsx
  tgui/packages/tgui/interfaces/Terrainify.js
  tgui/packages/tgui/interfaces/TurretControl.js
  tgui/packages/tgui/interfaces/ZoldorfPlayerShop/index.tsx
  tgui/packages/tgui/interfaces/common/DataInput.js
  tgui/packages/tgui/interfaces/common/PortableAtmos.js
  tgui/packages/tgui/interfaces/space_heater.js
Labels: C-Code-Quality, A-UI, size/XL

#19019 Replace unkeyed Fragment usages with shorthand
  tgui/packages/tgui/interfaces/Airlock.js
  tgui/packages/tgui/interfaces/AntagonistPanel/AntagonistTypeTabBody.tsx
  tgui/packages/tgui/interfaces/CrewCredits/AntagonistsTab.tsx
  tgui/packages/tgui/interfaces/Filteriffic.js
  tgui/packages/tgui/interfaces/GeneTek/AppearanceEditor.js
  tgui/packages/tgui/interfaces/GeneTek/BioEffect.js
  tgui/packages/tgui/interfaces/GeneTek/tabs/MutationsTab.js
  tgui/packages/tgui/interfaces/GeneTek/tabs/ResearchTab.js
  tgui/packages/tgui/interfaces/GeneTek/tabs/ScannerTab.js
  tgui/packages/tgui/interfaces/GeneTek/tabs/StorageTab.js
Labels: C-Code-Quality, A-UI, size/L

#19009 Adds a canister of "methane" that is sometimes sold by Buford
  code/modules/atmospherics/portable/canister.dm
  code/modules/economy/traders/buford.dm
  icons/obj/atmospherics/atmos.dmi
Labels: C-Feature, C-Sprites, C-Balance, size/S

#18991 Add more projectile hit feedback for bots
  code/modules/animation/AnimationLibrary.dm
  code/modules/robotics/bot/bot_parent.dm
Labels: C-QoL, size/M, A-Game-Objects

#19027 Replace material_patterns_by_id with material_patterns_by_ref
  code/obj/machinery/manufacturer.dm
Labels: C-Bug, C-Runtime, size/S, A-Internal

#19037 Prevent hacked mining charges from being set in arrivals
  code/obj/mining.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19050 Fix blobs & martians not receiving speech pro
  code/datums/jobs.dm
Labels: C-Bug, size/S, A-Respawning

#19042 Fix AI Eyebot singing text
  code/mob/living/silicon/hivebot.dm
Labels: C-Bug, size/XS, A-Silicons

#19036 Don't alter secure locker state on cargo teleport usage
  code/obj/storage/secure_closets.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19039 Fix cell swap callback for powered mining tools
  code/obj/mining.dm
Labels: C-Bug, size/XS, A-Game-Objects

#19034 gang tweaks. lil things.
  code/datums/gamemodes/gangwar.dm
  code/datums/syndicate_buylist.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/packets/signal.dm
  code/obj/item/device/pda2/diagnostics.dm
  code/obj/storage/gang_crate.dm
Labels: C-Balance, E-Add-To-Wiki, size/M, A-Gamemodes

#18561 Gang locker movement
  code/datums/controllers/process/gang.dm
  code/datums/gamemodes/gangwar.dm
  code/modules/antagonists/gang/abilities/_gang_leader_ability_holder.dm
  icons/mob/gang_abilities.dmi
Labels: C-Sprites, C-Balance, E-Add-To-Wiki, size/M, A-Gamemodes, S-Testmerged

#19070 UI Update after Announcement Compter Card Insertion
  code/obj/machinery/computer/announcement.dm
Labels: C-Bug, C-QoL, A-UI, size/XS

#18587 Introduction of plantgrowth_tick and rework of the fast/slow_metabolism gene strains
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/chemistry/Reagents-Base.dm
  code/modules/chemistry/Reagents-Diseases.dm
  code/modules/chemistry/Reagents-ExplosiveFire.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/hydroponics/gene_strains.dm
  code/modules/hydroponics/hydroponics_growth_ticks.dm
  code/modules/hydroponics/hydroponics_misc_procs.dm
  code/modules/hydroponics/plants_alien.dm
  code/obj/machinery/hydroponic_machines.dm
  code/obj/machinery/plantpot.dm
  goonstation.dme
Labels: C-Code-Quality, C-Rework, E-Add-To-Wiki, size/XL, A-Hydroponics

#19065 Smaller gangs
  _std/defines/gang.dm
  code/datums/gamemodes/gangwar.dm
Labels: C-Balance, size/XS

#19038 Mute cows use base human scream handling
  code/datums/mutantraces.dm
Labels: C-Bug, size/XS, A-Mutantraces

#19066 cpu tick lag
  _std/defines/lag.dm
  code/datums/gameticker.dm
Labels: C-Performance, C-Experimental, size/S, A-Internal
