Repository goonstation/goonstation, pull requests merged in 2024-01, with the labels that each got.

#13016 Bouquets!
  code/datums/components/bouquet.dm
  code/obj/item/bouquet.dm
  code/obj/item/clothing/plants.dm
  code/obj/item/plants.dm
  goonstation.dme
  icons/obj/items/bouquets.dmi
Labels: C-Feature, A-Mapping, C-Sprites, E-Certified-Organic, size/L, A-Game-Objects, A-Clothing

#17439 Fix broken/burned-out runway light icons
  code/modules/power/lighting.dm
Labels: C-Bug, size/M, A-Game-Objects

#17465 Electric Chair Refactor
  code/obj/electric_chair.dm
  code/obj/item/assembly/shock_kit.dm
  code/obj/item/device/radio.dm
  code/obj/stool.dm
  goonstation.dme
  icons/ui/context16x16.dmi
Labels: C-Sprites, C-Rework, size/L, A-Game-Objects

#17495 Keep Alt-art bank purchase miner helmet purple when using flashlight
  code/modules/economy/persistent_bank_purchases.dm
  code/obj/item/clothing/helmets.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/item_hats.dmi
Labels: C-Bug, C-Sprites, size/S, A-Clothing

#17528 Revert "Bouquets!"
  code/datums/components/bouquet.dm
  code/obj/item/bouquet.dm
  code/obj/item/clothing/plants.dm
  code/obj/item/plants.dm
  goonstation.dme
  icons/obj/items/bouquets.dmi
  strings/changelog.txt
Labels: C-Sprites, size/L

#17533 Create some missing area icons
  code/area.dm
  icons/turf/areas.dmi
Labels: C-Sprites, size/XS

#17537 Fix doctor bag description spelling
  code/obj/item/storage/med_chem.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17538 Fix abdomen spelling in organ failure
  code/modules/medical/diseases/organ_diseases/appendicitis.dm
  code/modules/medical/diseases/organ_diseases/kidney_failure.dm
  code/modules/medical/diseases/organ_diseases/liver_failure.dm
  code/modules/medical/diseases/organ_diseases/pancreatitis.dm
Labels: C-Bug, size/XS

#17532 New QM Crew Objective: Deliver Mail
  code/datums/crew_objective.dm
Labels: C-Feature, size/XS, A-Player-Actions, S-Ready-For-Final-Review

#17540 Prevent ants from crawling on kitchen islands
  code/modules/chemistry/tools/food_and_drink.dm
  code/obj/item/kitchen.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17499 Resprites some Cereal Boxes and adds recipes.
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food.dmi
  icons/obj/foodNdrink/food_snacks.dmi
Labels: C-Sprites, size/M, A-Game-Objects, A-Catering

#17541 Wibbly Gravity Well Artifact
  code/obj/artifacts/artifact_machines/grav_well.dm
  icons/effects/overlays/lensing.dmi
Labels: C-Feature, C-Sprites, size/S

#17542 oops
  icons/effects/overlays/lensing.dmi
Labels: C-Sprites, size/XS

#17544 Make space for mailer chute in Clarion QM Office
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/S, A-Game-Objects

#17547 Use target pronouns in assassinate objectives
  code/datums/objective.dm
Labels: C-QoL, A-UI, size/XS

#17545 Push objects out from under cryotron sprite on player spawn
  code/obj/cryotron.dm
Labels: C-Bug, size/XS

#17552 Persist clown mask colour from bank purchase
  code/modules/economy/persistent_bank_purchases.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/masks.dm
Labels: C-Bug, size/S, A-Game-Objects

#17546 Intangibles should not have cross effect for strip door plastic flaps
  code/modules/economy/supply_misc.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17550 Generate camera network correctly for cogmap1 random engine
  code/world/initialization/2_init.dm
Labels: C-Bug, size/XS, A-Station-Systems

#17562 Martian gibstare now causes head explosion
  code/datums/abilities/critter/gibstare.dm
  code/mob/living/carbon/human.dm
  code/obj/item/gun/russian.dm
Labels: C-Balance, size/M, A-Critters

#17564 Ignore mode argument to `icon_states`
  code/datums/mutantraces.dm
  code/mob/living/carbon/human/procs/update_icon.dm
Labels: C-Code-Quality, size/XS, A-Internal

#17539 Prevent souldorf from triggering crusher
  code/mob/zoldorfmob.dm
Labels: C-Bug, size/XS

#17560 Double cluwne spell duration
  code/modules/antagonists/wizard/abilities/cluwne.dm
Labels: C-Balance, E-Add-To-Wiki, size/XS, A-Gamemodes, A-Player-Actions

#17565 fix using colored beret reward on construction cone hat
  code/modules/medals/rewardsLocker.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17522 Expand cog1 public market, shrink stocks room
  code/map.dm
  maps/cogmap.dmm
Labels: A-Mapping, size/XL

#17575 Fix blue clown mask going invisible
  code/obj/item/clothing/gimmick.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17582 Remove useless `#warn`
  _std/__build.dm
  maps/config/gottagofast.dm
Labels: C-Code-Quality, size/XS, A-Internal

#17573 Minimum player count for nuclear emergency
  _std/__build.dm
  code/datums/gamemodes/nuclear.dm
  code/datums/gamemodes/revolution.dm
Labels: C-Balance, size/S, A-Gamemodes, S-Ready-For-Final-Review

#17589 Autobanner round logging
  code/modules/admin/bans.dm
Labels: size/S, A-Admin

#17567 Artifact Research Console naming consistency
  code/modules/networks/computer3/mainframe2/artifact_res.dm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut3.dmm
  maps/pamgoc.dmm
  maps/unused/trunkmap.dmm
  maps/utilities/devtest.dmm
Labels: C-Bug, A-Mapping, size/M, A-Game-Objects

#17580 Declare Ready -> Join Game [when game has already started]
  code/datums/gameticker.dm
  code/mob/new_player.dm
  icons/ui/join-game.png
  interface/skin.dmf
Labels: C-Sprites, A-UI, size/S, S-Ready-For-Final-Review

#17593 Fix bad indent in merge_driver.py
  tools/mapmerge2/merge_driver.py
Labels: A-Tooling, size/XS

#17555 Swap tread and standard leg health
  code/obj/item/mob_parts/robot_parts.dm
Labels: C-Balance, E-Add-To-Wiki, size/XS, A-Silicons

#17599 Fixes "Barrettes" Being called "Hairclips" in the Clothing Booth
  code/modules/vending/clothingbooth_items.dm
Labels: C-Bug, size/S, A-Game-Objects

#17578 Hub Text shows Shuttle, Next Map, no longer shows "Mode: secret"
  code/world/world.dm
Labels: C-QoL, A-UI, size/M

#17605 fix broken bold tag in next map name
  code/world/world.dm
Labels: C-Bug, A-UI, size/XS

#17579 Urine removal
  assets/maps/prefabs/space/prefab_drug_den.dmm
  assets/maps/prefabs/underwater/nadir_safe/prefab_water_torpedo_deposit.dmm
  assets/maps/prefabs/underwater/nadir_unsafe/prefab_water_watertreatment.dmm
  assets/maps/random_rooms/3x3/cluwne_hole_75.dmm
  code/WorkInProgress/ISNStuff2.dm
  code/datums/gamemodes/gangwar.dm
  code/datums/sims.dm
  code/datums/traits.dm
  code/mob.dm
  code/mob/living/carbon.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/critter/aquatic.dm
  code/modules/antagonists/wraith/abilties/plaguebringer/summon_rot_hulk.dm
  code/modules/antagonists/wraith/critters/abilities/plaguerat.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/tools/balloons.dm
  code/modules/chemistry/tools/dispensers.dm
  code/modules/chemistry/tools/emergency_injectors.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/chemistry/tools/sleepy_pen.dm
  code/modules/chemistry/tools/syringes.dm
  code/modules/economy/commodity.dm
  code/modules/economy/trader.dm
  code/modules/events/start/viscera_cleanup.dm
  code/modules/food_and_drink/alcohol.dm
  code/modules/food_and_drink/bathbomb.dm
  code/modules/food_and_drink/candy.dm
  code/modules/food_and_drink/discount_dans.dm
  code/modules/food_and_drink/drinks.dm
  code/modules/food_and_drink/popsicles.dm
  code/modules/hydroponics/plants_crop.dm
  code/obj/artifacts/artifact_items/power_cell.dm
  code/obj/artifacts/artifact_objects/bombs.dm
  code/obj/artifacts/artifact_objects/injector.dm
  code/obj/decal/cleanable.dm
  code/obj/item/cigarette.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/organ_holder.dm
  code/obj/machinery/printing_press.dm
  maps/donut2.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/horizon.dmm
  maps/z2.dmm
  maps/z3.dmm
  strings/chemistry_tools.txt
  strings/password_pool.txt
  strings/randomEmail.txt
  strings/shittybill.txt
Labels: A-Mapping, A-Secret, C-Removal, E-Add-To-Wiki, size/XL, A-Chemistry, S-Controversial

#17610 Add +x to pre-commit.hook
  tools/hooks/pre-commit.hook
Labels: A-Tooling, size/XS

#17609 Hub shuttle status content is bold
  code/world/world.dm
Labels: C-Bug, A-UI, size/XS

#17614 Cleans up item special code
  code/mob.dm
  code/modules/items/specials/ItemSpecials.dm
Labels: C-Bug, size/S, A-Game-Objects

#17615 Fix claiming a lawbringer not respecting the current egun charge usage
  code/modules/jobxp/JobXPRewards.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17616 Clear overlays on stealth storage boxes
  code/obj/item/storage/weapon_security.dm
Labels: C-Bug, size/XS

#17617 Fix stamina bar not updating to max if you regenerate a tiny amount of stamina
  code/obj/screen.dm
Labels: C-Bug, A-UI, size/XS

#17382 Add air alarms to Cogmap
  maps/cogmap.dmm
Labels: A-Mapping, size/XXL

#17601 Football abilities no longer require the jumpsuit
  code/obj/item/football.dm
Labels: C-Balance, size/XS, A-Game-Objects

#17398 un emag the nadir prefab's metalman borg
  assets/maps/prefabs/underwater/nadir_safe/prefab_water_robotfactory.dmm
Labels: A-Mapping, C-Balance, size/XS, A-Silicons

#17604 Mailman -> Mail Courier
  code/datums/crew_credits/crew_credits_debug.dm
  code/datums/crew_objective.dm
  code/datums/gamemodes/gangwar.dm
  code/datums/jobs.dm
  code/datums/preferences.dm
  code/datums/syndicate_buylist.dm
  code/lists/jobs.dm
  code/modules/antagonists/changeling/abilities/mimic_voice.dm
  code/modules/items/gimmick/figurine.dm
  code/obj/item/device/radios/headsets.dm
  code/procs/access.dm
Labels: C-QoL, A-UI, E-Add-To-Wiki, size/M, S-Ready-For-Final-Review

#17508 Extra things for ABCU whitelist
  code/WorkInProgress/blueprints.dm
Labels: C-QoL, size/S, A-Game-Objects

#17380 Add air alarms to Clarion
  maps/clarion.dmm
Labels: C-Feature, A-Mapping, size/L, A-Game-Objects, A-Station-Systems

#17596 Toy Sabres Reflect Foam Projectiles (Adopt)
  _std/macros/atom_properties.dm
  code/WorkInProgress/ObjectProperties.dm
  code/datums/components/itemblock/saberblock.dm
  code/mob/living.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/toys.dm
Labels: C-Feature, size/M, A-Player-Actions, A-Game-Objects

#17627 Changes infusion chem for mutating synthkidneys from ammonia to water
  code/modules/hydroponics/plants_crop.dm
Labels: C-QoL, E-Add-To-Wiki, size/XS, A-Hydroponics

#17628 Anima Fix (SECRET CONTENT)
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: C-Bug, A-Secret, size/S, A-Chemistry

#17607 Correct casing of portable aquariums
  code/modules/fishing/fishing_gear.dm
Labels: C-Code-Quality, size/XS, A-Catering

#17637 Blacklists plasmaglass from ABCU
  code/WorkInProgress/blueprints.dm
Labels: size/XS

#17459 Airlock Cycling framework.
  code/modules/mapping/helpers/airlock_helpers.dm
  code/obj/machinery/door/airlock.dm
  icons/map-editing/airlocks.dmi
Labels: C-Feature, C-Sprites, C-QoL, size/M, A-Game-Objects

#17620 cleanup of food_and_drink/plants.dm
  code/modules/food_and_drink/plants.dm
Labels: C-Code-Quality, size/M, S-Ready-For-Final-Review, A-Hydroponics

#17647 Air alarms to Nadir engineering only
  code/obj/machinery/alarm.dm
  maps/nadir.dmm
Labels: A-Mapping, size/M

#17656 Replace Lawrence Crowley figurine with Tank Transfer figurine
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#17626 🌻 Sunflowers 🌻
  code/datums/components/arable.dm
  code/datums/components/seedy.dm
  code/modules/food_and_drink/plants.dm
  code/modules/hydroponics/plants_flower.dm
  code/obj/item/plants.dm
  goonstation.dme
  icons/obj/foodNdrink/food_produce.dmi
  icons/obj/hydroponics/items_hydroponics.dmi
Labels: C-Sprites, size/L

#17479 Cyborg Module Tool List Reorganization
  code/modules/robotics/robot/module/engineering.dm
  code/modules/robotics/robot/module/medical.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
Labels: E-Input-Wanted, A-UI, size/L, A-Silicons

#17606 Improve module tool reorder UI
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/Module.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/ModuleDetail.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/Tools.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/index.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/index.tsx
Labels: C-QoL, A-UI, size/L, A-Silicons

#17634 New Random Room: "Fuck you, no random room"
  assets/maps/random_rooms/3x3/nope_no_room_30.dmm
Labels: A-Mapping, size/S

#17685 Fix AI eyebots missing tools
  code/modules/robotics/robot/module/empty.dm
  code/modules/robotics/robot/module/parent.dm
Labels: C-Bug, P-Major, size/XS, A-Silicons

#17688 Pronoun usage in messages related to constructing singularity containment
  code/obj/machinery/singularity.dm
Labels: C-QoL, A-UI, size/XS

#17690 Fix Port-A-Gene allowing anyone inside
  code/modules/medical/genetics/portagene.dm
Labels: C-Bug, size/XS, A-Game-Objects, A-Silicons

#17687 Fix passengers being able to steer minisub
  code/datums/movement_controller/tank.dm
Labels: C-Bug, size/XS, A-Vehicles

#17693 Small Animal pronoun fixes: scorpion, rattlesnake, mentor mouse
  code/mob/living/critter/small_animal.dm
Labels: C-Bug, size/S, A-Critters

#17696 Add minimap colour for morgue/crematorium
  _std/defines/minimap.dm
  code/area.dm
Labels: C-Bug, A-Mapping, size/XS

#17692 Makes tank explosions scale with volume
  code/obj/item/tank.dm
Labels: C-Balance, size/XS, A-Atmospherics

#17597 Adds chaplain mechanic 'faith'. Uses it for healing
  _std/__std.dme
  _std/defines/faith.dm
  code/datums/traits.dm
  code/mob/living/life/Life.dm
  code/mob/living/life/faith.dm
  code/obj/item/storage/bible.dm
  goonstation.dme
  sound/effects/faithbiblewhack.ogg
Labels: C-Feature, E-Input-Wanted, C-Sound, E-Add-To-Wiki, size/L, A-Game-Objects

#17681 Cyborg Docking Station code tidy
  browserassets/tgui/tgui.bundle.js
  code/modules/robotics/robot/robot_docking_station.dm
  tgui/packages/tgui/interfaces/CyborgDockingStation/CellChargeBar.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/DockingAllowedButton.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/OccupantSection/EyebotStatusView.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/OccupantSection/HumanStatusView.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/OccupantSection/OccupantCellDisplay.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/OccupantSection/RobotStatusView/ClothingReportSection.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/OccupantSection/RobotStatusView/DamageReportSection.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/OccupantSection/RobotStatusView/DecorationReportSection.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/OccupantSection/RobotStatusView/UpgradeReportSection.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/OccupantSection/RobotStatusView/index.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/OccupantSection/index.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/SuppliesSection/AvailableCellsSection.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/SuppliesSection/StandardAvailableSection.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/SuppliesSection/index.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/index.tsx
  tgui/packages/tgui/interfaces/CyborgDockingStation/type.ts
Labels: C-Code-Quality, A-UI, size/XXL, A-Silicons

#17686 adds the ability to trap pizza boxes with mousetraps/landmines
  code/obj/item/kitchen.dm
Labels: C-Feature, size/S, A-Game-Objects

#17700 BONUS_POINTS define gives spacebux
  code/client.dm
  code/modules/economy/persistent_bank.dm
Labels: C-Bug, size/XS, A-Internal

#17691 Adds emag effect for robot arms
  code/datums/hud/robot.dm
  code/mob/living/life/Life.dm
  code/mob/living/silicon/robot.dm
  code/obj/item/mob_parts.dm
  code/obj/item/mob_parts/robot_parts.dm
Labels: C-Feature, C-Balance, size/L, A-Silicons

#17712 Add drop only menu for critters that can't throw
  code/datums/hud/critter.dm
  icons/mob/hud_human.dmi
Labels: C-Sprites, size/XS

#17715 Fix red bucket reward being droppable as a cyborg
  code/mob/living/silicon/robot.dm
Labels: C-Bug, size/XS, A-Silicons

#17702 Consistently give oxytank for Missile Arrival purchase
  code/modules/economy/persistent_bank_purchases.dm
Labels: C-Bug, size/XS, A-Respawning

#17694 Add a minimum synthesis temperature of 70 °C to LSD
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: C-Balance, C-QoL, E-Add-To-Wiki, size/XS, A-Chemistry, A-Hydroponics

#17724 Cyborg Module Rewrtier code tidy
  browserassets/tgui/tgui.bundle.js
  code/modules/robotics/robot/robot_module_rewriter.dm
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/ModuleDetail.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/Tools.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/index.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/action.ts
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/index.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/type.ts
Labels: C-Code-Quality, A-UI, size/L, A-Silicons

#17725 removed one (1) cart from cogmap2
  maps/cogmap2.dmm
Labels: C-Bug, A-Mapping, size/XS

#17729 Require Garlic for Cheesy Garlic Bread
  code/datums/cookingrecipes.dm
Labels: C-Bug, size/XS, A-Catering

#17727 make wingrilles layer lower
  code/modules/mapping/helpers/wingrille_spawner.dm
Labels: A-Mapping, C-QoL, size/XS, A-Internal

#17733 Make securing robotic limbs use generic language
  code/obj/item/mob_parts/robot_parts.dm
Labels: C-Bug, size/XS, A-Medical, A-Player-Actions

#17731 Ghost drone sheet faces
  icons/mob/ghost_drone.dmi
Labels: C-Sprites, size/XS

#17718 Fix description for refilled cigarette boxes
  code/obj/item/cigarette.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17618 Converts oil for borgs into a status effect and rebalances it
  code/datums/movement_modifier/movement_modifiers.dm
  code/mob/living/life/Life.dm
  code/mob/living/silicon/robot.dm
  code/mob/living/silicon/robot_oil.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/status_system/statusEffects.dm
  goonstation.dme
  icons/ui/statussystem.dmi
Labels: C-Sprites, C-Balance, E-Input-Wanted, C-Rework, E-Add-To-Wiki, size/M, A-Silicons, S-Ready-For-Final-Review

#17739 Makes Cyclopentanol possible (SECRET CONTENT?)
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: C-Bug, A-Secret, size/XS, A-Chemistry

#17738 remove a couple light tubes in hos office + botany
  maps/cogmap.dmm
Labels: A-Mapping, C-QoL, size/S

#17697 Thinktape and master thinktape resprites
  icons/obj/items/disks.dmi
Labels: C-Sprites, size/XS

#17730 Listening Post and Captain's Office always start with auth disk pinpointers
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/density2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/wrestlemap.dmm
Labels: C-Bug, A-Mapping, size/M, A-Game-Objects

#17726 Meteor parallax fix
  code/modules/events/meteor_shower.dm
  code/modules/parallax/parallax_render_sources/parallax_render_sources.dm
Labels: C-Bug, C-QoL, size/M, A-Events

#17747 Pizza Snipping
  code/modules/food_and_drink/snacks.dm
Labels: C-Feature, C-QoL, size/XS, A-Catering

#17475 Adds net_id to some atmospheric devices, and turns on packet control for vents, pumps, and injectors!
  _std/packets.dm
  code/modules/atmospherics/machinery/binary/dp_vent_pump.dm
  code/modules/atmospherics/machinery/binary/pump.dm
  code/modules/atmospherics/machinery/binary/volume_pump.dm
  code/modules/atmospherics/machinery/unary/outlet_injector.dm
  code/modules/atmospherics/machinery/unary/vent_pump.dm
  code/modules/atmospherics/machinery/unary/vent_scrubber.dm
  code/modules/power/TEG.dm
  icons/obj/atmospherics/dp_vent_pump.dmi
  icons/obj/atmospherics/outlet_injector.dmi
  icons/obj/atmospherics/pump.dmi
  icons/obj/atmospherics/vent_pump.dmi
  icons/obj/atmospherics/vent_scrubber.dmi
  icons/obj/atmospherics/volume_pump.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/L, A-Atmospherics

#17746 Makes screenheads smashable
  code/mob/living/silicon/robot.dm
  code/obj/item/mob_parts/robot_parts.dm
  icons/mob/robots.dmi
  icons/obj/robot_parts.dmi
Labels: C-Feature, C-Sprites, size/M, A-Silicons

#17760 Stop meteor parallax lasting forever
  code/modules/events/meteor_shower.dm
Labels: C-Bug, size/XS

#17413 Makes game ticker re-roll mode immediately on failure
  code/datums/configuration.dm
  code/datums/gamemodes/gangwar.dm
  code/datums/gamemodes/nuclear.dm
  code/datums/gamemodes/salvager.dm
  code/datums/gameticker.dm
Labels: C-Rework, size/M, A-Gamemodes

#17338 Robot parts now have a material (so you can reclaim them)
  _std/__std.dme
  _std/defines/manufacturing.dm
  code/datums/manufacturing.dm
  code/mob/living/silicon/robot.dm
  code/obj/item/mob_parts/robot_parts.dm
Labels: C-Feature, size/L, A-Materials

#17766 Fixes incorrect movement modifiers being applied onto admin spawned borgs
  code/datums/movement_modifier/movement_modifiers.dm
  code/mob/living/critter/sawfly.dm
  code/mob/living/silicon/robot.dm
Labels: C-Bug, size/S, A-Silicons

#17775 💃 Salsa Dancing 🕺
  code/WorkInProgress/AzrunStuff.dm
  code/datums/abilities/dancing.dm
  goonstation.dme
  icons/mob/dance_ui.dmi
Labels: C-Sprites, size/XL

#17771 Stops rattlesnakes from appearing alive when dead
  code/mob/living/critter/small_animal.dm
Labels: C-Bug, P-Trivial, size/XS, A-Critters

#17769 Adds help message for screwdrivering grenades
  code/obj/item/grenades.dm
Labels: C-QoL, A-UI, size/XS

#17772 radiation immunity gene lowers seed damage from radioactive infusions
  code/modules/hydroponics/plants.dm
Labels: C-Balance, C-QoL, size/XS, A-Hydroponics

#17774 Map helpers for technical storage cards
  code/obj/rack.dm
  icons/obj/objects.dmi
Labels: A-Mapping, C-Sprites, C-QoL, size/M, A-Internal

#17643 grep check for misuse of abstract type
  .github/CODE_GUIDELINES.md
  tools/ci/check_grep.sh
  tools/ci/check_grep_secret.sh
Labels: A-Tooling, size/S, C-Documentation

#17792 Fixes #17755
  code/datums/mutantraces.dm
Labels: C-Bug, size/XS

#17799 Use `QDELETED()` not `.disposed`
  code/modules/chemistry/Chemistry-Holder.dm
Labels: P-Trivial, size/XS, A-Chemistry, A-Internal

#17798 Enable logging runtimes during global init
  code/datum.dm
  code/datums/tooltip.dm
  code/error_handling.dm
  code/procs/station_name.dm
Labels: P-Major, size/S, A-Admin, A-Internal

#17800 Add knitting supplies to ranching lockers and wool production supplies
  code/modules/economy/supply_packs.dm
  code/obj/storage/secure_closets.dm
Labels: C-QoL, A-Game-Objects, A-Hydroponics

#17802 Abstract runtime fix for player zoldorfing
  code/obj/zoldorf.dm
Labels: C-Runtime, size/XS, A-Game-Objects

#17805 Fix AI mime plating not working
  code/obj/item/ai_plating_kit.dm
Labels: C-Bug, P-Trivial, size/XS, A-Silicons

#17553 Adds new candies/treats, brownies, and refactors existing wrapped candy code
  assets/maps/prefabs/space/prefab_candy_shop.dmm
  assets/maps/prefabs/underwater/nadir_unsafe/prefab_water_honk.dmm
  code/WorkInProgress/Hydrothings.dm
  code/WorkInProgress/cabinet.dm
  code/WorkInProgress/flourish.dm
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/candy.dm
  code/modules/food_and_drink/ingredients.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/item/storage/lunchboxes.dm
  code/obj/random_spawners.dm
  code/obj/submachine/cooking.dm
  icons/mob/inhand/hand_food.dmi
  icons/obj/foodNdrink/food_candy.dmi
  icons/obj/foodNdrink/food_dessert.dmi
  icons/obj/foodNdrink/food_ingredient.dmi
  icons/obj/foodNdrink/food_meals.dmi
  maps/cogmap.dmm
  maps/donut2.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/horizon.dmm
  maps/z2.dmm
Labels: C-Feature, A-Mapping, C-Sprites, C-Code-Quality, E-Add-To-Wiki, size/XL, A-Catering

#17658 Kitchen cleanup: Cogmap 1
  maps/cogmap.dmm
Labels: A-Mapping, C-QoL, S-Merge-Conflict, size/XXL

#17806 Cog1 Cargo Office Improvements
  maps/cogmap.dmm
Labels: A-Mapping, S-Merge-Conflict, size/XXL

#17563 Rework wizard polymorph to timed status effect
  browserassets/html/polymorph.html
  code/mob/transform_procs.dm
  code/modules/antagonists/wizard/abilities/animal.dm
  code/modules/status_system/statusEffects.dm
  icons/ui/statussystem.dmi
Labels: C-Sprites, C-Balance, C-Rework, E-Add-To-Wiki, size/M, A-Status-Effects, S-Ready-For-Final-Review

#17764 Announcement computer tgui
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/computer/announcement.dm
  maps/z2.dmm
  tgui/packages/tgui/interfaces/AnnouncementComputer/automatic.tsx
  tgui/packages/tgui/interfaces/AnnouncementComputer/index.tsx
  tgui/packages/tgui/interfaces/AnnouncementComputer/manual.tsx
  tgui/packages/tgui/interfaces/AnnouncementComputer/type.tsx
Labels: A-Mapping, A-UI, size/L, S-Ready-For-Final-Review

#16899 Add PTL to Nadir
  maps/nadir.dmm
Labels: C-Feature, A-Mapping, E-Add-To-Wiki, size/XXL, S-Ready-For-Final-Review

#17811 Adds white wine to the bar vendor
  code/modules/food_and_drink/alcohol.dm
  code/modules/vending/vending.dm
Labels: C-QoL, size/XS, A-Catering

#17807 Use technical storage circuit board map spawners
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
Labels: A-Mapping, C-QoL, size/L, A-Internal

#16322 Bans refactor
  browserassets/tgui/tgui.bundle.js
  code/WorkInProgress/apiFallbackRoutes.dm
  code/client.dm
  code/datums/browserOutput.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_holder.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/ban_panel.dm
  code/modules/admin/bans.dm
  code/modules/admin/banshark.dm
  code/modules/admin/drunkmode.dm
  code/modules/admin/gibverbs.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/spacebee_extension/commands.dm
  code/modules/goonhub/api/models/bans/BanResource.dm
  code/modules/goonhub/api/requests/bans/AddBansBody.dm
  code/modules/goonhub/api/requests/bans/AddBansDetailBody.dm
  code/modules/goonhub/api/requests/bans/DeleteBansBody.dm
  code/modules/goonhub/api/routes/apiRoute.dm
  code/modules/goonhub/api/routes/bans/AddBans.dm
  code/modules/goonhub/api/routes/bans/DeleteBans.dm
  code/modules/goonhub/api/routes/bans/UpdateBans.dm
  code/modules/goonhub/event_recording/event_recorder.dm
  code/procs/computer_id.dm
  code/procs/helpers.dm
  goonstation.dme
  tgui/packages/tgui/interfaces/BanPanel/index.tsx
Labels: A-UI, size/XXL, A-Admin, A-Internal

#17804 Duplicate Icon Cleanup Batch
  icons/mob/ghost_observer_abilities.dmi
  icons/mob/hud_human_vapor.dmi
  icons/mob/hud_pod.dmi
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/bots/medbots.dmi
  icons/obj/clothing/item_masks.dmi
  icons/obj/decoration.dmi
  icons/obj/doors/Door1.dmi
  icons/obj/foodNdrink/bread_inhand.dmi
  icons/obj/foodNdrink/food_ingredient.dmi
  icons/obj/hydroponics/hydroponics.dmi
  icons/obj/items/pills.dmi
  icons/obj/status_display.dmi
  icons/turf/areas.dmi
Labels: C-Bug, C-Sprites, size/XS

#17821 Remove roundstart jars from cog1
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/XS, A-Game-Objects, A-Catering

#17812 Re-arrange get_desc check so that you can see if people have butts without surgery
  code/mob/living/carbon/human/procs/get_desc.dm
Labels: C-QoL, size/S, A-Medical

#17762 ThinkTape re-resprite
  icons/obj/items/disks.dmi
Labels: C-Sprites, size/XS, S-Ready-For-Final-Review

#17817 Adds glowing slurry as a plant infusion chemical
  code/modules/hydroponics/plants.dm
Labels: C-Feature, size/XS, A-Hydroponics
