Repository goonstation/goonstation, pull requests merged in 2024-03, with the labels that each got.

#18071 Gives synthlungs organholder data so you can actually use them
  code/obj/item/organs/lung.dm
Labels: C-Bug, E-Ignore-Checks, size/XS, A-Medical, A-Hydroponics

#18073 Fixes minor stamps and paper Issues
  code/modules/writing/paper.dm
  icons/obj/writing.dmi
Labels: C-Bug, C-Sprites, size/S, A-Game-Objects

#18060 SyndieChemiCompiler_Bugfix
  code/modules/chemistry/chemicompiler_core.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18043 Update Extravagant Chocolate Gateau description
  code/modules/food_and_drink/cakes.dm
Labels: size/XS, A-Game-Objects, A-Catering

#18092 Engage the brake by default in pods and subs
  code/modules/transport/pods/vehicle.dm
Labels: size/XS, A-Vehicles

#18097 Fixes Chameleon bug with QM outfit
  code/obj/item/clothing/chameleon_js.dm
Labels: C-Bug, size/XS, A-Game-Objects, A-Clothing

#18093 Fixes Holy Water, Bubble Bath, & Other Reagent Overlays
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/tools/bottles.dm
  code/obj/item/hydroponics.dm
Labels: C-Bug, size/M

#18091 Makes NTSC take up a security officer slot
  code/datums/controllers/job_controls.dm
  code/datums/jobs.dm
  code/mob/dead/observer.dm
  code/mob/new_player.dm
  code/obj/cryotron.dm
Labels: C-Balance, size/M, A-Respawning

#18099 Fixes #17275: Reagents applying to overlays on turfs which cause errors in lighting
  code/modules/chemistry/Chemistry-Holder.dm
Labels: C-Bug, size/XS, A-Chemistry, A-Catering

#18087 Bathsalts Recipe Change, Mugwort to Ghost Chili Juice
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: size/XS, S-Ready-For-Final-Review

#18110 Fix ChemMaster soda cans spilling on *twirl
  code/modules/chemistry/tools/food_and_drink.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18122 Disable crew shortage shuttle call for #define NO_SHUTTLE_CALLS
  code/mob/living.dm
Labels: C-QoL, size/XS, A-Internal

#18125 Fix wire junctions on cogmap 1
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/XS

#18118 Fixes neutron loaf typo
  code/modules/disposals/disposal.dm
Labels: C-Bug, size/XS, A-Catering

#18111 Fix AI name defaulting to BYOND key
  code/mob/transform_procs.dm
Labels: C-Bug, size/XS, A-Silicons

#18083 Adds magnetic traction upgrade to robotics fabricator
  code/datums/manufacturing.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/modules/robotics/robot/upgrade/mag_boot.dm
  code/modules/robotics/robot/upgrade/teleporter.dm
  code/obj/machinery/manufacturer.dm
  goonstation.dme
  icons/obj/robot_parts.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/M, A-Silicons

#18104 Makes pride flags craftable
  code/obj/decal/wall_flags.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/wall_flags.dm
  icons/obj/decals/flag.dmi
  icons/obj/items/flag.dmi
Labels: C-Feature, C-Sprites, size/M, A-Clothing

#18128 Notes kludge
  code/modules/admin/spacebee_extension/commands.dm
  code/procs/datetime.dm
Labels: size/M

#18112 BonePipeshot
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/special.dm
  code/obj/item/assembly/misc_assemblies.dm
  code/obj/item/gun/ammo.dm
Labels: C-Feature, size/M, A-Game-Objects

#18132 Legacy data notesthing
  code/modules/admin/playernotes.dm
  code/modules/admin/spacebee_extension/commands.dm
Labels: size/S

#17813 Some radioactive materials decay plasma into fallout
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Properties.dm
Labels: C-Feature, size/M, A-Atmospherics, A-Science, S-Ready-For-Final-Review

#18108 Fix slightly malformed winset
  code/modules/interface/skin_input_box.dm
Labels: A-UI, size/S, A-Internal

#17873 TGUI Message Modal
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/mob.dm
  code/modules/tgui/tgui_message.dm
  goonstation.dme
  tgui/packages/tgui/interfaces/MessageModal.tsx
  tgui/packages/tgui/sanitize.js
Labels: C-Feature, C-QoL, A-UI, size/L

#18152 Fix infinite gay flags
  code/obj/item/wall_flags.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18162 Allows landmine pouches to store the landmines after taking them out.
  code/obj/item/storage/ammo_pouches.dm
Labels: C-QoL, size/XS, A-Game-Objects

#18135 Bed & Blanket Resprite!!
  icons/obj/clothing/overcoats/item_suit.dmi
  icons/obj/furniture/chairs.dmi
Labels: C-Sprites, size/XS, A-Game-Objects, S-Ready-For-Final-Review

#18156 Announcement Computers can be disassembled like other computers
  code/obj/machinery/computer/announcement.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18159 Fixes #18129: Makes Knock open the current secured storage you're in
  code/modules/antagonists/wizard/abilities/knock.dm
Labels: C-Bug, size/S, A-Player-Actions

#18145 Makes cryoing free up slots for non-unique jobs
  code/datums/jobs.dm
  code/obj/cryotron.dm
Labels: C-Balance, size/XS, A-Respawning

#18096 Makes security slots scale at lower population
  code/datums/controllers/job_controls.dm
  code/datums/jobs.dm
  code/map.dm
  code/mob/new_player.dm
  code/procs/jobprocs.dm
Labels: C-Balance, E-Input-Wanted, size/M, A-Respawning

#18185 fix movement components not stopping on 0
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Bug, P-Major, size/XS, A-Game-Objects

#18138 Liquid Jeans
  code/modules/chemistry/Reagents-Misc.dm
Labels: C-Feature, size/M, A-Chemistry

#18193 Sawing tools can cut open coconuts
  code/modules/food_and_drink/plants.dm
Labels: C-Feature, C-QoL, size/XS, A-Hydroponics

#17770 HUDZones: Reloaded
  .github/assets/hudzones_example.png
  _std/defines/client.dm
  _std/macros/dir.dm
  _std/macros/hud.dm
  code/datums/hud.dm
  code/modules/interface/hudzones/README.md
  code/modules/interface/hudzones/_hud_zones_public.dm
  code/modules/interface/hudzones/hud_elements.dm
  code/modules/interface/hudzones/hud_zones.dm
  goonstation.dme
Labels: C-Feature, A-Tooling, C-QoL, E-FUCK, S-Stale, E-Certified-Organic, A-UI, size/XL, C-Documentation

#18195 Display "Body Type" instead of "Gender" for UI
  browserassets/tgui/tgui.bundle.js
  code/modules/admin/randomverbs.dm
  code/obj/machinery/computer/secure_data.dm
  tgui/packages/tgui/interfaces/CharacterPreferences/GeneralTab.tsx
Labels: C-QoL, A-UI, size/XS

#18188 resprites boxing and gym mats
  icons/turf/construction_floors.dmi
  icons/turf/floors.dmi
Labels: C-Sprites, size/XS

#18170 Adds a cooling rack to the kitchen
  code/modules/vending/vending.dm
  code/obj/item/kitchen.dm
  icons/obj/foodNdrink/food_related.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/M, A-Game-Objects, A-Catering

#18202 Removes penlight flash effect for non-human mobs
  code/modules/medical/surgery_tools.dm
Labels: C-Bug, size/XS

#18163 Implement Job Manager TGUI
  _std/defines/jobs.dm
  browserassets/tgui/tgui.bundle.js
  code/datums/controllers/job_controls.dm
  code/datums/jobs.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_holder.dm
  code/modules/admin/job_manager.dm
  goonstation.dme
  strings/admin_changelog.txt
  tgui/packages/tgui/interfaces/JobManager.js
Labels: C-Bug, A-UI, size/L, A-Admin

#18199 Nadir PTL update
  maps/nadir.dmm
Labels: A-Mapping, size/L, S-Ready-For-Final-Review

#18197 Changes cogmap 2 arrivals and escape dock to outer maintenance.
  maps/cogmap2.dmm
Labels: A-Mapping, C-QoL, size/XL

#18189 Minor Boxing Ring fixes
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, size/L

#18034 Clarion ranch renovation
  maps/clarion.dmm
Labels: A-Mapping, size/XL

#18179 Gang items, defines, laundering, miscellanea
  _std/__std.dme
  _std/defines/gang.dm
  _std/defines/sight.dm
  code/WorkInProgress/laundry.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/modules/antagonists/__antagonist.dm
  code/modules/chemistry/tools/emergency_injectors.dm
  code/modules/items/specials/ItemSpecials.dm
  code/obj/cryotron.dm
  code/obj/item.dm
  code/obj/item/clothing/armor.dm
  code/obj/item/device/transfer_valve.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/space_cash.dm
  code/obj/item/storage/ammo_pouches.dm
  icons/mob/clothing/overcoats/worn_suit_armor.dmi
  icons/mob/inhand/overcoat/hand_suit_armor.dmi
  icons/obj/items/gang.dmi
  icons/obj/items/weapons.dmi
Labels: C-Sprites, E-Add-To-Wiki, size/L, A-Gamemodes

#18180 Gang Rework - Guns
  _std/defines/projectiles.dm
  _std/defines/weapons.dm
  code/datums/components/cell_holder.dm
  code/datums/components/fullauto.dm
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/laser.dm
  code/modules/projectiles/special.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/energy.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/implant.dm
  icons/mob/inhand/hand_guns.dmi
  icons/obj/items/ammo.dmi
  icons/obj/items/guns/energy.dmi
  icons/obj/items/guns/kinetic.dmi
  icons/obj/items/guns/kinetic48x32.dmi
  icons/obj/projectiles.dmi
  sound/effects/tinyhiss.ogg
  sound/weapons/birdshot.ogg
Labels: C-Sprites, C-Sound, E-Add-To-Wiki, size/XL, A-Game-Objects

#18153 Adds blinds to cog1 bar office
  maps/cogmap.dmm
Labels: A-Mapping, size/S

#18215 Varedit as a bit field
  _std/defines/data_input.dm
  browserassets/tgui/tgui.bundle.js
  code/modules/admin/data_input.dm
  code/modules/admin/viewvariables/datumvars.dm
  code/modules/tgui/tgui_input_bitfield.dm
  goonstation.dme
  tgui/packages/tgui/interfaces/BitfieldInputModal.js
  tgui/packages/tgui/interfaces/RandomEvent.js
  tgui/packages/tgui/interfaces/common/DataInput.js
Labels: C-Feature, A-UI, size/L, A-Admin

#18220 Fix Thrifty B.O.B cheating you out of Boogiebots
  code/modules/economy/trader.dm
Labels: C-Bug, size/XS, A-Critters

#18214 515 Winset DPI scaling fix
  code/modules/interface/skin_input_box.dm
Labels: C-Bug, size/M, A-Internal

#18225 Moving bank records computer to own file
  code/datums/banking.dm
  code/obj/machinery/computer/bank_records.dm
  goonstation.dme
Labels: size/XL, A-Game-Objects, A-Internal

#18210 Prevent dropping 2 handed items from your inventory with only 1 free hand.
  code/atom.dm
  code/mob.dm
  code/mob/living/carbon/human.dm
  code/mob/living/critter.dm
  code/obj/item.dm
Labels: C-QoL, size/M, A-Game-Objects

#18176 Cleanup of jobs.dm
  code/datums/controllers/job_controls.dm
  code/datums/jobs.dm
  code/modules/antagonists/salvager/salvager.dm
Labels: C-Code-Quality, size/L, A-Internal, S-Ready-For-Final-Review

#18146 Add spawnable SICC versions of the four cyborg sizes
  code/mob/living/silicon/robot.dm
Labels: C-QoL, size/S, A-Admin, A-Silicons

#18150 Bugfix for plate shattering leaving hanging signals
  code/obj/item/kitchen.dm
Labels: C-Bug, size/XS, A-Catering

#18171 Security fine improvements
  _std/defines/security.dm
  code/datums/datacore.dm
  code/obj/item/device/pda2/smallprogs.dm
Labels: C-Feature, size/M, A-Player-Actions

#18212 Gang rework: Gang crates
  code/datums/components/storage_viscontents.dm
  code/datums/components/transform_on_pickup.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/gun_parent.dm
  code/obj/item/gun/kinetic.dm
  code/obj/storage/gang_crate.dm
  code/obj/storage/large_storage_parent.dm
  goonstation.dme
  icons/obj/items/storage.dmi
  icons/obj/large_storage.dmi
Labels: C-Feature, C-Sprites, size/XXL, A-Gamemodes, A-Game-Objects, S-Ready-For-Final-Review

#18222 Make objectives a bit more reasonable
  code/datums/gamemodes/gm_parent.dm
  code/datums/objective.dm
  code/modules/antagonists/traitor/sleeper_agent.dm
Labels: C-Balance, C-Rework, size/L, A-Gamemodes

#18230 Remove *shakebutt from emote help list
  code/mob/living/carbon/human/procs/emote.dm
Labels: C-Bug, A-UI, size/XS

#18244 Give mining drones a 10 second manufacture time
  code/datums/manufacturing.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18231 Fix lobby text status runtime
  code/world/world.dm
Labels: C-Bug, C-Runtime, A-UI, size/XS

#18252 small z3 edits for fun
  code/WorkInProgress/WalpStuff.dm
  code/obj/item/table_rack_parts.dm
  code/obj/map/light.dm
  code/obj/table.dm
  code/turf/floors.dm
  icons/misc/walp_decor.dmi
  icons/obj/furniture/single_tables.dmi
  icons/turf/adventure_walpvrgis.dmi
  maps/z3.dmm
Labels: A-Mapping, C-Sprites, size/XXL

#17965 Chaplain Vending Machine
  code/modules/vending/vending.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/masks.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/scripture.dm
  goonstation.dme
  icons/mob/clothing/head.dmi
  icons/mob/clothing/jumpsuits/worn_js_gimmick.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/mob/inhand/hand_books.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/item_masks.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
  icons/obj/clothing/uniforms/item_js_gimmick.dmi
  icons/obj/vending.dmi
  icons/obj/writing.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-Sprites, C-Rework, size/L, A-Clothing

#18227 include alt job names for manifest categorization
  code/lists/jobs.dm
Labels: C-Bug, size/XS, A-Station-Systems

#18196 Fixes Blind staff dropping their stuff in arrivals
  code/mob/living/carbon/human.dm
  code/procs/jobprocs.dm
Labels: C-Bug, size/S, A-Clothing, A-Traits

#18259 Clown stamps Fix
  icons/obj/writing.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Game-Objects

#18167 Fixes #18166: Disappear now works when plushy is inside a container
  code/mob/living/critter/cryptid_plushie.dm
Labels: C-Bug, size/XS, A-Player-Actions

#18262 Added Riot launchers and smoke ammo to Atlas
  maps/atlas.dmm
Labels: C-Feature, A-Mapping, size/S

#18192 Update camera status and coverage on de/reconstruction
  code/modules/camera/camera.dm
Labels: C-Bug, C-Balance, size/S, A-Game-Objects, A-Station-Systems

#18274 Use consumer for grouping drink messages
  code/modules/chemistry/tools/food_and_drink.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18266 Fixes: #18260 - Repairing Nadir Siphon Control Computer
  code/modules/siphon/siphon_controls.dm
  code/obj/machinery/computer/buildandrepair.dm
  maps/nadir.dmm
Labels: A-Mapping, size/S

#18268 Fixes: #18237 - Printing from WizWrite not working
  _std/defines/access.dm
  code/modules/networks/computer3/base_program.dm
  code/modules/networks/computer3/emailclient.dm
  code/modules/networks/computer3/writer.dm
Labels: C-Bug, size/S, A-Game-Objects, A-Station-Systems

#18271 Runway light fixture and bulb fixes
  code/modules/power/lighting.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18276 fix gang points
  code/datums/gamemodes/gangwar.dm
Labels: C-Bug, size/XS, A-Gamemodes

#18277 gang members have pants now
  code/datums/jobs.dm
  code/modules/antagonists/gang/gang_leader.dm
Labels: size/XS

#18254 Adds "examine" desc functionality to admin verbs
  _std/macros/antag_popups.dm
  _std/macros/client.dm
  _std/vox.dm
  code/WorkInProgress/WiresStuff.dm
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/WorkInProgress/blueprints.dm
  code/WorkInProgress/customcritter.dm
  code/datums/buildmode.dm
  code/datums/controllers/job_controls.dm
  code/datums/ircbot.dm
  code/datums/tooltip.dm
  code/datums/viewport.dm
  code/error_handling.dm
  code/mob/living/silicon.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_holder.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/adminjump.dm
  code/modules/admin/adminsay.dm
  code/modules/admin/atom_verbs.dm
  code/modules/admin/bans.dm
  code/modules/admin/ca_viewer.dm
  code/modules/admin/custom_spawn_event.dm
  code/modules/admin/debug.dm
  code/modules/admin/diagnostics.dm
  code/modules/admin/drunkmode.dm
  code/modules/admin/gibverbs.dm
  code/modules/admin/gimmick/wizard_rings.dm
  code/modules/admin/lag_hacks.dm
  code/modules/admin/part_modifier.dm
  code/modules/admin/randomverbs.dm
  code/modules/admin/terrainify.dm
  code/modules/admin/ticklag.dm
  code/modules/admin/toggles.dm
  code/modules/admin/viewvariables/datumvars.dm
  code/modules/admin/viewvariables/modifyvariables.dm
  code/modules/economy/requisition/requisition_contracts.dm
  code/modules/economy/shippingmarket.dm
  code/modules/fluids/fluid_commands.dm
  code/modules/goonhub/api/api.dm
  code/modules/goonhub/event_recording/event_recorder.dm
  code/modules/packets/radio_controller.dm
  code/modules/power/power_parent.dm
  code/modules/sound/djpanel.dm
  code/procs/loop_debug.dm
  code/procs/resourceManagement.dm
  code/z_adventurezones/numbersstation.dm
Labels: size/XL, A-Admin

#18281 remove null refs
  code/modules/status_system/statusEffects.dm
Labels: size/XS

#18278 stop detective gangs
  code/datums/jobs.dm
Labels: C-Balance, size/XS, A-Gamemodes

#18280 fix gangs lag somewhat
  code/datums/gamemodes/gangwar.dm
Labels: C-Performance, C-Code-Quality, size/XS, A-Gamemodes

#18283 Janktank fixes
  code/datums/gamemodes/gangwar.dm
Labels: size/S

#18282 fix ghosts being gang experts
  code/datums/abilities/ghost_observer.dm
  code/datums/gamemodes/gangwar.dm
  code/modules/antagonists/gang/abilities/_gang_leader_ability_holder.dm
Labels: size/M

#18235 Sec podbay consistency and QoL
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/donut2.dmm
  maps/donut3.dmm
Labels: A-Mapping, C-QoL, size/M

#18249 Adds decorations to boxing rings
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: C-Feature, A-Mapping, size/XL

#18273 Fix Genetics console DNA Render overflowing window
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/GeneTek/tabs/ScannerTab.js
Labels: C-Bug, A-UI, size/XS

#18287 Add camera to top right of Cog1 Reactor
  maps/cogmap.dmm
Labels: A-Mapping, C-QoL, size/XS

#18295 De-duplicate logic for finding bank accounts by a list of jobs
  code/datums/banking.dm
  code/modules/power/pt_laser.dm
  code/obj/machinery/manufacturer.dm
Labels: C-Code-Quality, size/S, A-Internal

#18288 Fix Incorrect areas around Clarion bridge
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/S, S-Ready-For-Final-Review

#18302 Gang adjustments
  code/datums/gamemodes/gangwar.dm
  code/modules/status_system/statusEffects.dm
Labels: C-Balance, size/XS, A-Gamemodes

#18292 Calling force_drop on items will sever item arms (by default)
  code/modules/medical/surgery_tools.dm
  code/obj/item.dm
  code/obj/machinery/phone/phone.dm
Labels: C-Bug, size/S, A-Medical, A-Game-Objects

#18204 Enable logging via event system
  code/datums/controllers/process/events.dm
  code/modules/goonhub/event_recording/events/Log.dm
  code/modules/goonhub/event_recording/types/Log.dm
  code/procs/logging.dm
  goonstation.dme
Labels: size/S, A-Admin, A-Internal, S-Testmerged

#18161 Recoil mechanics
  code/WorkInProgress/HaineWhatever.dm
  code/WorkInProgress/MarqStuff.dm
  code/WorkInProgress/tarmStuff.dm
  code/client.dm
  code/modules/recoil/recoil_controller.dm
  code/obj/item/flamethrower.dm
  code/obj/item/gun/energy.dm
  code/obj/item/gun/gun_parent.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/gun/reagent.dm
  code/obj/item/implant.dm
  code/obj/storage/gang_crate.dm
  code/procs/helpers.dm
  goonstation.dme
  interface/skin.dmf
Labels: C-Feature, size/L, A-Game-Objects

#18311 Adds a Nuclear Prep Closet to Cairngorm
  maps/z2.dmm
Labels: C-Feature, A-Mapping, size/S

#18315 Improve recoil camera reset speed
  code/modules/recoil/recoil_controller.dm
  code/obj/item/gun/gun_parent.dm
Labels: C-QoL, A-UI, size/XS

#18312 Fix disppearing cone when making ice cream with no hands
  code/obj/submachine/cooking.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18317 add an icon for `/area/afterlife/heaven`
  code/z_adventurezones/afterlife.dm
  icons/turf/areas.dmi
Labels: C-Sprites, size/XS, A-Internal

#18293 Donut 2's extra chaplain gear has a dedicated crate
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/S

#18158 Changes the ice cream cone box description to something ridiculously and unneccesarily long
  code/obj/item/storage/food.dm
Labels: C-Rework, S-Stale, size/S, A-Game-Objects

#18332 Shaking salt in someones eyes hurts said eyes ow ow ouch
  code/modules/food_and_drink/condiments.dm
Labels: C-Feature, size/XS, A-Medical, A-Game-Objects

#18326 Modify the search function in Secmate to allow searching by criminal status.
  code/modules/networks/computer3/sec_rec.dm
Labels: C-QoL, size/XS

#18310 Gang gun adjustments
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/laser.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
Labels: C-Balance, size/S, A-Gamemodes, A-Game-Objects

#18336 Remove "Contact CDC" option from QM Console
  code/WorkInProgress/nadir_antenna.dm
  code/modules/economy/supply_misc.dm
  code/modules/writing/papers.dm
  code/obj/machinery/computer/QM_supply.dm
  code/obj/storage/crates.dm
Labels: C-Removal, size/L, A-Station-Systems

#17815 Mining tool refactor
  assets/maps/prefabs/underwater/nadir/prefab_water_miraclium_survey.dmm
  assets/maps/prefabs/underwater/nadir/prefab_water_nadirelevator.dmm
  assets/maps/prefabs/underwater/oshan/prefab_water_oshanelevator.dmm
  code/datums/controllers/sea_hotspot_controls.dm
  code/datums/manufacturing.dm
  code/mob/living/silicon/drone.dm
  code/modules/economy/requisition/rc_scientific.dm
  code/modules/economy/supply_packs.dm
  code/modules/events/white_hole.dm
  code/modules/items/specials/ItemSpecials.dm
  code/modules/robotics/bot/mining.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
  code/obj/critter/drone.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/item/tool/hedron_beam.dm
  code/obj/machinery/recharger.dm
  code/obj/mining.dm
  code/obj/sealab_objects.dm
  code/obj/storage/crates.dm
  code/obj/storage/secure_closets.dm
  code/obj/storage/wall_cabinet.dm
  goonstation.dme
  icons/mob/inhand/hand_tools.dmi
  icons/obj/items/mining.dmi
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
  maps/pod_wars.dmm
  maps/unused/construction_shuttle.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/crash_gimmick_2.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/ozymandias.dmm
  maps/z3.dmm
  maps/z5.dmm
Labels: A-Mapping, C-Sprites, C-Code-Quality, C-Balance, size/XL, A-Game-Objects

#18200 Reduces the buying prices of Sketchy D-5
  code/modules/economy/commodity.dm
Labels: C-Balance, S-Stale, size/S

#18226 Use medical record disability fields instead of listing all traits
  _std/defines/traits.dm
  code/datums/datacore.dm
  code/datums/traits.dm
  code/modules/networks/computer3/med_rec.dm
  code/obj/item/device/pda2/record_progs.dm
Labels: C-QoL, size/M, A-Medical, A-Station-Systems, S-Ready-For-Final-Review

#18342 Fixex: #18341 - Sending force shield message to silicon player instead of attacking player
  code/mob/living/silicon/robot.dm
Labels: C-Bug, P-Trivial, size/XS, A-Silicons

#18346 fix the hos bathroom tiles being freezer tiles
  maps/donut3.dmm
Labels: A-Mapping, size/S

#18309 Resprites the Rubberduck!
  icons/obj/items/items.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#18335 fix gang vests being foldable into invisibleness
  code/datums/gamemodes/gangwar.dm
  code/obj/item/clothing/armor.dm
Labels: C-Bug, size/S, A-Clothing, S-Ready-For-Final-Review

#18368 Fix syndicate shotglass throw
  code/modules/chemistry/tools/food_and_drink.dm
Labels: C-Bug, size/XS, A-Game-Objects
