Repository goonstation/goonstation, pull requests merged in 2024-02, with the labels that each got.

#17822 Prevent reagent temperatures from going below 0 Kelvin
  code/modules/chemistry/Chemistry-Holder.dm
Labels: C-Bug, size/XS, A-Chemistry

#17823 Update item name after freshly laundred status ends
  code/modules/status_system/statusEffects.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17682 Adds a Donut 2 construction area
  maps/donut2.dmm
Labels: A-Mapping, C-QoL, S-Stale, size/L

#17828 add external cycling airlocks to cogmap 1
  code/obj/machinery/door/airlock.dm
  maps/cogmap.dmm
Labels: C-Feature, A-Mapping, C-QoL, size/L

#17841 Move Clarion's central maintenance apc
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/S

#17830 Cogmap2 Medbay Revamp
  code/area.dm
  maps/cogmap2.dmm
Labels: A-Mapping, size/XXL

#17846 Consistent stack reloading for viscerite RCD
  code/obj/item/rcd.dm
Labels: C-Bug, size/M, A-Game-Objects

#17840 Toggle flashlight ability button when using hard-hat in hand
  code/obj/item/clothing/helmets.dm
Labels: C-Bug, size/S, A-Game-Objects

#17839 Add end of round gang portraits
  code/datums/hud/gang_victory.dm
Labels: C-Feature, size/M, A-Gamemodes

#17354 Disables antag captains on classic
  code/datums/jobs.dm
Labels: C-Balance, E-Input-Wanted, size/XS, S-Controversial

#17834 Add external cycling airlocks to clarion
  maps/clarion.dmm
Labels: C-Feature, A-Mapping, C-QoL, size/L

#17835 add external cycling airlocks to oshan
  maps/oshan.dmm
Labels: C-Feature, A-Mapping, C-QoL, size/L

#17836 add external cycling airlocks to atlas
  maps/atlas.dmm
Labels: C-Feature, A-Mapping, C-QoL, size/M

#17837 add external cycling airlocks to donut2
  maps/donut2.dmm
Labels: C-Feature, A-Mapping, C-QoL, size/L

#17838 add external cycling airlocks to kondaru
  maps/kondaru.dmm
Labels: C-Feature, A-Mapping, C-QoL, size/L

#17765 Kitchen Helper / Mixer TGUI Conversion
  browserassets/tgui/tgui.bundle.js
  code/obj/submachine/cooking.dm
  tgui/packages/tgui/interfaces/MixerMachine.js
Labels: A-UI, size/L, A-Catering

#17849 Minor cog2 medbay fixes
  maps/cogmap2.dmm
Labels: A-Mapping, size/S

#16091 detects duplicate icon states and screams at you (yes you)
  .github/workflows/beepsky.yml
  code/WorkInProgress/HaineWhatever.dm
  code/WorkInProgress/racing.dm
  code/area.dm
  code/client.dm
  code/datums/controllers/process/lighting.dm
  code/obj/landmark.dm
  code/obj/window.dm
  icons/Testing/newicons/obj/ALTstructures.dmi
  icons/Testing/newicons/obj/NEWcomputer.dmi
  icons/Testing/newicons/obj/NEWdoors/NEWDoor1.dmi
  icons/Testing/newicons/obj/NEWdoors/stupid_shitty_fucking_vertical_crap_doors.dmi
  icons/effects/1x1.dmi
  icons/effects/overlays/Ltrans.dmi
  icons/effects/overlays/beamout.dmi
  icons/effects/overlays/cloudy.dmi
  icons/effects/overlays/knockout.dmi
  icons/effects/overlays/knockout2.dmi
  icons/effects/overlays/knockout2t.dmi
  icons/effects/overlays/knockoutinverted.dmi
  icons/effects/overlays/meaty.dmi
  icons/effects/overlays/meatyC.dmi
  icons/effects/overlays/meatyL.dmi
  icons/effects/overlays/meatyR.dmi
  icons/effects/overlays/meatysmall.dmi
  icons/effects/overlays/solid.dmi
  icons/map-editing/mapping_helpers.dmi
  icons/misc/HaineSpriteDump.dmi
  icons/misc/bigcritter.dmi
  icons/misc/exploration.dmi
  icons/mob/cruiser_ui.dmi
  icons/mob/notes.dmi
  icons/mob/screen1.dmi
  icons/mob/screen1_robot.dmi
  icons/mob/whiteview.dmi
  icons/obj/doors/Doorcom.dmi
  icons/obj/fluid.dmi
  icons/obj/foodNdrink/food_ingredient.dmi
  icons/obj/furniture/cabinet.dmi
  icons/obj/items/randomkeys.dmi
  icons/obj/items/weapons.dmi
  icons/obj/large/32x96.dmi
  icons/obj/line.dmi
  icons/obj/machines/heavy_fiber.dmi
  icons/obj/structures.dmi
  icons/turf/areas.dmi
  icons/turf/construction_floors.dmi
  icons/turf/construction_walls.dmi
  icons/turf/floors.dmi
Labels: C-Feature, C-Sprites, A-Tooling, E-Certified-Organic, size/L

#17860 add external cycling airlocks to Donut 3
  maps/donut3.dmm
Labels: C-Feature, A-Mapping, C-QoL, size/L

#17861 add external cycling airlocks to Cogmap 2
  maps/cogmap2.dmm
Labels: C-Feature, A-Mapping, C-QoL, size/L

#17862 add external cycling airlocks to nadir
  maps/nadir.dmm
Labels: C-Feature, A-Mapping, C-QoL, size/L

#17863 OpenDream: lots of things need a delay before hard del
  code/del.dm
Labels: size/XS, A-Internal

#17868 Removes the mysterious flying toilet paper roll from cogmap2
  maps/cogmap2.dmm
Labels: C-Bug, A-Mapping, size/XXL

#17713 Properly reset rack-based AI abilities on rack destruction/deconstruction
  code/datums/ai_laws.dm
  code/obj/machinery/law_racks.dm
Labels: C-Bug, size/M, A-Silicons

#17745 Rename the paint crate, and add the artistic toolbox to it.
  code/modules/economy/supply_packs.dm
Labels: C-QoL, size/S, A-Game-Objects

#17865 Added inhand sprites for the antique pistol.
  code/obj/displaycase.dm
  code/obj/item/gun/energy.dm
  icons/mob/inhand/hand_guns.dmi
Labels: C-Feature, C-Sprites, size/XS, A-Game-Objects

#17867 White wine bottle and non pink white wine reagent
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/food_and_drink/alcohol.dm
  icons/obj/foodNdrink/bottle.dmi
Labels: C-Feature, C-Sprites, size/S, A-Game-Objects, A-Catering

#17857 use typed light parts when dismantling fixtures
  code/modules/power/lighting.dm
Labels: C-Bug, size/M, A-Game-Objects

#17879 Check for juicer overfill before juicing.
  code/obj/submachine/robotics.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17876 Fix cogmap1 mail system routing everything to botany
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/L, A-Station-Systems

#17885 Prevent prefilled drinking glasses from overfilling
  code/modules/chemistry/tools/food_and_drink.dm
Labels: C-Bug, size/XS, A-Chemistry

#17440 Wear and Tear: Light Bulbs and Switches
  code/modules/power/lighting.dm
  code/obj/machinery/lightswitch.dm
Labels: C-Feature, C-Balance, E-Input-Wanted, size/L, A-Station-Systems

#17895 Increases range limit on floor and wall designer
  code/WorkInProgress/construction/tools.dm
Labels: C-Balance, size/XS, A-Game-Objects

#17791 Add some special procs for bulk artifact spawning and (de)/activation
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
Labels: C-Feature, C-QoL, size/M, A-Admin

#17845 Makes it possible to change the arithmetic comp's mode using another comp
  code/modules/mechanics/MechanicMadness.dm
Labels: size/XS, S-Ready-For-Final-Review

#17894 Require at least 14 players to vote for oshan
  code/map.dm
Labels: A-Mapping, C-Balance, E-Add-To-Wiki, size/XS

#17877 Mixer refactor moving the KitchenHelper to be a /obj/machinery type instead of /obj/submachine.
  assets/maps/prefabs/space/prefab_drug_den.dmm
  assets/maps/prefabs/space/prefab_space_casino.dmm
  assets/maps/prefabs/underwater/nadir/prefab_water_nadirelevator.dmm
  code/WorkInProgress/blueprints.dm
  code/modules/economy/supply_packs.dm
  code/obj/machinery/food_and_drink/mixer.dm
  code/obj/submachine/cooking.dm
  goonstation.dme
  maps/artemis/arjuna.dmm
  maps/artemis/artemis.dmm
  maps/artemis/manta.dmm
  maps/artemis/planets.dmm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/density2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/pod_wars.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/density.dmm
  maps/unused/destiny.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/manta.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/ozymandias.dmm
  maps/unused/setpieces/SHARED_biodomeExpanded.dmm
  maps/unused/trunkmap.dmm
  maps/utilities/devtest.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
  maps/z3.dmm
Labels: A-Mapping, C-Code-Quality, size/XL, A-Game-Objects, A-Catering

#17875 Fix disguiser organ names being permament
  code/obj/item/device/disguiser.dm
  code/obj/item/organ_holder.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17884 Place 2 missing pipes in cogmap1 singularity engine
  assets/maps/engine_rooms/cogmap/singularity_100.dmm
Labels: C-Bug, A-Mapping, size/XS

#17909 Ban Viewer UI for API2
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/admin/ban_panel.dm
  code/modules/admin/bans.dm
  code/modules/goonhub/api/models/_Tracked.dm
  code/modules/goonhub/api/models/bans/BanDetail.dm
  code/modules/goonhub/api/models/bans/BanResource.dm
  code/modules/goonhub/api/routes/bans/GetBans.dm
  tgui/packages/tgui/components/goonstation/ListGrid/Cell.tsx
  tgui/packages/tgui/components/goonstation/ListGrid/HeaderCell.tsx
  tgui/packages/tgui/components/goonstation/ListGrid/index.ts
  tgui/packages/tgui/components/goonstation/ListGrid/type.ts
  tgui/packages/tgui/interfaces/BanPanel/BanList/BanList.tsx
  tgui/packages/tgui/interfaces/BanPanel/BanList/BanListItem.tsx
  tgui/packages/tgui/interfaces/BanPanel/BanList/columnConfig.tsx
  tgui/packages/tgui/interfaces/BanPanel/JobBanList.tsx
  tgui/packages/tgui/interfaces/BanPanel/apiType.ts
  tgui/packages/tgui/interfaces/BanPanel/index.tsx
  tgui/packages/tgui/interfaces/BanPanel/type.ts
  tgui/packages/tgui/interfaces/BanPanel/useBanPanelBackend.ts
  tgui/packages/tgui/package.json
  tgui/packages/tgui/styles/interfaces/BanPanel.scss
  tgui/packages/tgui/styles/main.scss
  tgui/yarn.lock
Labels: C-Feature, C-QoL, C-Experimental, A-UI, size/XL, A-Admin, A-Internal

#17897 TGUIification of TTV menu
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/device/transfer_valve.dm
  tgui/packages/tgui/interfaces/TTV/index.tsx
  tgui/packages/tgui/interfaces/TTV/type.ts
Labels: C-QoL, A-UI, size/L

#17901 Minorly improve clarity of plant sites for Operatives
  code/datums/gamemodes/nuclear.dm
  code/obj/item/device/audio_log.dm
Labels: C-QoL, size/S, A-Gamemodes, A-Internal

#17916 Fix bug with TTVs using bombs
  code/obj/item/device/transfer_valve.dm
Labels: C-Bug, A-UI, size/XS

#17826 Space HVAC TGUI
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/spaceheater.dm
  tgui/packages/tgui/interfaces/space_heater.js
Labels: A-UI, size/L

#17915 Let tiny items be hidden under floor tiles
  _std/defines/component_defines/component_defines_atom.dm
  code/obj/item/mousetrap.dm
  code/turf/floors.dm
Labels: C-Feature, C-Balance, size/M

#17927 Allow monkeys to pickpocket again
  code/mob/living/carbon/human/monkeys.dm
Labels: C-Bug, size/S, A-AI

#17925 Wizards no longer remember spells learned in VR
  code/modules/antagonists/wizard/wizard.dm
  code/obj/item/uplinks.dm
Labels: C-Bug, P-Major, size/S, A-Gamemodes

#17761 Lower genomes for high-genome plants
  code/modules/hydroponics/plants_weed.dm
Labels: C-Balance, C-QoL, S-Stale, size/XS, A-Hydroponics

#17951 Fix foam weapons leaving gunshot residue on user
  code/obj/item/gun/kinetic.dm
Labels: C-Bug, size/XS, A-Game-Objects

#17952 fix grammar/typo for random room coat
  assets/maps/random_rooms/3x3/hosroom.dmm
Labels: C-Bug, P-Trivial, A-Mapping, size/XS

#17924 Adds Nanotrasen and Syndicate to the color options of the Agent Card
  code/obj/item/card.dm
Labels: C-Feature, size/XS, A-Game-Objects

#17959 Player Polls polish
  browserassets/tgui/tgui.bundle.js
  code/modules/polling/poll_ballot.dm
  code/procs/datetime.dm
  tgui/packages/tgui/interfaces/PollBallot.js
Labels: A-UI, size/M

#17968 Use Clear Acid for PTL path on Nadir
  maps/nadir.dmm
Labels: C-Bug, A-Mapping, C-QoL, size/M

#17902 Adds Purple Benches + maps Purple & Black foldable chairs
  code/obj/item/table_rack_parts.dm
  code/obj/stool.dm
  icons/obj/furniture/bench_purple.dmi
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
Labels: A-Mapping, C-Sprites, size/L

#17971 Let Player Polls show and filter expired polls
  browserassets/tgui/tgui.bundle.js
  code/modules/polling/poll_ballot.dm
  code/modules/polling/poll_manager.dm
  tgui/packages/tgui/interfaces/PollBallot.js
Labels: A-UI, size/M

#17577 Cyborg movement speed rebalance
  _std/defines/robot.dm
  code/WorkInProgress/AphsStuff.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/mob/living/silicon/robot.dm
  code/obj/item/mob_parts/robot_parts.dm
Labels: C-Balance, E-Input-Wanted, size/M, A-Silicons, S-Testmerged

#17975 Make a crate visible in nadir
  maps/nadir.dmm
Labels: C-Bug, A-Mapping, size/XS

#17974 Rotate one door in the small mining outpost
  assets/maps/prefabs/space/prefab_outpost.dmm
Labels: C-Bug, A-Mapping, size/S

#17979 couple new podwars weps
  code/datums/gamemodes/pod_wars/pw_weapons.dm
  code/modules/projectiles/laser.dm
  code/modules/projectiles/special.dm
  icons/mob/inhand/hand_guns.dmi
  icons/obj/items/guns/energy.dmi
Labels: C-Sprites, size/L

#17678 Cleans up areas which create seeds from parent plants to use HYPgenerateseedcopy
  code/datums/components/seedy.dm
  code/mob/living/critter/plant.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/plants.dm
  code/modules/hydroponics/hydroponics_misc_procs.dm
  code/obj/item/seeds.dm
  code/obj/machinery/plantpot.dm
  code/obj/submachine/seed.dm
Labels: C-Code-Quality, S-Stale, size/L, A-Internal, A-Hydroponics, S-Testmerged

#17989 Fixes Round Bottom Flask & Bottle Sprites
  code/modules/chemistry/tools/bottles.dm
  code/modules/medals/rewardsLocker.dm
Labels: C-Bug, size/S

#17853 CE spawns with the Aurora Belt MkII
  assets/maps/prefabs/space/prefab_sequestered_cloner.dmm
  code/datums/jobs.dm
  code/datums/objective.dm
  code/obj/storage/secure_closets.dm
Labels: A-Mapping, C-QoL, size/M, A-Game-Objects, A-Clothing, S-Ready-For-Final-Review

#18006 Rp polls
  browserassets/tgui/tgui.bundle.js
  code/modules/polling/poll_ballot.dm
  code/modules/polling/poll_manager.dm
  tgui/packages/tgui/interfaces/PollBallot.js
Labels: A-UI, size/M

#18019 Update type path in density so map compiles
  maps/unused/density.dmm
Labels: C-Bug, A-Mapping, size/XS

#18018 Silicate Map Generator (Lava Station)
  _std/spatial_hashing.dm
  code/WorkInProgress/artemis/GeneratePlanets.dm
  code/modules/admin/terrainify.dm
  code/modules/parallax/parallax_render_sources/parallax_render_source_groups.dm
  code/modules/worldgen/mapgen/LavaMoonGenerator.dm
  code/turf/floors.dm
  code/turf/floors_unsimulated.dm
  goonstation.dme
Labels: size/L

#18020 Fixes conjugation of dialysis message
  code/obj/machinery/dialysis.dm
Labels: C-Bug, E-FUCK, size/XS, A-Game-Objects

#17998 Slightly tweak purple benches and chair colours
  icons/obj/furniture/bench_purple.dmi
  icons/obj/furniture/chairs.dmi
Labels: P-Trivial, C-Sprites, size/XS

#18030 Slightly tweak purple benches 2
  icons/obj/furniture/bench_purple.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#17963 Wizard spellbook TGUI
  browserassets/tgui/tgui.bundle.js
  code/obj/item/uplinks.dm
  tgui/packages/tgui/interfaces/Wizard_Spellbook.js
Labels: C-Rework, A-UI, size/L, A-Gamemodes, S-Ready-For-Final-Review

#16531 Fixes #16279: Allowing critters to cryo
  code/obj/cryotron.dm
Labels: C-Bug, C-QoL, S-Stale, size/M, A-Game-Objects, S-Ready-For-Final-Review, A-Critters

#18029 Correct unit on power generation for crew credits
  code/datums/crew_credits/crew_credits.dm
Labels: C-QoL, A-UI, size/XS

#18033 More poll updates
  browserassets/tgui/tgui.bundle.js
  code/datums/controllers/process/poll_sync.dm
  code/modules/polling/poll_ballot.dm
  tgui/packages/tgui/interfaces/PollBallot.js
Labels: A-UI, size/L

#17872 Makes busting a singularity uncompress into a white hole
  code/modules/projectiles/bullet.dm
Labels: C-Feature, C-Balance, size/XS, A-Events

#17922 TGUIification of Pump Control Computer + Minor Rework
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/atmospherics/machinery/binary/pump.dm
  code/modules/power/TEG.dm
  tgui/packages/tgui/interfaces/PumpControl/index.tsx
  tgui/packages/tgui/interfaces/PumpControl/type.ts
Labels: C-QoL, S-Merge-Conflict, A-UI, size/XL, A-Science

#17928 Explosive fishing!
  code/modules/fishing/fishing_gear.dm
Labels: C-Feature, size/M, A-Game-Objects

#17932 facelifted rubber_hammer
  icons/obj/items/weapons.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#17795 Nadir Cafeteria Changes
  code/modules/chemistry/tools/food_and_drink.dm
  code/obj/item/kitchen.dm
  maps/nadir.dmm
Labels: A-Mapping, C-QoL, size/XXL, A-Catering

#18022 Thrall Rework Mk. ∞
  browserassets/html/traitorTips/vampiricthrallTips.html
  code/datums/abilities/vampiric_thrall.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/datums/mutantraces.dm
  code/modules/antagonists/vampire/abilities/enthrall.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/obj/item/mob_parts/human_parts.dm
Labels: C-Balance, size/L, A-Gamemodes

#18027 Fix Kudzu's Density Growth
  code/modules/events/gimmick/kudzu.dm
Labels: C-Bug, size/M, A-Game-Objects

#17982 Code refactor / TGUI-ification of the VR Explosive Simulator
  browserassets/tgui/tgui.bundle.js
  code/modules/networks/computer3/mainframe2/misc_terms.dm
  code/obj/item/device/transfer_valve.dm
  tgui/packages/tgui/interfaces/Bombsim/index.tsx
  tgui/packages/tgui/interfaces/Bombsim/type.ts
  tgui/packages/tgui/interfaces/TTV/index.tsx
Labels: C-Code-Quality, S-Merge-Conflict, A-UI, size/XL, A-Game-Objects, A-Science

#18039 Rename terminal under APC to power terminal
  code/modules/power/terminal.dm
Labels: C-QoL, size/XS, A-Game-Objects

#18049 Stop sacrificing alien seeds to the void
  code/modules/hydroponics/hydroponics_misc_procs.dm
Labels: C-Bug, size/XS, A-Hydroponics

#18041 Cave/Underground Generator
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/admin/ca_viewer.dm
  code/modules/admin/terrainify.dm
  code/modules/worldgen/mapgen/CaveGenerator.dm
  code/modules/worldgen/mapgen/biomes/_biome.dm
  code/turf/turf_autoalign.dm
  goonstation.dme
  strings/admin_changelog.txt
  tgui/packages/tgui/interfaces/CAViewer.js
Labels: C-Feature, S-Merge-Conflict, A-UI, size/L, A-Admin

#17937 Change how sunflower and sunflower seeds share chems
  code/obj/item/plants.dm
Labels: C-Bug, size/S, A-Game-Objects, A-Hydroponics

#17938 Makes botany chem production scaling have diminishing returns
  code/WorkInProgress/AzrunStuff.dm
  code/mob/living/critter/maneater.dm
  code/modules/chemistry/tools/dispensers.dm
  code/modules/food_and_drink/plants.dm
  code/modules/hydroponics/hydroponics_misc_procs.dm
  code/modules/hydroponics/plants_flower.dm
  code/modules/hydroponics/plants_herb.dm
  code/obj/submachine/cooking.dm
Labels: C-Balance, E-Input-Wanted, S-Stale, size/M, A-Hydroponics

#17939 Make cannabis affixes potency scaling respect plantgenes
  code/modules/hydroponics/plants_herb.dm
Labels: C-Bug, S-Stale, size/XS, A-Hydroponics

#18063 Terminal program authentication code refactor
  code/modules/networks/computer3/base_os.dm
  code/modules/networks/computer3/base_program.dm
  code/modules/networks/computer3/communication.dm
  code/modules/networks/computer3/emailclient.dm
  code/modules/networks/computer3/engine.dm
  code/modules/networks/computer3/med_rec.dm
  code/modules/networks/computer3/sec_rec.dm
  code/modules/networks/computer3/smallprogs.dm
  code/modules/networks/computer3/terminal.dm
  code/modules/networks/computer3/writer.dm
  code/modules/transport/cruisers/cruiser_console.dm
  code/obj/machinery/shield_generators/shield_generator.dm
  code/z_adventurezones/meatland.dm
Labels: size/L

#18044 Underfloor power and data terminal resprite
  icons/obj/power.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#17947 Ice cream machine tg UI interface conversion
  browserassets/tgui/tgui.bundle.js
  code/obj/submachine/cooking.dm
  tgui/packages/tgui/interfaces/IceCreamMachine.js
Labels: A-UI, size/L, A-Catering

#17907 Kitchen Mixer power indication LED
  code/obj/machinery/food_and_drink/mixer.dm
  icons/obj/kitchen.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects, A-Catering

#18046 Removes Karmic Punishment from Ahelp & prayer
  code/modules/admin/adminhelp.dm
Labels: C-Removal, size/XS, A-Admin

#18064 Priority role terminal program for HoP and captain
  code/datums/controllers/job_controls.dm
  code/datums/jobs.dm
  code/mob/new_player.dm
  code/modules/networks/computer3/computer3.dm
  code/modules/networks/computer3/job_controls.dm
  goonstation.dme
Labels: C-Feature, E-Add-To-Wiki, size/L, A-Respawning

#18004 api array encoding for nested lists
  code/modules/goonhub/api/routes/apiRoute.dm
Labels: C-Bug, size/S
