Repository goonstation/goonstation, pull requests merged in 2024-04, with the labels that each got.

#18239 Add Cloner Defects in patients' medical record on health or genetic scan
  _std/__std.dme
  _std/defines/medical.dm
  code/WorkInProgress/cloner_defects.dm
  code/datums/datacore.dm
  code/modules/networks/computer3/med_rec.dm
  code/obj/item/device/genetic_analyzer.dm
  code/obj/item/device/pda2/record_progs.dm
  code/procs/scanprocs.dm
Labels: C-Feature, size/L, A-Medical, A-Station-Systems

#18375 Power shovel was invisible due to wrong path.
  code/obj/mining.dm
  icons/obj/items/mining.dmi
  icons/obj/sealab_power.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#18164 Poll Editor Panel interface
  browserassets/tgui/tgui.bundle.js
  code/modules/polling/poll_ballot.dm
  code/modules/polling/poll_editor_panel.dm
  goonstation.dme
  strings/admin_changelog.txt
  tgui/packages/tgui/interfaces/PollEditorPanel.tsx
  tgui/packages/tgui/interfaces/common/forms/PollEditorForm/ExpiryInput.tsx
  tgui/packages/tgui/interfaces/common/forms/PollEditorForm/PollEditorForm.tsx
  tgui/packages/tgui/interfaces/common/forms/PollEditorForm/PollOptionsSection.tsx
  tgui/packages/tgui/interfaces/common/forms/PollEditorForm/index.ts
  tgui/packages/tgui/interfaces/common/forms/PollEditorForm/types.ts
Labels: C-Feature, A-UI, size/XL, A-Admin

#18389 Fix typing for polls with relative expiry times
  code/modules/polling/poll_editor_panel.dm
Labels: C-Bug, size/XS, A-Admin

#18390 typo fix for cyborg dock drag click
  code/modules/robotics/robot/robot_docking_station.dm
Labels: C-Bug, size/XS

#18379 grammar fix in pod building
  code/modules/transport/pods/preassembled_frame_kit.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18394 Fixing cyanide bought from traders immediately gassing you.
  code/modules/chemistry/tools/pills.dm
  code/modules/economy/commodity.dm
Labels: C-Bug, size/S, A-Game-Objects

#18399 Fix merge upstream for tgui
  .gitattributes
  .github/workflows/beepsky.yml
  .github/workflows/merge_upstream.yml
  tgui/.gitattributes
  tgui/bin/tgui
  tgui/bin/tgui_.ps1
  tools/ci/build_tgui.sh
  tools/ci/install_build_tools.sh
  tools/hooks/Uninstall.bat
  tools/hooks/install.bat
Labels: C-Bug, A-Tooling, A-UI, size/L

#18313 TGUI Transception Interlink
  browserassets/tgui/tgui.bundle.js
  code/WorkInProgress/nadir_antenna.dm
  tgui/packages/tgui/interfaces/TransceptionInterlink/index.tsx
  tgui/packages/tgui/interfaces/TransceptionInterlink/type.ts
Labels: C-Feature, A-UI, size/L, A-Game-Objects, S-Ready-For-Final-Review

#18369 Rebalance gang weaponry
  code/datums/gamemodes/gangwar.dm
  code/modules/items/specials/ItemSpecials.dm
  code/obj/item/misc_weapons.dm
  code/obj/storage/gang_crate.dm
  icons/obj/items/weapons.dmi
Labels: C-Sprites, C-Balance, size/M, A-Gamemodes

#18370 Limit gang weed point bonuses
  _std/defines/gang.dm
  code/datums/gamemodes/gangwar.dm
Labels: C-Balance, size/S, A-Gamemodes

#18396 BUGFIX: Critters messing with gang stuff
  code/datums/gamemodes/gangwar.dm
Labels: C-Bug, size/XS, A-Gamemodes

#18304 Objective elimination refactor
  code/datums/objective.dm
Labels: C-Code-Quality, size/M, A-Internal, S-Ready-For-Final-Review

#18140 Componentizes putting hats on ghostdrones and AI cores, extends support to mechcomponent storages
  code/WorkInProgress/mantaObjects.dm
  code/datums/components/hattable.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/ghostdrone.dm
  code/modules/barber/barber_shop.dm
  code/modules/economy/persistent_bank_purchases.dm
  code/modules/mechanics/MechanicMadness.dm
  code/obj/item.dm
  code/obj/item/clothing/hats.dm
  goonstation.dme
Labels: C-Feature, size/L, A-Game-Objects

#18221 Adds blood as an associated reagent to Killer Tomatos
  code/modules/hydroponics/plant_mutations.dm
Labels: C-Feature, S-Stale, E-Add-To-Wiki, size/XS, A-Hydroponics

#18377 standardize how to find 'safe' random station storage
  _std/defines/medical.dm
  code/mob/living/critter/cryptid_plushie.dm
  code/obj/item/organs/lung.dm
  code/procs/helpers.dm
  code/procs/jobprocs.dm
Labels: C-Code-Quality, size/M, A-Internal

#18401 Bugfix: adding sheets to stack reports improper value
  code/WorkInProgress/mantaObjects.dm
  code/obj/item/building_materials.dm
Labels: C-Bug, size/XS

#18407 Fix air alarms not correctly posting status to alert computer
  code/obj/machinery/alarm.dm
Labels: C-Bug, size/M, A-Station-Systems

#18366 gang leader delegation
  _std/defines/gang.dm
  code/datums/gamemodes/gangwar.dm
  code/modules/antagonists/__antagonist.dm
  code/modules/antagonists/gang/gang_leader.dm
  code/obj/cryotron.dm
Labels: C-Bug, C-Feature, size/M, A-Gamemodes

#18405 Fixes hattable component breaking if parent is clicked with a non-hat
  code/datums/components/hattable.dm
Labels: size/XS

#18392 Replaces Airless tiles on the prefab space mining outpost
  assets/maps/prefabs/space/prefab_outpost.dmm
Labels: A-Mapping, size/S

#18417 Add cant_drop check for ABCU sheet intake
  code/WorkInProgress/blueprints.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18372 Random Event: "Illegal" trinkets count as contraband
  code/modules/events/minor/illegal_trinkets.dm
  goonstation.dme
Labels: C-Feature, size/M, A-Events

#18327 Gunbot Fabricator and More Gunbots
  assets/maps/prefabs/planet/prefab_planet_lostpod_gunbot.dmm
  assets/maps/prefabs/planet/prefab_planet_random_crap3.dmm
  assets/maps/prefabs/planet/prefab_planet_random_ship2.dmm
  assets/maps/prefabs/planet/prefab_planet_random_ship3.dmm
  code/datums/limb.dm
  code/mob/living/critter.dm
  code/mob/living/critter/gunbot.dm
  code/modules/mapping/helpers/mob_spawn.dm
  code/modules/projectiles/bullet.dm
  code/modules/worldgen/prefab/mining/planet.dm
  code/obj/decal.dm
  icons/map-editing/mob_spawner.dmi
  icons/mob/critter/robotic/gunbot.dmi
  icons/obj/large/32x64.dmi
  icons/obj/large/64x64.dmi
  icons/obj/manufacturer.dmi
Labels: C-Feature, A-Mapping, C-Sprites, size/XL, A-Admin, A-Critters

#18419 Ship Alert button targets doors by ID instead of area
  code/obj/machinery/shipalert.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18382 Gang crate teleportation adjustments
  _std/defines/gang.dm
  _std/defines/sight.dm
  code/datums/controllers/process/gang.dm
  code/modules/antagonists/gang/gang_leader.dm
  code/modules/antagonists/gang/gang_member.dm
  code/obj/effects/misc.dm
  code/obj/storage/gang_crate.dm
  icons/effects/gang_overlays.dmi
Labels: C-Feature, C-Sprites, size/M, A-Gamemodes

#18329 Makes security officer a limited high-priority job
  _std/compare.dm
  code/datums/jobs.dm
  code/procs/jobprocs.dm
Labels: C-Balance, size/M, A-Respawning

#18136 Adds Icons to wizard spellbook UI
  browserassets/tgui/tgui.bundle.js
  code/obj/item/uplinks.dm
  tgui/packages/tgui/interfaces/Wizard_Spellbook.js
Labels: S-Merge-Conflict, A-UI, size/L

#18267 Player Zoldorf Shop TGUI
  browserassets/css/zoldorf.css
  browserassets/html/zoldorf.htm
  browserassets/js/zoldorf.js
  browserassets/tgui/tgui.bundle.js
  code/datums/zoldorfitems.dm
  code/obj/zoldorf.dm
  code/world/initialization/0_preMapLoad.dm
  tgui/packages/tgui/interfaces/ZoldorfPlayerShop/index.tsx
  tgui/packages/tgui/interfaces/ZoldorfPlayerShop/type.ts
Labels: C-Bug, S-Merge-Conflict, A-UI, size/XL, A-Game-Objects, S-Ready-For-Final-Review

#18361 Edits/resprites some sprites in writing.dmi
  icons/obj/writing.dmi
Labels: C-Sprites, size/XS, A-Game-Objects, S-Ready-For-Final-Review

#18425 Adds cleanable evidence to maul fraud
  code/WorkInProgress/zamu_mail.dm
  icons/obj/items/items.dmi
Labels: C-Feature, C-Sprites, size/M

#18429 remove zipgun/slamgun selling for Gangs
  code/datums/gamemodes/gangwar.dm
Labels: C-Balance, size/XS, A-Gamemodes

#18324 Removing wage system jobs
  code/datums/banking.dm
  code/datums/controllers/job_controls.dm
  code/datums/datacore.dm
  code/datums/gameticker.dm
  code/datums/jobs.dm
  code/procs/jobprocs.dm
Labels: C-Code-Quality, size/L, A-Internal, A-Station-Systems

#18434 Add cooldown for give item delay
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/mob/living/critter.dm
Labels: C-Bug, size/S, A-Player-Actions

#18436 Commander cards now keep access when emagged
  code/obj/item/card.dm
Labels: C-QoL, size/XS, A-Game-Objects

#18289 Stop AI Eyes from playing the claw machine
  code/modules/items/gimmick/plushies.dm
Labels: C-Bug, S-Stale, size/XS, A-Game-Objects

#18373 Borgs can now get buff in the gym on the weight machines.
  code/obj/item/fitness.dm
Labels: C-Feature, size/S, A-Player-Actions, A-Silicons

#18421 Remove slight gradient from Asimovs laws
  code/obj/item/ai_modules.dm
Labels: C-Feature, size/XS, A-Silicons, S-Ready-For-Final-Review

#18442 Fix CO2 heating up too much from neutrons
  code/modules/atmospherics/FEA_gas_mixture.dm
Labels: C-Bug, size/XS, A-Atmospherics

#18449 figure for avanth
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#18328 add a bunch of hair pieces
  code/datums/customization_styles.dm
  icons/mob/human_hair.dmi
Labels: C-Sprites, size/M

#18447 Table frame density fix
  code/obj/table.dm
Labels: size/XS

#18450 Adds a clunky switch sound for pod components
  code/datums/hud/pod.dm
  sound/machines/pod_switch.ogg
Labels: C-Feature, C-Sound, size/S

#18448 Adds Dish Areas to donut 2
  maps/donut2.dmm
Labels: A-Mapping, size/L

#18169 Clarion Catering Upgrades
  maps/clarion.dmm
Labels: A-Mapping, C-QoL, size/XXL, A-Catering

#18455 Compatibility with Aseprite DMI plugin
  icons/obj/items/items.dmi
Labels: C-Sprites, C-Code-Quality, size/XS

#18323 Adding action bar to signing a zoldorf burrito
  code/obj/item/zoldorfmisc.dm
Labels: C-Feature, size/L, A-Player-Actions, S-Ready-For-Final-Review

#18451 Send error events to Goonhub
  code/error_handling.dm
  code/modules/goonhub/event_recording/events/Error.dm
  code/modules/goonhub/event_recording/types/Error.dm
  goonstation.dme
Labels: size/M

#18454 Add crossing off items in artifact analysis form
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/artifacts/artifactanalysis.dm
  tgui/packages/tgui/interfaces/ArtifactPaper.js
Labels: C-QoL, A-UI, size/M, A-Science

#18461 Fix abberation grab-resist message
  code/mob/living/critter/aberration.dm
Labels: C-Bug, size/XS, A-Critters

#18474 Fix remote tableslamming
  code/obj/table.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18471 Tie Jetpack Mk2 water movement speed effect to activation
  code/WorkInProgress/AbilityItem.dm
  code/obj/item/tank.dm
  code/obj/machinery/manufacturer.dm
Labels: C-Bug, C-Rework, size/S, A-Game-Objects

#18473 Absorbing victims as a ling restores some hunger/thirst
  code/modules/antagonists/changeling/abilities/absorb.dm
Labels: C-Feature, size/XS, A-RP

#18472 Air scrubber charges power based on volume of collected reagents
  code/modules/atmospherics/portable/scrubber.dm
Labels: C-Bug, C-Balance, size/XS, A-Atmospherics

#18208 Adding some sound effects and animations for rockbox damage
  code/datums/crew_objective.dm
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/machinery.dm
  code/obj/machinery/manufacturer.dm
  code/obj/mining_cloud_storage.dm
Labels: C-Feature, size/M, A-Game-Objects, S-Ready-For-Final-Review

#18272 Albatross
  _std/defines/projectiles.dm
  code/modules/projectiles/bullet.dm
  code/modules/sound/soundCache.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhand/hand_guns.dmi
  icons/obj/items/ammo.dmi
  icons/obj/items/guns/kinetic64x32.dmi
  sound/weapons/fourboreshot.ogg
Labels: C-Sprites, C-Sound, size/L, A-Game-Objects

#18488 Fix click-dragging from tile to fitness machine causing runtime
  code/obj/item/fitness.dm
Labels: C-Bug, C-Runtime, size/XS, A-Game-Objects

#18470 Change Killswitch access to Upload from Robotics
  code/obj/machinery/computer/robotics.dm
Labels: C-Balance, size/XS, A-Silicons, A-Station-Systems

#18487 Small fixes to broken bottle attacks
  code/modules/chemistry/tools/food_and_drink.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18486 See SecHUD Flag regardless of arrest icon status
  code/mob/living/carbon/human/procs/get_desc.dm
Labels: C-Feature, size/S, A-Station-Systems, S-Possibly-Intended

#18485 Fix map created N.A.R.C.S. turrets appearing off
  assets/maps/prefabs/space/prefab_secbot_academy.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/pamgoc.dmm
  maps/z3.dmm
Labels: C-Bug, A-Mapping, size/M, A-Game-Objects

#18484 Add help messages for deployable turrets
  code/obj/item/deployable_turret.dm
Labels: C-QoL, size/S, A-Player-Actions, A-Game-Objects

#18294 Gives captain a mindshield
  code/datums/jobs.dm
Labels: C-Balance, E-Input-Wanted, size/XS, A-Player-Actions, S-Controversial

#18426 Improve Wizard Spellbook UX
  browserassets/tgui/tgui.bundle.js
  code/obj/item/uplinks.dm
  tgui/packages/tgui/interfaces/WizardSpellbook/PlaceholderItem.tsx
  tgui/packages/tgui/interfaces/WizardSpellbook/SpellItem.tsx
  tgui/packages/tgui/interfaces/WizardSpellbook/index.tsx
  tgui/packages/tgui/interfaces/WizardSpellbook/type.ts
  tgui/packages/tgui/interfaces/Wizard_Spellbook.js
Labels: S-Merge-Conflict, A-UI, size/L

#18496 Fix TGUI message modal not working
  code/modules/tgui/tgui_message.dm
Labels: C-Bug, A-UI, size/XS

#18500 Fix Atlas crusher door auto-opening
  maps/atlas.dmm
Labels: C-Bug, A-Mapping, size/XS

#18494 Specify whether antagonists are silicon at end of round crew credits
  code/datums/crew_credits/crew_credits.dm
Labels: C-QoL, A-UI, size/S

#18499 Derived harmonious colors helper procs
  _std/color.dm
Labels: size/M, A-Internal

#18503 Fix Nadir Mail research chute
  maps/nadir.dmm
Labels: C-Bug, A-Mapping, size/XS

#18463 Add autoname subtype for bar mail chute
  code/modules/disposals/mail_chute.dm
Labels: A-Mapping, C-Code-Quality, size/S, A-Game-Objects

#18085 Eyebots now come with a portable intercom
  code/mob/living/silicon/hivebot.dm
  code/modules/robotics/robot/module/construction_ai.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
  code/obj/item/device/radios/intercoms.dm
  icons/obj/items/device.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/S, A-AI, A-Silicons

#18505 PTL renumber
  code/modules/power/pt_laser.dm
Labels: C-Balance, size/S, A-Game-Objects

#18529 stop surgery trays stealing mousedropped items
  code/modules/medical/surgery_tools.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18531 Fix Slipping Hazard slipping on glue/slime
  code/mob/living/carbon.dm
Labels: C-Bug, size/XS, A-Traits

#18508 Organizes pride wardrobe using pixel offsets
  code/obj/storage/large_storage_parent.dm
  code/obj/storage/wardrobes.dm
Labels: C-Feature, C-QoL, size/L, A-Game-Objects

#18219 Transmutation reagents
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-Transmutation.dm
  code/modules/materials/Mat_Materials.dm
  code/modules/materials/Mat_RawMaterials.dm
  goonstation.dme
  icons/effects/atom_textures_32.dmi
Labels: C-Sprites, size/L, A-Admin, A-Chemistry, A-Internal

#18408 Adds a clown funeral parlor.
  assets/maps/random_rooms/5x3/clown_funeral.dmm
  code/obj/item/mops_cleaners.dm
Labels: A-Mapping, size/L

#18521 Airlocks with the ID wire cut will deny access to anyone who bumps to it
  code/obj/machinery/door/airlock.dm
Labels: C-Feature, E-Input-Wanted, size/XS, A-Station-Systems

#18216 Procedural Fermid Content
  _std/macros/factions.dm
  code/datums/abilities/critter/arc.dm
  code/datums/abilities/critter/spit.dm
  code/datums/jobs.dm
  code/datums/mind.dm
  code/mob.dm
  code/mob/living.dm
  code/mob/living/critter/aberration.dm
  code/mob/living/critter/adventure.dm
  code/mob/living/critter/aquatic.dm
  code/mob/living/critter/drone.dm
  code/mob/living/critter/firefly.dm
  code/mob/living/critter/golem.dm
  code/mob/living/critter/gunbot.dm
  code/mob/living/critter/humanoid/brullbar.dm
  code/mob/living/critter/humanoid/human.dm
  code/mob/living/critter/humanoid/skeleton.dm
  code/mob/living/critter/killertomato.dm
  code/mob/living/critter/maneater.dm
  code/mob/living/critter/mechmonstrosity.dm
  code/mob/living/critter/mining_critter.dm
  code/mob/living/critter/pig.dm
  code/mob/living/critter/plant.dm
  code/mob/living/critter/plasmaspore.dm
  code/mob/living/critter/sawfly.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/critter/snake.dm
  code/mob/living/critter/spider.dm
  code/mob/living/intangible/wraith.dm
  code/mob/living/object.dm
  code/modules/admin/terrainify.dm
  code/modules/antagonists/__antagonist.dm
  code/modules/antagonists/__generic_antagonist.dm
  code/modules/antagonists/nuclear_operative/nuclear_operative.dm
  code/modules/antagonists/nuclear_operative/nuclear_operative_gunbot.dm
  code/modules/antagonists/syndicate_cyborg/syndicate_cyborg.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/antagonists/wraith/critters/exploder.dm
  code/modules/antagonists/wraith/critters/nascent.dm
  code/modules/antagonists/wraith/critters/plaguerat.dm
  code/modules/antagonists/wraith/critters/skeleton_commander.dm
  code/modules/antagonists/wraith/critters/spiker.dm
  code/modules/antagonists/wraith/critters/trickster_puppet.dm
  code/modules/antagonists/wraith/critters/voidhound.dm
  code/modules/antagonists/wraith/wraith.dm
  code/modules/worldgen/mapgen/CaveGenerator.dm
  code/obj/item/deployable_turret.dm
  code/obj/item/implant.dm
  code/obj/machinery/nuclearbomb.dm
  code/procs/elecflash.dm
  goonstation.dme
  icons/misc/bigcritter.dmi
  icons/misc/critter.dmi
  icons/mob/critter_ui.dmi
  icons/obj/foodNdrink/food_ingredient.dmi
  icons/turf/walls/asteroid.dmi
  maps/setpieces/xg6_fermidzone.dmm
Labels: C-Feature, E-DNM, S-Stale, size/XL, A-Admin, A-Critters

#18535 Add client's BYOND version to in-game bug reports
  code/procs/bug_report.dm
Labels: C-QoL, size/XS, A-Player-Actions

#16410 Add Tickets/Fines to end-of-round TGUI
  _std/defines/crew_credits.dm
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/datums/crew_credits/crew_credits.dm
  code/datums/gameticker.dm
  code/procs/scorestats.dm
  tgui/packages/tgui/interfaces/CrewCredits/CitationsTab.tsx
  tgui/packages/tgui/interfaces/CrewCredits/ScoreTab.tsx
  tgui/packages/tgui/interfaces/CrewCredits/index.tsx
  tgui/packages/tgui/interfaces/CrewCredits/type.ts
Labels: C-Feature, C-Rework, A-UI, size/L, S-Ready-For-Final-Review

#18538 fix a small icon bug on messy waves split
  icons/mob/human_hair.dmi
Labels: C-Bug, C-Sprites, size/XS

#18534 Fix borg clothes layering
  code/mob/living/silicon/robot.dm
Labels: C-Bug, size/M, A-Silicons

#18532 Improve notes commands
  code/datums/mind.dm
  code/datums/traits_disused.dm
  code/mob.dm
Labels: C-QoL, size/M, A-Player-Actions

#18527 Ghosts jump into mob occupying machines on Click
  code/WorkInProgress/DrMelonsStuff.dm
  code/WorkInProgress/laundry.dm
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
  code/modules/medical/genetics/geneticsScanner.dm
  code/modules/medical/genetics/portagene.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/obj.dm
  code/obj/machinery/clonepod.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/porters.dm
  code/obj/machinery/sleeper.dm
  code/obj/vehicle.dm
Labels: C-Feature, size/M, A-Player-Actions

#17941 Adds a sabotage method for emergency-injectors
  code/modules/chemistry/tools/emergency_injectors.dm
Labels: C-Feature, size/M, A-Medical, A-Game-Objects

#18537 add a small thirst increase for saline
  code/modules/chemistry/Reagents-Medical.dm
Labels: C-Feature, size/XS, A-Medical, A-RP

#18441 Prevent accidentally putting a cyborg head with a brain inside a reclaimer
  code/obj/item/material.dm
Labels: C-QoL, size/S, A-Game-Objects, A-Silicons

#18548 Change turbine 'coolant volume' text to 'flow rate'
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/TurbineControl.js
Labels: C-QoL, A-UI, size/XS, A-Game-Objects

#18544 Operating computer icon stays broken/unpowered on size change
  code/obj/machinery/computer.dm
  code/obj/machinery/computer/operating.dm
  icons/obj/computer_screens.dmi
Labels: C-Bug, C-Sprites, size/S, A-Game-Objects

#18553 Remove duplicate disposal unit in Kondaru medbay
  maps/kondaru.dmm
Labels: C-Bug, A-Mapping, size/XS

#18554 Fix ghost critters using ovens
  code/obj/submachine/cooking.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18552 Re-add notes command as alias to Notes - View
  code/mob.dm
Labels: C-QoL, A-UI, size/XS

#18456 Resprite for the communication console
  code/WorkInProgress/ZeWakasStuff.dm
  icons/obj/computer.dmi
  icons/obj/computer_screens.dmi
Labels: E-DNM, A-Mapping, C-Sprites, A-Tooling, size/XS, A-Game-Objects, C-Documentation

#18520 Clarion Mail Chute Fixes
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/L, A-Station-Systems

#18428 Added a new Rabbit Suit to Honkington!
  code/modules/economy/commodity.dm
  code/modules/economy/trader.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/storage/clothing.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/mob/inhand/hand_headgear.dmi
  icons/mob/inhand/overcoat/hand_suit_gimmick.dmi
  icons/mob/monkey/overcoats.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
Labels: C-Sprites, size/M, A-Clothing, S-Ready-For-Final-Review

#18546 Change Cogmap 2 Pharmacy Access
  maps/cogmap2.dmm
Labels: A-Mapping, C-Balance, size/XS

#18430 Adds Job XP reward for completing crew objectives
  code/datums/crew_objective.dm
  code/datums/gameticker.dm
Labels: C-QoL, size/XS, A-Player-Actions

#18495 Adjust Kondaru's cargo backroom areas
  maps/kondaru.dmm
Labels: C-Bug, A-Mapping, size/L

#18506 Monkeys now throw darts at balloons
  code/mob/living/carbon/human/monkeys.dm
  code/modules/chemistry/tools/balloons.dm
  code/obj/item/implant.dm
Labels: C-Feature, size/S, A-AI

#18345 Gangs: Duffle bag changes
  code/atom.dm
  code/datums/actions/actions.dm
  code/datums/components/storage_viscontents.dm
  code/datums/controllers/process/gang.dm
  code/datums/gamemodes/gangwar.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/mob/living.dm
  code/modules/status_system/statusEffects.dm
  code/obj/decorations.dm
  code/obj/item/device/pda2/base_os.dm
  code/obj/storage/gang_crate.dm
  code/obj/storage/large_storage_parent.dm
  code/obj/storage/vis_storage_controller.dm
  goonstation.dme
  icons/obj/items/storage.dmi
  icons/ui/statussystem.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/L, A-Gamemodes

#18533 Update Chemaster Multiple Patch/Pill Grouping Logic
  code/modules/chemistry/Chemistry-Machinery.dm
Labels: C-Bug, size/S, A-Game-Objects, S-Ready-For-Final-Review

#18492 Make phones chat text work like other chat sources
  code/obj/machinery/phone/phone.dm
Labels: C-Bug, C-QoL, size/M, A-Game-Objects, S-Ready-For-Final-Review

#18510 Add pet person trait to trinket category which spawns you with random pet
  code/WorkInProgress/aloe_stuff_public.dm
  code/datums/traits.dm
  code/mob/living/critter/bee.dm
  code/mob/living/critter/small_animal.dm
  code/mob/living/critter/snake.dm
  code/procs/jobprocs.dm
  code/z_adventurezones/earth.dm
  icons/ui/traits.dmi
  maps/z2.dmm
  strings/names/dogs.txt
  strings/names/pets.txt
Labels: C-Feature, A-Mapping, C-Sprites, E-Add-To-Wiki, size/L, A-Traits

#18565 Remove `TooManyArguments` pragma from OD lint
  tools/ci/od_lints.dm
Labels: A-Tooling, size/XS

#18574 Add new Storage Hold pod component
  code/datums/gamemodes/pod_wars/pw_manufacturing_.dm
  code/datums/manufacturing.dm
  code/modules/storage/storage.dm
  code/modules/transport/pods/secondary_system.dm
  code/obj/machinery/manufacturer.dm
  code/procs/gamehelpers.dm
Labels: C-Feature, size/M, A-Game-Objects, A-Vehicles

#18566 Improve security Tractor Beam pull ability
  code/modules/transport/pods/secondary_system.dm
Labels: C-Balance, C-QoL, size/S, A-Game-Objects, A-Vehicles

#18577 Default AI primary radio to off
  code/mob/living/silicon/ai.dm
Labels: C-QoL, size/XS, A-Silicons

#18588 Standardize trait icon transparency
  icons/ui/traits.dmi
Labels: C-Sprites, size/XS, A-Traits

#18563 Fix a bunch of calls to protected procs
  code/WorkInProgress/GerhazoStuff.dm
  code/WorkInProgress/MarqStuff.dm
  code/WorkInProgress/actuallyKeelinsStuff.dm
  code/datums/banking.dm
  code/datums/embedded_controller.dm
  code/modules/chemistry/Chemistry-Machinery.dm
  code/modules/chemistry/tools/bombs.dm
  code/modules/chemistry/tools/pills.dm
  code/modules/disposals/conveyor.dm
  code/modules/fishing/fishing_gear.dm
  code/modules/holiday/halloween.dm
  code/modules/items/gimmick/plushies.dm
  code/modules/materials/Mat_Fabrication.dm
  code/modules/materials/Mat_Processing.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/robotics/bot/buttbot.dm
  code/modules/robotics/bot/duckbot.dm
  code/modules/telescience/telescope/telescopeMisc.dm
  code/modules/transport/pods/communications.dm
  code/modules/vending/vending.dm
  code/modules/writing/paper.dm
  code/modules/writing/pens_writing_etc.dm
  code/obj/item.dm
  code/obj/item/assembly/misc_assemblies.dm
  code/obj/item/assembly/single_tank_bomb.dm
  code/obj/item/bell.dm
  code/obj/item/boardgame/boardgame.dm
  code/obj/item/boardgame/gameclock.dm
  code/obj/item/device/audio_log.dm
  code/obj/item/device/brainjar.dm
  code/obj/item/device/flash.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/device/radio.dm
  code/obj/item/device/radios/intercoms.dm
  code/obj/item/device/transfer_valve.dm
  code/obj/item/generic_box.dm
  code/obj/item/grab.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/magtractor.dm
  code/obj/item/mine.dm
  code/obj/item/misc_wizard_stuff.dm
  code/obj/item/stickers.dm
  code/obj/item/storage/secure_safe.dm
  code/obj/item/uplinks.dm
  code/obj/ladder.dm
  code/obj/noticeboard.dm
  code/obj/objDialog.dm
  code/obj/pool.dm
  code/obj/posters.dm
  code/obj/railing.dm
  code/procs/basketball.dm
  code/turf/walls.dm
Labels: C-Code-Quality, size/L, A-Internal

#18590 Makes it so pest spawns don't happen on players
  code/modules/events/minor/pests.dm
  code/obj/landmark.dm
Labels: C-QoL, size/M, A-AI

#18572 Sunflower resprites
  icons/obj/hydroponics/items_hydroponics.dmi
  icons/obj/hydroponics/plants_flower.dmi
Labels: C-Sprites, size/XS, S-Ready-For-Final-Review, A-Hydroponics

#18595 Adds a Toggle option to the automatic signaller component
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Feature, size/XS, A-Game-Objects

#18589 Energy Drink changes
  code/modules/chemistry/Reagents-FoodDrink.dm
Labels: C-Balance, size/S, A-Chemistry

#18601 Fix AI getting munged tracking links in overheard intercom text
  code/obj/machinery/phone/phone.dm
Labels: C-Bug, size/XS, A-Game-Objects

#18526 Click-drag conveyor switch to change direction
  code/modules/disposals/conveyor.dm
Labels: C-Feature, C-QoL, size/M, A-Game-Objects

#18523 Atlas Cafeteria remodel
  maps/atlas.dmm
Labels: A-Mapping, C-Rework, E-Add-To-Wiki, size/XXL, A-Catering

#18613 Lower frag grenade odds from gang crates
  code/obj/storage/gang_crate.dm
Labels: size/XS

#18509 RCD Action Bars
  _std/defines/RCD.dm
  code/datums/components/buildableturf.dm
  code/datums/controllers/action_controls.dm
  code/obj/item/rcd.dm
  code/obj/item/rcd/rcd.dm
  code/obj/item/rcd/rcd_action_bar.dm
  code/obj/item/rcd/rcd_ammo.dm
  code/obj/item/rcd/rcd_construction.dm
  code/obj/item/rcd/rcd_gimmicks.dm
  code/obj/item/rcd/rcd_material.dm
  goonstation.dme
Labels: C-Code-Quality, C-QoL, size/XXL, A-Player-Actions, A-Game-Objects

#18573 Fix shuttle space corners and clean turf/shuttle.dmi
  assets/maps/shuttles/west/small/donut2_syndicate.dmm
  icons/turf/shuttle.dmi
  maps/cogmap.dmm
  maps/cogwip/kappa.dmm
  maps/cogwip/ships.dmm
  maps/density2.dmm
  maps/donut3.dmm
  maps/pamgoc.dmm
  maps/setpieces/regina.dmm
  maps/setpieces/xg6_fermidzone.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/construction_shuttle.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/crash_gimmick_2.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/oldmap.dmm
  maps/unused/ozymandias.dmm
  maps/unused/trunkmap.dmm
  maps/utilities/palette.dmm
  maps/z2.dmm
  maps/z3.dmm
  maps/z5.dmm
Labels: A-Mapping, C-Sprites, C-Removal, size/XXL

#18614 Sunhat resprite
  code/modules/vending/clothingbooth_items.dm
  code/obj/item/clothing/hats.dm
  code/obj/storage/wall_cabinet.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/item_hats.dmi
Labels: C-Sprites, size/S

#18516 Remaps the entirety of Clarion
  code/map.dm
  maps/clarion.dmm
Labels: A-Mapping, C-Rework, E-Add-To-Wiki, size/XXL

#18596 Adds a nasty overdose-effect to liquid space rubber and additional brute damage on bounce
  code/mob.dm
  code/modules/admin/buildmodes/animate.dm
  code/modules/animation/AnimationLibrary.dm
  code/modules/chemistry/Reagents-Misc.dm
Labels: C-Feature, C-Balance, size/M, A-Chemistry

#18482 Jobs support multiple implants on spawn
  code/datums/controllers/custom_job_savefile.dm
  code/datums/controllers/job_controls.dm
  code/datums/jobs.dm
Labels: C-Feature, size/L, A-Internal, S-Ready-For-Final-Review

#18609 Gannets 3/4 Doors, but this time my branch is clean and NOT based from a branch that isn't my master
  icons/obj/doors/destiny.dmi
  maps/z2.dmm
Labels: A-Mapping, C-Sprites, size/M

#18605 add cargo purchase for ballroom clothing
  code/modules/economy/supply_packs.dm
  code/obj/random_spawners.dm
Labels: E-Add-To-Wiki, size/M, A-Player-Actions, A-Clothing

#18624 rename wiz organs/limbs on choosing name
  code/modules/antagonists/wizard/wizard.dm
Labels: C-Bug, size/XS, A-Respawning

#18620 Afterlife bar rennovations
  code/WorkInProgress/zamujasa.dm
  code/z_adventurezones/afterlife.dm
  maps/z2.dmm
Labels: A-Mapping, size/XXL

#18626 Clarion fixes
  maps/clarion.dmm
Labels: A-Mapping, C-QoL, size/XXL

#18631 Simplify restricted_z_allowed
  code/procs/helpers.dm
Labels: C-Performance, size/S, A-Internal

#18625 fix clarion travelling trader merchant area
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/M

#18475 Early gang leader dropouts transfer their role
  _std/defines/gang.dm
  code/datums/gamemodes/gangwar.dm
  code/modules/antagonists/gang/gang_leader.dm
Labels: C-QoL, E-Add-To-Wiki, size/M, A-Gamemodes, S-Testmerged

#15272 A Devious Expression for the AI
  code/mob/living/silicon/ai.dm
  icons/mob/ai.dmi
  icons/obj/status_display.dmi
Labels: C-Feature, C-Sprites, size/XS, A-Silicons, S-Testmerged

#18621 Material based pipe reinforcement
  code/modules/atmospherics/machinery/pipe.dm
Labels: C-Balance, E-Input-Wanted, E-Add-To-Wiki, size/M, A-Game-Objects

#18639 Add material ID checks for high-grade cloth stacks
  code/modules/economy/requisition/rc_scientific.dm
Labels: C-Bug, size/XS, A-Materials

#18642 Refactor for Cyborg Module Rewriter tgui
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/EmptyPlaceholder.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/ModuleView/index.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/action.ts
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/index.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/style.ts
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/type/action.ts
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/type/data.ts
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/views/ModuleView/ModuleDetail.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/views/ModuleView/Tools.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/views/ModuleView/index.tsx
  tgui/packages/tgui/styles/interfaces/CyborgModuleRewriter.scss
Labels: C-Code-Quality, A-UI, size/L

#18643 Fix casing for tools that are available in cyborg modules
  code/modules/materials/Mat_Processing.dm
  code/obj/item/device/scanners.dm
Labels: size/XS

#18549 Clarify the ban evasion message
  code/datums/browserOutput.dm
  code/modules/admin/bans.dm
Labels: size/S, A-Admin

#18638 Gang tags are resistant to low severity explosions
  code/datums/gamemodes/gangwar.dm
Labels: C-Balance, size/XS, A-Gamemodes

#18610 Mushroom Fixbatch
  maps/unused/mushroom_new_walls.dmm
Labels: A-Mapping, size/XXL

#18645 Add action bar for click dragging people onto operating tables
  code/mob/living/carbon/human.dm
  code/obj/machinery/optable.dm
Labels: C-QoL, size/S, A-Player-Actions

#18569 Add action bar for hand staunching wounds
  code/mob/living.dm
  code/modules/medical/blood_system.dm
Labels: C-Bug, C-QoL, size/M, A-Player-Actions

#18652 Fix runtime for armoring hazard suits with no fingerprints
  code/obj/item/clothing/suits.dm
Labels: C-Bug, C-Runtime, size/XS, A-Game-Objects

#18657 Simplify charcoal recipe a little
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: C-Balance, E-Add-To-Wiki, size/M, A-Chemistry

#18653 Puritan clones get an additional major clone defect
  code/obj/machinery/clonepod.dm
Labels: C-Feature, C-Balance, size/XS, A-Medical

#18647 Allow lights to be swapped on pods
  code/datums/hud/pod.dm
  code/modules/transport/pods/pod_lights.dm
  code/modules/transport/pods/vehicle.dm
  icons/mob/hud_pod.dmi
  icons/obj/ship.dmi
Labels: C-Bug, C-Sprites, size/M, A-Vehicles

#18275 The Authentication Disk can unauth and issue emergency armory authorization.
  code/obj/machinery/computer/security/riot.dm
Labels: C-Feature, C-Balance, E-Add-To-Wiki, size/M, A-Game-Objects, S-Testmerged

#18644 Add action bar for forced ampoule inhaling
  code/mob.dm
  code/modules/chemistry/tools/ampoules.dm
Labels: C-Balance, C-QoL, size/S, A-Player-Actions, A-Game-Objects, S-Ready-For-Final-Review

#18383 Long Range Teleport Computer
  browserassets/tgui/tgui.bundle.js
  code/datums/computerfiles.dm
  code/modules/networks/computer3/disks.dm
  code/modules/networks/computer3/mainframe2/os_drivers.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/modules/parallax/parallax_render_sources/parallax_render_source_groups.dm
  code/modules/telescience/telescope/telescopeMisc.dm
  code/obj/landmark.dm
  code/z_adventurezones/observatory.dm
  goonstation.dme
  icons/obj/items/disks.dmi
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/density2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/z2.dmm
  tgui/packages/tgui/interfaces/TeleConsole/DiskSection.tsx
  tgui/packages/tgui/interfaces/TeleConsole/LongRangeSection.tsx
  tgui/packages/tgui/interfaces/TeleConsole/index.tsx
  tgui/packages/tgui/interfaces/TeleConsole/types.ts
Labels: C-Feature, A-Mapping, C-Sprites, C-Rework, A-UI, E-Add-To-Wiki, size/XXL, A-Science, A-Station-Systems

#18667 Fix Clarion Dispensary Chute
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/XS
