Repository goonstation/goonstation, pull requests merged in 2024-08, with the labels that each got.

#20159 Fix fluid group splitting
  code/modules/fluids/fluid_groups.dm
Labels: C-Bug, size/XS

#20146 Replace newspaper's hit sound
  code/modules/writing/paper.dm
Labels: C-Sound, size/XS, A-Game-Objects, S-Ready-For-Final-Review

#20161 add ice dispenser to the after life bar
  maps/z2.dmm
Labels: A-Mapping, C-QoL, size/S, A-Game-Objects

#20051 Using a badge/id shows a badge/id overlay on the character
  code/WorkInProgress/HaineWhatever.dm
  code/mob.dm
  code/mob/living/carbon/human.dm
  code/modules/medals/rewardsLocker.dm
  code/obj/item/card.dm
  code/obj/item/clothing/chameleon_js.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/gloves.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/kendo.dm
  code/obj/item/mob_parts.dm
  code/obj/item/mob_parts/artifact_parts.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/item/mob_parts/robot_parts.dm
  code/obj/mining.dm
  icons/effects/effects.dmi
Labels: C-Feature, C-Sprites, size/L, A-Player-Actions, A-Game-Objects

#20127 Makes secondary radiation more dangerous
  code/datums/components/radioactive.dm
Labels: C-Performance, C-Balance, C-Experimental, size/XS

#20156 Resprite Syndicate Announcement computer
  code/obj/machinery/computer/announcement.dm
  icons/obj/computer.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#20180 fixes captain's medal reward gloves not having the correct fingertip color
  code/modules/medals/rewardsLocker.dm
Labels: C-Bug, size/XS, A-Game-Objects

#20152 get rid of the flamethrowers in donut 2 mainsec
  maps/donut2.dmm
Labels: A-Mapping, size/XS

#20183 Make turbine report stator load via mechcomp
  code/obj/nuclearreactor/turbine.dm
Labels: C-QoL, E-Add-To-Wiki, size/XS, A-Game-Objects

#20176 Replaces the lawbringer's HIGH EXPLOSIVE mode with a HIGH POWER assault laser mode
  code/modules/projectiles/laser.dm
  code/modules/projectiles/projectile_parent.dm
  code/modules/writing/papers.dm
  code/obj/item/gun/energy.dm
  code/obj/machinery/door/door_parent.dm
  code/obj/structure.dm
Labels: C-Balance, size/M

#20178 Replaces the lawbringer's EXTERMINATE mode with laser blaster projectiles
  code/modules/writing/papers.dm
  code/obj/item/gun/energy.dm
Labels: C-Balance, S-Merge-Conflict, size/S

#20072 Mildly Mutated genes are reinforced and can be scrambled from roundstart
  code/datums/preferences/preferences.dm
  code/datums/traits.dm
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/mob/new_player.dm
  code/modules/admin/admin.dm
  code/modules/medical/genetics/geneticsMachines.dm
  code/modules/medical/genetics/geneticsResearch.dm
Labels: C-Balance, E-Add-To-Wiki, size/M, A-Medical, A-Traits

#20181 Removes "wifi" from the wifi signal splitter's name
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Code-Quality, size/XS, A-Game-Objects

#20121 Adds two new food items: Cheese Danish & Chocolate Covered Cherry
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_dessert.dmi
Labels: C-Sprites, E-Add-To-Wiki, size/M, A-Catering

#20179 Showing off auth disk
  _std/defines/actions.dm
  code/datums/actions/actions.dm
  code/modules/networks/computer3/disks.dm
  code/obj/item/card.dm
  code/obj/item/clothing/suits.dm
  icons/effects/effects.dmi
Labels: C-Feature, C-Sprites, size/L, A-Game-Objects

#20063 Add new section on round() to the code guidelines
  .github/CODE_GUIDELINES.md
Labels: A-Tooling, size/S, C-Documentation

#20198 Adds Medical Crash Cart to Atlas Medbay
  maps/atlas.dmm
Labels: A-Mapping, C-QoL, size/XS

#20199 Space law rewrite
  strings/books/space_law.txt
Labels: E-Add-To-Wiki, size/L, A-Game-Objects

#20201 Fixes wizard max name length.
  code/modules/antagonists/wizard/wizard.dm
Labels: C-Bug, C-QoL, size/XS

#20197 Fix unremovable shoes turning into rocket boots with an air tank
  code/obj/item/clothing/shoes.dm
Labels: C-Bug, size/XS, A-Game-Objects

#20160 Prevent afterattacks when clicking on vis_contents contents
  code/mob/living.dm
Labels: C-Bug, size/XS, A-Game-Objects

#20211 Pizza Snipping 2 (possibly controversial)
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/pizza.dm
Labels: C-Feature, C-QoL, size/XS, A-Catering

#20216 Add a blowgun with knockout darts to the traitor and spy-thief buylists
  code/datums/jobs.dm
  code/datums/syndicate_buylist.dm
  code/obj/item/storage/ammo_pouches.dm
  code/obj/item/storage/weapon_security.dm
Labels: C-Feature, C-Balance, size/S, A-Game-Objects

#20219 Adds Lore to the PDA space GPS program
  code/modules/parallax/parallax_render_sources/parallax_render_source_parent.dm
  code/modules/parallax/parallax_render_sources/parallax_render_sources.dm
  code/obj/item/device/pda2/smallprogs.dm
Labels: C-Feature, size/M, A-Game-Objects

#20215 Fix up manufacturer buttons a bit
  tgui/packages/tgui/interfaces/Manufacturer/components/BlueprintButton.tsx
  tgui/packages/tgui/interfaces/Manufacturer/constant.ts
  tgui/packages/tgui/interfaces/Manufacturer/index.tsx
Labels: C-Bug, A-UI, size/XS

#20221 Fix nonhuman players being able to communicate using the ship alert button
  code/obj/machinery/shipalert.dm
Labels: C-Bug, size/XS

#20214 fixes a secret medal
  code/datums/components/hattable.dm
  code/mob/living/silicon/ai.dm
Labels: C-Bug, A-Secret, A-Medal, size/S

#20217 Fix Telesci stepped slider and SMES slider
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Smes.tsx
  tgui/packages/tgui/interfaces/TeleConsole/SteppedSlider.tsx
Labels: C-Bug, A-UI, size/S

#20193 Resprites the light switch + unique directionals
  code/obj/decorations.dm
  code/obj/machinery/lightswitch.dm
  icons/obj/power.dmi
Labels: C-Sprites, size/S, A-Game-Objects, S-Ready-For-Final-Review

#20210 Reinforce Donut 2 Jazz Lounge and Owlery
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/M

#20231 Lightswitch map fixes for donut3 and cog2
  maps/cogmap2.dmm
  maps/donut3.dmm
Labels: A-Mapping, size/M

#20218 [Debug Tool] Add new define to spawn as arbitrary job roundstart
  _std/__build.dm
  code/datums/jobs.dm
  code/procs/jobprocs.dm
Labels: C-Feature, A-Tooling, C-QoL, size/M

#20128 Add an option to explosions for flash radiation
  code/datums/controllers/explosion_controls.dm
  code/procs/explosion_new.dm
Labels: C-Feature, size/M, A-Atmospherics, A-Game-Objects, A-Science

#20233 The DEVTEST improvement
  assets/maps/engine_rooms/devtest/TEGdevtest_0.dmm
  assets/maps/engine_rooms/devtest/choicedevtest_100.dmm
  assets/maps/engine_rooms/devtest/nucleardevtest_0.dmm
  assets/maps/engine_rooms/devtest/singularitydevtest_0.dmm
  code/modules/worldgen/prefab/engines.dm
  icons/effects/mapeditor/engine_room_devtest.dmi
  maps/utilities/devtest.dmm
Labels: A-Mapping, C-Sprites, size/XXL

#20174 Unify Turret Control ID behaviour
  code/obj/machinery/turret.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-Code-Quality, size/L

#20164 Thonagarang nerf + grammatical errors
  code/WorkInProgress/warcrimes.dm
Labels: C-Bug, C-Balance, size/XS

#20226 Add minimum player count for gangs
  code/datums/gamemodes/gangwar.dm
Labels: C-Balance, size/XS, A-Gamemodes

#20236 Add new drink, Iron Brew
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/obj/item/plants.dm
Labels: C-Feature, E-Add-To-Wiki, size/S, A-Catering

#20239 Allow usage of a local file in "code/WorkInProgress/__development.local.dm"
  .github/CODE_GUIDELINES.md
  .gitignore
  _std/__build.dm
  goonstation.dme
Labels: C-Feature, A-Tooling, C-QoL, size/S, A-Internal, C-Documentation

#20235 Resprites the glacial abyss (icemoon caves)
  code/turf/turf_autoalign.dm
  code/z_adventurezones/icemoon.dm
  icons/turf/floors.dmi
  icons/turf/walls/ice.dmi
Labels: C-Sprites, size/XS, S-Ready-For-Final-Review

#20228 Minimaps Now Depict Walls & Doors
  code/modules/minimap/minimap.dm
  code/modules/minimap/minimap_marker.dm
  code/modules/minimap/minimap_object.dm
  code/modules/minimap/minimap_renderer.dm
  code/modules/minimap/minimap_ui.dm
  code/world/initialization/0_preMapLoad.dm
  code/world/initialization/1_New.dm
Labels: C-Feature, C-Code-Quality, size/XXL, A-Internal, S-Ready-For-Final-Review

#20209 Have the Port-a-Brig make noises
  code/obj/machinery/porters.dm
Labels: C-Feature, C-Sound, size/XS, A-Game-Objects

#20246 Fixes weird pixels on ice wall
  icons/turf/walls/ice.dmi
Labels: C-Sprites, size/XS

#20245 Make containers heat up their contents when on fire
  code/obj/item/storage/small_storage_parent.dm
Labels: C-Feature, size/S, A-Game-Objects, A-Chemistry

#20261 Add mixer recipe for gravy & soy sauce
  code/datums/cookingrecipes.dm
  code/obj/machinery/food_and_drink/mixer.dm
Labels: C-QoL, E-Add-To-Wiki, size/S, A-Catering

#20242 fix the DEVTEST bug
  maps/utilities/devtest.dmm
Labels: A-Mapping, size/L

#20234 Lightswitch map fixes for Cog1
  maps/cogmap.dmm
Labels: A-Mapping, size/L

#20253 Adds mechcomp link visualization to meson goggles
  _std/defines/sight.dm
  code/datums/components/mechComp_signals.dm
  code/mob/living.dm
  code/obj/item/clothing/glasses.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/organs/eye.dm
  icons/effects/lines2.dmi
Labels: C-Feature, C-Sprites, C-QoL, size/M

#20173 Shift around Oshan security a bit
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, size/L, S-Ready-For-Final-Review

#20029 Adds mechcomp integration to SMES units
  code/modules/power/smes.dm
Labels: C-Feature, E-Add-To-Wiki, size/S, A-Game-Objects, A-Station-Systems

#20213 JUMBO
  code/modules/hydroponics/hydroponics_misc_procs.dm
Labels: C-QoL, size/XS, S-Ready-For-Final-Review, A-Hydroponics

#20271 Rework the Still to be more in line with botany equipment
  code/modules/chemistry/tools/dispensers.dm
Labels: C-QoL, size/L, A-Game-Objects

#20273 Camera Hat Resprite
  icons/obj/clothing/item_hats.dmi
Labels: C-Sprites, size/XS, A-Clothing

#20254 New breaching sledgehammer special
  browserassets/images/tooltips/heavyswing.png
  code/modules/items/specials/ItemSpecials.dm
  code/obj/item/misc_weapons.dm
  icons/effects/96x96.dmi
  icons/effects/effects.dmi
  sound/impact_sounds/metal_thump.ogg
Labels: C-Feature, C-Sprites, C-Sound, size/M, A-Game-Objects

#20284 chemicompiler textarea fix
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/ChemiCompiler/ChemiCompilerTextArea.tsx
Labels: C-Bug, A-UI, size/S

#20281 map vote background color fix
  browserassets/tgui/tgui.bundle.css
  tgui/packages/tgui/styles/interfaces/MapVote.scss
Labels: C-Bug, A-UI, size/XS

#20280 fix terminal Enter button
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Terminal/InputAndButtonsSection.tsx
Labels: C-Bug, A-UI, size/XS

#20279 useEffect solution for terminal scroll
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Terminal/TerminalOutputSection.tsx
  tgui/packages/tgui/interfaces/Terminal/index.tsx
Labels: C-Bug, A-UI, size/M

#20289 light switch fixes for kondaru and donut2
  maps/donut2.dmm
  maps/kondaru.dmm
Labels: A-Mapping, size/L

#20248 Minor Nadir Security changes
  maps/nadir.dmm
Labels: A-Mapping, C-QoL, size/XL

#18622 Armory doors immunity to wire hacking
  code/obj/machinery/door/airlock.dm
  code/obj/machinery/door/airlock_pyro.dm
  code/obj/machinery/door/door_parent.dm
  icons/obj/doors/SL_doors.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-Sprites, C-Balance, S-Merge-Conflict, E-Add-To-Wiki, size/XXL

#20100 Armory cooldown on Auth
  code/obj/machinery/computer/security/riot.dm
Labels: C-Balance, S-Stale, E-Add-To-Wiki, size/XS, A-Game-Objects, A-Station-Systems

#20278 Refactors captain's antique
  code/datums/gamemodes/spy_theft.dm
  code/obj/displaycase.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/energy.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/destiny.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/manta.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/oldmap.dmm
  maps/unused/ozymandias.dmm
  maps/unused/trunkmap.dmm
  maps/wrestlemap.dmm
Labels: A-Mapping, C-Code-Quality, C-Rework, A-Medal, size/L, A-Game-Objects

#20309 Fixes null.air runtime
  code/modules/atmospherics/pipe_network.dm
  code/modules/atmospherics/portable/canister.dm
  code/modules/atmospherics/portable/portable_atmospherics.dm
Labels: C-Bug, size/XS, A-Atmospherics

#20287 New special stab attack for forks/screwdrivers and some daggers
  browserassets/images/tooltips/jab.png
  code/modules/items/specials/ItemSpecials.dm
  code/obj/item/kitchen.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/tool/screwdriver.dm
  icons/effects/effects.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#20304 Fix missing Nadir shield and overlapping intercom
  maps/nadir.dmm
Labels: C-Bug, A-Mapping, size/XS

#20302 Remove robotalk implants from robotics manufacturers
  assets/maps/prefabs/underwater/nadir_safe/prefab_water_sketchy.dmm
  code/obj/machinery/manufacturer_subtypes.dm
Labels: A-Mapping, C-Balance, size/XS, A-Game-Objects

#20315 Adds Wander's office
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/alcohol.dm
  code/modules/writing/papers.dm
  code/obj/decorations.dm
  code/obj/item/decoration.dm
  code/obj/item/device/lightbreaker.dm
  code/obj/item/table_rack_parts.dm
  code/obj/table.dm
  code/z_adventurezones/earth.dm
  icons/misc/wander_stuff.dmi
  icons/obj/foodNdrink/bottle.dmi
  icons/obj/furniture/table_monochrome_desk.dmi
  icons/obj/large/48x48.dmi
  icons/obj/writing.dmi
  maps/z2.dmm
Labels: A-Mapping, C-Sprites, S-Merge-Conflict, size/XL

#20318 Adds access spawners to kondaru toxins
  maps/kondaru.dmm
Labels: C-Bug, A-Mapping, size/S

#20295 Resprites, Improves, and Standardizes Various Hazard Suits
  icons/obj/clothing/overcoats/item_suit_hazard.dmi
Labels: C-Sprites, size/XS, A-Clothing

#20321 Fixes 'authenticaion' spelling
  code/obj/machinery/manufacturer.dm
  code/obj/machinery/nuclearbomb.dm
Labels: C-Bug, A-UI, size/XS

#20323 Fix runtime on 0 pressure delta for tank explosion
  code/obj/item/tank.dm
Labels: C-Bug, size/XS, A-Atmospherics, A-Science

#20320 Resprites Plant Analyzer and Happy Plant Mixture Jug
  icons/obj/hydroponics/items_hydroponics.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#20314 Remove matsci quality
  code/WorkInProgress/wizardset.dm
  code/datums/controllers/mining_controls.dm
  code/modules/materials/Mat_Materials.dm
  code/modules/materials/Mat_ProcsDefines.dm
  code/modules/materials/Mat_Properties.dm
  code/modules/mining/mining_encounters.dm
  code/modules/mining/tile_events.dm
  code/modules/worldgen/GenerateMining.dm
  code/obj.dm
  code/obj/item/material.dm
  code/obj/mining.dm
  strings/books/matsci_guide_old.txt
Labels: C-Code-Quality, C-Removal, E-Add-To-Wiki, size/L, A-Materials

#20262 Allows insertion of headsets into devil horns headband.
  code/datums/jobs.dm
  code/obj/critter/bee.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/hats.dm
  code/obj/random_spawners.dm
  maps/oshan.dmm
  maps/z2.dmm
Labels: A-Mapping, size/S, S-Ready-For-Final-Review

#20151 remove soulsteel from artifact transmutor bomb material pool
  code/obj/artifacts/artifact_objects/bombs.dm
Labels: C-Balance, size/XS, A-Science, S-Ready-For-Final-Review, S-Controversial

#20338 [TGUI REACT] last two things for listinputmodal
  code/modules/tgui/tgui_input_list.dm
  tgui/packages/tgui/interfaces/ListInputWindow/ListInputModal.tsx
Labels: A-UI, size/XS

#20340 Lightswitch map fixes for Clarion
  maps/clarion.dmm
Labels: A-Mapping, size/XXL

#20353 Fixes the dir of the sign-switches
  maps/nadir.dmm
Labels: A-Mapping, size/XS

#20344 Make lightswitches deconstructible
  code/obj/machinery/lightswitch.dm
Labels: C-Feature, C-QoL, size/XS, A-Game-Objects

#20343 Resprites the Garden Trowel sprite and gives it an in-hand sprite, and also adds SFX when digging and planting in plant pots
  code/obj/item/decorative_pot.dm
  code/obj/item/hydroponics.dm
  icons/mob/inhand/hand_tools.dmi
  icons/obj/hydroponics/items_hydroponics.dmi
Labels: C-Sprites, size/XS, A-Game-Objects, S-Ready-For-Final-Review

#20298 Hopefully stops the thing where nonsimulated tiles in mah air groups
  code/modules/atmospherics/FEA_system.dm
  code/turf/turf.dm
Labels: C-Bug, size/XS, A-Atmospherics, S-Testmerged

#20354 Cleans up redundant hair-related code.
  code/WorkInProgress/SpyGuyStuff.dm
  code/datums/components/barber.dm
  code/datums/preferences/preferences.dm
  code/mob/living/carbon/human.dm
  code/mob/transform_procs.dm
  code/modules/chemistry/Chemistry-Reactions.dm
  code/procs/jobprocs.dm
Labels: C-Bug, C-Code-Quality, size/M, A-Internal

#20334 Resprites Intestines
  icons/obj/items/organs/intestines.dmi
Labels: C-Sprites, size/XS, A-Game-Objects, S-Ready-For-Final-Review

#20363 Resprites Spaghetti Boxes and Butter
  icons/obj/foodNdrink/food_ingredient.dmi
Labels: C-Sprites, size/XS, A-Game-Objects, A-Catering

#20370 Give Classic SecTechs the space law book and increase available amount to 3
  code/modules/vending/vending.dm
Labels: size/XS

#20317 Janitor backtank sprayer
  _std/defines/chemistry.dm
  code/datums/components/reagent_overlay.dm
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/tools/extinguisher.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/economy/supply_packs.dm
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/projectile_parent.dm
  code/modules/projectiles/special.dm
  code/modules/sound/soundCache.dm
  code/obj/item.dm
  code/obj/item/gun/energy.dm
  code/obj/item/gun/gun_parent.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/mops_cleaners.dm
  code/obj/submachine/cooking.dm
  code/turf/floors.dm
  icons/effects/96x96.dmi
  icons/mob/clothing/back.dmi
  icons/mob/inhand/hand_guns.dmi
  icons/obj/janitor.dmi
  maps/z3.dmm
  sound/machines/windup.ogg
Labels: A-Mapping, C-Sprites, C-Experimental, C-Sound, E-Add-To-Wiki, size/XL, A-Game-Objects

#20380 Fix erroneous message when washing hands with no hygiene motive
  code/obj/submachine/cooking.dm
Labels: C-Bug, size/XS, A-Game-Objects, A-RP

#20390 Replaces instance of "lynched" with "gibbed" in the critter compendium.
  strings/books/critter_compendium.txt
Labels: C-Rework, A-UI, size/XS

#20396 Update github user account URL - Third times a charm
  tgui/packages/tgui/interfaces/Bombsim/index.tsx
  tgui/packages/tgui/interfaces/Bombsim/type.ts
  tgui/packages/tgui/interfaces/Manufacturer/components/BlueprintButton.tsx
  tgui/packages/tgui/interfaces/Manufacturer/components/ButtonWithBadge.tsx
  tgui/packages/tgui/interfaces/Manufacturer/components/CardInfo.tsx
  tgui/packages/tgui/interfaces/Manufacturer/components/CenteredText.tsx
  tgui/packages/tgui/interfaces/Manufacturer/components/CollapsibleWireMenu.tsx
  tgui/packages/tgui/interfaces/Manufacturer/components/ManufacturerSettings.tsx
  tgui/packages/tgui/interfaces/Manufacturer/components/PowerAlertModal.tsx
  tgui/packages/tgui/interfaces/Manufacturer/components/ProductionCard.tsx
  tgui/packages/tgui/interfaces/Manufacturer/constant.ts
  tgui/packages/tgui/interfaces/Manufacturer/index.tsx
  tgui/packages/tgui/interfaces/Manufacturer/type.ts
  tgui/packages/tgui/interfaces/PumpControl/index.tsx
  tgui/packages/tgui/interfaces/PumpControl/type.ts
  tgui/packages/tgui/interfaces/TTV/index.tsx
  tgui/packages/tgui/interfaces/TTV/type.ts
  tgui/packages/tgui/interfaces/common/bitflag.ts
Labels: C-Code-Quality, A-UI, size/M, A-Internal

#20392 Allow deconstructing 'secure area' wall signs
  code/obj/wallsigns.dm
Labels: size/XS

#20388 Makes the German accent understandable.
  code/procs/accents.dm
  strings/language/german.txt
Labels: C-QoL, size/M, A-Traits

#20357 Proximity component
  _std/defines/atom.dm
  _std/defines/component_defines/component_defines_atom.dm
  code/WorkInProgress/Hydrothings.dm
  code/atom.dm
  code/datums/abilities/critter/ocean.dm
  code/datums/components/glued.dm
  code/datums/components/proximity.dm
  code/datums/components/train.dm
  code/mob/living/critter/small_animal.dm
  code/modules/admin/diagnostics.dm
  code/modules/chemistry/tools/bombs.dm
  code/modules/robotics/bot/cambot.dm
  code/modules/robotics/bot/firebot.dm
  code/obj/critter/critter_parent.dm
  code/obj/item/assembly/misc_assemblies.dm
  code/obj/item/assembly/single_tank_bomb.dm
  code/obj/item/device/prox_sensor.dm
  code/obj/item/device/transfer_valve.dm
  code/obj/item/mops_cleaners.dm
  code/obj/machinery/flasher.dm
  code/obj/machinery/owlhoot.dm
  code/obj/machinery/plantpot.dm
  code/obj/stool.dm
  code/turf/turf.dm
  code/z_adventurezones/evilderelict.dm
  code/z_adventurezones/precursor.dm
  goonstation.dme
Labels: C-Bug, C-Performance, size/L, A-Internal

#20112 Allow gravitons inside mechcomp cabinets.
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Feature, size/M, S-Ready-For-Final-Review

#20367 Fix Breaker Airlock mapping helpers
  code/modules/mapping/helpers/airlock_helpers.dm
Labels: C-Bug, A-Mapping, C-Code-Quality, size/M, A-Game-Objects, A-Internal

#20400 Resprites Eye Spider Tear Puddles
  icons/effects/urine.dmi
  icons/effects/water.dmi
Labels: C-Sprites, size/XS, A-Chemistry

#20311 minor changes for kondaru science
  maps/kondaru.dmm
Labels: A-Mapping, size/S, S-Ready-For-Final-Review

#20420 Bugfix, replacing incorrect reagent in Bathsalts Recipe
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: size/XS

#20439 Fix (AI Core Skin) Salvaged being unavailable to eligible players
  code/modules/medals/rewardsAI.dm
Labels: C-Bug, A-Medal, size/XS

#19516 Introduces customizationHolder to appearanceHolder in preparation for muterace rework
  code/WorkInProgress/GerhazoStuff.dm
  code/WorkInProgress/HaineWhatever.dm
  code/WorkInProgress/SpyGuyStuff.dm
  code/WorkInProgress/warcrimes.dm
  code/datums/Vspace.dm
  code/datums/abilities/lizard.dm
  code/datums/components/barber.dm
  code/datums/mutantraces.dm
  code/datums/preferences/preferences.dm
  code/datums/preferences/randomize.dm
  code/datums/savefile.dm
  code/mob/dead/observer.dm
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/gimmick.dm
  code/mob/living/carbon/human/monkeys.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/mob/living/critter/small_animal.dm
  code/modules/admin/randomverbs.dm
  code/modules/antagonists/macho_man/abilities/_macho_man_mob.dm
  code/modules/antagonists/slasher/abilities/_slasher_mob.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/barber/barber_shop.dm
  code/modules/chemistry/Chemistry-Reactions.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/holiday/spacemas.dm
  code/modules/mapping/helpers/mob_spawn.dm
  code/modules/medical/diseases/parasites.dm
  code/modules/medical/genetics/bioEffects/beneficial.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/medical/genetics/bioEffects/useless.dm
  code/modules/medical/genetics/bioHolder.dm
  code/modules/medical/genetics/geneticsScanner.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/device/disguiser.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/item/organs/eye.dm
  code/obj/item/organs/head.dm
  code/obj/item/organs/tail.dm
  code/z_adventurezones/safehouse.dm
  code/z_adventurezones/timeship.dm
Labels: A-Secret, C-QoL, E-Certified-Organic, size/XXL, A-Internal, S-Testmerged

#20366 Add alpha mask to hoodies to show hair
  code/datums/components/toggle_hood.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/obj/item/clothing/suits.dm
  icons/mob/clothing/overcoats/hoods/worn_hoodies.dmi
Labels: C-Sprites, C-QoL, size/S, A-Clothing

#20441 Fixes #19908 - Button Panel "set button list" behavior fix
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Bug, size/XS

#20431 what if we didn't decode these? then what?
  browserassets/js/tooltip.js
Labels: P-Major, A-UI, size/XS

#20438 Fixes #20337 by enabling the mechcomp link visuals on the cyborg meson upgrade.
  code/mob/living/life/sight.dm
  code/modules/robotics/robot/upgrade/meson_scanner.dm
Labels: C-Feature, size/S, A-Silicons

#20450 Fixes #20356 glove slap message.
  code/obj/item/clothing/gloves.dm
Labels: size/XS

#20447 Fixes being able to install mounted Defibrillators into cryo pods
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
  code/modules/medical/surgery_tools.dm
Labels: C-Bug, size/XS, A-Medical, A-Game-Objects

#20451 fixes restricted manudrive duping
  code/modules/networks/computer3/smallprogs.dm
  code/modules/networks/computer3/terminal.dm
Labels: size/S

#20445 Fix floors dried with a sponge not appearing dried
  code/obj/item/mops_cleaners.dm
  code/turf/floors.dm
Labels: C-Bug, size/S, A-Game-Objects

#20446 Fixes #20440
  code/modules/medals/rewardsAI.dm
Labels: C-Bug, A-Medal, size/XS, A-AI

#20461 dmdoc some comments in `pet_carrier.dm`
  code/obj/item/pet_carrier.dm
Labels: C-Code-Quality, size/S

#20454 Fixes fixed floodlight description
  code/obj/item/device/lights.dm
Labels: C-Bug, size/XS, A-Game-Objects

#20443 Standardize AI upload defenses
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/donut2.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-Balance, size/L

#20175 Add more radiation shields to Donut3 engineering
  maps/donut3.dmm
Labels: A-Mapping, C-QoL, S-Stale, size/XXL, S-Ready-For-Final-Review

#20437 Fix psych office mail on kondaru
  maps/kondaru.dmm
Labels: C-Bug, A-Mapping, size/XS

#20316 Reroute atlas artifact ejector
  maps/atlas.dmm
Labels: A-Mapping, C-QoL, size/L

#20335 Add area to donut2 singularity core
  maps/donut2.dmm
Labels: A-Mapping, C-QoL, size/L

#20455 Fixes buttcoin stacking with spacecash
  code/datums/banking.dm
  code/datums/jobs.dm
  code/mob/living/critter/drone/x.dm
  code/obj/critter/drone.dm
  code/obj/item/space_cash.dm
  code/obj/item/storage/secure_safe.dm
  code/obj/machinery/law_racks.dm
  code/obj/random_spawners.dm
  code/obj/stool.dm
  code/obj/submachine/slots.dm
  code/z_adventurezones/luna.dm
  maps/unused/crash_gimmick.dmm
  maps/unused/horizon.dmm
  maps/z2.dmm
Labels: C-Bug, A-Mapping, size/L, A-Game-Objects

#20463 Resprites some of the alien plants 👽
  icons/obj/hydroponics/plants_alien.dmi
Labels: C-Sprites, size/XS, A-Hydroponics

#20480 Adds preferred pronouns to cyborg farts
  code/mob/living/silicon/robot.dm
Labels: C-Bug, C-QoL, size/S, A-Silicons

#20474 Resprites cryogenic sleep unit 💤
  icons/obj/large/64x96.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#20472 Fixes chameleon projector breaking on exited()
  code/obj/item/device/chameleon.dm
Labels: C-Bug, size/XS, A-Game-Objects

#20465 Slight word change to pressure crystal description
  code/obj/item/device/transfer_valve.dm
Labels: C-QoL, size/XS, A-Game-Objects

#20476 Add a roundstart hint for custom emotes/audible custom emotes
  strings/roundstart_hints.txt
Labels: C-Feature, A-UI, size/XS

#20401 Resprites the Holo-Emitter's Sign and Text mode sprites
  icons/obj/janitor.dmi
Labels: C-Sprites, size/XS

#20487 Fixes Bombini is Missing medal capitalisation
  code/modules/economy/trader.dm
  code/modules/medals/rewardsLocker.dm
Labels: C-Bug, size/XS

#20483 Fixes fishing vending machine icon alignment
  icons/obj/vending.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Hydroponics

#20470 Fixes derringer drop location
  code/mob/living/carbon/human/procs/emote.dm
Labels: C-Bug, size/XS, A-Game-Objects

#20469 Fixes chameleon project/bomb being unable to scan held items
  code/obj/item/device/chameleon.dm
Labels: C-Bug, size/XS, A-Game-Objects

#20382 Adds a Fishbowl Helmet, a variant of the regular Space Helmet.
  code/modules/medals/rewardsLocker.dm
  code/obj/item/clothing/helmets.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/item_hats.dmi
  maps/z3.dmm
Labels: C-Feature, E-DNM, A-Mapping, C-Sprites, size/XS

#20268 Adds new meatball variant sprites
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food.dmi
Labels: C-Sprites, S-Stale, size/XS, A-Game-Objects, A-Catering

#20285 Resprites the Cake Hat
  icons/mob/inhand/hand_headgear.dmi
  icons/obj/clothing/item_hats.dmi
Labels: C-Sprites, E-Add-To-Wiki, size/XS, A-Clothing

#20490 Fix button panels being able to have empty button names and signal outputs
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Bug, size/S

#20299 Resprites Fruitcake, adds Fruitcake slices (Also adds Toast Loafs)
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/bread.dm
  code/modules/food_and_drink/cakes.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_bread.dmi
  icons/obj/foodNdrink/food_dessert.dmi
Labels: C-Sprites, E-Add-To-Wiki, size/M, A-Clothing, A-Catering

#20492 Add bleeding when being damaged by tumbling creeper
  code/obj/item/tumbling_creeper_trap.dm
Labels: C-Balance, size/XS, A-Hydroponics

#20491 Round Glasses
  code/obj/item/clothing/glasses.dm
  icons/mob/clothing/eyes.dmi
  icons/mob/lizard/eyes.dmi
  icons/obj/clothing/item_glasses.dmi
Labels: C-Sprites, size/S, A-Clothing

#20505 Fix stacked turrets in cogmap1 upload
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/XS

#20504 Fix stompers crushing intangible mobs
  code/datums/controllers/sea_hotspot_controls.dm
Labels: C-Bug, size/XS, A-Game-Objects
