Repository goonstation/goonstation, pull requests merged in 2024-11, with the labels that each got.

#21162 Add Language artifact activation stimulus
  code/obj/artifacts/artifact_machines/emoter.dm
  code/obj/artifacts/artifact_machines/heal_field.dm
  code/obj/artifacts/artifact_machines/turret.dm
  code/obj/artifacts/artifact_machines/warper.dm
  code/obj/artifacts/artifact_objects/augmentor.dm
  code/obj/artifacts/artifact_objects/bombs.dm
  code/obj/artifacts/artifact_objects/container.dm
  code/obj/artifacts/artifact_objects/healer.dm
  code/obj/artifacts/artifact_objects/heatwave.dm
  code/obj/artifacts/artifact_objects/implanter.dm
  code/obj/artifacts/artifact_objects/injector.dm
  code/obj/artifacts/artifact_objects/lamp.dm
  code/obj/artifacts/artifact_objects/power_giver.dm
  code/obj/artifacts/artifact_objects/recaller.dm
  code/obj/artifacts/artifact_objects/wish_granter.dm
  code/obj/artifacts/artifactdatums.dm
  code/obj/artifacts/artifactprocs.dm
  code/obj/artifacts/triggers.dm
  strings/letter_words_5.txt
Labels: C-Feature, size/L, A-Science

#21195 Adds a Freezer and mixer to donut3 engineering storage
  maps/donut3.dmm
Labels: C-Feature, A-Mapping, C-QoL, size/M

#21217 Emergency suits in boxes now start folded
  code/obj/item/clothing/suits.dm
  code/obj/item/storage/small_storage_parent.dm
  icons/obj/clothing/overcoats/item_suit_hazard.dmi
Labels: C-Sprites, C-QoL, size/S

#21219 Force the AI station map to initialize on creation
  code/mob/living/silicon/ai.dm
Labels: C-Bug, size/XS, A-Silicons

#21221 Add "Licensed Archaeologist" medal
  code/datums/crew_objective.dm
  code/obj/artifacts/artifactprocs.dm
Labels: C-Feature, A-Medal, size/M, A-Science

#21225 Replaces the empty IV bag in the atlas OR with a filled one
  maps/atlas.dmm
Labels: A-Mapping, C-QoL, size/XS

#21220 Information map with "You Are Here" pin
  _std/defines/minimap.dm
  code/modules/minimap/minimap_objects/objects/info_map.dm
  goonstation.dme
Labels: C-Feature, C-Experimental, size/M, A-Game-Objects

#21025 Add Heavy Clown Boots + Military Shoes
  code/obj/item/clothing/shoes.dm
  icons/mob/clothing/feet.dmi
  icons/obj/clothing/item_shoes.dmi
Labels: C-Feature, C-Sprites, size/M, A-Clothing

#21211 Add shaker temperature gauging
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/chemistry/tools/patches.dm
  icons/obj/foodNdrink/bottle.dmi
Labels: C-Sprites, C-QoL, size/S, A-Game-Objects

#21200 Mindhack cloners only message syndicate PDAs
  _std/defines/jobs.dm
  code/obj/item/device/pda2/base_os.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/machinery/clonepod.dm
Labels: C-QoL, size/S, A-Game-Objects

#21235 Fix stinky bugs
  code/modules/chemistry/Chemistry-Reagents.dm
Labels: C-Bug, size/XS, A-Internal

#21052 adds the gimmick job 'Hall Monitor'
  code/datums/jobs.dm
  code/lists/jobs.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/device/radios/headsets.dm
  code/obj/item/device/scanners.dm
  code/procs/jobprocs.dm
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/mob/inhand/overcoat/hand_suit_gimmick.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
Labels: C-Sprites, S-Stale, size/M, A-Respawning

#21229 Change info maps to use native HUD rendering rather than going via ByondUI
  _std/color.dm
  code/modules/gps/gps.dm
  code/modules/minimap/markers/_minimap_marker_parent.dm
  code/modules/minimap/minimap_objects/objects/_minimap_object_parent.dm
  code/modules/minimap/minimap_objects/objects/ai_map.dm
  code/modules/minimap/minimap_objects/objects/info_map.dm
  code/modules/minimap/minimaps/__minimap_parent.dm
  code/modules/minimap/minimaps/_area_minimap.dm
  code/modules/minimap/minimaps/_radar_minimap.dm
Labels: size/L

#20960 Jelly bean tweaks
  code/modules/food_and_drink/candy.dm
Labels: C-Balance, size/L, A-Catering, A-Hydroponics

#21062 Datumize Clothing Stains
  code/WorkInProgress/laundry.dm
  code/datums/stain.dm
  code/mob.dm
  code/modules/forensics/atom_forensic.dm
  code/modules/status_system/statusEffects.dm
  code/obj/decal/cleanable.dm
  code/obj/item/clothing.dm
  goonstation.dme
Labels: C-Feature, size/L, A-Internal

#21248 Clown/HoS shoes remain equipped on recolour
  code/obj/item/clothing/shoes.dm
Labels: C-Bug, size/S, A-Clothing

#21250 Fix dupe bar dispenser on nadir
  maps/nadir.dmm
Labels: C-Bug, A-Mapping, size/XS

#21251 AI shells use correct name
  code/mob/living/silicon/hivebot.dm
  code/mob/living/silicon/robot.dm
Labels: C-Bug, size/XS, A-Silicons

#21258 Emagged Cyborg has no Antag Popup
  code/modules/antagonists/syndicate_cyborg/emagged_cyborg.dm
Labels: C-Bug, A-UI, size/XS

#21160 Cleanbot whistle
  code/datums/components/bot_command.dm
  code/datums/components/secbot_command.dm
  code/datums/jobs.dm
  code/modules/items/instruments/instruments.dm
  code/modules/robotics/bot/cleanbot.dm
  code/modules/vending/vending.dm
  goonstation.dme
  icons/obj/instruments.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/L, A-Critters

#21263 No UI Needed for Wizard's Teleport Scrolls
  code/obj/item/misc_wizard_stuff.dm
Labels: C-QoL, A-UI, size/M

#21265 Zoldorf Notes Normalization
  code/datums/abilities/zoldorfabilities.dm
Labels: C-QoL, A-UI, size/XS

#21266 AI Manifest as tgui_message
  code/mob/living/silicon/ai.dm
Labels: C-QoL, A-UI, size/XS

#21267 tgui_message for Memorial Stats (nukies and podwars)
  code/datums/gamemodes/nuclear.dm
  code/datums/gamemodes/pod_wars.dm
Labels: C-QoL, A-UI, size/M

#20920 Map vote's window's wrapping fix
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/MapVote.tsx
Labels: C-Bug, E-Certified-Organic, A-UI, size/XS

#21268 Add a snowflake to indicate cryo storage on infomaps
  code/obj/cryotron.dm
  icons/obj/minimap/minimap_markers.dmi
Labels: C-Feature, C-Sprites, size/XS, A-Game-Objects

#21165 Expanded Photocopier
  code/modules/writing/pens_writing_etc.dm
  code/obj/item/device/scanners.dm
  code/obj/machinery/photocopier.dm
  icons/obj/machines/photocopier.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/XXL, A-Game-Objects

#21284 Fix audit logging
  _std/defines/admin.dm
  code/client.dm
Labels: C-Bug, size/XS, A-Admin

#21287 Fix AI Manifest while in AI Eye
  code/mob/living/silicon/ai.dm
Labels: C-Bug, size/XS, A-Silicons

#21289 Keep paper material when folded
  code/modules/writing/paper.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21283 Fix for photocopying jailbird posters
  code/modules/writing/pens_writing_etc.dm
  code/obj/machinery/photocopier.dm
Labels: C-Bug, P-Minor, size/S, A-Traits

#21290 Make laser mirrors do actual angle maths for projectiles
  code/atom.dm
  code/modules/lasers/laser_mirror.dm
  code/modules/projectiles/projectile_parent.dm
Labels: C-Feature, size/M, A-Game-Objects

#21285 Fix Donut2 bar floors
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/M

#21254 Misc Mushroom fixes
  maps/unused/mushroom_new_walls.dmm
Labels: A-Mapping, size/L

#21296 Split toxins access spawner names
  code/modules/mapping/helpers/access_spawn.dm
Labels: A-Mapping, C-Code-Quality, size/XS, A-Internal

#21299 Panic photocopier revert
  code/modules/writing/pens_writing_etc.dm
  code/obj/item/device/scanners.dm
  code/obj/machinery/photocopier.dm
  icons/obj/machines/photocopier.dmi
Labels: C-Sprites, size/XXL

#21300 Revert "Panic photocopier revert"
  code/modules/writing/pens_writing_etc.dm
  code/obj/item/device/scanners.dm
  code/obj/machinery/photocopier.dm
  icons/obj/machines/photocopier.dmi
Labels: C-Sprites, size/XXL

#21304 Fix breaking out of handcuffs while only having one arm
  code/mob/living/carbon/human.dm
Labels: C-Bug, C-Runtime, size/XS, A-Player-Actions

#21280 new uncool ircbot interface
  code/modules/speech/logged_phrases.dm
Labels: size/S

#21312 Revert "Revert "new uncool ircbot interface""
  code/modules/speech/logged_phrases.dm
Labels: size/S, S-Testmerged

#21310 Ensure HUD includes hygiene meter when cloned with Stinky trait
  code/datums/traits.dm
Labels: C-Bug, size/XS, A-Traits

#21305 Stop AIEye from hearing speechpro/sound synth
  code/procs/helpers.dm
Labels: C-Bug, size/XS, A-Silicons

#21306 Allow filing cabinets to be deconstructable
  code/obj/storage/filing_cabinet.dm
Labels: C-Feature, size/XS, A-Game-Objects

#21318 Ensure omnitool doesn't get lost with item arms
  code/mob/living/carbon/human/procs/emote.dm
Labels: C-Bug, size/S, A-Game-Objects

#21319 Omnitools in welding mode cauterize like welders
  code/obj/item/tool/omnitool.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21295 Rework Mushroom medbay
  maps/unused/mushroom_new_walls.dmm
Labels: A-Mapping, C-Rework, size/XXL

#21316 Pride flag capes!
  code/obj/item/wall_flags.dm
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/obj/items/flag.dmi
Labels: C-Sprites, size/M

#21323 Pilot pods always spawn with a weak mining laser
  code/modules/transport/pods/ships.dm
Labels: C-QoL, size/XS, A-Traits

#18190 Clothing Booth Rework
  _std/__std.dme
  _std/defines/clothingbooth.dm
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/clothingbooth/clothingbooth.dm
  code/modules/clothingbooth/clothingbooth.md
  code/modules/clothingbooth/clothingbooth_datums.dm
  code/modules/clothingbooth/clothingbooth_grouping_tags.dm
  code/modules/clothingbooth/groupings/collections/autumn.dm
  code/modules/clothingbooth/groupings/collections/halloween.dm
  code/modules/clothingbooth/groupings/glasses.dm
  code/modules/clothingbooth/groupings/gloves.dm
  code/modules/clothingbooth/groupings/head.dm
  code/modules/clothingbooth/groupings/jumpsuits.dm
  code/modules/clothingbooth/groupings/masks.dm
  code/modules/clothingbooth/groupings/shoes.dm
  code/modules/clothingbooth/groupings/wear_suits.dm
  code/modules/clothingbooth/items/collections/autumn.dm
  code/modules/clothingbooth/items/collections/halloween.dm
  code/modules/clothingbooth/items/glasses.dm
  code/modules/clothingbooth/items/gloves.dm
  code/modules/clothingbooth/items/head.dm
  code/modules/clothingbooth/items/jumpsuits.dm
  code/modules/clothingbooth/items/masks.dm
  code/modules/clothingbooth/items/shoes.dm
  code/modules/clothingbooth/items/wear_suits.dm
  code/modules/vending/clothingbooth.dm
  code/modules/vending/clothingbooth_items.dm
  code/procs/Get_Flat_Icon.dm
  code/world/initialization/3_init.dm
  goonstation.dme
  icons/obj/vending.dmi
  maps/z2.dmm
  tgui/packages/tgui/components/Modal.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/BoothGrouping.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/CharacterPreview.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/FiltersSection.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/GroupingTags.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/ItemSwatch.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/PurchaseInfo.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/StockList.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/TagsModal.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/index.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/swatchForegroundShapes/BisectLeft.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/swatchForegroundShapes/BisectRight.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/swatchForegroundShapes/Clubs.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/swatchForegroundShapes/Diamonds.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/swatchForegroundShapes/Hearts.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/swatchForegroundShapes/PolkaDots.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/swatchForegroundShapes/Spades.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/swatchForegroundShapes/index.ts
  tgui/packages/tgui/interfaces/ClothingBooth/type.ts
  tgui/packages/tgui/interfaces/ClothingBooth/utils/comparator.ts
  tgui/packages/tgui/interfaces/common/hooks/index.ts
  tgui/packages/tgui/interfaces/common/hooks/useConstant.ts
  tgui/packages/tgui/styles/components/Modal.scss
  tgui/packages/tgui/styles/interfaces/ClothingBooth.scss
Labels: C-Feature, A-Mapping, C-Sprites, C-QoL, A-UI, size/XXL, S-Adopt-Me, C-Documentation

#21322 Despawn foam dart projectiles after they drop as ammo
  code/modules/projectiles/bullet.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21342 more misc mushroom fixes
  maps/unused/mushroom_new_walls.dmm
Labels: A-Mapping, size/S

#21344 Fix CE Office power computer on cog2
  maps/cogmap2.dmm
Labels: C-Bug, A-Mapping, size/XS

#21339 Heat Surge artifact fire color changes based on origin
  code/obj/artifacts/artifact_objects/heatwave.dm
Labels: C-Feature, size/S, A-Game-Objects, A-Science

#21347 Handle null case for querySelector better
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Terminal/InputAndButtonsSection.tsx
Labels: C-Bug, A-UI, size/XS

#21332 Adds MODE and borg check to arrival announcement
  code/obj/machinery/computer/announcement.dm
Labels: C-Bug, size/S, A-Respawning

#21331 AI Eyes dont use stamina
  code/mob/living/intangible/ai-camera.dm
Labels: C-Bug, size/XS, A-Silicons

#21327 TOOL_CHOPPING now also does quad damage to windows
  code/obj/window.dm
Labels: C-Balance, E-Add-To-Wiki, size/XS, A-Game-Objects

#21367 Fixes a duplicate "the" when you rip open the broken four letter word
  code/obj/item/gun/kinetic.dm
Labels: size/XS

#21230 Reworks statues & adds melting to ice material
  code/WorkInProgress/infernal_contracts.dm
  code/datums/abilities/brassgauntlet.dm
  code/modules/admin/gibverbs.dm
  code/modules/antagonists/macho_man/abilities/gold_touch.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/events/meteor_shower.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
  code/modules/medical/diseases/medusa.dm
  code/obj/artifacts/artifact_objects/bombs.dm
  code/obj/artifacts/artifact_objects/wish_granter.dm
  code/obj/item/grenades.dm
  code/obj/item/implant.dm
  code/obj/item/zoldorfmisc.dm
  code/obj/machinery/arc_electroplater.dm
  code/obj/statue.dm
Labels: C-Rework, S-Stale, size/L, A-Materials, A-Game-Objects

#21275 Portable Reagent Extractor TGUI
  code/modules/chemistry/Chemistry-Machinery.dm
  code/obj/submachine/chem_extractor.dm
Labels: C-QoL, A-UI, size/L

#21372 Only remove one assignment on self cryoing
  code/obj/cryotron.dm
Labels: C-Bug, size/XS, A-Respawning

#21355 Search Box for QM Package list UIs
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/machinery/computer/QM_order.dm
  code/obj/machinery/computer/QM_supply.dm
  code/procs/helpers.dm
Labels: C-QoL, S-Merge-Conflict, A-UI, size/M

#21349 Crime and Capitalism
  _std/defines/roles.dm
  code/modules/antagonists/traitor/infinicrimer.dm
  code/obj/item/clothing/hats.dm
  goonstation.dme
  icons/mob/clothing/biggestesthat.dmi
  icons/mob/clothing/bighat.dmi
Labels: C-Sprites, size/L, A-Clothing

#21373 Station minimap tweaks/polish
  code/area.dm
  maps/atlas.dmm
  maps/cogmap.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, C-QoL, size/XL

#21376 Fix regrown limbs not always appearing
  code/mob/living/carbon/human.dm
Labels: C-Bug, size/XS, A-Medical

#21357 More pipeshot sprites
  code/modules/projectiles/bullet.dm
  code/obj/item/gun/ammo.dm
  icons/obj/items/ammo.dmi
  icons/obj/projectiles.dmi
Labels: C-Sprites, size/XS

#21377 Stop the derliect AI sat from issuing a poweralert at roundstart
  maps/z3.dmm
Labels: C-Bug, A-Mapping, size/XS, A-Station-Systems

#21381 Fix wrong number of uses left shown for manudrives
  code/obj/machinery/manufacturer.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21335 Adds some new smart clothing items for purchase.
  code/modules/clothingbooth/groupings/jumpsuits.dm
  code/modules/clothingbooth/groupings/wear_suits.dm
  code/modules/clothingbooth/items/jumpsuits.dm
  code/modules/clothingbooth/items/wear_suits.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/clothing/uniforms.dm
  icons/mob/clothing/jumpsuits/worn_js_misc.dmi
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/mob/inhand/jumpsuit/hand_js_misc.dmi
  icons/mob/monkey/jumpsuits.dmi
  icons/mob/monkey/overcoats.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
  icons/obj/clothing/uniforms/item_js_misc.dmi
Labels: C-Feature, C-Sprites, size/L, A-Clothing

#21307 Let Trichochromatic Shift work with Hairy trait
  code/modules/medical/genetics/bioEffects/powers.dm
Labels: C-Feature, size/XS, A-Traits

#21380 Fix floating point error in display for credit transfer devices
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Cashreg.tsx
Labels: C-Bug, S-Merge-Conflict, A-UI, size/XS, A-Game-Objects

#21231 Compact Cogmap2 AI satellite
  maps/cogmap2.dmm
Labels: A-Mapping, C-QoL, size/XXL

#21232 Remove thindows from Cog1 upload
  maps/cogmap.dmm
Labels: C-Feature, A-Mapping, size/XL

#21386 Add new manufacturer category: Organ
  code/datums/manufacturing.dm
  code/obj/machinery/manufacturer.dm
Labels: C-QoL, size/M, A-Game-Objects, S-Ready-For-Final-Review

#21398 Rename pink collar shirt worn icon state to match other collar shirts
  icons/mob/clothing/jumpsuits/worn_js_misc.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Clothing

#21351 removes prototype engine areas from minimap + adds fixes notice board runtime on mushroom & second rancher slot
  code/area.dm
  code/map.dm
  maps/unused/mushroom_new_walls.dmm
Labels: A-Mapping, size/L

#21194 Adds fishing bait requirements to lootpools
  code/modules/fishing/fishing_gear.dm
  code/modules/fishing/fishing_lootpools.dm
  code/modules/fishing/fishing_spots.dm
Labels: C-Feature, S-Stale, E-Add-To-Wiki, size/M, A-Catering

#21401 Early return for non-human can sprayers
  code/datums/gamemodes/gangwar.dm
Labels: C-Bug, size/XS, A-Player-Actions

#21399 Allow mining loot crates to show welded/barcode overlays
  code/obj/storage/loot_crates.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21407 terrible bandaid for this gimmick item
  code/obj/item/clothing/hats.dm
  icons/mob/clothing/biggestesthat.dmi
  icons/mob/clothing/bighat.dmi
Labels: C-Sprites, size/M

#21415 Update some tgui interfaces to better respect React hook rules
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/spaceheater.dm
  tgui/packages/tgui/components/Button.tsx
  tgui/packages/tgui/interfaces/AntagonistPanel/AntagonistTypeTabBody.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/StockList.tsx
  tgui/packages/tgui/interfaces/MixingDesk.tsx
  tgui/packages/tgui/interfaces/Particool.tsx
  tgui/packages/tgui/interfaces/SpaceHeater.tsx
Labels: C-Code-Quality, A-UI, size/S

#21385 Allow AI eyes to click-deploy into docked shells
  code/modules/robotics/robot/robot_docking_station.dm
Labels: C-QoL, size/S, A-Silicons

#21418 Performance pass for Manufacturers
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Manufacturer/components/BlueprintButton.tsx
  tgui/packages/tgui/interfaces/Manufacturer/components/CardInfo.tsx
  tgui/packages/tgui/interfaces/Manufacturer/components/CollapsibleWireMenu.tsx
  tgui/packages/tgui/interfaces/Manufacturer/components/ManufacturerSettings.tsx
  tgui/packages/tgui/interfaces/Manufacturer/components/ProductionCard.tsx
  tgui/packages/tgui/interfaces/Manufacturer/components/Rockbox.tsx
  tgui/packages/tgui/interfaces/Manufacturer/index.tsx
Labels: C-Code-Quality, A-UI, size/L

#21423 Fix Terminal autoscroll
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Terminal/InputAndButtonsSection.tsx
  tgui/packages/tgui/interfaces/Terminal/PeripheralsSection.tsx
  tgui/packages/tgui/interfaces/Terminal/TerminalInput.tsx
  tgui/packages/tgui/interfaces/Terminal/TerminalOutputSection.tsx
  tgui/packages/tgui/interfaces/Terminal/index.tsx
  tgui/packages/tgui/interfaces/Terminal/types.ts
Labels: C-Bug, A-UI, size/L

#21424 Use shallowDiffers instead of enumerating props for memo
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/ClothingBooth/BoothGrouping.tsx
Labels: C-Code-Quality, A-UI, size/S

#21427 Fix material swapping in manufacturers, I optimized too hard
  tgui/packages/tgui/interfaces/Manufacturer/index.tsx
Labels: C-Bug, A-UI, size/S

#21430 Banish emojis from character names
  code/datums/preferences/preferences.dm
  code/datums/savefile.dm
  code/mob.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/modules/robotics/robot/robot_docking_station.dm
Labels: size/M

#21434 Swap L and R sprites for some shoes
  icons/mob/clothing/feet.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Clothing

#21435 Adds a round start hint about the gps verb
  strings/roundstart_hints.txt
Labels: size/XS

#21134 Refactor syndicate buylist
  code/datums/gamemodes/battle_royale.dm
  code/datums/gamemodes/spy_theft.dm
  code/datums/syndicate_buylist.dm
  code/modules/antagonists/nuclear_operative/nuclear_operative.dm
  code/modules/antagonists/revolutionary/head_revolutionary.dm
  code/modules/antagonists/spy_thief/spy_thief.dm
  code/modules/antagonists/traitor/traitor.dm
  code/modules/events/supply_drop.dm
  code/obj/item/uplinks.dm
  code/obj/item/zoldorfmisc.dm
  code/obj/storage/crates.dm
Labels: C-Code-Quality, C-QoL, size/XL, A-Internal, S-Ready-For-Final-Review

#21436 fix cardigan's worn sprite arm
  icons/mob/clothing/overcoats/worn_suit.dmi
Labels: C-Sprites, size/XS

#21445 Fix atlas toxins dwaine terminal
  maps/atlas.dmm
Labels: C-Bug, A-Mapping, size/XS, A-Station-Systems

#21442 Fixes some incorrect IDs on mushroom disposals conveyors
  maps/unused/mushroom_new_walls.dmm
Labels: A-Mapping, size/M

#21039 Reduce ability log spam
  code/datums/abilities/ability_parent.dm
  code/modules/antagonists/arcfiend/abilities/arc_flash.dm
  code/modules/antagonists/arcfiend/abilities/discharge.dm
  code/modules/antagonists/arcfiend/abilities/jolt.dm
  code/modules/antagonists/arcfiend/abilities/sap_power.dm
  code/modules/antagonists/flockmind/abilities/create_structure.dm
  code/modules/antagonists/flockmind/abilities/designate_enemy.dm
  code/modules/antagonists/flockmind/abilities/direct_say.dm
  code/modules/antagonists/flockmind/abilities/doors_open.dm
  code/modules/antagonists/flockmind/abilities/heal_drone.dm
  code/modules/antagonists/flockmind/abilities/radio_stun.dm
  code/modules/antagonists/flockmind/abilities/spawn_egg.dm
  code/modules/antagonists/flockmind/abilities/split_drone.dm
  code/modules/antagonists/wizard/abilities/_wizard_ability_holder.dm
  code/modules/antagonists/wizard/abilities/animal.dm
  code/modules/antagonists/wizard/abilities/cluwne.dm
  code/modules/antagonists/wizard/abilities/prismatic_spray.dm
  code/modules/antagonists/wizard/abilities/stickstosnakes.dm
  code/modules/antagonists/wrestler/abilities/drop.dm
  code/modules/antagonists/wrestler/abilities/kick.dm
  code/modules/antagonists/wrestler/abilities/slam.dm
  code/modules/antagonists/wrestler/abilities/strike.dm
  code/modules/antagonists/wrestler/abilities/throw.dm
  code/modules/medical/genetics/baseBioeffect.dm
  code/modules/medical/genetics/bioEffects/powers.dm
Labels: C-Code-Quality, C-QoL, size/L, A-Admin

#21458 kills remaining pooling code
  code/modules/admin/admin_verbs.dm
  code/modules/admin/debug.dm
  code/modules/admin/drunkmode.dm
  code/pooling.dm
  goonstation.dme
Labels: C-Code-Quality, size/L, A-Internal

#21455 Prevent headbands from being transmuted into berets
  code/modules/medals/rewardsLocker.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21456 Unempowered Anaerobic Metabolism recovers baseline losebreath
  code/mob/living/carbon/human.dm
  code/mob/living/life/breath.dm
Labels: C-Bug, size/XS, A-Medical

#21196 Add Talisman artifact
  _std/macros/atom_properties.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/damage.dm
  code/modules/status_system/statusEffects.dm
  code/modules/storage/storage.dm
  code/obj/artifacts/artifact_items/talisman.dm
  code/obj/artifacts/artifact_objects/container.dm
  code/obj/decal.dm
  code/obj/item.dm
  goonstation.dme
  icons/effects/effects.dmi
Labels: C-Feature, C-Sprites, C-Balance, E-Add-To-Wiki, size/L, A-Science, S-Ready-For-Final-Review

#21472 Makes the disco ball cooler
  code/obj/decorations.dm
Labels: C-Feature, size/M, A-Game-Objects

#21468 Allow cutting tools to get meat from meat spikes
  code/obj/kitchenspike.dm
Labels: C-Feature, size/S, A-Game-Objects

#21292 Add a (CE-locked) supply pack for Rockboxes
  code/modules/economy/supply_packs.dm
Labels: C-Feature, E-Add-To-Wiki, size/S, A-Station-Systems

#21412 Replaces the cogmap1 upload door with a see trough one
  maps/cogmap.dmm
Labels: A-Mapping, size/S, A-Silicons

#21437 Stricter tgui
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/AirAlarm.tsx
  tgui/packages/tgui/interfaces/AntagonistPanel/AntagonistTypeTabBody.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/board/common/GridPieceRenderer.tsx
  tgui/packages/tgui/interfaces/ChemRequestReceiver/index.tsx
  tgui/packages/tgui/interfaces/ChemiCompiler/ChemiCompilerMemory.tsx
  tgui/packages/tgui/interfaces/DJPanel.tsx
  tgui/packages/tgui/interfaces/Filteriffic.tsx
  tgui/packages/tgui/interfaces/FlockPanel.tsx
  tgui/packages/tgui/interfaces/GeneTek/BioEffect.tsx
  tgui/packages/tgui/interfaces/GeneTek/modals/CombineGenesModal.tsx
  tgui/packages/tgui/interfaces/GeneTek/tabs/StorageTab.tsx
  tgui/packages/tgui/interfaces/GimmickObject.tsx
  tgui/packages/tgui/interfaces/ParallaxViewer.tsx
  tgui/packages/tgui/interfaces/SpaceHeater.tsx
  tgui/packages/tgui/interfaces/common/DataInput.tsx
  tgui/tsconfig.json
Labels: C-Code-Quality, A-UI, size/L

#21457 Add medals for older azones
  code/obj/landmark.dm
  code/z_adventurezones/hospital.dm
  code/z_adventurezones/lavamoon.dm
  code/z_adventurezones/mad_mars.dm
  maps/z2.dmm
Labels: C-Feature, A-Mapping, A-Medal, size/S

#21460 Add travelling traders to station info minimap
  code/modules/economy/trader.dm
  icons/obj/minimap/minimap_markers.dmi
Labels: C-Feature, C-Sprites, size/XS, A-Station-Systems

#21481 Fix catwalk auto-connection
  code/obj/grille.dm
Labels: C-Bug, A-Mapping, size/XS

#21384 Robot artifacts
  code/mob/living/critter/ai/artifact_robot.dm
  code/mob/living/critter/ai/shared.dm
  code/obj/artifacts/artifact_machines/robot.dm
  goonstation.dme
Labels: C-Feature, size/L, A-Game-Objects, A-AI, A-Critters

#21470 Add glow to hi-vis vests
  code/modules/admin/terrainify.dm
  code/modules/vending/jobclothing.dm
  code/obj/item/clothing/suits.dm
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/mob/monkey/overcoats.dmi
Labels: C-Sprites, C-QoL, size/M, A-Game-Objects

#21336 Allows Rocko to be placed in pet carrier
  code/obj/item/pet_carrier.dm
  code/obj/rocko.dm
  code/obj/storage/secure_closets.dm
Labels: C-QoL, size/L, A-Game-Objects

#21496 Removes imposter bat
  maps/atlas.dmm
Labels: A-Mapping, size/XS

#21487 Recharge station mob clickdrag fix
  code/modules/robotics/robot/robot_docking_station.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21491 Wizard White Hole
  code/modules/events/white_hole.dm
  icons/effects/white_hole_views96x96.dmi
Labels: C-Feature, C-Sprites, size/M, A-Events

#21498 Increase quantity of counterrev boxes on Donut 3
  maps/donut3.dmm
Labels: A-Mapping, C-Balance, size/S

#21493 Floor Goblin Antag Tip
  _std/macros/antag_popups.dm
  browserassets/images/antagTips/floor-goblin-objective.png
  browserassets/images/antagTips/floor-goblin.png
  browserassets/tgui/tgui.bundle.js
  code/modules/antagonists/floor_goblin/floor_goblin.dm
  tgui/packages/tgui/interfaces/AlertContentWindows/acw/floor_goblin.AlertContentWindow.tsx
Labels: C-QoL, A-UI, size/M

#21503 Better use React hooks in CyborgModuleRewriter interface
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/views/ModuleView/ModuleDetail.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/views/ModuleView/Tools.tsx
  tgui/packages/tgui/interfaces/CyborgModuleRewriter/views/ModuleView/index.tsx
Labels: C-Code-Quality, A-UI, size/L
