Repository goonstation/goonstation, pull requests merged in 2025-10, with the labels that each got.

#24726 Fix genebooth contexts overriding all clicks
  code/datums/components/tool/deconstructing.dm
  code/modules/medical/genetics/geneticsBooth.dm
Labels: C-Bug, size/M, A-Medical

#24742 Spy Thief Total Stolen/Redeemed items in round summary
  code/modules/antagonists/spy_thief/spy_thief.dm
Labels: C-QoL, size/XS, A-Gamemodes

#24715 Syndicate robot frame and conversion chamber descriptions
  code/mob/living/silicon/robot.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/obj/item/mob_parts/robot_parts.dm
Labels: C-QoL, size/XS, A-Game-Objects

#24799 Magic May Not Steal The Tongue Of Man
  code/modules/rituals/chaplainRitualObjects.dm
Labels: C-Bug, P-Critical, size/XS, A-Game-Objects

#24767 Addiction rework
  _std/defines/chemistry.dm
  code/datums/disease.dm
  code/datums/traits.dm
  code/mob.dm
  code/mob/living/carbon.dm
  code/modules/admin/admin_holder.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/randomverbs.dm
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Chemistry-Reagents.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/medical/diseases/addiction.dm
  code/modules/status_system/statusEffects.dm
Labels: C-Rework, size/L, A-Medical, A-Chemistry

#24777 Skull code cleanup
  code/WorkInProgress/SpyGuyStuff.dm
  code/datums/components/food_stuff.dm
  code/modules/admin/antagifiers.dm
  code/modules/antagonists/hunter/hunter.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/events/white_hole.dm
  code/modules/robotics/bot/skullbot.dm
  code/obj/critter/automaton.dm
  code/obj/item/mob_parts/robot_parts.dm
  code/obj/item/organs/skull.dm
  code/z_adventurezones/meatland.dm
  icons/mob/inhand/hand_food.dmi
  icons/mob/inhand/hand_skulls.dmi
  icons/obj/bots/aibots.dmi
  icons/obj/foodNdrink/drinks.dmi
  icons/obj/items/organs/skull.dmi
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut3.dmm
  maps/setpieces/xg6_fermidzone.dmm
  maps/z2.dmm
  maps/z3.dmm
  tools/UpdatePaths/Scripts/24777_skull_rename.txt
Labels: A-Mapping, C-Sprites, A-Tooling, C-Code-Quality, size/L, A-Internal

#24746 Adds the Wellspring artifact.
  code/obj/artifacts/artifact_machines/wellspring.dm
  goonstation.dme
Labels: size/M

#24805 Adds the Wellspring artifact changelog.
  code/obj/artifacts/artifact_machines/wellspring.dm
Labels: C-Feature, size/XS, A-Science

#24782 Terrestrial Day Night Cycle
  _std/defines/lighting.dm
  code/WorkInProgress/UrsStuff.dm
  code/WorkInProgress/mantaObjects.dm
  code/_lighting/base_lighting.dm
  code/area.dm
  code/datums/controllers/daynight_controls.dm
  code/datums/controllers/process/day_night.dm
  code/map.dm
  code/modules/admin/terrainify.dm
  code/modules/economy/supply_misc.dm
  code/obj/machinery/shield_generators/shield_generator.dm
  code/z_adventurezones/earth.dm
  goonstation.dme
Labels: size/L

#24788 Port Missing Style to fix Color Picker Modal
  browserassets/src/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/ColorPickerModal.tsx
Labels: C-Bug, A-UI, size/M

#24809 Inserting the fancy video card causes the law rack to toast any bread inserted into it
  code/obj/machinery/law_racks.dm
Labels: C-Feature, size/S, A-Game-Objects, A-AI, S-Ready-For-Final-Review

#24747 Fixes the description text on the eyepatch after a hole is in it
  code/obj/item/clothing/glasses.dm
Labels: size/S

#24833 Upgrade to SpacemanDMM 1.11
  buildByond.conf
Labels: A-Tooling, size/XS

#24849 Change Still Sprite To Cleaner Sprite
  icons/obj/objects.dmi
Labels: C-Sprites, size/XS

#24804 Full Nukes declare round completion instead of rebooting the server
  code/datums/gamemodes/gm_parent.dm
  code/datums/gameticker.dm
  code/obj/machinery/nuclearbomb.dm
Labels: C-Code-Quality, size/S, A-Gamemodes, A-Game-Objects

#24819 Replace the stun on aranesp with a slow
  code/modules/chemistry/Reagents-Misc.dm
Labels: C-Balance, size/XS, A-Chemistry

#24825 Mechcomp components plated in materials have an action bar when secured/loosened
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Balance, size/L, A-Materials, A-Game-Objects

#24840 Chemical Barrels Now Use Reagent Overlay Components
  code/modules/chemistry/tools/dispensers.dm
  icons/obj/chemical_barrel.dmi
  icons/obj/objects.dmi
Labels: C-Sprites, C-Code-Quality, size/S, A-Chemistry

#24816 Emergency shuttle announcements are now more conspicuous
  code/modules/transport/shuttle/shuttle_controller.dm
Labels: C-QoL, size/S, A-Station-Systems

#24811 Security Department Announcement Computers
  code/obj/machinery/computer/announcement.dm
  code/obj/machinery/computer/buildandrepair.dm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/neon.dmm
  maps/oshan.dmm
Labels: C-Feature, A-Mapping, size/L

#24854 Make Uplinks Detomatix proof
  code/obj/item/device/pda2/pda2.dm
Labels: C-Balance, C-QoL, size/XS, A-Game-Objects

#24802 Fix wool-stacking causing chat spam
  code/obj/ranch/knitting.dm
Labels: C-Bug, size/S
