Repository goonstation/goonstation, pull requests merged in 2025-08, with the labels that each got.

#24139 Heads of Staff get announced in order of rank
  code/datums/controllers/custom_job_savefile.dm
  code/datums/controllers/job_controls.dm
  code/datums/jobs.dm
  code/procs/jobprocs.dm
Labels: C-Feature, size/M, A-Command

#24255 New tanktop options
  code/modules/clothingbooth/groupings/jumpsuits.dm
  code/modules/clothingbooth/items/jumpsuits.dm
  code/obj/item/clothing/uniforms.dm
  icons/mob/clothing/jumpsuits/worn_js_misc.dmi
  icons/obj/clothing/uniforms/item_js_misc.dmi
Labels: C-Sprites, size/M

#24222 Replace clarion robotics crate with a more useful one
  maps/clarion.dmm
Labels: A-Mapping, C-QoL, size/XS

#24300 Material Sparkle Fix
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
Labels: size/S

#24176 Fixes for basketball hoops
  assets/maps/prefabs/planet/prefab_planet_shipwreck_survivor1.dmm
  assets/maps/prefabs/planet/prefab_planet_supply_outpost_defended.dmm
  code/obj/item/basketball.dm
  maps/clarion.dmm
  maps/mushroom.dmm
  maps/z2.dmm
Labels: C-Bug, A-Mapping, size/M, A-Game-Objects

#24297 Wheelchair spawns with player regardless of starting location
  code/procs/jobprocs.dm
Labels: size/XS

#24044 Handling larger inventories
  code/datums/hud/storage.dm
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Bug, C-Feature, C-Code-Quality, C-QoL, A-UI, size/L

#24339 Fix goonhud storage item positioning
  code/datums/hud/storage.dm
Labels: C-Bug, A-UI, size/S

#24342 Put gym gear sprites in their own file.
  code/obj/item/basketball.dm
  code/obj/item/fitness.dm
  icons/obj/gym_objs.dmi
  icons/obj/stationobjs.dmi
Labels: C-Sprites, size/S

#24264 Fixes spelling errors in the text of 14 files
  code/WorkInProgress/construction/tools.dm
  code/WorkInProgress/salvager/salvager_magpie.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-Diseases.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/cooking/food_and_drink/drinks.dm
  code/modules/items/gimmick/plushies.dm
  code/modules/writing/papers.dm
  code/obj/item/device/pda2/textfiles.dm
  code/obj/item/organs/liver.dm
  code/obj/machinery/computer/QM_order.dm
  code/z_adventurezones/numbersstation.dm
  code/z_adventurezones/sequestered_cloner.dm
Labels: size/M

#24350 Engibox Material Selection
  code/WorkInProgress/actuallyKeelinsStuff.dm
Labels: size/XS

#24338 The "pitfall" component will not drop you into a hole if there's a catwalk over it
  code/datums/components/pitfall.dm
Labels: size/XS

#24361 Move auxtools debugger attach point to work with 516
  code/world/initialization/1_preMapLoad.dm
Labels: size/XS, A-Internal

#24358 Fixes issue #24344
  code/datums/manufacturing.dm
Labels: size/XS

#24295 Remaps Fire Alarms
  _std/macros/directional_offsets.dm
  assets/maps/engine_rooms/cogmap/TEG_100.dmm
  assets/maps/engine_rooms/pamgoc/GET_100.dmm
  assets/maps/listening_post/listeningpost_wrestlemap.dmm
  assets/maps/prefabs/space/prefab_habitat.dmm
  assets/maps/prefabs/underwater/nadir_safe/prefab_water_crashed.dmm
  code/obj/machinery/firealarm.dm
  icons/obj/monitors.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/events/wrestlemap.dmm
  maps/kondaru.dmm
  maps/mushroom.dmm
  maps/nadir.dmm
  maps/neon.dmm
  maps/oshan.dmm
  maps/utilities/palette.dmm
  maps/z2.dmm
  maps/z3.dmm
  maps/z5.dmm
  tools/UpdatePaths/Scripts/24295_firealarm_directionals.txt
Labels: A-Mapping, C-Sprites, A-Tooling, C-Code-Quality, C-QoL, size/XXL, A-Game-Objects

#24331 Fix owlery access spawners
  code/modules/mapping/helpers/access_spawn.dm
Labels: C-Bug, A-Mapping, size/XS

#24326 Fixes paint for tables and chairs
  code/obj/stool.dm
  code/obj/table.dm
Labels: C-Bug, size/XS, A-Game-Objects

#23765 Fix overriden mindhack removal
  code/obj/item/implant.dm
Labels: C-Bug, size/M, A-Game-Objects

#24379 SpacemanDMM build
  .github/workflows/beepsky.yml
  buildByond.conf
  tools/ci/install_spaceman_dmm.sh
Labels: A-Tooling, size/M

#24385 Port tgui keystuck fix from Beestation
  browserassets/src/tgui/tgui.bundle.js
  tgui/.prettierrc.yml
  tgui/packages/tgui/events.ts
  tgui/packages/tgui/hotkeys.ts
Labels: A-UI, size/M, A-Player-Actions

#24375 removes /obj/item/raw_material/fabric
  code/obj/item/material.dm
Labels: size/S

#24430 Removes misplaced gas mask pixel
  icons/obj/clothing/item_masks.dmi
Labels: C-Sprites, size/XS, S-Ready-For-Final-Review

#24397 Radios don't default to general with wrong prefix
  code/modules/speech/modules/listen/effects/radio.dm
Labels: C-QoL, size/S, A-Player-Actions, S-Ready-For-Final-Review

#24418 DWAINE Shell Cleanup
  _std/__std.dme
  _std/defines/mainframe_defines/_errors.dm
  _std/defines/mainframe_defines/_shell.dm
  _std/defines/mainframe_defines/mainframe.dm
  _std/math.dm
  code/modules/networks/computer3/mainframe2/shell.dm
  code/modules/networks/computer3/mainframe2/shell/shell.dm
  code/modules/networks/computer3/mainframe2/shell/shell_builtins/_shell_builtin.dm
  code/modules/networks/computer3/mainframe2/shell/shell_builtins/break.dm
  code/modules/networks/computer3/mainframe2/shell/shell_builtins/cls.dm
  code/modules/networks/computer3/mainframe2/shell/shell_builtins/echo.dm
  code/modules/networks/computer3/mainframe2/shell/shell_builtins/else.dm
  code/modules/networks/computer3/mainframe2/shell/shell_builtins/eval.dm
  code/modules/networks/computer3/mainframe2/shell/shell_builtins/goonsay.dm
  code/modules/networks/computer3/mainframe2/shell/shell_builtins/if.dm
  code/modules/networks/computer3/mainframe2/shell/shell_builtins/logout.dm
  code/modules/networks/computer3/mainframe2/shell/shell_builtins/man.dm
  code/modules/networks/computer3/mainframe2/shell/shell_builtins/mesg.dm
  code/modules/networks/computer3/mainframe2/shell/shell_builtins/sleep.dm
  code/modules/networks/computer3/mainframe2/shell/shell_builtins/talk.dm
  code/modules/networks/computer3/mainframe2/shell/shell_builtins/unset.dm
  code/modules/networks/computer3/mainframe2/shell/shell_builtins/while.dm
  code/modules/networks/computer3/mainframe2/shell/shell_builtins/who.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/_shell_script_operator.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/arithmetic/add.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/arithmetic/divide.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/arithmetic/modulo.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/arithmetic/multiply.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/arithmetic/rand.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/arithmetic/subtract.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/file/exists.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/file/is_directory.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/file/is_executable.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/file/is_file.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/logic/and.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/logic/not.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/logic/or.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/logic/xor.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/misc/assignment.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/misc/escape_string.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/misc/stack_del_topmost.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/misc/stack_depth.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/misc/stack_dup_topmost.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/misc/stack_pop.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/misc/stack_print.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/relational/eq.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/relational/ge.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/relational/gt.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/relational/le.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/relational/lt.dm
  code/modules/networks/computer3/mainframe2/shell/shell_script_operators/relational/ne.dm
  code/modules/networks/computer3/mainframe2/syscalls/_syscall.dm
  code/modules/networks/computer3/mainframe2/utilities/_utility.dm
  goonstation.dme
Labels: C-Code-Quality, size/XXL, A-Internal

#24190 Say Rework HTML Sanitisation Fix
  _std/defines/speech_defines/modules.dm
  _std/defines/speech_defines/speech.dm
  code/datums/regex.dm
  code/modules/speech/languages/binary.dm
  code/modules/speech/languages/english.dm
  code/modules/speech/languages/feather.dm
  code/modules/speech/languages/martian.dm
  code/modules/speech/languages/silicon.dm
  code/modules/speech/modules/listen/inputs/shared_input_format_modules/distorted.dm
  code/modules/speech/modules/listen/inputs/shared_input_format_modules/ooc.dm
  code/modules/speech/modules/listen/inputs/shared_input_format_modules/radio.dm
  code/modules/speech/modules/listen/inputs/shared_input_format_modules/siliconchat.dm
  code/modules/speech/modules/listen/inputs/spooky.dm
  code/modules/speech/modules/listen/modifiers/brain_damage.dm
  code/modules/speech/modules/speech/modifiers/accents.dm
  code/modules/speech/modules/speech/modifiers/bot.dm
  code/modules/speech/modules/speech/modifiers/dectalk.dm
  code/modules/speech/modules/speech/modifiers/flock_gradient.dm
  code/modules/speech/modules/speech/modifiers/mob_modifiers.dm
  code/modules/speech/modules/speech/modifiers/monospace_decorator.dm
  code/modules/speech/modules/speech/modifiers/mutantraces/_mutantrace_modifier_parent.dm
  code/modules/speech/modules/speech/modifiers/mutantraces/abomination.dm
  code/modules/speech/modules/speech/modifiers/mutantraces/amphibian.dm
  code/modules/speech/modules/speech/modifiers/mutantraces/cow.dm
  code/modules/speech/modules/speech/modifiers/mutantraces/flubber.dm
  code/modules/speech/modules/speech/modifiers/mutantraces/lizard.dm
  code/modules/speech/modules/speech/modifiers/mutantraces/pug.dm
  code/modules/speech/modules/speech/modifiers/mutantraces/zombie.dm
  code/modules/speech/modules/speech/outputs/flock.dm
  code/modules/speech/say_channels/outloud.dm
  code/modules/speech/say_message.dm
  code/procs/helpers.dm
  goonstation.dme
Labels: C-Bug, C-Rework, S-Stale, size/XL

#24227 Adds the gas filter.
  code/modules/atmospherics/machinery/trinary/filter.dm
  code/obj/item/handheld_dispenser/dispenser.dm
  icons/obj/atmospherics/filter.dmi
  icons/obj/atmospherics/hhd_recipe_images.dmi
Labels: C-Sprites, size/L, A-Atmospherics

#24291 Expand Clarion Security
  maps/clarion.dmm
Labels: A-Mapping, C-Balance, size/XXL, A-Security

#24250 Forensics Scanning Rewrite
  _std/defines/forensics.dm
  code/datums/abilities/critter/scuttlebot.dm
  code/mob/living/carbon/human.dm
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Reagents-ExplosiveFire.dm
  code/modules/forensics/atom_forensic.dm
  code/modules/forensics/forensic_data.dm
  code/modules/forensics/forensic_group.dm
  code/modules/forensics/forensic_holder.dm
  code/modules/forensics/forensic_id.dm
  code/modules/forensics/forensic_scan.dm
  code/obj.dm
  code/obj/item.dm
  code/obj/item/clothing/gloves.dm
  code/obj/item/device/pda2/scanners.dm
  code/obj/item/device/scanners.dm
  code/obj/item/gun/gun_parent.dm
  code/obj/item/mob_parts/human_parts.dm
  code/obj/item/organs/butt.dm
  code/obj/item/organs/organ_parent.dm
  code/procs/scanprocs.dm
  code/turf/turf.dm
  code/turf/walls.dm
  goonstation.dme
Labels: C-Code-Quality, C-QoL, size/XL, A-Security

#24260 Sleuthing Additions & Changes
  code/datums/mutantraces.dm
  code/modules/fishing/fish.dm
  code/modules/fishing/fishing_spots.dm
  code/modules/forensics/forensic_group.dm
  code/modules/hydroponics/plants_flower.dm
  code/obj/item/clothing/plants.dm
  strings/colors.txt
Labels: C-Balance, C-QoL, size/L, A-Player-Actions

#24530 Fix/tweak radioactive material visual effects
  code/datums/components/radioactive.dm
  code/modules/materials/Mat_MaterialProcs.dm
Labels: size/S, A-Materials

#24528 Computer frames convert based on inserted board
  code/modules/networks/computer3/buildandrepair.dm
  code/obj/item/building_materials.dm
  code/obj/machinery/computer/buildandrepair.dm
Labels: C-QoL, E-Add-To-Wiki, size/S, A-Station-Systems, S-Ready-For-Final-Review

#24537 Make scots just a tiiny bit less totally incomprehensible
  strings/language/scots.txt
Labels: C-Removal, size/S

#24540 Fixes the shelterfrog sprite to be symmetrical (mostly)
  icons/mob/shelterfrog.dmi
Labels: C-Sprites, size/XS

#24395 Changes the materials needed for a cyborg teleport upgrade
  code/datums/manufacturing.dm
Labels: C-Balance, size/XS, A-Silicons, S-Ready-For-Final-Review
