Repository goonstation/goonstation, pull requests merged in 2025-03, with the labels that each got.

#22411 Add hammerhead railgun pod wars weapon
  code/datums/components/sniper_wallpierce.dm
  code/datums/gamemodes/pod_wars/pw_manufacturing_.dm
  code/modules/projectiles/bullet.dm
  code/modules/transport/pods/MainWeapon.dm
  icons/effects/64x64.dmi
  icons/obj/podweapons.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects, A-Vehicles

#22429 send-only mechcomp teleporters do not intercept teleport projectiles
  code/modules/projectiles/special.dm
Labels: C-Bug, size/XS

#22481 Replaces fishing rod tier requirements with a boutput
  code/modules/fishing/fishing_gear.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22431 Syndicate Robot Conversion Chamber has a 1 second action bar when click-dragging people inside
  code/modules/robotics/robot/robot_docking_station.dm
Labels: C-Balance, E-Input-Wanted, size/M, A-Game-Objects

#22476 🦓 Zebra/Candystripe standardizing pass
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/ChemChute/index.tsx
  tgui/packages/tgui/interfaces/ChemChute/type.ts
  tgui/packages/tgui/interfaces/ClothingBooth/BoothGrouping.tsx
  tgui/packages/tgui/interfaces/ClothingBooth/StockList.tsx
  tgui/packages/tgui/interfaces/GasCanister/index.tsx
  tgui/packages/tgui/interfaces/GlassRecycler.tsx
  tgui/packages/tgui/interfaces/HandPipeDispenser/index.tsx
  tgui/packages/tgui/interfaces/HandPipeDispenser/type.ts
  tgui/packages/tgui/interfaces/MixingDesk.tsx
  tgui/packages/tgui/interfaces/Oven.tsx
  tgui/packages/tgui/interfaces/PipeDispenser.tsx
  tgui/packages/tgui/interfaces/Plantmaster.tsx
  tgui/packages/tgui/interfaces/PortablePump.tsx
  tgui/packages/tgui/interfaces/PortableScrubber.tsx
  tgui/packages/tgui/interfaces/Pressurizer.tsx
  tgui/packages/tgui/interfaces/ReagentExtractor.tsx
  tgui/packages/tgui/interfaces/Vendors.tsx
  tgui/packages/tgui/interfaces/ZoldorfPlayerShop/index.tsx
  tgui/packages/tgui/interfaces/common/PortableAtmos.tsx
  tgui/packages/tgui/interfaces/common/ProductList.tsx
  tgui/packages/tgui/interfaces/common/VendorCashTable.tsx
  tgui/packages/tgui/styles/interfaces/ClothingBooth.scss
Labels: A-UI, size/XXL

#22259 adds children of `/datum/component/assembly` to check for borg and item arms
  code/atom.dm
  code/datums/components/assembly_comp.dm
  code/modules/chemistry/tools/grenades.dm
  code/obj/item.dm
  code/obj/item/assembly/misc_assemblies.dm
  code/obj/item/flamethrower.dm
  code/obj/item/grenades.dm
  code/obj/item/tool/weldingtool.dm
Labels: C-Bug, size/L, A-Internal

#22319 Random Event: Meatier Shower
  _std/defines/atom.dm
  code/mob.dm
  code/modules/events/meteor_shower.dm
Labels: C-Feature, size/M, A-Events

#22501 Fix Plantmaster "Infuse" button not updating
  browserassets/tgui/tgui.bundle.js
  code/obj/submachine/seed.dm
  tgui/packages/tgui/interfaces/Plantmaster.tsx
Labels: C-Bug, A-UI, size/L

#22488 Add longer cooldown to pod weapons loader pod component
  code/modules/transport/pods/MainWeapon.dm
  code/modules/transport/pods/secondary_system.dm
Labels: C-Balance, size/S, A-Game-Objects

#22503 Handle null entry better in Filteriffic interface
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Filteriffic.tsx
  tgui/packages/tgui/interfaces/Filteriffic/FilterDataEntry.tsx
  tgui/packages/tgui/interfaces/Filteriffic/FilterEntry.tsx
  tgui/packages/tgui/interfaces/Filteriffic/filterDataEntries/FilterBlendmodeEntry.tsx
  tgui/packages/tgui/interfaces/Filteriffic/filterDataEntries/FilterColorEntry.tsx
  tgui/packages/tgui/interfaces/Filteriffic/filterDataEntries/FilterFlagsEntry.tsx
  tgui/packages/tgui/interfaces/Filteriffic/filterDataEntries/FilterFloatEntry.tsx
  tgui/packages/tgui/interfaces/Filteriffic/filterDataEntries/FilterIconEntry.tsx
  tgui/packages/tgui/interfaces/Filteriffic/filterDataEntries/FilterIntegerEntry.tsx
  tgui/packages/tgui/interfaces/Filteriffic/filterDataEntries/FilterSpaceEntry.tsx
  tgui/packages/tgui/interfaces/Filteriffic/filterDataEntries/FilterTextEntry.tsx
  tgui/packages/tgui/interfaces/Filteriffic/filterDataEntries/FilterTransformEntry.tsx
  tgui/packages/tgui/interfaces/Filteriffic/filterDataEntries/index.ts
  tgui/packages/tgui/interfaces/Filteriffic/index.tsx
  tgui/packages/tgui/interfaces/Filteriffic/type.ts
Labels: C-Bug, A-UI, size/XXL

#22435 Make timer and proximity sensors always respect min_time
  code/obj/item/device/prox_sensor.dm
  code/obj/item/device/timer.dm
Labels: size/XS, A-Game-Objects, A-Internal

#22457 Separate infrared and meson invisibility
  _std/defines/invisibility.dm
  code/mob/living/life/sight.dm
  code/modules/antagonists/wizard/abilities/phaseshift.dm
  code/modules/medical/genetics/bioEffects/beneficial.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/projectiles/special.dm
  code/obj/mining.dm
Labels: C-Balance, size/S

#22421 Pod weapons show firerate in their tooltips
  code/modules/transport/pods/MainWeapon.dm
Labels: C-QoL, size/XS, A-Game-Objects, A-Vehicles

#22510 Fix TGUI alerts for 516
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/AlertModal.tsx
Labels: C-Bug, A-UI, size/XS

#22511 Fix lobby maptext for 516
  code/datums/titlecard.dm
Labels: C-Bug, size/XS, A-Internal

#22127 TGUI GPS
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/device/gps.dm
  tgui/packages/tgui/interfaces/GPS.tsx
  tgui/packages/tgui/styles/atomic/color.scss
Labels: C-QoL, S-Merge-Conflict, A-UI, size/XL

#22512 update byond version warnings
  code/client.dm
Labels: size/S, A-Internal

#22509 Fix ice cream dispensers unable to dispense margaritas
  browserassets/tgui/tgui.bundle.js
  code/obj/submachine/cooking.dm
  tgui/packages/tgui/interfaces/IceCreamMachine.tsx
Labels: C-Bug, A-UI, size/M, A-Game-Objects

#22344 Grass Gro tile orientation fix
  code/turf/floors.dm
  icons/turf/outdoors.dmi
Labels: C-Bug, C-Sprites, size/S, A-Game-Objects

#22520 Blood smearing instead of footsteps on laying down
  code/modules/forensics/atom_forensic.dm
Labels: C-Feature, size/XS, A-Player-Actions

#22493 Add Barbershop supply pack
  code/modules/economy/supply_packs.dm
Labels: C-QoL, size/S, A-Game-Objects

#22298 Add Piano Supply Packs
  code/modules/economy/supply_packs.dm
Labels: C-Feature, size/S, A-Game-Objects

#22489 Makes the cryo cell manufacturable and destructable
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
Labels: size/S

#22389 Add burst phaser pod weapon
  code/datums/gamemodes/pod_wars/pw_manufacturing_.dm
  code/datums/manufacturing.dm
  code/modules/transport/pods/MainWeapon.dm
  code/modules/transport/pods/ships.dm
  code/modules/transport/pods/vehicle.dm
  code/obj/machinery/manufacturer_subtypes.dm
  icons/obj/podweapons.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects, A-Vehicles

#22529 Add missing content descriptions to nukeop class crates
  code/obj/storage/crates.dm
Labels: C-QoL, size/S, A-Game-Objects

#22531 Werewolf Hunter special job
  code/WorkInProgress/MarqStuff.dm
  code/datums/jobs.dm
  code/obj/item/device/radios/headsets.dm
  code/obj/item/handcuffs.dm
  code/obj/item/storage/backpack_belt_etc.dm
Labels: C-Feature, size/M

#22521 Deprecate Chui for 516
  code/chui/window.dm
  code/client.dm
Labels: A-UI, size/S, A-Internal

#22466 Rework vomiting a bit
  code/WorkInProgress/Hydrothings.dm
  code/datums/critter_mobs/health/suffocation.dm
  code/datums/gamemodes/gangwar.dm
  code/datums/vomit.dm
  code/mob.dm
  code/mob/living/carbon/cube.dm
  code/mob/living/carbon/human.dm
  code/mob/living/critter.dm
  code/mob/living/intangible.dm
  code/mob/living/life/Life.dm
  code/mob/living/silicon.dm
  code/modules/admin/buildmodes/animate.dm
  code/modules/animation/AnimationLibrary.dm
  code/modules/antagonists/wraith/bioEffects/curses.dm
  code/modules/atmospherics/portable/pump.dm
  code/modules/chemistry/Reagents-Base.dm
  code/modules/chemistry/Reagents-ExplosiveFire.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  code/modules/chemistry/tools/food_and_drink.dm
  code/modules/food_and_drink/sandwiches.dm
  code/modules/food_and_drink/snacks.dm
  code/modules/medical/diseases/addiction.dm
  code/modules/medical/diseases/food_poisoning.dm
  code/modules/medical/diseases/organ_diseases/appendicitis.dm
  code/modules/medical/genetics/bioEffects/non_genetic.dm
  code/modules/status_system/statusEffects.dm
  code/modules/status_system/statusSystem.dm
  code/obj/decal/cleanable.dm
  code/obj/item/device/studio_monitor.dm
  code/obj/item/handcuffs.dm
  code/obj/item/organs/flock.dm
  code/obj/item/organs/lung.dm
  code/obj/item/power_stones.dm
  code/obj/item/toilets.dm
  code/obj/machinery/portapuke.dm
  code/obj/machinery/porters.dm
  goonstation.dme
  icons/ui/statussystem.dmi
Labels: C-Sprites, E-Input-Wanted, size/XL, A-Player-Actions

#22443 Add large hoodies to clothing booth
  code/datums/components/toggle_hood.dm
  code/modules/clothingbooth/groupings/wear_suits.dm
  code/modules/clothingbooth/items/wear_suits.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/gift.dm
  icons/mob/clothing/overcoats/hoods/worn_hoodies.dmi
  icons/obj/clothing/overcoats/hoods/hoodies.dmi
Labels: C-Sprites, size/L, A-Clothing

#22487 give atlas a barbershop
  maps/atlas.dmm
Labels: A-Mapping, size/L

#22430 Fix blood curser endlessly draining blood
  _std/macros/atom_properties.dm
  code/mob/living.dm
  code/modules/status_system/statusEffects.dm
  code/obj/item/organs/spleen.dm
Labels: C-Bug, size/S, A-Game-Objects

#22484 Adds the pipe to pipe heat exchanger to the HPD
  code/modules/atmospherics/machinery/binary/heat_exchanger.dm
  code/modules/atmospherics/machinery/unary/heat_exchanger.dm
  code/obj/item/handheld_dispenser/dispenser.dm
  goonstation.dme
  icons/obj/atmospherics/heat_exchanger.dmi
  icons/obj/atmospherics/hhd_recipe_images.dmi
Labels: C-Feature, C-Sprites, size/M, A-Atmospherics

#22528 Tweak the nuclear operative popup and loadout to match (second) reality
  browserassets/images/antagTips/syndicate-weapon.png
  browserassets/images/antagTips/syndie-radio.png
  browserassets/images/antagTips/weaponvendor.png
  browserassets/tgui/tgui.bundle.js
  code/modules/antagonists/nuclear_operative/nuclear_operative.dm
  tgui/packages/tgui/interfaces/AlertContentWindows/acw/nukeop.AlertContentWindow.tsx
  tgui/packages/tgui/interfaces/AlertContentWindows/acw/nukeop_commander.AlertContentWindow.tsx
Labels: C-QoL, A-UI, size/S

#22540 Emag act for Pod targeting missile launcher
  code/datums/components/smartgun_homing.dm
  code/obj/item/gun/kinetic.dm
Labels: C-Feature, size/S, A-Game-Objects

#22536 Mark quickhacks as level 2 contraband
  code/datums/gamemodes/gangwar.dm
Labels: C-Balance, size/XS, A-Game-Objects

#22373 X-drone can also spawn as assault drone instead
  code/obj/critter/drone.dm
  maps/z3.dmm
Labels: C-Feature, A-Mapping, S-Stale, size/S, A-Game-Objects

#22550 Normal Human figurine
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: C-Feature, C-Sprites, size/XS, A-Game-Objects

#22548 Update soundcache file for recently added new sounds
  code/modules/sound/soundCache.dm
Labels: size/S, A-Internal

#22553 add blue light filter glasses
  code/WorkInProgress/zamu_mail.dm
  code/obj/item/clothing/glasses.dm
Labels: C-Feature, size/S, A-Game-Objects

#22558 Resprite Hootolver
  icons/obj/items/guns/kinetic.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#22542 NanoTrasen Radio Channel
  _std/defines/radio.dm
  browserassets/css/browserOutput.css
  code/obj/item/device/radios/headsets.dm
  code/world/initialization/3_init.dm
Labels: C-Feature, size/M, A-Player-Actions, S-Ready-For-Final-Review

#22557 Cyborg instrument screams
  code/datums/manufacturing.dm
  code/mob/living/silicon/robot.dm
  code/modules/items/instruments/instruments.dm
  code/modules/mechanics/MechanicMadness.dm
  code/obj/machinery/manufacturer_subtypes.dm
  icons/obj/instruments.dmi
Labels: C-Sprites, C-Sound, size/M, A-Silicons

#22572 Include font awesome css in html interfaces header for 516
  code/chui/window.dm
Labels: A-UI, size/XS, A-Internal

#22564 Tgui/plantmaster tidy
  browserassets/tgui/tgui.bundle.js
  code/obj/submachine/seed.dm
  tgui/packages/tgui/interfaces/Plantmaster.tsx
  tgui/packages/tgui/interfaces/Plantmaster/PlantmasterTable.tsx
  tgui/packages/tgui/interfaces/Plantmaster/index.tsx
  tgui/packages/tgui/interfaces/Plantmaster/tabs/ExtractablesView.tsx
  tgui/packages/tgui/interfaces/Plantmaster/tabs/OverviewView.tsx
  tgui/packages/tgui/interfaces/Plantmaster/tabs/SeedsView.tsx
  tgui/packages/tgui/interfaces/Plantmaster/tabs/index.ts
  tgui/packages/tgui/interfaces/Plantmaster/type.ts
  tgui/packages/tgui/interfaces/Plantmaster/util.ts
  tgui/packages/tgui/interfaces/common/hooks/index.ts
  tgui/packages/tgui/interfaces/common/hooks/usePagination.ts
  tgui/packages/tgui/interfaces/common/typeUtils.ts
Labels: E-FUCK, A-UI, size/XXL

#22574 Fix Instrument Chords
  code/modules/items/instruments/instruments.dm
Labels: C-Bug, P-Major, size/XS, A-Game-Objects

#22296 TGUI-ify Player Piano Windows
  code/modules/items/instruments/playable_piano.dm
Labels: C-Feature, S-Stale, A-UI, size/S

#22532 Adds Cleanable Hair Piles from Barbering
  _std/__std.dme
  _std/defines/decal.dm
  code/datums/components/barber.dm
  code/modules/barber/barber_shop.dm
  code/obj/decal.dm
  code/obj/decal/cleanable.dm
  icons/obj/decals/cleanables.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#22559 Adds pet carriers to animal control lockers
  code/obj/storage/secure_closets.dm
Labels: C-QoL, size/XS, A-Game-Objects

#22583 Oshan telescience horizontal window shutters don't work
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/XS

#22584 Security lobby on Nadir is mislabeled
  maps/nadir.dmm
Labels: C-Bug, A-Mapping, size/XS

#22588 Implement message modal
  browserassets/tgui/tgui.bundle.js
  code/modules/interface/message_modal.dm
  goonstation.dme
  tgui/packages/tgui/interfaces/MessageModal.tsx
Labels: C-Bug, A-UI, size/M, A-Internal

#22612 Fix vendors showing OUT OF STOCK instead of 0x, as it distorts the column
  browserassets/tgui/tgui.bundle.js
  code/modules/vending/vending.dm
  tgui/packages/tgui/interfaces/Vendors.tsx
Labels: C-Code-Quality, A-UI, size/M

#22621 fix get_effective_value returning the wrong stat on "harvests"
  code/modules/hydroponics/plants.dm
Labels: C-Bug, size/XS, A-Hydroponics

#22617 Fix shaving people through masks
  code/datums/components/barber.dm
Labels: C-Bug, size/M, A-Player-Actions

#22610 Fix cargo transporter action not stopping when target cargo is moved away
  code/obj/mining.dm
Labels: C-Bug, size/XS, A-Player-Actions

#22606 Allow for selecting "Male", "Female" and "Other" in old secure data computer
  code/obj/machinery/computer/secure_data.dm
Labels: C-Bug, A-UI, size/S

#22604 Prevent stowaways from being trapped in cog1 mining magnet control room
  maps/cogmap.dmm
Labels: C-Bug, A-Mapping, size/S

#22585 Fix spin message for bartenders
  code/modules/chemistry/Chemistry-Tools.dm
  code/modules/chemistry/tools/food_and_drink.dm
Labels: C-Bug, size/XS, A-Player-Actions

#22629 Fix the cargo teleporter callback
  code/obj/mining.dm
Labels: P-Major, C-Runtime, size/XS, A-Game-Objects

#22619 Add abstract parent job for NT responder jobs
  code/datums/jobs.dm
  code/procs/access.dm
Labels: C-Code-Quality, size/L, A-Internal

#22613 Tweak western maint areas on Kondaru
  maps/kondaru.dmm
Labels: C-Bug, A-Mapping, size/S

#22543 Syndicate radio upgrades come as a pair
  code/datums/syndicate_buylist.dm
  code/obj/item/device/radios/headsets.dm
  icons/obj/items/device.dmi
Labels: C-Sprites, C-Balance, E-Add-To-Wiki, size/S, A-Game-Objects

#22632 fix keybind cloud data not updating properly
  code/modules/interface/keybind_menu_chui.dm
Labels: C-Bug, size/XS, A-Internal

#22624 Fix broken APC sprite not showing properly
  code/modules/power/apc.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22628 Feature: Random Species Trait
  code/WorkInProgress/cloner_defects.dm
  code/datums/mutantraces.dm
  code/datums/traits.dm
  icons/ui/traits.dmi
Labels: C-Feature, C-Sprites, size/M, A-Traits

#22637 Regrowing lizard tails fixes associated clumsiness
  code/obj/item/organ_holder.dm
Labels: C-Bug, size/XS, A-Player-Actions

#22635 Fix the egun junior charge level overlay
  code/obj/item/gun/energy.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22591 Adds glockenspiel
  code/modules/items/instruments/instruments.dm
  code/modules/sound/soundCache.dm
  code/obj/item/storage/weapon_security.dm
  icons/obj/instruments.dmi
  sound/musical_instruments/glockenspiel/notes/a-5.ogg
  sound/musical_instruments/glockenspiel/notes/a-6.ogg
  sound/musical_instruments/glockenspiel/notes/a-7.ogg
  sound/musical_instruments/glockenspiel/notes/a5.ogg
  sound/musical_instruments/glockenspiel/notes/a6.ogg
  sound/musical_instruments/glockenspiel/notes/a7.ogg
  sound/musical_instruments/glockenspiel/notes/b5.ogg
  sound/musical_instruments/glockenspiel/notes/b6.ogg
  sound/musical_instruments/glockenspiel/notes/b7.ogg
  sound/musical_instruments/glockenspiel/notes/c-5.ogg
  sound/musical_instruments/glockenspiel/notes/c-6.ogg
  sound/musical_instruments/glockenspiel/notes/c-7.ogg
  sound/musical_instruments/glockenspiel/notes/c5.ogg
  sound/musical_instruments/glockenspiel/notes/c6.ogg
  sound/musical_instruments/glockenspiel/notes/c7.ogg
  sound/musical_instruments/glockenspiel/notes/c8.ogg
  sound/musical_instruments/glockenspiel/notes/d-5.ogg
  sound/musical_instruments/glockenspiel/notes/d-6.ogg
  sound/musical_instruments/glockenspiel/notes/d-7.ogg
  sound/musical_instruments/glockenspiel/notes/d5.ogg
  sound/musical_instruments/glockenspiel/notes/d6.ogg
  sound/musical_instruments/glockenspiel/notes/d7.ogg
  sound/musical_instruments/glockenspiel/notes/e5.ogg
  sound/musical_instruments/glockenspiel/notes/e6.ogg
  sound/musical_instruments/glockenspiel/notes/e7.ogg
  sound/musical_instruments/glockenspiel/notes/f-5.ogg
  sound/musical_instruments/glockenspiel/notes/f-6.ogg
  sound/musical_instruments/glockenspiel/notes/f-7.ogg
  sound/musical_instruments/glockenspiel/notes/f5.ogg
  sound/musical_instruments/glockenspiel/notes/f6.ogg
  sound/musical_instruments/glockenspiel/notes/f7.ogg
  sound/musical_instruments/glockenspiel/notes/g-5.ogg
  sound/musical_instruments/glockenspiel/notes/g-6.ogg
  sound/musical_instruments/glockenspiel/notes/g-7.ogg
  sound/musical_instruments/glockenspiel/notes/g5.ogg
  sound/musical_instruments/glockenspiel/notes/g6.ogg
  sound/musical_instruments/glockenspiel/notes/g7.ogg
Labels: C-Feature, C-Sprites, C-Sound, size/M

#22401 Add salvo rocket launcher pod weapon for podwars
  code/datums/gamemodes/pod_wars/pw_manufacturing_.dm
  code/modules/projectiles/bullet.dm
  code/modules/transport/pods/MainWeapon.dm
  code/modules/transport/pods/shipcomponents.dm
  code/modules/transport/pods/ships.dm
  icons/effects/64x64.dmi
  icons/obj/podweapons.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects, A-Vehicles

#22649 fix glove namecallining
  code/mob/melee_attack_procs.dm
Labels: C-Bug, P-Trivial, size/XS, A-Clothing

#22653 Align capsule overlay on fallen figure machines
  code/modules/items/gimmick/figurine.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22640 Add CSS to Mat Fabricators for 516 styling
  browserassets/css/mat_fabricator.css
  code/modules/materials/Mat_Fabrication.dm
Labels: A-UI, size/M, A-Game-Objects

#22633 516 Station Renamer
  browserassets/css/stationNameChanger.css
  browserassets/js/stationNameChanger.js
Labels: A-UI, size/L

#22639 Implement 516 ByondUI wiggle fix
  code/datums/character_preview.dm
  code/datums/hud.dm
  code/modules/minimap/minimap_objects/minimap_ui.dm
Labels: E-FUCK, A-UI, size/S

#22582 Mx Blorbo Costume
  code/modules/economy/commodity.dm
  code/modules/economy/trader.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/storage/clothing.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/mob/inhand/hand_headgear.dmi
  icons/mob/inhand/overcoat/hand_suit_gimmick.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
Labels: C-Sprites, size/M

#22674 Bambini is consistently named on sea maps
  assets/maps/prefabs/underwater/nadir/prefab_water_nadirelevator.dmm
  assets/maps/prefabs/underwater/nadir_unsafe/prefab_water_beetrader.dmm
  code/modules/economy/trader.dm
Labels: A-Mapping, size/XS

#22672 Fix unable to cryo borgs
  code/obj/cryotron.dm
Labels: C-Bug, size/XS, A-Player-Actions

#22668 Colour coded command chairs
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, size/L

#22641 Setpiece - "Rad Shuttle"
  assets/maps/prefabs/space/prefab_Radshuttle.dmm
  code/area.dm
  code/modules/worldgen/prefab/mining/mining.dm
  code/modules/writing/papers.dm
Labels: A-Mapping, size/XL

#22681 Allow butts to be attached to TTVs again
  code/obj/item/device/transfer_valve.dm
Labels: C-Bug, size/M, A-Game-Objects

#22678 Make freezers constructible
  code/modules/atmospherics/machinery/unary/freezer.dm
  code/obj/item/handheld_dispenser/dispenser.dm
  icons/obj/atmospherics/hhd_recipe_images.dmi
Labels: C-Feature, C-Sprites, C-Balance, size/S, A-Atmospherics, A-Game-Objects

#22671 Fix latejoin silicon missile warp
  code/modules/economy/persistent_bank_purchases.dm
Labels: C-Bug, size/S, A-Respawning

#22648 Prevent meteors from outright destroying arrival shuttle windows
  code/obj/window.dm
Labels: C-QoL, size/XS, A-Game-Objects

#22620 Pod wars commander jobs are "TEAM Pod Commander"
  code/datums/gamemodes/pod_wars/pw_misc_objects.dm
  code/datums/gamemodes/pod_wars/pw_team.dm
  code/datums/jobs.dm
  code/mob/living/critter/small_animal.dm
  code/obj/item/card.dm
  code/obj/landmark.dm
Labels: C-QoL, size/M, A-Respawning

#22644 Different skulls make different skull chalices.
  code/modules/chemistry/tools/food_and_drink.dm
  code/obj/item/organs/skull.dm
  icons/mob/inhand/hand_food.dmi
  icons/obj/foodNdrink/drinks.dmi
Labels: C-Sprites, size/M, A-Game-Objects

#22650 Sliding attack on sanctuary zone fix
  code/obj/item/grab.dm
Labels: C-Bug, size/S, A-Player-Actions

#22685 Change dev build month to march
  _std/__build.dm
Labels: C-QoL, size/XS, A-Internal

#22651 Glockenspiel Sprite
  icons/obj/instruments.dmi
Labels: C-Sprites, size/XS

#22611 Add Monkey Riot radio station record
  code/modules/telescience/radiostation.dm
  sound/radio_station/music/monkey_riot.ogg
Labels: C-Sound, size/XS, A-Game-Objects

#21597 Space phoenix antagonist
  _std/defines/minimap.dm
  _std/defines/roles.dm
  _std/defines/sight.dm
  _std/macros/antag_popups.dm
  _std/macros/atom_properties.dm
  assets/maps/allocated/phoenix_nest.dmm
  browserassets/src/tgui/tgui.bundle.css
  browserassets/src/tgui/tgui.bundle.js
  code/area.dm
  code/datums/abilities/critter/icephoenix.dm
  code/datums/components/smartgun_homing.dm
  code/datums/hud/ice_phoenix.dm
  code/datums/limb.dm
  code/datums/objective.dm
  code/mob.dm
  code/mob/living/carbon/human.dm
  code/mob/living/critter/icephoenix.dm
  code/mob/living/life/bodytemp.dm
  code/modules/antagonists/space_phoenix/space_phoenix.dm
  code/modules/antagonists/wizard/abilities/iceburst.dm
  code/modules/events/antag_ghost_respawn.dm
  code/modules/interface/multiContext/context_actions.dm
  code/modules/minimap/minimap_objects/objects/ice_phoenix_map.dm
  code/modules/projectiles/bullet.dm
  code/modules/sound/soundCache.dm
  code/modules/status_system/statusEffects.dm
  code/modules/transport/pods/vehicle.dm
  code/modules/worldgen/prefab/allocated.dm
  code/obj/item/implant.dm
  code/turf/floors.dm
  code/turf/turf.dm
  goonstation.dme
  icons/mob/critter/nonhuman/icephoenix.dmi
  icons/mob/critter_ui.dmi
  icons/mob/space_phoenix.dmi
  icons/obj/items/items.dmi
  icons/obj/projectiles.dmi
  icons/turf/snow.dmi
  icons/ui/statussystem.dmi
  sound/effects/swoosh2.ogg
  sound/misc/phoenix/phoenix_revive.ogg
  sound/misc/phoenix/phoenix_sail.ogg
  sound/misc/phoenix/phoenix_shield.ogg
  sound/misc/phoenix/phoenix_snow_crunch.ogg
  sound/misc/phoenix/phoenix_thermal_shock.ogg
  sound/misc/phoenix/phoenix_tod_1.ogg
  sound/misc/phoenix/phoenix_tod_2.ogg
  sound/misc/phoenix/phoenix_tod_3.ogg
  sound/misc/phoenix/phoenix_tod_4.ogg
  sound/misc/phoenix/phoenix_wind_chill.ogg
  tgui/packages/tgui/interfaces/AlertContentWindows/acw/ice_phoenix.AlertContentWindow.tsx
Labels: C-Feature, A-Mapping, C-Sprites, E-Input-Wanted, C-Experimental, C-Sound, A-UI, A-Medal, E-Add-To-Wiki, size/XXL, A-Gamemodes

#22654 Arthint check fix
  code/obj/artifacts/artifacts.dm
Labels: size/XS

#22658 Fix turboflash deconstruction
  code/obj/item/device/flash.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22686 Enable space phoenix on RP
  code/modules/events/antag_ghost_respawn.dm
Labels: C-Feature, C-Experimental, size/S, A-Gamemodes

#22689 Fix floor tiles being unpryable
  code/turf/floors.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22643 Prevent cthulu staff summon from spamming maptext
  code/modules/antagonists/wizard/abilities/summon_staff.dm
Labels: C-Bug, size/S, A-Player-Actions

#22636 Refactor pod locking to better handle biometric locks
  code/datums/hud/pod.dm
  code/modules/transport/pods/secondary_system.dm
  code/modules/transport/pods/vehicle.dm
Labels: C-Bug, size/M, A-Game-Objects

#22609 Potato pipeshot
  code/modules/projectiles/bullet.dm
  code/obj/decal/cleanable.dm
  code/obj/item/assembly/misc_assemblies.dm
  code/obj/item/gun/ammo.dm
  icons/obj/decals/cleanables.dmi
  icons/obj/items/ammo.dmi
  icons/obj/projectiles.dmi
Labels: C-Feature, C-Sprites, C-Balance, E-Input-Wanted, E-Add-To-Wiki, size/M, A-Game-Objects

#22438 More clearly separate medical and research jobs
  _std/defines/jobs.dm
  browserassets/src/tgui/tgui.bundle.css
  browserassets/src/tgui/tgui.bundle.js
  code/WorkInProgress/zamu_mail.dm
  code/datums/controllers/job_controls.dm
  code/datums/datacore.dm
  code/datums/jobs.dm
  code/datums/preferences/preferences.dm
  code/lists/jobs.dm
  code/map.dm
  code/mob/new_player.dm
  code/modules/minimap/minimap_objects/objects/observer_map.dm
  code/modules/networks/computer3/bank_rec.dm
  code/obj/item/card.dm
  code/obj/machinery/computer/card.dm
  code/procs/access.dm
  code/procs/jobprocs.dm
  icons/mob/clothing/card.dmi
  icons/obj/items/card.dmi
  icons/obj/minimap/minimap_markers.dmi
  tgui/packages/tgui/interfaces/IDComputer.tsx
  tgui/packages/tgui/interfaces/JobManager.tsx
  tgui/packages/tgui/styles/interfaces/IDComputer.scss
Labels: C-Feature, C-Sprites, A-UI, size/XL, A-Station-Systems

#22696 Add icon for Medical ID in PDA
  icons/obj/items/pda.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Game-Objects

#22702 Candystripe Rockbox (and table improvements)
  browserassets/src/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Rockbox.tsx
Labels: C-QoL, A-UI, size/L

#22701 Pathology Clothing Returns
  code/modules/vending/jobclothing.dm
Labels: size/XS, A-Clothing

#22721 Space phoenixes can pat each other
  code/mob/living/critter/icephoenix.dm
Labels: C-QoL, size/XS, A-Gamemodes

#22712 Proofreads all of code/obj/item/clothing
  code/obj/item/clothing/armor.dm
  code/obj/item/clothing/glasses.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/clothing/masks.dm
  code/obj/item/clothing/plants.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/clothing/uniforms.dm
Labels: C-Bug, size/M, S-Ready-For-Final-Review

#22730 Prevents the burgle from appearing in chef objectives
  code/global.dm
Labels: C-Bug, size/XS, A-Catering

#22722 Minor space phoenix ice statue code improvement
  code/mob/living/critter/icephoenix.dm
Labels: C-Bug, size/XS, A-Internal

#22703 Wearable Roses
  code/datums/syndicate_buylist.dm
  code/modules/fishing/fishing_spots.dm
  code/modules/hydroponics/plant_mutations.dm
  code/modules/hydroponics/plants_flower.dm
  code/obj/item/clothing/plants.dm
  code/obj/item/plants.dm
  code/obj/random_spawners.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/hydroponics/items_hydroponics.dmi
  maps/donut2.dmm
  maps/donut3.dmm
  maps/setpieces/ships_ancienttradevessel.dmm
  maps/z2.dmm
Labels: A-Mapping, C-Sprites, size/L

#22715 Fixes blank icons for Space Owlry notes
  code/WorkInProgress/Hydrothings.dm
Labels: size/S

#22720 Fix spelling for fish oil pyrolysis
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: C-Bug, P-Trivial, size/XS, A-Chemistry

#22670 Fix DNR borgings
  code/obj/item/mob_parts/robot_parts.dm
Labels: C-Bug, size/M, A-Player-Actions

#22729 Terrainifying to ground prevents space-only events
  code/modules/admin/terrainify.dm
  code/modules/events/meteor_shower.dm
  code/modules/events/pretty_space.dm
Labels: C-Bug, size/S, A-Events

#22732 Armory auth access cleanup
  code/area.dm
  code/obj/machinery/computer/security/riot.dm
Labels: C-QoL, size/M, A-Game-Objects

#22698 New Trait: Touch Shy
  code/datums/traits.dm
  icons/ui/traits.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/S, A-Traits

#22683 Add Space Gardener radio station song
  code/modules/telescience/radiostation.dm
  sound/radio_station/music/space_gardener.ogg
Labels: C-Sound, size/XS, A-Game-Objects

#22656 When in an object, you can't interact with things outside
  code/procs/gamehelpers.dm
Labels: C-Bug, size/M, A-Player-Actions

#22666 Add a puzzle Input to Hangman Component
  code/modules/mechanics/MechanicMadness.dm
Labels: C-QoL, size/S

#22731 Normalize engineering areas across maps
  code/area.dm
  code/map.dm
  icons/turf/areas.dmi
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut3.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-Sprites, C-QoL, size/XL

#22657 Rework how plasmalungs trait is applied to mobs and antags
  code/mob/living/carbon/human.dm
  code/modules/antagonists/basketball/basketball_wizard.dm
  code/modules/antagonists/nuclear_operative/nuclear_operative.dm
  code/modules/antagonists/pirate/pirate.dm
  code/modules/antagonists/salvager/salvager.dm
  code/modules/antagonists/wizard/wizard.dm
  code/procs/jobprocs.dm
Labels: C-Bug, size/L, A-Traits

#22695 Converts stunhats to use signals, adds the killhat.
  code/mob/melee_attack_procs.dm
  code/obj/item/clothing/hats.dm
Labels: C-Code-Quality, size/M, A-Clothing

#22746 Fixes some bugs with pizza vendors built from frames
  code/modules/vending/vending.dm
Labels: C-Bug, C-QoL, size/XS, A-Game-Objects

#22745 Fixes the spelling error on dough screaming.
  code/modules/food_and_drink/ingredients.dm
Labels: C-Bug, size/S

#22756 Fix arrivals atmos
  code/obj/item/handheld_dispenser/dispenser.dm
Labels: C-Bug, size/XS

#22752 Kill 4 varedits on oshan hop office
  maps/oshan.dmm
Labels: A-Mapping, size/XS

#22758 Replace Oshan Computer Core turret with non-construction type
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/XS

#22757 don't automatically activate pod engines when replacing the fuel tank
  code/modules/transport/pods/vehicle.dm
Labels: C-QoL, size/XS, A-Vehicles

#22748 Space Phoenixes don't get warmed by space or airless turfs
  code/mob/living/critter/space_phoenix.dm
  code/modules/status_system/statusEffects.dm
Labels: C-Balance, size/S, A-Gamemodes

#22766 Fix for HPD not worky on space.
  code/obj/item/handheld_dispenser/dispenser.dm
Labels: C-Bug, size/XS, A-Atmospherics

#22769 Pyro Airlock access cleanup
  code/obj/machinery/door/airlock_pyro.dm
  maps/cogwip/ships.dmm
  maps/unused/crash_gimmick.dmm
  maps/z3_water.dmm
Labels: A-Mapping, C-Code-Quality, size/M

#22763 make phoenix ice tunnels safe for phoenixes
  code/mob/living/critter/space_phoenix.dm
Labels: C-Balance, size/XS, A-Gamemodes

#22646 Blindness from eye damage requires eye replacement
  code/mob/living/carbon/human/procs/damage.dm
  code/obj/item/organs/eye.dm
Labels: C-Bug, C-Balance, size/S, A-Medical

#22786 fixes incandescent lights autopositioning onto false walls
  code/modules/power/lighting.dm
Labels: C-Bug, A-Mapping, size/XS

#22770 Remove req_access_txt from non-map stuff
  code/modules/robotics/bot/evilbot.dm
  code/modules/vending/vending.dm
  code/obj/machinery/computer/door_control.dm
  code/obj/machinery/door/airlock_other.dm
  code/obj/machinery/door/window.dm
  code/obj/storage/secure_crates.dm
  code/z_adventurezones/luna.dm
Labels: C-Code-Quality, size/S, A-Internal

#22782 Add new miner job objective: Tamed Rockworms
  code/datums/crew_objective.dm
  code/mob/living/critter/mining_critter.dm
Labels: C-Feature, size/S

#22684 Proper NT Commander job
  code/datums/jobs.dm
  code/obj/item/clothing/glasses.dm
  code/obj/item/device/radios/headsets.dm
  code/obj/item/misc_weapons.dm
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/eyes.dmi
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/clothing/item_glasses.dmi
  icons/obj/items/weapons.dmi
Labels: C-Sprites, size/L

#22764 Add proc for dynamically changing storage datum slots
  code/modules/storage/storage.dm
Labels: C-QoL, size/XS, A-Internal

#22793 Makes ammo cook off at high temperatures
  code/obj/item/gun/ammo.dm
Labels: C-Feature, size/S, A-Game-Objects

#22790 Small code clean up for mining encounters
  code/modules/mining/mining_encounters.dm
Labels: C-Code-Quality, size/L, A-Internal

#22804 Adds flapjack
  code/datums/cookingrecipes.dm
  code/modules/food_and_drink/snacks.dm
  code/obj/submachine/cooking.dm
  icons/obj/foodNdrink/food_dessert.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/M, A-Catering

#22753 Heads can be placed on cabinets like hats
  code/datums/components/hattable.dm
Labels: size/XS

#22767 Monkey Riot record sound tweak
  sound/radio_station/music/monkey_riot.ogg
Labels: C-QoL, C-Sound, size/XS, A-Game-Objects

#22811 Fix radio station tape deck PDA messages
  code/modules/telescience/radiostation.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22810 Remove extra robotics apc on mushroom
  maps/unused/mushroom_new_walls.dmm
Labels: C-Bug, A-Mapping, size/XS
