Repository goonstation/goonstation, pull requests merged in 2025-07, with the labels that each got.

#24021 Split singularity.dm into multiple files
  _std/__std.dme
  _std/defines/singularity.dm
  code/obj/machinery/singularity.dm
  code/obj/machinery/singularity/collector_array.dm
  code/obj/machinery/singularity/collector_control.dm
  code/obj/machinery/singularity/containment_field.dm
  code/obj/machinery/singularity/emitter.dm
  code/obj/machinery/singularity/field_generator.dm
  code/obj/machinery/singularity/singularity.dm
  code/obj/machinery/singularity/singularity_bomb.dm
  code/obj/machinery/singularity/singularity_generator.dm
  goonstation.dme
Labels: C-Code-Quality, size/XXL, A-Internal

#24010 New __build.dm flag to prevent TGUI antagonist popups
  _std/__build.dm
  _std/macros/antag_popups.dm
Labels: C-QoL, size/XS, A-Internal, S-Ready-For-Final-Review

#24030 Fix for seasonal autumn clothing
  code/modules/clothingbooth/groupings/collections/autumn.dm
  code/modules/clothingbooth/items/collections/autumn.dm
Labels: C-Bug, size/XS

#24058 Update APC area upon it creating its own built zone
  code/modules/power/apc.dm
Labels: C-Bug, size/XS, A-Game-Objects

#24063 Show Fake Laws command
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
Labels: C-Feature, size/M, A-Silicons

#24080 Doc comments on blob tile + blob overmind variables
  code/mob/living/intangible/blob_overmind.dm
  code/obj/blob.dm
Labels: C-Code-Quality, size/L, A-Internal

#24002 Clean up Satchel redeem
  code/WorkInProgress/salvager/salvager.dm
  code/modules/medals/rewardsLocker.dm
  code/obj/item/clothing/chameleon_js.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/storage/backpack_belt_etc.dm
Labels: C-Code-Quality, A-Medal, size/L, A-Game-Objects

#24094 Fix emoji genes
  code/modules/speech/modules/speech/modifiers/accents.dm
Labels: C-Bug, C-QoL, A-Medical

#24082 Add check to prevent duplicate genetic research
  code/modules/medical/genetics/geneticsMachines.dm
Labels: C-Bug, A-UI, size/XS

#24039 Move datum/artifact/proc/effect_melee_attack() usage to the datum
  code/obj/artifacts/artifact_items/healing_wand.dm
  code/obj/artifacts/artifact_items/melee_weapon.dm
  code/obj/artifacts/artifact_items/pitcher.dm
  code/obj/artifacts/artifactdatums.dm
  code/obj/item.dm
Labels: C-Code-Quality, size/M, A-Internal

#24054 Clearer description with the tranq rifle
  code/obj/item/gun/kinetic.dm
Labels: C-QoL, size/XS, A-Game-Objects

#24107 DWAINE Utilities Cleanup
  code/modules/networks/computer3/mainframe2/base_program.dm
  code/modules/networks/computer3/mainframe2/utilities.dm
  code/modules/networks/computer3/mainframe2/utilities/_utility.dm
  code/modules/networks/computer3/mainframe2/utilities/cat.dm
  code/modules/networks/computer3/mainframe2/utilities/cd.dm
  code/modules/networks/computer3/mainframe2/utilities/chmod.dm
  code/modules/networks/computer3/mainframe2/utilities/chown.dm
  code/modules/networks/computer3/mainframe2/utilities/cp.dm
  code/modules/networks/computer3/mainframe2/utilities/date.dm
  code/modules/networks/computer3/mainframe2/utilities/getopt.dm
  code/modules/networks/computer3/mainframe2/utilities/grep.dm
  code/modules/networks/computer3/mainframe2/utilities/ln.dm
  code/modules/networks/computer3/mainframe2/utilities/ls.dm
  code/modules/networks/computer3/mainframe2/utilities/mkdir.dm
  code/modules/networks/computer3/mainframe2/utilities/mount.dm
  code/modules/networks/computer3/mainframe2/utilities/mv.dm
  code/modules/networks/computer3/mainframe2/utilities/pwd.dm
  code/modules/networks/computer3/mainframe2/utilities/rm.dm
  code/modules/networks/computer3/mainframe2/utilities/scnt.dm
  code/modules/networks/computer3/mainframe2/utilities/su.dm
  code/modules/networks/computer3/mainframe2/utilities/tar.dm
  goonstation.dme
Labels: C-Code-Quality, size/XXL, A-Internal

#24119 makes pride capes wearable in the backpack slot
  code/obj/item/wall_flags.dm
Labels: size/XS

#24117 Satchel Preference Option
  browserassets/src/tgui/tgui.bundle.js
  code/datums/preferences/preferences.dm
  code/datums/savefile.dm
  code/modules/economy/persistent_bank_purchases.dm
  code/obj/item/storage/backpack_belt_etc.dm
  tgui/packages/tgui/interfaces/CharacterPreferences/GeneralTab.tsx
  tgui/packages/tgui/interfaces/CharacterPreferences/type.ts
Labels: C-QoL, A-UI, size/M, A-Clothing

#24115 Fix blueprint button positioning issues
  tgui/packages/tgui/components/goonstation/ItemButton/ItemButtonMainButton.tsx
  tgui/packages/tgui/components/goonstation/ItemButton/ItemButtonSideButtons.tsx
  tgui/packages/tgui/components/goonstation/ItemButton/index.tsx
Labels: A-UI, size/S

#24025 Singularity cleanup variables
  _std/defines/singularity.dm
  code/obj/machinery/singularity/collector_control.dm
  code/obj/machinery/singularity/singularity.dm
  code/obj/machinery/singularity/singularity_bomb.dm
  code/obj/machinery/singularity/singularity_generator.dm
Labels: C-Code-Quality, size/L, A-Internal

#24152 Fix stowaways getting stuck in neon's donut hole
  maps/neon.dmm
Labels: A-Mapping, size/XS

#24153 Reinforcing girders properly consume sheets
  code/obj/structure.dm
Labels: C-Bug, size/XS, A-Game-Objects

#24129 Configurable Radio Jammer range.
  _std/packets.dm
  code/obj/item/device/radios/_radio.dm
Labels: C-Feature, E-Add-To-Wiki, size/M, A-Game-Objects

#23921 Clown Disbelievers can't hear Clowns' speech
  _std/defines/speech_defines/modules.dm
  _std/defines/speech_defines/priorities.dm
  code/datums/components/clown_disbelief_item.dm
  code/datums/traits.dm
  code/modules/speech/modules/listen/modifiers/clown_disbelief.dm
  goonstation.dme
Labels: C-Feature, E-Add-To-Wiki, size/S, A-Traits, S-Ready-For-Final-Review

#23884 Captain's Bonsai uses health, but only has 5hp
  code/obj/decorations.dm
Labels: C-Bug, S-Stale, size/S, A-Command

#24158 Make middle mouse an open close hotkey
  code/mob/living.dm
Labels: C-QoL, size/L, A-Player-Actions

#24165 ID Cards suppress attacks
  code/obj/item/card.dm
Labels: C-QoL, size/XS, A-Player-Actions

#24156 Simplifies Ether's depletion mode
  code/modules/chemistry/Reagents-Medical.dm
Labels: C-Balance, E-Add-To-Wiki, size/S, A-Chemistry

#24133 Seven new postcards, for the general mail loot pool and the lunar museum
  code/WorkInProgress/zamu_mail.dm
  code/modules/writing/papers.dm
  icons/obj/writing.dmi
  maps/z2.dmm
Labels: A-Mapping, C-Sprites, size/L

#24172 Silicon PDAs respect preferences
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
Labels: C-QoL, size/S, A-Silicons

#24207 Fixes SecMate And MedTrak Whitespace
  code/modules/networks/computer3/med_rec.dm
  code/modules/networks/computer3/sec_rec.dm
Labels: C-Bug, C-QoL, size/L

#24233 Standardize Robotics across all maps in rotation.
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/neon.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, size/XL

#24199 fixes the floor() message for arithmetic components
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Bug, size/XS, A-Engineering

#24037 Allow IDs to be equipped in the ID slot even if there is a PDA in there already
  code/procs/jobprocs.dm
Labels: C-Code-Quality, C-QoL, size/XS, A-Internal

#24256 Yet another attempt to fix the issue stale bot
  .github/workflows/stale.yml
Labels: A-Tooling, size/XS

#23573 Resprites the Icemoon surface + Slight adjustments to the cliffs
  code/z_adventurezones/icemoon.dm
  icons/turf/floors.dmi
  icons/turf/walls.dmi
  maps/z2.dmm
Labels: A-Mapping, C-Sprites, size/L

#24261 dockerfile libcurl4:i386
  tools/server/Dockerfile
Labels: A-Tooling, size/XS

#24270 UpdatePaths Camera Script Fixes
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/density2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/events/wrestlemap.dmm
  maps/mushroom.dmm
  maps/nadir.dmm
  maps/neon.dmm
  maps/oshan.dmm
  maps/utilities/devtest.dmm
  tools/UpdatePaths/Scripts/24247_camera_cleanup.txt
  tools/UpdatePaths/__main__.py
  tools/UpdatePaths/readme.md
Labels: A-Mapping, A-Tooling, size/XL, C-Documentation

#24194 Cloning rack
  _std/defines/component_defines/component_defines_atom.dm
  _std/packets.dm
  browserassets/src/tgui/tgui.bundle.css
  browserassets/src/tgui/tgui.bundle.js
  code/datums/components/side_by_side.dm
  code/datums/computerfiles.dm
  code/datums/jobs.dm
  code/datums/manufacturing.dm
  code/mob/living/silicon/robot.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/toggles.dm
  code/modules/economy/supply_packs.dm
  code/modules/medical/genetics/geneticsResearch.dm
  code/modules/networks/computer3/disks.dm
  code/modules/packets/packet_network/radio_network.dm
  code/modules/writing/papers.dm
  code/obj.dm
  code/obj/cryotron.dm
  code/obj/item/cloning_modules.dm
  code/obj/item/device/genetic_analyzer.dm
  code/obj/item/device/multitool.dm
  code/obj/item/device/radios/_radio.dm
  code/obj/item/implant.dm
  code/obj/item/manudrive.dm
  code/obj/item/tool/electronics.dm
  code/obj/machinery/clone_rack.dm
  code/obj/machinery/computer/cloning.dm
  code/procs/jobprocs.dm
  code/z_adventurezones/safehouse.dm
  goonstation.dme
  icons/obj/disk_rack.dmi
  icons/obj/shield_gen.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/density2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/neon.dmm
  maps/oshan.dmm
  maps/utilities/devtest.dmm
  sound/items/floppy_disk.ogg
  tgui/packages/tgui/interfaces/CloningConsole.tsx
  tgui/packages/tgui/interfaces/DiskRack/DiskButton.tsx
  tgui/packages/tgui/interfaces/DiskRack/LED.tsx
  tgui/packages/tgui/interfaces/DiskRack/index.tsx
  tgui/packages/tgui/interfaces/DiskRack/types.ts
  tgui/packages/tgui/styles/components/goon/LED.scss
  tgui/packages/tgui/styles/main.scss
Labels: A-Mapping, C-Sprites, C-Balance, E-Input-Wanted, S-Merge-Conflict, C-Rework, C-Removal, A-UI, size/XXL, A-Game-Objects, A-Station-Systems, S-Testmerged

#24267 Firebot Propulsion Fix
  code/mob/living/critter/mob_bots.dm
Labels: size/S
