Repository goonstation/goonstation, pull requests merged in 2025-02, with the labels that each got.

#22165 Don't spawn internals in gauntlet backpacks
  code/datums/gauntlet/crittergauntlet.dm
  code/obj/item/storage/backpack_belt_etc.dm
Labels: C-QoL, size/XS, A-Game-Objects

#22171 fix icon error on destiny maint doors
  icons/obj/doors/destiny.dmi
Labels: C-Sprites, size/XS

#22181 Change the radio station putt frame to the preassembled type
  maps/z3.dmm
Labels: A-Mapping, C-QoL, size/XS, A-Game-Objects

#22180 Fix show item right hand not aligning with shown item
  code/datums/actions/actions.dm
Labels: C-Bug, size/XS, A-Player-Actions

#22183 Close AI Viewports on death
  code/mob/living/silicon/ai.dm
Labels: C-Bug, size/XS, A-Silicons

#22189 Fix reagent transfer targets not being updated properly
  code/modules/chemistry/Chemistry-Holder.dm
Labels: C-Bug, size/XS, A-Chemistry

#22193 Fix powernet component mangling incoming packets
  code/modules/mechanics/MechanicsNetworkCon.dm
Labels: C-Bug, P-Trivial, size/XS, A-Station-Systems

#22054 Map quality pass for z3
  maps/z3.dmm
Labels: A-Mapping, C-QoL, size/L

#22034 Add extra items to on-station security closets
  code/obj/storage/secure_closets.dm
  maps/z3.dmm
Labels: A-Mapping, C-Balance, E-Input-Wanted, size/S, A-Game-Objects

#22064 TGUI nanocrucible
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/materials/Mat_Processing.dm
  tgui/packages/tgui/interfaces/NanoCrucible.tsx
Labels: C-QoL, S-Merge-Conflict, A-UI, size/L, A-Materials

#22131 Arc Electroplaters can break and be repaired
  code/datums/components/equipment_fault.dm
  code/obj/machinery/arc_electroplater.dm
  icons/obj/crafting.dmi
Labels: C-Feature, C-Sprites, size/L, A-Game-Objects

#22178 Fixes shower water going through stuff.
  code/obj/machinery/shower.dm
Labels: C-Bug, size/S

#22201 Fix minor typo in z5 prefab audiolog
  code/obj/item/device/audio_log.dm
Labels: C-Bug, P-Trivial, size/XS, A-Game-Objects

#22214 airbridge turfs and walls block foreground parallax
  code/turf/turf_drawbridge.dm
Labels: C-Feature, A-Mapping, size/XS

#22061 Gunshot impact particles
  code/atom.dm
  code/datums/components/bullet_holes.dm
  code/modules/projectiles/40mm.dm
  code/modules/projectiles/bioeffect.dm
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/disruptor_bolt.dm
  code/modules/projectiles/ectoblaster.dm
  code/modules/projectiles/energy_bolt.dm
  code/modules/projectiles/laser.dm
  code/modules/projectiles/projectile_parent.dm
  code/modules/projectiles/shrink_beam.dm
  code/modules/projectiles/special.dm
  code/modules/projectiles/teleport.dm
  code/modules/projectiles/wavegun.dm
  code/obj/effects/particles.dm
  code/obj/item/gun/gun_parent.dm
  icons/effects/particles.dmi
Labels: C-Feature, C-Sprites, size/L

#22221 remove mech cart floating in space on cog2
  maps/cogmap2.dmm
Labels: C-Bug, A-Mapping, size/XS

#22223 fix battleroyale death component typeinfo
  code/datums/components/battleroyale_death.dm
Labels: C-Bug, size/XS, A-Internal

#22204 Deletes objcritter possums, use mobcritter instead. Adds morty to Kondaru.
  code/mob/living/carbon/human/procs/emote.dm
  code/obj/critter/pets_small_animals.dm
  code/obj/item/sponge_capsule.dm
  code/obj/random_spawners.dm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/destiny.dmm
  maps/unused/manta.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/ozymandias.dmm
  maps/wrestlemap.dmm
Labels: A-Mapping, size/L, A-Game-Objects, A-Critters

#22227 Fix nano-crucible taking more than 2 materials
  code/modules/materials/Mat_Processing.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22203 Chemical and drink dispensers leak when broken
  browserassets/tgui/tgui.bundle.css
  code/datums/components/equipment_fault.dm
  code/modules/chemistry/Chemistry-Dispenser.dm
  icons/obj/chemical.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#22233 Add trailblazer pod component
  code/datums/effects/system/ion_trail_follow.dm
  code/modules/transport/pods/secondary_system.dm
  code/obj/storage/loot_crates.dm
  icons/mob/hud_pod.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects, A-Vehicles

#22179 Fix COMPONENT_DUPE_HIGHLANDER
  code/datums/components/_component.dm
Labels: C-Bug, size/XS, A-Internal

#22074 Separate broken and fallen states for vending machines
  code/WorkInProgress/warcrimes.dm
  code/modules/items/gimmick/figurine.dm
  code/modules/vending/jobclothing.dm
  code/modules/vending/vending.dm
  code/obj/item/paint.dm
  icons/obj/items/figures.dmi
  icons/obj/vending.dmi
Labels: C-Bug, C-Feature, C-Sprites, E-Add-To-Wiki, size/L, A-Game-Objects

#22025 Give Asomna stabilizer/slow growth
  code/modules/hydroponics/plants_herb.dm
Labels: C-Balance, C-QoL, size/XS, A-Hydroponics

#22212 People without hands can use cryo
  code/obj/cryotron.dm
Labels: C-QoL, size/S, A-Player-Actions

#22218 Adds an adjustable instrument volume channel
  _std/defines/sound.dm
  code/modules/items/instruments/instruments.dm
  code/modules/items/instruments/playable_piano.dm
  code/modules/sound/sound.dm
  interface/skin.dmf
Labels: C-Feature, C-QoL, C-Sound, A-UI, size/S

#21958 Adds mulitcast addres_tag to GPS
  code/obj/item/device/gps.dm
Labels: C-Feature, S-Stale, E-Add-To-Wiki, size/S, A-Station-Systems

#21682 Feature: Underwater Diner travelling traders
  assets/maps/prefabs/underwater/nadir/prefab_water_nadirelevator.dmm
  code/area.dm
  code/modules/events/minor/trader.dm
  maps/oshan.dmm
  maps/unused/manta.dmm
Labels: C-Feature, A-Mapping, size/XL, A-Events

#21660 Silicons can now play large instruments (piano, jukebox)
  code/modules/items/instruments/instruments.dm
Labels: C-Feature, size/S, A-Player-Actions, A-Silicons

#22236 Nano-fabricator re-sprite
  code/modules/materials/Mat_Fabrication.dm
  icons/obj/crafting.dmi
  icons/obj/manufacturer.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#22245 Fix unbroken vendors not being rightable
  code/modules/vending/vending.dm
Labels: C-Bug, P-Critical, size/XS, A-Game-Objects

#22244 Add chemistry access helpers to donut3 chemlab doors/windoors
  maps/donut3.dmm
Labels: C-Bug, A-Mapping, size/XS

#22202 adds the "allow_on_others"-Input on /datum/component/assembly
  code/datums/components/assembly_comp.dm
Labels: C-Feature, size/S, A-Internal

#22246 Remove skitter from general genepool, add to small animal cockroaches
  code/mob/living/critter/small_animal.dm
  code/modules/medical/genetics/bioEffects/beneficial.dm
Labels: C-Balance, size/XS, A-Medical

#22230 Refactors and simplifies the flamethrower construction
  code/obj/item/flamethrower.dm
  code/obj/item/tool/weldingtool.dm
Labels: C-Code-Quality, C-QoL, size/L, A-Game-Objects

#22253 Fix nano-fabricator
  code/modules/materials/Mat_Fabrication.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22268 Improves Devtest TEG a bit.
  assets/maps/engine_rooms/devtest/TEGdevtest_0.dmm
Labels: C-Bug, A-Mapping, size/M

#22266 Fix rockbox pda app bricking your pda if any rockbox was disabled
  code/obj/item/device/pda2/smallprogs.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22163 Make scuttlebot hat immune to acid
  code/obj/item/clothing/hats.dm
Labels: C-Balance, size/XS, A-Game-Objects

#22278 Fix HealBleeding proc not working for critters
  code/mob/living.dm
  code/mob/living/carbon/human.dm
Labels: C-Bug, size/XS, A-Internal

#22277 Use pyro airlocks as the default shuttle airlocks
  code/map.dm
Labels: C-Bug, A-Mapping, size/S

#22225 Bank records terminal program: BankBoss
  code/datums/banking.dm
  code/datums/datacore.dm
  code/modules/economy/supply_packs.dm
  code/modules/networks/computer3/bank_rec.dm
  code/modules/networks/computer3/computer3.dm
  code/modules/networks/computer3/disks.dm
  code/modules/vending/vending.dm
  code/obj/item/device/scanners.dm
  code/obj/machinery/computer/bank_records.dm
  code/obj/machinery/computer/buildandrepair.dm
  code/obj/machinery/manufacturer.dm
  goonstation.dme
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/cogwip/kappa.dmm
  maps/density2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/crash_gimmick_2.dmm
  maps/unused/density.dmm
  maps/unused/destiny.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/manta.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/oldmap.dmm
  maps/unused/ozymandias.dmm
  maps/unused/trunkmap.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
Labels: C-Feature, A-Mapping, C-Rework, E-Add-To-Wiki, size/XXL, A-Station-Systems

#21979 Nukie deployment cost reduction
  code/datums/syndicate_buylist.dm
Labels: C-Bug, C-Balance, size/XS, A-Gamemodes

#21916 Support backslash escapes in mechcomp packets, unify signal splitting
  _std/lists.dm
  code/modules/mechanics/MechanicMadness.dm
  strings/books/mechanicbook.txt
Labels: C-Feature, E-Add-To-Wiki, size/M, A-Station-Systems

#21919 Add Automatic Repair System pod component
  code/datums/gamemodes/pod_wars/pw_manufacturing_.dm
  code/datums/manufacturing.dm
  code/modules/transport/pods/secondary_system.dm
  code/modules/transport/pods/shipcomponents.dm
  code/modules/transport/pods/vehicle.dm
  code/obj/machinery/manufacturer_subtypes.dm
  icons/mob/hud_pod.dmi
Labels: C-Feature, C-Sprites, size/M, A-Vehicles

#22285 Fixes fishing rod inhands
  code/modules/fishing/fishing_gear.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22276 Player Piano Remove Manual Linking
  _std/defines/component_defines/component_defines_special.dm
  code/datums/components/player_piano_auto_linker.dm
  code/modules/items/instruments/playable_piano.dm
  strings/books/player_piano.txt
Labels: C-Bug, C-Removal, size/M, A-Game-Objects

#22264 Caches the bullet impact base and makes it mutable_appearance
  code/datums/components/bullet_holes.dm
Labels: C-Performance, size/XS, A-Internal

#22136 Cyborg Docking Stations can be broken and repaired
  code/WorkInProgress/aloe_stuff_public.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/obj/machinery.dm
Labels: C-Feature, size/M, A-Game-Objects

#22267 Gives noisy/visual emotes a different cooldown to regular emotes
  code/datums/mutantraces.dm
  code/mob.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
  code/procs/mobprocs/chatprocs.dm
Labels: C-Balance, C-QoL, size/M, A-Player-Actions

#22281 Cyborgs affected by radiation get visual noise
  code/datums/components/geiger_counter.dm
  code/mob.dm
  code/mob/living/silicon.dm
  code/modules/events/radiation.dm
  code/modules/hydroponics/plants_weed.dm
  code/modules/overlays/OverlayManager.dm
  code/modules/status_system/statusEffects.dm
  code/obj/machinery/porters.dm
  code/obj/machinery/singularity.dm
  icons/effects/overlays/silicon_rad_extreme.dmi
  icons/effects/overlays/silicon_rad_heavy.dmi
  icons/effects/overlays/silicon_rad_light.dmi
  icons/effects/overlays/silicon_rad_medium.dmi
Labels: C-Feature, C-Sprites, size/L, A-Silicons

#22190 Allow TGUI and some interactions for unpowered AI Law Racks
  browserassets/tgui/tgui.bundle.js
  code/datums/manufacturing.dm
  code/obj/fakeobject.dm
  code/obj/machinery/law_racks.dm
  tgui/packages/tgui/interfaces/AIRack.tsx
Labels: C-Balance, C-QoL, A-UI, size/M, A-Silicons

#22247 Redo the deconstruction access-conditions for airlocks
  code/obj/machinery/door/airlock.dm
Labels: C-Balance, size/XS, A-Game-Objects

#22154 Food Resprite - Omelettes
  code/modules/food_and_drink/snacks.dm
  icons/obj/foodNdrink/food.dmi
  icons/obj/foodNdrink/food_meals.dmi
Labels: C-Sprites, size/XS, A-Catering

#22027 Move pipeshot to only work in break action shotguns.
  _std/defines/projectiles.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/storage/secure_safe.dm
Labels: C-Balance, S-Stale, size/M, A-Game-Objects

#22263 Speedup autoconnect code
  code/atom.dm
  code/obj/mesh.dm
Labels: C-Performance, size/S, A-Internal

#22139 Add negative light to lamp artifact
  _std/color.dm
  code/WorkInProgress/tarmStuff.dm
  code/datums/controllers/artifact_controls.dm
  code/modules/materials/Mat_Materials.dm
  code/obj/artifacts/artifact_objects/lamp.dm
Labels: C-Feature, size/M, A-Game-Objects

#22101 TGUI oven
  browserassets/tgui/tgui.bundle.js
  code/obj/submachine/cooking.dm
  tgui/packages/tgui/interfaces/Oven.tsx
Labels: C-QoL, A-UI, size/XL, A-Catering

#22208 Reagent heaters can break via explosion and gunfire
  code/modules/chemistry/Chemistry-Machinery.dm
  icons/obj/heater.dmi
  icons/obj/heater_chem.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#22067 TGUI microwave
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/microwave.dm
  tgui/packages/tgui/interfaces/Microwave.tsx
Labels: C-QoL, S-Merge-Conflict, A-UI, size/L, A-Catering

#22261 Enzymatic Reclaimers can be broken, and spew gibs when broken.
  code/datums/components/equipment_fault.dm
  code/obj/machinery/clonepod.dm
Labels: C-Feature, size/L, A-Game-Objects

#21411 TGUI Ruck Kit
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/tool/electronics.dm
  tgui/packages/tgui/components/goonstation/ItemButton/ItemButtonMainButton.tsx
  tgui/packages/tgui/components/goonstation/ItemButton/ItemButtonSideButtons.tsx
  tgui/packages/tgui/components/goonstation/ItemButton/index.tsx
  tgui/packages/tgui/components/goonstation/ItemButton/style.ts
  tgui/packages/tgui/interfaces/Manufacturer/components/BlueprintButton.tsx
  tgui/packages/tgui/interfaces/Manufacturer/constant.ts
  tgui/packages/tgui/interfaces/RuckingenurKit/ScannedItem.tsx
  tgui/packages/tgui/interfaces/RuckingenurKit/ScannedItemLegacyElectronicFrameMode.tsx
  tgui/packages/tgui/interfaces/RuckingenurKit/index.tsx
  tgui/packages/tgui/interfaces/RuckingenurKit/type.ts
  tgui/packages/tgui/styles/components/Button.scss
Labels: C-Feature, S-Merge-Conflict, S-Stale, E-Certified-Organic, A-UI, size/XL

#22082 Show clone pod upgrades in cloning computer UI and allow upgrade removal
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/clonepod.dm
  code/obj/machinery/computer/cloning.dm
  tgui/packages/tgui/interfaces/CloningConsole.tsx
Labels: C-Feature, C-QoL, S-Merge-Conflict, A-UI, size/M, A-Medical

#22303 Fix attempting to weld loafer and update loafer help text
  code/modules/disposals/disposal.dm
  code/obj/machinery/pipe/pipe_dispenser.dm
Labels: C-Bug, size/S, A-Station-Systems

#22280 Adds legs and eyes to round start choices. Adds support for round start organ choices.
  browserassets/tgui/tgui.bundle.js
  code/datums/part_customization.dm
  code/datums/preferences/preferences.dm
  code/datums/savefile.dm
  code/datums/traits.dm
  code/procs/jobprocs.dm
  icons/ui/traits.dmi
  tgui/packages/tgui/interfaces/CharacterPreferences/CharacterTab.tsx
Labels: C-Feature, C-Sprites, C-Balance, A-UI, size/L

#22305 Adding ketchup to plain spaghetti makes sauced spaghetti again
  code/modules/food_and_drink/snacks.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22302 Roaches can only skitter on non-space turfs
  code/modules/medical/genetics/bioEffects/beneficial.dm
Labels: C-Bug, size/XS, A-Medical

#22301 Rename "Medical Research" area to "Genetic Research"
  code/area.dm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/density.dmm
  maps/unused/destiny.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/ozymandias.dmm
Labels: C-Bug, A-Mapping, size/XXL

#22308 Band-aid fix for people opening character saves that don't have all custom part data
  browserassets/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/CharacterPreferences/CharacterTab.tsx
Labels: C-Bug, A-UI, size/M

#22299 Bang! guns can gunpoint
  _std/macros/items.dm
  code/mob/living.dm
Labels: C-Feature, size/S, A-Game-Objects

#22297 Prevent the construction of welder-rod-assemblies while the welding tool is activated
  code/obj/item/tool/weldingtool.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22313 Changes the description of the implant gun
  code/obj/item/implant.dm
Labels: C-QoL, size/XS, A-Game-Objects

#22314 fix silicons losing module use when arms break
  code/mob/living/silicon/robot.dm
Labels: C-Bug, C-Runtime, size/XS, A-Silicons

#21909 Nuclear Turbine Destruction & Reconstruction
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/materials/Mat_FabRecipes.dm
  code/modules/materials/Mat_Fabrication.dm
  code/modules/projectiles/bullet.dm
  code/obj/nuclearreactor/reactorcontrol.dm
  code/obj/nuclearreactor/turbine.dm
  icons/obj/items/device.dmi
  icons/obj/large/64x32.dmi
  tgui/packages/tgui/interfaces/TurbineControl.tsx
Labels: C-Sprites, A-UI, E-Add-To-Wiki, size/L

#22326 Implement COMSIG_GLOBAL_CLIENT_NEW
  _std/defines/component_defines/component_defines_global.dm
  code/client.dm
Labels: size/XS, A-Internal

#22316 Body bags should not contain closets, crates, or other body bags
  code/modules/medical/surgery_tools.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22320 Fix STG Booster card count
  code/obj/item/playing_cards.dm
Labels: C-Bug, size/S, A-Game-Objects

#22322 Add map correctness test for stacked tables
  assets/maps/prefabs/space/prefab_candy_shop.dmm
  assets/maps/prefabs/space/prefab_dans_asteroid.dmm
  assets/maps/random_rooms/5x3/shadyoffice.dmm
  code/modules/unit_tests/_map_correctness.dm
  code/modules/worldgen/RandomRoomRuntimeChecker.dm
  maps/donut3.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/z2.dmm
Labels: C-Bug, A-Mapping, size/M

#22333 Adds missing runtime checker flags to the RP mode automation
  .github/workflows/automaton.yml
Labels: E-DNM, A-Tooling, A-GitHub, size/XS, A-Internal

#22317 Fix empty light fixtures regenerating bulbs
  code/modules/power/lighting.dm
Labels: C-Bug, size/S, A-Game-Objects

#22318 Prevent microbombs implanting in mentor/admin mice and ghost critters
  code/obj/item/implant.dm
Labels: C-Bug, C-Feature, size/XS, A-Game-Objects

#22256 refactors electric chair construction
  code/obj/electric_chair.dm
  code/obj/item/assembly/shock_kit.dm
  code/obj/item/device/radio.dm
  code/obj/stool.dm
Labels: C-Code-Quality, C-QoL, size/L, A-Game-Objects

#22018 Adds bulk recipes for sheet manufacturer recipes
  code/datums/manufacturing.dm
  code/obj/machinery/manufacturer_subtypes.dm
Labels: C-Balance, size/M, A-Game-Objects

#22184 Buttcoin "deposits" into ATMs/PDAs and unique sprite
  code/datums/banking.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/space_cash.dm
  code/obj/submachine/slots.dm
  icons/obj/items/items.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#22332 Debris field drones are randomized
  code/obj/critter/drone.dm
  maps/z3.dmm
Labels: C-Feature, A-Mapping, size/L, A-Game-Objects, S-Ready-For-Final-Review

#22185 Observer Minimap
  _std/defines/minimap.dm
  code/datums/abilities/ghost_observer.dm
  code/datums/components/minimap/minimap_marker.dm
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/silicon/ai.dm
  code/modules/admin/admin_verbs.dm
  code/modules/minimap/markers/minimap_marker.dm
  code/modules/minimap/minimap_objects/objects/_minimap_object_parent.dm
  code/modules/minimap/minimap_objects/objects/observer_map.dm
  code/modules/minimap/minimaps/__minimap_parent.dm
  code/modules/minimap/minimaps/_area_minimap.dm
  code/modules/observer_minimap/observer_minimap.dm
  code/modules/observer_minimap/observer_minimap_ui.dm
  goonstation.dme
  icons/mob/ghost_observer_abilities.dmi
  icons/obj/minimap/minimap_markers.dmi
  strings/admin_changelog.txt
Labels: C-Bug, C-Feature, C-Sprites, size/L, A-Admin, A-Player-Actions, S-Ready-For-Final-Review

#22350 De-restrict EFIF-1 Construction System
  code/modules/transport/pods/MainWeapon.dm
  code/modules/writing/papers.dm
Labels: C-Feature, C-Balance, size/XS

#22331 Add minigun pod weapon as drop loot for minigun drones
  code/modules/projectiles/bullet.dm
  code/modules/transport/pods/MainWeapon.dm
  code/modules/transport/pods/vehicle.dm
  code/obj/critter/drone.dm
  icons/obj/podweapons.dmi
Labels: C-Sprites, C-Balance, size/M, A-Game-Objects, A-Vehicles

#22164 MechComp Teleporters Use Projectiles.
  browserassets/tgui/tgui.bundle.css
  code/mob/living/life/statusupdate.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/projectiles/projectile_parent.dm
  code/modules/projectiles/special.dm
  code/modules/status_system/statusEffects.dm
Labels: C-Balance, C-Experimental, size/L, A-Game-Objects

#22365 make slip and signs immune to acid
  code/obj/item/mops_cleaners.dm
Labels: C-QoL, size/XS, A-Game-Objects

#22355 Add plasma cutter and cannon drones to debris field
  code/obj/critter/drone.dm
Labels: C-Balance, size/XS, A-Game-Objects

#22369 Cancel arcplating if the target item is no longer in the plater
  code/obj/machinery/arc_electroplater.dm
Labels: C-QoL, size/XS, A-Game-Objects

#22368 Clarify DNA injector description
  code/modules/medical/genetics/geneticsItems.dm
Labels: C-Bug, P-Trivial, size/XS, A-Game-Objects

#22364 Tables drop their contents when broken/destroyed
  code/obj/item/table_rack_parts.dm
  code/obj/table.dm
Labels: C-Bug, size/S, A-Game-Objects

#22371 fix non-storage tables runtiming on removal
  code/obj/table.dm
Labels: C-Bug, C-Runtime, size/XS, A-Game-Objects

#22265 Optimises updateoverlays more
  code/atom/UpdateOverlays.dm
Labels: C-Performance, size/M, A-Internal, S-Testmerged

#22079 Mobifies microman
  assets/maps/prefabs/underwater/nadir_unsafe/prefab_water_zoo.dmm
  code/datums/abilities/critter/tackle.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/modules/admin/buildmodes/adventure/adventure_critter.dm
  code/modules/antagonists/macho_man/abilities/_macho_man_mob.dm
  code/obj/item/sponge_capsule.dm
Labels: C-Feature, A-Mapping, size/L, S-Ready-For-Final-Review, A-Critters

#22382 add a science fab to wrestlemap
  maps/wrestlemap.dmm
Labels: A-Mapping, size/XS

#22315 Fixes some incompatible animations
  code/modules/animation/AnimationLibrary.dm
Labels: C-Code-Quality, C-QoL, size/L

#22381 remove mike dawson jumpsuit from random spawner
  code/obj/random_spawners.dm
Labels: C-QoL, size/XS, A-Clothing

#22258 TGUI robotics control
  browserassets/tgui/tgui.bundle.js
  code/obj/machinery/computer/robotics.dm
  tgui/packages/tgui/interfaces/RoboticsControl/AiStatuses.tsx
  tgui/packages/tgui/interfaces/RoboticsControl/CyborgStatuses.tsx
  tgui/packages/tgui/interfaces/RoboticsControl/GhostdroneStatuses.tsx
  tgui/packages/tgui/interfaces/RoboticsControl/RoboticsControlIcon.tsx
  tgui/packages/tgui/interfaces/RoboticsControl/index.tsx
  tgui/packages/tgui/interfaces/RoboticsControl/type.ts
Labels: C-QoL, A-UI, size/XL, A-Game-Objects

#22375 Add new Syndicate Rocket Drone to debris field
  code/datums/limb.dm
  code/modules/projectiles/bullet.dm
  code/obj/critter/drone.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/kinetic.dm
  icons/mob/critter/robotic/drone/rocket.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#22386 Add new Syndicate acid drone to debris field
  code/modules/projectiles/special.dm
  code/modules/status_system/statusEffects.dm
  code/modules/transport/pods/vehicle.dm
  code/obj/critter/drone.dm
Labels: C-Feature, size/M, A-Game-Objects

#22399 Fix runtime when whacking plasmastone things
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/materials/Mat_Materials.dm
Labels: C-Bug, C-Runtime, size/XS, A-Materials

#22329 Add pod afterburner component
  code/datums/effects/system/ion_trail_follow.dm
  code/datums/gamemodes/pod_wars/pw_manufacturing_.dm
  code/datums/manufacturing.dm
  code/datums/movement_controller/pod.dm
  code/modules/interface/multiContext/context_actions.dm
  code/modules/transport/pods/secondary_system.dm
  code/modules/transport/pods/shipcomponents.dm
  code/modules/transport/pods/vehicle.dm
  code/obj/machinery/manufacturer_subtypes.dm
  icons/obj/ship.dmi
Labels: C-Feature, C-Sprites, size/L, A-Game-Objects, A-Vehicles

#22400 Prevents players who are handcuffed and grabbed/pulled from diving into disposals.
  code/modules/disposals/disposal_chute.dm
Labels: C-Bug, C-Balance, size/XS, A-Player-Actions

#22349 Adds an icon_states() cache access proc
  code/WorkInProgress/construction/tools.dm
  code/WorkInProgress/customcritter.dm
  code/datums/mutantraces.dm
  code/mob/living/carbon/human/procs/update_icon.dm
  code/modules/hydroponics/plants.dm
  code/modules/materials/Mat_ProcsDefines.dm
  code/modules/minimap/minimap_objects/minimap_ui.dm
  code/modules/projectiles/bullet.dm
  code/obj/item.dm
  code/obj/item/clothing/suits.dm
  code/obj/item/clothing/uniforms.dm
  code/obj/item/mob_parts/human_parts.dm
  code/procs/Get_Flat_Icon.dm
Labels: C-Performance, size/M, A-Internal

#22095 Adds The Barberang
  code/datums/syndicate_buylist.dm
  code/mob/living/carbon/human.dm
  code/modules/barber/barber_shop.dm
Labels: C-Feature, size/M, A-Game-Objects

#22363 Field generators no longer spawn energy impact particles
  code/atom.dm
  code/modules/projectiles/projectile_parent.dm
  code/obj/machinery/singularity.dm
Labels: C-QoL, size/S, A-Game-Objects, S-Ready-For-Final-Review

#22351 Add new syndicate Maser drone to debris field
  code/modules/projectiles/laser.dm
  code/modules/transport/pods/MainWeapon.dm
  code/obj/critter/drone.dm
  icons/effects/64x64.dmi
  icons/mob/critter/robotic/drone/maser.dmi
  icons/obj/podweapons.dmi
Labels: C-Feature, C-Sprites, C-Balance, size/M, A-Game-Objects

#22393 Add weapons loader pod component
  code/datums/gamemodes/pod_wars/pw_manufacturing_.dm
  code/datums/manufacturing.dm
  code/modules/transport/pods/secondary_system.dm
  code/modules/transport/pods/shipcomponents.dm
  code/modules/transport/pods/vehicle.dm
  code/obj/machinery/manufacturer_subtypes.dm
  icons/mob/hud_pod.dmi
  icons/obj/ship.dmi
Labels: C-Feature, C-Sprites, size/L, A-Game-Objects, S-Ready-For-Final-Review, A-Vehicles

#22410 Pwars wide [MDB IGNORE]
  maps/config/pod_wars.dm
  maps/pod_wars.dmm
Labels: A-Mapping, size/XXL

#22428 Makes lastattacker a weakref
  code/WorkInProgress/MarqStuff.dm
  code/datums/abilities/critter/spit.dm
  code/datums/abilities/generic.dm
  code/mob.dm
  code/mob/living.dm
  code/mob/living/carbon/human/npc.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/critter/cryptid_plushie.dm
  code/mob/living/critter/sawfly.dm
  code/mob/living/critter/small_animal.dm
  code/mob/melee_attack_procs.dm
  code/modules/antagonists/changeling/abilities/spit.dm
  code/modules/antagonists/wizard/abilities/iceburst.dm
  code/modules/antagonists/wizard/abilities/kill.dm
  code/modules/antagonists/wizard/abilities/shock.dm
  code/modules/projectiles/special.dm
  code/modules/robotics/bot/guardbot.dm
  code/obj/critter/bee.dm
  code/obj/item/device/flash.dm
  code/obj/item/device/flash_pistol.dm
  code/obj/item/grab.dm
  code/obj/item/gun/gun_parent.dm
  code/obj/item/hydroponics.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/stun_baton.dm
  code/z_adventurezones/hemera.dm
Labels: size/M, A-Internal

#22436 Fix taking inverted lamps out of test equipment
  code/obj/artifacts/artifact_objects/lamp.dm
Labels: C-Bug, size/XS

#22413 Add Valuchimp to Nadir Science
  maps/nadir.dmm
Labels: A-Mapping, C-QoL, size/XS, A-Science

#22323 Add pod scout engine
  code/datums/gamemodes/pod_wars/pw_manufacturing_.dm
  code/datums/manufacturing.dm
  code/modules/transport/pods/engine.dm
  code/obj/machinery/manufacturer_subtypes.dm
  icons/obj/ship.dmi
Labels: C-Feature, C-Sprites, size/S, A-Game-Objects, A-Vehicles

#22455 Fix bug with pods not taking fuel when there is no secondary system.
  code/modules/transport/pods/vehicle.dm
Labels: C-Bug, size/S, A-Vehicles

#22451 Pod construction faster for engineers and podwars
  code/datums/jobs.dm
  code/modules/transport/pods/preassembled_frame_kit.dm
Labels: C-QoL, size/XS, A-Player-Actions

#22448 Engineer Specialist Manufacturer can print heavy firesuits
  code/datums/manufacturing.dm
  code/obj/machinery/manufacturer_subtypes.dm
Labels: C-Feature, size/S, A-Game-Objects

#22458 Changling "Grant Control" ability uses its own icon
  code/modules/antagonists/changeling/abilities/hivemind.dm
Labels: C-Bug, A-UI, size/XS

#22454 Fix atlas hotwire
  maps/atlas.dmm
Labels: C-Bug, A-Mapping, size/S

#22461 Prevent roaches and lizards from wasting a point on infravision
  code/datums/traits.dm
Labels: C-QoL, size/XS, A-Traits
