Repository goonstation/goonstation, pull requests merged in 2025-04, with the labels that each got.

#22820 Split some of Oshan engineering into inner engineering and label supply crates
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, size/L

#22825 Split donut2 brig cells into separate areas
  maps/donut2.dmm
Labels: A-Mapping, size/L

#22822 Add a multitool to the sequestered cloner prefab
  assets/maps/prefabs/space/prefab_sequestered_cloner.dmm
Labels: C-Bug, A-Mapping, size/XS

#22831 More proofreading
  code/obj/item/cigarette.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/deployable_turret.dm
  code/obj/item/kendo.dm
  code/obj/item/misc_junk.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/mousetrap.dm
  code/obj/item/pinpointer.dm
  code/obj/item/plants.dm
  code/obj/item/retribution.dm
  code/obj/item/scrapweapons.dm
  code/obj/item/scripture.dm
  code/obj/item/uplinks.dm
Labels: size/M

#22834 Stop Nadir power alert from erroneously shaming engineering
  code/datums/gameticker.dm
Labels: C-Bug, size/XS, A-Station-Systems

#22837 Stop TTV activation if you're unconscious/paralyzed
  code/obj/item/device/transfer_valve.dm
Labels: C-Bug, size/XS, A-Player-Actions, A-Game-Objects

#22835 Stop the pipes under windows in Clarion toxins from breaking
  maps/clarion.dmm
Labels: C-Bug, A-Mapping, size/M, A-Station-Systems

#22794 Characters with a missing eye get an eyepatch on spawn
  code/datums/part_customization.dm
  code/datums/traits.dm
  code/procs/jobprocs.dm
Labels: C-Feature, size/M, A-Traits

#22838 Sound of footsteps in the snow
  code/modules/sound/sound.dm
  code/modules/sound/soundCache.dm
  code/turf/floors.dm
  code/turf/floors_unsimulated.dm
  sound/misc/step/step_snow_01.ogg
  sound/misc/step/step_snow_02.ogg
  sound/misc/step/step_snow_03.ogg
Labels: C-Feature, C-Sound, size/S, A-Player-Actions

#22836 Fix the velvet railings in the fish exhibit random room
  assets/maps/random_rooms/5x3/fishexhibit.dmm
Labels: C-Bug, A-Mapping, size/S

#22857 Refactor human body part customization
  code/datums/part_customization.dm
Labels: C-Bug, size/L, A-Traits

#22806 Silver overdose turns you blue
  code/modules/chemistry/Reagents-Base.dm
Labels: C-Feature, size/S, A-Chemistry

#22803 Add artifact mining encounter
  code/modules/mining/mining_encounters.dm
Labels: C-Feature, size/S, A-Station-Systems

#22812 Add cordon ring around Nadir map edge
  maps/nadir.dmm
Labels: C-Bug, A-Mapping, size/XXL

#22862 Don't runtime on admins adding invalid bioEffect IDs
  code/modules/admin/admin.dm
  code/modules/admin/bioeffectmanager.dm
Labels: C-Bug, size/XS, A-Admin

#22860 Fix Syndicate Helmet camo
  code/obj/item/clothing/helmets.dm
Labels: C-Bug, size/XS, A-Clothing

#22843 Departmental circuitboard sprites
  code/obj/machinery/computer/buildandrepair.dm
  icons/obj/module.dmi
Labels: C-Sprites, size/M, A-Game-Objects

#22866 Fix cable coil sprite changing
  code/obj/item/cameras.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22867 Department ID computer board
  code/obj/machinery/computer/buildandrepair.dm
  code/obj/machinery/computer/card.dm
Labels: C-QoL, size/S, A-Game-Objects

#22853 Remove Securitrons from the Robotics fabricator
  code/datums/manufacturing.dm
  code/obj/machinery/manufacturer_subtypes.dm
Labels: C-Balance, E-Add-To-Wiki, size/S

#22813 Espresso variants for coffee drink recipes
  code/modules/chemistry/Chemistry-Recipes.dm
Labels: C-QoL, size/M, A-Catering

#22647 Shuffle some areas on donut3
  maps/donut3.dmm
Labels: A-Mapping, C-QoL, S-Stale, size/XL

#22422 Add Gunner Module pod component
  code/datums/gamemodes/pod_wars/pw_manufacturing_.dm
  code/datums/manufacturing.dm
  code/mob/living.dm
  code/modules/transport/pods/MainWeapon.dm
  code/modules/transport/pods/secondary_system.dm
  code/modules/transport/pods/vehicle.dm
  code/obj/machinery/manufacturer_subtypes.dm
  icons/mob/hud_pod.dmi
  icons/obj/ship.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects, A-Vehicles

#22855 Make SMES units mechscannable
  code/modules/power/smes.dm
Labels: C-Feature, size/XS, A-Game-Objects

#22819 Increase space phoenix damage against silicons
  code/modules/projectiles/bullet.dm
Labels: C-Balance, size/S, A-Gamemodes

#22873 Unit Test: Terrainify sanity check to try to limit simulated turfs
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/terrainify.dm
  code/modules/worldgen/mapgen/StorehouseGenerator.dm
Labels: C-Code-Quality, C-QoL, size/M

#22872 Snowprints 🦶❄️
  code/modules/animation/AnimationLibrary.dm
  code/turf/floors.dm
  code/turf/floors_unsimulated.dm
Labels: C-Feature, size/L, A-Player-Actions

#22878 Show Space Phoenix humans/critters collected as abilityHolder stats
  code/mob/living/critter/space_phoenix.dm
  code/modules/antagonists/space_phoenix/_phoenix_ability_holder.dm
  code/modules/antagonists/space_phoenix/space_phoenix.dm
  code/modules/status_system/statusEffects.dm
  goonstation.dme
Labels: C-Feature, size/M, A-Gamemodes

#22805 Fix record search cancelling in bankboss and medtrak
  code/modules/networks/computer3/bank_rec.dm
  code/modules/networks/computer3/med_rec.dm
  code/modules/networks/computer3/sec_rec.dm
Labels: C-Bug, size/S, A-Game-Objects

#22815 Tweak solar flare interaction with interdictors
  code/modules/events/solar_flare.dm
Labels: C-Balance, size/S, A-Game-Objects, A-Events

#22796 Add more critters to the gauntlet
  code/datums/gauntlet/crittergauntlet.dm
Labels: C-Feature, size/M

#22779 Ghost critters and small animals are no longer affected by ants.
  code/modules/chemistry/Reagents-Misc.dm
Labels: C-QoL, size/XS, A-Critters

#21781 Changeling Multistings
  code/modules/antagonists/changeling/abilities/stings.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/chemistry/Reagents-PoisonEtc.dm
  icons/mob/spell_buttons.dmi
Labels: C-Feature, C-Sprites, C-Balance, S-Stale, E-Add-To-Wiki, size/L, A-Gamemodes, A-Player-Actions

#22880 Lawbringer antagonist flavour text
  code/obj/item/gun/energy.dm
Labels: C-Feature, size/XS, A-Game-Objects

#22889 Add some doc comments for common atom level procs
  code/atom.dm
Labels: C-QoL, size/XS, A-Internal

#22778 Allow roundstart chaplain vampires
  code/datums/gamemodes/gm_parent.dm
Labels: C-Balance, C-Removal, size/XS, A-Respawning

#22744 Flatbed trains use overlays
  code/obj/railway.dm
  icons/obj/large/64x48.dmi
  maps/setpieces/lunaport.dmm
Labels: A-Mapping, C-Sprites, C-QoL, size/L, A-Game-Objects

#22737 Radio Ship Expansion
  _std/defines/landmarks.dm
  code/datums/jobs.dm
  code/modules/telescience/radiostation.dm
  code/obj/landmark.dm
  code/obj/mining.dm
  maps/z3.dmm
Labels: C-Feature, A-Mapping, size/XXL

#22690 Adds Denim Dress to the Clothing Booth
  code/modules/clothingbooth/groupings/wear_suits.dm
  code/modules/clothingbooth/items/wear_suits.dm
  code/obj/item/clothing/suits.dm
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/mob/monkey/overcoats.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
Labels: C-Feature, C-Sprites, size/M

#22673 Add MouseDrop to the Aquatic Research Terminal
  code/modules/fishing/fishing_gear.dm
Labels: C-QoL, size/XS

#22664 No movement modifier on light borg legs for humans
  code/obj/item/mob_parts/robot_parts.dm
Labels: C-Balance, S-Stale, size/XS

#22665 Add borg leg options in character customization
  code/datums/part_customization.dm
Labels: C-Feature, S-Merge-Conflict, size/S

#22896 Add dead state for Syndicate acid drone
  code/obj/critter/drone.dm
  icons/mob/critter/robotic/drone/acid.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#22898 Add missing directional sprites for acid drone death state
  icons/mob/critter/robotic/drone/acid.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Game-Objects

#22894 Prevent hardened APCs from being broken
  code/modules/power/apc.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22818 Reflective glasses emote
  code/WorkInProgress/Particles.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/obj/item/clothing/glasses.dm
  icons/mob/clothing/eyes.dmi
Labels: C-Sprites, size/M, A-Player-Actions

#22890 Revolution tracker announcement origin defines
  _std/defines/announcement_origins.dm
  code/datums/gamemodes/revolution.dm
  code/procs/command_alert.dm
Labels: C-Code-Quality, size/S, A-Events

#22886 Clean up HoP/customs areas between maps.
  code/area.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/density.dmm
  maps/unused/destiny.dmm
  maps/unused/fleet.dmm
  maps/unused/horizon.dmm
  maps/unused/manta.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/ozymandias.dmm
  maps/unused/trunkmap.dmm
  maps/wrestlemap.dmm
Labels: A-Mapping, C-Code-Quality, size/XXL

#22901 Remove some vestigal machinery from `machinery.dm`
  _std/machinery.dm
  code/obj/machinery.dm
  code/obj/machinery/sec_lock.dm
  goonstation.dme
Labels: C-Code-Quality, C-Removal, size/L, S-Ready-For-Final-Review

#22892 SMES units can be broken and fixed
  code/datums/components/equipment_fault.dm
  code/modules/power/smes.dm
Labels: C-Feature, size/M, A-Station-Systems

#22844 Use tryCast for Arcfiend ability checks
  code/modules/antagonists/arcfiend/abilities/arc_flash.dm
  code/modules/antagonists/arcfiend/abilities/discharge.dm
  code/modules/antagonists/arcfiend/abilities/jolt.dm
  code/modules/antagonists/arcfiend/abilities/ride_the_lightning.dm
  code/modules/antagonists/arcfiend/abilities/sap_power.dm
Labels: C-Balance, C-QoL, size/L, A-Gamemodes, A-Player-Actions

#22914 Rockworms no longer eat thier own poop
  code/mob/living/critter/mining_critter.dm
Labels: size/S

#22915 Fix critter gun limb ranged attacks not respecting low cooldowns
  code/mob/living/critter.dm
Labels: C-Bug, size/XS, A-Internal

#22868 Common unbreak_all_organs proc on organHolder
  code/datums/gamemodes/gangwar.dm
  code/mob/living/carbon/human.dm
  code/modules/antagonists/changeling/abilities/regeneration.dm
  code/obj/item/organ_holder.dm
Labels: C-Code-Quality, size/S, A-Internal

#22925 Add radio ship to the list of teleportable places.
  code/datums/teleport.dm
Labels: C-Feature, size/XS, A-Player-Actions

#22921 Buclear Nomb
  code/obj/machinery/nuclearbomb.dm
Labels: size/XS, A-Game-Objects, S-Ready-For-Final-Review

#22935 Pharmacy Chemical Locker
  code/obj/storage/secure_closets.dm
  icons/obj/large_storage.dmi
  maps/clarion.dmm
  maps/cogwip/ships.dmm
  maps/donut2.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/wrestlemap.dmm
  tools/UpdatePaths/Scripts/22935_pharmacy_locker.txt
Labels: A-Mapping, C-Sprites, A-Tooling, C-Code-Quality, size/M, A-Game-Objects

#22938 add animate option to player panel
  code/modules/admin/admin.dm
  code/modules/admin/buildmodes/animate.dm
  code/modules/admin/player_options.dm
Labels: C-Feature, size/L, A-Admin

#22869 Admin "Stablize" command
  code/mob.dm
  code/mob/living/carbon.dm
  code/mob/living/carbon/human.dm
  code/mob/living/life/Life.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_holder.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_options.dm
  code/modules/admin/randomverbs.dm
Labels: size/L, A-Admin

#22936 Fixes several typos in recipe code.
  code/datums/cookingrecipes.dm
Labels: C-Bug, size/S, A-Catering

#21058 Text to Music Component
  code/datums/components/music_player_auto_linker.dm
  code/datums/components/player_piano_auto_linker.dm
  code/modules/items/instruments/instrument_sound_bank.dm
  code/modules/items/instruments/instruments.dm
  code/modules/items/instruments/playable_piano.dm
  code/modules/items/instruments/text_to_music_datum.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/mechanics/MechanicsTextToMusicCom.dm
  code/modules/vending/vending.dm
  code/obj/item/book.dm
  goonstation.dme
  icons/misc/mechanicsExpansion.dmi
  strings/books/player_piano.txt
  strings/books/text_to_music_com.txt
Labels: C-Feature, C-Sprites, C-Rework, size/XXL, A-Game-Objects, S-Testmerged

#22871 Arcfiend Sap Power/Discharge Rework
  browserassets/src/tgui/tgui.bundle.css
  browserassets/src/tgui/tgui.bundle.js
  code/modules/antagonists/arcfiend/abilities/discharge.dm
  code/modules/antagonists/arcfiend/abilities/sap_power.dm
  code/modules/camera/camera.dm
  code/modules/chemistry/Chemistry-Dispenser.dm
  code/modules/chemistry/Chemistry-Machinery.dm
  code/modules/disposals/disposal_chute.dm
  code/modules/networks/computer3/computer3.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  code/modules/power/smes.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/modules/siphon/siphon_machinery.dm
  code/modules/vending/vending.dm
  code/obj/machinery.dm
  code/obj/machinery/arc_electroplater.dm
  code/obj/machinery/clonepod.dm
  code/obj/machinery/computer.dm
  code/obj/machinery/door/airlock.dm
  code/obj/machinery/manufacturer.dm
  code/obj/machinery/microwave.dm
  code/obj/machinery/weapon_racks.dm
  tgui/packages/tgui/interfaces/AlertContentWindows/acw/arcfiend.AlertContentWindow.tsx
Labels: C-Experimental, C-Rework, A-UI, size/L, A-Gamemodes

#22942 Adds skeleton head bball hoop animation
  code/obj/item/basketball.dm
  icons/obj/stationobjs.dmi
Labels: C-Sprites, size/XS

#22924 Mechanics Reconstruction Kit requires CE access to unlock
  code/modules/economy/supply_packs.dm
Labels: C-Balance, size/XS, A-Game-Objects

#22910 Allow whistles to be worn on belt
  code/modules/items/instruments/instruments.dm
  icons/mob/clothing/belt.dmi
Labels: C-Feature, C-Sprites, size/XS, A-Game-Objects

#22911 Nanotrasen Official Badge
  code/datums/jobs.dm
  code/obj/item/clothing/suits.dm
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/mob/inhand/overcoat/hand_suit_gimmick.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
Labels: C-Sprites, size/S, A-Clothing

#22928 Silicons use some power when attacking mobs with items
  code/mob/living/silicon.dm
Labels: C-Balance, size/XS, A-Silicons

#22963 Fix HoS things having varedited req_access_txt
  maps/cogmap.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/pamgoc.dmm
  maps/unused/mushroom_new_walls.dmm
Labels: A-Mapping, C-Code-Quality, size/S

#22964 Accurate pinpointer arrow
  code/modules/items/specials/ItemSpecials.dm
  code/obj/item/pinpointer.dm
Labels: C-QoL, size/S, A-Game-Objects

#22975 Artifact Name Consistency
  code/obj/artifacts/artifact_items/dimensional_key.dm
  code/obj/artifacts/artifact_items/gun_cell.dm
  code/obj/artifacts/artifact_items/power_cell.dm
  code/obj/artifacts/artifact_machines/emoter.dm
  code/obj/artifacts/artifact_machines/gas_radiator.dm
  code/obj/artifacts/artifact_machines/plant_helper.dm
  code/obj/artifacts/artifact_objects/augmentor.dm
  code/obj/artifacts/artifact_objects/borgifier.dm
Labels: C-QoL, size/S, A-Science

#22979 Fix fast pod bug
  code/modules/transport/pods/engine.dm
Labels: C-Bug, size/XS, A-Vehicles

#22967 Fix some critter special attacks having no click delay
  code/datums/limb.dm
  code/mob/living/critter.dm
Labels: C-Bug, size/XS, A-Player-Actions

#22749 Minor ID Computer cleanup
  code/datums/jobs.dm
  code/obj/machinery/computer/card.dm
Labels: C-Code-Quality, size/M, A-Internal

#22956 Fix remove_any_except() not working correctly
  code/modules/chemistry/Chemistry-Holder.dm
Labels: C-Bug, size/S, A-Internal

#22817 Add a floor-only wandering AI and apply to small animals
  code/mob/living/critter/ai/bunny.dm
  code/mob/living/critter/ai/cat.dm
  code/mob/living/critter/ai/dog.dm
  code/mob/living/critter/ai/generic_aiholders.dm
  code/mob/living/critter/ai/mouse.dm
  code/mob/living/critter/ai/roach.dm
  code/mob/living/critter/ai/shared.dm
  code/mob/living/critter/small_animal.dm
Labels: C-Feature, size/M, A-AI

#22676 Redesign Main Loop Context away from JQuery/Bootstrap
  browserassets/src/css/processScheduler.css
  browserassets/src/js/processScheduler.js
  code/modules/admin/processSchedulerView.dm
Labels: S-Merge-Conflict, E-Certified-Organic, A-UI, size/L, A-Admin, A-Internal

#22993 Fix buried gauntlet critters not counting towards alive critter count
  code/datums/components/gauntlet_critter.dm
  code/datums/gauntlet/crittergauntlet.dm
Labels: C-Bug, size/S

#23001 Do not compost worn flowers
  code/modules/chemistry/tools/dispensers.dm
Labels: C-Bug, size/XS, A-Clothing

#22961 Admin command: animate all mobs
  code/modules/admin/admin.dm
  code/modules/admin/buildmodes/animate.dm
  code/modules/animation/AnimationLibrary.dm
Labels: C-Feature, size/M, A-Admin

#22759 Let people hit cyborgs with tools
  code/mob/living/silicon/robot.dm
Labels: C-Bug, size/XS

#22968 Fixes nudge emote for monkeys
  code/obj/item/clothing/glasses.dm
Labels: C-Sprites, size/XS, A-Game-Objects

#22996 Clean Syndieop access
  code/datums/jobs.dm
  code/procs/access.dm
Labels: C-Code-Quality, size/S, A-Respawning

#23002 Cairngorm Improvements
  _std/defines/landmarks.dm
  code/datums/gamemodes/nuclear.dm
  code/obj/machinery/door/door_control.dm
  maps/z2.dmm
Labels: C-Feature, A-Mapping, size/L

#22974 Make Glass Eyes Free
  code/datums/part_customization.dm
Labels: C-Balance, size/S, A-Traits, S-Ready-For-Final-Review

#22115 `/obj/item/assembly`-Rework
  _std/defines/component_defines/component_defines_atom.dm
  _std/defines/item.dm
  _std/macros/items.dm
  code/datums/actions/actions.dm
  code/datums/components/assembly_comp.dm
  code/mob/living/carbon/human.dm
  code/mob/living/critter.dm
  code/modules/admin/bomb_monitor.dm
  code/modules/atmospherics/portable/canister.dm
  code/modules/chemistry/tools/beakers.dm
  code/modules/chemistry/tools/bombs.dm
  code/modules/chemistry/tools/grenades.dm
  code/modules/food_and_drink/pies.dm
  code/modules/items/instruments/instruments.dm
  code/modules/power/cell.dm
  code/modules/storage/storage.dm
  code/obj/item.dm
  code/obj/item/assembly/detonator.dm
  code/obj/item/assembly/misc_assemblies.dm
  code/obj/item/assembly/single_tank_bomb.dm
  code/obj/item/cable_coil.dm
  code/obj/item/clothing/armor.dm
  code/obj/item/device/brainjar.dm
  code/obj/item/device/flash.dm
  code/obj/item/device/igniter.dm
  code/obj/item/device/infrared_stuff.dm
  code/obj/item/device/multitool.dm
  code/obj/item/device/prox_sensor.dm
  code/obj/item/device/radio.dm
  code/obj/item/device/scanners.dm
  code/obj/item/device/timer.dm
  code/obj/item/gift.dm
  code/obj/item/grenades.dm
  code/obj/item/kitchen.dm
  code/obj/item/mine.dm
  code/obj/item/mob_parts/robot_parts.dm
  code/obj/item/mousetrap.dm
  code/obj/item/tank.dm
  code/obj/machinery/arc_electroplater.dm
  code/obj/spawner.dm
  code/obj/storage/large_storage_parent.dm
  code/procs/scanprocs.dm
  goonstation.dme
  icons/obj/items/assemblies.dmi
  maps/z2.dmm
Labels: C-Bug, C-Sprites, E-Input-Wanted, C-Rework, E-Certified-Organic, E-Add-To-Wiki, size/XXL, A-Game-Objects

#23010 stop artifact faults making dead things speak
  code/obj/artifacts/faults.dm
Labels: C-Bug, size/XS, A-Game-Objects

#23017 Fix Instrument Sound Bank Bug
  code/modules/items/instruments/instrument_sound_bank.dm
  code/modules/items/instruments/instruments.dm
Labels: C-Bug, P-Major, C-Runtime, size/XS, A-Internal

#23012 Stop ghost drones from picking up special wizard staffs
  code/datums/actions/actions.dm
  code/obj/item/magtractor.dm
  code/obj/item/misc_wizard_stuff.dm
Labels: C-Bug, size/S, A-Game-Objects

#23013 Prevent click-drag reloading on the off-hand from eating items
  code/obj/item.dm
Labels: C-Bug, size/S, A-Player-Actions

#23011 Fix some cargo pads not sending PDA notifications
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/density2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, size/L, A-Station-Systems

#23015 fix dimensional key OOB when buckled
  code/obj/artifacts/artifact_items/dimensional_key.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22978 Nerf cerberus rockets a little
  code/modules/projectiles/bullet.dm
  code/modules/transport/pods/MainWeapon.dm
Labels: C-Balance, size/XS, A-Vehicles

#23025 Fix test_to_music iteration target
  code/modules/items/instruments/text_to_music_datum.dm
Labels: C-Bug, size/XS

#23026 Fix runtimeDetails crash error
  code/error_handling.dm
  code/world/initialization/1_preMapLoad.dm
Labels: C-Bug, C-Runtime, size/XS

#23036 Falling while juggling assemblies can secure and set them off
  code/mob/living/carbon/human.dm
Labels: C-Feature, size/XS, A-Game-Objects

#23035 Fully integrate pipebombs into the assembly-system
  code/datums/syndicate_buylist.dm
  code/mob/living/carbon/human.dm
  code/modules/events/white_hole.dm
  code/obj/item/assembly/misc_assemblies.dm
  code/obj/item/device/igniter.dm
  code/obj/item/grenades.dm
  code/obj/storage/crates.dm
  code/obj/storage/secure_crates.dm
  icons/obj/items/assemblies.dmi
Labels: C-Sprites, C-Rework, size/L, A-Game-Objects

#23033 Fix computer_screens.dmi being unable to open with vsc extension
  icons/obj/computer_screens.dmi
Labels: C-Sprites, size/XS, A-Internal

#23018 Fix construction for SMES units
  code/modules/power/smes.dm
  code/modules/power/terminal.dm
Labels: C-Bug, size/M, A-Game-Objects

#22937 Commonly mapped crates
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield9c.dmm
  code/obj/storage/secure_crates.dm
  maps/atlas.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/setpieces/wetworks.dmm
  maps/unused/fleet.dmm
  maps/unused/ozymandias.dmm
  maps/unused/setpieces/SHARED_biodomeExpanded.dmm
  tools/UpdatePaths/Scripts/22937_commonly_mapped_crates.txt
Labels: A-Mapping, A-Tooling, C-Code-Quality, size/L

#22940 Change armory racks to armory access
  code/obj/machinery/weapon_racks.dm
  maps/setpieces/siegecamp.dmm
  maps/setpieces/wetworks.dmm
Labels: A-Mapping, C-Balance, E-Add-To-Wiki, size/XS, A-Game-Objects

#22865 Playerdorf removal
  _std/macros/antag_popups.dm
  browserassets/src/tgui/tgui.bundle.js
  code/datums/abilities/zoldorfabilities.dm
  code/datums/zoldorfitems.dm
  code/mob.dm
  code/mob/living.dm
  code/mob/living/life/Life.dm
  code/mob/living/seanceghost.dm
  code/mob/suicide.dm
  code/mob/zoldorfmob.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-Base.dm
  code/modules/vending/vending.dm
  code/obj/item/device/radio.dm
  code/obj/item/zoldorfmisc.dm
  code/obj/zoldorf.dm
  code/procs/helpers.dm
  code/procs/mobprocs/chatprocs.dm
  goonstation.dme
  tgui/packages/tgui/interfaces/AlertContentWindows/acw/souldorf.AlertContentWindow.tsx
  tgui/packages/tgui/interfaces/AlertContentWindows/acw/zoldorf.AlertContentWindow.tsx
  tgui/packages/tgui/interfaces/ZoldorfPlayerShop/index.tsx
  tgui/packages/tgui/interfaces/ZoldorfPlayerShop/type.ts
Labels: C-Removal, A-UI, E-Add-To-Wiki, size/XXL, A-Player-Actions

#22908 Radioactive clothing and items makes you glow
  code/datums/components/radioactive.dm
Labels: C-Feature, size/XS, A-Game-Objects

#23034 Old computer cleanup
  code/modules/holiday/halloween.dm
  code/modules/networks/computer3/computer3.dm
  code/obj/machinery/computer.dm
  code/obj/machinery/computer/atmosphere.dm
  code/obj/machinery/computer/buildandrepair.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/computer/general_air_control.dm
  code/obj/machinery/computer/hologram_comp.dm
  code/obj/random_spawners.dm
  goonstation.dme
  maps/z3.dmm
Labels: A-Mapping, C-Code-Quality, size/XL, A-Station-Systems

#22958 Allow admins to change the type of meteors for custom meteor shower events
  _std/text.dm
  code/modules/admin/buildmodes/throw.dm
  code/modules/events/meteor_shower.dm
Labels: C-Feature, size/L, A-Admin

#22986 Id card Gold/NT icon state name improvement
  code/WorkInProgress/Hydrothings.dm
  code/WorkInProgress/mantaObjects.dm
  code/mob/living/critter/bee.dm
  code/modules/economy/shady_robot.dm
  code/obj/critter/bee.dm
  code/obj/item/card.dm
  code/obj/machinery/computer/card.dm
  icons/mob/clothing/card.dmi
  icons/obj/items/card.dmi
Labels: C-Sprites, size/M, A-Internal

#22950 Rework air scrubber power and fix some related bugs
  code/modules/atmospherics/portable/scrubber.dm
Labels: C-Bug, C-Rework, E-Add-To-Wiki, size/S, A-Game-Objects, A-Chemistry, S-Testmerged

#22982 Camera networks use defines and remove most related map varedits
  _std/__std.dme
  _std/defines/camera.dm
  _std/defines/camera_coverage.dm
  assets/maps/allocated/htr_purge_ship.dmm
  assets/maps/allocated/htr_team_ship.dmm
  assets/maps/prefabs/space/prefab_merc_outpost.dmm
  assets/maps/prefabs/underwater/nadir/prefab_water_nadirelevator.dmm
  assets/maps/prefabs/underwater/nadir_safe/prefab_water_sketchy.dmm
  assets/maps/prefabs/underwater/nadir_unsafe/prefab_water_beetrader.dmm
  assets/maps/random_rooms/3x5/coffeebar.dmm
  assets/maps/random_rooms/5x3/coffebar.dmm
  code/datums/gauntlet/crittergauntlet.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/ai/ai_abilities.dm
  code/mob/living/silicon/hivebot.dm
  code/mob/living/silicon/robot.dm
  code/modules/camera/camera.dm
  code/modules/camera/monitor.dm
  code/modules/camera/television.dm
  code/modules/events/faults.dm
  code/modules/events/ion_storm.dm
  code/modules/robotics/bot/bot_parent.dm
  code/obj/item/clothing/helmets.dm
  code/obj/item/organs/eye.dm
  code/obj/item/stickers.dm
  code/obj/machinery/computer/buildandrepair.dm
  code/obj/machinery/computer/security.dm
  code/obj/machinery/computer/security/security_cameras_chui.dm
  code/obj/machinery/tv_vis.dm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/density2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/setpieces/wetworks.dmm
  maps/setpieces/xg6_fermidzone.dmm
  maps/z2.dmm
  maps/z3.dmm
  maps/z5.dmm
Labels: A-Mapping, C-Code-Quality, C-Rework, size/XL

#23057 fix custom meteor showers overwriting default shower name
  code/modules/events/meteor_shower.dm
Labels: C-Bug, size/S, A-Events

#23056 Fix Basic, Gold and NT ID in PDA sprites.
  icons/obj/items/pda.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Game-Objects

#23052 Pick up empty paper bins with empty hands
  code/modules/writing/paper.dm
Labels: C-Bug, C-QoL, size/S, A-Game-Objects

#23049 Throw people into washing machines
  code/WorkInProgress/laundry.dm
Labels: C-Feature, size/S, A-Game-Objects

#22789 Add rare metal mining event
  code/modules/materials/Mat_RawMaterials.dm
  code/modules/mining/mining_encounters.dm
  code/modules/mining/ore.dm
  code/modules/mining/tile_events.dm
  code/modules/telescience/telescope/telescopeMisc.dm
  code/obj/item/material.dm
  icons/obj/items/mining.dmi
  icons/obj/materials.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/M, A-Game-Objects

#23053 Set the on-spawn timer of timers and proximity sensors to 5 seconds
  code/obj/item/assembly/misc_assemblies.dm
  code/obj/item/device/prox_sensor.dm
  code/obj/item/device/timer.dm
Labels: C-Balance, size/XS, A-Game-Objects

#23054 Remove redundant mine code handling dumping out live mines out of storages
  code/modules/storage/storage.dm
Labels: C-Code-Quality, size/XS, A-Internal

#23069 Cancelling camera view as a skeleton puts you back in your head
  code/mob/living/carbon/human.dm
Labels: C-Bug, size/XS, A-Mutantraces

#23078 Security badge crops "NT" from the start of job titles
  code/obj/item/clothing/suits.dm
Labels: C-QoL, size/XS, A-Player-Actions

#23024 Makes chem condensers cheaper
  code/datums/manufacturing.dm
Labels: C-Balance, size/XS

#23080 SMES gene is rarer, but can be made with a gene combination
  code/modules/medical/genetics/bioEffects/beneficial.dm
  code/modules/medical/genetics/combo_recipes.dm
Labels: C-Balance, size/XS, A-Player-Actions

#22988 Pod wars headsets use frequencies
  code/datums/gamemodes/pod_wars/pw_misc_objects.dm
  code/datums/gamemodes/pod_wars/pw_team.dm
  code/datums/jobs.dm
Labels: C-QoL, size/M, A-Gamemodes

#23095 Make adding target items or additional items onto assemblies put it in your hand.
  code/obj/item/assembly/misc_assemblies.dm
Labels: C-Bug, size/XS, A-Game-Objects

#23096 Arcfiends see a point popup when gaining power
  code/modules/antagonists/arcfiend/abilities/sap_power.dm
Labels: C-Feature, size/XS, A-Gamemodes

#23076 You can load staples into zip guns from staple guns/staplers
  code/modules/medical/surgery_tools.dm
  code/obj/item/gun/kinetic.dm
Labels: C-Feature, size/M, A-Game-Objects

#23066 Name weak buckshot "muckshot"
  code/modules/projectiles/bullet.dm
  code/obj/item/gun/ammo.dm
Labels: C-QoL, size/XS, A-Game-Objects

#23087 Fix blood steal triggering cooldown when target too far away
  code/modules/antagonists/vampire/abilities/blood_steal.dm
Labels: size/S

#23092 516 CSS reloading
  browserassets/src/tgui/tgui.html
Labels: C-Bug, A-UI, size/S

#23091 Lower gang armor cost
  code/datums/gamemodes/gangwar.dm
Labels: C-Balance, size/XS

#23090 Integrates butts into assemblies and replace buttbombs with trigger/igniter/butt assemblies
  code/obj/item/assembly/misc_assemblies.dm
  code/obj/item/device/igniter.dm
  code/obj/item/gift.dm
  code/obj/item/grenades.dm
  code/obj/item/mousetrap.dm
  code/obj/item/organs/butt.dm
  code/z_adventurezones/space_casino.dm
  icons/obj/items/assemblies.dmi
Labels: C-Feature, C-Sprites, C-Rework, size/L, A-Game-Objects

#23107 correctly paths a nanofab off its parent on mushroom
  maps/unused/mushroom_new_walls.dmm
Labels: A-Mapping, size/XS

#23112 Fixes the recipe for Sausage Macguffins
  code/datums/cookingrecipes.dm
Labels: C-Bug, size/XS

#23070 AI-only cameras use separate network
  _std/defines/camera.dm
  code/mob/living/silicon/ai.dm
  code/modules/camera/camera.dm
  code/modules/camera/monitor.dm
  code/obj/machinery/computer/security.dm
  code/obj/machinery/computer/security/security_cameras_chui.dm
Labels: C-Rework, size/S, A-Silicons, A-Station-Systems

#23072 Remove shady_robot.dm
  code/modules/economy/shady_robot.dm
  goonstation.dme
Labels: C-Removal, size/XL, A-Internal

#23044 Give white hole thrown objects some wall phasing
  _std/defines/atom.dm
  code/datums/controllers/throwing_controls.dm
  code/modules/admin/buildmodes/throw.dm
  code/modules/events/white_hole.dm
Labels: C-Balance, size/S, S-Ready-For-Final-Review, A-Events

#23140 Allow plasmastone to be added to pipe bombs
  code/obj/item/grenades.dm
Labels: C-Bug, size/XS, A-Game-Objects

#23114 Wiki button now opens your job's wiki page
  code/interface.dm
Labels: C-QoL, size/XS, A-Player-Actions

#23120 Reduces ocean clutter to improve client performance
  code/modules/fluids/fluid_turf.dm
Labels: C-Performance, size/S

#23149 Fix vr pod copy/paste
  assets/maps/random_rooms/3x3/miniarcade.dmm
  code/WorkInProgress/simroom.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/concept_fixed.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/destiny.dmm
  maps/unused/horizon.dmm
  maps/unused/manta.dmm
  maps/unused/mushroom_new_walls.dmm
  maps/unused/ozymandias.dmm
  maps/unused/trunkmap.dmm
  maps/wrestlemap.dmm
  maps/z2.dmm
  tools/UpdatePaths/Scripts/23149_vr_bed_default_network.txt
Labels: C-Bug, A-Mapping, A-Tooling, size/L

#23143 add area check for random rooms
  assets/maps/random_rooms/3x3/duckbot_80.dmm
  assets/maps/random_rooms/3x3/fakeboardisplay.dmm
  assets/maps/random_rooms/3x3/strangeflower_50.dmm
  assets/maps/random_rooms/3x3/summoning.dmm
  assets/maps/random_rooms/3x5/SLUGZONE_5.dmm
  assets/maps/random_rooms/3x5/cabeeno_75.dmm
  assets/maps/random_rooms/3x5/fishingtrip.dmm
  assets/maps/random_rooms/5x3/cats.dmm
  assets/maps/random_rooms/5x3/gamerpad.dmm
  assets/maps/random_rooms/5x3/robotspoker.dmm
  assets/maps/random_rooms/5x3/sugarrush.dmm
  assets/maps/random_rooms/5x3/teaparty_40.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield1a.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield1b.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield1c.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield1d_50.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield2a.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield2b.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield2c.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield3a.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield3b.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield3c.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield4a.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield4b.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield4c.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield5a.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield5b.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield5c.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield5d_50.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield6a.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield6b.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield6c.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield7a.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield7b.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield7c.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield8a.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield8b.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield8c.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield9a.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield9b.dmm
  assets/maps/random_rooms/nadir_rocks/7x5/rockfield9c.dmm
  code/modules/worldgen/RandomRoomRuntimeChecker.dm
  tools/ci/check_grep.sh
Labels: A-Mapping, A-Tooling, C-Code-Quality, size/L

#23141 Unglue anything when an object is deconstructed
  code/atom.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/obj.dm
Labels: C-Balance, size/S, A-Chemistry

#23037 Lawyer Legal License "badge" and all job badges use paths
  code/datums/jobs.dm
  code/obj/item/clothing/suits.dm
  code/procs/jobprocs.dm
Labels: C-Feature, size/M, A-Game-Objects

#23101 CBD Pill
  code/modules/chemistry/tools/pills.dm
  code/modules/economy/commodity.dm
  code/modules/economy/trader.dm
  code/obj/item/storage/med_chem.dm
  icons/obj/items/pills.dmi
Labels: C-Feature, C-Sprites, size/S, A-Chemistry

#23144 Add office for Glowbold
  code/z_adventurezones/earth.dm
  maps/z2.dmm
Labels: C-Feature, A-Mapping, size/XXL

#22846 Stop ghostdrones/critters from using chem grenades
  code/modules/chemistry/tools/grenades.dm
Labels: C-Bug, size/XS, A-Player-Actions

#23100 Set other people's internals for belt, hands, & pocket slots
  code/datums/actions/actions.dm
  code/datums/inventory.dm
Labels: C-Bug, size/M, A-Player-Actions

#23042 Remove req_access_txt from carts
  maps/cogwip/kappa.dmm
  maps/kondaru.dmm
  maps/oshan.dmm
  maps/pamgoc.dmm
  maps/unused/crash_gimmick.dmm
  maps/unused/manta.dmm
  maps/unused/ozymandias.dmm
  maps/unused/trunkmap.dmm
Labels: A-Mapping, size/L

#23041 Replace customs bank records computer with personnel management computer
  code/modules/networks/computer3/computer3.dm
  icons/obj/computer.dmi
  icons/obj/computer_screens.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/density2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
  maps/wrestlemap.dmm
Labels: C-Feature, A-Mapping, C-Sprites, size/M, A-Game-Objects

#22984 Further ID computer improvements
  code/obj/machinery/computer/card.dm
Labels: C-Code-Quality, size/M, A-Internal

#22985 Refactor NTSC baton state changing
  code/obj/item/stun_baton.dm
Labels: C-Code-Quality, size/M, A-Internal

#22930 Add Roman Candles
  code/WorkInProgress/Particles.dm
  code/modules/projectiles/special.dm
  code/modules/sound/soundCache.dm
  code/obj/decorations.dm
  code/obj/item/grenades.dm
  sound/effects/firework_pop.ogg
  sound/effects/firework_shoot.ogg
Labels: C-Feature, C-Sound, size/L, A-Game-Objects

#22923 Add sunglasses and wide smile ai faces
  code/mob/living/silicon/ai.dm
  icons/mob/ai.dmi
  icons/obj/status_display.dmi
Labels: C-Feature, C-Sprites, size/XS, A-AI

#22290 Allow Modifier Keybinds
  browserassets/src/tgui/tgui.bundle.css
  browserassets/src/tgui/tgui.bundle.js
  tgui/packages/tgui/interfaces/Keybinds/Keybind.tsx
  tgui/packages/tgui/interfaces/Keybinds/formatKeyboardEvent.ts
Labels: C-Bug, S-Merge-Conflict, S-Stale, A-UI, size/M
