Repository goonstation/goonstation, pull requests merged in 2025-05, with the labels that each got.

#23232 Fixes Tommy Guillaume figurine spelling error.
  code/modules/items/gimmick/figurine.dm
Labels: size/XS, A-Game-Objects

#23243 Fixes no ID computer in mushroom customs #23223
  maps/mushroom.dmm
Labels: A-Mapping, size/XS

#23242 change DegradeFromCenter mining generation to use ReplaceWith
  code/modules/mining/mining_encounters.dm
Labels: C-Runtime, size/XS, A-Station-Systems

#23248 Fix some pod engines causing hyperspeed pods
  code/modules/transport/pods/engine.dm
Labels: C-Bug, size/XS, A-Vehicles

#23246 Add and tweak some antagonist wiki links
  code/modules/antagonists/changeling/changeling_critter.dm
  code/modules/antagonists/conspirator/conspirator.dm
  code/modules/antagonists/eldritch_madness/broken.dm
  code/modules/antagonists/salvager/salvager.dm
  code/modules/antagonists/slasher/slasher.dm
  code/modules/antagonists/traitor/mindhack.dm
Labels: C-QoL, size/XS, A-Gamemodes

#23218 add logging for pulling a gang crate
  code/obj/storage/gang_crate.dm
Labels: C-QoL, size/XS, A-Admin

#23256 Fix sec headset description
  code/obj/item/device/radios/headsets.dm
Labels: C-Bug, size/XS, A-Game-Objects

#23203 Security labelling changes
  code/obj/submachine/weapon_vendor.dm
  code/procs/jobprocs.dm
Labels: C-QoL, size/XS, A-Game-Objects

#23199 First aid kits no longer get health analyzers
  code/modules/economy/requisition/rc_aid.dm
  code/modules/medical/medicaldiagnosis.dm
  code/modules/vending/vending.dm
  code/obj/item/storage/med_chem.dm
Labels: C-Balance, E-Input-Wanted, size/M, A-Medical

#23267 add antag icons for broken, flockmind, flocktrace, and conspirator
  code/modules/antagonists/conspirator/conspirator.dm
  code/modules/antagonists/eldritch_madness/broken.dm
  code/modules/antagonists/flockmind/flockmind.dm
  code/modules/antagonists/flockmind/flocktrace.dm
  icons/mob/antag_overlays.dmi
Labels: C-Sprites, C-QoL, size/XS

#23271 Fix ID computer plain ID sprite
  code/obj/machinery/computer/card.dm
Labels: C-Bug, A-UI, size/XS

#22932 Vampire ability to shroud in dark areas
  _std/macros/atom_properties.dm
  code/mob.dm
  code/mob/living/carbon/human/procs/get_desc.dm
  code/modules/antagonists/vampire/abilities/vamp_cloak.dm
  code/modules/antagonists/vampire/vampire.dm
  code/modules/medical/genetics/bioEffects/beneficial.dm
Labels: C-Feature, E-Input-Wanted, E-Add-To-Wiki, size/L, A-Gamemodes

#20352 'Toggle Scope' item ability
  _std/defines/component_defines/component_defines_special.dm
  code/WorkInProgress/AbilityItem.dm
  code/datums/components/sniper_scope.dm
  code/datums/movement_controller/sniper.dm
  code/modules/overlays/OverlayManager.dm
  code/obj/item/cameras.dm
  code/obj/item/gun/gun_parent.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/nuclear_operative/designator.dm
  icons/misc/abilities.dmi
Labels: C-Feature, C-Sprites, C-Balance, size/M, A-Game-Objects

#23184 Cleanup turtle update_icon
  code/mob/living/critter/small_animal.dm
Labels: C-Code-Quality, size/M, A-Critters

#23280 add help text for portable recharge bay
  code/obj/item/storage/backpack_belt_etc.dm
Labels: C-QoL, size/XS, A-Game-Objects

#23279 pointblanks respect and set shoot delay
  code/obj/item/gun/gun_parent.dm
Labels: C-Bug, size/XS, A-Game-Objects

#23186 Readds the secondary safe Senex azone point
  code/modules/networks/computer3/disks.dm
  code/obj/landmark.dm
  maps/z2.dmm
Labels: A-Mapping, size/XS

#23093 Moves most cooking-related code into a single module
  code/modules/cooking/cookingrecipes.dm
  code/modules/cooking/deep_fryer.dm
  code/modules/cooking/food_and_drink/alcohol.dm
  code/modules/cooking/food_and_drink/bread.dm
  code/modules/cooking/food_and_drink/cakes.dm
  code/modules/cooking/food_and_drink/candy.dm
  code/modules/cooking/food_and_drink/condiments.dm
  code/modules/cooking/food_and_drink/discount_dans.dm
  code/modules/cooking/food_and_drink/drinks.dm
  code/modules/cooking/food_and_drink/eggs.dm
  code/modules/cooking/food_and_drink/ice_cream.dm
  code/modules/cooking/food_and_drink/ingredients.dm
  code/modules/cooking/food_and_drink/pies.dm
  code/modules/cooking/food_and_drink/pizza.dm
  code/modules/cooking/food_and_drink/plants.dm
  code/modules/cooking/food_and_drink/popsicles.dm
  code/modules/cooking/food_and_drink/sandwiches.dm
  code/modules/cooking/food_and_drink/snacks.dm
  code/modules/cooking/gibber.dm
  code/modules/cooking/kitchen_items.dm
  code/modules/cooking/kitchen_submachines.dm
  code/modules/cooking/kitchenspike.dm
  code/modules/cooking/microwave.dm
  code/modules/cooking/microwave_recipes.dm
  code/modules/cooking/mixer.dm
  code/modules/cooking/shitty_grill.dm
  code/modules/cooking/soup.dm
  code/obj/item/bathbomb.dm
  goonstation.dme
Labels: C-Code-Quality, size/M

#23268 add a bunch of status displays to Nadir
  maps/nadir.dmm
Labels: A-Mapping, C-QoL, size/M

#23225 Buff Trainee Roles
  code/datums/jobs.dm
  code/modules/vending/jobclothing.dm
  code/obj/item/device/pda2/pda2.dm
Labels: C-Balance, size/S, A-Respawning

#23284 Mental Health First Aid Kits
  code/datums/jobs.dm
  code/obj/item/storage/med_chem.dm
  code/obj/storage/secure_closets.dm
  icons/mob/inhand/hand_storage.dmi
  icons/obj/items/storage.dmi
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-Sprites, size/S

#23251 Don't random warp into listening post
  code/modules/events/wormholes.dm
Labels: C-Bug, size/XS, S-Ready-For-Final-Review, A-Events

#23272 Changes podbay door frequency to an odd number
  _std/packets.dm
Labels: C-QoL, size/XS, A-Station-Systems

#23294 Fix canbombs detonating at the place they were build
  code/obj/item/assembly/misc_assemblies.dm
Labels: C-Bug, size/XS, A-Game-Objects

#23288 Adds basic botany equipment to Fortuna
  maps/pod_wars.dmm
Labels: A-Mapping, size/M, A-Gamemodes

#23257 movement delays apply/remove instantly
  _std/macros/movement_modifiers.dm
  code/mob.dm
  code/mob/input.dm
Labels: C-Balance, size/M

#23311 Say Rework Fixbatch I
  _std/defines/speech_defines/sayflags.dm
  code/mob/living/silicon/robot.dm
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
  code/modules/speech/modules/speech/modifiers/mob_modifiers.dm
  code/modules/speech/modules/speech/outputs/equipped.dm
  code/modules/speech/modules/speech/prefixes/ai_radio.dm
  code/modules/speech/modules/speech/prefixes/intercom.dm
  code/modules/speech/modules/speech/prefixes/left_hand.dm
  code/modules/speech/modules/speech/prefixes/radio.dm
  code/modules/speech/modules/speech/prefixes/right_hand.dm
  code/obj/machinery/sleeper.dm
Labels: C-Bug, size/M

#23314 Modernise AI Programming 101
  icons/obj/writing.dmi
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/neon.dmm
  maps/oshan.dmm
  strings/books/ai_programming_101.txt
Labels: A-Mapping, C-Sprites, size/M

#23045 Emitter EMAG act: blocks silicon interaction
  code/obj/machinery/singularity.dm
Labels: C-Feature, S-Stale, size/S, A-Game-Objects

#22920 Access-locks the Atlas mass driver
  maps/atlas.dmm
Labels: A-Mapping, size/M

#22792 Add flock mining encounter
  assets/maps/mining_magnet/flock.dmm
  code/mob/living/critter/flockcritter_parent.dm
  code/modules/mining/mining_encounter_objects.dm
  code/modules/mining/mining_encounters.dm
  code/modules/writing/papers.dm
  code/obj/item/rcd/rcd.dm
  code/turf/turf_flock.dm
  goonstation.dme
  icons/misc/featherzone.dmi
Labels: C-Feature, A-Mapping, C-Sprites, S-Merge-Conflict, E-Add-To-Wiki, size/XL, A-Station-Systems

#23325 Say Rework Fixbatch II
  code/mob/dead/hivemind_observer.dm
  code/mob/living/silicon/ai.dm
  code/modules/speech/modules/listen/inputs/outloud/ears.dm
  code/obj/artifacts/triggers.dm
Labels: C-Bug, size/S

#23317 do not give vr wizards headsets
  code/modules/antagonists/wizard/wizard.dm
Labels: C-Bug, size/XS, A-Gamemodes

#23241 Spawned material pieces take on name of material automatically
  code/modules/materials/Mat_RawMaterials.dm
Labels: C-Bug, size/XS, A-Game-Objects

#23335 "Default Laws" option in set fake laws
  code/mob/living/silicon.dm
Labels: C-QoL, size/S, A-Player-Actions, A-Silicons

#23339 Say Rework Fixbatch III
  code/modules/power/hamster_wheel.dm
  code/modules/speech/modules/speech/prefixes/ai_radio.dm
  code/modules/speech/say_message.dm
  code/modules/speech/trees/listen_module_tree.dm
Labels: C-Bug, size/S

#23295 Tweak midround salvager roll logging
  code/modules/events/salvagers.dm
Labels: C-Bug, size/S, A-Gamemodes, A-Admin, S-Ready-For-Final-Review

#23235 Atlas req_access_txt pass
  maps/atlas.dmm
Labels: A-Mapping, C-Code-Quality, size/S

#23103 Wizard Radio Channel
  _std/defines/radio.dm
  code/global.dm
  code/obj/item/device/radios/headsets.dm
Labels: C-Feature, E-Add-To-Wiki, size/XS, A-Game-Objects

#23071 TGUI Camera Viewer / Television
  _std/defines/minimap.dm
  assets/maps/allocated/htr_purge_ship.dmm
  assets/maps/allocated/htr_team_ship.dmm
  assets/maps/allocated/pirate_ship.dmm
  assets/maps/prefabs/planet/prefab_planet_shipwreck_survivor1.dmm
  assets/maps/prefabs/space/prefab_merc_outpost.dmm
  assets/maps/prefabs/space/prefab_von_ricken.dmm
  assets/maps/prefabs/underwater/nadir/prefab_water_nadirelevator.dmm
  assets/maps/prefabs/underwater/nadir_safe/prefab_water_sketchy.dmm
  assets/maps/prefabs/underwater/nadir_unsafe/prefab_water_beetrader.dmm
  assets/maps/prefabs/underwater/nadir_unsafe/prefab_water_seamonkey.dmm
  assets/maps/random_rooms/3x5/coffeebar.dmm
  assets/maps/random_rooms/5x3/closedoff.dmm
  assets/maps/random_rooms/5x3/coffebar.dmm
  assets/maps/random_rooms/5x3/plushbridge.dmm
  browserassets/src/tgui/tgui.bundle.js
  code/datums/flock/flock.dm
  code/modules/camera/camera.dm
  code/modules/camera/monitor.dm
  code/modules/camera/network.dm
  code/modules/camera/sec_camera_move.dm
  code/modules/minimap/minimap_objects/minimap_ui.dm
  code/obj/machinery/computer.dm
  code/obj/machinery/computer/buildandrepair.dm
  code/obj/machinery/computer/security.dm
  code/obj/machinery/computer/security/security_cameras_chui.dm
  goonstation.dme
  icons/obj/minimap/minimap_markers.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/density2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/events/wrestlemap.dmm
  maps/kondaru.dmm
  maps/mushroom.dmm
  maps/nadir.dmm
  maps/neon.dmm
  maps/oshan.dmm
  maps/setpieces/hafganfortress.dmm
  maps/setpieces/lunaport.dmm
  maps/setpieces/wetworks.dmm
  maps/setpieces/xg6_fermidzone.dmm
  maps/z2.dmm
  maps/z3.dmm
  maps/z5.dmm
  tgui/packages/tgui/interfaces/CameraViewer.tsx
  tgui/packages/tgui/interfaces/GeneralAlert.tsx
  tgui/packages/tgui/interfaces/MinimapController.tsx
  tools/UpdatePaths/Scripts/23071_camera_viewer_repath.txt
Labels: A-Mapping, C-Sprites, S-Merge-Conflict, C-Rework, A-UI, size/XXL, A-Station-Systems

#23217 Show killswitch timer while deployed
  code/datums/hud/shell.dm
  code/datums/hud/silicon.dm
  code/mob/living/life/hud.dm
  code/mob/living/silicon/hivebot.dm
Labels: C-QoL, size/S, A-Silicons

#23138 Add manufacturable lanterns
  code/datums/manufacturing.dm
  code/obj/item/device/lights.dm
  code/obj/machinery/manufacturer_subtypes.dm
  icons/mob/inhand/hand_tools.dmi
  icons/obj/items/device.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#23276 Ties Mimic's health and speed to the size of their disguise, repaths mimic ability
  code/datums/abilities/critter/mimic.dm
  code/datums/abilities/critter/sting.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/mob/living/critter/mimic.dm
  code/modules/status_system/statusEffects.dm
  goonstation.dme
  icons/ui/statussystem.dmi
Labels: C-Sprites, size/L, A-Status-Effects, A-Critters

#23099 Remove random nukie frequency
  _std/defines/radio.dm
  code/datums/gamemodes/nuclear.dm
  code/mob/living/silicon/ghostdrone.dm
  code/obj/item/device/radios/headsets.dm
  code/obj/item/device/radios/intercoms.dm
Labels: C-QoL, size/M, A-Gamemodes

#23346 `open_to_sound` Defaults To `TRUE`
  code/mob.dm
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
  code/modules/clothingbooth/clothingbooth.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/medical/genetics/geneticsScanner.dm
  code/modules/medical/genetics/portagene.dm
  code/modules/power/hamster_wheel.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/modules/speech/core.dm
  code/modules/speech/outermost_listener.dm
  code/modules/transport/pods/vehicle.dm
  code/obj/item/building_materials.dm
  code/obj/item/device/mic_amp_etc.dm
  code/obj/item/stickers.dm
  code/obj/machinery/clonepod.dm
  code/obj/machinery/computer/cloning.dm
  code/obj/machinery/porters.dm
  code/obj/machinery/sleeper.dm
  code/obj/storage/large_storage_parent.dm
Labels: C-Bug, C-Experimental, size/S

#23319 Lawbringers check every word for mode change
  code/modules/speech/modules/listen/effects/lawbringer.dm
  code/obj/item/gun/energy.dm
Labels: C-Feature, size/S, A-Game-Objects

#23354 Add "Fired" as valid word for lawbringer hotshot
  code/modules/speech/modules/listen/effects/lawbringer.dm
  code/obj/item/gun/energy.dm
Labels: C-Feature, size/XS, A-Game-Objects

#23355 Adds the Galactus Fishing Rod as ranch belt holdable
  code/obj/item/storage/backpack_belt_etc.dm
Labels: size/XS

#23357 Stop flock encounter invincible door from showing as broken
  code/modules/mining/mining_encounter_objects.dm
  code/turf/turf_flock.dm
Labels: C-Bug, size/XS, A-Game-Objects

#23350 Increase magic missile cooldown a little
  code/modules/antagonists/wizard/abilities/magicmissile.dm
  code/modules/writing/papers.dm
Labels: C-Balance, E-Add-To-Wiki, size/XS, A-Gamemodes

#23344 Wizard prismatic spray can be used without a staff
  code/modules/antagonists/wizard/abilities/prismatic_spray.dm
Labels: C-Balance, E-Add-To-Wiki, size/M, A-Gamemodes

#23328 Tweak nanite balance
  code/modules/telescience/telescope/telescopeMisc.dm
Labels: C-Balance, size/S, A-Critters

#23182 Adds eggs to BR loot pool
  code/datums/gamemodes/battle_royale.dm
  code/datums/syndicate_buylist.dm
  code/modules/cooking/kitchen_items.dm
Labels: C-Feature, size/M, A-Gamemodes

#23347 Add wizard traveller's robe and hat
  code/obj/item/clothing/hats.dm
  code/obj/item/clothing/suits.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/overcoats/worn_suit.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/overcoats/item_suit.dmi
  maps/z2.dmm
Labels: C-Feature, A-Mapping, C-Sprites, size/S, A-Gamemodes, A-Clothing

#23304 Whisper Maptext
  code/modules/speech/message_modifiers/whisper.dm
Labels: C-Feature, C-QoL, size/XS, A-Player-Actions, S-Ready-For-Final-Review

#23255 Access proc cleanup
  code/area.dm
  code/procs/access.dm
Labels: C-Code-Quality, size/M, A-Internal

#23362 Clarion req_access_txt pass
  maps/clarion.dmm
Labels: A-Mapping, C-QoL, size/M

#23212 Lower thirst penalties
  code/modules/status_system/statusEffects.dm
Labels: C-Balance, E-Add-To-Wiki, size/XS, S-Ready-For-Final-Review, A-RP

#23278 strip doors (plastic flappy doors) QoL and help messages
  code/modules/economy/supply_misc.dm
Labels: C-QoL, size/M, A-Game-Objects

#23377 Fix Cyborg Radios
  code/mob/living/silicon/robot.dm
  code/modules/robotics/robot/module/parent.dm
  code/modules/speech/modules/listen/inputs/shared_input_format_modules/ears.dm
Labels: C-Bug, size/L

#23389 adds figurines for outbackcatgirl and brainrot.
  code/modules/items/gimmick/figurine.dm
  icons/obj/items/figures.dmi
Labels: C-Sprites, size/XS, A-Game-Objects

#23393 Say Rework Fixbatch IV
  _std/defines/speech_defines/priorities.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/carbon/human/virtual.dm
  code/modules/admin/admin_holder.dm
  code/modules/admin/toggles.dm
  code/modules/antagonists/macho_man/abilities/_macho_man_mob.dm
  code/modules/speech/core.dm
  code/modules/speech/modules/listen/inputs/looc.dm
  code/modules/speech/modules/listen/inputs/ooc.dm
  code/modules/speech/modules/listen/inputs/outloud/global_hearing.dm
  code/modules/speech/modules/speech/modifiers/radio.dm
  code/modules/speech/modules/speech/outputs/equipped.dm
  code/modules/speech/say_message.dm
  code/modules/speech/trees/auxiliary_listen_module_tree.dm
  code/modules/speech/trees/auxiliary_speech_module_tree.dm
  code/modules/speech/trees/listen_module_tree.dm
  code/modules/speech/trees/speech_module_tree.dm
  code/obj/item/storage/backpack_belt_etc.dm
Labels: C-Bug, size/L

#23348 Rework spellshield var into a status effect
  code/mob.dm
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/damage.dm
  code/mob/living/critter.dm
  code/modules/antagonists/wizard/abilities/magshield.dm
  code/modules/status_system/statusEffects.dm
  code/procs/helpers.dm
  code/procs/mobprocs/attacks.dm
Labels: C-Code-Quality, size/M, A-Internal

#23404 "State Standard Laws" gets lawtext from module
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
Labels: C-Code-Quality, size/S, A-Internal

#23402 Correct Nukeop popup radio prefix
  browserassets/src/tgui/tgui.bundle.js
  code/modules/antagonists/nuclear_operative/nuclear_operative.dm
  tgui/packages/tgui/interfaces/AlertContentWindows/acw/nukeop.AlertContentWindow.tsx
  tgui/packages/tgui/interfaces/AlertContentWindows/acw/nukeop_commander.AlertContentWindow.tsx
  tgui/packages/tgui/interfaces/AlertContentWindows/acw/nukeop_gunbot.AlertContentWindow.tsx
Labels: C-Bug, A-UI, size/S

#23405 Extra fake lawset options
  code/mob/living/silicon.dm
Labels: C-QoL, size/S, A-Silicons

#23391 Syndicate Specialist jobs
  code/datums/jobs.dm
  code/obj/item/flamethrower.dm
Labels: C-Feature, size/L, A-Respawning

#23334 Enhance mainframe stability while scripting
  code/modules/networks/computer3/mainframe2/_base_os.dm
  code/modules/networks/computer3/mainframe2/filetypes.dm
  code/modules/networks/computer3/mainframe2/mainframe2.dm
  code/modules/networks/computer3/mainframe2/shell.dm
Labels: C-Bug, C-QoL, size/M, A-Game-Objects, A-Station-Systems

#23417 Fix lantern inhands not updating
  code/obj/item/device/lights.dm
Labels: C-Bug, size/XS, A-Game-Objects

#23428 Say Rework Fixbatch V
  _std/__build.dm
  _std/defines/speech_defines/modules.dm
  code/mob/dead/hivemind_observer.dm
  code/mob/living/silicon/ghostdrone.dm
  code/modules/admin/admin_holder.dm
  code/modules/robotics/bot/guardbot.dm
  code/modules/speech/modules/listen/effects/microphone.dm
  code/modules/speech/modules/listen/modifiers/mob_modifiers.dm
  code/modules/speech/modules/speech/modifiers/translator.dm
  code/modules/speech/say_channels/radio.dm
  code/modules/speech/trees/auxiliary_listen_module_tree.dm
  code/obj/item/clothing/masks.dm
  goonstation.dme
Labels: C-Bug, size/L

#23442 Split Item spawner sprites out of object.dmi
  code/WorkInProgress/flourish.dm
  code/obj/rack.dm
  code/obj/random_spawners.dm
  icons/obj/item_spawn.dmi
  icons/obj/objects.dmi
Labels: C-Sprites, size/XS

#23429 Mental Medbots
  code/modules/robotics/bot/medbot.dm
  icons/obj/bots/medbots.dmi
Labels: C-Bug, C-Sprites, size/XS, A-Game-Objects

#23457 Nanite swarm more visible
  icons/mob/critter/robotic/nanites.dmi
Labels: C-Sprites, C-QoL, E-Add-To-Wiki, size/XS, A-Critters

#23313 Refactors Ability Buttons Into Speech Prefixes
  _std/defines/speech_defines/modules.dm
  browserassets/src/tgui/tgui.bundle.js
  code/datums/abilities/kudzumen.dm
  code/datums/hud/human.dm
  code/datums/mutantraces.dm
  code/mob/living.dm
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/silicon/ghostdrone.dm
  code/modules/admin/admin_holder.dm
  code/modules/antagonists/changeling/abilities/hivemind.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/vampire/abilities/_vampire_ability_holder.dm
  code/modules/antagonists/vampire/abilities/enthrall.dm
  code/modules/antagonists/vampire/abilities/thrall_abilities.dm
  code/modules/antagonists/vampire/thrall.dm
  code/modules/interface/action_associations.dm
  code/modules/interface/keybind_style.dm
  code/modules/speech/modules/speech/outputs/deadchat.dm
  code/modules/speech/modules/speech/outputs/hivechat.dm
  code/modules/speech/modules/speech/outputs/kudzuchat.dm
  code/modules/speech/modules/speech/outputs/thrallchat.dm
  code/modules/speech/modules/speech/prefixes/deadchat.dm
  code/modules/speech/modules/speech/prefixes/hivechat.dm
  code/modules/speech/modules/speech/prefixes/kudzuchat.dm
  code/modules/speech/modules/speech/prefixes/thrallchat.dm
  code/modules/speech/say_wrappers.dm
  goonstation.dme
  tgui/packages/tgui/interfaces/AlertContentWindows/acw/changeling.AlertContentWindow.tsx
  tgui/packages/tgui/interfaces/AlertContentWindows/acw/kudzu.AlertContentWindow.tsx
  tgui/packages/tgui/interfaces/AlertContentWindows/acw/vampire.AlertContentWindow.tsx
  tgui/packages/tgui/interfaces/AlertContentWindows/acw/vampthrall.AlertContentWindow.tsx
Labels: C-Feature, C-QoL, S-Merge-Conflict, A-UI, size/L, A-Player-Actions

#23460 Fix AIs ignoring voice changers.
  code/modules/speech/modules/listen/inputs/shared_input_format_modules/ears.dm
Labels: C-Bug, size/XS, A-Player-Actions

#23459 Move Turtle stuff to their own files
  code/mob/living/critter/small_animal.dm
  code/mob/living/critter/turtle.dm
  goonstation.dme
  icons/misc/critter.dmi
  icons/mob/critter/nonhuman/turtle.dmi
Labels: C-Sprites, C-Code-Quality, size/XL, A-Critters

#23438 skitter respects misstep chance
  code/modules/medical/genetics/bioEffects/beneficial.dm
Labels: C-Balance, size/S, A-Player-Actions

#23450 Properly add or eject mobs that change type inside a pet carrier
  code/obj/item/pet_carrier.dm
Labels: C-Bug, size/S, A-Game-Objects

#23434 Add large produce satchels to botany requisition rewards
  code/modules/economy/requisition/rc_civilian.dm
  code/modules/economy/requisition/rc_scientific.dm
Labels: C-Balance, size/S, S-Ready-For-Final-Review, A-Hydroponics

#23451 Added recipe for cookable sheep steaks.
  code/modules/cooking/cookingrecipes.dm
  code/modules/cooking/food_and_drink/ingredients.dm
  code/modules/cooking/food_and_drink/snacks.dm
  code/modules/cooking/kitchen_submachines.dm
  code/modules/ranch/sheep_products.dm
Labels: C-QoL, size/S, A-Catering

#23446 Give AIs the cyborg say sound
  code/mob/living/silicon/ai.dm
  code/modules/speech/modules/speech/prefixes/ai_radio.dm
Labels: C-QoL, size/XS, A-Silicons

#23480 DNR observers can see AI laws by examining law rack
  code/obj/machinery/law_racks.dm
Labels: C-Feature, size/XS, A-Silicons

#23449 Traders buy the same items throughout an entire shift
  code/modules/economy/shippingmarket.dm
  code/modules/economy/traders/trader.dm
Labels: C-Feature, C-Balance, size/XS

#23423 Fix Lunar Museum Tour
  _std/defines/access.dm
  code/modules/mapping/helpers/access_spawn.dm
  code/z_adventurezones/luna.dm
  icons/misc/lunar.dmi
  maps/z2.dmm
Labels: C-Bug, A-Mapping, C-Sprites, A-Secret, size/M

#23157 Resprite Mystical Hunter radio icons
  browserassets/src/images/radio_icons/ghost_buster.png
  browserassets/src/images/radio_icons/hunter_ghost.png
  browserassets/src/images/radio_icons/hunter_vampire.png
  browserassets/src/images/radio_icons/hunter_wolf.png
  code/obj/item/device/radios/headsets.dm
Labels: C-Sprites, S-Stale, size/XS, A-Game-Objects

#23439 Intercom speakers default to mic off, speaker on
  assets/maps/listening_post/listeningpost_neon.dmm
  assets/maps/listening_post/listeningpost_wrestlemap.dmm
  code/obj/item/device/radios/_radio.dm
  code/obj/item/device/radios/intercoms.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/events/wrestlemap.dmm
  maps/kondaru.dmm
  maps/mushroom.dmm
  maps/nadir.dmm
  maps/neon.dmm
  maps/oshan.dmm
  maps/setpieces/changeling_village.dmm
Labels: C-Bug, A-Mapping, C-QoL, size/XXL, A-Game-Objects, A-Station-Systems

#23374 Give intercoms maptext
  code/obj/item/device/radios/intercoms.dm
Labels: C-Balance, size/XS, A-Player-Actions, A-Game-Objects

#22904 Consolidates cooking recipes into variants
  assets/maps/prefabs/underwater/nadir_unsafe/prefab_water_seamonkey.dmm
  code/modules/cooking/cookingrecipes.dm
  code/modules/cooking/food_and_drink/ingredients.dm
  code/modules/cooking/food_and_drink/snacks.dm
  code/modules/cooking/kitchen_submachines.dm
  code/modules/cooking/mixer.dm
  code/obj/item/storage/lunchboxes.dm
  maps/neon.dmm
  maps/oshan.dmm
  maps/setpieces/lunaport.dmm
  maps/z2.dmm
  tools/UpdatePaths/Scripts/22904_repath_steaks.txt
Labels: A-Mapping, A-Tooling, C-Code-Quality, size/XL, A-Catering

#23505 Annotating changes from upstream in tgui.dm and tgui_window.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui/tgui_window.dm
Labels: C-Code-Quality, A-UI, size/M

#22887 Cold animals
  _std/defines/component_defines/component_defines_atom.dm
  code/atom.dm
  code/mob/living/critter/ai/goat.dm
  code/mob/living/critter/ai/seals.dm
  code/mob/living/critter/goat.dm
  code/mob/living/critter/jackalope.dm
  code/mob/living/critter/seals.dm
  code/modules/sound/soundCache.dm
  code/modules/worldgen/mapgen/biomes/_biome.dm
  goonstation.dme
  icons/misc/critter.dmi
  sound/voice/animal/goat.ogg
  sound/voice/animal/sealegg.ogg
  sound/voice/animal/sealgroan.ogg
Labels: C-Sprites, C-Sound, size/XL

#23513 Fixes bacon cooking into raw meat
  code/modules/cooking/cookingrecipes.dm
Labels: C-Bug, size/XS

#23498 Automated Arrest proc
  code/WorkInProgress/laundry.dm
  code/WorkInProgress/zamu_mail.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/obj/item/book.dm
  code/obj/item/clothing/hats.dm
  code/obj/machinery/computer/announcement.dm
Labels: C-Code-Quality, size/M, A-Station-Systems

#23465 more turtle berets
  code/mob/living/critter/turtle.dm
  icons/mob/critter/nonhuman/turtle.dmi
Labels: C-Feature, C-Sprites, size/S, A-Critters

#23475 Mimics get disposal_travel
  code/datums/abilities/critter/disposal_travel.dm
  code/mob/living/critter/mimic.dm
Labels: C-Feature, size/S, A-Critters

#23524 tgui minor/patch version bumps, for completeness
  browserassets/src/tgui/tgui-bench.bundle.css
  browserassets/src/tgui/tgui-bench.bundle.js
  browserassets/src/tgui/tgui.bundle.js
  tgui/package.json
  tgui/packages/common/package.json
  tgui/packages/tgui-bench/package.json
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui/package.json
  tgui/yarn.lock
Labels: C-Code-Quality, A-UI, size/XXL

#23509 Map settings airlock style defaults to pyro
  code/map.dm
Labels: C-Bug, A-Mapping, size/S

#23485 Usable blueprint photocopies
  code/obj/machinery/photocopier.dm
  icons/obj/machines/photocopier.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#23463 Change age and blood curse to non-gib deaths
  code/modules/status_system/statusEffects.dm
Labels: C-Balance, size/S, A-Game-Objects

#23468 Removes Ghostdrone `;` Prefix
  code/mob/living/intangible/ai-camera.dm
  code/modules/interface/action_associations.dm
  code/modules/interface/keybind_style.dm
  code/modules/interface/skin_input_box.dm
  code/modules/speech/modules/speech/outputs/dronechat.dm
  code/modules/speech/say_wrappers.dm
Labels: C-Code-Quality, C-Removal, size/S, A-Player-Actions

#23326 Silicon "State Laws" commands let you select a radio channel
  _std/defines/robot.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
Labels: C-Feature, C-QoL, size/L, A-Silicons

#23499 HoS Mug emag act
  code/modules/chemistry/tools/food_and_drink.dm
  icons/obj/foodNdrink/drinks.dmi
Labels: C-Feature, C-Sprites, size/S, A-Game-Objects

#23270 Resprites the Revolutionary Dress (Anthy's dress)
  icons/mob/clothing/jumpsuits/worn_js_gimmick.dmi
  icons/mob/monkey/jumpsuits.dmi
  icons/obj/clothing/uniforms/item_js_gimmick.dmi
Labels: C-Sprites, size/XS, A-Clothing

#22847 Television camera sprites for EMP/broken
  code/modules/camera/camera.dm
  code/modules/camera/television.dm
  icons/obj/monitors.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects, A-Station-Systems

#23400 Stacked Material Sprites
  assets/maps/prefabs/space/prefab_synd_lab.dmm
  code/datums/syndicate_buylist.dm
  code/global.dm
  code/modules/materials/Mat_RawMaterials.dm
  code/obj/item/device/pda2/pda2.dm
  code/obj/item/gun/kinetic.dm
  code/obj/item/material.dm
  code/obj/item/organs/flock.dm
  code/obj/item/space_cash.dm
  code/obj/item/traitorcoins.dm
  code/obj/item/uplinks.dm
  code/obj/rocko.dm
  icons/obj/items/materials/bohrum.dmi
  icons/obj/items/materials/cerenkite.dmi
  icons/obj/items/materials/char.dmi
  icons/obj/items/materials/chitin.dmi
  icons/obj/items/materials/claretine.dmi
  icons/obj/items/materials/cobryl.dmi
  icons/obj/items/materials/erebite.dmi
  icons/obj/items/materials/fibrilith.dmi
  icons/obj/items/materials/gold.dmi
  icons/obj/items/materials/ice.dmi
  icons/obj/items/materials/iridium.dmi
  icons/obj/items/materials/koshmarite.dmi
  icons/obj/items/materials/materials.dmi
  icons/obj/items/materials/mauxite.dmi
  icons/obj/items/materials/miracle.dmi
  icons/obj/items/materials/molitz.dmi
  icons/obj/items/materials/pharosium.dmi
  icons/obj/items/materials/plasmastone.dmi
  icons/obj/items/materials/plutonium.dmi
  icons/obj/items/materials/rocks.dmi
  icons/obj/items/materials/starstone.dmi
  icons/obj/items/materials/syreline.dmi
  icons/obj/items/materials/telecrystal.dmi
  icons/obj/items/materials/uqill.dmi
  icons/obj/items/materials/viscerite.dmi
  icons/obj/materials.dmi
Labels: A-Mapping, C-Sprites, C-QoL, size/L, A-Materials

#23165 Allow for oversized data chunks via TGUI in 516
  browserassets/src/tgui/tgui.bundle.js
  code/datums/configuration.dm
  code/modules/tgui/tgui_window.dm
  config/config.sample.txt
  tgui/packages/tgui/backend.ts
Labels: C-Bug, S-Merge-Conflict, A-UI, size/L

#23388 Cogmap1 req_access_txt pass
  maps/cogmap.dmm
Labels: A-Mapping, C-Code-Quality, size/S

#23364 Gnome Chompsky costume
  code/modules/economy/commodity.dm
  code/modules/economy/trader.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/hats.dm
  code/obj/item/storage/clothing.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/mob/inhand/overcoat/hand_suit_gimmick.dmi
  icons/obj/clothing/item_hats.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
Labels: C-Sprites, size/M, A-Clothing

#23264 Shovels can dig holes/trenches in ground turfs
  _std/defines/floors.dm
  _std/defines/item.dm
  _std/macros/items.dm
  code/WorkInProgress/ZeWakasStuff.dm
  code/datums/abilities/critter/space_phoenix.dm
  code/datums/controllers/sea_hotspot_controls.dm
  code/modules/digging/buried_storage.dm
  code/modules/digging/dig_bar.dm
  code/modules/digging/trench.dm
  code/modules/materials/Mat_Processing.dm
  code/obj/mining.dm
  code/turf/floors.dm
  code/turf/floors_unsimulated.dm
  code/turf/turf.dm
  code/z_adventurezones/biodome.dm
  goonstation.dme
  icons/turf/trenches/border_overlays.dmi
  icons/turf/trenches/trenches.dmi
Labels: C-Feature, C-Sprites, size/XL, A-Game-Objects

#23517 Add defines for chat speech prefixes
  _std/__std.dme
  _std/defines/speech_defines/prefixes.dm
  code/modules/speech/modules/speech/prefixes/ai_radio.dm
  code/modules/speech/modules/speech/prefixes/deadchat.dm
  code/modules/speech/modules/speech/prefixes/hivechat.dm
  code/modules/speech/modules/speech/prefixes/intercom.dm
  code/modules/speech/modules/speech/prefixes/kudzuchat.dm
  code/modules/speech/modules/speech/prefixes/left_hand.dm
  code/modules/speech/modules/speech/prefixes/looc.dm
  code/modules/speech/modules/speech/prefixes/ooc.dm
  code/modules/speech/modules/speech/prefixes/radio.dm
  code/modules/speech/modules/speech/prefixes/right_hand.dm
  code/modules/speech/modules/speech/prefixes/siliconchat.dm
  code/modules/speech/modules/speech/prefixes/thrallchat.dm
Labels: C-Code-Quality, size/M, A-Internal

#23201 Water puddles ripple when you move through them
  code/modules/fluids/fluid_core.dm
  icons/obj/fluid.dmi
Labels: C-Feature, C-Sprites, size/S, A-Game-Objects

#23542 Adds a artifact pinpointer to mushroom
  maps/mushroom.dmm
Labels: A-Mapping, size/XS

#23551 Unique name for burning commol root requisitions
  code/modules/economy/requisition/rc_scientific.dm
Labels: C-Bug, size/XS

#23561 adds a slag shovel to donut 3
  maps/donut3.dmm
Labels: A-Mapping, C-QoL, size/XS

#23556 Fix Tranquilizer darts
  code/obj/item/implant.dm
Labels: C-Bug, size/XS, A-Game-Objects

#23567 Fixes broken floor tiles in the Donut 2 bar
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/S

#22882 Convert all mutantrace emotes to use `emote_check`
  code/datums/mutantraces.dm
Labels: C-Bug, size/M, A-Mutantraces

#23549 Hidden mimics can't be shoved around
  code/mob/living/critter/mimic.dm
Labels: C-Balance, C-QoL, size/XS, A-Critters

#23592 Fixes the monkey cheeseburger recipe
  code/modules/cooking/cookingrecipes.dm
  code/modules/cooking/kitchen_submachines.dm
Labels: C-Bug, size/S, A-Catering

#23534 Ai shells can exit conversion chambers
  code/modules/robotics/robot/robot_docking_station.dm
Labels: C-Bug, size/XS, A-Silicons

#23618 Say Rework Fixbatch VI
  _std/defines/speech_defines/priorities.dm
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/silicon/ghostdrone.dm
  code/modules/speech/modules/listen/effects/microphone_component.dm
  code/modules/speech/modules/speech/outputs/mentormouse.dm
  code/modules/speech/modules/speech/prefixes/ai_radio.dm
  code/modules/speech/say_message.dm
  code/modules/speech/say_wrappers.dm
  code/modules/speech/trees/speech_module_tree.dm
  code/obj/item/storage/small_storage_parent.dm
Labels: C-Bug, size/M

#23598 Infinity Dragon's Beard Fix
  code/modules/cooking/food_and_drink/candy.dm
Labels: C-Bug, size/XS, A-Game-Objects, A-Catering

#23569 Spooky gamemode
  code/datums/gamemodes/mixed_spooky.dm
  goonstation.dme
Labels: C-Feature, size/S, A-Gamemodes

#23630 Tweaks cogmap2's engine wiring
  maps/cogmap2.dmm
Labels: A-Mapping, C-QoL, size/L

#23500 Fix wheelchair Help-Swap bug
  code/mob.dm
  code/obj/stool.dm
Labels: C-Bug, size/XS, A-Player-Actions

#23646 Manifold rupturing
  code/modules/atmospherics/machinery/pipe.dm
  icons/obj/atmospherics/pipes/manifold_pipe.dmi
  icons/obj/atmospherics/pipes/pipe.dmi
Labels: C-Sprites, C-Balance, size/L, A-Game-Objects
