Repository goonstation/goonstation, pull requests merged in 2025-06, with the labels that each got.

#23612 Pod engine visuals & consistent part installation code
  _std/defines/pod_door_access_levels.dm
  code/WorkInProgress/construction/progress.dm
  code/WorkInProgress/salvager/salvager.dm
  code/datums/effects/system/ion_trail_follow.dm
  code/datums/gamemodes/pod_wars.dm
  code/datums/hud/pod.dm
  code/datums/movement_controller/pod.dm
  code/datums/movement_controller/tank.dm
  code/mob/living.dm
  code/mob/living/life/bodytemp.dm
  code/mob/living/life/sight.dm
  code/modules/interface/multiContext/context_actions.dm
  code/modules/projectiles/laser.dm
  code/modules/transport/pods/MainWeapon.dm
  code/modules/transport/pods/communications.dm
  code/modules/transport/pods/engine.dm
  code/modules/transport/pods/life_support.dm
  code/modules/transport/pods/locomotion.dm
  code/modules/transport/pods/pod_lights.dm
  code/modules/transport/pods/secondary_system.dm
  code/modules/transport/pods/sensors.dm
  code/modules/transport/pods/shipcomponents.dm
  code/modules/transport/pods/ships.dm
  code/modules/transport/pods/vehicle.dm
  code/obj/item/material.dm
  code/obj/machinery/door/door_control.dm
  code/obj/random_spawners.dm
  code/procs/jobprocs.dm
  code/turf/floors.dm
  code/z_adventurezones/biodome.dm
  icons/effects/64x64.dmi
  icons/obj/ship.dmi
Labels: C-Feature, size/XXL, A-Vehicles

#23599 Replace CHUI ghost notification prompt with TGUI alerts
  code/datums/controllers/ghost_notification_controls.dm
  code/datums/controllers/process/ghost_notifications.dm
  code/mob/dead/target_observer.dm
  code/mob/living/intangible/flock/flockmind.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/world/initialization/1_preMapLoad.dm
  goonstation.dme
Labels: C-Rework, size/L, A-Admin

#23691 Pod Engine Runtime Fix
  code/modules/transport/pods/shipcomponents.dm
Labels: C-Runtime, size/XS, A-Vehicles

#23669 Synth Leg Absorbtion
  code/obj/item/mob_parts/human_parts.dm
Labels: C-Feature, E-Add-To-Wiki, size/M, A-Hydroponics

#23668 Portable pumps will now shut off when ejecting a tank.
  code/modules/atmospherics/portable/pump.dm
Labels: C-QoL, size/XS, A-Atmospherics

#23675 Puts the bar juicer in the bartender tallcloset
  code/obj/storage/secure_closets.dm
  maps/cogmap2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
Labels: A-Mapping, C-QoL, size/S, A-Catering

#23698 Loose singularity rebalance
  code/modules/projectiles/bullet.dm
  code/obj/effects/misc.dm
  code/obj/machinery/singularity.dm
Labels: C-Balance, E-Input-Wanted, size/M, A-Game-Objects

#23706 Make ghc work on pipe manifolds
  code/modules/chemistry/Reagents-Misc.dm
Labels: C-Bug, size/XS, A-Atmospherics, A-Chemistry

#23703 Make Ghost critters immune to food poisoning
  code/modules/medical/diseases/food_poisoning.dm
Labels: C-Balance, size/XS

#23686 Utilize PROP_ATOM_FLOATING more consistently
  code/mob/living.dm
  code/mob/living/silicon/ghostdrone.dm
  code/mob/living/silicon/hivebot.dm
  code/modules/digging/trench.dm
  code/modules/fluids/fluid_core.dm
  code/modules/mechanics/MechanicMadness.dm
  code/obj/item/beartrap.dm
  code/obj/item/mine.dm
  code/obj/machinery/floorflusher.dm
  code/obj/machinery/launcherloader.dm
  code/obj/machinery/mass_driver.dm
  code/z_adventurezones/biodome.dm
Labels: C-Balance, C-Rework, size/M, A-Game-Objects

#22973 AI image performance enhancement attempt
  code/datums/viewport.dm
  code/global.dm
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/silicon/hivebot.dm
  code/modules/camera/coverage/datum/controller/camera_coverage.dm
Labels: C-Performance, size/L, A-AI, A-Silicons

#23722 Fix missing cog2 wire
  maps/cogmap2.dmm
Labels: C-Bug, A-Mapping, size/XS

#23730 adds help text for railings
  code/obj/railing.dm
Labels: C-QoL, size/S, A-Player-Actions

#23707 Fix custom pies naming themselves after chicken eggs
  code/modules/cooking/cookingrecipes.dm
Labels: C-Bug, size/XS, A-Catering

#23555 SKIP_CAMERA_COVERAGE always treats things as on-camera
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/ai/camera_handling.dm
  code/mob/living/silicon/ai/holograms.dm
  code/modules/camera/network.dm
  code/modules/interface/input.dm
  code/obj/item/device/pda2/bot_control.dm
  code/obj/item/device/pda2/portable_machinery_control.dm
  code/obj/item/device/pda2/smallprogs.dm
  code/procs/gamehelpers.dm
Labels: C-QoL, size/M, A-Station-Systems

#23684 Sandbags (port from 35 Below)
  code/datums/gamemodes/pod_wars/pw_misc_objects.dm
  code/obj/sandbags.dm
  goonstation.dme
  icons/obj/items/sandbags.dmi
  icons/obj/sandbags.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#23733 Add a testing section to the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: A-Tooling, A-GitHub, size/XS, C-Documentation

#23705 Pipes encased in walls have increased fatigue pressure
  code/modules/atmospherics/machinery/pipe.dm
Labels: C-Feature, size/S, A-Atmospherics

#23683 Prevents auto-promotion of HoS on single digit populations
  code/procs/jobprocs.dm
Labels: C-Balance, size/XS, S-Ready-For-Final-Review, A-Respawning

#23481 Newbee Tutorial
  _std/__std.dme
  _std/defines/component_defines/component_defines_atom.dm
  _std/defines/landmarks.dm
  _std/defines/speech_defines/modules.dm
  _std/defines/tutorial.dm
  assets/maps/allocated/newbee_tutorial.dmm
  code/WorkInProgress/GerhazoStuff.dm
  code/WorkInProgress/zamujasa.dm
  code/_lighting/RobustLight2.dm
  code/client.dm
  code/datums/browserOutput.dm
  code/datums/configuration.dm
  code/datums/gamemodes/battle_royale.dm
  code/datums/gamemodes/construction.dm
  code/datums/gamemodes/football.dm
  code/datums/gamemodes/gm_parent.dm
  code/datums/gamemodes/pod_wars.dm
  code/datums/gamemodes/pod_wars/pw_team.dm
  code/datums/gameticker.dm
  code/datums/hud/critter.dm
  code/datums/hud/human.dm
  code/datums/hud/tutorial.dm
  code/datums/traits.dm
  code/mob.dm
  code/mob/living/carbon/human.dm
  code/mob/living/critter.dm
  code/mob/living/critter/ai/spider.dm
  code/mob/living/critter/spider.dm
  code/mob/new_player.dm
  code/modules/chemistry/tools/patches.dm
  code/modules/interface/keymap.dm
  code/modules/sound/sound.dm
  code/modules/sound/soundCache.dm
  code/modules/speech/modules/listen/effects/radio.dm
  code/modules/tutorials/newbee/newbee_tutorial.dm
  code/modules/tutorials/newbee/tutorial_area.dm
  code/modules/tutorials/newbee/tutorial_landmark.dm
  code/modules/tutorials/newbee/tutorial_mob.dm
  code/modules/tutorials/newbee/tutorial_obj.dm
  code/modules/tutorials/newbee/tutorial_player.dm
  code/modules/tutorials/newbee/tutorial_steps.dm
  code/modules/tutorials/newbee/tutorial_ui.dm
  code/modules/worldgen/prefab/allocated.dm
  code/modules/worldgen/region_allocator/region_allocator.dm
  code/obj/decorations.dm
  code/obj/item/grab.dm
  code/obj/item/nuclear_operative/rapid_deployment_remote.dm
  code/player.dm
  code/procs/helpers.dm
  code/procs/jobprocs.dm
  code/turf/turf.dm
  code/z_adventurezones/solarium.dm
  code/z_dmm_suite/reader.dm
  goonstation.dme
  icons/mob/tutorial_ui.dmi
  icons/ui/play-tutorial.png
  interface/skin.dmf
  sound/misc/tutorial-bleep.ogg
  sound/misc/tutorial-bloop.ogg
  sound/misc/win-blip.ogg
Labels: C-Feature, A-Mapping, C-Sprites, C-Sound, A-UI, size/XXL

#23536 Department Jobban check uses job category
  code/modules/admin/jobban.dm
Labels: C-Code-Quality, size/S, A-Admin, S-Ready-For-Final-Review

#23540 More consistent Syndicate space helmet
  icons/obj/clothing/item_hats.dmi
Labels: C-Sprites, S-Merge-Conflict, size/XS, A-Clothing

#23745 Satchels only auto-fill with produce from harvests, ignore seeds
  code/obj/machinery/plantpot.dm
Labels: C-QoL, size/S, S-Ready-For-Final-Review, A-Hydroponics

#23469 Interdictor Unlocking
  code/obj/machinery/interdictor.dm
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/density2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/neon.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, S-Stale, size/M, A-Game-Objects

#23699 Adds a description to senior aged ranch animals
  code/modules/ranch/ranch_critter_base.dm
Labels: C-QoL, size/XS, S-Ready-For-Final-Review, A-Critters

#23694 Washing machines don't trap you forever after being thrown in
  code/WorkInProgress/laundry.dm
Labels: C-Bug, size/M, A-Game-Objects

#23554 Adds Vanilla Extract and Flan
  code/modules/cooking/cookingrecipes.dm
  code/modules/cooking/food_and_drink/ingredients.dm
  code/modules/cooking/food_and_drink/snacks.dm
  code/modules/cooking/kitchen_submachines.dm
  code/modules/cooking/mixer.dm
  code/modules/economy/supply_packs.dm
  code/modules/vending/vending.dm
  icons/obj/foodNdrink/food_dessert.dmi
  icons/obj/foodNdrink/food_ingredient.dmi
Labels: C-Feature, C-Sprites, size/M, A-Catering

#23521 rebalance genetics cold/fire/thermal res
  code/modules/medical/genetics/bioEffects/beneficial.dm
Labels: C-Balance, E-Input-Wanted, S-Stale, size/M, A-Medical

#23588 Adjust tick lag logic
  code/datums/gameticker.dm
Labels: C-Performance, size/M, A-Internal, S-Testmerged

#23021 Misc changes for Werewolf Hunters and Werewolves
  code/datums/jobs.dm
  code/modules/medical/genetics/bioEffects/beneficial.dm
  code/modules/status_system/statusEffects.dm
  code/obj/item/grenades.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/plants.dm
  code/obj/item/storage/ammo_pouches.dm
  icons/mob/inhand/hand_weapons.dmi
  icons/obj/items/grenade.dmi
  icons/obj/items/weapons.dmi
  icons/ui/statussystem.dmi
Labels: C-Sprites, C-Balance, size/L, A-Gamemodes

#22995 Fining access
  _std/defines/access.dm
  _std/defines/security.dm
  code/datums/datacore.dm
  code/obj/item/device/pda2/smallprogs.dm
  code/obj/machinery/computer/card.dm
  code/procs/access.dm
Labels: C-Balance, size/M, A-Player-Actions, A-Station-Systems, S-Ready-For-Final-Review

#23200 Remove several unused accesses
  _std/defines/access.dm
  code/modules/mapping/helpers/access_spawn.dm
  code/procs/access.dm
Labels: C-Removal, size/M, A-Internal, S-Ready-For-Final-Review

#23419 Dedicated proc for changing body temperature
  code/WorkInProgress/HaineWhatever.dm
  code/datums/abilities/critter/space_phoenix.dm
  code/datums/components/itemblock/warmsup.dm
  code/mob.dm
  code/mob/living/critter/space_phoenix.dm
  code/modules/antagonists/wizard/abilities/iceburst.dm
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
  code/modules/chemistry/Chemistry-Holder.dm
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-Drugs.dm
  code/modules/chemistry/Reagents-FoodDrink.dm
  code/modules/chemistry/Reagents-Medical.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/cooking/food_and_drink/ice_cream.dm
  code/modules/cooking/food_and_drink/plants.dm
  code/modules/holiday/spacemas.dm
  code/modules/items/specials/ItemSpecials.dm
  code/modules/materials/Mat_MaterialProcs.dm
  code/modules/medical/diseases/high_fever.dm
  code/modules/medical/diseases/infection.dm
  code/modules/medical/diseases/organ_diseases/appendicitis.dm
  code/modules/networks/computer3/mainframe2/telesci.dm
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/special.dm
  code/modules/status_system/statusFoodBuffs.dm
  code/obj/item/cigarette.dm
  code/obj/machinery/hydroponic_machines.dm
Labels: C-Bug, size/L, A-Medical, A-Chemistry, S-Ready-For-Final-Review

#23763 Replace pug woof cooldown with stamina cost
  _std/defines/stamina.dm
  code/mob/living/carbon/human/procs/emote.dm
Labels: size/S, A-Player-Actions, S-Ready-For-Final-Review

#23448 `has_speaker` Variable For Radios
  browserassets/src/tgui/tgui.bundle.js
  code/obj/item/device/radios/_radio.dm
  tgui/packages/tgui/interfaces/Radio/index.tsx
  tgui/packages/tgui/interfaces/Radio/type.ts
Labels: C-Feature, S-Merge-Conflict, A-UI, size/M, A-Internal

#23681 Prevent underwear from poking through swimsuits/dresses
  code/mob/living/carbon/human/procs/update_icon.dm
  code/obj/item/clothing/chameleon_js.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/uniforms.dm
  icons/misc/abilities.dmi
Labels: C-Feature, C-Sprites, size/S, A-Clothing

#23790 Fix unrupturable cog2 engine pipes
  maps/cogmap2.dmm
Labels: A-Mapping, size/M

#23234 Defibrillators use power to prime paddles
  code/datums/gamemodes/pod_wars/pw_misc_objects.dm
  code/modules/atmospherics/machinery/unary/cryo_cell.dm
  code/modules/medical/defibrillator.dm
  code/modules/medical/surgery_tools.dm
  code/modules/robotics/robot/module_tool_creator/modules.dm
  code/obj/item/storage/backpack_belt_etc.dm
  code/obj/machinery/recharger.dm
  goonstation.dme
  icons/obj/compact_machines.dmi
  icons/obj/surgery.dmi
  maps/atlas.dmm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/density2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/events/wrestlemap.dmm
  maps/kondaru.dmm
  maps/mushroom.dmm
  maps/nadir.dmm
  maps/neon.dmm
  maps/oshan.dmm
Labels: C-Bug, A-Mapping, C-Sprites, C-Balance, E-Input-Wanted, S-Merge-Conflict, C-Rework, size/XXL, A-Medical

#23384 Resprites the old Coonskin Cap!
  icons/mob/clothing/head.dmi
  icons/obj/clothing/item_hats.dmi
Labels: C-Sprites, S-Merge-Conflict, S-Stale, size/XS, A-Game-Objects

#23798 Fix Nadir elevator moving almanac
  maps/nadir.dmm
Labels: C-Bug, size/S

#23807 Fix local JS errors on 515 builds
  browserassets/src/js/chui/chui.js
  browserassets/src/js/processScheduler.js
  browserassets/src/js/telescope.js
  browserassets/src/js/tooltip.js
Labels: C-Bug, size/M, A-Internal

#23819 Fixes #19925 - AI Shell Intercoms Now Hear Their Surroundings
  code/mob/living/silicon/hivebot.dm
Labels: C-Bug, size/XS

#23840 Fix `usr` being used as proc arg in grenades
  code/obj/item/grenades.dm
Labels: size/XS

#23842 remove bad `src` arg from proc
  code/obj/item/device/scanners.dm
Labels: size/XS, E-Bug Hall of Fame

#23844 Fix stale workflow error
  .github/workflows/stale.yml
Labels: C-Bug, A-Tooling, size/XS

#23843 Fix `args` being used as proc arg in ircbot
  code/datums/ircbot.dm
Labels: size/M

#23828 Destroying a compact sleeper/port-a-medbay properly removes its internal console
  code/obj/machinery/sleeper.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22816 Add Syndicate mining encounter
  assets/maps/mining_magnet/syndicate.dmm
  code/mob/living/critter/gunbot/gunbot.dm
  code/modules/mining/mining_encounters.dm
  code/modules/writing/papers.dm
  code/obj/item/storage/secure_safe.dm
Labels: C-Feature, A-Mapping, size/XL, A-Station-Systems

#23067 Add uranium ore and associated recipes
  code/modules/materials/Mat_Materials.dm
  code/modules/materials/Mat_RawMaterials.dm
  code/modules/materials/Mat_Recipes.dm
  code/modules/mining/tile_events.dm
  code/obj/item/material.dm
  code/obj/nuclearreactor/reactorcomponents.dm
  icons/obj/items/materials/materials.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#23152 Slightly buff glass pipeshot + boneshot
  code/modules/projectiles/bullet.dm
  code/modules/projectiles/special.dm
Labels: C-Balance, E-Add-To-Wiki, size/S, S-Ready-For-Final-Review

#23820 Closes #23430 - Spy Stickers No Longer Possess Speakers
  code/obj/item/stickers.dm
Labels: C-QoL, size/XS

#23861 Fix for syndicate mining encounter
  assets/maps/mining_magnet/syndicate.dmm
  code/modules/mining/mining_encounters.dm
  code/turf/turf_autoalign.dm
Labels: C-Bug, A-Mapping, size/L, A-Internal

#23873 Added check for Neon when generating cyborg engineer tools
  code/modules/robotics/robot/module_tool_creator/modules.dm
Labels: C-Bug, P-Minor, size/XS, A-Silicons, S-Ready-For-Final-Review

#23479 New Trait: Butterfingers
  code/datums/traits.dm
  icons/ui/traits.dmi
Labels: C-Feature, C-Sprites, size/S, A-Traits

#23548 Mimic stomach azone, chute trap and eat limb abilities
  code/datums/abilities/critter/drop_disguise.dm
  code/datums/abilities/critter/eat_limb.dm
  code/datums/abilities/critter/stomach_retreat.dm
  code/datums/components/mimic_stomach.dm
  code/datums/components/stomach_barf.dm
  code/mob/living/critter/mimic.dm
  code/modules/disposals/disposal_chute.dm
  code/obj/item/mob_parts.dm
  code/obj/item/mob_parts/human_parts.dm
  goonstation.dme
  icons/mob/critter_ui.dmi
Labels: C-Feature, C-Sprites, size/L, A-Critters

#23803 Fix chemfire survival on simulated turfs
  code/modules/atmospherics/FEA_fire.dm
Labels: C-Bug, size/XS, A-Status-Effects

#23472 Carrier P1g30N
  code/WorkInProgress/zamu_mail.dm
  code/datums/abilities/critter/scuttlebot.dm
  code/datums/limb.dm
  code/mob/living/critter.dm
  code/mob/living/critter/scuttlebot.dm
  code/obj/item/clothing/gimmick.dm
  code/obj/item/clothing/glasses.dm
  code/obj/item/satchel.dm
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/mob/critter/robotic/scuttlebot.dmi
  icons/mob/critter_ui.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
  icons/obj/items/items.dmi
Labels: C-Feature, C-Sprites, S-Merge-Conflict, size/L, A-Game-Objects

#23875 Remove MAP_OVERRIDE_MANTA and related defines
  _std/mapDefines.dm
  code/WorkInProgress/mantaObjects.dm
  code/area.dm
  code/datums/controllers/job_controls.dm
  code/datums/datacore.dm
  code/datums/gamemodes/revolution.dm
  code/datums/jobs.dm
  code/datums/objective.dm
  code/datums/titlecard.dm
  code/lists/jobs.dm
  code/modules/antagonists/antagonist_helpers.dm
  code/modules/events/minor/pests.dm
  code/modules/events/minor/trader.dm
  code/modules/fluids/fluid_commands.dm
  code/modules/worldgen/GenerateMining.dm
  code/modules/worldgen/prefab/mapPrefab.dm
  code/obj/item/tank.dm
  code/obj/machinery/nuclearbomb.dm
  code/obj/machinery/shipalert.dm
  code/obj/storage/closets.dm
  code/world/initialization/3_init.dm
  code/world/world.dm
  maps/config/map.dm
Labels: A-Mapping, C-Removal, size/L, A-Internal

#23874 Fixes duplicate stressball message
  code/modules/items/gimmick/plushies.dm
Labels: C-Bug, size/XS, A-Game-Objects, S-Ready-For-Final-Review

#23224 Rework silicon lockdown, killswitch, low power, and no power cell into status effects
  _std/__std.dme
  _std/defines/robot.dm
  _std/defines/silicon.dm
  code/datums/hud/robot.dm
  code/datums/hud/silicon.dm
  code/datums/movement_modifier/movement_modifiers.dm
  code/mob/living/life/Life.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
  code/modules/power/apc.dm
  code/modules/robotics/robot/robot_docking_station.dm
  code/modules/robotics/robot/upgrade/parent.dm
  code/modules/robotics/robot/upgrade/recharge_pack.dm
  code/modules/status_system/statusEffects.dm
  code/obj.dm
  code/obj/item/device/radios/intercoms.dm
  code/obj/machinery/computer/robotics.dm
  code/obj/machinery/door/airlock.dm
  code/obj/machinery/turret.dm
  code/procs/helpers.dm
  icons/mob/robots_decor.dmi
  icons/ui/statussystem.dmi
Labels: C-Sprites, C-Balance, C-Rework, size/XL, A-Silicons

#23922 Silicon pronouns on examine
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
Labels: C-Feature, C-QoL, size/XS, A-Silicons

#23927 Fix Poor syndicate operative having ammo
  code/datums/jobs.dm
Labels: C-Bug, size/XS, A-Respawning

#23914 Fix Photocopied ID data having no icon
  code/obj/machinery/photocopier.dm
Labels: C-Bug, size/XS, A-Game-Objects

#23904 Fixes #23532 - No More Duplicate Mentormouse Pings
  code/modules/speech/say_message.dm
Labels: C-Bug, size/XS

#23954 Fix Chem Dispenser division by zero
  code/modules/chemistry/Chemistry-Tools.dm
Labels: C-Runtime, size/XS, A-Game-Objects

#23938 Adjust carrier pigeon suit pixel y by head_offset, layer over hair
  code/obj/item/clothing/gimmick.dm
Labels: C-Bug, size/XS, A-Mutantraces

#23955 Consistent Border Width For Announcements
  browserassets/src/css/browserOutput.css
Labels: C-QoL, size/XS

#23744 Adds Tea Party Dress to the Clothing Booth
  code/modules/clothingbooth/groupings/jumpsuits.dm
  code/modules/clothingbooth/items/jumpsuits.dm
  code/obj/item/clothing/uniforms.dm
  icons/mob/clothing/jumpsuits/worn_js_misc.dmi
  icons/mob/inhand/jumpsuit/hand_js_misc.dmi
  icons/mob/monkey/jumpsuits.dmi
  icons/obj/clothing/uniforms/item_js_misc.dmi
Labels: C-Feature, C-Sprites, size/L, A-Game-Objects

#23106 Adds Power Eggs to Loot Safes
  code/modules/cooking/food_and_drink/eggs.dm
  code/modules/ranch/chicken_ai.dm
  code/modules/ranch/ranch_objs.dm
  code/obj/item/storage/secure_safe.dm
Labels: C-Feature, size/M, A-Game-Objects

#23282 Adds Ranch aids to loot crates.
  code/modules/chemistry/Chemistry-Recipes.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/ranch/ranch_critter_base.dm
  code/modules/ranch/ranch_objs.dm
  code/obj/item/hydroponics.dm
  code/obj/storage/loot_crates.dm
Labels: C-Feature, size/M, A-Hydroponics

#23919 Adds ghost sprites for most mutantraces
  code/datums/mutantraces.dm
  icons/mob/mob.dmi
Labels: C-Sprites, size/S, A-Mutantraces

#23912 Harbinger summons are protected until they make their choice
  code/modules/antagonists/wraith/critters/nascent.dm
Labels: C-Balance, C-QoL, size/XS, A-Critters

#23961 Resprites The Guard's Coat
  code/obj/item/clothing/gimmick.dm
  icons/mob/clothing/overcoats/worn_suit_gimmick.dmi
  icons/obj/clothing/overcoats/item_suit_gimmick.dmi
Labels: C-Sprites, size/XS, A-Clothing

#23973 Say Rework Fixbatch IX
  _std/defines/speech_defines/relays.dm
  code/modules/antagonists/changeling/abilities/_changeling_ability_holder.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/vampire/abilities/_vampire_ability_holder.dm
  code/modules/antagonists/vampire/vampire.dm
  code/modules/speech/modules/speech/outputs/equipped.dm
Labels: C-Bug, size/M

#23930 Say Rework Fixbatch VIII
  _std/defines/speech_defines/modules.dm
  code/mob/dead/hivemind_observer.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/speech/modules/listen/effects/audio_log.dm
  code/modules/speech/modules/listen/effects/skullbot.dm
  code/modules/speech/modules/speech/outputs/hivechat.dm
  code/modules/speech/modules/speech/outputs/spoken/hivemind.dm
  code/modules/speech/say_channels/hivemind.dm
  code/modules/speech/say_channels/kudzuchat.dm
  code/modules/speech/say_channels/thrallchat.dm
  code/obj/item/device/audio_log.dm
  code/obj/item/device/radios/intercoms.dm
  goonstation.dme
Labels: C-Bug, size/M, A-Player-Actions

#23213 Add fluid line depth overlays to fluids
  code/modules/fluids/fluid_core.dm
  code/modules/fluids/fluid_groups.dm
  icons/obj/fluid.dmi
Labels: C-Feature, C-Sprites, size/S, A-Game-Objects

#23495 Add Automatic Arrest Flagging for Drunk Drivers in Cars
  code/modules/transport/pods/vehicle.dm
Labels: C-Feature, size/XS, S-Ready-For-Final-Review, A-Vehicles

#23913 Fix reagent dispensers being unscannable by spectro eyes/goggles
  code/modules/chemistry/tools/dispensers.dm
Labels: C-QoL, size/XS, A-Chemistry

#23600 Floor and wall designer update
  code/WorkInProgress/construction/tools.dm
  icons/turf/construction_floors.dmi
Labels: C-Feature, C-Sprites, size/S, A-Game-Objects

#23923 New vampire ability: Spirit Bats
  browserassets/src/tgui/tgui.bundle.css
  browserassets/src/tgui/tgui.bundle.js
  code/modules/antagonists/vampire/abilities/_vampire_ability_holder.dm
  code/modules/antagonists/vampire/abilities/call_bats.dm
  code/modules/antagonists/vampire/abilities/glare.dm
  code/modules/projectiles/special.dm
  tgui/packages/tgui/interfaces/AlertContentWindows/acw/vampire.AlertContentWindow.tsx
Labels: C-Feature, C-Balance, C-Rework, A-UI, E-Add-To-Wiki, size/L, A-Gamemodes

#23910 Eat limb causes you to latch onto your victim
  code/datums/abilities/critter/eat_limb.dm
Labels: C-Balance, size/M, A-Critters
