Repository goonstation/goonstation, pull requests merged in 2025-01, with the labels that each got.

#21888 Doubles HE Torpedo Cost (5000 -> 10000)
  code/modules/economy/commodity.dm
Labels: C-Balance, size/XS

#21893 Fix set mutantrace not being scannable in gene console
  code/datums/mutantraces.dm
  code/modules/medical/genetics/bioHolder.dm
Labels: C-Bug, size/XS, A-Mutantraces

#21892 AI core will now slam to the pool floor when using a springboard
  code/obj/pool.dm
Labels: C-Feature, size/XS, A-Player-Actions, A-Silicons

#21270 Cash Briefcases
  code/datums/syndicate_buylist.dm
  code/obj/item/misc_junk.dm
  code/obj/storage/secure_closets.dm
  icons/obj/items/storage.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/L, A-Game-Objects

#21880 Device analyzer shows scanned items
  code/obj/item/tool/electronics.dm
Labels: C-Balance, size/XS, A-Game-Objects

#21905 Remove slur and sexual content from letter_words_5.txt
  strings/letter_words_5.txt
Labels: C-Bug, P-Trivial, size/XS

#21864 Require hauntium for printing wrestling belts
  code/datums/syndicate_buylist.dm
  code/obj/item/storage/backpack_belt_etc.dm
Labels: C-Balance, size/XS, A-Game-Objects

#21906 Fix fire overlay bugs
  code/modules/atmospherics/FEA_fire.dm
  code/modules/atmospherics/FEA_turf_tile.dm
Labels: C-Bug, size/S, A-Game-Objects

#21908 Fix setting colorblind mode ignoring colorblind gene
  code/client.dm
Labels: C-Bug, size/XS, A-Player-Actions

#21896 Add pod lateral thrusters component
  code/datums/gamemodes/pod_wars/pw_manufacturing_.dm
  code/datums/manufacturing.dm
  code/modules/interface/multiContext/context_actions.dm
  code/modules/transport/pods/secondary_system.dm
  code/obj/machinery/manufacturer_subtypes.dm
  icons/mob/hud_pod.dmi
  icons/ui/context16x16.dmi
Labels: C-Feature, C-Sprites, size/L, A-Vehicles

#21915 Fixes Cleanable Gang Tags Having Incorrect Icons
  code/obj/decal/cleanable.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21914 Capitalize + shorten cash briefcase in syndicate_buylist.dm
  code/datums/syndicate_buylist.dm
Labels: C-Bug, P-Trivial, size/XS

#21918 Adds paper crane as a folding option
  code/modules/writing/paper.dm
  icons/obj/writing.dmi
Labels: C-Sprites, size/S

#21937 Remove airless tiles inside the donut2 mining magnet control room
  maps/donut2.dmm
Labels: C-Bug, A-Mapping, size/S

#21926 Fix artifact curser breaking for multiple people
  code/obj/artifacts/artifact_objects/curser.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21928 Fix artifact curser maze key room catwalks missing
  assets/maps/allocated/artifact_labyrinth_keyroom.dmm
Labels: C-Bug, A-Mapping, size/XS, A-Game-Objects

#21793 Gang crate pull slowdown
  code/mob/living.dm
  code/obj/storage/gang_crate.dm
Labels: C-Balance, size/XS, A-Gamemodes, S-Testmerged

#21632 Add round-end buttons to re-open inspector's report and show/hide gang victory ui
  code/datums/abilities/generic.dm
  code/datums/gamemodes/gangwar.dm
  code/datums/gameticker.dm
  code/datums/hud/gang_victory.dm
  code/mob.dm
  icons/mob/ghost_observer_abilities.dmi
Labels: C-Feature, C-Sprites, A-UI, size/M, A-Gamemodes

#21856 Cleans up brig access
  code/obj/machinery/door/door_timer.dm
  code/procs/access.dm
  maps/cogmap.dmm
  maps/cogmap2.dmm
  maps/density2.dmm
  maps/donut2.dmm
  maps/donut3.dmm
  maps/kondaru.dmm
  maps/nadir.dmm
  maps/oshan.dmm
Labels: A-Mapping, C-QoL, E-Add-To-Wiki, size/M

#21729 Cyborgs use mob layering for clothing and body parts
  code/mob/living/silicon/robot.dm
  icons/mob/robots.dmi
Labels: C-Bug, C-Sprites, C-Rework, size/M

#21701 Fix gang crates disappearing `vis_contents` objects on destruction
  code/obj/storage/large_storage_parent.dm
Labels: C-Bug, size/S, A-Game-Objects

#21749 Fix firelocks not being pryable when placed on windoors
  code/obj/machinery/door/firedoor.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21950 Prevent infinite bible recursion
  code/modules/storage/items/bible.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21754 Small blood lifeprocess optimization
  code/mob/living/life/blood.dm
Labels: C-Performance, S-Stale, size/L, A-Internal

#21944 Artifact curser displaced soul can move through doors
  code/obj/artifacts/artifact_objects/curser.dm
Labels: C-Feature, size/XS, A-Science

#21946 Round final payout calc to an even number for requisitions and artifacts
  code/modules/economy/requisition/requisition_contracts.dm
  code/modules/economy/shippingmarket.dm
Labels: C-QoL, size/XS

#21951 Basketball modernization
  code/WorkInProgress/Hydrothings.dm
  code/obj/item/basketball.dm
  code/procs/basketball.dm
  icons/mob/spell_buttons.dmi
  strings/admin_changelog.txt
Labels: C-Sprites, C-Code-Quality, C-QoL, size/L

#21927 Fix dimensional key artifact fissure room being filled with acid on Nadir
  code/obj/artifacts/artifact_items/dimensional_key.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21868 Gang lockers hide under floorboards
  code/datums/controllers/process/gang.dm
  code/datums/gamemodes/gangwar.dm
  code/modules/antagonists/gang/abilities/_gang_leader_ability_holder.dm
Labels: C-Balance, C-Experimental, size/M, A-Gamemodes

#21930 Special attacks no longer trigger surgery
  code/modules/barber/barber_shop.dm
  code/modules/medical/surgery_tools.dm
  code/obj/item/cigarette.dm
  code/obj/item/device/igniter.dm
  code/obj/item/device/lights.dm
  code/obj/item/hydroponics.dm
  code/obj/item/kitchen.dm
  code/obj/item/material.dm
  code/obj/item/misc_weapons.dm
  code/obj/item/tool/crowbar.dm
  code/obj/item/tool/electronics.dm
  code/obj/item/tool/omnitool.dm
  code/obj/item/tool/weldingtool.dm
  code/obj/item/tool/wirecutters.dm
  code/obj/item/tool/wrench.dm
Labels: C-Bug, size/M

#21846 Fix martian and blob tourists dropping all their equipment on spawn
  code/datums/jobs.dm
Labels: C-Bug, size/M, A-Respawning

#21804 WYSIWYG: Combat Targeting
  code/mob/input.dm
  code/procs/gamehelpers.dm
Labels: C-Balance, C-Experimental, size/XS, A-Player-Actions

#21963 stop gang tip-offs for cryo
  code/datums/gamemodes/gangwar.dm
Labels: C-Bug, size/XS, A-Gamemodes

#21471 Refactors HoS Medal to be a badge and lets you show it off
  code/datums/actions/actions.dm
  code/datums/gamemodes/spy_theft.dm
  code/datums/objective.dm
  code/obj/decal/poster.dm
  code/obj/item/clothing/suits.dm
Labels: C-QoL, S-Stale, size/M, A-Game-Objects

#21966 fix loops and opacity for gang lockers
  code/datums/controllers/process/gang.dm
  code/datums/gamemodes/gangwar.dm
Labels: C-Bug, size/S

#21969 Cash briefcase fixes
  code/obj/item/misc_junk.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21939 Adds a headband accessory to the clothing booth ✨
  code/modules/clothingbooth/groupings/head.dm
  code/modules/clothingbooth/items/head.dm
  code/obj/item/clothing/hats.dm
  icons/mob/clothing/ears.dmi
  icons/obj/clothing/item_ears.dmi
Labels: C-Sprites, size/L, A-Clothing

#21971 Add explicit version of .net to OD lint
  .github/workflows/beepsky.yml
Labels: A-Tooling, size/XS

#21983 Fix chopping weapons not leaving glass shards
  code/obj/window.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21981 Layer cyborg head decorations as mob hair
  code/mob/living/silicon/robot.dm
Labels: C-Bug, size/XS, A-Silicons

#21957 Output GPS coords in signal list format
  code/obj/item/device/gps.dm
Labels: C-Feature, E-Add-To-Wiki, size/XS, A-Station-Systems

#21733 Feature: Monitor Cybereye
  code/datums/manufacturing.dm
  code/mob/living/life/blindness.dm
  code/modules/camera/monitor.dm
  code/modules/economy/commodity.dm
  code/modules/economy/trader.dm
  code/obj/item/organ_holder.dm
  code/obj/item/organs/eye.dm
  code/obj/item/organs/organ_parent.dm
  code/obj/machinery/manufacturer_subtypes.dm
  icons/mob/organ_abilities.dmi
  icons/obj/items/organs/eye.dmi
Labels: C-Feature, C-Sprites, E-Add-To-Wiki, size/L, A-Medical

#21900 Resprite Double Braids
  icons/mob/human_hair.dmi
Labels: C-Sprites, size/XS

#21980 Move cleanbles to floor plane when covered by a wall or false wall
  code/obj/false_wall.dm
  code/turf/walls.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21903 Wraith whispers show maptext to targeted person
  code/WorkInProgress/salvager/salvager_magpie.dm
  code/mob/living.dm
  code/modules/antagonists/wraith/abilties/trickster/mass_whisper.dm
  code/modules/antagonists/wraith/abilties/whisper.dm
  code/modules/robotics/bot/bot_parent.dm
  code/procs/mobprocs/chatprocs.dm
Labels: C-Feature, size/M, A-Gamemodes, A-Player-Actions

#21792 Change pod wars deaths to only subtract half a point
  code/datums/gamemodes/pod_wars.dm
Labels: C-Balance, C-Rework, S-Stale, size/XS, A-Gamemodes

#21799 Add adjustable range to wifi component
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Feature, S-Stale, size/M, A-Game-Objects, S-Ready-For-Final-Review

#21828 Fix up tour bots
  code/modules/robotics/bot/guardbot.dm
  code/obj/machinery/navbeacon.dm
  code/z_adventurezones/luna.dm
  maps/clarion.dmm
  maps/cogmap.dmm
  maps/z2.dmm
Labels: C-Bug, A-Mapping, size/L, A-Game-Objects

#21982 Separate GeneTek reclaim between stored and occupant genes
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/medical/genetics/geneticsMachines.dm
  tgui/packages/tgui/interfaces/GeneTek/BioEffect.tsx
Labels: C-Bug, A-UI, size/M, A-Medical

#21838 Add research/engine access helpers to Nadir's siphon rockbox
  maps/nadir.dmm
Labels: C-Bug, A-Mapping, size/XS

#21746 Adds min and max to arithemetic component
  code/modules/mechanics/MechanicMadness.dm
  strings/books/mechanicbook.txt
Labels: C-Feature, E-Add-To-Wiki, size/M, A-Game-Objects

#21714 Rework AI camera networks
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/ai/camera_handling.dm
  code/mob/living/silicon/ai/mobile.dm
  code/mob/living/silicon/hivebot.dm
Labels: C-Rework, size/M, A-Silicons

#21548 Adds a buffering mechcomp component
  code/global.dm
  code/modules/mechanics/MechanicMadness.dm
  code/modules/mechanics/MechanicProcess.dm
  code/modules/vending/vending.dm
  goonstation.dme
  icons/misc/mechanicsExpansion.dmi
  strings/books/mechanicbook.txt
Labels: C-Feature, C-Sprites, size/L, A-Station-Systems, S-Ready-For-Final-Review

#21724 General & Silicon Alert Minimap
  _std/defines/minimap.dm
  _std/machinery.dm
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/area.dm
  code/client.dm
  code/mob/living/intangible/ai-camera.dm
  code/mob/living/silicon.dm
  code/mob/living/silicon/ai.dm
  code/mob/living/silicon/robot.dm
  code/modules/minimap/markers/minimap_marker.dm
  code/modules/minimap/minimap_objects/minimap_ui.dm
  code/modules/minimap/minimaps/__minimap_parent.dm
  code/obj/machinery/alarm.dm
  code/obj/machinery/computer.dm
  code/obj/machinery/computer/atmosphere.dm
  code/obj/machinery/computer/buildandrepair.dm
  code/obj/machinery/computer/general_air_control.dm
  code/obj/machinery/computer/general_alert.dm
  code/obj/machinery/firealarm.dm
  code/obj/random_spawners.dm
  goonstation.dme
  icons/obj/minimap/minimap_markers.dmi
  tgui/packages/tgui/interfaces/GeneralAlert.tsx
  tgui/packages/tgui/interfaces/MinimapController.tsx
Labels: C-Feature, C-Sprites, S-Merge-Conflict, C-Rework, A-UI, size/XL, A-Silicons, A-Station-Systems

#21986 Fix loading paper bins into poster creators
  code/obj/posters.dm
Labels: C-Bug, size/M, A-Game-Objects

#21974 specials now also WYSIWYG
  code/modules/antagonists/gang/item_specials.dm
  code/modules/items/specials/ItemSpecials.dm
Labels: C-Feature, C-Balance, size/M, A-Game-Objects

#21833 Removes the security alert HUD button
  code/obj/item/device/pda2/modules.dm
Labels: C-Balance, E-Input-Wanted, C-Removal, size/S

#21972 Add gang guns to murderbox
  code/datums/components/nonwall_pierce.dm
  code/modules/vending/vending.dm
  icons/obj/vending.dmi
  maps/z2.dmm
Labels: C-Feature, A-Mapping, C-Sprites, size/M, A-Game-Objects

#21861 Fix various underdoor/underwindow and carpet turfs on clarion
  maps/clarion.dmm
Labels: A-Mapping, C-QoL, size/XXL

#21829 add smes units to cogmap2 ai/mining solar panel arrays
  maps/cogmap2.dmm
Labels: A-Mapping, size/M, A-Station-Systems

#22005 Gang gun minor balance pass
  code/modules/projectiles/laser.dm
  code/obj/item/gun/ammo.dm
  code/obj/item/gun/energy.dm
  code/obj/item/gun/kinetic.dm
Labels: C-Balance, size/S, A-Game-Objects

#22015 Fix Nukeop wrench repair
  code/obj/machinery/nuclearbomb.dm
Labels: C-Bug, size/S, A-Game-Objects

#21996 Fix nukies being able to deploy to non station areas
  code/datums/teleport.dm
  code/obj/item/nuclear_operative/rapid_deployment_remote.dm
Labels: C-Bug, size/XS

#22020 vent scrubbers now indicate scrub status as 0 or 1 for each gas
  code/modules/atmospherics/machinery/unary/vent_scrubber.dm
Labels: C-QoL, size/XS, A-Station-Systems

#22023 Buffer component doesn't break when increasing the buffer size
  code/modules/mechanics/MechanicMadness.dm
Labels: C-Bug, size/XS, A-Station-Systems

#22032 Fix PDA device scanners saving wrong name for scans
  code/obj/item/device/pda2/scanners.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22041 Fix VR GANG.VEND having the wrong D-Saber
  code/modules/vending/vending.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22037 Allow for specifying only specific unit tests
  _std/__build.dm
  code/modules/unit_tests/unit_test.dm
Labels: A-Tooling, size/XS

#22028 Fix reinforced glass sheets being reinforced with glass
  code/datums/manufacturing.dm
Labels: C-Bug, size/XS, A-Materials

#22043 Empty unit test for OD compile bot
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/od_compile_bot.dm
Labels: size/XS

#22050 Fix help message for port-a-genes
  code/modules/medical/genetics/portagene.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21904 Add pod shielding components
  code/datums/gamemodes/pod_wars/pw_manufacturing_.dm
  code/datums/manufacturing.dm
  code/modules/transport/pods/secondary_system.dm
  code/modules/transport/pods/vehicle.dm
  code/obj/machinery/manufacturer_subtypes.dm
  icons/mob/hud_pod.dmi
Labels: C-Feature, C-Sprites, size/L, A-Vehicles

#22053 Stop decon tools from beating up manufacturers
  code/obj/machinery/manufacturer.dm
Labels: C-Bug, size/XS, A-Game-Objects

#22039 Adds job specific mail for the rancher
  code/WorkInProgress/zamu_mail.dm
Labels: size/S

#20620 speedy atmos
  _std/defines/turf.dm
  code/atom.dm
  code/datums/abilities/critter/self_immolate.dm
  code/datums/controllers/process/fluid_spawner.dm
  code/datums/controllers/process/forcedMovement.dm
  code/mob.dm
  code/mob/input.dm
  code/mob/living.dm
  code/mob/living/carbon/human.dm
  code/mob/living/carbon/human/procs/emote.dm
  code/mob/living/critter/arena/fire_elemental.dm
  code/mob/living/critter/flock/flockdrone.dm
  code/modules/admin/buildmodes/spawn_wide.dm
  code/modules/admin/diagnostics.dm
  code/modules/antagonists/wizard/abilities/phaseshift.dm
  code/modules/atmospherics/FEA_airgroup.dm
  code/modules/atmospherics/FEA_atom_movable.dm
  code/modules/atmospherics/FEA_fire.dm
  code/modules/atmospherics/FEA_gas_mixture.dm
  code/modules/atmospherics/FEA_group_helpers.dm
  code/modules/atmospherics/FEA_system.dm
  code/modules/atmospherics/FEA_turf_tile.dm
  code/modules/chemistry/Reagents-Misc.dm
  code/modules/events/white_hole.dm
  code/modules/fluids/fluid_turf.dm
  code/modules/medical/genetics/bioEffects/powers.dm
  code/modules/robotics/bot/firebot.dm
  code/modules/sound/sound.dm
  code/obj/item/clothing/shoes.dm
  code/obj/item/grab.dm
  code/obj/machinery/door/airlock_pyro.dm
  code/obj/machinery/door/firedoor.dm
  code/obj/machinery/door/window.dm
  code/obj/machinery/singularity.dm
  code/obj/mining.dm
  code/obj/window.dm
  code/procs/fireflash.dm
  code/turf/floors.dm
  code/turf/turf.dm
  icons/effects/fire_atmospheric.dmi
Labels: C-Performance, size/XL, A-Atmospherics, S-Testmerged

#22055 516 caller reserved word compatability
  _std/pathfinding.dm
  code/modules/admin/banshark.dm
  code/modules/admin/gibverbs.dm
  code/modules/networks/computer3/base_program.dm
  code/modules/networks/computer3/mainframe2/_base_os.dm
  code/modules/networks/computer3/mainframe2/mainframe2.dm
  code/obj/item/device/pda2/base_os.dm
Labels: C-Code-Quality, size/L, A-Internal

#22031 Vent scrubbers don't scrub any gasses by default
  code/modules/atmospherics/machinery/unary/vent_scrubber.dm
Labels: size/XS, A-Station-Systems, S-Ready-For-Final-Review

#21962 Feature: Disposal Chutes have a broken state
  code/modules/disposals/disposal_chute.dm
  icons/obj/disposal.dmi
  icons/obj/disposal_small.dmi
Labels: C-Feature, C-Sprites, size/M, A-Game-Objects

#22024 Fix DWAINE scripts eventually breaking the whole mainframe
  code/modules/networks/computer3/mainframe2/shell.dm
Labels: C-Bug, size/XS, A-Station-Systems

#22021 Update TGS module
  _std/tgs.dm
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/byond_world_export.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: C-Feature, A-Tooling, size/L, C-Documentation

#22019 Gives NTSO engineers and medics appropriate headsets
  code/datums/jobs.dm
  code/obj/item/device/radios/headsets.dm
Labels: C-QoL, size/S

#21936 Tweak donut2 kitchen
  maps/donut2.dmm
Labels: A-Mapping, C-QoL, size/S

#21582 Nuke internal record that plays upon arming.
  code/obj/machinery/nuclearbomb.dm
Labels: C-Feature, size/M, A-Game-Objects

#21956 Refactor control unit execution process
  code/modules/mechanics/MechanicMC14500.dm
Labels: size/M, A-Station-Systems

#21953 Raise set_broken proc to /obj/machinery
  code/modules/medical/genetics/portagene.dm
  code/modules/networks/computer3/computer3.dm
  code/modules/networks/computer3/mainframe2/mainframe2.dm
  code/modules/power/apc.dm
  code/obj/airbridge.dm
  code/obj/machinery.dm
  code/obj/machinery/computer.dm
  icons/obj/airtunnel.dmi
Labels: C-Sprites, size/M, A-Game-Objects, A-Internal

#22058 Fix build due to `set_broken` dupe def
  code/modules/disposals/disposal_chute.dm
Labels: C-Bug, size/XS, A-Internal

#22047 TGUI telepad
  browserassets/tgui/tgui.bundle.js
  code/modules/networks/computer3/mainframe2/telesci.dm
  tgui/packages/tgui/interfaces/Telepad.tsx
Labels: C-QoL, A-UI, size/L

#22014 Crit gasps now subtly indicate flatlining
  code/mob/living/carbon/human/procs/emote.dm
Labels: C-QoL, size/XS, A-Medical

#22052 Adds a snippet to most UI windows to prevent some default browser shortcuts
  browserassets/tgui/tgui.html
  code/chui/window.dm
Labels: C-QoL, A-UI, size/S

#21681 TGUI Keybind Menu
  browserassets/tgui/tgui.bundle.js
  code/client.dm
  code/modules/interface/keybind_menu_chui.dm
  tgui/packages/tgui/interfaces/Keybinds/Footer.tsx
  tgui/packages/tgui/interfaces/Keybinds/Keybind.tsx
  tgui/packages/tgui/interfaces/Keybinds/KeybindList.tsx
  tgui/packages/tgui/interfaces/Keybinds/formatKeyboardEvent.ts
  tgui/packages/tgui/interfaces/Keybinds/index.tsx
  tgui/packages/tgui/interfaces/Keybinds/types.ts
Labels: C-Feature, C-QoL, E-Certified-Organic, A-UI, size/L

#22048 TGUI packet sniffer
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/networks/computer3/sniffer.dm
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/interfaces/PacketSniffer.tsx
Labels: C-QoL, S-Merge-Conflict, A-UI, size/L

#22080 Fixes bugs related to gunshots in sanctuary zones
  code/modules/projectiles/projectile_parent.dm
Labels: C-Bug, size/XS

#22083 Cloning Console only shows detailed health readout for people with health implants
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/implant.dm
  tgui/packages/tgui/interfaces/CloningConsole.tsx
Labels: C-Balance, A-UI, size/L, A-Medical

#22102 make a single use mob pinpointer for admin shenanigans
  code/obj/item/pinpointer.dm
Labels: size/S

#22091 Add soldering and wiring tool flags for equipment faults
  _std/defines/item.dm
  _std/macros/items.dm
  code/datums/components/equipment_fault.dm
  code/obj/item/cable_coil.dm
  code/obj/item/tool/electronics.dm
  icons/ui/context16x16.dmi
Labels: C-Feature, C-Sprites, size/M, A-Internal

#22096 Fix typo in weapon_security
  code/obj/item/storage/weapon_security.dm
Labels: C-Bug, P-Trivial, size/XS

#21753 Medbay Pocket Guide Second Edition
  code/obj/item/book.dm
  strings/books/medbay_pocket_guide.txt
Labels: C-Feature, S-Stale, E-Certified-Organic, size/L, A-Game-Objects

#22109 Report mobcritters in gauntlet remaining critters list
  code/datums/components/gauntlet_critter.dm
  code/datums/gauntlet/crittergauntlet.dm
  code/obj/critter/critter_parent.dm
  goonstation.dme
Labels: C-Bug, size/M

#22108 Fix repairbot AI type
  code/mob/living/critter/adventure.dm
Labels: C-Bug, size/XS, A-AI

#22110 Prevent gauntlet infighting
  _std/macros/factions.dm
  code/datums/gauntlet/crittergauntlet.dm
Labels: C-Bug, size/XS, A-AI

#22138 Fix cloned puritans not always dropping brain on gib
  code/datums/mutantraces.dm
  code/obj/machinery/clonepod.dm
Labels: C-Bug, size/XS, A-Medical, A-Mutantraces

#22035 Fix various mapping issues on Donut3
  maps/donut3.dmm
Labels: C-Bug, A-Mapping, size/XL

#22076 Remove organs from the medical manufacturer
  code/obj/machinery/manufacturer_subtypes.dm
Labels: C-Balance, E-Add-To-Wiki, size/S, A-Medical

#22132 Fix hallucinations messing with gravity distortions
  _std/plane.dm
Labels: C-Bug, size/XS

#22137 Fix bug preventing broken transport chutes from being fixable
  code/modules/disposals/disposal_chute.dm
Labels: C-Bug, size/S, A-Game-Objects

#22126 add gannets's pod wars title card
  browserassets/images/titlecards/podwars.png
  code/datums/titlecard.dm
Labels: size/XS

#22089 Clipboard QoL improvements
  code/modules/writing/pens_writing_etc.dm
Labels: C-QoL, size/M, A-Game-Objects

#22148 Kinetic and piercing projectiles only cause a lastgasp if they deal damage
  code/mob/living.dm
Labels: C-Balance, size/XS, A-Player-Actions

#22147 Objects with equipment faults show on examine and add repair steps to help text
  code/datums/components/equipment_fault.dm
Labels: C-QoL, size/M, A-Game-Objects

#22129 Belt Watch
  code/obj/item/device/pocketwatch.dm
Labels: C-QoL, size/XS, A-Game-Objects

#22152 Fix explosions destroying dimensional key artifact objects
  code/obj/artifacts/artifact_items/dimensional_key.dm
Labels: C-Bug, size/XS, A-Game-Objects

#21997 Switch to new game builds API for map switching
  code/mapSwitching.dm
  code/modules/goonhub/api/requests/gamebuilds/StartGameBuildBody.dm
  code/modules/goonhub/api/requests/maps/MapSwitchBody.dm
  code/modules/goonhub/api/routes/gamebuilds/StartBuild.dm
  code/modules/goonhub/api/routes/maps/MapSwitches.dm
  goonstation.dme
Labels: E-DNM, size/M, A-API

#22075 Microwaves can be broken by bullets and explosions
  code/obj/machinery/microwave.dm
Labels: C-Feature, size/M, A-Game-Objects

#21955 Feature: RecordTraks create bank accounts for unregistered users
  code/obj/item/device/scanners.dm
  code/obj/machinery/computer/bank_records.dm
Labels: C-Feature, S-Stale, size/S, A-Station-Systems

#22097 People with angry buddies trait only get arrested if they have at least 1 contraband
  code/modules/robotics/bot/secbot.dm
Labels: C-Balance, size/XS, A-Traits

#22077 Doing CPR causes minor losebreath on the performer
  code/datums/actions/actions.dm
Labels: C-Balance, size/XS, A-Medical
